openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Display & Video 360 API
  description: >-
    Display & Video 360 API allows users to automate complex Display & Video 360
    workflows, such as creating insertion orders and setting targeting options
    for individual line items.
  version: v1
  x-discovery-doc-revision: '20230615'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/display-video/
servers:
  - url: https://displayvideo.googleapis.com
components:
  schemas:
    DeviceMakeModelAssignedTargetingOptionDetails:
      id: DeviceMakeModelAssignedTargetingOptionDetails
      type: object
      properties:
        displayName:
          readOnly: true
          description: Output only. The display name of the device make and model.
          type: string
        negative:
          type: boolean
          description: Indicates if this option is being negatively targeted.
        targetingOptionId:
          type: string
          description: >-
            Required. The targeting_option_id field when targeting_type is
            `TARGETING_TYPE_DEVICE_MAKE_MODEL`.
      description: >-
        Assigned device make and model targeting option details. This will be
        populated in the device_make_model_details field when targeting_type is
        `TARGETING_TYPE_DEVICE_MAKE_MODEL`.
    TrackingFloodlightActivityConfig:
      type: object
      properties:
        postClickLookbackWindowDays:
          format: int32
          type: integer
          description: >-
            Required. The number of days after an ad has been clicked in which a
            conversion may be counted. Must be between 0 and 90 inclusive.
        floodlightActivityId:
          type: string
          format: int64
          description: Required. The ID of the Floodlight activity.
        postViewLookbackWindowDays:
          format: int32
          type: integer
          description: >-
            Required. The number of days after an ad has been viewed in which a
            conversion may be counted. Must be between 0 and 90 inclusive.
      id: TrackingFloodlightActivityConfig
      description: >-
        Settings that control the behavior of a single Floodlight activity
        config.
    ThirdPartyUrl:
      type: object
      description: >-
        Tracking URLs from third parties to track interactions with an audio or
        a video creative.
      properties:
        url:
          description: >-
            Tracking URL used to track the interaction. Provide a URL with
            optional path or query string, beginning with `https:`. For example,
            https://www.example.com/path
          type: string
        type:
          enum:
            - THIRD_PARTY_URL_TYPE_UNSPECIFIED
            - THIRD_PARTY_URL_TYPE_IMPRESSION
            - THIRD_PARTY_URL_TYPE_CLICK_TRACKING
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_START
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FIRST_QUARTILE
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MIDPOINT
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_THIRD_QUARTILE
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_COMPLETE
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MUTE
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PAUSE
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_REWIND
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FULLSCREEN
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_STOP
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_CUSTOM
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_SKIP
            - THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PROGRESS
          type: string
          enumDescriptions:
            - >-
              The type of third-party URL is unspecified or is unknown in this
              version.
            - >-
              Used to count impressions of the creative after the audio or video
              buffering is complete.
            - Used to track user clicks on the audio or video.
            - >-
              Used to track the number of times a user starts the audio or
              video.
            - >-
              Used to track the number of times the audio or video plays to 25%
              of its length.
            - >-
              Used to track the number of times the audio or video plays to 50%
              of its length.
            - >-
              Used to track the number of times the audio or video plays to 75%
              of its length.
            - >-
              Used to track the number of times the audio or video plays to the
              end.
            - Used to track the number of times a user mutes the audio or video.
            - >-
              Used to track the number of times a user pauses the audio or
              video.
            - >-
              Used to track the number of times a user replays the audio or
              video.
            - >-
              Used to track the number of times a user expands the player to
              full-screen size.
            - Used to track the number of times a user stops the audio or video.
            - >-
              Used to track the number of times a user performs a custom click,
              such as clicking on a video hot spot.
            - Used to track the number of times the audio or video was skipped.
            - >-
              Used to track the number of times the audio or video plays to an
              offset determined by the progress_offset.
          description: The type of interaction needs to be tracked by the tracking URL
      id: ThirdPartyUrl
    SearchTargetingOptionsRequest:
      description: Request message for SearchTargetingOptions.
      id: SearchTargetingOptionsRequest
      properties:
        businessChainSearchTerms:
          $ref: '#/components/schemas/BusinessChainSearchTerms'
          description: >-
            Search terms for Business Chain targeting options. Can only be used
            when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.
        pageToken:
          description: >-
            A token identifying a page of results the server should return.
            Typically, this is the value of next_page_token returned from the
            previous call to `SearchTargetingOptions` method. If not specified,
            the first page of results will be returned.
          type: string
        poiSearchTerms:
          description: >-
            Search terms for POI targeting options. Can only be used when
            targeting_type is `TARGETING_TYPE_POI`.
          $ref: '#/components/schemas/PoiSearchTerms'
        geoRegionSearchTerms:
          $ref: '#/components/schemas/GeoRegionSearchTerms'
          description: >-
            Search terms for geo region targeting options. Can only be used when
            targeting_type is `TARGETING_TYPE_GEO_REGION`.
        pageSize:
          format: int32
          description: >-
            Requested page size. Must be between `1` and `200`. If unspecified
            will default to `100`. Returns error code `INVALID_ARGUMENT` if an
            invalid value is specified.
          type: integer
        advertiserId:
          type: string
          format: int64
          description: >-
            Required. The Advertiser this request is being made in the context
            of.
      type: object
    IdFilter:
      type: object
      description: A filtering option that filters entities by their entity IDs.
      id: IdFilter
      properties:
        adGroupIds:
          description: >-
            YouTube Ad Groups to download by ID. All IDs must belong to the same
            Advertiser or Partner specified in CreateSdfDownloadTaskRequest.
          type: array
          items:
            format: int64
            type: string
        mediaProductIds:
          type: array
          description: >-
            Media Products to download by ID. All IDs must belong to the same
            Advertiser or Partner specified in CreateSdfDownloadTaskRequest.
          items:
            format: int64
            type: string
        lineItemIds:
          description: >-
            Line Items to download by ID. All IDs must belong to the same
            Advertiser or Partner specified in CreateSdfDownloadTaskRequest.
          items:
            type: string
            format: int64
          type: array
        insertionOrderIds:
          items:
            type: string
            format: int64
          description: >-
            Insertion Orders to download by ID. All IDs must belong to the same
            Advertiser or Partner specified in CreateSdfDownloadTaskRequest.
          type: array
        adGroupAdIds:
          description: >-
            YouTube Ads to download by ID. All IDs must belong to the same
            Advertiser or Partner specified in CreateSdfDownloadTaskRequest.
          type: array
          items:
            type: string
            format: int64
        campaignIds:
          description: >-
            Campaigns to download by ID. All IDs must belong to the same
            Advertiser or Partner specified in CreateSdfDownloadTaskRequest.
          items:
            format: int64
            type: string
          type: array
    ListCustomListsResponse:
      properties:
        customLists:
          type: array
          description: The list of custom lists. This list will be absent if empty.
          items:
            $ref: '#/components/schemas/CustomList'
        nextPageToken:
          description: >-
            A token to retrieve the next page of results. Pass this value in the
            page_token field in the subsequent call to `ListCustomLists` method
            to retrieve the next page of results.
          type: string
      type: object
      id: ListCustomListsResponse
    BulkEditSitesRequest:
      description: Request message for SiteService.BulkEditSites.
      properties:
        deletedSites:
          description: >-
            The sites to delete in batch, specified as a list of site
            url_or_app_ids.
          items:
            type: string
          type: array
        createdSites:
          description: The sites to create in batch, specified as a list of Sites.
          type: array
          items:
            $ref: '#/components/schemas/Site'
        advertiserId:
          description: The ID of the advertiser that owns the parent channel.
          format: int64
          type: string
        partnerId:
          type: string
          format: int64
          description: The ID of the partner that owns the parent channel.
      type: object
      id: BulkEditSitesRequest
    BulkEditPartnerAssignedTargetingOptionsResponse:
      type: object
      id: BulkEditPartnerAssignedTargetingOptionsResponse
      properties:
        createdAssignedTargetingOptions:
          description: >-
            The list of assigned targeting options that have been successfully
            created. This list will be absent if empty.
          type: array
          items:
            $ref: '#/components/schemas/AssignedTargetingOption'
    MobileDeviceIdList:
      type: object
      id: MobileDeviceIdList
      properties:
        mobileDeviceIds:
          items:
            type: string
          description: >-
            A list of mobile device IDs defining Customer Match audience
            members. The size of mobile_device_ids mustn't be greater than
            500,000.
          type: array
      description: >-
        Wrapper message for a list of mobile device IDs defining Customer Match
        audience members.
    EnvironmentAssignedTargetingOptionDetails:
      type: object
      description: >-
        Assigned environment targeting option details. This will be populated in
        the details field of an AssignedTargetingOption when targeting_type is
        `TARGETING_TYPE_ENVIRONMENT`.
      properties:
        targetingOptionId:
          description: >-
            Required. The targeting_option_id of a TargetingOption of type
            `TARGETING_TYPE_ENVIRONMENT` (e.g., "508010" for targeting the
            `ENVIRONMENT_WEB_OPTIMIZED` option).
          type: string
        environment:
          enum:
            - ENVIRONMENT_UNSPECIFIED
            - ENVIRONMENT_WEB_OPTIMIZED
            - ENVIRONMENT_WEB_NOT_OPTIMIZED
            - ENVIRONMENT_APP
          description: The serving environment. Output only in v1. Required in v2.
          enumDescriptions:
            - >-
              Default value when environment is not specified in this version.
              This enum is a placeholder for default value and does not
              represent a real environment option.
            - >-
              Target inventory displayed in browsers. This includes inventory
              that was designed for the device it was viewed on, such as mobile
              websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED,
              if targeted, should be deleted prior to the deletion of this
              targeting option.
            - >-
              Target inventory displayed in browsers. This includes inventory
              that was not designed for the device but viewed on it, such as
              websites optimized for desktop but viewed on a mobile device.
              ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition
              of this targeting option.
            - Target inventory displayed in apps.
          type: string
      id: EnvironmentAssignedTargetingOptionDetails
    SensitiveCategoryTargetingOptionDetails:
      id: SensitiveCategoryTargetingOptionDetails
      description: >-
        Represents a targetable sensitive category. This will be populated in
        the sensitive_category_details field of the TargetingOption when
        targeting_type is `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`.
      properties:
        sensitiveCategory:
          description: >-
            Output only. An enum for the DV360 Sensitive category content
            classifier.
          readOnly: true
          enum:
            - SENSITIVE_CATEGORY_UNSPECIFIED
            - SENSITIVE_CATEGORY_ADULT
            - SENSITIVE_CATEGORY_DEROGATORY
            - SENSITIVE_CATEGORY_DOWNLOADS_SHARING
            - SENSITIVE_CATEGORY_WEAPONS
            - SENSITIVE_CATEGORY_GAMBLING
            - SENSITIVE_CATEGORY_VIOLENCE
            - SENSITIVE_CATEGORY_SUGGESTIVE
            - SENSITIVE_CATEGORY_PROFANITY
            - SENSITIVE_CATEGORY_ALCOHOL
            - SENSITIVE_CATEGORY_DRUGS
            - SENSITIVE_CATEGORY_TOBACCO
            - SENSITIVE_CATEGORY_POLITICS
            - SENSITIVE_CATEGORY_RELIGION
            - SENSITIVE_CATEGORY_TRAGEDY
            - SENSITIVE_CATEGORY_TRANSPORTATION_ACCIDENTS
            - SENSITIVE_CATEGORY_SENSITIVE_SOCIAL_ISSUES
            - SENSITIVE_CATEGORY_SHOCKING
          type: string
          enumDescriptions:
            - >-
              This enum is only a placeholder and doesn't specify a DV360
              sensitive category.
            - Adult or pornographic text, image, or video content.
            - >-
              Content that may be construed as biased against individuals,
              groups, or organizations based on criteria such as race, religion,
              disability, sex, age, veteran status, sexual orientation, gender
              identity, or political affiliation. May also indicate discussion
              of such content, for instance, in an academic or journalistic
              context.
            - Content related to audio, video, or software downloads.
            - >-
              Contains content related to personal weapons, including knives,
              guns, small firearms, and ammunition. Selecting either "weapons"
              or "sensitive social issues" will result in selecting both.
            - >-
              Contains content related to betting or wagering in a real-world or
              online setting.
            - >-
              Content which may be considered graphically violent, gory,
              gruesome, or shocking, such as street fighting videos, accident
              photos, descriptions of torture, etc.
            - >-
              Adult content, as well as suggestive content that's not explicitly
              pornographic. This category includes all pages categorized as
              adult.
            - >-
              Prominent use of words considered indecent, such as curse words
              and sexual slang. Pages with only very occasional usage, such as
              news sites that might include such words in a quotation, are not
              included.
            - >-
              Contains content related to alcoholic beverages, alcohol brands,
              recipes, etc.
            - >-
              Contains content related to the recreational use of legal or
              illegal drugs, as well as to drug paraphernalia or cultivation.
            - >-
              Contains content related to tobacco and tobacco accessories,
              including lighters, humidors, ashtrays, etc.
            - >-
              Political news and media, including discussions of social,
              governmental, and public policy.
            - Content related to religious thought or beliefs.
            - Content related to death, disasters, accidents, war, etc.
            - >-
              Content related to motor vehicle, aviation or other transportation
              accidents.
            - >-
              Issues that evoke strong, opposing views and spark debate. These
              include issues that are controversial in most countries and
              markets (such as abortion), as well as those that are
              controversial in specific countries and markets (such as
              immigration reform in the United States).
            - >-
              Content which may be considered shocking or disturbing, such as
              violent news stories, stunts, or toilet humor.
      type: object
    Adloox:
      id: Adloox
      description: Details of Adloox settings.
      type: object
      properties:
        excludedAdlooxCategories:
          description: Adloox's brand safety settings.
          type: array
          items:
            type: string
            enumDescriptions:
              - >-
                This enum is only a placeholder and it doesn't specify any
                Adloox option.
              - Adult content (hard).
              - Adult content (soft).
              - Illegal content.
              - Borderline content.
              - Discriminatory content.
              - Violent content & weapons.
              - Low viewability domains.
              - Fraud.
            enum:
              - ADLOOX_UNSPECIFIED
              - ADULT_CONTENT_HARD
              - ADULT_CONTENT_SOFT
              - ILLEGAL_CONTENT
              - BORDERLINE_CONTENT
              - DISCRIMINATORY_CONTENT
              - VIOLENT_CONTENT_WEAPONS
              - LOW_VIEWABILITY_DOMAINS
              - FRAUD
    InsertionOrder:
      properties:
        partnerCosts:
          description: >-
            The partner costs associated with the insertion order. If absent or
            empty in CreateInsertionOrder method, the newly created insertion
            order will inherit partner costs from the partner settings.
          type: array
          items:
            $ref: '#/components/schemas/PartnerCost'
        reservationType:
          description: Output only. The reservation type of the insertion order.
          enumDescriptions:
            - >-
              Reservation type value is not specified or is unknown in this
              version.
            - Not created through a guaranteed inventory source.
            - Created through a programmatic guaranteed inventory source.
            - Created through a tag guaranteed inventory source.
          type: string
          enum:
            - RESERVATION_TYPE_UNSPECIFIED
            - RESERVATION_TYPE_NOT_GUARANTEED
            - RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED
            - RESERVATION_TYPE_TAG_GUARANTEED
          readOnly: true
        bidStrategy:
          description: >-
            The bidding strategy of the insertion order. By default, fixed_bid
            is set.
          $ref: '#/components/schemas/BiddingStrategy'
        name:
          readOnly: true
          type: string
          description: Output only. The resource name of the insertion order.
        advertiserId:
          description: >-
            Output only. The unique ID of the advertiser the insertion order
            belongs to.
          type: string
          format: int64
          readOnly: true
        integrationDetails:
          description: Additional integration details of the insertion order.
          $ref: '#/components/schemas/IntegrationDetails'
        budget:
          $ref: '#/components/schemas/InsertionOrderBudget'
          description: Required. The budget allocation settings of the insertion order.
        billableOutcome:
          enum:
            - BILLABLE_OUTCOME_UNSPECIFIED
            - BILLABLE_OUTCOME_PAY_PER_IMPRESSION
            - BILLABLE_OUTCOME_PAY_PER_CLICK
            - BILLABLE_OUTCOME_PAY_PER_VIEWABLE_IMPRESSION
          enumDescriptions:
            - Unspecified billable outcome.
            - Pay per impressions.
            - Pay per click.
            - Pay per active view.
          description: Immutable. The billable outcome of the insertion order.
          type: string
        pacing:
          $ref: '#/components/schemas/Pacing'
          description: Required. The budget spending speed setting of the insertion order.
        insertionOrderType:
          enumDescriptions:
            - Insertion order type is not specified or is unknown.
            - Real-time bidding.
            - Over-the-top.
          description: >-
            The type of insertion order. If this field is unspecified in
            creation, the value defaults to `RTB`.
          enum:
            - INSERTION_ORDER_TYPE_UNSPECIFIED
            - RTB
            - OVER_THE_TOP
          type: string
        performanceGoal:
          $ref: '#/components/schemas/PerformanceGoal'
          description: Required. Performance goal of the insertion order.
        updateTime:
          type: string
          format: google-datetime
          readOnly: true
          description: >-
            Output only. The timestamp when the insertion order was last
            updated. Assigned by the system.
        displayName:
          type: string
          description: >-
            Required. The display name of the insertion order. Must be UTF-8
            encoded with a maximum size of 240 bytes.
        insertionOrderId:
          readOnly: true
          description: >-
            Output only. The unique ID of the insertion order. Assigned by the
            system.
          format: int64
          type: string
        frequencyCap:
          $ref: '#/components/schemas/FrequencyCap'
          description: Required. The frequency capping setting of the insertion order.
        campaignId:
          description: >-
            Required. Immutable. The unique ID of the campaign that the
            insertion order belongs to.
          type: string
          format: int64
        entityStatus:
          enumDescriptions:
            - >-
              Default value when status is not specified or is unknown in this
              version.
            - The entity is enabled to bid and spend budget.
            - >-
              The entity is archived. Bidding and budget spending are disabled.
              An entity can be deleted after archived. Deleted entities cannot
              be retrieved.
            - >-
              The entity is under draft. Bidding and budget spending are
              disabled.
            - Bidding and budget spending are paused for the entity.
            - The entity is scheduled for deletion.
          enum:
            - ENTITY_STATUS_UNSPECIFIED
            - ENTITY_STATUS_ACTIVE
            - ENTITY_STATUS_ARCHIVED
            - ENTITY_STATUS_DRAFT
            - ENTITY_STATUS_PAUSED
            - ENTITY_STATUS_SCHEDULED_FOR_DELETION
          type: string
          description: >-
            Required. Controls whether or not the insertion order can spend its
            budget and bid on inventory. * For CreateInsertionOrder method, only
            `ENTITY_STATUS_DRAFT` is allowed. To activate an insertion order,
            use UpdateInsertionOrder method and update the status to
            `ENTITY_STATUS_ACTIVE` after creation. * An insertion order cannot
            be changed back to `ENTITY_STATUS_DRAFT` status from any other
            status. * An insertion order cannot be set to `ENTITY_STATUS_ACTIVE`
            if its parent campaign is not active.
      id: InsertionOrder
      type: object
      description: A single insertion order.
    DayAndTimeAssignedTargetingOptionDetails:
      type: object
      description: >-
        Representation of a segment of time defined on a specific day of the
        week and with a start and end time. The time represented by `start_hour`
        must be before the time represented by `end_hour`.
      id: DayAndTimeAssignedTargetingOptionDetails
      properties:
        timeZoneResolution:
          enum:
            - TIME_ZONE_RESOLUTION_UNSPECIFIED
            - TIME_ZONE_RESOLUTION_END_USER
            - TIME_ZONE_RESOLUTION_ADVERTISER
          type: string
          description: >-
            Required. The mechanism used to determine which timezone to use for
            this day and time targeting setting.
          enumDescriptions:
            - Time zone resolution is either unspecific or unknown.
            - Times are resolved in the time zone of the user that saw the ad.
            - >-
              Times are resolved in the time zone of the advertiser that served
              the ad.
        startHour:
          description: >-
            Required. The start hour for day and time targeting. Must be between
            0 (start of day) and 23 (1 hour before end of day).
          type: integer
          format: int32
        endHour:
          description: >-
            Required. The end hour for day and time targeting. Must be between 1
            (1 hour after start of day) and 24 (end of day).
          type: integer
          format: int32
        dayOfWeek:
          enumDescriptions:
            - The day of the week is unspecified.
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
          type: string
          enum:
            - DAY_OF_WEEK_UNSPECIFIED
            - MONDAY
            - TUESDAY
            - WEDNESDAY
            - THURSDAY
            - FRIDAY
            - SATURDAY
            - SUNDAY
          description: >-
            Required. The day of the week for this day and time targeting
            setting.
    ContentDurationTargetingOptionDetails:
      properties:
        contentDuration:
          type: string
          enum:
            - CONTENT_DURATION_UNSPECIFIED
            - CONTENT_DURATION_UNKNOWN
            - CONTENT_DURATION_0_TO_1_MIN
            - CONTENT_DURATION_1_TO_5_MIN
            - CONTENT_DURATION_5_TO_15_MIN
            - CONTENT_DURATION_15_TO_30_MIN
            - CONTENT_DURATION_30_TO_60_MIN
            - CONTENT_DURATION_OVER_60_MIN
          description: Output only. The content duration.
          readOnly: true
          enumDescriptions:
            - >-
              Content duration is not specified in this version. This enum is a
              place holder for a default value and does not represent a real
              content duration.
            - The content duration is unknown.
            - Content is 0-1 minute long.
            - Content is 1-5 minutes long.
            - Content is 5-15 minutes long.
            - Content is 15-30 minutes long.
            - Content is 30-60 minutes long.
            - Content is over 60 minutes long.
      description: >-
        Represents a targetable content duration. This will be populated in the
        content_duration_details field when targeting_type is
        `TARGETING_TYPE_CONTENT_DURATION`.
      type: object
      id: ContentDurationTargetingOptionDetails
    FixedBidStrategy:
      properties:
        bidAmountMicros:
          format: int64
          description: >-
            The fixed bid amount, in micros of the advertiser's currency. For
            insertion order entity, bid_amount_micros should be set as 0. For
            line item entity, bid_amount_micros must be greater than or equal to
            billable unit of the given currency and smaller than or equal to the
            upper limit 1000000000. For example, 1500000 represents 1.5 standard
            units of the currency.
          type: string
      description: A strategy that uses a fixed bidding price.
      id: FixedBidStrategy
      type: object
    GuaranteedOrderStatus:
      type: object
      id: GuaranteedOrderStatus
      description: The status settings of the guaranteed order.
      properties:
        configStatus:
          description: >-
            Output only. The configuration status of the guaranteed order.
            Acceptable values are `PENDING` and `COMPLETED`. A guaranteed order
            must be configured (fill in the required fields, choose creatives,
            and select a default campaign) before it can serve. Currently the
            configuration action can only be performed via UI.
          enumDescriptions:
            - >-
              The approval status is not specified or is unknown in this
              version.
            - >-
              The beginning state of a guaranteed order. The guaranteed order in
              this state needs to be configured before it can serve.
            - The state after the buyer configures a guaranteed order.
          type: string
          readOnly: true
          enum:
            - GUARANTEED_ORDER_CONFIG_STATUS_UNSPECIFIED
            - PENDING
            - COMPLETED
        entityPauseReason:
          type: string
          description: >-
            The user-provided reason for pausing this guaranteed order. Must be
            UTF-8 encoded with a maximum length of 100 bytes. Only applicable
            when entity_status is set to `ENTITY_STATUS_PAUSED`.
        entityStatus:
          enum:
            - ENTITY_STATUS_UNSPECIFIED
            - ENTITY_STATUS_ACTIVE
            - ENTITY_STATUS_ARCHIVED
            - ENTITY_STATUS_DRAFT
            - ENTITY_STATUS_PAUSED
            - ENTITY_STATUS_SCHEDULED_FOR_DELETION
          enumDescriptions:
            - >-
              Default value when status is not specified or is unknown in this
              version.
            - The entity is enabled to bid and spend budget.
            - >-
              The entity is archived. Bidding and budget spending are disabled.
              An entity can be deleted after archived. Deleted entities cannot
              be retrieved.
            - >-
              The entity is under draft. Bidding and budget spending are
              disabled.
            - Bidding and budget spending are paused for the entity.
            - The entity is scheduled for deletion.
          type: string
          description: >-
            Whether or not the guaranteed order is servable. Acceptable values
            are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_ARCHIVED`, and
            `ENTITY_STATUS_PAUSED`. Default value is `ENTITY_STATUS_ACTIVE`.
    RegionalLocationListAssignedTargetingOptionDetails:
      properties:
        negative:
          description: Indicates if this option is being negatively targeted.
          type: boolean
        regionalLocationListId:
          type: string
          format: int64
          description: >-
            Required. ID of the regional location list. Should refer to the
            location_list_id field of a LocationList resource whose type is
            `TARGETING_LOCATION_TYPE_REGIONAL`.
      type: object
      id: RegionalLocationListAssignedTargetingOptionDetails
      description: >-
        Targeting details for regional location list. This will be populated in
        the details field of an AssignedTargetingOption when targeting_type is
        `TARGETING_TYPE_REGIONAL_LOCATION_LIST`.
    CombinedAudienceGroup:
      description: >-
        Details of combined audience group. All combined audience targeting
        settings are logically ‘OR’ of each other.
      properties:
        settings:
          description: >-
            Required. All combined audience targeting settings in combined
            audience group. Repeated settings with same id will be ignored. The
            number of combined audience settings should be no more than five,
            error will be thrown otherwise.
          items:
            $ref: '#/components/schemas/CombinedAudienceTargetingSetting'
          type: array
      type: object
      id: CombinedAudienceGroup
    DeviceTypeTargetingOptionDetails:
      id: DeviceTypeTargetingOptionDetails
      properties:
        deviceType:
          enumDescriptions:
            - >-
              Default value when device type is not specified in this version.
              This enum is a placeholder for default value and does not
              represent a real device type option.
            - The device type is computer.
            - The device type is connected TV.
            - The device type is smart phone..
            - The device type is tablet.
          readOnly: true
          enum:
            - DEVICE_TYPE_UNSPECIFIED
            - DEVICE_TYPE_COMPUTER
            - DEVICE_TYPE_CONNECTED_TV
            - DEVICE_TYPE_SMART_PHONE
            - DEVICE_TYPE_TABLET
          type: string
          description: Output only. The device type that is used to be targeted.
      type: object
      description: >-
        Represents a targetable device type. This will be populated in the
        device_type_details field of a TargetingOption when targeting_type is
        `TARGETING_TYPE_DEVICE_TYPE`.
    UniversalAdId:
      id: UniversalAdId
      properties:
        id:
          description: The unique creative identifier.
          type: string
        registry:
          description: The registry provides unique creative identifiers.
          type: string
          enum:
            - UNIVERSAL_AD_REGISTRY_UNSPECIFIED
            - UNIVERSAL_AD_REGISTRY_OTHER
            - UNIVERSAL_AD_REGISTRY_AD_ID
            - UNIVERSAL_AD_REGISTRY_CLEARCAST
            - UNIVERSAL_AD_REGISTRY_DV360
            - UNIVERSAL_AD_REGISTRY_CM
          enumDescriptions:
            - >-
              The Universal Ad registry is unspecified or is unknown in this
              version.
            - Use a custom provider to provide the Universal Ad ID.
            - Use Ad-ID to provide the Universal Ad ID.
            - Use clearcast.co.uk to provide the Universal Ad ID.
            - Use Display & Video 360 to provide the Universal Ad ID.
            - Use Campaign Manager 360 to provide the Universal Ad ID.
      description: >-
        A creative identifier provided by a registry that is unique across all
        platforms. This is part of the VAST 4.0 standard.
      type: object
    ListNegativeKeywordsResponse:
      type: object
      description: Response message for NegativeKeywordService.ListNegativeKeywords.
      properties:
        nextPageToken:
          type: string
          description: >-
            A token to retrieve the next page of results. Pass this value in the
            page_token field in the subsequent call to `ListNegativeKeywords`
            method to retrieve the next page of results.
        negativeKeywords:
          description: The list of negative keywords. This list will be absent if empty.
          items:
            $ref: '#/components/schemas/NegativeKeyword'
          type: array
      id: ListNegativeKeywordsResponse
    ParentEntityFilter:
      description: >-
        A filtering option that filters on selected file types belonging to a
        chosen set of filter entities.
      properties:
        filterIds:
          description: >-
            The IDs of the specified filter type. This is used to filter
            entities to fetch. If filter type is not `FILTER_TYPE_NONE`, at
            least one ID must be specified.
          items:
            format: int64
            type: string
          type: array
        filterType:
          enum:
            - FILTER_TYPE_UNSPECIFIED
            - FILTER_TYPE_NONE
            - FILTER_TYPE_ADVERTISER_ID
            - FILTER_TYPE_CAMPAIGN_ID
            - FILTER_TYPE_MEDIA_PRODUCT_ID
            - FILTER_TYPE_INSERTION_ORDER_ID
            - FILTER_TYPE_LINE_ITEM_ID
          description: Required. Filter type used to filter fetched entities.
          type: string
          enumDescriptions:
            - >-
              Default value when type is unspecified or is unknown in this
              version.
            - >-
              If selected, no filter will be applied to the download. Can only
              be used if an Advertiser is specified in
              CreateSdfDownloadTaskRequest.
            - >-
              Advertiser ID. If selected, all filter IDs must be Advertiser IDs
              that belong to the Partner specified in
              CreateSdfDownloadTaskRequest.
            - >-
              Campaign ID. If selected, all filter IDs must be Campaign IDs that
              belong to the Advertiser or Partner specified in
              CreateSdfDownloadTaskRequest.
            - >-
              Media Product ID. If selected, all filter IDs must be Media
              Product IDs that belong to the Advertiser or Partner specified in
              CreateSdfDownloadTaskRequest. Can only be used for downloading
              `FILE_TYPE_MEDIA_PRODUCT`.
            - >-
              Insertion Order ID. If selected, all filter IDs must be Insertion
              Order IDs that belong to the Advertiser or Partner specified in
              CreateSdfDownloadTaskRequest. Can only be used for downloading
              `FILE_TYPE_INSERTION_ORDER`, `FILE_TYPE_LINE_ITEM`,
              `FILE_TYPE_AD_GROUP`, and `FILE_TYPE_AD`.
            - >-
              Line Item ID. If selected, all filter IDs must be Line Item IDs
              that belong to the Advertiser or Partner specified in
              CreateSdfDownloadTaskRequest. Can only be used for downloading
              `FILE_TYPE_LINE_ITEM`, `FILE_TYPE_AD_GROUP`, and `FILE_TYPE_AD`.
        fileType:
          type: array
          description: Required. File types that will be returned.
          items:
            enumDescriptions:
              - >-
                Default value when type is unspecified or is unknown in this
                version.
              - Campaign.
              - Media Product.
              - Insertion Order.
              - Line Item.
              - YouTube Ad Group.
              - YouTube Ad.
            enum:
              - FILE_TYPE_UNSPECIFIED
              - FILE_TYPE_CAMPAIGN
              - FILE_TYPE_MEDIA_PRODUCT
              - FILE_TYPE_INSERTION_ORDER
              - FILE_TYPE_LINE_ITEM
              - FILE_TYPE_AD_GROUP
              - FILE_TYPE_AD
            type: string
      type: object
      id: ParentEntityFilter
    IntegrationDetails:
      description: Integration details of an entry.
      properties:
        details:
          type: string
          description: >-
            Additional details of the entry in string format. Must be UTF-8
            encoded with a length of no more than 1000 characters.
        integrationCode:
          description: >-
            An external identifier to be associated with the entry. The
            integration code will show up together with the entry in many places
            in the system, for example, reporting. Must be UTF-8 encoded with a
            length of no more than 500 characters.
          type: string
      type: object
      id: IntegrationDetails
    Money:
      id: Money
      description: Represents an amount of money with its currency type.
      type: object
      properties:
        currencyCode:
          description: The three-letter currency code defined in ISO 4217.
          type: string
        nanos:
          format: int32
          type: integer
          description: >-
            Number of nano (10^-9) units of the amount. The value must be
            between -999,999,999 and +999,999,999 inclusive. If `units` is
            positive, `nanos` must be positive or zero. If `units` is zero,
            `nanos` can be positive, zero, or negative. If `units` is negative,
            `nanos` must be negative or zero. For example $-1.75 is represented
            as `units`=-1 and `nanos`=-750,000,000.
        units:
          description: >-
            The whole units of the amount. For example if `currencyCode` is
            `"USD"`, then 1 unit is one US dollar.
          format: int64
          type: string
    Invoice:
      description: A single invoice.
      type: object
      id: Invoice
      properties:
        name:
          description: The resource name of the invoice.
          type: string
        replacedInvoiceIds:
          items:
            type: string
          description: >-
            The ID(s) of any originally issued invoice that is being cancelled
            by this invoice, if applicable. Multiple invoices may be listed if
            those invoices are being consolidated into a single invoice. May
            appear on invoice PDF as `Replaced invoice numbers`. If
            corrected_invoice_id is set, this field will be empty.
          type: array
        serviceDateRange:
          description: The service start and end dates which are covered by this invoice.
          $ref: '#/components/schemas/DateRange'
        budgetInvoiceGroupingId:
          description: >-
            The budget grouping ID for this invoice. This field will only be set
            if the invoice level of the corresponding billing profile was set to
            "Budget invoice grouping ID".
          type: string
        totalTaxAmountMicros:
          type: string
          format: int64
          description: >-
            The sum of all taxes in invoice, in micros of the invoice's
            currency. For example, if currency_code is `USD`, then 1000000
            represents one US dollar.
        pdfUrl:
          description: >-
            The URL to download a PDF copy of the invoice. This URL is user
            specific and requires a valid OAuth 2.0 access token to access. The
            access token must be provided in an `Authorization: Bearer` HTTP
            header and be authorized for one of the following scopes: *
            `https://www.googleapis.com/auth/display-video-mediaplanning` *
            `https://www.googleapis.com/auth/display-video` The URL will be
            valid for 7 days after retrieval of this invoice object or until
            this invoice is retrieved again.
          type: string
        issueDate:
          $ref: '#/components/schemas/Date'
          description: The date when the invoice was issued.
        subtotalAmountMicros:
          format: int64
          description: >-
            The pre-tax subtotal amount, in micros of the invoice's currency.
            For example, if currency_code is `USD`, then 1000000 represents one
            US dollar.
          type: string
        paymentsProfileId:
          type: string
          description: >-
            The ID of the payments profile the invoice belongs to. Appears on
            the invoice PDF as `Billing ID`.
        invoiceId:
          type: string
          description: The unique ID of the invoice.
        paymentsAccountId:
          type: string
          description: >-
            The ID of the payments account the invoice belongs to. Appears on
            the invoice PDF as `Billing Account Number`.
        invoiceType:
          description: The type of invoice document.
          enum:
            - INVOICE_TYPE_UNSPECIFIED
            - INVOICE_TYPE_CREDIT
            - INVOICE_TYPE_INVOICE
          enumDescriptions:
            - Not specified or is unknown in this version.
            - The invoice has a negative amount.
            - The invoice has a positive amount.
          type: string
        nonBudgetMicros:
          type: string
          description: >-
            The total amount of costs or adjustments not tied to a particular
            budget, in micros of the invoice's currency. For example, if
            currency_code is `USD`, then 1000000 represents one US dollar.
          format: int64
        currencyCode:
          description: The currency used in the invoice in ISO 4217 format.
          type: string
        dueDate:
          $ref: '#/components/schemas/Date'
          description: The date when the invoice is due.
        displayName:
          description: The display name of the invoice.
          type: string
        totalAmountMicros:
          format: int64
          type: string
          description: >-
            The invoice total amount, in micros of the invoice's currency. For
            example, if currency_code is `USD`, then 1000000 represents one US
            dollar.
        correctedInvoiceId:
          type: string
          description: >-
            The ID of the original invoice being adjusted by this invoice, if
            applicable. May appear on the invoice PDF as `Reference invoice
            number`. If replaced_invoice_ids is set, this field will be empty.
        purchaseOrderNumber:
          description: Purchase order number associated with the invoice.
          type: string
        budgetSummaries:
          type: array
          description: >-
            The list of summarized information for each budget associated with
            this invoice. This field will only be set if the invoice detail
            level of the corresponding billing profile was set to "Budget level
            PO".
          items:
            $ref: '#/components/schemas/BudgetSummary'
    ThirdPartyOnlyConfig:
      type: object
      id: ThirdPartyOnlyConfig
      properties:
        pixelOrderIdReportingEnabled:
          description: >-
            Whether or not order ID reporting for pixels is enabled. This value
            cannot be changed once set to `true`.
          type: boolean
      description: Settings for advertisers that use third-party ad servers only.
    ParentalStatusAssignedTargetingOptionDetails:
      type: object
      description: >-
        Details for assigned parental status targeting option. This will be
        populated in the details field of an AssignedTargetingOption when
        targeting_type is `TARGETING_TYPE_PARENTAL_STATUS`.
      properties:
        targetingOptionId:
          description: >-
            Required. The targeting_option_id of a TargetingOption of type
            `TARGETING_TYPE_PARENTAL_STATUS`.
          type: string
        parentalStatus:
          type: string
          enum:
            - PARENTAL_STATUS_UNSPECIFIED
            - PARENTAL_STATUS_PARENT
            - PARENTAL_STATUS_NOT_A_PARENT
            - PARENTAL_STATUS_UNKNOWN
          description: >-
            The parental status of the audience. Output only in v1. Required in
            v2.
          enumDescriptions:
            - >-
              Default value when parental status is not specified in this
              version. This enum is a place holder for default value and does
              not represent a real parental status option.
            - The audience is a parent.
            - The audience is not a parent.
            - The parental status of the audience is unknown.
      id: ParentalStatusAssignedTargetingOptionDetails
    LineItemFlight:
      properties:
        triggerId:
          type: string
          description: >-
            The ID of the manual trigger associated with the line item. *
            Required when flight_date_type is
            `LINE_ITEM_FLIGHT_DATE_TYPE_TRIGGER`. Must not be set otherwise. *
            When set, the line item's flight dates are inherited from its parent
            insertion order. * Active line items will spend when the selected
            trigger is activated within the parent insertion order's flight
            dates. **Warning:** Line Items using manual triggers no longer serve
            in Display & Video 360. This field will sunset on August 1, 2023.
            Read our [feature deprecation
            announcement](/display-video/api/deprecations#features.manual_triggers)
            for more information.
          format: int64
        dateRange:
          $ref: '#/components/schemas/DateRange'
          description: >-
            The flight start and end dates of the line item. They are resolved
            relative to the parent advertiser's time zone. * Required when
            flight_date_type is `LINE_ITEM_FLIGHT_DATE_TYPE_CUSTOM`. Output only
            otherwise. * When creating a new flight, both `start_date` and
            `end_date` must be in the future. * An existing flight with a
            `start_date` in the past has a mutable `end_date` but an immutable
            `start_date`. * `end_date` must be the `start_date` or later, both
            before the year 2037.
        flightDateType:
          enum:
            - LINE_ITEM_FLIGHT_DATE_TYPE_UNSPECIFIED
            - LINE_ITEM_FLIGHT_DATE_TYPE_INHERITED
            - LINE_ITEM_FLIGHT_DATE_TYPE_CUSTOM
            - LINE_ITEM_FLIGHT_DATE_TYPE_TRIGGER
          description: Required. The type of the line item's flight dates.
          type: string
          enumDescriptions:
            - Type value is not specified or is unknown in this version.
            - >-
              The line item's flight dates are inherited from its parent
              insertion order.
            - The line item uses its own custom flight dates.
            - >-
              The line item uses a trigger. **Warning:** Line Items using manual
              triggers no longer serve in Display & Video 360. This value will
              sunset on August 1, 2023. Read our [feature deprecation
              announcement](/display-video/api/deprecations#features.manual_triggers)
              for more information.
      type: object
      id: LineItemFlight
      description: Settings that control the active duration of a line item.
    ListPartnersResponse:
      properties:
        partners:
          items:
            $ref: '#/components/schemas/Partner'
          description: The list of partners. This list will be absent if empty.
          type: array
        nextPageToken:
          description: >-
            A token to retrieve the next page of results. Pass this value in the
            page_token field in the subsequent call to `ListPartners` method to
            retrieve the next page of results.
          type: string
      id: ListPartnersResponse
      type: object
    SdfConfig:
      id: SdfConfig
      type: object
      description: Structured Data File (SDF) related settings.
      properties:
        adminEmail:
          type: string
          description: >-
            An administrator email address to which the SDF processing status
            reports will be sent.
        version:
          type: string
          description: Required. The version of SDF being used.
          enumDescriptions:
            - SDF version value is not specified or is unknown in this version.
            - SDF version 3.1
            - SDF version 4
            - SDF version 4.1
            - SDF version 4.2
            - SDF version 5.
            - SDF version 5.1
            - SDF version 5.2
            - SDF version 5.3
            - SDF version 5.4
            - SDF version 5.5
            - SDF version 6
          enum:
            - SDF_VERSION_UNSPECIFIED
            - SDF_VERSION_3_1
            - SDF_VERSION_4
            - SDF_VERSION_4_1
            - SDF_VERSION_4_2
            - SDF_VERSION_5
            - SDF_VERSION_5_1
            - SDF_VERSION_5_2
            - SDF_VERSION_5_3
            - SDF_VERSION_5_4
            - SDF_VERSION_5_5
            - SDF_VERSION_6
    LookbackWindow:
      properties:
        clickDays:
          type: integer
          description: >-
            Lookback window, in days, from the last time a given user clicked on
            one of your ads.
          format: int32
        impressionDays:
          description: >-
            Lookback window, in days, from the last time a given user viewed one
            of your ads.
          type: integer
          format: int32
      type: object
      description: >-
        Specifies how many days into the past to look when determining whether
        to record a conversion.
      id: LookbackWindow
    User:
      id: User
      description: A single user in Display & Video 360.
      type: object
      properties:
        assignedUserRoles:
          description: >-
            The assigned user roles. Required in CreateUser. Output only in
            UpdateUser. Can only be updated through BulkEditAssignedUserRoles.
          type: array
          items:
            $ref: '#/components/schemas/AssignedUserRole'
        userId:
          type: string
          description: Output only. The unique ID of the user. Assigned by the system.
          readOnly: true
          format: int64
        email:
          type: string
          description: Required. Immutable. The email address used to identify the user.
        name:
          type: string
          description: Output only. The resource name of the user.
          readOnly: true
        displayName:
          type: string
          description: >-
            Required. The display name of the user. Must be UTF-8 encoded with a
            maximum size of 240 bytes.
    GuaranteedOrder:
      description: >-
        A guaranteed order. Guaranteed orders are parent entity of guaranteed
        inventory sources. When creating a guaranteed inventory source, a
        guaranteed order ID must be assigned to the inventory source.
      type: object
      properties:
        status:
          $ref: '#/components/schemas/GuaranteedOrderStatus'
          description: The status settings of the guaranteed order.
        updateTime:
          description: >-
            Output only. The timestamp when the guaranteed order was last
            updated. Assigned by the system.
          readOnly: true
          format: google-datetime
          type: string
        readWriteAdvertiserId:
          type: string
          description: >-
            The advertiser with read/write access to the guaranteed order. This
            is also the default advertiser of the guaranteed order.
          format: int64
        publisherName:
          description: >-
            Required. The publisher name of the guaranteed order. Must be UTF-8
            encoded with a maximum size of 240 bytes.
          type: string
        legacyGuaranteedOrderId:
          type: string
          description: >-
            Output only. The legacy ID of the guaranteed order. Assigned by the
            original exchange. The legacy ID is unique within one exchange, but
            is not guaranteed to be unique across all guaranteed orders. This ID
            is used in SDF and UI.
          readOnly: true
        readWritePartnerId:
          type: string
          description: The partner with read/write access to the guaranteed order.
          format: int64
        readAccessInherited:
          description: >-
            Whether all advertisers of read_write_partner_id have read access to
            the guaranteed order. Only applicable if read_write_partner_id is
            set. If True, overrides read_advertiser_ids.
          type: boolean
        exchange:
          type: string
          enum:
            - EXCHANGE_UNSPECIFIED
            - EXCHANGE_GOOGLE_AD_MANAGER
            - EXCHANGE_APPNEXUS
            - EXCHANGE_BRIGHTROLL
            - EXCHANGE_ADFORM
            - EXCHANGE_ADMETA
            - EXCHANGE_ADMIXER
            - EXCHANGE_ADSMOGO
            - EXCHANGE_ADSWIZZ
            - EXCHANGE_BIDSWITCH
            - EXCHANGE_BRIGHTROLL_DISPLAY
            - EXCHANGE_CADREON
            - EXCHANGE_DAILYMOTION
            - EXCHANGE_FIVE
            - EXCHANGE_FLUCT
            - EXCHANGE_FREEWHEEL
            - EXCHANGE_GENIEE
            - EXCHANGE_GUMGUM
            - EXCHANGE_IMOBILE
            - EXCHANGE_IBILLBOARD
            - EXCHANGE_IMPROVE_DIGITAL
            - EXCHANGE_INDEX
            - EXCHANGE_KARGO
            - EXCHANGE_MICROAD
            - EXCHANGE_MOPUB
            - EXCHANGE_NEND
            - EXCHANGE_ONE_BY_AOL_DISPLAY
            - EXCHANGE_ONE_BY_AOL_MOBILE
            - EXCHANGE_ONE_BY_AOL_VIDEO
            - EXCHANGE_OOYALA
            - EXCHANGE_OPENX
            - EXCHANGE_PERMODO
            - EXCHANGE_PLATFORMONE
            - EXCHANGE_PLATFORMID
            - EXCHANGE_PUBMATIC
            - EXCHANGE_PULSEPOINT
            - EXCHANGE_REVENUEMAX
            - EXCHANGE_RUBICON
            - EXCHANGE_SMARTCLIP
            - EXCHANGE_SMARTRTB
            - EXCHANGE_SMARTSTREAMTV
            - EXCHANGE_SOVRN
            - EXCHANGE_SPOTXCHANGE
            - EXCHANGE_STROER
            - EXCHANGE_TEADSTV
            - EXCHANGE_TELARIA
            - EXCHANGE_TVN
            - EXCHANGE_UNITED
            - EXCHANGE_YIELDLAB
            - EXCHANGE_YIELDMO
            - EXCHANGE_UNRULYX
            - EXCHANGE_OPEN8
            - EXCHANGE_TRITON
            - EXCHANGE_TRIPLELIFT
            - EXCHANGE_TABOOLA
            - EXCHANGE_INMOBI
            - EXCHANGE_SMAATO
            - EXCHANGE_AJA
            - EXCHANGE_SUPERSHIP
            - EXCHANGE_NEXSTAR_DIGITAL
            - EXCHANGE_WAZE
            - EXCHANGE_SOUNDCAST
            - EXCHANGE_SHARETHROUGH
            - EXCHANGE_FYBER
            - EXCHANGE_RED_FOR_PUBLISHERS
            - EXCHANGE_MEDIANET
            - EXCHANGE_TAPJOY
            - EXCHANGE_VISTAR
            - EXCHANGE_DAX
            - EXCHANGE_JCD
            - EXCHANGE_PLACE_EXCHANGE
            - EXCHANGE_APPLOVIN
            - EXCHANGE_CONNATIX
            - EXCHANGE_RESET_DIGITAL
            - EXCHANGE_HIVESTACK
          enumDescriptions:
            - Exchange is not specified or is unknown in this version.
            - Google Ad Manager.
            - AppNexus.
            - BrightRoll Exchange for Video from Yahoo!.
            - Adform.
            - Admeta.
            - Admixer.
            - AdsMogo.
            - AdsWizz.
            - BidSwitch.
            - BrightRoll Exchange for Display from Yahoo!.
            - Cadreon.
            - Dailymotion.
            - Five.
            - Fluct.
            - FreeWheel SSP.
            - Geniee.
            - GumGum.
            - i-mobile.
            - iBILLBOARD.
            - Improve Digital.
            - Index Exchange.
            - Kargo.
            - MicroAd.
            - MoPub.
            - Nend.
            - 'ONE by AOL: Display Market Place.'
            - 'ONE by AOL: Mobile.'
            - 'ONE by AOL: Video.'
            - Ooyala.
            - OpenX.
            - Permodo.
            - Platform One.
            - PlatformId.
            - PubMatic.
            - PulsePoint.
            - RevenueMax.
            - Rubicon.
            - SmartClip.
            - SmartRTB+.
            - SmartstreamTv.
            - Sovrn.
            - SpotXchange.
            - Ströer SSP.
            - TeadsTv.
            - Telaria.
            - TVN.
            - United.
            - Yieldlab.
            - Yieldmo.
            - UnrulyX.
            - Open8.
            - Triton.
            - TripleLift.
            - Taboola.
            - InMobi.
            - Smaato.
            - Aja.
            - Supership.
            - Nexstar Digital.
            - Waze.
            - SoundCast.
            - Sharethrough.
            - Fyber.
            - Red For Publishers.
            - Media.net.
            - Tapjoy.
            - Vistar.
            - DAX.
            - JCD.
            - Place Exchange.
            - AppLovin.
            - Connatix.
            - Reset Digital.
            - Hivestack.
          description: >-
            Required. Immutable. The exchange where the guaranteed order
            originated.
        name:
          readOnly: true
          description: Output only. The resource name of the guaranteed order.
          type: string
        defaultAdvertiserId:
          readOnly: true
          format: int64
          description: >-
            Output only. The ID of default advertiser of the guaranteed order.
            The default advertiser is either the read_write_advertiser_id or, if
            that is not set, the first advertiser listed in read_advertiser_ids.
            Otherwise, there is no default advertiser.
          type: string
        displayName:
          description: >-
            Required. The display name of the guaranteed order. Must be UTF-8
            encoded with a maximum size of 240 bytes.
          type: string
        guaranteedOrderId:
          description: >-
            Output only. The unique identifier of the guaranteed order. The
            guaranteed order IDs have the format
            `{exchange}-{legacy_guaranteed_order_id}`.
          type: string
          readOnly: true
        readAdvertiserIds:
          items:
            format: int64
            type: string
          description: >-
            The IDs of advertisers with read access to the guaranteed order.
            This field must not include the advertiser assigned to
            read_write_advertiser_id if it is set. All advertisers in this field
            must belong to read_write_partner_id or the same partner as
            read_write_advertiser_id.
          type: array
        defaultCampaignId:
          type: string
          format: int64
          description: >-
            The ID of the default campaign that is assigned to the guaranteed
            order. The default campaign must belong to the default advertiser.
      id: GuaranteedOrder
    NegativeKeyword:
      description: A negatively targeted keyword that belongs to a negative keyword list.
      id: NegativeKeyword
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Output only. The resource name of the negative keyword.
        keywordValue:
          description: >-
            Required. Immutable. The negatively targeted keyword, for example
            `car insurance`. Must be UTF-8 encoded with a maximum size of 255
            bytes. Maximum number of characters is 80. Maximum number of words
            is 10. Valid characters are restricted to ASCII characters only. The
            only URL-escaping permitted is for representing whitespace between
            words. Leading or trailing whitespace is ignored.
          type: string
    ListNegativeKeywordListsResponse:
      properties:
        nextPageToken:
          description: >-
            A token to retrieve the next page of results. Pass this value in the
            page_token field in the subsequent call to
            `ListNegativeKeywordLists` method to retrieve the next page of
            results.
          type: string
        negativeKeywordLists:
          type: array
          description: >-
            The list of negative keyword lists. This list will be absent if
            empty.
          items:
            $ref: '#/components/schemas/NegativeKeywordList'
      id: ListNegativeKeywordListsResponse
      description: >-
        Response message for
        NegativeKeywordListService.ListNegativeKeywordLists.
      type: object
    SdfDownloadTask:
      id: SdfDownloadTask
      type: object
      properties:
        resourceName:
          type: string
          description: >-
            A resource name to be used in media.download to Download the
            prepared files. Resource names have the format
            `download/sdfdownloadtasks/media/{media_id}`. `media_id` will be
            made available by the long running operation service once the task
            status is done.
      description: >-
        Type for the response returned by
        [SdfDownloadTaskService.CreateSdfDownloadTask].
    LanguageTargetingOptionDetails:
      properties:
        displayName:
          readOnly: true
          type: string
          description: Output only. The display name of the language (e.g., "French").
      description: >-
        Represents a targetable language. This will be populated in the
        language_details field when targeting_type is `TARGETING_TYPE_LANGUAGE`.
      id: LanguageTargetingOptionDetails
      type: object
    MobileApp:
      type: object
      id: MobileApp
      description: A mobile app promoted by a mobile app install line item.
      properties:
        platform:
          type: string
          description: Output only. The app platform.
          enum:
            - PLATFORM_UNSPECIFIED
            - IOS
            - ANDROID
          enumDescriptions:
            - Platform is not specified.
            - iOS platform.
            - Android platform.
          readOnly: true
        displayName:
          description: Output only. The app name.
          type: string
          readOnly: true
        appId:
          description: >-
            Required. The ID of the app provided by the platform store. Android
            apps are identified by the bundle ID used by Android's Play store,
            such as `com.google.android.gm`. iOS apps are identified by a
            nine-digit app ID used by Apple's App store, such as `422689480`.
          type: string
        publisher:
          type: string
          readOnly: true
          description: Output only. The app publisher.
    CustomBiddingAlgorithm:
      properties:
        partnerId:
          format: int64
          description: >-
            Immutable. The unique ID of the partner that owns the custom bidding
            algorithm.
          type: string
        displayName:
          description: >-
            Required. The display name of the custom bidding algorithm. Must be
            UTF-8 encoded with a maximum size of 240 bytes.
          type: string
        entityStatus:
          description: >-
            Controls whether or not the custom bidding algorithm can be used as
            a bidding strategy. Accepted values are: * `ENTITY_STATUS_ACTIVE` *
            `ENTITY_STATUS_ARCHIVED`
          type: string
          enumDescriptions:
            - >-
              Default value when status is not specified or is unknown in this
              version.
            - The entity is enabled to bid and spend budget.
            - >-
              The entity is archived. Bidding and budget spending are disabled.
              An entity can be deleted after archived. Deleted entities cannot
              be retrieved.
            - >-
              The entity is under draft. Bidding and budget spending are
              disabled.
            - Bidding and budget spending are paused for the entity.
            - The entity is scheduled for deletion.
          enum:
            - ENTITY_STATUS_UNSPECIFIED
            - ENTITY_STATUS_ACTIVE
            - ENTITY_STATUS_ARCHIVED
            - ENTITY_STATUS_DRAFT
            - ENTITY_STATUS_PAUSED
            - ENTITY_STATUS_SCHEDULED_FOR_DELETION
        modelReadiness:
          items:
            $ref: '#/components/schemas/CustomBiddingModelReadinessState'
          type: array
          readOnly: true
          description: >-
            Output only. The state of custom bidding model readiness for each
            advertiser who has access. This field may only include the state of
            the queried advertiser if the algorithm
            [`owner`](/display-video/api/reference/rest/v1/customBiddingAlgorithms#CustomBiddingAlgorithm.FIELDS.oneof_owner)
            is a partner and is being retrieved using an advertiser
            [`accessor`](/display-video/api/reference/rest/v1/customBiddingAlgorithms/list#body.QUERY_PARAMETERS.oneof_accessor).
        customBiddingAlgorithmType:
          type: string
          enumDescriptions:
            - Algorithm type is not specified or is unknown in this version.
            - >-
              Algorithm generated through customer-uploaded custom bidding
              script files.
            - Algorithm created through Ads Data Hub product.
            - Algorithm created through goal builder in DV3 UI.
          description: Required. Immutable. The type of custom bidding algorithm.
          enum:
            - CUSTOM_BIDDING_ALGORITHM_TYPE_UNSPECIFIED
            - SCRIPT_BASED
            - ADS_DATA_HUB_BASED
            - GOAL_BUILDER_BASED
        sharedAdvertiserIds:
          items:
            type: string
            format: int64
          description: >-
            The IDs of the advertisers who have access to this algorithm. If
            advertiser_id is set, this field will only consist of that value.
            This field will not be set if the algorithm
            [`owner`](/display-video/api/reference/rest/v1/customBiddingAlgorithms#CustomBiddingAlgorithm.FIELDS.oneof_owner)
            is a partner and is being retrieved using an advertiser
            [`accessor`](/display-video/api/reference/rest/v1/customBiddingAlgorithms/list#body.QUERY_PARAMETERS.oneof_accessor).
          type: array
        customBiddingAlgorithmState:
          enumDescriptions:
            - State is not specified or is unknown in this version.
            - >-
              Algorithm is enabled, either recently used, currently used or
              scheduled to be used. The algorithm is actively scoring
              impressions.
            - >-
              Algorithm has not been used recently. Although the algorithm still
              acts as `ENABLED`, it will eventually be suspended if not used.
            - >-
              Algorithm is susepended from scoring impressions and doesn't have
              a serving model trained. If the algorithm is assigned to a line
              item or otherwise updated, it will switch back to the `ENABLED`
              state and require time to prepare the serving model again.
          readOnly: true
          type: string
          enum:
            - STATE_UNSPECIFIED
            - ENABLED
            - DORMANT
            - SUSPENDED
          description: Output only. The status of custom bidding algorithm.
        advertiserId:
          description: >-
            Immutable. The unique ID of the advertiser that owns the custom
            bidding algorithm.
          type: string
          format: int64
        name:
          description: Output only. The resource name of the custom bidding algorithm.
          readOnly: true
          type: string
        customBiddingAlgorithmId:
          type: string
          format: int64
          readOnly: true
          description: >-
            Output only. The unique ID of the custom bidding algorithm. Assigned
            by the system.
      type: object
      id: CustomBiddingAlgorithm
      description: A single custom bidding algorithm.
    GeoRegionAssignedTargetingOptionDetails:
      type: object
      description: >-
        Details for assigned geographic region targeting option. This will be
        populated in the details field of an AssignedTargetingOption when
        targeting_type is `TARGETING_TYPE_GEO_REGION`.
      id: GeoRegionAssignedTargetingOptionDetails
      properties:
        displayName:
          type: string
          readOnly: true
          description: >-
            Output only. The display name of the geographic region (e.g.,
            "Ontario, Canada").
        negative:
          type: boolean
          description: Indicates if this option is being negatively targeted.
        targetingOptionId:
          description: >-
            Required. The targeting_option_id of a TargetingOption of type
            `TARGETING_TYPE_GEO_REGION`.
          type: string
        geoRegionType:
          readOnly: true
          enum:
            - GEO_REGION_TYPE_UNKNOWN
            - GEO_REGION_TYPE_OTHER
            - GEO_REGION_TYPE_COUNTRY
            - GEO_REGION_TYPE_REGION
            - GEO_REGION_TYPE_TERRITORY
            - GEO_REGION_TYPE_PROVINCE
            - GEO_REGION_TYPE_STATE
            - GEO_REGION_TYPE_PREFECTURE
            - GEO_REGION_TYPE_GOVERNORATE
            - GEO_REGION_TYPE_CANTON
            - GEO_REGION_TYPE_UNION_TERRITORY
            - GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY
            - GEO_REGION_TYPE_DMA_REGION
            - GEO_REGION_TYPE_METRO
            - GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT
            - GEO_REGION_TYPE_COUNTY
            - GEO_REGION_TYPE_MUNICIPALITY
            - GEO_REGION_TYPE_CITY
            - GEO_REGION_TYPE_POSTAL_CODE
            - GEO_REGION_TYPE_DEPARTMENT
            - GEO_REGION_TYPE_AIRPORT
            - GEO_REGION_TYPE_TV_REGION
            - GEO_REGION_TYPE_OKRUG
            - GEO_REGION_TYPE_BOROUGH
            - GEO_REGION_TYPE_CITY_REGION
            - GEO_REGION_TYPE_ARRONDISSEMENT
            - GEO_REGION_TYPE_NEIGHBORHOOD
            - GEO_REGION_TYPE_UNIVERSITY
            - GEO_REGION_TYPE_DISTRICT
          type: string
          description: Output only. The type of geographic region targeting.
          enumDescriptions:
            - The geographic region type is unknown.
            - The geographic region type is other.
            - The geographic region is a country.
            - The geographic region type is region.
            - The geographic region is a territory.
            - The geographic region is a province.
            - The geographic region is a state.
            - The geographic region is a prefecture.
            - The geographic region is a governorate.
            - The geographic region is a canton.
            - The geographic region is a union territory.
            - The geographic region is an autonomous community.
            - The geographic region is a designated market area (DMA) region.
            - The geographic region type is metro.
            - The geographic region is a congressional district.
            - The geographic region is a county.
            - The geographic region is a municipality.
            - The geographic region is a city.
            - The geographic region targeting type is postal code.
            - The geographic region targeting type is department.
            - The geographic region is an airport.
            - The geographic region is a TV region.
            - The geographic region is an okrug.
            - The geographic region is a borough.
            - The geographic region is a city region.
            - The geographic region is an arrondissement.
            - The geographic region is a neighborhood.
            - The geographic region is a university.
            - The geographic region is a district.
    OnScreenPositionAssignedTargetingOptionDetails:
      type: object
      description: >-
        On screen position targeting option details. This will be populated in
        the on_screen_position_details field when targeting_type is
        `TARGETING_TYPE_ON_SCREEN_POSITION`.
      id: OnScreenPositionAssignedTargetingOptionDetails
      properties:
        adType:
          enum:
            - AD_TYPE_UNSPECIFIED
            - AD_TYPE_DISPLAY
            - AD_TYPE_VIDEO
            - AD_TYPE_AUDIO
          type: string
          description: >-
            Output only. The ad type to target. Only applicable to insertion
            order targeting and new line items supporting the specified ad type
            will inherit this targeting option by default. Possible values are:
            * `AD_TYPE_DISPLAY`, the setting will be inherited by new line item
            when line_item_type is `LINE_ITEM_TYPE_DISPLAY_DEFAULT`. *
            `AD_TYPE_VIDEO`, the setting will be inherited by new line item when
            line_item_type is `LINE_ITEM_TYPE_VIDEO_DEFAULT`.
          readOnly: true
          enumDescriptions:
            - Ad type is not specified or is unknown in this version.
            - Display creatives, e.g. image and HTML5.
            - >-
              Video creatives, e.g. video ads that play during streaming content
              in video players.
            - Audio creatives, e.g. audio ads that play during audio content.
        targetingOptionId:
          type: string
          description: >-
            Required. The targeting_option_id field when targeting_type is
            `TARGETING_TYPE_ON_SCREEN_POSITION`.
        onScreenPosition:
          type: string
          description: Output only. The on screen position.
          enumDescriptions:
            - >-
              On screen position is not specified in this version. This enum is
              a place holder for a default value and does not represent a real
              on screen position.
            - The ad position is unknown on the screen.
            - The ad is located above the fold.
            - The ad is located below the fold.
          enum:
            - ON_SCREEN_POSITION_UNSPECIFIED
            - ON_SCREEN_POSITION_UNKNOWN
            - ON_SCREEN_POSITION_ABOVE_THE_FOLD
            - ON_SCREEN_POSITION_BELOW_THE_FOLD
          readOnly: true
    DigitalContentLabelTargetingOptionDetails:
      type: object
      properties:
        contentRatingTier:
          description: Output only. An enum for the content label brand safety tiers.
          enumDescriptions:
            - >-
              Content label is not specified in this version. This enum is a
              place holder for a default value and does not represent a real
              content rating.
            - Content that has not been labeled.
            - Content suitable for general audiences.
            - Content suitable for most audiences with parental guidance.
            - Content suitable for teen and older audiences.
            - Content suitable only for mature audiences.
          type: string
          readOnly: true
          enum:
            - CONTENT_RATING_TIER_UNSPECIFIED
            - CONTENT_RATING_TIER_UNRATED
            - CONTENT_RATING_TIER_GENERAL
            - CONTENT_RATING_TIER_PARENTAL_GUIDANCE
            - CONTENT_RATING_TIER_TEENS
            - CONTENT_RATING_TIER_MATURE
      id: DigitalContentLabelTargetingOptionDetails
      description: >-
        Represents a targetable digital content label rating tier. This will be
        populated in the digital_content_label_details field of the
        TargetingOption when targeting_type is
        `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`.
    BrowserTargetingOptionDetails:
      description: >-
        Represents a targetable browser. This will be populated in the
        browser_details field when targeting_type is `TARGETING_TYPE_BROWSER`.
      id: BrowserTargetingOptionDetails
      properties:
        displayName:
          type: string
          readOnly: true
          description: Output only. The display name of the browser.
      type: object
    ContentGenreTargetingOptionDetails:
      type: object
      description: >-
        Represents a targetable content genre. This will be populated in the
        content_genre_details field when targeting_type is
        `TARGETING_TYPE_CONTENT_GENRE`.
      id: ContentGenreTargetingOptionDetails
      properties:
        displayName:
          description: Output only. The display name of the content genre
          type: string
          readOnly: true
    AppAssignedTargetingOptionDetails:
      description: >-
        Details for assigned app targeting option. This will be populated in the
        details field of an AssignedTargetingOption when targeting_type is
        `TARGETING_TYPE_APP`.
      id: AppAssignedTargetingOptionDetails
      type: object
      properties:
        displayName:
          type: string
          description: Output only. The display name of the app.
          readOnly: true
        appPlatform:
          enum:
            - APP_PLATFORM_UNSPECIFIED
            - APP_PLATFORM_IOS
            - APP_PLATFORM_ANDROID
            - APP_PLATFORM_ROKU
            - APP_PLATFORM_AMAZON_FIRETV
            - APP_PLATFORM_PLAYSTATION
            - APP_PLATFORM_APPLE_TV
            - APP_PLATFORM_XBOX
            - APP_PLATFORM_SAMSUNG_TV
            - APP_PLATFORM_ANDROID_TV
            - APP_PLATFORM_GENERIC_CTV
          description: >-
            Indicates the platform of the targeted app. If this field is not
            specified, the app platform will be assumed to be mobile (i.e.,
            Android or iOS), and we will derive the appropriate mobile platform
            from the app ID.
          type: string
          enumDescriptions:
            - >-
              Default value when app platform is not specified in this version.
              This enum is a placeholder for default value and does not
              represent a real platform option.
            - The app platform is iOS.
            - The app platform is Android.
            - The app platform is Roku.
            - The app platform is Amazon FireTV.
            - The app platform is Playstation.
            - The app platform is Apple TV.
            - The app platform is Xbox.
            - The app platform is Samsung TV.
            - The app platform is Android TV.
            - >-
              The app platform is a CTV platform that is not explicitly listed
              elsewhere.
        appId:
          description: >-
            Required. The ID of the app. Android's Play store app uses bundle
            ID, for example `com.google.android.gm`. Apple's App store app ID
            uses 9 digit string, for example `422689480`.
          type: string
        negative:
          type: boolean
          description: Indicates if this option is being negatively targeted.
    PartnerCost:
      properties:
        feeType:
          enum:
            - PARTNER_COST_FEE_TYPE_UNSPECIFIED
            - PARTNER_COST_FEE_TYPE_CPM_FEE
            - PARTNER_COST_FEE_TYPE_MEDIA_FEE
          type: string
          enumDescriptions:
            - Value is not specified or is unknown in this version.
            - >-
              The partner cost is a fixed CPM fee. Not applicable when the
              partner cost cost_type is one of: *
              `PARTNER_COST_TYPE_MEDIA_COST_DATA` *
              `PARTNER_COST_TYPE_DV360_FEE`.
            - >-
              The partner cost is a percentage surcharge based on the media
              cost. Not applicable when the partner cost_type is one of: *
              `PARTNER_COST_TYPE_SHOP_LOCAL` * `PARTNER_COST_TYPE_TRUST_METRICS`
              * `PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO` *
              `PARTNER_COST_TYPE_MOAT_VIDEO`.
          description: Required. The fee type for this partner cost.
        invoiceType:
          enum:
            - PARTNER_COST_INVOICE_TYPE_UNSPECIFIED
            - PARTNER_COST_INVOICE_TYPE_DV360
            - PARTNER_COST_INVOICE_TYPE_PARTNER
          enumDescriptions:
            - Type value is not specified or is unknown in this version.
            - Partner cost is billed through DV360.
            - Partner cost is billed by the partner.
          description: >-
            The invoice type for this partner cost. * Required when cost_type is
            one of: - `PARTNER_COST_TYPE_ADLOOX` -
            `PARTNER_COST_TYPE_DOUBLE_VERIFY` -
            `PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE`. * Output only for other
            types.
          type: string
        feeAmount:
          format: int64
          type: string
          description: >-
            The CPM fee amount in micros of advertiser's currency. Applicable
            when the fee_type is `PARTNER_FEE_TYPE_CPM_FEE`. Must be greater
            than or equal to 0. For example, for 1.5 standard unit of the
            advertiser's currency, set this field to 1500000.
        feePercentageMillis:
          format: int64
          description: >-
            The media fee percentage in millis (1/1000 of a percent). Applicable
            when the fee_type is `PARTNER_FEE_TYPE_MEDIA_FEE`. Must be greater
            than or equal to 0. For example: 100 represents 0.1%.
          type: string
        costType:
          enumDescriptions:
            - Type value is not specified or is unknown in this version.
            - The cost is charged for using Adloox. Billed by the partner.
            - >-
              The cost is charged for using Adloox Pre-Bid. Billed through
              DV360.
            - The cost is charged for using AdSafe. Billed by the partner.
            - The cost is charged for using AdExpose. Billed by the partner.
            - >-
              The cost is charged for using Aggregate Knowledge. Billed by the
              partner.
            - >-
              The cost is charged for using an Agency Trading Desk. Billed by
              the partner.
            - The cost is charged for using DV360. Billed through DV360.
            - The cost is charged for using comScore vCE. Billed through DV360.
            - >-
              The cost is charged for using a Data Management Platform. Billed
              by the partner.
            - The default cost type. Billed by the partner.
            - The cost is charged for using DoubleVerify. Billed by the partner.
            - >-
              The cost is charged for using DoubleVerify Pre-Bid. Billed through
              DV360.
            - The cost is charged for using Evidon. Billed by the partner.
            - >-
              The cost is charged for using Integral Ad Science Video. Billed by
              the partner.
            - >-
              The cost is charged for using Integral Ad Science Pre-Bid. Billed
              through DV360.
            - >-
              The cost is charged for using media cost data. Billed by the
              partner.
            - The cost is charged for using MOAT Video. Billed by the partner.
            - >-
              The cost is charged for using Nielsen Digital Ad Ratings. Billed
              through DV360.
            - The cost is charged for using ShopLocal. Billed by the partner.
            - The cost is charged for using Teracent. Billed by the partner.
            - >-
              The cost is charged for using a third-party ad server. Billed by
              the partner.
            - The cost is charged for using TrustMetrics. Billed by the partner.
            - The cost is charged for using Vizu. Billed by the partner.
            - The cost is charged for using AdLingo. Billed through DV360.
            - The cost is charged as custom fee 1. Billed by the partner.
            - The cost is charged as custom fee 2. Billed by the partner.
            - The cost is charged as custom fee 3. Billed by the partner.
            - The cost is charged as custom fee 4. Billed by the partner.
            - The cost is charged as custom fee 5. Billed by the partner.
          description: Required. The type of the partner cost.
          type: string
          enum:
            - PARTNER_COST_TYPE_UNSPECIFIED
            - PARTNER_COST_TYPE_ADLOOX
            - PARTNER_COST_TYPE_ADLOOX_PREBID
            - PARTNER_COST_TYPE_ADSAFE
            - PARTNER_COST_TYPE_ADXPOSE
            - PARTNER_COST_TYPE_AGGREGATE_KNOWLEDGE
            - PARTNER_COST_TYPE_AGENCY_TRADING_DESK
            - PARTNER_COST_TYPE_DV360_FEE
            - PARTNER_COST_TYPE_COMSCORE_VCE
            - PARTNER_COST_TYPE_DATA_MANAGEMENT_PLATFORM
            - PARTNER_COST_TYPE_DEFAULT
            - PARTNER_COST_TYPE_DOUBLE_VERIFY
            - PARTNER_COST_TYPE_DOUBLE_VERIFY_PREBID
            - PARTNER_COST_TYPE_EVIDON
            - PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO
            - PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_PREBID
            - PARTNER_COST_TYPE_MEDIA_COST_DATA
            - PARTNER_COST_TYPE_MOAT_VIDEO
            - PARTNER_COST_TYPE_NIELSEN_DAR
            - PARTNER_COST_TYPE_SHOP_LOCAL
            - PARTNER_COST_TYPE_TERACENT
            - PARTNER_COST_TYPE_THIRD_PARTY_AD_SERVER
            - PARTNER_COST_TYPE_TRUST_METRICS
            - PARTNER_COST_TYPE_VIZU
            - PARTNER_COST_TYPE_ADLINGO_FEE
            - PARTNER_COST_TYPE_CUSTOM_FEE_1
            - PARTNER_COST_TYPE_CUSTOM_FEE_2
            - PARTNER_COST_TYPE_CUSTOM_FEE_3
            - PARTNER_COST_TYPE_CUSTOM_FEE_4
            - PARTNER_COST_TYPE_CUSTOM_FEE_5
      type: object
      description: >-
        Settings that control a partner cost. A partner cost is any type of
        expense involved in running a campaign, other than the costs of
        purchasing impressions (which is called the media cost) and using
        third-party audience segment data (data fee). Some examples of partner
        costs include the fees for using DV360, a third-party ad server, or a
        third-party ad serving verification service.
      id: PartnerCost
    ContactInfoList:
      type: object
      id: ContactInfoList
      description: >-
        Wrapper message for a list of contact information defining Customer
        Match audience members.
      properties:
        contactInfos:
          type: array
          items:
            $ref: '#/components/schemas/ContactInfo'
          description: >-
            A list of ContactInfo objects defining Customer Match audience
            members. The size of members after splitting the contact_infos
            mustn't be greater than 500,000.
    CampaignBudget:
      type: object
      description: Settings that control how the campaign budget is allocated.
      id: CampaignBudget
      properties:
        budgetUnit:
          type: string
          enumDescriptions:
            - Type value is not specified or is unknown in this version.
            - Budgeting in currency amounts.
            - Budgeting in impression amounts.
          description: >-
            Required. Immutable. Specifies whether the budget is measured in
            currency or impressions.
          enum:
            - BUDGET_UNIT_UNSPECIFIED
            - BUDGET_UNIT_CURRENCY
            - BUDGET_UNIT_IMPRESSIONS
        budgetAmountMicros:
          format: int64
          description: >-
            Required. The total amount the linked insertion order segments can
            budget. The amount is in micros. Must be greater than 0. For
            example, 500000000 represents 500 standard units of the currency.
          type: string
        invoiceGroupingId:
          description: >-
            Immutable. The ID used to group budgets to be included the same
            invoice. If this field is set and the invoice level of the
            corresponding billing profile is set to "Budget invoice grouping
            ID", all external_budget_id sharing the same invoice_grouping_id
            will be grouped in the same invoice.
          type: string
        externalBudgetId:
          description: >-
            Immutable. The ID identifying this budget to the external source. If
            this field is set and the invoice detail level of the corresponding
            billing profile is set to "Budget level PO", all impressions served
            against this budget will include this ID on the invoice. Must be
            unique under the campaign.
          type: string
        budgetId:
          description: >-
            The unique ID of the campaign budget. Assigned by the system. Do not
            set for new budgets. Must be included when updating or adding
            budgets to campaign_budgets. Otherwise, a new ID will be generated
            and assigned.
          format: int64
          type: string
        externalBudgetSource:
          description: Required. The external source of the budget.
          enumDescriptions:
            - >-
              External budget source value is not specified or unknown in this
              version.
            - Budget has no external source.
            - Budget source is Mediaocean.
          type: string
          enum:
            - EXTERNAL_BUDGET_SOURCE_UNSPECIFIED
            - EXTERNAL_BUDGET_SOURCE_NONE
            - EXTERNAL_BUDGET_SOURCE_MEDIA_OCEAN
        dateRange:
          $ref: '#/components/schemas/DateRange'
          description: >-
            Required. The date range for the campaign budget. Linked budget
            segments may have a different date range. They are resolved relative
            to the parent advertiser's time zone. Both `start_date` and
            `end_date` must be before the year 2037.
        displayName:
          description: >-
            Required. The display name of the budget. Must be UTF-8 encoded with
            a maximum size of 240 bytes.
          type: string
        prismaConfig:
          $ref: '#/components/schemas/PrismaConfig'
          description: >-
            Additional metadata for use by the Mediaocean Prisma tool. Required
            for Mediaocean budgets. Only applicable to prisma_enabled
            advertisers.
    CmTrackingAd:
      id: CmTrackingAd
      properties:
        cmPlacementId:
          type: string
          description: The placement ID of the campaign manager 360 tracking Ad.
          format: int64
        cmAdId:
          description: The ad ID of the campaign manager 360 tracking Ad.
          format: int64
          type: string
        cmCreativeId:
          type: string
          format: int64
          description: The creative ID of the campaign manager 360 tracking Ad.
      description: A Campaign Manager 360 tracking ad.
      type: object
    GeoRegionTargetingOptionDetails:
      type: object
      id: GeoRegionTargetingOptionDetails
      description: >-
        Represents a targetable geographic region. This will be populated in the
        geo_region_details field when targeting_type is
        `TARGETING_TYPE_GEO_REGION`.
      properties:
        geoRegionType:
          type: string
          enumDescriptions:
            - The geographic region type is unknown.
            - The geographic region type is other.
            - The geographic region is a country.
            - The geographic region type is region.
            - The geographic region is a territory.
            - The geographic region is a province.
            - The geographic region is a state.
            - The geographic region is a prefecture.
            - The geographic region is a governorate.
            - The geographic region is a canton.
            - The geographic region is a union territory.
            - The geographic region is an autonomous community.
            - The geographic region is a designated market area (DMA) region.
            - The geographic region type is metro.
            - The geographic region is a congressional district.
            - The geographic region is a county.
            - The geographic region is a municipality.
            - The geographic region is a city.
            - The geographic region targeting type is postal code.
            - The geographic region targeting type is department.
            - The geographic region is an airport.
            - The geographic region is a TV region.
            - The geographic region is an okrug.
            - The geographic region is a borough.
            - The geographic region is a city region.
            - The geographic region is an arrondissement.
            - The geographic region is a neighborhood.
            - The geographic region is a university.
            - The geographic region is a district.
          enum:
            - GEO_REGION_TYPE_UNKNOWN
            - GEO_REGION_TYPE_OTHER
            - GEO_REGION_TYPE_COUNTRY
            - GEO_REGION_TYPE_REGION
            - GEO_REGION_TYPE_TERRITORY
            - GEO_REGION_TYPE_PROVINCE
            - GEO_REGION_TYPE_STATE
            - GEO_REGION_TYPE_PREFECTURE
            - GEO_REGION_TYPE_GOVERNORATE
            - GEO_REGION_TYPE_CANTON
            - GEO_REGION_TYPE_UNION_TERRITORY
            - GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY
            - GEO_REGION_TYPE_DMA_REGION
            - GEO_REGION_TYPE_METRO
            - GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT
            - GEO_REGION_TYPE_COUNTY
            - GEO_REGION_TYPE_MUNICIPALITY
            - GEO_REGION_TYPE_CITY
            - GEO_REGION_TYPE_POSTAL_CODE
            - GEO_REGION_TYPE_DEPARTMENT
            - GEO_REGION_TYPE_AIRPORT
            - GEO_REGION_TYPE_TV_REGION
            - GEO_REGION_TYPE_OKRUG
            - GEO_REGION_TYPE_BOROUGH
            - GEO_REGION_TYPE_CITY_REGION
            - GEO_REGION_TYPE_ARRONDISSEMENT
            - GEO_REGION_TYPE_NEIGHBORHOOD
            - GEO_REGION_TYPE_UNIVERSITY
            - GEO_REGION_TYPE_DISTRICT
          readOnly: true
          description: Output only. The type of geographic region targeting.
        displayName:
          readOnly: true
          description: >-
            Output only. The display name of the geographic region (e.g.,
            "Ontario, Canada").
          type: string
    LanguageAssignedTargetingOptionDetails:
      id: LanguageAssignedTargetingOptionDetails
      type: object
      description: >-
        Details for assigned language targeting option. This will be populated
        in the details field of an AssignedTargetingOption when targeting_type
        is `TARGETING_TYPE_LANGUAGE`.
      properties:
        targetingOptionId:
          type: string
          description: >-
            Required. The targeting_option_id of a TargetingOption of type
            `TARGETING_TYPE_LANGUAGE`.
        negative:
          description: >-
            Indicates if this option is being negatively targeted. All assigned
            language targeting options on the same resource must have the same
            value for this field.
          type: boolean
        displayName:
          type: string
          readOnly: true
          description: Output only. The display name of the language (e.g., "French").
    ExchangeTargetingOptionDetails:
      id: ExchangeTargetingOptionDetails
      properties:
        exchange:
          description: Output only. The type of exchange.
          enumDescriptions:
            - Exchange is not specified or is unknown in this version.
            - Google Ad Manager.
            - AppNexus.
            - BrightRoll Exchange for Video from Yahoo!.
            - Adform.
            - Admeta.
            - Admixer.
            - AdsMogo.
            - AdsWizz.
            - BidSwitch.
            - BrightRoll Exchange for Display from Yahoo!.
            - Cadreon.
            - Dailymotion.
[...]
