openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Manufacturer Center API
  description: Public API for managing Manufacturer Center related data.
  version: v1
  x-discovery-doc-revision: '20230602'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/manufacturers/
servers:
  - url: https://manufacturers.googleapis.com
components:
  schemas:
    Image:
      properties:
        imageUrl:
          type: string
          description: >-
            The URL of the image. For crawled images, this is the provided URL.
            For uploaded images, this is a serving URL from Google if the image
            has been processed successfully.
        status:
          enum:
            - STATUS_UNSPECIFIED
            - PENDING_PROCESSING
            - PENDING_CRAWL
            - OK
            - ROBOTED
            - XROBOTED
            - CRAWL_ERROR
            - PROCESSING_ERROR
            - DECODING_ERROR
            - TOO_BIG
            - CRAWL_SKIPPED
            - HOSTLOADED
            - HTTP_404
          type: string
          enumDescriptions:
            - The image status is unspecified. Should not be used.
            - The image was uploaded and is being processed.
            - The image crawl is still pending.
            - The image was processed and it meets the requirements.
            - >-
              The image URL is protected by robots.txt file and cannot be
              crawled.
            - The image URL is protected by X-Robots-Tag and cannot be crawled.
            - There was an error while crawling the image.
            - The image cannot be processed.
            - The image cannot be decoded.
            - The image is too big.
            - The image was manually overridden and will not be crawled.
            - The image crawl was postponed to avoid overloading the host.
            - The image URL returned a "404 Not Found" error.
          description: The status of the image. @OutputOnly
        type:
          enumDescriptions:
            - Type is unspecified. Should not be used.
            - The image was crawled from a provided URL.
            - The image was uploaded.
          enum:
            - TYPE_UNSPECIFIED
            - CRAWLED
            - UPLOADED
          description: The type of the image, i.e., crawled or uploaded. @OutputOnly
          type: string
      description: An image.
      id: Image
      type: object
    VoluntaryNutritionFact:
      description: Voluntary Nutrition Facts.
      properties:
        dailyPercentage:
          description: Daily percentage.
          type: number
          format: double
        value:
          description: Value.
          $ref: '#/components/schemas/FloatUnit'
        name:
          description: Name.
          type: string
      id: VoluntaryNutritionFact
      type: object
    DestinationStatus:
      properties:
        destination:
          description: The name of the destination.
          type: string
        status:
          description: The status of the destination.
          enum:
            - UNKNOWN
            - ACTIVE
            - PENDING
            - DISAPPROVED
          enumDescriptions:
            - Unspecified status, never used.
            - The product is used for this destination.
            - The decision is still pending.
            - The product is disapproved. Please look at the issues.
          type: string
      id: DestinationStatus
      type: object
      description: The destination status.
    Capacity:
      description: >-
        The capacity of a product. For more information, see
        https://support.google.com/manufacturers/answer/6124116#capacity.
      id: Capacity
      properties:
        unit:
          type: string
          description: The unit of the capacity, i.e., MB, GB, or TB.
        value:
          description: The numeric value of the capacity.
          format: int64
          type: string
      type: object
    ListProductsResponse:
      type: object
      id: ListProductsResponse
      properties:
        products:
          type: array
          description: List of the products.
          items:
            $ref: '#/components/schemas/Product'
        nextPageToken:
          description: The token for the retrieval of the next page of product statuses.
          type: string
    ProductDetail:
      properties:
        sectionName:
          type: string
          description: >-
            A short section name that can be reused between multiple product
            details.
        attributeName:
          description: The name of the attribute.
          type: string
        attributeValue:
          type: string
          description: The value of the attribute.
      description: >-
        A product detail of the product. For more information, see
        https://support.google.com/manufacturers/answer/6124116#productdetail.
      type: object
      id: ProductDetail
    FeatureDescription:
      id: FeatureDescription
      description: >-
        A feature description of the product. For more information, see
        https://support.google.com/manufacturers/answer/6124116#featuredesc.
      properties:
        image:
          $ref: '#/components/schemas/Image'
          description: An optional image describing the feature.
        headline:
          type: string
          description: A short description of the feature.
        text:
          description: A detailed description of the feature.
          type: string
      type: object
    Issue:
      description: Product issue.
      type: object
      properties:
        timestamp:
          type: string
          format: google-datetime
          description: The timestamp when this issue appeared.
        resolution:
          enum:
            - RESOLUTION_UNSPECIFIED
            - USER_ACTION
            - PENDING_PROCESSING
          enumDescriptions:
            - Unspecified resolution, never used.
            - >-
              The user who provided the data must act in order to resolve the
              issue (for example by correcting some data).
            - >-
              The issue will be resolved automatically (for example image crawl
              or Google review). No action is required now. Resolution might
              lead to another issue (for example if crawl fails).
          type: string
          description: What needs to happen to resolve the issue.
        title:
          type: string
          description: Short title describing the nature of the issue.
        attribute:
          type: string
          description: >-
            If present, the attribute that triggered the issue. For more
            information about attributes, see
            https://support.google.com/manufacturers/answer/6124116.
        destination:
          type: string
          description: The destination this issue applies to.
        severity:
          enumDescriptions:
            - Unspecified severity, never used.
            - Error severity. The issue prevents the usage of the whole item.
            - >-
              Warning severity. The issue is either one that prevents the usage
              of the attribute that triggered it or one that will soon prevent
              the usage of the whole item.
            - >-
              Info severity. The issue is one that doesn't require immediate
              attention. It is, for example, used to communicate which
              attributes are still pending review.
          description: The severity of the issue.
          type: string
          enum:
            - SEVERITY_UNSPECIFIED
            - ERROR
            - WARNING
            - INFO
        description:
          description: Longer description of the issue focused on how to resolve it.
          type: string
        type:
          description: >-
            The server-generated type of the issue, for example,
            “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.
          type: string
      id: Issue
    Empty:
      type: object
      id: Empty
      properties: {}
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
    Certification:
      description: Description of a certification.
      properties:
        validUntil:
          type: string
          description: Optional. The expiration date (UTC).
        link:
          description: Optional. A URL link to the certification.
          type: string
        logo:
          description: Optional. A URL link to the certification logo.
          type: string
        value:
          description: Required. A custom value of the certification.
          type: string
        name:
          type: string
          description: Required. Name of the certification.
        authority:
          description: Required. Name of the certification body.
          type: string
      type: object
      id: Certification
    ListProductCertificationsResponse:
      id: ListProductCertificationsResponse
      type: object
      properties:
        productCertifications:
          type: array
          description: The product certifications from the specified certification body.
          items:
            $ref: '#/components/schemas/ProductCertification'
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      description: Response for ListProductCertifications method.
    Nutrition:
      type: object
      properties:
        cholesterolDailyPercentage:
          format: double
          description: Cholesterol daily percentage.
          type: number
        cholesterol:
          description: Cholesterol.
          $ref: '#/components/schemas/FloatUnit'
        servingSizeMeasure:
          $ref: '#/components/schemas/FloatUnit'
          description: Serving size measure.
        iron:
          description: Iron.
          $ref: '#/components/schemas/FloatUnit'
        saturatedFat:
          $ref: '#/components/schemas/FloatUnit'
          description: Saturated fat.
        sodium:
          description: Sodium.
          $ref: '#/components/schemas/FloatUnit'
        calciumDailyPercentage:
          type: number
          description: Calcium daily percentage.
          format: double
        transFat:
          description: Trans fat.
          $ref: '#/components/schemas/FloatUnit'
        totalFatDailyPercentage:
          description: Total fat daily percentage.
          type: number
          format: double
        vitaminD:
          description: Vitamin D.
          $ref: '#/components/schemas/FloatUnit'
        energy:
          $ref: '#/components/schemas/FloatUnit'
          description: Mandatory Nutrition Facts. Energy.
        dietaryFiberDailyPercentage:
          description: Dietary fiber daily percentage.
          type: number
          format: double
        servingSizeDescription:
          type: string
          description: Food Serving Size. Serving size description.
        folateFolicAcid:
          description: Folate folic acid.
          $ref: '#/components/schemas/FloatUnit'
        totalCarbohydrateDailyPercentage:
          format: double
          type: number
          description: Total carbohydrate daily percentage.
        nutritionFactMeasure:
          description: Nutrition fact measure.
          type: string
        vitaminDDailyPercentage:
          type: number
          description: Vitamin D daily percentage.
          format: double
        polyols:
          $ref: '#/components/schemas/FloatUnit'
          description: Polyols.
        transFatDailyPercentage:
          description: Trans fat daily percentage.
          type: number
          format: double
        protein:
          description: Protein.
          $ref: '#/components/schemas/FloatUnit'
        addedSugarsDailyPercentage:
          type: number
          description: Added sugars daily percentage.
          format: double
        totalFat:
          description: Total fat.
          $ref: '#/components/schemas/FloatUnit'
        totalCarbohydrate:
          description: Total carbohydrate.
          $ref: '#/components/schemas/FloatUnit'
        polyunsaturatedFat:
          description: Polyunsaturated fat.
          $ref: '#/components/schemas/FloatUnit'
        totalSugars:
          $ref: '#/components/schemas/FloatUnit'
          description: Total sugars.
        servingsPerContainer:
          type: string
          description: Servings per container.
        potassium:
          $ref: '#/components/schemas/FloatUnit'
          description: Potassium.
        ironDailyPercentage:
          description: Iron daily percentage.
          format: double
          type: number
        folateMcgDfe:
          type: number
          description: Folate mcg DFE.
          format: double
        monounsaturatedFat:
          description: Monounsaturated fat.
          $ref: '#/components/schemas/FloatUnit'
        preparedSizeDescription:
          type: string
          description: Prepared size description.
        addedSugars:
          description: Added sugars.
          $ref: '#/components/schemas/FloatUnit'
        sodiumDailyPercentage:
          description: Sodium daily percentage.
          type: number
          format: double
        dietaryFiber:
          description: Dietary fiber.
          $ref: '#/components/schemas/FloatUnit'
        potassiumDailyPercentage:
          format: double
          type: number
          description: Potassium daily percentage.
        totalSugarsDailyPercentage:
          description: Total sugars daily percentage.
          format: double
          type: number
        calcium:
          description: Calcium.
          $ref: '#/components/schemas/FloatUnit'
        folateDailyPercentage:
          description: Folate daily percentage.
          type: number
          format: double
        proteinDailyPercentage:
          type: number
          format: double
          description: Protein daily percentage.
        energyFromFat:
          description: Energy from fat.
          $ref: '#/components/schemas/FloatUnit'
        saturatedFatDailyPercentage:
          description: Saturated fat daily percentage.
          type: number
          format: double
        starch:
          description: Starch.
          $ref: '#/components/schemas/FloatUnit'
        voluntaryNutritionFact:
          description: Voluntary nutrition fact.
          type: array
          items:
            $ref: '#/components/schemas/VoluntaryNutritionFact'
      id: Nutrition
    Attributes:
      properties:
        gtin:
          items:
            type: string
          type: array
          description: >-
            The Global Trade Item Number (GTIN) of the product. For more
            information, see
            https://support.google.com/manufacturers/answer/6124116#gtin.
        size:
          description: >-
            The size of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#size.
          type: string
        excludedDestination:
          items:
            type: string
          type: array
          description: >-
            A list of excluded destinations such as "ClientExport",
            "ClientShoppingCatalog" or "PartnerShoppingCatalog". For more
            information, see
            https://support.google.com/manufacturers/answer/7443550
        includedDestination:
          items:
            type: string
          type: array
          description: >-
            A list of included destinations such as "ClientExport",
            "ClientShoppingCatalog" or "PartnerShoppingCatalog". For more
            information, see
            https://support.google.com/manufacturers/answer/7443550
        productPageUrl:
          type: string
          description: >-
            The URL of the detail page of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#productpage.
        capacity:
          description: >-
            The capacity of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#capacity.
          $ref: '#/components/schemas/Capacity'
        brand:
          description: >-
            The brand name of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#brand.
          type: string
        featureDescription:
          description: >-
            The rich format description of the product. For more information,
            see
            https://support.google.com/manufacturers/answer/6124116#featuredesc.
          type: array
          items:
            $ref: '#/components/schemas/FeatureDescription'
        releaseDate:
          description: >-
            The release date of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#release.
          type: string
        productLine:
          type: string
          description: >-
            The name of the group of products related to the product. For more
            information, see
            https://support.google.com/manufacturers/answer/6124116#productline.
        grocery:
          description: >-
            Grocery Attributes. See more at
            https://support.google.com/manufacturers/answer/12098458#grocery.
          $ref: '#/components/schemas/Grocery'
        richProductContent:
          type: array
          description: >-
            Rich product content. For more information, see
            https://support.google.com/manufacturers/answer/9389865
          items:
            type: string
        imageLink:
          $ref: '#/components/schemas/Image'
          description: >-
            The image of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#image.
        sizeSystem:
          description: >-
            The size system of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#sizesystem.
          type: string
        material:
          description: >-
            The material of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#material.
          type: string
        productDetail:
          items:
            $ref: '#/components/schemas/ProductDetail'
          type: array
          description: >-
            The details of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#productdetail.
        title:
          description: >-
            The title of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#title.
          type: string
        videoLink:
          type: array
          items:
            type: string
          description: >-
            The videos of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#video.
        mpn:
          type: string
          description: >-
            The Manufacturer Part Number (MPN) of the product. For more
            information, see
            https://support.google.com/manufacturers/answer/6124116#mpn.
        pattern:
          description: >-
            The pattern of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#pattern.
          type: string
        disclosureDate:
          type: string
          description: >-
            The disclosure date of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#disclosure.
        additionalImageLink:
          description: >-
            The additional images of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#addlimage.
          type: array
          items:
            $ref: '#/components/schemas/Image'
        targetClientId:
          type: string
          description: >-
            The target client id. Should only be used in the accounts of the
            data partners. For more information, see
            https://support.google.com/manufacturers/answer/10857344
        sizeType:
          description: >-
            The size type of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#sizetype.
          items:
            type: string
          type: array
        ageGroup:
          type: string
          description: >-
            The target age group of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#agegroup.
        suggestedRetailPrice:
          description: >-
            The suggested retail price (MSRP) of the product. For more
            information, see
            https://support.google.com/manufacturers/answer/6124116#price.
          $ref: '#/components/schemas/Price'
        productName:
          type: string
          description: >-
            The canonical name of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#productname.
        scent:
          type: string
          description: >-
            The scent of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#scent.
        color:
          type: string
          description: >-
            The color of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#color.
        format:
          type: string
          description: >-
            The format of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#format.
        virtualModelLink:
          description: Virtual Model (3d) asset link.
          type: string
        theme:
          description: >-
            The theme of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#theme.
          type: string
        gender:
          description: >-
            The target gender of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#gender.
          type: string
        flavor:
          type: string
          description: >-
            The flavor of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#flavor.
        productHighlight:
          type: array
          items:
            type: string
          description: >-
            The product highlights. For more information, see
            https://support.google.com/manufacturers/answer/10066942
        itemGroupId:
          type: string
          description: >-
            The item group id of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#itemgroupid.
        description:
          description: >-
            The description of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#description.
          type: string
        nutrition:
          $ref: '#/components/schemas/Nutrition'
          description: >-
            Nutrition Attributes. See more at
            https://support.google.com/manufacturers/answer/12098458#food-servings.
        productType:
          description: >-
            The type or category of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#producttype.
          type: array
          items:
            type: string
        count:
          description: >-
            The count of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#count.
          $ref: '#/components/schemas/Count'
      description: >-
        Attributes of the product. For more information, see
        https://support.google.com/manufacturers/answer/6124116.
      type: object
      id: Attributes
    FloatUnit:
      id: FloatUnit
      description: Combination of float amount and unit.
      type: object
      properties:
        unit:
          type: string
          description: unit.
        amount:
          type: number
          format: double
          description: amount.
    Count:
      properties:
        unit:
          type: string
          description: The unit in which these products are counted.
        value:
          format: int64
          type: string
          description: The numeric value of the number of products in a package.
      id: Count
      description: >-
        The number of products in a single package. For more information, see
        https://support.google.com/manufacturers/answer/6124116#count.
      type: object
    ProductCertification:
      description: Product certification data.
      properties:
        destinationStatuses:
          description: Output only. The statuses of the destinations.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/DestinationStatus'
        certification:
          type: array
          items:
            $ref: '#/components/schemas/Certification'
          description: Required. A list of certifications to link to the described product.
        productCode:
          items:
            type: string
          description: Optional. Another name for GTIN.
          type: array
        issues:
          type: array
          description: >-
            Output only. A server-generated list of issues associated with the
            product.
          readOnly: true
          items:
            $ref: '#/components/schemas/Issue'
        title:
          type: string
          description: >-
            Required. This is to clearly identify the product you are
            certifying.
        mpn:
          items:
            type: string
          type: array
          description: >-
            Optional. These are the Manufacturer Part Numbers (MPN). MPNs are
            used to uniquely identify a specific product among all products from
            the same manufacturer
        countryCode:
          items:
            type: string
          description: Optional. A 2-letter country code (ISO 3166-1 Alpha 2).
          type: array
        productType:
          description: >-
            Optional. These are your own product categorization system in your
            product data.
          type: array
          items:
            type: string
        name:
          description: >-
            Required. The unique name identifier of a product certification
            Format:
            accounts/{account}/languages/{language_code}/productCertifications/{id}
            Where `id` is a some unique identifier and `language_code` is a
            2-letter ISO 639-1 code of a Shopping supported language according
            to https://support.google.com/merchants/answer/160637.
          type: string
        brand:
          type: string
          description: >-
            Required. This is the product's brand name. The brand is used to
            help identify your product.
      type: object
      id: ProductCertification
    Price:
      type: object
      id: Price
      properties:
        currency:
          type: string
          description: The currency in which the price is denoted.
        amount:
          type: string
          description: The numeric value of the price.
      description: A price.
    Grocery:
      id: Grocery
      properties:
        allergens:
          type: string
          description: Allergens.
        alcoholByVolume:
          description: Alcohol by volume.
          format: double
          type: number
        nutritionClaim:
          description: Nutrition claim.
          items:
            type: string
          type: array
        directions:
          description: Directions.
          type: string
        storageInstructions:
          description: Storage instructions.
          type: string
        ingredients:
          description: Ingredients.
          type: string
        indications:
          type: string
          description: Indications.
        activeIngredients:
          description: Active ingredients.
          type: string
        derivedNutritionClaim:
          items:
            type: string
          type: array
          description: Derived nutrition claim.
      type: object
    Product:
      properties:
        contentLanguage:
          description: >-
            The content language of the product as a two-letter ISO 639-1
            language code (for example, en).
          type: string
        attributes:
          description: >-
            Attributes of the product uploaded to the Manufacturer Center.
            Manually edited attributes are taken into account.
          $ref: '#/components/schemas/Attributes'
        issues:
          type: array
          description: A server-generated list of issues associated with the product.
          items:
            $ref: '#/components/schemas/Issue'
        targetCountry:
          description: >-
            The target country of the product as a CLDR territory code (for
            example, US).
          type: string
        productId:
          description: >-
            The ID of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#id.
          type: string
        destinationStatuses:
          type: array
          items:
            $ref: '#/components/schemas/DestinationStatus'
          description: The status of the destinations.
        name:
          description: >-
            Name in the format
            `{target_country}:{content_language}:{product_id}`. `target_country`
            - The target country of the product as a CLDR territory code (for
            example, US). `content_language` - The content language of the
            product as a two-letter ISO 639-1 language code (for example, en).
            `product_id` - The ID of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#id.
          type: string
        parent:
          description: >-
            Parent ID in the format `accounts/{account_id}`. `account_id` - The
            ID of the Manufacturer Center account.
          type: string
      id: Product
      description: Product data.
      type: object
  parameters:
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/manufacturercenter: Manage your product listings for Google Manufacturer Center
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/accounts/{accountsId}/languages/{languagesId}/productCertifications:
    parameters: &ref_1
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
    get:
      description: >-
        Lists product certifications from a specified certification body. This
        method can only be called by certification bodies.
      operationId: manufacturers.accounts.languages.productCertifications.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProductCertificationsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: languagesId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: product_certifications
      x-stackQL-verb: select
  /v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}:
    parameters: *ref_1
    get:
      description: >-
        Gets a product certification by its name. This method can only be called
        by certification bodies.
      operationId: manufacturers.accounts.languages.productCertifications.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCertification'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: languagesId
          required: true
          schema:
            type: string
        - in: path
          name: productCertificationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: product_certifications
      x-stackQL-verb: select
    delete:
      description: >-
        Deletes a product certification by its name. This method can only be
        called by certification bodies.
      operationId: manufacturers.accounts.languages.productCertifications.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: languagesId
          required: true
          schema:
            type: string
        - in: path
          name: productCertificationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: product_certifications
      x-stackQL-verb: delete
    patch:
      description: >-
        Updates (or creates if allow_missing = true) a product certification
        which links certifications with products. This method can only be called
        by certification bodies.
      operationId: manufacturers.accounts.languages.productCertifications.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCertification'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCertification'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: languagesId
          required: true
          schema:
            type: string
        - in: path
          name: productCertificationsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: product_certifications
      x-stackQL-verb: exec
  /v1/accounts/{accountsId}/products/{productsId}:
    parameters: *ref_1
    get:
      description: >-
        Gets the product from a Manufacturer Center account, including product
        issues. A recently updated product takes around 15 minutes to process.
        Changes are only visible after it has been processed. While some issues
        may be available once the product has been processed, other issues may
        take days to appear.
      operationId: manufacturers.accounts.products.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: productsId
          required: true
          schema:
            type: string
        - in: query
          name: include
          schema:
            type: string
      x-stackQL-resource: products
      x-stackQL-verb: select
    delete:
      description: Deletes the product from a Manufacturer Center account.
      operationId: manufacturers.accounts.products.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: productsId
          required: true
          schema:
            type: string
      x-stackQL-resource: products
      x-stackQL-verb: delete
    put:
      description: >-
        Inserts or updates the attributes of the product in a Manufacturer
        Center account. Creates a product with the provided attributes. If the
        product already exists, then all attributes are replaced with the new
        ones. The checks at upload time are minimal. All required attributes
        need to be present for a product to be valid. Issues may show up later
        after the API has accepted a new upload for a product and it is possible
        to overwrite an existing valid product with an invalid product. To
        detect this, you should retrieve the product and check it for issues
        once the new version is available. Uploaded attributes first need to be
        processed before they can be retrieved. Until then, new products will be
        unavailable, and retrieval of previously uploaded products will return
        the original state of the product.
      operationId: manufacturers.accounts.products.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attributes'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: productsId
          required: true
          schema:
            type: string
      x-stackQL-resource: products
      x-stackQL-verb: exec
  /v1/accounts/{accountsId}/products:
    parameters: *ref_1
    get:
      description: Lists all the products in a Manufacturer Center account.
      operationId: manufacturers.accounts.products.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProductsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: query
          name: include
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: products
      x-stackQL-verb: select
