openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: BigQuery Reservation API
  description: A service to modify your BigQuery flat-rate reservations.
  version: v1
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/bigquery/
servers:
  - url: https://bigqueryreservation.googleapis.com
components:
  schemas:
    SplitCapacityCommitmentRequest:
      description: The request for ReservationService.SplitCapacityCommitment.
      type: object
      properties:
        slotCount:
          format: int64
          description: Number of slots in the capacity commitment after the split.
          type: string
      id: SplitCapacityCommitmentRequest
    TableReference:
      description: >-
        Fully qualified reference to BigQuery table. Internally stored as
        google.cloud.bi.v1.BqTableReference.
      type: object
      id: TableReference
      properties:
        datasetId:
          description: The ID of the dataset in the above project.
          type: string
        tableId:
          type: string
          description: The ID of the table in the above dataset.
        projectId:
          type: string
          description: The assigned project ID of the project.
    SplitCapacityCommitmentResponse:
      id: SplitCapacityCommitmentResponse
      type: object
      description: The response for ReservationService.SplitCapacityCommitment.
      properties:
        second:
          $ref: '#/components/schemas/CapacityCommitment'
          description: Second capacity commitment, result of a split.
        first:
          description: First capacity commitment, result of a split.
          $ref: '#/components/schemas/CapacityCommitment'
    SearchAllAssignmentsResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
        assignments:
          type: array
          description: List of assignments visible to the user.
          items:
            $ref: '#/components/schemas/Assignment'
      description: The response for ReservationService.SearchAllAssignments.
      type: object
      id: SearchAllAssignmentsResponse
    MoveAssignmentRequest:
      properties:
        assignmentId:
          description: >-
            The optional assignment ID. A new assignment name is generated if
            this field is empty. This field can contain only lowercase
            alphanumeric characters or dashes. Max length is 64 characters.
          type: string
        destinationId:
          description: >-
            The new reservation ID, e.g.:
            `projects/myotherproject/locations/US/reservations/team2-prod`
          type: string
      description: >-
        The request for ReservationService.MoveAssignment. **Note**:
        "bigquery.reservationAssignments.create" permission is required on the
        destination_id. **Note**: "bigquery.reservationAssignments.create" and
        "bigquery.reservationAssignments.delete" permission are required on the
        related assignee.
      id: MoveAssignmentRequest
      type: object
    BiReservation:
      properties:
        size:
          type: string
          format: int64
          description: Size of a reservation, in bytes.
        preferredTables:
          items:
            $ref: '#/components/schemas/TableReference'
          type: array
          description: Preferred tables to use BI capacity for.
        updateTime:
          readOnly: true
          format: google-datetime
          description: Output only. The last update timestamp of a reservation.
          type: string
        name:
          description: >-
            The resource name of the singleton BI reservation. Reservation names
            have the form
            `projects/{project_id}/locations/{location_id}/biReservation`.
          type: string
      description: Represents a BI Reservation.
      id: BiReservation
      type: object
    Assignment:
      properties:
        jobType:
          description: Which type of jobs will use the reservation.
          enum:
            - JOB_TYPE_UNSPECIFIED
            - PIPELINE
            - QUERY
            - ML_EXTERNAL
            - BACKGROUND
          enumDescriptions:
            - >-
              Invalid type. Requests with this value will be rejected with error
              code `google.rpc.Code.INVALID_ARGUMENT`.
            - >-
              Pipeline (load/export) jobs from the project will use the
              reservation.
            - Query jobs from the project will use the reservation.
            - >-
              BigQuery ML jobs that use services external to BigQuery for model
              training. These jobs will not utilize idle slots from other
              reservations.
            - >-
              Background jobs that BigQuery runs for the customers in the
              background.
          type: string
        state:
          description: Output only. State of the assignment.
          enumDescriptions:
            - Invalid state value.
            - >-
              Queries from assignee will be executed as on-demand, if related
              assignment is pending.
            - Assignment is ready.
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - ACTIVE
          type: string
          readOnly: true
        name:
          readOnly: true
          type: string
          description: >-
            Output only. Name of the resource. E.g.:
            `projects/myproject/locations/US/reservations/team1-prod/assignments/123`.
            The assignment_id must only contain lower case alphanumeric
            characters or dashes and the max length is 64 characters.
        assignee:
          description: >-
            The resource which will use the reservation. E.g.
            `projects/myproject`, `folders/123`, or `organizations/456`.
          type: string
      id: Assignment
      type: object
      description: >-
        An assignment allows a project to submit jobs of a certain type using
        slots from the specified reservation.
    ListAssignmentsResponse:
      type: object
      id: ListAssignmentsResponse
      properties:
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
        assignments:
          description: List of assignments visible to the user.
          type: array
          items:
            $ref: '#/components/schemas/Assignment'
      description: The response for ReservationService.ListAssignments.
    SearchAssignmentsResponse:
      properties:
        assignments:
          description: List of assignments visible to the user.
          items:
            $ref: '#/components/schemas/Assignment'
          type: array
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
      description: The response for ReservationService.SearchAssignments.
      id: SearchAssignmentsResponse
      type: object
    MergeCapacityCommitmentsRequest:
      description: The request for ReservationService.MergeCapacityCommitments.
      properties:
        capacityCommitmentIds:
          type: array
          items:
            type: string
          description: >-
            Ids of capacity commitments to merge. These capacity commitments
            must exist under admin project and location specified in the parent.
            ID is the last portion of capacity commitment name e.g., 'abc' for
            projects/myproject/locations/US/capacityCommitments/abc
      id: MergeCapacityCommitmentsRequest
      type: object
    Empty:
      properties: {}
      id: Empty
      type: object
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
    Autoscale:
      type: object
      id: Autoscale
      properties:
        maxSlots:
          format: int64
          type: string
          description: Number of slots to be scaled when needed.
        currentSlots:
          readOnly: true
          format: int64
          type: string
          description: >-
            Output only. The slot capacity added to this reservation when
            autoscale happens. Will be between [0, max_slots].
      description: Auto scaling settings.
    CapacityCommitment:
      type: object
      id: CapacityCommitment
      description: >-
        Capacity commitment is a way to purchase compute capacity for BigQuery
        jobs (in the form of slots) with some committed period of usage. Annual
        commitments renew by default. Commitments can be removed after their
        commitment end time passes. In order to remove annual commitment, its
        plan needs to be changed to monthly or flex first. A capacity commitment
        resource exists as a child resource of the admin project.
      properties:
        commitmentEndTime:
          type: string
          readOnly: true
          description: >-
            Output only. The end of the current commitment period. It is
            applicable only for ACTIVE capacity commitments.
          format: google-datetime
        multiRegionAuxiliary:
          type: boolean
          description: >-
            Applicable only for commitments located within one of the BigQuery
            multi-regions (US or EU). If set to true, this commitment is placed
            in the organization's secondary region which is designated for
            disaster recovery purposes. If false, this commitment is placed in
            the organization's default region. NOTE: this is a preview feature.
            Project must be allow-listed in order to set this field.
        commitmentStartTime:
          type: string
          description: >-
            Output only. The start of the current commitment period. It is
            applicable only for ACTIVE capacity commitments.
          readOnly: true
          format: google-datetime
        isFlatRate:
          description: >-
            Output only. If true, the commitment is a flat-rate commitment,
            otherwise, it's an edition commitment.
          type: boolean
          readOnly: true
        slotCount:
          format: int64
          description: Number of slots in this commitment.
          type: string
        renewalPlan:
          enum:
            - COMMITMENT_PLAN_UNSPECIFIED
            - FLEX
            - FLEX_FLAT_RATE
            - TRIAL
            - MONTHLY
            - MONTHLY_FLAT_RATE
            - ANNUAL
            - ANNUAL_FLAT_RATE
            - THREE_YEAR
            - NONE
          type: string
          description: >-
            The plan this capacity commitment is converted to after
            commitment_end_time passes. Once the plan is changed, committed
            period is extended according to commitment plan. Only applicable for
            ANNUAL and TRIAL commitments.
          enumDescriptions:
            - >-
              Invalid plan value. Requests with this value will be rejected with
              error code `google.rpc.Code.INVALID_ARGUMENT`.
            - >-
              Flex commitments have committed period of 1 minute after becoming
              ACTIVE. After that, they are not in a committed period anymore and
              can be removed any time.
            - >-
              Same as FLEX, should only be used if flat-rate commitments are
              still available.
            - >-
              Trial commitments have a committed period of 182 days after
              becoming ACTIVE. After that, they are converted to a new
              commitment based on the `renewal_plan`. Default `renewal_plan` for
              Trial commitment is Flex so that it can be deleted right after
              committed period ends.
            - >-
              Monthly commitments have a committed period of 30 days after
              becoming ACTIVE. After that, they are not in a committed period
              anymore and can be removed any time.
            - >-
              Same as MONTHLY, should only be used if flat-rate commitments are
              still available.
            - >-
              Annual commitments have a committed period of 365 days after
              becoming ACTIVE. After that they are converted to a new commitment
              based on the renewal_plan.
            - >-
              Same as ANNUAL, should only be used if flat-rate commitments are
              still available.
            - >-
              3-year commitments have a committed period of 1095(3 * 365) days
              after becoming ACTIVE. After that they are converted to a new
              commitment based on the renewal_plan.
            - >-
              Should only be used for `renewal_plan` and is only meaningful if
              edition is specified to values other than EDITION_UNSPECIFIED.
              Otherwise CreateCapacityCommitmentRequest or
              UpdateCapacityCommitmentRequest will be rejected with error code
              `google.rpc.Code.INVALID_ARGUMENT`. If the renewal_plan is NONE,
              capacity commitment will be removed at the end of its commitment
              period.
        name:
          readOnly: true
          description: >-
            Output only. The resource name of the capacity commitment, e.g.,
            `projects/myproject/locations/US/capacityCommitments/123` The
            commitment_id must only contain lower case alphanumeric characters
            or dashes. It must start with a letter and must not end with a dash.
            Its maximum length is 64 characters.
          type: string
        state:
          readOnly: true
          type: string
          enumDescriptions:
            - Invalid state value.
            - >-
              Capacity commitment is pending provisioning. Pending capacity
              commitment does not contribute to the project's slot_capacity.
            - >-
              Once slots are provisioned, capacity commitment becomes active.
              slot_count is added to the project's slot_capacity.
            - Capacity commitment is failed to be activated by the backend.
          description: Output only. State of the commitment.
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - ACTIVE
            - FAILED
        failureStatus:
          readOnly: true
          $ref: '#/components/schemas/Status'
          description: >-
            Output only. For FAILED commitment plan, provides the reason of
            failure.
        edition:
          description: Edition of the capacity commitment.
          type: string
          enumDescriptions:
            - Default value, which will be treated as ENTERPRISE.
            - Standard edition.
            - Enterprise edition.
            - Enterprise plus edition.
          enum:
            - EDITION_UNSPECIFIED
            - STANDARD
            - ENTERPRISE
            - ENTERPRISE_PLUS
        plan:
          enumDescriptions:
            - >-
              Invalid plan value. Requests with this value will be rejected with
              error code `google.rpc.Code.INVALID_ARGUMENT`.
            - >-
              Flex commitments have committed period of 1 minute after becoming
              ACTIVE. After that, they are not in a committed period anymore and
              can be removed any time.
            - >-
              Same as FLEX, should only be used if flat-rate commitments are
              still available.
            - >-
              Trial commitments have a committed period of 182 days after
              becoming ACTIVE. After that, they are converted to a new
              commitment based on the `renewal_plan`. Default `renewal_plan` for
              Trial commitment is Flex so that it can be deleted right after
              committed period ends.
            - >-
              Monthly commitments have a committed period of 30 days after
              becoming ACTIVE. After that, they are not in a committed period
              anymore and can be removed any time.
            - >-
              Same as MONTHLY, should only be used if flat-rate commitments are
              still available.
            - >-
              Annual commitments have a committed period of 365 days after
              becoming ACTIVE. After that they are converted to a new commitment
              based on the renewal_plan.
            - >-
              Same as ANNUAL, should only be used if flat-rate commitments are
              still available.
            - >-
              3-year commitments have a committed period of 1095(3 * 365) days
              after becoming ACTIVE. After that they are converted to a new
              commitment based on the renewal_plan.
            - >-
              Should only be used for `renewal_plan` and is only meaningful if
              edition is specified to values other than EDITION_UNSPECIFIED.
              Otherwise CreateCapacityCommitmentRequest or
              UpdateCapacityCommitmentRequest will be rejected with error code
              `google.rpc.Code.INVALID_ARGUMENT`. If the renewal_plan is NONE,
              capacity commitment will be removed at the end of its commitment
              period.
          enum:
            - COMMITMENT_PLAN_UNSPECIFIED
            - FLEX
            - FLEX_FLAT_RATE
            - TRIAL
            - MONTHLY
            - MONTHLY_FLAT_RATE
            - ANNUAL
            - ANNUAL_FLAT_RATE
            - THREE_YEAR
            - NONE
          type: string
          description: Capacity commitment commitment plan.
    ListReservationsResponse:
      description: The response for ReservationService.ListReservations.
      id: ListReservationsResponse
      properties:
        reservations:
          items:
            $ref: '#/components/schemas/Reservation'
          type: array
          description: List of reservations visible to the user.
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
      type: object
    ListCapacityCommitmentsResponse:
      description: The response for ReservationService.ListCapacityCommitments.
      properties:
        capacityCommitments:
          description: List of capacity commitments visible to the user.
          type: array
          items:
            $ref: '#/components/schemas/CapacityCommitment'
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
      type: object
      id: ListCapacityCommitmentsResponse
    Status:
      properties:
        code:
          format: int32
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
        message:
          type: string
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
        details:
          type: array
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
            type: object
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
      type: object
      id: Status
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
    Reservation:
      type: object
      properties:
        autoscale:
          description: The configuration parameters for the auto scaling feature.
          $ref: '#/components/schemas/Autoscale'
        slotCapacity:
          description: >-
            Baseline slots available to this reservation. A slot is a unit of
            computational power in BigQuery, and serves as the unit of
            parallelism. Queries using this reservation might use more slots
            during runtime if ignore_idle_slots is set to false, or autoscaling
            is enabled. If edition is EDITION_UNSPECIFIED and total
            slot_capacity of the reservation and its siblings exceeds the total
            slot_count of all capacity commitments, the request will fail with
            `google.rpc.Code.RESOURCE_EXHAUSTED`. If edition is any value but
            EDITION_UNSPECIFIED, then the above requirement is not needed. The
            total slot_capacity of the reservation and its siblings may exceed
            the total slot_count of capacity commitments. In that case, the
            exceeding slots will be charged with the autoscale SKU. You can
            increase the number of baseline slots in a reservation every few
            minutes. If you want to decrease your baseline slots, you are
            limited to once an hour if you have recently changed your baseline
            slot capacity and your baseline slots exceed your committed slots.
            Otherwise, you can decrease your baseline slots every few minutes.
            NOTE: for reservations in US or EU multi-regions, slot capacity
            constraints are checked separately for default and auxiliary
            regions. See multi_region_auxiliary flag for more details.
          type: string
          format: int64
        edition:
          type: string
          enumDescriptions:
            - Default value, which will be treated as ENTERPRISE.
            - Standard edition.
            - Enterprise edition.
            - Enterprise plus edition.
          enum:
            - EDITION_UNSPECIFIED
            - STANDARD
            - ENTERPRISE
            - ENTERPRISE_PLUS
          description: Edition of the reservation.
        creationTime:
          format: google-datetime
          type: string
          description: Output only. Creation time of the reservation.
          readOnly: true
        name:
          type: string
          description: >-
            The resource name of the reservation, e.g.,
            `projects/*/locations/*/reservations/team1-prod`. The reservation_id
            must only contain lower case alphanumeric characters or dashes. It
            must start with a letter and must not end with a dash. Its maximum
            length is 64 characters.
        multiRegionAuxiliary:
          description: >-
            Applicable only for reservations located within one of the BigQuery
            multi-regions (US or EU). If set to true, this reservation is placed
            in the organization's secondary region which is designated for
            disaster recovery purposes. If false, this reservation is placed in
            the organization's default region. NOTE: this is a preview feature.
            Project must be allow-listed in order to set this field.
          type: boolean
        updateTime:
          format: google-datetime
          description: Output only. Last update time of the reservation.
          readOnly: true
          type: string
        concurrency:
          description: >-
            Job concurrency target which sets a soft upper bound on the number
            of jobs that can run concurrently in this reservation. This is a
            soft target due to asynchronous nature of the system and various
            optimizations for small queries. Default value is 0 which means that
            concurrency target will be automatically computed by the system.
            NOTE: this field is exposed as `target_job_concurrency` in the
            Information Schema, DDL and BQ CLI.
          type: string
          format: int64
        ignoreIdleSlots:
          description: >-
            If false, any query or pipeline job using this reservation will use
            idle slots from other reservations within the same admin project. If
            true, a query or pipeline job using this reservation will execute
            with the slot capacity specified in the slot_capacity field at most.
          type: boolean
      description: A reservation is a mechanism used to guarantee slots to users.
      id: Reservation
  parameters:
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/bigquery: >-
              View and manage your data in Google BigQuery and see the email
              address for your Google Account
            https://www.googleapis.com/auth/cloud-platform: >-
              See, edit, configure, and delete your Google Cloud data and see
              the email address for your Google Account.
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/projects/{projectsId}/locations/{locationsId}/reservations:
    parameters: &ref_1
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      description: Lists all the reservations for the project in the specified location.
      operationId: bigqueryreservation.projects.locations.reservations.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReservationsResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: reservations
      x-stackQL-verb: select
    post:
      description: Creates a new reservation resource.
      operationId: bigqueryreservation.projects.locations.reservations.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reservation'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: reservationId
          schema:
            type: string
      x-stackQL-resource: reservations
      x-stackQL-verb: insert
  /v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}:
    parameters: *ref_1
    delete:
      description: >-
        Deletes a reservation. Returns `google.rpc.Code.FAILED_PRECONDITION`
        when reservation has assignments.
      operationId: bigqueryreservation.projects.locations.reservations.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: reservationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: reservations
      x-stackQL-verb: delete
    get:
      description: Returns information about the reservation.
      operationId: bigqueryreservation.projects.locations.reservations.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: reservationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: reservations
      x-stackQL-verb: select
    patch:
      description: Updates an existing reservation resource.
      operationId: bigqueryreservation.projects.locations.reservations.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reservation'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: reservationsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: reservations
      x-stackQL-verb: exec
  /v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments:
    parameters: *ref_1
    get:
      description: >-
        Lists assignments. Only explicitly created assignments will be returned.
        Example: * Organization `organizationA` contains two projects,
        `project1` and `project2`. * Reservation `res1` exists and was created
        previously. * CreateAssignment was used previously to define the
        following associations between entities and reservations: `` and `` In
        this example, ListAssignments will just return the above two assignments
        for reservation `res1`, and no expansion/merge will happen. The wildcard
        "-" can be used for reservations in the request. In that case all
        assignments belongs to the specified project and location will be
        listed. **Note** "-" cannot be used for projects nor locations.
      operationId: bigqueryreservation.projects.locations.reservations.assignments.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssignmentsResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: reservationsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: assignments
      x-stackQL-verb: select
    post:
      description: >-
        Creates an assignment object which allows the given project to submit
        jobs of a certain type using slots from the specified reservation.
        Currently a resource (project, folder, organization) can only have one
        assignment per each (job_type, location) combination, and that
        reservation will be used for all jobs of the matching type. Different
        assignments can be created on different levels of the projects, folders
        or organization hierarchy. During query execution, the assignment is
        looked up at the project, folder and organization levels in that order.
        The first assignment found is applied to the query. When creating
        assignments, it does not matter if other assignments exist at higher
        levels. Example: * The organization `organizationA` contains two
        projects, `project1` and `project2`. * Assignments for all three
        entities (`organizationA`, `project1`, and `project2`) could all be
        created and mapped to the same or different reservations. "None"
        assignments represent an absence of the assignment. Projects assigned to
        None use on-demand pricing. To create a "None" assignment, use "none" as
        a reservation_id in the parent. Example parent:
        `projects/myproject/locations/US/reservations/none`. Returns
        `google.rpc.Code.PERMISSION_DENIED` if user does not have
        'bigquery.admin' permissions on the project using the reservation and
        the project that owns this reservation. Returns
        `google.rpc.Code.INVALID_ARGUMENT` when location of the assignment does
        not match location of the reservation.
      operationId: bigqueryreservation.projects.locations.reservations.assignments.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assignment'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: reservationsId
          required: true
          schema:
            type: string
        - in: query
          name: assignmentId
          schema:
            type: string
      x-stackQL-resource: assignments
      x-stackQL-verb: insert
  /v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments/{assignmentsId}:
    parameters: *ref_1
    delete:
      description: >-
        Deletes a assignment. No expansion will happen. Example: * Organization
        `organizationA` contains two projects, `project1` and `project2`. *
        Reservation `res1` exists and was created previously. * CreateAssignment
        was used previously to define the following associations between
        entities and reservations: `` and `` In this example, deletion of the ``
        assignment won't affect the other assignment ``. After said deletion,
        queries from `project1` will still use `res1` while queries from
        `project2` will switch to use on-demand mode.
      operationId: bigqueryreservation.projects.locations.reservations.assignments.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: reservationsId
          required: true
          schema:
            type: string
        - in: path
          name: assignmentsId
          required: true
          schema:
            type: string
      x-stackQL-resource: assignments
      x-stackQL-verb: delete
    patch:
      description: >-
        Updates an existing assignment. Only the `priority` field can be
        updated.
      operationId: bigqueryreservation.projects.locations.reservations.assignments.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assignment'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: reservationsId
          required: true
          schema:
            type: string
        - in: path
          name: assignmentsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: assignments
      x-stackQL-verb: exec
  /v1/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/assignments/{assignmentsId}:move:
    parameters: *ref_1
    post:
      description: >-
        Moves an assignment under a new reservation. This differs from removing
        an existing assignment and recreating a new one by providing a
        transactional change that ensures an assignee always has an associated
        reservation.
      operationId: bigqueryreservation.projects.locations.reservations.assignments.move
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveAssignmentRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: reservationsId
          required: true
          schema:
            type: string
        - in: path
          name: assignmentsId
          required: true
          schema:
            type: string
      x-stackQL-resource: assignments
      x-stackQL-verb: exec
  /v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}:
    parameters: *ref_1
    delete:
      description: >-
        Deletes a capacity commitment. Attempting to delete capacity commitment
        before its commitment_end_time will fail with the error code
        `google.rpc.Code.FAILED_PRECONDITION`.
      operationId: bigqueryreservation.projects.locations.capacityCommitments.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: capacityCommitmentsId
          required: true
          schema:
            type: string
        - in: query
          name: force
          schema:
            type: boolean
      x-stackQL-resource: capacity_commitments
      x-stackQL-verb: delete
    get:
      description: Returns information about the capacity commitment.
      operationId: bigqueryreservation.projects.locations.capacityCommitments.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityCommitment'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: capacityCommitmentsId
          required: true
          schema:
            type: string
      x-stackQL-resource: capacity_commitments
      x-stackQL-verb: select
    patch:
      description: >-
        Updates an existing capacity commitment. Only `plan` and `renewal_plan`
        fields can be updated. Plan can only be changed to a plan of a longer
        commitment period. Attempting to change to a plan with shorter
        commitment period will fail with the error code
        `google.rpc.Code.FAILED_PRECONDITION`.
      operationId: bigqueryreservation.projects.locations.capacityCommitments.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapacityCommitment'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityCommitment'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: capacityCommitmentsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: capacity_commitments
      x-stackQL-verb: exec
  /v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments/{capacityCommitmentsId}:split:
    parameters: *ref_1
    post:
      description: >-
        Splits capacity commitment to two commitments of the same plan and
        `commitment_end_time`. A common use case is to enable downgrading
        commitments. For example, in order to downgrade from 10000 slots to
        8000, you might split a 10000 capacity commitment into commitments of
        2000 and 8000. Then, you delete the first one after the commitment end
        time passes.
      operationId: bigqueryreservation.projects.locations.capacityCommitments.split
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitCapacityCommitmentRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitCapacityCommitmentResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: capacityCommitmentsId
          required: true
          schema:
            type: string
      x-stackQL-resource: capacity_commitments
      x-stackQL-verb: exec
  /v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments:
    parameters: *ref_1
    post:
      description: Creates a new capacity commitment resource.
      operationId: bigqueryreservation.projects.locations.capacityCommitments.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapacityCommitment'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityCommitment'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: enforceSingleAdminProjectPerOrg
          schema:
            type: boolean
        - in: query
          name: capacityCommitmentId
          schema:
            type: string
      x-stackQL-resource: capacity_commitments
      x-stackQL-verb: insert
    get:
      description: Lists all the capacity commitments for the admin project.
      operationId: bigqueryreservation.projects.locations.capacityCommitments.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCapacityCommitmentsResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: capacity_commitments
      x-stackQL-verb: select
  /v1/projects/{projectsId}/locations/{locationsId}/capacityCommitments:merge:
    parameters: *ref_1
    post:
      description: >-
        Merges capacity commitments of the same plan into a single commitment.
        The resulting capacity commitment has the greater commitment_end_time
        out of the to-be-merged capacity commitments. Attempting to merge
        capacity commitments of different plan will fail with the error code
        `google.rpc.Code.FAILED_PRECONDITION`.
      operationId: bigqueryreservation.projects.locations.capacityCommitments.merge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeCapacityCommitmentsRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityCommitment'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: capacity_commitments
      x-stackQL-verb: exec
  /v1/projects/{projectsId}/locations/{locationsId}/biReservation:
    parameters: *ref_1
    patch:
      description: >-
        Updates a BI reservation. Only fields specified in the `field_mask` are
        updated. A singleton BI reservation always exists with default size 0.
        In order to reserve BI capacity it needs to be updated to an amount
        greater than 0. In order to release BI capacity reservation size must be
        set to 0.
      operationId: bigqueryreservation.projects.locations.updateBiReservation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BiReservation'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiReservation'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: locations
      x-stackQL-verb: exec
    get:
      description: Retrieves a BI reservation.
      operationId: bigqueryreservation.projects.locations.getBiReservation
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiReservation'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: locations__bi_reservation
      x-stackQL-verb: select
  /v1/projects/{projectsId}/locations/{locationsId}:searchAssignments:
    parameters: *ref_1
    get:
      description: >-
        Deprecated: Looks up assignments for a specified resource for a
        particular region. If the request is about a project: 1. Assignments
        created on the project will be returned if they exist. 2. Otherwise
        assignments created on the closest ancestor will be returned. 3.
        Assignments for different JobTypes will all be returned. The same logic
        applies if the request is about a folder. If the request is about an
        organization, then assignments created on the organization will be
        returned (organization doesn't have ancestors). Comparing to
        ListAssignments, there are some behavior differences: 1. permission on
        the assignee will be verified in this API. 2. Hierarchy lookup
        (project->folder->organization) happens in this API. 3. Parent here is
        `projects/*/locations/*`, instead of
        `projects/*/locations/*reservations/*`. **Note** "-" cannot be used for
        projects nor locations.
      operationId: bigqueryreservation.projects.locations.searchAssignments
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAssignmentsResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: query
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: locations
      x-stackQL-verb: exec
  /v1/projects/{projectsId}/locations/{locationsId}:searchAllAssignments:
    parameters: *ref_1
    get:
      description: >-
        Looks up assignments for a specified resource for a particular region.
        If the request is about a project: 1. Assignments created on the project
        will be returned if they exist. 2. Otherwise assignments created on the
        closest ancestor will be returned. 3. Assignments for different JobTypes
        will all be returned. The same logic applies if the request is about a
        folder. If the request is about an organization, then assignments
        created on the organization will be returned (organization doesn't have
        ancestors). Comparing to ListAssignments, there are some behavior
        differences: 1. permission on the assignee will be verified in this API.
        2. Hierarchy lookup (project->folder->organization) happens in this API.
        3. Parent here is `projects/*/locations/*`, instead of
        `projects/*/locations/*reservations/*`.
      operationId: bigqueryreservation.projects.locations.searchAllAssignments
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/bigquery
          Oauth2c:
            - https://www.googleapis.com/auth/bigquery
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAllAssignmentsResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: query
          schema:
            type: string
      x-stackQL-resource: locations
      x-stackQL-verb: exec
