openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Business Profile Performance API
  description: >-
    The Business Profile Performance API allows merchants to fetch performance
    reports about their business profile on Google. Note - If you have a quota
    of 0 after enabling the API, please request for GBP API access.
  version: v1
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/my-business/
servers:
  - url: https://businessprofileperformance.googleapis.com
components:
  schemas:
    DatedValue:
      description: >-
        Represents a single datapoint in the timeseries, where each datapoint is
        a date-value pair.
      id: DatedValue
      type: object
      properties:
        value:
          format: int64
          type: string
          description: >-
            The value of the datapoint. This will not be present when the value
            is zero.
        date:
          description: >-
            The date that the datapoint corresponds to. This represents a month
            value if the day field is not set.
          $ref: '#/components/schemas/Date'
    SearchKeywordCount:
      id: SearchKeywordCount
      type: object
      description: Represents a single search keyword and its value.
      properties:
        insightsValue:
          description: >-
            One of either: 1) The sum of the number of unique users that used
            the keyword in a month, aggregated for each month requested. 2) A
            threshold that indicates that the actual value is below this
            threshold.
          $ref: '#/components/schemas/InsightsValue'
        searchKeyword:
          type: string
          description: The lower-cased string that the user entered.
    Date:
      type: object
      description: >-
        Represents a whole or partial calendar date, such as a birthday. The
        time of day and time zone are either specified elsewhere or are
        insignificant. The date is relative to the Gregorian Calendar. This can
        represent one of the following: * A full date, with non-zero year,
        month, and day values. * A month and day, with a zero year (for example,
        an anniversary). * A year on its own, with a zero month and a zero day.
        * A year and month, with a zero day (for example, a credit card
        expiration date). Related types: * google.type.TimeOfDay *
        google.type.DateTime * google.protobuf.Timestamp
      id: Date
      properties:
        year:
          format: int32
          type: integer
          description: >-
            Year of the date. Must be from 1 to 9999, or 0 to specify a date
            without a year.
        month:
          description: >-
            Month of a year. Must be from 1 to 12, or 0 to specify a year
            without a month and day.
          format: int32
          type: integer
        day:
          type: integer
          description: >-
            Day of a month. Must be from 1 to 31 and valid for the year and
            month, or 0 to specify a year by itself or a year and month where
            the day isn't significant.
          format: int32
    GetDailyMetricsTimeSeriesResponse:
      type: object
      properties:
        timeSeries:
          description: The daily time series.
          $ref: '#/components/schemas/TimeSeries'
      description: Represents the response for GetDailyMetricsTimeSeries.
      id: GetDailyMetricsTimeSeriesResponse
    MultiDailyMetricTimeSeries:
      description: >-
        Represents a list of tuples of
        DailyMetric-DailySubEntityType-TimeSeries.
      properties:
        dailyMetricTimeSeries:
          type: array
          description: List of DailyMetric-TimeSeries pairs.
          items:
            $ref: '#/components/schemas/DailyMetricTimeSeries'
      id: MultiDailyMetricTimeSeries
      type: object
    ListSearchKeywordImpressionsMonthlyResponse:
      description: Represents the response for ListSearchKeywordImpressionsMonthly.
      properties:
        nextPageToken:
          description: >-
            A token indicating the last paginated result returned. This can be
            used by succeeding requests to get the next "page" of keywords. It
            will only be present when there are more results to be returned.
          format: byte
          type: string
        searchKeywordsCounts:
          type: array
          items:
            $ref: '#/components/schemas/SearchKeywordCount'
          description: Search terms which have been used to find a business.
      type: object
      id: ListSearchKeywordImpressionsMonthlyResponse
    InsightsValue:
      id: InsightsValue
      description: Represents an insights value.
      type: object
      properties:
        value:
          type: string
          format: int64
          description: Represents the actual value.
        threshold:
          description: Represents the threshold below which the actual value falls.
          format: int64
          type: string
    TimeOfDay:
      type: object
      properties:
        nanos:
          description: Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.
          type: integer
          format: int32
        hours:
          format: int32
          description: >-
            Hours of day in 24 hour format. Should be from 0 to 23. An API may
            choose to allow the value "24:00:00" for scenarios like business
            closing time.
          type: integer
        seconds:
          type: integer
          description: >-
            Seconds of minutes of the time. Must normally be from 0 to 59. An
            API may allow the value 60 if it allows leap-seconds.
          format: int32
        minutes:
          type: integer
          format: int32
          description: Minutes of hour of day. Must be from 0 to 59.
      description: >-
        Represents a time of day. The date and time zone are either not
        significant or are specified elsewhere. An API may choose to allow leap
        seconds. Related types are google.type.Date and
        `google.protobuf.Timestamp`.
      id: TimeOfDay
    FetchMultiDailyMetricsTimeSeriesResponse:
      properties:
        multiDailyMetricTimeSeries:
          description: DailyMetrics and their corresponding time series.
          type: array
          items:
            $ref: '#/components/schemas/MultiDailyMetricTimeSeries'
      id: FetchMultiDailyMetricsTimeSeriesResponse
      description: Represents the response for FetchMultiDailyMetricsTimeSeries.
      type: object
    DailySubEntityType:
      id: DailySubEntityType
      type: object
      description: >-
        Represents all possible subentity types that are associated with
        DailyMetrics.
      properties:
        timeOfDay:
          $ref: '#/components/schemas/TimeOfDay'
          description: >-
            Represents the time of the day in 24 hour format. Eg: 13:34:20
            Currently supported DailyMetrics = NONE.
        dayOfWeek:
          enum:
            - DAY_OF_WEEK_UNSPECIFIED
            - MONDAY
            - TUESDAY
            - WEDNESDAY
            - THURSDAY
            - FRIDAY
            - SATURDAY
            - SUNDAY
          description: >-
            Represents the day of the week. Eg: MONDAY. Currently supported
            DailyMetrics = NONE.
          type: string
          enumDescriptions:
            - The day of the week is unspecified.
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
    DailyMetricTimeSeries:
      id: DailyMetricTimeSeries
      type: object
      description: >-
        Represents a single datapoint, where each datapoint is a
        DailyMetric-DailySubEntityType-TimeSeries tuple.
      properties:
        dailySubEntityType:
          description: >-
            The DailySubEntityType that the TimeSeries represents. Will not be
            present when breakdown does not exist.
          $ref: '#/components/schemas/DailySubEntityType'
        dailyMetric:
          enum:
            - DAILY_METRIC_UNKNOWN
            - BUSINESS_IMPRESSIONS_DESKTOP_MAPS
            - BUSINESS_IMPRESSIONS_DESKTOP_SEARCH
            - BUSINESS_IMPRESSIONS_MOBILE_MAPS
            - BUSINESS_IMPRESSIONS_MOBILE_SEARCH
            - BUSINESS_CONVERSATIONS
            - BUSINESS_DIRECTION_REQUESTS
            - CALL_CLICKS
            - WEBSITE_CLICKS
            - BUSINESS_BOOKINGS
            - BUSINESS_FOOD_ORDERS
            - BUSINESS_FOOD_MENU_CLICKS
          type: string
          enumDescriptions:
            - Represents the default unknown value.
            - >-
              Business impressions on Google Maps on Desktop devices. Multiple
              impressions by a unique user within a single day are counted as a
              single impression.
            - >-
              Business impressions on Google Search on Desktop devices. Multiple
              impressions by a unique user within a single day are counted as a
              single impression.
            - >-
              Business impressions on Google Maps on Mobile devices. Multiple
              impressions by a unique user within a single day are counted as a
              single impression.
            - >-
              Business impressions on Google Search on Mobile devices. Multiple
              impressions by a unique user within a single day are counted as a
              single impression.
            - >-
              The number of message conversations received on the business
              profile.
            - >-
              The number of times a direction request was requested to the
              business location.
            - The number of times the business profile call button was clicked.
            - The number of times the business profile website was clicked.
            - >-
              The number of bookings made from the business profile via Reserve
              with Google.
            - The number of food orders received from the business profile.
            - >-
              The number of clicks to view or interact with the menu content on
              the business profile. Multiple clicks by a unique user within a
              single day are counted as 1.
          description: The DailyMetric that the TimeSeries represents.
        timeSeries:
          description: List of datapoints where each datapoint is a date-value pair.
          $ref: '#/components/schemas/TimeSeries'
    TimeSeries:
      properties:
        datedValues:
          type: array
          description: >-
            List of datapoints in the timeseries, where each datapoint is a
            date-value pair.
          items:
            $ref: '#/components/schemas/DatedValue'
      id: TimeSeries
      type: object
      description: Represents a timeseries.
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/books: Manage your books
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/locations/{locationsId}/searchkeywords/impressions/monthly:
    parameters: &ref_1
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
    get:
      description: >-
        Returns the search keywords used to find a business in search or maps.
        Each search keyword is accompanied by impressions which are aggregated
        on a monthly basis. Example request: `GET
        https://businessprofileperformance.googleapis.com/v1/locations/12345/searchkeywords/impressions/monthly?monthly_range.start_month.year=2022&monthly_range.start_month.month=1&monthly_range.end_month.year=2022&monthly_range.end_month.month=3`
      operationId: >-
        businessprofileperformance.locations.searchkeywords.impressions.monthly.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ListSearchKeywordImpressionsMonthlyResponse
      parameters:
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: monthlyRange.startMonth.month
          schema:
            type: integer
        - in: query
          name: monthlyRange.startMonth.day
          schema:
            type: integer
        - in: query
          name: monthlyRange.endMonth.month
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: monthlyRange.endMonth.year
          schema:
            type: integer
        - in: query
          name: monthlyRange.endMonth.day
          schema:
            type: integer
        - in: query
          name: monthlyRange.startMonth.year
          schema:
            type: integer
      x-stackQL-resource: monthly
      x-stackQL-verb: select
  /v1/locations/{locationsId}:fetchMultiDailyMetricsTimeSeries:
    parameters: *ref_1
    get:
      description: ' Returns the values for each date from a given time range and optionally the sub entity type, where applicable, that are associated with the specific daily metrics. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:fetchMultiDailyMetricsTimeSeries?dailyMetrics=WEBSITE_CLICKS&dailyMetrics=CALL_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`'
      operationId: businessprofileperformance.locations.fetchMultiDailyMetricsTimeSeries
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchMultiDailyMetricsTimeSeriesResponse'
      parameters:
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: dailyRange.endDate.month
          schema:
            type: integer
        - in: query
          name: dailyRange.startDate.month
          schema:
            type: integer
        - in: query
          name: dailyRange.startDate.day
          schema:
            type: integer
        - in: query
          name: dailyMetrics
          schema:
            type: string
        - in: query
          name: dailyRange.startDate.year
          schema:
            type: integer
        - in: query
          name: dailyRange.endDate.year
          schema:
            type: integer
        - in: query
          name: dailyRange.endDate.day
          schema:
            type: integer
      x-stackQL-resource: locations__multi_daily_metrics_time_series
      x-stackQL-verb: select
  /v1/locations/{locationsId}:getDailyMetricsTimeSeries:
    parameters: *ref_1
    get:
      description: ' Returns the values for each date from a given time range that are associated with the specific daily metric. Example request: `GET https://businessprofileperformance.googleapis.com/v1/locations/12345:getDailyMetricsTimeSeries?dailyMetric=WEBSITE_CLICKS&daily_range.start_date.year=2022&daily_range.start_date.month=1&daily_range.start_date.day=1&daily_range.end_date.year=2022&daily_range.end_date.month=3&daily_range.end_date.day=31`'
      operationId: businessprofileperformance.locations.getDailyMetricsTimeSeries
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDailyMetricsTimeSeriesResponse'
      parameters:
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: query
          name: dailyMetric
          schema:
            type: string
        - in: query
          name: dailyRange.endDate.month
          schema:
            type: integer
        - in: query
          name: dailyRange.endDate.day
          schema:
            type: integer
        - in: query
          name: dailySubEntityType.timeOfDay.nanos
          schema:
            type: integer
        - in: query
          name: dailyRange.startDate.month
          schema:
            type: integer
        - in: query
          name: dailySubEntityType.timeOfDay.seconds
          schema:
            type: integer
        - in: query
          name: dailyRange.endDate.year
          schema:
            type: integer
        - in: query
          name: dailySubEntityType.dayOfWeek
          schema:
            type: string
        - in: query
          name: dailyRange.startDate.day
          schema:
            type: integer
        - in: query
          name: dailySubEntityType.timeOfDay.minutes
          schema:
            type: integer
        - in: query
          name: dailyRange.startDate.year
          schema:
            type: integer
        - in: query
          name: dailySubEntityType.timeOfDay.hours
          schema:
            type: integer
      x-stackQL-resource: locations__daily_metrics_time_series
      x-stackQL-verb: select
