openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Cloud Support API
  description: >-
    Manages Google Cloud technical support cases for Customer Care support
    offerings. 
  version: v2beta
  x-discovery-doc-revision: '20230620'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/support/docs/apis
servers:
  - url: https://cloudsupport.googleapis.com
components:
  schemas:
    ListCommentsResponse:
      type: object
      description: The response message for the ListComments endpoint.
      properties:
        nextPageToken:
          type: string
          description: >-
            A token to retrieve the next page of results. This should be set in
            the `page_token` field of subsequent `ListCommentsRequest` message
            that is issued. If unspecified, there are no more results to
            retrieve.
        comments:
          items:
            $ref: '#/components/schemas/Comment'
          description: The list of Comments associated with the given Case.
          type: array
      id: ListCommentsResponse
    ObjectId:
      description: '# gdata.* are outside protos with mising documentation'
      properties:
        objectName:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        generation:
          format: int64
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        bucketName:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
      type: object
      id: ObjectId
    EscalateCaseRequest:
      type: object
      description: The request message for the EscalateCase endpoint.
      id: EscalateCaseRequest
      properties:
        escalation:
          description: The escalation object to be sent with the escalation request.
          $ref: '#/components/schemas/Escalation'
    ListAttachmentsResponse:
      description: The response message for the ListAttachments endpoint.
      properties:
        attachments:
          type: array
          description: The list of attachments associated with the given case.
          items:
            $ref: '#/components/schemas/Attachment'
        nextPageToken:
          description: >-
            A token to retrieve the next page of results. This should be set in
            the `page_token` field of subsequent `cases.attachments.list`
            requests. If unspecified, there are no more results to retrieve.
          type: string
      type: object
      id: ListAttachmentsResponse
    ListCasesResponse:
      description: The response message for the ListCases endpoint.
      properties:
        nextPageToken:
          description: >-
            A token to retrieve the next page of results. This should be set in
            the `page_token` field of the subsequent `ListCasesRequest` message
            that is issued. If unspecified, there are no more results to
            retrieve.
          type: string
        cases:
          items:
            $ref: '#/components/schemas/Case'
          description: >-
            The list of cases associated with the Google Cloud Resource, after
            any filters have been applied.
          type: array
      type: object
      id: ListCasesResponse
    CloseCaseRequest:
      type: object
      description: The request message for the CloseCase endpoint.
      properties: {}
      id: CloseCaseRequest
    Blobstore2Info:
      type: object
      id: Blobstore2Info
      properties:
        blobId:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        downloadReadHandle:
          description: '# gdata.* are outside protos with mising documentation'
          format: byte
          type: string
        blobGeneration:
          format: int64
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        readToken:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        uploadMetadataContainer:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
          format: byte
      description: '# gdata.* are outside protos with mising documentation'
    Attachment:
      id: Attachment
      description: Represents a file attached to a support case.
      type: object
      properties:
        creator:
          readOnly: true
          description: >-
            Output only. The user who uploaded the attachment. Note, the name
            and email will be obfuscated if the attachment was uploaded by
            Google support.
          $ref: '#/components/schemas/Actor'
        mimeType:
          readOnly: true
          description: Output only. The MIME type of the attachment (e.g. text/plain).
          type: string
        sizeBytes:
          format: int64
          readOnly: true
          type: string
          description: Output only. The size of the attachment in bytes.
        name:
          type: string
          readOnly: true
          description: Output only. The resource name of the attachment.
        createTime:
          readOnly: true
          type: string
          format: google-datetime
          description: Output only. The time at which the attachment was created.
        filename:
          type: string
          description: The filename of the attachment (e.g. `"graph.jpg"`).
    WorkflowOperationMetadata:
      description: Metadata about the operation. Used to lookup the current status.
      id: WorkflowOperationMetadata
      type: object
      properties:
        operationAction:
          enumDescriptions:
            - Operation action is not specified.
            - Operation pertains to the creation of a new support account.
            - Operation pertains to the updating of an existing support account.
            - >-
              Operation pertains to the purchasing of a support plan that may
              either create or update a support account.
          type: string
          enum:
            - OPERATION_ACTION_UNSPECIFIED
            - CREATE_SUPPORT_ACCOUNT
            - UPDATE_SUPPORT_ACCOUNT
            - PURCHASE_SUPPORT_ACCOUNT
          description: The type of action the operation is classified as.
        namespace:
          type: string
          description: >-
            The namespace that the job was scheduled in. Must be included in the
            workflow metadata so the workflow status can be retrieved.
        workflowOperationType:
          description: Which version of the workflow service this operation came from.
          type: string
          enumDescriptions:
            - Unknown version.
            - Version 1.
            - Version 2.
          enum:
            - UNKNOWN_OPERATION_TYPE
            - WORKFLOWS_V1
            - WORKFLOWS_V2
    ContentTypeInfo:
      properties:
        fromHeader:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        fromFileName:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        fromBytes:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
        fromUrlPath:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        bestGuess:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
      type: object
      description: '# gdata.* are outside protos with mising documentation'
      id: ContentTypeInfo
    Actor:
      properties:
        displayName:
          type: string
          description: >-
            The name to display for the actor. If not provided, it is inferred
            from credentials supplied during case creation. When an email is
            provided, a display name must also be provided. This will be
            obfuscated if the user is a Google Support agent.
        googleSupport:
          type: boolean
          description: Output only. Whether the actor is a Google support actor.
          readOnly: true
        email:
          type: string
          description: >-
            The email address of the actor. If not provided, it is inferred from
            credentials supplied during case creation. If the authenticated
            principal does not have an email address, one must be provided. When
            a name is provided, an email must also be provided. This will be
            obfuscated if the user is a Google Support agent.
      id: Actor
      type: object
      description: >-
        An object containing information about the effective user and
        authenticated principal responsible for an action.
    DiffDownloadResponse:
      description: '# gdata.* are outside protos with mising documentation'
      type: object
      id: DiffDownloadResponse
      properties:
        objectLocation:
          $ref: '#/components/schemas/CompositeMedia'
          description: '# gdata.* are outside protos with mising documentation'
    DiffChecksumsResponse:
      type: object
      properties:
        checksumsLocation:
          $ref: '#/components/schemas/CompositeMedia'
          description: '# gdata.* are outside protos with mising documentation'
        objectSizeBytes:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
          format: int64
        objectLocation:
          description: '# gdata.* are outside protos with mising documentation'
          $ref: '#/components/schemas/CompositeMedia'
        objectVersion:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
        chunkSizeBytes:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
          format: int64
      description: '# gdata.* are outside protos with mising documentation'
      id: DiffChecksumsResponse
    Escalation:
      properties:
        justification:
          description: >-
            Required. A free text description to accompany the `reason` field
            above. Provides additional context on why the case is being
            escalated.
          type: string
        reason:
          enumDescriptions:
            - >-
              The escalation reason is in an unknown state or has not been
              specified.
            - The case is taking too long to resolve.
            - >-
              The support agent does not have the expertise required to
              successfully resolve the issue.
            - The issue is having a significant business impact.
          enum:
            - REASON_UNSPECIFIED
            - RESOLUTION_TIME
            - TECHNICAL_EXPERTISE
            - BUSINESS_IMPACT
          description: Required. The reason why the Case is being escalated.
          type: string
      description: An escalation of a support case.
      type: object
      id: Escalation
    SearchCaseClassificationsResponse:
      type: object
      description: The response message for SearchCaseClassifications endpoint.
      properties:
        caseClassifications:
          type: array
          items:
            $ref: '#/components/schemas/CaseClassification'
          description: The classifications retrieved.
        nextPageToken:
          type: string
          description: >-
            A token to retrieve the next page of results. This should be set in
            the `page_token` field of subsequent
            `SearchCaseClassificationsRequest` message that is issued. If
            unspecified, there are no more results to retrieve.
      id: SearchCaseClassificationsResponse
    DownloadParameters:
      properties:
        allowGzipCompression:
          description: '# gdata.* are outside protos with mising documentation'
          type: boolean
        ignoreRange:
          description: '# gdata.* are outside protos with mising documentation'
          type: boolean
      id: DownloadParameters
      type: object
      description: '# gdata.* are outside protos with mising documentation'
    DiffVersionResponse:
      type: object
      id: DiffVersionResponse
      description: '# gdata.* are outside protos with mising documentation'
      properties:
        objectSizeBytes:
          format: int64
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        objectVersion:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
    Case:
      properties:
        updateTime:
          type: string
          readOnly: true
          format: google-datetime
          description: Output only. The time this case was last updated.
        displayName:
          description: The short summary of the issue reported in this case.
          type: string
        escalated:
          type: boolean
          description: Whether the case is currently escalated.
        classification:
          description: The issue classification applicable to this case.
          $ref: '#/components/schemas/CaseClassification'
        contactEmail:
          type: string
          description: >-
            A user-supplied email address to send case update notifications for.
            This should only be used in BYOID flows, where we cannot infer the
            user's email address directly from their EUCs.
        creator:
          description: >-
            The user who created the case. Note: The name and email will be
            obfuscated if the case was created by Google Support.
          $ref: '#/components/schemas/Actor'
        createTime:
          format: google-datetime
          description: Output only. The time this case was created.
          type: string
          readOnly: true
        timeZone:
          description: >-
            The timezone of the user who created the support case. It should be
            in a format IANA recognizes: https://www.iana.org/time-zones. There
            is no additional validation done by the API.
          type: string
        severity:
          description: REMOVED. The severity of this case. Use priority instead.
          type: string
          enumDescriptions:
            - Severity is undefined or has not been set yet.
            - Extreme impact on a production service. Service is hard down.
            - >-
              Critical impact on a production service. Service is currently
              unusable.
            - >-
              Severe impact on a production service. Service is usable but
              greatly impaired.
            - >-
              Medium impact on a production service. Service is available, but
              moderately impaired.
            - >-
              General questions or minor issues. Production service is fully
              available.
          enum:
            - SEVERITY_UNSPECIFIED
            - S0
            - S1
            - S2
            - S3
            - S4
        subscriberEmailAddresses:
          items:
            type: string
          type: array
          description: The email addresses to receive updates on this case.
        state:
          enum:
            - STATE_UNSPECIFIED
            - NEW
            - IN_PROGRESS_GOOGLE_SUPPORT
            - ACTION_REQUIRED
            - SOLUTION_PROVIDED
            - CLOSED
          description: Output only. The current status of the support case.
          enumDescriptions:
            - Case is in an unknown state.
            - >-
              The case has been created but no one is assigned to work on it
              yet.
            - The case is currently being handled by Google support.
            - Google is waiting for a response.
            - A solution has been offered for the case, but it isn't yet closed.
            - The case has been resolved.
          type: string
          readOnly: true
        name:
          description: The resource name for the case.
          type: string
        description:
          type: string
          description: A broad description of the issue.
        testCase:
          type: boolean
          description: >-
            Whether this case was created for internal API testing and should
            not be acted on by the support team.
        priority:
          description: The priority of this case.
          enumDescriptions:
            - Priority is undefined or has not been set yet.
            - Extreme impact on a production service. Service is hard down.
            - >-
              Critical impact on a production service. Service is currently
              unusable.
            - >-
              Severe impact on a production service. Service is usable but
              greatly impaired.
            - >-
              Medium impact on a production service. Service is available, but
              moderately impaired.
            - >-
              General questions or minor issues. Production service is fully
              available.
          type: string
          enum:
            - PRIORITY_UNSPECIFIED
            - P0
            - P1
            - P2
            - P3
            - P4
        languageCode:
          type: string
          description: >-
            The language the user has requested to receive support in. This
            should be a BCP 47 language code (e.g., `"en"`, `"zh-CN"`,
            `"zh-TW"`, `"ja"`, `"ko"`). If no language or an unsupported
            language is specified, this field defaults to English (en). Language
            selection during case creation may affect your available support
            options. For a list of supported languages and their support working
            hours, see:
            https://cloud.google.com/support/docs/language-working-hours
      description: A support case.
      id: Case
      type: object
    DiffUploadResponse:
      description: '# gdata.* are outside protos with mising documentation'
      properties:
        originalObject:
          description: '# gdata.* are outside protos with mising documentation'
          $ref: '#/components/schemas/CompositeMedia'
        objectVersion:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
      type: object
      id: DiffUploadResponse
    CompositeMedia:
      id: CompositeMedia
      description: '# gdata.* are outside protos with mising documentation'
      properties:
        path:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        length:
          type: string
          format: int64
          description: '# gdata.* are outside protos with mising documentation'
        md5Hash:
          description: '# gdata.* are outside protos with mising documentation'
          format: byte
          type: string
        sha1Hash:
          type: string
          format: byte
          description: '# gdata.* are outside protos with mising documentation'
        crc32cHash:
          description: '# gdata.* are outside protos with mising documentation'
          type: integer
          format: uint32
        objectId:
          $ref: '#/components/schemas/ObjectId'
          description: '# gdata.* are outside protos with mising documentation'
        blobstore2Info:
          $ref: '#/components/schemas/Blobstore2Info'
          description: '# gdata.* are outside protos with mising documentation'
        referenceType:
          type: string
          enum:
            - PATH
            - BLOB_REF
            - INLINE
            - BIGSTORE_REF
            - COSMO_BINARY_REFERENCE
          enumDescriptions:
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
          description: '# gdata.* are outside protos with mising documentation'
        inline:
          description: '# gdata.* are outside protos with mising documentation'
          format: byte
          type: string
        blobRef:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
          format: byte
        cosmoBinaryReference:
          format: byte
          description: '# gdata.* are outside protos with mising documentation'
          type: string
      type: object
    DiffUploadRequest:
      properties:
        objectVersion:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
        objectInfo:
          $ref: '#/components/schemas/CompositeMedia'
          description: '# gdata.* are outside protos with mising documentation'
        checksumsInfo:
          $ref: '#/components/schemas/CompositeMedia'
          description: '# gdata.* are outside protos with mising documentation'
      id: DiffUploadRequest
      type: object
      description: '# gdata.* are outside protos with mising documentation'
    Comment:
      type: object
      id: Comment
      description: A comment associated with a support case.
      properties:
        body:
          description: >-
            The full comment body. Maximum of 12800 characters. This can contain
            rich text syntax.
          type: string
        creator:
          description: Output only. The user or Google Support agent created this comment.
          $ref: '#/components/schemas/Actor'
          readOnly: true
        plainTextBody:
          description: >-
            Output only. DEPRECATED. An automatically generated plain text
            version of body with all rich text syntax stripped.
          type: string
          readOnly: true
        createTime:
          readOnly: true
          description: Output only. The time when this comment was created.
          type: string
          format: google-datetime
        name:
          description: Output only. The resource name for the comment.
          readOnly: true
          type: string
    CreateAttachmentRequest:
      properties:
        attachment:
          description: Required. The attachment to be created.
          $ref: '#/components/schemas/Attachment'
      description: The request message for the CreateAttachment endpoint.
      id: CreateAttachmentRequest
      type: object
    SearchCasesResponse:
      id: SearchCasesResponse
      description: The response message for the SearchCases endpoint.
      properties:
        cases:
          items:
            $ref: '#/components/schemas/Case'
          description: >-
            The list of cases associated with the Google Cloud Resource, after
            any filters have been applied.
          type: array
        nextPageToken:
          description: >-
            A token to retrieve the next page of results. This should be set in
            the `page_token` field of subsequent `SearchCaseRequest` message
            that is issued. If unspecified, there are no more results to
            retrieve.
          type: string
      type: object
    CaseClassification:
      type: object
      description: A classification object with a product type and value.
      properties:
        id:
          type: string
          description: >-
            The unique ID for a classification. Must be specified for case
            creation. To retrieve valid classification IDs for case creation,
            use `caseClassifications.search`. Classification IDs returned by
            `caseClassifications.search` are guaranteed to be valid for at least
            6 months. If a given classification is deactiveated, it will
            immediately stop being returned. After 6 months, `case.create`
            requests using the classification ID will fail.
        displayName:
          type: string
          description: >-
            A display name for the classification. The display name is not
            static and can change. To uniquely and consistently identify
            classifications, use the `CaseClassification.id` field.
      id: CaseClassification
    Media:
      type: object
      properties:
        mediaId:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
          format: byte
        cosmoBinaryReference:
          format: byte
          type: string
          description: '# gdata.* are outside protos with mising documentation'
        blobstore2Info:
          description: '# gdata.* are outside protos with mising documentation'
          $ref: '#/components/schemas/Blobstore2Info'
        diffVersionResponse:
          $ref: '#/components/schemas/DiffVersionResponse'
          description: '# gdata.* are outside protos with mising documentation'
        sha1Hash:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
          format: byte
        filename:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        sha256Hash:
          format: byte
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        objectId:
          description: '# gdata.* are outside protos with mising documentation'
          $ref: '#/components/schemas/ObjectId'
        hash:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        diffDownloadResponse:
          $ref: '#/components/schemas/DiffDownloadResponse'
          description: '# gdata.* are outside protos with mising documentation'
        diffUploadResponse:
          $ref: '#/components/schemas/DiffUploadResponse'
          description: '# gdata.* are outside protos with mising documentation'
        md5Hash:
          format: byte
          type: string
          description: '# gdata.* are outside protos with mising documentation'
        diffChecksumsResponse:
          description: '# gdata.* are outside protos with mising documentation'
          $ref: '#/components/schemas/DiffChecksumsResponse'
        inline:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
          format: byte
        path:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        algorithm:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
        timestamp:
          description: '# gdata.* are outside protos with mising documentation'
          format: uint64
          type: string
        downloadParameters:
          description: '# gdata.* are outside protos with mising documentation'
          $ref: '#/components/schemas/DownloadParameters'
        hashVerified:
          description: '# gdata.* are outside protos with mising documentation'
          type: boolean
        blobRef:
          description: '# gdata.* are outside protos with mising documentation'
          format: byte
          type: string
        compositeMedia:
          type: array
          description: '# gdata.* are outside protos with mising documentation'
          items:
            $ref: '#/components/schemas/CompositeMedia'
        isPotentialRetry:
          description: '# gdata.* are outside protos with mising documentation'
          type: boolean
        token:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
        bigstoreObjectRef:
          description: '# gdata.* are outside protos with mising documentation'
          type: string
          format: byte
        crc32cHash:
          format: uint32
          type: integer
          description: '# gdata.* are outside protos with mising documentation'
        contentTypeInfo:
          description: '# gdata.* are outside protos with mising documentation'
          $ref: '#/components/schemas/ContentTypeInfo'
        referenceType:
          enumDescriptions:
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
            - '# gdata.* are outside protos with mising documentation'
          enum:
            - PATH
            - BLOB_REF
            - INLINE
            - GET_MEDIA
            - COMPOSITE_MEDIA
            - BIGSTORE_REF
            - DIFF_VERSION_RESPONSE
            - DIFF_CHECKSUMS_RESPONSE
            - DIFF_DOWNLOAD_RESPONSE
            - DIFF_UPLOAD_REQUEST
            - DIFF_UPLOAD_RESPONSE
            - COSMO_BINARY_REFERENCE
            - ARBITRARY_BYTES
          description: '# gdata.* are outside protos with mising documentation'
          type: string
        length:
          type: string
          format: int64
          description: '# gdata.* are outside protos with mising documentation'
        diffUploadRequest:
          description: '# gdata.* are outside protos with mising documentation'
          $ref: '#/components/schemas/DiffUploadRequest'
        contentType:
          type: string
          description: '# gdata.* are outside protos with mising documentation'
      description: '# gdata.* are outside protos with mising documentation'
      id: Media
  parameters:
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/cloud-platform: >-
              See, edit, configure, and delete your Google Cloud data and see
              the email address for your Google Account.
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v2beta/{name}:
    parameters: &ref_1
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
    get:
      description: Retrieve the specified case.
      operationId: cloudsupport.cases.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
      x-stackQL-resource: cases
      x-stackQL-verb: select
    post:
      description: Close the specified case.
      operationId: cloudsupport.cases.close
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseCaseRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
      x-stackQL-resource: cases
      x-stackQL-verb: exec
    patch:
      description: Update the specified case. Only a subset of fields can be updated.
      operationId: cloudsupport.cases.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Case'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: cases
      x-stackQL-verb: exec
  /v2beta/{parent}/attachments:
    parameters: *ref_1
    post:
      description: >-
        Create a file attachment on a case or Cloud resource. The attachment
        object must have the following fields set: filename.
      operationId: cloudsupport.media.upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAttachmentRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
      parameters:
        - in: path
          name: parent
          required: true
          schema:
            type: string
      x-stackQL-resource: media
      x-stackQL-verb: exec
    get:
      description: Retrieve all attachments associated with a support case.
      operationId: cloudsupport.cases.attachments.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAttachmentsResponse'
      parameters:
        - in: path
          name: parent
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: attachments
      x-stackQL-verb: select
  /v2beta/cases:search:
    parameters: *ref_1
    get:
      description: Search cases using the specified query.
      operationId: cloudsupport.cases.search
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCasesResponse'
      parameters:
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: query
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: cases
      x-stackQL-verb: exec
  /v2beta/{parent}/cases:
    parameters: *ref_1
    get:
      description: >-
        Retrieve all cases under the specified parent. Note: Listing cases under
        an Organization returns only the cases directly parented by that
        organization. To retrieve all cases under an organization, including
        cases parented by projects under that organization, use `cases.search`.
      operationId: cloudsupport.cases.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCasesResponse'
      parameters:
        - in: path
          name: parent
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: filter
          schema:
            type: string
      x-stackQL-resource: cases
      x-stackQL-verb: select
    post:
      description: >-
        Create a new case and associate it with the given Google Cloud Resource.
        The case object must have the following fields set: `display_name`,
        `description`, `classification`, and `priority`.
      operationId: cloudsupport.cases.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Case'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
      parameters:
        - in: path
          name: parent
          required: true
          schema:
            type: string
      x-stackQL-resource: cases
      x-stackQL-verb: insert
  /v2beta/{parent}/comments:
    parameters: *ref_1
    get:
      description: Retrieve all Comments associated with the Case object.
      operationId: cloudsupport.cases.comments.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCommentsResponse'
      parameters:
        - in: path
          name: parent
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: comments
      x-stackQL-verb: select
    post:
      description: >-
        Add a new comment to the specified Case. The comment object must have
        the following fields set: body.
      operationId: cloudsupport.cases.comments.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Comment'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      parameters:
        - in: path
          name: parent
          required: true
          schema:
            type: string
      x-stackQL-resource: comments
      x-stackQL-verb: insert
  /v2beta/caseClassifications:search:
    parameters: *ref_1
    get:
      description: >-
        Retrieve valid classifications to be used when creating a support case.
        The classications are hierarchical, with each classification containing
        all levels of the hierarchy, separated by `" > "`. For example
        `"Technical Issue > Compute > Compute Engine"`. Classification IDs
        returned by `caseClassifications.search` are guaranteed to be valid for
        at least 6 months. If a given classification is deactiveated, it will
        immediately stop being returned. After 6 months, `case.create` requests
        using the classification ID will fail.
      operationId: cloudsupport.caseClassifications.search
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCaseClassificationsResponse'
      parameters:
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: query
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: case_classifications
      x-stackQL-verb: exec
