openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Civic Information API
  description: >-
    Provides polling places, early vote locations, contest data, election
    officials, and government representatives for U.S. residential addresses.
  version: v2
  x-discovery-doc-revision: '20230620'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/civic-information/
servers:
  - url: https://civicinfo.googleapis.com
components:
  schemas:
    Candidate:
      description: Information about a candidate running for elected office.
      id: Candidate
      properties:
        candidateUrl:
          description: The URL for the candidate's campaign web site.
          type: string
        email:
          description: The email address for the candidate's campaign.
          type: string
        party:
          type: string
          description: The full name of the party the candidate is a member of.
        photoUrl:
          description: A URL for a photo of the candidate.
          type: string
        name:
          type: string
          description: >-
            The candidate's name. If this is a joint ticket it will indicate the
            name of the candidate at the top of a ticket followed by a / and
            that name of candidate at the bottom of the ticket. e.g. "Mitt
            Romney / Paul Ryan"
        orderOnBallot:
          description: The order the candidate appears on the ballot for this contest.
          format: int64
          type: string
        phone:
          description: The voice phone number for the candidate's campaign office.
          type: string
        channels:
          description: A list of known (social) media channels for this candidate.
          items:
            $ref: '#/components/schemas/Channel'
          type: array
      type: object
    AdministrationRegion:
      properties:
        sources:
          description: >-
            A list of sources for this area. If multiple sources are listed the
            data has been aggregated from those sources.
          items:
            $ref: '#/components/schemas/Source'
          type: array
        name:
          type: string
          description: The name of the jurisdiction.
        electionAdministrationBody:
          $ref: '#/components/schemas/AdministrativeBody'
          description: The election administration body for this area.
        local_jurisdiction:
          $ref: '#/components/schemas/AdministrationRegion'
          description: >-
            The city or county that provides election information for this
            voter. This object can have the same elements as state.
      type: object
      description: Describes information about a regional election administrative area.
      id: AdministrationRegion
    ElectoralDistrict:
      type: object
      properties:
        scope:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          type: string
          description: >-
            The geographic scope of this district. If unspecified the district's
            geography is not known. One of: national, statewide, congressional,
            stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide,
            township, countyCouncil, cityCouncil, ward, special
          enum:
            - statewide
            - congressional
            - stateUpper
            - stateLower
            - countywide
            - judicial
            - schoolBoard
            - citywide
            - special
            - countyCouncil
            - township
            - ward
            - cityCouncil
            - national
        id:
          type: string
          description: >-
            An identifier for this district, relative to its scope. For example,
            the 34th State Senate district would have id "34" and a scope of
            stateUpper.
        name:
          type: string
          description: The name of the district.
      description: Describes the geographic scope of a contest.
      id: ElectoralDistrict
    AdministrativeBody:
      type: object
      id: AdministrativeBody
      properties:
        voter_services:
          items:
            type: string
          type: array
          description: A description of the services this administrative body may provide.
        physicalAddress:
          $ref: '#/components/schemas/SimpleAddressType'
          description: The physical address of this administrative body.
        absenteeVotingInfoUrl:
          description: >-
            A URL provided by this administrative body for information on
            absentee voting.
          type: string
        correspondenceAddress:
          $ref: '#/components/schemas/SimpleAddressType'
          description: The mailing address of this administrative body.
        electionRegistrationUrl:
          description: >-
            A URL provided by this administrative body for looking up how to
            register to vote.
          type: string
        electionRulesUrl:
          type: string
          description: >-
            A URL provided by this administrative body describing election rules
            to the voter.
        electionOfficials:
          description: The election officials for this election administrative body.
          items:
            $ref: '#/components/schemas/ElectionOfficial'
          type: array
        electionRegistrationConfirmationUrl:
          type: string
          description: >-
            A URL provided by this administrative body for confirming that the
            voter is registered to vote.
        name:
          description: The name of this election administrative body.
          type: string
        electionInfoUrl:
          description: >-
            A URL provided by this administrative body for looking up general
            election information.
          type: string
        electionNoticeText:
          description: >-
            A last minute or emergency notification text provided by this
            administrative body.
          type: string
        votingLocationFinderUrl:
          description: >-
            A URL provided by this administrative body for looking up where to
            vote.
          type: string
        electionNoticeUrl:
          type: string
          description: >-
            A URL provided by this administrative body for additional
            information related to the last minute or emergency notification.
        hoursOfOperation:
          type: string
          description: >-
            A description of the hours of operation for this administrative
            body.
        ballotInfoUrl:
          description: >-
            A URL provided by this administrative body to give contest
            information to the voter.
          type: string
      description: >-
        Information about an election administrative body (e.g. County Board of
        Elections).
    Precinct:
      type: object
      id: Precinct
      properties:
        contestId:
          items:
            type: string
          description: ID(s) of the Contest message(s) for this precinct.
          type: array
        earlyVoteSiteId:
          type: array
          description: ID(s) of the PollingLocation message(s) for this precinct.
          items:
            type: string
        ocdId:
          description: Encouraged. The OCD ID of the precinct
          items:
            type: string
          type: array
        splitName:
          description: >-
            If present, this proto corresponds to one portion of split precinct.
            Other portions of this precinct are guaranteed to have the same
            `name`. If not present, this proto represents a full precicnt.
          type: string
        number:
          type: string
          description: The number of the precinct.
        electoralDistrictId:
          items:
            type: string
          type: array
          description: ID(s) of the ElectoralDistrict message(s) for this precinct.
        ward:
          description: Specifies the ward the precinct is contained within.
          type: string
        mailOnly:
          type: boolean
          description: Specifies if the precinct runs mail-only elections.
        administrationRegionId:
          description: >-
            ID of the AdministrationRegion message for this precinct.
            Corresponds to LocalityId xml tag.
          type: string
        name:
          type: string
          description: Required. The name of the precinct.
        pollingLocationId:
          type: array
          items:
            type: string
          description: ID(s) of the PollingLocation message(s) for this precinct.
        datasetId:
          format: int64
          description: Required. Dataset ID. What datasets our Precincts come from.
          type: string
        id:
          description: Required. A unique identifier for this precinct.
          type: string
        spatialBoundaryId:
          description: >-
            ID(s) of the SpatialBoundary message(s) for this precinct. Used to
            specify a geometrical boundary of the precinct.
          items:
            type: string
          type: array
    PollingLocation:
      description: >-
        A location where a voter can vote. This may be an early vote site, an
        election day voting location, or a drop off location for a completed
        ballot.
      id: PollingLocation
      properties:
        voterServices:
          description: >-
            The services provided by this early vote site or drop off location.
            This field is not populated for polling locations.
          type: string
        notes:
          description: >-
            Notes about this location (e.g. accessibility ramp or entrance to
            use).
          type: string
        longitude:
          format: double
          type: number
          description: >-
            Longitude of the location, in degrees east of the Prime Meridian.
            Note this field may not be available for some locations.
        startDate:
          description: >-
            The first date that this early vote site or drop off location may be
            used. This field is not populated for polling locations.
          type: string
        sources:
          items:
            $ref: '#/components/schemas/Source'
          type: array
          description: >-
            A list of sources for this location. If multiple sources are listed
            the data has been aggregated from those sources.
        name:
          type: string
          description: >-
            The name of the early vote site or drop off location. This field is
            not populated for polling locations.
        latitude:
          type: number
          description: >-
            Latitude of the location, in degrees north of the equator. Note this
            field may not be available for some locations.
          format: double
        pollingHours:
          description: A description of when this location is open.
          type: string
        endDate:
          description: >-
            The last date that this early vote site or drop off location may be
            used. This field is not populated for polling locations.
          type: string
        address:
          description: The address of the location.
          $ref: '#/components/schemas/SimpleAddressType'
      type: object
    DivisionSearchResponse:
      type: object
      properties:
        kind:
          type: string
          default: civicinfo#divisionSearchResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "civicinfo#divisionSearchResponse".
        results:
          items:
            $ref: '#/components/schemas/DivisionSearchResult'
          type: array
      id: DivisionSearchResponse
      description: The result of a division search query.
    Source:
      properties:
        official:
          type: boolean
          description: Whether this data comes from an official government source.
        name:
          description: The name of the data source.
          type: string
      type: object
      id: Source
      description: >-
        Contains information about the data source for the element containing
        it.
    RepresentativeInfoData:
      type: object
      properties:
        divisions:
          additionalProperties:
            $ref: '#/components/schemas/GeographicDivision'
          description: >-
            A map of political geographic divisions that contain the requested
            address, keyed by the unique Open Civic Data identifier for this
            division.
          type: object
        offices:
          type: array
          description: >-
            Elected offices referenced by the divisions listed above. Will only
            be present if includeOffices was true in the request.
          items:
            $ref: '#/components/schemas/Office'
        officials:
          type: array
          description: >-
            Officials holding the offices listed above. Will only be present if
            includeOffices was true in the request.
          items:
            $ref: '#/components/schemas/Official'
      id: RepresentativeInfoData
    VoterInfoResponse:
      type: object
      properties:
        precinctId:
          type: string
        state:
          items:
            $ref: '#/components/schemas/AdministrationRegion'
          description: >-
            Local Election Information for the state that the voter votes in.
            For the US, there will only be one element in this array.
          type: array
        election:
          description: The election that was queried.
          $ref: '#/components/schemas/Election'
        otherElections:
          type: array
          description: >-
            When there are multiple elections for a voter address, the
            otherElections field is populated in the API response and there are
            two possibilities: 1. If the earliest election is not the intended
            election, specify the election ID of the desired election in a
            second API request using the electionId field. 2. If these elections
            occur on the same day, the API doesn?t return any polling location,
            contest, or election official information to ensure that an
            additional query is made. For user-facing applications, we recommend
            displaying these elections to the user to disambiguate. A second API
            request using the electionId field should be made for the election
            that is relevant to the user.
          items:
            $ref: '#/components/schemas/Election'
        pollingLocations:
          items:
            $ref: '#/components/schemas/PollingLocation'
          type: array
          description: Locations where the voter is eligible to vote on election day.
        mailOnly:
          description: >-
            Specifies whether voters in the precinct vote only by mailing their
            ballots (with the possible option of dropping off their ballots as
            well).
          type: boolean
        precincts:
          items:
            $ref: '#/components/schemas/Precinct'
          description: >-
            The precincts that match this voter's address. Will only be returned
            for project IDs which have been allowlisted as "partner projects".
          type: array
        contests:
          type: array
          description: Contests that will appear on the voter's ballot.
          items:
            $ref: '#/components/schemas/Contest'
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "civicinfo#voterInfoResponse".
          type: string
          default: civicinfo#voterInfoResponse
        dropOffLocations:
          description: >-
            Locations where a voter is eligible to drop off a completed ballot.
            The voter must have received and completed a ballot prior to
            arriving at the location. The location may not have ballots
            available on the premises. These locations could be open on or
            before election day as indicated in the pollingHours field.
          type: array
          items:
            $ref: '#/components/schemas/PollingLocation'
        normalizedInput:
          $ref: '#/components/schemas/SimpleAddressType'
          description: The normalized version of the requested address
        earlyVoteSites:
          type: array
          description: >-
            Locations where the voter is eligible to vote early, prior to
            election day.
          items:
            $ref: '#/components/schemas/PollingLocation'
      id: VoterInfoResponse
      description: The result of a voter info lookup query.
    Channel:
      description: A social media or web channel for a candidate.
      type: object
      id: Channel
      properties:
        id:
          type: string
          description: The unique public identifier for the candidate's channel.
        type:
          description: >-
            The type of channel. The following is a list of types of channels,
            but is not exhaustive. More channel types may be added at a later
            time. One of: GooglePlus, YouTube, Facebook, Twitter
          type: string
    DivisionSearchResult:
      description: >-
        Represents a political geographic division that matches the requested
        query.
      properties:
        ocdId:
          type: string
          description: The unique Open Civic Data identifier for this division
        name:
          type: string
          description: The name of the division.
        aliases:
          items:
            type: string
          description: >-
            Other Open Civic Data identifiers that refer to the same division --
            for example, those that refer to other political divisions whose
            boundaries are defined to be coterminous with this one. For example,
            ocd-division/country:us/state:wy will include an alias of
            ocd-division/country:us/state:wy/cd:1, since Wyoming has only one
            Congressional district.
          type: array
      id: DivisionSearchResult
      type: object
    GeographicDivision:
      id: GeographicDivision
      properties:
        alsoKnownAs:
          description: >-
            Any other valid OCD IDs that refer to the same division.\n\nBecause
            OCD IDs are meant to be human-readable and at least somewhat
            predictable, there are occasionally several identifiers for a single
            division. These identifiers are defined to be equivalent to one
            another, and one is always indicated as the primary identifier. The
            primary identifier will be returned in ocd_id above, and any other
            equivalent valid identifiers will be returned in this list.\n\nFor
            example, if this division's OCD ID is
            ocd-division/country:us/district:dc, this will contain
            ocd-division/country:us/state:dc.
          items:
            type: string
          type: array
        name:
          description: The name of the division.
          type: string
        officeIndices:
          items:
            type: integer
            format: uint32
          type: array
          description: >-
            List of indices in the offices array, one for each office elected
            from this division. Will only be present if includeOffices was true
            (or absent) in the request.
      description: Describes a political geography.
      type: object
    ElectionOfficial:
      id: ElectionOfficial
      properties:
        name:
          type: string
          description: The full name of the election official.
        faxNumber:
          type: string
          description: The fax number of the election official.
        title:
          type: string
          description: The title of the election official.
        emailAddress:
          type: string
          description: The email address of the election official.
        officePhoneNumber:
          type: string
          description: The office phone number of the election official.
      description: Information about individual election officials.
      type: object
    RepresentativeInfoResponse:
      id: RepresentativeInfoResponse
      type: object
      description: The result of a representative info lookup query.
      properties:
        normalizedInput:
          description: The normalized version of the requested address
          $ref: '#/components/schemas/SimpleAddressType'
        offices:
          description: >-
            Elected offices referenced by the divisions listed above. Will only
            be present if includeOffices was true in the request.
          type: array
          items:
            $ref: '#/components/schemas/Office'
        officials:
          description: >-
            Officials holding the offices listed above. Will only be present if
            includeOffices was true in the request.
          items:
            $ref: '#/components/schemas/Official'
          type: array
        divisions:
          additionalProperties:
            $ref: '#/components/schemas/GeographicDivision'
          type: object
          description: >-
            A map of political geographic divisions that contain the requested
            address, keyed by the unique Open Civic Data identifier for this
            division.
        kind:
          default: civicinfo#representativeInfoResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "civicinfo#representativeInfoResponse".
          type: string
    ElectionsQueryResponse:
      properties:
        elections:
          description: A list of available elections
          type: array
          items:
            $ref: '#/components/schemas/Election'
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "civicinfo#electionsQueryResponse".
          type: string
          default: civicinfo#electionsQueryResponse
      type: object
      description: The list of elections available for this version of the API.
      id: ElectionsQueryResponse
    Election:
      id: Election
      description: Information about the election that was queried.
      properties:
        id:
          type: string
          format: int64
          description: The unique ID of this election.
        shapeLookupBehavior:
          enum:
            - shapeLookupDefault
            - shapeLookupDisabled
            - shapeLookupEnabled
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
        ocdDivisionId:
          description: >-
            The political division of the election. Represented as an OCD
            Division ID. Voters within these political jurisdictions are covered
            by this election. This is typically a state such as
            ocd-division/country:us/state:ca or for the midterms or general
            election the entire US (i.e. ocd-division/country:us).
          type: string
        name:
          description: A displayable name for the election.
          type: string
        electionDay:
          description: Day of the election in YYYY-MM-DD format.
          type: string
      type: object
    Office:
      type: object
      description: Information about an Office held by one or more Officials.
      properties:
        officialIndices:
          type: array
          description: >-
            List of indices in the officials array of people who presently hold
            this office.
          items:
            type: integer
            format: uint32
        roles:
          description: >-
            The roles which this office fulfills. Roles are not meant to be
            exhaustive, or to exactly specify the entire set of responsibilities
            of a given office, but are meant to be rough categories that are
            useful for general selection from or sorting of a list of offices.
          type: array
          items:
            enumDescriptions:
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
            type: string
            enum:
              - headOfState
              - headOfGovernment
              - deputyHeadOfGovernment
              - governmentOfficer
              - executiveCouncil
              - legislatorUpperBody
              - legislatorLowerBody
              - highestCourtJudge
              - judge
              - schoolBoard
              - specialPurposeOfficer
              - otherRole
        levels:
          description: >-
            The levels of government of which this office is part. There may be
            more than one in cases where a jurisdiction effectively acts at two
            different levels of government; for example, the mayor of the
            District of Columbia acts at "locality" level, but also effectively
            at both "administrative-area-2" and "administrative-area-1".
          items:
            enumDescriptions:
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
            type: string
            enum:
              - international
              - country
              - administrativeArea1
              - regional
              - administrativeArea2
              - locality
              - subLocality1
              - subLocality2
              - special
          type: array
        sources:
          type: array
          description: >-
            A list of sources for this office. If multiple sources are listed,
            the data has been aggregated from those sources.
          items:
            $ref: '#/components/schemas/Source'
        divisionId:
          description: The OCD ID of the division with which this office is associated.
          type: string
        name:
          description: The human-readable name of the office.
          type: string
      id: Office
    Official:
      properties:
        address:
          type: array
          items:
            $ref: '#/components/schemas/SimpleAddressType'
          description: Addresses at which to contact the official.
        party:
          description: The full name of the party the official belongs to.
          type: string
        urls:
          items:
            type: string
          type: array
          description: The official's public website URLs.
        name:
          description: The official's name.
          type: string
        phones:
          items:
            type: string
          description: The official's public contact phone numbers.
          type: array
        photoUrl:
          type: string
          description: A URL for a photo of the official.
        channels:
          description: A list of known (social) media channels for this official.
          items:
            $ref: '#/components/schemas/Channel'
          type: array
        emails:
          items:
            type: string
          description: The direct email addresses for the official.
          type: array
      type: object
      description: Information about a person holding an elected office.
      id: Official
    Contest:
      properties:
        referendumText:
          type: string
          description: >-
            The full text of the referendum. This field is only populated for
            contests of type 'Referendum'.
        roles:
          items:
            type: string
            enum:
              - headOfState
              - headOfGovernment
              - deputyHeadOfGovernment
              - governmentOfficer
              - executiveCouncil
              - legislatorUpperBody
              - legislatorLowerBody
              - highestCourtJudge
              - judge
              - schoolBoard
              - specialPurposeOfficer
              - otherRole
            enumDescriptions:
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
          type: array
          description: The roles which this office fulfills.
        referendumProStatement:
          description: >-
            A statement in favor of the referendum. It does not necessarily
            appear on the ballot. This field is only populated for contests of
            type 'Referendum'.
          type: string
        district:
          $ref: '#/components/schemas/ElectoralDistrict'
          description: Information about the electoral district that this contest is in.
        candidates:
          items:
            $ref: '#/components/schemas/Candidate'
          description: The candidate choices for this contest.
          type: array
        primaryParties:
          description: >-
            If this is a partisan election, the name of the party/parties it is
            for.
          type: array
          items:
            type: string
        level:
          description: >-
            The levels of government of the office for this contest. There may
            be more than one in cases where a jurisdiction effectively acts at
            two different levels of government; for example, the mayor of the
            District of Columbia acts at "locality" level, but also effectively
            at both "administrative-area-2" and "administrative-area-1".
          type: array
          items:
            enumDescriptions:
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
            type: string
            enum:
              - international
              - country
              - administrativeArea1
              - regional
              - administrativeArea2
              - locality
              - subLocality1
              - subLocality2
              - special
        electorateSpecifications:
          type: string
          description: >-
            A description of any additional eligibility requirements for voting
            in this contest.
        referendumEffectOfAbstain:
          description: >-
            Specifies what effect abstaining (not voting) on the proposition
            will have (i.e. whether abstaining is considered a vote against it).
            This field is only populated for contests of type 'Referendum'.
          type: string
        type:
          type: string
          description: >-
            The type of contest. Usually this will be 'General', 'Primary', or
            'Run-off' for contests with candidates. For referenda this will be
            'Referendum'. For Retention contests this will typically be
            'Retention'.
        sources:
          items:
            $ref: '#/components/schemas/Source'
          description: >-
            A list of sources for this contest. If multiple sources are listed,
            the data has been aggregated from those sources.
          type: array
        office:
          description: The name of the office for this contest.
          type: string
        ballotTitle:
          description: >-
            The official title on the ballot for this contest, only where
            available.
          type: string
        referendumConStatement:
          type: string
          description: >-
            A statement in opposition to the referendum. It does not necessarily
            appear on the ballot. This field is only populated for contests of
            type 'Referendum'.
        referendumPassageThreshold:
          type: string
          description: >-
            The threshold of votes that the referendum needs in order to pass,
            e.g. "two-thirds". This field is only populated for contests of type
            'Referendum'.
        referendumBallotResponses:
          type: array
          description: >-
            The set of ballot responses for the referendum. A ballot response
            represents a line on the ballot. Common examples might include "yes"
            or "no" for referenda. This field is only populated for contests of
            type 'Referendum'.
          items:
            type: string
        referendumUrl:
          type: string
          description: >-
            A link to the referendum. This field is only populated for contests
            of type 'Referendum'.
        numberVotingFor:
          type: string
          description: The number of candidates that a voter may vote for in this contest.
          format: int64
        referendumBrief:
          description: >-
            Specifies a short summary of the referendum that is typically on the
            ballot below the title but above the text. This field is only
            populated for contests of type 'Referendum'.
          type: string
        referendumTitle:
          description: >-
            The title of the referendum (e.g. 'Proposition 42'). This field is
            only populated for contests of type 'Referendum'.
          type: string
        ballotPlacement:
          description: >-
            A number specifying the position of this contest on the voter's
            ballot.
          type: string
          format: int64
        referendumSubtitle:
          type: string
          description: >-
            A brief description of the referendum. This field is only populated
            for contests of type 'Referendum'.
        special:
          description: >-
            "Yes" or "No" depending on whether this a contest being held outside
            the normal election cycle.
          type: string
        numberElected:
          description: >-
            The number of candidates that will be elected to office in this
            contest.
          type: string
          format: int64
      type: object
      id: Contest
      description: Information about a contest that appears on a voter's ballot.
    SimpleAddressType:
      type: object
      properties:
        line3:
          description: The third line of the address, if needed.
          type: string
        state:
          description: The US two letter state abbreviation of the address.
          type: string
        line1:
          description: The street name and number of this address.
          type: string
        zip:
          type: string
          description: The US Postal Zip Code of the address.
        locationName:
          type: string
          description: The name of the location.
        line2:
          type: string
          description: The second line the address, if needed.
        city:
          type: string
          description: The city or town for the address.
      description: A simple representation of an address.
      id: SimpleAddressType
  parameters:
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/chrome.management.policy.readonly: >-
              See policies applied to Chrome OS and Chrome Browsers managed
              within your organization
            https://www.googleapis.com/auth/chrome.management.policy: >-
              See, edit, create or delete policies applied to Chrome OS and
              Chrome Browsers managed within your organization
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /civicinfo/v2/representatives/{ocdId}:
    parameters: &ref_1
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/quotaUser'
    get:
      description: Looks up representative information for a single geographic division.
      operationId: civicinfo.representatives.representativeInfoByDivision
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepresentativeInfoData'
      parameters:
        - in: path
          name: ocdId
          required: true
          schema:
            type: string
        - in: query
          name: roles
          schema:
            type: string
        - in: query
          name: levels
          schema:
            type: string
        - in: query
          name: recursive
          schema:
            type: boolean
      x-stackQL-resource: representatives
      x-stackQL-verb: exec
  /civicinfo/v2/representatives:
    parameters: *ref_1
    get:
      description: >-
        Looks up political geography and representative information for a single
        address.
      operationId: civicinfo.representatives.representativeInfoByAddress
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepresentativeInfoResponse'
      parameters:
        - in: query
          name: roles
          schema:
            type: string
        - in: query
          name: levels
          schema:
            type: string
        - in: query
          name: includeOffices
          schema:
            type: boolean
        - in: query
          name: address
          schema:
            type: string
      x-stackQL-resource: representatives
      x-stackQL-verb: exec
  /civicinfo/v2/voterinfo:
    parameters: *ref_1
    get:
      description: >-
        Looks up information relevant to a voter based on the voter's registered
        address.
      operationId: civicinfo.elections.voterInfoQuery
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoterInfoResponse'
      parameters:
        - in: query
          name: address
          required: true
          schema:
            type: string
        - in: query
          name: officialOnly
          schema:
            type: boolean
        - in: query
          name: productionDataOnly
          schema:
            type: boolean
        - in: query
          name: returnAllAvailableData
          schema:
            type: boolean
        - in: query
          name: electionId
          schema:
            type: string
      x-stackQL-resource: elections
      x-stackQL-verb: exec
  /civicinfo/v2/elections:
    parameters: *ref_1
    get:
      description: List of available elections to query.
      operationId: civicinfo.elections.electionQuery
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectionsQueryResponse'
      parameters:
        - in: query
          name: productionDataOnly
          schema:
            type: boolean
      x-stackQL-resource: elections
      x-stackQL-verb: exec
  /civicinfo/v2/divisions:
    parameters: *ref_1
    get:
      description: Searches for political divisions by their natural name or OCD ID.
      operationId: civicinfo.divisions.search
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionSearchResponse'
      parameters:
        - in: query
          name: query
          schema:
            type: string
      x-stackQL-resource: divisions
      x-stackQL-verb: exec
