openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Play Android Developer API
  description: >-
    Lets Android application developers access their Google Play accounts. At a
    high level, the expected workflow is to "insert" an Edit, make changes as
    necessary, and then "commit" it. 
  version: v3
  x-discovery-doc-revision: '20230622'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/android-publisher
servers:
  - url: https://androidpublisher.googleapis.com
components:
  schemas:
    SystemFeature:
      properties:
        name:
          description: The name of the feature.
          type: string
      description: Representation of a system feature.
      id: SystemFeature
      type: object
    UserInitiatedCancellation:
      description: Information specific to cancellations initiated by users.
      id: UserInitiatedCancellation
      type: object
      properties:
        cancelSurveyResult:
          $ref: '#/components/schemas/CancelSurveyResult'
          description: >-
            Information provided by the user when they complete the subscription
            cancellation flow (cancellation reason survey).
        cancelTime:
          description: >-
            The time at which the subscription was canceled by the user. The
            user might still have access to the subscription after this time.
            Use line_items.expiry_time to determine if a user still has access.
          format: google-datetime
          type: string
    GeneratedAssetPackSlice:
      id: GeneratedAssetPackSlice
      type: object
      description: Download metadata for an asset pack slice.
      properties:
        moduleName:
          description: Name of the module that this asset slice belongs to.
          type: string
        version:
          description: Asset module version.
          type: string
          format: int64
        downloadId:
          description: >-
            Download ID, which uniquely identifies the APK to download. Should
            be supplied to `generatedapks.download` method.
          type: string
        sliceId:
          description: Asset slice ID.
          type: string
    RefundExternalTransactionRequest:
      id: RefundExternalTransactionRequest
      properties:
        fullRefund:
          $ref: '#/components/schemas/FullRefund'
          description: A full-amount refund.
        partialRefund:
          description: A partial refund.
          $ref: '#/components/schemas/PartialRefund'
        refundTime:
          description: Required. The time that the transaction was refunded.
          type: string
          format: google-datetime
      description: A request to refund an existing external transaction.
      type: object
    InappproductsListResponse:
      type: object
      id: InappproductsListResponse
      description: Response listing all in-app products.
      properties:
        kind:
          description: >-
            The kind of this response
            ("androidpublisher#inappproductsListResponse").
          type: string
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
          description: Deprecated and unset.
        tokenPagination:
          description: >-
            Pagination token, to handle a number of products that is over one
            page.
          $ref: '#/components/schemas/TokenPagination'
        inappproduct:
          type: array
          items:
            $ref: '#/components/schemas/InAppProduct'
          description: All in-app products.
    RegionalTaxRateInfo:
      id: RegionalTaxRateInfo
      type: object
      properties:
        taxTier:
          description: >-
            Tax tier to specify reduced tax rate. Developers who sell digital
            news, magazines, newspapers, books, or audiobooks in various regions
            may be eligible for reduced tax rates. [Learn
            more](https://support.google.com/googleplay/android-developer/answer/10463498).
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          type: string
          enum:
            - TAX_TIER_UNSPECIFIED
            - TAX_TIER_BOOKS_1
            - TAX_TIER_NEWS_1
            - TAX_TIER_NEWS_2
            - TAX_TIER_MUSIC_OR_AUDIO_1
            - TAX_TIER_LIVE_OR_BROADCAST_1
        eligibleForStreamingServiceTaxRate:
          type: boolean
          description: >-
            You must tell us if your app contains streaming products to
            correctly charge US state and local sales tax. Field only supported
            in United States.
        streamingTaxType:
          type: string
          description: >-
            To collect communications or amusement taxes in the United States,
            choose the appropriate tax category. [Learn
            more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).
          enumDescriptions:
            - No telecommunications tax collected.
            - >-
              US-specific telecommunications tax tier for video streaming, on
              demand, rentals / subscriptions / pay-per-view.
            - >-
              US-specific telecommunications tax tier for video streaming of
              pre-recorded content like movies, tv shows.
            - >-
              US-specific telecommunications tax tier for video streaming of
              multi-channel programming.
            - >-
              US-specific telecommunications tax tier for audio streaming,
              rental / subscription.
            - >-
              US-specific telecommunications tax tier for audio streaming, sale
              / permanent download.
            - >-
              US-specific telecommunications tax tier for multi channel audio
              streaming like radio.
          enum:
            - STREAMING_TAX_TYPE_UNSPECIFIED
            - STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL
            - STREAMING_TAX_TYPE_TELCO_VIDEO_SALES
            - STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL
            - STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL
            - STREAMING_TAX_TYPE_TELCO_AUDIO_SALES
            - STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL
      description: Specified details about taxation in a given geographical region.
    OtherRegionsSubscriptionOfferConfig:
      properties:
        otherRegionsNewSubscriberAvailability:
          type: boolean
          description: >-
            Whether the subscription offer in any new locations Play may launch
            in the future. If not specified, this will default to false.
      id: OtherRegionsSubscriptionOfferConfig
      type: object
      description: >-
        Configuration for any new locations Play may launch in specified on a
        subscription offer.
    SubscribeWithGoogleInfo:
      id: SubscribeWithGoogleInfo
      properties:
        profileName:
          type: string
          description: The profile name of the user when the subscription was purchased.
        familyName:
          description: The family name of the user when the subscription was purchased.
          type: string
        givenName:
          type: string
          description: The given name of the user when the subscription was purchased.
        emailAddress:
          description: The email address of the user when the subscription was purchased.
          type: string
        profileId:
          description: >-
            The Google profile id of the user when the subscription was
            purchased.
          type: string
      type: object
      description: Information associated with purchases made with 'Subscribe with Google'.
    DeviceTier:
      properties:
        level:
          type: integer
          format: int32
          description: >-
            The priority level of the tier. Tiers are evaluated in descending
            order of level: the highest level tier has the highest priority. The
            highest tier matching a given device is selected for that device.
            You should use a contiguous range of levels for your tiers in a tier
            set; tier levels in a tier set must be unique. For instance, if your
            tier set has 4 tiers (including the global fallback), you should
            define tiers 1, 2 and 3 in this configuration. Note: tier 0 is
            implicitly defined as a global fallback and selected for devices
            that don't match any of the tiers explicitly defined here. You
            mustn't define level 0 explicitly in this configuration.
        deviceGroupNames:
          description: >-
            Groups of devices included in this tier. These groups must be
            defined explicitly under device_groups in this configuration.
          type: array
          items:
            type: string
      type: object
      description: >-
        A single device tier. Devices matching any of the device groups in
        device_group_names are considered to match the tier.
      id: DeviceTier
    TrackRelease:
      type: object
      properties:
        versionCodes:
          type: array
          description: >-
            Version codes of all APKs in the release. Must include version codes
            to retain from previous releases.
          items:
            format: int64
            type: string
        status:
          description: The status of the release.
          type: string
          enum:
            - statusUnspecified
            - draft
            - inProgress
            - halted
            - completed
          enumDescriptions:
            - Unspecified status.
            - The release's APKs are not being served to users.
            - >-
              The release's APKs are being served to a fraction of users,
              determined by 'user_fraction'.
            - >-
              The release's APKs will no longer be served to users. Users who
              already have these APKs are unaffected.
            - >-
              The release will have no further changes. Its APKs are being
              served to all users, unless they are eligible to APKs of a more
              recent release.
        releaseNotes:
          items:
            $ref: '#/components/schemas/LocalizedText'
          type: array
          description: A description of what is new in this release.
        inAppUpdatePriority:
          format: int32
          description: >-
            In-app update priority of the release. All newly added APKs in the
            release will be considered at this priority. Can take values in the
            range [0, 5], with 5 the highest priority. Defaults to 0.
            in_app_update_priority can not be updated once the release is rolled
            out. See
            https://developer.android.com/guide/playcore/in-app-updates.
          type: integer
        name:
          type: string
          description: >-
            The release name. Not required to be unique. If not set, the name is
            generated from the APK's version_name. If the release contains
            multiple APKs, the name is generated from the date.
        countryTargeting:
          description: Restricts a release to a specific set of countries.
          $ref: '#/components/schemas/CountryTargeting'
        userFraction:
          format: double
          type: number
          description: >-
            Fraction of users who are eligible for a staged release. 0 <
            fraction < 1. Can only be set when status is "inProgress" or
            "halted".
      id: TrackRelease
      description: A release within a track.
    ReviewReplyResult:
      description: The result of replying/updating a reply to review.
      properties:
        replyText:
          type: string
          description: The reply text that was applied.
        lastEdited:
          description: The time at which the reply took effect.
          $ref: '#/components/schemas/Timestamp'
      type: object
      id: ReviewReplyResult
    SubscriptionCancelSurveyResult:
      description: >-
        Information provided by the user when they complete the subscription
        cancellation flow (cancellation reason survey).
      type: object
      properties:
        userInputCancelReason:
          description: >-
            The customized input cancel reason from the user. Only present when
            cancelReason is 0.
          type: string
        cancelSurveyReason:
          type: integer
          description: >-
            The cancellation reason the user chose in the survey. Possible
            values are: 0. Other 1. I don't use this service enough 2. Technical
            issues 3. Cost-related reasons 4. I found a better app
          format: int32
      id: SubscriptionCancelSurveyResult
    SubscriptionPurchaseV2:
      id: SubscriptionPurchaseV2
      properties:
        linkedPurchaseToken:
          type: string
          description: >-
            The purchase token of the old subscription if this subscription is
            one of the following: * Re-signup of a canceled but non-lapsed
            subscription * Upgrade/downgrade from a previous subscription. *
            Convert from prepaid to auto renewing subscription. * Convert from
            an auto renewing subscription to prepaid. * Topup a prepaid
            subscription.
        kind:
          type: string
          description: >-
            This kind represents a SubscriptionPurchaseV2 object in the
            androidpublisher service.
        testPurchase:
          description: Only present if this subscription purchase is a test purchase.
          $ref: '#/components/schemas/TestPurchase'
        pausedStateContext:
          $ref: '#/components/schemas/PausedStateContext'
          description: >-
            Additional context around paused subscriptions. Only present if the
            subscription currently has subscription_state
            SUBSCRIPTION_STATE_PAUSED.
        startTime:
          type: string
          description: >-
            Time at which the subscription was granted. Not set for pending
            subscriptions (subscription was created but awaiting payment during
            signup).
          format: google-datetime
        subscribeWithGoogleInfo:
          $ref: '#/components/schemas/SubscribeWithGoogleInfo'
          description: >-
            User profile associated with purchases made with 'Subscribe with
            Google'.
        lineItems:
          items:
            $ref: '#/components/schemas/SubscriptionPurchaseLineItem'
          type: array
          description: >-
            Item-level info for a subscription purchase. The items in the same
            purchase should be either all with AutoRenewingPlan or all with
            PrepaidPlan.
        subscriptionState:
          enumDescriptions:
            - Unspecified subscription state.
            - >-
              Subscription was created but awaiting payment during signup. In
              this state, all items are awaiting payment.
            - >-
              Subscription is active. - (1) If the subscription is an auto
              renewing plan, at least one item is auto_renew_enabled and not
              expired. - (2) If the subscription is a prepaid plan, at least one
              item is not expired.
            - >-
              Subscription is paused. The state is only available when the
              subscription is an auto renewing plan. In this state, all items
              are in paused state.
            - >-
              Subscription is in grace period. The state is only available when
              the subscription is an auto renewing plan. In this state, all
              items are in grace period.
            - >-
              Subscription is on hold (suspended). The state is only available
              when the subscription is an auto renewing plan. In this state, all
              items are on hold.
            - >-
              Subscription is canceled but not expired yet. The state is only
              available when the subscription is an auto renewing plan. All
              items have auto_renew_enabled set to false.
            - Subscription is expired. All items have expiry_time in the past.
          enum:
            - SUBSCRIPTION_STATE_UNSPECIFIED
            - SUBSCRIPTION_STATE_PENDING
            - SUBSCRIPTION_STATE_ACTIVE
            - SUBSCRIPTION_STATE_PAUSED
            - SUBSCRIPTION_STATE_IN_GRACE_PERIOD
            - SUBSCRIPTION_STATE_ON_HOLD
            - SUBSCRIPTION_STATE_CANCELED
            - SUBSCRIPTION_STATE_EXPIRED
          description: The current state of the subscription.
          type: string
        externalAccountIdentifiers:
          $ref: '#/components/schemas/ExternalAccountIdentifiers'
          description: User account identifier in the third-party service.
        acknowledgementState:
          type: string
          enum:
            - ACKNOWLEDGEMENT_STATE_UNSPECIFIED
            - ACKNOWLEDGEMENT_STATE_PENDING
            - ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED
          description: The acknowledgement state of the subscription.
          enumDescriptions:
            - Unspecified acknowledgement state.
            - The subscription is not acknowledged yet.
            - The subscription is acknowledged.
        canceledStateContext:
          description: >-
            Additional context around canceled subscriptions. Only present if
            the subscription currently has subscription_state
            SUBSCRIPTION_STATE_CANCELED.
          $ref: '#/components/schemas/CanceledStateContext'
        regionCode:
          type: string
          description: >-
            ISO 3166-1 alpha-2 billing country/region code of the user at the
            time the subscription was granted.
        latestOrderId:
          type: string
          description: >-
            The order id of the latest order associated with the purchase of the
            subscription. For autoRenewing subscription, this is the order id of
            signup order if it is not renewed yet, or the last recurring order
            id (success, pending, or declined order). For prepaid subscription,
            this is the order id associated with the queried purchase token.
      description: Indicates the status of a user's subscription purchase.
      type: object
    ExternalTransaction:
      description: The details of an external transaction.
      properties:
        recurringTransaction:
          description: This transaction is part of a recurring series of transactions.
          $ref: '#/components/schemas/RecurringExternalTransaction'
        testPurchase:
          readOnly: true
          $ref: '#/components/schemas/ExternalTransactionTestPurchase'
          description: >-
            Output only. If set, this transaction was a test purchase. Google
            will not charge for a test transaction.
        transactionState:
          enumDescriptions:
            - Unspecified transaction state. Not used.
            - The transaction has been successfully reported to Google.
            - The transaction has been fully refunded.
          type: string
          enum:
            - TRANSACTION_STATE_UNSPECIFIED
            - TRANSACTION_REPORTED
            - TRANSACTION_CANCELED
          readOnly: true
          description: Output only. The current state of the transaction.
        oneTimeTransaction:
          description: This is a one-time transaction and not part of a subscription.
          $ref: '#/components/schemas/OneTimeExternalTransaction'
        originalPreTaxAmount:
          description: >-
            Required. The original transaction amount before taxes. This
            represents the pre-tax amount originally notified to Google before
            any refunds were applied.
          $ref: '#/components/schemas/Price'
        createTime:
          type: string
          description: >-
            Output only. The time when this transaction was created. This is the
            time when Google was notified of the transaction.
          format: google-datetime
          readOnly: true
        currentPreTaxAmount:
          readOnly: true
          $ref: '#/components/schemas/Price'
          description: >-
            Output only. The current transaction amount before tax. This
            represents the current pre-tax amount including any refunds that may
            have been applied to this transaction.
        currentTaxAmount:
          $ref: '#/components/schemas/Price'
          readOnly: true
          description: >-
            Output only. The current tax amount. This represents the current tax
            amount including any refunds that may have been applied to this
            transaction.
        transactionTime:
          format: google-datetime
          description: Required. The time when the transaction was completed.
          type: string
        packageName:
          readOnly: true
          description: >-
            Output only. The resource name of the external transaction. The
            package name of the application the inapp products were sold (for
            example, 'com.some.app').
          type: string
        externalTransactionId:
          readOnly: true
          description: >-
            Output only. The id of this transaction. All transaction ids under
            the same package name must be unique. Set when creating the external
            transaction.
          type: string
        originalTaxAmount:
          description: >-
            Required. The original tax amount. This represents the tax amount
            originally notified to Google before any refunds were applied.
          $ref: '#/components/schemas/Price'
        userTaxAddress:
          description: Required. User address for tax computation.
          $ref: '#/components/schemas/ExternalTransactionAddress'
      id: ExternalTransaction
      type: object
    ProductPurchasesAcknowledgeRequest:
      type: object
      description: Request for the product.purchases.acknowledge API.
      id: ProductPurchasesAcknowledgeRequest
      properties:
        developerPayload:
          type: string
          description: Payload to attach to the purchase.
    TargetingRuleScope:
      type: object
      id: TargetingRuleScope
      properties:
        specificSubscriptionInApp:
          description: >-
            The scope of the current targeting rule is the subscription with the
            specified subscription ID. Must be a subscription within the same
            parent app.
          type: string
      description: >-
        Defines the scope of subscriptions which a targeting rule can match to
        target offers to users based on past or current entitlement.
    ApksAddExternallyHostedResponse:
      type: object
      properties:
        externallyHostedApk:
          description: The definition of the externally-hosted APK and where it is located.
          $ref: '#/components/schemas/ExternallyHostedApk'
      id: ApksAddExternallyHostedResponse
      description: Response for creating a new externally hosted APK.
    ApksListResponse:
      properties:
        kind:
          type: string
          description: The kind of this response ("androidpublisher#apksListResponse").
        apks:
          items:
            $ref: '#/components/schemas/Apk'
          type: array
          description: All APKs.
      description: Response listing all APKs.
      id: ApksListResponse
      type: object
    OneTimeExternalTransaction:
      id: OneTimeExternalTransaction
      type: object
      description: Represents a one-time transaction.
      properties:
        externalTransactionToken:
          type: string
          description: >-
            Input only. Provided during the call to Create. Retrieved from the
            client when the alternative billing flow is launched.
    IntroductoryPriceInfo:
      type: object
      id: IntroductoryPriceInfo
      properties:
        introductoryPriceCurrencyCode:
          type: string
          description: >-
            ISO 4217 currency code for the introductory subscription price. For
            example, if the price is specified in British pounds sterling,
            price_currency_code is "GBP".
        introductoryPriceAmountMicros:
          type: string
          format: int64
          description: >-
            Introductory price of the subscription, not including tax. The
            currency is the same as price_currency_code. Price is expressed in
            micro-units, where 1,000,000 micro-units represents one unit of the
            currency. For example, if the subscription price is €1.99,
            price_amount_micros is 1990000.
        introductoryPriceCycles:
          type: integer
          description: The number of billing period to offer introductory pricing.
          format: int32
        introductoryPricePeriod:
          type: string
          description: >-
            Introductory price period, specified in ISO 8601 format. Common
            values are (but not limited to) "P1W" (one week), "P1M" (one month),
            "P3M" (three months), "P6M" (six months), and "P1Y" (one year).
      description: Contains the introductory price information for a subscription.
    OtherRegionsSubscriptionOfferPhasePrices:
      description: Pricing information for any new locations Play may launch in.
      id: OtherRegionsSubscriptionOfferPhasePrices
      type: object
      properties:
        eurPrice:
          $ref: '#/components/schemas/Money'
          description: >-
            Required. Price in EUR to use for any new locations Play may launch
            in.
        usdPrice:
          $ref: '#/components/schemas/Money'
          description: >-
            Required. Price in USD to use for any new locations Play may launch
            in.
    Timestamp:
      properties:
        seconds:
          description: Represents seconds of UTC time since Unix epoch.
          type: string
          format: int64
        nanos:
          description: >-
            Non-negative fractions of a second at nanosecond resolution. Must be
            from 0 to 999,999,999 inclusive.
          format: int32
          type: integer
      id: Timestamp
      type: object
      description: >-
        A Timestamp represents a point in time independent of any time zone or
        local calendar, encoded as a count of seconds and fractions of seconds
        at nanosecond resolution. The count is relative to an epoch at UTC
        midnight on January 1, 1970.
    Price:
      id: Price
      type: object
      properties:
        currency:
          description: >-
            3 letter Currency code, as defined by ISO 4217. See
            java/com/google/common/money/CurrencyCode.java
          type: string
        priceMicros:
          description: >-
            Price in 1/million of the currency base unit, represented as a
            string.
          type: string
      description: Definition of a price, i.e. currency and units.
    RecurringExternalTransaction:
      type: object
      description: >-
        Represents a transaction that is part of a recurring series of payments.
        This can be a subscription or a one-time product with multiple payments
        (such as preorder).
      id: RecurringExternalTransaction
      properties:
        initialExternalTransactionId:
          description: >-
            The external transaction id of the first transaction of this
            recurring series of transactions. For example, for a subscription
            this would be the transaction id of the first payment. Required when
            creating recurring external transactions.
          type: string
        externalTransactionToken:
          type: string
          description: >-
            Input only. Provided during the call to Create. Retrieved from the
            client when the alternative billing flow is launched. Required only
            for the initial purchase.
        externalSubscription:
          description: Details of an external subscription.
          $ref: '#/components/schemas/ExternalSubscription'
    OfferDetails:
      properties:
        basePlanId:
          type: string
          description: The base plan ID. Present for all base plan and offers.
        offerTags:
          type: array
          items:
            type: string
          description: >-
            The latest offer tags associated with the offer. It includes tags
            inherited from the base plan.
        offerId:
          type: string
          description: The offer ID. Only present for discounted offers.
      id: OfferDetails
      type: object
      description: Offer details information related to a purchase line item.
    ApkBinary:
      description: Represents the binary payload of an APK.
      properties:
        sha1:
          description: >-
            A sha1 hash of the APK payload, encoded as a hex string and matching
            the output of the sha1sum command.
          type: string
        sha256:
          description: >-
            A sha256 hash of the APK payload, encoded as a hex string and
            matching the output of the sha256sum command.
          type: string
      type: object
      id: ApkBinary
    AutoRenewingPlan:
      properties:
        priceChangeDetails:
          description: >-
            The information of the last price change for the item since
            subscription signup.
          $ref: '#/components/schemas/SubscriptionItemPriceChangeDetails'
        autoRenewEnabled:
          type: boolean
          description: >-
            If the subscription is currently set to auto-renew, e.g. the user
            has not canceled the subscription
      id: AutoRenewingPlan
      description: Information related to an auto renewing plan.
      type: object
    GeneratedSplitApk:
      description: Download metadata for a split APK.
      type: object
      properties:
        downloadId:
          type: string
          description: >-
            Download ID, which uniquely identifies the APK to download. Should
            be supplied to `generatedapks.download` method.
        splitId:
          description: Split ID. Empty for the main split of the base module.
          type: string
        moduleName:
          type: string
          description: Name of the module that this APK belongs to.
        variantId:
          type: integer
          description: ID of the generated variant.
          format: int32
      id: GeneratedSplitApk
    DeveloperComment:
      type: object
      id: DeveloperComment
      description: Developer entry from conversation between user and developer.
      properties:
        text:
          description: The content of the comment, i.e. reply body.
          type: string
        lastModified:
          $ref: '#/components/schemas/Timestamp'
          description: The last time at which this comment was updated.
    DeviceId:
      id: DeviceId
      type: object
      properties:
        buildDevice:
          type: string
          description: Value of Build.DEVICE.
        buildBrand:
          type: string
          description: Value of Build.BRAND.
      description: Identifier of a device.
    VoidedPurchasesListResponse:
      type: object
      properties:
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
          description: Pagination information for token pagination.
        voidedPurchases:
          items:
            $ref: '#/components/schemas/VoidedPurchase'
          type: array
        pageInfo:
          description: General pagination information.
          $ref: '#/components/schemas/PageInfo'
      description: Response for the voidedpurchases.list API.
      id: VoidedPurchasesListResponse
    InAppProductListing:
      type: object
      id: InAppProductListing
      description: Store listing of a single in-app product.
      properties:
        title:
          type: string
          description: Title for the store listing.
        description:
          type: string
          description: Description for the store listing.
        benefits:
          type: array
          items:
            type: string
          description: Localized entitlement benefits for a subscription.
    SubscriptionPurchasesDeferRequest:
      type: object
      properties:
        deferralInfo:
          $ref: '#/components/schemas/SubscriptionDeferralInfo'
          description: >-
            The information about the new desired expiry time for the
            subscription.
      id: SubscriptionPurchasesDeferRequest
      description: Request for the purchases.subscriptions.defer API.
    MigrateBasePlanPricesRequest:
      type: object
      description: Request message for MigrateBasePlanPrices.
      properties:
        regionsVersion:
          $ref: '#/components/schemas/RegionsVersion'
          description: >-
            Required. The version of the available regions being used for the
            regional_price_migrations.
        regionalPriceMigrations:
          items:
            $ref: '#/components/schemas/RegionalPriceMigrationConfig'
          type: array
          description: Required. The regional prices to update.
      id: MigrateBasePlanPricesRequest
    CancelSurveyResult:
      id: CancelSurveyResult
      type: object
      description: >-
        Result of the cancel survey when the subscription was canceled by the
        user.
      properties:
        reason:
          enum:
            - CANCEL_SURVEY_REASON_UNSPECIFIED
            - CANCEL_SURVEY_REASON_NOT_ENOUGH_USAGE
            - CANCEL_SURVEY_REASON_TECHNICAL_ISSUES
            - CANCEL_SURVEY_REASON_COST_RELATED
            - CANCEL_SURVEY_REASON_FOUND_BETTER_APP
            - CANCEL_SURVEY_REASON_OTHERS
          description: The reason the user selected in the cancel survey.
          enumDescriptions:
            - Unspecified cancel survey reason.
            - Not enough usage of the subscription.
            - Technical issues while using the app.
            - Cost related issues.
            - The user found a better app.
            - Other reasons.
          type: string
        reasonUserInput:
          description: >-
            Only set for CANCEL_SURVEY_REASON_OTHERS. This is the user's
            freeform response to the survey.
          type: string
    User:
      properties:
        email:
          type: string
          description: Immutable. The user's email address.
        partial:
          readOnly: true
          description: >-
            Output only. Whether there are more permissions for the user that
            are not represented here. This can happen if the caller does not
            have permission to manage all apps in the account. This is also
            `true` if this user is the account owner. If this field is `true`,
            it should be taken as a signal that this user cannot be fully
            managed via the API. That is, the API caller is not be able to
            manage all of the permissions this user holds, either because it
            doesn't know about them or because the user is the account owner.
          type: boolean
        developerAccountPermissions:
          items:
            enumDescriptions:
              - Unknown or unspecified permission.
              - View app information and download bulk reports (read-only).
              - View financial data, orders, and cancellation survey responses.
              - Admin (all permissions).
              - Edit Play Games Services projects.
              - Publish Play Games Services projects.
              - Reply to reviews.
              - >-
                Release to production, exclude devices, and use app signing by
                Google Play.
              - Release to testing tracks.
              - Manage testing tracks and edit tester lists.
              - Manage store presence.
              - Create, edit, and delete draft apps.
              - Create and publish private apps to your organization.
              - >-
                Choose whether apps are public, or only available to your
                organization.
              - Manage orders and subscriptions.
              - Manage policy related pages on all apps for the developer.
              - View app information and download bulk reports (read-only).
              - View app quality information for all apps for the developer.
            type: string
            enum:
              - DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED
              - CAN_SEE_ALL_APPS
              - CAN_VIEW_FINANCIAL_DATA_GLOBAL
              - CAN_MANAGE_PERMISSIONS_GLOBAL
              - CAN_EDIT_GAMES_GLOBAL
              - CAN_PUBLISH_GAMES_GLOBAL
              - CAN_REPLY_TO_REVIEWS_GLOBAL
              - CAN_MANAGE_PUBLIC_APKS_GLOBAL
              - CAN_MANAGE_TRACK_APKS_GLOBAL
              - CAN_MANAGE_TRACK_USERS_GLOBAL
              - CAN_MANAGE_PUBLIC_LISTING_GLOBAL
              - CAN_MANAGE_DRAFT_APPS_GLOBAL
              - CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL
              - CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL
              - CAN_MANAGE_ORDERS_GLOBAL
              - CAN_MANAGE_APP_CONTENT_GLOBAL
              - CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL
              - CAN_VIEW_APP_QUALITY_GLOBAL
          type: array
          description: Permissions for the user which apply across the developer account.
        accessState:
          description: Output only. The state of the user's access to the Play Console.
          enum:
            - ACCESS_STATE_UNSPECIFIED
            - INVITED
            - INVITATION_EXPIRED
            - ACCESS_GRANTED
            - ACCESS_EXPIRED
          type: string
          readOnly: true
          enumDescriptions:
            - Unknown or unspecified access state.
            - User is invited but has not yet accepted the invitation.
            - Invitation has expired.
            - >-
              User has accepted an invitation and has access to the Play
              Console.
            - Account access has expired.
        name:
          type: string
          description: >-
            Required. Resource name for this user, following the pattern
            "developers/{developer}/users/{email}".
        expirationTime:
          description: >-
            The time at which the user's access expires, if set. When setting
            this value, it must always be in the future.
          type: string
          format: google-datetime
        grants:
          type: array
          items:
            $ref: '#/components/schemas/Grant'
          readOnly: true
          description: Output only. Per-app permissions for the user.
      description: A user resource.
      type: object
      id: User
    RegionalSubscriptionOfferPhaseConfig:
      type: object
      description: >-
        Configuration for a single phase of a subscription offer in a single
        region.
      properties:
        regionCode:
          type: string
          description: Required. Immutable. The region to which this config applies.
        price:
          description: >-
            The absolute price the user pays for this offer phase. The price
            must not be smaller than the minimum price allowed for this region.
          $ref: '#/components/schemas/Money'
        relativeDiscount:
          description: >-
            The fraction of the base plan price prorated over the phase duration
            that the user pays for this offer phase. For example, if the base
            plan price for this region is $12 for a period of 1 year, then a 50%
            discount for a phase of a duration of 3 months would correspond to a
            price of $1.50. The discount must be specified as a fraction
            strictly larger than 0 and strictly smaller than 1. The resulting
            price will be rounded to the nearest billable unit (e.g. cents for
            USD). The relative discount is considered invalid if the discounted
            price ends up being smaller than the minimum price allowed in this
            region.
          type: number
          format: double
        absoluteDiscount:
          $ref: '#/components/schemas/Money'
          description: >-
            The absolute amount of money subtracted from the base plan price
            prorated over the phase duration that the user pays for this offer
            phase. For example, if the base plan price for this region is $12
            for a period of 1 year, then a $1 absolute discount for a phase of a
            duration of 3 months would correspond to a price of $2. The
            resulting price may not be smaller than the minimum price allowed
            for this region.
      id: RegionalSubscriptionOfferPhaseConfig
    RegionalPriceMigrationConfig:
      id: RegionalPriceMigrationConfig
      properties:
        oldestAllowedPriceVersionTime:
          description: >-
            Required. The cutoff time for historical prices that subscribers can
            remain paying. Subscribers who are on a price that was created
            before this cutoff time will be migrated to the currently-offered
            price. These subscribers will receive a notification that they will
            be paying a different price. Subscribers who do not agree to the new
            price will have their subscription ended at the next renewal.
          type: string
          format: google-datetime
        regionCode:
          description: >-
            Required. Region code this configuration applies to, as defined by
            ISO 3166-2, e.g. "US".
          type: string
      type: object
      description: Configuration for a price migration.
    ApksAddExternallyHostedRequest:
      description: Request to create a new externally hosted APK.
      type: object
      properties:
        externallyHostedApk:
          $ref: '#/components/schemas/ExternallyHostedApk'
          description: The definition of the externally-hosted APK and where it is located.
      id: ApksAddExternallyHostedRequest
    MigrateBasePlanPricesResponse:
      type: object
      id: MigrateBasePlanPricesResponse
      properties: {}
      description: Response message for MigrateBasePlanPrices.
    AcquisitionTargetingRule:
      description: 'Represents a targeting rule of the form: User never had {scope} before.'
      properties:
        scope:
          description: >-
            Required. The scope of subscriptions this rule considers. Only
            allows "this subscription" and "any subscription in app".
          $ref: '#/components/schemas/TargetingRuleScope'
      id: AcquisitionTargetingRule
      type: object
    BundlesListResponse:
      description: Response listing all app bundles.
      type: object
      properties:
        bundles:
          type: array
          description: All app bundles.
          items:
            $ref: '#/components/schemas/Bundle'
        kind:
          type: string
          description: The kind of this response ("androidpublisher#bundlesListResponse").
      id: BundlesListResponse
    InternalAppSharingArtifact:
      properties:
        sha256:
          description: >-
            The sha256 hash of the artifact represented as a lowercase
            hexadecimal number, matching the output of the sha256sum command.
          type: string
        certificateFingerprint:
          description: >-
            The sha256 fingerprint of the certificate used to sign the generated
            artifact.
          type: string
        downloadUrl:
          description: >-
            The download URL generated for the uploaded artifact. Users that are
            authorized to download can follow the link to the Play Store app to
            install it.
          type: string
      type: object
      description: >-
        An artifact resource which gets created when uploading an APK or Android
        App Bundle through internal app sharing.
      id: InternalAppSharingArtifact
    SubscriptionItemPriceChangeDetails:
      id: SubscriptionItemPriceChangeDetails
      description: Price change related information of a subscription item.
      properties:
        expectedNewPriceChargeTime:
          description: >-
            The renewal time at which the price change will become effective for
            the user. This is subject to change(to a future time) due to cases
            where the renewal time shifts like pause.
          type: string
          format: google-datetime
        priceChangeState:
          description: State the price change is currently in.
          type: string
          enum:
            - PRICE_CHANGE_STATE_UNSPECIFIED
            - OUTSTANDING
            - CONFIRMED
            - APPLIED
          enumDescriptions:
            - Price change state unspecified. This value should not be used.
            - Waiting for the user to agree for the price change.
            - The price change is confirmed to happen for the user.
            - >-
              The price change is applied, i.e. the user has started being
              charged the new price.
        priceChangeMode:
          type: string
          enum:
            - PRICE_CHANGE_MODE_UNSPECIFIED
            - PRICE_DECREASE
            - PRICE_INCREASE
          enumDescriptions:
            - Price change mode unspecified. This value should never be set.
            - If the subscription price is decreasing.
            - >-
              If the subscription price is increasing and the user needs to
              accept it.
          description: >-
            Price change mode specifies how the subscription item price is
            changing.
        newPrice:
          $ref: '#/components/schemas/Money'
          description: New recurring price for the subscription item.
      type: object
    Track:
      description: A track configuration. The resource for TracksService.
      id: Track
      type: object
      properties:
        track:
          description: >-
            Identifier of the track. Form factor tracks have a special prefix as
            an identifier, for example `wear:production`,
            `automotive:production`. [More on track
            name](https://developers.google.com/android-publisher/tracks#ff-track-name)
          type: string
        releases:
          type: array
          items:
            $ref: '#/components/schemas/TrackRelease'
          description: >-
            In a read request, represents all active releases in the track. In
            an update request, represents desired changes.
    SubscriptionListing:
      properties:
        benefits:
          type: array
          description: >-
            A list of benefits shown to the user on platforms such as the Play
            Store and in restoration flows in the language of this listing.
            Plain text. Ordered list of at most four benefits.
          items:
            type: string
        languageCode:
          type: string
          description: >-
            Required. The language of this listing, as defined by BCP-47, e.g.
            "en-US".
        title:
          type: string
          description: >-
            Required. The title of this subscription in the language of this
            listing. Plain text.
        description:
          description: >-
            The description of this subscription in the language of this
            listing. Maximum length - 80 characters. Plain text.
          type: string
      id: SubscriptionListing
      type: object
      description: The consumer-visible metadata of a subscription.
    ConvertedRegionPrice:
      type: object
      id: ConvertedRegionPrice
      properties:
        regionCode:
          description: The region code of the region.
          type: string
        price:
          $ref: '#/components/schemas/Money'
          description: The converted price tax inclusive.
        taxAmount:
          $ref: '#/components/schemas/Money'
          description: The tax amount of the converted price.
      description: A converted region price.
    ImagesUploadResponse:
      description: Response for uploading an image.
      type: object
      id: ImagesUploadResponse
      properties:
        image:
          $ref: '#/components/schemas/Image'
          description: The uploaded image.
    ListSubscriptionsResponse:
      description: Response message for ListSubscriptions.
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
        subscriptions:
          description: The subscriptions from the specified app.
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
      id: ListSubscriptionsResponse
      type: object
    ReviewsReplyResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/ReviewReplyResult'
          description: The result of replying/updating a reply to review.
      id: ReviewsReplyResponse
      description: Response on status of replying to a review.
    DeviceTierSet:
      properties:
        deviceTiers:
          items:
            $ref: '#/components/schemas/DeviceTier'
          type: array
          description: Device tiers belonging to the set.
      description: >-
        A set of device tiers. A tier set determines what variation of app
        content gets served to a specific device, for device-targeted content.
        You should assign a priority level to each tier, which determines the
        ordering by which they are evaluated by Play. See the documentation of
        DeviceTier.level for more details.
      type: object
      id: DeviceTierSet
    PageInfo:
      properties:
        totalResults:
          description: >-
            Total number of results available on the backend ! The total number
            of results in the result set.
          type: integer
          format: int32
        resultPerPage:
          type: integer
          format: int32
          description: >-
            Maximum number of results returned in one page. ! The number of
            results included in the API response.
        startIndex:
          format: int32
          type: integer
          description: Index of the first result returned in the current page.
      description: >-
        Information about the current page. List operations that supports paging
        return only one "page" of results. This protocol buffer message
        describes the page that has been returned.
      type: object
      id: PageInfo
    Image:
      description: An uploaded image. The resource for ImagesService.
      id: Image
      properties:
        sha1:
          description: A sha1 hash of the image.
          type: string
        url:
          description: A URL that will serve a preview of the image.
          type: string
        sha256:
          type: string
          description: A sha256 hash of the image.
        id:
          type: string
          description: A unique id representing this image.
      type: object
    ProductPurchase:
      properties:
        purchaseState:
          description: >-
            The purchase state of the order. Possible values are: 0. Purchased
            1. Canceled 2. Pending
          format: int32
          type: integer
        obfuscatedExternalProfileId:
          description: >-
            An obfuscated version of the id that is uniquely associated with the
            user's profile in your app. Only present if specified using
            https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid
            when the purchase was made.
          type: string
        regionCode:
          description: >-
            ISO 3166-1 alpha-2 billing region code of the user at the time the
            product was granted.
          type: string
        acknowledgementState:
          format: int32
          description: >-
            The acknowledgement state of the inapp product. Possible values are:
            0. Yet to be acknowledged 1. Acknowledged
          type: integer
        orderId:
          description: The order id associated with the purchase of the inapp product.
          type: string
        purchaseToken:
          type: string
          description: >-
            The purchase token generated to identify this purchase. May not be
            present.
        obfuscatedExternalAccountId:
          type: string
          description: >-
            An obfuscated version of the id that is uniquely associated with the
            user's account in your app. Only present if specified using
            https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid
            when the purchase was made.
        developerPayload:
          description: >-
            A developer-specified string that contains supplemental information
            about an order.
          type: string
        purchaseType:
          type: integer
          description: >-
            The type of purchase of the inapp product. This field is only set if
            this purchase was not made using the standard in-app billing flow.
            Possible values are: 0. Test (i.e. purchased from a license testing
            account) 1. Promo (i.e. purchased using a promo code) 2. Rewarded
            (i.e. from watching a video ad instead of paying)
          format: int32
        purchaseTimeMillis:
          type: string
          format: int64
          description: >-
            The time the product was purchased, in milliseconds since the epoch
            (Jan 1, 1970).
        kind:
          description: >-
            This kind represents an inappPurchase object in the androidpublisher
            service.
          type: string
        quantity:
          description: >-
            The quantity associated with the purchase of the inapp product. If
            not present, the quantity is 1.
          type: integer
          format: int32
        consumptionState:
          format: int32
          type: integer
          description: >-
            The consumption state of the inapp product. Possible values are: 0.
            Yet to be consumed 1. Consumed
        productId:
          type: string
          description: The inapp product SKU. May not be present.
      id: ProductPurchase
      description: >-
        A ProductPurchase resource indicates the status of a user's inapp
        product purchase.
      type: object
    DeviceRam:
      type: object
      description: Conditions about a device's RAM capabilities.
      id: DeviceRam
      properties:
        maxBytes:
          type: string
          description: Maximum RAM in bytes (bound excluded).
          format: int64
        minBytes:
          description: Minimum RAM in bytes (bound included).
          format: int64
          type: string
    TestPurchase:
      description: Whether this subscription purchase is a test purchase.
      type: object
      id: TestPurchase
      properties: {}
    FullRefund:
      description: A full refund of the remaining amount of a transaction.
      properties: {}
      type: object
      id: FullRefund
    Subscription:
      properties:
        basePlans:
          description: >-
            The set of base plans for this subscription. Represents the prices
            and duration of the subscription if no other offers apply.
          type: array
          items:
            $ref: '#/components/schemas/BasePlan'
        archived:
          readOnly: true
          type: boolean
          description: >-
            Output only. Whether this subscription is archived. Archived
            subscriptions are not available to any subscriber any longer, cannot
            be updated, and are not returned in list requests unless the show
            archived flag is passed in.
        packageName:
          type: string
          description: Immutable. Package name of the parent app.
        productId:
          type: string
          description: >-
            Immutable. Unique product ID of the product. Unique within the
            parent app. Product IDs must be composed of lower-case letters
            (a-z), numbers (0-9), underscores (_) and dots (.). It must start
            with a lower-case letter or number, and be between 1 and 40
            (inclusive) characters in length.
        listings:
          items:
            $ref: '#/components/schemas/SubscriptionListing'
          type: array
          description: >-
            Required. List of localized listings for this subscription. Must
            contain at least an entry for the default language of the parent
            app.
        taxAndComplianceSettings:
          $ref: '#/components/schemas/SubscriptionTaxAndComplianceSettings'
          description: Details about taxes and legal compliance.
      type: object
      id: Subscription
      description: A single subscription for an app.
    UsesPermission:
      properties:
        maxSdkVersion:
          type: integer
          format: int32
          description: >-
            Optionally, the maximum SDK version for which the permission is
            required.
        name:
          description: The name of the permission requested.
          type: string
      id: UsesPermission
      description: A permission used by this APK.
      type: object
    DeviceGroup:
      id: DeviceGroup
      type: object
      properties:
        deviceSelectors:
          items:
            $ref: '#/components/schemas/DeviceSelector'
          description: >-
            Device selectors for this group. A device matching any of the
            selectors is included in this group.
          type: array
        name:
          type: string
          description: The name of the group.
      description: >-
        A group of devices. A group is defined by a set of device selectors. A
        device belongs to the group if it matches any selector (logical OR).
    DeactivateBasePlanRequest:
      id: DeactivateBasePlanRequest
      type: object
      properties: {}
      description: Request message for DeactivateBasePlan.
    OtherRegionsSubscriptionOfferPhaseConfig:
      type: object
      id: OtherRegionsSubscriptionOfferPhaseConfig
      description: >-
        Configuration for any new locations Play may launch in for a single
        offer phase.
      properties:
        absoluteDiscounts:
          description: >-
            The absolute amount of money subtracted from the base plan price
            prorated over the phase duration that the user pays for this offer
            phase. For example, if the base plan price for this region is $12
            for a period of 1 year, then a $1 absolute discount for a phase of a
            duration of 3 months would correspond to a price of $2. The
            resulting price may not be smaller than the minimum price allowed
            for any new locations Play may launch in.
          $ref: '#/components/schemas/OtherRegionsSubscriptionOfferPhasePrices'
        otherRegionsPrices:
          description: >-
            The absolute price the user pays for this offer phase. The price
            must not be smaller than the minimum price allowed for any new
            locations Play may launch in.
          $ref: '#/components/schemas/OtherRegionsSubscriptionOfferPhasePrices'
        relativeDiscount:
          format: double
          type: number
          description: >-
            The fraction of the base plan price prorated over the phase duration
            that the user pays for this offer phase. For example, if the base
            plan price for this region is $12 for a period of 1 year, then a 50%
            discount for a phase of a duration of 3 months would correspond to a
            price of $1.50. The discount must be specified as a fraction
            strictly larger than 0 and strictly smaller than 1. The resulting
            price will be rounded to the nearest billable unit (e.g. cents for
            USD). The relative discount is considered invalid if the discounted
            price ends up being smaller than the minimum price allowed in any
            new locations Play may launch in.
    ConvertedOtherRegionsPrice:
      type: object
      properties:
        usdPrice:
          $ref: '#/components/schemas/Money'
          description: >-
            Price in USD to use for the "Other regions" location exclusive of
            taxes.
        eurPrice:
          description: >-
            Price in EUR to use for the "Other regions" location exclusive of
            taxes.
          $ref: '#/components/schemas/Money'
      description: Converted other regions prices.
      id: ConvertedOtherRegionsPrice
    DeviceSpec:
      id: DeviceSpec
      type: object
      description: The device spec used to generate a system APK.
      properties:
        supportedAbis:
          description: >-
            Supported ABI architectures in the order of preference. The values
            should be the string as reported by the platform, e.g.
            "armeabi-v7a", "x86_64".
          type: array
          items:
            type: string
        supportedLocales:
          description: All installed locales represented as BCP-47 strings, e.g. "en-US".
          type: array
          items:
            type: string
        screenDensity:
          type: integer
          description: Screen dpi.
          format: uint32
    GeneratedUniversalApk:
      description: Download metadata for a universal APK.
      id: GeneratedUniversalApk
      type: object
      properties:
        downloadId:
          description: >-
            Download ID, which uniquely identifies the APK to download. Should
            be supplied to `generatedapks.download` method.
          type: string
    Bundle:
      description: Information about an app bundle. The resource for BundlesService.
      properties:
        versionCode:
          description: >-
            The version code of the Android App Bundle, as specified in the
            Android App Bundle's base module APK manifest file.
          type: integer
          format: int32
        sha1:
          type: string
          description: >-
            A sha1 hash of the upload payload, encoded as a hex string and
            matching the output of the sha1sum command.
        sha256:
          description: >-
            A sha256 hash of the upload payload, encoded as a hex string and
            matching the output of the sha256sum command.
          type: string
      id: Bundle
      type: object
    UserComment:
      id: UserComment
      type: object
      properties:
        appVersionCode:
          type: integer
          description: >-
            Integer version code of the app as installed at the time the review
            was written. May be absent.
          format: int32
        lastModified:
          description: The last time at which this comment was updated.
          $ref: '#/components/schemas/Timestamp'
        device:
          type: string
          description: >-
            Codename for the reviewer's device, e.g. klte, flounder. May be
            absent.
        deviceMetadata:
          $ref: '#/components/schemas/DeviceMetadata'
          description: Information about the characteristics of the user's device.
        originalText:
          type: string
          description: >-
            Untranslated text of the review, where the review was translated. If
            the review was not translated this is left blank.
        thumbsUpCount:
          type: integer
          description: Number of users who have given this review a thumbs up.
          format: int32
        text:
          description: >-
            The content of the comment, i.e. review body. In some cases users
            have been able to write a review with separate title and body; in
            those cases the title and body are concatenated and separated by a
            tab character.
          type: string
        thumbsDownCount:
          type: integer
          format: int32
          description: Number of users who have given this review a thumbs down.
        androidOsVersion:
          type: integer
          format: int32
          description: >-
            Integer Android SDK version of the user's device at the time the
            review was written, e.g. 23 is Marshmallow. May be absent.
        starRating:
          type: integer
          format: int32
          description: The star rating associated with the review, from 1 to 5.
        reviewerLanguage:
          description: >-
            Language code for the reviewer. This is taken from the device
            settings so is not guaranteed to match the language the review is
            written in. May be absent.
          type: string
        appVersionName:
          type: string
          description: >-
            String version name of the app as installed at the time the review
            was written. May be absent.
      description: User entry from conversation between user and developer.
    DeviceSelector:
      id: DeviceSelector
      description: >-
        Selector for a device group. A selector consists of a set of conditions
        on the device that should all match (logical AND) to determine a device
        group eligibility. For instance, if a selector specifies RAM conditions,
        device model inclusion and device model exclusion, a device is
        considered to match if: device matches RAM conditions AND device matches
        one of the included device models AND device doesn't match excluded
        device models
      properties:
        excludedDeviceIds:
          items:
            $ref: '#/components/schemas/DeviceId'
          type: array
          description: >-
            Device models excluded by this selector, even if they match all
            other conditions.
        deviceRam:
          description: Conditions on the device's RAM.
          $ref: '#/components/schemas/DeviceRam'
        forbiddenSystemFeatures:
          type: array
          description: >-
            A device that has any of these system features is excluded by this
            selector, even if it matches all other conditions.
          items:
            $ref: '#/components/schemas/SystemFeature'
        includedDeviceIds:
          description: Device models included by this selector.
          items:
            $ref: '#/components/schemas/DeviceId'
          type: array
        requiredSystemFeatures:
          type: array
          items:
            $ref: '#/components/schemas/SystemFeature'
          description: >-
            A device needs to have all these system features to be included by
            the selector.
      type: object
    Review:
      type: object
      properties:
        reviewId:
          description: Unique identifier for this review.
          type: string
        authorName:
          description: The name of the user who wrote the review.
          type: string
        comments:
          items:
            $ref: '#/components/schemas/Comment'
          description: A repeated field containing comments for the review.
          type: array
      description: An Android app review.
      id: Review
    ActivateBasePlanRequest:
      properties: {}
      description: Request message for ActivateBasePlan.
      id: ActivateBasePlanRequest
      type: object
    ListDeviceTierConfigsResponse:
      description: Response listing existing device tier configs.
      type: object
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        deviceTierConfigs:
          type: array
          description: Device tier configs created by the developer.
          items:
            $ref: '#/components/schemas/DeviceTierConfig'
      id: ListDeviceTierConfigsResponse
    ImagesDeleteAllResponse:
      description: Response for deleting all images.
      properties:
        deleted:
          description: The deleted images.
          items:
            $ref: '#/components/schemas/Image'
          type: array
      type: object
      id: ImagesDeleteAllResponse
    SubscriptionPurchasesDeferResponse:
      id: SubscriptionPurchasesDeferResponse
      properties:
        newExpiryTimeMillis:
          type: string
          format: int64
          description: >-
            The new expiry time for the subscription in milliseconds since the
            Epoch.
      type: object
      description: Response for the purchases.subscriptions.defer API.
    GeneratedApksPerSigningKey:
      id: GeneratedApksPerSigningKey
      description: >-
        Download metadata for split, standalone and universal APKs, as well as
        asset pack slices, signed with a given key.
      properties:
        generatedSplitApks:
          description: >-
            List of generated split APKs, signed with a key corresponding to
            certificate_sha256_hash.
          items:
            $ref: '#/components/schemas/GeneratedSplitApk'
          type: array
        generatedUniversalApk:
          description: >-
            Generated universal APK, signed with a key corresponding to
            certificate_sha256_hash. This field is not set if no universal APK
            was generated for this signing key.
          $ref: '#/components/schemas/GeneratedUniversalApk'
        generatedStandaloneApks:
          items:
            $ref: '#/components/schemas/GeneratedStandaloneApk'
          type: array
          description: >-
            List of generated standalone APKs, signed with a key corresponding
            to certificate_sha256_hash.
        generatedAssetPackSlices:
          description: >-
            List of asset pack slices which will be served for this app bundle,
            signed with a key corresponding to certificate_sha256_hash.
          type: array
          items:
            $ref: '#/components/schemas/GeneratedAssetPackSlice'
        certificateSha256Hash:
          description: SHA256 hash of the APK signing public key certificate.
          type: string
      type: object
    SubscriptionPurchaseLineItem:
      id: SubscriptionPurchaseLineItem
      properties:
        offerDetails:
          $ref: '#/components/schemas/OfferDetails'
          description: The offer details for this item.
        expiryTime:
          description: >-
            Time at which the subscription expired or will expire unless the
            access is extended (ex. renews).
          format: google-datetime
          type: string
        productId:
          type: string
          description: The purchased product ID (for example, 'monthly001').
        autoRenewingPlan:
          description: The item is auto renewing.
          $ref: '#/components/schemas/AutoRenewingPlan'
        deferredItemReplacement:
          $ref: '#/components/schemas/DeferredItemReplacement'
          description: Information for deferred item replacement.
        prepaidPlan:
          $ref: '#/components/schemas/PrepaidPlan'
          description: The item is prepaid.
      description: Item-level info for a subscription purchase.
      type: object
    SystemInitiatedCancellation:
      description: Information specific to cancellations initiated by Google system.
      type: object
      properties: {}
      id: SystemInitiatedCancellation
    SubscriptionOfferTargeting:
      id: SubscriptionOfferTargeting
      type: object
      properties:
        acquisitionRule:
          description: Offer targeting rule for new user acquisition.
          $ref: '#/components/schemas/AcquisitionTargetingRule'
        upgradeRule:
          $ref: '#/components/schemas/UpgradeTargetingRule'
          description: Offer targeting rule for upgrading users' existing plans.
      description: Defines the rule a user needs to satisfy to receive this offer.
    CanceledStateContext:
      type: object
      properties:
        systemInitiatedCancellation:
          description: >-
            Subscription was canceled by the system, for example because of a
            billing problem.
          $ref: '#/components/schemas/SystemInitiatedCancellation'
        replacementCancellation:
          description: Subscription was replaced by a new subscription.
          $ref: '#/components/schemas/ReplacementCancellation'
        userInitiatedCancellation:
          $ref: '#/components/schemas/UserInitiatedCancellation'
          description: Subscription was canceled by user.
        developerInitiatedCancellation:
          description: Subscription was canceled by the developer.
          $ref: '#/components/schemas/DeveloperInitiatedCancellation'
      id: CanceledStateContext
      description: Information specific to a subscription in canceled state.
    UserCountrySet:
      id: UserCountrySet
      properties:
        name:
          type: string
          description: Country set name.
        countryCodes:
          description: >-
            List of country codes representing countries. A Country code is
            represented in ISO 3166 alpha-2 format. For Example:- "IT" for
            Italy, "GE" for Georgia.
          items:
            type: string
          type: array
      description: >-
        A set of user countries. A country set determines what variation of app
        content gets served to a specific location.
      type: object
    DeviceMetadata:
      type: object
      id: DeviceMetadata
      properties:
        deviceClass:
          description: Device class (e.g. tablet)
          type: string
        nativePlatform:
          type: string
          description: Comma separated list of native platforms (e.g. "arm", "arm7")
        cpuModel:
          description: Device CPU model, e.g. "MSM8974"
          type: string
        manufacturer:
          type: string
          description: Device manufacturer (e.g. Motorola)
        cpuMake:
          type: string
          description: Device CPU make, e.g. "Qualcomm"
        screenHeightPx:
          format: int32
          type: integer
          description: Screen height in pixels
        screenWidthPx:
          type: integer
          format: int32
          description: Screen width in pixels
        ramMb:
          description: Device RAM in Megabytes, e.g. "2048"
          type: integer
          format: int32
        glEsVersion:
          format: int32
          type: integer
          description: OpenGL version
        screenDensityDpi:
          description: Screen density in DPI
          type: integer
          format: int32
        productName:
          description: Device model name (e.g. Droid)
          type: string
      description: Characteristics of the user's device.
    Grant:
      properties:
        packageName:
          description: >-
            Immutable. The package name of the app. This will be empty for draft
            apps.
          type: string
        appLevelPermissions:
          type: array
          description: The permissions granted to the user for this app.
          items:
            enum:
              - APP_LEVEL_PERMISSION_UNSPECIFIED
              - CAN_ACCESS_APP
              - CAN_VIEW_FINANCIAL_DATA
              - CAN_MANAGE_PERMISSIONS
              - CAN_REPLY_TO_REVIEWS
              - CAN_MANAGE_PUBLIC_APKS
              - CAN_MANAGE_TRACK_APKS
              - CAN_MANAGE_TRACK_USERS
              - CAN_MANAGE_PUBLIC_LISTING
              - CAN_MANAGE_DRAFT_APPS
              - CAN_MANAGE_ORDERS
              - CAN_MANAGE_APP_CONTENT
              - CAN_VIEW_NON_FINANCIAL_DATA
              - CAN_VIEW_APP_QUALITY
            type: string
            enumDescriptions:
              - Unknown or unspecified permission.
              - >-
                View app information (read-only). Deprecated: Try defining a
                more granular capability. Otherwise, check
                AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.
              - View financial data.
              - Admin (all permissions).
              - Reply to reviews.
              - >-
                Release to production, exclude devices, and use app signing by
                Google Play.
              - Release to testing tracks.
              - Manage testing tracks and edit tester lists.
              - Manage store presence.
              - Edit and delete draft apps.
              - Manage orders and subscriptions.
              - Manage policy related pages.
              - View app information (read-only).
              - View app quality data such as Vitals, Crashes etc.
        name:
          type: string
          description: >-
            Required. Resource name for this grant, following the pattern
            "developers/{developer}/users/{email}/grants/{package_name}". If
            this grant is for a draft app, the app ID will be used in this
            resource name instead of the package name.
      type: object
      id: Grant
      description: An access grant resource.
    AutoRenewingBasePlanType:
      id: AutoRenewingBasePlanType
      description: >-
        Represents a base plan that automatically renews at the end of its
        subscription period.
      type: object
      properties:
        billingPeriodDuration:
          description: >-
            Required. Subscription period, specified in ISO 8601 format. For a
            list of acceptable billing periods, refer to the help center.
          type: string
        legacyCompatibleSubscriptionOfferId:
          type: string
          description: >-
            Subscription offer id which is legacy compatible. The backward
            compatible subscription offer is returned by the Google Play Billing
            Library deprecated method querySkuDetailsAsync(). Only one
            subscription offer can be marked as legacy compatible for a given
            renewing base plan. To have no Subscription offer as legacy
            compatible set this field as empty string.
        legacyCompatible:
          description: >-
            Whether the renewing base plan is backward compatible. The backward
            compatible base plan is returned by the Google Play Billing Library
            deprecated method querySkuDetailsAsync(). Only one renewing base
            plan can be marked as legacy compatible for a given subscription.
          type: boolean
        prorationMode:
          description: >-
            The proration mode for the base plan determines what happens when a
            user switches to this plan from another base plan. If unspecified,
            defaults to CHARGE_ON_NEXT_BILLING_DATE.
          enum:
            - SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED
            - SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE
            - SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY
          enumDescriptions:
            - Unspecified mode.
            - >-
              Users will be charged for their new base plan at the end of their
              current billing period.
            - >-
              Users will be charged for their new base plan immediately and in
              full. Any remaining period of their existing subscription will be
              used to extend the duration of the new billing plan.
          type: string
        gracePeriodDuration:
          type: string
          description: >-
            Grace period of the subscription, specified in ISO 8601 format.
            Acceptable values are P0D (zero days), P3D (3 days), P7D (7 days),
            P14D (14 days), and P30D (30 days). If not specified, a default
            value will be used based on the recurring period duration.
        resubscribeState:
          enumDescriptions:
            - Unspecified state.
            - Resubscribe is active.
            - Resubscribe is inactive.
          description: >-
            Whether users should be able to resubscribe to this base plan in
            Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not
            specified.
          type: string
          enum:
            - RESUBSCRIBE_STATE_UNSPECIFIED
            - RESUBSCRIBE_STATE_ACTIVE
            - RESUBSCRIBE_STATE_INACTIVE
    ExternalTransactionAddress:
      id: ExternalTransactionAddress
      description: User's address for the external transaction.
      type: object
      properties:
        regionCode:
          description: >-
            Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN
            region codes).
          type: string
    ReviewsReplyRequest:
      type: object
      properties:
        replyText:
          description: >-
            The text to set as the reply. Replies of more than approximately 350
            characters will be rejected. HTML tags will be stripped.
          type: string
      description: Request to reply to review or update existing reply.
      id: ReviewsReplyRequest
    ExternallyHostedApk:
      properties:
        fileSha256Base64:
          description: >-
            The sha256 checksum of this APK, represented as a base64 encoded
            byte array.
          type: string
        fileSha1Base64:
          type: string
          description: >-
            The sha1 checksum of this APK, represented as a base64 encoded byte
            array.
        packageName:
          description: The package name.
          type: string
        usesFeatures:
          type: array
          description: The features required by this APK (optional).
          items:
            type: string
        versionName:
          type: string
          description: The version name of this APK.
        versionCode:
          type: integer
          format: int32
          description: The version code of this APK.
        certificateBase64s:
          description: >-
            A certificate (or array of certificates if a certificate-chain is
            used) used to sign this APK, represented as a base64 encoded byte
            array.
          type: array
          items:
            type: string
        nativeCodes:
          description: The native code environments supported by this APK (optional).
          items:
            type: string
          type: array
        externallyHostedUrl:
          type: string
          description: The URL at which the APK is hosted. This must be an https URL.
        fileSize:
          type: string
          format: int64
          description: The file size in bytes of this APK.
        applicationLabel:
          description: The application label.
          type: string
        maximumSdk:
          type: integer
          format: int32
          description: The maximum SDK supported by this APK (optional).
        minimumSdk:
          description: The minimum SDK targeted by this APK.
          type: integer
          format: int32
        iconBase64:
          type: string
          description: The icon image from the APK, as a base64 encoded byte array.
        usesPermissions:
          type: array
          description: The permissions requested by this APK.
          items:
            $ref: '#/components/schemas/UsesPermission'
      id: ExternallyHostedApk
      type: object
      description: >-
        Defines an APK available for this application that is hosted externally
        and not uploaded to Google Play. This function is only available to
        organizations using Managed Play whose application is configured to
        restrict distribution to the organizations.
    TokenPagination:
      properties:
        previousPageToken:
          type: string
        nextPageToken:
          description: >-
            Tokens to pass to the standard list field 'page_token'. Whenever
            available, tokens are preferred over manipulating start_index.
          type: string
      type: object
      description: >-
        Pagination information returned by a List operation when token
        pagination is enabled. List operations that supports paging return only
        one "page" of results. This protocol buffer message describes the page
        that has been returned. When using token pagination, clients should use
        the next/previous token to get another page of the result. The presence
        or absence of next/previous token indicates whether a next/previous page
        is available and provides a mean of accessing this page.
        ListRequest.page_token should be set to either next_page_token or
        previous_page_token to access another page.
      id: TokenPagination
    PrepaidPlan:
      id: PrepaidPlan
      properties:
        allowExtendAfterTime:
          description: >-
            If present, this is the time after which top up purchases are
            allowed for the prepaid plan. Will not be present for expired
            prepaid plans.
          format: google-datetime
          type: string
      type: object
      description: Information related to a prepaid plan.
    OtherRegionsBasePlanConfig:
      properties:
        newSubscriberAvailability:
          description: >-
            Whether the base plan is available for new subscribers in any new
            locations Play may launch in. If not specified, this will default to
            false.
          type: boolean
        eurPrice:
          $ref: '#/components/schemas/Money'
          description: >-
            Required. Price in EUR to use for any new locations Play may launch
            in.
        usdPrice:
          $ref: '#/components/schemas/Money'
          description: >-
            Required. Price in USD to use for any new locations Play may launch
            in.
      type: object
      description: Pricing information for any new locations Play may launch in.
      id: OtherRegionsBasePlanConfig
    SystemApksListResponse:
      type: object
      description: Response to list previously created system APK variants.
      properties:
        variants:
          items:
            $ref: '#/components/schemas/Variant'
          description: All system APK variants created.
          type: array
      id: SystemApksListResponse
    VoidedPurchase:
      description: >-
        A VoidedPurchase resource indicates a purchase that was either
        canceled/refunded/charged-back.
      type: object
      properties:
        purchaseTimeMillis:
          description: >-
            The time at which the purchase was made, in milliseconds since the
            epoch (Jan 1, 1970).
          type: string
          format: int64
        voidedSource:
          format: int32
          type: integer
          description: >-
            The initiator of voided purchase, possible values are: 0. User 1.
            Developer 2. Google
        kind:
          type: string
          description: >-
            This kind represents a voided purchase object in the
            androidpublisher service.
        orderId:
          type: string
          description: >-
            The order id which uniquely identifies a one-time purchase,
            subscription purchase, or subscription renewal.
        purchaseToken:
          type: string
          description: >-
            The token which uniquely identifies a one-time purchase or
            subscription. To uniquely identify subscription renewals use
            order_id (available starting from version 3 of the API).
        voidedReason:
          description: >-
            The reason why the purchase was voided, possible values are: 0.
            Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase
            5. Fraud 6. Friendly_fraud 7. Chargeback
          type: integer
          format: int32
        voidedTimeMillis:
          description: >-
            The time at which the purchase was canceled/refunded/charged-back,
            in milliseconds since the epoch (Jan 1, 1970).
          type: string
          format: int64
      id: VoidedPurchase
    ListUsersResponse:
      description: A response containing one or more users with access to an account.
      properties:
        nextPageToken:
          type: string
          description: >-
            A token to pass to subsequent calls in order to retrieve subsequent
            results. This will not be set if there are no more results to
            return.
        users:
          type: array
          description: The resulting users.
          items:
            $ref: '#/components/schemas/User'
      type: object
      id: ListUsersResponse
    ExternalTransactionTestPurchase:
      id: ExternalTransactionTestPurchase
      description: >-
        Represents a transaction performed using a test account. These
        transactions will not be charged by Google.
      properties: {}
      type: object
    RegionalBasePlanConfig:
      type: object
      id: RegionalBasePlanConfig
      description: Configuration for a base plan specific to a region.
      properties:
        newSubscriberAvailability:
          type: boolean
          description: >-
            Whether the base plan in the specified region is available for new
            subscribers. Existing subscribers will not have their subscription
            canceled if this value is set to false. If not specified, this will
            default to false.
        price:
          description: >-
            The price of the base plan in the specified region. Must be set if
            the base plan is available to new subscribers. Must be set in the
            currency that is linked to the specified region.
          $ref: '#/components/schemas/Money'
        regionCode:
          type: string
          description: >-
            Required. Region code this configuration applies to, as defined by
            ISO 3166-2, e.g. "US".
    ExternalSubscription:
      type: object
      id: ExternalSubscription
      description: Details of an external subscription.
      properties:
        subscriptionType:
          enum:
            - SUBSCRIPTION_TYPE_UNSPECIFIED
            - RECURRING
            - PREPAID
          type: string
          description: Required. The type of the external subscription.
          enumDescriptions:
            - Unspecified, do not use.
            - >-
              This is a recurring subscription where the user is charged every
              billing cycle.
            - This is a prepaid subscription where the user pays up front.
    AppEdit:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: >-
            Output only. Identifier of the edit. Can be used in subsequent API
            calls.
        expiryTimeSeconds:
          readOnly: true
          description: >-
            Output only. The time (as seconds since Epoch) at which the edit
            will expire and will be no longer valid for use.
          type: string
      description: An app edit. The resource for EditsService.
      id: AppEdit
    RegionalSubscriptionOfferConfig:
      description: Configuration for a subscription offer in a single region.
      type: object
      properties:
        regionCode:
          type: string
          description: >-
            Required. Immutable. Region code this configuration applies to, as
            defined by ISO 3166-2, e.g. "US".
        newSubscriberAvailability:
          description: >-
            Whether the subscription offer in the specified region is available
            for new subscribers. Existing subscribers will not have their
            subscription cancelled if this value is set to false. If not
            specified, this will default to false.
          type: boolean
      id: RegionalSubscriptionOfferConfig
    GeneratedApksListResponse:
      description: Response to list generated APKs.
      type: object
      id: GeneratedApksListResponse
      properties:
        generatedApks:
          type: array
          items:
            $ref: '#/components/schemas/GeneratedApksPerSigningKey'
          description: All generated APKs, grouped by the APK signing key.
    AppDetails:
      type: object
      properties:
        defaultLanguage:
          type: string
          description: Default language code, in BCP 47 format (eg "en-US").
        contactWebsite:
          type: string
          description: The user-visible website for this app.
        contactPhone:
          description: The user-visible support telephone number for this app.
          type: string
        contactEmail:
          type: string
          description: The user-visible support email for this app.
      description: The app details. The resource for DetailsService.
      id: AppDetails
    LocalizedText:
      description: Localized text in given language.
      type: object
      properties:
        language:
          description: >-
            Language localization code (a BCP-47 language tag; for example,
            "de-AT" for Austrian German).
          type: string
        text:
          description: The text in the given language.
          type: string
      id: LocalizedText
    InAppProduct:
      description: An in-app product. The resource for InappproductsService.
      properties:
        managedProductTaxesAndComplianceSettings:
          description: >-
            Details about taxes and legal compliance. Only applicable to managed
            products.
          $ref: '#/components/schemas/ManagedProductTaxAndComplianceSettings'
        purchaseType:
          enumDescriptions:
            - Unspecified purchase type.
            - The default product type - one time purchase.
            - In-app product with a recurring period.
          type: string
          enum:
            - purchaseTypeUnspecified
            - managedUser
            - subscription
          description: The type of the product, e.g. a recurring subscription.
        subscriptionPeriod:
          type: string
          description: >-
            Subscription period, specified in ISO 8601 format. Acceptable values
            are P1W (one week), P1M (one month), P3M (three months), P6M (six
            months), and P1Y (one year).
        sku:
          description: Stock-keeping-unit (SKU) of the product, unique within an app.
          type: string
        packageName:
          description: Package name of the parent app.
          type: string
        prices:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Price'
          description: >-
            Prices per buyer region. None of these can be zero, as in-app
            products are never free. Map key is region code, as defined by ISO
            3166-2.
        subscriptionTaxesAndComplianceSettings:
          $ref: '#/components/schemas/SubscriptionTaxAndComplianceSettings'
          description: >-
            Details about taxes and legal compliance. Only applicable to
            subscription products.
        defaultLanguage:
          type: string
          description: >-
            Default language of the localized data, as defined by BCP-47. e.g.
            "en-US".
        defaultPrice:
          description: >-
            Default price. Cannot be zero, as in-app products are never free.
            Always in the developer's Checkout merchant currency.
          $ref: '#/components/schemas/Price'
        listings:
          additionalProperties:
            $ref: '#/components/schemas/InAppProductListing'
          description: >-
            List of localized title and description data. Map key is the
            language of the localized data, as defined by BCP-47, e.g. "en-US".
          type: object
        status:
          enum:
            - statusUnspecified
            - active
            - inactive
          enumDescriptions:
            - Unspecified status.
            - The product is published and active in the store.
            - The product is not published and therefore inactive in the store.
          description: The status of the product, e.g. whether it's active.
          type: string
        gracePeriod:
          type: string
          description: >-
            Grace period of the subscription, specified in ISO 8601 format.
            Allows developers to give their subscribers a grace period when the
            payment for the new recurrence period is declined. Acceptable values
            are P0D (zero days), P3D (three days), P7D (seven days), P14D (14
            days), and P30D (30 days).
        trialPeriod:
          description: >-
            Trial period, specified in ISO 8601 format. Acceptable values are
            anything between P7D (seven days) and P999D (999 days).
          type: string
      id: InAppProduct
      type: object
    ExternalAccountIdentifiers:
      id: ExternalAccountIdentifiers
      type: object
      description: User account identifier in the third-party service.
      properties:
        obfuscatedExternalAccountId:
          type: string
          description: >-
            An obfuscated version of the id that is uniquely associated with the
            user's account in your app. Present for the following purchases: *
            If account linking happened as part of the subscription purchase
            flow. * It was specified using
            https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid
            when the purchase was made.
        externalAccountId:
          description: >-
            User account identifier in the third-party service. Only present if
            account linking happened as part of the subscription purchase flow.
          type: string
        obfuscatedExternalProfileId:
          type: string
          description: >-
            An obfuscated version of the id that is uniquely associated with the
            user's profile in your app. Only present if specified using
            https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid
            when the purchase was made.
    ListingsListResponse:
      properties:
        listings:
          description: All localized listings.
          items:
            $ref: '#/components/schemas/Listing'
          type: array
        kind:
          type: string
          description: The kind of this response ("androidpublisher#listingsListResponse").
      id: ListingsListResponse
      type: object
      description: Response listing all localized listings.
    Variant:
      type: object
      description: >-
        APK that is suitable for inclusion in a system image. The resource of
        SystemApksService.
[...]
