openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Search API
  description: >-
    Cloud Search provides cloud-based search capabilities over Google Workspace
    data. The Cloud Search API allows indexing of non-Google Workspace data into
    Cloud Search.
  version: v1
  x-discovery-doc-revision: '20230614'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/cloud-search/docs/guides/
servers:
  - url: https://cloudsearch.googleapis.com
components:
  schemas:
    SourceConfig:
      properties:
        source:
          description: The source for which this configuration is to be used.
          $ref: '#/components/schemas/Source'
        scoringConfig:
          $ref: '#/components/schemas/SourceScoringConfig'
          description: The scoring configuration for the source.
        crowdingConfig:
          $ref: '#/components/schemas/SourceCrowdingConfig'
          description: The crowding configuration for the source.
      id: SourceConfig
      type: object
      description: >-
        Configurations for a source while processing a Search or Suggest
        request.
    Snippet:
      type: object
      description: >-
        Snippet of the search result, which summarizes the content of the
        resulting page.
      id: Snippet
      properties:
        matchRanges:
          type: array
          description: The matched ranges in the snippet.
          items:
            $ref: '#/components/schemas/MatchRange'
        snippet:
          type: string
          description: >-
            The snippet of the document. The snippet of the document. May
            contain escaped HTML character that should be unescaped prior to
            rendering.
    UnreserveItemsRequest:
      type: object
      properties:
        connectorName:
          description: >-
            The name of connector making this call. Format:
            datasources/{source_id}/connectors/{ID}
          type: string
        queue:
          type: string
          description: The name of a queue to unreserve items from.
        debugOptions:
          $ref: '#/components/schemas/DebugOptions'
          description: Common debug options.
      id: UnreserveItemsRequest
    SearchApplication:
      id: SearchApplication
      properties:
        enableAuditLog:
          description: >-
            Indicates whether audit logging is on/off for requests made for the
            search application in query APIs.
          type: boolean
        defaultSortOptions:
          $ref: '#/components/schemas/SortOptions'
          description: The default options for sorting the search results
        name:
          type: string
          description: >-
            The name of the Search Application. Format:
            searchapplications/{application_id}.
        displayName:
          description: >-
            Display name of the Search Application. The maximum length is 300
            characters.
          type: string
        scoringConfig:
          $ref: '#/components/schemas/ScoringConfig'
          description: Configuration for ranking results.
        defaultFacetOptions:
          type: array
          description: >-
            The default fields for returning facet results. The sources
            specified here also have been included in data_source_restrictions
            above.
          items:
            $ref: '#/components/schemas/FacetOptions'
        sourceConfig:
          type: array
          items:
            $ref: '#/components/schemas/SourceConfig'
          description: Configuration for a sources specified in data_source_restrictions.
        operationIds:
          readOnly: true
          description: >-
            Output only. IDs of the Long Running Operations (LROs) currently
            running for this schema. Output only field.
          type: array
          items:
            type: string
        returnResultThumbnailUrls:
          type: boolean
          description: >-
            With each result we should return the URI for its thumbnail (when
            applicable)
        dataSourceRestrictions:
          type: array
          description: >-
            Retrictions applied to the configurations. The maximum number of
            elements is 10.
          items:
            $ref: '#/components/schemas/DataSourceRestriction'
        queryInterpretationConfig:
          description: The default options for query interpretation
          $ref: '#/components/schemas/QueryInterpretationConfig'
      type: object
      description: SearchApplication
    EnterpriseTopazSidekickAnswerSuggestedQueryAnswerCard:
      description: >-
        Contains a list of suggested queries. Allows the user to determine what
        natural language queries they can ask Cloud Search (e.g. "what can I
        search for?").
      id: EnterpriseTopazSidekickAnswerSuggestedQueryAnswerCard
      type: object
      properties:
        suggestedQueryCategory:
          items:
            $ref: >-
              #/components/schemas/EnterpriseTopazSidekickAnswerSuggestedQueryCategory
          description: A list of queries to suggest.
          type: array
    EnterpriseTopazSidekickPersonProfileCardRelatedPeople:
      properties:
        relation:
          enumDescriptions:
            - ''
            - ''
            - ''
          description: Relation type.
          enum:
            - UNKNOWN
            - MANAGER
            - DIRECT_REPORT
          type: string
        relatedPerson:
          description: Related people.
          items:
            $ref: '#/components/schemas/EnterpriseTopazSidekickCommonPerson'
          type: array
      id: EnterpriseTopazSidekickPersonProfileCardRelatedPeople
      type: object
    EnterpriseTopazSidekickAnswerAnswerListLabeledAnswer:
      description: An answer with a corresponding label.
      id: EnterpriseTopazSidekickAnswerAnswerListLabeledAnswer
      type: object
      properties:
        answer:
          description: The free text answer.
          type: string
        label:
          type: string
          description: >-
            A localized label for the answer (e.g. "Cell phone" vs "Desk
            phone").
    PeopleSuggestion:
      description: This field contains information about the person being suggested.
      id: PeopleSuggestion
      properties:
        person:
          $ref: '#/components/schemas/Person'
          description: >-
            Suggested person. All fields of the person object might not be
            populated.
      type: object
    EnterpriseTopazSidekickGenericAnswerCard:
      id: EnterpriseTopazSidekickGenericAnswerCard
      type: object
      properties:
        answer:
          description: The answer.
          type: string
        title:
          description: Title or header of the card.
          type: string
    Item:
      description: >-
        Represents a single object that is an item in the search index, such as
        a file, folder, or a database record.
      id: Item
      properties:
        structuredData:
          $ref: '#/components/schemas/ItemStructuredData'
          description: >-
            The structured data for the item that should conform to a registered
            object definition in the schema for the data source.
        queue:
          description: Queue this item belongs to. The maximum length is 100 characters.
          type: string
        version:
          format: byte
          type: string
          description: >-
            Required. The indexing system stores the version from the datasource
            as a byte string and compares the Item version in the index to the
            version of the queued Item using lexical ordering. Cloud Search
            Indexing won't index or delete any queued item with a version value
            that is less than or equal to the version of the currently indexed
            item. The maximum length for this field is 1024 bytes. For
            information on how item version affects the deletion process, refer
            to [Handle revisions after manual
            deletes](https://developers.google.com/cloud-search/docs/guides/operations).
        acl:
          description: Access control list for this item.
          $ref: '#/components/schemas/ItemAcl'
        itemType:
          enumDescriptions:
            - ''
            - >-
              An item that is indexed for the only purpose of serving
              information. These items cannot be referred in containerName or
              inheritAclFrom fields.
            - >-
              An item that gets indexed and whose purpose is to supply other
              items with ACLs and/or contain other items.
            - >-
              An item that does not get indexed, but otherwise has the same
              purpose as CONTAINER_ITEM.
          type: string
          enum:
            - UNSPECIFIED
            - CONTENT_ITEM
            - CONTAINER_ITEM
            - VIRTUAL_CONTAINER_ITEM
          description: The type for this item.
        name:
          type: string
          description: >-
            The name of the Item. Format:
            datasources/{source_id}/items/{item_id} This is a required field.
            The maximum length is 1536 characters.
        status:
          description: Status of the item. Output only field.
          $ref: '#/components/schemas/ItemStatus'
        payload:
          format: byte
          description: >-
            Additional state connector can store for this item. The maximum
            length is 10000 bytes.
          type: string
        content:
          $ref: '#/components/schemas/ItemContent'
          description: Item content to be indexed and made text searchable.
        metadata:
          $ref: '#/components/schemas/ItemMetadata'
          description: The metadata information.
      type: object
    EnterpriseTopazSidekickAnswerAnswerList:
      description: A list of answers represented as free text.
      properties:
        labeledAnswer:
          items:
            $ref: >-
              #/components/schemas/EnterpriseTopazSidekickAnswerAnswerListLabeledAnswer
          type: array
          description: Answers that have a corresponding label.
        type:
          type: string
          enum:
            - UNKNOWN
            - PERSON_ADDRESS
            - PERSON_BIRTHDAY
            - PERSON_DEPARTMENT
            - PERSON_DESK_LOCATION
            - PERSON_EMAIL
            - PERSON_JOB_TITLE
            - PERSON_PHONE
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          description: Answer type.
      type: object
      id: EnterpriseTopazSidekickAnswerAnswerList
    RequestOptions:
      description: Shared request options for all RPC methods.
      id: RequestOptions
      type: object
      properties:
        languageCode:
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For
            translations. Set this field using the language set in browser or
            for the page. In the event that the user's language preference is
            known, set this field to the known user language. When specified,
            the documents in search results are biased towards the specified
            language. From Suggest API perspective, for 3p suggest this is used
            as a hint while making predictions to add language boosting.
          type: string
        timeZone:
          type: string
          description: >-
            Current user's time zone id, such as "America/Los_Angeles" or
            "Australia/Sydney". These IDs are defined by [Unicode Common Locale
            Data Repository (CLDR)](http://cldr.unicode.org/) project, and
            currently available in the file
            [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml).
            This field is used to correctly interpret date and time queries. If
            this field is not specified, the default time zone (UTC) is used.
        debugOptions:
          description: Debug options of the request
          $ref: '#/components/schemas/DebugOptions'
        searchApplicationId:
          description: >-
            The ID generated when you create a search application using the
            [admin console](https://support.google.com/a/answer/9043922).
          type: string
    SourceResultCount:
      id: SourceResultCount
      type: object
      description: Per source result count information.
      properties:
        resultCountExact:
          description: The exact result count for this source.
          type: string
          format: int64
        resultCountEstimate:
          description: The estimated result count for this source.
          format: int64
          type: string
        source:
          description: The source the result count information is associated with.
          $ref: '#/components/schemas/Source'
        hasMoreResults:
          type: boolean
          description: Whether there are more search results for this source.
    EnterpriseTopazSidekickCommonPerson:
      description: Common representation of a person.
      type: object
      properties:
        gaiaId:
          format: int64
          type: string
          description: This field is deprecated. The obfuscated_id should be used instead.
        cellPhone:
          type: string
          description: Cell phone number.
        birthday:
          description: The birthday.
          $ref: '#/components/schemas/EnterpriseTopazSidekickCommonPersonBirthday'
        fullAddress:
          type: string
          description: >-
            The fully formatted address (e.g. 1255 Pear Avenue, Mountain View
            94043, United States).
        streetAddress:
          description: The street address (e.g. 1255 Pear Avenue).
          type: string
        displayName:
          description: The full name.
          type: string
        jobTitle:
          description: The person's job title (e.g. Software Engineer).
          type: string
        givenName:
          type: string
          description: The first name.
        manager:
          $ref: '#/components/schemas/EnterpriseTopazSidekickCommonPerson'
          description: The manager.
        obfuscatedId:
          type: string
          description: The obfuscated GAIA ID.
        deskPhone:
          description: Work desk phone number.
          type: string
        photoUrl:
          description: The URL for the Focus profile picture.
          type: string
        deskLocation:
          type: string
          description: Desk location (e.g. US-MTV-PR55-5-5B1I).
        department:
          description: The department the person works in (e.g. Engineering).
          type: string
        familyName:
          type: string
          description: The last name.
        email:
          description: Email.
          type: string
      id: EnterpriseTopazSidekickCommonPerson
    BooleanPropertyOptions:
      id: BooleanPropertyOptions
      properties:
        operatorOptions:
          $ref: '#/components/schemas/BooleanOperatorOptions'
          description: >-
            If set, describes how the boolean should be used as a search
            operator.
      description: The options for boolean properties.
      type: object
    SortOptions:
      properties:
        operatorName:
          type: string
          description: >-
            The name of the operator corresponding to the field to sort on. The
            corresponding property must be marked as sortable.
        sortOrder:
          type: string
          enum:
            - ASCENDING
            - DESCENDING
          description: Ascending is the default sort order
          enumDescriptions:
            - ''
            - ''
      id: SortOptions
      type: object
    DoubleValues:
      type: object
      properties:
        values:
          items:
            format: double
            type: number
          type: array
      id: DoubleValues
      description: List of double values.
    SearchResult:
      description: Results containing indexed information for a document.
      properties:
        clusteredResults:
          type: array
          description: >-
            If source is clustered, provide list of clustered results. There
            will only be one level of clustered results. If current source is
            not enabled for clustering, this field will be empty.
          items:
            $ref: '#/components/schemas/SearchResult'
        snippet:
          description: >-
            The concatenation of all snippets (summaries) available for this
            result.
          $ref: '#/components/schemas/Snippet'
        debugInfo:
          $ref: '#/components/schemas/ResultDebugInfo'
          description: Debugging information about this search result.
        url:
          description: >-
            The URL of the search result. The URL contains a Google redirect to
            the actual item. This URL is signed and shouldn't be changed.
          type: string
        title:
          type: string
          description: Title of the search result.
        metadata:
          description: Metadata of the search result.
          $ref: '#/components/schemas/Metadata'
      id: SearchResult
      type: object
    EnterpriseTopazSidekickRankingParams:
      id: EnterpriseTopazSidekickRankingParams
      description: Ranking params.
      type: object
      properties:
        startTimeMs:
          type: string
          format: uint64
          description: >-
            The start-time that this object will bid-for If the type is marked
            as FIXED, then this start-time will persist after bidding. If the
            type is marked as FLEXIBLE, then it will occur at the given time or
            sometime after the requested time. Expected to be set for all types.
        type:
          description: The packing type of this object.
          enumDescriptions:
            - Fixed, i.e., the card is time sensitive.
            - Flexible, i.e., the card is not time sensitive.
          enum:
            - FIXED
            - FLEXIBLE
          type: string
        endTimeMs:
          format: uint64
          type: string
          description: >-
            The end-time that this object will expect to occur. If the type is
            marked as FIXED, then this end-time will persist after bidding. If
            the type is marked as FLEXIBLE, this field is NOT expected to be
            filled and will be filled in after it has won a bid. Expected to be
            set when type is set to FIXED.
        score:
          format: float
          description: The score of the card to be used to break priority-ties
          type: number
        priority:
          enum:
            - UNKNOWN
            - CRITICAL
            - IMPORTANT
            - HIGH
            - NORMAL
            - BEST_EFFORT
          description: >-
            The priority to determine between objects that have the same
            start_time_ms The lower-value of priority == ranked higher.
            Max-priority = 0. Expected to be set for all types.
          type: string
          enumDescriptions:
            - Unknown (default).
            - Critical.
            - Important.
            - High.
            - Normal.
            - Best effort.
        spanMs:
          type: string
          format: uint64
          description: >-
            The span that this card will take in the stream Expected to be set
            when type is set to FLEXIBLE.
    EnterpriseTopazSidekickConflictingEventsCardProto:
      description: Conflicting meetings card proto.
      properties:
        mainEvent:
          $ref: '#/components/schemas/EnterpriseTopazSidekickAgendaEntry'
          description: The event identified as being the most important.
        conflictingEvent:
          description: All the events that conflict with main_event.
          type: array
          items:
            $ref: '#/components/schemas/EnterpriseTopazSidekickAgendaEntry'
      id: EnterpriseTopazSidekickConflictingEventsCardProto
      type: object
    EnterpriseTopazSidekickMeetingNotesCardRequest:
      id: EnterpriseTopazSidekickMeetingNotesCardRequest
      description: Meeting notes card request.
      properties:
        error:
          $ref: '#/components/schemas/EnterpriseTopazSidekickMeetingNotesCardError'
          description: The error and reason if known error occured.
        event:
          description: The event to request meeting notes creation
          $ref: '#/components/schemas/EnterpriseTopazSidekickAgendaEntry'
        canCreateFor:
          type: array
          description: Who are the meeting notes created for.
          items:
            enum:
              - UNKNOWN
              - MYSELF
              - ALL_ATTENDEES
            type: string
            enumDescriptions:
              - Unknown (default).
              - For the requester.
              - For all the meeting attendees.
      type: object
    DataSourceRestriction:
      id: DataSourceRestriction
      properties:
        source:
          $ref: '#/components/schemas/Source'
          description: The source of restriction.
        filterOptions:
          description: >-
            Filter options restricting the results. If multiple filters are
            present, they are grouped by object type before joining. Filters
            with the same object type are joined conjunctively, then the
            resulting expressions are joined disjunctively. The maximum number
            of elements is 20. NOTE: Suggest API supports only few filters at
            the moment: "objecttype", "type" and "mimetype". For now, schema
            specific filters cannot be used to filter suggestions.
          items:
            $ref: '#/components/schemas/FilterOptions'
          type: array
      description: Restriction on Datasource.
      type: object
    UpdateDataSourceRequest:
      type: object
      id: UpdateDataSourceRequest
      properties:
        debugOptions:
          $ref: '#/components/schemas/DebugOptions'
          description: Common debug options.
        source:
          $ref: '#/components/schemas/DataSource'
        updateMask:
          description: >-
            Only applies to
            [`settings.datasources.patch`](https://developers.google.com/cloud-search/docs/reference/rest/v1/settings.datasources/patch).
            Update mask to control which fields to update. Example field paths:
            `name`, `displayName`. * If `update_mask` is non-empty, then only
            the fields specified in the `update_mask` are updated. * If you
            specify a field in the `update_mask`, but don't specify its value in
            the source, that field is cleared. * If the `update_mask` is not
            present or empty or has the value `*`, then all fields are updated.
          type: string
          format: google-fieldmask
    HtmlPropertyOptions:
      id: HtmlPropertyOptions
      description: The options for html properties.
      type: object
      properties:
        operatorOptions:
          $ref: '#/components/schemas/HtmlOperatorOptions'
          description: >-
            If set, describes how the property should be used as a search
            operator.
        retrievalImportance:
          description: >-
            Indicates the search quality importance of the tokens within the
            field when used for retrieval. Can only be set to DEFAULT or NONE.
          $ref: '#/components/schemas/RetrievalImportance'
    EnterpriseTopazSidekickPeopleDisambiguationCard:
      properties:
        person:
          items:
            $ref: '#/components/schemas/EnterpriseTopazSidekickCommonPerson'
          type: array
          description: Candidate persons for the query.
      type: object
      id: EnterpriseTopazSidekickPeopleDisambiguationCard
    AuditLoggingSettings:
      properties:
        logAdminReadActions:
          type: boolean
          description: >-
            Indicates whether audit logging is on/off for admin activity read
            APIs i.e. Get/List DataSources, Get/List SearchApplications etc.
        project:
          type: string
          description: >-
            The resource name of the GCP Project to store audit logs. Cloud
            audit logging will be enabled after project_name has been updated
            through CustomerService. Format: projects/{project_id}
        logDataReadActions:
          type: boolean
          description: >-
            Indicates whether audit logging is on/off for data access read APIs
            i.e. ListItems, GetItem etc.
        logDataWriteActions:
          type: boolean
          description: >-
            Indicates whether audit logging is on/off for data access write APIs
            i.e. IndexItem etc.
      id: AuditLoggingSettings
      description: Represents the settings for Cloud audit logging
      type: object
    UserActivity:
      id: UserActivity
      type: object
      properties:
        queryActivity:
          description: Contains data which needs to be logged/removed.
          $ref: '#/components/schemas/QueryActivity'
      description: >-
        User's single or bulk query activity. This can be a logging query or
        deletion query.
    EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntry:
      properties:
        rationale:
          type: string
          description: Reason this document was selected.
        category:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - >-
              Mention categories. The mention has been viewed by the user, but
              the user has not replied.
            - The user has replied to the mention.
            - The mention has not been viewed by the user.
            - >-
              Share categories. Consists of documents that have been explicitly
              shared with the user. Document has been viewed.
            - Document has not been viewed.
            - Document has been edited.
          enum:
            - UNKNOWN_DOCUMENT
            - ACTIONABLE
            - VIEWED
            - REPLIED
            - MENTION_VIEWED
            - MENTION_REPLIED
            - MENTION_NOT_VIEWED
            - SHARED_AND_VIEWED
            - SHARED_NOT_VIEWED
            - EDITED
          type: string
        document:
          $ref: '#/components/schemas/EnterpriseTopazSidekickCommonDocument'
      id: >-
        EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntry
      type: object
    Date:
      type: object
      properties:
        day:
          description: Day of month. Must be from 1 to 31 and valid for the year and month.
          format: int32
          type: integer
        month:
          description: Month of date. Must be from 1 to 12.
          format: int32
          type: integer
        year:
          type: integer
          format: int32
          description: Year of date. Must be from 1 to 9999.
      description: >-
        Represents a whole calendar date, for example a date of birth. The time
        of day and time zone are either specified elsewhere or are not
        significant. The date is relative to the [Proleptic Gregorian
        Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar).
        The date must be a valid calendar date between the year 1 and 9999.
      id: Date
    EnterpriseTopazSidekickFindMeetingTimeCardProto:
      description: Response to find meeting time among a set of people.
      properties:
        skippedInvitees:
          type: array
          items:
            $ref: '#/components/schemas/EnterpriseTopazSidekickPerson'
          description: >-
            Invitees that have been skipped in the computation, most likely
            because they are groups.
        scheduledMeeting:
          $ref: '#/components/schemas/EnterpriseTopazSidekickScheduledMeeting'
          description: Details about the scheduled meeting, if one exists.
        invitees:
          type: array
          description: Invitees to the event.
          items:
            $ref: '#/components/schemas/EnterpriseTopazSidekickPerson'
        requester:
          description: Requester.
          $ref: '#/components/schemas/EnterpriseTopazSidekickPerson'
        timeBoundaries:
          $ref: '#/components/schemas/EnterpriseTopazSidekickTimeSlot'
          description: Min and max timestamp used to find a common available timeslot.
        commonAvailableTimeSlots:
          type: array
          items:
            $ref: '#/components/schemas/EnterpriseTopazSidekickTimeSlot'
          description: Slots when all attendees have availability.
        timezoneId:
          description: Timezone ID.
          type: string
      id: EnterpriseTopazSidekickFindMeetingTimeCardProto
      type: object
    QueryActivity:
      description: Details about a user's query activity.
      properties:
        query:
          description: User input query to be logged/removed.
          type: string
      id: QueryActivity
      type: object
    EnterpriseTopazSidekickCommonDocumentJustification:
      id: EnterpriseTopazSidekickCommonDocumentJustification
      description: Justification of why we are reporting the document.
      type: object
      properties:
        justification:
          type: string
          description: A locale aware message that explains why this document was selected.
        reason:
          enum:
            - UNKNOWN
            - TRENDING_IN_COLLABORATORS
            - TRENDING_IN_DOMAIN
            - FREQUENTLY_VIEWED
            - FREQUENTLY_EDITED
            - NEW_UPDATES
            - NEW_COMMENTS
            - EVENT_DESCRIPTION
            - EVENT_ATTACHMENT
            - EVENT_METADATA_ATTACHMENT
            - MINED_DOCUMENT
            - NEW_MENTIONS
            - NEW_SHARES
          type: string
          enumDescriptions:
            - Unknown justification.
            - Popular documents within collaborators.
            - Popular documents within the domain.
            - Documents being reviewed frequently by the current user .
            - Documents being edited frequently by the current user .
            - Documents updated since user's last visit.
            - Documents that receive comments since user's last visit.
            - Documents in the calendar event description.
            - Documents in the calendar event attachments section.
            - >-
              Documents attached in calendar event metadata instead of the
              attachment section. Event metadata is not visible to the final
              user. Enterprise assist uses this metadata to store auto-generated
              documents such as meeting notes.
            - >-
              Documents mined, and so, probably related to the request context.
              For example, this category includes documents related to a
              meeting.
            - Documents that contains mentions of the user.
            - Documents that are shared with the user.
          description: >-
            Reason on why the document is selected. Populate for trending
            documents.
    SuggestRequest:
      id: SuggestRequest
      properties:
        dataSourceRestrictions:
          description: >-
            The sources to use for suggestions. If not specified, the data
            sources are taken from the current search application. NOTE:
            Suggestions are only supported for the following sources: *
            Third-party data sources * PredefinedSource.PERSON *
            PredefinedSource.GOOGLE_DRIVE
          items:
            $ref: '#/components/schemas/DataSourceRestriction'
          type: array
        requestOptions:
          $ref: '#/components/schemas/RequestOptions'
          description: Request options, such as the search application and user timezone.
        query:
          description: >-
            Partial query for which autocomplete suggestions will be shown. For
            example, if the query is "sea", then the server might return
            "season", "search", "seagull" and so on.
          type: string
      type: object
      description: Request of suggest API.
    GetCustomerQueryStatsResponse:
      type: object
      properties:
        stats:
          type: array
          items:
            $ref: '#/components/schemas/CustomerQueryStats'
        totalQueryCount:
          type: string
          format: int64
          description: >-
            Total successful query count (status code 200) for the given date
            range.
      id: GetCustomerQueryStatsResponse
    SuggestResponse:
      type: object
      id: SuggestResponse
      description: Response of the suggest API.
      properties:
        suggestResults:
          description: List of suggestions.
          items:
            $ref: '#/components/schemas/SuggestResult'
          type: array
    SearchApplicationUserStats:
      type: object
      properties:
        date:
          description: >-
            The date for which session stats were calculated. Stats calculated
            on the next day close to midnight are returned.
          $ref: '#/components/schemas/Date'
        sevenDaysActiveUsersCount:
          description: The count of unique active users in the past seven days
          type: string
          format: int64
        oneDayActiveUsersCount:
          description: The count of unique active users in the past one day
          format: int64
          type: string
        thirtyDaysActiveUsersCount:
          format: int64
          type: string
          description: The count of unique active users in the past thirty days
      id: SearchApplicationUserStats
    CustomerSettings:
      id: CustomerSettings
      description: Represents settings at a customer level.
      properties:
        vpcSettings:
          $ref: '#/components/schemas/VPCSettings'
          description: >-
            VPC SC settings for the customer. If update_mask is empty then this
            field will be updated based on UpdateCustomerSettings request.
        auditLoggingSettings:
          description: >-
            Audit Logging settings for the customer. If update_mask is empty
            then this field will be updated based on UpdateCustomerSettings
            request.
          $ref: '#/components/schemas/AuditLoggingSettings'
      type: object
    DataSource:
      type: object
      id: DataSource
      properties:
        shortName:
          description: >-
            A short name or alias for the source. This value will be used to
            match the 'source' operator. For example, if the short name is
            *<value>* then queries like *source:<value>* will only return
            results for this source. The value must be unique across all
            datasources. The value must only contain alphanumeric characters
            (a-zA-Z0-9). The value cannot start with 'google' and cannot be one
            of the following: mail, gmail, docs, drive, groups, sites, calendar,
            hangouts, gplus, keep, people, teams. Its maximum length is 32
            characters.
          type: string
        name:
          type: string
          description: >-
            The name of the datasource resource. Format:
            datasources/{source_id}. The name is ignored when creating a
            datasource.
        operationIds:
          type: array
          items:
            type: string
          description: >-
            IDs of the Long Running Operations (LROs) currently running for this
            schema.
        displayName:
          description: >-
            Required. Display name of the datasource The maximum length is 300
            characters.
          type: string
        indexingServiceAccounts:
          type: array
          description: List of service accounts that have indexing access.
          items:
            type: string
        returnThumbnailUrls:
          description: >-
            Can a user request to get thumbnail URI for Items indexed in this
            data source.
          type: boolean
        itemsVisibility:
          items:
            $ref: '#/components/schemas/GSuitePrincipal'
          type: array
          description: >-
            This field restricts visibility to items at the datasource level.
            Items within the datasource are restricted to the union of users and
            groups included in this field. Note that, this does not ensure
            access to a specific item, as users need to have ACL permissions on
            the contained items. This ensures a high level access on the entire
            datasource, and that the individual items are not shared outside
            this visibility.
        disableModifications:
          description: >-
            If true, sets the datasource to read-only mode. In read-only mode,
            the Indexing API rejects any requests to index or delete items in
            this source. Enabling read-only mode does not stop the processing of
            previously accepted data.
          type: boolean
        disableServing:
          description: Disable serving any search or assist results.
          type: boolean
      description: >-
        Datasource is a logical namespace for items to be indexed. All items
        must belong to a datasource. This is the prerequisite before items can
        be indexed into Cloud Search.
    Principal:
      type: object
      properties:
        gsuitePrincipal:
          $ref: '#/components/schemas/GSuitePrincipal'
          description: This principal is a Google Workspace user, group or domain.
        groupResourceName:
          type: string
          description: >-
            This principal is a group identified using an external identity. The
            name field must specify the group resource name with this format:
            identitysources/{source_id}/groups/{ID}
        userResourceName:
          type: string
          description: >-
            This principal is a user identified using an external identity. The
            name field must specify the user resource name with this format:
            identitysources/{source_id}/users/{ID}
      id: Principal
      description: Reference to a user, group, or domain.
    GetCustomerSessionStatsResponse:
      type: object
      id: GetCustomerSessionStatsResponse
      properties:
        stats:
          type: array
          items:
            $ref: '#/components/schemas/CustomerSessionStats'
    DataSourceIndexStats:
      properties:
        date:
          description: >-
            The date for which index stats were calculated. If the date of
            request is not the current date then stats calculated on the next
            day are returned. Stats are calculated close to mid night in this
            case. If date of request is current date, then real time stats are
            returned.
          $ref: '#/components/schemas/Date'
        itemCountByStatus:
          type: array
          description: Number of items aggregrated by status code.
          items:
            $ref: '#/components/schemas/ItemCountByStatus'
      description: Aggregation of items by status code as of the specified date.
      type: object
      id: DataSourceIndexStats
    Filter:
      id: Filter
      description: >-
        A generic way of expressing filters in a query, which supports two
        approaches: **1. Setting a ValueFilter.** The name must match an
        operator_name defined in the schema for your data source. **2. Setting a
        CompositeFilter.** The filters are evaluated using the logical operator.
        The top-level operators can only be either an AND or a NOT. AND can
        appear only at the top-most level. OR can appear only under a top-level
        AND.
      type: object
      properties:
        compositeFilter:
          $ref: '#/components/schemas/CompositeFilter'
        valueFilter:
          $ref: '#/components/schemas/ValueFilter'
    ShareScope:
      properties:
        scope:
          enumDescriptions:
            - ''
            - Only the author can view the post.
            - Viewable only by a set of people.
            - Viewable by extended circles.
            - ''
            - ''
          enum:
            - UNKNOWN
            - PRIVATE
            - LIMITED
            - EXTENDED
            - DASHER_DOMAIN
            - PUBLIC
          description: The scope to which the content was shared.
          type: string
        domain:
          type: string
          description: >-
            If scope is DOMAIN, this field contains the dasher domain, for
            example "google.com".
      type: object
      id: ShareScope
    SuggestResult:
      description: One suggestion result.
      id: SuggestResult
      properties:
        peopleSuggestion:
          $ref: '#/components/schemas/PeopleSuggestion'
          description: >-
            This is present when the suggestion indicates a person. It contains
            more information about the person - like their email ID, name etc.
        source:
          $ref: '#/components/schemas/Source'
          description: The source of the suggestion.
        querySuggestion:
          description: >-
            This field will be present if the suggested query is a word/phrase
            completion.
          $ref: '#/components/schemas/QuerySuggestion'
        suggestedQuery:
          type: string
          description: >-
            The suggested query that will be used for search, when the user
            clicks on the suggestion
      type: object
    EnterpriseTopazSidekickCommonDebugInfo:
      properties:
        message:
          type: string
          description: Debug message.
      id: EnterpriseTopazSidekickCommonDebugInfo
      description: >-
        Container of debugging information in all object levels. Extend as
        needed.
      type: object
    ObjectDefinition:
      properties:
        name:
          description: >-
            The name for the object, which then defines its type. Item indexing
            requests should set the objectType field equal to this value. For
            example, if *name* is *Document*, then indexing requests for items
            of type Document should set objectType equal to *Document*. Each
            object definition must be uniquely named within a schema. The name
            must start with a letter and can only contain letters (A-Z, a-z) or
            numbers (0-9). The maximum length is 256 characters.
          type: string
        options:
          $ref: '#/components/schemas/ObjectOptions'
          description: The optional object-specific options.
        propertyDefinitions:
          type: array
          description: >-
            The property definitions for the object. The maximum number of
            elements is 1000.
          items:
            $ref: '#/components/schemas/PropertyDefinition'
      description: The definition for an object within a data source.
      type: object
      id: ObjectDefinition
    Content:
      properties:
        title:
          description: '[Optional] Title of the card.'
          $ref: '#/components/schemas/BackgroundColoredText'
        subtitle:
          $ref: '#/components/schemas/BackgroundColoredText'
          description: '[Optional] Subtitle of the card.'
        description:
          $ref: '#/components/schemas/SafeHtmlProto'
          description: '[Optional] Description of the card.'
        actions:
          description: '[Optional] Actions for this card.'
          type: array
          items:
            $ref: '#/components/schemas/Action'
      id: Content
      type: object
    Media:
      properties:
        resourceName:
          description: Name of the media resource.
          type: string
      type: object
      description: Media resource.
      id: Media
    HtmlValues:
      type: object
      properties:
        values:
          items:
            type: string
          description: The maximum allowable length for html values is 2048 characters.
          type: array
      id: HtmlValues
      description: List of html values.
    SourceScoringConfig:
      description: >-
        Set the scoring configuration. This allows modifying the ranking of
        results for a source.
      properties:
        sourceImportance:
          enum:
            - DEFAULT
            - LOW
            - HIGH
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
          description: Importance of the source.
      id: SourceScoringConfig
      type: object
    RepositoryError:
      description: Errors when the connector is communicating to the source repository.
      type: object
      id: RepositoryError
      properties:
        type:
          description: The type of error.
          enumDescriptions:
            - Unknown error.
            - Unknown or unreachable host.
            - DNS problem, such as the DNS server is not responding.
            - Cannot connect to the repository server.
            - Failed authentication due to incorrect credentials.
            - Service account is not authorized for the repository.
            - Repository server error.
            - Quota exceeded.
            - Server temporarily unavailable.
            - >-
              Client-related error, such as an invalid request from the
              connector to the repository server.
          type: string
          enum:
            - UNKNOWN
            - NETWORK_ERROR
            - DNS_ERROR
            - CONNECTION_ERROR
            - AUTHENTICATION_ERROR
            - AUTHORIZATION_ERROR
            - SERVER_ERROR
            - QUOTA_EXCEEDED
            - SERVICE_UNAVAILABLE
            - CLIENT_ERROR
        errorMessage:
          description: >-
            Message that describes the error. The maximum allowable length of
            the message is 8192 characters.
          type: string
        httpStatusCode:
          description: Error codes. Matches the definition of HTTP status codes.
          format: int32
          type: integer
    PersonCore:
      id: PersonCore
      properties:
        dottedLineManagers:
          description: >-
            The profile owner's direct dotted line managers in no particular
            order. Note that not all fields of these PersonCores will be set, in
            particular, relationships will be empty.
          type: array
          items:
            $ref: '#/components/schemas/PersonCore'
        costCenter:
          type: string
          description: 'Person''s cost center as a string, e.g. "926: Googler Apps".'
        employeeId:
          description: >-
            Person's employee number (external ID of type "organization") For
            google.com this is the badge number (e.g. 2 for Larry Page).
          type: string
        emails:
          items:
            type: string
          type: array
          description: >-
            E-mail addresses of the person. The primary or preferred email
            should be first.
        managers:
          description: >-
            The profile owner's management chain from top to bottom, where
            managers[0] is the CEO, manager[N-2] is the person's manager's
            manager and managers[N-1] is the person's direct manager. Note that
            not all fields of these PersonCores will be set, in particular,
            relationships will be empty.
          type: array
          items:
            $ref: '#/components/schemas/PersonCore'
        keywords:
          description: Custom keywords the domain admin has added.
          type: object
          additionalProperties:
            type: string
        waldoComeBackTime:
          type: string
          format: google-datetime
        geoLocation:
          $ref: '#/components/schemas/MapInfo'
        personId:
          description: The person's obfuscated Gaia ID.
          type: string
        jobTitle:
          description: >-
            Profile owner's job title (e.g. "Software Engineer"). For google.com
            this is the Workday preferred job title.
          type: string
        directReports:
          description: >-
            A subset of the profile owner's direct reports. The number of
            entities here may be less than total_direct_reports_count, because
            typically ProfileResponse does not include all the person's reports,
            if there are too many to retrieve efficiently. Note that not all
            fields of these PersonCores will be set, in particular,
            relationships will be empty.
          items:
            $ref: '#/components/schemas/PersonCore'
          type: array
        location:
          description: >-
            Detailed desk location within the company. For google.com this is
            the desk location code (e.g. "DE-MUC-ARP-6T2-6T2C0C") if the person
            has a desk.
          type: string
        addressMeAs:
          type: string
          description: >-
            Instructions for how to address this person (e.g. custom pronouns).
            For google.com this is a set of pronouns from a defined list of
            options.
        mission:
          type: string
          description: Custom mission statement the profile owner has added.
        department:
          description: >-
            The person's Organization department, e.g. "People Operations". For
            google.com this is usually called "area".
          type: string
        links:
          items:
            $ref: '#/components/schemas/EnterpriseTopazFrontendTeamsLink'
          description: Custom links the profile owner has added.
          type: array
        totalFteCount:
          type: string
          format: int64
          description: >-
            The sum of all profile owner's reports and their own
            full-time-equivalents in ‰ (e.g. 1800 if one report is working 80%
            and profile owner 100%).
        postalAddress:
          type: string
          description: Postal address of office/building.
        availabilityStatus:
          type: string
          enum:
            - UNKNOWN
            - OUT_OF_OFFICE
            - OUTSIDE_WORKING_HOURS
            - AVAILABLE
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
        birthday:
          $ref: '#/components/schemas/Date'
          description: Person birthday.
        ftePermille:
          type: string
          description: >-
            Full-time equivalent (in ‰) (e.g. 800 for a person who's working
            80%).
          format: int64
        name:
          type: string
          description: Human-readable Unicode display name.
        chatUrl:
          description: >-
            The URL to start a chat conversation with the profile owner. For
            google.com this is a Hangouts URL.
          $ref: '#/components/schemas/SafeUrlProto'
        photoUrl:
          description: Person photo.
          $ref: '#/components/schemas/SafeUrlProto'
        totalDirectReportsCount:
          description: Total count of the profile owner's direct reports.
          format: int32
          type: integer
        adminTo:
          items:
            $ref: '#/components/schemas/PersonCore'
          description: >-
            People the profile owner is an admin to. Note that not all fields of
            these PersonCores will be set, in particular, relationships will be
            empty.
          type: array
        totalDlrCount:
          description: Total count of the profile owner's dotted-line reports.
          type: integer
          format: int32
        keywordTypes:
          description: List of keys to use from the map 'keywords'.
          items:
            type: string
          type: array
        gmailUrl:
          type: string
        admins:
          type: array
          description: >-
            The profile owner's admins in no particular order. Note that not all
            fields of these PersonCores will be set, in particular,
            relationships will be empty.
          items:
            $ref: '#/components/schemas/PersonCore'
        dottedLineReports:
          type: array
          description: >-
            A subset of the profile owner's dotted-line reports. The number of
            entities here may be less than total_dlr_count. Note that not all
            fields of these PersonCores will be set, in particular,
            relationships will be empty.
          items:
            $ref: '#/components/schemas/PersonCore'
        calendarUrl:
          $ref: '#/components/schemas/SafeUrlProto'
          description: The URL to open the profile owner's primary calendar.
        fingerprint:
          type: string
          description: >-
            A fingerprint used by PAPI to reliably determine if a resource has
            changed Externally it is used as part of the etag.
        username:
          description: >-
            External ID of type "login_id" for the profile. For google.com this
            is the username/LDAP.
          type: string
        phoneNumbers:
          items:
            $ref: >-
              #/components/schemas/EnterpriseTopazFrontendTeamsPersonCorePhoneNumber
          type: array
        officeLocation:
          type: string
          description: >-
            Office/building identifier within the company. For google.com this
            is the office code (e.g. "DE-MUC-ARP").
      description: 'Information for rendering a person. NEXT ID: 37'
      type: object
    EnterpriseTopazSidekickCardMetadata:
      type: object
      description: Card metadata.
      id: EnterpriseTopazSidekickCardMetadata
      properties:
        rankingParams:
          $ref: '#/components/schemas/EnterpriseTopazSidekickRankingParams'
          description: Ranking params.
        debugInfo:
          type: string
          description: Debug info (only reported if request's debug_level > 0).
        cardId:
          type: string
          description: >-
            An ID to identify the card and match actions to it. Be thoughtful of
            new card IDs since actions will be associated to that ID. E.g., if
            two card IDs collide, the system will think that the actions have
            been applied to the same card. Similarly, if EAS can return multiple
            cards of the same type (e.g., Meetings), ensure that the card_id
            identifies a given instance of the card so that, e.g., dismissals
            only affect the dismissed card as opposed to affecting all meeting
            cards.
        cardCategory:
          enum:
            - DEFAULT
            - ANSWER
            - KNOWLEDGE
            - HOMEPAGE
          enumDescriptions:
            - >-
              Let MSCR decide how this card should be packed. Most cards should
              choose this type. This type should largely be considered
              equivalent to ANSWER. However, this is not guaranteed to be the
              case as the request to MSCR may override the static configuration.
            - This card should be rendered as an answer card.
            - >-
              This card should be rendered as a knowledge card (a non-organic
              result).
            - This card should be rendered in the Homepage.
          description: >-
            Declares a preference for how this card should be packed in MSCR.
            All cards in a response must correspond to a single category. As a
            result, cards may be dropped from the response if this field is set.
            Any card that does not match the category of the card with the
            highest priority in the response will be dropped.
          type: string
        renderMode:
          description: Render mode.
          enum:
            - UNKNOWN_RENDER
            - COLLAPSED
            - EXPANDED
          type: string
          enumDescriptions:
            - Unknown mode (default).
            - Collapsed.
            - Expanded.
        nlpMetadata:
          $ref: '#/components/schemas/EnterpriseTopazSidekickNlpMetadata'
          description: Information about the NLP done to get the card.
        chronology:
          type: string
          enum:
            - UNKNOWN
            - PAST
            - RECENTLY_PAST
            - PRESENT
            - NEAR_FUTURE
            - FUTURE
          enumDescriptions:
            - Unknown chronology (default).
            - Past.
            - Recently past.
            - Present.
            - Near future.
            - Future.
          description: Chronology.
    UnmappedIdentity:
      id: UnmappedIdentity
      properties:
        resolutionStatusCode:
          description: The resolution status for the external identity.
          enumDescriptions:
            - >-
              Input-only value. Used to list all unmapped identities regardless
              of status.
            - >-
              The unmapped identity was not found in IDaaS, and needs to be
              provided by the user.
            - >-
              The identity source associated with the identity was either not
              found or deleted.
            - >-
              IDaaS does not understand the identity source, probably because
              the schema was modified in a non compatible way.
            - >-
              The number of users associated with the external identity is too
              large.
            - Internal error.
          type: string
          enum:
            - CODE_UNSPECIFIED
            - NOT_FOUND
            - IDENTITY_SOURCE_NOT_FOUND
            - IDENTITY_SOURCE_MISCONFIGURED
            - TOO_MANY_MAPPINGS_FOUND
            - INTERNAL_ERROR
        externalIdentity:
          description: The resource name for an external user.
          $ref: '#/components/schemas/Principal'
      type: object
    MatchRange:
      properties:
        end:
          description: End of the match in the snippet.
          type: integer
          format: int32
        start:
          type: integer
          description: Starting position of the match in the snippet.
          format: int32
      type: object
      description: Matched range of a snippet [start, end).
      id: MatchRange
    GetCustomerIndexStatsResponse:
      properties:
        averageIndexedItemCount:
          type: string
          description: >-
            Average item count for the given date range for which billing is
            done.
          format: int64
        stats:
          type: array
          description: >-
            Summary of indexed item counts, one for each day in the requested
            range.
          items:
            $ref: '#/components/schemas/CustomerIndexStats'
      type: object
      id: GetCustomerIndexStatsResponse
    StartUploadItemRequest:
      description: Start upload file request.
      id: StartUploadItemRequest
      properties:
        debugOptions:
          description: Common debug options.
          $ref: '#/components/schemas/DebugOptions'
        connectorName:
          description: >-
            The name of connector making this call. Format:
            datasources/{source_id}/connectors/{ID}
          type: string
      type: object
    CheckAccessResponse:
      type: object
      properties:
        hasAccess:
          description: Returns true if principal has access. Returns false otherwise.
          type: boolean
      id: CheckAccessResponse
    Value:
      id: Value
      type: object
      description: Definition of a single value with generic type.
      properties:
        doubleValue:
          type: number
          format: double
        stringValue:
          type: string
        timestampValue:
          format: google-datetime
          type: string
        booleanValue:
          type: boolean
        integerValue:
          type: string
          format: int64
        dateValue:
          $ref: '#/components/schemas/Date'
    EnterpriseTopazSidekickAnswerSuggestedQueryCategory:
      type: object
      properties:
        query:
          items:
            type: string
          description: List of suggested queries to show the user.
          type: array
        isEnabled:
          type: boolean
          description: Whether this category is enabled.
        category:
          description: The query list category.
          type: string
          enum:
            - UNKNOWN
            - CALENDAR
            - DOCUMENT
            - PEOPLE
          enumDescriptions:
            - Unknown.
            - Calendar based queries (e.g. "my agenda for tomorrow").
            - Document based queries (e.g. "files shared with me").
            - People based queries (e.g. "what is x's email address?").
      id: EnterpriseTopazSidekickAnswerSuggestedQueryCategory
      description: Contains a list of suggested queries for a single category.
    EnumPropertyOptions:
      properties:
        orderedRanking:
          enum:
            - NO_ORDER
            - ASCENDING
            - DESCENDING
          enumDescriptions:
            - >-
              There is no ranking order for the property. Results aren't
              adjusted by this property's value.
            - >-
              This property is ranked in ascending order. Lower values indicate
              lower ranking.
            - >-
              This property is ranked in descending order. Lower values indicate
              higher ranking.
          description: >-
            Used to specify the ordered ranking for the enumeration that
            determines how the integer values provided in the possible
            EnumValuePairs are used to rank results. If specified, integer
            values must be provided for all possible EnumValuePair values given
            for this property. Can only be used if isRepeatable is false.
          type: string
        operatorOptions:
          $ref: '#/components/schemas/EnumOperatorOptions'
          description: If set, describes how the enum should be used as a search operator.
        possibleValues:
          type: array
          items:
            $ref: '#/components/schemas/EnumValuePair'
          description: >-
            The list of possible values for the enumeration property. All
            EnumValuePairs must provide a string value. If you specify an
            integer value for one EnumValuePair, then all possible
            EnumValuePairs must provide an integer value. Both the string value
            and integer value must be unique over all possible values. Once set,
            possible values cannot be removed or modified. If you supply an
            ordered ranking and think you might insert additional enum values in
            the future, leave gaps in the initial integer values to allow adding
            a value in between previously registered values. The maximum number
            of elements is 100.
      type: object
      id: EnumPropertyOptions
      description: >-
        The options for enum properties, which allow you to define a restricted
        set of strings to match user queries, set rankings for those string
        values, and define an operator name to be paired with those strings so
        that users can narrow results to only items with a specific value. For
        example, for items in a request tracking system with priority
        information, you could define *p0* as an allowable enum value and tie
        this enum to the operator name *priority* so that search users could add
        *priority:p0* to their query to restrict the set of results to only
        those items indexed with the value *p0*.
    QueryInterpretation:
      id: QueryInterpretation
      properties:
        interpretedQuery:
          description: >-
            The interpretation of the query used in search. For example, queries
            with natural language intent like "email from john" will be
            interpreted as "from:john source:mail". This field will not be
            filled when the reason is NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY.
          type: string
        reason:
          type: string
          enum:
            - UNSPECIFIED
            - QUERY_HAS_NATURAL_LANGUAGE_INTENT
            - NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY
          description: >-
            The reason for interpretation of the query. This field will not be
            UNSPECIFIED if the interpretation type is not NONE.
          enumDescriptions:
            - ''
            - >-
              Natural language interpretation of the query is used to fetch the
              search results.
            - >-
              Query and document terms similarity is used to selectively broaden
              the query to retrieve additional search results since enough
              results were not found for the user query. Interpreted query will
              be empty for this case.
        interpretationType:
          type: string
          enumDescriptions:
            - >-
              Neither the natural language interpretation, nor a broader version
              of the query is used to fetch the search results.
            - >-
              The results from original query are blended with other results.
              The reason for blending these other results with the results from
              original query is populated in the 'Reason' field below.
            - >-
              The results from original query are replaced. The reason for
              replacing the results from original query is populated in the
              'Reason' field below.
          enum:
            - NONE
            - BLEND
            - REPLACE
      type: object
    ObjectValues:
      properties:
        values:
          items:
            $ref: '#/components/schemas/StructuredDataObject'
          type: array
      id: ObjectValues
      description: List of object values.
      type: object
    ObjectDisplayOptions:
      description: The display options for an object.
      type: object
      properties:
        objectDisplayLabel:
          description: >-
            The user friendly label to display in the search result to indicate
            the type of the item. This is OPTIONAL; if not provided, an object
            label isn't displayed on the context line of the search results. The
            maximum length is 64 characters.
          type: string
        metalines:
          description: >-
            Defines the properties that are displayed in the metalines of the
            search results. The property values are displayed in the order given
            here. If a property holds multiple values, all of the values are
            displayed before the next properties. For this reason, it is a good
            practice to specify singular properties before repeated properties
            in this list. All of the properties must set is_returnable to true.
            The maximum number of metalines is 3.
          items:
            $ref: '#/components/schemas/Metaline'
          type: array
      id: ObjectDisplayOptions
    EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader:
      description: Recommended header to display for the card.
      id: EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader
      type: object
      properties:
        title:
          description: The suggested title to display. This defaults to the user's query.
          type: string
    CustomerIndexStats:
      description: Aggregation of items by status code as of the specified date.
      type: object
      id: CustomerIndexStats
      properties:
        date:
          description: The date for which statistics were calculated.
          $ref: '#/components/schemas/Date'
        itemCountByStatus:
          description: Number of items aggregrated by status code.
          type: array
          items:
            $ref: '#/components/schemas/ItemCountByStatus'
    ResultCounts:
      id: ResultCounts
      properties:
        sourceResultCounts:
          description: Result count information for each source with results.
          type: array
          items:
            $ref: '#/components/schemas/SourceResultCount'
      description: Result count information
      type: object
    Metadata:
      type: object
      description: Metadata of a matched search result.
      properties:
        fields:
          type: array
          description: >-
            Indexed fields in structured data, returned as a generic named
            property.
          items:
            $ref: '#/components/schemas/NamedProperty'
        thumbnailUrl:
          description: The thumbnail URL of the result.
          type: string
        objectType:
          type: string
          description: Object type of the search result.
        updateTime:
          format: google-datetime
          description: >-
            The last modified date for the object in the search result. If not
            set in the item, the value returned here is empty. When `updateTime`
            is used for calculating freshness and is not set, this value
            defaults to 2 years from the current time.
          type: string
        source:
          $ref: '#/components/schemas/Source'
          description: The named source for the result, such as Gmail.
        mimeType:
          description: Mime type of the search result.
          type: string
        owner:
          $ref: '#/components/schemas/Person'
          description: >-
            Owner (usually creator) of the document or object of the search
            result.
        displayOptions:
          $ref: '#/components/schemas/ResultDisplayMetadata'
          description: Options that specify how to display a structured data search result.
        createTime:
          description: The creation time for this document or object in the search result.
          type: string
          format: google-datetime
      id: Metadata
    ErrorMessage:
      id: ErrorMessage
      properties:
        source:
          $ref: '#/components/schemas/Source'
        errorMessage:
          type: string
      type: object
      description: Error message per source response.
    DeleteQueueItemsRequest:
      type: object
      id: DeleteQueueItemsRequest
      properties:
        connectorName:
          description: >-
            The name of connector making this call. Format:
            datasources/{source_id}/connectors/{ID}
          type: string
        queue:
          description: The name of a queue to delete items from.
          type: string
        debugOptions:
          $ref: '#/components/schemas/DebugOptions'
          description: Common debug options.
    ItemContent:
      id: ItemContent
      type: object
      properties:
        contentFormat:
          type: string
          enum:
            - UNSPECIFIED
            - HTML
            - TEXT
            - RAW
          enumDescriptions:
            - Invalid value.
            - contentFormat is HTML.
            - contentFormat is free text.
            - contentFormat is raw bytes.
        contentDataRef:
          $ref: '#/components/schemas/UploadItemRef'
          description: >-
            Upload reference ID of a previously uploaded content via write
            method.
        hash:
          description: >-
            Hashing info calculated and provided by the API client for content.
            Can be used with the items.push method to calculate modified state.
            The maximum length is 2048 characters.
          type: string
        inlineContent:
          format: byte
          description: >-
            Content that is supplied inlined within the update method. The
            maximum length is 102400 bytes (100 KiB).
          type: string
      description: >-
        Content of an item to be indexed and surfaced by Cloud Search. Only
        UTF-8 encoded strings are allowed as inlineContent. If the content is
        uploaded and not binary, it must be UTF-8 encoded.
    QuerySuggestion:
      properties: {}
      id: QuerySuggestion
      type: object
      description: >-
        This field does not contain anything as of now and is just used as an
        indicator that the suggest result was a phrase completion.
    SourceCrowdingConfig:
      description: >-
        Set search results crowding limits. Crowding is a situation in which
        multiple results from the same source or host "crowd out" other results,
        diminishing the quality of search for users. To foster better search
        quality and source diversity in search results, you can set a condition
        to reduce repetitive results by source.
      properties:
        numSuggestions:
          format: int32
          description: >-
            Maximum number of suggestions allowed from a source. No limits will
            be set on results if this value is less than or equal to 0.
          type: integer
        numResults:
          format: int32
          type: integer
          description: >-
            Maximum number of results allowed from a datasource in a result page
            as long as results from other sources are not exhausted. Value
            specified must not be negative. A default value is used if this
            value is equal to 0. To disable crowding, set the value greater than
            100.
      id: SourceCrowdingConfig
      type: object
    Interaction:
      type: object
      properties:
        type:
          enumDescriptions:
            - Invalid value.
            - This interaction indicates the user viewed the item.
            - This interaction indicates the user edited the item.
          enum:
            - UNSPECIFIED
            - VIEW
            - EDIT
          type: string
        principal:
          description: The user that acted on the item.
          $ref: '#/components/schemas/Principal'
        interactionTime:
          description: >-
            The time when the user acted on the item. If multiple actions of the
            same type exist for a single user, only the most recent action is
            recorded.
          type: string
          format: google-datetime
      id: Interaction
      description: Represents an interaction between a user and an item.
    PollItemsRequest:
      type: object
      id: PollItemsRequest
      properties:
        statusCodes:
          items:
            enumDescriptions:
              - >-
                Input-only value. Used with Items.list to list all items in the
                queue, regardless of status.
              - >-
                Error encountered by Cloud Search while processing this item.
                Details of the error are in repositoryError.
              - >-
                Item has been modified in the repository, and is out of date
                with the version previously accepted into Cloud Search.
              - >-
                Item is known to exist in the repository, but is not yet
                accepted by Cloud Search. An item can be in this state when
                Items.push has been called for an item of this name that did not
                exist previously.
              - API has accepted the up-to-date data of this item.
            type: string
            enum:
              - CODE_UNSPECIFIED
              - ERROR
              - MODIFIED
              - NEW_ITEM
              - ACCEPTED
          description: Limit the items polled to the ones with these statuses.
          type: array
        connectorName:
          type: string
          description: >-
            The name of connector making this call. Format:
            datasources/{source_id}/connectors/{ID}
        limit:
          format: int32
          type: integer
          description: >-
            Maximum number of items to return. The maximum value is 100 and the
            default value is 20.
        queue:
          description: >-
            Queue name to fetch items from. If unspecified, PollItems will fetch
            from 'default' queue. The maximum length is 100 characters.
          type: string
        debugOptions:
          $ref: '#/components/schemas/DebugOptions'
          description: Common debug options.
    ProcessingError:
      type: object
      id: ProcessingError
      properties:
        code:
          description: Error code indicating the nature of the error.
          type: string
          enum:
            - PROCESSING_ERROR_CODE_UNSPECIFIED
            - MALFORMED_REQUEST
            - UNSUPPORTED_CONTENT_FORMAT
            - INDIRECT_BROKEN_ACL
            - ACL_CYCLE
          enumDescriptions:
            - Input only value. Use this value in Items.
            - >-
              Item's ACL, metadata, or content is malformed or in invalid state.
              FieldViolations contains more details on where the problem is.
            - Countent format is unsupported.
            - >-
              Items with incomplete ACL information due to inheriting other
              items with broken ACL or having groups with unmapped descendants.
            - ACL inheritance graph formed a cycle.
        fieldViolations:
          type: array
          items:
            $ref: '#/components/schemas/FieldViolation'
          description: >-
            In case the item fields are invalid, this field contains the details
            about the validation errors.
        errorMessage:
          type: string
          description: The description of the error.
    TimestampValues:
      id: TimestampValues
      description: List of timestamp values.
      properties:
        values:
          items:
            format: google-datetime
            type: string
          type: array
      type: object
    EnterpriseTopazSidekickPeopleAnswerRelatedPeopleAnswerCard:
      type: object
      properties:
        header:
          description: The header to display for the card.
          $ref: >-
            #/components/schemas/EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader
        subject:
          description: The profile of the person that was the subject of the query.
          $ref: '#/components/schemas/EnterpriseTopazSidekickCommonPerson'
        disambiguationInfo:
          $ref: >-
            #/components/schemas/EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo
          description: Disambiguation information.
        relatedPeople:
          items:
            $ref: '#/components/schemas/EnterpriseTopazSidekickCommonPerson'
          type: array
          description: A list of people that are related to the query subject.
        relationType:
          enumDescriptions:
            - Unknown.
            - Direct reports.
            - The manager.
            - The teammates/peers of the subject.
          enum:
            - UNKNOWN
            - DIRECT_REPORTS
            - MANAGER
            - PEERS
          description: >-
            Defines the type of relation the list of people have with the
            subject of the card.
          type: string
        statusMessage:
          type: string
          description: >-
            Localized user friendly message to display to the user in the case
            of missing data or an error.
        responseStatus:
          enum:
            - UNKNOWN
            - SUCCESS
            - MISSING_PERSON
            - MISSING_DATA
          type: string
          description: The response status.
          enumDescriptions:
            - Unknown.
            - Success.
            - No such person was found in the user's domain.
            - >-
              A person was found to match the query, but an answer could not be
              obtained.
      description: >-
        An answer card for a list of people that are related to the subject of
        the query.
      id: EnterpriseTopazSidekickPeopleAnswerRelatedPeopleAnswerCard
    QueryInterpretationOptions:
      id: QueryInterpretationOptions
      type: object
      description: Options to interpret user query.
      properties:
        disableNlInterpretation:
          description: >-
            Flag to disable natural language (NL) interpretation of queries.
            Default is false, Set to true to disable natural language
            interpretation. NL interpretation only applies to predefined
            datasources.
          type: boolean
        enableVerbatimMode:
          description: >-
            Enable this flag to turn off all internal optimizations like natural
            language (NL) interpretation of queries, supplemental result
            retrieval, and usage of synonyms including custom ones. Nl
            interpretation will be disabled if either one of the two flags is
            true.
          type: boolean
        disableSupplementalResults:
          type: boolean
          description: >-
            Use this flag to disable supplemental results for a query.
            Supplemental results setting chosen at SearchApplication level will
            take precedence if set to True.
    TimestampOperatorOptions:
      type: object
      id: TimestampOperatorOptions
      properties:
        operatorName:
          description: >-
            Indicates the operator name required in the query in order to
            isolate the timestamp property. For example, if operatorName is
            *closedon* and the property's name is *closeDate*, then queries like
            *closedon:<value>* show results only where the value of the property
            named *closeDate* matches *<value>*. By contrast, a search that uses
            the same *<value>* without an operator returns all items where
            *<value>* matches the value of any String properties or text within
            the content field for the item. The operator name can only contain
            lowercase letters (a-z). The maximum length is 32 characters.
          type: string
        lessThanOperatorName:
          description: >-
            Indicates the operator name required in the query in order to
            isolate the timestamp property using the less-than operator. For
            example, if lessThanOperatorName is *closedbefore* and the
            property's name is *closeDate*, then queries like
            *closedbefore:<value>* show results only where the value of the
            property named *closeDate* is earlier than *<value>*. The operator
            name can only contain lowercase letters (a-z). The maximum length is
            32 characters.
          type: string
        greaterThanOperatorName:
          type: string
          description: >-
            Indicates the operator name required in the query in order to
            isolate the timestamp property using the greater-than operator. For
            example, if greaterThanOperatorName is *closedafter* and the
            property's name is *closeDate*, then queries like
            *closedafter:<value>* show results only where the value of the
            property named *closeDate* is later than *<value>*. The operator
            name can only contain lowercase letters (a-z). The maximum length is
            32 characters.
      description: >-
        Used to provide a search operator for timestamp properties. This is
        optional. Search operators let users restrict the query to specific
        fields relevant to the type of item being searched.
    EnterpriseTopazSidekickAgendaGroupCardProtoContext:
      properties:
        eventsRestrict:
          type: string
          description: >-
            Represents restrictions applied to the events requested in the
            user's query.
          enumDescriptions:
            - No specific event was requested.
            - The next meeting was requested.
          enum:
            - NONE
            - NEXT_MEETING
        date:
          type: string
          description: >-
            Localized free text that describes the dates represented by the
            card. Currently, the card will only represent a single day.
        context:
          description: >-
            User friendly free text that describes the context of the card (e.g.
            "Next meeting with Bob"). This is largely only applicable when the
            card is generated from a query.
          type: string
      id: EnterpriseTopazSidekickAgendaGroupCardProtoContext
      type: object
      description: The context that resulted in the generation of the card.
    ListOperationsResponse:
      id: ListOperationsResponse
      type: object
      properties:
        nextPageToken:
          type: string
          description: The standard List next-page token.
        operations:
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          description: >-
            A list of operations that matches the specified filter in the
            request.
      description: The response message for Operations.ListOperations.
    EnterpriseTopazSidekickNlpMetadata:
      type: object
      id: EnterpriseTopazSidekickNlpMetadata
      properties:
        confidence:
          type: number
          format: float
          description: Confidence of the interpretation that generated this card.
      description: Metadata about the NLP interpretation of the query.
    EnterpriseTopazSidekickCommonDocument:
      id: EnterpriseTopazSidekickCommonDocument
      properties:
        justification:
          description: Justification on why the document is selected.
          $ref: >-
            #/components/schemas/EnterpriseTopazSidekickCommonDocumentJustification
        accessType:
          enumDescriptions:
            - Unknown access type.
            - Access allowed.
            - Access not allowed.
          type: string
          enum:
            - UNKNOWN_ACCESS
            - ALLOWED
            - NOT_ALLOWED
          description: >-
            Access type, i.e., whether the user has access to the document or
            not.
        provenance:
          description: Document provenance.
          enumDescriptions:
            - Unknown provenance.
            - Calendar event description.
            - Calendar event attachment.
            - Mined (extracted by some offline/online analysis).
            - Attachment created by enterprise assist.
          enum:
            - UNKNOWN_PROVENANCE
            - CALENDAR_DESCRIPTION
            - CALENDAR_ATTACHMENT
            - MINED
            - CALENDAR_ASSIST_ATTACHMENT
          type: string
        genericUrl:
          type: string
          description: >-
            Generic Drive-based url in the format of drive.google.com/open to be
            used for deeplink
        snippet:
          description: A sampling of the text from the document.
          type: string
        documentId:
          type: string
          description: Document id.
        type:
          enumDescriptions:
            - If the type is unknown or not represented in this enum.
            - Drive document types Writely, Word, etc.
            - Presently, PowerPoint, etc.
            - Trix, Excel, etc.
            - File types for Gdrive objects are below. PDF.
            - Image.
            - Fall-back for unknown Gdrive types.
            - Fusion table.
            - Folder.
            - Drawing.
            - Video.
            - Form.
            - Link formats uncategorized URL links
            - meaningful links that should be renderred specifically
            - Link to goo.gl.
            - Link to bit_ly.
            - Link to Gmail.
            - Mailto link.
            - Videos Youtube videos.
            - Live streams (e.g., liveplayer.googleplex.com)
            - Other types. Google Groups.
            - Google News.
            - Google Sites.
            - Google Hangout.
            - Audio files.
            - Microsoft-specific file types.
            - ''
            - ''
            - ''
          enum:
            - UNKNOWN
            - DOCUMENT
            - PRESENTATION
            - SPREADSHEET
            - PDF
            - IMAGE
            - BINARY_BLOB
            - FUSION_TABLE
            - FOLDER
            - DRAWING
            - VIDEO
            - FORM
            - LINK_URL
            - LINK_GO
            - LINK_GOO_GL
            - LINK_BIT_LY
            - LINK_GMAIL
            - LINK_MAILTO
            - VIDEO_YOUTUBE
            - VIDEO_LIVE
            - GROUPS
            - NEWS
            - SITES
            - HANGOUT
            - AUDIO
            - MS_WORD
            - MS_POWERPOINT
            - MS_EXCEL
            - MS_OUTLOOK
          description: Type of the document.
          type: string
        mimeType:
          description: MIME type
          type: string
        reason:
          enumDescriptions:
            - Unknown justification.
            - Popular documents within collaborators.
            - Popular documents within the domain.
            - Documents being reviewed frequently by the current user .
            - Documents being edited frequently by the current user .
            - Documents updated since user's last visit.
            - Documents that receive comments since user's last visit.
            - Documents in the calendar event description.
            - Documents in the calendar event attachments section.
            - >-
              Documents attached in calendar event metadata instead of the
              attachment section. Event metadata is not visible to the final
              user. Enterprise assist uses this metadata to store auto-generated
              documents such as meeting notes.
            - >-
              Documents mined, and so, probably related to the request context.
              For example, this category includes documents related to a
              meeting.
            - Documents that contains mentions of the user.
            - Documents that are shared with the user.
          description: Justification of why this document is being returned.
          enum:
            - UNKNOWN
            - TRENDING_IN_COLLABORATORS
            - TRENDING_IN_DOMAIN
            - FREQUENTLY_VIEWED
            - FREQUENTLY_EDITED
            - NEW_UPDATES
            - NEW_COMMENTS
            - EVENT_DESCRIPTION
            - EVENT_ATTACHMENT
            - EVENT_METADATA_ATTACHMENT
            - MINED_DOCUMENT
            - NEW_MENTIONS
            - NEW_SHARES
          type: string
        url:
          type: string
          description: Absolute URL of the document.
        driveDocumentMetadata:
          description: Drive document metadata.
          $ref: >-
            #/components/schemas/EnterpriseTopazSidekickCommonDocumentDriveDocumentMetadata
        title:
          type: string
          description: Title of the document.
        thumbnailUrl:
          type: string
          description: Thumbnail URL.
        debugInfo:
          $ref: '#/components/schemas/EnterpriseTopazSidekickCommonDebugInfo'
          description: Information for debugging.
      type: object
      description: 'Representation of a document. NEXT_TAG: 15'
    ContextAttribute:
      id: ContextAttribute
      type: object
      description: >-
        A named attribute associated with an item which can be used for
        influencing the ranking of the item based on the context in the request.
      properties:
        name:
          type: string
          description: >-
            The name of the attribute. It should not be empty. The maximum
            length is 32 characters. The name must start with a letter and can
            only contain letters (A-Z, a-z) or numbers (0-9). The name will be
            normalized (lower-cased) before being matched.
        values:
          items:
            type: string
          description: >-
            Text values of the attribute. The maximum number of elements is 10.
            The maximum length of an element in the array is 32 characters. The
            value will be normalized (lower-cased) before being matched.
          type: array
    ItemStructuredData:
      description: Available structured data fields for the item.
      properties:
        hash:
          description: >-
            Hashing value provided by the API caller. This can be used with the
            items.push method to calculate modified state. The maximum length is
            2048 characters.
          type: string
        object:
          $ref: '#/components/schemas/StructuredDataObject'
          description: >-
            The structured data object that should conform to a registered
            object definition in the schema for the data source.
      id: ItemStructuredData
      type: object
    GoogleDocsMetadata:
      description: >-
        The corpus specific metadata for office-type documents, from Google Docs
        and other sources. This message is passed to the scorer and beyond. Next
        tag: 9
      properties:
        fileExtension:
          description: >-
            The file extension of the document. NOTE: As of October 2018 this
            field is not backfilled for old documents.
          type: string
        typeInfo:
          $ref: '#/components/schemas/TypeInfo'
          description: >-
            Contains additional information about the document depending on its
            type.
        resultInfo:
          $ref: '#/components/schemas/GoogleDocsResultInfo'
          description: >-
            Additional per-result information, akin to Gmail's
            SingleThreadResponse. Note: GWS no longer seems to use this field,
            but there's still one reference to it for Scribe, so we can't remove
            it.
        documentType:
          enum:
            - UNKNOWN
            - DOCUMENT
            - PRESENTATION
            - SPREADSHEET
            - PDF
            - IMAGE
            - BINARY_BLOB
            - FUSION_TABLE
            - FOLDER
            - DRAWING
            - VIDEO
            - FORM
            - DRAFT_SITE
            - DRAFT_SITE_PAGE
            - JAM
            - SHORTCUT
            - SCRIPT
          type: string
          enumDescriptions:
            - If the type is unknown or not represented in this enum.
            - Writely, Word, etc.
            - Presently, PowerPoint, etc.
            - Trix, Excel, etc.
            - File types for Gdrive objects are below.
            - ''
            - Fall-back for unknown Gdrive types.
            - ''
            - ''
            - ''
            - ''
            - ''
            - For Atari page and site drafts
            - ''
            - Jamboard Jams (go/jam)
            - Drive Shortcuts (go/shortcuts)
            - ''
          description: The conceptual type (presentation, document, etc.) of this document.
        aclInfo:
          $ref: '#/components/schemas/AclInfo'
          description: Contains number of users and groups which can access the document.
        lastContentModifiedTimestamp:
          type: string
          format: int64
          description: >-
            The last time this document was modified, in seconds since epoch.
            Only counts content modifications.
        numSubscribers:
          type: integer
          format: int32
          description: Contains number of subscribers for the document.
        numViewers:
          format: int32
          type: integer
          description: Size of untruncated viewers list.
      id: GoogleDocsMetadata
      type: object
    BackgroundColoredText:
      type: object
      properties:
        backgroundColor:
          type: string
          description: >-
            [Optional] Color of the background. The text color can change
            depending on the selected background color, and the client does not
            have control over this. If missing, the background will be WHITE.
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - UNKNOWN_COLOR
            - WHITE
            - YELLOW
            - ORANGE
            - GREEN
            - BLUE
            - GREY
        text:
          type: string
          description: '[Required] The text to display.'
      id: BackgroundColoredText
    CompositeFilter:
      properties:
        subFilters:
          items:
            $ref: '#/components/schemas/Filter'
          description: Sub filters.
          type: array
        logicOperator:
          type: string
          enum:
            - AND
            - OR
            - NOT
          enumDescriptions:
            - Logical operators, which can only be applied to sub filters.
            - ''
            - NOT can only be applied on a single sub filter.
          description: The logic operator of the sub filter.
      type: object
      id: CompositeFilter
    EnterpriseTopazSidekickPeopleAnswerPersonAnswerCard:
      id: EnterpriseTopazSidekickPeopleAnswerPersonAnswerCard
      description: An answer card for a single person.
      type: object
      properties:
        subject:
          $ref: '#/components/schemas/EnterpriseTopazSidekickCommonPerson'
          description: The profile of the person that was the subject of the query.
        statusMessage:
          description: >-
            Localized user friendly message to display to the user in the case
            of missing data or an error.
          type: string
        answerText:
          $ref: '#/components/schemas/EnterpriseTopazSidekickAnswerAnswerList'
          description: List of answers.
        responseStatus:
          description: The response status.
          type: string
          enumDescriptions:
            - Unknown.
            - Success.
            - No such person was found in the user's domain.
            - >-
              A person was found to match the query, but an answer could not be
              obtained.
          enum:
            - UNKNOWN
            - SUCCESS
            - MISSING_PERSON
            - MISSING_DATA
        header:
          $ref: >-
            #/components/schemas/EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader
          description: The header to display for the card.
        answer:
          description: List of answers.
          items:
            $ref: '#/components/schemas/SafeHtmlProto'
          type: array
        disambiguationInfo:
          $ref: >-
            #/components/schemas/EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo
          description: Disambiguation information.
    ValueFilter:
      type: object
      id: ValueFilter
      properties:
        value:
[...]
