openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Safe Browsing API
  description: >-
    Enables client applications to check web resources (most commonly URLs)
    against Google-generated lists of unsafe web resources. The Safe Browsing
    APIs are for non-commercial use only. If you need to use APIs to detect
    malicious URLs for commercial purposes – meaning “for sale or
    revenue-generating purposes” – please refer to the Web Risk API.
  version: v4
  x-discovery-doc-revision: '20230619'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/safe-browsing/
servers:
  - url: https://safebrowsing.googleapis.com
components:
  schemas:
    GoogleSecuritySafebrowsingV4ThreatEntry:
      description: >-
        An individual threat; for example, a malicious URL or its hash
        representation. Only one of these fields should be set.
      id: GoogleSecuritySafebrowsingV4ThreatEntry
      type: object
      properties:
        hash:
          type: string
          format: byte
          description: >-
            A hash prefix, consisting of the most significant 4-32 bytes of a
            SHA256 hash. This field is in binary format. For JSON requests,
            hashes are base64-encoded.
        digest:
          description: >-
            The digest of an executable in SHA256 format. The API supports both
            binary and hex digests. For JSON requests, digests are
            base64-encoded.
          type: string
          format: byte
        url:
          type: string
          description: A URL.
    GoogleSecuritySafebrowsingV4ThreatListDescriptor:
      description: >-
        Describes an individual threat list. A list is defined by three
        parameters: the type of threat posed, the type of platform targeted by
        the threat, and the type of entries in the list.
      properties:
        threatType:
          description: The threat type posed by the list's entries.
          type: string
          enum:
            - THREAT_TYPE_UNSPECIFIED
            - MALWARE
            - SOCIAL_ENGINEERING
            - UNWANTED_SOFTWARE
            - POTENTIALLY_HARMFUL_APPLICATION
            - SOCIAL_ENGINEERING_INTERNAL
            - API_ABUSE
            - MALICIOUS_BINARY
            - CSD_WHITELIST
            - CSD_DOWNLOAD_WHITELIST
            - CLIENT_INCIDENT
            - CLIENT_INCIDENT_WHITELIST
            - APK_MALWARE_OFFLINE
            - SUBRESOURCE_FILTER
            - SUSPICIOUS
            - TRICK_TO_BILL
            - HIGH_CONFIDENCE_ALLOWLIST
            - ACCURACY_TIPS
          enumDescriptions:
            - Unknown.
            - Malware threat type.
            - Social engineering threat type.
            - Unwanted software threat type.
            - Potentially harmful application threat type.
            - Social engineering threat type for internal use.
            - API abuse threat type.
            - Malicious binary threat type.
            - Client side detection whitelist threat type.
            - Client side download detection whitelist threat type.
            - Client incident threat type.
            - Whitelist used when detecting client incident threats.
            - List used for offline APK checks in PAM.
            - Patterns to be used for activating the subresource filter.
            - Entities that are suspected to present a threat.
            - Trick-to-bill threat type.
            - URL expressions that are very likely to be safe.
            - >-
              An experimental threat type related to Jigsaw. See
              https://jigsaw.google.com/.
        platformType:
          enum:
            - PLATFORM_TYPE_UNSPECIFIED
            - WINDOWS
            - LINUX
            - ANDROID
            - OSX
            - IOS
            - ANY_PLATFORM
            - ALL_PLATFORMS
            - CHROME
          enumDescriptions:
            - Unknown platform.
            - Threat posed to Windows.
            - Threat posed to Linux.
            - Threat posed to Android.
            - Threat posed to OS X.
            - Threat posed to iOS.
            - Threat posed to at least one of the defined platforms.
            - Threat posed to all defined platforms.
            - Threat posed to Chrome.
          type: string
          description: The platform type targeted by the list's entries.
        threatEntryType:
          type: string
          enum:
            - THREAT_ENTRY_TYPE_UNSPECIFIED
            - URL
            - EXECUTABLE
            - IP_RANGE
            - CHROME_EXTENSION
            - FILENAME
            - CERT
          description: The entry types contained in the list.
          enumDescriptions:
            - Unspecified.
            - A URL.
            - An executable program.
            - An IP range.
            - Chrome extension.
            - Filename.
            - CERT
      type: object
      id: GoogleSecuritySafebrowsingV4ThreatListDescriptor
    GoogleSecuritySafebrowsingV4ThreatHitUserInfo:
      properties:
        userId:
          description: Unique user identifier defined by the client.
          format: byte
          type: string
        regionCode:
          description: The UN M.49 region code associated with the user's location.
          type: string
      description: Details about the user that encountered the threat.
      id: GoogleSecuritySafebrowsingV4ThreatHitUserInfo
      type: object
    GoogleSecuritySafebrowsingV4FindThreatMatchesRequest:
      type: object
      id: GoogleSecuritySafebrowsingV4FindThreatMatchesRequest
      description: Request to check entries against lists.
      properties:
        client:
          description: The client metadata.
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ClientInfo'
        threatInfo:
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatInfo'
          description: The lists and entries to be checked for matches.
    GoogleSecuritySafebrowsingV4FindFullHashesResponse:
      properties:
        minimumWaitDuration:
          format: google-duration
          type: string
          description: >-
            The minimum duration the client must wait before issuing any find
            hashes request. If this field is not set, clients can issue a
            request as soon as they want.
        matches:
          type: array
          description: The full hashes that matched the requested prefixes.
          items:
            $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatMatch'
        negativeCacheDuration:
          description: >-
            For requested entities that did not match the threat list, how long
            to cache the response.
          format: google-duration
          type: string
      type: object
      id: GoogleSecuritySafebrowsingV4FindFullHashesResponse
    GoogleSecuritySafebrowsingV4FindFullHashesRequest:
      properties:
        client:
          description: The client metadata.
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ClientInfo'
        clientStates:
          description: >-
            The current client states for each of the client's local threat
            lists.
          type: array
          items:
            type: string
            format: byte
        apiClient:
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ClientInfo'
          description: >-
            Client metadata associated with callers of higher-level APIs built
            on top of the client's implementation.
        threatInfo:
          description: The lists and hashes to be checked.
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatInfo'
      id: GoogleSecuritySafebrowsingV4FindFullHashesRequest
      type: object
      description: Request to return full hashes matched by the provided hash prefixes.
    GoogleSecuritySafebrowsingV4FindThreatMatchesResponse:
      type: object
      id: GoogleSecuritySafebrowsingV4FindThreatMatchesResponse
      properties:
        matches:
          description: The threat list matches.
          type: array
          items:
            $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatMatch'
    GoogleSecuritySafebrowsingV4RiceDeltaEncoding:
      type: object
      description: >-
        The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes
        or compressed removal indices.
      properties:
        firstValue:
          format: int64
          type: string
          description: >-
            The offset of the first entry in the encoded data, or, if only a
            single integer was encoded, that single integer's value. If the
            field is empty or missing, assume zero.
        encodedData:
          format: byte
          description: The encoded deltas that are encoded using the Golomb-Rice coder.
          type: string
        riceParameter:
          type: integer
          format: int32
          description: >-
            The Golomb-Rice parameter, which is a number between 2 and 28. This
            field is missing (that is, zero) if `num_entries` is zero.
        numEntries:
          format: int32
          description: >-
            The number of entries that are delta encoded in the encoded data. If
            only a single integer was encoded, this will be zero and the single
            value will be stored in `first_value`.
          type: integer
      id: GoogleSecuritySafebrowsingV4RiceDeltaEncoding
    GoogleSecuritySafebrowsingV4ClientInfo:
      properties:
        clientVersion:
          type: string
          description: The version of the client implementation.
        clientId:
          type: string
          description: >-
            A client ID that (hopefully) uniquely identifies the client
            implementation of the Safe Browsing API.
      id: GoogleSecuritySafebrowsingV4ClientInfo
      type: object
      description: The client metadata associated with Safe Browsing API requests.
    GoogleSecuritySafebrowsingV4Checksum:
      type: object
      properties:
        sha256:
          type: string
          description: >-
            The SHA256 hash of the client state; that is, of the sorted list of
            all hashes present in the database.
          format: byte
      id: GoogleSecuritySafebrowsingV4Checksum
      description: The expected state of a client's local database.
    GoogleSecuritySafebrowsingV4RawIndices:
      description: A set of raw indices to remove from a local list.
      id: GoogleSecuritySafebrowsingV4RawIndices
      properties:
        indices:
          type: array
          description: The indices to remove from a lexicographically-sorted local list.
          items:
            type: integer
            format: int32
      type: object
    GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest:
      type: object
      description: >-
        Describes a Safe Browsing API update request. Clients can request
        updates for multiple lists in a single request. The server may not
        respond to all requests, if the server has no updates for that list.
        NOTE: Field index 2 is unused. NEXT: 5
      id: GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest
      properties:
        client:
          description: The client metadata.
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ClientInfo'
        listUpdateRequests:
          description: The requested threat list updates.
          items:
            $ref: >-
              #/components/schemas/GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest
          type: array
    GoogleSecuritySafebrowsingV4ThreatMatch:
      id: GoogleSecuritySafebrowsingV4ThreatMatch
      description: A match when checking a threat entry in the Safe Browsing threat lists.
      type: object
      properties:
        threat:
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatEntry'
          description: The threat matching this threat.
        cacheDuration:
          format: google-duration
          type: string
          description: >-
            The cache lifetime for the returned match. Clients must not cache
            this response for more than this duration to avoid false positives.
        threatEntryType:
          description: The threat entry type matching this threat.
          type: string
          enumDescriptions:
            - Unspecified.
            - A URL.
            - An executable program.
            - An IP range.
            - Chrome extension.
            - Filename.
            - CERT
          enum:
            - THREAT_ENTRY_TYPE_UNSPECIFIED
            - URL
            - EXECUTABLE
            - IP_RANGE
            - CHROME_EXTENSION
            - FILENAME
            - CERT
        platformType:
          type: string
          description: The platform type matching this threat.
          enum:
            - PLATFORM_TYPE_UNSPECIFIED
            - WINDOWS
            - LINUX
            - ANDROID
            - OSX
            - IOS
            - ANY_PLATFORM
            - ALL_PLATFORMS
            - CHROME
          enumDescriptions:
            - Unknown platform.
            - Threat posed to Windows.
            - Threat posed to Linux.
            - Threat posed to Android.
            - Threat posed to OS X.
            - Threat posed to iOS.
            - Threat posed to at least one of the defined platforms.
            - Threat posed to all defined platforms.
            - Threat posed to Chrome.
        threatType:
          type: string
          enum:
            - THREAT_TYPE_UNSPECIFIED
            - MALWARE
            - SOCIAL_ENGINEERING
            - UNWANTED_SOFTWARE
            - POTENTIALLY_HARMFUL_APPLICATION
            - SOCIAL_ENGINEERING_INTERNAL
            - API_ABUSE
            - MALICIOUS_BINARY
            - CSD_WHITELIST
            - CSD_DOWNLOAD_WHITELIST
            - CLIENT_INCIDENT
            - CLIENT_INCIDENT_WHITELIST
            - APK_MALWARE_OFFLINE
            - SUBRESOURCE_FILTER
            - SUSPICIOUS
            - TRICK_TO_BILL
            - HIGH_CONFIDENCE_ALLOWLIST
            - ACCURACY_TIPS
          enumDescriptions:
            - Unknown.
            - Malware threat type.
            - Social engineering threat type.
            - Unwanted software threat type.
            - Potentially harmful application threat type.
            - Social engineering threat type for internal use.
            - API abuse threat type.
            - Malicious binary threat type.
            - Client side detection whitelist threat type.
            - Client side download detection whitelist threat type.
            - Client incident threat type.
            - Whitelist used when detecting client incident threats.
            - List used for offline APK checks in PAM.
            - Patterns to be used for activating the subresource filter.
            - Entities that are suspected to present a threat.
            - Trick-to-bill threat type.
            - URL expressions that are very likely to be safe.
            - >-
              An experimental threat type related to Jigsaw. See
              https://jigsaw.google.com/.
          description: The threat type matching this threat.
        threatEntryMetadata:
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatEntryMetadata'
          description: Optional metadata associated with this threat.
    GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry:
      id: GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry
      description: A single metadata entry.
      properties:
        key:
          format: byte
          description: >-
            The metadata entry key. For JSON requests, the key is
            base64-encoded.
          type: string
        value:
          format: byte
          type: string
          description: >-
            The metadata entry value. For JSON requests, the value is
            base64-encoded.
      type: object
    GoogleSecuritySafebrowsingV4RawHashes:
      description: >-
        The uncompressed threat entries in hash format of a particular prefix
        length. Hashes can be anywhere from 4 to 32 bytes in size. A large
        majority are 4 bytes, but some hashes are lengthened if they collide
        with the hash of a popular URL. Used for sending ThreatEntrySet to
        clients that do not support compression, or when sending non-4-byte
        hashes to clients that do support compression.
      properties:
        prefixSize:
          format: int32
          description: >-
            The number of bytes for each prefix encoded below. This field can be
            anywhere from 4 (shortest prefix) to 32 (full SHA256 hash).
          type: integer
        rawHashes:
          description: >-
            The hashes, in binary format, concatenated into one long string.
            Hashes are sorted in lexicographic order. For JSON API users, hashes
            are base64-encoded.
          format: byte
          type: string
      type: object
      id: GoogleSecuritySafebrowsingV4RawHashes
    GoogleSecuritySafebrowsingV4ThreatHit:
      type: object
      id: GoogleSecuritySafebrowsingV4ThreatHit
      properties:
        userInfo:
          description: Details about the user that encountered the threat.
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatHitUserInfo'
        clientInfo:
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ClientInfo'
          description: Client-reported identification.
        platformType:
          description: The platform type reported.
          enumDescriptions:
            - Unknown platform.
            - Threat posed to Windows.
            - Threat posed to Linux.
            - Threat posed to Android.
            - Threat posed to OS X.
            - Threat posed to iOS.
            - Threat posed to at least one of the defined platforms.
            - Threat posed to all defined platforms.
            - Threat posed to Chrome.
          enum:
            - PLATFORM_TYPE_UNSPECIFIED
            - WINDOWS
            - LINUX
            - ANDROID
            - OSX
            - IOS
            - ANY_PLATFORM
            - ALL_PLATFORMS
            - CHROME
          type: string
        threatType:
          description: The threat type reported.
          enum:
            - THREAT_TYPE_UNSPECIFIED
            - MALWARE
            - SOCIAL_ENGINEERING
            - UNWANTED_SOFTWARE
            - POTENTIALLY_HARMFUL_APPLICATION
            - SOCIAL_ENGINEERING_INTERNAL
            - API_ABUSE
            - MALICIOUS_BINARY
            - CSD_WHITELIST
            - CSD_DOWNLOAD_WHITELIST
            - CLIENT_INCIDENT
            - CLIENT_INCIDENT_WHITELIST
            - APK_MALWARE_OFFLINE
            - SUBRESOURCE_FILTER
            - SUSPICIOUS
            - TRICK_TO_BILL
            - HIGH_CONFIDENCE_ALLOWLIST
            - ACCURACY_TIPS
          type: string
          enumDescriptions:
            - Unknown.
            - Malware threat type.
            - Social engineering threat type.
            - Unwanted software threat type.
            - Potentially harmful application threat type.
            - Social engineering threat type for internal use.
            - API abuse threat type.
            - Malicious binary threat type.
            - Client side detection whitelist threat type.
            - Client side download detection whitelist threat type.
            - Client incident threat type.
            - Whitelist used when detecting client incident threats.
            - List used for offline APK checks in PAM.
            - Patterns to be used for activating the subresource filter.
            - Entities that are suspected to present a threat.
            - Trick-to-bill threat type.
            - URL expressions that are very likely to be safe.
            - >-
              An experimental threat type related to Jigsaw. See
              https://jigsaw.google.com/.
        entry:
          description: >-
            The threat entry responsible for the hit. Full hash should be
            reported for hash-based hits.
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatEntry'
        resources:
          description: The resources related to the threat hit.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleSecuritySafebrowsingV4ThreatHitThreatSource
    GoogleSecuritySafebrowsingV4ThreatEntrySet:
      properties:
        riceIndices:
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4RiceDeltaEncoding'
          description: >-
            The encoded local, lexicographically-sorted list indices, using a
            Golomb-Rice encoding. Used for sending compressed removal indices.
            The removal indices (uint32) are sorted in ascending order, then
            delta encoded and stored as encoded_data.
        compressionType:
          description: The compression type for the entries in this set.
          enum:
            - COMPRESSION_TYPE_UNSPECIFIED
            - RAW
            - RICE
          enumDescriptions:
            - Unknown.
            - Raw, uncompressed data.
            - Rice-Golomb encoded data.
          type: string
        rawHashes:
          description: The raw SHA256-formatted entries.
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4RawHashes'
        rawIndices:
          description: The raw removal indices for a local list.
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4RawIndices'
        riceHashes:
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4RiceDeltaEncoding'
          description: >-
            The encoded 4-byte prefixes of SHA256-formatted entries, using a
            Golomb-Rice encoding. The hashes are converted to uint32, sorted in
            ascending order, then delta encoded and stored as encoded_data.
      type: object
      description: >-
        A set of threats that should be added or removed from a client's local
        database.
      id: GoogleSecuritySafebrowsingV4ThreatEntrySet
    GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse:
      properties:
        listUpdateResponses:
          items:
            $ref: >-
              #/components/schemas/GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse
          type: array
          description: >-
            The list updates requested by the clients. The number of responses
            here may be less than the number of requests sent by clients. This
            is the case, for example, if the server has no updates for a
            particular list.
        minimumWaitDuration:
          type: string
          description: >-
            The minimum duration the client must wait before issuing any update
            request. If this field is not set clients may update as soon as they
            want.
          format: google-duration
      type: object
      id: GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse
    GoogleSecuritySafebrowsingV4ListThreatListsResponse:
      properties:
        threatLists:
          type: array
          description: The lists available for download by the client.
          items:
            $ref: >-
              #/components/schemas/GoogleSecuritySafebrowsingV4ThreatListDescriptor
      id: GoogleSecuritySafebrowsingV4ListThreatListsResponse
      type: object
    GoogleSecuritySafebrowsingV4ThreatInfo:
      id: GoogleSecuritySafebrowsingV4ThreatInfo
      properties:
        platformTypes:
          type: array
          items:
            type: string
            enumDescriptions:
              - Unknown platform.
              - Threat posed to Windows.
              - Threat posed to Linux.
              - Threat posed to Android.
              - Threat posed to OS X.
              - Threat posed to iOS.
              - Threat posed to at least one of the defined platforms.
              - Threat posed to all defined platforms.
              - Threat posed to Chrome.
            enum:
              - PLATFORM_TYPE_UNSPECIFIED
              - WINDOWS
              - LINUX
              - ANDROID
              - OSX
              - IOS
              - ANY_PLATFORM
              - ALL_PLATFORMS
              - CHROME
          description: The platform types to be checked.
        threatEntries:
          description: The threat entries to be checked.
          items:
            $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatEntry'
          type: array
        threatEntryTypes:
          type: array
          description: The entry types to be checked.
          items:
            enum:
              - THREAT_ENTRY_TYPE_UNSPECIFIED
              - URL
              - EXECUTABLE
              - IP_RANGE
              - CHROME_EXTENSION
              - FILENAME
              - CERT
            enumDescriptions:
              - Unspecified.
              - A URL.
              - An executable program.
              - An IP range.
              - Chrome extension.
              - Filename.
              - CERT
            type: string
        threatTypes:
          description: The threat types to be checked.
          items:
            enum:
              - THREAT_TYPE_UNSPECIFIED
              - MALWARE
              - SOCIAL_ENGINEERING
              - UNWANTED_SOFTWARE
              - POTENTIALLY_HARMFUL_APPLICATION
              - SOCIAL_ENGINEERING_INTERNAL
              - API_ABUSE
              - MALICIOUS_BINARY
              - CSD_WHITELIST
              - CSD_DOWNLOAD_WHITELIST
              - CLIENT_INCIDENT
              - CLIENT_INCIDENT_WHITELIST
              - APK_MALWARE_OFFLINE
              - SUBRESOURCE_FILTER
              - SUSPICIOUS
              - TRICK_TO_BILL
              - HIGH_CONFIDENCE_ALLOWLIST
              - ACCURACY_TIPS
            enumDescriptions:
              - Unknown.
              - Malware threat type.
              - Social engineering threat type.
              - Unwanted software threat type.
              - Potentially harmful application threat type.
              - Social engineering threat type for internal use.
              - API abuse threat type.
              - Malicious binary threat type.
              - Client side detection whitelist threat type.
              - Client side download detection whitelist threat type.
              - Client incident threat type.
              - Whitelist used when detecting client incident threats.
              - List used for offline APK checks in PAM.
              - Patterns to be used for activating the subresource filter.
              - Entities that are suspected to present a threat.
              - Trick-to-bill threat type.
              - URL expressions that are very likely to be safe.
              - >-
                An experimental threat type related to Jigsaw. See
                https://jigsaw.google.com/.
            type: string
          type: array
      type: object
      description: >-
        The information regarding one or more threats that a client submits when
        checking for matches in threat lists.
    GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest:
      description: A single list update request.
      properties:
        threatType:
          enum:
            - THREAT_TYPE_UNSPECIFIED
            - MALWARE
            - SOCIAL_ENGINEERING
            - UNWANTED_SOFTWARE
            - POTENTIALLY_HARMFUL_APPLICATION
            - SOCIAL_ENGINEERING_INTERNAL
            - API_ABUSE
            - MALICIOUS_BINARY
            - CSD_WHITELIST
            - CSD_DOWNLOAD_WHITELIST
            - CLIENT_INCIDENT
            - CLIENT_INCIDENT_WHITELIST
            - APK_MALWARE_OFFLINE
            - SUBRESOURCE_FILTER
            - SUSPICIOUS
            - TRICK_TO_BILL
            - HIGH_CONFIDENCE_ALLOWLIST
            - ACCURACY_TIPS
          enumDescriptions:
            - Unknown.
            - Malware threat type.
            - Social engineering threat type.
            - Unwanted software threat type.
            - Potentially harmful application threat type.
            - Social engineering threat type for internal use.
            - API abuse threat type.
            - Malicious binary threat type.
            - Client side detection whitelist threat type.
            - Client side download detection whitelist threat type.
            - Client incident threat type.
            - Whitelist used when detecting client incident threats.
            - List used for offline APK checks in PAM.
            - Patterns to be used for activating the subresource filter.
            - Entities that are suspected to present a threat.
            - Trick-to-bill threat type.
            - URL expressions that are very likely to be safe.
            - >-
              An experimental threat type related to Jigsaw. See
              https://jigsaw.google.com/.
          type: string
          description: The type of threat posed by entries present in the list.
        constraints:
          description: The constraints associated with this request.
          $ref: >-
            #/components/schemas/GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints
        state:
          description: >-
            The current state of the client for the requested list (the
            encrypted client state that was received from the last successful
            list update).
          format: byte
          type: string
        threatEntryType:
          type: string
          description: The types of entries present in the list.
          enumDescriptions:
            - Unspecified.
            - A URL.
            - An executable program.
            - An IP range.
            - Chrome extension.
            - Filename.
            - CERT
          enum:
            - THREAT_ENTRY_TYPE_UNSPECIFIED
            - URL
            - EXECUTABLE
            - IP_RANGE
            - CHROME_EXTENSION
            - FILENAME
            - CERT
        platformType:
          description: The type of platform at risk by entries present in the list.
          enumDescriptions:
            - Unknown platform.
            - Threat posed to Windows.
            - Threat posed to Linux.
            - Threat posed to Android.
            - Threat posed to OS X.
            - Threat posed to iOS.
            - Threat posed to at least one of the defined platforms.
            - Threat posed to all defined platforms.
            - Threat posed to Chrome.
          enum:
            - PLATFORM_TYPE_UNSPECIFIED
            - WINDOWS
            - LINUX
            - ANDROID
            - OSX
            - IOS
            - ANY_PLATFORM
            - ALL_PLATFORMS
            - CHROME
          type: string
      id: >-
        GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest
      type: object
    GoogleProtobufEmpty:
      id: GoogleProtobufEmpty
      properties: {}
      type: object
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
    GoogleSecuritySafebrowsingV4ThreatEntryMetadata:
      properties:
        entries:
          items:
            $ref: >-
              #/components/schemas/GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry
          description: The metadata entries.
          type: array
      id: GoogleSecuritySafebrowsingV4ThreatEntryMetadata
      type: object
      description: >-
        The metadata associated with a specific threat entry. The client is
        expected to know the metadata key/value pairs associated with each
        threat type.
    GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints:
      description: The constraints for this update.
      id: >-
        GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints
      properties:
        maxUpdateEntries:
          type: integer
          format: int32
          description: >-
            The maximum size in number of entries. The update will not contain
            more entries than this value. This should be a power of 2 between
            2**10 and 2**20. If zero, no update size limit is set.
        language:
          type: string
          description: >-
            Requests the lists for a specific language. Expects ISO 639 alpha-2
            format.
        deviceLocation:
          type: string
          description: >-
            A client's physical location, expressed as a ISO 31166-1 alpha-2
            region code.
        region:
          type: string
          description: >-
            Requests the list for a specific geographic location. If not set the
            server may pick that value based on the user's IP address. Expects
            ISO 3166-1 alpha-2 format.
        maxDatabaseEntries:
          type: integer
          format: int32
          description: >-
            Sets the maximum number of entries that the client is willing to
            have in the local database for the specified list. This should be a
            power of 2 between 2**10 and 2**20. If zero, no database size limit
            is set.
        supportedCompressions:
          items:
            enumDescriptions:
              - Unknown.
              - Raw, uncompressed data.
              - Rice-Golomb encoded data.
            enum:
              - COMPRESSION_TYPE_UNSPECIFIED
              - RAW
              - RICE
            type: string
          type: array
          description: The compression types supported by the client.
      type: object
    GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse:
      id: >-
        GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse
      type: object
      description: An update to an individual list.
      properties:
        platformType:
          description: The platform type for which data is returned.
          enumDescriptions:
            - Unknown platform.
            - Threat posed to Windows.
            - Threat posed to Linux.
            - Threat posed to Android.
            - Threat posed to OS X.
            - Threat posed to iOS.
            - Threat posed to at least one of the defined platforms.
            - Threat posed to all defined platforms.
            - Threat posed to Chrome.
          enum:
            - PLATFORM_TYPE_UNSPECIFIED
            - WINDOWS
            - LINUX
            - ANDROID
            - OSX
            - IOS
            - ANY_PLATFORM
            - ALL_PLATFORMS
            - CHROME
          type: string
        removals:
          description: >-
            A set of entries to remove from a local threat type's list. In
            practice, this field is empty or contains exactly one
            ThreatEntrySet.
          type: array
          items:
            $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatEntrySet'
        checksum:
          $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4Checksum'
          description: >-
            The expected SHA256 hash of the client state; that is, of the sorted
            list of all hashes present in the database after applying the
            provided update. If the client state doesn't match the expected
            state, the client must disregard this update and retry later.
        threatEntryType:
          enumDescriptions:
            - Unspecified.
            - A URL.
            - An executable program.
            - An IP range.
            - Chrome extension.
            - Filename.
            - CERT
          enum:
            - THREAT_ENTRY_TYPE_UNSPECIFIED
            - URL
            - EXECUTABLE
            - IP_RANGE
            - CHROME_EXTENSION
            - FILENAME
            - CERT
          description: The format of the threats.
          type: string
        threatType:
          enum:
            - THREAT_TYPE_UNSPECIFIED
            - MALWARE
            - SOCIAL_ENGINEERING
            - UNWANTED_SOFTWARE
            - POTENTIALLY_HARMFUL_APPLICATION
            - SOCIAL_ENGINEERING_INTERNAL
            - API_ABUSE
            - MALICIOUS_BINARY
            - CSD_WHITELIST
            - CSD_DOWNLOAD_WHITELIST
            - CLIENT_INCIDENT
            - CLIENT_INCIDENT_WHITELIST
            - APK_MALWARE_OFFLINE
            - SUBRESOURCE_FILTER
            - SUSPICIOUS
            - TRICK_TO_BILL
            - HIGH_CONFIDENCE_ALLOWLIST
            - ACCURACY_TIPS
          description: The threat type for which data is returned.
          enumDescriptions:
            - Unknown.
            - Malware threat type.
            - Social engineering threat type.
            - Unwanted software threat type.
            - Potentially harmful application threat type.
            - Social engineering threat type for internal use.
            - API abuse threat type.
            - Malicious binary threat type.
            - Client side detection whitelist threat type.
            - Client side download detection whitelist threat type.
            - Client incident threat type.
            - Whitelist used when detecting client incident threats.
            - List used for offline APK checks in PAM.
            - Patterns to be used for activating the subresource filter.
            - Entities that are suspected to present a threat.
            - Trick-to-bill threat type.
            - URL expressions that are very likely to be safe.
            - >-
              An experimental threat type related to Jigsaw. See
              https://jigsaw.google.com/.
          type: string
        newClientState:
          description: The new client state, in encrypted format. Opaque to clients.
          type: string
          format: byte
        additions:
          type: array
          description: >-
            A set of entries to add to a local threat type's list. Repeated to
            allow for a combination of compressed and raw data to be sent in a
            single response.
          items:
            $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatEntrySet'
        responseType:
          type: string
          description: >-
            The type of response. This may indicate that an action is required
            by the client when the response is received.
          enum:
            - RESPONSE_TYPE_UNSPECIFIED
            - PARTIAL_UPDATE
            - FULL_UPDATE
          enumDescriptions:
            - Unknown.
            - >-
              Partial updates are applied to the client's existing local
              database.
            - >-
              Full updates replace the client's entire local database. This
              means that either the client was seriously out-of-date or the
              client is believed to be corrupt.
    GoogleSecuritySafebrowsingV4ThreatHitThreatSource:
      type: object
      id: GoogleSecuritySafebrowsingV4ThreatHitThreatSource
      description: A single resource related to a threat hit.
      properties:
        referrer:
          type: string
          description: Referrer of the resource. Only set if the referrer is available.
        remoteIp:
          type: string
          description: The remote IP of the resource in ASCII format. Either IPv4 or IPv6.
        url:
          type: string
          description: The URL of the resource.
        type:
          enum:
            - THREAT_SOURCE_TYPE_UNSPECIFIED
            - MATCHING_URL
            - TAB_URL
            - TAB_REDIRECT
            - TAB_RESOURCE
          enumDescriptions:
            - Unknown.
            - >-
              The URL that matched the threat list (for which GetFullHash
              returned a valid hash).
            - >-
              The final top-level URL of the tab that the client was browsing
              when the match occurred.
            - A redirect URL that was fetched before hitting the final TAB_URL.
            - A resource loaded within the final TAB_URL.
          type: string
          description: The type of source reported.
  parameters:
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/cloud-platform: >-
              See, edit, configure, and delete your Google Cloud data and see
              the email address for your Google Account.
            https://www.googleapis.com/auth/cloudruntimeconfig: Manage your Google Cloud Platform services' runtime configuration
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v4/encodedFullHashes/{encodedRequest}:
    parameters: &ref_1
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
    get:
      description: ''
      operationId: safebrowsing.encodedFullHashes.get
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleSecuritySafebrowsingV4FindFullHashesResponse
      parameters:
        - in: path
          name: encodedRequest
          required: true
          schema:
            type: string
        - in: query
          name: clientId
          schema:
            type: string
        - in: query
          name: clientVersion
          schema:
            type: string
      x-stackQL-resource: encoded_full_hashes
      x-stackQL-verb: select
  /v4/encodedUpdates/{encodedRequest}:
    parameters: *ref_1
    get:
      description: ''
      operationId: safebrowsing.encodedUpdates.get
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse
      parameters:
        - in: path
          name: encodedRequest
          required: true
          schema:
            type: string
        - in: query
          name: clientVersion
          schema:
            type: string
        - in: query
          name: clientId
          schema:
            type: string
      x-stackQL-resource: encoded_updates
      x-stackQL-verb: select
  /v4/threatLists:
    parameters: *ref_1
    get:
      description: Lists the Safe Browsing threat lists available for download.
      operationId: safebrowsing.threatLists.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleSecuritySafebrowsingV4ListThreatListsResponse
      parameters: []
      x-stackQL-resource: threat_lists
      x-stackQL-verb: select
  /v4/fullHashes:find:
    parameters: *ref_1
    post:
      description: Finds the full hashes that match the requested hash prefixes.
      operationId: safebrowsing.fullHashes.find
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleSecuritySafebrowsingV4FindFullHashesRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleSecuritySafebrowsingV4FindFullHashesResponse
      parameters: []
      x-stackQL-resource: full_hashes
      x-stackQL-verb: exec
  /v4/threatMatches:find:
    parameters: *ref_1
    post:
      description: Finds the threat entries that match the Safe Browsing lists.
      operationId: safebrowsing.threatMatches.find
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleSecuritySafebrowsingV4FindThreatMatchesRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleSecuritySafebrowsingV4FindThreatMatchesResponse
      parameters: []
      x-stackQL-resource: threat_matches
      x-stackQL-verb: exec
  /v4/threatHits:
    parameters: *ref_1
    post:
      description: >-
        Reports a Safe Browsing threat list hit to Google. Only projects with
        TRUSTED_REPORTER visibility can use this method.
      operationId: safebrowsing.threatHits.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleSecuritySafebrowsingV4ThreatHit'
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters: []
      x-stackQL-resource: threat_hits
      x-stackQL-verb: insert
  /v4/threatListUpdates:fetch:
    parameters: *ref_1
    post:
      description: >-
        Fetches the most recent threat list updates. A client can request
        updates for multiple lists at once.
      operationId: safebrowsing.threatListUpdates.fetch
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse
      parameters: []
      x-stackQL-resource: threat_list_updates
      x-stackQL-verb: select
