openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Security Command Center API
  description: >-
    Security Command Center API provides access to temporal views of assets and
    findings within an organization.
  version: v1beta2
  x-discovery-doc-revision: '20230620'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/security-command-center
servers:
  - url: https://securitycenter.googleapis.com
components:
  schemas:
    MemoryHashSignature:
      properties:
        binaryFamily:
          description: The binary family.
          type: string
        detections:
          items:
            $ref: '#/components/schemas/Detection'
          type: array
          description: >-
            The list of memory hash detections contributing to the binary family
            match.
      description: A signature corresponding to memory page hashes.
      type: object
      id: MemoryHashSignature
    Container:
      properties:
        imageId:
          description: >-
            Optional container image ID, if provided by the container runtime.
            Uniquely identifies the container image launched using a container
            image digest.
          type: string
        uri:
          description: >-
            Container image URI provided when configuring a pod or container.
            This string can identify a container image version using mutable
            tags.
          type: string
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'
          description: Container labels, as provided by the container runtime.
        name:
          description: Name of the container.
          type: string
      description: Container associated with the finding.
      id: Container
      type: object
    GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule:
      description: >-
        Represents an instance of a Security Health Analytics custom module,
        including its full module name, display name, enablement state, and last
        updated time. You can create a custom module at the organization,
        folder, or project level. Custom modules that you create at the
        organization or folder level are inherited by the child folders and
        projects.
      type: object
      id: GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule
      properties:
        enablementState:
          type: string
          description: The enablement state of the custom module.
          enumDescriptions:
            - Unspecified enablement state.
            - The module is enabled at the given CRM resource.
            - The module is disabled at the given CRM resource.
            - >-
              State is inherited from an ancestor module. The module will either
              be effectively ENABLED or DISABLED based on its closest
              non-inherited ancestor module in the CRM hierarchy.
          enum:
            - ENABLEMENT_STATE_UNSPECIFIED
            - ENABLED
            - DISABLED
            - INHERITED
        displayName:
          description: >-
            The display name of the Security Health Analytics custom module.
            This display name becomes the finding category for all findings that
            are returned by this custom module. The display name must be between
            1 and 128 characters, start with a lowercase letter, and contain
            alphanumeric characters or underscores only.
          type: string
        ancestorModule:
          description: >-
            Output only. If empty, indicates that the custom module was created
            in the organization, folder, or project in which you are viewing the
            custom module. Otherwise, `ancestor_module` specifies the
            organization or folder from which the custom module is inherited.
          type: string
          readOnly: true
        customConfig:
          description: The user specified custom configuration for the module.
          $ref: '#/components/schemas/GoogleCloudSecuritycenterV1CustomConfig'
        name:
          type: string
          description: >-
            Immutable. The resource name of the custom module. Its format is
            "organizations/{organization}/securityHealthAnalyticsSettings/customModules/{customModule}",
            or
            "folders/{folder}/securityHealthAnalyticsSettings/customModules/{customModule}",
            or
            "projects/{project}/securityHealthAnalyticsSettings/customModules/{customModule}"
            The id {customModule} is server-generated and is not user settable.
            It will be a numeric id containing 1-20 digits.
        lastEditor:
          type: string
          description: Output only. The editor that last updated the custom module.
          readOnly: true
        updateTime:
          format: google-datetime
          type: string
          readOnly: true
          description: Output only. The time at which the custom module was last updated.
    GoogleCloudSecuritycenterV1p1beta1Finding:
      properties:
        resourceName:
          type: string
          description: >-
            For findings on Google Cloud resources, the full resource name of
            the Google Cloud resource this finding is for. See:
            https://cloud.google.com/apis/design/resource_names#full_resource_name
            When the finding is for a non-Google Cloud resource, the
            resourceName can be a customer or partner defined string. This field
            is immutable after creation time.
        category:
          type: string
          description: >-
            The additional taxonomy group within findings from a given source.
            This field is immutable after creation time. Example:
            "XSS_FLASH_INJECTION"
        externalUri:
          description: >-
            The URI that, if available, points to a web page outside of Security
            Command Center where additional information about the finding can be
            found. This field is guaranteed to be either empty or a well formed
            URL.
          type: string
        sourceProperties:
          additionalProperties:
            type: any
          description: >-
            Source specific properties. These properties are managed by the
            source that writes the finding. The key names in the
            source_properties map must be between 1 and 255 characters, and must
            start with a letter and contain alphanumeric characters or
            underscores only.
          type: object
        parent:
          type: string
          description: >-
            The relative resource name of the source the finding belongs to.
            See:
            https://cloud.google.com/apis/design/resource_names#relative_resource_name
            This field is immutable after creation time. For example:
            "organizations/{organization_id}/sources/{source_id}"
        securityMarks:
          readOnly: true
          $ref: '#/components/schemas/GoogleCloudSecuritycenterV1p1beta1SecurityMarks'
          description: >-
            Output only. User specified security marks. These marks are entirely
            managed by the user and come from the SecurityMarks resource that
            belongs to the finding.
        canonicalName:
          type: string
          description: >-
            The canonical name of the finding. It's either
            "organizations/{organization_id}/sources/{source_id}/findings/{finding_id}",
            "folders/{folder_id}/sources/{source_id}/findings/{finding_id}" or
            "projects/{project_number}/sources/{source_id}/findings/{finding_id}",
            depending on the closest CRM ancestor of the resource associated
            with the finding.
        createTime:
          description: >-
            The time at which the finding was created in Security Command
            Center.
          format: google-datetime
          type: string
        name:
          description: >-
            The relative resource name of this finding. See:
            https://cloud.google.com/apis/design/resource_names#relative_resource_name
            Example:
            "organizations/{organization_id}/sources/{source_id}/findings/{finding_id}"
          type: string
        state:
          description: The state of the finding.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - INACTIVE
          enumDescriptions:
            - Unspecified state.
            - The finding requires attention and has not been addressed yet.
            - >-
              The finding has been fixed, triaged as a non-issue or otherwise
              addressed and is no longer active.
        eventTime:
          type: string
          format: google-datetime
          description: >-
            The time at which the event took place, or when an update to the
            finding occurred. For example, if the finding represents an open
            firewall it would capture the time the detector believes the
            firewall became open. The accuracy is determined by the detector. If
            the finding were to be resolved afterward, this time would reflect
            when the finding was resolved. Must not be set to a value greater
            than the current timestamp.
        severity:
          enumDescriptions:
            - No severity specified. The default value.
            - Critical severity.
            - High severity.
            - Medium severity.
            - Low severity.
          type: string
          description: >-
            The severity of the finding. This field is managed by the source
            that writes the finding.
          enum:
            - SEVERITY_UNSPECIFIED
            - CRITICAL
            - HIGH
            - MEDIUM
            - LOW
      description: >-
        Security Command Center finding. A finding is a record of assessment
        data (security, risk, health or privacy) ingested into Security Command
        Center for presentation, notification, analysis, policy testing, and
        enforcement. For example, an XSS vulnerability in an App Engine
        application is a finding.
      type: object
      id: GoogleCloudSecuritycenterV1p1beta1Finding
    VirtualMachineThreatDetectionSettings:
      id: VirtualMachineThreatDetectionSettings
      type: object
      properties:
        serviceEnablementState:
          type: string
          description: >-
            The state of enablement for the service at its level of the resource
            hierarchy. A DISABLED state will override all module
            enablement_states to DISABLED.
          enumDescriptions:
            - Default value. This value is unused.
            - State is inherited from the parent resource.
            - State is enabled.
            - State is disabled.
          enum:
            - ENABLEMENT_STATE_UNSPECIFIED
            - INHERITED
            - ENABLED
            - DISABLED
        serviceAccount:
          type: string
          readOnly: true
          description: >-
            Output only. The service account used by Virtual Machine Threat
            Detection detectors.
        modules:
          additionalProperties:
            $ref: '#/components/schemas/Config'
          type: object
          description: >-
            The configurations including the state of enablement for the
            service's different modules. The absence of a module in the map
            implies its configuration is inherited from its parent's.
        updateTime:
          description: Output only. The time the settings were last updated.
          type: string
          format: google-datetime
          readOnly: true
        name:
          description: >-
            The resource name of the VirtualMachineThreatDetectionSettings.
            Formats: *
            organizations/{organization}/virtualMachineThreatDetectionSettings *
            folders/{folder}/virtualMachineThreatDetectionSettings *
            projects/{project}/virtualMachineThreatDetectionSettings
          type: string
      description: >-
        Resource capturing the settings for the Virtual Machine Threat Detection
        service.
    SecurityCenterSettings:
      type: object
      description: Resource capturing the settings for Security Center.
      properties:
        name:
          type: string
          description: >-
            The resource name of the SecurityCenterSettings. Format:
            organizations/{organization}/securityCenterSettings Format:
            folders/{folder}/securityCenterSettings Format:
            projects/{project}/securityCenterSettings
        onboardingTime:
          description: >-
            Output only. Timestamp of when the customer organization was
            onboarded to SCC.
          type: string
          readOnly: true
          format: google-datetime
        orgServiceAccount:
          readOnly: true
          type: string
          description: >-
            Output only. The organization level service account to be used for
            security center components.
        logSinkProject:
          type: string
          description: >-
            The resource name of the project to send logs to. This project must
            be part of the organization this resource resides in. The format is
            `projects/{project_id}`. An empty value disables logging. This value
            is only referenced by services that support log sink. Please refer
            to the documentation for an updated list of compatible services.
            This may only be specified for organization level onboarding.
      id: SecurityCenterSettings
    NodePool:
      description: Provides GKE node pool information.
      id: NodePool
      type: object
      properties:
        name:
          type: string
          description: Kubernetes node pool name.
        nodes:
          type: array
          description: Nodes associated with the finding.
          items:
            $ref: '#/components/schemas/Node'
    ExfilResource:
      id: ExfilResource
      type: object
      properties:
        components:
          description: >-
            Subcomponents of the asset that was exfiltrated, like URIs used
            during exfiltration, table names, databases, and filenames. For
            example, multiple tables might have been exfiltrated from the same
            Cloud SQL instance, or multiple files might have been exfiltrated
            from the same Cloud Storage bucket.
          items:
            type: string
          type: array
        name:
          type: string
          description: >-
            The resource's [full resource
            name](https://cloud.google.com/apis/design/resource_names#full_resource_name).
      description: Resource where data was exfiltrated from or exfiltrated to.
    GoogleCloudSecuritycenterV1p1beta1NotificationMessage:
      type: object
      description: Security Command Center's Notification
      id: GoogleCloudSecuritycenterV1p1beta1NotificationMessage
      properties:
        finding:
          description: >-
            If it's a Finding based notification config, this field will be
            populated.
          $ref: '#/components/schemas/GoogleCloudSecuritycenterV1p1beta1Finding'
        resource:
          $ref: '#/components/schemas/GoogleCloudSecuritycenterV1p1beta1Resource'
          description: The Cloud resource tied to the notification.
        notificationConfigName:
          description: Name of the notification config that generated current notification.
          type: string
    GoogleCloudSecuritycenterV1BigQueryExport:
      description: Configures how to deliver Findings to BigQuery Instance.
      id: GoogleCloudSecuritycenterV1BigQueryExport
      properties:
        principal:
          description: >-
            Output only. The service account that needs permission to create
            table and upload data to the BigQuery dataset.
          type: string
          readOnly: true
        createTime:
          format: google-datetime
          description: >-
            Output only. The time at which the BigQuery export was created. This
            field is set by the server and will be ignored if provided on export
            on creation.
          type: string
          readOnly: true
        name:
          description: >-
            The relative resource name of this export. See:
            https://cloud.google.com/apis/design/resource_names#relative_resource_name.
            Example format:
            "organizations/{organization_id}/bigQueryExports/{export_id}"
            Example format: "folders/{folder_id}/bigQueryExports/{export_id}"
            Example format: "projects/{project_id}/bigQueryExports/{export_id}"
            This field is provided in responses, and is ignored when provided in
            create requests.
          type: string
        filter:
          description: >-
            Expression that defines the filter to apply across create/update
            events of findings. The expression is a list of zero or more
            restrictions combined via logical operators `AND` and `OR`.
            Parentheses are supported, and `OR` has higher precedence than
            `AND`. Restrictions have the form ` ` and may have a `-` character
            in front of them to indicate negation. The fields map to those
            defined in the corresponding resource. The supported operators are:
            * `=` for all value types. * `>`, `<`, `>=`, `<=` for integer
            values. * `:`, meaning substring matching, for strings. The
            supported value types are: * string literals in quotes. * integer
            literals without quotes. * boolean literals `true` and `false`
            without quotes.
          type: string
        mostRecentEditor:
          readOnly: true
          type: string
          description: >-
            Output only. Email address of the user who last edited the BigQuery
            export. This field is set by the server and will be ignored if
            provided on export creation or update.
        updateTime:
          description: >-
            Output only. The most recent time at which the BigQuery export was
            updated. This field is set by the server and will be ignored if
            provided on export creation or update.
          format: google-datetime
          type: string
          readOnly: true
        dataset:
          description: >-
            The dataset to write findings' updates to. Its format is
            "projects/[project_id]/datasets/[bigquery_dataset_id]". BigQuery
            Dataset unique ID must contain only letters (a-z, A-Z), numbers
            (0-9), or underscores (_).
          type: string
        description:
          type: string
          description: The description of the export (max of 1024 characters).
      type: object
    Detection:
      id: Detection
      description: Memory hash detection contributing to the binary family match.
      properties:
        binary:
          type: string
          description: >-
            The name of the binary associated with the memory hash signature
            detection.
        percentPagesMatched:
          description: >-
            The percentage of memory page hashes in the signature that were
            matched.
          format: double
          type: number
      type: object
    ContainerThreatDetectionSettings:
      id: ContainerThreatDetectionSettings
      type: object
      properties:
        name:
          description: >-
            The resource name of the ContainerThreatDetectionSettings. Formats:
            * organizations/{organization}/containerThreatDetectionSettings *
            folders/{folder}/containerThreatDetectionSettings *
            projects/{project}/containerThreatDetectionSettings *
            projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings
          type: string
        serviceAccount:
          type: string
          description: >-
            Output only. The service account used by Container Threat Detection
            for scanning. Service accounts are scoped at the project level
            meaning this field will be empty at any level above a project.
          readOnly: true
        modules:
          additionalProperties:
            $ref: '#/components/schemas/Config'
          description: >-
            The configurations including the state of enablement for the
            service's different modules. The absence of a module in the map
            implies its configuration is inherited from its parent's.
          type: object
        updateTime:
          readOnly: true
          type: string
          description: Output only. The time the settings were last updated.
          format: google-datetime
        serviceEnablementState:
          description: >-
            The state of enablement for the service at its level of the resource
            hierarchy. A DISABLED state will override all module
            enablement_states to DISABLED.
          enumDescriptions:
            - Default value. This value is unused.
            - State is inherited from the parent resource.
            - State is enabled.
            - State is disabled.
          type: string
          enum:
            - ENABLEMENT_STATE_UNSPECIFIED
            - INHERITED
            - ENABLED
            - DISABLED
      description: >-
        Resource capturing the settings for the Container Threat Detection
        service.
    RapidVulnerabilityDetectionSettings:
      properties:
        updateTime:
          readOnly: true
          description: Output only. The time the settings were last updated.
          format: google-datetime
          type: string
        modules:
          description: >-
            The configurations including the state of enablement for the
            service's different modules. The absence of a module in the map
            implies its configuration is inherited from its parent's.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Config'
        name:
          type: string
          description: >-
            The resource name of the RapidVulnerabilityDetectionSettings.
            Formats: *
            organizations/{organization}/rapidVulnerabilityDetectionSettings *
            folders/{folder}/rapidVulnerabilityDetectionSettings *
            projects/{project}/rapidVulnerabilityDetectionSettings
        serviceEnablementState:
          description: >-
            The state of enablement for the service at its level of the resource
            hierarchy. A DISABLED state will override all module
            enablement_states to DISABLED.
          enumDescriptions:
            - Default value. This value is unused.
            - State is inherited from the parent resource.
            - State is enabled.
            - State is disabled.
          enum:
            - ENABLEMENT_STATE_UNSPECIFIED
            - INHERITED
            - ENABLED
            - DISABLED
          type: string
      type: object
      id: RapidVulnerabilityDetectionSettings
      description: >-
        Resource capturing the settings for the Rapid Vulnerability Detection
        service.
    Database:
      type: object
      id: Database
      description: >-
        Represents database access information, such as queries. A database may
        be a sub-resource of an instance (as in the case of Cloud SQL instances
        or Cloud Spanner instances), or the database instance itself. Some
        database resources might not have the [full resource
        name](https://google.aip.dev/122#full-resource-names) populated because
        these resource types, such as Cloud SQL databases, are not yet supported
        by Cloud Asset Inventory. In these cases only the display name is
        provided. Some database resources may not have the [full resource
        name](https://google.aip.dev/122#full-resource-names) populated because
        these resource types are not yet supported by Cloud Asset Inventory
        (e.g. Cloud SQL databases). In these cases only the display name will be
        provided.
      properties:
        userName:
          description: >-
            The username used to connect to the database. The username might not
            be an IAM principal and does not have a set format.
          type: string
        grantees:
          items:
            type: string
          type: array
          description: >-
            The target usernames, roles, or groups of an SQL privilege grant,
            which is not an IAM policy change.
        displayName:
          description: The human-readable name of the database that the user connected to.
          type: string
        query:
          type: string
          description: The SQL statement that is associated with the database access.
        name:
          type: string
          description: >-
            The [full resource
            name](https://google.aip.dev/122#full-resource-names) of the
            database that the user connected to, if it is supported by Cloud
            Asset Inventory.
    File:
      properties:
        hashedSize:
          format: int64
          description: >-
            The length in bytes of the file prefix that was hashed. If
            hashed_size == size, any hashes reported represent the entire file.
          type: string
        partiallyHashed:
          description: True when the hash covers only a prefix of the file.
          type: boolean
        contents:
          type: string
          description: Prefix of the file contents as a JSON-encoded string.
        path:
          type: string
          description: Absolute path of the file as a JSON encoded string.
        sha256:
          description: >-
            SHA256 hash of the first hashed_size bytes of the file encoded as a
            hex string. If hashed_size == size, sha256 represents the SHA256
            hash of the entire file.
          type: string
        size:
          format: int64
          description: Size of the file in bytes.
          type: string
      id: File
      type: object
      description: >-
        File information about the related binary/library used by an executable,
        or the script used by a script interpreter
    GoogleCloudSecuritycenterV1BulkMuteFindingsResponse:
      type: object
      description: The response to a BulkMute request. Contains the LRO information.
      properties: {}
      id: GoogleCloudSecuritycenterV1BulkMuteFindingsResponse
    Indicator:
      type: object
      properties:
        ipAddresses:
          type: array
          description: The list of IP addresses that are associated with the finding.
          items:
            type: string
        uris:
          items:
            type: string
          type: array
          description: The list of URIs associated to the Findings.
        domains:
          items:
            type: string
          description: List of domains associated to the Finding.
          type: array
        signatures:
          type: array
          description: >-
            The list of matched signatures indicating that the given process is
            present in the environment.
          items:
            $ref: '#/components/schemas/ProcessSignature'
      description: >-
        Represents what's commonly known as an _indicator of compromise_ (IoC)
        in computer forensics. This is an artifact observed on a network or in
        an operating system that, with high confidence, indicates a computer
        intrusion. For more information, see [Indicator of
        compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).
      id: Indicator
    Pod:
      id: Pod
      type: object
      description: A Kubernetes Pod.
      properties:
        ns:
          type: string
          description: Kubernetes Pod namespace.
        labels:
          items:
            $ref: '#/components/schemas/Label'
          type: array
          description: >-
            Pod labels. For Kubernetes containers, these are applied to the
            container.
        name:
          type: string
          description: Kubernetes Pod name.
        containers:
          items:
            $ref: '#/components/schemas/Container'
          description: Pod containers associated with this finding, if any.
          type: array
    Expr:
      description: >-
        Represents a textual expression in the Common Expression Language (CEL)
        syntax. CEL is a C-like expression language. The syntax and semantics of
        CEL are documented at https://github.com/google/cel-spec. Example
        (Comparison): title: "Summary size limit" description: "Determines if a
        summary is less than 100 chars" expression: "document.summary.size() <
        100" Example (Equality): title: "Requestor is owner" description:
        "Determines if requestor is the document owner" expression:
        "document.owner == request.auth.claims.email" Example (Logic): title:
        "Public documents" description: "Determine whether the document should
        be publicly visible" expression: "document.type != 'private' &&
        document.type != 'internal'" Example (Data Manipulation): title:
        "Notification string" description: "Create a notification string with a
        timestamp." expression: "'New message received at ' +
        string(document.create_time)" The exact variables and functions that may
        be referenced within an expression are determined by the service that
        evaluates it. See the service documentation for additional information.
      type: object
      properties:
        description:
          type: string
          description: >-
            Optional. Description of the expression. This is a longer text which
            describes the expression, e.g. when hovered over it in a UI.
        expression:
          type: string
          description: >-
            Textual representation of an expression in Common Expression
            Language syntax.
        location:
          type: string
          description: >-
            Optional. String indicating the location of the expression for error
            reporting, e.g. a file name and a position in the file.
        title:
          description: >-
            Optional. Title for the expression, i.e. a short string describing
            its purpose. This can be used e.g. in UIs which allow to enter the
            expression.
          type: string
      id: Expr
    EventThreatDetectionSettings:
      type: object
      id: EventThreatDetectionSettings
      description: Resource capturing the settings for the Event Threat Detection service.
      properties:
        name:
          description: >-
            The resource name of the EventThreatDetectionSettings. Formats: *
            organizations/{organization}/eventThreatDetectionSettings *
            folders/{folder}/eventThreatDetectionSettings *
            projects/{project}/eventThreatDetectionSettings
          type: string
        modules:
          type: object
          description: >-
            The configurations including the state of enablement for the
            service's different modules. The absence of a module in the map
            implies its configuration is inherited from its parent's.
          additionalProperties:
            $ref: '#/components/schemas/Config'
        serviceEnablementState:
          type: string
          enum:
            - ENABLEMENT_STATE_UNSPECIFIED
            - INHERITED
            - ENABLED
            - DISABLED
          description: >-
            The state of enablement for the service at its level of the resource
            hierarchy. A DISABLED state will override all module
            enablement_states to DISABLED.
          enumDescriptions:
            - Default value. This value is unused.
            - State is inherited from the parent resource.
            - State is enabled.
            - State is disabled.
        updateTime:
          readOnly: true
          type: string
          description: Output only. The time the settings were last updated.
          format: google-datetime
    GoogleCloudSecuritycenterV1Binding:
      properties:
        subjects:
          items:
            $ref: '#/components/schemas/Subject'
          type: array
          description: >-
            Represents one or more subjects that are bound to the role. Not
            always available for PATCH requests.
        name:
          type: string
          description: Name for the binding.
        role:
          description: The Role or ClusterRole referenced by the binding.
          $ref: '#/components/schemas/Role'
        ns:
          description: Namespace for the binding.
          type: string
      id: GoogleCloudSecuritycenterV1Binding
      description: Represents a Kubernetes RoleBinding or ClusterRoleBinding.
      type: object
    AccessReview:
      type: object
      properties:
        ns:
          description: >-
            Namespace of the action being requested. Currently, there is no
            distinction between no namespace and all namespaces. Both are
            represented by "" (empty).
          type: string
        version:
          description: The API version of the resource. "*" means all.
          type: string
        resource:
          description: The optional resource type requested. "*" means all.
          type: string
        group:
          description: The API group of the resource. "*" means all.
          type: string
        verb:
          type: string
          description: >-
            A Kubernetes resource API verb, like get, list, watch, create,
            update, delete, proxy. "*" means all.
        name:
          description: The name of the resource being requested. Empty means all.
          type: string
        subresource:
          type: string
          description: The optional subresource type.
      id: AccessReview
      description: >-
        Conveys information about a Kubernetes access review (such as one
        returned by a [`kubectl auth
        can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access)
        command) that was involved in a finding.
    EnvironmentVariable:
      properties:
        name:
          type: string
          description: Environment variable name as a JSON encoded string.
        val:
          type: string
          description: Environment variable value as a JSON encoded string.
      id: EnvironmentVariable
      type: object
      description: >-
        A name-value pair representing an environment variable used in an
        operating system process.
    Finding:
      id: Finding
      properties:
        muteUpdateTime:
          format: google-datetime
          readOnly: true
          type: string
          description: Output only. The most recent time this finding was muted or unmuted.
        parentDisplayName:
          type: string
          readOnly: true
          description: >-
            Output only. The human readable display name of the finding source
            such as "Event Threat Detection" or "Security Health Analytics".
        vulnerability:
          $ref: '#/components/schemas/Vulnerability'
          description: >-
            Represents vulnerability-specific fields like CVE and CVSS scores.
            CVE stands for Common Vulnerabilities and Exposures
            (https://cve.mitre.org/about/)
        moduleName:
          type: string
          description: >-
            Unique identifier of the module which generated the finding.
            Example:
            folders/598186756061/securityHealthAnalyticsSettings/customModules/56799441161885
        access:
          description: >-
            Access details associated with the finding, such as more information
            on the caller, which method was accessed, and from where.
          $ref: '#/components/schemas/Access'
        category:
          description: >-
            The additional taxonomy group within findings from a given source.
            This field is immutable after creation time. Example:
            "XSS_FLASH_INJECTION"
          type: string
        contacts:
          additionalProperties:
            $ref: '#/components/schemas/ContactDetails'
          description: >-
            Output only. Map containing the points of contact for the given
            finding. The key represents the type of contact, while the value
            contains a list of all the contacts that pertain. Please refer to:
            https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories
            { "security": { "contacts": [ { "email": "person1@company.com" }, {
            "email": "person2@company.com" } ] } }
          type: object
          readOnly: true
        containers:
          type: array
          items:
            $ref: '#/components/schemas/Container'
          description: >-
            Containers associated with the finding. This field provides
            information for both Kubernetes and non-Kubernetes containers.
        findingClass:
          description: The class of the finding.
          type: string
          enum:
            - FINDING_CLASS_UNSPECIFIED
            - THREAT
            - VULNERABILITY
            - MISCONFIGURATION
            - OBSERVATION
            - SCC_ERROR
          enumDescriptions:
            - Unspecified finding class.
            - Describes unwanted or malicious activity.
            - >-
              Describes a potential weakness in software that increases risk to
              Confidentiality & Integrity & Availability.
            - >-
              Describes a potential weakness in cloud resource/asset
              configuration that increases risk.
            - >-
              Describes a security observation that is for informational
              purposes.
            - Describes an error that prevents some SCC functionality.
        state:
          description: The state of the finding.
          enumDescriptions:
            - Unspecified state.
            - The finding requires attention and has not been addressed yet.
            - >-
              The finding has been fixed, triaged as a non-issue or otherwise
              addressed and is no longer active.
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - INACTIVE
          type: string
        resourceName:
          type: string
          description: >-
            For findings on Google Cloud resources, the full resource name of
            the Google Cloud resource this finding is for. See:
            https://cloud.google.com/apis/design/resource_names#full_resource_name
            When the finding is for a non-Google Cloud resource, the
            resourceName can be a customer or partner defined string. This field
            is immutable after creation time.
        canonicalName:
          type: string
          description: >-
            The canonical name of the finding. It's either
            "organizations/{organization_id}/sources/{source_id}/findings/{finding_id}",
            "folders/{folder_id}/sources/{source_id}/findings/{finding_id}" or
            "projects/{project_number}/sources/{source_id}/findings/{finding_id}",
            depending on the closest CRM ancestor of the resource associated
            with the finding.
        indicator:
          description: >-
            Represents what's commonly known as an *indicator of compromise*
            (IoC) in computer forensics. This is an artifact observed on a
            network or in an operating system that, with high confidence,
            indicates a computer intrusion. For more information, see [Indicator
            of
            compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).
          $ref: '#/components/schemas/Indicator'
        externalSystems:
          description: >-
            Output only. Third party SIEM/SOAR fields within SCC, contains
            external system information and external system finding fields.
          additionalProperties:
            $ref: '#/components/schemas/GoogleCloudSecuritycenterV1ExternalSystem'
          type: object
          readOnly: true
        files:
          description: File associated with the finding.
          items:
            $ref: '#/components/schemas/File'
          type: array
        cloudDlpInspection:
          description: >-
            Cloud Data Loss Prevention (Cloud DLP) inspection results that are
            associated with the finding.
          $ref: '#/components/schemas/CloudDlpInspection'
        severity:
          enumDescriptions:
            - >-
              This value is used for findings when a source doesn't write a
              severity value.
            - >-
              Vulnerability: A critical vulnerability is easily discoverable by
              an external actor, exploitable, and results in the direct ability
              to execute arbitrary code, exfiltrate data, and otherwise gain
              additional access and privileges to cloud resources and workloads.
              Examples include publicly accessible unprotected user data and
              public SSH access with weak or no passwords. Threat: Indicates a
              threat that is able to access, modify, or delete data or execute
              unauthorized code within existing resources.
            - >-
              Vulnerability: A high risk vulnerability can be easily discovered
              and exploited in combination with other vulnerabilities in order
              to gain direct access and the ability to execute arbitrary code,
              exfiltrate data, and otherwise gain additional access and
              privileges to cloud resources and workloads. An example is a
              database with weak or no passwords that is only accessible
              internally. This database could easily be compromised by an actor
              that had access to the internal network. Threat: Indicates a
              threat that is able to create new computational resources in an
              environment but not able to access data or execute code in
              existing resources.
            - >-
              Vulnerability: A medium risk vulnerability could be used by an
              actor to gain access to resources or privileges that enable them
              to eventually (through multiple steps or a complex exploit) gain
              access and the ability to execute arbitrary code or exfiltrate
              data. An example is a service account with access to more projects
              than it should have. If an actor gains access to the service
              account, they could potentially use that access to manipulate a
              project the service account was not intended to. Threat: Indicates
              a threat that is able to cause operational impact but may not
              access data or execute unauthorized code.
            - >-
              Vulnerability: A low risk vulnerability hampers a security
              organization's ability to detect vulnerabilities or active threats
              in their deployment, or prevents the root cause investigation of
              security issues. An example is monitoring and logs being disabled
              for resource configurations and access. Threat: Indicates a threat
              that has obtained minimal access to an environment but is not able
              to access data, execute code, or create resources.
          type: string
          enum:
            - SEVERITY_UNSPECIFIED
            - CRITICAL
            - HIGH
            - MEDIUM
            - LOW
          description: >-
            The severity of the finding. This field is managed by the source
            that writes the finding.
        name:
          type: string
          description: >-
            The [relative resource
            name](https://cloud.google.com/apis/design/resource_names#relative_resource_name)
            of the finding. Example:
            "organizations/{organization_id}/sources/{source_id}/findings/{finding_id}",
            "folders/{folder_id}/sources/{source_id}/findings/{finding_id}",
            "projects/{project_id}/sources/{source_id}/findings/{finding_id}".
        exfiltration:
          $ref: '#/components/schemas/Exfiltration'
          description: Represents exfiltrations associated with the finding.
        externalUri:
          description: >-
            The URI that, if available, points to a web page outside of Security
            Command Center where additional information about the finding can be
            found. This field is guaranteed to be either empty or a well formed
            URL.
          type: string
        mute:
          type: string
          enum:
            - MUTE_UNSPECIFIED
            - MUTED
            - UNMUTED
            - UNDEFINED
          description: >-
            Indicates the mute state of a finding (either muted, unmuted or
            undefined). Unlike other attributes of a finding, a finding provider
            shouldn't set the value of mute.
          enumDescriptions:
            - Unspecified.
            - Finding has been muted.
            - Finding has been unmuted.
            - Finding has never been muted/unmuted.
        sourceProperties:
          description: >-
            Source specific properties. These properties are managed by the
            source that writes the finding. The key names in the
            source_properties map must be between 1 and 255 characters, and must
            start with a letter and contain alphanumeric characters or
            underscores only.
          type: object
          additionalProperties:
            type: any
        cloudDlpDataProfile:
          description: Cloud DLP data profile that is associated with the finding.
          $ref: '#/components/schemas/CloudDlpDataProfile'
        description:
          description: Contains more details about the finding.
          type: string
        nextSteps:
          type: string
          description: Steps to address the finding.
        createTime:
          type: string
          format: google-datetime
          description: >-
            The time at which the finding was created in Security Command
            Center.
        connections:
          items:
            $ref: '#/components/schemas/Connection'
          type: array
          description: >-
            Contains information about the IP connection associated with the
            finding.
        parent:
          description: >-
            The relative resource name of the source the finding belongs to.
            See:
            https://cloud.google.com/apis/design/resource_names#relative_resource_name
            This field is immutable after creation time. For example:
            "organizations/{organization_id}/sources/{source_id}"
          type: string
        processes:
          items:
            $ref: '#/components/schemas/Process'
          description: Represents operating system processes associated with the Finding.
          type: array
        compliances:
          description: >-
            Contains compliance information for security standards associated to
            the finding.
          type: array
          items:
            $ref: '#/components/schemas/Compliance'
        iamBindings:
          type: array
          items:
            $ref: '#/components/schemas/IamBinding'
          description: Represents IAM bindings associated with the finding.
        muteInitiator:
          type: string
          description: >-
            Records additional information about the mute operation, for
            example, the [mute
            configuration](/security-command-center/docs/how-to-mute-findings)
            that muted the finding and the user who muted the finding.
        kubernetes:
          $ref: '#/components/schemas/Kubernetes'
          description: Kubernetes resources associated with the finding.
        securityMarks:
          $ref: '#/components/schemas/SecurityMarks'
          readOnly: true
          description: >-
            Output only. User specified security marks. These marks are entirely
            managed by the user and come from the SecurityMarks resource that
            belongs to the finding.
        mitreAttack:
          description: >-
            MITRE ATT&CK tactics and techniques related to this finding. See:
            https://attack.mitre.org
          $ref: '#/components/schemas/MitreAttack'
        eventTime:
          format: google-datetime
          description: >-
            The time the finding was first detected. If an existing finding is
            updated, then this is the time the update occurred. For example, if
            the finding represents an open firewall, this property captures the
            time the detector believes the firewall became open. The accuracy is
            determined by the detector. If the finding is later resolved, then
            this time reflects when the finding was resolved. This must not be
            set to a value greater than the current timestamp.
          type: string
        database:
          description: Database associated with the finding.
          $ref: '#/components/schemas/Database'
        kernelRootkit:
          $ref: '#/components/schemas/KernelRootkit'
          description: Signature of the kernel rootkit.
      description: >-
        Security Command Center finding. A finding is a record of assessment
        data like security, risk, health, or privacy, that is ingested into
        Security Command Center for presentation, notification, analysis, policy
        testing, and enforcement. For example, a cross-site scripting (XSS)
        vulnerability in an App Engine application is a finding.
      type: object
    GoogleCloudSecuritycenterV1MuteConfig:
      type: object
      id: GoogleCloudSecuritycenterV1MuteConfig
      properties:
        name:
          type: string
          description: >-
            This field will be ignored if provided on config creation. Format
            "organizations/{organization}/muteConfigs/{mute_config}"
            "folders/{folder}/muteConfigs/{mute_config}"
            "projects/{project}/muteConfigs/{mute_config}"
        updateTime:
          format: google-datetime
          type: string
          description: >-
            Output only. The most recent time at which the mute config was
            updated. This field is set by the server and will be ignored if
            provided on config creation or update.
          readOnly: true
        displayName:
          description: The human readable name to be displayed for the mute config.
          type: string
        filter:
          description: >-
            Required. An expression that defines the filter to apply across
            create/update events of findings. While creating a filter string, be
            mindful of the scope in which the mute configuration is being
            created. E.g., If a filter contains project = X but is created under
            the project = Y scope, it might not match any findings. The
            following field and operator combinations are supported: * severity:
            `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` *
            resource.project_name: `=`, `:` * resource.project_display_name:
            `=`, `:` * resource.folders.resource_folder: `=`, `:` *
            resource.parent_name: `=`, `:` * resource.parent_display_name: `=`,
            `:` * resource.type: `=`, `:` * finding_class: `=`, `:` *
            indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`
          type: string
        mostRecentEditor:
          description: >-
            Output only. Email address of the user who last edited the mute
            config. This field is set by the server and will be ignored if
            provided on config creation or update.
          type: string
          readOnly: true
        createTime:
          readOnly: true
          format: google-datetime
          description: >-
            Output only. The time at which the mute config was created. This
            field is set by the server and will be ignored if provided on config
            creation.
          type: string
        description:
          description: A description of the mute config.
          type: string
      description: >-
        A mute config is a Cloud SCC resource that contains the configuration to
        mute create/update events of findings.
    MitreAttack:
      properties:
        additionalTactics:
          type: array
          items:
            enum:
              - TACTIC_UNSPECIFIED
              - RECONNAISSANCE
              - RESOURCE_DEVELOPMENT
              - INITIAL_ACCESS
              - EXECUTION
              - PERSISTENCE
              - PRIVILEGE_ESCALATION
              - DEFENSE_EVASION
              - CREDENTIAL_ACCESS
              - DISCOVERY
              - LATERAL_MOVEMENT
              - COLLECTION
              - COMMAND_AND_CONTROL
              - EXFILTRATION
              - IMPACT
            type: string
            enumDescriptions:
              - Unspecified value.
              - TA0043
              - TA0042
              - TA0001
              - TA0002
              - TA0003
              - TA0004
              - TA0005
              - TA0006
              - TA0007
              - TA0008
              - TA0009
              - TA0011
              - TA0010
              - TA0040
          description: Additional MITRE ATT&CK tactics related to this finding, if any.
        primaryTechniques:
          items:
            type: string
            enumDescriptions:
              - Unspecified value.
              - T1595
              - T1595.001
              - T1105
              - T1106
              - T1129
              - T1059
              - T1059.004
              - T1496
              - T1090
              - T1090.002
              - T1090.003
              - T1568
              - T1552
              - T1078
              - T1078.003
              - T1078.004
              - T1498
              - T1069
              - T1069.003
              - T1567
              - T1567.002
              - T1098
              - T1098.004
              - T1543
              - T1539
              - T1578
              - T1190
              - T1556
              - T1485
              - T1484
              - T1562
              - T1046
              - T1134
              - T1548
              - T1078.001
            enum:
              - TECHNIQUE_UNSPECIFIED
              - ACTIVE_SCANNING
              - SCANNING_IP_BLOCKS
              - INGRESS_TOOL_TRANSFER
              - NATIVE_API
              - SHARED_MODULES
              - COMMAND_AND_SCRIPTING_INTERPRETER
              - UNIX_SHELL
              - RESOURCE_HIJACKING
              - PROXY
              - EXTERNAL_PROXY
              - MULTI_HOP_PROXY
              - DYNAMIC_RESOLUTION
              - UNSECURED_CREDENTIALS
              - VALID_ACCOUNTS
              - LOCAL_ACCOUNTS
              - CLOUD_ACCOUNTS
              - NETWORK_DENIAL_OF_SERVICE
              - PERMISSION_GROUPS_DISCOVERY
              - CLOUD_GROUPS
              - EXFILTRATION_OVER_WEB_SERVICE
              - EXFILTRATION_TO_CLOUD_STORAGE
              - ACCOUNT_MANIPULATION
              - SSH_AUTHORIZED_KEYS
              - CREATE_OR_MODIFY_SYSTEM_PROCESS
              - STEAL_WEB_SESSION_COOKIE
              - MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE
              - EXPLOIT_PUBLIC_FACING_APPLICATION
              - MODIFY_AUTHENTICATION_PROCESS
              - DATA_DESTRUCTION
              - DOMAIN_POLICY_MODIFICATION
              - IMPAIR_DEFENSES
              - NETWORK_SERVICE_DISCOVERY
              - ACCESS_TOKEN_MANIPULATION
              - ABUSE_ELEVATION_CONTROL_MECHANISM
              - DEFAULT_ACCOUNTS
          description: >-
            The MITRE ATT&CK technique most closely represented by this finding,
            if any. primary_techniques is a repeated field because there are
            multiple levels of MITRE ATT&CK techniques. If the technique most
            closely represented by this finding is a sub-technique (e.g.
            `SCANNING_IP_BLOCKS`), both the sub-technique and its parent
            technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`,
            `ACTIVE_SCANNING`).
          type: array
        primaryTactic:
          type: string
          enum:
            - TACTIC_UNSPECIFIED
            - RECONNAISSANCE
            - RESOURCE_DEVELOPMENT
            - INITIAL_ACCESS
            - EXECUTION
            - PERSISTENCE
            - PRIVILEGE_ESCALATION
            - DEFENSE_EVASION
            - CREDENTIAL_ACCESS
            - DISCOVERY
            - LATERAL_MOVEMENT
            - COLLECTION
            - COMMAND_AND_CONTROL
            - EXFILTRATION
            - IMPACT
          enumDescriptions:
            - Unspecified value.
            - TA0043
            - TA0042
            - TA0001
            - TA0002
            - TA0003
            - TA0004
            - TA0005
            - TA0006
            - TA0007
            - TA0008
            - TA0009
            - TA0011
            - TA0010
            - TA0040
          description: >-
            The MITRE ATT&CK tactic most closely represented by this finding, if
            any.
        version:
          description: The MITRE ATT&CK version referenced by the above fields. E.g. "8".
          type: string
        additionalTechniques:
          items:
            type: string
            enum:
              - TECHNIQUE_UNSPECIFIED
              - ACTIVE_SCANNING
              - SCANNING_IP_BLOCKS
              - INGRESS_TOOL_TRANSFER
              - NATIVE_API
              - SHARED_MODULES
              - COMMAND_AND_SCRIPTING_INTERPRETER
              - UNIX_SHELL
              - RESOURCE_HIJACKING
              - PROXY
              - EXTERNAL_PROXY
              - MULTI_HOP_PROXY
              - DYNAMIC_RESOLUTION
              - UNSECURED_CREDENTIALS
              - VALID_ACCOUNTS
              - LOCAL_ACCOUNTS
              - CLOUD_ACCOUNTS
              - NETWORK_DENIAL_OF_SERVICE
              - PERMISSION_GROUPS_DISCOVERY
              - CLOUD_GROUPS
              - EXFILTRATION_OVER_WEB_SERVICE
              - EXFILTRATION_TO_CLOUD_STORAGE
              - ACCOUNT_MANIPULATION
              - SSH_AUTHORIZED_KEYS
              - CREATE_OR_MODIFY_SYSTEM_PROCESS
              - STEAL_WEB_SESSION_COOKIE
              - MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE
              - EXPLOIT_PUBLIC_FACING_APPLICATION
              - MODIFY_AUTHENTICATION_PROCESS
              - DATA_DESTRUCTION
              - DOMAIN_POLICY_MODIFICATION
              - IMPAIR_DEFENSES
              - NETWORK_SERVICE_DISCOVERY
              - ACCESS_TOKEN_MANIPULATION
              - ABUSE_ELEVATION_CONTROL_MECHANISM
              - DEFAULT_ACCOUNTS
            enumDescriptions:
              - Unspecified value.
              - T1595
              - T1595.001
              - T1105
              - T1106
              - T1129
              - T1059
              - T1059.004
              - T1496
              - T1090
              - T1090.002
              - T1090.003
              - T1568
              - T1552
              - T1078
              - T1078.003
              - T1078.004
              - T1498
              - T1069
              - T1069.003
              - T1567
              - T1567.002
              - T1098
              - T1098.004
              - T1543
              - T1539
              - T1578
              - T1190
              - T1556
              - T1485
              - T1484
              - T1562
              - T1046
              - T1134
              - T1548
              - T1078.001
          description: >-
            Additional MITRE ATT&CK techniques related to this finding, if any,
            along with any of their respective parent techniques.
          type: array
      type: object
      id: MitreAttack
      description: >-
        MITRE ATT&CK tactics and techniques related to this finding. See:
        https://attack.mitre.org
    ServiceAccountDelegationInfo:
      properties:
        principalSubject:
          description: >-
            A string representing the principal_subject associated with the
            identity. As compared to `principal_email`, supports principals that
            aren't associated with email addresses, such as third party
            principals. For most identities, the format will be
            `principal://iam.googleapis.com/{identity pool
            name}/subjects/{subject}` except for some GKE identities
            (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the
            legacy format `serviceAccount:{identity pool name}[{subject}]`
          type: string
        principalEmail:
          type: string
          description: The email address of a Google account.
      type: object
      id: ServiceAccountDelegationInfo
      description: Identity delegation history of an authenticated service account.
    Geolocation:
      properties:
        regionCode:
          description: A CLDR.
          type: string
      type: object
      description: Represents a geographical location for a given access.
      id: Geolocation
    CloudDlpDataProfile:
      description: >-
        The [data profile](https://cloud.google.com/dlp/docs/data-profiles)
        associated with the finding.
      id: CloudDlpDataProfile
      properties:
        parentType:
          description: >-
            The resource hierarchy level at which the data profile was
            generated.
          enumDescriptions:
            - Unspecified parent type.
            - Organization-level configurations.
            - Project-level configurations.
          type: string
          enum:
            - PARENT_TYPE_UNSPECIFIED
            - ORGANIZATION
            - PROJECT
        dataProfile:
          type: string
          description: >-
            Name of the data profile, for example,
            `projects/123/locations/europe/tableProfiles/8383929`.
      type: object
    IamBinding:
      properties:
        member:
          description: >-
            A single identity requesting access for a Cloud Platform resource,
            for example, "foo@google.com".
          type: string
        role:
          description: >-
            Role that is assigned to "members". For example, "roles/viewer",
            "roles/editor", or "roles/owner".
          type: string
        action:
          enum:
            - ACTION_UNSPECIFIED
            - ADD
            - REMOVE
          enumDescriptions:
            - Unspecified.
            - Addition of a Binding.
            - Removal of a Binding.
          type: string
          description: The action that was performed on a Binding.
      id: IamBinding
      description: >-
        Represents a particular IAM binding, which captures a member's role
        addition, removal, or state.
      type: object
    KernelRootkit:
      id: KernelRootkit
      properties:
        unexpectedInterruptHandler:
          description: >-
            True if interrupt handlers that are are not in the expected kernel
            or module code regions are present.
          type: boolean
        unexpectedCodeModification:
          description: True if unexpected modifications of kernel code memory are present.
          type: boolean
        unexpectedProcessesInRunqueue:
          description: >-
            True if unexpected processes in the scheduler run queue are present.
            Such processes are in the run queue, but not in the process task
            list.
          type: boolean
        unexpectedSystemCallHandler:
          description: >-
            True if system call handlers that are are not in the expected kernel
            or module code regions are present.
          type: boolean
        unexpectedKernelCodePages:
          description: >-
            True if kernel code pages that are not in the expected kernel or
            module code regions are present.
          type: boolean
        name:
          type: string
          description: Rootkit name, when available.
        unexpectedReadOnlyDataModification:
          type: boolean
          description: >-
            True if unexpected modifications of kernel read-only data memory are
            present.
        unexpectedKprobeHandler:
          description: >-
            True if `kprobe` points are present with callbacks pointing to
            regions that are not in the expected kernel or module code range.
          type: boolean
        unexpectedFtraceHandler:
          description: >-
            True if `ftrace` points are present with callbacks pointing to
            regions that are not in the expected kernel or module code range.
          type: boolean
      description: Kernel mode rootkit signatures.
      type: object
    GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule:
      properties:
        displayName:
          readOnly: true
          description: >-
            Output only. The display name for the custom module. The name must
            be between 1 and 128 characters, start with a lowercase letter, and
            contain alphanumeric characters or underscores only.
          type: string
        enablementState:
          type: string
          description: >-
            Output only. The effective state of enablement for the module at the
            given level of the hierarchy.
          enumDescriptions:
            - Unspecified enablement state.
            - The module is enabled at the given level.
            - The module is disabled at the given level.
          enum:
            - ENABLEMENT_STATE_UNSPECIFIED
            - ENABLED
            - DISABLED
          readOnly: true
        customConfig:
          readOnly: true
          $ref: '#/components/schemas/GoogleCloudSecuritycenterV1CustomConfig'
          description: Output only. The user-specified configuration for the module.
        name:
          description: >-
            Output only. The resource name of the custom module. Its format is
            "organizations/{organization}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}",
            or
            "folders/{folder}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}",
            or
            "projects/{project}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}"
          readOnly: true
          type: string
      description: >-
        An EffectiveSecurityHealthAnalyticsCustomModule is the representation of
        a Security Health Analytics custom module at a specified level of the
        resource hierarchy: organization, folder, or project. If a custom module
        is inherited from a parent organization or folder, the value of the
        `enablementState` property in
        EffectiveSecurityHealthAnalyticsCustomModule is set to the value that is
        effective in the parent, instead of `INHERITED`. For example, if the
        module is enabled in a parent organization or folder, the effective
        enablement_state for the module in all child folders or projects is also
        `enabled`. EffectiveSecurityHealthAnalyticsCustomModule is read-only.
      id: GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule
      type: object
    GoogleCloudSecuritycenterV1NotificationMessage:
      id: GoogleCloudSecuritycenterV1NotificationMessage
      description: Cloud SCC's Notification
      properties:
        finding:
          description: >-
            If it's a Finding based notification config, this field will be
            populated.
          $ref: '#/components/schemas/Finding'
        resource:
          $ref: '#/components/schemas/GoogleCloudSecuritycenterV1Resource'
          description: The Cloud resource tied to this notification's Finding.
        notificationConfigName:
          type: string
          description: Name of the notification config that generated current notification.
      type: object
    Vulnerability:
      id: Vulnerability
      type: object
      description: Refers to common vulnerability fields e.g. cve, cvss, cwe etc.
      properties:
        cve:
          $ref: '#/components/schemas/Cve'
          description: >-
            CVE stands for Common Vulnerabilities and Exposures
            (https://cve.mitre.org/about/)
    Exfiltration:
      id: Exfiltration
      description: >-
        Exfiltration represents a data exfiltration attempt from one or more
        sources to one or more targets. The `sources` attribute lists the
        sources of the exfiltrated data. The `targets` attribute lists the
        destinations the data was copied to.
      type: object
      properties:
        sources:
          items:
            $ref: '#/components/schemas/ExfilResource'
          description: >-
            If there are multiple sources, then the data is considered "joined"
            between them. For instance, BigQuery can join multiple tables, and
            each table would be considered a source.
          type: array
        targets:
          description: >-
            If there are multiple targets, each target would get a complete copy
            of the "joined" source data.
          type: array
          items:
            $ref: '#/components/schemas/ExfilResource'
    Connection:
      id: Connection
      properties:
        destinationIp:
          description: >-
            Destination IP address. Not present for sockets that are listening
            and not connected.
          type: string
        sourceIp:
          description: Source IP address.
          type: string
        destinationPort:
          type: integer
          description: >-
            Destination port. Not present for sockets that are listening and not
            connected.
          format: int32
        protocol:
          enum:
            - PROTOCOL_UNSPECIFIED
            - ICMP
            - TCP
            - UDP
            - GRE
            - ESP
          type: string
          enumDescriptions:
            - Unspecified protocol (not HOPOPT).
            - Internet Control Message Protocol.
            - Transmission Control Protocol.
            - User Datagram Protocol.
            - Generic Routing Encapsulation.
            - Encap Security Payload.
          description: IANA Internet Protocol Number such as TCP(6) and UDP(17).
        sourcePort:
          format: int32
          description: Source port.
          type: integer
      type: object
      description: >-
        Contains information about the IP connection associated with the
        finding.
    SecurityMarks:
      description: >-
        User specified security marks that are attached to the parent Security
        Command Center resource. Security marks are scoped within a Security
        Command Center organization -- they can be modified and viewed by all
        users who have proper permissions on the organization.
      id: SecurityMarks
      properties:
        name:
          description: >-
            The relative resource name of the SecurityMarks. See:
            https://cloud.google.com/apis/design/resource_names#relative_resource_name
            Examples:
            "organizations/{organization_id}/assets/{asset_id}/securityMarks"
            "organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks".
          type: string
        canonicalName:
          description: >-
            The canonical name of the marks. Examples:
            "organizations/{organization_id}/assets/{asset_id}/securityMarks"
            "folders/{folder_id}/assets/{asset_id}/securityMarks"
            "projects/{project_number}/assets/{asset_id}/securityMarks"
            "organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks"
            "folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks"
            "projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks"
          type: string
        marks:
          additionalProperties:
            type: string
          description: >-
            Mutable user specified security marks belonging to the parent
            resource. Constraints are as follows: * Keys and values are treated
            as case insensitive * Keys must be between 1 - 256 characters
            (inclusive) * Keys must be letters, numbers, underscores, or dashes
            * Values have leading and trailing whitespace trimmed, remaining
            characters must be between 1 - 4096 characters (inclusive)
          type: object
      type: object
    Access:
      type: object
      description: Represents an access event.
      properties:
        userAgent:
          description: The caller's user agent string associated with the finding.
          type: string
        serviceName:
          description: >-
            This is the API service that the service account made a call to,
            e.g. "iam.googleapis.com"
          type: string
        principalSubject:
          description: >-
            A string that represents the principal_subject that is associated
            with the identity. Unlike `principal_email`, `principal_subject`
            supports principals that aren't associated with email addresses,
            such as third party principals. For most identities, the format is
            `principal://iam.googleapis.com/{identity pool
            name}/subject/{subject}`. Some GKE identities, such as GKE_WORKLOAD,
            FREEFORM, and GKE_HUB_WORKLOAD, still use the legacy format
            `serviceAccount:{identity pool name}[{subject}]`.
          type: string
        userName:
          type: string
          description: >-
            A string that represents a username. The username provided depends
            on the type of the finding and is likely not an IAM principal. For
            example, this can be a system username if the finding is related to
            a virtual machine, or it can be an application login username.
        principalEmail:
          description: >-
            Associated email, such as "foo@google.com". The email address of the
            authenticated user or a service account acting on behalf of a third
            party principal making the request. For third party identity
            callers, the `principal_subject` field is populated instead of this
            field. For privacy reasons, the principal email address is sometimes
            redacted. For more information, see [Caller identities in audit
            logs](https://cloud.google.com/logging/docs/audit#user-id).
          type: string
        serviceAccountKeyName:
          type: string
          description: >-
            The name of the service account key that was used to create or
            exchange credentials when authenticating the service account that
            made the request. This is a scheme-less URI full resource name. For
            example:
            "//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}". 
        methodName:
          type: string
          description: The method that the service account called, e.g. "SetIamPolicy".
        callerIp:
          description: Caller's IP address, such as "1.1.1.1".
          type: string
        userAgentFamily:
          description: >-
            Type of user agent associated with the finding. For example, an
            operating system shell or an embedded or standalone application.
          type: string
        callerIpGeo:
          $ref: '#/components/schemas/Geolocation'
          description: >-
            The caller IP's geolocation, which identifies where the call came
            from.
        serviceAccountDelegationInfo:
          description: >-
            The identity delegation history of an authenticated service account
            that made the request. The `serviceAccountDelegationInfo[]` object
            contains information about the real authorities that try to access
            Google Cloud resources by delegating on a service account. When
            multiple authorities are present, they are guaranteed to be sorted
            based on the original ordering of the identity delegation events.
          items:
            $ref: '#/components/schemas/ServiceAccountDelegationInfo'
          type: array
      id: Access
    ProcessSignature:
      description: Indicates what signature matched this process.
      type: object
      properties:
        yaraRuleSignature:
          description: Signature indicating that a YARA rule was matched.
          $ref: '#/components/schemas/YaraRuleSignature'
        memoryHashSignature:
          description: Signature indicating that a binary family was matched.
          $ref: '#/components/schemas/MemoryHashSignature'
      id: ProcessSignature
    Cvssv3:
      id: Cvssv3
      type: object
      properties:
        integrityImpact:
          type: string
          enumDescriptions:
            - Invalid value.
            - High impact.
            - Low impact.
            - No impact.
          enum:
            - IMPACT_UNSPECIFIED
            - IMPACT_HIGH
            - IMPACT_LOW
            - IMPACT_NONE
          description: >-
            This metric measures the impact to integrity of a successfully
            exploited vulnerability.
        availabilityImpact:
          enumDescriptions:
            - Invalid value.
            - High impact.
            - Low impact.
            - No impact.
          description: >-
            This metric measures the impact to the availability of the impacted
            component resulting from a successfully exploited vulnerability.
          type: string
          enum:
            - IMPACT_UNSPECIFIED
            - IMPACT_HIGH
            - IMPACT_LOW
            - IMPACT_NONE
        privilegesRequired:
          type: string
          description: >-
            This metric describes the level of privileges an attacker must
            possess before successfully exploiting the vulnerability.
          enum:
            - PRIVILEGES_REQUIRED_UNSPECIFIED
            - PRIVILEGES_REQUIRED_NONE
            - PRIVILEGES_REQUIRED_LOW
            - PRIVILEGES_REQUIRED_HIGH
          enumDescriptions:
            - Invalid value.
            - >-
              The attacker is unauthorized prior to attack, and therefore does
              not require any access to settings or files of the vulnerable
              system to carry out an attack.
            - >-
              The attacker requires privileges that provide basic user
              capabilities that could normally affect only settings and files
              owned by a user. Alternatively, an attacker with Low privileges
              has the ability to access only non-sensitive resources.
            - >-
              The attacker requires privileges that provide significant (e.g.,
              administrative) control over the vulnerable component allowing
              access to component-wide settings and files.
        attackComplexity:
          enumDescriptions:
            - Invalid value.
            - >-
              Specialized access conditions or extenuating circumstances do not
              exist. An attacker can expect repeatable success when attacking
              the vulnerable component.
            - >-
              A successful attack depends on conditions beyond the attacker's
              control. That is, a successful attack cannot be accomplished at
              will, but requires the attacker to invest in some measurable
              amount of effort in preparation or execution against the
              vulnerable component before a successful attack can be expected.
          description: >-
            This metric describes the conditions beyond the attacker's control
            that must exist in order to exploit the vulnerability.
          enum:
            - ATTACK_COMPLEXITY_UNSPECIFIED
            - ATTACK_COMPLEXITY_LOW
            - ATTACK_COMPLEXITY_HIGH
          type: string
        baseScore:
          type: number
          format: double
          description: The base score is a function of the base metric scores.
        attackVector:
          enumDescriptions:
            - Invalid value.
            - >-
              The vulnerable component is bound to the network stack and the set
              of possible attackers extends beyond the other options listed
              below, up to and including the entire Internet.
            - >-
              The vulnerable component is bound to the network stack, but the
              attack is limited at the protocol level to a logically adjacent
              topology.
            - >-
              The vulnerable component is not bound to the network stack and the
              attacker's path is via read/write/execute capabilities.
            - >-
              The attack requires the attacker to physically touch or manipulate
              the vulnerable component.
          type: string
          description: >-
            Base Metrics Represents the intrinsic characteristics of a
            vulnerability that are constant over time and across user
            environments. This metric reflects the context by which
            vulnerability exploitation is possible.
          enum:
            - ATTACK_VECTOR_UNSPECIFIED
            - ATTACK_VECTOR_NETWORK
            - ATTACK_VECTOR_ADJACENT
            - ATTACK_VECTOR_LOCAL
            - ATTACK_VECTOR_PHYSICAL
        confidentialityImpact:
          enum:
            - IMPACT_UNSPECIFIED
            - IMPACT_HIGH
            - IMPACT_LOW
            - IMPACT_NONE
          enumDescriptions:
            - Invalid value.
            - High impact.
            - Low impact.
            - No impact.
          description: >-
            This metric measures the impact to the confidentiality of the
            information resources managed by a software component due to a
            successfully exploited vulnerability.
          type: string
        userInteraction:
          description: >-
            This metric captures the requirement for a human user, other than
            the attacker, to participate in the successful compromise of the
            vulnerable component.
          enumDescriptions:
            - Invalid value.
            - >-
              The vulnerable system can be exploited without interaction from
              any user.
            - >-
              Successful exploitation of this vulnerability requires a user to
              take some action before the vulnerability can be exploited.
          type: string
          enum:
            - USER_INTERACTION_UNSPECIFIED
            - USER_INTERACTION_NONE
            - USER_INTERACTION_REQUIRED
        scope:
          type: string
          enumDescriptions:
            - Invalid value.
            - >-
              An exploited vulnerability can only affect resources managed by
              the same security authority.
            - >-
              An exploited vulnerability can affect resources beyond the
              security scope managed by the security authority of the vulnerable
              component.
          enum:
            - SCOPE_UNSPECIFIED
            - SCOPE_UNCHANGED
            - SCOPE_CHANGED
          description: >-
            The Scope metric captures whether a vulnerability in one vulnerable
            component impacts resources in components beyond its security scope.
      description: Common Vulnerability Scoring System version 3.
    Reference:
      id: Reference
      properties:
        source:
          description: Source of the reference e.g. NVD
          type: string
        uri:
          type: string
          description: >-
            Uri for the mentioned source e.g.
            https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527.
      type: object
      description: Additional Links
    GoogleCloudSecuritycenterV1p1beta1SecurityMarks:
      type: object
      properties:
        marks:
          type: object
          description: >-
            Mutable user specified security marks belonging to the parent
            resource. Constraints are as follows: * Keys and values are treated
            as case insensitive * Keys must be between 1 - 256 characters
            (inclusive) * Keys must be letters, numbers, underscores, or dashes
            * Values have leading and trailing whitespace trimmed, remaining
            characters must be between 1 - 4096 characters (inclusive)
          additionalProperties:
            type: string
        name:
          description: >-
            The relative resource name of the SecurityMarks. See:
            https://cloud.google.com/apis/design/resource_names#relative_resource_name
            Examples:
            "organizations/{organization_id}/assets/{asset_id}/securityMarks"
            "organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks".
          type: string
        canonicalName:
          type: string
          description: >-
            The canonical name of the marks. Examples:
            "organizations/{organization_id}/assets/{asset_id}/securityMarks"
            "folders/{folder_id}/assets/{asset_id}/securityMarks"
            "projects/{project_number}/assets/{asset_id}/securityMarks"
            "organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks"
            "folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks"
            "projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks"
      description: >-
        User specified security marks that are attached to the parent Security
        Command Center resource. Security marks are scoped within a Security
        Command Center organization -- they can be modified and viewed by all
        users who have proper permissions on the organization.
      id: GoogleCloudSecuritycenterV1p1beta1SecurityMarks
    GoogleCloudSecuritycenterV1p1beta1Folder:
      description: >-
        Message that contains the resource name and display name of a folder
        resource.
      type: object
      id: GoogleCloudSecuritycenterV1p1beta1Folder
      properties:
        resourceFolderDisplayName:
          description: The user defined display name for this folder.
          type: string
        resourceFolder:
          description: >-
            Full resource name of this folder. See:
            https://cloud.google.com/apis/design/resource_names#full_resource_name
          type: string
    CloudDlpInspection:
      type: object
      id: CloudDlpInspection
      properties:
        infoTypeCount:
          type: string
          description: >-
            The number of times Cloud DLP found this infoType within this job
            and resource.
          format: int64
        fullScan:
          type: boolean
          description: Whether Cloud DLP scanned the complete resource or a sampled subset.
        inspectJob:
          description: >-
            Name of the inspection job, for example,
            `projects/123/locations/europe/dlpJobs/i-8383929`.
          type: string
        infoType:
          description: >-
            The type of information (or
            *[infoType](https://cloud.google.com/dlp/docs/infotypes-reference)*)
            found, for example, `EMAIL_ADDRESS` or `STREET_ADDRESS`.
          type: string
      description: >-
        Details about the Cloud Data Loss Prevention (Cloud DLP) [inspection
        job](https://cloud.google.com/dlp/docs/concepts-job-triggers) that
        produced the finding.
    Cve:
      description: >-
        CVE stands for Common Vulnerabilities and Exposures. More information:
        https://cve.mitre.org
      properties:
        upstreamFixAvailable:
          type: boolean
          description: Whether upstream fix is available for the CVE.
        references:
          type: array
          description: >-
            Additional information about the CVE. e.g.
            https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527
          items:
            $ref: '#/components/schemas/Reference'
        cvssv3:
          description: >-
            Describe Common Vulnerability Scoring System specified at
            https://www.first.org/cvss/v3.1/specification-document
          $ref: '#/components/schemas/Cvssv3'
        id:
          type: string
          description: The unique identifier for the vulnerability. e.g. CVE-2021-34527
      type: object
      id: Cve
    Contact:
      type: object
      id: Contact
      properties:
        email:
          type: string
          description: An email address. For example, "`person123@company.com`".
      description: The email address of a contact.
    Kubernetes:
      id: Kubernetes
      description: Kubernetes-related attributes.
      properties:
        accessReviews:
          items:
            $ref: '#/components/schemas/AccessReview'
          description: >-
            Provides information on any Kubernetes access reviews (privilege
            checks) relevant to the finding.
          type: array
        bindings:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudSecuritycenterV1Binding'
          description: >-
            Provides Kubernetes role binding information for findings that
            involve [RoleBindings or
            ClusterRoleBindings](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).
        nodes:
          description: >-
            Provides Kubernetes
            [node](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture#nodes)
            information.
          items:
            $ref: '#/components/schemas/Node'
          type: array
        nodePools:
          description: >-
            GKE [node
            pools](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pools)
            associated with the finding. This field contains node pool
            information for each node, when it is available.
          type: array
          items:
            $ref: '#/components/schemas/NodePool'
        pods:
          items:
            $ref: '#/components/schemas/Pod'
          type: array
          description: >-
            Kubernetes
            [Pods](https://cloud.google.com/kubernetes-engine/docs/concepts/pod)
            associated with the finding. This field contains Pod records for
            each container that is owned by a Pod.
        roles:
          items:
            $ref: '#/components/schemas/Role'
          description: >-
            Provides Kubernetes role information for findings that involve
            [Roles or
            ClusterRoles](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).
          type: array
      type: object
    Process:
      description: Represents an operating system process.
      id: Process
      type: object
      properties:
        args:
          description: Process arguments as JSON encoded strings.
          items:
            type: string
          type: array
        libraries:
          type: array
          items:
            $ref: '#/components/schemas/File'
          description: File information for libraries loaded by the process.
        script:
          $ref: '#/components/schemas/File'
          description: >-
            When the process represents the invocation of a script, `binary`
            provides information about the interpreter, while `script` provides
            information about the script file provided to the interpreter.
        pid:
          description: The process ID.
          type: string
          format: int64
        parentPid:
          type: string
          format: int64
          description: The parent process ID.
        envVariables:
          description: Process environment variables.
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentVariable'
        binary:
          description: File information for the process executable.
          $ref: '#/components/schemas/File'
        argumentsTruncated:
          type: boolean
          description: True if `args` is incomplete.
        envVariablesTruncated:
          type: boolean
          description: True if `env_variables` is incomplete.
        name:
          type: string
          description: >-
            The process name, as displayed in utilities like `top` and `ps`.
            This name can be accessed through `/proc/[pid]/comm` and changed
            with `prctl(PR_SET_NAME)`.
    GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse:
      description: Response of asset discovery run
      id: GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse
      type: object
      properties:
        state:
          description: The state of an asset discovery run.
          enumDescriptions:
            - Asset discovery run state was unspecified.
            - Asset discovery run completed successfully.
            - >-
              Asset discovery run was cancelled with tasks still pending, as
              another run for the same organization was started with a higher
              priority.
            - Asset discovery run was killed and terminated.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - COMPLETED
            - SUPERSEDED
            - TERMINATED
        duration:
          description: The duration between asset discovery run start and end
          format: google-duration
          type: string
    SecurityHealthAnalyticsSettings:
      properties:
        name:
          description: >-
            The resource name of the SecurityHealthAnalyticsSettings. Formats: *
            organizations/{organization}/securityHealthAnalyticsSettings *
            folders/{folder}/securityHealthAnalyticsSettings *
            projects/{project}/securityHealthAnalyticsSettings
          type: string
        updateTime:
          readOnly: true
          type: string
          description: Output only. The time the settings were last updated.
          format: google-datetime
        serviceEnablementState:
          type: string
          enum:
            - ENABLEMENT_STATE_UNSPECIFIED
            - INHERITED
            - ENABLED
            - DISABLED
          enumDescriptions:
            - Default value. This value is unused.
            - State is inherited from the parent resource.
            - State is enabled.
            - State is disabled.
          description: >-
            The state of enablement for the service at its level of the resource
            hierarchy. A DISABLED state will override all module
            enablement_states to DISABLED.
        modules:
          description: >-
            The configurations including the state of enablement for the
            service's different modules. The absence of a module in the map
            implies its configuration is inherited from its parent's.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Config'
        serviceAccount:
          type: string
          readOnly: true
          description: >-
            Output only. The service account used by Security Health Analytics
            detectors.
      id: SecurityHealthAnalyticsSettings
      description: >-
        Resource capturing the settings for the Security Health Analytics
        service.
      type: object
    GoogleCloudSecuritycenterV1CustomConfig:
      properties:
        predicate:
          $ref: '#/components/schemas/Expr'
          description: >-
            The CEL expression to evaluate to produce findings. When the
            expression evaluates to true against a resource, a finding is
            generated.
        resourceSelector:
          description: >-
            The resource types that the custom module operates on. Each custom
            module can specify up to 5 resource types.
          $ref: '#/components/schemas/GoogleCloudSecuritycenterV1ResourceSelector'
        recommendation:
          type: string
          description: >-
            An explanation of the recommended steps that security teams can take
            to resolve the detected issue. This explanation is returned with
            each finding generated by this module in the `nextSteps` property of
            the finding JSON.
        description:
          description: >-
            Text that describes the vulnerability or misconfiguration that the
            custom module detects. This explanation is returned with each
            finding instance to help investigators understand the detected
            issue. The text must be enclosed in quotation marks.
          type: string
        customOutput:
          $ref: '#/components/schemas/GoogleCloudSecuritycenterV1CustomOutputSpec'
          description: Custom output properties.
        severity:
          enumDescriptions:
            - Unspecified severity.
            - Critical severity.
            - High severity.
            - Medium severity.
            - Low severity.
          enum:
            - SEVERITY_UNSPECIFIED
            - CRITICAL
            - HIGH
            - MEDIUM
            - LOW
          type: string
          description: The severity to assign to findings generated by the module.
      description: >-
        Defines the properties in a custom module configuration for Security
        Health Analytics. Use the custom module configuration to create custom
        detectors that generate custom findings for resources that you specify.
      type: object
      id: GoogleCloudSecuritycenterV1CustomConfig
    Config:
      description: Configuration of a module.
      id: Config
      type: object
      properties:
        value:
          type: object
          description: >-
            The configuration value for the module. The absence of this field
            implies its inheritance from the parent.
          additionalProperties:
            type: any
            description: Properties of the object.
        moduleEnablementState:
          type: string
          enum:
            - ENABLEMENT_STATE_UNSPECIFIED
            - INHERITED
            - ENABLED
            - DISABLED
          enumDescriptions:
[...]
