openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Search Console API
  description: >-
    The Search Console API provides access to both Search Console data (verified
    users only) and to public information on an URL basis (anyone)
  version: v1
  x-discovery-doc-revision: '20230622'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/webmaster-tools/search-console-api/
servers:
  - url: https://searchconsole.googleapis.com
components:
  schemas:
    MobileUsabilityIssue:
      description: Mobile-usability issue.
      type: object
      id: MobileUsabilityIssue
      properties:
        issueType:
          description: Mobile-usability issue type.
          enum:
            - MOBILE_USABILITY_ISSUE_TYPE_UNSPECIFIED
            - USES_INCOMPATIBLE_PLUGINS
            - CONFIGURE_VIEWPORT
            - FIXED_WIDTH_VIEWPORT
            - SIZE_CONTENT_TO_VIEWPORT
            - USE_LEGIBLE_FONT_SIZES
            - TAP_TARGETS_TOO_CLOSE
          type: string
          enumDescriptions:
            - >-
              Unknown issue. Sorry, we don't have any description for the rule
              that was broken.
            - >-
              Plugins incompatible with mobile devices are being used. [Learn
              more]
              (https://support.google.com/webmasters/answer/6352293#flash_usage#error-list).
            - >-
              Viewport is not specified using the meta viewport tag. [Learn
              more]
              (https://support.google.com/webmasters/answer/6352293#viewport_not_configured#error-list).
            - >-
              Viewport defined to a fixed width. [Learn more]
              (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport#error-list).
            - >-
              Content not sized to viewport. [Learn more]
              (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport#error-list).
            - >-
              Font size is too small for easy reading on a small screen. [Learn
              More]
              (https://support.google.com/webmasters/answer/6352293#small_font_size#error-list).
            - >-
              Touch elements are too close to each other. [Learn more]
              (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close#error-list).
        severity:
          description: Not returned; reserved for future use.
          enumDescriptions:
            - Unknown severity.
            - Warning.
            - Error.
          enum:
            - SEVERITY_UNSPECIFIED
            - WARNING
            - ERROR
          type: string
        message:
          type: string
          description: Additional information regarding the issue.
    RunMobileFriendlyTestRequest:
      id: RunMobileFriendlyTestRequest
      properties:
        requestScreenshot:
          description: Whether or not screenshot is requested. Default is false.
          type: boolean
        url:
          description: URL for inspection.
          type: string
      type: object
      description: Mobile-friendly test request.
    SearchAnalyticsQueryResponse:
      description: >-
        A list of rows, one per result, grouped by key. Metrics in each row are
        aggregated for all data grouped by that key either by page or property,
        as specified by the aggregation type parameter.
      type: object
      id: SearchAnalyticsQueryResponse
      properties:
        rows:
          items:
            $ref: '#/components/schemas/ApiDataRow'
          type: array
          description: >-
            A list of rows grouped by the key values in the order given in the
            query.
        responseAggregationType:
          type: string
          description: How the results were aggregated.
          enum:
            - AUTO
            - BY_PROPERTY
            - BY_PAGE
          enumDescriptions:
            - ''
            - ''
            - ''
    MobileUsabilityInspectionResult:
      id: MobileUsabilityInspectionResult
      properties:
        verdict:
          description: High-level mobile-usability inspection result for this URL.
          enumDescriptions:
            - Unknown verdict.
            - Equivalent to "Valid" for the page or item in Search Console.
            - Reserved, no longer in use.
            - >-
              Equivalent to "Error" or "Invalid" for the page or item in Search
              Console.
            - Equivalent to "Excluded" for the page or item in Search Console.
          enum:
            - VERDICT_UNSPECIFIED
            - PASS
            - PARTIAL
            - FAIL
            - NEUTRAL
          type: string
        issues:
          type: array
          items:
            $ref: '#/components/schemas/MobileUsabilityIssue'
          description: >-
            A list of zero or more mobile-usability issues detected for this
            URL.
      type: object
      description: Mobile-usability inspection results.
    SitemapsListResponse:
      description: List of sitemaps.
      type: object
      properties:
        sitemap:
          type: array
          description: >-
            Contains detailed information about a specific URL submitted as a
            [sitemap](https://support.google.com/webmasters/answer/156184).
          items:
            $ref: '#/components/schemas/WmxSitemap'
      id: SitemapsListResponse
    RunMobileFriendlyTestResponse:
      description: >-
        Mobile-friendly test response, including mobile-friendly issues and
        resource issues.
      type: object
      id: RunMobileFriendlyTestResponse
      properties:
        testStatus:
          description: Final state of the test, can be either complete or an error.
          $ref: '#/components/schemas/TestStatus'
        screenshot:
          description: Screenshot of the requested URL.
          $ref: '#/components/schemas/Image'
        resourceIssues:
          items:
            $ref: '#/components/schemas/ResourceIssue'
          type: array
          description: Information about embedded resources issues.
        mobileFriendlyIssues:
          type: array
          items:
            $ref: '#/components/schemas/MobileFriendlyIssue'
          description: List of mobile-usability issues.
        mobileFriendliness:
          enumDescriptions:
            - >-
              Internal error when running this test. Please try running the test
              again.
            - The page is mobile friendly.
            - The page is not mobile friendly.
          description: Test verdict, whether the page is mobile friendly or not.
          enum:
            - MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED
            - MOBILE_FRIENDLY
            - NOT_MOBILE_FRIENDLY
          type: string
    IndexStatusInspectionResult:
      type: object
      description: >-
        Results of index status inspection for either the live page or the
        version in Google's index, depending on whether you requested a live
        inspection or not. For more information, see the [Index coverage report
        documentation](https://support.google.com/webmasters/answer/7440203).
      id: IndexStatusInspectionResult
      properties:
        referringUrls:
          type: array
          items:
            type: string
          description: URLs that link to the inspected URL, directly and indirectly.
        indexingState:
          type: string
          enumDescriptions:
            - Unknown indexing status.
            - Indexing allowed.
            - Indexing not allowed, 'noindex' detected in 'robots' meta tag.
            - >-
              Indexing not allowed, 'noindex' detected in 'X-Robots-Tag' http
              header.
            - Reserved, no longer in use.
          enum:
            - INDEXING_STATE_UNSPECIFIED
            - INDEXING_ALLOWED
            - BLOCKED_BY_META_TAG
            - BLOCKED_BY_HTTP_HEADER
            - BLOCKED_BY_ROBOTS_TXT
          description: Whether or not the page blocks indexing through a noindex rule.
        lastCrawlTime:
          description: >-
            Last time this URL was crawled by Google using the [primary
            crawler](https://support.google.com/webmasters/answer/7440203#primary_crawler).
            Absent if the URL was never crawled successfully.
          format: google-datetime
          type: string
        verdict:
          enumDescriptions:
            - Unknown verdict.
            - Equivalent to "Valid" for the page or item in Search Console.
            - Reserved, no longer in use.
            - >-
              Equivalent to "Error" or "Invalid" for the page or item in Search
              Console.
            - Equivalent to "Excluded" for the page or item in Search Console.
          description: >-
            High level verdict about whether the URL *is* indexed (indexed
            status), or *can be* indexed (live inspection).
          enum:
            - VERDICT_UNSPECIFIED
            - PASS
            - PARTIAL
            - FAIL
            - NEUTRAL
          type: string
        googleCanonical:
          description: >-
            The URL of the page that Google selected as canonical. If the page
            was not indexed, this field is absent.
          type: string
        coverageState:
          description: >-
            Could Google find and index the page. More details about page
            indexing appear in 'indexing_state'.
          type: string
        userCanonical:
          description: >-
            The URL that your page or site [declares as
            canonical](https://developers.google.com/search/docs/advanced/crawling/consolidate-duplicate-urls?#define-canonical).
            If you did not declare a canonical URL, this field is absent.
          type: string
        crawledAs:
          enum:
            - CRAWLING_USER_AGENT_UNSPECIFIED
            - DESKTOP
            - MOBILE
          description: Primary crawler that was used by Google to crawl your site.
          type: string
          enumDescriptions:
            - Unknown user agent.
            - Desktop user agent.
            - Mobile user agent.
        robotsTxtState:
          type: string
          description: Whether or not the page is blocked to Google by a robots.txt rule.
          enum:
            - ROBOTS_TXT_STATE_UNSPECIFIED
            - ALLOWED
            - DISALLOWED
          enumDescriptions:
            - >-
              Unknown robots.txt state, typically because the page wasn't
              fetched or found, or because robots.txt itself couldn't be
              reached.
            - Crawl allowed by robots.txt.
            - Crawl blocked by robots.txt.
        sitemap:
          items:
            type: string
          type: array
          description: >-
            Any sitemaps that this URL was listed in, as known by Google. Not
            guaranteed to be an exhaustive list, especially if Google did not
            discover this URL through a sitemap. Absent if no sitemaps were
            found.
        pageFetchState:
          enum:
            - PAGE_FETCH_STATE_UNSPECIFIED
            - SUCCESSFUL
            - SOFT_404
            - BLOCKED_ROBOTS_TXT
            - NOT_FOUND
            - ACCESS_DENIED
            - SERVER_ERROR
            - REDIRECT_ERROR
            - ACCESS_FORBIDDEN
            - BLOCKED_4XX
            - INTERNAL_CRAWL_ERROR
            - INVALID_URL
          description: >-
            Whether or not Google could retrieve the page from your server.
            Equivalent to ["page
            fetch"](https://support.google.com/webmasters/answer/9012289#index_coverage)
            in the URL inspection report.
          type: string
          enumDescriptions:
            - Unknown fetch state.
            - Successful fetch.
            - Soft 404.
            - Blocked by robots.txt.
            - Not found (404).
            - Blocked due to unauthorized request (401).
            - Server error (5xx).
            - Redirection error.
            - Blocked due to access forbidden (403).
            - Blocked due to other 4xx issue (not 403, 404).
            - Internal error.
            - Invalid URL.
    ApiDimensionFilterGroup:
      description: >-
        A set of dimension value filters to test against each row. Only rows
        that pass all filter groups will be returned. All results within a
        filter group are either AND'ed or OR'ed together, depending on the group
        type selected. All filter groups are AND'ed together.
      type: object
      properties:
        groupType:
          enumDescriptions:
            - ''
          type: string
          enum:
            - AND
        filters:
          type: array
          items:
            $ref: '#/components/schemas/ApiDimensionFilter'
      id: ApiDimensionFilterGroup
    UrlInspectionResult:
      description: URL inspection result, including all inspection results.
      properties:
        indexStatusResult:
          $ref: '#/components/schemas/IndexStatusInspectionResult'
          description: Result of the index status analysis.
        ampResult:
          description: Result of the AMP analysis. Absent if the page is not an AMP page.
          $ref: '#/components/schemas/AmpInspectionResult'
        richResultsResult:
          $ref: '#/components/schemas/RichResultsInspectionResult'
          description: >-
            Result of the Rich Results analysis. Absent if there are no rich
            results found.
        inspectionResultLink:
          type: string
          description: Link to Search Console URL inspection.
        mobileUsabilityResult:
          description: Result of the Mobile usability analysis.
          $ref: '#/components/schemas/MobileUsabilityInspectionResult'
      id: UrlInspectionResult
      type: object
    RichResultsInspectionResult:
      id: RichResultsInspectionResult
      type: object
      description: >-
        Rich-Results inspection result, including any rich results found at this
        URL.
      properties:
        detectedItems:
          type: array
          items:
            $ref: '#/components/schemas/DetectedItems'
          description: >-
            A list of zero or more rich results detected on this page. Rich
            results that cannot even be parsed due to syntactic issues will not
            be listed here.
        verdict:
          type: string
          enumDescriptions:
            - Unknown verdict.
            - Equivalent to "Valid" for the page or item in Search Console.
            - Reserved, no longer in use.
            - >-
              Equivalent to "Error" or "Invalid" for the page or item in Search
              Console.
            - Equivalent to "Excluded" for the page or item in Search Console.
          description: High-level rich results inspection result for this URL.
          enum:
            - VERDICT_UNSPECIFIED
            - PASS
            - PARTIAL
            - FAIL
            - NEUTRAL
    WmxSitemap:
      properties:
        type:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - Unsupported sitemap types.
            - ''
          enum:
            - NOT_SITEMAP
            - URL_LIST
            - SITEMAP
            - RSS_FEED
            - ATOM_FEED
            - PATTERN_SITEMAP
            - OCEANFRONT
          description: 'The type of the sitemap. For example: `rssFeed`.'
          type: string
        lastDownloaded:
          description: >-
            Date & time in which this sitemap was last downloaded. Date format
            is in RFC 3339 format (yyyy-mm-dd).
          type: string
          format: google-datetime
        contents:
          description: The various content types in the sitemap.
          items:
            $ref: '#/components/schemas/WmxSitemapContent'
          type: array
        lastSubmitted:
          type: string
          format: google-datetime
          description: >-
            Date & time in which this sitemap was submitted. Date format is in
            RFC 3339 format (yyyy-mm-dd).
        path:
          type: string
          description: The url of the sitemap.
        isSitemapsIndex:
          description: If true, the sitemap is a collection of sitemaps.
          type: boolean
        warnings:
          format: int64
          description: >-
            Number of warnings for the sitemap. These are generally non-critical
            issues with URLs in the sitemaps.
          type: string
        errors:
          format: int64
          description: >-
            Number of errors in the sitemap. These are issues with the sitemap
            itself that need to be fixed before it can be processed correctly.
          type: string
        isPending:
          description: If true, the sitemap has not been processed.
          type: boolean
      type: object
      description: >-
        Contains detailed information about a specific URL submitted as a
        [sitemap](https://support.google.com/webmasters/answer/156184).
      id: WmxSitemap
    WmxSite:
      properties:
        siteUrl:
          type: string
          description: The URL of the site.
        permissionLevel:
          type: string
          enumDescriptions:
            - ''
            - Owner has complete access to the site.
            - >-
              Full users can access all data, and perform most of the
              operations.
            - >-
              Restricted users can access most of the data, and perform some
              operations.
            - Unverified user has no access to site's data.
          description: The user's permission level for the site.
          enum:
            - SITE_PERMISSION_LEVEL_UNSPECIFIED
            - SITE_OWNER
            - SITE_FULL_USER
            - SITE_RESTRICTED_USER
            - SITE_UNVERIFIED_USER
      type: object
      description: >-
        Contains permission level information about a Search Console site. For
        more information, see [Permissions in Search
        Console](https://support.google.com/webmasters/answer/2451999).
      id: WmxSite
    AmpIssue:
      id: AmpIssue
      type: object
      properties:
        severity:
          type: string
          description: 'Severity of this issue: WARNING or ERROR.'
          enumDescriptions:
            - Unknown severity.
            - Warning.
            - Error.
          enum:
            - SEVERITY_UNSPECIFIED
            - WARNING
            - ERROR
        issueMessage:
          description: Brief description of this issue.
          type: string
      description: AMP issue.
    ApiDimensionFilter:
      description: >-
        A filter test to be applied to each row in the data set, where a match
        can return the row. Filters are string comparisons, and values and
        dimension names are not case-sensitive. Individual filters are either
        AND'ed or OR'ed within their parent filter group, according to the
        group's group type. You do not need to group by a specified dimension to
        filter against it.
      type: object
      id: ApiDimensionFilter
      properties:
        dimension:
          enum:
            - QUERY
            - PAGE
            - COUNTRY
            - DEVICE
            - SEARCH_APPEARANCE
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
          type: string
        expression:
          type: string
        operator:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          type: string
          enum:
            - EQUALS
            - NOT_EQUALS
            - CONTAINS
            - NOT_CONTAINS
            - INCLUDING_REGEX
            - EXCLUDING_REGEX
    ResourceIssue:
      description: Information about a resource with issue.
      id: ResourceIssue
      properties:
        blockedResource:
          $ref: '#/components/schemas/BlockedResource'
          description: Describes a blocked resource issue.
      type: object
    AmpInspectionResult:
      type: object
      properties:
        ampUrl:
          type: string
          description: >-
            URL of the AMP that was inspected. If the submitted URL is a desktop
            page that refers to an AMP version, the AMP version will be
            inspected.
        indexingState:
          enumDescriptions:
            - Unknown indexing status.
            - Indexing allowed.
            - Indexing not allowed, 'noindex' detected.
            - Indexing not allowed, 'unavailable_after' date expired.
          enum:
            - AMP_INDEXING_STATE_UNSPECIFIED
            - AMP_INDEXING_ALLOWED
            - BLOCKED_DUE_TO_NOINDEX
            - BLOCKED_DUE_TO_EXPIRED_UNAVAILABLE_AFTER
          description: Whether or not the page blocks indexing through a noindex rule.
          type: string
        ampIndexStatusVerdict:
          enum:
            - VERDICT_UNSPECIFIED
            - PASS
            - PARTIAL
            - FAIL
            - NEUTRAL
          description: Index status of the AMP URL.
          type: string
          enumDescriptions:
            - Unknown verdict.
            - Equivalent to "Valid" for the page or item in Search Console.
            - Reserved, no longer in use.
            - >-
              Equivalent to "Error" or "Invalid" for the page or item in Search
              Console.
            - Equivalent to "Excluded" for the page or item in Search Console.
        verdict:
          enumDescriptions:
            - Unknown verdict.
            - Equivalent to "Valid" for the page or item in Search Console.
            - Reserved, no longer in use.
            - >-
              Equivalent to "Error" or "Invalid" for the page or item in Search
              Console.
            - Equivalent to "Excluded" for the page or item in Search Console.
          description: >-
            The status of the most severe error on the page. If a page has both
            warnings and errors, the page status is error. Error status means
            the page cannot be shown in Search results.
          type: string
          enum:
            - VERDICT_UNSPECIFIED
            - PASS
            - PARTIAL
            - FAIL
            - NEUTRAL
        pageFetchState:
          description: Whether or not Google could fetch the AMP.
          enumDescriptions:
            - Unknown fetch state.
            - Successful fetch.
            - Soft 404.
            - Blocked by robots.txt.
            - Not found (404).
            - Blocked due to unauthorized request (401).
            - Server error (5xx).
            - Redirection error.
            - Blocked due to access forbidden (403).
            - Blocked due to other 4xx issue (not 403, 404).
            - Internal error.
            - Invalid URL.
          type: string
          enum:
            - PAGE_FETCH_STATE_UNSPECIFIED
            - SUCCESSFUL
            - SOFT_404
            - BLOCKED_ROBOTS_TXT
            - NOT_FOUND
            - ACCESS_DENIED
            - SERVER_ERROR
            - REDIRECT_ERROR
            - ACCESS_FORBIDDEN
            - BLOCKED_4XX
            - INTERNAL_CRAWL_ERROR
            - INVALID_URL
        issues:
          type: array
          items:
            $ref: '#/components/schemas/AmpIssue'
          description: A list of zero or more AMP issues found for the inspected URL.
        lastCrawlTime:
          description: >-
            Last time this AMP version was crawled by Google. Absent if the URL
            was never crawled successfully.
          format: google-datetime
          type: string
        robotsTxtState:
          enumDescriptions:
            - >-
              Unknown robots.txt state, typically because the page wasn't
              fetched or found, or because robots.txt itself couldn't be
              reached.
            - Crawl allowed by robots.txt.
            - Crawl blocked by robots.txt.
          enum:
            - ROBOTS_TXT_STATE_UNSPECIFIED
            - ALLOWED
            - DISALLOWED
          description: Whether or not the page is blocked to Google by a robots.txt rule.
          type: string
      description: >-
        AMP inspection result of the live page or the current information from
        Google's index, depending on whether you requested a live inspection or
        not.
      id: AmpInspectionResult
    InspectUrlIndexRequest:
      id: InspectUrlIndexRequest
      description: Index inspection request.
      type: object
      properties:
        languageCode:
          type: string
          description: >-
            Optional. An [IETF
            BCP-47](https://en.wikipedia.org/wiki/IETF_language_tag) language
            code representing the requested language for translated issue
            messages, e.g. "en-US", "or "de-CH". Default value is "en-US".
        inspectionUrl:
          type: string
          description: >-
            Required. URL to inspect. Must be under the property specified in
            "site_url".
        siteUrl:
          description: >-
            Required. The URL of the property as defined in Search Console.
            **Examples:** `http://www.example.com/` for a URL-prefix property,
            or `sc-domain:example.com` for a Domain property.
          type: string
    WmxSitemapContent:
      properties:
        indexed:
          format: int64
          type: string
          description: '*Deprecated; do not use.*'
        submitted:
          type: string
          format: int64
          description: The number of URLs in the sitemap (of the content type).
        type:
          enum:
            - WEB
            - IMAGE
            - VIDEO
            - NEWS
            - MOBILE
            - ANDROID_APP
            - PATTERN
            - IOS_APP
            - DATA_FEED_ELEMENT
          type: string
          description: 'The specific type of content in this sitemap. For example: `web`.'
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - Unsupported content type.
            - ''
            - Unsupported content type.
      description: Information about the various content types in the sitemap.
      type: object
      id: WmxSitemapContent
    Image:
      type: object
      id: Image
      description: Describe image data.
      properties:
        mimeType:
          type: string
          description: The mime-type of the image data.
        data:
          description: >-
            Image data in format determined by the mime type. Currently, the
            format will always be "image/png", but this might change in the
            future.
          format: byte
          type: string
    Item:
      id: Item
      type: object
      description: A specific rich result found on the page.
      properties:
        name:
          description: The user-provided name of this item.
          type: string
        issues:
          items:
            $ref: '#/components/schemas/RichResultsIssue'
          description: A list of zero or more rich result issues found for this instance.
          type: array
    RichResultsIssue:
      description: >-
        Severity and status of a single issue affecting a single rich result
        instance on a page.
      properties:
        severity:
          enumDescriptions:
            - Unknown severity.
            - Warning.
            - Error.
          type: string
          description: >-
            Severity of this issue: WARNING, or ERROR. Items with an issue of
            status ERROR cannot appear with rich result features in Google
            Search results.
          enum:
            - SEVERITY_UNSPECIFIED
            - WARNING
            - ERROR
        issueMessage:
          type: string
          description: Rich Results issue type.
      type: object
      id: RichResultsIssue
    BlockedResource:
      type: object
      id: BlockedResource
      description: Blocked resource.
      properties:
        url:
          description: URL of the blocked resource.
          type: string
    SitesListResponse:
      type: object
      properties:
        siteEntry:
          items:
            $ref: '#/components/schemas/WmxSite'
          description: >-
            Contains permission level information about a Search Console site.
            For more information, see [Permissions in Search
            Console](https://support.google.com/webmasters/answer/2451999).
          type: array
      id: SitesListResponse
      description: List of sites with access level information.
    TestStatus:
      type: object
      id: TestStatus
      description: Final state of the test, including error details if necessary.
      properties:
        status:
          enumDescriptions:
            - >-
              Internal error when running this test. Please try running the test
              again.
            - Inspection has completed without errors.
            - >-
              Inspection terminated in an error state. This indicates a problem
              in Google's infrastructure, not a user error. Please try again
              later.
            - >-
              Google can not access the URL because of a user error such as a
              robots.txt blockage, a 403 or 500 code etc. Please make sure that
              the URL provided is accessible by Googlebot and is not password
              protected.
          description: Status of the test.
          type: string
          enum:
            - TEST_STATUS_UNSPECIFIED
            - COMPLETE
            - INTERNAL_ERROR
            - PAGE_UNREACHABLE
        details:
          type: string
          description: Error details if applicable.
    InspectUrlIndexResponse:
      properties:
        inspectionResult:
          $ref: '#/components/schemas/UrlInspectionResult'
          description: URL inspection results.
      type: object
      id: InspectUrlIndexResponse
      description: Index-Status inspection response.
    ApiDataRow:
      id: ApiDataRow
      type: object
      properties:
        clicks:
          type: number
          format: double
        impressions:
          format: double
          type: number
        keys:
          items:
            type: string
          type: array
        ctr:
          type: number
          format: double
        position:
          format: double
          type: number
    SearchAnalyticsQueryRequest:
      type: object
      properties:
        dimensions:
          type: array
          description: >-
            [Optional] Zero or more dimensions to group results by. Dimensions
            are the group-by values in the Search Analytics page. Dimensions are
            combined to create a unique row key for each row. Results are
            grouped in the order that you supply these dimensions.
          items:
            enumDescriptions:
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
            type: string
            enum:
              - DATE
              - QUERY
              - PAGE
              - COUNTRY
              - DEVICE
              - SEARCH_APPEARANCE
        startDate:
          type: string
          description: ' [Required] Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC - 8:00). Must be less than or equal to the end date. This value is included in the range.'
        type:
          type: string
          description: >-
            Optional. [Optional; Default is \"web\"] Type of report: search
            type, or either Discover or Gnews.
          enum:
            - WEB
            - IMAGE
            - VIDEO
            - NEWS
            - DISCOVER
            - GOOGLE_NEWS
          enumDescriptions:
            - ''
            - ''
            - ''
            - News tab in search.
            - Discover.
            - Google News (news.google.com or mobile app).
        dimensionFilterGroups:
          type: array
          items:
            $ref: '#/components/schemas/ApiDimensionFilterGroup'
          description: >-
            [Optional] Zero or more filters to apply to the dimension grouping
            values; for example, 'query contains \"buy\"' to see only data where
            the query string contains the substring \"buy\" (not
            case-sensitive). You can filter by a dimension without grouping by
            it.
        dataState:
          enumDescriptions:
            - Default value, should not be used.
            - Include full final data only, without partial.
            - Include all data, full and partial.
          description: >-
            The data state to be fetched, can be full or all, the latter
            including full and partial data.
          enum:
            - DATA_STATE_UNSPECIFIED
            - FINAL
            - ALL
          type: string
        endDate:
          type: string
          description: >-
            [Required] End date of the requested date range, in YYYY-MM-DD
            format, in PST (UTC - 8:00). Must be greater than or equal to the
            start date. This value is included in the range.
        startRow:
          description: >-
            [Optional; Default is 0] Zero-based index of the first row in the
            response. Must be a non-negative number.
          type: integer
          format: int32
        rowLimit:
          description: >-
            [Optional; Default is 1000] The maximum number of rows to return.
            Must be a number from 1 to 25,000 (inclusive).
          type: integer
          format: int32
        aggregationType:
          enum:
            - AUTO
            - BY_PROPERTY
            - BY_PAGE
          enumDescriptions:
            - ''
            - ''
            - ''
          description: >-
            [Optional; Default is \"auto\"] How data is aggregated. If
            aggregated by property, all data for the same property is
            aggregated; if aggregated by page, all data is aggregated by
            canonical URI. If you filter or group by page, choose AUTO;
            otherwise you can aggregate either by property or by page, depending
            on how you want your data calculated; see the help documentation to
            learn how data is calculated differently by site versus by page.
            **Note:** If you group or filter by page, you cannot aggregate by
            property. If you specify any value other than AUTO, the aggregation
            type in the result will match the requested type, or if you request
            an invalid type, you will get an error. The API will never change
            your aggregation type if the requested type is invalid.
          type: string
        searchType:
          type: string
          enum:
            - WEB
            - IMAGE
            - VIDEO
            - NEWS
            - DISCOVER
            - GOOGLE_NEWS
          description: '[Optional; Default is \"web\"] The search type to filter for.'
          enumDescriptions:
            - ''
            - ''
            - ''
            - News tab in search.
            - Discover.
            - Google News (news.google.com or mobile app).
      id: SearchAnalyticsQueryRequest
    DetectedItems:
      description: Rich Results items grouped by type.
      id: DetectedItems
      properties:
        richResultType:
          description: Rich Results type
          type: string
        items:
          description: List of Rich Results items.
          type: array
          items:
            $ref: '#/components/schemas/Item'
      type: object
    MobileFriendlyIssue:
      properties:
        rule:
          type: string
          enumDescriptions:
            - >-
              Unknown rule. Sorry, we don't have any description for the rule
              that was broken.
            - >-
              Plugins incompatible with mobile devices are being used. [Learn
              more]
              (https://support.google.com/webmasters/answer/6352293#flash_usage).
            - >-
              Viewport is not specified using the meta viewport tag. [Learn
              more]
              (https://support.google.com/webmasters/answer/6352293#viewport_not_configured).
            - >-
              Viewport defined to a fixed width. [Learn more]
              (https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).
            - >-
              Content not sized to viewport. [Learn more]
              (https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).
            - >-
              Font size is too small for easy reading on a small screen. [Learn
              More]
              (https://support.google.com/webmasters/answer/6352293#small_font_size).
            - >-
              Touch elements are too close to each other. [Learn more]
              (https://support.google.com/webmasters/answer/6352293#touch_elements_too_close).
          description: Rule violated.
          enum:
            - MOBILE_FRIENDLY_RULE_UNSPECIFIED
            - USES_INCOMPATIBLE_PLUGINS
            - CONFIGURE_VIEWPORT
            - FIXED_WIDTH_VIEWPORT
            - SIZE_CONTENT_TO_VIEWPORT
            - USE_LEGIBLE_FONT_SIZES
            - TAP_TARGETS_TOO_CLOSE
      description: Mobile-friendly issue.
      id: MobileFriendlyIssue
      type: object
  parameters:
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/webmasters.readonly: View Search Console data for your verified sites
            https://www.googleapis.com/auth/webmasters: View and manage Search Console data for your verified sites
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/urlTestingTools/mobileFriendlyTest:run:
    parameters: &ref_1
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/uploadType'
    post:
      description: Runs Mobile-Friendly Test for a given URL.
      operationId: searchconsole.urlTestingTools.mobileFriendlyTest.run
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunMobileFriendlyTestRequest'
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunMobileFriendlyTestResponse'
      parameters: []
      x-stackQL-resource: mobile_friendly_test
      x-stackQL-verb: exec
  /webmasters/v3/sites/{siteUrl}/searchAnalytics/query:
    parameters: *ref_1
    post:
      description: >-
        Query your data with filters and parameters that you define. Returns
        zero or more rows grouped by the row keys that you define. You must
        define a date range of one or more days. When date is one of the group
        by values, any days without data are omitted from the result list. If
        you need to know which days have data, issue a broad date range query
        grouped by date for any metric, and see which day rows are returned.
      operationId: webmasters.searchanalytics.query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAnalyticsQueryRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAnalyticsQueryResponse'
      parameters:
        - in: path
          name: siteUrl
          required: true
          schema:
            type: string
      x-stackQL-resource: searchanalytics
      x-stackQL-verb: exec
  /v1/urlInspection/index:inspect:
    parameters: *ref_1
    post:
      description: Index inspection.
      operationId: searchconsole.urlInspection.index.inspect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InspectUrlIndexRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InspectUrlIndexResponse'
      parameters: []
      x-stackQL-resource: index
      x-stackQL-verb: exec
  /webmasters/v3/sites/{siteUrl}/sitemaps/{feedpath}:
    parameters: *ref_1
    put:
      description: Submits a sitemap for a site.
      operationId: webmasters.sitemaps.submit
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
      parameters:
        - in: path
          name: siteUrl
          required: true
          schema:
            type: string
        - in: path
          name: feedpath
          required: true
          schema:
            type: string
      x-stackQL-resource: sitemaps
      x-stackQL-verb: exec
    get:
      description: Retrieves information about a specific sitemap.
      operationId: webmasters.sitemaps.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WmxSitemap'
      parameters:
        - in: path
          name: siteUrl
          required: true
          schema:
            type: string
        - in: path
          name: feedpath
          required: true
          schema:
            type: string
      x-stackQL-resource: sitemaps
      x-stackQL-verb: select
    delete:
      description: >-
        Deletes a sitemap from the Sitemaps report. Does not stop Google from
        crawling this sitemap or the URLs that were previously crawled in the
        deleted sitemap.
      operationId: webmasters.sitemaps.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
      parameters:
        - in: path
          name: siteUrl
          required: true
          schema:
            type: string
        - in: path
          name: feedpath
          required: true
          schema:
            type: string
      x-stackQL-resource: sitemaps
      x-stackQL-verb: delete
  /webmasters/v3/sites/{siteUrl}/sitemaps:
    parameters: *ref_1
    get:
      description: ' Lists the [sitemaps-entries](/webmaster-tools/v3/sitemaps) submitted for this site, or included in the sitemap index file (if `sitemapIndex` is specified in the request).'
      operationId: webmasters.sitemaps.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitemapsListResponse'
      parameters:
        - in: path
          name: siteUrl
          required: true
          schema:
            type: string
        - in: query
          name: sitemapIndex
          schema:
            type: string
      x-stackQL-resource: sitemaps
      x-stackQL-verb: select
  /webmasters/v3/sites/{siteUrl}:
    parameters: *ref_1
    put:
      description: ' Adds a site to the set of the user''s sites in Search Console.'
      operationId: webmasters.sites.add
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
      parameters:
        - in: path
          name: siteUrl
          required: true
          schema:
            type: string
      x-stackQL-resource: sites
      x-stackQL-verb: insert
    delete:
      description: ' Removes a site from the set of the user''s Search Console sites.'
      operationId: webmasters.sites.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
      parameters:
        - in: path
          name: siteUrl
          required: true
          schema:
            type: string
      x-stackQL-resource: sites
      x-stackQL-verb: delete
    get:
      description: ' Retrieves information about specific site.'
      operationId: webmasters.sites.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WmxSite'
      parameters:
        - in: path
          name: siteUrl
          required: true
          schema:
            type: string
      x-stackQL-resource: sites
      x-stackQL-verb: select
  /webmasters/v3/sites:
    parameters: *ref_1
    get:
      description: ' Lists the user''s Search Console sites.'
      operationId: webmasters.sites.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters
        - Oauth2:
            - https://www.googleapis.com/auth/webmasters.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/webmasters.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesListResponse'
      parameters: []
      x-stackQL-resource: sites
      x-stackQL-verb: select
