openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: PageSpeed Insights API
  description: >-
    The PageSpeed Insights API lets you analyze the performance of your website
    with a simple API. It offers tailored suggestions for how you can optimize
    your site, and lets you easily integrate PageSpeed Insights analysis into
    your development tools and workflow. 
  version: v5
  x-discovery-doc-revision: '20230622'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/speed/docs/insights/v5/about
servers:
  - url: https://pagespeedonline.googleapis.com
components:
  schemas:
    LighthouseCategoryV5:
      id: LighthouseCategoryV5
      type: object
      description: A Lighthouse category.
      properties:
        manualDescription:
          description: A description for the manual audits in the category.
          type: string
        title:
          type: string
          description: The human-friendly name of the category.
        score:
          type: any
          description: >-
            The overall score of the category, the weighted average of all its
            audits. (The category's score, can be null.)
        auditRefs:
          type: array
          description: An array of references to all the audit members of this category.
          items:
            $ref: '#/components/schemas/AuditRefs'
        id:
          type: string
          description: The string identifier of the category.
        description:
          type: string
          description: A more detailed description of the category and its importance.
    Environment:
      description: Message containing environment configuration for a Lighthouse run.
      properties:
        networkUserAgent:
          type: string
          description: The user agent string that was sent over the network.
        benchmarkIndex:
          format: double
          type: number
          description: The benchmark index number that indicates rough device class.
        hostUserAgent:
          type: string
          description: The user agent string of the version of Chrome used.
        credits:
          description: >-
            The version of libraries with which these results were generated.
            Ex: axe-core.
          additionalProperties:
            type: string
          type: object
      type: object
      id: Environment
    Categories:
      id: Categories
      properties:
        accessibility:
          $ref: '#/components/schemas/LighthouseCategoryV5'
          description: >-
            The accessibility category, containing all accessibility related
            audits.
        best-practices:
          description: >-
            The best practices category, containing all best practices related
            audits.
          $ref: '#/components/schemas/LighthouseCategoryV5'
        seo:
          description: >-
            The Search-Engine-Optimization (SEO) category, containing all seo
            related audits.
          $ref: '#/components/schemas/LighthouseCategoryV5'
        pwa:
          description: >-
            The Progressive-Web-App (PWA) category, containing all pwa related
            audits.
          $ref: '#/components/schemas/LighthouseCategoryV5'
        performance:
          description: The performance category, containing all performance related audits.
          $ref: '#/components/schemas/LighthouseCategoryV5'
      description: The categories in a Lighthouse run.
      type: object
    CategoryGroupV5:
      id: CategoryGroupV5
      type: object
      properties:
        title:
          type: string
          description: The human readable title of the group
        description:
          type: string
          description: The description of what the category is grouping
      description: Message containing a category
    LighthouseAuditResultV5:
      id: LighthouseAuditResultV5
      properties:
        score:
          type: any
          description: The score of the audit, can be null.
        displayValue:
          description: The value that should be displayed on the UI for this audit.
          type: string
        numericValue:
          type: number
          format: double
          description: >-
            A numeric value that has a meaning specific to the audit, e.g. the
            number of nodes in the DOM or the timestamp of a specific load
            event. More information can be found in the audit details, if
            present.
        id:
          description: The audit's id.
          type: string
        details:
          type: object
          additionalProperties:
            type: any
            description: Properties of the object.
          description: Freeform details section of the audit.
        scoreDisplayMode:
          type: string
          description: The enumerated score display mode.
        description:
          type: string
          description: The description of the audit.
        warnings:
          type: any
          description: Possible warnings that occurred in the audit, can be null.
        title:
          type: string
          description: The human readable title.
        numericUnit:
          type: string
          description: >-
            The unit of the numeric_value field. Used to format the numeric
            value for display.
        explanation:
          description: An explanation of the errors in the audit.
          type: string
        errorMessage:
          description: An error message from a thrown error inside the audit.
          type: string
      type: object
      description: An audit's result object in a Lighthouse result.
    Bucket:
      properties:
        min:
          type: integer
          format: int32
          description: Lower bound for a bucket's range.
        proportion:
          format: double
          type: number
          description: The proportion of data in this bucket.
        max:
          description: Upper bound for a bucket's range.
          type: integer
          format: int32
      type: object
      id: Bucket
      description: >-
        A proportion of data in the total distribution, bucketed by a min/max
        percentage. Each bucket's range is bounded by min <= x < max, In
        millisecond.
    RendererFormattedStrings:
      properties:
        dropdownPrintSummary:
          description: >-
            Option in a dropdown menu that opens a small, summary report in a
            print dialog.
          type: string
        scorescaleLabel:
          type: string
          description: >-
            The label that explains the score gauges scale (0-49, 50-89,
            90-100).
        viewTreemapLabel:
          description: Label for a button that opens the Treemap App
          type: string
        auditGroupExpandTooltip:
          type: string
          description: The tooltip text on an expandable chevron icon.
        runtimeSettingsUANetwork:
          description: >-
            Label for a row in a table that shows the User Agent that was used
            to send out all network requests during the Lighthouse run.
          type: string
        dropdownSaveGist:
          type: string
          description: >-
            Option in a dropdown menu that saves the current report as a new
            GitHub Gist.
        errorLabel:
          type: string
          description: The label shown next to an audit or metric that has had an error.
        throttlingProvided:
          description: >-
            Descriptive explanation for environment throttling that was provided
            by the runtime environment instead of provided by Lighthouse
            throttling.
          type: string
        opportunitySavingsColumnLabel:
          description: >-
            The heading for the estimated page load savings of opportunity
            audits.
          type: string
        toplevelWarningsMessage:
          description: >-
            The label shown preceding important warnings that may have
            invalidated an entire report.
          type: string
        passedAuditsGroupTitle:
          type: string
          description: The heading that is shown above a list of audits that are passing.
        notApplicableAuditsGroupTitle:
          description: >-
            The heading shown above a list of audits that do not apply to a
            page.
          type: string
        runtimeSettingsBenchmark:
          type: string
          description: >-
            Label for a row in a table that shows the estimated CPU power of the
            machine running Lighthouse. Example row values: 532, 1492, 783.
        crcInitialNavigation:
          type: string
          description: The label for the initial request in a critical request chain.
        warningAuditsGroupTitle:
          description: The heading that is shown above a list of audits that have warnings
          type: string
        dropdownViewer:
          description: >-
            Option in a dropdown menu that opens the current report in the
            Lighthouse Viewer Application.
          type: string
        runtimeSettingsFetchTime:
          type: string
          description: >-
            Label for a row in a table that shows the time at which a Lighthouse
            run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00
            AM UTC.
        dropdownSaveJSON:
          description: >-
            Option in a dropdown menu that saves the Lighthouse JSON object to
            the local system as a '.json' file.
          type: string
        manualAuditsGroupTitle:
          type: string
          description: >-
            The heading shown above a list of audits that were not computerd in
            the run.
        thirdPartyResourcesLabel:
          type: string
          description: This label is for a filter checkbox above a table of items
        labDataTitle:
          type: string
          description: The title of the lab data performance category.
        runtimeSettingsAxeVersion:
          description: >-
            Label for a row in a table that shows the version of the Axe library
            used
          type: string
        warningHeader:
          type: string
          description: The label shown above a bulleted list of warnings.
        runtimeDesktopEmulation:
          description: >-
            Descriptive explanation for emulation setting when emulating a
            generic desktop form factor, as opposed to a mobile-device like form
            factor.
          type: string
        snippetCollapseButtonLabel:
          description: The label for the button to show only a few lines of a snippet
          type: string
        calculatorLink:
          description: >-
            Text link pointing to the Lighthouse scoring calculator. This link
            immediately follows a sentence stating the performance score is
            calculated from the perf metrics.
          type: string
        dropdownSaveHTML:
          type: string
          description: >-
            Option in a dropdown menu that saves the Lighthouse report HTML
            locally to the system as a '.html' file.
        runtimeSettingsChannel:
          description: >-
            Label for a row in a table that shows in what tool Lighthouse is
            being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider,
            WebPageTest, etc).
          type: string
        crcLongestDurationLabel:
          description: >-
            The label for values shown in the summary of critical request
            chains.
          type: string
        showRelevantAudits:
          type: string
          description: >-
            Label preceding a radio control for filtering the list of audits.
            The radio choices are various performance metrics (FCP, LCP, TBT),
            and if chosen, the audits in the report are hidden if they are not
            relevant to the selected metric.
        varianceDisclaimer:
          type: string
          description: The disclaimer shown below a performance metric value.
        runtimeNoEmulation:
          type: string
          description: >-
            Descriptive explanation for emulation setting when no device
            emulation is set.
        runtimeMobileEmulation:
          description: >-
            Descriptive explanation for emulation setting when emulating a Nexus
            5X mobile device.
          type: string
        footerIssue:
          type: string
          description: >-
            Label for button to create an issue against the Lighthouse GitHub
            project.
        errorMissingAuditInfo:
          type: string
          description: The error string shown next to an erroring audit.
        snippetExpandButtonLabel:
          type: string
          description: The label for the button to show all lines of a snippet
        runtimeSettingsUrl:
          description: >-
            Label for a row in a table that shows the URL that was audited
            during a Lighthouse run.
          type: string
        runtimeSettingsDevice:
          type: string
          description: >-
            Label for a row in a table that describes the kind of device that
            was emulated for the Lighthouse run. Example values for row
            elements: 'No Emulation', 'Emulated Desktop', etc.
        opportunityResourceColumnLabel:
          type: string
          description: >-
            The heading for the estimated page load savings opportunity of an
            audit.
        dropdownCopyJSON:
          description: >-
            Option in a dropdown menu that copies the Lighthouse JSON object to
            the system clipboard.
          type: string
        lsPerformanceCategoryDescription:
          type: string
          description: >-
            The disclaimer shown under performance explaining that the network
            can vary.
        runtimeSettingsCPUThrottling:
          type: string
          description: >-
            Label for a row in a table that describes the CPU throttling
            conditions that were used during a Lighthouse run, if any.
        runtimeSettingsUA:
          type: string
          description: >-
            Label for a row in a table that shows the User Agent that was
            detected on the Host machine that ran Lighthouse.
        runtimeSettingsNetworkThrottling:
          description: >-
            Label for a row in a table that describes the network throttling
            conditions that were used during a Lighthouse run, if any.
          type: string
        runtimeSettingsTitle:
          type: string
          description: >-
            Title of the Runtime settings table in a Lighthouse report. Runtime
            settings are the environment configurations that a specific report
            used at auditing time.
        runtimeUnknown:
          description: >-
            Descriptive explanation for a runtime setting that is set to an
            unknown value.
          type: string
        dropdownDarkTheme:
          type: string
          description: >-
            Option in a dropdown menu that toggles the themeing of the report
            between Light(default) and Dark themes.
        dropdownPrintExpanded:
          description: >-
            Option in a dropdown menu that opens a full Lighthouse report in a
            print dialog.
          type: string
      description: Message holding the formatted strings used in the renderer.
      type: object
      id: RendererFormattedStrings
    UserPageLoadMetricV5:
      description: A CrUX metric object for a single metric and form factor.
      type: object
      id: UserPageLoadMetricV5
      properties:
        formFactor:
          description: Identifies the form factor of the metric being collected.
          type: string
        percentile:
          format: int32
          type: integer
          description: >-
            We use this field to store certain percentile value for this metric.
            For v4, this field contains pc50. For v5, this field contains pc90.
        category:
          type: string
          description: The category of the specific time metric.
        median:
          description: The median number of the metric, in millisecond.
          format: int32
          type: integer
        metricId:
          description: Identifies the type of the metric.
          type: string
        distributions:
          type: array
          description: Metric distributions. Proportions should sum up to 1.
          items:
            $ref: '#/components/schemas/Bucket'
    RuntimeError:
      id: RuntimeError
      type: object
      properties:
        message:
          description: A human readable message explaining the error code.
          type: string
        code:
          type: string
          description: The enumerated Lighthouse Error code.
      description: Message containing a runtime error config.
    LighthouseResultV5:
      type: object
      description: The Lighthouse result object.
      id: LighthouseResultV5
      properties:
        requestedUrl:
          description: The original requested url.
          type: string
        timing:
          $ref: '#/components/schemas/Timing'
          description: Timing information for this LHR.
        i18n:
          description: >-
            The internationalization strings that are required to render the
            LHR.
          $ref: '#/components/schemas/I18n'
        audits:
          description: Map of audits in the LHR.
          additionalProperties:
            $ref: '#/components/schemas/LighthouseAuditResultV5'
          type: object
        fullPageScreenshot:
          type: any
          description: >-
            Screenshot data of the full page, along with node rects relevant to
            the audit results.
        runWarnings:
          type: array
          items:
            type: any
          description: >-
            List of all run warnings in the LHR. Will always output to at least
            `[]`.
        configSettings:
          description: The configuration settings for this LHR.
          $ref: '#/components/schemas/ConfigSettings'
        finalDisplayedUrl:
          type: string
          description: URL displayed on the page after Lighthouse finishes.
        stackPacks:
          items:
            $ref: '#/components/schemas/StackPack'
          type: array
          description: The Stack Pack advice strings.
        finalUrl:
          type: string
          description: The final resolved url that was audited.
        mainDocumentUrl:
          type: string
          description: URL of the main document request of the final navigation.
        lighthouseVersion:
          type: string
          description: The lighthouse version that was used to generate this LHR.
        runtimeError:
          $ref: '#/components/schemas/RuntimeError'
          description: >-
            A top-level error message that, if present, indicates a serious
            enough problem that this Lighthouse result may need to be discarded.
        categoryGroups:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CategoryGroupV5'
          description: Map of category groups in the LHR.
        entities:
          items:
            $ref: '#/components/schemas/LhrEntity'
          description: Entity classification data.
          type: array
        environment:
          $ref: '#/components/schemas/Environment'
          description: Environment settings that were used when making this LHR.
        categories:
          description: Map of categories in the LHR.
          $ref: '#/components/schemas/Categories'
        userAgent:
          description: The user agent that was used to run this LHR.
          type: string
        fetchTime:
          type: string
          description: The time that this run was fetched.
    PagespeedVersion:
      properties:
        minor:
          description: >-
            The minor version number of PageSpeed used to generate these
            results.
          type: string
        major:
          type: string
          description: >-
            The major version number of PageSpeed used to generate these
            results.
      description: The Pagespeed Version object.
      type: object
      id: PagespeedVersion
    StackPack:
      properties:
        iconDataURL:
          type: string
          description: The stack pack icon data uri.
        title:
          description: The stack pack title.
          type: string
        id:
          type: string
          description: The stack pack id.
        descriptions:
          description: The stack pack advice strings.
          type: object
          additionalProperties:
            type: string
      id: StackPack
      type: object
      description: Message containing Stack Pack information.
    PagespeedApiPagespeedResponseV5:
      type: object
      id: PagespeedApiPagespeedResponseV5
      properties:
        kind:
          description: Kind of result.
          type: string
        originLoadingExperience:
          $ref: '#/components/schemas/PagespeedApiLoadingExperienceV5'
          description: Metrics of the aggregated page loading experience of the origin
        analysisUTCTimestamp:
          type: string
          description: The UTC timestamp of this analysis.
        id:
          type: string
          description: >-
            Canonicalized and final URL for the document, after following page
            redirects (if any).
        version:
          $ref: '#/components/schemas/PagespeedVersion'
          description: The version of PageSpeed used to generate these results.
        lighthouseResult:
          description: Lighthouse response for the audit url as an object.
          $ref: '#/components/schemas/LighthouseResultV5'
        loadingExperience:
          $ref: '#/components/schemas/PagespeedApiLoadingExperienceV5'
          description: Metrics of end users' page loading experience.
        captchaResult:
          description: The captcha verify result
          type: string
      description: The Pagespeed API response object.
    LhrEntity:
      type: object
      id: LhrEntity
      properties:
        isUnrecognized:
          description: >-
            Optional. An optional flag indicating if the entity is not
            recognized.
          type: boolean
        category:
          description: Optional. An optional category name for the entity.
          type: string
        homepage:
          description: Optional. An optional homepage URL of the entity.
          type: string
        name:
          description: Required. Name of the entity.
          type: string
        origins:
          description: Required. A list of URL origin strings that belong to this entity.
          type: array
          items:
            type: string
        isFirstParty:
          type: boolean
          description: >-
            Optional. An optional flag indicating if the entity is the first
            party.
      description: Message containing an Entity.
    PagespeedApiLoadingExperienceV5:
      description: The CrUX loading experience object that contains CrUX data breakdowns.
      type: object
      id: PagespeedApiLoadingExperienceV5
      properties:
        metrics:
          description: The map of .
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserPageLoadMetricV5'
        id:
          description: The url, pattern or origin which the metrics are on.
          type: string
        overall_category:
          type: string
          description: The human readable speed "category" of the id.
        origin_fallback:
          description: >-
            True if the result is an origin fallback from a page, false
            otherwise.
          type: boolean
        initial_url:
          type: string
          description: The requested URL, which may differ from the resolved "id".
    AuditRefs:
      description: >-
        A light reference to an audit by id, used to group and weight audits in
        a given category.
      type: object
      properties:
        weight:
          type: number
          format: double
          description: The weight this audit's score has on the overall category score.
        acronym:
          type: string
          description: The conventional acronym for the audit/metric.
        id:
          description: The audit ref id.
          type: string
        relevantAudits:
          items:
            type: string
          description: Any audit IDs closely relevant to this one.
          type: array
        group:
          type: string
          description: The category group that the audit belongs to (optional).
      id: AuditRefs
    I18n:
      type: object
      description: Message containing the i18n data for the LHR - Version 1.
      properties:
        rendererFormattedStrings:
          $ref: '#/components/schemas/RendererFormattedStrings'
          description: >-
            Internationalized strings that are formatted to the locale in
            configSettings.
      id: I18n
    ConfigSettings:
      id: ConfigSettings
      properties:
        onlyCategories:
          type: any
          description: List of categories of audits the run should conduct.
        channel:
          description: >-
            How Lighthouse was run, e.g. from the Chrome extension or from the
            npm module.
          type: string
        locale:
          description: The locale setting.
          type: string
        emulatedFormFactor:
          description: >-
            The form factor the emulation should use. This field is deprecated,
            form_factor should be used instead.
          type: string
        formFactor:
          type: string
          description: >-
            How Lighthouse should interpret this run in regards to scoring
            performance metrics and skipping mobile-only tests in desktop.
      description: Message containing the configuration settings for the Lighthouse run.
      type: object
    Timing:
      description: Message containing the performance timing data for the Lighthouse run.
      type: object
      properties:
        total:
          type: number
          format: double
          description: The total duration of Lighthouse's run.
      id: Timing
  parameters:
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            openid: Associate you with your personal info on Google
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /pagespeedonline/v5/runPagespeed:
    parameters:
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/quotaUser'
    get:
      description: >-
        Runs PageSpeed analysis on the page at the specified URL, and returns
        PageSpeed scores, a list of suggestions to make that page faster, and
        other information.
      operationId: pagespeedonline.pagespeedapi.runpagespeed
      security:
        - Oauth2:
            - openid
          Oauth2c:
            - openid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagespeedApiPagespeedResponseV5'
      parameters:
        - in: query
          name: url
          required: true
          schema:
            type: string
        - in: query
          name: captchaToken
          schema:
            type: string
        - in: query
          name: strategy
          schema:
            type: string
        - in: query
          name: utm_campaign
          schema:
            type: string
        - in: query
          name: locale
          schema:
            type: string
        - in: query
          name: category
          schema:
            type: string
        - in: query
          name: utm_source
          schema:
            type: string
      x-stackQL-resource: pagespeedapi
      x-stackQL-verb: exec
