openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Content API for Shopping
  description: Manage your product listings and accounts for Google Shopping
  version: v2.1
  x-discovery-doc-revision: '20230613'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/shopping-content/v2/
servers:
  - url: https://shoppingcontent.googleapis.com/content/v2.1
components:
  schemas:
    BuyOnGoogleProgramStatus:
      properties:
        customerServiceVerifiedEmail:
          description: Output only. The customer service verified email.
          readOnly: true
          type: string
        participationStage:
          enum:
            - PROGRAM_PARTICIPATION_STAGE_UNSPECIFIED
            - NOT_ELIGIBLE
            - ELIGIBLE
            - ONBOARDING
            - ELIGIBLE_FOR_REVIEW
            - PENDING_REVIEW
            - REVIEW_DISAPPROVED
            - ACTIVE
            - PAUSED
          enumDescriptions:
            - Default value when participation stage is not set.
            - >-
              Merchant is not eligible for onboarding to a given program in a
              specific region code.
            - >-
              Merchant is eligible for onboarding to a given program in a
              specific region code.
            - >-
              Merchant is onboarding to a given program in a specific region
              code.
            - >-
              Merchant fulfilled all the requirements and is ready to request
              review in a specific region code.
            - >-
              Merchant is waiting for the review to be completed in a specific
              region code.
            - >-
              The review for a merchant has been rejected in a specific region
              code.
            - >-
              Merchant's program participation is active for a specific region
              code.
            - Participation has been paused.
          type: string
          description: Output only. The current participation stage for the program.
          readOnly: true
        customerServicePendingPhoneRegionCode:
          type: string
          description: >-
            Two letter country code for the pending phone number, for example
            `CA` for Canadian numbers. See the [ISO 3166-1
            alpha-2](https://wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements)
            officially assigned codes. In order to update this field the
            customer_service_pending_phone_number must also be set. After
            verification this field becomes empty.
        customerServicePendingPhoneNumber:
          type: string
          description: >-
            The pending phone number specified for BuyOnGoogle program. It might
            be different than account level phone number. In order to update
            this field the customer_service_pending_phone_region_code must also
            be set. After verification this field becomes empty.
        customerServiceVerifiedPhoneNumber:
          type: string
          description: >-
            Output only. The verified phone number specified for BuyOnGoogle
            program. It might be different than account level phone number.
          readOnly: true
        customerServiceVerifiedPhoneRegionCode:
          description: >-
            Output only. Two letter country code for the verified phone number,
            for example `CA` for Canadian numbers. See the [ISO 3166-1
            alpha-2](https://wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements)
            officially assigned codes.
          type: string
          readOnly: true
        onlineSalesChannel:
          enumDescriptions:
            - Default value when online sales channel is not set.
            - Merchant is selling exclusively on Google.
            - Merchant is selling on Google and other websites.
          enum:
            - ONLINE_SALES_CHANNEL_UNSPECIFIED
            - GOOGLE_EXCLUSIVE
            - GOOGLE_AND_OTHER_WEBSITES
          type: string
          description: The channels through which the merchant is selling.
        businessModel:
          description: The business models in which merchant participates.
          type: array
          items:
            enumDescriptions:
              - Default value when business model is not set.
              - Merchant is a manufacturer.
              - Merchant is an importer.
              - Merchant is a reseller.
              - Merchant has a different business model.
            enum:
              - BUSINESS_MODEL_UNSPECIFIED
              - MANUFACTURER
              - IMPORTER
              - RESELLER
              - OTHER
            type: string
        customerServicePendingEmail:
          type: string
          description: >-
            The customer service pending email. After verification this field
            becomes empty.
      type: object
      description: Response message for the GetProgramStatus method.
      id: BuyOnGoogleProgramStatus
    OrdersRefundOrderResponse:
      id: OrdersRefundOrderResponse
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#ordersRefundOrderResponse`".
        executionStatus:
          type: string
          description: >-
            The status of the execution. Acceptable values are: - "`duplicate`"
            - "`executed`" 
      type: object
    ListCollectionStatusesResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
        resources:
          type: array
          description: The collectionstatuses listed.
          items:
            $ref: '#/components/schemas/CollectionStatus'
      type: object
      id: ListCollectionStatusesResponse
      description: Response message for the ListCollectionStatuses method.
    AccountsCustomBatchRequest:
      properties:
        entries:
          description: The request entries to be processed in the batch.
          type: array
          items:
            $ref: '#/components/schemas/AccountsCustomBatchRequestEntry'
      type: object
      id: AccountsCustomBatchRequest
    SettlementTransactionIdentifiers:
      id: SettlementTransactionIdentifiers
      type: object
      properties:
        merchantOrderId:
          type: string
          description: The merchant provided order ID.
        orderItemId:
          type: string
          description: The identifier of the item.
        transactionId:
          type: string
          description: The Google transaction ID.
        adjustmentId:
          description: The identifier of the adjustments, if it's available.
          type: string
        shipmentIds:
          items:
            type: string
          description: The shipment ids for the item.
          type: array
        settlementEntryId:
          type: string
          description: The unique ID of the settlement transaction entry.
    ProductShippingWeight:
      type: object
      properties:
        value:
          description: >-
            The weight of the product used to calculate the shipping cost of the
            item.
          format: double
          type: number
        unit:
          type: string
          description: The unit of value.
      id: ProductShippingWeight
    ShippingsettingsGetSupportedCarriersResponse:
      properties:
        carriers:
          description: A list of supported carriers. May be empty.
          type: array
          items:
            $ref: '#/components/schemas/CarriersCarrier'
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#shippingsettingsGetSupportedCarriersResponse`".
          type: string
      id: ShippingsettingsGetSupportedCarriersResponse
      type: object
    DatafeedsCustomBatchRequest:
      properties:
        entries:
          items:
            $ref: '#/components/schemas/DatafeedsCustomBatchRequestEntry'
          description: The request entries to be processed in the batch.
          type: array
      type: object
      id: DatafeedsCustomBatchRequest
    AccountYouTubeChannelLink:
      properties:
        status:
          description: >-
            Status of the link between this Merchant Center account and the
            YouTube channel. Upon retrieval, it represents the actual status of
            the link and can be either `active` if it was approved in YT Creator
            Studio or `pending` if it's pending approval. Upon insertion, it
            represents the *intended* status of the link. Re-uploading a link
            with status `active` when it's still pending or with status
            `pending` when it's already active will have no effect: the status
            will remain unchanged. Re-uploading a link with deprecated status
            `inactive` is equivalent to not submitting the link at all and will
            delete the link if it was active or cancel the link request if it
            was pending.
          type: string
        channelId:
          type: string
          description: Channel ID.
      id: AccountYouTubeChannelLink
      type: object
    ListCollectionsResponse:
      type: object
      id: ListCollectionsResponse
      description: Response message for the ListCollections method.
      properties:
        resources:
          type: array
          description: The collections listed.
          items:
            $ref: '#/components/schemas/Collection'
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
    VerifyPhoneNumberResponse:
      id: VerifyPhoneNumberResponse
      description: Response message for the VerifyPhoneNumber method.
      properties:
        verifiedPhoneNumber:
          description: >-
            Verified phone number if verification is successful. This phone
            number can only be replaced by another verified phone number.
          type: string
      type: object
    InvoiceSummary:
      properties:
        productTotal:
          description: '[required] Total price for the product.'
          $ref: '#/components/schemas/Amount'
        additionalChargeSummaries:
          items:
            $ref: '#/components/schemas/InvoiceSummaryAdditionalChargeSummary'
          description: Summary of the total amounts of the additional charges.
          type: array
      id: InvoiceSummary
      type: object
    PosCustomBatchResponse:
      id: PosCustomBatchResponse
      type: object
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#posCustomBatchResponse`".
        entries:
          items:
            $ref: '#/components/schemas/PosCustomBatchResponseEntry'
          description: The result of the execution of the batch requests.
          type: array
    DatafeedstatusesListResponse:
      type: object
      id: DatafeedstatusesListResponse
      properties:
        resources:
          items:
            $ref: '#/components/schemas/DatafeedStatus'
          type: array
        nextPageToken:
          description: The token for the retrieval of the next page of datafeed statuses.
          type: string
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#datafeedstatusesListResponse`".
          type: string
    LiasettingsListPosDataProvidersResponse:
      properties:
        posDataProviders:
          items:
            $ref: '#/components/schemas/PosDataProviders'
          description: The list of POS data providers for each eligible country
          type: array
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#liasettingsListPosDataProvidersResponse`".
          type: string
      type: object
      id: LiasettingsListPosDataProvidersResponse
    OrdersGetTestOrderTemplateResponse:
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#ordersGetTestOrderTemplateResponse`".
        template:
          description: The requested test order template.
          $ref: '#/components/schemas/TestOrder'
      type: object
      id: OrdersGetTestOrderTemplateResponse
    ListAccountReturnCarrierResponse:
      properties:
        accountReturnCarriers:
          type: array
          items:
            $ref: '#/components/schemas/AccountReturnCarrier'
          description: List of all available account return carriers for the merchant.
      description: Response for listing account return carriers.
      id: ListAccountReturnCarrierResponse
      type: object
    ProductWeight:
      id: ProductWeight
      properties:
        value:
          type: number
          format: double
          description: >-
            Required. The weight represented as a number. The weight can have a
            maximum precision of four decimal places.
        unit:
          type: string
          description: >-
            Required. The weight unit. Acceptable values are: - "`g`" - "`kg`" -
            "`oz`" - "`lb`" 
      type: object
    AccountstatusesCustomBatchResponse:
      id: AccountstatusesCustomBatchResponse
      properties:
        entries:
          items:
            $ref: '#/components/schemas/AccountstatusesCustomBatchResponseEntry'
          description: The result of the execution of the batch requests.
          type: array
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#accountstatusesCustomBatchResponse`".
          type: string
      type: object
    Address:
      id: Address
      type: object
      properties:
        streetAddress:
          description: Street-level part of the address. Use `\n` to add a second line.
          type: string
        country:
          type: string
          description: >-
            Required. [CLDR country
            code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml)
            (for example, "US").
        city:
          type: string
          description: >-
            Required. City, town or commune. May also include dependent
            localities or sublocalities (for example, neighborhoods or suburbs).
        administrativeArea:
          description: >-
            Required. Top-level administrative subdivision of the country. For
            example, a state like California ("CA") or a province like Quebec
            ("QC").
          type: string
        postalCode:
          type: string
          description: Required. Postal code or ZIP (for example, "94043").
    PosInventoryRequest:
      type: object
      id: PosInventoryRequest
      properties:
        quantity:
          type: string
          format: int64
          description: Required. The available quantity of the item.
        itemId:
          description: Required. A unique identifier for the item.
          type: string
        contentLanguage:
          type: string
          description: Required. The two-letter ISO 639-1 language code for the item.
        targetCountry:
          description: Required. The CLDR territory code for the item.
          type: string
        gtin:
          type: string
          description: Global Trade Item Number.
        timestamp:
          type: string
          description: Required. The inventory timestamp, in ISO 8601 format.
        storeCode:
          type: string
          description: >-
            Required. The identifier of the merchant's store. Either a
            `storeCode` inserted through the API or the code of the store in a
            Business Profile.
        price:
          $ref: '#/components/schemas/Price'
          description: Required. The current price of the item.
    ConversionSource:
      properties:
        expireTime:
          format: google-datetime
          readOnly: true
          description: >-
            Output only. The time when an archived conversion source becomes
            permanently deleted and is no longer available to undelete.
          type: string
        googleAnalyticsLink:
          $ref: '#/components/schemas/GoogleAnalyticsLink'
          description: >-
            Immutable. Conversion Source of type "Link to Google Analytics
            Property".
        merchantCenterDestination:
          description: Conversion Source of type "Merchant Center Tag Destination".
          $ref: '#/components/schemas/MerchantCenterDestination'
        state:
          readOnly: true
          enumDescriptions:
            - ''
            - Conversion source is fully functional.
            - >-
              Conversion source has been archived in the last 30 days and not
              currently functional. Can be restored using the undelete method.
            - Conversion source creation has started but not fully finished yet.
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - ARCHIVED
            - PENDING
          description: >-
            Output only. Current state of this conversion source. Can't be
            edited through the API.
          type: string
        conversionSourceId:
          type: string
          description: >-
            Output only. Generated by the Content API upon creation of a new
            `ConversionSource`. Format: [a-z]{4}:.+ The four characters before
            the colon represent the type of conversio source. Content after the
            colon represents the ID of the conversion source within that type.
            The ID of two different conversion sources might be the same across
            different types. The following type prefixes are supported: - galk:
            For GoogleAnalyticsLink sources. - mcdn: For
            MerchantCenterDestination sources.
          readOnly: true
      id: ConversionSource
      type: object
      description: >-
        Represents a conversion source owned by a Merchant account. A merchant
        account can have up to 200 conversion sources.
    ProductDimension:
      id: ProductDimension
      type: object
      properties:
        value:
          format: double
          description: >-
            Required. The length value represented as a number. The value can
            have a maximum precision of four decimal places.
          type: number
        unit:
          type: string
          description: >-
            Required. The length units. Acceptable values are: - "`in`" -
            "`cm`" 
    OrderinvoicesCreateChargeInvoiceResponse:
      type: object
      id: OrderinvoicesCreateChargeInvoiceResponse
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#orderinvoicesCreateChargeInvoiceResponse`".
        executionStatus:
          description: >-
            The status of the execution. Acceptable values are: - "`duplicate`"
            - "`executed`" 
          type: string
    PriceAmount:
      properties:
        value:
          type: string
          description: The price represented as a number.
        currency:
          type: string
          description: The currency of the price.
      description: The price represented as a number and currency.
      id: PriceAmount
      type: object
    AccountAutomaticImprovements:
      id: AccountAutomaticImprovements
      description: >-
        The automatic improvements of the account can be used to automatically
        update items, improve images and shipping.
      type: object
      properties:
        imageImprovements:
          description: >-
            This improvement will attempt to automatically correct submitted
            images if they don't meet the [image
            requirements](https://support.google.com/merchants/answer/6324350),
            for example, removing overlays. If successful, the image will be
            replaced and approved. This improvement is only applied to images of
            disapproved offers. For more information see: [Automatic image
            improvements](https://support.google.com/merchants/answer/9242973)
            This field is only updated (cleared) if provided.
          $ref: '#/components/schemas/AccountImageImprovements'
        shippingImprovements:
          description: >-
            Not available for MCAs
            [accounts](https://support.google.com/merchants/answer/188487). By
            turning on [automatic shipping
            improvements](https://support.google.com/merchants/answer/10027038),
            you are allowing Google to improve the accuracy of your delivery
            times shown to shoppers using Google. More accurate delivery times,
            especially when faster, typically lead to better conversion rates.
            Google will improve your estimated delivery times based on various
            factors: - Delivery address of an order - Current handling time and
            shipping time settings - Estimated weekdays or business days -
            Parcel tracking data This field is only updated (cleared) if
            provided.
          $ref: '#/components/schemas/AccountShippingImprovements'
        itemUpdates:
          $ref: '#/components/schemas/AccountItemUpdates'
          description: >-
            Turning on [item
            updates](https://support.google.com/merchants/answer/3246284) allows
            Google to automatically update items for you. When item updates are
            on, Google uses the structured data markup on the website and
            advanced data extractors to update the price and availability of the
            items. When the item updates are off, items with mismatched data
            aren't shown. This field is only updated (cleared) if provided.
    LocalinventoryCustomBatchResponse:
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#localinventoryCustomBatchResponse`".
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LocalinventoryCustomBatchResponseEntry'
          description: The result of the execution of the batch requests.
      type: object
      id: LocalinventoryCustomBatchResponse
    OrdersCancelRequest:
      type: object
      properties:
        operationId:
          type: string
          description: >-
            The ID of the operation. Unique across all operations for a given
            order.
        reason:
          description: >-
            The reason for the cancellation. Acceptable values are: -
            "`customerInitiatedCancel`" - "`invalidCoupon`" -
            "`malformedShippingAddress`" - "`noInventory`" - "`other`" -
            "`priceError`" - "`shippingPriceError`" - "`taxError`" -
            "`undeliverableShippingAddress`" - "`unsupportedPoBoxAddress`" -
            "`failedToCaptureFunds`" 
          type: string
        reasonText:
          description: The explanation of the reason.
          type: string
      id: OrdersCancelRequest
    OrdersInStoreRefundLineItemRequest:
      id: OrdersInStoreRefundLineItemRequest
      type: object
      properties:
        productId:
          type: string
          description: >-
            The ID of the product to return. This is the REST ID used in the
            products service. Either lineItemId or productId is required.
        operationId:
          type: string
          description: >-
            The ID of the operation. Unique across all operations for a given
            order.
        lineItemId:
          type: string
          description: >-
            The ID of the line item to return. Either lineItemId or productId is
            required.
        quantity:
          type: integer
          format: uint32
          description: The quantity to return and refund.
        reasonText:
          type: string
          description: The explanation of the reason.
        taxAmount:
          description: The amount of tax to be refunded. Required.
          $ref: '#/components/schemas/Price'
        reason:
          description: >-
            The reason for the return. Acceptable values are: -
            "`customerDiscretionaryReturn`" -
            "`customerInitiatedMerchantCancel`" - "`deliveredTooLate`" -
            "`expiredItem`" - "`invalidCoupon`" - "`malformedShippingAddress`" -
            "`other`" - "`productArrivedDamaged`" - "`productNotAsDescribed`" -
            "`qualityNotAsExpected`" - "`undeliverableShippingAddress`" -
            "`unsupportedPoBoxAddress`" - "`wrongProductShipped`" 
          type: string
        priceAmount:
          $ref: '#/components/schemas/Price'
          description: >-
            The amount to be refunded. This may be pre-tax or post-tax depending
            on the location of the order. Required.
    ReturnPolicyOnline:
      description: >-
        Return policy online object. This is currently used to represent return
        policies for ads and free listings programs.
      properties:
        returnPolicyUri:
          description: >-
            The return policy uri. This can used by Google to do a sanity check
            for the policy.
          type: string
        policy:
          description: The return policy.
          $ref: '#/components/schemas/ReturnPolicyOnlinePolicy'
        countries:
          items:
            type: string
          description: >-
            The countries of sale where the return policy is applicable. The
            values must be a valid 2 letter ISO 3166 code, e.g. "US".
          type: array
        itemConditions:
          items:
            enumDescriptions:
              - Default value. This value is unused.
              - New.
              - Used.
            type: string
            enum:
              - ITEM_CONDITION_UNSPECIFIED
              - NEW
              - USED
          type: array
          description: >-
            The item conditions that are accepted for returns. This is required
            to not be empty unless the type of return policy is noReturns.
        restockingFee:
          description: >-
            The restocking fee that applies to all return reason categories.
            This would be treated as a free restocking fee if the value is not
            set.
          $ref: '#/components/schemas/ReturnPolicyOnlineRestockingFee'
        returnMethods:
          description: >-
            The return methods of how customers can return an item. This value
            is required to not be empty unless the type of return policy is
            noReturns.
          type: array
          items:
            type: string
            enum:
              - RETURN_METHOD_UNSPECIFIED
              - BY_MAIL
              - IN_STORE
              - AT_A_KIOSK
            enumDescriptions:
              - Default value. This value is unused.
              - By mail.
              - In store.
              - At a kiosk.
        label:
          type: string
          description: >-
            The unique user-defined label of the return policy. The same label
            cannot be used in different return policies for the same country.
            Policies with the label 'default' will apply to all products, unless
            a product specifies a return_policy_label attribute.
        returnPolicyId:
          readOnly: true
          description: Output only. Return policy ID generated by Google.
          type: string
        name:
          description: The name of the policy as shown in Merchant Center.
          type: string
        returnReasonCategoryInfo:
          description: >-
            The return reason category information. This required to not be
            empty unless the type of return policy is noReturns.
          type: array
          items:
            $ref: '#/components/schemas/ReturnPolicyOnlineReturnReasonCategoryInfo'
      id: ReturnPolicyOnline
      type: object
    PosDataProviders:
      properties:
        posDataProviders:
          items:
            $ref: '#/components/schemas/PosDataProvidersPosDataProvider'
          description: A list of POS data providers.
          type: array
        country:
          type: string
          description: Country code.
      id: PosDataProviders
      type: object
    AccountAddress:
      properties:
        streetAddress:
          description: Street-level part of the address. Use `\n` to add a second line.
          type: string
        country:
          description: >-
            CLDR country code (for example, "US"). All MCA sub-accounts inherit
            the country of their parent MCA by default, however the country can
            be updated for individual sub-accounts.
          type: string
        locality:
          type: string
          description: >-
            City, town or commune. May also include dependent localities or
            sublocalities (for example, neighborhoods or suburbs).
        region:
          type: string
          description: >-
            Top-level administrative subdivision of the country. For example, a
            state like California ("CA") or a province like Quebec ("QC").
        postalCode:
          description: Postal code or ZIP (for example, "94043").
          type: string
      id: AccountAddress
      type: object
    DatafeedStatusError:
      properties:
        examples:
          items:
            $ref: '#/components/schemas/DatafeedStatusExample'
          type: array
          description: A list of example occurrences of the error, grouped by product.
        count:
          format: uint64
          type: string
          description: The number of occurrences of the error in the feed.
        message:
          description: The error message, for example, "Invalid price".
          type: string
        code:
          description: The code of the error, for example, "validation/invalid_value".
          type: string
      description: An error occurring in the feed, like "invalid price".
      id: DatafeedStatusError
      type: object
    PosSale:
      id: PosSale
      type: object
      properties:
        price:
          $ref: '#/components/schemas/Price'
          description: Required. The price of the item.
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#posSale`"
          type: string
        quantity:
          type: string
          description: >-
            Required. The relative change of the available quantity. Negative
            for items returned.
          format: int64
        gtin:
          description: Global Trade Item Number.
          type: string
        saleId:
          description: A unique ID to group items from the same sale event.
          type: string
        storeCode:
          type: string
          description: >-
            Required. The identifier of the merchant's store. Either a
            `storeCode` inserted through the API or the code of the store in a
            Business Profile.
        contentLanguage:
          description: Required. The two-letter ISO 639-1 language code for the item.
          type: string
        targetCountry:
          description: Required. The CLDR territory code for the item.
          type: string
        itemId:
          description: Required. A unique identifier for the item.
          type: string
        timestamp:
          type: string
          description: Required. The inventory timestamp, in ISO 8601 format.
      description: The change of the available quantity of an item at the given store.
    AccountsListLinksResponse:
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#accountsListLinksResponse`".
          type: string
        nextPageToken:
          type: string
          description: The token for the retrieval of the next page of links.
        links:
          type: array
          description: The list of available links.
          items:
            $ref: '#/components/schemas/LinkedAccount'
      id: AccountsListLinksResponse
      type: object
    ReturnShippingLabel:
      description: Return shipping label for a Buy on Google merchant-managed return.
      id: ReturnShippingLabel
      properties:
        labelUri:
          type: string
          description: The URL for the return shipping label in PDF format
        trackingId:
          description: The tracking id of this return label.
          type: string
        carrier:
          type: string
          description: Name of the carrier.
      type: object
    ProductstatusesCustomBatchRequestEntry:
      description: A batch entry encoding a single non-batch productstatuses request.
      id: ProductstatusesCustomBatchRequestEntry
      type: object
      properties:
        includeAttributes:
          description: >-
            Deprecated: Setting this field has no effect and attributes are
            never included.
          type: boolean
        productId:
          description: The ID of the product whose status to get.
          type: string
        method:
          description: 'The method of the batch entry. Acceptable values are: - "`get`" '
          type: string
        destinations:
          items:
            type: string
          type: array
          description: >-
            If set, only issues for the specified destinations are returned,
            otherwise only issues for the Shopping destination.
        merchantId:
          format: uint64
          type: string
          description: The ID of the managing account.
        batchId:
          type: integer
          format: uint32
          description: An entry ID, unique within the batch request.
    OrderMerchantProvidedAnnotation:
      properties:
        key:
          description: >-
            Key for additional merchant provided (as key-value pairs) annotation
            about the line item.
          type: string
        value:
          type: string
          description: >-
            Value for additional merchant provided (as key-value pairs)
            annotation about the line item.
      type: object
      id: OrderMerchantProvidedAnnotation
    OrdersSetLineItemMetadataRequest:
      type: object
      properties:
        productId:
          type: string
          description: >-
            The ID of the product to set metadata. This is the REST ID used in
            the products service. Either lineItemId or productId is required.
        lineItemId:
          description: >-
            The ID of the line item to set metadata. Either lineItemId or
            productId is required.
          type: string
        annotations:
          items:
            $ref: '#/components/schemas/OrderMerchantProvidedAnnotation'
          type: array
        operationId:
          type: string
          description: >-
            The ID of the operation. Unique across all operations for a given
            order.
      id: OrdersSetLineItemMetadataRequest
    ProductView:
      type: object
      description: >-
        Product fields. Values are only set for fields requested explicitly in
        the request's search query.
      id: ProductView
      properties:
        aggregatedDestinationStatus:
          enumDescriptions:
            - Undefined aggregated status.
            - Offer isn't eligible, or is disapproved for all destinations.
            - Offer's status is pending in all destinations.
            - Offer is eligible for some (but not all) destinations.
            - Offer is eligible for all destinations.
          enum:
            - AGGREGATED_STATUS_UNSPECIFIED
            - NOT_ELIGIBLE_OR_DISAPPROVED
            - PENDING
            - ELIGIBLE_LIMITED
            - ELIGIBLE
          description: Aggregated destination status.
          type: string
        itemIssues:
          type: array
          description: List of item issues for the product.
          items:
            $ref: '#/components/schemas/ProductViewItemIssue'
        currencyCode:
          type: string
          description: >-
            Product price currency code (for example, ISO 4217). Absent if
            product price is not available.
        productTypeL5:
          description: >-
            Fifth level of the product type in merchant's own [product
            taxonomy](https://support.google.com/merchants/answer/6324436).
          type: string
        brand:
          description: Brand of the product.
          type: string
        categoryL5:
          description: >-
            Fifth level of the product category in [Google's product
            taxonomy](https://support.google.com/merchants/answer/6324436).
          type: string
        availability:
          type: string
          description: Availability of the product.
        productTypeL2:
          type: string
          description: >-
            Second level of the product type in merchant's own [product
            taxonomy](https://support.google.com/merchants/answer/6324436).
        offerId:
          description: Merchant-provided id of the product.
          type: string
        id:
          type: string
          description: >-
            The REST ID of the product, in the form of
            channel:contentLanguage:targetCountry:offerId. Content API methods
            that operate on products take this as their productId parameter.
            Should always be included in the SELECT clause.
        shippingLabel:
          description: The normalized shipping label specified in the feed
          type: string
        productTypeL4:
          description: >-
            Fourth level of the product type in merchant's own [product
            taxonomy](https://support.google.com/merchants/answer/6324436).
          type: string
        categoryL1:
          description: >-
            First level of the product category in [Google's product
            taxonomy](https://support.google.com/merchants/answer/6324436).
          type: string
        productTypeL3:
          description: >-
            Third level of the product type in merchant's own [product
            taxonomy](https://support.google.com/merchants/answer/6324436).
          type: string
        categoryL3:
          type: string
          description: >-
            Third level of the product category in [Google's product
            taxonomy](https://support.google.com/merchants/answer/6324436).
        title:
          description: Title of the product.
          type: string
        creationTime:
          description: The time the merchant created the product in timestamp seconds.
          type: string
          format: google-datetime
        languageCode:
          description: Language code of the product in BCP 47 format.
          type: string
        categoryL4:
          type: string
          description: >-
            Fourth level of the product category in [Google's product
            taxonomy](https://support.google.com/merchants/answer/6324436).
        priceMicros:
          format: int64
          type: string
          description: >-
            Product price specified as micros (1 millionth of a standard unit, 1
            USD = 1000000 micros) in the product currency. Absent in case the
            information about the price of the product is not available.
        channel:
          type: string
          enum:
            - CHANNEL_UNSPECIFIED
            - LOCAL
            - ONLINE
          enumDescriptions:
            - Indicates that the channel is unspecified.
            - Indicates that the channel is local.
            - Indicates that the channel is online.
          description: Channel of the product (online versus local).
        gtin:
          items:
            type: string
          type: array
          description: GTIN of the product.
        condition:
          type: string
          description: Condition of the product.
        itemGroupId:
          description: >-
            Item group ID provided by the merchant for grouping variants
            together.
          type: string
        productTypeL1:
          description: >-
            First level of the product type in merchant's own [product
            taxonomy](https://support.google.com/merchants/answer/6324436).
          type: string
        expirationDate:
          description: Expiration date for the product. Specified on insertion.
          $ref: '#/components/schemas/Date'
        categoryL2:
          description: >-
            Second level of the product category in [Google's product
            taxonomy](https://support.google.com/merchants/answer/6324436).
          type: string
    AccountsCustomBatchRequestEntryLinkRequest:
      type: object
      id: AccountsCustomBatchRequestEntryLinkRequest
      properties:
        linkType:
          type: string
          description: >-
            Type of the link between the two accounts. Acceptable values are: -
            "`channelPartner`" - "`eCommercePlatform`" -
            "`paymentServiceProvider`" 
        services:
          type: array
          items:
            type: string
          description: >-
            Provided services. Acceptable values are: -
            "`shoppingAdsProductManagement`" -
            "`shoppingActionsProductManagement`" -
            "`shoppingActionsOrderManagement`" - "`paymentProcessing`" 
        action:
          type: string
          description: >-
            Action to perform for this link. The `"request"` action is only
            available to select merchants. Acceptable values are: - "`approve`"
            - "`remove`" - "`request`" 
        linkedAccountId:
          type: string
          description: The ID of the linked account.
    AccountTaxTaxRule:
      id: AccountTaxTaxRule
      description: Tax calculation rule to apply in a state or province (US only).
      type: object
      properties:
        ratePercent:
          type: string
          description: >-
            Explicit tax rate in percent, represented as a floating point number
            without the percentage character. Must not be negative.
        useGlobalRate:
          type: boolean
          description: >-
            Whether the tax rate is taken from a global tax table or specified
            explicitly.
        locationId:
          description: >-
            Required. State (or province) is which the tax is applicable,
            described by its location ID (also called criteria ID).
          format: uint64
          type: string
        shippingTaxed:
          type: boolean
          description: If true, shipping charges are also taxed.
        country:
          type: string
          description: Country code in which tax is applicable.
    ReturnPolicy:
      type: object
      properties:
        country:
          description: Required. The country of sale where the return policy is applicable.
          type: string
        seasonalOverrides:
          items:
            $ref: '#/components/schemas/ReturnPolicySeasonalOverride'
          type: array
          description: An optional list of seasonal overrides.
        policy:
          description: Required. The policy.
          $ref: '#/components/schemas/ReturnPolicyPolicy'
        returnShippingFee:
          $ref: '#/components/schemas/Price'
          description: The return shipping fee that will apply to non free return reasons.
        name:
          description: Required. The name of the policy as shown in Merchant Center.
          type: string
        returnPolicyId:
          type: string
          description: Return policy ID generated by Google.
        nonFreeReturnReasons:
          type: array
          description: Return reasons that will incur return fees.
          items:
            type: string
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#returnPolicy`"
        label:
          description: >-
            Required. The user-defined label of the return policy. For the
            default policy, use the label "default".
          type: string
      description: Return policy resource.
      id: ReturnPolicy
    OrdersCustomBatchRequestEntryUpdateShipmentScheduledDeliveryDetails:
      description: ScheduledDeliveryDetails used to update the scheduled delivery order.
      id: OrdersCustomBatchRequestEntryUpdateShipmentScheduledDeliveryDetails
      type: object
      properties:
        carrierPhoneNumber:
          description: >-
            The phone number of the carrier fulfilling the delivery. The phone
            number should be formatted as the international notation in
          type: string
        scheduledDate:
          type: string
          description: The date a shipment is scheduled for delivery, in ISO 8601 format.
    OrdersShipLineItemsResponse:
      id: OrdersShipLineItemsResponse
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#ordersShipLineItemsResponse`".
          type: string
        executionStatus:
          type: string
          description: >-
            The status of the execution. Acceptable values are: - "`duplicate`"
            - "`executed`" 
      type: object
    ReportInteractionRequest:
      properties:
        responseToken:
          description: Required. Token of the response when recommendation was returned.
          type: string
        subtype:
          description: >-
            Optional. Subtype of the recommendations this interaction happened
            on. This field must be set only to the value that is returned by
            {@link `RecommendationsService.GenerateRecommendations`} call.
          type: string
        interactionType:
          type: string
          enumDescriptions:
            - >-
              Default value. If provided, the service will throw ApiError with
              description "Required parameter: interactionType".
            - When a recommendation is dismissed.
            - When a recommendation is clicked.
          enum:
            - INTERACTION_TYPE_UNSPECIFIED
            - INTERACTION_DISMISS
            - INTERACTION_CLICK
          description: >-
            Required. Type of the interaction that is reported, for example
            INTERACTION_CLICK.
        type:
          description: >-
            Required. Type of the recommendations on which this interaction
            happened. This field must be set only to the value that is returned
            by {@link `GenerateRecommendationsResponse`} call.
          type: string
      id: ReportInteractionRequest
      description: Request to report interactions on a recommendation.
      type: object
    ReturnPolicyOnlineRestockingFee:
      description: The restocking fee. This can either be a fixed fee or a micro percent.
      id: ReturnPolicyOnlineRestockingFee
      type: object
      properties:
        fixedFee:
          $ref: '#/components/schemas/PriceAmount'
          description: Fixed restocking fee.
        microPercent:
          description: >-
            Percent of total price in micros. 15,000,000 means 15% of the total
            price would be charged.
          type: integer
          format: int32
    ListRepricingRuleReportsResponse:
      properties:
        repricingRuleReports:
          type: array
          items:
            $ref: '#/components/schemas/RepricingRuleReport'
          description: Daily reports for the given Repricing rule.
        nextPageToken:
          type: string
          description: >-
            A token for retrieving the next page. Its absence means there is no
            subsequent page.
      description: Response message for the ListRepricingRuleReports method.
      type: object
      id: ListRepricingRuleReportsResponse
    OrderreportsListTransactionsResponse:
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#orderreportsListTransactionsResponse`".
        transactions:
          items:
            $ref: '#/components/schemas/OrderReportTransaction'
          description: The list of transactions.
          type: array
        nextPageToken:
          description: The token for the retrieval of the next page of transactions.
          type: string
      type: object
      id: OrderreportsListTransactionsResponse
    ReturnaddressCustomBatchRequest:
      properties:
        entries:
          description: The request entries to be processed in the batch.
          items:
            $ref: '#/components/schemas/ReturnaddressCustomBatchRequestEntry'
          type: array
      id: ReturnaddressCustomBatchRequest
      type: object
    ProductstatusesCustomBatchResponse:
      type: object
      properties:
        entries:
          description: The result of the execution of the batch requests.
          type: array
          items:
            $ref: '#/components/schemas/ProductstatusesCustomBatchResponseEntry'
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#productstatusesCustomBatchResponse`".
          type: string
      id: ProductstatusesCustomBatchResponse
    ReturnAddress:
      description: Return address resource.
      id: ReturnAddress
      properties:
        returnAddressId:
          description: Return address ID generated by Google.
          type: string
        phoneNumber:
          type: string
          description: Required. The merchant's contact phone number regarding the return.
        label:
          description: >-
            Required. The user-defined label of the return address. For the
            default address, use the label "default".
          type: string
        address:
          description: Required. The address.
          $ref: '#/components/schemas/ReturnAddressAddress'
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#returnAddress`"
        country:
          type: string
          description: >-
            Required. The country of sale where the return address is
            applicable.
      type: object
    Value:
      properties:
        pricePercentage:
          type: string
          description: >-
            A percentage of the price represented as a number in decimal
            notation (for example, `"5.4"`). Can only be set if all other fields
            are not set.
        carrierRateName:
          description: >-
            The name of a carrier rate referring to a carrier rate defined in
            the same rate group. Can only be set if all other fields are not
            set.
          type: string
        noShipping:
          description: >-
            If true, then the product can't ship. Must be true when set, can
            only be set if all other fields are not set.
          type: boolean
        subtableName:
          description: >-
            The name of a subtable. Can only be set in table cells (not for
            single values), and only if all other fields are not set.
          type: string
        flatRate:
          $ref: '#/components/schemas/Price'
          description: A flat rate. Can only be set if all other fields are not set.
      type: object
      id: Value
      description: >-
        The single value of a rate group or the value of a rate group table's
        cell. Exactly one of `noShipping`, `flatRate`, `pricePercentage`,
        `carrierRateName`, `subtableName` must be set.
    LiaOnDisplayToOrderSettings:
      type: object
      properties:
        shippingCostPolicyUrl:
          type: string
          description: Shipping cost and policy URL.
        status:
          type: string
          description: >-
            The status of the ?On display to order? feature. Acceptable values
            are: - "`active`" - "`inactive`" - "`pending`" 
      id: LiaOnDisplayToOrderSettings
    LiasettingsCustomBatchRequestEntry:
      id: LiasettingsCustomBatchRequestEntry
      properties:
        accountId:
          type: string
          format: uint64
          description: The ID of the account for which to get/update account LIA settings.
        posExternalAccountId:
          type: string
          description: The account ID by which this merchant is known to the POS provider.
        gmbEmail:
          description: The Business Profile. Required only for RequestGmbAccess.
          type: string
        country:
          description: The country code. Required only for RequestInventoryVerification.
          type: string
        method:
          description: >-
            The method of the batch entry. Acceptable values are: - "`get`" -
            "`getAccessibleGmbAccounts`" - "`requestGmbAccess`" -
            "`requestInventoryVerification`" -
            "`setInventoryVerificationContact`" - "`update`" 
          type: string
        merchantId:
          description: The ID of the managing account.
          format: uint64
          type: string
        posDataProviderId:
          type: string
          format: uint64
          description: The ID of POS data provider. Required only for SetPosProvider.
        contactName:
          type: string
          description: >-
            Inventory validation contact name. Required only for
            SetInventoryValidationContact.
        contactEmail:
          type: string
          description: >-
            Inventory validation contact email. Required only for
            SetInventoryValidationContact.
        liaSettings:
          description: >-
            The account Lia settings to update. Only defined if the method is
            `update`.
          $ref: '#/components/schemas/LiaSettings'
        batchId:
          format: uint32
          description: An entry ID, unique within the batch request.
          type: integer
      type: object
    OrdersUpdateMerchantOrderIdResponse:
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#ordersUpdateMerchantOrderIdResponse`".
        executionStatus:
          type: string
          description: >-
            The status of the execution. Acceptable values are: - "`duplicate`"
            - "`executed`" 
      id: OrdersUpdateMerchantOrderIdResponse
      type: object
    AccounttaxCustomBatchResponse:
      type: object
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#accounttaxCustomBatchResponse`".
        entries:
          items:
            $ref: '#/components/schemas/AccounttaxCustomBatchResponseEntry'
          description: The result of the execution of the batch requests.
          type: array
      id: AccounttaxCustomBatchResponse
    LiasettingsCustomBatchResponseEntry:
      id: LiasettingsCustomBatchResponseEntry
      type: object
      properties:
        errors:
          description: A list of errors defined if, and only if, the request failed.
          $ref: '#/components/schemas/Errors'
        gmbAccounts:
          description: The list of accessible Business Profiles.
          $ref: '#/components/schemas/GmbAccounts'
        posDataProviders:
          type: array
          items:
            $ref: '#/components/schemas/PosDataProviders'
          description: The list of POS data providers.
        liaSettings:
          $ref: '#/components/schemas/LiaSettings'
          description: The retrieved or updated Lia settings.
        batchId:
          type: integer
          format: uint32
          description: The ID of the request entry to which this entry responds.
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#liasettingsCustomBatchResponseEntry`"
          type: string
    Collection:
      description: The collection message.
      type: object
      properties:
        language:
          description: >-
            The language of a collection and the language of any featured
            products linked to the collection. [language
            attribute](https://support.google.com/merchants/answer/9673781)
          type: string
        mobileLink:
          type: string
          description: >-
            A collection’s mobile-optimized landing page when you have a
            different URL for mobile and desktop traffic. [mobile_link
            attribute](https://support.google.com/merchants/answer/9646123)
        imageLink:
          description: >-
            The URL of a collection’s image. [image_link
            attribute](https://support.google.com/merchants/answer/9703236)
          type: array
          items:
            type: string
        productCountry:
          description: >-
            [product_country
            attribute](https://support.google.com/merchants/answer/9674155)
          type: string
        customLabel1:
          type: string
          description: >-
            Label that you assign to a collection to help organize bidding and
            reporting in Shopping campaigns.
        customLabel2:
          description: >-
            Label that you assign to a collection to help organize bidding and
            reporting in Shopping campaigns.
          type: string
        headline:
          description: >-
            Your collection's name. [headline
            attribute](https://support.google.com/merchants/answer/9673580)
          items:
            type: string
          type: array
        customLabel0:
          type: string
          description: >-
            Label that you assign to a collection to help organize bidding and
            reporting in Shopping campaigns. [Custom
            label](https://support.google.com/merchants/answer/9674217)
        featuredProduct:
          items:
            $ref: '#/components/schemas/CollectionFeaturedProduct'
          type: array
          description: >-
            This identifies one or more products associated with the collection.
            Used as a lookup to the corresponding product ID in your product
            feeds. Provide a maximum of 100 featuredProduct (for collections).
            Provide up to 10 featuredProduct (for Shoppable Images only) with ID
            and X and Y coordinates. [featured_product
            attribute](https://support.google.com/merchants/answer/9703736)
        link:
          type: string
          description: >-
            A collection’s landing page. URL directly linking to your
            collection's page on your website. [link
            attribute](https://support.google.com/merchants/answer/9673983)
        customLabel4:
          type: string
          description: >-
            Label that you assign to a collection to help organize bidding and
            reporting in Shopping campaigns.
        customLabel3:
          description: >-
            Label that you assign to a collection to help organize bidding and
            reporting in Shopping campaigns.
          type: string
        id:
          description: >-
            Required. The REST ID of the collection. Content API methods that
            operate on collections take this as their collectionId parameter.
            The REST ID for a collection is of the form collectionId. [id
            attribute](https://support.google.com/merchants/answer/9649290)
          type: string
      id: Collection
    WarehouseCutoffTime:
      type: object
      id: WarehouseCutoffTime
      properties:
        minute:
          format: int32
          type: integer
          description: >-
            Required. Minute of the cutoff time until which an order has to be
            placed to be processed in the same day by the warehouse. Minute is
            based on the timezone of warehouse.
        hour:
          description: >-
            Required. Hour (24-hour clock) of the cutoff time until which an
            order has to be placed to be processed in the same day by the
            warehouse. Hour is based on the timezone of warehouse.
          type: integer
          format: int32
    OnboardBuyOnGoogleProgramRequest:
      properties:
        customerServiceEmail:
          type: string
          description: The customer service email.
      description: Request message for the OnboardProgram method.
      type: object
      id: OnboardBuyOnGoogleProgramRequest
    PromotionPromotionStatusDestinationStatus:
      description: The destination status of the promotion.
      id: PromotionPromotionStatusDestinationStatus
      type: object
      properties:
        status:
          enumDescriptions:
            - Unknown promotion state.
            - The promotion is under review.
            - The promotion is disapproved
            - The promotion is approved and active.
            - The promotion is stopped by merchant.
            - The promotion is no longer active.
            - >-
              The promotion is not stopped, and all reviews are approved, but
              the active date is in the future.
          type: string
          description: The status for the specified destination.
          enum:
            - STATE_UNSPECIFIED
            - IN_REVIEW
            - REJECTED
            - LIVE
            - STOPPED
            - EXPIRED
            - PENDING
        destination:
          type: string
          description: The name of the destination.
    CutoffTime:
      type: object
      id: CutoffTime
      properties:
        hour:
          type: integer
          format: uint32
          description: >-
            Hour of the cutoff time until which an order has to be placed to be
            processed in the same day. Required.
        minute:
          description: >-
            Minute of the cutoff time until which an order has to be placed to
            be processed in the same day. Required.
          format: uint32
          type: integer
        timezone:
          description: >-
            Timezone identifier for the cutoff time (for example,
            "Europe/Zurich"). List of identifiers. Required.
          type: string
    ReturnaddressCustomBatchResponse:
      id: ReturnaddressCustomBatchResponse
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#returnaddressCustomBatchResponse`".
          type: string
        entries:
          description: The result of the execution of the batch requests.
          type: array
          items:
            $ref: '#/components/schemas/ReturnaddressCustomBatchResponseEntry'
      type: object
    DatafeedsListResponse:
      properties:
        resources:
          items:
            $ref: '#/components/schemas/Datafeed'
          type: array
        nextPageToken:
          description: The token for the retrieval of the next page of datafeeds.
          type: string
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#datafeedsListResponse`".
      type: object
      id: DatafeedsListResponse
    ShippingsettingsCustomBatchResponseEntry:
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#shippingsettingsCustomBatchResponseEntry`"
        shippingSettings:
          $ref: '#/components/schemas/ShippingSettings'
          description: The retrieved or updated account shipping settings.
        batchId:
          description: The ID of the request entry to which this entry responds.
          type: integer
          format: uint32
        errors:
          $ref: '#/components/schemas/Errors'
          description: >-
            A list of errors for failed custombatch entries. *Note:* Schema
            errors fail the whole request.
      id: ShippingsettingsCustomBatchResponseEntry
      description: A batch entry encoding a single non-batch shipping settings response.
      type: object
    LiaPosDataProvider:
      properties:
        posExternalAccountId:
          type: string
          description: >-
            The account ID by which this merchant is known to the POS data
            provider.
        posDataProviderId:
          type: string
          format: uint64
          description: The ID of the POS data provider.
      type: object
      id: LiaPosDataProvider
    RepricingRuleReport:
      properties:
        totalGmv:
          description: >-
            Total GMV generated by impacted products while the rule was active
            on the date of the report. This value includes all orders that were
            started while the rule was active, even if the rule was no longer
            active when the order was completed.
          $ref: '#/components/schemas/PriceAmount'
        date:
          $ref: '#/components/schemas/Date'
          description: >-
            Date of the stats in this report. The report starts and ends
            according to the merchant's timezone.
        ruleId:
          type: string
          description: Id of the Repricing rule for this report.
        buyboxWinningRuleStats:
          description: Stats specific to buybox winning rules for rule report (deprecated).
          $ref: '#/components/schemas/RepricingRuleReportBuyboxWinningRuleStats'
        type:
          description: Type of the rule.
          enum:
            - REPRICING_RULE_TYPE_UNSPECIFIED
            - TYPE_STATS_BASED
            - TYPE_COGS_BASED
            - TYPE_SALES_VOLUME_BASED
            - TYPE_COMPETITIVE_PRICE
          type: string
          enumDescriptions:
            - Unused.
            - >-
              Statistical measurement based rules among Google SA merchants. If
              this rule is chosen, repricer will adjust the offer price based on
              statistical metrics (currently only min is available) among other
              merchants who sell the same product. Details need to be provdided
              in the RuleDefinition.
            - >-
              Cost of goods sale based rule. Repricer will adjust the offer
              price based on the offer's sale cost which is provided by the
              merchant.
            - >-
              Sales volume based rule. Repricer will adjust the offer price
              based on the offer's sales volume in the past period of time
              defined within the rule.
            - >-
              Competitive price rule. Repricer will adjust the offer price based
              on the min price from a list of unnamed big competitors.
        inapplicabilityDetails:
          type: array
          description: >-
            List of all reasons the rule did not apply to the inapplicable
            products during the specified reporting period.
          items:
            $ref: '#/components/schemas/InapplicabilityDetails'
        impactedProducts:
          items:
            type: string
          type: array
          description: >-
            List of product ids that are impacted by this rule during this
            reporting period. Out of stock products and products not searched
            for by customers are examples of non-impacted products.
        orderItemCount:
          format: int32
          type: integer
          description: >-
            Total unit count of impacted products ordered while the rule was
            active on the date of the report. This count includes all orders
            that were started while the rule was active, even if the rule was no
            longer active when the order was completed.
        inapplicableProducts:
          type: array
          items:
            type: string
          description: >-
            List of product ids that are inapplicable to this rule during this
            reporting period. To get the inapplicable reason for a specific
            product, see RepricingProductReport.
      type: object
      id: RepricingRuleReport
      description: 'Resource that represents a daily Repricing rule report. Next ID: 11'
    DatafeedstatusesCustomBatchResponseEntry:
      type: object
      description: A batch entry encoding a single non-batch datafeedstatuses response.
      id: DatafeedstatusesCustomBatchResponseEntry
      properties:
        batchId:
          type: integer
          format: uint32
          description: The ID of the request entry this entry responds to.
        errors:
          $ref: '#/components/schemas/Errors'
          description: >-
            A list of errors for failed custombatch entries. *Note:* Schema
            errors fail the whole request.
        datafeedStatus:
          $ref: '#/components/schemas/DatafeedStatus'
          description: >-
            The requested data feed status. Defined if and only if the request
            was successful.
    MerchantOrderReturn:
      properties:
        orderId:
          description: Google order ID.
          type: string
        merchantOrderId:
          description: Merchant defined order ID.
          type: string
        returnPricingInfo:
          $ref: '#/components/schemas/ReturnPricingInfo'
          description: Information about shipping costs.
        creationDate:
          description: The date of creation of the return, in ISO 8601 format.
          type: string
        orderReturnId:
          description: Order return ID generated by Google.
          type: string
        returnShipments:
          items:
            $ref: '#/components/schemas/ReturnShipment'
          description: Shipments of the return.
          type: array
        returnItems:
          description: Items of the return.
          items:
            $ref: '#/components/schemas/MerchantOrderReturnItem'
          type: array
      type: object
      description: >-
        Order return. Production access (all methods) requires the order manager
        role. Sandbox access does not.
      id: MerchantOrderReturn
    ShipmentInvoiceLineItemInvoice:
      type: object
      properties:
        lineItemId:
          description: ID of the line item. Either lineItemId or productId must be set.
          type: string
        productId:
          type: string
          description: >-
            ID of the product. This is the REST ID used in the products service.
            Either lineItemId or productId must be set.
        unitInvoice:
          description: '[required] Invoice details for a single unit.'
          $ref: '#/components/schemas/UnitInvoice'
        shipmentUnitIds:
          items:
            type: string
          description: >-
            [required] The shipment unit ID is assigned by the merchant and
            defines individual quantities within a line item. The same ID can be
            assigned to units that are the same while units that differ must be
            assigned a different ID (for example: free or promotional units).
          type: array
      id: ShipmentInvoiceLineItemInvoice
    ListMethodQuotasResponse:
      description: Response message for the ListMethodQuotas method.
      id: ListMethodQuotasResponse
      properties:
        methodQuotas:
          type: array
          items:
            $ref: '#/components/schemas/MethodQuota'
          description: The current quota usage and limits per each method.
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      type: object
    AccountCredentials:
      properties:
        accessToken:
          type: string
          description: An OAuth access token.
        purpose:
          description: Indicates to Google how Google should use these OAuth tokens.
          type: string
          enum:
            - ACCOUNT_CREDENTIALS_PURPOSE_UNSPECIFIED
            - SHOPIFY_ORDER_MANAGEMENT
            - SHOPIFY_INTEGRATION
          enumDescriptions:
            - Unknown purpose.
            - >-
              The credentials allow Google to manage Shopify orders on behalf of
              the merchant (deprecated).
            - >-
              The credentials allow Google to manage Shopify integration on
              behalf of the merchant.
        expiresIn:
          format: int64
          description: >-
            The amount of time, in seconds, after which the access token is no
            longer valid.
          type: string
      type: object
      id: AccountCredentials
      description: >-
        Credentials allowing Google to call a partner's API on behalf of a
        merchant.
    OrderShipmentLineItemShipment:
      type: object
      id: OrderShipmentLineItemShipment
      properties:
        lineItemId:
          description: >-
            The ID of the line item that is shipped. This value is assigned by
            Google when an order is created. Either lineItemId or productId is
            required.
          type: string
        quantity:
          format: uint32
          description: The quantity that is shipped.
          type: integer
        productId:
          type: string
          description: >-
            The ID of the product to ship. This is the REST ID used in the
            products service. Either lineItemId or productId is required.
    PosCustomBatchRequest:
      id: PosCustomBatchRequest
      type: object
      properties:
        entries:
          items:
            $ref: '#/components/schemas/PosCustomBatchRequestEntry'
          description: The request entries to be processed in the batch.
          type: array
    DatafeedTarget:
      properties:
        includedDestinations:
          items:
            type: string
          description: >-
            The list of destinations to include for this target (corresponds to
            checked check boxes in Merchant Center). Default destinations are
            always included unless provided in `excludedDestinations`.
          type: array
        language:
          type: string
          description: >-
            The two-letter ISO 639-1 language of the items in the feed. Must be
            a valid language for `targets[].country`.
        targetCountries:
          items:
            type: string
          type: array
          description: >-
            The countries where the items may be displayed. Represented as a
            CLDR territory code. Will be ignored for "product inventory" feeds.
        excludedDestinations:
          description: >-
            The list of destinations to exclude for this target (corresponds to
            cleared check boxes in Merchant Center). Products that are excluded
            from all destinations for more than 7 days are automatically
            deleted.
          items:
            type: string
          type: array
        country:
          description: >-
            Deprecated. Use `feedLabel` instead. The country where the items in
            the feed will be included in the search index, represented as a CLDR
            territory code.
          type: string
        feedLabel:
          description: >-
            Feed label for the DatafeedTarget. Either `country` or `feedLabel`
            is required. If both `feedLabel` and `country` is specified, the
            values must match. Must be less than or equal to 20 uppercase
            letters (A-Z), numbers (0-9), and dashes (-).
          type: string
      type: object
      id: DatafeedTarget
    RepricingRuleRestrictionBoundary:
      id: RepricingRuleRestrictionBoundary
      properties:
        priceDelta:
          description: >-
            The price micros relative to the offer selling price. This field is
            signed. It must be negative in floor. For example, if an offer is
            selling at $10 and this field is -$2 in floor, the repricing rule
            only applies if the calculated new price is >= $8.
          type: string
        percentageDelta:
          format: int32
          description: >-
            The percentage delta relative to the offer selling price. This field
            is signed. It must be negative in floor. When it is used in floor,
            it should be > -100. For example, if an offer is selling at $10 and
            this field is -30 in floor, the repricing rule only applies if the
            calculated new price is >= $7.
          type: integer
      type: object
      description: Definition of a boundary.
    DeliveryArea:
      id: DeliveryArea
      description: >-
        A delivery area for the product. Only one of `countryCode` or
        `postalCodeRange` must be set.
      properties:
        regionCode:
          type: string
          description: >-
            A state, territory, or prefecture. This is supported for the United
            States, Australia, and Japan. Provide a subdivision code from the
            ISO 3166-2 code tables
            ([US](https://en.wikipedia.org/wiki/ISO_3166-2:US),
            [AU](https://en.wikipedia.org/wiki/ISO_3166-2:AU), or
            [JP](https://en.wikipedia.org/wiki/ISO_3166-2:JP)) without country
            prefix (for example, `"NY"`, `"NSW"`, `"03"`).
        countryCode:
          description: >-
            Required. The country that the product can be delivered to. Submit a
            [unicode CLDR
            region](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml)
            such as `US` or `CH`.
          type: string
        postalCodeRange:
          $ref: '#/components/schemas/DeliveryAreaPostalCodeRange'
          description: >-
            A postal code, postal code range or postal code prefix that defines
            this area. Limited to US and AUS.
      type: object
    RegionPostalCodeArea:
      description: >-
        A list of postal codes that defines the region area. Note: All regions
        defined using postal codes are accessible via the account's
        `ShippingSettings.postalCodeGroups` resource.
      id: RegionPostalCodeArea
      type: object
      properties:
        regionCode:
          description: >-
            Required. CLDR territory code or the country the postal code group
            applies to.
          type: string
        postalCodes:
          type: array
          description: Required. A range of postal codes.
          items:
            $ref: '#/components/schemas/RegionPostalCodeAreaPostalCodeRange'
    OrdersUpdateMerchantOrderIdRequest:
      type: object
      properties:
        operationId:
          description: >-
            The ID of the operation. Unique across all operations for a given
            order.
          type: string
        merchantOrderId:
          type: string
          description: >-
            The merchant order id to be assigned to the order. Must be unique
            per merchant.
      id: OrdersUpdateMerchantOrderIdRequest
    PosSaleRequest:
      id: PosSaleRequest
      properties:
        timestamp:
          type: string
          description: Required. The inventory timestamp, in ISO 8601 format.
        contentLanguage:
          description: Required. The two-letter ISO 639-1 language code for the item.
          type: string
        saleId:
          description: A unique ID to group items from the same sale event.
          type: string
        gtin:
          description: Global Trade Item Number.
          type: string
        targetCountry:
          type: string
          description: Required. The CLDR territory code for the item.
        price:
          description: Required. The price of the item.
          $ref: '#/components/schemas/Price'
        itemId:
          type: string
          description: Required. A unique identifier for the item.
        storeCode:
          description: >-
            Required. The identifier of the merchant's store. Either a
            `storeCode` inserted through the API or the code of the store in a
            Business Profile.
          type: string
        quantity:
          format: int64
          type: string
          description: >-
            Required. The relative change of the available quantity. Negative
            for items returned.
      type: object
    SearchRequest:
      description: Request message for the ReportService.Search method.
      properties:
        query:
          description: >-
            Required. Query that defines performance metrics to retrieve and
            dimensions according to which the metrics are to be segmented. For
            details on how to construct your query, see the [Query Language
            guide](https://developers.google.com/shopping-content/guides/reports/query-language/overview).
          type: string
        pageSize:
          format: int32
          description: >-
            Number of ReportRows to retrieve in a single page. Defaults to the
            maximum of 1000. Values above 1000 are coerced to 1000.
          type: integer
        pageToken:
          type: string
          description: >-
            Token of the page to retrieve. If not specified, the first page of
            results is returned. In order to request the next page of results,
            the value obtained from `next_page_token` in the previous response
            should be used.
      type: object
      id: SearchRequest
    OrderinvoicesCreateRefundInvoiceResponse:
      properties:
        executionStatus:
          type: string
          description: >-
            The status of the execution. Acceptable values are: - "`duplicate`"
            - "`executed`" 
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#orderinvoicesCreateRefundInvoiceResponse`".
      type: object
      id: OrderinvoicesCreateRefundInvoiceResponse
    TransitTableTransitTimeRowTransitTimeValue:
      id: TransitTableTransitTimeRowTransitTimeValue
      properties:
        maxTransitTimeInDays:
          type: integer
          description: Must be greater than or equal to `minTransitTimeInDays`.
          format: uint32
        minTransitTimeInDays:
          type: integer
          format: uint32
          description: >-
            Transit time range (min-max) in business days. 0 means same day
            delivery, 1 means next day delivery.
      type: object
    CollectionStatusItemLevelIssue:
      id: CollectionStatusItemLevelIssue
      properties:
        detail:
          description: A detailed issue description in English.
          type: string
        applicableCountries:
          items:
            type: string
          description: Country codes (ISO 3166-1 alpha-2) where issue applies to the offer.
          type: array
        servability:
          type: string
          description: How this issue affects the serving of the collection.
        attributeName:
          description: The attribute's name, if the issue is caused by a single attribute.
          type: string
        description:
          description: A short issue description in English.
          type: string
        documentation:
          description: The URL of a web page to help with resolving this issue.
          type: string
        resolution:
          type: string
          description: Whether the issue can be resolved by the merchant.
        destination:
          type: string
          description: The destination the issue applies to.
        code:
          description: The error code of the issue.
          type: string
      description: Issue associated with the collection.
      type: object
    OrderreturnsAcknowledgeResponse:
      type: object
      properties:
        executionStatus:
          type: string
          description: >-
            The status of the execution. Acceptable values are: - "`duplicate`"
            - "`executed`" 
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#orderreturnsAcknowledgeResponse`".
          type: string
      id: OrderreturnsAcknowledgeResponse
    OrderinvoicesCreateRefundInvoiceRequest:
      id: OrderinvoicesCreateRefundInvoiceRequest
      properties:
        shipmentInvoices:
          items:
            $ref: '#/components/schemas/ShipmentInvoice'
          description: Invoice details for different shipment groups.
          type: array
        returnOption:
          $ref: >-
            #/components/schemas/OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption
          description: >-
            Option to create an invoice for a refund and mark all items within
            the invoice as returned. Exactly one of `refundOnlyOption` or
            `returnOption` must be provided.
        operationId:
          description: >-
            [required] The ID of the operation, unique across all operations for
            a given order.
          type: string
        invoiceId:
          type: string
          description: '[required] The ID of the invoice.'
        refundOnlyOption:
          $ref: >-
            #/components/schemas/OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption
          description: >-
            Option to create a refund-only invoice. Exactly one of
            `refundOnlyOption` or `returnOption` must be provided.
      type: object
    TestOrderDeliveryDetails:
      properties:
        isScheduledDelivery:
          type: boolean
          description: Whether the order is scheduled delivery order.
        phoneNumber:
          type: string
          description: The phone number of the person receiving the delivery.
        address:
          $ref: '#/components/schemas/TestOrderAddress'
          description: The delivery address
      type: object
      id: TestOrderDeliveryDetails
    PickupServicesPickupService:
      type: object
      id: PickupServicesPickupService
      properties:
        country:
          type: string
          description: >-
            The CLDR country code of the carrier (for example, "US"). Always
            present.
        carrierName:
          description: The name of the carrier (for example, `"UPS"`). Always present.
          type: string
        serviceName:
          type: string
          description: >-
            The name of the pickup service (for example, `"Access point"`).
            Always present.
    OrderreturnsProcessResponse:
      properties:
        executionStatus:
          description: >-
            The status of the execution. Acceptable values are: - "`duplicate`"
            - "`executed`" 
          type: string
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#orderreturnsProcessResponse`".
          type: string
      id: OrderreturnsProcessResponse
      type: object
    AccountStatusAccountLevelIssue:
      id: AccountStatusAccountLevelIssue
      properties:
        severity:
          description: >-
            Severity of the issue. Acceptable values are: - "`critical`" -
            "`error`" - "`suggestion`" 
          type: string
        detail:
          type: string
          description: Additional details about the issue.
        id:
          description: Issue identifier.
          type: string
        documentation:
          description: The URL of a web page to help resolving this issue.
          type: string
        title:
          type: string
          description: Short description of the issue.
        country:
          description: Country for which this issue is reported.
          type: string
        destination:
          type: string
          description: >-
            The destination the issue applies to. If this field is empty then
            the issue applies to all available destinations.
      type: object
    AccountUser:
      type: object
      properties:
        admin:
          description: Whether user is an admin.
          type: boolean
        paymentsAnalyst:
          type: boolean
          description: Whether user can access payment statements.
        paymentsManager:
          description: Whether user can manage payment settings.
          type: boolean
        emailAddress:
          type: string
          description: User's email address.
        orderManager:
          type: boolean
          description: Whether user is an order manager.
        reportingManager:
          description: Whether user is a reporting manager.
          type: boolean
      id: AccountUser
    OrdersShipLineItemsRequest:
      properties:
        shipmentGroupId:
          type: string
          description: >-
            ID of the shipment group. Required for orders that use the
            orderinvoices service.
        operationId:
          description: >-
            The ID of the operation. Unique across all operations for a given
            order.
          type: string
        shipmentInfos:
          items:
            $ref: >-
              #/components/schemas/OrdersCustomBatchRequestEntryShipLineItemsShipmentInfo
          type: array
          description: >-
            Shipment information. This field is repeated because a single line
            item can be shipped in several packages (and have several tracking
            IDs).
        lineItems:
          description: Line items to ship.
          type: array
          items:
            $ref: '#/components/schemas/OrderShipmentLineItemShipment'
      type: object
      id: OrdersShipLineItemsRequest
    OrderReturn:
      properties:
        actor:
          description: >-
            The actor that created the refund. Acceptable values are: -
            "`customer`" - "`googleBot`" - "`googleCustomerService`" -
            "`googlePayments`" - "`googleSabre`" - "`merchant`" 
          type: string
        reasonText:
          description: The explanation of the reason.
          type: string
        reason:
          description: >-
            The reason for the return. Acceptable values are: -
            "`customerDiscretionaryReturn`" -
            "`customerInitiatedMerchantCancel`" - "`deliveredTooLate`" -
            "`expiredItem`" - "`invalidCoupon`" - "`malformedShippingAddress`" -
            "`other`" - "`productArrivedDamaged`" - "`productNotAsDescribed`" -
            "`qualityNotAsExpected`" - "`undeliverableShippingAddress`" -
            "`unsupportedPoBoxAddress`" - "`wrongProductShipped`" 
          type: string
        quantity:
          format: uint32
          description: Quantity that is returned.
          type: integer
        creationDate:
          type: string
          description: Date on which the item has been created, in ISO 8601 format.
      type: object
      id: OrderReturn
    ProductProductDetail:
      type: object
      id: ProductProductDetail
      properties:
        sectionName:
          description: The section header used to group a set of product details.
          type: string
        attributeName:
          description: The name of the product detail.
          type: string
        attributeValue:
          type: string
          description: The value of the product detail.
    AccountsCustomBatchResponseEntry:
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#accountsCustomBatchResponseEntry`"
          type: string
        errors:
          description: >-
            A list of errors for failed custombatch entries. *Note:* Schema
            errors fail the whole request.
          $ref: '#/components/schemas/Errors'
        batchId:
          format: uint32
          type: integer
          description: The ID of the request entry this entry responds to.
        account:
          description: >-
            The retrieved, created, or updated account. Not defined if the
            method was `delete`, `claimwebsite` or `link`.
          $ref: '#/components/schemas/Account'
      type: object
      description: A batch entry encoding a single non-batch accounts response.
      id: AccountsCustomBatchResponseEntry
    LiasettingsGetAccessibleGmbAccountsResponse:
      id: LiasettingsGetAccessibleGmbAccountsResponse
      type: object
      properties:
        gmbAccounts:
          type: array
          description: A list of Business Profiles which are available to the merchant.
          items:
            $ref: '#/components/schemas/GmbAccountsGmbAccount'
        accountId:
          description: The ID of the Merchant Center account.
          format: uint64
          type: string
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#liasettingsGetAccessibleGmbAccountsResponse`".
    PickupCarrierService:
      type: object
      id: PickupCarrierService
      properties:
        serviceName:
          description: >-
            The name of the pickup service (for example, `"Access point"`).
            Required.
          type: string
        carrierName:
          type: string
          description: The name of the pickup carrier (for example, `"UPS"`). Required.
    Css:
      properties:
        cssDomainId:
          type: string
          readOnly: true
          format: int64
          description: Output only. Immutable. The CSS domain ID.
        fullName:
          readOnly: true
          type: string
          description: Output only. Immutable. The CSS domain's full name.
        homepageUri:
          description: Output only. Immutable. The CSS domain's homepage.
          readOnly: true
          type: string
        displayName:
          description: >-
            Output only. Immutable. The CSS domain's display name, used when
            space is constrained.
          readOnly: true
          type: string
        cssGroupId:
          format: int64
          readOnly: true
          type: string
          description: >-
            Output only. Immutable. The ID of the CSS group this CSS domain is
            affiliated with. Only populated for CSS group users.
        labelIds:
          items:
            format: int64
            type: string
          description: >-
            A list of label IDs that are assigned to this CSS domain by its CSS
            group. Only populated for CSS group users.
          type: array
      type: object
      id: Css
      description: Information about CSS domain.
    OrderinvoicesCreateChargeInvoiceRequest:
      properties:
        lineItemInvoices:
          description: '[required] Invoice details per line item.'
          items:
            $ref: '#/components/schemas/ShipmentInvoiceLineItemInvoice'
          type: array
        invoiceId:
          description: '[required] The ID of the invoice.'
          type: string
        shipmentGroupId:
          description: >-
            [required] ID of the shipment group. It is assigned by the merchant
            in the `shipLineItems` method and is used to group multiple line
            items that have the same kind of shipping charges.
          type: string
        operationId:
          type: string
          description: >-
            [required] The ID of the operation, unique across all operations for
            a given order.
        invoiceSummary:
          $ref: '#/components/schemas/InvoiceSummary'
          description: '[required] Invoice summary.'
      id: OrderinvoicesCreateChargeInvoiceRequest
      type: object
    AccountStatus:
      id: AccountStatus
      description: >-
        The status of an account, that is, information about its products, which
        is computed offline and not returned immediately at insertion time.
      type: object
      properties:
        accountId:
          description: The ID of the account for which the status is reported.
          type: string
        websiteClaimed:
          description: Whether the account's website is claimed or not.
          type: boolean
        accountLevelIssues:
          items:
            $ref: '#/components/schemas/AccountStatusAccountLevelIssue'
          description: A list of account level issues.
          type: array
        products:
          description: >-
            List of product-related data by channel, destination, and country.
            Data in this field may be delayed by up to 30 minutes.
          items:
            $ref: '#/components/schemas/AccountStatusProducts'
          type: array
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "`content#accountStatus`"
          type: string
        accountManagement:
          type: string
          description: >-
            How the account is managed. Acceptable values are: - "`manual`" -
            "`automatic`" 
    ProductUnitPricingBaseMeasure:
      id: ProductUnitPricingBaseMeasure
      type: object
      properties:
        value:
          format: int64
          type: string
          description: The denominator of the unit price.
        unit:
          type: string
          description: The unit of the denominator.
    OrderReportDisbursement:
      description: Order disbursement. All methods require the payment analyst role.
      type: object
      id: OrderReportDisbursement
      properties:
        disbursementId:
          description: The ID of the disbursement.
          type: string
        disbursementAmount:
          description: The disbursement amount.
          $ref: '#/components/schemas/Price'
        disbursementDate:
          description: The date the disbursement was initiated, in ISO 8601 format.
          type: string
        disbursementCreationDate:
          description: The disbursement date, in ISO 8601 format.
          type: string
        merchantId:
[...]
