openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Data Loss Prevention (DLP)
  description: >-
    Provides methods for detection, risk analysis, and de-identification of
    privacy-sensitive fragments in text, images, and Google Cloud Platform
    storage repositories.
  version: v2
  x-discovery-doc-revision: '20230618'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/dlp/docs/
servers:
  - url: https://dlp.googleapis.com
components:
  schemas:
    GooglePrivacyDlpV2QuoteInfo:
      description: Message for infoType-dependent details parsed from quote.
      type: object
      id: GooglePrivacyDlpV2QuoteInfo
      properties:
        dateTime:
          description: The date time indicated by the quote.
          $ref: '#/components/schemas/GooglePrivacyDlpV2DateTime'
    GooglePrivacyDlpV2TransformationResultStatus:
      type: object
      properties:
        resultStatusType:
          enum:
            - STATE_TYPE_UNSPECIFIED
            - INVALID_TRANSFORM
            - BIGQUERY_MAX_ROW_SIZE_EXCEEDED
            - METADATA_UNRETRIEVABLE
            - SUCCESS
          type: string
          description: >-
            Transformation result status type, this will be either SUCCESS, or
            it will be the reason for why the transformation was not completely
            successful.
          enumDescriptions:
            - ''
            - >-
              This will be set when a finding could not be transformed (i.e.
              outside user set bucket range).
            - >-
              This will be set when a BigQuery transformation was successful but
              could not be stored back in BigQuery because the transformed row
              exceeds BigQuery's max row size.
            - >-
              This will be set when there is a finding in the custom metadata of
              a file, but at the write time of the transformed file, this key /
              value pair is unretrievable.
            - >-
              This will be set when the transformation and storing of it is
              successful.
        details:
          $ref: '#/components/schemas/GoogleRpcStatus'
          description: Detailed error codes and messages
      id: GooglePrivacyDlpV2TransformationResultStatus
    GooglePrivacyDlpV2KAnonymityHistogramBucket:
      id: GooglePrivacyDlpV2KAnonymityHistogramBucket
      description: Histogram of k-anonymity equivalence classes.
      properties:
        equivalenceClassSizeLowerBound:
          type: string
          description: Lower bound on the size of the equivalence classes in this bucket.
          format: int64
        bucketValueCount:
          format: int64
          description: Total number of distinct equivalence classes in this bucket.
          type: string
        bucketValues:
          type: array
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2KAnonymityEquivalenceClass'
          description: >-
            Sample of equivalence classes in this bucket. The total number of
            classes returned per bucket is capped at 20.
        bucketSize:
          description: Total number of equivalence classes in this bucket.
          type: string
          format: int64
        equivalenceClassSizeUpperBound:
          description: Upper bound on the size of the equivalence classes in this bucket.
          format: int64
          type: string
      type: object
    GooglePrivacyDlpV2Color:
      properties:
        blue:
          type: number
          description: The amount of blue in the color as a value in the interval [0, 1].
          format: float
        red:
          type: number
          format: float
          description: The amount of red in the color as a value in the interval [0, 1].
        green:
          format: float
          description: The amount of green in the color as a value in the interval [0, 1].
          type: number
      id: GooglePrivacyDlpV2Color
      description: Represents a color in the RGB color space.
      type: object
    GooglePrivacyDlpV2TransformationSummary:
      type: object
      description: >-
        Summary of a single transformation. Only one of 'transformation',
        'field_transformation', or 'record_suppress' will be set.
      id: GooglePrivacyDlpV2TransformationSummary
      properties:
        fieldTransformations:
          description: >-
            The field transformation that was applied. If multiple field
            transformations are requested for a single field, this list will
            contain all of them; otherwise, only one is supplied.
          type: array
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2FieldTransformation'
        transformation:
          description: The specific transformation these stats apply to.
          $ref: '#/components/schemas/GooglePrivacyDlpV2PrimitiveTransformation'
        field:
          $ref: '#/components/schemas/GooglePrivacyDlpV2FieldId'
          description: Set if the transformation was limited to a specific FieldId.
        infoType:
          $ref: '#/components/schemas/GooglePrivacyDlpV2InfoType'
          description: Set if the transformation was limited to a specific InfoType.
        recordSuppress:
          $ref: '#/components/schemas/GooglePrivacyDlpV2RecordSuppression'
          description: The specific suppression option these stats apply to.
        results:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2SummaryResult'
          description: Collection of all transformations that took place or had an error.
          type: array
        transformedBytes:
          format: int64
          description: Total size in bytes that were transformed in some way.
          type: string
    GooglePrivacyDlpV2ReplaceDictionaryConfig:
      id: GooglePrivacyDlpV2ReplaceDictionaryConfig
      description: >-
        Replace each input value with a value randomly selected from the
        dictionary.
      properties:
        wordList:
          $ref: '#/components/schemas/GooglePrivacyDlpV2WordList'
          description: >-
            A list of words to select from for random replacement. The
            [limits](https://cloud.google.com/dlp/limits) page contains details
            about the size limits of dictionaries.
      type: object
    GooglePrivacyDlpV2RecordCondition:
      id: GooglePrivacyDlpV2RecordCondition
      description: >-
        A condition for determining whether a transformation should be applied
        to a field.
      properties:
        expressions:
          $ref: '#/components/schemas/GooglePrivacyDlpV2Expressions'
          description: An expression.
      type: object
    GooglePrivacyDlpV2Expressions:
      description: An expression, consisting of an operator and conditions.
      type: object
      properties:
        logicalOperator:
          enumDescriptions:
            - Unused
            - Conditional AND
          description: >-
            The operator to apply to the result of conditions. Default and
            currently only supported value is `AND`.
          enum:
            - LOGICAL_OPERATOR_UNSPECIFIED
            - AND
          type: string
        conditions:
          description: Conditions to apply to the expression.
          $ref: '#/components/schemas/GooglePrivacyDlpV2Conditions'
      id: GooglePrivacyDlpV2Expressions
    GooglePrivacyDlpV2Action:
      description: >-
        A task to execute on the completion of a job. See
        https://cloud.google.com/dlp/docs/concepts-actions to learn more.
      id: GooglePrivacyDlpV2Action
      type: object
      properties:
        pubSub:
          $ref: '#/components/schemas/GooglePrivacyDlpV2PublishToPubSub'
          description: Publish a notification to a Pub/Sub topic.
        publishToStackdriver:
          $ref: '#/components/schemas/GooglePrivacyDlpV2PublishToStackdriver'
          description: Enable Stackdriver metric dlp.googleapis.com/finding_count.
        publishFindingsToCloudDataCatalog:
          $ref: >-
            #/components/schemas/GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog
          description: Publish findings to Cloud Datahub.
        jobNotificationEmails:
          description: >-
            Sends an email when the job completes. The email goes to IAM project
            owners and technical [Essential
            Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts).
          $ref: '#/components/schemas/GooglePrivacyDlpV2JobNotificationEmails'
        deidentify:
          description: Create a de-identified copy of the input data.
          $ref: '#/components/schemas/GooglePrivacyDlpV2Deidentify'
        saveFindings:
          description: Save resulting findings in a provided location.
          $ref: '#/components/schemas/GooglePrivacyDlpV2SaveFindings'
        publishSummaryToCscc:
          $ref: '#/components/schemas/GooglePrivacyDlpV2PublishSummaryToCscc'
          description: Publish summary to Cloud Security Command Center (Alpha).
    GooglePrivacyDlpV2DataProfileJobConfig:
      description: >-
        Configuration for setting up a job to scan resources for profile
        generation. Only one data profile configuration may exist per
        organization, folder, or project. The generated data profiles are
        retained according to the [data retention policy]
        (https://cloud.google.com/dlp/docs/data-profiles#retention).
      id: GooglePrivacyDlpV2DataProfileJobConfig
      type: object
      properties:
        dataProfileActions:
          type: array
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2DataProfileAction'
          description: Actions to execute at the completion of the job.
        projectId:
          description: >-
            The project that will run the scan. The DLP service account that
            exists within this project must have access to all resources that
            are profiled, and the Cloud DLP API must be enabled.
          type: string
        inspectTemplates:
          items:
            type: string
          type: array
          description: >-
            Detection logic for profile generation. Not all template features
            are used by profiles. FindingLimits, include_quote and
            exclude_info_types have no impact on data profiling. Multiple
            templates may be provided if there is data in multiple regions. At
            most one template must be specified per-region (including "global").
            Each region is scanned using the applicable template. If no
            region-specific template is specified, but a "global" template is
            specified, it will be copied to that region and used instead. If no
            global or region-specific template is provided for a region with
            data, that region's data will not be scanned. For more information,
            see https://cloud.google.com/dlp/docs/data-profiles#data_residency.
        location:
          $ref: '#/components/schemas/GooglePrivacyDlpV2DataProfileLocation'
          description: The data to scan.
    GooglePrivacyDlpV2FixedSizeBucketingConfig:
      properties:
        lowerBound:
          $ref: '#/components/schemas/GooglePrivacyDlpV2Value'
          description: >-
            Required. Lower bound value of buckets. All values less than
            `lower_bound` are grouped together into a single bucket; for example
            if `lower_bound` = 10, then all values less than 10 are replaced
            with the value "-10".
        upperBound:
          description: >-
            Required. Upper bound value of buckets. All values greater than
            upper_bound are grouped together into a single bucket; for example
            if `upper_bound` = 89, then all values greater than 89 are replaced
            with the value "89+".
          $ref: '#/components/schemas/GooglePrivacyDlpV2Value'
        bucketSize:
          type: number
          description: >-
            Required. Size of each bucket (except for minimum and maximum
            buckets). So if `lower_bound` = 10, `upper_bound` = 89, and
            `bucket_size` = 10, then the following buckets would be used: -10,
            10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-89, 89+.
            Precision up to 2 decimals works.
          format: double
      type: object
      description: >-
        Buckets values based on fixed size ranges. The Bucketing transformation
        can provide all of this functionality, but requires more configuration.
        This message is provided as a convenience to the user for simple
        bucketing strategies. The transformed value will be a hyphenated string
        of {lower_bound}-{upper_bound}. For example, if lower_bound = 10 and
        upper_bound = 20, all values that are within this bucket will be
        replaced with "10-20". This can be used on data of type: double, long.
        If the bound Value type differs from the type of data being transformed,
        we will first attempt converting the type of the data to be transformed
        to match the type of the bound before comparing. See
        https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.
      id: GooglePrivacyDlpV2FixedSizeBucketingConfig
    GooglePrivacyDlpV2PubSubExpressions:
      properties:
        logicalOperator:
          enum:
            - LOGICAL_OPERATOR_UNSPECIFIED
            - OR
            - AND
          type: string
          description: The operator to apply to the collection of conditions.
          enumDescriptions:
            - Unused.
            - Conditional OR.
            - Conditional AND.
        conditions:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2PubSubCondition'
          description: Conditions to apply to the expression.
          type: array
      description: An expression, consisting of an operator and conditions.
      id: GooglePrivacyDlpV2PubSubExpressions
      type: object
    GooglePrivacyDlpV2ImageLocation:
      id: GooglePrivacyDlpV2ImageLocation
      type: object
      description: Location of the finding within an image.
      properties:
        boundingBoxes:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2BoundingBox'
          description: >-
            Bounding boxes locating the pixels within the image containing the
            finding.
          type: array
    GooglePrivacyDlpV2RequestedRiskAnalysisOptions:
      id: GooglePrivacyDlpV2RequestedRiskAnalysisOptions
      type: object
      properties:
        jobConfig:
          $ref: '#/components/schemas/GooglePrivacyDlpV2RiskAnalysisJobConfig'
          description: The job config for the risk job.
      description: Risk analysis options.
    GooglePrivacyDlpV2ReidentifyContentRequest:
      properties:
        inspectTemplateName:
          type: string
          description: >-
            Template to use. Any configuration directly specified in
            `inspect_config` will override those set in the template. Singular
            fields that are set in this request will replace their corresponding
            fields in the template. Repeated fields are appended. Singular
            sub-messages and groups are recursively merged.
        item:
          description: The item to re-identify. Will be treated as text.
          $ref: '#/components/schemas/GooglePrivacyDlpV2ContentItem'
        reidentifyConfig:
          description: >-
            Configuration for the re-identification of the content item. This
            field shares the same proto message type that is used for
            de-identification, however its usage here is for the reversal of the
            previous de-identification. Re-identification is performed by
            examining the transformations used to de-identify the items and
            executing the reverse. This requires that only reversible
            transformations be provided here. The reversible transformations
            are: - `CryptoDeterministicConfig` - `CryptoReplaceFfxFpeConfig`
          $ref: '#/components/schemas/GooglePrivacyDlpV2DeidentifyConfig'
        locationId:
          description: Deprecated. This field has no effect.
          type: string
        reidentifyTemplateName:
          description: >-
            Template to use. References an instance of `DeidentifyTemplate`. Any
            configuration directly specified in `reidentify_config` or
            `inspect_config` will override those set in the template. The
            `DeidentifyTemplate` used must include only reversible
            transformations. Singular fields that are set in this request will
            replace their corresponding fields in the template. Repeated fields
            are appended. Singular sub-messages and groups are recursively
            merged.
          type: string
        inspectConfig:
          $ref: '#/components/schemas/GooglePrivacyDlpV2InspectConfig'
          description: Configuration for the inspector.
      description: Request to re-identify an item.
      type: object
      id: GooglePrivacyDlpV2ReidentifyContentRequest
    GooglePrivacyDlpV2RedactImageRequest:
      description: >-
        Request to search for potentially sensitive info in an image and redact
        it by covering it with a colored rectangle.
      properties:
        byteItem:
          description: The content must be PNG, JPEG, SVG or BMP.
          $ref: '#/components/schemas/GooglePrivacyDlpV2ByteContentItem'
        inspectConfig:
          description: Configuration for the inspector.
          $ref: '#/components/schemas/GooglePrivacyDlpV2InspectConfig'
        locationId:
          description: Deprecated. This field has no effect.
          type: string
        imageRedactionConfigs:
          description: The configuration for specifying what content to redact from images.
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2ImageRedactionConfig'
          type: array
        includeFindings:
          type: boolean
          description: >-
            Whether the response should include findings along with the redacted
            image.
      type: object
      id: GooglePrivacyDlpV2RedactImageRequest
    GooglePrivacyDlpV2InfoTypeCategory:
      description: >-
        Classification of infoTypes to organize them according to geographic
        location, industry, and data type.
      properties:
        typeCategory:
          description: The class of identifiers where this infoType belongs
          enumDescriptions:
            - Unused type
            - >-
              Personally identifiable information, for example, a name or phone
              number
            - >-
              Personally identifiable information that is especially sensitive,
              for example, a passport number.
            - >-
              Attributes that can partially identify someone, especially in
              combination with other attributes, like age, height, and gender.
            - Confidential or secret information, for example, a password.
            - An identification document issued by a government.
            - A document, for example, a resume or source code.
            - >-
              Information that is not sensitive on its own, but provides details
              about the circumstances surrounding an entity or an event.
          enum:
            - TYPE_UNSPECIFIED
            - PII
            - SPII
            - DEMOGRAPHIC
            - CREDENTIAL
            - GOVERNMENT_ID
            - DOCUMENT
            - CONTEXTUAL_INFORMATION
          type: string
        industryCategory:
          enum:
            - INDUSTRY_UNSPECIFIED
            - FINANCE
            - HEALTH
            - TELECOMMUNICATIONS
          enumDescriptions:
            - Unused industry
            - The infoType is typically used in the finance industry.
            - The infoType is typically used in the health industry.
            - The infoType is typically used in the telecommunications industry.
          type: string
          description: >-
            The group of relevant businesses where this infoType is commonly
            used
        locationCategory:
          enum:
            - LOCATION_UNSPECIFIED
            - GLOBAL
            - ARGENTINA
            - AUSTRALIA
            - BELGIUM
            - BRAZIL
            - CANADA
            - CHILE
            - CHINA
            - COLOMBIA
            - CROATIA
            - DENMARK
            - FRANCE
            - FINLAND
            - GERMANY
            - HONG_KONG
            - INDIA
            - INDONESIA
            - IRELAND
            - ISRAEL
            - ITALY
            - JAPAN
            - KOREA
            - MEXICO
            - NEW_ZEALAND
            - THE_NETHERLANDS
            - NORWAY
            - PARAGUAY
            - PERU
            - POLAND
            - PORTUGAL
            - SINGAPORE
            - SOUTH_AFRICA
            - SPAIN
            - SWEDEN
            - TAIWAN
            - THAILAND
            - TURKEY
            - UNITED_KINGDOM
            - UNITED_STATES
            - URUGUAY
            - VENEZUELA
            - INTERNAL
          enumDescriptions:
            - Unused location
            - >-
              The infoType is not issued by or tied to a specific region, but is
              used almost everywhere.
            - The infoType is typically used in Argentina.
            - The infoType is typically used in Australia.
            - The infoType is typically used in Belgium.
            - The infoType is typically used in Brazil.
            - The infoType is typically used in Canada.
            - The infoType is typically used in Chile.
            - The infoType is typically used in China.
            - The infoType is typically used in Colombia.
            - The infoType is typically used in Croatia.
            - The infoType is typically used in Denmark.
            - The infoType is typically used in France.
            - The infoType is typically used in Finland.
            - The infoType is typically used in Germany.
            - The infoType is typically used in Hong Kong.
            - The infoType is typically used in India.
            - The infoType is typically used in Indonesia.
            - The infoType is typically used in Ireland.
            - The infoType is typically used in Israel.
            - The infoType is typically used in Italy.
            - The infoType is typically used in Japan.
            - The infoType is typically used in Korea.
            - The infoType is typically used in Mexico.
            - The infoType is typically used in New Zealand.
            - The infoType is typically used in the Netherlands.
            - The infoType is typically used in Norway.
            - The infoType is typically used in Paraguay.
            - The infoType is typically used in Peru.
            - The infoType is typically used in Poland.
            - The infoType is typically used in Portugal.
            - The infoType is typically used in Singapore.
            - The infoType is typically used in South Africa.
            - The infoType is typically used in Spain.
            - The infoType is typically used in Sweden.
            - The infoType is typically used in Taiwan.
            - The infoType is typically used in Thailand.
            - The infoType is typically used in Turkey.
            - The infoType is typically used in the United Kingdom.
            - The infoType is typically used in the United States.
            - The infoType is typically used in Uruguay.
            - The infoType is typically used in Venezuela.
            - The infoType is typically used in Google internally.
          description: >-
            The region or country that issued the ID or document represented by
            the infoType.
          type: string
      id: GooglePrivacyDlpV2InfoTypeCategory
      type: object
    GooglePrivacyDlpV2PublishToPubSub:
      id: GooglePrivacyDlpV2PublishToPubSub
      properties:
        topic:
          type: string
          description: >-
            Cloud Pub/Sub topic to send notifications to. The topic must have
            given publishing access rights to the DLP API service account
            executing the long running DlpJob sending the notifications. Format
            is projects/{project}/topics/{topic}.
      type: object
      description: >-
        Publish a message into a given Pub/Sub topic when DlpJob has completed.
        The message contains a single field, `DlpJobName`, which is equal to the
        finished job's
        [`DlpJob.name`](https://cloud.google.com/dlp/docs/reference/rest/v2/projects.dlpJobs#DlpJob).
        Compatible with: Inspect, Risk
    GooglePrivacyDlpV2ProfileStatus:
      id: GooglePrivacyDlpV2ProfileStatus
      type: object
      properties:
        timestamp:
          format: google-datetime
          type: string
          description: Time when the profile generation status was updated
        status:
          description: >-
            Profiling status code and optional message. The `status.code` value
            is 0 (default value) for OK.
          $ref: '#/components/schemas/GoogleRpcStatus'
    GooglePrivacyDlpV2HotwordRule:
      type: object
      id: GooglePrivacyDlpV2HotwordRule
      properties:
        hotwordRegex:
          $ref: '#/components/schemas/GooglePrivacyDlpV2Regex'
          description: Regular expression pattern defining what qualifies as a hotword.
        likelihoodAdjustment:
          description: Likelihood adjustment to apply to all matching findings.
          $ref: '#/components/schemas/GooglePrivacyDlpV2LikelihoodAdjustment'
        proximity:
          $ref: '#/components/schemas/GooglePrivacyDlpV2Proximity'
          description: >-
            Range of characters within which the entire hotword must reside. The
            total length of the window cannot exceed 1000 characters. The
            finding itself will be included in the window, so that hotwords can
            be used to match substrings of the finding itself. Suppose you want
            Cloud DLP to promote the likelihood of the phone number regex
            "\(\d{3}\) \d{3}-\d{4}" if the area code is known to be the area
            code of a company's office. In this case, use the hotword regex
            "\(xxx\)", where "xxx" is the area code in question. For tabular
            data, if you want to modify the likelihood of an entire column of
            findngs, see [Hotword example: Set the match likelihood of a table
            column]
            (https://cloud.google.com/dlp/docs/creating-custom-infotypes-likelihood#match-column-values).
      description: >-
        The rule that adjusts the likelihood of findings within a certain
        proximity of hotwords.
    GooglePrivacyDlpV2HybridInspectResponse:
      id: GooglePrivacyDlpV2HybridInspectResponse
      properties: {}
      type: object
      description: Quota exceeded errors will be thrown once quota has been met.
    GooglePrivacyDlpV2TimePartConfig:
      properties:
        partToExtract:
          type: string
          enumDescriptions:
            - Unused
            - '[0-9999]'
            - '[1-12]'
            - '[1-31]'
            - '[1-7]'
            - '[1-53]'
            - '[0-23]'
          enum:
            - TIME_PART_UNSPECIFIED
            - YEAR
            - MONTH
            - DAY_OF_MONTH
            - DAY_OF_WEEK
            - WEEK_OF_YEAR
            - HOUR_OF_DAY
          description: The part of the time to keep.
      type: object
      id: GooglePrivacyDlpV2TimePartConfig
      description: >-
        For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a
        portion of the value.
    GooglePrivacyDlpV2TransformationErrorHandling:
      description: >-
        How to handle transformation errors during de-identification. A
        transformation error occurs when the requested transformation is
        incompatible with the data. For example, trying to de-identify an IP
        address using a `DateShift` transformation would result in a
        transformation error, since date info cannot be extracted from an IP
        address. Information about any incompatible transformations, and how
        they were handled, is returned in the response as part of the
        `TransformationOverviews`.
      id: GooglePrivacyDlpV2TransformationErrorHandling
      properties:
        leaveUntransformed:
          description: Ignore errors
          $ref: '#/components/schemas/GooglePrivacyDlpV2LeaveUntransformed'
        throwError:
          $ref: '#/components/schemas/GooglePrivacyDlpV2ThrowError'
          description: Throw an error
      type: object
    GooglePrivacyDlpV2LDiversityHistogramBucket:
      description: Histogram of l-diversity equivalence class sensitive value frequencies.
      id: GooglePrivacyDlpV2LDiversityHistogramBucket
      type: object
      properties:
        bucketSize:
          description: Total number of equivalence classes in this bucket.
          type: string
          format: int64
        bucketValueCount:
          type: string
          description: Total number of distinct equivalence classes in this bucket.
          format: int64
        bucketValues:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2LDiversityEquivalenceClass'
          type: array
          description: >-
            Sample of equivalence classes in this bucket. The total number of
            classes returned per bucket is capped at 20.
        sensitiveValueFrequencyLowerBound:
          description: >-
            Lower bound on the sensitive value frequencies of the equivalence
            classes in this bucket.
          format: int64
          type: string
        sensitiveValueFrequencyUpperBound:
          format: int64
          description: >-
            Upper bound on the sensitive value frequencies of the equivalence
            classes in this bucket.
          type: string
    GoogleRpcStatus:
      properties:
        message:
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
          type: string
        details:
          type: array
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
            type: object
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
      id: GoogleRpcStatus
      type: object
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
    GooglePrivacyDlpV2ImageRedactionConfig:
      description: Configuration for determining how redaction of images should occur.
      id: GooglePrivacyDlpV2ImageRedactionConfig
      properties:
        redactionColor:
          description: >-
            The color to use when redacting content from an image. If not
            specified, the default is black.
          $ref: '#/components/schemas/GooglePrivacyDlpV2Color'
        infoType:
          description: >-
            Only one per info_type should be provided per request. If not
            specified, and redact_all_text is false, the DLP API will redact all
            text that it matches against all info_types that are found, but not
            specified in another ImageRedactionConfig.
          $ref: '#/components/schemas/GooglePrivacyDlpV2InfoType'
        redactAllText:
          description: >-
            If true, all text found in the image, regardless whether it matches
            an info_type, is redacted. Only one should be provided.
          type: boolean
      type: object
    GooglePrivacyDlpV2InfoTypeDescription:
      id: GooglePrivacyDlpV2InfoTypeDescription
      properties:
        categories:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2InfoTypeCategory'
          type: array
          description: The category of the infoType.
        supportedBy:
          items:
            enum:
              - ENUM_TYPE_UNSPECIFIED
              - INSPECT
              - RISK_ANALYSIS
            enumDescriptions:
              - Unused.
              - Supported by the inspect operations.
              - Supported by the risk analysis operations.
            type: string
          description: Which parts of the API supports this InfoType.
          type: array
        displayName:
          type: string
          description: Human readable form of the infoType name.
        name:
          type: string
          description: Internal name of the infoType.
        description:
          type: string
          description: >-
            Description of the infotype. Translated when language is provided in
            the request.
        sensitivityScore:
          description: The default sensitivity of the infoType.
          $ref: '#/components/schemas/GooglePrivacyDlpV2SensitivityScore'
        versions:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2VersionDescription'
          description: A list of available versions for the infotype.
          type: array
      type: object
      description: InfoType description.
    GooglePrivacyDlpV2AllInfoTypes:
      id: GooglePrivacyDlpV2AllInfoTypes
      properties: {}
      type: object
      description: Apply transformation to all findings.
    GooglePrivacyDlpV2Table:
      properties:
        rows:
          type: array
          description: Rows of the table.
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2Row'
        headers:
          description: Headers of the table.
          type: array
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2FieldId'
      description: >-
        Structured content to inspect. Up to 50,000 `Value`s per request
        allowed. See
        https://cloud.google.com/dlp/docs/inspecting-structured-text#inspecting_a_table
        to learn more.
      id: GooglePrivacyDlpV2Table
      type: object
    GooglePrivacyDlpV2KMapEstimationResult:
      properties:
        kMapEstimationHistogram:
          description: >-
            The intervals [min_anonymity, max_anonymity] do not overlap. If a
            value doesn't correspond to any such interval, the associated
            frequency is zero. For example, the following records:
            {min_anonymity: 1, max_anonymity: 1, frequency: 17} {min_anonymity:
            2, max_anonymity: 3, frequency: 42} {min_anonymity: 5,
            max_anonymity: 10, frequency: 99} mean that there are no record with
            an estimated anonymity of 4, 5, or larger than 10.
          items:
            $ref: >-
              #/components/schemas/GooglePrivacyDlpV2KMapEstimationHistogramBucket
          type: array
      description: >-
        Result of the reidentifiability analysis. Note that these results are an
        estimation, not exact values.
      type: object
      id: GooglePrivacyDlpV2KMapEstimationResult
    GooglePrivacyDlpV2ListInfoTypesResponse:
      description: Response to the ListInfoTypes request.
      id: GooglePrivacyDlpV2ListInfoTypesResponse
      type: object
      properties:
        infoTypes:
          description: Set of sensitive infoTypes.
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2InfoTypeDescription'
          type: array
    GooglePrivacyDlpV2DataRiskLevel:
      id: GooglePrivacyDlpV2DataRiskLevel
      type: object
      properties:
        score:
          enumDescriptions:
            - Unused.
            - >-
              Low risk - Lower indication of sensitive data that appears to have
              additional access restrictions in place or no indication of
              sensitive data found.
            - >-
              Medium risk - Sensitive data may be present but additional access
              or fine grain access restrictions appear to be present. Consider
              limiting access even further or transform data to mask.
            - >-
              High risk – SPII may be present. Access controls may include
              public ACLs. Exfiltration of data may lead to user data loss.
              Re-identification of users may be possible. Consider limiting
              usage and or removing SPII.
          enum:
            - RISK_SCORE_UNSPECIFIED
            - RISK_LOW
            - RISK_MODERATE
            - RISK_HIGH
          type: string
          description: The score applied to the resource.
      description: >-
        Score is a summary of all elements in the data profile. A higher number
        means more risk.
    GooglePrivacyDlpV2PubSubNotification:
      description: >-
        Send a Pub/Sub message into the given Pub/Sub topic to connect other
        systems to data profile generation. The message payload data will be the
        byte serialization of `DataProfilePubSubMessage`.
      properties:
        detailOfMessage:
          enum:
            - DETAIL_LEVEL_UNSPECIFIED
            - TABLE_PROFILE
            - RESOURCE_NAME
          enumDescriptions:
            - Unused.
            - The full table data profile.
            - The resource name of the table.
          type: string
          description: >-
            How much data to include in the Pub/Sub message. If the user wishes
            to limit the size of the message, they can use resource_name and
            fetch the profile fields they wish to. Per table profile (not per
            column).
        event:
          type: string
          description: >-
            The type of event that triggers a Pub/Sub. At most one
            `PubSubNotification` per EventType is permitted.
          enum:
            - EVENT_TYPE_UNSPECIFIED
            - NEW_PROFILE
            - CHANGED_PROFILE
            - SCORE_INCREASED
            - ERROR_CHANGED
          enumDescriptions:
            - Unused.
            - New profile (not a re-profile).
            - >-
              Changed one of the following profile metrics: * Table data risk
              score * Table sensitivity score * Table resource visibility *
              Table encryption type * Table predicted infoTypes * Table other
              infoTypes
            - Table data risk score or sensitivity score increased.
            - A user (non-internal) error occurred.
        topic:
          type: string
          description: >-
            Cloud Pub/Sub topic to send notifications to. Format is
            projects/{project}/topics/{topic}.
        pubsubCondition:
          $ref: '#/components/schemas/GooglePrivacyDlpV2DataProfilePubSubCondition'
          description: >-
            Conditions (e.g., data risk or sensitivity level) for triggering a
            Pub/Sub.
      id: GooglePrivacyDlpV2PubSubNotification
      type: object
    GooglePrivacyDlpV2JobNotificationEmails:
      id: GooglePrivacyDlpV2JobNotificationEmails
      type: object
      properties: {}
      description: >-
        Sends an email when the job completes. The email goes to IAM project
        owners and technical [Essential
        Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts).
    GooglePrivacyDlpV2ListStoredInfoTypesResponse:
      type: object
      properties:
        storedInfoTypes:
          type: array
          description: >-
            List of storedInfoTypes, up to page_size in
            ListStoredInfoTypesRequest.
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2StoredInfoType'
        nextPageToken:
          type: string
          description: >-
            If the next page is available then the next page token to be used in
            following ListStoredInfoTypes request.
      description: Response message for ListStoredInfoTypes.
      id: GooglePrivacyDlpV2ListStoredInfoTypesResponse
    GooglePrivacyDlpV2InfoType:
      id: GooglePrivacyDlpV2InfoType
      type: object
      description: Type of information detected by the API.
      properties:
        name:
          type: string
          description: >-
            Name of the information type. Either a name of your choosing when
            creating a CustomInfoType, or one of the names listed at
            https://cloud.google.com/dlp/docs/infotypes-reference when
            specifying a built-in type. When sending Cloud DLP results to Data
            Catalog, infoType names should conform to the pattern
            `[A-Za-z0-9$_-]{1,64}`.
        sensitivityScore:
          $ref: '#/components/schemas/GooglePrivacyDlpV2SensitivityScore'
          description: >-
            Optional custom sensitivity for this InfoType. This only applies to
            data profiling.
        version:
          description: Optional version name for this InfoType.
          type: string
    GooglePrivacyDlpV2CategoricalStatsHistogramBucket:
      description: Histogram of value frequencies in the column.
      id: GooglePrivacyDlpV2CategoricalStatsHistogramBucket
      properties:
        bucketValues:
          type: array
          description: >-
            Sample of value frequencies in this bucket. The total number of
            values returned per bucket is capped at 20.
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2ValueFrequency'
        valueFrequencyUpperBound:
          type: string
          description: Upper bound on the value frequency of the values in this bucket.
          format: int64
        bucketValueCount:
          format: int64
          type: string
          description: Total number of distinct values in this bucket.
        bucketSize:
          type: string
          description: Total number of values in this bucket.
          format: int64
        valueFrequencyLowerBound:
          format: int64
          type: string
          description: Lower bound on the value frequency of the values in this bucket.
      type: object
    GooglePrivacyDlpV2ReplaceWithInfoTypeConfig:
      type: object
      properties: {}
      description: Replace each matching finding with the name of the info_type.
      id: GooglePrivacyDlpV2ReplaceWithInfoTypeConfig
    GooglePrivacyDlpV2CloudStorageFileSet:
      description: Message representing a set of files in Cloud Storage.
      id: GooglePrivacyDlpV2CloudStorageFileSet
      type: object
      properties:
        url:
          description: >-
            The url, in the format `gs:///`. Trailing wildcard in the path is
            allowed.
          type: string
    GooglePrivacyDlpV2SaveFindings:
      id: GooglePrivacyDlpV2SaveFindings
      description: >-
        If set, the detailed findings will be persisted to the specified
        OutputStorageConfig. Only a single instance of this action can be
        specified. Compatible with: Inspect, Risk
      type: object
      properties:
        outputConfig:
          $ref: '#/components/schemas/GooglePrivacyDlpV2OutputStorageConfig'
          description: Location to store findings outside of DLP.
    GooglePrivacyDlpV2CloudStorageOptions:
      description: Options defining a file or a set of files within a Cloud Storage bucket.
      type: object
      id: GooglePrivacyDlpV2CloudStorageOptions
      properties:
        fileSet:
          $ref: '#/components/schemas/GooglePrivacyDlpV2FileSet'
          description: The set of one or more files to scan.
        bytesLimitPerFilePercent:
          description: >-
            Max percentage of bytes to scan from a file. The rest are omitted.
            The number of bytes scanned is rounded down. Must be between 0 and
            100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only
            one of bytes_limit_per_file and bytes_limit_per_file_percent can be
            specified. Cannot be set if de-identification is requested.
          type: integer
          format: int32
        filesLimitPercent:
          description: >-
            Limits the number of files to scan to this percentage of the input
            FileSet. Number of files scanned is rounded down. Must be between 0
            and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0.
          format: int32
          type: integer
        fileTypes:
          type: array
          description: >-
            List of file type groups to include in the scan. If empty, all files
            are scanned and available data format processors are applied. In
            addition, the binary content of the selected files is always scanned
            as well. Images are scanned only as binary if the specified region
            does not support image inspection and no file_types were specified.
            Image inspection is restricted to 'global', 'us', 'asia', and
            'europe'.
          items:
            enum:
              - FILE_TYPE_UNSPECIFIED
              - BINARY_FILE
              - TEXT_FILE
              - IMAGE
              - WORD
              - PDF
              - AVRO
              - CSV
              - TSV
              - POWERPOINT
              - EXCEL
            enumDescriptions:
              - Includes all files.
              - >-
                Includes all file extensions not covered by another entry.
                Binary scanning attempts to convert the content of the file to
                utf_8 to scan the file. If you wish to avoid this fall back,
                specify one or more of the other FileType's in your storage
                scan.
              - >-
                Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi,
                cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged,
                go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml,
                mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw,
                rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm,
                xhtml, lhs, ics, ini, java, js, json, kix, kml, ocaml, md, txt,
                text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml,
                yaml.
              - >-
                Included file extensions: bmp, gif, jpg, jpeg, jpe, png.
                bytes_limit_per_file has no effect on image files. Image
                inspection is restricted to 'global', 'us', 'asia', and
                'europe'.
              - >-
                Word files >30 MB will be scanned as binary files. Included file
                extensions: docx, dotx, docm, dotm
              - >-
                PDF files >30 MB will be scanned as binary files. Included file
                extensions: pdf
              - 'Included file extensions: avro'
              - 'Included file extensions: csv'
              - 'Included file extensions: tsv'
              - >-
                Powerpoint files >30 MB will be scanned as binary files.
                Included file extensions: pptx, pptm, potx, potm, pot
              - >-
                Excel files >30 MB will be scanned as binary files. Included
                file extensions: xlsx, xlsm, xltx, xltm
            type: string
        sampleMethod:
          enumDescriptions:
            - ''
            - Scan from the top (default).
            - >-
              For each file larger than bytes_limit_per_file, randomly pick the
              offset to start scanning. The scanned bytes are contiguous.
          enum:
            - SAMPLE_METHOD_UNSPECIFIED
            - TOP
            - RANDOM_START
          type: string
        bytesLimitPerFile:
          format: int64
          type: string
          description: >-
            Max number of bytes to scan from a file. If a scanned file's size is
            bigger than this value then the rest of the bytes are omitted. Only
            one of bytes_limit_per_file and bytes_limit_per_file_percent can be
            specified. Cannot be set if de-identification is requested.
    GooglePrivacyDlpV2DeidentifyDataSourceDetails:
      type: object
      id: GooglePrivacyDlpV2DeidentifyDataSourceDetails
      description: The results of a Deidentify action from an inspect job.
      properties:
        requestedOptions:
          $ref: '#/components/schemas/GooglePrivacyDlpV2RequestedDeidentifyOptions'
          description: De-identification config used for the request.
        deidentifyStats:
          description: Stats about the de-identification operation.
          $ref: '#/components/schemas/GooglePrivacyDlpV2DeidentifyDataSourceStats'
    GooglePrivacyDlpV2DetectionRule:
      type: object
      description: >-
        Deprecated; use `InspectionRuleSet` instead. Rule for modifying a
        `CustomInfoType` to alter behavior under certain circumstances,
        depending on the specific details of the rule. Not supported for the
        `surrogate_type` custom infoType.
      properties:
        hotwordRule:
          $ref: '#/components/schemas/GooglePrivacyDlpV2HotwordRule'
          description: Hotword-based detection rule.
      id: GooglePrivacyDlpV2DetectionRule
    GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig:
      type: object
      id: GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig
      description: >-
        Replaces an identifier with a surrogate using Format Preserving
        Encryption (FPE) with the FFX mode of operation; however when used in
        the `ReidentifyContent` API method, it serves the opposite function by
        reversing the surrogate back into the original identifier. The
        identifier must be encoded as ASCII. For a given crypto key and context,
        the same identifier will be replaced with the same surrogate.
        Identifiers must be at least two characters long. In the case that the
        identifier is the empty string, it will be skipped. See
        https://cloud.google.com/dlp/docs/pseudonymization to learn more. Note:
        We recommend using CryptoDeterministicConfig for all use cases which do
        not require preserving the input alphabet space and size, plus warrant
        referential integrity.
      properties:
        radix:
          format: int32
          description: The native way to select the alphabet. Must be in the range [2, 95].
          type: integer
        commonAlphabet:
          type: string
          enum:
            - FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED
            - NUMERIC
            - HEXADECIMAL
            - UPPER_CASE_ALPHA_NUMERIC
            - ALPHA_NUMERIC
          description: Common alphabets.
          enumDescriptions:
            - Unused.
            - '`[0-9]` (radix of 10)'
            - '`[0-9A-F]` (radix of 16)'
            - '`[0-9A-Z]` (radix of 36)'
            - '`[0-9A-Za-z]` (radix of 62)'
        context:
          $ref: '#/components/schemas/GooglePrivacyDlpV2FieldId'
          description: >-
            The 'tweak', a context may be used for higher security since the
            same identifier in two different contexts won't be given the same
            surrogate. If the context is not set, a default tweak will be used.
            If the context is set but: 1. there is no record present when
            transforming a given value or 1. the field is not present when
            transforming a given value, a default tweak will be used. Note that
            case (1) is expected when an `InfoTypeTransformation` is applied to
            both structured and unstructured `ContentItem`s. Currently, the
            referenced field may be of value type integer or string. The tweak
            is constructed as a sequence of bytes in big endian byte order such
            that: - a 64 bit integer is encoded followed by a single byte of
            value 1 - a string is encoded in UTF-8 format followed by a single
            byte of value 2
        surrogateInfoType:
          description: >-
            The custom infoType to annotate the surrogate with. This annotation
            will be applied to the surrogate by prefixing it with the name of
            the custom infoType followed by the number of characters comprising
            the surrogate. The following scheme defines the format:
            info_type_name(surrogate_character_count):surrogate For example, if
            the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and the
            surrogate is 'abc', the full replacement value will be:
            'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate
            when inspecting content using the custom infoType
            [`SurrogateType`](https://cloud.google.com/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype).
            This facilitates reversal of the surrogate when it occurs in free
            text. In order for inspection to work properly, the name of this
            infoType must not occur naturally anywhere in your data; otherwise,
            inspection may find a surrogate that does not correspond to an
            actual identifier. Therefore, choose your custom infoType name
            carefully after considering what your data looks like. One way to
            select a name that has a high chance of yielding reliable detection
            is to include one or more unicode characters that are highly
            improbable to exist in your data. For example, assuming your data is
            entered from a regular ASCII keyboard, the symbol with the hex code
            point 29DD might be used like so: ⧝MY_TOKEN_TYPE
          $ref: '#/components/schemas/GooglePrivacyDlpV2InfoType'
        cryptoKey:
          description: Required. The key used by the encryption algorithm.
          $ref: '#/components/schemas/GooglePrivacyDlpV2CryptoKey'
        customAlphabet:
          description: >-
            This is supported by mapping these to the alphanumeric characters
            that the FFX mode natively supports. This happens before/after
            encryption/decryption. Each character listed must appear only once.
            Number of characters must be in the range [2, 95]. This must be
            encoded as ASCII. The order of characters does not matter. The full
            list of allowed characters is:
            0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
            ~`!@#$%^&*()_-+={[}]|\:;"'<,>.?/
          type: string
    GooglePrivacyDlpV2ByteContentItem:
      id: GooglePrivacyDlpV2ByteContentItem
      description: Container for bytes to inspect or redact.
      type: object
      properties:
        type:
          enumDescriptions:
            - Unused
            - Any image type.
            - jpeg
            - bmp
            - png
            - svg
            - plain text
            - docx, docm, dotx, dotm
            - pdf
            - pptx, pptm, potx, potm, pot
            - xlsx, xlsm, xltx, xltm
            - avro
            - csv
            - tsv
          description: >-
            The type of data stored in the bytes string. Default will be
            TEXT_UTF8.
          type: string
          enum:
            - BYTES_TYPE_UNSPECIFIED
            - IMAGE
            - IMAGE_JPEG
            - IMAGE_BMP
            - IMAGE_PNG
            - IMAGE_SVG
            - TEXT_UTF8
            - WORD_DOCUMENT
            - PDF
            - POWERPOINT_DOCUMENT
            - EXCEL_DOCUMENT
            - AVRO
            - CSV
            - TSV
        data:
          type: string
          description: Content data to inspect or redact.
          format: byte
    GooglePrivacyDlpV2RecordKey:
      type: object
      properties:
        idValues:
          type: array
          description: >-
            Values of identifying columns in the given row. Order of values
            matches the order of `identifying_fields` specified in the scanning
            request.
          items:
            type: string
        datastoreKey:
          $ref: '#/components/schemas/GooglePrivacyDlpV2DatastoreKey'
        bigQueryKey:
          $ref: '#/components/schemas/GooglePrivacyDlpV2BigQueryKey'
      description: Message for a unique key indicating a record that contains a finding.
      id: GooglePrivacyDlpV2RecordKey
    GooglePrivacyDlpV2DataProfileBigQueryRowSchema:
      type: object
      properties:
        tableProfile:
          $ref: '#/components/schemas/GooglePrivacyDlpV2TableDataProfile'
          description: Table data profile column
        columnProfile:
          $ref: '#/components/schemas/GooglePrivacyDlpV2ColumnDataProfile'
          description: Column data profile column
      description: >-
        The schema of data to be saved to the BigQuery when the
        `DataProfileAction` is enabled.
      id: GooglePrivacyDlpV2DataProfileBigQueryRowSchema
    GooglePrivacyDlpV2Export:
      id: GooglePrivacyDlpV2Export
      properties:
        profileTable:
          $ref: '#/components/schemas/GooglePrivacyDlpV2BigQueryTable'
          description: >-
            Store all table and column profiles in an existing table or a new
            table in an existing dataset. Each re-generation will result in a
            new row in BigQuery.
      type: object
      description: >-
        If set, the detailed data profiles will be persisted to the location of
        your choice whenever updated.
    GooglePrivacyDlpV2Location:
      properties:
        byteRange:
          $ref: '#/components/schemas/GooglePrivacyDlpV2Range'
          description: >-
            Zero-based byte offsets delimiting the finding. These are relative
            to the finding's containing element. Note that when the content is
            not textual, this references the UTF-8 encoded textual
            representation of the content. Omitted if content is an image.
        container:
          $ref: '#/components/schemas/GooglePrivacyDlpV2Container'
          description: >-
            Information about the container where this finding occurred, if
            available.
        codepointRange:
          description: >-
            Unicode character offsets delimiting the finding. These are relative
            to the finding's containing element. Provided when the content is
            text.
          $ref: '#/components/schemas/GooglePrivacyDlpV2Range'
        contentLocations:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2ContentLocation'
          type: array
          description: >-
            List of nested objects pointing to the precise location of the
            finding within the file or record.
      description: Specifies the location of the finding.
      id: GooglePrivacyDlpV2Location
      type: object
    GooglePrivacyDlpV2ReidentifyContentResponse:
      id: GooglePrivacyDlpV2ReidentifyContentResponse
      type: object
      properties:
        item:
          $ref: '#/components/schemas/GooglePrivacyDlpV2ContentItem'
          description: The re-identified item.
        overview:
          $ref: '#/components/schemas/GooglePrivacyDlpV2TransformationOverview'
          description: An overview of the changes that were made to the `item`.
      description: Results of re-identifying an item.
    GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest:
      properties:
        updateMask:
          type: string
          description: Mask to control which fields get updated.
          format: google-fieldmask
        deidentifyTemplate:
          description: New DeidentifyTemplate value.
          $ref: '#/components/schemas/GooglePrivacyDlpV2DeidentifyTemplate'
      description: Request message for UpdateDeidentifyTemplate.
      id: GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest
      type: object
    GooglePrivacyDlpV2CategoricalStatsResult:
      id: GooglePrivacyDlpV2CategoricalStatsResult
      type: object
      properties:
        valueFrequencyHistogramBuckets:
          type: array
          description: Histogram of value frequencies in the column.
          items:
            $ref: >-
              #/components/schemas/GooglePrivacyDlpV2CategoricalStatsHistogramBucket
      description: Result of the categorical stats computation.
    GooglePrivacyDlpV2ReplaceValueConfig:
      id: GooglePrivacyDlpV2ReplaceValueConfig
      properties:
        newValue:
          description: Value to replace it with.
          $ref: '#/components/schemas/GooglePrivacyDlpV2Value'
      type: object
      description: Replace each input value with a given `Value`.
    GooglePrivacyDlpV2ActivateJobTriggerRequest:
      id: GooglePrivacyDlpV2ActivateJobTriggerRequest
      type: object
      description: Request message for ActivateJobTrigger.
      properties: {}
    GooglePrivacyDlpV2TimespanConfig:
      description: >-
        Configuration of the timespan of the items to include in scanning.
        Currently only supported when inspecting Cloud Storage and BigQuery.
      properties:
        timestampField:
          $ref: '#/components/schemas/GooglePrivacyDlpV2FieldId'
          description: >-
            Specification of the field containing the timestamp of scanned
            items. Used for data sources like Datastore and BigQuery. *For
            BigQuery* If this value is not specified and the table was modified
            between the given start and end times, the entire table will be
            scanned. If this value is specified, then rows are filtered based on
            the given start and end times. Rows with a `NULL` value in the
            provided BigQuery column are skipped. Valid data types of the
            provided BigQuery column are: `INTEGER`, `DATE`, `TIMESTAMP`, and
            `DATETIME`. If your BigQuery table is [partitioned at ingestion
            time](https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time),
            you can use any of the following pseudo-columns as your timestamp
            field. When used with Cloud DLP, these pseudo-column names are case
            sensitive. - _PARTITIONTIME - _PARTITIONDATE - _PARTITION_LOAD_TIME
            *For Datastore* If this value is specified, then entities are
            filtered based on the given start and end times. If an entity does
            not contain the provided timestamp property or contains empty or
            invalid values, then it is included. Valid data types of the
            provided timestamp property are: `TIMESTAMP`. See the [known
            issue](https://cloud.google.com/dlp/docs/known-issues#bq-timespan)
            related to this operation.
        startTime:
          type: string
          description: >-
            Exclude files, tables, or rows older than this value. If not set, no
            lower time limit is applied.
          format: google-datetime
        enableAutoPopulationOfTimespanConfig:
          description: >-
            When the job is started by a JobTrigger we will automatically figure
            out a valid start_time to avoid scanning files that have not been
            modified since the last time the JobTrigger executed. This will be
            based on the time of the execution of the last run of the JobTrigger
            or the timespan end_time used in the last run of the JobTrigger.
          type: boolean
        endTime:
          format: google-datetime
          description: >-
            Exclude files, tables, or rows newer than this value. If not set, no
            upper time limit is applied.
          type: string
      type: object
      id: GooglePrivacyDlpV2TimespanConfig
    GooglePrivacyDlpV2VersionDescription:
      properties:
        description:
          type: string
          description: Description of the version.
        version:
          description: Name of the version
          type: string
      type: object
      description: Details about each available version for an infotype.
      id: GooglePrivacyDlpV2VersionDescription
    GooglePrivacyDlpV2HybridContentItem:
      id: GooglePrivacyDlpV2HybridContentItem
      properties:
        findingDetails:
          $ref: '#/components/schemas/GooglePrivacyDlpV2HybridFindingDetails'
          description: Supplementary information that will be added to each finding.
        item:
          description: The item to inspect.
          $ref: '#/components/schemas/GooglePrivacyDlpV2ContentItem'
      type: object
      description: >-
        An individual hybrid item to inspect. Will be stored temporarily during
        processing.
    GooglePrivacyDlpV2RecordTransformations:
      description: >-
        A type of transformation that is applied over structured data such as a
        table.
      properties:
        fieldTransformations:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2FieldTransformation'
          type: array
          description: Transform the record by applying various field transformations.
        recordSuppressions:
          description: >-
            Configuration defining which records get suppressed entirely.
            Records that match any suppression rule are omitted from the output.
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2RecordSuppression'
          type: array
      type: object
      id: GooglePrivacyDlpV2RecordTransformations
    GooglePrivacyDlpV2CreateStoredInfoTypeRequest:
      properties:
        config:
          $ref: '#/components/schemas/GooglePrivacyDlpV2StoredInfoTypeConfig'
          description: Required. Configuration of the storedInfoType to create.
        storedInfoTypeId:
          description: >-
            The storedInfoType ID can contain uppercase and lowercase letters,
            numbers, and hyphens; that is, it must match the regular expression:
            `[a-zA-Z\d-_]+`. The maximum length is 100 characters. Can be empty
            to allow the system to generate one.
          type: string
        locationId:
          description: Deprecated. This field has no effect.
          type: string
      type: object
      description: Request message for CreateStoredInfoType.
      id: GooglePrivacyDlpV2CreateStoredInfoTypeRequest
    GooglePrivacyDlpV2AuxiliaryTable:
      properties:
        relativeFrequency:
          $ref: '#/components/schemas/GooglePrivacyDlpV2FieldId'
          description: >-
            Required. The relative frequency column must contain a
            floating-point number between 0 and 1 (inclusive). Null values are
            assumed to be zero.
        quasiIds:
          type: array
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2QuasiIdField'
          description: Required. Quasi-identifier columns.
        table:
          description: Required. Auxiliary table location.
          $ref: '#/components/schemas/GooglePrivacyDlpV2BigQueryTable'
      type: object
      description: >-
        An auxiliary table contains statistical information on the relative
        frequency of different quasi-identifiers values. It has one or several
        quasi-identifiers columns, and one column that indicates the relative
        frequency of each quasi-identifier tuple. If a tuple is present in the
        data but not in the auxiliary table, the corresponding relative
        frequency is assumed to be zero (and thus, the tuple is highly
        reidentifiable).
      id: GooglePrivacyDlpV2AuxiliaryTable
    GooglePrivacyDlpV2CancelDlpJobRequest:
      type: object
      properties: {}
      id: GooglePrivacyDlpV2CancelDlpJobRequest
      description: The request message for canceling a DLP job.
    GooglePrivacyDlpV2StorageMetadataLabel:
      id: GooglePrivacyDlpV2StorageMetadataLabel
      description: >-
        Storage metadata label to indicate which metadata entry contains
        findings.
      type: object
      properties:
        key:
          type: string
    GooglePrivacyDlpV2Bucket:
      id: GooglePrivacyDlpV2Bucket
      properties:
        max:
          $ref: '#/components/schemas/GooglePrivacyDlpV2Value'
          description: Upper bound of the range, exclusive; type must match min.
        replacementValue:
          $ref: '#/components/schemas/GooglePrivacyDlpV2Value'
          description: Required. Replacement value for this bucket.
        min:
          $ref: '#/components/schemas/GooglePrivacyDlpV2Value'
          description: >-
            Lower bound of the range, inclusive. Type should be the same as max
            if used.
      description: Bucket is represented as a range, along with replacement values.
      type: object
    GooglePrivacyDlpV2QuasiIdentifierField:
      id: GooglePrivacyDlpV2QuasiIdentifierField
      description: >-
        A quasi-identifier column has a custom_tag, used to know which column in
        the data corresponds to which column in the statistical model.
      properties:
        field:
          $ref: '#/components/schemas/GooglePrivacyDlpV2FieldId'
          description: Identifies the column.
        customTag:
          type: string
          description: >-
            A column can be tagged with a custom tag. In this case, the user
            must indicate an auxiliary table that contains statistical
            information on the possible values of this column (below).
      type: object
    GooglePrivacyDlpV2TransformationDetails:
      description: >-
        Details about a single transformation. This object contains a
        description of the transformation, information about whether the
        transformation was successfully applied, and the precise location where
        the transformation occurred. These details are stored in a
        user-specified BigQuery table.
      properties:
        transformedBytes:
          format: int64
          description: >-
            The number of bytes that were transformed. If transformation was
            unsuccessful or did not take place because there was no content to
            transform, this will be zero.
          type: string
        containerName:
          description: >-
            The top level name of the container where the transformation is
            located (this will be the source file name or table name).
          type: string
        transformationLocation:
          $ref: '#/components/schemas/GooglePrivacyDlpV2TransformationLocation'
          description: >-
            The precise location of the transformed content in the original
            container.
        statusDetails:
          $ref: '#/components/schemas/GooglePrivacyDlpV2TransformationResultStatus'
          description: >-
            Status of the transformation, if transformation was not successful,
            this will specify what caused it to fail, otherwise it will show
            that the transformation was successful.
        resourceName:
          description: The name of the job that completed the transformation.
          type: string
        transformation:
          type: array
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2TransformationDescription'
          description: >-
            Description of transformation. This would only contain more than one
            element if there were multiple matching transformations and which
            one to apply was ambiguous. Not set for states that contain no
            transformation, currently only state that contains no transformation
            is TransformationResultStateType.METADATA_UNRETRIEVABLE.
      type: object
      id: GooglePrivacyDlpV2TransformationDetails
    GooglePrivacyDlpV2CryptoDeterministicConfig:
      description: >-
        Pseudonymization method that generates deterministic encryption for the
        given input. Outputs a base64 encoded representation of the encrypted
        output. Uses AES-SIV based on the RFC
        https://tools.ietf.org/html/rfc5297.
      properties:
        context:
          description: >-
            A context may be used for higher security and maintaining
            referential integrity such that the same identifier in two different
            contexts will be given a distinct surrogate. The context is appended
            to plaintext value being encrypted. On decryption the provided
            context is validated against the value used during encryption. If a
            context was provided during encryption, same context must be
            provided during decryption as well. If the context is not set,
            plaintext would be used as is for encryption. If the context is set
            but: 1. there is no record present when transforming a given value
            or 2. the field is not present when transforming a given value,
            plaintext would be used as is for encryption. Note that case (1) is
            expected when an `InfoTypeTransformation` is applied to both
            structured and unstructured `ContentItem`s.
          $ref: '#/components/schemas/GooglePrivacyDlpV2FieldId'
        cryptoKey:
          $ref: '#/components/schemas/GooglePrivacyDlpV2CryptoKey'
          description: >-
            The key used by the encryption function. For deterministic
            encryption using AES-SIV, the provided key is internally expanded to
            64 bytes prior to use.
        surrogateInfoType:
          description: >-
            The custom info type to annotate the surrogate with. This annotation
            will be applied to the surrogate by prefixing it with the name of
            the custom info type followed by the number of characters comprising
            the surrogate. The following scheme defines the format: {info type
            name}({surrogate character count}):{surrogate} For example, if the
            name of custom info type is 'MY_TOKEN_INFO_TYPE' and the surrogate
            is 'abc', the full replacement value will be:
            'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate
            when inspecting content using the custom info type 'Surrogate'. This
            facilitates reversal of the surrogate when it occurs in free text.
            Note: For record transformations where the entire cell in a table is
            being transformed, surrogates are not mandatory. Surrogates are used
            to denote the location of the token and are necessary for
            re-identification in free form text. In order for inspection to work
            properly, the name of this info type must not occur naturally
            anywhere in your data; otherwise, inspection may either - reverse a
            surrogate that does not correspond to an actual identifier - be
            unable to parse the surrogate and result in an error Therefore,
            choose your custom info type name carefully after considering what
            your data looks like. One way to select a name that has a high
            chance of yielding reliable detection is to include one or more
            unicode characters that are highly improbable to exist in your data.
            For example, assuming your data is entered from a regular ASCII
            keyboard, the symbol with the hex code point 29DD might be used like
            so: ⧝MY_TOKEN_TYPE.
          $ref: '#/components/schemas/GooglePrivacyDlpV2InfoType'
      type: object
      id: GooglePrivacyDlpV2CryptoDeterministicConfig
    GooglePrivacyDlpV2EntityId:
      type: object
      id: GooglePrivacyDlpV2EntityId
      description: >-
        An entity in a dataset is a field or set of fields that correspond to a
        single person. For example, in medical records the `EntityId` might be a
        patient identifier, or for financial records it might be an account
        identifier. This message is used when generalizations or analysis must
        take into account that multiple rows correspond to the same entity.
      properties:
        field:
          $ref: '#/components/schemas/GooglePrivacyDlpV2FieldId'
          description: Composite key indicating which field contains the entity identifier.
    GooglePrivacyDlpV2ColumnDataProfile:
      description: The profile for a scanned column within a table.
      id: GooglePrivacyDlpV2ColumnDataProfile
      type: object
      properties:
        profileLastGenerated:
          type: string
          format: google-datetime
          description: The last time the profile was generated.
        datasetLocation:
          description: >-
            The BigQuery location where the dataset's data is stored. See
            https://cloud.google.com/bigquery/docs/locations for supported
            locations.
          type: string
        tableDataProfile:
          type: string
          description: The resource name to the table data profile.
        datasetId:
          type: string
          description: The BigQuery dataset ID.
        estimatedNullPercentage:
          description: Approximate percentage of entries being null in the column.
          enum:
            - NULL_PERCENTAGE_LEVEL_UNSPECIFIED
            - NULL_PERCENTAGE_VERY_LOW
            - NULL_PERCENTAGE_LOW
            - NULL_PERCENTAGE_MEDIUM
            - NULL_PERCENTAGE_HIGH
          enumDescriptions:
            - Unused.
            - Very few null entries.
            - Some null entries.
            - ''
            - A lot of null entries.
          type: string
        tableId:
          description: The BigQuery table ID.
          type: string
        otherMatches:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2OtherInfoTypeSummary'
          description: Other types found within this column. List will be un-ordered.
          type: array
        estimatedUniquenessScore:
          enum:
            - UNIQUENESS_SCORE_LEVEL_UNSPECIFIED
            - UNIQUENESS_SCORE_LOW
            - UNIQUENESS_SCORE_MEDIUM
            - UNIQUENESS_SCORE_HIGH
          enumDescriptions:
            - >-
              Some columns do not have estimated uniqueness. Possible reasons
              include having too few values.
            - >-
              Low uniqueness, possibly a boolean, enum or similiarly typed
              column.
            - Medium uniqueness.
            - >-
              High uniqueness, possibly a column of free text or unique
              identifiers.
          type: string
          description: Approximate uniqueness of the column.
        column:
          type: string
          description: The name of the column.
        datasetProjectId:
          description: The Google Cloud project ID that owns the BigQuery dataset.
          type: string
        tableFullResource:
          type: string
          description: The resource name of the table this column is within.
        columnType:
          type: string
          description: The data type of a given column.
          enumDescriptions:
            - Invalid type.
            - Encoded as a string in decimal format.
            - Encoded as a boolean "false" or "true".
            - Encoded as a number, or string "NaN", "Infinity" or "-Infinity".
            - Encoded as a string value.
            - Encoded as a base64 string per RFC 4648, section 4.
            - >-
              Encoded as an RFC 3339 timestamp with mandatory "Z" time zone
              string: 1985-04-12T23:20:50.52Z
            - 'Encoded as RFC 3339 full-date format string: 1985-04-12'
            - 'Encoded as RFC 3339 partial-time format string: 23:20:50.52'
            - >-
              Encoded as RFC 3339 full-date "T" partial-time:
              1985-04-12T23:20:50.52
            - Encoded as WKT
            - Encoded as a decimal string.
            - Container of ordered fields, each with a type and field name.
            - Decimal type.
            - Json type.
          enum:
            - COLUMN_DATA_TYPE_UNSPECIFIED
            - TYPE_INT64
            - TYPE_BOOL
            - TYPE_FLOAT64
            - TYPE_STRING
            - TYPE_BYTES
            - TYPE_TIMESTAMP
            - TYPE_DATE
            - TYPE_TIME
            - TYPE_DATETIME
            - TYPE_GEOGRAPHY
            - TYPE_NUMERIC
            - TYPE_RECORD
            - TYPE_BIGNUMERIC
            - TYPE_JSON
        freeTextScore:
          type: number
          format: double
          description: >-
            The likelihood that this column contains free-form text. A value
            close to 1 may indicate the column is likely to contain free-form or
            natural language text. Range in 0-1.
        state:
          enumDescriptions:
            - Unused.
            - >-
              The profile is currently running. Once a profile has finished it
              will transition to DONE.
            - >-
              The profile is no longer generating. If profile_status.status.code
              is 0, the profile succeeded, otherwise, it failed.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - RUNNING
            - DONE
          description: State of a profile.
        profileStatus:
          description: >-
            Success or error status from the most recent profile generation
            attempt. May be empty if the profile is still being generated.
          $ref: '#/components/schemas/GooglePrivacyDlpV2ProfileStatus'
        sensitivityScore:
          description: The sensitivity of this column.
          $ref: '#/components/schemas/GooglePrivacyDlpV2SensitivityScore'
        columnInfoType:
          $ref: '#/components/schemas/GooglePrivacyDlpV2InfoTypeSummary'
          description: >-
            If it's been determined this column can be identified as a single
            type, this will be set. Otherwise the column either has
            unidentifiable content or mixed types.
        name:
          type: string
          description: The name of the profile.
        policyState:
          type: string
          enum:
            - COLUMN_POLICY_STATE_UNSPECIFIED
            - COLUMN_POLICY_TAGGED
          description: Indicates if a policy tag has been applied to the column.
          enumDescriptions:
            - No policy tags.
            - Column has policy tag applied.
        dataRiskLevel:
          description: The data risk level for this column.
          $ref: '#/components/schemas/GooglePrivacyDlpV2DataRiskLevel'
    GooglePrivacyDlpV2ContentItem:
      type: object
      id: GooglePrivacyDlpV2ContentItem
      properties:
        value:
          description: String data to inspect or redact.
          type: string
        byteItem:
          description: Content data to inspect or redact. Replaces `type` and `data`.
          $ref: '#/components/schemas/GooglePrivacyDlpV2ByteContentItem'
        table:
          description: >-
            Structured content for inspection. See
            https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table
            to learn more.
          $ref: '#/components/schemas/GooglePrivacyDlpV2Table'
    GooglePrivacyDlpV2LDiversityEquivalenceClass:
      description: The set of columns' values that share the same ldiversity value.
      type: object
      properties:
        topSensitiveValues:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2ValueFrequency'
          description: Estimated frequencies of top sensitive values.
          type: array
        equivalenceClassSize:
          format: int64
          type: string
          description: Size of the k-anonymity equivalence class.
        quasiIdsValues:
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2Value'
          type: array
          description: >-
            Quasi-identifier values defining the k-anonymity equivalence class.
            The order is always the same as the original request.
        numDistinctSensitiveValues:
          description: Number of distinct sensitive values in this equivalence class.
          format: int64
          type: string
      id: GooglePrivacyDlpV2LDiversityEquivalenceClass
    GooglePrivacyDlpV2TransformationDescription:
      id: GooglePrivacyDlpV2TransformationDescription
      type: object
      properties:
        infoType:
          $ref: '#/components/schemas/GooglePrivacyDlpV2InfoType'
          description: Set if the transformation was limited to a specific `InfoType`.
        type:
          type: string
          description: The transformation type.
          enumDescriptions:
            - Unused
            - Record suppression
            - Replace value
            - Replace value using a dictionary.
            - Redact
            - Character mask
            - FFX-FPE
            - Fixed size bucketing
            - Bucketing
            - Replace with info type
            - Time part
            - Crypto hash
            - Date shift
            - Deterministic crypto
            - Redact image
          enum:
            - TRANSFORMATION_TYPE_UNSPECIFIED
            - RECORD_SUPPRESSION
            - REPLACE_VALUE
            - REPLACE_DICTIONARY
            - REDACT
            - CHARACTER_MASK
            - CRYPTO_REPLACE_FFX_FPE
            - FIXED_SIZE_BUCKETING
            - BUCKETING
            - REPLACE_WITH_INFO_TYPE
            - TIME_PART
            - CRYPTO_HASH
            - DATE_SHIFT
            - CRYPTO_DETERMINISTIC_CONFIG
            - REDACT_IMAGE
        condition:
          type: string
          description: >-
            A human-readable string representation of the `RecordCondition`
            corresponding to this transformation. Set if a `RecordCondition` was
            used to determine whether or not to apply this transformation.
            Examples: * (age_field > 85) * (age_field <= 18) * (zip_field
            exists) * (zip_field == 01234) && (city_field != "Springville") *
            (zip_field == 01234) && (age_field <= 18) && (city_field exists)
        description:
          description: >-
            A description of the transformation. This is empty for a
            RECORD_SUPPRESSION, or is the output of calling toString() on the
            `PrimitiveTransformation` protocol buffer message for any other type
            of transformation.
          type: string
      description: >-
        A flattened description of a `PrimitiveTransformation` or
        `RecordSuppression`.
    GooglePrivacyDlpV2ActionDetails:
      type: object
      description: The results of an Action.
      properties:
        deidentifyDetails:
          description: Outcome of a de-identification action.
          $ref: '#/components/schemas/GooglePrivacyDlpV2DeidentifyDataSourceDetails'
      id: GooglePrivacyDlpV2ActionDetails
    GooglePrivacyDlpV2TransformationConfig:
      id: GooglePrivacyDlpV2TransformationConfig
      properties:
        deidentifyTemplate:
          description: >-
            De-identify template. If this template is specified, it will serve
            as the default de-identify template. This template cannot contain
            `record_transformations` since it can be used for unstructured
            content such as free-form text files. If this template is not set, a
            default `ReplaceWithInfoTypeConfig` will be used to de-identify
            unstructured content.
          type: string
        imageRedactTemplate:
          description: >-
            Image redact template. If this template is specified, it will serve
            as the de-identify template for images. If this template is not set,
            all findings in the image will be redacted with a black box.
          type: string
        structuredDeidentifyTemplate:
          description: >-
            Structured de-identify template. If this template is specified, it
            will serve as the de-identify template for structured content such
            as delimited files and tables. If this template is not set but the
            `deidentify_template` is set, then `deidentify_template` will also
            apply to the structured content. If neither template is set, a
            default `ReplaceWithInfoTypeConfig` will be used to de-identify
            structured content.
          type: string
      description: >-
        User specified templates and configs for how to deidentify structured,
        unstructures, and image files. User must provide either a unstructured
        deidentify template or at least one redact image config.
      type: object
    GooglePrivacyDlpV2Manual:
      type: object
      id: GooglePrivacyDlpV2Manual
      description: >-
        Job trigger option for hybrid jobs. Jobs must be manually created and
        finished.
      properties: {}
    GooglePrivacyDlpV2PartitionId:
      id: GooglePrivacyDlpV2PartitionId
      properties:
        projectId:
          type: string
          description: The ID of the project to which the entities belong.
        namespaceId:
          description: If not empty, the ID of the namespace to which the entities belong.
          type: string
      description: >-
        Datastore partition ID. A partition ID identifies a grouping of
        entities. The grouping is always by project and namespace, however the
        namespace ID may be empty. A partition ID contains several dimensions:
        project ID and namespace ID.
      type: object
    GooglePrivacyDlpV2DeidentifyTemplate:
      type: object
      description: >-
        DeidentifyTemplates contains instructions on how to de-identify content.
        See https://cloud.google.com/dlp/docs/concepts-templates to learn more.
      properties:
        updateTime:
          description: Output only. The last update timestamp of an inspectTemplate.
          format: google-datetime
          type: string
          readOnly: true
        description:
          type: string
          description: Short description (max 256 chars).
        deidentifyConfig:
          description: The core content of the template.
          $ref: '#/components/schemas/GooglePrivacyDlpV2DeidentifyConfig'
        name:
          description: >-
            Output only. The template name. The template will have one of the
            following formats:
            `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR
            `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`
          type: string
          readOnly: true
        createTime:
          format: google-datetime
          readOnly: true
          description: Output only. The creation timestamp of an inspectTemplate.
          type: string
        displayName:
          type: string
          description: Display name (max 256 chars).
      id: GooglePrivacyDlpV2DeidentifyTemplate
    GooglePrivacyDlpV2Deidentify:
      type: object
      id: GooglePrivacyDlpV2Deidentify
      description: >-
        Create a de-identified copy of the requested table or files. A
        TransformationDetail will be created for each transformation. If any
        rows in BigQuery are skipped during de-identification (transformation
        errors or row size exceeds BigQuery insert API limits) they are placed
        in the failure output table. If the original row exceeds the BigQuery
        insert API limit it will be truncated when written to the failure output
        table. The failure output table can be set in the
        action.deidentify.output.big_query_output.deidentified_failure_output_table
        field, if no table is set, a table will be automatically created in the
        same project and dataset as the original table. Compatible with: Inspect
      properties:
        transformationConfig:
          $ref: '#/components/schemas/GooglePrivacyDlpV2TransformationConfig'
          description: >-
            User specified deidentify templates and configs for structured,
            unstructured, and image files.
        fileTypesToTransform:
          description: >-
            List of user-specified file type groups to transform. If specified,
            only the files with these filetypes will be transformed. If empty,
            all supported files will be transformed. Supported types may be
            automatically added over time. If a file type is set in this field
            that isn't supported by the Deidentify action then the job will fail
            and will not be successfully created/started. Currently the only
            filetypes supported are: IMAGES, TEXT_FILES, CSV, TSV.
          type: array
          items:
            enum:
              - FILE_TYPE_UNSPECIFIED
              - BINARY_FILE
              - TEXT_FILE
              - IMAGE
              - WORD
              - PDF
              - AVRO
              - CSV
              - TSV
              - POWERPOINT
              - EXCEL
            enumDescriptions:
              - Includes all files.
              - >-
                Includes all file extensions not covered by another entry.
                Binary scanning attempts to convert the content of the file to
                utf_8 to scan the file. If you wish to avoid this fall back,
                specify one or more of the other FileType's in your storage
                scan.
              - >-
                Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi,
                cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged,
                go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml,
                mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw,
                rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm,
                xhtml, lhs, ics, ini, java, js, json, kix, kml, ocaml, md, txt,
                text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml,
                yaml.
              - >-
                Included file extensions: bmp, gif, jpg, jpeg, jpe, png.
                bytes_limit_per_file has no effect on image files. Image
                inspection is restricted to 'global', 'us', 'asia', and
                'europe'.
              - >-
                Word files >30 MB will be scanned as binary files. Included file
                extensions: docx, dotx, docm, dotm
              - >-
                PDF files >30 MB will be scanned as binary files. Included file
                extensions: pdf
              - 'Included file extensions: avro'
              - 'Included file extensions: csv'
              - 'Included file extensions: tsv'
              - >-
                Powerpoint files >30 MB will be scanned as binary files.
                Included file extensions: pptx, pptm, potx, potm, pot
              - >-
                Excel files >30 MB will be scanned as binary files. Included
                file extensions: xlsx, xlsm, xltx, xltm
            type: string
        cloudStorageOutput:
          description: >-
            Required. User settable Cloud Storage bucket and folders to store
            de-identified files. This field must be set for cloud storage
            deidentification. The output Cloud Storage bucket must be different
            from the input bucket. De-identified files will overwrite files in
            the output path. Form of: gs://bucket/folder/ or gs://bucket
          type: string
        transformationDetailsStorageConfig:
          $ref: >-
            #/components/schemas/GooglePrivacyDlpV2TransformationDetailsStorageConfig
          description: >-
            Config for storing transformation details. This is separate from the
            de-identified content, and contains metadata about the successful
            transformations and/or failures that occurred while de-identifying.
            This needs to be set in order for users to access information about
            the status of each transformation (see TransformationDetails message
            for more information about what is noted).
    GooglePrivacyDlpV2DataProfileConfigSnapshot:
      type: object
      properties:
        inspectConfig:
          description: >-
            A copy of the inspection config used to generate this profile. This
            is a copy of the inspect_template specified in
            `DataProfileJobConfig`.
          $ref: '#/components/schemas/GooglePrivacyDlpV2InspectConfig'
        dataProfileJob:
          description: A copy of the configuration used to generate this profile.
          $ref: '#/components/schemas/GooglePrivacyDlpV2DataProfileJobConfig'
      id: GooglePrivacyDlpV2DataProfileConfigSnapshot
      description: Snapshot of the configurations used to generate the profile.
    GooglePrivacyDlpV2ListJobTriggersResponse:
      properties:
        nextPageToken:
          description: >-
            If the next page is available then the next page token to be used in
            following ListJobTriggers request.
          type: string
        jobTriggers:
          type: array
          description: List of triggeredJobs, up to page_size in ListJobTriggersRequest.
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2JobTrigger'
      type: object
      id: GooglePrivacyDlpV2ListJobTriggersResponse
      description: Response message for ListJobTriggers.
    GooglePrivacyDlpV2DataProfileAction:
      properties:
        pubSubNotification:
          description: Publish a message into the Pub/Sub topic.
          $ref: '#/components/schemas/GooglePrivacyDlpV2PubSubNotification'
        exportData:
          description: Export data profiles into a provided location.
          $ref: '#/components/schemas/GooglePrivacyDlpV2Export'
      type: object
      description: A task to execute when a data profile has been generated.
      id: GooglePrivacyDlpV2DataProfileAction
    GooglePrivacyDlpV2StoredInfoTypeStats:
      id: GooglePrivacyDlpV2StoredInfoTypeStats
      properties:
        largeCustomDictionary:
          description: >-
            StoredInfoType where findings are defined by a dictionary of
            phrases.
          $ref: '#/components/schemas/GooglePrivacyDlpV2LargeCustomDictionaryStats'
      description: Statistics for a StoredInfoType.
      type: object
    GooglePrivacyDlpV2InfoTypeTransformation:
      type: object
      id: GooglePrivacyDlpV2InfoTypeTransformation
      properties:
        infoTypes:
          description: >-
            InfoTypes to apply the transformation to. An empty list will cause
            this transformation to apply to all findings that correspond to
            infoTypes that were requested in `InspectConfig`.
          type: array
          items:
            $ref: '#/components/schemas/GooglePrivacyDlpV2InfoType'
        primitiveTransformation:
[...]
