openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: API Discovery Service
  description: >-
    Provides information about other Google APIs, such as what APIs are
    available, the resource, and method details for each API.
  version: v1
  x-discovery-doc-revision: '20200806'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/discovery/
servers:
  - url: https://www.googleapis.com/discovery/v1
components:
  schemas:
    JsonSchema:
      properties:
        properties:
          type: object
          description: >-
            If this is a schema for an object, list the schema for each property
            of this object.
          additionalProperties:
            description: >-
              A single property of this object. The value is itself a JSON
              Schema object describing this property.
            $ref: '#/components/schemas/JsonSchema'
        variant:
          type: object
          properties:
            map:
              description: The map of discriminant value to schema to use for parsing..
              type: array
              items:
                type: object
                properties:
                  $ref:
                    type: string
                  type_value:
                    type: string
            discriminant:
              type: string
              description: The name of the type discriminant property.
          description: >-
            In a variant data type, the value of one property is used to
            determine how to interpret the entire entity. Its value must exist
            in a map of descriminant values to schema names.
        format:
          type: string
          description: >-
            An additional regular expression or key that helps constrain the
            value. For more details see:
            http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.23
        maximum:
          description: The maximum value of this parameter.
          type: string
        repeated:
          type: boolean
          description: Whether this parameter may appear multiple times.
        default:
          type: string
          description: The default value of this property (if one exists).
        items:
          $ref: '#/components/schemas/JsonSchema'
          description: >-
            If this is a schema for an array, this property is the schema for
            each element in the array.
        additionalProperties:
          $ref: '#/components/schemas/JsonSchema'
          description: >-
            If this is a schema for an object, this property is the schema for
            any additional properties with dynamic keys on this object.
        enum:
          items:
            type: string
          description: Values this parameter may take (if it is an enum).
          type: array
        description:
          type: string
          description: A description of this object.
        minimum:
          type: string
          description: The minimum value of this parameter.
        annotations:
          properties:
            required:
              description: >-
                A list of methods for which this property is required on
                requests.
              items:
                type: string
              type: array
          description: Additional information about this property.
          type: object
        readOnly:
          type: boolean
          description: >-
            The value is read-only, generated by the service. The value cannot
            be modified by the client. If the value is included in a POST, PUT,
            or PATCH request, it is ignored by the service.
        location:
          type: string
          description: >-
            Whether this parameter goes in the query or the path for REST
            requests.
        type:
          type: string
          description: >-
            The value type for this schema. A list of values can be found here:
            http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.1
        required:
          description: Whether the parameter is required.
          type: boolean
        enumDescriptions:
          items:
            type: string
          type: array
          description: >-
            The descriptions for the enums. Each position maps to the
            corresponding value in the "enum" array.
        $ref:
          description: >-
            A reference to another schema. The value of this property is the
            "id" of another schema.
          type: string
        id:
          description: Unique identifier for this schema.
          type: string
        pattern:
          description: >-
            The regular expression this parameter must conform to. Uses Java 6
            regex format:
            http://docs.oracle.com/javase/6/docs/api/java/util/regex/Pattern.html
          type: string
      type: object
      id: JsonSchema
    RestDescription:
      id: RestDescription
      properties:
        documentationLink:
          description: A link to human readable documentation for the API.
          type: string
        etag:
          readOnly: true
          description: The ETag for this response.
          type: string
        protocol:
          description: The protocol described by this document.
          type: string
          default: rest
        description:
          type: string
          description: The description of this API.
        canonicalName:
          description: >-
            Indicates how the API name should be capitalized and split into
            various parts. Useful for generating pretty class names.
          type: string
        id:
          description: The ID of this API.
          type: string
        parameters:
          additionalProperties:
            description: Description of a single parameter.
            $ref: '#/components/schemas/JsonSchema'
          type: object
          description: Common parameters that apply across all apis.
        revision:
          description: The version of this API.
          type: string
        baseUrl:
          type: string
          description: '[DEPRECATED] The base URL for REST requests.'
        version:
          type: string
          description: The version of this API.
        icons:
          type: object
          description: Links to 16x16 and 32x32 icons representing the API.
          properties:
            x32:
              description: The URL of the 32x32 icon.
              type: string
            x16:
              description: The URL of the 16x16 icon.
              type: string
        schemas:
          description: The schemas for this API.
          additionalProperties:
            $ref: '#/components/schemas/JsonSchema'
            description: An individual schema description.
          type: object
        name:
          description: The name of this API.
          type: string
        packagePath:
          type: string
          description: The package of the owner of this API. See ownerDomain.
        basePath:
          description: '[DEPRECATED] The base path for REST requests.'
          type: string
        ownerName:
          type: string
          description: The name of the owner of this API. See ownerDomain.
        ownerDomain:
          type: string
          description: >-
            The domain of the owner of this API. Together with the ownerName and
            a packagePath values, this can be used to generate a library for
            this API which would have a unique fully qualified name.
        resources:
          description: The resources in this API.
          additionalProperties:
            description: >-
              An individual resource description. Contains methods and
              sub-resources related to this resource.
            $ref: '#/components/schemas/RestResource'
          type: object
        servicePath:
          description: The base path for all REST requests.
          type: string
        discoveryVersion:
          description: Indicate the version of the Discovery API used to generate this doc.
          type: string
          default: v1
        methods:
          type: object
          description: API-level methods for this API.
          additionalProperties:
            $ref: '#/components/schemas/RestMethod'
            description: An individual method description.
        version_module:
          type: boolean
        labels:
          type: array
          items:
            type: string
          description: Labels for the status of this API, such as labs or deprecated.
        exponentialBackoffDefault:
          description: >-
            Enable exponential backoff for suitable methods in the generated
            clients.
          type: boolean
        rootUrl:
          description: The root URL under which all API services live.
          type: string
        batchPath:
          description: The path for REST batch requests.
          type: string
        auth:
          properties:
            oauth2:
              description: OAuth 2.0 authentication information.
              type: object
              properties:
                scopes:
                  type: object
                  description: Available OAuth 2.0 scopes.
                  additionalProperties:
                    properties:
                      description:
                        type: string
                        description: Description of scope.
                    type: object
                    description: The scope value.
          type: object
          description: Authentication information.
        features:
          type: array
          description: A list of supported features for this API.
          items:
            type: string
        kind:
          type: string
          default: discovery#restDescription
          description: The kind for this response.
        title:
          type: string
          description: The title of this API.
      type: object
    RestResource:
      id: RestResource
      type: object
      properties:
        methods:
          description: Methods on this resource.
          additionalProperties:
            $ref: '#/components/schemas/RestMethod'
            description: Description for any methods on this resource.
          type: object
        resources:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RestResource'
            description: Description for any sub-resources on this resource.
          description: Sub-resources on this resource.
    RestMethod:
      type: object
      properties:
        httpMethod:
          type: string
          description: HTTP method used by this method.
        flatPath:
          description: >-
            The URI path of this REST method in (RFC 6570) format without level
            2 features ({+var}). Supplementary to the path property.
          type: string
        supportsMediaUpload:
          description: Whether this method supports media uploads.
          type: boolean
        description:
          description: Description of this method.
          type: string
        supportsMediaDownload:
          description: Whether this method supports media downloads.
          type: boolean
        supportsSubscription:
          type: boolean
          description: Whether this method supports subscriptions.
        response:
          properties:
            $ref:
              type: string
              description: Schema ID for the response schema.
          type: object
          description: The schema for the response.
        id:
          type: string
          description: >-
            A unique ID for this method. This property can be used to match
            methods between different versions of Discovery.
        mediaUpload:
          type: object
          description: Media upload parameters.
          properties:
            maxSize:
              type: string
              description: Maximum size of a media upload, such as "1MB", "2GB" or "3TB".
            protocols:
              properties:
                resumable:
                  description: Supports the Resumable Media Upload protocol.
                  type: object
                  properties:
                    path:
                      type: string
                      description: >-
                        The URI path to be used for upload. Should be used in
                        conjunction with the basePath property at the api-level.
                    multipart:
                      default: 'true'
                      description: >-
                        True if this endpoint supports uploading multipart
                        media.
                      type: boolean
                simple:
                  type: object
                  properties:
                    multipart:
                      default: 'true'
                      type: boolean
                      description: True if this endpoint supports upload multipart media.
                    path:
                      type: string
                      description: >-
                        The URI path to be used for upload. Should be used in
                        conjunction with the basePath property at the api-level.
                  description: Supports uploading as a single HTTP request.
              type: object
              description: Supported upload protocols.
            accept:
              type: array
              items:
                type: string
              description: MIME Media Ranges for acceptable media uploads to this method.
        scopes:
          type: array
          description: OAuth 2.0 scopes applicable to this method.
          items:
            type: string
        parameters:
          description: Details for all parameters in this method.
          type: object
          additionalProperties:
            description: Details for a single parameter in this method.
            $ref: '#/components/schemas/JsonSchema'
        etagRequired:
          type: boolean
          description: >-
            Whether this method requires an ETag to be specified. The ETag is
            sent as an HTTP If-Match or If-None-Match header.
        request:
          description: The schema for the request.
          properties:
            parameterName:
              type: string
              description: parameter name.
            $ref:
              type: string
              description: Schema ID for the request schema.
          type: object
        parameterOrder:
          type: array
          items:
            type: string
          description: >-
            Ordered list of required parameters, serves as a hint to clients on
            how to structure their method signatures. The array is ordered such
            that the "most-significant" parameter appears first.
        useMediaDownloadService:
          description: >-
            Indicates that downloads from this method should use the download
            service URL (i.e. "/download"). Only applies if the method supports
            media download.
          type: boolean
        path:
          type: string
          description: >-
            The URI path of this REST method. Should be used in conjunction with
            the basePath property at the api-level.
      id: RestMethod
    DirectoryList:
      properties:
        items:
          type: array
          description: The individual directory entries. One entry per api/version pair.
          items:
            type: object
            properties:
              documentationLink:
                description: A link to human readable documentation for the API.
                type: string
              discoveryLink:
                description: A link to the discovery document.
                type: string
              description:
                description: The description of this API.
                type: string
              version:
                type: string
                description: The version of the API.
              preferred:
                description: True if this version is the preferred version to use.
                type: boolean
              labels:
                items:
                  type: string
                type: array
                description: Labels for the status of this API, such as labs or deprecated.
              kind:
                type: string
                description: The kind for this response.
                default: discovery#directoryItem
              icons:
                description: Links to 16x16 and 32x32 icons representing the API.
                type: object
                properties:
                  x32:
                    description: The URL of the 32x32 icon.
                    type: string
                  x16:
                    type: string
                    description: The URL of the 16x16 icon.
              id:
                description: The id of this API.
                type: string
              name:
                description: The name of the API.
                type: string
              title:
                description: The title of this API.
                type: string
              discoveryRestUrl:
                type: string
                description: The URL for the discovery REST document.
        discoveryVersion:
          description: Indicate the version of the Discovery API used to generate this doc.
          type: string
          default: v1
        kind:
          description: The kind for this response.
          default: discovery#directoryList
          type: string
      id: DirectoryList
      type: object
  parameters:
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    quotaUser:
      description: >-
        An opaque string that represents a user for quota purposes. Must not
        exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/cloud-platform: >-
              See, edit, configure, and delete your Google Cloud data and see
              the email address for your Google Account.
            https://www.googleapis.com/auth/dialogflow: View, manage and query your Dialogflow agents
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /apis:
    parameters: &ref_1
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/userIp'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/fields'
    get:
      description: Retrieve the list of APIs supported at this endpoint.
      operationId: discovery.apis.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryList'
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: preferred
          schema:
            type: boolean
      x-stackQL-resource: apis
      x-stackQL-verb: select
  /apis/{api}/{version}/rest:
    parameters: *ref_1
    get:
      description: Retrieve the description of a particular version of an api.
      operationId: discovery.apis.getRest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestDescription'
      parameters:
        - in: path
          name: api
          required: true
          schema:
            type: string
        - in: path
          name: version
          required: true
          schema:
            type: string
      x-stackQL-resource: apis__rest
      x-stackQL-verb: select
