openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Trace API
  description: >-
    Sends application trace data to Cloud Trace for viewing. Trace data is
    collected for all App Engine applications by default. Trace data from other
    applications can be provided using this API. This library is used to
    interact with the Cloud Trace API directly. If you are looking to instrument
    your application for Cloud Trace, we recommend using OpenTelemetry. 
  version: v2beta1
  x-discovery-doc-revision: '20230608'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/trace
servers:
  - url: https://cloudtrace.googleapis.com
components:
  schemas:
    OutputConfig:
      properties:
        destination:
          type: string
          description: >-
            The destination for writing trace data. Supported formats include:
            "bigquery.googleapis.com/projects/[PROJECT_ID]/datasets/[DATASET]"
      type: object
      description: OutputConfig contains a destination for writing trace data.
      id: OutputConfig
    TraceSink:
      properties:
        outputConfig:
          description: Required. The export destination.
          $ref: '#/components/schemas/OutputConfig'
        writerIdentity:
          description: >-
            Output only. A service account name for exporting the data. This
            field is set by sinks.create and sinks.update. The service account
            will need to be granted write access to the destination specified in
            the output configuration, see [Granting access for a
            resource](/iam/docs/granting-roles-to-service-accounts#granting_access_to_a_service_account_for_a_resource).
            To create tables and to write data, this account needs the
            `dataEditor` role. Read more about roles in the [BigQuery
            documentation](https://cloud.google.com/bigquery/docs/access-control).
            E.g.: "service-00000001@00000002.iam.gserviceaccount.com"
          readOnly: true
          type: string
        name:
          type: string
          description: >-
            Required. The canonical sink resource name, unique within the
            project. Must be of the form:
            projects/[PROJECT_NUMBER]/traceSinks/[SINK_ID]. E.g.:
            `"projects/12345/traceSinks/my-project-trace-sink"`. Sink
            identifiers are limited to 256 characters and can include only the
            following characters: upper and lower-case alphanumeric characters,
            underscores, hyphens, and periods.
      id: TraceSink
      type: object
      description: >-
        Describes a sink used to export traces to a BigQuery dataset. The sink
        must be created within a project.
    Empty:
      type: object
      id: Empty
      properties: {}
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
    ListTraceSinksResponse:
      type: object
      properties:
        nextPageToken:
          type: string
          description: >-
            A paginated response where more pages might be available has
            `next_page_token` set. To get the next set of results, call the same
            method again using the value of `next_page_token` as `page_token`.
        sinks:
          description: A list of sinks.
          type: array
          items:
            $ref: '#/components/schemas/TraceSink'
      id: ListTraceSinksResponse
      description: Result returned from `ListTraceSinks`.
  parameters:
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/trace.append: Write Trace data for a project or application
            https://www.googleapis.com/auth/cloud-platform: >-
              See, edit, configure, and delete your Google Cloud data and see
              the email address for your Google Account.
            https://www.googleapis.com/auth/trace.readonly: Read Trace data for a project or application
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v2beta1/projects/{projectsId}/traceSinks:
    parameters: &ref_1
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/quotaUser'
    get:
      description: List all sinks for the parent resource (GCP project).
      operationId: cloudtrace.projects.traceSinks.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/trace.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/trace.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTraceSinksResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: trace_sinks
      x-stackQL-verb: select
    post:
      description: >-
        Creates a sink that exports trace spans to a destination. The export of
        newly-ingested traces begins immediately, unless the sink's
        `writer_identity` is not permitted to write to the destination. A sink
        can export traces only from the resource owning the sink (the 'parent').
      operationId: cloudtrace.projects.traceSinks.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TraceSink'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/trace.append
          Oauth2c:
            - https://www.googleapis.com/auth/trace.append
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceSink'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
      x-stackQL-resource: trace_sinks
      x-stackQL-verb: insert
  /v2beta1/projects/{projectsId}/traceSinks/{traceSinksId}:
    parameters: *ref_1
    get:
      description: Get a trace sink by name under the parent resource (GCP project).
      operationId: cloudtrace.projects.traceSinks.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/trace.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/trace.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceSink'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: traceSinksId
          required: true
          schema:
            type: string
      x-stackQL-resource: trace_sinks
      x-stackQL-verb: select
    delete:
      description: Deletes a sink.
      operationId: cloudtrace.projects.traceSinks.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/trace.append
          Oauth2c:
            - https://www.googleapis.com/auth/trace.append
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: traceSinksId
          required: true
          schema:
            type: string
      x-stackQL-resource: trace_sinks
      x-stackQL-verb: delete
    patch:
      description: >-
        Updates a sink. This method updates fields in the existing sink
        according to the provided update mask. The sink's name cannot be changed
        nor any output-only fields (e.g. the writer_identity).
      operationId: cloudtrace.projects.traceSinks.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TraceSink'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/trace.append
          Oauth2c:
            - https://www.googleapis.com/auth/trace.append
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceSink'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: traceSinksId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: trace_sinks
      x-stackQL-verb: exec
