openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Drive API
  description: The Google Drive API allows clients to access resources from Google Drive.
  version: v2
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/drive/
servers:
  - url: https://www.googleapis.com/drive/v2
components:
  schemas:
    App:
      description: >-
        The apps resource provides a list of the apps that a user has installed,
        with information about each app's supported MIME types, file extensions,
        and other details.
      id: App
      type: object
      properties:
        secondaryMimeTypes:
          items:
            type: string
          description: The list of secondary mime types.
          type: array
        createInFolderTemplate:
          description: >-
            The template url to create a new file with this app in a given
            folder. The template will contain {folderId} to be replaced by the
            folder to create the new file in.
          type: string
        openUrlTemplate:
          description: >-
            The template url for opening files with this app. The template will
            contain `{ids}` and/or `{exportIds}` to be replaced by the actual
            file ids. See Open Files for the full documentation.
          type: string
        supportsCreate:
          description: Whether this app supports creating new objects.
          type: boolean
        hasDriveWideScope:
          description: >-
            Whether the app has drive-wide scope. An app with drive-wide scope
            can access all files in the user's drive.
          type: boolean
        authorized:
          description: Whether the app is authorized to access data on the user's Drive.
          type: boolean
        supportsMultiOpen:
          type: boolean
          description: Whether this app supports opening more than one file.
        id:
          description: The ID of the app.
          type: string
        secondaryFileExtensions:
          type: array
          description: The list of secondary file extensions.
          items:
            type: string
        productId:
          description: The ID of the product listing for this app.
          type: string
        shortDescription:
          type: string
          description: A short description of the app.
        supportsOfflineCreate:
          type: boolean
          description: Whether this app supports creating new files when offline.
        primaryFileExtensions:
          type: array
          items:
            type: string
          description: The list of primary file extensions.
        primaryMimeTypes:
          description: The list of primary mime types.
          type: array
          items:
            type: string
        useByDefault:
          description: >-
            Whether the app is selected as the default handler for the types it
            supports.
          type: boolean
        kind:
          description: This is always `drive#app`.
          default: drive#app
          type: string
        productUrl:
          description: A link to the product listing for this app.
          type: string
        name:
          type: string
          description: The name of the app.
        objectType:
          type: string
          description: >-
            The type of object this app creates (e.g. Chart). If empty, the app
            name should be used instead.
        supportsImport:
          description: Whether this app supports importing from Docs Editors.
          type: boolean
        icons:
          items:
            properties:
              size:
                type: integer
                format: int32
                description: >-
                  Size of the icon. Represented as the maximum of the width and
                  height.
              category:
                description: >-
                  Category of the icon. Allowed values are: * `application` -
                  icon for the application * `document` - icon for a file
                  associated with the app * `documentShared` - icon for a shared
                  file associated with the app
                type: string
              iconUrl:
                type: string
                description: URL for the icon.
            type: object
          type: array
          description: The various icons for the app.
        installed:
          description: Whether the app is installed.
          type: boolean
        createUrl:
          type: string
          description: The url to create a new file with this app.
        longDescription:
          description: A long description of the app.
          type: string
    Label:
      properties:
        revisionId:
          type: string
          description: The revision ID of the label.
        kind:
          default: drive#label
          type: string
          description: This is always `drive#label`
        id:
          type: string
          description: The ID of the label.
        fields:
          description: A map of the fields on the label, keyed by the field's ID.
          additionalProperties:
            $ref: '#/components/schemas/LabelField'
          type: object
      description: Representation of a label and label fields.
      type: object
      id: Label
    About:
      properties:
        permissionId:
          type: string
          description: The current user's ID as visible in the permissions collection.
        quotaType:
          type: string
          description: >-
            The type of the user's storage quota. Possible values are: *
            `LIMITED` * `UNLIMITED`
        languageCode:
          type: string
          description: >-
            The user's language or locale code, as defined by BCP 47, with some
            extensions from Unicode's LDML format
            (http://www.unicode.org/reports/tr35/).
        canCreateDrives:
          type: boolean
          description: Whether the user can create shared drives.
        maxUploadSizes:
          type: array
          items:
            properties:
              size:
                format: int64
                type: string
                description: The max upload size for this type.
              type:
                description: The file type.
                type: string
            type: object
          description: >-
            List of max upload sizes for each file type. The most specific type
            takes precedence.
        isCurrentAppInstalled:
          description: >-
            A boolean indicating whether the authenticated app is installed by
            the authenticated user.
          type: boolean
        canCreateTeamDrives:
          description: 'Deprecated: Use `canCreateDrives` instead.'
          type: boolean
        remainingChangeIds:
          description: The number of remaining change ids, limited to no more than 2500.
          type: string
          format: int64
        additionalRoleInfo:
          items:
            type: object
            properties:
              roleSets:
                items:
                  type: object
                  properties:
                    primaryRole:
                      type: string
                      description: A primary permission role.
                    additionalRoles:
                      description: The supported additional roles with the primary role.
                      type: array
                      items:
                        type: string
                type: array
                description: The supported additional roles per primary role.
              type:
                description: The content type that this additional role info applies to.
                type: string
          description: >-
            Information about supported additional roles per file type. The most
            specific type takes precedence.
          type: array
        exportFormats:
          items:
            properties:
              source:
                type: string
                description: The content type to convert from.
              targets:
                description: The possible content types to convert to.
                type: array
                items:
                  type: string
            type: object
          type: array
          description: The allowable export formats.
        teamDriveThemes:
          type: array
          description: 'Deprecated: Use `driveThemes` instead.'
          items:
            properties:
              backgroundImageLink:
                type: string
                description: 'Deprecated: Use `driveThemes/backgroundImageLink` instead.'
              id:
                type: string
                description: 'Deprecated: Use `driveThemes/id` instead.'
              colorRgb:
                type: string
                description: 'Deprecated: Use `driveThemes/colorRgb` instead.'
            type: object
        features:
          description: List of additional features enabled on this account.
          items:
            type: object
            properties:
              featureRate:
                type: number
                description: >-
                  The request limit rate for this feature, in queries per
                  second.
                format: double
              featureName:
                type: string
                description: The name of the feature.
          type: array
        domainSharingPolicy:
          description: >-
            The domain sharing policy for the current user. Possible values are:
            * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed`
          type: string
        rootFolderId:
          description: The id of the root folder.
          type: string
        user:
          $ref: '#/components/schemas/User'
          description: The authenticated user.
        quotaBytesByService:
          type: array
          items:
            type: object
            properties:
              bytesUsed:
                format: int64
                type: string
                description: The storage quota bytes used by the service.
              serviceName:
                type: string
                description: The service's name, e.g. DRIVE, GMAIL, or PHOTOS.
          description: The amount of storage quota used by different Google services.
        folderColorPalette:
          items:
            type: string
          type: array
          description: The palette of allowable folder colors as RGB hex strings.
        kind:
          description: This is always `drive#about`.
          type: string
          default: drive#about
        quotaBytesUsed:
          type: string
          description: The number of quota bytes used by Google Drive.
          format: int64
        quotaBytesUsedInTrash:
          type: string
          format: int64
          description: The number of quota bytes used by trashed items.
        largestChangeId:
          type: string
          description: The largest change id.
          format: int64
        importFormats:
          description: The allowable import formats.
          type: array
          items:
            properties:
              source:
                description: The imported file's content type to convert from.
                type: string
              targets:
                type: array
                description: The possible content types to convert to.
                items:
                  type: string
            type: object
        name:
          type: string
          description: The name of the current user.
        driveThemes:
          description: A list of themes that are supported for shared drives.
          type: array
          items:
            properties:
              backgroundImageLink:
                type: string
                description: A link to this theme's background image.
              colorRgb:
                type: string
                description: The color of this theme as an RGB hex string.
              id:
                description: The ID of the theme.
                type: string
            type: object
        selfLink:
          type: string
          description: A link back to this item.
        etag:
          description: The ETag of the item.
          type: string
        quotaBytesTotal:
          description: >-
            The total number of quota bytes. This is only relevant when
            quotaType is LIMITED.
          type: string
          format: int64
        quotaBytesUsedAggregate:
          type: string
          format: int64
          description: >-
            The number of quota bytes used by all Google apps (Drive, Picasa,
            etc.).
      description: An item with user information and settings.
      id: About
      type: object
    LabelField:
      properties:
        integer:
          description: Only present if `valueType` is `integer`.
          type: array
          items:
            type: string
            format: int64
        selection:
          description: Only present if `valueType` is `selection`
          type: array
          items:
            type: string
        user:
          type: array
          description: Only present if `valueType` is `user`.
          items:
            $ref: '#/components/schemas/User'
        dateString:
          items:
            type: string
            format: date
          description: >-
            Only present if valueType is dateString. RFC 3339 formatted date:
            YYYY-MM-DD.
          type: array
        kind:
          description: This is always `drive#labelField`.
          default: drive#labelField
          type: string
        id:
          type: string
          description: The identifier of this label field.
        text:
          type: array
          description: Only present if `valueType` is `text`.
          items:
            type: string
        valueType:
          type: string
          description: >-
            The field type. While new values may be supported in the future, the
            following are currently allowed: * `dateString` * `integer` *
            `selection` * `text` * `user`
      description: Representation of field, which is a typed key-value pair.
      type: object
      id: LabelField
    LabelModification:
      description: >-
        A modification to a label on a file. A LabelModification can be used to
        apply a label to a file, update an existing label on a file, or remove a
        label from a file.
      properties:
        removeLabel:
          description: If true, the label will be removed from the file.
          type: boolean
        fieldModifications:
          items:
            $ref: '#/components/schemas/LabelFieldModification'
          description: The list of modifications to this label's fields.
          type: array
        kind:
          type: string
          default: drive#labelModification
          description: This is always `drive#labelModification`.
        labelId:
          type: string
          annotations:
            required:
              - drive.files.modifyLabels
          description: The ID of the label to modify.
      type: object
      id: LabelModification
    ChildReference:
      type: object
      description: A reference to a folder's child.
      properties:
        kind:
          type: string
          description: Output only. This is always `drive#childReference`.
          default: drive#childReference
        id:
          type: string
          annotations:
            required:
              - drive.children.insert
          description: The ID of the child.
        childLink:
          type: string
          description: Output only. A link to the child.
        selfLink:
          description: Output only. A link back to this reference.
          type: string
      id: ChildReference
    ParentList:
      description: A list of a file's parents.
      properties:
        selfLink:
          description: A link back to this list.
          type: string
        etag:
          description: The ETag of the list.
          type: string
        items:
          description: The list of parents.
          type: array
          items:
            $ref: '#/components/schemas/ParentReference'
        kind:
          default: drive#parentList
          description: This is always `drive#parentList`.
          type: string
      id: ParentList
      type: object
    Channel:
      properties:
        resourceId:
          type: string
          description: >-
            An opaque ID that identifies the resource being watched on this
            channel. Stable across different API versions.
        params:
          description: >-
            Additional parameters controlling delivery channel behavior.
            Optional.
          additionalProperties:
            type: string
          type: object
        type:
          description: The type of delivery mechanism used for this channel.
          type: string
        expiration:
          type: string
          description: >-
            Date and time of notification channel expiration, expressed as a
            Unix timestamp, in milliseconds. Optional.
          format: int64
        address:
          type: string
          description: The address where notifications are delivered for this channel.
        id:
          description: A UUID or similar unique string that identifies this channel.
          type: string
        token:
          type: string
          description: >-
            An arbitrary string delivered to the target address with each
            notification delivered over this channel. Optional.
        kind:
          type: string
          default: api#channel
          description: >-
            Identifies this as a notification channel used to watch for changes
            to a resource, which is `api#channel`.
        resourceUri:
          type: string
          description: A version-specific identifier for the watched resource.
        payload:
          type: boolean
          description: A Boolean value to indicate whether payload is wanted. Optional.
      description: A notification channel used to watch for resource changes.
      type: object
      id: Channel
    TeamDriveList:
      description: A list of Team Drives.
      properties:
        items:
          description: The list of Team Drives.
          type: array
          items:
            $ref: '#/components/schemas/TeamDrive'
        nextPageToken:
          type: string
          description: The page token for the next page of Team Drives.
        kind:
          description: This is always `drive#teamDriveList`
          default: drive#teamDriveList
          type: string
      type: object
      id: TeamDriveList
    User:
      properties:
        emailAddress:
          type: string
          description: Output only. The email address of the user.
        kind:
          description: Output only. This is always `drive#user`.
          default: drive#user
          type: string
        displayName:
          description: Output only. A plain text displayable name for this user.
          type: string
        isAuthenticatedUser:
          type: boolean
          description: >-
            Output only. Whether this user is the same as the authenticated user
            for whom the request was made.
        picture:
          type: object
          properties:
            url:
              description: >-
                Output Only. A URL that points to a profile picture of this
                user.
              type: string
          description: Output only. The user's profile picture.
        permissionId:
          description: Output only. The user's ID as visible in the permissions collection.
          type: string
      description: Information about a Drive user.
      id: User
      type: object
    PermissionList:
      type: object
      id: PermissionList
      properties:
        items:
          type: array
          description: The list of permissions.
          items:
            $ref: '#/components/schemas/Permission'
        etag:
          type: string
          description: The ETag of the list.
        kind:
          type: string
          default: drive#permissionList
          description: This is always `drive#permissionList`.
        nextPageToken:
          description: >-
            The page token for the next page of permissions. This field will be
            absent if the end of the permissions list has been reached. If the
            token is rejected for any reason, it should be discarded, and
            pagination should be restarted from the first page of results.
          type: string
        selfLink:
          type: string
          description: A link back to this list.
      description: A list of permissions associated with a file.
    CommentReplyList:
      properties:
        selfLink:
          description: A link back to this list.
          type: string
        nextLink:
          type: string
          description: A link to the next page of replies.
        kind:
          default: drive#commentReplyList
          type: string
          description: This is always `drive#commentReplyList`.
        items:
          description: >-
            The list of replies. If nextPageToken is populated, then this list
            may be incomplete and an additional page of results should be
            fetched.
          type: array
          items:
            $ref: '#/components/schemas/CommentReply'
        nextPageToken:
          type: string
          description: >-
            The page token for the next page of replies. This will be absent if
            the end of the replies list has been reached. If the token is
            rejected for any reason, it should be discarded, and pagination
            should be restarted from the first page of results.
      id: CommentReplyList
      type: object
      description: A list of replies to a comment on a file in Google Drive.
    PermissionId:
      description: An ID for a user or group as seen in Permission items.
      type: object
      id: PermissionId
      properties:
        kind:
          type: string
          description: This is always `drive#permissionId`.
          default: drive#permissionId
        id:
          description: The permission ID.
          type: string
    ModifyLabelsResponse:
      id: ModifyLabelsResponse
      description: >-
        Response to a ModifyLabels request. This contains only those labels
        which were added or updated by the request.
      properties:
        kind:
          default: drive#modifyLabelsResponse
          type: string
          description: This is always `drive#modifyLabelsResponse`
        modifiedLabels:
          description: The list of labels which were added or updated by the request.
          items:
            $ref: '#/components/schemas/Label'
          type: array
      type: object
    Drive:
      properties:
        capabilities:
          type: object
          description: Output only. Capabilities the current user has on this shared drive.
          properties:
            canCopy:
              description: >-
                Output only. Whether the current user can copy files in this
                shared drive.
              type: boolean
            canDownload:
              description: >-
                Output only. Whether the current user can download files in this
                shared drive.
              type: boolean
            canManageMembers:
              type: boolean
              description: >-
                Output only. Whether the current user can add members to this
                shared drive or remove them or change their role.
            canChangeDomainUsersOnlyRestriction:
              description: >-
                Output only. Whether the current user can change the
                `domainUsersOnly` restriction of this shared drive.
              type: boolean
            canReadRevisions:
              description: >-
                Output only. Whether the current user can read the revisions
                resource of files in this shared drive.
              type: boolean
            canListChildren:
              type: boolean
              description: >-
                Output only. Whether the current user can list the children of
                folders in this shared drive.
            canChangeCopyRequiresWriterPermissionRestriction:
              type: boolean
              description: >-
                Output only. Whether the current user can change the
                `copyRequiresWriterPermission` restriction of this shared drive.
            canResetDriveRestrictions:
              description: >-
                Output only. Whether the current user can reset the shared drive
                restrictions to defaults.
              type: boolean
            canRename:
              description: >-
                Output only. Whether the current user can rename files or
                folders in this shared drive.
              type: boolean
            canChangeDriveBackground:
              description: >-
                Output only. Whether the current user can change the background
                of this shared drive.
              type: boolean
            canDeleteDrive:
              description: >-
                Output only. Whether the current user can delete this shared
                drive. Attempting to delete the shared drive may still fail if
                there are untrashed items inside the shared drive.
              type: boolean
            canAddChildren:
              description: >-
                Output only. Whether the current user can add children to
                folders in this shared drive.
              type: boolean
            canEdit:
              description: >-
                Output only. Whether the current user can edit files in this
                shared drive
              type: boolean
            canChangeSharingFoldersRequiresOrganizerPermissionRestriction:
              description: >-
                Output only. Whether the current user can change the
                `sharingFoldersRequiresOrganizerPermission` restriction of this
                shared drive.
              type: boolean
            canTrashChildren:
              type: boolean
              description: >-
                Output only. Whether the current user can trash children from
                folders in this shared drive.
            canDeleteChildren:
              description: >-
                Output only. Whether the current user can delete children from
                folders in this shared drive.
              type: boolean
            canRenameDrive:
              type: boolean
              description: >-
                Output only. Whether the current user can rename this shared
                drive.
            canComment:
              type: boolean
              description: >-
                Output only. Whether the current user can comment on files in
                this shared drive.
            canChangeDriveMembersOnlyRestriction:
              type: boolean
              description: >-
                Output only. Whether the current user can change the
                `driveMembersOnly` restriction of this shared drive.
            canShare:
              type: boolean
              description: >-
                Output only. Whether the current user can share files or folders
                in this shared drive.
        colorRgb:
          type: string
          description: >-
            The color of this shared drive as an RGB hex string. It can only be
            set on a `drive.drives.update` request that does not set `themeId`.
        name:
          type: string
          annotations:
            required:
              - drive.drives.insert
          description: The name of this shared drive.
        restrictions:
          properties:
            driveMembersOnly:
              description: >-
                Whether access to items inside this shared drive is restricted
                to its members.
              type: boolean
            sharingFoldersRequiresOrganizerPermission:
              description: >-
                If true, only users with the organizer role can share folders.
                If false, users with either the organizer role or the file
                organizer role can share folders.
              type: boolean
            copyRequiresWriterPermission:
              type: boolean
              description: >-
                Whether the options to copy, print, or download files inside
                this shared drive, should be disabled for readers and
                commenters. When this restriction is set to `true`, it will
                override the similarly named field to `true` for any file inside
                this shared drive.
            domainUsersOnly:
              type: boolean
              description: >-
                Whether access to this shared drive and items inside this shared
                drive is restricted to users of the domain to which this shared
                drive belongs. This restriction may be overridden by other
                sharing policies controlled outside of this shared drive.
            adminManagedRestrictions:
              description: >-
                Whether administrative privileges on this shared drive are
                required to modify restrictions.
              type: boolean
          description: >-
            A set of restrictions that apply to this shared drive or items
            inside this shared drive.
          type: object
        id:
          description: >-
            Output only. The ID of this shared drive which is also the ID of the
            top level folder of this shared drive.
          type: string
        createdDate:
          type: string
          format: date-time
          description: The time at which the shared drive was created (RFC 3339 date-time).
        kind:
          type: string
          default: drive#drive
          description: Output only. This is always `drive#drive`
        orgUnitId:
          description: >-
            Output only. The organizational unit of this shared drive. This
            field is only populated on `drives.list` responses when the
            `useDomainAdminAccess` parameter is set to `true`.
          type: string
        backgroundImageLink:
          type: string
          description: >-
            Output only. A short-lived link to this shared drive's background
            image.
        backgroundImageFile:
          description: >-
            An image file and cropping parameters from which a background image
            for this shared drive is set. This is a write only field; it can
            only be set on `drive.drives.update` requests that don't set
            `themeId`. When specified, all fields of the `backgroundImageFile`
            must be set.
          properties:
            width:
              type: number
              format: float
              description: >-
                The width of the cropped image in the closed range of 0 to 1.
                This value represents the width of the cropped image divided by
                the width of the entire image. The height is computed by
                applying a width to height aspect ratio of 80 to 9. The
                resulting image must be at least 1280 pixels wide and 144 pixels
                high.
            xCoordinate:
              format: float
              type: number
              description: >-
                The X coordinate of the upper left corner of the cropping area
                in the background image. This is a value in the closed range of
                0 to 1. This value represents the horizontal distance from the
                left side of the entire image to the left side of the cropping
                area divided by the width of the entire image.
            yCoordinate:
              format: float
              description: >-
                The Y coordinate of the upper left corner of the cropping area
                in the background image. This is a value in the closed range of
                0 to 1. This value represents the vertical distance from the top
                side of the entire image to the top side of the cropping area
                divided by the height of the entire image.
              type: number
            id:
              description: >-
                The ID of an image file in Google Drive to use for the
                background image.
              type: string
          type: object
        hidden:
          description: Whether the shared drive is hidden from default view.
          type: boolean
        themeId:
          description: >-
            The ID of the theme from which the background image and color will
            be set. The set of possible `driveThemes` can be retrieved from a
            `drive.about.get` response. When not specified on a
            `drive.drives.insert` request, a random theme is chosen from which
            the background image and color are set. This is a write-only field;
            it can only be set on requests that don't set `colorRgb` or
            `backgroundImageFile`.
          type: string
      id: Drive
      type: object
      description: Representation of a shared drive.
    PropertyList:
      description: >-
        A collection of properties, key-value pairs that are either public or
        private to an application.
      id: PropertyList
      properties:
        selfLink:
          description: The link back to this list.
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Property'
          description: The list of properties.
        etag:
          description: The ETag of the list.
          type: string
        kind:
          description: This is always `drive#propertyList`.
          type: string
          default: drive#propertyList
      type: object
    TeamDrive:
      properties:
        backgroundImageLink:
          type: string
          description: A short-lived link to this Team Drive's background image.
        themeId:
          description: >-
            The ID of the theme from which the background image and color will
            be set. The set of possible `teamDriveThemes` can be retrieved from
            a `drive.about.get` response. When not specified on a
            `drive.teamdrives.insert` request, a random theme is chosen from
            which the background image and color are set. This is a write-only
            field; it can only be set on requests that don't set `colorRgb` or
            `backgroundImageFile`.
          type: string
        kind:
          description: This is always `drive#teamDrive`
          default: drive#teamDrive
          type: string
        restrictions:
          type: object
          properties:
            adminManagedRestrictions:
              type: boolean
              description: >-
                Whether administrative privileges on this Team Drive are
                required to modify restrictions.
            sharingFoldersRequiresOrganizerPermission:
              type: boolean
              description: >-
                If true, only users with the organizer role can share folders.
                If false, users with either the organizer role or the file
                organizer role can share folders.
            teamMembersOnly:
              type: boolean
              description: >-
                Whether access to items inside this Team Drive is restricted to
                members of this Team Drive.
            copyRequiresWriterPermission:
              type: boolean
              description: >-
                Whether the options to copy, print, or download files inside
                this Team Drive, should be disabled for readers and commenters.
                When this restriction is set to `true`, it will override the
                similarly named field to `true` for any file inside this Team
                Drive.
            domainUsersOnly:
              type: boolean
              description: >-
                Whether access to this Team Drive and items inside this Team
                Drive is restricted to users of the domain to which this Team
                Drive belongs. This restriction may be overridden by other
                sharing policies controlled outside of this Team Drive.
          description: >-
            A set of restrictions that apply to this Team Drive or items inside
            this Team Drive.
        orgUnitId:
          description: >-
            The organizational unit of this shared drive. This field is only
            populated on `drives.list` responses when the `useDomainAdminAccess`
            parameter is set to `true`.
          type: string
        id:
          type: string
          description: >-
            The ID of this Team Drive which is also the ID of the top level
            folder of this Team Drive.
        capabilities:
          description: Capabilities the current user has on this Team Drive.
          type: object
          properties:
            canChangeDomainUsersOnlyRestriction:
              type: boolean
              description: >-
                Whether the current user can change the `domainUsersOnly`
                restriction of this Team Drive.
            canListChildren:
              description: >-
                Whether the current user can list the children of folders in
                this Team Drive.
              type: boolean
            canAddChildren:
              type: boolean
              description: >-
                Whether the current user can add children to folders in this
                Team Drive.
            canReadRevisions:
              type: boolean
              description: >-
                Whether the current user can read the revisions resource of
                files in this Team Drive.
            canShare:
              description: >-
                Whether the current user can share files or folders in this Team
                Drive.
              type: boolean
            canChangeSharingFoldersRequiresOrganizerPermissionRestriction:
              type: boolean
              description: >-
                Whether the current user can change the
                `sharingFoldersRequiresOrganizerPermission` restriction of this
                Team Drive.
            canComment:
              type: boolean
              description: >-
                Whether the current user can comment on files in this Team
                Drive.
            canEdit:
              description: Whether the current user can edit files in this Team Drive
              type: boolean
            canChangeCopyRequiresWriterPermissionRestriction:
              description: >-
                Whether the current user can change the
                `copyRequiresWriterPermission` restriction of this Team Drive.
              type: boolean
            canRename:
              type: boolean
              description: >-
                Whether the current user can rename files or folders in this
                Team Drive.
            canResetTeamDriveRestrictions:
              type: boolean
              description: >-
                Whether the current user can reset the Team Drive restrictions
                to defaults.
            canRemoveChildren:
              description: >-
                Deprecated: Use `canDeleteChildren` or `canTrashChildren`
                instead.
              type: boolean
            canTrashChildren:
              description: >-
                Whether the current user can trash children from folders in this
                Team Drive.
              type: boolean
            canManageMembers:
              type: boolean
              description: >-
                Whether the current user can add members to this Team Drive or
                remove them or change their role.
            canDeleteChildren:
              description: >-
                Whether the current user can delete children from folders in
                this Team Drive.
              type: boolean
            canChangeTeamMembersOnlyRestriction:
              type: boolean
              description: >-
                Whether the current user can change the `teamMembersOnly`
                restriction of this Team Drive.
            canDownload:
              description: Whether the current user can download files in this Team Drive.
              type: boolean
            canRenameTeamDrive:
              type: boolean
              description: Whether the current user can rename this Team Drive.
            canDeleteTeamDrive:
              type: boolean
              description: >-
                Whether the current user can delete this Team Drive. Attempting
                to delete the Team Drive may still fail if there are untrashed
                items inside the Team Drive.
            canCopy:
              description: Whether the current user can copy files in this Team Drive.
              type: boolean
            canChangeTeamDriveBackground:
              type: boolean
              description: >-
                Whether the current user can change the background of this Team
                Drive.
        name:
          description: The name of this Team Drive.
          annotations:
            required:
              - drive.teamdrives.insert
          type: string
        backgroundImageFile:
          type: object
          properties:
            id:
              type: string
              description: >-
                The ID of an image file in Drive to use for the background
                image.
            yCoordinate:
              description: >-
                The Y coordinate of the upper left corner of the cropping area
                in the background image. This is a value in the closed range of
                0 to 1. This value represents the vertical distance from the top
                side of the entire image to the top side of the cropping area
                divided by the height of the entire image.
              type: number
              format: float
            xCoordinate:
              type: number
              format: float
              description: >-
                The X coordinate of the upper left corner of the cropping area
                in the background image. This is a value in the closed range of
                0 to 1. This value represents the horizontal distance from the
                left side of the entire image to the left side of the cropping
                area divided by the width of the entire image.
            width:
              format: float
              type: number
              description: >-
                The width of the cropped image in the closed range of 0 to 1.
                This value represents the width of the cropped image divided by
                the width of the entire image. The height is computed by
                applying a width to height aspect ratio of 80 to 9. The
                resulting image must be at least 1280 pixels wide and 144 pixels
                high.
          description: >-
            An image file and cropping parameters from which a background image
            for this Team Drive is set. This is a write only field; it can only
            be set on `drive.teamdrives.update` requests that don't set
            `themeId`. When specified, all fields of the `backgroundImageFile`
            must be set.
        createdDate:
          type: string
          format: date-time
          description: The time at which the Team Drive was created (RFC 3339 date-time).
        colorRgb:
          description: >-
            The color of this Team Drive as an RGB hex string. It can only be
            set on a `drive.teamdrives.update` request that does not set
            `themeId`.
          type: string
      type: object
      id: TeamDrive
      description: 'Deprecated: Use the `drive` collection instead.'
    ContentRestriction:
      id: ContentRestriction
      type: object
      description: A restriction for accessing the content of the file.
      properties:
        type:
          description: >-
            Output only. The type of the content restriction. Currently the only
            possible value is `globalContentRestriction`.
          type: string
        readOnly:
          type: boolean
          description: >-
            Whether the content of the file is read-only. If a file is
            read-only, a new revision of the file may not be added, comments may
            not be added or modified, and the title of the file may not be
            modified.
        restrictingUser:
          description: >-
            Output only. The user who set the content restriction. Only
            populated if `readOnly` is true.
          $ref: '#/components/schemas/User'
        restrictionDate:
          format: date-time
          description: >-
            The time at which the content restriction was set (formatted RFC
            3339 timestamp). Only populated if readOnly is true.
          type: string
        reason:
          type: string
          description: >-
            Reason for why the content of the file is restricted. This is only
            mutable on requests that also set `readOnly=true`.
    Property:
      properties:
        selfLink:
          description: Output only. The link back to this property.
          type: string
        key:
          annotations:
            required:
              - drive.properties.insert
          type: string
          description: The key of this property.
        kind:
          description: Output only. This is always `drive#property`.
          default: drive#property
          type: string
        value:
          type: string
          description: The value of this property.
        visibility:
          description: >-
            The visibility of this property. Allowed values are PRIVATE
            (default) and PUBLIC. Private properties can only be retrieved using
            an authenticated request. An authenticated request uses an access
            token obtained with a OAuth 2 client ID. You cannot use an API key
            to retrieve private properties.
          type: string
        etag:
          type: string
          description: Output only. ETag of the property.
      id: Property
      description: >-
        A key-value pair attached to a file that is either public or private to
        an application. The following limits apply to file properties: * Maximum
        of 100 properties total per file * Maximum of 30 private properties per
        app * Maximum of 30 public properties * Maximum of 124 bytes size limit
        on (key + value) string in UTF-8 encoding for a single property
      type: object
    CommentList:
      type: object
      id: CommentList
      description: A list of comments on a file in Google Drive.
      properties:
        items:
          description: >-
            The list of comments. If nextPageToken is populated, then this list
            may be incomplete and an additional page of results should be
            fetched.
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        selfLink:
          type: string
          description: A link back to this list.
        nextLink:
          type: string
          description: A link to the next page of comments.
        nextPageToken:
          description: >-
            The page token for the next page of comments. This will be absent if
            the end of the comments list has been reached. If the token is
            rejected for any reason, it should be discarded, and pagination
            should be restarted from the first page of results.
          type: string
        kind:
          type: string
          description: This is always `drive#commentList`.
          default: drive#commentList
    CommentReply:
      description: A comment on a file in Google Drive.
      properties:
        modifiedDate:
          type: string
          format: date-time
          description: The date when this reply was last modified.
        verb:
          type: string
          description: >-
            The action this reply performed to the parent comment. When creating
            a new reply this is the action to be perform to the parent comment.
            Possible values are: * `resolve` - To resolve a comment. * `reopen`
            - To reopen (un-resolve) a comment.
        htmlContent:
          description: Output only. HTML formatted content for this reply.
          type: string
        createdDate:
          type: string
          description: The date when this reply was first created.
          format: date-time
        deleted:
          description: >-
            Output only. Whether this reply has been deleted. If a reply has
            been deleted the content will be cleared and this will only
            represent a reply that once existed.
          type: boolean
        author:
          $ref: '#/components/schemas/User'
          description: >-
            Output only. The author of the reply. The author's email address and
            permission ID will not be populated.
        replyId:
          type: string
          description: Output only. The ID of the reply.
        kind:
          description: Output only. This is always `drive#commentReply`.
          default: drive#commentReply
          type: string
        content:
          type: string
          description: >-
            The plain text content used to create this reply. This is not HTML
            safe and should only be used as a starting point to make edits to a
            reply's content. This field is required on inserts if no verb is
            specified (resolve/reopen).
          annotations:
            required:
              - drive.replies.patch
              - drive.replies.update
      type: object
      id: CommentReply
    GeneratedIds:
      type: object
      properties:
        space:
          description: The type of file that can be created with these IDs.
          type: string
        kind:
          description: This is always `drive#generatedIds`
          type: string
          default: drive#generatedIds
        ids:
          description: The IDs generated for the requesting user in the specified space.
          type: array
          items:
            type: string
      description: A list of generated IDs which can be provided in insert requests
      id: GeneratedIds
    ModifyLabelsRequest:
      description: >-
        A request to modify the set of labels on a file. This request may
        contain many modifications that will either all succeed or all fail
        atomically.
      properties:
        labelModifications:
          items:
            $ref: '#/components/schemas/LabelModification'
          description: The list of modifications to apply to the labels on the file.
          type: array
        kind:
          default: drive#modifyLabelsRequest
          type: string
          description: This is always `drive#modifyLabelsRequest`.
      type: object
      id: ModifyLabelsRequest
    RevisionList:
      type: object
      description: A list of revisions of a file.
      properties:
        etag:
          description: The ETag of the list.
          type: string
        kind:
          default: drive#revisionList
          type: string
          description: This is always `drive#revisionList`.
        selfLink:
          type: string
          description: A link back to this list.
        nextPageToken:
          description: >-
            The page token for the next page of revisions. This field will be
            absent if the end of the revisions list has been reached. If the
            token is rejected for any reason, it should be discarded and
            pagination should be restarted from the first page of results.
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Revision'
          description: >-
            The list of revisions. If nextPageToken is populated, then this list
            may be incomplete and an additional page of results should be
            fetched.
      id: RevisionList
    DriveList:
      description: A list of shared drives.
      id: DriveList
      properties:
        nextPageToken:
          type: string
          description: >-
            The page token for the next page of shared drives. This will be
            absent if the end of the list has been reached. If the token is
            rejected for any reason, it should be discarded, and pagination
            should be restarted from the first page of results.
        items:
          type: array
          description: >-
            The list of shared drives. If nextPageToken is populated, then this
            list may be incomplete and an additional page of results should be
            fetched.
          items:
            $ref: '#/components/schemas/Drive'
        kind:
          type: string
          default: drive#driveList
          description: This is always `drive#driveList`
      type: object
    ChildList:
      id: ChildList
      description: A list of children of a file.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ChildReference'
          description: >-
            The list of children. If nextPageToken is populated, then this list
            may be incomplete and an additional page of results should be
            fetched.
        selfLink:
          description: A link back to this list.
          type: string
        kind:
          description: This is always `drive#childList`.
          default: drive#childList
          type: string
        nextLink:
          description: A link to the next page of children.
          type: string
        etag:
          type: string
          description: The ETag of the list.
        nextPageToken:
          type: string
          description: >-
            The page token for the next page of children. This will be absent if
            the end of the children list has been reached. If the token is
            rejected for any reason, it should be discarded, and pagination
            should be restarted from the first page of results.
      type: object
    ChangeList:
      properties:
        nextPageToken:
          type: string
          description: >-
            The page token for the next page of changes. This will be absent if
            the end of the changes list has been reached. If the token is
            rejected for any reason, it should be discarded, and pagination
            should be restarted from the first page of results.
        selfLink:
          type: string
          description: A link back to this list.
        kind:
          type: string
          description: This is always `drive#changeList`.
          default: drive#changeList
        items:
          description: >-
            The list of changes. If nextPageToken is populated, then this list
            may be incomplete and an additional page of results should be
            fetched.
          items:
            $ref: '#/components/schemas/Change'
          type: array
        largestChangeId:
          description: The current largest change ID.
          type: string
          format: int64
        etag:
          description: The ETag of the list.
          type: string
        nextLink:
          description: A link to the next page of changes.
          type: string
        newStartPageToken:
          description: >-
            The starting page token for future changes. This will be present
            only if the end of the current changes list has been reached.
          type: string
      description: A list of changes for a user.
      id: ChangeList
      type: object
    StartPageToken:
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            `"drive#startPageToken"`.
          type: string
          default: drive#startPageToken
        startPageToken:
          description: The starting page token for listing changes.
          type: string
      type: object
      id: StartPageToken
    Permission:
      description: A permission for a file.
      id: Permission
      type: object
      properties:
        etag:
          description: Output only. The ETag of the permission.
          type: string
        teamDrivePermissionDetails:
          readOnly: true
          description: 'Output only. Deprecated: Use `permissionDetails` instead.'
          type: array
          items:
            properties:
              inherited:
                description: >-
                  Output only. Deprecated: Use `permissionDetails/inherited`
                  instead.
                type: boolean
              role:
                description: 'Output only. Deprecated: Use `permissionDetails/role` instead.'
                type: string
              teamDrivePermissionType:
                type: string
                description: >-
                  Output only. Deprecated: Use
                  `permissionDetails/permissionType` instead.
              inheritedFrom:
                description: >-
                  Output only. Deprecated: Use `permissionDetails/inheritedFrom`
                  instead.
                type: string
              additionalRoles:
                items:
                  type: string
                type: array
                description: >-
                  Output only. Deprecated: Use
                  `permissionDetails/additionalRoles` instead.
            type: object
        view:
          type: string
          description: >-
            Indicates the view for this permission. Only populated for
            permissions that belong to a view. `published` is the only supported
            value.
        domain:
          description: >-
            Output only. The domain name of the entity this permission refers
            to. This is an output-only field which is present when the
            permission type is `user`, `group` or `domain`.
          type: string
        selfLink:
          type: string
          description: Output only. A link back to this permission.
        pendingOwner:
          type: boolean
          description: >-
            Whether the account associated with this permission is a pending
            owner. Only populated for `user` type permissions for files that are
            not in a shared drive.
        emailAddress:
          description: >-
            Output only. The email address of the user or group this permission
            refers to. This is an output-only field which is present when the
            permission type is `user` or `group`.
          type: string
        role:
          annotations:
            required:
              - drive.permissions.insert
          type: string
          description: >-
            The primary role for this user. While new values may be supported in
            the future, the following are currently allowed: * `owner` *
            `organizer` * `fileOrganizer` * `writer` * `reader`
        kind:
          description: Output only. This is always `drive#permission`.
          type: string
          default: drive#permission
        deleted:
          description: >-
            Output only. Whether the account associated with this permission has
            been deleted. This field only pertains to user and group
            permissions.
          type: boolean
        photoLink:
          type: string
          description: Output only. A link to the profile photo, if available.
        value:
          type: string
          description: >-
            The email address or domain name for the entity. This is used during
            inserts and is not populated in responses. When making a
            `drive.permissions.insert` request, exactly one of the `id` or
            `value` fields must be specified unless the permission type is
            `anyone`, in which case both `id` and `value` are ignored.
        withLink:
          type: boolean
          description: Whether the link is required for this permission.
        authKey:
          description: Output only. Deprecated.
          type: string
        name:
          type: string
          description: Output only. The name for this permission.
        type:
          type: string
          description: >-
            The account type. Allowed values are: * `user` * `group` * `domain`
            * `anyone`
          annotations:
            required:
              - drive.permissions.insert
        permissionDetails:
          items:
            properties:
              additionalRoles:
                items:
                  type: string
                description: >-
                  Output only. Additional roles for this user. Only `commenter`
                  is currently possible, though more may be supported in the
                  future.
                type: array
              role:
                description: >-
                  Output only. The primary role for this user. While new values
                  may be added in the future, the following are currently
                  possible: * `organizer` * `fileOrganizer` * `writer` *
                  `reader`
                type: string
              permissionType:
                description: >-
                  Output only. The permission type for this user. While new
                  values may be added in future, the following are currently
                  possible: * `file` * `member`
                type: string
              inherited:
                description: >-
                  Output only. Whether this permission is inherited. This field
                  is always populated. This is an output-only field.
                type: boolean
              inheritedFrom:
                type: string
                description: >-
                  Output only. The ID of the item from which this permission is
                  inherited. This is an output-only field.
            type: object
          type: array
          description: >-
            Output only. Details of whether the permissions on this shared drive
            item are inherited or directly on this item. This is an output-only
            field which is present only for shared drive items.
          readOnly: true
        expirationDate:
          type: string
          description: >-
            The time at which this permission will expire (RFC 3339 date-time).
            Expiration dates have the following restrictions: - They can only be
            set on user and group permissions - The date must be in the future -
            The date cannot be more than a year in the future - The date can
            only be set on drive.permissions.update or drive.permissions.patch
            requests
          format: date-time
        additionalRoles:
          items:
            type: string
          type: array
          description: >-
            Additional roles for this user. Only `commenter` is currently
            allowed, though more may be supported in the future.
        id:
          description: >-
            The ID of the user this permission refers to, and identical to the
            `permissionId` in the About and Files resources. When making a
            `drive.permissions.insert` request, exactly one of the `id` or
            `value` fields must be specified unless the permission type is
            `anyone`, in which case both `id` and `value` are ignored.
          type: string
    ParentReference:
      type: object
      description: A reference to a file's parent.
      properties:
        parentLink:
          type: string
          description: Output only. A link to the parent.
        kind:
          description: Output only. This is always `drive#parentReference`.
          default: drive#parentReference
          type: string
        selfLink:
          type: string
          description: Output only. A link back to this reference.
        isRoot:
          description: Output only. Whether or not the parent is the root folder.
          type: boolean
        id:
          annotations:
            required:
              - drive.parents.insert
          type: string
          description: The ID of the parent.
      id: ParentReference
    LabelList:
      properties:
        kind:
          default: drive#labelList
          description: This is always `drive#labelList`
          type: string
        items:
          items:
            $ref: '#/components/schemas/Label'
          description: The list of labels.
          type: array
        nextPageToken:
          description: >-
            The page token for the next page of labels. This field will be
            absent if the end of the list has been reached. If the token is
            rejected for any reason, it should be discarded, and pagination
            should be restarted from the first page of results.
          type: string
      id: LabelList
      type: object
      description: A list of labels applied to a file.
    Revision:
      description: A revision of a file.
      properties:
        publishedLink:
          type: string
          description: >-
            Output only. A link to the published revision. This is only
            populated for Google Sites files.
        publishAuto:
          type: boolean
          description: >-
            Whether subsequent revisions will be automatically republished. This
            is only populated and can only be modified for Docs Editors files.
        md5Checksum:
          type: string
          description: >-
            Output only. An MD5 checksum for the content of this revision. This
            will only be populated on files with content stored in Drive.
        id:
          description: Output only. The ID of the revision.
          type: string
        etag:
          description: Output only. The ETag of the revision.
          type: string
        lastModifyingUserName:
          description: Output only. Name of the last user to modify this revision.
          type: string
        published:
          type: boolean
          description: >-
            Whether this revision is published. This is only populated and can
            only be modified for Docs Editors files.
        modifiedDate:
          description: Last time this revision was modified (formatted RFC 3339 timestamp).
          format: date-time
          type: string
        lastModifyingUser:
          $ref: '#/components/schemas/User'
          description: Output only. The last user to modify this revision.
        selfLink:
          description: Output only. A link back to this revision.
          type: string
        publishedOutsideDomain:
          type: boolean
          description: >-
            Whether this revision is published outside the domain. This is only
            populated and can only be modified for Docs Editors files.
        fileSize:
          format: int64
          description: >-
            Output only. The size of the revision in bytes. This will only be
            populated on files with content stored in Drive.
          type: string
        kind:
          description: Output only. This is always `drive#revision`.
          type: string
          default: drive#revision
        pinned:
          description: >-
            Whether this revision is pinned to prevent automatic purging. If not
            set, the revision is automatically purged 30 days after newer
            content is uploaded. This field can only be modified on files with
            content stored in Drive, excluding Docs Editors files. Revisions can
            also be pinned when they are created through the
            drive.files.insert/update/copy by using the pinned query parameter.
            Pinned revisions are stored indefinitely using additional storage
            quota, up to a maximum of 200 revisions.
          type: boolean
        mimeType:
          type: string
          description: Output only. The MIME type of the revision.
        downloadUrl:
          type: string
          description: >-
            Output only. Short term download URL for the file. This will only be
            populated on files with content stored in Drive.
        exportLinks:
          description: >-
            Output only. Links for exporting Docs Editors files to specific
            formats.
          additionalProperties:
            type: string
          type: object
        originalFilename:
          type: string
          description: >-
            Output only. The original filename when this revision was created.
            This will only be populated on files with content stored in Drive.
      id: Revision
      type: object
    AppList:
      id: AppList
      properties:
        defaultAppIds:
          description: >-
            List of app IDs that the user has specified to use by default. The
            list is in reverse-priority order (lowest to highest).
          items:
            type: string
          type: array
        kind:
          description: This is always `drive#appList`.
          default: drive#appList
          type: string
        items:
          items:
            $ref: '#/components/schemas/App'
          description: The list of apps.
          type: array
        selfLink:
          type: string
          description: A link back to this list.
        etag:
          type: string
          description: The ETag of the list.
      type: object
      description: >-
        A list of third-party applications which the user has installed or given
        access to Google Drive.
    LabelFieldModification:
      type: object
      description: A modification to a label's field.
      properties:
        fieldId:
          description: The ID of the field to be modified.
          type: string
        unsetValues:
          type: boolean
          description: Unsets the values for this field.
        setDateValues:
          description: >-
            Replaces the value of a dateString Field with these new values. The
            string must be in the RFC 3339 full-date format: YYYY-MM-DD.
          type: array
          items:
            format: date
            type: string
        setSelectionValues:
          type: array
          description: Replaces a `selection` field with these new values.
          items:
            type: string
        setIntegerValues:
          items:
            format: int64
            type: string
          description: Replaces the value of an `integer` field with these new values.
          type: array
        setTextValues:
          description: Sets the value of a `text` field.
          items:
            type: string
          type: array
        kind:
          default: drive#labelFieldModification
          description: This is always `drive#labelFieldModification`.
          type: string
        setUserValues:
          description: >-
            Replaces a `user` field with these new values. The values must be
            valid email addresses.
          items:
            type: string
          type: array
      id: LabelFieldModification
    FileList:
      properties:
        items:
          items:
            $ref: '#/components/schemas/File'
          description: >-
            The list of files. If nextPageToken is populated, then this list may
            be incomplete and an additional page of results should be fetched.
          type: array
        kind:
          default: drive#fileList
          description: This is always `drive#fileList`.
          type: string
        nextPageToken:
          type: string
          description: >-
            The page token for the next page of files. This will be absent if
            the end of the files list has been reached. If the token is rejected
            for any reason, it should be discarded, and pagination should be
            restarted from the first page of results.
        etag:
          type: string
          description: The ETag of the list.
        nextLink:
          description: A link to the next page of files.
          type: string
        selfLink:
          description: A link back to this list.
          type: string
        incompleteSearch:
          type: boolean
          description: >-
            Whether the search process was incomplete. If true, then some search
            results may be missing, since all documents were not searched. This
            may occur when searching multiple drives with the "allDrives"
            corpora, but all corpora could not be searched. When this happens,
            it is suggested that clients narrow their query by choosing a
            different corpus such as "default" or "drive".
      type: object
      id: FileList
      description: A list of files.
    File:
      type: object
      id: File
      properties:
        labelInfo:
          type: object
          description: Output only. An overview of the labels on the file.
          properties:
            labels:
              type: array
              description: >-
                Output only. The set of labels on the file as requested by the
                label IDs in the `includeLabels` parameter. By default, no
                labels are returned.
              items:
                $ref: '#/components/schemas/Label'
        owners:
          description: >-
            Output only. The owner of this file. Only certain legacy files may
            have more than one owner. This field isn't populated for items in
            shared drives.
          items:
            $ref: '#/components/schemas/User'
          type: array
        hasThumbnail:
          description: >-
            Output only. Whether this file has a thumbnail. This does not
            indicate whether the requesting app has access to the thumbnail. To
            check access, look for the presence of the thumbnailLink field.
          type: boolean
        contentRestrictions:
          description: >-
            Restrictions for accessing the content of the file. Only populated
            if such a restriction exists.
          items:
            $ref: '#/components/schemas/ContentRestriction'
          type: array
        sharingUser:
          $ref: '#/components/schemas/User'
          description: >-
            Output only. User that shared the item with the current user, if
            available.
        sharedWithMeDate:
          description: >-
            Time at which this file was shared with the user (formatted RFC 3339
            timestamp).
          format: date-time
          type: string
        driveId:
          type: string
          description: >-
            Output only. ID of the shared drive the file resides in. Only
            populated for items in shared drives.
        id:
          description: The ID of the file.
          type: string
        labels:
          description: A group of labels for the file.
          properties:
            starred:
              description: Whether this file is starred by the user.
              type: boolean
            restricted:
              type: boolean
              description: >-
                Output only. Deprecated: Use `copyRequiresWriterPermission`
                instead.
            viewed:
              type: boolean
              description: Whether this file has been viewed by this user.
            hidden:
              type: boolean
              description: Output only. Deprecated.
            trashed:
              description: >-
                Whether this file has been trashed. This label applies to all
                users accessing the file; however, only owners are allowed to
                see and untrash files.
              type: boolean
            modified:
              type: boolean
              description: Output only. Whether the file has been modified by this user.
          type: object
        markedViewedByMeDate:
          format: date-time
          description: Deprecated.
          type: string
        resourceKey:
          description: Output only. A key needed to access the item via a shared link.
          type: string
        permissionIds:
          items:
            type: string
          description: >-
            Output only. List of permission IDs for users with access to this
            file.
          type: array
        fileSize:
          description: >-
            Output only. Size in bytes of blobs and first party editor files.
            Won't be populated for files that have no size, like shortcuts and
            folders.
          type: string
          format: int64
        appDataContents:
          type: boolean
          description: Output only. Whether this file is in the Application Data folder.
        shared:
          type: boolean
          description: >-
            Output only. Whether the file has been shared. Not populated for
            items in shared drives.
        thumbnailVersion:
          description: >-
            Output only. The thumbnail version for use in thumbnail cache
            invalidation.
          format: int64
          type: string
        hasAugmentedPermissions:
          description: >-
            Output only. Whether there are permissions directly on this file.
            This field is only populated for items in shared drives.
          type: boolean
        mimeType:
          description: >-
            The MIME type of the file. This is only mutable on update when
            uploading new content. This field can be left blank, and the
            mimetype will be determined from the uploaded content's MIME type.
          type: string
        trashingUser:
          description: >-
            Output only. If the file has been explicitly trashed, the user who
            trashed it. Only populated for items in shared drives.
          $ref: '#/components/schemas/User'
        copyRequiresWriterPermission:
          type: boolean
          description: >-
            Whether the options to copy, print, or download this file, should be
            disabled for readers and commenters.
        defaultOpenWithLink:
          description: >-
            Output only. A link to open this file with the user's default app
            for this file. Only populated when the drive.apps.readonly scope is
            used.
          type: string
        downloadUrl:
          description: >-
            Output only. Short lived download URL for the file. This field is
            only populated for files with content stored in Google Drive; it is
            not populated for Google Docs or shortcut files.
          type: string
        canComment:
          type: boolean
          description: 'Output only. Deprecated: Use `capabilities/canComment` instead.'
        thumbnail:
          description: >-
            A thumbnail for the file. This will only be used if a standard
            thumbnail cannot be generated.
          properties:
            image:
              type: string
              format: byte
              description: >-
                The URL-safe Base64 encoded bytes of the thumbnail image. It
                should conform to RFC 4648 section 5.
            mimeType:
              type: string
              description: The MIME type of the thumbnail.
          type: object
        folderColorRgb:
          type: string
          description: >-
            Folder color as an RGB hex string if the file is a folder or a
            shortcut to a folder. The list of supported colors is available in
            the folderColorPalette field of the About resource. If an
            unsupported color is specified, it will be changed to the closest
            color in the palette.
        ownerNames:
          type: array
          description: >-
            Output only. Name(s) of the owner(s) of this file. Not populated for
            items in shared drives.
          items:
            type: string
        thumbnailLink:
          type: string
          description: >-
            Output only. A short-lived link to the file's thumbnail, if
            available. Typically lasts on the order of hours. Only populated
            when the requesting app can access the file's content. If the file
            isn't shared publicly, the URL returned in `Files.thumbnailLink`
            must be fetched using a credentialed request.
        lastModifyingUser:
          description: Output only. The last user to modify this file.
          $ref: '#/components/schemas/User'
        trashedDate:
          format: date-time
          description: >-
            The time that the item was trashed (formatted RFC 3339 timestamp).
            Only populated for items in shared drives.
          type: string
        md5Checksum:
          description: >-
            Output only. An MD5 checksum for the content of this file. This
            field is only populated for files with content stored in Google
            Drive; it is not populated for Docs Editors or shortcut files.
          type: string
        title:
          description: >-
            The title of this file. Note that for immutable items such as the
            top level folders of shared drives, My Drive root folder, and
            Application Data folder the title is constant.
          type: string
        copyable:
          description: 'Output only. Deprecated: Use `capabilities/canCopy` instead.'
          type: boolean
        webContentLink:
          type: string
          description: >-
            Output only. A link for downloading the content of the file in a
            browser using cookie based authentication. In cases where the
            content is shared publicly, the content can be downloaded without
            any credentials.
        webViewLink:
          type: string
          description: >-
            Output only. A link only available on public folders for viewing
            their static web assets (HTML, CSS, JS, etc) via Google Drive's
            Website Hosting.
        sha256Checksum:
          description: >-
            Output only. The SHA256 checksum associated with this file, if
            available. This field is only populated for files with content
            stored in Google Drive; it is not populated for Docs Editors or
            shortcut files.
          type: string
        shareable:
          description: 'Output only. Deprecated: Use `capabilities/canShare` instead.'
          type: boolean
        lastViewedByMeDate:
          format: date-time
          description: >-
            Last time this file was viewed by the user (formatted RFC 3339
            timestamp).
          type: string
        iconLink:
          type: string
          description: Output only. A link to the file's icon.
        selfLink:
          type: string
          description: Output only. A link back to this file.
        linkShareMetadata:
          type: object
          description: >-
            Contains details about the link URLs that clients are using to refer
            to this item.
          properties:
            securityUpdateEligible:
              type: boolean
              description: Output only. Whether the file is eligible for security update.
            securityUpdateEnabled:
              type: boolean
              description: >-
                Output only. Whether the security update is enabled for this
                file.
        quotaBytesUsed:
          description: Output only. The number of quota bytes used by this file.
          format: int64
          type: string
        sha1Checksum:
          description: >-
            Output only. The SHA1 checksum associated with this file, if
            available. This field is only populated for files with content
            stored in Google Drive; it is not populated for Docs Editors or
            shortcut files.
          type: string
        headRevisionId:
          description: >-
            Output only. The ID of the file's head revision. This field is only
            populated for files with content stored in Google Drive; it is not
            populated for Docs Editors or shortcut files.
          type: string
        description:
          description: A short description of the file.
          type: string
        videoMediaMetadata:
          properties:
            width:
              description: Output only. The width of the video in pixels.
              format: int32
              type: integer
            durationMillis:
              format: int64
              type: string
              description: Output only. The duration of the video in milliseconds.
            height:
              description: Output only. The height of the video in pixels.
              type: integer
              format: int32
          type: object
          description: >-
            Output only. Metadata about video media. This will only be present
            for video types.
        isAppAuthorized:
          description: >-
            Output only. Whether the file was created or opened by the
            requesting app.
          type: boolean
        openWithLinks:
          additionalProperties:
            type: string
          type: object
          description: >-
            Output only. A map of the id of each of the user's apps to a link to
            open this file with that app. Only populated when the
            drive.apps.readonly scope is used.
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
          description: >-
            Output only. The list of permissions for users with access to this
            file. Not populated for items in shared drives.
        createdDate:
          description: Create time for this file (formatted RFC 3339 timestamp).
          format: date-time
          type: string
        properties:
          description: The list of properties.
          items:
            $ref: '#/components/schemas/Property'
          type: array
        spaces:
          type: array
          description: >-
            Output only. The list of spaces which contain the file. Supported
            values are `drive`, `appDataFolder` and `photos`.
          items:
            type: string
        alternateLink:
          type: string
          description: >-
            Output only. A link for opening the file in a relevant Google editor
            or viewer.
        editable:
          type: boolean
          description: 'Output only. Deprecated: Use `capabilities/canEdit` instead.'
        userPermission:
          $ref: '#/components/schemas/Permission'
          description: >-
            Output only. The permissions for the authenticated user on this
            file.
        canReadRevisions:
          type: boolean
          description: >-
            Output only. Deprecated: Use `capabilities/canReadRevisions`
            instead.
        teamDriveId:
          description: 'Output only. Deprecated: Use `driveId` instead.'
          type: string
        modifiedByMeDate:
          format: date-time
          description: >-
            Last time this file was modified by the user (formatted RFC 3339
            timestamp). Note that setting modifiedDate will also update the
            modifiedByMe date for the user which set the date.
          type: string
        fullFileExtension:
          description: >-
            Output only. The full file extension; extracted from the title. May
            contain multiple concatenated extensions, such as "tar.gz". Removing
            an extension from the title does not clear this field; however,
            changing the extension on the title does update this field. This
            field is only populated for files with content stored in Google
            Drive; it is not populated for Docs Editors or shortcut files.
          type: string
        imageMediaMetadata:
          type: object
          description: >-
            Output only. Metadata about image media. This will only be present
            for image types, and its contents will depend on what can be parsed
            from the image content.
          properties:
            focalLength:
              type: number
              format: float
              description: >-
                Output only. The focal length used to create the photo, in
                millimeters.
            maxApertureValue:
              format: float
              description: >-
                Output only. The smallest f-number of the lens at the focal
                length used to create the photo (APEX value).
              type: number
            isoSpeed:
              description: Output only. The ISO speed used to create the photo.
              type: integer
              format: int32
            exposureTime:
              format: float
              type: number
              description: Output only. The length of the exposure, in seconds.
            cameraModel:
              type: string
              description: Output only. The model of the camera used to create the photo.
            rotation:
              description: >-
                Output only. The number of clockwise 90 degree rotations applied
                from the image's original orientation.
              type: integer
              format: int32
            aperture:
              format: float
              type: number
              description: Output only. The aperture used to create the photo (f-number).
            date:
              type: string
              description: >-
                Output only. The date and time the photo was taken (EXIF format
                timestamp).
            height:
              description: Output only. The height of the image in pixels.
              format: int32
              type: integer
            meteringMode:
              type: string
              description: Output only. The metering mode used to create the photo.
            lens:
              description: Output only. The lens used to create the photo.
              type: string
            subjectDistance:
              description: >-
                Output only. The distance to the subject of the photo, in
                meters.
              format: int32
              type: integer
            whiteBalance:
              description: Output only. The white balance mode used to create the photo.
              type: string
            exposureBias:
              format: float
              description: Output only. The exposure bias of the photo (APEX value).
              type: number
            sensor:
              type: string
              description: Output only. The type of sensor used to create the photo.
            exposureMode:
              type: string
              description: Output only. The exposure mode used to create the photo.
            location:
              type: object
              properties:
                altitude:
                  type: number
                  description: Output only. The altitude stored in the image.
                  format: double
                latitude:
                  format: double
                  description: Output only. The latitude stored in the image.
                  type: number
                longitude:
                  format: double
                  type: number
                  description: Output only. The longitude stored in the image.
              description: >-
                Output only. Geographic location information stored in the
                image.
            colorSpace:
              description: Output only. The color space of the photo.
              type: string
            cameraMake:
              type: string
              description: Output only. The make of the camera used to create the photo.
            width:
              type: integer
              format: int32
              description: Output only. The width of the image in pixels.
            flashUsed:
              description: Output only. Whether a flash was used to create the photo.
              type: boolean
        modifiedDate:
          type: string
          format: date-time
          description: >-
            Last time this file was modified by anyone (formatted RFC 3339
            timestamp). This is only mutable on update when the setModifiedDate
            parameter is set.
        ownedByMe:
          type: boolean
          description: >-
            Output only. Whether the file is owned by the current user. Not
            populated for items in shared drives.
        kind:
          type: string
          description: Output only. The type of file. This is always `drive#file`.
          default: drive#file
        parents:
          type: array
          description: >-
            Collection of parent folders which contain this file. If not
            specified as part of an insert request, the file will be placed
            directly in the user's My Drive folder. If not specified as part of
            a copy request, the file will inherit any discoverable parents of
            the source file. Update requests can also use the `addParents` and
            `removeParents` parameters to modify the parents list.
          items:
            $ref: '#/components/schemas/ParentReference'
        originalFilename:
          description: >-
            The original filename of the uploaded content if available, or else
            the original value of the `title` field. This is only available for
            files with binary content in Google Drive.
          type: string
        explicitlyTrashed:
          type: boolean
          description: >-
            Output only. Whether this file has been explicitly trashed, as
            opposed to recursively trashed.
        embedLink:
          type: string
          description: Output only. A link for embedding the file.
        writersCanShare:
          description: >-
            Whether writers can share the document with other users. Not
            populated for items in shared drives.
          type: boolean
        shortcutDetails:
          description: >-
            Shortcut file details. Only populated for shortcut files, which have
            the mimeType field set to `application/vnd.google-apps.shortcut`.
          properties:
            targetId:
              type: string
              description: The ID of the file that this shortcut points to.
            targetMimeType:
              type: string
              description: >-
                Output only. The MIME type of the file that this shortcut points
                to. The value of this field is a snapshot of the target's MIME
                type, captured when the shortcut is created.
            targetResourceKey:
              description: Output only. The ResourceKey for the target file.
              type: string
          type: object
        etag:
          type: string
          description: Output only. ETag of the file.
        fileExtension:
          description: >-
            Output only. The final component of `fullFileExtension` with
            trailing text that does not appear to be part of the extension
            removed. This field is only populated for files with content stored
            in Google Drive; it is not populated for Docs Editors or shortcut
            files.
          type: string
        capabilities:
          type: object
          properties:
            canDeleteChildren:
              type: boolean
              description: >-
                Output only. Whether the current user can delete children of
                this folder. This is false when the item is not a folder. Only
                populated for items in shared drives.
            canModifyContent:
              description: >-
                Output only. Whether the current user can modify the content of
                this file.
              type: boolean
            canChangeCopyRequiresWriterPermission:
              type: boolean
              description: >-
                Output only. Whether the current user can change the
                `copyRequiresWriterPermission` restriction of this file.
            canMoveItemWithinDrive:
              type: boolean
              description: >-
                Output only. Whether the current user can move this item within
                this drive. Note that a request to change the parent of the item
                may still fail depending on the new parent that is being added
                and the parent that is being removed.
            canEdit:
              type: boolean
              description: >-
                Output only. Whether the current user can edit this file. Other
                factors may limit the type of changes a user can make to a file.
                For example, see `canChangeCopyRequiresWriterPermission` or
                `canModifyContent`.
            canMoveTeamDriveItem:
              type: boolean
              description: >-
                Output only. Deprecated: Use `canMoveItemWithinDrive` or
                `canMoveItemOutOfDrive` instead.
            canMoveChildrenOutOfDrive:
              description: >-
                Output only. Whether the current user can move children of this
                folder outside of the shared drive. This is false when the item
                is not a folder. Only populated for items in shared drives.
              type: boolean
            canListChildren:
              type: boolean
              description: >-
                Output only. Whether the current user can list the children of
                this folder. This is always false when the item is not a folder.
            canDownload:
              type: boolean
              description: Output only. Whether the current user can download this file.
            canUntrash:
              type: boolean
              description: >-
                Output only. Whether the current user can restore this file from
                trash.
            canReadRevisions:
              description: >-
                Output only. Whether the current user can read the revisions
[...]
