openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Video Intelligence API
  description: >-
    Detects objects, explicit content, and scene changes in videos. It also
    specifies the region for annotation and transcribes speech to text. Supports
    both asynchronous API and streaming API.
  version: v1p1beta1
  x-discovery-doc-revision: '20230610'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/video-intelligence/docs/
servers:
  - url: https://videointelligence.googleapis.com
components:
  schemas:
    GoogleCloudVideointelligenceV1_LabelFrame:
      description: Video frame level annotation results for label detection.
      properties:
        confidence:
          description: 'Confidence that the label is accurate. Range: [0, 1].'
          type: number
          format: float
        timeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
          type: string
          format: google-duration
      type: object
      id: GoogleCloudVideointelligenceV1_LabelFrame
    GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig:
      id: GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig
      description: Config for FACE_DETECTION.
      type: object
      properties:
        includeAttributes:
          type: boolean
          description: >-
            Whether to enable face attributes detection, such as glasses,
            dark_glasses, mouth_open etc. Ignored if 'include_bounding_boxes' is
            set to false.
        model:
          type: string
          description: >-
            Model to use for face detection. Supported values: "builtin/stable"
            (the default if unset) and "builtin/latest".
        includeBoundingBoxes:
          description: Whether bounding boxes are included in the face annotation output.
          type: boolean
    GoogleCloudVideointelligenceV1_LabelAnnotation:
      description: Label annotation.
      type: object
      id: GoogleCloudVideointelligenceV1_LabelAnnotation
      properties:
        entity:
          description: Detected entity.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Entity'
        version:
          description: Feature version.
          type: string
        segments:
          type: array
          description: All video segments where a label was detected.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_LabelSegment'
        frames:
          type: array
          description: All video frames where a label was detected.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_LabelFrame'
        categoryEntities:
          description: >-
            Common categories for the detected entity. For example, when the
            label is `Terrier`, the category is likely `dog`. And in some cases
            there might be more than one categories e.g., `Terrier` could also
            be a `pet`.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Entity'
    GoogleCloudVideointelligenceV1beta2_WordInfo:
      type: object
      description: >-
        Word-specific information for recognized words. Word information is only
        included in the response when certain request parameters are set, such
        as `enable_word_time_offsets`.
      properties:
        confidence:
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          type: number
          readOnly: true
          format: float
        startTime:
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the start of the spoken word. This field is only
            set if `enable_word_time_offsets=true` and only in the top
            hypothesis. This is an experimental feature and the accuracy of the
            time offset can vary.
          type: string
          format: google-duration
        word:
          type: string
          description: The word corresponding to this set of information.
        speakerTag:
          type: integer
          readOnly: true
          description: >-
            Output only. A distinct integer value is assigned for every speaker
            within the audio. This field specifies which one of those speakers
            was detected to have spoken this word. Value ranges from 1 up to
            diarization_speaker_count, and is only set if speaker diarization is
            enabled.
          format: int32
        endTime:
          format: google-duration
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the end of the spoken word. This field is only set
            if `enable_word_time_offsets=true` and only in the top hypothesis.
            This is an experimental feature and the accuracy of the time offset
            can vary.
          type: string
      id: GoogleCloudVideointelligenceV1beta2_WordInfo
    GoogleCloudVideointelligenceV1_TextSegment:
      type: object
      description: Video segment level annotation results for text detection.
      properties:
        segment:
          description: Video segment where a text snippet was detected.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment'
        confidence:
          description: >-
            Confidence for the track of detected text. It is calculated as the
            highest over all frames where OCR detected text appears.
          format: float
          type: number
        frames:
          description: Information related to the frames where OCR detected text appears.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_TextFrame'
      id: GoogleCloudVideointelligenceV1_TextSegment
    GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress:
      id: GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress
      properties:
        startTime:
          description: Time when the request was received.
          type: string
          format: google-datetime
        segment:
          description: >-
            Specifies which segment is being tracked if the request contains
            more than one segment.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
        inputUri:
          description: >-
            Video file location in [Cloud
            Storage](https://cloud.google.com/storage/).
          type: string
        progressPercent:
          format: int32
          type: integer
          description: >-
            Approximate percentage processed thus far. Guaranteed to be 100 when
            fully processed.
        updateTime:
          description: Time of the most recent update.
          type: string
          format: google-datetime
        feature:
          enum:
            - FEATURE_UNSPECIFIED
            - LABEL_DETECTION
            - SHOT_CHANGE_DETECTION
            - EXPLICIT_CONTENT_DETECTION
            - FACE_DETECTION
            - SPEECH_TRANSCRIPTION
            - TEXT_DETECTION
            - OBJECT_TRACKING
            - LOGO_RECOGNITION
            - PERSON_DETECTION
          type: string
          enumDescriptions:
            - Unspecified.
            - Label detection. Detect objects, such as dog or flower.
            - Shot change detection.
            - Explicit content detection.
            - Human face detection.
            - Speech transcription.
            - OCR text detection and tracking.
            - Object detection and tracking.
            - Logo detection, tracking, and recognition.
            - Person detection.
          description: >-
            Specifies which feature is being tracked if the request contains
            more than one feature.
      type: object
      description: Annotation progress for a single video.
    GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig:
      id: GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig
      type: object
      properties:
        model:
          description: >-
            Model to use for object tracking. Supported values: "builtin/stable"
            (the default if unset) and "builtin/latest".
          type: string
      description: Config for OBJECT_TRACKING.
    GoogleCloudVideointelligenceV1p2beta1_VideoSegment:
      type: object
      properties:
        startTimeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the start of the segment (inclusive).
          type: string
          format: google-duration
        endTimeOffset:
          type: string
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the end of the segment (inclusive).
      id: GoogleCloudVideointelligenceV1p2beta1_VideoSegment
      description: Video segment.
    GoogleCloudVideointelligenceV1p1beta1_FaceSegment:
      properties:
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
          description: Video segment where a face was detected.
      id: GoogleCloudVideointelligenceV1p1beta1_FaceSegment
      description: Video segment level annotation results for face detection.
      type: object
    GoogleCloudVideointelligenceV1beta2_SpeechTranscription:
      id: GoogleCloudVideointelligenceV1beta2_SpeechTranscription
      properties:
        languageCode:
          description: >-
            Output only. The
            [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag
            of the language in this result. This language code was detected to
            have the most likelihood of being spoken in the audio.
          type: string
          readOnly: true
        alternatives:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative
          description: >-
            May contain one or more recognition hypotheses (up to the maximum
            specified in `max_alternatives`). These alternatives are ordered in
            terms of accuracy, with the top (first) alternative being the most
            probable, as ranked by the recognizer.
      description: A speech recognition result corresponding to a portion of the audio.
      type: object
    GoogleCloudVideointelligenceV1p3beta1_TextAnnotation:
      id: GoogleCloudVideointelligenceV1p3beta1_TextAnnotation
      properties:
        segments:
          description: All video segments where OCR detected text appears.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_TextSegment
        version:
          type: string
          description: Feature version.
        text:
          type: string
          description: The detected text.
      description: >-
        Annotations related to one detected OCR text snippet. This will contain
        the corresponding text, confidence value, and frame level information
        for each detection.
      type: object
    GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative:
      description: Alternative hypotheses (a.k.a. n-best list).
      properties:
        confidence:
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          format: float
          readOnly: true
          type: number
        transcript:
          description: Transcript text representing the words that the user spoke.
          type: string
        words:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_WordInfo'
          description: >-
            Output only. A list of word-specific information for each recognized
            word. Note: When `enable_speaker_diarization` is set to true, you
            will see all the words from the beginning of the audio.
      type: object
      id: GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative
    GoogleCloudVideointelligenceV1_PersonDetectionAnnotation:
      type: object
      properties:
        tracks:
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Track'
          description: The detected tracks of a person.
          type: array
        version:
          type: string
          description: Feature version.
      id: GoogleCloudVideointelligenceV1_PersonDetectionAnnotation
      description: Person detection annotation per video.
    GoogleCloudVideointelligenceV1_NormalizedBoundingBox:
      type: object
      properties:
        right:
          type: number
          format: float
          description: Right X coordinate.
        bottom:
          format: float
          type: number
          description: Bottom Y coordinate.
        left:
          type: number
          description: Left X coordinate.
          format: float
        top:
          description: Top Y coordinate.
          format: float
          type: number
      id: GoogleCloudVideointelligenceV1_NormalizedBoundingBox
      description: >-
        Normalized bounding box. The normalized vertex coordinates are relative
        to the original image. Range: [0, 1].
    GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress:
      id: GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress
      description: >-
        Video annotation progress. Included in the `metadata` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
      properties:
        annotationProgress:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress
          description: >-
            Progress metadata for all videos specified in
            `AnnotateVideoRequest`.
      type: object
    GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation:
      type: object
      description: Annotations corresponding to one tracked object.
      id: GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation
      properties:
        trackId:
          description: >-
            Streaming mode ONLY. In streaming mode, we do not know the end time
            of a tracked object before it is completed. Hence, there is no
            VideoSegment info returned. Instead, we provide a unique
            identifiable integer track_id so that the customers can correlate
            the results of the ongoing ObjectTrackAnnotation of the same
            track_id over time.
          format: int64
          type: string
        frames:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_ObjectTrackingFrame
          type: array
          description: >-
            Information corresponding to all frames where this object track
            appears. Non-streaming batch mode: it may be one or multiple
            ObjectTrackingFrame messages in frames. Streaming mode: it can only
            be one ObjectTrackingFrame message in frames.
        version:
          description: Feature version.
          type: string
        confidence:
          type: number
          format: float
          description: Object category's labeling confidence of this track.
        segment:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment'
          description: >-
            Non-streaming batch mode ONLY. Each object track corresponds to one
            video segment where it appears.
        entity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Entity'
          description: Entity to specify the object category that this track is labeled as.
    GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation:
      id: GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation
      type: object
      properties:
        entity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Entity'
          description: >-
            Entity category information to specify the logo class that all the
            logo tracks within this LogoRecognitionAnnotation are recognized as.
        tracks:
          type: array
          description: >-
            All logo tracks where the recognized logo appears. Each track
            corresponds to one logo instance appearing in consecutive frames.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Track'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment'
          description: >-
            All video segments where the recognized logo appears. There might be
            multiple instances of the same logo class appearing in one
            VideoSegment.
      description: >-
        Annotation corresponding to one detected, tracked and recognized logo
        class.
    GoogleCloudVideointelligenceV1p3beta1_WordInfo:
      properties:
        confidence:
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          type: number
          readOnly: true
          format: float
        endTime:
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the end of the spoken word. This field is only set
            if `enable_word_time_offsets=true` and only in the top hypothesis.
            This is an experimental feature and the accuracy of the time offset
            can vary.
          format: google-duration
          type: string
        speakerTag:
          description: >-
            Output only. A distinct integer value is assigned for every speaker
            within the audio. This field specifies which one of those speakers
            was detected to have spoken this word. Value ranges from 1 up to
            diarization_speaker_count, and is only set if speaker diarization is
            enabled.
          type: integer
          readOnly: true
          format: int32
        word:
          type: string
          description: The word corresponding to this set of information.
        startTime:
          format: google-duration
          type: string
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the start of the spoken word. This field is only
            set if `enable_word_time_offsets=true` and only in the top
            hypothesis. This is an experimental feature and the accuracy of the
            time offset can vary.
      id: GoogleCloudVideointelligenceV1p3beta1_WordInfo
      description: >-
        Word-specific information for recognized words. Word information is only
        included in the response when certain request parameters are set, such
        as `enable_word_time_offsets`.
      type: object
    GoogleCloudVideointelligenceV1_TimestampedObject:
      properties:
        landmarks:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_DetectedLandmark
          description: Optional. The detected landmarks.
          type: array
        timeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this object.
          format: google-duration
          type: string
        attributes:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_DetectedAttribute
          description: Optional. The attributes of the object in the bounding box.
          type: array
        normalizedBoundingBox:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1_NormalizedBoundingBox
          description: Normalized Bounding box in a frame, where the object is located.
      type: object
      id: GoogleCloudVideointelligenceV1_TimestampedObject
      description: >-
        For tracking related features. An object at time_offset with attributes,
        and located with normalized_bounding_box.
    GoogleCloudVideointelligenceV1_FaceFrame:
      description: Deprecated. No effect.
      id: GoogleCloudVideointelligenceV1_FaceFrame
      properties:
        timeOffset:
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
          type: string
        normalizedBoundingBoxes:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_NormalizedBoundingBox
          description: >-
            Normalized Bounding boxes in a frame. There can be more than one
            boxes if the same face is detected in multiple locations within the
            current frame.
      type: object
    GoogleCloudVideointelligenceV1beta2_LabelAnnotation:
      properties:
        frames:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelFrame
          description: All video frames where a label was detected.
          type: array
        version:
          description: Feature version.
          type: string
        categoryEntities:
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity'
          description: >-
            Common categories for the detected entity. For example, when the
            label is `Terrier`, the category is likely `dog`. And in some cases
            there might be more than one categories e.g., `Terrier` could also
            be a `pet`.
          type: array
        entity:
          description: Detected entity.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity'
        segments:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelSegment
          description: All video segments where a label was detected.
          type: array
      id: GoogleCloudVideointelligenceV1beta2_LabelAnnotation
      description: Label annotation.
      type: object
    GoogleCloudVideointelligenceV1beta2_VideoSegment:
      type: object
      description: Video segment.
      id: GoogleCloudVideointelligenceV1beta2_VideoSegment
      properties:
        endTimeOffset:
          type: string
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the end of the segment (inclusive).
        startTimeOffset:
          type: string
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the start of the segment (inclusive).
    GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity:
      description: The recognized celebrity with confidence score.
      type: object
      properties:
        celebrity:
          description: The recognized celebrity.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p3beta1_Celebrity'
        confidence:
          type: number
          format: float
          description: Recognition confidence. Range [0, 1].
      id: GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity
    GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark:
      id: GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark
      properties:
        name:
          type: string
          description: The name of this landmark, for example, left_hand, right_shoulder.
        confidence:
          description: The confidence score of the detected landmark. Range [0, 1].
          format: float
          type: number
        point:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex
          description: >-
            The 2D point of the detected landmark using the normalized image
            coordindate system. The normalized coordinates have the range from 0
            to 1.
      type: object
      description: >-
        A generic detected landmark represented by name in string format and a
        2D location.
    GoogleCloudVideointelligenceV1beta2_LabelSegment:
      properties:
        segment:
          description: Video segment where a label was detected.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment
        confidence:
          description: 'Confidence that the label is accurate. Range: [0, 1].'
          format: float
          type: number
      type: object
      description: Video segment level annotation results for label detection.
      id: GoogleCloudVideointelligenceV1beta2_LabelSegment
    GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults:
      type: object
      description: Annotation results for a single video.
      properties:
        shotLabelAnnotations:
          type: array
          description: >-
            Topical label annotations on shot level. There is exactly one
            element for each unique label.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation
        explicitAnnotation:
          description: Explicit content annotation.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation
        logoRecognitionAnnotations:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation
          description: >-
            Annotations for list of logos detected, tracked and recognized in
            video.
        speechTranscriptions:
          description: Speech transcription.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription
          type: array
        faceDetectionAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation
          description: Face detection annotations.
          type: array
        inputUri:
          type: string
          description: >-
            Video file location in [Cloud
            Storage](https://cloud.google.com/storage/).
        faceAnnotations:
          type: array
          description: Deprecated. Please use `face_detection_annotations` instead.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation
        objectAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation
          description: Annotations for list of objects detected and tracked in video.
          type: array
        error:
          $ref: '#/components/schemas/GoogleRpc_Status'
          description: >-
            If set, indicates an error. Note that for a single
            `AnnotateVideoRequest` some videos may succeed and some may fail.
        frameLabelAnnotations:
          description: >-
            Label annotations on frame level. There is exactly one element for
            each unique label.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation
          type: array
        shotAnnotations:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoSegment
          description: Shot annotations. Each shot is represented as a video segment.
        shotPresenceLabelAnnotations:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation
          description: >-
            Presence label annotations on shot level. There is exactly one
            element for each unique label. Compared to the existing topical
            `shot_label_annotations`, this field presents more fine-grained,
            shot-level labels detected in video content and is made available
            only when the client sets `LabelDetectionConfig.model` to
            "builtin/latest" in the request.
        segmentPresenceLabelAnnotations:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation
          description: >-
            Presence label annotations on video level or user-specified segment
            level. There is exactly one element for each unique label. Compared
            to the existing topical `segment_label_annotations`, this field
            presents more fine-grained, segment-level labels detected in video
            content and is made available only when the client sets
            `LabelDetectionConfig.model` to "builtin/latest" in the request.
        textAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_TextAnnotation
          type: array
          description: >-
            OCR text detection and tracking. Annotations for list of detected
            text snippets. Each will have list of frame information associated
            with it.
        segmentLabelAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation
          description: >-
            Topical label annotations on video level or user-specified segment
            level. There is exactly one element for each unique label.
          type: array
        personDetectionAnnotations:
          description: Person detection annotations.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation
          type: array
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoSegment
          description: Video segment on which the annotation is run.
      id: GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults
    GoogleCloudVideointelligenceV1p1beta1_LabelSegment:
      id: GoogleCloudVideointelligenceV1p1beta1_LabelSegment
      type: object
      properties:
        segment:
          description: Video segment where a label was detected.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
        confidence:
          format: float
          description: 'Confidence that the label is accurate. Range: [0, 1].'
          type: number
      description: Video segment level annotation results for label detection.
    GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation:
      properties:
        thumbnail:
          format: byte
          type: string
          description: Thumbnail of a representative face view (in JPEG format).
        frames:
          description: All video frames where a face was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_FaceFrame
          type: array
        segments:
          type: array
          description: All video segments where a face was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_FaceSegment
      type: object
      id: GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation
      description: Deprecated. No effect.
    GoogleCloudVideointelligenceV1beta2_LabelFrame:
      type: object
      description: Video frame level annotation results for label detection.
      properties:
        confidence:
          format: float
          description: 'Confidence that the label is accurate. Range: [0, 1].'
          type: number
        timeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
          type: string
          format: google-duration
      id: GoogleCloudVideointelligenceV1beta2_LabelFrame
    GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation:
      id: GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation
      type: object
      description: Annotations corresponding to one tracked object.
      properties:
        version:
          description: Feature version.
          type: string
        confidence:
          type: number
          format: float
          description: Object category's labeling confidence of this track.
        entity:
          description: Entity to specify the object category that this track is labeled as.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity'
        trackId:
          description: >-
            Streaming mode ONLY. In streaming mode, we do not know the end time
            of a tracked object before it is completed. Hence, there is no
            VideoSegment info returned. Instead, we provide a unique
            identifiable integer track_id so that the customers can correlate
            the results of the ongoing ObjectTrackAnnotation of the same
            track_id over time.
          type: string
          format: int64
        frames:
          description: >-
            Information corresponding to all frames where this object track
            appears. Non-streaming batch mode: it may be one or multiple
            ObjectTrackingFrame messages in frames. Streaming mode: it can only
            be one ObjectTrackingFrame message in frames.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame
          type: array
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment
          description: >-
            Non-streaming batch mode ONLY. Each object track corresponds to one
            video segment where it appears.
    GoogleCloudVideointelligenceV1p2beta1_LabelSegment:
      type: object
      description: Video segment level annotation results for label detection.
      properties:
        segment:
          description: Video segment where a label was detected.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoSegment
        confidence:
          type: number
          description: 'Confidence that the label is accurate. Range: [0, 1].'
          format: float
      id: GoogleCloudVideointelligenceV1p2beta1_LabelSegment
    GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack:
      id: GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack
      type: object
      properties:
        celebrities:
          description: Top N match of the celebrities for the face in this track.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity
          type: array
        faceTrack:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p3beta1_Track'
          description: A track of a person's face.
      description: >-
        The annotation result of a celebrity face track. RecognizedCelebrity
        field could be empty if the face track does not have any matched
        celebrities.
    GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame:
      description: >-
        Video frame level annotations for object detection and tracking. This
        field stores per frame location, time offset, and confidence.
      id: GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame
      type: object
      properties:
        normalizedBoundingBox:
          description: >-
            The normalized bounding box location of this object track for the
            frame.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox
        timeOffset:
          description: The timestamp of the frame in microseconds.
          format: google-duration
          type: string
    GoogleCloudVideointelligenceV1beta2_NormalizedVertex:
      type: object
      properties:
        x:
          description: X coordinate.
          format: float
          type: number
        'y':
          type: number
          format: float
          description: Y coordinate.
      id: GoogleCloudVideointelligenceV1beta2_NormalizedVertex
      description: >-
        A vertex represents a 2D point in the image. NOTE: the normalized vertex
        coordinates are relative to the original image and range from 0 to 1.
    GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative:
      id: GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative
      properties:
        words:
          readOnly: true
          description: >-
            Output only. A list of word-specific information for each recognized
            word. Note: When `enable_speaker_diarization` is set to true, you
            will see all the words from the beginning of the audio.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_WordInfo
        transcript:
          description: Transcript text representing the words that the user spoke.
          type: string
        confidence:
          format: float
          type: number
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          readOnly: true
      description: Alternative hypotheses (a.k.a. n-best list).
      type: object
    GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex:
      type: object
      description: >-
        A vertex represents a 2D point in the image. NOTE: the normalized vertex
        coordinates are relative to the original image and range from 0 to 1.
      properties:
        x:
          description: X coordinate.
          type: number
          format: float
        'y':
          description: Y coordinate.
          type: number
          format: float
      id: GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex
    GoogleRpc_Status:
      properties:
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        details:
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
          type: array
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
            type: object
        message:
          type: string
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
      type: object
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
      id: GoogleRpc_Status
    GoogleCloudVideointelligenceV1p3beta1_TextSegment:
      description: Video segment level annotation results for text detection.
      type: object
      id: GoogleCloudVideointelligenceV1p3beta1_TextSegment
      properties:
        confidence:
          format: float
          type: number
          description: >-
            Confidence for the track of detected text. It is calculated as the
            highest over all frames where OCR detected text appears.
        segment:
          description: Video segment where a text snippet was detected.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoSegment
        frames:
          type: array
          description: Information related to the frames where OCR detected text appears.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_TextFrame
    GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation:
      id: GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
      type: object
      description: Label annotation.
      properties:
        frames:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelFrame
          type: array
          description: All video frames where a label was detected.
        categoryEntities:
          description: >-
            Common categories for the detected entity. For example, when the
            label is `Terrier`, the category is likely `dog`. And in some cases
            there might be more than one categories e.g., `Terrier` could also
            be a `pet`.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity'
          type: array
        segments:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelSegment
          description: All video segments where a label was detected.
          type: array
        entity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity'
          description: Detected entity.
        version:
          type: string
          description: Feature version.
    GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation:
      properties:
        version:
          description: Feature version.
          type: string
        tracks:
          description: The detected tracks of a person.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p2beta1_Track'
          type: array
      description: Person detection annotation per video.
      type: object
      id: GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation
    GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative:
      type: object
      properties:
        transcript:
          description: Transcript text representing the words that the user spoke.
          type: string
        words:
          readOnly: true
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_WordInfo
          type: array
          description: >-
            Output only. A list of word-specific information for each recognized
            word. Note: When `enable_speaker_diarization` is set to true, you
            will see all the words from the beginning of the audio.
        confidence:
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          readOnly: true
          type: number
          format: float
      description: Alternative hypotheses (a.k.a. n-best list).
      id: GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative
    GoogleCloudVideointelligenceV1p1beta1_LabelFrame:
      type: object
      description: Video frame level annotation results for label detection.
      properties:
        timeOffset:
          type: string
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
        confidence:
          type: number
          format: float
          description: 'Confidence that the label is accurate. Range: [0, 1].'
      id: GoogleCloudVideointelligenceV1p1beta1_LabelFrame
    GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation:
      type: object
      description: Annotations corresponding to one tracked object.
      id: GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation
      properties:
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoSegment
          description: >-
            Non-streaming batch mode ONLY. Each object track corresponds to one
            video segment where it appears.
        frames:
          type: array
          description: >-
            Information corresponding to all frames where this object track
            appears. Non-streaming batch mode: it may be one or multiple
            ObjectTrackingFrame messages in frames. Streaming mode: it can only
            be one ObjectTrackingFrame message in frames.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame
        trackId:
          description: >-
            Streaming mode ONLY. In streaming mode, we do not know the end time
            of a tracked object before it is completed. Hence, there is no
            VideoSegment info returned. Instead, we provide a unique
            identifiable integer track_id so that the customers can correlate
            the results of the ongoing ObjectTrackAnnotation of the same
            track_id over time.
          format: int64
          type: string
        entity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p2beta1_Entity'
          description: Entity to specify the object category that this track is labeled as.
        version:
          type: string
          description: Feature version.
        confidence:
          type: number
          format: float
          description: Object category's labeling confidence of this track.
    GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation:
      properties:
        version:
          description: Feature version.
          type: string
        thumbnail:
          type: string
          format: byte
          description: The thumbnail of a person's face.
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p2beta1_Track'
          description: The face tracks with attributes.
      id: GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation
      type: object
      description: Face detection annotation.
    GoogleCloudVideointelligenceV1p3beta1_FaceFrame:
      id: GoogleCloudVideointelligenceV1p3beta1_FaceFrame
      description: Deprecated. No effect.
      properties:
        timeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
          format: google-duration
          type: string
        normalizedBoundingBoxes:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox
          description: >-
            Normalized Bounding boxes in a frame. There can be more than one
            boxes if the same face is detected in multiple locations within the
            current frame.
      type: object
    GoogleCloudVideointelligenceV1p3beta1_VideoSegment:
      type: object
      description: Video segment.
      id: GoogleCloudVideointelligenceV1p3beta1_VideoSegment
      properties:
        startTimeOffset:
          type: string
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the start of the segment (inclusive).
        endTimeOffset:
          format: google-duration
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the end of the segment (inclusive).
    GoogleCloudVideointelligenceV1p1beta1_FaceFrame:
      type: object
      description: Deprecated. No effect.
      id: GoogleCloudVideointelligenceV1p1beta1_FaceFrame
      properties:
        timeOffset:
          type: string
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
        normalizedBoundingBoxes:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox
          description: >-
            Normalized Bounding boxes in a frame. There can be more than one
            boxes if the same face is detected in multiple locations within the
            current frame.
    GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox:
      description: >-
        Normalized bounding box. The normalized vertex coordinates are relative
        to the original image. Range: [0, 1].
      properties:
        top:
          format: float
          type: number
          description: Top Y coordinate.
        bottom:
          description: Bottom Y coordinate.
          type: number
          format: float
        left:
          format: float
          type: number
          description: Left X coordinate.
        right:
          type: number
          format: float
          description: Right X coordinate.
      id: GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox
      type: object
    GoogleCloudVideointelligenceV1p2beta1_Entity:
      properties:
        description:
          type: string
          description: Textual description, e.g., `Fixed-gear bicycle`.
        entityId:
          type: string
          description: >-
            Opaque entity ID. Some IDs may be available in [Google Knowledge
            Graph Search API](https://developers.google.com/knowledge-graph/).
        languageCode:
          type: string
          description: Language code for `description` in BCP-47 format.
      id: GoogleCloudVideointelligenceV1p2beta1_Entity
      description: Detected entity from video analysis.
      type: object
    GoogleCloudVideointelligenceV1p1beta1_TextSegment:
      type: object
      description: Video segment level annotation results for text detection.
      id: GoogleCloudVideointelligenceV1p1beta1_TextSegment
      properties:
        frames:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_TextFrame
          type: array
          description: Information related to the frames where OCR detected text appears.
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
          description: Video segment where a text snippet was detected.
        confidence:
          format: float
          type: number
          description: >-
            Confidence for the track of detected text. It is calculated as the
            highest over all frames where OCR detected text appears.
    GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation:
      type: object
      properties:
        frames:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame
          description: >-
            Information corresponding to all frames where this object track
            appears. Non-streaming batch mode: it may be one or multiple
            ObjectTrackingFrame messages in frames. Streaming mode: it can only
            be one ObjectTrackingFrame message in frames.
        entity:
          description: Entity to specify the object category that this track is labeled as.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity'
        confidence:
          description: Object category's labeling confidence of this track.
          type: number
          format: float
        trackId:
          format: int64
          type: string
          description: >-
            Streaming mode ONLY. In streaming mode, we do not know the end time
            of a tracked object before it is completed. Hence, there is no
            VideoSegment info returned. Instead, we provide a unique
            identifiable integer track_id so that the customers can correlate
            the results of the ongoing ObjectTrackAnnotation of the same
            track_id over time.
        segment:
          description: >-
            Non-streaming batch mode ONLY. Each object track corresponds to one
            video segment where it appears.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
        version:
          description: Feature version.
          type: string
      id: GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation
      description: Annotations corresponding to one tracked object.
    GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly:
      description: >-
        Normalized bounding polygon for text (that might not be aligned with
        axis). Contains list of the corner points in clockwise order starting
        from top-left corner. For example, for a rectangular bounding box: When
        the text is horizontal it might look like: 0----1 | | 3----2 When it's
        clockwise rotated 180 degrees around the top-left corner it becomes:
        2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note
        that values can be less than 0, or greater than 1 due to trignometric
        calculations for location of the box.
      id: GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly
      properties:
        vertices:
          type: array
          description: Normalized vertices of the bounding polygon.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex
      type: object
    GoogleCloudVideointelligenceV1p2beta1_WordInfo:
      type: object
      description: >-
        Word-specific information for recognized words. Word information is only
        included in the response when certain request parameters are set, such
        as `enable_word_time_offsets`.
      properties:
        speakerTag:
          description: >-
            Output only. A distinct integer value is assigned for every speaker
            within the audio. This field specifies which one of those speakers
            was detected to have spoken this word. Value ranges from 1 up to
            diarization_speaker_count, and is only set if speaker diarization is
            enabled.
          readOnly: true
          type: integer
          format: int32
        word:
          type: string
          description: The word corresponding to this set of information.
        confidence:
          format: float
          readOnly: true
          type: number
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
        startTime:
          format: google-duration
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the start of the spoken word. This field is only
            set if `enable_word_time_offsets=true` and only in the top
            hypothesis. This is an experimental feature and the accuracy of the
            time offset can vary.
          type: string
        endTime:
          format: google-duration
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the end of the spoken word. This field is only set
            if `enable_word_time_offsets=true` and only in the top hypothesis.
            This is an experimental feature and the accuracy of the time offset
            can vary.
          type: string
      id: GoogleCloudVideointelligenceV1p2beta1_WordInfo
    GoogleCloudVideointelligenceV1beta2_DetectedAttribute:
      description: A generic detected attribute represented by name in string format.
      id: GoogleCloudVideointelligenceV1beta2_DetectedAttribute
      type: object
      properties:
        confidence:
          type: number
          format: float
          description: Detected attribute confidence. Range [0, 1].
        name:
          description: >-
            The name of the attribute, for example, glasses, dark_glasses,
            mouth_open. A full list of supported type names will be provided in
            the document.
          type: string
        value:
          type: string
          description: >-
            Text value of the detection result. For example, the value for
            "HairColor" can be "black", "blonde", etc.
    GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation:
      id: GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation
      type: object
      properties:
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_Track'
          description: >-
            All logo tracks where the recognized logo appears. Each track
            corresponds to one logo instance appearing in consecutive frames.
        entity:
          description: >-
            Entity category information to specify the logo class that all the
            logo tracks within this LogoRecognitionAnnotation are recognized as.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity'
        segments:
          description: >-
            All video segments where the recognized logo appears. There might be
            multiple instances of the same logo class appearing in one
            VideoSegment.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment
      description: >-
        Annotation corresponding to one detected, tracked and recognized logo
        class.
    GoogleCloudVideointelligenceV1p1beta1_TimestampedObject:
      type: object
      properties:
        landmarks:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark
          type: array
          description: Optional. The detected landmarks.
        attributes:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute
          description: Optional. The attributes of the object in the bounding box.
        timeOffset:
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this object.
          format: google-duration
        normalizedBoundingBox:
          description: Normalized Bounding box in a frame, where the object is located.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox
      id: GoogleCloudVideointelligenceV1p1beta1_TimestampedObject
      description: >-
        For tracking related features. An object at time_offset with attributes,
        and located with normalized_bounding_box.
    GoogleCloudVideointelligenceV1_DetectedAttribute:
      description: A generic detected attribute represented by name in string format.
      id: GoogleCloudVideointelligenceV1_DetectedAttribute
      type: object
      properties:
        confidence:
          description: Detected attribute confidence. Range [0, 1].
          format: float
          type: number
        name:
          type: string
          description: >-
            The name of the attribute, for example, glasses, dark_glasses,
            mouth_open. A full list of supported type names will be provided in
            the document.
        value:
          type: string
          description: >-
            Text value of the detection result. For example, the value for
            "HairColor" can be "black", "blonde", etc.
    GoogleCloudVideointelligenceV1p3beta1_LabelSegment:
      properties:
        confidence:
          description: 'Confidence that the label is accurate. Range: [0, 1].'
          type: number
          format: float
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoSegment
          description: Video segment where a label was detected.
      description: Video segment level annotation results for label detection.
      type: object
      id: GoogleCloudVideointelligenceV1p3beta1_LabelSegment
    GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig:
      properties:
        model:
          type: string
          description: >-
            Model to use for explicit content detection. Supported values:
            "builtin/stable" (the default if unset) and "builtin/latest".
      type: object
      id: GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig
      description: Config for EXPLICIT_CONTENT_DETECTION.
    GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription:
      id: GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription
      type: object
      description: A speech recognition result corresponding to a portion of the audio.
      properties:
        alternatives:
          type: array
          description: >-
            May contain one or more recognition hypotheses (up to the maximum
            specified in `max_alternatives`). These alternatives are ordered in
            terms of accuracy, with the top (first) alternative being the most
            probable, as ranked by the recognizer.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative
        languageCode:
          readOnly: true
          type: string
          description: >-
            Output only. The
            [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag
            of the language in this result. This language code was detected to
            have the most likelihood of being spoken in the audio.
    GoogleCloudVideointelligenceV1beta2_FaceSegment:
      properties:
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment
          description: Video segment where a face was detected.
      type: object
      id: GoogleCloudVideointelligenceV1beta2_FaceSegment
      description: Video segment level annotation results for face detection.
    GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse:
      id: GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse
      properties:
        annotationResults:
          description: >-
            Annotation results for all videos specified in
            `AnnotateVideoRequest`.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults
      type: object
      description: >-
        Video annotation response. Included in the `response` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
    GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame:
      id: GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame
      description: >-
        Video frame level annotations for object detection and tracking. This
        field stores per frame location, time offset, and confidence.
      type: object
      properties:
        timeOffset:
          format: google-duration
          type: string
          description: The timestamp of the frame in microseconds.
        normalizedBoundingBox:
          description: >-
            The normalized bounding box location of this object track for the
            frame.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox
    GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark:
      properties:
        point:
          description: >-
            The 2D point of the detected landmark using the normalized image
            coordindate system. The normalized coordinates have the range from 0
            to 1.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex
        confidence:
          description: The confidence score of the detected landmark. Range [0, 1].
          format: float
          type: number
        name:
          description: The name of this landmark, for example, left_hand, right_shoulder.
          type: string
      id: GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark
      type: object
      description: >-
        A generic detected landmark represented by name in string format and a
        2D location.
    GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation:
      description: >-
        Explicit content annotation (based on per-frame visual signals only). If
        no explicit content has been detected in a frame, no annotations are
        present for that frame.
      properties:
        version:
          description: Feature version.
          type: string
        frames:
          type: array
          description: All video frames where explicit content was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame
      id: GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation
      type: object
    GoogleCloudVideointelligenceV1p3beta1_LabelFrame:
      type: object
      properties:
        timeOffset:
          type: string
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
        confidence:
          type: number
          description: 'Confidence that the label is accurate. Range: [0, 1].'
          format: float
      id: GoogleCloudVideointelligenceV1p3beta1_LabelFrame
      description: Video frame level annotation results for label detection.
    GoogleCloudVideointelligenceV1_FaceAnnotation:
      type: object
      id: GoogleCloudVideointelligenceV1_FaceAnnotation
      description: Deprecated. No effect.
      properties:
        frames:
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_FaceFrame'
          type: array
          description: All video frames where a face was detected.
        segments:
          type: array
          description: All video segments where a face was detected.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_FaceSegment'
        thumbnail:
          format: byte
          type: string
          description: Thumbnail of a representative face view (in JPEG format).
    GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative:
      id: GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative
      description: Alternative hypotheses (a.k.a. n-best list).
      properties:
        confidence:
          type: number
          readOnly: true
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          format: float
        words:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_WordInfo
          readOnly: true
          description: >-
            Output only. A list of word-specific information for each recognized
            word. Note: When `enable_speaker_diarization` is set to true, you
            will see all the words from the beginning of the audio.
          type: array
        transcript:
          description: Transcript text representing the words that the user spoke.
          type: string
      type: object
    GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame:
      type: object
      properties:
        timeOffset:
          format: google-duration
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
        pornographyLikelihood:
          enumDescriptions:
            - Unspecified likelihood.
            - Very unlikely.
            - Unlikely.
            - Possible.
            - Likely.
            - Very likely.
          enum:
            - LIKELIHOOD_UNSPECIFIED
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Likelihood of the pornography content..
          type: string
      id: GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame
      description: Video frame level annotation results for explicit content.
    GoogleCloudVideointelligenceV1beta2_FaceFrame:
      description: Deprecated. No effect.
      type: object
      id: GoogleCloudVideointelligenceV1beta2_FaceFrame
      properties:
        normalizedBoundingBoxes:
          description: >-
            Normalized Bounding boxes in a frame. There can be more than one
            boxes if the same face is detected in multiple locations within the
            current frame.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox
        timeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
          format: google-duration
          type: string
    GoogleCloudVideointelligenceV1p2beta1_TextAnnotation:
      properties:
        segments:
          description: All video segments where OCR detected text appears.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_TextSegment
          type: array
        version:
          type: string
          description: Feature version.
        text:
          description: The detected text.
          type: string
      description: >-
        Annotations related to one detected OCR text snippet. This will contain
        the corresponding text, confidence value, and frame level information
        for each detection.
      id: GoogleCloudVideointelligenceV1p2beta1_TextAnnotation
      type: object
    GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig:
      type: object
      description: Config for PERSON_DETECTION.
      properties:
        includeAttributes:
          description: >-
            Whether to enable person attributes detection, such as cloth color
            (black, blue, etc), type (coat, dress, etc), pattern (plain, floral,
            etc), hair, etc. Ignored if 'include_bounding_boxes' is set to
            false.
          type: boolean
        includeBoundingBoxes:
          description: >-
            Whether bounding boxes are included in the person detection
            annotation output.
          type: boolean
        includePoseLandmarks:
          type: boolean
          description: >-
            Whether to enable pose landmarks detection. Ignored if
            'include_bounding_boxes' is set to false.
      id: GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig
    GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress:
      id: GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress
      description: >-
        Video annotation progress. Included in the `metadata` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
      properties:
        annotationProgress:
          type: array
          description: >-
            Progress metadata for all videos specified in
            `AnnotateVideoRequest`.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress
      type: object
    GoogleCloudVideointelligenceV1p2beta1_TextSegment:
      id: GoogleCloudVideointelligenceV1p2beta1_TextSegment
      type: object
      properties:
        confidence:
          type: number
          format: float
          description: >-
            Confidence for the track of detected text. It is calculated as the
            highest over all frames where OCR detected text appears.
        frames:
          description: Information related to the frames where OCR detected text appears.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_TextFrame
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoSegment
          description: Video segment where a text snippet was detected.
      description: Video segment level annotation results for text detection.
    GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults:
      id: GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults
      properties:
        segmentPresenceLabelAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
          type: array
          description: >-
            Presence label annotations on video level or user-specified segment
            level. There is exactly one element for each unique label. Compared
            to the existing topical `segment_label_annotations`, this field
            presents more fine-grained, segment-level labels detected in video
            content and is made available only when the client sets
            `LabelDetectionConfig.model` to "builtin/latest" in the request.
        personDetectionAnnotations:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation
          description: Person detection annotations.
        faceAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation
          type: array
          description: Deprecated. Please use `face_detection_annotations` instead.
        shotLabelAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
          type: array
          description: >-
            Topical label annotations on shot level. There is exactly one
            element for each unique label.
        segmentLabelAnnotations:
          description: >-
            Topical label annotations on video level or user-specified segment
            level. There is exactly one element for each unique label.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
        logoRecognitionAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation
          type: array
          description: >-
            Annotations for list of logos detected, tracked and recognized in
            video.
        faceDetectionAnnotations:
          description: Face detection annotations.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation
        speechTranscriptions:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription
          description: Speech transcription.
          type: array
        objectAnnotations:
          type: array
          description: Annotations for list of objects detected and tracked in video.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation
        frameLabelAnnotations:
          description: >-
            Label annotations on frame level. There is exactly one element for
            each unique label.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
          type: array
        shotPresenceLabelAnnotations:
          description: >-
            Presence label annotations on shot level. There is exactly one
            element for each unique label. Compared to the existing topical
            `shot_label_annotations`, this field presents more fine-grained,
            shot-level labels detected in video content and is made available
            only when the client sets `LabelDetectionConfig.model` to
            "builtin/latest" in the request.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
          type: array
        shotAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
          type: array
          description: Shot annotations. Each shot is represented as a video segment.
        inputUri:
          description: >-
            Video file location in [Cloud
            Storage](https://cloud.google.com/storage/).
          type: string
        textAnnotations:
          description: >-
            OCR text detection and tracking. Annotations for list of detected
            text snippets. Each will have list of frame information associated
            with it.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_TextAnnotation
          type: array
        explicitAnnotation:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation
          description: Explicit content annotation.
        error:
          $ref: '#/components/schemas/GoogleRpc_Status'
          description: >-
            If set, indicates an error. Note that for a single
            `AnnotateVideoRequest` some videos may succeed and some may fail.
        segment:
          description: Video segment on which the annotation is run.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
      description: Annotation results for a single video.
      type: object
    GoogleCloudVideointelligenceV1_FaceDetectionAnnotation:
      description: Face detection annotation.
      id: GoogleCloudVideointelligenceV1_FaceDetectionAnnotation
      properties:
        tracks:
          type: array
          description: The face tracks with attributes.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Track'
        thumbnail:
          format: byte
          description: The thumbnail of a person's face.
          type: string
        version:
          type: string
          description: Feature version.
      type: object
    GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation:
      properties:
        frames:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_FaceFrame
          description: All video frames where a face was detected.
        thumbnail:
          format: byte
          type: string
          description: Thumbnail of a representative face view (in JPEG format).
        segments:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_FaceSegment
          description: All video segments where a face was detected.
          type: array
      type: object
      id: GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation
      description: Deprecated. No effect.
    GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation:
      id: GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation
      type: object
      description: Person detection annotation per video.
      properties:
        version:
          description: Feature version.
          type: string
        tracks:
          description: The detected tracks of a person.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Track'
          type: array
    GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation:
      description: >-
        Annotation corresponding to one detected, tracked and recognized logo
        class.
      properties:
        tracks:
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Track'
          description: >-
            All logo tracks where the recognized logo appears. Each track
            corresponds to one logo instance appearing in consecutive frames.
          type: array
        segments:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
          description: >-
            All video segments where the recognized logo appears. There might be
            multiple instances of the same logo class appearing in one
            VideoSegment.
          type: array
        entity:
          description: >-
            Entity category information to specify the logo class that all the
            logo tracks within this LogoRecognitionAnnotation are recognized as.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity'
      type: object
      id: GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation
    GoogleCloudVideointelligenceV1beta2_FaceAnnotation:
      properties:
        frames:
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_FaceFrame'
          description: All video frames where a face was detected.
          type: array
        thumbnail:
          description: Thumbnail of a representative face view (in JPEG format).
          format: byte
          type: string
        segments:
          type: array
          description: All video segments where a face was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_FaceSegment
      id: GoogleCloudVideointelligenceV1beta2_FaceAnnotation
      type: object
      description: Deprecated. No effect.
    GoogleCloudVideointelligenceV1p3beta1_Entity:
      id: GoogleCloudVideointelligenceV1p3beta1_Entity
      description: Detected entity from video analysis.
      type: object
      properties:
        description:
          type: string
          description: Textual description, e.g., `Fixed-gear bicycle`.
        languageCode:
          type: string
          description: Language code for `description` in BCP-47 format.
        entityId:
          type: string
          description: >-
            Opaque entity ID. Some IDs may be available in [Google Knowledge
            Graph Search API](https://developers.google.com/knowledge-graph/).
    GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame:
      type: object
      id: GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame
      properties:
        timeOffset:
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
          format: google-duration
        pornographyLikelihood:
          type: string
          enumDescriptions:
            - Unspecified likelihood.
            - Very unlikely.
            - Unlikely.
            - Possible.
            - Likely.
            - Very likely.
          enum:
            - LIKELIHOOD_UNSPECIFIED
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Likelihood of the pornography content..
      description: Video frame level annotation results for explicit content.
    GoogleCloudVideointelligenceV1_DetectedLandmark:
      type: object
      description: >-
        A generic detected landmark represented by name in string format and a
        2D location.
      id: GoogleCloudVideointelligenceV1_DetectedLandmark
      properties:
        point:
          description: >-
            The 2D point of the detected landmark using the normalized image
            coordindate system. The normalized coordinates have the range from 0
            to 1.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_NormalizedVertex'
        confidence:
          type: number
          description: The confidence score of the detected landmark. Range [0, 1].
          format: float
        name:
          description: The name of this landmark, for example, left_hand, right_shoulder.
          type: string
    GoogleCloudVideointelligenceV1beta2_TextFrame:
      properties:
        rotatedBoundingBox:
          description: Bounding polygon of the detected text for this frame.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly
        timeOffset:
          type: string
          description: Timestamp of this frame.
          format: google-duration
      id: GoogleCloudVideointelligenceV1beta2_TextFrame
      description: >-
        Video frame level annotation results for text annotation (OCR). Contains
        information regarding timestamp and bounding box locations for the
        frames containing detected OCR text snippets.
      type: object
    GoogleCloudVideointelligenceV1_NormalizedVertex:
      description: >-
        A vertex represents a 2D point in the image. NOTE: the normalized vertex
        coordinates are relative to the original image and range from 0 to 1.
      type: object
      properties:
        'y':
          format: float
          description: Y coordinate.
          type: number
        x:
          format: float
          description: X coordinate.
          type: number
      id: GoogleCloudVideointelligenceV1_NormalizedVertex
    GoogleCloudVideointelligenceV1_Entity:
      properties:
        entityId:
          description: >-
            Opaque entity ID. Some IDs may be available in [Google Knowledge
            Graph Search API](https://developers.google.com/knowledge-graph/).
          type: string
        languageCode:
          type: string
          description: Language code for `description` in BCP-47 format.
        description:
          description: Textual description, e.g., `Fixed-gear bicycle`.
          type: string
      type: object
      description: Detected entity from video analysis.
      id: GoogleCloudVideointelligenceV1_Entity
    GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation:
      id: GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation
      description: Annotations corresponding to one tracked object.
      type: object
      properties:
        entity:
          description: Entity to specify the object category that this track is labeled as.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p3beta1_Entity'
        frames:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame
          description: >-
            Information corresponding to all frames where this object track
            appears. Non-streaming batch mode: it may be one or multiple
            ObjectTrackingFrame messages in frames. Streaming mode: it can only
            be one ObjectTrackingFrame message in frames.
        confidence:
          type: number
          description: Object category's labeling confidence of this track.
          format: float
        trackId:
          format: int64
          type: string
          description: >-
            Streaming mode ONLY. In streaming mode, we do not know the end time
            of a tracked object before it is completed. Hence, there is no
            VideoSegment info returned. Instead, we provide a unique
            identifiable integer track_id so that the customers can correlate
            the results of the ongoing ObjectTrackAnnotation of the same
            track_id over time.
        version:
          type: string
          description: Feature version.
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoSegment
          description: >-
            Non-streaming batch mode ONLY. Each object track corresponds to one
            video segment where it appears.
    GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress:
      type: object
      id: GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress
      properties:
        progressPercent:
          type: integer
          format: int32
          description: >-
            Approximate percentage processed thus far. Guaranteed to be 100 when
            fully processed.
        startTime:
          description: Time when the request was received.
          type: string
          format: google-datetime
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment
          description: >-
            Specifies which segment is being tracked if the request contains
            more than one segment.
        inputUri:
          description: >-
            Video file location in [Cloud
            Storage](https://cloud.google.com/storage/).
          type: string
        updateTime:
          description: Time of the most recent update.
          format: google-datetime
          type: string
        feature:
          enum:
            - FEATURE_UNSPECIFIED
            - LABEL_DETECTION
            - SHOT_CHANGE_DETECTION
            - EXPLICIT_CONTENT_DETECTION
            - FACE_DETECTION
            - SPEECH_TRANSCRIPTION
            - TEXT_DETECTION
            - OBJECT_TRACKING
            - LOGO_RECOGNITION
            - PERSON_DETECTION
          type: string
          description: >-
            Specifies which feature is being tracked if the request contains
            more than one feature.
          enumDescriptions:
            - Unspecified.
            - Label detection. Detect objects, such as dog or flower.
            - Shot change detection.
            - Explicit content detection.
            - Human face detection.
            - Speech transcription.
            - OCR text detection and tracking.
            - Object detection and tracking.
            - Logo detection, tracking, and recognition.
            - Person detection.
      description: Annotation progress for a single video.
    GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame:
      type: object
      description: Video frame level annotation results for explicit content.
      id: GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame
      properties:
        pornographyLikelihood:
          description: Likelihood of the pornography content..
          enum:
            - LIKELIHOOD_UNSPECIFIED
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
          enumDescriptions:
            - Unspecified likelihood.
            - Very unlikely.
            - Unlikely.
            - Possible.
            - Likely.
            - Very likely.
        timeOffset:
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
          type: string
    GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute:
      type: object
      id: GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute
      description: A generic detected attribute represented by name in string format.
      properties:
        confidence:
          format: float
          type: number
          description: Detected attribute confidence. Range [0, 1].
        name:
          description: >-
            The name of the attribute, for example, glasses, dark_glasses,
            mouth_open. A full list of supported type names will be provided in
            the document.
          type: string
        value:
          description: >-
            Text value of the detection result. For example, the value for
            "HairColor" can be "black", "blonde", etc.
          type: string
    GoogleCloudVideointelligenceV1p2beta1_Track:
      description: A track of an object instance.
      properties:
        attributes:
          description: Optional. Attributes in the track level.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute
          type: array
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoSegment
          description: Video segment of a track.
        confidence:
          description: Optional. The confidence score of the tracked object.
          type: number
          format: float
        timestampedObjects:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_TimestampedObject
          description: The object with timestamp and attributes per frame in the track.
          type: array
      type: object
      id: GoogleCloudVideointelligenceV1p2beta1_Track
    GoogleCloudVideointelligenceV1_NormalizedBoundingPoly:
      type: object
      properties:
        vertices:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_NormalizedVertex
          description: Normalized vertices of the bounding polygon.
          type: array
      description: >-
        Normalized bounding polygon for text (that might not be aligned with
        axis). Contains list of the corner points in clockwise order starting
        from top-left corner. For example, for a rectangular bounding box: When
        the text is horizontal it might look like: 0----1 | | 3----2 When it's
        clockwise rotated 180 degrees around the top-left corner it becomes:
        2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note
        that values can be less than 0, or greater than 1 due to trignometric
        calculations for location of the box.
      id: GoogleCloudVideointelligenceV1_NormalizedBoundingPoly
    GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox:
      type: object
      description: >-
        Normalized bounding box. The normalized vertex coordinates are relative
        to the original image. Range: [0, 1].
      properties:
        top:
          type: number
          description: Top Y coordinate.
          format: float
        right:
          description: Right X coordinate.
          type: number
          format: float
        bottom:
          description: Bottom Y coordinate.
          type: number
          format: float
        left:
          description: Left X coordinate.
          format: float
          type: number
      id: GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox
    GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly:
      type: object
      id: GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly
      description: >-
        Normalized bounding polygon for text (that might not be aligned with
        axis). Contains list of the corner points in clockwise order starting
        from top-left corner. For example, for a rectangular bounding box: When
        the text is horizontal it might look like: 0----1 | | 3----2 When it's
        clockwise rotated 180 degrees around the top-left corner it becomes:
        2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note
        that values can be less than 0, or greater than 1 due to trignometric
        calculations for location of the box.
      properties:
        vertices:
          type: array
          description: Normalized vertices of the bounding polygon.
          items:
            $ref: >-
[...]
