openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Video Intelligence API
  description: >-
    Detects objects, explicit content, and scene changes in videos. It also
    specifies the region for annotation and transcribes speech to text. Supports
    both asynchronous API and streaming API.
  version: v1p2beta1
  x-discovery-doc-revision: '20230610'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/video-intelligence/docs/
servers:
  - url: https://videointelligence.googleapis.com
components:
  schemas:
    GoogleCloudVideointelligenceV1_DetectedLandmark:
      type: object
      id: GoogleCloudVideointelligenceV1_DetectedLandmark
      description: >-
        A generic detected landmark represented by name in string format and a
        2D location.
      properties:
        point:
          description: >-
            The 2D point of the detected landmark using the normalized image
            coordindate system. The normalized coordinates have the range from 0
            to 1.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_NormalizedVertex'
        name:
          type: string
          description: The name of this landmark, for example, left_hand, right_shoulder.
        confidence:
          description: The confidence score of the detected landmark. Range [0, 1].
          format: float
          type: number
    GoogleCloudVideointelligenceV1_VideoAnnotationProgress:
      description: Annotation progress for a single video.
      id: GoogleCloudVideointelligenceV1_VideoAnnotationProgress
      type: object
      properties:
        segment:
          description: >-
            Specifies which segment is being tracked if the request contains
            more than one segment.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment'
        updateTime:
          format: google-datetime
          description: Time of the most recent update.
          type: string
        progressPercent:
          type: integer
          description: >-
            Approximate percentage processed thus far. Guaranteed to be 100 when
            fully processed.
          format: int32
        inputUri:
          type: string
          description: >-
            Video file location in [Cloud
            Storage](https://cloud.google.com/storage/).
        startTime:
          description: Time when the request was received.
          format: google-datetime
          type: string
        feature:
          enum:
            - FEATURE_UNSPECIFIED
            - LABEL_DETECTION
            - SHOT_CHANGE_DETECTION
            - EXPLICIT_CONTENT_DETECTION
            - FACE_DETECTION
            - SPEECH_TRANSCRIPTION
            - TEXT_DETECTION
            - OBJECT_TRACKING
            - LOGO_RECOGNITION
            - PERSON_DETECTION
          type: string
          description: >-
            Specifies which feature is being tracked if the request contains
            more than one feature.
          enumDescriptions:
            - Unspecified.
            - Label detection. Detect objects, such as dog or flower.
            - Shot change detection.
            - Explicit content detection.
            - Human face detection.
            - Speech transcription.
            - OCR text detection and tracking.
            - Object detection and tracking.
            - Logo detection, tracking, and recognition.
            - Person detection.
    GoogleCloudVideointelligenceV1_Entity:
      properties:
        languageCode:
          type: string
          description: Language code for `description` in BCP-47 format.
        entityId:
          type: string
          description: >-
            Opaque entity ID. Some IDs may be available in [Google Knowledge
            Graph Search API](https://developers.google.com/knowledge-graph/).
        description:
          description: Textual description, e.g., `Fixed-gear bicycle`.
          type: string
      description: Detected entity from video analysis.
      id: GoogleCloudVideointelligenceV1_Entity
      type: object
    GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription:
      properties:
        languageCode:
          description: >-
            Output only. The
            [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag
            of the language in this result. This language code was detected to
            have the most likelihood of being spoken in the audio.
          type: string
          readOnly: true
        alternatives:
          type: array
          description: >-
            May contain one or more recognition hypotheses (up to the maximum
            specified in `max_alternatives`). These alternatives are ordered in
            terms of accuracy, with the top (first) alternative being the most
            probable, as ranked by the recognizer.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative
      type: object
      id: GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription
      description: A speech recognition result corresponding to a portion of the audio.
    GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation:
      id: GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation
      properties:
        entity:
          description: >-
            Entity category information to specify the logo class that all the
            logo tracks within this LogoRecognitionAnnotation are recognized as.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Entity'
        tracks:
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Track'
          description: >-
            All logo tracks where the recognized logo appears. Each track
            corresponds to one logo instance appearing in consecutive frames.
          type: array
        segments:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment'
          description: >-
            All video segments where the recognized logo appears. There might be
            multiple instances of the same logo class appearing in one
            VideoSegment.
      type: object
      description: >-
        Annotation corresponding to one detected, tracked and recognized logo
        class.
    GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex:
      description: >-
        A vertex represents a 2D point in the image. NOTE: the normalized vertex
        coordinates are relative to the original image and range from 0 to 1.
      id: GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex
      type: object
      properties:
        'y':
          format: float
          type: number
          description: Y coordinate.
        x:
          description: X coordinate.
          type: number
          format: float
    GoogleCloudVideointelligenceV1p1beta1_VideoSegment:
      id: GoogleCloudVideointelligenceV1p1beta1_VideoSegment
      properties:
        startTimeOffset:
          type: string
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the start of the segment (inclusive).
        endTimeOffset:
          format: google-duration
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the end of the segment (inclusive).
      description: Video segment.
      type: object
    GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox:
      id: GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox
      type: object
      properties:
        bottom:
          format: float
          description: Bottom Y coordinate.
          type: number
        right:
          description: Right X coordinate.
          type: number
          format: float
        top:
          type: number
          description: Top Y coordinate.
          format: float
        left:
          type: number
          description: Left X coordinate.
          format: float
      description: >-
        Normalized bounding box. The normalized vertex coordinates are relative
        to the original image. Range: [0, 1].
    GoogleCloudVideointelligenceV1p3beta1_TextAnnotation:
      id: GoogleCloudVideointelligenceV1p3beta1_TextAnnotation
      properties:
        version:
          description: Feature version.
          type: string
        segments:
          description: All video segments where OCR detected text appears.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_TextSegment
        text:
          description: The detected text.
          type: string
      description: >-
        Annotations related to one detected OCR text snippet. This will contain
        the corresponding text, confidence value, and frame level information
        for each detection.
      type: object
    GoogleCloudVideointelligenceV1_TextFrame:
      properties:
        timeOffset:
          description: Timestamp of this frame.
          type: string
          format: google-duration
        rotatedBoundingBox:
          description: Bounding polygon of the detected text for this frame.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1_NormalizedBoundingPoly
      id: GoogleCloudVideointelligenceV1_TextFrame
      description: >-
        Video frame level annotation results for text annotation (OCR). Contains
        information regarding timestamp and bounding box locations for the
        frames containing detected OCR text snippets.
      type: object
    GoogleCloudVideointelligenceV1p3beta1_FaceSegment:
      type: object
      properties:
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoSegment
          description: Video segment where a face was detected.
      id: GoogleCloudVideointelligenceV1p3beta1_FaceSegment
      description: Video segment level annotation results for face detection.
    GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame:
      id: GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame
      type: object
      description: >-
        Video frame level annotations for object detection and tracking. This
        field stores per frame location, time offset, and confidence.
      properties:
        timeOffset:
          description: The timestamp of the frame in microseconds.
          type: string
          format: google-duration
        normalizedBoundingBox:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox
          description: >-
            The normalized bounding box location of this object track for the
            frame.
    GoogleCloudVideointelligenceV1p2beta1_TimestampedObject:
      id: GoogleCloudVideointelligenceV1p2beta1_TimestampedObject
      description: >-
        For tracking related features. An object at time_offset with attributes,
        and located with normalized_bounding_box.
      type: object
      properties:
        attributes:
          description: Optional. The attributes of the object in the bounding box.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute
          type: array
        normalizedBoundingBox:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox
          description: Normalized Bounding box in a frame, where the object is located.
        landmarks:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark
          type: array
          description: Optional. The detected landmarks.
        timeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this object.
          type: string
          format: google-duration
    GoogleCloudVideointelligenceV1_NormalizedBoundingPoly:
      id: GoogleCloudVideointelligenceV1_NormalizedBoundingPoly
      properties:
        vertices:
          type: array
          description: Normalized vertices of the bounding polygon.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_NormalizedVertex
      description: >-
        Normalized bounding polygon for text (that might not be aligned with
        axis). Contains list of the corner points in clockwise order starting
        from top-left corner. For example, for a rectangular bounding box: When
        the text is horizontal it might look like: 0----1 | | 3----2 When it's
        clockwise rotated 180 degrees around the top-left corner it becomes:
        2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note
        that values can be less than 0, or greater than 1 due to trignometric
        calculations for location of the box.
      type: object
    GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative:
      description: Alternative hypotheses (a.k.a. n-best list).
      type: object
      properties:
        transcript:
          description: Transcript text representing the words that the user spoke.
          type: string
        words:
          readOnly: true
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_WordInfo
          description: >-
            Output only. A list of word-specific information for each recognized
            word. Note: When `enable_speaker_diarization` is set to true, you
            will see all the words from the beginning of the audio.
        confidence:
          format: float
          type: number
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          readOnly: true
      id: GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative
    GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation:
      type: object
      description: Face detection annotation.
      properties:
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p2beta1_Track'
          description: The face tracks with attributes.
        version:
          description: Feature version.
          type: string
        thumbnail:
          description: The thumbnail of a person's face.
          format: byte
          type: string
      id: GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation
    GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame:
      id: GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame
      properties:
        normalizedBoundingBox:
          description: >-
            The normalized bounding box location of this object track for the
            frame.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox
        timeOffset:
          type: string
          format: google-duration
          description: The timestamp of the frame in microseconds.
      description: >-
        Video frame level annotations for object detection and tracking. This
        field stores per frame location, time offset, and confidence.
      type: object
    GoogleCloudVideointelligenceV1beta2_TimestampedObject:
      description: >-
        For tracking related features. An object at time_offset with attributes,
        and located with normalized_bounding_box.
      properties:
        landmarks:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_DetectedLandmark
          description: Optional. The detected landmarks.
          type: array
        normalizedBoundingBox:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox
          description: Normalized Bounding box in a frame, where the object is located.
        attributes:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_DetectedAttribute
          description: Optional. The attributes of the object in the bounding box.
          type: array
        timeOffset:
          format: google-duration
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this object.
      type: object
      id: GoogleCloudVideointelligenceV1beta2_TimestampedObject
    GoogleCloudVideointelligenceV1p3beta1_TimestampedObject:
      id: GoogleCloudVideointelligenceV1p3beta1_TimestampedObject
      properties:
        attributes:
          description: Optional. The attributes of the object in the bounding box.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute
        landmarks:
          type: array
          description: Optional. The detected landmarks.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark
        timeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this object.
          type: string
          format: google-duration
        normalizedBoundingBox:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox
          description: Normalized Bounding box in a frame, where the object is located.
      type: object
      description: >-
        For tracking related features. An object at time_offset with attributes,
        and located with normalized_bounding_box.
    GoogleCloudVideointelligenceV1beta2_LabelFrame:
      description: Video frame level annotation results for label detection.
      id: GoogleCloudVideointelligenceV1beta2_LabelFrame
      properties:
        timeOffset:
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
          format: google-duration
        confidence:
          description: 'Confidence that the label is accurate. Range: [0, 1].'
          type: number
          format: float
      type: object
    GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress:
      type: object
      id: GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress
      properties:
        annotationProgress:
          type: array
          description: >-
            Progress metadata for all videos specified in
            `AnnotateVideoRequest`.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress
      description: >-
        Video annotation progress. Included in the `metadata` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
    GoogleCloudVideointelligenceV1_AnnotateVideoProgress:
      type: object
      description: >-
        Video annotation progress. Included in the `metadata` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
      properties:
        annotationProgress:
          description: >-
            Progress metadata for all videos specified in
            `AnnotateVideoRequest`.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_VideoAnnotationProgress
      id: GoogleCloudVideointelligenceV1_AnnotateVideoProgress
    GoogleCloudVideointelligenceV1p1beta1_Entity:
      id: GoogleCloudVideointelligenceV1p1beta1_Entity
      description: Detected entity from video analysis.
      properties:
        description:
          description: Textual description, e.g., `Fixed-gear bicycle`.
          type: string
        entityId:
          description: >-
            Opaque entity ID. Some IDs may be available in [Google Knowledge
            Graph Search API](https://developers.google.com/knowledge-graph/).
          type: string
        languageCode:
          description: Language code for `description` in BCP-47 format.
          type: string
      type: object
    GoogleCloudVideointelligenceV1p1beta1_FaceSegment:
      id: GoogleCloudVideointelligenceV1p1beta1_FaceSegment
      properties:
        segment:
          description: Video segment where a face was detected.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
      type: object
      description: Video segment level annotation results for face detection.
    GoogleCloudVideointelligenceV1p2beta1_VideoContext:
      description: Video context and/or feature-specific parameters.
      type: object
      id: GoogleCloudVideointelligenceV1p2beta1_VideoContext
      properties:
        speechTranscriptionConfig:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_SpeechTranscriptionConfig
          description: Config for SPEECH_TRANSCRIPTION.
        explicitContentDetectionConfig:
          description: Config for EXPLICIT_CONTENT_DETECTION.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_ExplicitContentDetectionConfig
        segments:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoSegment
          description: >-
            Video segments to annotate. The segments may overlap and are not
            required to be contiguous or span the whole video. If unspecified,
            each video is treated as a single segment.
          type: array
        faceDetectionConfig:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_FaceDetectionConfig
          description: Config for FACE_DETECTION.
        labelDetectionConfig:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_LabelDetectionConfig
          description: Config for LABEL_DETECTION.
        textDetectionConfig:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_TextDetectionConfig
          description: Config for TEXT_DETECTION.
        shotChangeDetectionConfig:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_ShotChangeDetectionConfig
          description: Config for SHOT_CHANGE_DETECTION.
        personDetectionConfig:
          description: Config for PERSON_DETECTION.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_PersonDetectionConfig
        objectTrackingConfig:
          description: Config for OBJECT_TRACKING.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingConfig
    GoogleCloudVideointelligenceV1beta2_FaceAnnotation:
      description: Deprecated. No effect.
      properties:
        frames:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_FaceFrame'
          description: All video frames where a face was detected.
        thumbnail:
          format: byte
          description: Thumbnail of a representative face view (in JPEG format).
          type: string
        segments:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_FaceSegment
          type: array
          description: All video segments where a face was detected.
      id: GoogleCloudVideointelligenceV1beta2_FaceAnnotation
      type: object
    GoogleCloudVideointelligenceV1p2beta1_ExplicitContentDetectionConfig:
      properties:
        model:
          description: >-
            Model to use for explicit content detection. Supported values:
            "builtin/stable" (the default if unset) and "builtin/latest".
          type: string
      id: GoogleCloudVideointelligenceV1p2beta1_ExplicitContentDetectionConfig
      type: object
      description: Config for EXPLICIT_CONTENT_DETECTION.
    GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults:
      properties:
        shotLabelAnnotations:
          description: >-
            Topical label annotations on shot level. There is exactly one
            element for each unique label.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
          type: array
        objectAnnotations:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation
          description: Annotations for list of objects detected and tracked in video.
        speechTranscriptions:
          type: array
          description: Speech transcription.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription
        inputUri:
          type: string
          description: >-
            Video file location in [Cloud
            Storage](https://cloud.google.com/storage/).
        personDetectionAnnotations:
          type: array
          description: Person detection annotations.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation
        explicitAnnotation:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation
          description: Explicit content annotation.
        error:
          $ref: '#/components/schemas/GoogleRpc_Status'
          description: >-
            If set, indicates an error. Note that for a single
            `AnnotateVideoRequest` some videos may succeed and some may fail.
        faceDetectionAnnotations:
          description: Face detection annotations.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation
          type: array
        shotAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
          description: Shot annotations. Each shot is represented as a video segment.
          type: array
        segmentLabelAnnotations:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
          description: >-
            Topical label annotations on video level or user-specified segment
            level. There is exactly one element for each unique label.
        logoRecognitionAnnotations:
          type: array
          description: >-
            Annotations for list of logos detected, tracked and recognized in
            video.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation
        segmentPresenceLabelAnnotations:
          description: >-
            Presence label annotations on video level or user-specified segment
            level. There is exactly one element for each unique label. Compared
            to the existing topical `segment_label_annotations`, this field
            presents more fine-grained, segment-level labels detected in video
            content and is made available only when the client sets
            `LabelDetectionConfig.model` to "builtin/latest" in the request.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
        faceAnnotations:
          description: Deprecated. Please use `face_detection_annotations` instead.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation
          type: array
        textAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_TextAnnotation
          type: array
          description: >-
            OCR text detection and tracking. Annotations for list of detected
            text snippets. Each will have list of frame information associated
            with it.
        frameLabelAnnotations:
          description: >-
            Label annotations on frame level. There is exactly one element for
            each unique label.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
          type: array
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
          description: Video segment on which the annotation is run.
        shotPresenceLabelAnnotations:
          description: >-
            Presence label annotations on shot level. There is exactly one
            element for each unique label. Compared to the existing topical
            `shot_label_annotations`, this field presents more fine-grained,
            shot-level labels detected in video content and is made available
            only when the client sets `LabelDetectionConfig.model` to
            "builtin/latest" in the request.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
          type: array
      description: Annotation results for a single video.
      id: GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults
      type: object
    GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingConfig:
      id: GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingConfig
      description: Config for OBJECT_TRACKING.
      properties:
        model:
          type: string
          description: >-
            Model to use for object tracking. Supported values: "builtin/stable"
            (the default if unset) and "builtin/latest".
      type: object
    GoogleCloudVideointelligenceV1p2beta1_SpeechTranscriptionConfig:
      id: GoogleCloudVideointelligenceV1p2beta1_SpeechTranscriptionConfig
      properties:
        enableWordConfidence:
          description: >-
            Optional. If `true`, the top result includes a list of words and the
            confidence for those words. If `false`, no word-level confidence
            information is returned. The default is `false`.
          type: boolean
        enableSpeakerDiarization:
          type: boolean
          description: >-
            Optional. If 'true', enables speaker detection for each recognized
            word in the top alternative of the recognition result using a
            speaker_tag provided in the WordInfo. Note: When this is true, we
            send all the words from the beginning of the audio for the top
            alternative in every consecutive response. This is done in order to
            improve our speaker tags as our models learn to identify the
            speakers in the conversation over time.
        languageCode:
          type: string
          description: >-
            Required. *Required* The language of the supplied audio as a
            [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag.
            Example: "en-US". See [Language
            Support](https://cloud.google.com/speech/docs/languages) for a list
            of the currently supported language codes.
        speechContexts:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_SpeechContext
          type: array
          description: >-
            Optional. A means to provide context to assist the speech
            recognition.
        diarizationSpeakerCount:
          description: >-
            Optional. If set, specifies the estimated number of speakers in the
            conversation. If not set, defaults to '2'. Ignored unless
            enable_speaker_diarization is set to true.
          type: integer
          format: int32
        enableAutomaticPunctuation:
          type: boolean
          description: >-
            Optional. If 'true', adds punctuation to recognition result
            hypotheses. This feature is only available in select languages.
            Setting this for requests in other languages has no effect at all.
            The default 'false' value does not add punctuation to result
            hypotheses. NOTE: "This is currently offered as an experimental
            service, complimentary to all users. In the future this may be
            exclusively available as a premium feature."
        filterProfanity:
          type: boolean
          description: >-
            Optional. If set to `true`, the server will attempt to filter out
            profanities, replacing all but the initial character in each
            filtered word with asterisks, e.g. "f***". If set to `false` or
            omitted, profanities won't be filtered out.
        maxAlternatives:
          type: integer
          description: >-
            Optional. Maximum number of recognition hypotheses to be returned.
            Specifically, the maximum number of `SpeechRecognitionAlternative`
            messages within each `SpeechTranscription`. The server may return
            fewer than `max_alternatives`. Valid values are `0`-`30`. A value of
            `0` or `1` will return a maximum of one. If omitted, will return a
            maximum of one.
          format: int32
        audioTracks:
          description: >-
            Optional. For file formats, such as MXF or MKV, supporting multiple
            audio tracks, specify up to two tracks. Default: track 0.
          type: array
          items:
            type: integer
            format: int32
      type: object
      description: Config for SPEECH_TRANSCRIPTION.
    GoogleCloudVideointelligenceV1_SpeechTranscription:
      id: GoogleCloudVideointelligenceV1_SpeechTranscription
      description: A speech recognition result corresponding to a portion of the audio.
      type: object
      properties:
        alternatives:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative
          type: array
          description: >-
            May contain one or more recognition hypotheses (up to the maximum
            specified in `max_alternatives`). These alternatives are ordered in
            terms of accuracy, with the top (first) alternative being the most
            probable, as ranked by the recognizer.
        languageCode:
          type: string
          description: >-
            Output only. The
            [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag
            of the language in this result. This language code was detected to
            have the most likelihood of being spoken in the audio.
          readOnly: true
    GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation:
      id: GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation
      properties:
        tracks:
          type: array
          description: The detected tracks of a person.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p3beta1_Track'
        version:
          type: string
          description: Feature version.
      type: object
      description: Person detection annotation per video.
    GoogleCloudVideointelligenceV1p2beta1_VideoSegment:
      type: object
      properties:
        endTimeOffset:
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the end of the segment (inclusive).
          format: google-duration
        startTimeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the start of the segment (inclusive).
          format: google-duration
          type: string
      description: Video segment.
      id: GoogleCloudVideointelligenceV1p2beta1_VideoSegment
    GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute:
      properties:
        confidence:
          type: number
          description: Detected attribute confidence. Range [0, 1].
          format: float
        name:
          description: >-
            The name of the attribute, for example, glasses, dark_glasses,
            mouth_open. A full list of supported type names will be provided in
            the document.
          type: string
        value:
          description: >-
            Text value of the detection result. For example, the value for
            "HairColor" can be "black", "blonde", etc.
          type: string
      type: object
      description: A generic detected attribute represented by name in string format.
      id: GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute
    GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest:
      properties:
        features:
          description: Required. Requested video annotation features.
          type: array
          items:
            type: string
            enumDescriptions:
              - Unspecified.
              - Label detection. Detect objects, such as dog or flower.
              - Shot change detection.
              - Explicit content detection.
              - Human face detection.
              - Speech transcription.
              - OCR text detection and tracking.
              - Object detection and tracking.
              - Logo detection, tracking, and recognition.
              - Person detection.
            enum:
              - FEATURE_UNSPECIFIED
              - LABEL_DETECTION
              - SHOT_CHANGE_DETECTION
              - EXPLICIT_CONTENT_DETECTION
              - FACE_DETECTION
              - SPEECH_TRANSCRIPTION
              - TEXT_DETECTION
              - OBJECT_TRACKING
              - LOGO_RECOGNITION
              - PERSON_DETECTION
        inputUri:
          type: string
          description: >-
            Input video location. Currently, only [Cloud
            Storage](https://cloud.google.com/storage/) URIs are supported. URIs
            must be specified in the following format:
            `gs://bucket-id/object-id` (other URI formats return
            google.rpc.Code.INVALID_ARGUMENT). For more information, see
            [Request
            URIs](https://cloud.google.com/storage/docs/request-endpoints). To
            identify multiple videos, a video URI may include wildcards in the
            `object-id`. Supported wildcards: '*' to match 0 or more characters;
            '?' to match 1 character. If unset, the input video should be
            embedded in the request as `input_content`. If set, `input_content`
            must be unset.
        inputContent:
          format: byte
          type: string
          description: >-
            The video data bytes. If unset, the input video(s) should be
            specified via the `input_uri`. If set, `input_uri` must be unset.
        locationId:
          description: >-
            Optional. Cloud region where annotation should take place. Supported
            cloud regions are: `us-east1`, `us-west1`, `europe-west1`,
            `asia-east1`. If no region is specified, the region will be
            determined based on video file location.
          type: string
        outputUri:
          type: string
          description: >-
            Optional. Location where the output (in JSON format) should be
            stored. Currently, only [Cloud
            Storage](https://cloud.google.com/storage/) URIs are supported.
            These must be specified in the following format:
            `gs://bucket-id/object-id` (other URI formats return
            google.rpc.Code.INVALID_ARGUMENT). For more information, see
            [Request
            URIs](https://cloud.google.com/storage/docs/request-endpoints).
        videoContext:
          description: Additional video context and/or feature-specific parameters.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoContext
      type: object
      description: Video annotation request.
      id: GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest
    GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation:
      properties:
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Track'
          description: The detected tracks of a person.
        version:
          type: string
          description: Feature version.
      type: object
      id: GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation
      description: Person detection annotation per video.
    GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation:
      type: object
      description: >-
        Annotation corresponding to one detected, tracked and recognized logo
        class.
      id: GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation
      properties:
        entity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity'
          description: >-
            Entity category information to specify the logo class that all the
            logo tracks within this LogoRecognitionAnnotation are recognized as.
        tracks:
          description: >-
            All logo tracks where the recognized logo appears. Each track
            corresponds to one logo instance appearing in consecutive frames.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Track'
        segments:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
          description: >-
            All video segments where the recognized logo appears. There might be
            multiple instances of the same logo class appearing in one
            VideoSegment.
          type: array
    GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative:
      properties:
        confidence:
          readOnly: true
          format: float
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          type: number
        words:
          description: >-
            Output only. A list of word-specific information for each recognized
            word. Note: When `enable_speaker_diarization` is set to true, you
            will see all the words from the beginning of the audio.
          readOnly: true
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_WordInfo'
          type: array
        transcript:
          type: string
          description: Transcript text representing the words that the user spoke.
      description: Alternative hypotheses (a.k.a. n-best list).
      id: GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative
      type: object
    GoogleCloudVideointelligenceV1p2beta1_Entity:
      properties:
        description:
          description: Textual description, e.g., `Fixed-gear bicycle`.
          type: string
        languageCode:
          description: Language code for `description` in BCP-47 format.
          type: string
        entityId:
          description: >-
            Opaque entity ID. Some IDs may be available in [Google Knowledge
            Graph Search API](https://developers.google.com/knowledge-graph/).
          type: string
      description: Detected entity from video analysis.
      id: GoogleCloudVideointelligenceV1p2beta1_Entity
      type: object
    GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly:
      id: GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly
      description: >-
        Normalized bounding polygon for text (that might not be aligned with
        axis). Contains list of the corner points in clockwise order starting
        from top-left corner. For example, for a rectangular bounding box: When
        the text is horizontal it might look like: 0----1 | | 3----2 When it's
        clockwise rotated 180 degrees around the top-left corner it becomes:
        2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note
        that values can be less than 0, or greater than 1 due to trignometric
        calculations for location of the box.
      type: object
      properties:
        vertices:
          type: array
          description: Normalized vertices of the bounding polygon.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex
    GoogleCloudVideointelligenceV1beta2_LabelAnnotation:
      properties:
        version:
          type: string
          description: Feature version.
        segments:
          type: array
          description: All video segments where a label was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelSegment
        entity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity'
          description: Detected entity.
        frames:
          description: All video frames where a label was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_LabelFrame
          type: array
        categoryEntities:
          description: >-
            Common categories for the detected entity. For example, when the
            label is `Terrier`, the category is likely `dog`. And in some cases
            there might be more than one categories e.g., `Terrier` could also
            be a `pet`.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity'
      description: Label annotation.
      id: GoogleCloudVideointelligenceV1beta2_LabelAnnotation
      type: object
    GoogleCloudVideointelligenceV1p3beta1_Celebrity:
      properties:
        name:
          description: >-
            The resource name of the celebrity. Have the format
            `video-intelligence/kg-mid` indicates a celebrity from preloaded
            gallery. kg-mid is the id in Google knowledge graph, which is unique
            for the celebrity.
          type: string
        description:
          type: string
          description: >-
            Textual description of additional information about the celebrity,
            if applicable.
        displayName:
          type: string
          description: The celebrity name.
      id: GoogleCloudVideointelligenceV1p3beta1_Celebrity
      description: Celebrity definition.
      type: object
    GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity:
      description: The recognized celebrity with confidence score.
      type: object
      id: GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity
      properties:
        celebrity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p3beta1_Celebrity'
          description: The recognized celebrity.
        confidence:
          format: float
          description: Recognition confidence. Range [0, 1].
          type: number
    GoogleCloudVideointelligenceV1_AnnotateVideoResponse:
      id: GoogleCloudVideointelligenceV1_AnnotateVideoResponse
      type: object
      description: >-
        Video annotation response. Included in the `response` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
      properties:
        annotationResults:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_VideoAnnotationResults
          description: >-
            Annotation results for all videos specified in
            `AnnotateVideoRequest`.
    GoogleCloudVideointelligenceV1p1beta1_WordInfo:
      type: object
      description: >-
        Word-specific information for recognized words. Word information is only
        included in the response when certain request parameters are set, such
        as `enable_word_time_offsets`.
      id: GoogleCloudVideointelligenceV1p1beta1_WordInfo
      properties:
        endTime:
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the end of the spoken word. This field is only set
            if `enable_word_time_offsets=true` and only in the top hypothesis.
            This is an experimental feature and the accuracy of the time offset
            can vary.
          format: google-duration
          type: string
        speakerTag:
          type: integer
          readOnly: true
          format: int32
          description: >-
            Output only. A distinct integer value is assigned for every speaker
            within the audio. This field specifies which one of those speakers
            was detected to have spoken this word. Value ranges from 1 up to
            diarization_speaker_count, and is only set if speaker diarization is
            enabled.
        word:
          type: string
          description: The word corresponding to this set of information.
        startTime:
          type: string
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the start of the spoken word. This field is only
            set if `enable_word_time_offsets=true` and only in the top
            hypothesis. This is an experimental feature and the accuracy of the
            time offset can vary.
          format: google-duration
        confidence:
          type: number
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          format: float
          readOnly: true
    GoogleCloudVideointelligenceV1p3beta1_Track:
      description: A track of an object instance.
      id: GoogleCloudVideointelligenceV1p3beta1_Track
      type: object
      properties:
        confidence:
          type: number
          format: float
          description: Optional. The confidence score of the tracked object.
        attributes:
          description: Optional. Attributes in the track level.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoSegment
          description: Video segment of a track.
        timestampedObjects:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_TimestampedObject
          type: array
          description: The object with timestamp and attributes per frame in the track.
    GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation:
      id: GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation
      properties:
        version:
          type: string
          description: Feature version.
        tracks:
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Track'
          type: array
          description: The face tracks with attributes.
        thumbnail:
          type: string
          description: The thumbnail of a person's face.
          format: byte
      description: Face detection annotation.
      type: object
    GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation:
      description: Celebrity recognition annotation per video.
      type: object
      properties:
        version:
          description: Feature version.
          type: string
        celebrityTracks:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack
          description: >-
            The tracks detected from the input video, including recognized
            celebrities and other detected faces in the video.
      id: GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation
    GoogleCloudVideointelligenceV1beta2_TextFrame:
      properties:
        timeOffset:
          description: Timestamp of this frame.
          type: string
          format: google-duration
        rotatedBoundingBox:
          description: Bounding polygon of the detected text for this frame.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly
      description: >-
        Video frame level annotation results for text annotation (OCR). Contains
        information regarding timestamp and bounding box locations for the
        frames containing detected OCR text snippets.
      id: GoogleCloudVideointelligenceV1beta2_TextFrame
      type: object
    GoogleCloudVideointelligenceV1_TimestampedObject:
      type: object
      description: >-
        For tracking related features. An object at time_offset with attributes,
        and located with normalized_bounding_box.
      properties:
        timeOffset:
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this object.
          format: google-duration
        landmarks:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_DetectedLandmark
          description: Optional. The detected landmarks.
        attributes:
          description: Optional. The attributes of the object in the bounding box.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_DetectedAttribute
          type: array
        normalizedBoundingBox:
          description: Normalized Bounding box in a frame, where the object is located.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1_NormalizedBoundingBox
      id: GoogleCloudVideointelligenceV1_TimestampedObject
    GoogleCloudVideointelligenceV1p3beta1_Entity:
      id: GoogleCloudVideointelligenceV1p3beta1_Entity
      type: object
      properties:
        entityId:
          type: string
          description: >-
            Opaque entity ID. Some IDs may be available in [Google Knowledge
            Graph Search API](https://developers.google.com/knowledge-graph/).
        languageCode:
          type: string
          description: Language code for `description` in BCP-47 format.
        description:
          type: string
          description: Textual description, e.g., `Fixed-gear bicycle`.
      description: Detected entity from video analysis.
    GoogleLongrunning_Operation:
      description: >-
        This resource represents a long-running operation that is the result of
        a network API call.
      id: GoogleLongrunning_Operation
      type: object
      properties:
        metadata:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          description: >-
            Service-specific metadata associated with the operation. It
            typically contains progress information and common metadata such as
            create time. Some services might not provide such metadata. Any
            method that returns a long-running operation should document the
            metadata type, if any.
        done:
          type: boolean
          description: >-
            If the value is `false`, it means the operation is still in
            progress. If `true`, the operation is completed, and either `error`
            or `response` is available.
        response:
          description: >-
            The normal response of the operation in case of success. If the
            original method returns no data on success, such as `Delete`, the
            response is `google.protobuf.Empty`. If the original method is
            standard `Get`/`Create`/`Update`, the response should be the
            resource. For other methods, the response should have the type
            `XxxResponse`, where `Xxx` is the original method name. For example,
            if the original method name is `TakeSnapshot()`, the inferred
            response type is `TakeSnapshotResponse`.
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          type: object
        name:
          type: string
          description: >-
            The server-assigned name, which is only unique within the same
            service that originally returns it. If you use the default HTTP
            mapping, the `name` should be a resource name ending with
            `operations/{unique_id}`.
        error:
          $ref: '#/components/schemas/GoogleRpc_Status'
          description: >-
            The error result of the operation in case of failure or
            cancellation.
    GoogleCloudVideointelligenceV1p2beta1_LabelSegment:
      type: object
      id: GoogleCloudVideointelligenceV1p2beta1_LabelSegment
      properties:
        segment:
          description: Video segment where a label was detected.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoSegment
        confidence:
          format: float
          type: number
          description: 'Confidence that the label is accurate. Range: [0, 1].'
      description: Video segment level annotation results for label detection.
    GoogleCloudVideointelligenceV1p2beta1_FaceDetectionConfig:
      description: Config for FACE_DETECTION.
      properties:
        includeAttributes:
          type: boolean
          description: >-
            Whether to enable face attributes detection, such as glasses,
            dark_glasses, mouth_open etc. Ignored if 'include_bounding_boxes' is
            set to false.
        includeBoundingBoxes:
          description: Whether bounding boxes are included in the face annotation output.
          type: boolean
        model:
          type: string
          description: >-
            Model to use for face detection. Supported values: "builtin/stable"
            (the default if unset) and "builtin/latest".
      type: object
      id: GoogleCloudVideointelligenceV1p2beta1_FaceDetectionConfig
    GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults:
      description: Annotation results for a single video.
      properties:
        textAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_TextAnnotation
          type: array
          description: >-
            OCR text detection and tracking. Annotations for list of detected
            text snippets. Each will have list of frame information associated
            with it.
        segmentPresenceLabelAnnotations:
          type: array
          description: >-
            Presence label annotations on video level or user-specified segment
            level. There is exactly one element for each unique label. Compared
            to the existing topical `segment_label_annotations`, this field
            presents more fine-grained, segment-level labels detected in video
            content and is made available only when the client sets
            `LabelDetectionConfig.model` to "builtin/latest" in the request.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation
        celebrityRecognitionAnnotations:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation
          description: Celebrity recognition annotations.
        frameLabelAnnotations:
          type: array
          description: >-
            Label annotations on frame level. There is exactly one element for
            each unique label.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation
        segmentLabelAnnotations:
          description: >-
            Topical label annotations on video level or user-specified segment
            level. There is exactly one element for each unique label.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation
        shotLabelAnnotations:
          description: >-
            Topical label annotations on shot level. There is exactly one
            element for each unique label.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation
        explicitAnnotation:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation
          description: Explicit content annotation.
        personDetectionAnnotations:
          description: Person detection annotations.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation
          type: array
        objectAnnotations:
          type: array
          description: Annotations for list of objects detected and tracked in video.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation
        shotPresenceLabelAnnotations:
          description: >-
            Presence label annotations on shot level. There is exactly one
            element for each unique label. Compared to the existing topical
            `shot_label_annotations`, this field presents more fine-grained,
            shot-level labels detected in video content and is made available
            only when the client sets `LabelDetectionConfig.model` to
            "builtin/latest" in the request.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation
          type: array
        faceDetectionAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation
          description: Face detection annotations.
          type: array
        speechTranscriptions:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription
          description: Speech transcription.
          type: array
        logoRecognitionAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation
          type: array
          description: >-
            Annotations for list of logos detected, tracked and recognized in
            video.
        inputUri:
          type: string
          description: >-
            Video file location in [Cloud
            Storage](https://cloud.google.com/storage/).
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoSegment
          description: Video segment on which the annotation is run.
        error:
          $ref: '#/components/schemas/GoogleRpc_Status'
          description: >-
            If set, indicates an error. Note that for a single
            `AnnotateVideoRequest` some videos may succeed and some may fail.
        shotAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoSegment
          type: array
          description: Shot annotations. Each shot is represented as a video segment.
        faceAnnotations:
          type: array
          description: Deprecated. Please use `face_detection_annotations` instead.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation
      id: GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults
      type: object
    GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation:
      properties:
        segments:
          type: array
          description: All video segments where a label was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_LabelSegment
        version:
          type: string
          description: Feature version.
        frames:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_LabelFrame
          description: All video frames where a label was detected.
        entity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p3beta1_Entity'
          description: Detected entity.
        categoryEntities:
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p3beta1_Entity'
          description: >-
            Common categories for the detected entity. For example, when the
            label is `Terrier`, the category is likely `dog`. And in some cases
            there might be more than one categories e.g., `Terrier` could also
            be a `pet`.
          type: array
      type: object
      description: Label annotation.
      id: GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation
    GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack:
      description: >-
        The annotation result of a celebrity face track. RecognizedCelebrity
        field could be empty if the face track does not have any matched
        celebrities.
      id: GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack
      type: object
      properties:
        celebrities:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity
          description: Top N match of the celebrities for the face in this track.
          type: array
        faceTrack:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p3beta1_Track'
          description: A track of a person's face.
    GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation:
      properties:
        frames:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame
          description: All video frames where explicit content was detected.
          type: array
        version:
          type: string
          description: Feature version.
      type: object
      description: >-
        Explicit content annotation (based on per-frame visual signals only). If
        no explicit content has been detected in a frame, no annotations are
        present for that frame.
      id: GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation
    GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation:
      id: GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation
      type: object
      properties:
        version:
          type: string
          description: Feature version.
        confidence:
          description: Object category's labeling confidence of this track.
          format: float
          type: number
        segment:
          description: >-
            Non-streaming batch mode ONLY. Each object track corresponds to one
            video segment where it appears.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_VideoSegment'
        entity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Entity'
          description: Entity to specify the object category that this track is labeled as.
        trackId:
          description: >-
            Streaming mode ONLY. In streaming mode, we do not know the end time
            of a tracked object before it is completed. Hence, there is no
            VideoSegment info returned. Instead, we provide a unique
            identifiable integer track_id so that the customers can correlate
            the results of the ongoing ObjectTrackAnnotation of the same
            track_id over time.
          type: string
          format: int64
        frames:
          type: array
          description: >-
            Information corresponding to all frames where this object track
            appears. Non-streaming batch mode: it may be one or multiple
            ObjectTrackingFrame messages in frames. Streaming mode: it can only
            be one ObjectTrackingFrame message in frames.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1_ObjectTrackingFrame
      description: Annotations corresponding to one tracked object.
    GoogleCloudVideointelligenceV1beta2_Track:
      description: A track of an object instance.
      type: object
      properties:
        timestampedObjects:
          type: array
          description: The object with timestamp and attributes per frame in the track.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_TimestampedObject
        attributes:
          description: Optional. Attributes in the track level.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_DetectedAttribute
          type: array
        segment:
          description: Video segment of a track.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment
        confidence:
          format: float
          type: number
          description: Optional. The confidence score of the tracked object.
      id: GoogleCloudVideointelligenceV1beta2_Track
    GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress:
      id: GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress
      type: object
      description: >-
        Video annotation progress. Included in the `metadata` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
      properties:
        annotationProgress:
          description: >-
            Progress metadata for all videos specified in
            `AnnotateVideoRequest`.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress
    GoogleCloudVideointelligenceV1p3beta1_FaceFrame:
      description: Deprecated. No effect.
      id: GoogleCloudVideointelligenceV1p3beta1_FaceFrame
      type: object
      properties:
        normalizedBoundingBoxes:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox
          description: >-
            Normalized Bounding boxes in a frame. There can be more than one
            boxes if the same face is detected in multiple locations within the
            current frame.
        timeOffset:
          format: google-duration
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
    GoogleCloudVideointelligenceV1beta2_TextAnnotation:
      type: object
      description: >-
        Annotations related to one detected OCR text snippet. This will contain
        the corresponding text, confidence value, and frame level information
        for each detection.
      id: GoogleCloudVideointelligenceV1beta2_TextAnnotation
      properties:
        text:
          description: The detected text.
          type: string
        segments:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_TextSegment
          description: All video segments where OCR detected text appears.
        version:
          description: Feature version.
          type: string
    GoogleCloudVideointelligenceV1beta2_WordInfo:
      type: object
      properties:
        word:
          description: The word corresponding to this set of information.
          type: string
        endTime:
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the end of the spoken word. This field is only set
            if `enable_word_time_offsets=true` and only in the top hypothesis.
            This is an experimental feature and the accuracy of the time offset
            can vary.
          format: google-duration
          type: string
        speakerTag:
          readOnly: true
          type: integer
          description: >-
            Output only. A distinct integer value is assigned for every speaker
            within the audio. This field specifies which one of those speakers
            was detected to have spoken this word. Value ranges from 1 up to
            diarization_speaker_count, and is only set if speaker diarization is
            enabled.
          format: int32
        confidence:
          description: >-
            Output only. The confidence estimate between 0.0 and 1.0. A higher
            number indicates an estimated greater likelihood that the recognized
            words are correct. This field is set only for the top alternative.
            This field is not guaranteed to be accurate and users should not
            rely on it to be always provided. The default of 0.0 is a sentinel
            value indicating `confidence` was not set.
          type: number
          readOnly: true
          format: float
        startTime:
          format: google-duration
          description: >-
            Time offset relative to the beginning of the audio, and
            corresponding to the start of the spoken word. This field is only
            set if `enable_word_time_offsets=true` and only in the top
            hypothesis. This is an experimental feature and the accuracy of the
            time offset can vary.
          type: string
      description: >-
        Word-specific information for recognized words. Word information is only
        included in the response when certain request parameters are set, such
        as `enable_word_time_offsets`.
      id: GoogleCloudVideointelligenceV1beta2_WordInfo
    GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation:
      id: GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation
      description: Label annotation.
      type: object
      properties:
        segments:
          description: All video segments where a label was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_LabelSegment
          type: array
        version:
          type: string
          description: Feature version.
        entity:
          description: Detected entity.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p2beta1_Entity'
        frames:
          description: All video frames where a label was detected.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_LabelFrame
        categoryEntities:
          description: >-
            Common categories for the detected entity. For example, when the
            label is `Terrier`, the category is likely `dog`. And in some cases
            there might be more than one categories e.g., `Terrier` could also
            be a `pet`.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p2beta1_Entity'
          type: array
    GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress:
      description: Annotation progress for a single video.
      id: GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress
      properties:
        inputUri:
          description: >-
            Video file location in [Cloud
            Storage](https://cloud.google.com/storage/).
          type: string
        progressPercent:
          description: >-
            Approximate percentage processed thus far. Guaranteed to be 100 when
            fully processed.
          type: integer
          format: int32
        feature:
          type: string
          enum:
            - FEATURE_UNSPECIFIED
            - LABEL_DETECTION
            - SHOT_CHANGE_DETECTION
            - EXPLICIT_CONTENT_DETECTION
            - FACE_DETECTION
            - SPEECH_TRANSCRIPTION
            - TEXT_DETECTION
            - OBJECT_TRACKING
            - LOGO_RECOGNITION
            - PERSON_DETECTION
          description: >-
            Specifies which feature is being tracked if the request contains
            more than one feature.
          enumDescriptions:
            - Unspecified.
            - Label detection. Detect objects, such as dog or flower.
            - Shot change detection.
            - Explicit content detection.
            - Human face detection.
            - Speech transcription.
            - OCR text detection and tracking.
            - Object detection and tracking.
            - Logo detection, tracking, and recognition.
            - Person detection.
        updateTime:
          description: Time of the most recent update.
          type: string
          format: google-datetime
        startTime:
          description: Time when the request was received.
          format: google-datetime
          type: string
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoSegment
          description: >-
            Specifies which segment is being tracked if the request contains
            more than one segment.
      type: object
    GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse:
      id: GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse
      type: object
      properties:
        annotationResults:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults
          type: array
          description: >-
            Annotation results for all videos specified in
            `AnnotateVideoRequest`.
      description: >-
        Video annotation response. Included in the `response` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
    GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation:
      description: Deprecated. No effect.
      type: object
      properties:
        segments:
          type: array
          description: All video segments where a face was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_FaceSegment
        frames:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_FaceFrame
          type: array
          description: All video frames where a face was detected.
        thumbnail:
          format: byte
          type: string
          description: Thumbnail of a representative face view (in JPEG format).
      id: GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation
    GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress:
      type: object
      description: >-
        Video annotation progress. Included in the `metadata` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
      properties:
        annotationProgress:
          type: array
          description: >-
            Progress metadata for all videos specified in
            `AnnotateVideoRequest`.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress
      id: GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress
    GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation:
      properties:
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment
          description: >-
            Non-streaming batch mode ONLY. Each object track corresponds to one
            video segment where it appears.
        confidence:
          format: float
          type: number
          description: Object category's labeling confidence of this track.
        trackId:
          format: int64
          description: >-
            Streaming mode ONLY. In streaming mode, we do not know the end time
            of a tracked object before it is completed. Hence, there is no
            VideoSegment info returned. Instead, we provide a unique
            identifiable integer track_id so that the customers can correlate
            the results of the ongoing ObjectTrackAnnotation of the same
            track_id over time.
          type: string
        entity:
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_Entity'
          description: Entity to specify the object category that this track is labeled as.
        frames:
          type: array
          description: >-
            Information corresponding to all frames where this object track
            appears. Non-streaming batch mode: it may be one or multiple
            ObjectTrackingFrame messages in frames. Streaming mode: it can only
            be one ObjectTrackingFrame message in frames.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame
        version:
          description: Feature version.
          type: string
      id: GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation
      description: Annotations corresponding to one tracked object.
      type: object
    GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox:
      id: GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox
      description: >-
        Normalized bounding box. The normalized vertex coordinates are relative
        to the original image. Range: [0, 1].
      type: object
      properties:
        left:
          format: float
          description: Left X coordinate.
          type: number
        bottom:
          format: float
          description: Bottom Y coordinate.
          type: number
        right:
          format: float
          description: Right X coordinate.
          type: number
        top:
          description: Top Y coordinate.
          type: number
          format: float
    GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription:
      properties:
        alternatives:
          type: array
          description: >-
            May contain one or more recognition hypotheses (up to the maximum
            specified in `max_alternatives`). These alternatives are ordered in
            terms of accuracy, with the top (first) alternative being the most
            probable, as ranked by the recognizer.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative
        languageCode:
          type: string
          readOnly: true
          description: >-
            Output only. The
            [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag
            of the language in this result. This language code was detected to
            have the most likelihood of being spoken in the audio.
      id: GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription
      description: A speech recognition result corresponding to a portion of the audio.
      type: object
    GoogleCloudVideointelligenceV1beta2_NormalizedVertex:
      description: >-
        A vertex represents a 2D point in the image. NOTE: the normalized vertex
        coordinates are relative to the original image and range from 0 to 1.
      id: GoogleCloudVideointelligenceV1beta2_NormalizedVertex
      type: object
      properties:
        'y':
          description: Y coordinate.
          format: float
          type: number
        x:
          type: number
          format: float
          description: X coordinate.
    GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation:
      id: GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation
      properties:
        segments:
          type: array
          description: All video segments where a label was detected.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelSegment
        categoryEntities:
          type: array
          description: >-
            Common categories for the detected entity. For example, when the
            label is `Terrier`, the category is likely `dog`. And in some cases
            there might be more than one categories e.g., `Terrier` could also
            be a `pet`.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity'
        frames:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_LabelFrame
          description: All video frames where a label was detected.
          type: array
        version:
          description: Feature version.
          type: string
        entity:
          description: Detected entity.
          $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p1beta1_Entity'
      description: Label annotation.
      type: object
    GoogleCloudVideointelligenceV1beta2_TextSegment:
      description: Video segment level annotation results for text detection.
      id: GoogleCloudVideointelligenceV1beta2_TextSegment
      properties:
        frames:
          type: array
          description: Information related to the frames where OCR detected text appears.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1beta2_TextFrame'
        confidence:
          type: number
          description: >-
            Confidence for the track of detected text. It is calculated as the
            highest over all frames where OCR detected text appears.
          format: float
        segment:
          description: Video segment where a text snippet was detected.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1beta2_VideoSegment
      type: object
    GoogleCloudVideointelligenceV1_PersonDetectionAnnotation:
      id: GoogleCloudVideointelligenceV1_PersonDetectionAnnotation
      properties:
        version:
          description: Feature version.
          type: string
        tracks:
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1_Track'
          type: array
          description: The detected tracks of a person.
      type: object
      description: Person detection annotation per video.
    GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame:
      type: object
      description: >-
        Video frame level annotations for object detection and tracking. This
        field stores per frame location, time offset, and confidence.
      id: GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame
      properties:
        timeOffset:
          type: string
          format: google-duration
          description: The timestamp of the frame in microseconds.
        normalizedBoundingBox:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox
          description: >-
            The normalized bounding box location of this object track for the
            frame.
    GoogleCloudVideointelligenceV1p2beta1_PersonDetectionConfig:
      description: Config for PERSON_DETECTION.
      type: object
      id: GoogleCloudVideointelligenceV1p2beta1_PersonDetectionConfig
      properties:
        includeBoundingBoxes:
          description: >-
            Whether bounding boxes are included in the person detection
            annotation output.
          type: boolean
        includeAttributes:
          type: boolean
          description: >-
            Whether to enable person attributes detection, such as cloth color
            (black, blue, etc), type (coat, dress, etc), pattern (plain, floral,
            etc), hair, etc. Ignored if 'include_bounding_boxes' is set to
            false.
        includePoseLandmarks:
          description: >-
            Whether to enable pose landmarks detection. Ignored if
            'include_bounding_boxes' is set to false.
          type: boolean
    GoogleCloudVideointelligenceV1_ExplicitContentFrame:
      id: GoogleCloudVideointelligenceV1_ExplicitContentFrame
      description: Video frame level annotation results for explicit content.
      properties:
        pornographyLikelihood:
          type: string
          description: Likelihood of the pornography content..
          enum:
            - LIKELIHOOD_UNSPECIFIED
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          enumDescriptions:
            - Unspecified likelihood.
            - Very unlikely.
            - Unlikely.
            - Possible.
            - Likely.
            - Very likely.
        timeOffset:
          type: string
          format: google-duration
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
      type: object
    GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse:
      properties:
        annotationResults:
          description: >-
            Annotation results for all videos specified in
            `AnnotateVideoRequest`.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults
      type: object
      id: GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse
      description: >-
        Video annotation response. Included in the `response` field of the
        `Operation` returned by the `GetOperation` call of the
        `google::longrunning::Operations` service.
    GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame:
      id: GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame
      description: Video frame level annotation results for explicit content.
      properties:
        timeOffset:
          format: google-duration
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the video frame for this location.
        pornographyLikelihood:
          enum:
            - LIKELIHOOD_UNSPECIFIED
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
          enumDescriptions:
            - Unspecified likelihood.
            - Very unlikely.
            - Unlikely.
            - Possible.
            - Likely.
            - Very likely.
          description: Likelihood of the pornography content..
      type: object
    GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation:
      properties:
        version:
          type: string
          description: Feature version.
        frames:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame
          description: All video frames where explicit content was detected.
          type: array
      id: GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation
      type: object
      description: >-
        Explicit content annotation (based on per-frame visual signals only). If
        no explicit content has been detected in a frame, no annotations are
        present for that frame.
    GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults:
      description: >-
        Streaming annotation results corresponding to a portion of the video
        that is currently being processed. Only ONE type of annotation will be
        specified in the response.
      type: object
      properties:
        labelAnnotations:
          type: array
          description: Label annotation results.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation
        shotAnnotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoSegment
          description: >-
            Shot annotation results. Each shot is represented as a video
            segment.
          type: array
        explicitAnnotation:
          description: Explicit content annotation results.
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation
        frameTimestamp:
          format: google-duration
          type: string
          description: Timestamp of the processed frame in microseconds.
        objectAnnotations:
          type: array
          description: Object tracking results.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation
      id: GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults
    GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress:
      description: Annotation progress for a single video.
      properties:
        feature:
          enumDescriptions:
            - Unspecified.
            - Label detection. Detect objects, such as dog or flower.
            - Shot change detection.
            - Explicit content detection.
            - Human face detection.
            - Speech transcription.
            - OCR text detection and tracking.
            - Object detection and tracking.
            - Logo detection, tracking, and recognition.
            - Celebrity recognition.
            - Person detection.
          description: >-
            Specifies which feature is being tracked if the request contains
            more than one feature.
          enum:
            - FEATURE_UNSPECIFIED
            - LABEL_DETECTION
            - SHOT_CHANGE_DETECTION
            - EXPLICIT_CONTENT_DETECTION
            - FACE_DETECTION
            - SPEECH_TRANSCRIPTION
            - TEXT_DETECTION
            - OBJECT_TRACKING
            - LOGO_RECOGNITION
            - CELEBRITY_RECOGNITION
            - PERSON_DETECTION
          type: string
        segment:
          $ref: >-
            #/components/schemas/GoogleCloudVideointelligenceV1p3beta1_VideoSegment
          description: >-
            Specifies which segment is being tracked if the request contains
            more than one segment.
        updateTime:
          type: string
          format: google-datetime
          description: Time of the most recent update.
        inputUri:
          type: string
          description: >-
            Video file location in [Cloud
            Storage](https://cloud.google.com/storage/).
        startTime:
          type: string
          description: Time when the request was received.
          format: google-datetime
        progressPercent:
          description: >-
            Approximate percentage processed thus far. Guaranteed to be 100 when
            fully processed.
          format: int32
          type: integer
      id: GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress
      type: object
    GoogleCloudVideointelligenceV1beta2_VideoSegment:
      description: Video segment.
      properties:
        startTimeOffset:
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the start of the segment (inclusive).
          type: string
          format: google-duration
        endTimeOffset:
          type: string
          description: >-
            Time-offset, relative to the beginning of the video, corresponding
            to the end of the segment (inclusive).
          format: google-duration
      type: object
      id: GoogleCloudVideointelligenceV1beta2_VideoSegment
    GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox:
      id: GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox
      description: >-
        Normalized bounding box. The normalized vertex coordinates are relative
        to the original image. Range: [0, 1].
      type: object
      properties:
        right:
          type: number
          format: float
          description: Right X coordinate.
        bottom:
          description: Bottom Y coordinate.
          format: float
          type: number
        left:
          description: Left X coordinate.
          type: number
          format: float
        top:
          description: Top Y coordinate.
          format: float
          type: number
    GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation:
      type: object
      properties:
        thumbnail:
          type: string
          description: The thumbnail of a person's face.
          format: byte
        version:
          description: Feature version.
          type: string
        tracks:
          description: The face tracks with attributes.
          items:
            $ref: '#/components/schemas/GoogleCloudVideointelligenceV1p3beta1_Track'
          type: array
      description: Face detection annotation.
      id: GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation
    GoogleCloudVideointelligenceV1_TextAnnotation:
      properties:
        version:
          type: string
          description: Feature version.
        text:
[...]
