openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Healthcare API
  description: Manage, store, and access healthcare data in Google Cloud Platform.
  version: v1beta1
  x-discovery-doc-revision: '20230616'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/healthcare
servers:
  - url: https://healthcare.googleapis.com
components:
  schemas:
    TestIamPermissionsRequest:
      properties:
        permissions:
          items:
            type: string
          description: >-
            The set of permissions to check for the `resource`. Permissions with
            wildcards (such as `*` or `storage.*`) are not allowed. For more
            information see [IAM
            Overview](https://cloud.google.com/iam/docs/overview#permissions).
          type: array
      description: Request message for `TestIamPermissions` method.
      type: object
      id: TestIamPermissionsRequest
    DeleteTag:
      description: Delete tag.
      id: DeleteTag
      type: object
      properties: {}
    QueryAccessibleDataRequest:
      type: object
      properties:
        resourceAttributes:
          description: >-
            Optional. The values of resource attributes associated with the type
            of resources being requested. If no values are specified, then all
            resource types are included in the output.
          additionalProperties:
            type: string
          type: object
        requestAttributes:
          type: object
          additionalProperties:
            type: string
          description: >-
            The values of request attributes associated with this access
            request.
        gcsDestination:
          description: >-
            The Cloud Storage destination. The Cloud Healthcare API service
            account must have the `roles/storage.objectAdmin` Cloud IAM role for
            this Cloud Storage location. The object name is in the following
            format: query-accessible-data-result-{operation_id}.txt where each
            line contains a single data_id.
          $ref: >-
            #/components/schemas/GoogleCloudHealthcareV1beta1ConsentGcsDestination
      id: QueryAccessibleDataRequest
      description: >-
        Queries all data_ids that are consented for a given use in the given
        consent store and writes them to a specified destination. The returned
        Operation includes a progress counter for the number of User data
        mappings processed. Errors are logged to Cloud Logging (see [Viewing
        error logs in Cloud Logging]
        (https://cloud.google.com/healthcare/docs/how-tos/logging) and
        [QueryAccessibleData] for a sample log entry).
    Location:
      type: object
      id: Location
      description: A resource that represents a Google Cloud location.
      properties:
        displayName:
          description: >-
            The friendly name for this location, typically a nearby city name.
            For example, "Tokyo".
          type: string
        locationId:
          description: 'The canonical id for this location. For example: `"us-east1"`.'
          type: string
        labels:
          additionalProperties:
            type: string
          type: object
          description: >-
            Cross-service attributes for the location. For example
            {"cloud.googleapis.com/region": "us-east1"}
        name:
          description: >-
            Resource name for the location, which may vary between
            implementations. For example:
            `"projects/example-project/locations/us-east1"`
          type: string
        metadata:
          description: >-
            Service-specific metadata. For example the available capacity at the
            given location.
          additionalProperties:
            type: any
            description: Properties of the object. Contains field @type with type URL.
          type: object
    GoogleCloudHealthcareV1beta1FhirGcsDestination:
      description: The configuration for exporting to Cloud Storage.
      id: GoogleCloudHealthcareV1beta1FhirGcsDestination
      properties:
        uriPrefix:
          type: string
          description: >-
            URI for a Cloud Storage directory where result files should be
            written (in the format
            `gs://{bucket-id}/{path/to/destination/dir}`). If there is no
            trailing slash, the service appends one when composing the object
            path. The Cloud Storage bucket referenced in `uri_prefix` must exist
            or an error occurs.
      type: object
    SchemaGroup:
      id: SchemaGroup
      properties:
        maxOccurs:
          format: int32
          type: integer
          description: >-
            The maximum number of times this group can be repeated. 0 or -1
            means unbounded.
        minOccurs:
          format: int32
          type: integer
          description: The minimum number of times this group must be present/repeated.
        members:
          description: Nested groups and/or segments.
          type: array
          items:
            $ref: '#/components/schemas/GroupOrSegment'
        choice:
          description: >-
            True indicates that this is a choice group, meaning that only one of
            its segments can exist in a given message.
          type: boolean
        name:
          type: string
          description: The name of this group. For example, "ORDER_DETAIL".
      type: object
      description: An HL7v2 logical group construct.
    AnnotationStore:
      type: object
      description: >-
        An Annotation store that can store annotation resources such as labels
        and tags for text, image and audio.
      id: AnnotationStore
      properties:
        name:
          description: >-
            Resource name of the Annotation store, of the form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/annotationStores/{annotation_store_id}`.
          type: string
        labels:
          additionalProperties:
            type: string
          description: >-
            Optional. User-supplied key-value pairs used to organize Annotation
            stores. Label keys must be between 1 and 63 characters long, have a
            UTF-8 encoding of maximum 128 bytes, and must conform to the
            following PCRE regular expression: \p{Ll}\p{Lo}{0,62} Label values
            must be between 1 and 63 characters long, have a UTF-8 encoding of
            maximum 128 bytes, and must conform to the following PCRE regular
            expression: [\p{Ll}\p{Lo}\p{N}_-]{0,63} No more than 64 labels can
            be associated with a given store.
          type: object
    GoogleCloudHealthcareV1beta1DeidentifyDeidentifyDicomStoreSummary:
      id: GoogleCloudHealthcareV1beta1DeidentifyDeidentifyDicomStoreSummary
      properties: {}
      type: object
      description: Contains a summary of the DeidentifyDicomStore operation.
    DeidentifyFhirStoreRequest:
      properties:
        resourceFilter:
          $ref: '#/components/schemas/FhirFilter'
          description: >-
            A filter specifying the resources to include in the output. If not
            specified, all resources are included in the output.
        config:
          description: >-
            Deidentify configuration. Only one of `config` and `gcs_config_uri`
            can be specified.
          $ref: '#/components/schemas/DeidentifyConfig'
        destinationStore:
          description: >-
            The name of the FHIR store to create and write the redacted data to.
            For example,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.
            * The destination dataset must exist. * The source dataset and
            destination dataset must both reside in the same location.
            De-identifying data across multiple locations is not supported. *
            The destination FHIR store must exist. * The caller must have the
            healthcare.fhirResources.update permission to write to the
            destination FHIR store.
          type: string
        skipModifiedResources:
          description: >-
            If true, skips resources that are created or modified after the
            de-identify operation is created.
          type: boolean
        gcsConfigUri:
          type: string
          description: >-
            Cloud Storage location to read the JSON
            cloud.healthcare.deidentify.DeidentifyConfig from, overriding the
            default config. Must be of the form
            `gs://{bucket_id}/path/to/object`. The Cloud Storage location must
            grant the Cloud IAM role `roles/storage.objectViewer` to the
            project's Cloud Healthcare Service Agent service account. Only one
            of `config` and `gcs_config_uri` can be specified.
      id: DeidentifyFhirStoreRequest
      description: Creates a new FHIR store with sensitive information de-identified.
      type: object
    RejectConsentRequest:
      id: RejectConsentRequest
      type: object
      properties:
        consentArtifact:
          type: string
          description: >-
            Optional. The resource name of the Consent artifact that contains
            documentation of the user's rejection of the draft Consent, of the
            form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`.
            If the draft Consent had a Consent artifact, this Consent artifact
            overwrites it.
      description: >-
        Rejects the latest revision of the specified Consent by committing a new
        revision with `state` updated to `REJECTED`. If the latest revision of
        the given Consent is in the `REJECTED` state, no new revision is
        committed.
    OperationMetadata:
      properties:
        endTime:
          description: The time at which execution was completed.
          type: string
          format: google-datetime
        apiMethodName:
          type: string
          description: The name of the API method that initiated the operation.
        counter:
          $ref: '#/components/schemas/ProgressCounter'
        cancelRequested:
          description: Specifies if cancellation was requested for the operation.
          type: boolean
        createTime:
          format: google-datetime
          type: string
          description: The time at which the operation was created by the API.
        logsUrl:
          type: string
          description: >-
            A link to audit and error logs in the log viewer. Error logs are
            generated only by some operations, listed at [Viewing error logs in
            Cloud
            Logging](https://cloud.google.com/healthcare/docs/how-tos/logging).
      id: OperationMetadata
      description: >-
        OperationMetadata provides information about the operation execution.
        Returned in the long-running operation's metadata field.
      type: object
    ParserConfig:
      properties:
        allowNullHeader:
          type: boolean
          description: Determines whether messages with no header are allowed.
        version:
          enum:
            - PARSER_VERSION_UNSPECIFIED
            - V1
            - V2
            - V3
          description: >-
            Immutable. Determines the version of both the default parser to be
            used when `schema` is not given, as well as the schematized parser
            used when `schema` is specified. This field is immutable after HL7v2
            store creation.
          enumDescriptions:
            - Unspecified parser version, equivalent to V1.
            - >-
              The `parsed_data` includes every given non-empty message field
              except the Field Separator (MSH-1) field. As a result, the parsed
              MSH segment starts with the MSH-2 field and the field numbers are
              off-by-one with respect to the HL7 standard.
            - The `parsed_data` includes every given non-empty message field.
            - >-
              This version is the same as V2, with the following change. The
              `parsed_data` contains unescaped escaped field separators,
              component separators, sub-component separators, repetition
              separators, escape characters, and truncation characters. If
              `schema` is specified, the schematized parser uses improved
              parsing heuristics compared to previous versions.
          type: string
        schema:
          $ref: '#/components/schemas/SchemaPackage'
          description: >-
            Schemas used to parse messages in this store, if schematized parsing
            is desired.
        segmentTerminator:
          format: byte
          description: >-
            Byte(s) to use as the segment terminator. If this is unset, '\r' is
            used as segment terminator, matching the HL7 version 2
            specification.
          type: string
      id: ParserConfig
      type: object
      description: >-
        The configuration for the parser. It determines how the server parses
        the messages.
    TestIamPermissionsResponse:
      properties:
        permissions:
          items:
            type: string
          type: array
          description: >-
            A subset of `TestPermissionsRequest.permissions` that the caller is
            allowed.
      type: object
      description: Response message for `TestIamPermissions` method.
      id: TestIamPermissionsResponse
    ReplaceWithInfoTypeConfig:
      description: >-
        When using the INSPECT_AND_TRANSFORM action, each match is replaced with
        the name of the info_type. For example, "My name is Jane" becomes "My
        name is [PERSON_NAME]." The TRANSFORM action is equivalent to redacting.
      id: ReplaceWithInfoTypeConfig
      type: object
      properties: {}
    GoogleCloudHealthcareV1beta1DeidentifyDeidentifyFhirStoreSummary:
      properties: {}
      id: GoogleCloudHealthcareV1beta1DeidentifyDeidentifyFhirStoreSummary
      description: Contains a summary of the DeidentifyFhirStore operation.
      type: object
    BoundingPoly:
      id: BoundingPoly
      description: A bounding polygon for the detected image annotation.
      properties:
        label:
          type: string
          description: A description of this polygon.
        vertices:
          description: List of the vertices of this polygon.
          items:
            $ref: '#/components/schemas/Vertex'
          type: array
      type: object
    ConsentList:
      description: List of resource names of Consent resources.
      id: ConsentList
      properties:
        consents:
          type: array
          items:
            type: string
          description: >-
            The resource names of the Consents to evaluate against, of the form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consents/{consent_id}`.
      type: object
    AuditConfig:
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: '#/components/schemas/AuditLogConfig'
          type: array
        service:
          type: string
          description: >-
            Specifies a service that will be enabled for audit logging. For
            example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
            `allServices` is a special value that covers all services.
      description: >-
        Specifies the audit configuration for a service. The configuration
        determines which permission types are logged, and what identities, if
        any, are exempted from logging. An AuditConfig must have one or more
        AuditLogConfigs. If there are AuditConfigs for both `allServices` and a
        specific service, the union of the two AuditConfigs is used for that
        service: the log_types specified in each AuditConfig are enabled, and
        the exempted_members in each AuditLogConfig are exempted. Example Policy
        with multiple AuditConfigs: { "audit_configs": [ { "service":
        "allServices", "audit_log_configs": [ { "log_type": "DATA_READ",
        "exempted_members": [ "user:jose@example.com" ] }, { "log_type":
        "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service":
        "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type":
        "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [
        "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy
        enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts
        `jose@example.com` from DATA_READ logging, and `aliya@example.com` from
        DATA_WRITE logging.
      id: AuditConfig
      type: object
    ListHl7V2StoresResponse:
      id: ListHl7V2StoresResponse
      description: Lists the HL7v2 stores in the given dataset.
      type: object
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results or empty if there are no
            more results in the list.
        hl7V2Stores:
          items:
            $ref: '#/components/schemas/Hl7V2Store'
          type: array
          description: >-
            The returned HL7v2 stores. Won't be more HL7v2 stores than the value
            of page_size in the request.
    Hl7V2NotificationConfig:
      id: Hl7V2NotificationConfig
      type: object
      properties:
        filter:
          description: >-
            Restricts notifications sent for messages matching a filter. If this
            is empty, all messages are matched. The following syntax is
            available: * A string field value can be written as text inside
            quotation marks, for example `"query text"`. The only valid
            relational operation for text fields is equality (`=`), where text
            is searched within the field, rather than having the field be equal
            to the text. For example, `"Comment = great"` returns messages with
            `great` in the comment field. * A number field value can be written
            as an integer, a decimal, or an exponential. The valid relational
            operators for number fields are the equality operator (`=`), along
            with the less than/greater than operators (`<`, `<=`, `>`, `>=`).
            Note that there is no inequality (`!=`) operator. You can prepend
            the `NOT` operator to an expression to negate it. * A date field
            value must be written in `yyyy-mm-dd` form. Fields with date and
            time use the RFC3339 time format. Leading zeros are required for
            one-digit months and days. The valid relational operators for date
            fields are the equality operator (`=`) , along with the less
            than/greater than operators (`<`, `<=`, `>`, `>=`). Note that there
            is no inequality (`!=`) operator. You can prepend the `NOT` operator
            to an expression to negate it. * Multiple field query expressions
            can be combined in one query by adding `AND` or `OR` operators
            between the expressions. If a boolean operator appears within a
            quoted string, it is not treated as special, it's just another part
            of the character string to be matched. You can prepend the `NOT`
            operator to an expression to negate it. Fields/functions available
            for filtering are: * `message_type`, from the MSH-9.1 field. For
            example, `NOT message_type = "ADT"`. * `send_date` or `sendDate`,
            the YYYY-MM-DD date the message was sent in the dataset's time_zone,
            from the MSH-7 segment. For example, `send_date < "2017-01-02"`. *
            `send_time`, the timestamp when the message was sent, using the
            RFC3339 time format for comparisons, from the MSH-7 segment. For
            example, `send_time < "2017-01-02T00:00:00-05:00"`. * `create_time`,
            the timestamp when the message was created in the HL7v2 store. Use
            the RFC3339 time format for comparisons. For example, `create_time <
            "2017-01-02T00:00:00-05:00"`. * `send_facility`, the care center
            that the message came from, from the MSH-4 segment. For example,
            `send_facility = "ABC"`. * `PatientId(value, type)`, which matches
            if the message lists a patient having an ID of the given value and
            type in the PID-2, PID-3, or PID-4 segments. For example,
            `PatientId("123456", "MRN")`. * `labels.x`, a string value of the
            label with key `x` as set using the Message.labels map. For example,
            `labels."priority"="high"`. The operator `:*` can be used to assert
            the existence of a label. For example, `labels."priority":*`.
          type: string
        pubsubTopic:
          description: >-
            The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that
            notifications of changes are published on. Supplied by the client.
            The notification is a `PubsubMessage` with the following fields: *
            `PubsubMessage.Data` contains the resource name. *
            `PubsubMessage.MessageId` is the ID of this notification. It is
            guaranteed to be unique within the topic. *
            `PubsubMessage.PublishTime` is the time when the message was
            published. Note that notifications are only sent if the topic is
            non-empty. [Topic
            names](https://cloud.google.com/pubsub/docs/overview#names) must be
            scoped to a project. Cloud Healthcare API service account must have
            publisher permissions on the given Pub/Sub topic. Not having
            adequate permissions causes the calls that send notifications to
            fail. If a notification can't be published to Pub/Sub, errors are
            logged to Cloud Logging. For more information, see [Viewing error
            logs in Cloud
            Logging](https://cloud.google.com/healthcare/docs/how-tos/logging).
          type: string
      description: >-
        Specifies where and whether to send notifications upon changes to a data
        store.
    CryptoHashConfig:
      type: object
      id: CryptoHashConfig
      description: >-
        Pseudonymization method that generates surrogates via cryptographic
        hashing. Uses SHA-256. Outputs a base64-encoded representation of the
        hashed output. For example,
        `L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=`.
      properties:
        cryptoKey:
          description: >-
            An AES 128/192/256 bit key. Causes the hash to be computed based on
            this key. A default key is generated for each Deidentify operation
            and is used when neither `crypto_key` nor `kms_wrapped` is
            specified. Must not be set if `kms_wrapped` is set.
          type: string
          format: byte
        kmsWrapped:
          description: KMS wrapped key. Must not be set if `crypto_key` is set.
          $ref: '#/components/schemas/KmsWrappedCryptoKey'
    ListMessagesResponse:
      id: ListMessagesResponse
      description: Lists the messages in the specified HL7v2 store.
      type: object
      properties:
        hl7V2Messages:
          items:
            $ref: '#/components/schemas/Message'
          type: array
          description: >-
            The returned Messages. Won't be more Messages than the value of
            page_size in the request. See view for populated fields.
        nextPageToken:
          description: >-
            Token to retrieve the next page of results or empty if there are no
            more results in the list.
          type: string
    CheckDataAccessRequest:
      type: object
      id: CheckDataAccessRequest
      description: >-
        Checks if a particular data_id of a User data mapping in the given
        consent store is consented for a given use.
      properties:
        dataId:
          type: string
          description: >-
            Required. The unique identifier of the resource to check access for.
            This identifier must correspond to a User data mapping in the given
            consent store.
        responseView:
          enum:
            - RESPONSE_VIEW_UNSPECIFIED
            - BASIC
            - FULL
          enumDescriptions:
            - >-
              No response view specified. The API will default to the BASIC
              view.
            - >-
              Only the `consented` field is populated in
              CheckDataAccessResponse.
            - >-
              All fields within CheckDataAccessResponse are populated. When set
              to `FULL`, all `ACTIVE` Consents are evaluated even if a matching
              policy is found during evaluation.
          type: string
          description: >-
            Optional. The view for CheckDataAccessResponse. If unspecified,
            defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`.
        requestAttributes:
          additionalProperties:
            type: string
          description: >-
            The values of request attributes associated with this access
            request.
          type: object
        consentList:
          description: >-
            Optional. Specific Consents to evaluate the access request against.
            These Consents must have the same `user_id` as the evaluated User
            data mapping, must exist in the current `consent_store`, and have a
            `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 Consents can
            be provided here. If no selection is specified, the access request
            is evaluated against all `ACTIVE` unexpired Consents with the same
            `user_id` as the evaluated User data mapping.
          $ref: '#/components/schemas/ConsentList'
    KmsWrappedCryptoKey:
      type: object
      id: KmsWrappedCryptoKey
      description: >-
        Include to use an existing data crypto key wrapped by KMS. The wrapped
        key must be a 128-, 192-, or 256-bit key. The key must grant the Cloud
        IAM permission `cloudkms.cryptoKeyVersions.useToDecrypt` to the
        project's Cloud Healthcare Service Agent service account. For more
        information, see [Creating a wrapped key]
        (https://cloud.google.com/dlp/docs/create-wrapped-key).
      properties:
        cryptoKey:
          description: >-
            Required. The resource name of the KMS CryptoKey to use for
            unwrapping. For example,
            `projects/{project_id}/locations/{location_id}/keyRings/{keyring}/cryptoKeys/{key}`.
          type: string
        wrappedKey:
          type: string
          format: byte
          description: Required. The wrapped data crypto key.
    Hl7TypesConfig:
      id: Hl7TypesConfig
      type: object
      description: Root config for HL7v2 datatype definitions for a specific HL7v2 version.
      properties:
        version:
          type: array
          items:
            $ref: '#/components/schemas/VersionSource'
          description: >-
            The version selectors that this config applies to. A message must
            match ALL version sources to apply.
        type:
          description: The HL7v2 type definitions.
          type: array
          items:
            $ref: '#/components/schemas/Type'
    GoogleCloudHealthcareV1beta1FhirImportResourcesResponse:
      id: GoogleCloudHealthcareV1beta1FhirImportResourcesResponse
      description: >-
        Final response of importing resources. This structure is included in the
        response to describe the detailed outcome after the operation finishes
        successfully.
      type: object
      properties: {}
    FhirStoreMetric:
      description: >-
        Count of resources and total storage size by type for a given FHIR
        store.
      id: FhirStoreMetric
      type: object
      properties:
        structuredStorageSizeBytes:
          description: >-
            The total amount of structured storage used by FHIR resources of
            this resource type in the store.
          type: string
          format: int64
        count:
          type: string
          format: int64
          description: >-
            The total count of FHIR resources in the store of this resource
            type.
        resourceType:
          description: The FHIR resource type this metric applies to.
          type: string
    GoogleCloudHealthcareV1beta1AnnotationGcsDestination:
      id: GoogleCloudHealthcareV1beta1AnnotationGcsDestination
      properties:
        uriPrefix:
          description: >-
            The Cloud Storage destination to export to. URI for a Cloud Storage
            directory where the server writes result files, in the format
            `gs://{bucket-id}/{path/to/destination/dir}`. If there is no
            trailing slash, the service appends one when composing the object
            path. The user is responsible for creating the Cloud Storage bucket
            referenced in `uri_prefix`.
          type: string
      description: The Cloud Storage location for export.
      type: object
    Action:
      properties:
        regenUidTag:
          description: >-
            Replace UID with a new generated UID. Supported [Value
            Representation]
            (http://dicom.nema.org/medical/dicom/2018e/output/chtml/part05/sect_6.2.html#table_6.2-1):
            UI
          $ref: '#/components/schemas/RegenUidTag'
        keepTag:
          description: Keep tag unchanged.
          $ref: '#/components/schemas/KeepTag'
        queries:
          type: array
          items:
            type: string
          description: >-
            Select all tags with the listed tag IDs, names, or Value
            Representations (VRs). Examples: ID: "00100010" Keyword:
            "PatientName" VR: "PN"
        removeTag:
          $ref: '#/components/schemas/RemoveTag'
          description: Replace with empty tag.
        resetTag:
          description: Reset tag to a placeholder value.
          $ref: '#/components/schemas/ResetTag'
        deleteTag:
          description: Delete tag.
          $ref: '#/components/schemas/DeleteTag'
        cleanTextTag:
          $ref: '#/components/schemas/CleanTextTag'
          description: >-
            Inspect text and transform sensitive text. Configurable via
            TextConfig. Supported Value Representations: AE, LO, LT, PN, SH, ST,
            UC, UT, DA, DT, AS
        recurseTag:
          $ref: '#/components/schemas/RecurseTag'
          description: >-
            Recursively apply DICOM de-id to tags nested in a sequence.
            Supported [Value Representation]
            (http://dicom.nema.org/medical/dicom/2018e/output/chtml/part05/sect_6.2.html#table_6.2-1):
            SQ
        cleanImageTag:
          $ref: '#/components/schemas/ImageConfig'
          description: >-
            Inspect image and transform sensitive burnt-in text. Doesn't apply
            to elements nested in a sequence, which revert to `Keep`. Supported
            [tags](http://dicom.nema.org/medical/dicom/2018e/output/chtml/part06/chapter_6.html):
            PixelData
      id: Action
      description: Specifies a selection of tags and an `Action` to apply to each one.
      type: object
    ValidationConfig:
      description: Contains the configuration for FHIR profiles and validation.
      type: object
      id: ValidationConfig
      properties:
        disableFhirpathValidation:
          type: boolean
          description: >-
            Whether to disable FHIRPath validation for incoming resources. Set
            this to true to disable checking incoming resources for conformance
            against FHIRPath requirement defined in the FHIR specification. This
            property only affects resource types that do not have profiles
            configured for them, any rules in enabled implementation guides will
            still be enforced.
        disableReferenceTypeValidation:
          description: >-
            Whether to disable reference type validation for incoming resources.
            Set this to true to disable checking incoming resources for
            conformance against reference type requirement defined in the FHIR
            specification. This property only affects resource types that do not
            have profiles configured for them, any rules in enabled
            implementation guides will still be enforced.
          type: boolean
        disableRequiredFieldValidation:
          description: >-
            Whether to disable required fields validation for incoming
            resources. Set this to true to disable checking incoming resources
            for conformance against required fields requirement defined in the
            FHIR specification. This property only affects resource types that
            do not have profiles configured for them, any rules in enabled
            implementation guides will still be enforced.
          type: boolean
        enabledImplementationGuides:
          description: >-
            A list of ImplementationGuide URLs in this FHIR store that are used
            to configure the profiles to use for validation. For example, to use
            the US Core profiles for validation, set
            `enabled_implementation_guides` to
            `["http://hl7.org/fhir/us/core/ImplementationGuide/ig"]`. If
            `enabled_implementation_guides` is empty or omitted, then incoming
            resources are only required to conform to the base FHIR profiles.
            Otherwise, a resource must conform to at least one profile listed in
            the `global` property of one of the enabled ImplementationGuides.
            The Cloud Healthcare API does not currently enforce all of the rules
            in a StructureDefinition. The following rules are supported: -
            min/max - minValue/maxValue - maxLength - type - fixed[x] -
            pattern[x] on simple types - slicing, when using "value" as the
            discriminator type When a URL cannot be resolved (for example, in a
            type assertion), the server does not return an error.
          items:
            type: string
          type: array
        disableProfileValidation:
          description: >-
            Whether to disable profile validation for this FHIR store. Set this
            to true to disable checking incoming resources for conformance
            against StructureDefinitions in this FHIR store.
          type: boolean
    GoogleCloudHealthcareV1beta1DicomGcsDestination:
      type: object
      properties:
        mimeType:
          type: string
          description: >-
            MIME types supported by DICOM spec. Each file is written in the
            following format:
            `.../{study_id}/{series_id}/{instance_id}[/{frame_number}].{extension}`
            The frame_number component exists only for multi-frame instances.
            Supported MIME types are consistent with supported formats in
            DICOMweb:
            https://cloud.google.com/healthcare/docs/dicom#retrieve_transaction.
            Specifically, the following are supported: - application/dicom;
            transfer-syntax=1.2.840.10008.1.2.1 (uncompressed DICOM) -
            application/dicom; transfer-syntax=1.2.840.10008.1.2.4.50 (DICOM
            with embedded JPEG Baseline) - application/dicom;
            transfer-syntax=1.2.840.10008.1.2.4.90 (DICOM with embedded JPEG
            2000 Lossless Only) - application/dicom;
            transfer-syntax=1.2.840.10008.1.2.4.91 (DICOM with embedded JPEG
            2000)h - application/dicom; transfer-syntax=* (DICOM with no
            transcoding) - application/octet-stream;
            transfer-syntax=1.2.840.10008.1.2.1 (raw uncompressed PixelData) -
            application/octet-stream; transfer-syntax=* (raw PixelData in
            whatever format it was uploaded in) - image/jpeg;
            transfer-syntax=1.2.840.10008.1.2.4.50 (Consumer JPEG) - image/png
            The following extensions are used for output files: -
            application/dicom -> .dcm - image/jpeg -> .jpg - image/png -> .png -
            application/octet-stream -> no extension If unspecified, the
            instances are exported in the original DICOM format they were
            uploaded in.
        uriPrefix:
          description: >-
            The Cloud Storage destination to export to. URI for a Cloud Storage
            directory where the server writes the result files, in the format
            `gs://{bucket-id}/{path/to/destination/dir}`). If there is no
            trailing slash, the service appends one when composing the object
            path. The user is responsible for creating the Cloud Storage bucket
            referenced in `uri_prefix`.
          type: string
      id: GoogleCloudHealthcareV1beta1DicomGcsDestination
      description: >-
        The Cloud Storage location where the server writes the output and the
        export configuration.
    FhirFilter:
      description: Filter configuration.
      properties:
        resources:
          $ref: '#/components/schemas/Resources'
          description: >-
            List of resources to include in the output. If this list is empty or
            not specified, all resources are included in the output.
      type: object
      id: FhirFilter
    EvaluateAnnotationStoreResponse:
      properties: {}
      id: EvaluateAnnotationStoreResponse
      type: object
      description: >-
        Response for successful Annotation store evaluation operations. This
        structure is included in the response upon operation completion.
    GoogleCloudHealthcareV1beta1DicomStreamConfig:
      properties:
        bigqueryDestination:
          $ref: >-
            #/components/schemas/GoogleCloudHealthcareV1beta1DicomBigQueryDestination
          description: >-
            Results are appended to this table. The server creates a new table
            in the given BigQuery dataset if the specified table does not exist.
            To enable the Cloud Healthcare API to write to your BigQuery table,
            you must give the Cloud Healthcare API service account the
            bigquery.dataEditor role. The service account is:
            `service-{PROJECT_NUMBER}@gcp-sa-healthcare.iam.gserviceaccount.com`.
            The PROJECT_NUMBER identifies the project that the DICOM store
            resides in. To get the project number, go to the Cloud Console
            Dashboard. It is recommended to not have a custom schema in the
            destination table which could conflict with the schema created by
            the Cloud Healthcare API. Instance deletions are not applied to the
            destination table. The destination's table schema will be
            automatically updated in case a new instance's data is incompatible
            with the current schema. The schema should not be updated manually
            as this can cause incompatibilies that cannot be resolved
            automatically. One resolution in this case is to delete the
            incompatible table and let the server recreate one, though the newly
            created table only contains data after the table recreation.
            BigQuery imposes a 1 MB limit on streaming insert row size,
            therefore any instance that generates more than 1 MB of BigQuery
            data will not be streamed. If an instance cannot be streamed to
            BigQuery, errors will be logged to Cloud Logging (see [Viewing error
            logs in Cloud
            Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)).
      id: GoogleCloudHealthcareV1beta1DicomStreamConfig
      type: object
      description: StreamConfig specifies configuration for a streaming DICOM export.
    GroupOrSegment:
      type: object
      description: Construct representing a logical group or a segment.
      id: GroupOrSegment
      properties:
        segment:
          $ref: '#/components/schemas/SchemaSegment'
        group:
          $ref: '#/components/schemas/SchemaGroup'
    DeidentifiedStoreDestination:
      properties:
        config:
          $ref: '#/components/schemas/DeidentifyConfig'
          description: >-
            The configuration to use when de-identifying resources that are
            added to this store.
        store:
          description: >-
            The full resource name of a Cloud Healthcare FHIR store, for
            example,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.
          type: string
      id: DeidentifiedStoreDestination
      description: Contains configuration for streaming de-identified FHIR export.
      type: object
    ExportMessagesRequest:
      id: ExportMessagesRequest
      type: object
      description: Request to schedule an export.
      properties:
        startTime:
          description: >-
            The start of the range in `send_time` (MSH.7,
            https://www.hl7.org/documentcenter/public_temp_2E58C1F9-1C23-BA17-0C6126475344DA9D/wg/conf/HL7MSH.htm)
            to process. If not specified, the UNIX epoch (1970-01-01T00:00:00Z)
            is used. This value has to come before the `end_time` defined below.
            Only messages whose `send_time` lies in the range `start_time`
            (inclusive) to `end_time` (exclusive) are exported.
          format: google-datetime
          type: string
        endTime:
          format: google-datetime
          type: string
          description: >-
            The end of the range in `send_time` (MSH.7,
            https://www.hl7.org/documentcenter/public_temp_2E58C1F9-1C23-BA17-0C6126475344DA9D/wg/conf/HL7MSH.htm)
            to process. If not specified, the time when the export is scheduled
            is used. This value has to come after the `start_time` defined
            below. Only messages whose `send_time` lies in the range
            `start_time` (inclusive) to `end_time` (exclusive) are exported.
        gcsDestination:
          $ref: '#/components/schemas/GcsDestination'
          description: Export to a Cloud Storage destination.
    ExportAnnotationsRequest:
      properties:
        gcsDestination:
          $ref: >-
            #/components/schemas/GoogleCloudHealthcareV1beta1AnnotationGcsDestination
          description: >-
            The Cloud Storage destination, which requires the
            `roles/storage.objectAdmin` Cloud IAM role.
        bigqueryDestination:
          $ref: >-
            #/components/schemas/GoogleCloudHealthcareV1beta1AnnotationBigQueryDestination
          description: >-
            The BigQuery output destination, which requires two IAM roles:
            `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`.
      type: object
      id: ExportAnnotationsRequest
      description: >-
        Request to export Annotations. The export operation is not atomic. If a
        failure occurs, any annotations already exported are not removed.
    ExportDicomDataResponse:
      properties: {}
      description: >-
        Returns additional information in regards to a completed DICOM store
        export.
      type: object
      id: ExportDicomDataResponse
    BatchGetMessagesResponse:
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
          description: The returned Messages. See `MessageView` for populated fields.
      id: BatchGetMessagesResponse
      description: Gets multiple messages in a specified HL7v2 store.
      type: object
    ImportDicomDataResponse:
      properties: {}
      description: >-
        Returns additional information in regards to a completed DICOM store
        import.
      id: ImportDicomDataResponse
      type: object
    ListAttributeDefinitionsResponse:
      properties:
        attributeDefinitions:
          items:
            $ref: '#/components/schemas/AttributeDefinition'
          description: >-
            The returned Attribute definitions. The maximum number of attributes
            returned is determined by the value of page_size in the
            ListAttributeDefinitionsRequest.
          type: array
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
      id: ListAttributeDefinitionsResponse
      type: object
    ArchiveUserDataMappingRequest:
      id: ArchiveUserDataMappingRequest
      description: Archives the specified User data mapping.
      type: object
      properties: {}
    SchemaConfig:
      type: object
      description: >-
        Configuration for the FHIR BigQuery schema. Determines how the server
        generates the schema.
      id: SchemaConfig
      properties:
        lastUpdatedPartitionConfig:
          description: >-
            The configuration for exported BigQuery tables to be partitioned by
            FHIR resource's last updated time column.
          $ref: '#/components/schemas/TimePartitioning'
        schemaType:
          description: Specifies the output schema type. Schema type is required.
          enum:
            - SCHEMA_TYPE_UNSPECIFIED
            - LOSSLESS
            - ANALYTICS
            - ANALYTICS_V2
          enumDescriptions:
            - No schema type specified. This type is unsupported.
            - >-
              A data-driven schema generated from the fields present in the FHIR
              data being exported, with no additional simplification. This type
              cannot be used for streaming to BigQuery.
            - >-
              Analytics schema defined by the FHIR community. See
              https://github.com/FHIR/sql-on-fhir/blob/master/sql-on-fhir.md.
              BigQuery only allows a maximum of 10,000 columns per table. Due to
              this limitation, the server will not generate schemas for fields
              of type `Resource`, which can hold any resource type. The affected
              fields are `Parameters.parameter.resource`,
              `Bundle.entry.resource`, and `Bundle.entry.response.outcome`.
              Analytics schema does not gracefully handle extensions with one or
              more occurrences, anaytics schema also does not handle contained
              resource.
            - >-
              Analytics V2, similar to schema defined by the FHIR community,
              with added support for extensions with one or more occurrences and
              contained resources in stringified JSON. Analytics V2 uses more
              space in the destination table than Analytics V1. It is generally
              recommended to use Analytics V2 over Analytics.
          type: string
        recursiveStructureDepth:
          type: string
          description: >-
            The depth for all recursive structures in the output analytics
            schema. For example, `concept` in the CodeSystem resource is a
            recursive structure; when the depth is 2, the CodeSystem table will
            have a column called `concept.concept` but not
            `concept.concept.concept`. If not specified or set to 0, the server
            will use the default value 2. The maximum depth allowed is 5.
          format: int64
    ListAnnotationStoresResponse:
      properties:
        annotationStores:
          type: array
          description: >-
            The returned Annotation stores. Won't be more Annotation stores than
            the value of page_size in the request.
          items:
            $ref: '#/components/schemas/AnnotationStore'
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results or empty if there are no
            more results in the list.
      type: object
      description: Lists the Annotation stores in the given dataset.
      id: ListAnnotationStoresResponse
    CreateMessageRequest:
      description: Creates a new message.
      properties:
        message:
          description: HL7v2 message.
          $ref: '#/components/schemas/Message'
      id: CreateMessageRequest
      type: object
    ListConsentsResponse:
      id: ListConsentsResponse
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
        consents:
          items:
            $ref: '#/components/schemas/Consent'
          description: >-
            The returned Consents. The maximum number of Consents returned is
            determined by the value of page_size in the ListConsentsRequest.
          type: array
      type: object
    ExportDicomDataRequest:
      description: >-
        Exports data from the specified DICOM store. If a given resource, such
        as a DICOM object with the same SOPInstance UID, already exists in the
        output, it is overwritten with the version in the source dataset.
        Exported DICOM data persists when the DICOM store from which it was
        exported is deleted.
      type: object
      id: ExportDicomDataRequest
      properties:
        bigqueryDestination:
          description: >-
            The BigQuery output destination. You can only export to a BigQuery
            dataset that's in the same project as the DICOM store you're
            exporting from. The Cloud Healthcare Service Agent requires two IAM
            roles on the BigQuery location: `roles/bigquery.dataEditor` and
            `roles/bigquery.jobUser`.
          $ref: >-
            #/components/schemas/GoogleCloudHealthcareV1beta1DicomBigQueryDestination
        filterConfig:
          description: Specifies the filter configuration.
          $ref: '#/components/schemas/DicomFilterConfig'
        gcsDestination:
          $ref: '#/components/schemas/GoogleCloudHealthcareV1beta1DicomGcsDestination'
          description: >-
            The Cloud Storage output destination. The Cloud Healthcare Service
            Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on
            the Cloud Storage location.
    CloudHealthcareSource:
      type: object
      description: Cloud Healthcare API resource.
      id: CloudHealthcareSource
      properties:
        name:
          type: string
          description: Full path of a Cloud Healthcare API resource.
    QueryAccessibleDataResponse:
      type: object
      id: QueryAccessibleDataResponse
      properties:
        gcsUris:
          items:
            type: string
          type: array
          description: >-
            List of files, each of which contains a list of data_id(s) that are
            consented for a specified use in the request.
      description: >-
        Response for successful QueryAccessibleData operations. This structure
        is included in the response upon operation completion.
    FhirNotificationConfig:
      id: FhirNotificationConfig
      properties:
        sendFullResource:
          description: >-
            Whether to send full FHIR resource to this Pub/Sub topic for Create
            and Update operation. Note that setting this to true does not
            guarantee that all resources will be sent in the format of full FHIR
            resource. When a resource change is too large or during heavy
            traffic, only the resource name will be sent. Clients should always
            check the "payloadType" label from a Pub/Sub message to determine
            whether it needs to fetch the full resource as a separate operation.
          type: boolean
        sendPreviousResourceOnDelete:
          description: >-
            Whether to send full FHIR resource to this Pub/Sub topic for
            deleting FHIR resource. Note that setting this to true does not
            guarantee that all previous resources will be sent in the format of
            full FHIR resource. When a resource change is too large or during
            heavy traffic, only the resource name will be sent. Clients should
            always check the "payloadType" label from a Pub/Sub message to
            determine whether it needs to fetch the full previous resource as a
            separate operation.
          type: boolean
        pubsubTopic:
          type: string
          description: >-
            The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that
            notifications of changes are published on. Supplied by the client.
            The notification is a `PubsubMessage` with the following fields: *
            `PubsubMessage.Data` contains the resource name. *
            `PubsubMessage.MessageId` is the ID of this notification. It is
            guaranteed to be unique within the topic. *
            `PubsubMessage.PublishTime` is the time when the message was
            published. Note that notifications are only sent if the topic is
            non-empty. [Topic
            names](https://cloud.google.com/pubsub/docs/overview#names) must be
            scoped to a project. The Cloud Healthcare API service account,
            service-@gcp-sa-healthcare.iam.gserviceaccount.com, must have
            publisher permissions on the given Pub/Sub topic. Not having
            adequate permissions causes the calls that send notifications to
            fail
            (https://cloud.google.com/healthcare-api/docs/permissions-healthcare-api-gcp-products#dicom_fhir_and_hl7v2_store_cloud_pubsub_permissions).
            If a notification can't be published to Pub/Sub, errors are logged
            to Cloud Logging. For more information, see [Viewing error logs in
            Cloud
            Logging](https://cloud.google.com/healthcare-api/docs/how-tos/logging).
      description: Contains the configuration for FHIR notifications.
      type: object
    DateShiftConfig:
      type: object
      properties:
        cryptoKey:
          type: string
          description: >-
            An AES 128/192/256 bit key. The date shift is computed based on this
            key and the patient ID. If the patient ID is empty for a DICOM
            resource, the date shift is computed based on this key and the study
            instance UID. If `crypto_key` is not set, then `kms_wrapped` is used
            to calculate the date shift. If neither is set, a default key is
            generated for each de-identify operation. Must not be set if
            `kms_wrapped` is set.
          format: byte
        kmsWrapped:
          $ref: '#/components/schemas/KmsWrappedCryptoKey'
          description: >-
            KMS wrapped key. If `kms_wrapped` is not set, then `crypto_key` is
            used to calculate the date shift. If neither is set, a default key
            is generated for each de-identify operation. Must not be set if
            `crypto_key` is set.
      description: >-
        Shift a date forward or backward in time by a random amount which is
        consistent for a given patient and crypto key combination.
      id: DateShiftConfig
    EvaluateUserConsentsRequest:
      type: object
      id: EvaluateUserConsentsRequest
      description: >-
        Evaluate a user's Consents for all matching User data mappings. Note:
        User data mappings are indexed asynchronously, causing slight delays
        between the time mappings are created or updated and when they are
        included in EvaluateUserConsents results.
      properties:
        resourceAttributes:
          additionalProperties:
            type: string
          description: >-
            Optional. The values of resource attributes associated with the
            resources being requested. If no values are specified, then all
            resources are queried.
          type: object
        responseView:
          enumDescriptions:
            - >-
              No response view specified. The API will default to the BASIC
              view.
            - >-
              Only the `data_id` and `consented` fields are populated in the
              response.
            - >-
              All fields within the response are populated. When set to `FULL`,
              all `ACTIVE` Consents are evaluated even if a matching policy is
              found during evaluation.
          description: >-
            Optional. The view for EvaluateUserConsentsResponse. If unspecified,
            defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`.
          type: string
          enum:
            - RESPONSE_VIEW_UNSPECIFIED
            - BASIC
            - FULL
        consentList:
          description: >-
            Optional. Specific Consents to evaluate the access request against.
            These Consents must have the same `user_id` as the User data
            mappings being evalauted, must exist in the current `consent_store`,
            and must have a `state` of either `ACTIVE` or `DRAFT`. A maximum of
            100 Consents can be provided here. If unspecified, all `ACTIVE`
            unexpired Consents in the current `consent_store` will be evaluated.
          $ref: '#/components/schemas/ConsentList'
        pageToken:
          type: string
          description: >-
            Optional. Token to retrieve the next page of results, or empty to
            get the first page.
        requestAttributes:
          additionalProperties:
            type: string
          type: object
          description: >-
            Required. The values of request attributes associated with this
            access request.
        pageSize:
          description: >-
            Optional. Limit on the number of User data mappings to return in a
            single response. If not specified, 100 is used. May not be larger
            than 1000.
          format: int32
          type: integer
        userId:
          description: Required. User ID to evaluate consents for.
          type: string
    DeidentifyDatasetRequest:
      type: object
      properties:
        gcsConfigUri:
          type: string
          description: >-
            Cloud Storage location to read the JSON
            cloud.healthcare.deidentify.DeidentifyConfig from, overriding the
            default config. Must be of the form
            `gs://{bucket_id}/path/to/object`. The Cloud Storage location must
            grant the Cloud IAM role `roles/storage.objectViewer` to the
            project's Cloud Healthcare Service Agent service account. Only one
            of `config` and `gcs_config_uri` can be specified.
        config:
          $ref: '#/components/schemas/DeidentifyConfig'
          description: >-
            Deidentify configuration. Only one of `config` and `gcs_config_uri`
            can be specified.
        destinationDataset:
          description: >-
            The name of the dataset resource to create and write the redacted
            data to. * The destination dataset must not exist. * The destination
            dataset must be in the same location as the source dataset.
            De-identifying data across multiple locations is not supported.
          type: string
      description: Redacts identifying information from the specified dataset.
      id: DeidentifyDatasetRequest
    Image:
      description: Raw bytes representing consent artifact content.
      properties:
        rawBytes:
          type: string
          description: >-
            Consent artifact content represented as a stream of bytes. This
            field is populated when returned in GetConsentArtifact response, but
            not included in CreateConsentArtifact and ListConsentArtifact
            response.
          format: byte
        gcsUri:
          description: >-
            Input only. Points to a Cloud Storage URI containing the consent
            artifact content. The URI must be in the following format:
            `gs://{bucket_id}/{object_id}`. The Cloud Healthcare API service
            account must have the `roles/storage.objectViewer` Cloud IAM role
            for this Cloud Storage location. The consent artifact content at
            this URI is copied to a Cloud Storage location managed by the Cloud
            Healthcare API. Responses to fetching requests return the consent
            artifact content in raw_bytes.
          type: string
      id: Image
      type: object
    DicomFilterConfig:
      properties:
        resourcePathsGcsUri:
          type: string
          description: >-
            The Cloud Storage location of the filter configuration file. The
            `gcs_uri` must be in the format `gs://bucket/path/to/object`. The
            filter configuration file must contain a list of resource paths
            separated by newline characters (\n or \r\n). Each resource path
            must be in the format
            "/studies/{studyUID}[/series/{seriesUID}[/instances/{instanceUID}]]"
            The Cloud Healthcare API service account must have the
            `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage
            location.
      description: Specifies the filter configuration for DICOM resources.
      id: DicomFilterConfig
      type: object
    RemoveTag:
      description: Replace with empty tag.
      id: RemoveTag
      properties: {}
      type: object
    FieldMetadata:
      properties:
        paths:
          description: >-
            List of paths to FHIR fields to redact. Each path is a
            period-separated list where each component is either a field name or
            FHIR type name. All types begin with an upper case letter. For
            example, the resource field "Patient.Address.city", which uses a
            string type, can be matched by "Patient.Address.String". Path also
            supports partial matching. For example, "Patient.Address.city" can
            be matched by "Address.city" (Patient omitted). Partial matching and
            type matching can be combined. For example, "Patient.Address.city"
            can be matched by "Address.String". For "choice" types (those
            defined in the FHIR spec with the form: field[x]), use two separate
            components. For example, "deceasedAge.unit" is matched by
            "Deceased.Age.unit". Supported types are: AdministrativeGenderCode,
            Base64Binary, Boolean, Code, Date, DateTime, Decimal, HumanName, Id,
            Instant, Integer, LanguageCode, Markdown, Oid, PositiveInt, String,
            UnsignedInt, Uri, Uuid, Xhtml. The sub-type for HumanName(for
            example HumanName.given, HumanName.family) can be omitted.
          type: array
          items:
            type: string
        action:
          description: Deidentify action for one field.
          enumDescriptions:
            - No action specified.
            - >-
              Transform the entire field based on transformations specified in
              TextConfig. When the specified transformation cannot be applied to
              a field, RedactConfig is used. For example, a Crypto Hash
              transformation can't be applied to a FHIR Date field.
            - >-
              Inspect and transform any found PHI. When `AnnotationConfig` is
              provided, annotations of PHI will be generated, except for Date
              and Datetime.
            - Do not transform.
          type: string
          enum:
            - ACTION_UNSPECIFIED
            - TRANSFORM
            - INSPECT_AND_TRANSFORM
            - DO_NOT_TRANSFORM
      id: FieldMetadata
      description: >-
        Specifies FHIR paths to match, and how to handle de-identification of
        matching fields.
      type: object
    ConsentArtifact:
      description: Documentation of a user's consent.
      id: ConsentArtifact
      properties:
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >-
            Optional. Metadata associated with the Consent artifact. For
            example, the consent locale or user agent version.
        witnessSignature:
          $ref: '#/components/schemas/Signature'
          description: Optional. A signature from a witness.
        name:
          description: >-
            Resource name of the Consent artifact, of the form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`.
            Cannot be changed after creation.
          type: string
        userId:
          type: string
          description: Required. User's UUID provided by the client.
        userSignature:
          description: Optional. User's signature.
          $ref: '#/components/schemas/Signature'
        consentContentVersion:
          description: >-
            Optional. An string indicating the version of the consent
            information shown to the user.
          type: string
        consentContentScreenshots:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          description: >-
            Optional. Screenshots, PDFs, or other binary information documenting
            the user's consent.
        guardianSignature:
          description: Optional. A signature from a guardian.
          $ref: '#/components/schemas/Signature'
      type: object
    Expr:
      properties:
        title:
          type: string
          description: >-
            Optional. Title for the expression, i.e. a short string describing
            its purpose. This can be used e.g. in UIs which allow to enter the
            expression.
        location:
          description: >-
            Optional. String indicating the location of the expression for error
            reporting, e.g. a file name and a position in the file.
          type: string
        description:
          type: string
          description: >-
            Optional. Description of the expression. This is a longer text which
            describes the expression, e.g. when hovered over it in a UI.
        expression:
          description: >-
            Textual representation of an expression in Common Expression
            Language syntax.
          type: string
      type: object
      id: Expr
      description: >-
        Represents a textual expression in the Common Expression Language (CEL)
        syntax. CEL is a C-like expression language. The syntax and semantics of
        CEL are documented at https://github.com/google/cel-spec. Example
        (Comparison): title: "Summary size limit" description: "Determines if a
        summary is less than 100 chars" expression: "document.summary.size() <
        100" Example (Equality): title: "Requestor is owner" description:
        "Determines if requestor is the document owner" expression:
        "document.owner == request.auth.claims.email" Example (Logic): title:
        "Public documents" description: "Determine whether the document should
        be publicly visible" expression: "document.type != 'private' &&
        document.type != 'internal'" Example (Data Manipulation): title:
        "Notification string" description: "Create a notification string with a
        timestamp." expression: "'New message received at ' +
        string(document.create_time)" The exact variables and functions that may
        be referenced within an expression are determined by the service that
        evaluates it. See the service documentation for additional information.
    HttpBody:
      type: object
      properties:
        data:
          description: The HTTP request/response body as raw binary.
          type: string
          format: byte
        contentType:
          description: >-
            The HTTP Content-Type header value specifying the content type of
            the body.
          type: string
        extensions:
          description: >-
            Application specific response metadata. Must be set in the first
            response for streaming APIs.
          type: array
          items:
            type: object
            additionalProperties:
              type: any
              description: Properties of the object. Contains field @type with type URL.
      description: >-
        Message that represents an arbitrary HTTP body. It should only be used
        for payload formats that can't be represented as JSON, such as raw
        binary or an HTML page. This message can be used both in streaming and
        non-streaming API methods in the request as well as the response. It can
        be used as a top-level request field, which is convenient if one wants
        to extract parameters from either the URL or HTTP template into the
        request fields and also want access to the raw HTTP body. Example:
        message GetResourceRequest { // A unique request id. string request_id =
        1; // The raw HTTP body is bound to this field. google.api.HttpBody
        http_body = 2; } service ResourceService { rpc
        GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc
        UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); }
        Example with streaming methods: service CaldavService { rpc
        GetCalendar(stream google.api.HttpBody) returns (stream
        google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody)
        returns (stream google.api.HttpBody); } Use of this type only changes
        how the request and response bodies are handled, all other features will
        continue to work unchanged.
      id: HttpBody
    Segment:
      id: Segment
      properties:
        fields:
          additionalProperties:
            type: string
          description: >-
            A mapping from the positional location to the value. The key string
            uses zero-based indexes separated by dots to identify Fields,
            components and sub-components. A bracket notation is also used to
            identify different instances of a repeated field. Regex for key:
            (\d+)(\[\d+\])?(.\d+)?(.\d+)? Examples of (key, value) pairs: *
            (0.1, "hemoglobin") denotes that the first component of Field 0 has
            the value "hemoglobin". * (1.1.2, "CBC") denotes that the second
            sub-component of the first component of Field 1 has the value "CBC".
            * (1[0].1, "HbA1c") denotes that the first component of the first
            Instance of Field 1, which is repeated, has the value "HbA1c".
          type: object
        setId:
          description: >-
            Set ID for segments that can be in a set. This can be empty if it's
            missing or isn't applicable.
          type: string
        segmentId:
          description: >-
            A string that indicates the type of segment. For example, EVN or
            PID.
          type: string
      type: object
      description: A segment in a structured format.
    Message:
      description: >-
        A complete HL7v2 message. See [Introduction to HL7 Standards]
        (https://www.hl7.org/implement/standards/index.cfm?ref=common) for
        details on the standard.
      properties:
        sendFacility:
          type: string
          description: The hospital that this message came from. MSH-4.
        createTime:
          format: google-datetime
          type: string
          description: >-
            Output only. The datetime when the message was created. Set by the
            server.
          readOnly: true
        labels:
          additionalProperties:
            type: string
          description: >-
            User-supplied key-value pairs used to organize HL7v2 stores. Label
            keys must be between 1 and 63 characters long, have a UTF-8 encoding
            of maximum 128 bytes, and must conform to the following PCRE regular
            expression: \p{Ll}\p{Lo}{0,62} Label values are optional, must be
            between 1 and 63 characters long, have a UTF-8 encoding of maximum
            128 bytes, and must conform to the following PCRE regular
            expression: [\p{Ll}\p{Lo}\p{N}_-]{0,63} No more than 64 labels can
            be associated with a given store.
          type: object
        data:
          format: byte
          type: string
          description: Raw message bytes.
        schematizedData:
          $ref: '#/components/schemas/SchematizedData'
          description: >-
            The parsed version of the raw message data schematized according to
            this store's schemas and type definitions.
        messageType:
          description: The message type for this message. MSH-9.1.
          type: string
        name:
          type: string
          description: >-
            Resource name of the Message, of the form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/hl7V2Stores/{hl7_v2_store_id}/messages/{message_id}`.
            Assigned by the server.
        sendTime:
          description: The datetime the sending application sent this message. MSH-7.
          type: string
          format: google-datetime
        patientIds:
          items:
            $ref: '#/components/schemas/PatientId'
          type: array
          description: >-
            All patient IDs listed in the PID-2, PID-3, and PID-4 segments of
            this message.
        parsedData:
          description: Output only. The parsed version of the raw message data.
          $ref: '#/components/schemas/ParsedData'
          readOnly: true
      id: Message
      type: object
    ImportResourcesRequest:
      description: Request to import resources.
      id: ImportResourcesRequest
      type: object
      properties:
        gcsSource:
          description: >-
            Cloud Storage source data location and import configuration. The
            Cloud Healthcare Service Agent requires the
            `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage
            location. The Healthcare Service Agent Each Cloud Storage object
            should be a text file that contains the format specified in
            ContentStructure.
          $ref: '#/components/schemas/GoogleCloudHealthcareV1beta1FhirGcsSource'
        contentStructure:
          description: >-
            The content structure in the source location. If not specified, the
            server treats the input source files as BUNDLE.
          type: string
          enumDescriptions:
            - >-
              If the content structure is not specified, the default value
              `BUNDLE` is used.
            - >-
              The source file contains one or more lines of newline-delimited
              JSON (ndjson). Each line is a bundle that contains one or more
              resources.
            - >-
              The source file contains one or more lines of newline-delimited
              JSON (ndjson). Each line is a single resource.
            - >-
              The entire file is one JSON bundle. The JSON can span multiple
              lines.
            - >-
              The entire file is one JSON resource. The JSON can span multiple
              lines.
          enum:
            - CONTENT_STRUCTURE_UNSPECIFIED
            - BUNDLE
            - RESOURCE
            - BUNDLE_PRETTY
            - RESOURCE_PRETTY
    NotificationConfig:
      id: NotificationConfig
      properties:
        sendForBulkImport:
          type: boolean
          description: >-
            Indicates whether or not to send Pub/Sub notifications on bulk
            import. Only supported for DICOM imports.
        pubsubTopic:
          type: string
          description: >-
            The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that
            notifications of changes are published on. Supplied by the client.
            PubsubMessage.Data contains the resource name.
            PubsubMessage.MessageId is the ID of this message. It is guaranteed
            to be unique within the topic. PubsubMessage.PublishTime is the time
            at which the message was published. Notifications are only sent if
            the topic is non-empty. [Topic
            names](https://cloud.google.com/pubsub/docs/overview#names) must be
            scoped to a project. Cloud Healthcare API service account must have
            publisher permissions on the given Pub/Sub topic. Not having
            adequate permissions causes the calls that send notifications to
            fail. If a notification can't be published to Pub/Sub, errors are
            logged to Cloud Logging (see [Viewing error logs in Cloud
            Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)).
            If the number of errors exceeds a certain rate, some aren't
            submitted. Note that not all operations trigger notifications, see
            [Configuring Pub/Sub
            notifications](https://cloud.google.com/healthcare/docs/how-tos/pubsub)
            for specific details.
      description: Specifies where to send notifications upon changes to a data store.
      type: object
    ListFhirStoresResponse:
      id: ListFhirStoresResponse
      type: object
      description: Lists the FHIR stores in the given dataset.
      properties:
        fhirStores:
          type: array
          description: >-
            The returned FHIR stores. Won't be more FHIR stores than the value
            of page_size in the request.
          items:
            $ref: '#/components/schemas/FhirStore'
        nextPageToken:
          description: >-
            Token to retrieve the next page of results or empty if there are no
            more results in the list.
          type: string
    ConsentStore:
      id: ConsentStore
      description: Represents a consent store.
      properties:
        defaultConsentTtl:
          type: string
          description: >-
            Optional. Default time to live for Consents created in this store.
            Must be at least 24 hours. Updating this field will not affect the
            expiration time of existing consents.
          format: google-duration
        labels:
          type: object
          description: >-
            Optional. User-supplied key-value pairs used to organize consent
            stores. Label keys must be between 1 and 63 characters long, have a
            UTF-8 encoding of maximum 128 bytes, and must conform to the
            following PCRE regular expression: \p{Ll}\p{Lo}{0,62}. Label values
            must be between 1 and 63 characters long, have a UTF-8 encoding of
            maximum 128 bytes, and must conform to the following PCRE regular
            expression: [\p{Ll}\p{Lo}\p{N}_-]{0,63}. No more than 64 labels can
            be associated with a given store. For more information:
            https://cloud.google.com/healthcare/docs/how-tos/labeling-resources
          additionalProperties:
            type: string
        enableConsentCreateOnUpdate:
          type: boolean
          description: >-
            Optional. If `true`, UpdateConsent creates the Consent if it does
            not already exist. If unspecified, defaults to `false`.
        name:
          description: >-
            Resource name of the consent store, of the form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}`.
            Cannot be changed after creation.
          type: string
      type: object
    TextSpan:
      properties:
        beginOffset:
          description: The unicode codepoint index of the beginning of this span.
          type: integer
          format: int32
        content:
          description: The original text contained in this span.
          type: string
      description: A span of text in the provided document.
      type: object
      id: TextSpan
    GcsDestination:
      description: >-
        The Cloud Storage output destination. The Cloud Healthcare Service Agent
        requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud
        Storage location.
      properties:
        messageView:
          description: >-
            Specifies the parts of the Message resource to include in the
            export. If not specified, FULL is used.
          enum:
            - MESSAGE_VIEW_UNSPECIFIED
            - RAW_ONLY
            - PARSED_ONLY
            - FULL
            - SCHEMATIZED_ONLY
            - BASIC
          enumDescriptions:
            - >-
              Not specified, equivalent to FULL for getMessage, equivalent to
              BASIC for listMessages.
            - >-
              Server responses include all the message fields except
              parsed_data, and schematized_data fields.
            - >-
              Server responses include all the message fields except data and
              schematized_data fields.
            - Server responses include all the message fields.
            - >-
              Server responses include all the message fields except data and
              parsed_data fields.
            - Server responses include only the name field.
          type: string
        uriPrefix:
          description: >-
            URI of an existing Cloud Storage directory where the server writes
            result files, in the format
            `gs://{bucket-id}/{path/to/destination/dir}`. If there is no
            trailing slash, the service appends one when composing the object
            path.
          type: string
        contentStructure:
          description: The format of the exported HL7v2 message files.
          enum:
            - CONTENT_STRUCTURE_UNSPECIFIED
            - MESSAGE_JSON
          type: string
          enumDescriptions:
            - >-
              If the content structure is not specified, the default value
              `MESSAGE_JSON` will be used.
            - >-
              Messages are printed using the JSON format returned from the
              `GetMessage` API. Messages are delimited with newlines.
      id: GcsDestination
      type: object
    PatientId:
      description: A patient identifier and associated type.
      properties:
        type:
          type: string
          description: ID type. For example, MRN or NHS.
        value:
          type: string
          description: The patient's unique identifier.
      id: PatientId
      type: object
    ImportAnnotationsRequest:
      description: >-
        Request to import Annotations. The Annotations to be imported must have
        client-supplied resource names which indicate the annotation resource.
        The import operation is not atomic. If a failure occurs, any annotations
        already imported are not removed.
      type: object
      id: ImportAnnotationsRequest
      properties:
        gcsSource:
          $ref: '#/components/schemas/GoogleCloudHealthcareV1beta1AnnotationGcsSource'
    KeepTag:
      type: object
      properties: {}
      id: KeepTag
      description: Keep tag unchanged.
    IngestMessageRequest:
      properties:
        message:
          $ref: '#/components/schemas/Message'
          description: HL7v2 message to ingest.
      description: Ingests a message into the specified HL7v2 store.
      id: IngestMessageRequest
      type: object
    ConfigureSearchRequest:
      type: object
      properties:
        validateOnly:
          type: boolean
          description: >-
            If `validate_only` is set to true, the method will compile all the
            search parameters without actually setting the search config for the
            store and triggering the reindex.
        canonicalUrls:
          items:
            type: string
          description: >-
            The canonical URLs of the search parameters that are intended to be
            used for the FHIR store. See
            https://www.hl7.org/fhir/references.html#canonical for explanation
            on FHIR canonical urls
          type: array
      id: ConfigureSearchRequest
      description: Request to configure the search parameters for the specified FHIR store.
    Feature:
      description: A feature of an entity mention.
      id: Feature
      type: object
      properties:
        confidence:
          type: number
          description: >-
            The model's confidence in this feature annotation. A number between
            0 and 1.
          format: double
        value:
          type: string
          description: >-
            The value of this feature annotation. Its range depends on the type
            of the feature.
    ListConsentArtifactsResponse:
      properties:
        consentArtifacts:
          description: >-
            The returned Consent artifacts. The maximum number of artifacts
            returned is determined by the value of page_size in the
            ListConsentArtifactsRequest.
          items:
            $ref: '#/components/schemas/ConsentArtifact'
          type: array
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
      type: object
      id: ListConsentArtifactsResponse
    RedactConfig:
      description: >-
        Define how to redact sensitive values. Default behaviour is erase. For
        example, "My name is Jane." becomes "My name is ."
      type: object
      properties: {}
      id: RedactConfig
    CancelOperationRequest:
      id: CancelOperationRequest
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    TextConfig:
      id: TextConfig
      description: Configures how to transform sensitive text `InfoTypes`.
      type: object
      properties:
        additionalTransformations:
          description: >-
            Additional transformations to apply to the detected data, overriding
            `profile`.
          items:
            $ref: '#/components/schemas/InfoTypeTransformation'
          type: array
        profileType:
          type: string
          enumDescriptions:
            - Same as BASIC.
            - Empty profile which does not perform any transformations.
            - >-
              Basic profile applies: DATE -> DateShift Default ->
              ReplaceWithInfoType
          description: Base profile type for text transformation.
          enum:
            - PROFILE_TYPE_UNSPECIFIED
            - EMPTY
            - BASIC
        excludeInfoTypes:
          type: array
          description: InfoTypes to skip transforming, overriding `profile`.
          items:
            type: string
        transformations:
          description: >-
            The transformations to apply to the detected data. Deprecated. Use
            `additional_transformations` instead.
          type: array
          items:
            $ref: '#/components/schemas/InfoTypeTransformation'
    CleanTextField:
      description: >-
        Inspect text and transform sensitive text. Configure using `TextConfig`.
        Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Date,
        DateTime, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String,
        Uri, Uuid, Xhtml
      type: object
      properties: {}
      id: CleanTextField
    ImportMessagesRequest:
      description: Request to import messages.
      properties:
        gcsSource:
          $ref: '#/components/schemas/GcsSource'
          description: >-
            Cloud Storage source data location and import configuration. The
            Cloud Healthcare Service Agent requires the
            `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage
            location.
      id: ImportMessagesRequest
      type: object
    VersionSource:
      type: object
      properties:
        value:
          description: >-
            The value to match with the field. For example, "My Application
            Name" or "2.3".
          type: string
        mshField:
          type: string
          description: >-
            The field to extract from the MSH segment. For example, "3.1" or
            "18[1].1".
      id: VersionSource
      description: >-
        Describes a selector for extracting and matching an MSH field to a
        value.
    ExportMessagesResponse:
      type: object
      id: ExportMessagesResponse
      properties: {}
      description: >-
        Final response for the export operation. This structure is included in
        the response to describe the detailed outcome.
    ListAnnotationsResponse:
      type: object
      description: Lists the Annotations in the specified Annotation store.
      properties:
        annotations:
          items:
            $ref: '#/components/schemas/Annotation'
          type: array
          description: >-
            The returned Annotations. Won't be more values than the value of
            page_size in the request. See `AnnotationView` in the request for
            populated fields.
        nextPageToken:
          description: >-
            Token to retrieve the next page of results or empty if there are no
            more results in the list.
          type: string
      id: ListAnnotationsResponse
    AttributeDefinition:
      properties:
        category:
          enum:
            - CATEGORY_UNSPECIFIED
            - RESOURCE
            - REQUEST
          enumDescriptions:
            - No category specified. This option is invalid.
            - >-
              Specify this category when this attribute describes the properties
              of resources. For example, data anonymity or data type.
            - >-
              Specify this category when this attribute describes the properties
              of requests. For example, requester's role or requester's
              organization.
          type: string
          description: >-
            Required. The category of the attribute. The value of this field
            cannot be changed after creation.
        dataMappingDefaultValue:
          type: string
          description: >-
            Optional. Default value of the attribute in User data mappings. If
            no default value is specified, it defaults to an empty value. This
            field is only applicable to attributes of the category `RESOURCE`.
        consentDefaultValues:
          type: array
          description: >-
            Optional. Default values of the attribute in Consents. If no default
            values are specified, it defaults to an empty value.
          items:
            type: string
        name:
          type: string
          description: >-
            Resource name of the Attribute definition, of the form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/attributeDefinitions/{attribute_definition_id}`.
            Cannot be changed after creation.
        allowedValues:
          type: array
          description: >-
            Required. Possible values for the attribute. The number of allowed
            values must not exceed 500. An empty list is invalid. The list can
            only be expanded after creation.
          items:
            type: string
        description:
          type: string
          description: Optional. A description of the attribute.
      type: object
      id: AttributeDefinition
      description: A client-defined consent attribute.
    AnnotationConfig:
      type: object
      id: AnnotationConfig
      properties:
        annotationStoreName:
          type: string
          description: >-
            The name of the annotation store, in the form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/annotationStores/{annotation_store_id}`).
            * The destination annotation store must be in the same project as
            the source data. De-identifying data across multiple projects is not
            supported. * The destination annotation store must exist when using
            DeidentifyDicomStore or DeidentifyFhirStore. DeidentifyDataset
            automatically creates the destination annotation store.
        storeQuote:
          type: boolean
          description: >-
            If set to true, the sensitive texts are included in
            SensitiveTextAnnotation of Annotation.
      description: Specifies how to store annotations during de-identification operation.
    ImageConfig:
      id: ImageConfig
      properties:
        excludeInfoTypes:
          items:
            type: string
          description: >-
            InfoTypes to skip redacting, overriding those used by
            `text_redaction_mode`. Can only be used when `text_redaction_mode`
            is set to `REDACT_SENSITIVE_TEXT` or
            `REDACT_SENSITIVE_TEXT_CLEAN_DESCRIPTORS`.
          type: array
        textRedactionMode:
          enum:
            - TEXT_REDACTION_MODE_UNSPECIFIED
            - REDACT_ALL_TEXT
            - REDACT_SENSITIVE_TEXT
            - REDACT_NO_TEXT
            - REDACT_SENSITIVE_TEXT_CLEAN_DESCRIPTORS
          description: Determines how to redact text from image.
          type: string
          enumDescriptions:
            - No text redaction specified. Same as REDACT_NO_TEXT.
            - Redact all text.
            - >-
              Redact sensitive text. Uses the set of [Default DICOM
              InfoTypes](https://cloud.google.com/healthcare-api/docs/how-tos/dicom-deidentify#default_dicom_infotypes).
            - Do not redact text.
            - >-
              This mode is like `REDACT_SENSITIVE_TEXT` with the addition of the
              [Clean Descriptors Option]
              (https://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/sect_E.3.5.html)
              enabled: When cleaning text, the process attempts to transform
              phrases matching any of the tags marked for removal (action codes
              D, Z, X, and U) in the [Basic Profile]
              (https://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/chapter_E.html).
              These contextual phrases are replaced with the token "[CTX]". This
              mode uses an additional InfoType during inspection.
        additionalInfoTypes:
          type: array
          items:
            type: string
          description: >-
            Additional InfoTypes to redact in the images in addition to those
            used by `text_redaction_mode`. Can only be used when
            `text_redaction_mode` is set to `REDACT_SENSITIVE_TEXT`,
            `REDACT_SENSITIVE_TEXT_CLEAN_DESCRIPTORS` or
            `TEXT_REDACTION_MODE_UNSPECIFIED`.
      type: object
      description: Specifies how to handle de-identification of image pixels.
    Finding:
      properties:
        end:
          description: Zero-based ending index of the found text, exclusively.
          format: int64
          type: string
        infoType:
          description: >-
            The type of information stored in this text range. For example,
            HumanName, BirthDate, or Address.
          type: string
        quote:
          type: string
          description: >-
            The snippet of the sensitive text. This field is only populated
            during deidentification if `store_quote` is set to true in
            DeidentifyConfig.
        start:
          type: string
          description: Zero-based starting index of the found text, inclusively.
          format: int64
      type: object
      id: Finding
    ImportAnnotationsResponse:
      type: object
      properties: {}
      description: >-
        Final response of importing Annotations in successful case. This
        structure is included in the response. It is only included when the
        operation finishes.
      id: ImportAnnotationsResponse
    ArchiveUserDataMappingResponse:
      type: object
      id: ArchiveUserDataMappingResponse
      description: Archives the specified User data mapping.
      properties: {}
    Signature:
      id: Signature
      description: User signature.
      type: object
      properties:
        image:
          description: Optional. An image of the user's signature.
          $ref: '#/components/schemas/Image'
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >-
            Optional. Metadata associated with the user's signature. For
            example, the user's name or the user's title.
        signatureTime:
          format: google-datetime
          description: Optional. Timestamp of the signature.
          type: string
        userId:
          type: string
          description: Required. User's UUID provided by the client.
    ListConsentRevisionsResponse:
      type: object
      id: ListConsentRevisionsResponse
      properties:
        consents:
          items:
            $ref: '#/components/schemas/Consent'
          description: >-
            The returned Consent revisions. The maximum number of revisions
            returned is determined by the value of `page_size` in the
            ListConsentRevisionsRequest.
          type: array
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
    SensitiveTextAnnotation:
      id: SensitiveTextAnnotation
      type: object
      description: >-
        A TextAnnotation specifies a text range that includes sensitive
        information.
      properties:
        details:
          description: >-
            Maps from a resource slice. For example, FHIR resource field path to
            a set of sensitive text findings. For example, Appointment.Narrative
            text1 --> {findings_1, findings_2, findings_3}
          additionalProperties:
            $ref: '#/components/schemas/Detail'
          type: object
    ResourceAnnotation:
      properties:
        label:
          description: A description of the annotation record.
          type: string
      type: object
      id: ResourceAnnotation
      description: Resource level annotation.
    DicomStore:
      properties:
        name:
          description: >-
            Resource name of the DICOM store, of the form
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`.
          type: string
        labels:
          description: >-
            User-supplied key-value pairs used to organize DICOM stores. Label
            keys must be between 1 and 63 characters long, have a UTF-8 encoding
            of maximum 128 bytes, and must conform to the following PCRE regular
            expression: \p{Ll}\p{Lo}{0,62} Label values are optional, must be
[...]
