openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Document AI API
  description: >-
    Service to parse structured information from unstructured or semi-structured
    documents using state-of-the-art Google AI such as natural language,
    computer vision, translation, and AutoML.
  version: v1beta3
  x-discovery-doc-revision: '20230619'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/document-ai/docs/
servers:
  - url: https://documentai.googleapis.com
components:
  schemas:
    GoogleCloudDocumentaiV1beta2DocumentRevision:
      id: GoogleCloudDocumentaiV1beta2DocumentRevision
      properties:
        id:
          description: >-
            Id of the revision, internally generated by doc proto storage.
            Unique within the context of the document.
          type: string
        parentIds:
          items:
            type: string
          description: >-
            The revisions that this revision is based on. Must include all the
            ids that have anything to do with this revision - eg. there are
            `provenance.parent.revision` fields that index into this field.
          type: array
        createTime:
          description: >-
            The time that the revision was created, internally generated by doc
            proto storage at the time of create.
          format: google-datetime
          type: string
        parent:
          description: >-
            The revisions that this revision is based on. This can include one
            or more parent (when documents are merged.) This field represents
            the index into the `revisions` field.
          type: array
          items:
            type: integer
            format: int32
        agent:
          type: string
          description: >-
            If the change was made by a person specify the name or id of that
            person.
        processor:
          type: string
          description: >-
            If the annotation was made by processor identify the processor by
            its resource name.
        humanReview:
          description: Human Review information of this revision.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview
      type: object
      description: Contains past or forward revisions of this document.
    GoogleCloudDocumentaiV1beta2DocumentPageDimension:
      id: GoogleCloudDocumentaiV1beta2DocumentPageDimension
      description: Dimension for the page.
      properties:
        height:
          description: Page height.
          format: float
          type: number
        width:
          description: Page width.
          type: number
          format: float
        unit:
          description: Dimension unit.
          type: string
      type: object
    GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata:
      id: GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata
      type: object
      properties:
        destDatasetType:
          enumDescriptions:
            - >-
              Default value if the enum is not set.
              go/protodosdonts#do-include-an-unspecified-value-in-an-enum
            - Identifies the train documents.
            - Identifies the test documents.
            - Identifies the unassigned documents.
          enum:
            - DATASET_SPLIT_TYPE_UNSPECIFIED
            - DATASET_SPLIT_TRAIN
            - DATASET_SPLIT_TEST
            - DATASET_SPLIT_UNASSIGNED
          description: The destination dataset split type.
          type: string
        commonMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
          description: The basic metadata of the long running operation.
        destSplitType:
          description: The destination dataset split type.
          type: string
          enumDescriptions:
            - >-
              Default value if the enum is not set.
              go/protodosdonts#do-include-an-unspecified-value-in-an-enum
            - Identifies the train documents.
            - Identifies the test documents.
            - Identifies the unassigned documents.
          enum:
            - DATASET_SPLIT_TYPE_UNSPECIFIED
            - DATASET_SPLIT_TRAIN
            - DATASET_SPLIT_TEST
            - DATASET_SPLIT_UNASSIGNED
        individualBatchMoveStatuses:
          description: The list of response details of each document.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus
          type: array
    GoogleCloudDocumentaiV1beta3EvaluationMetrics:
      properties:
        precision:
          type: number
          format: float
          description: The calculated precision.
        truePositivesCount:
          type: integer
          format: int32
          description: The amount of true positives.
        groundTruthDocumentCount:
          type: integer
          description: The amount of documents with a ground truth occurrence.
          format: int32
        falseNegativesCount:
          format: int32
          type: integer
          description: The amount of false negatives.
        groundTruthOccurrencesCount:
          type: integer
          format: int32
          description: The amount of occurrences in ground truth documents.
        recall:
          type: number
          format: float
          description: The calculated recall.
        predictedOccurrencesCount:
          type: integer
          description: The amount of occurrences in predicted documents.
          format: int32
        predictedDocumentCount:
          type: integer
          format: int32
          description: The amount of documents with a predicted occurrence.
        f1Score:
          description: The calculated f1 score.
          format: float
          type: number
        falsePositivesCount:
          format: int32
          description: The amount of false positives.
          type: integer
        totalDocumentsCount:
          type: integer
          description: The amount of documents that had an occurrence of this label.
          format: int32
      description: Evaluation metrics, either in aggregate or about a specific entity.
      id: GoogleCloudDocumentaiV1beta3EvaluationMetrics
      type: object
    GoogleTypeColor:
      type: object
      id: GoogleTypeColor
      description: >-
        Represents a color in the RGBA color space. This representation is
        designed for simplicity of conversion to and from color representations
        in various languages over compactness. For example, the fields of this
        representation can be trivially provided to the constructor of
        `java.awt.Color` in Java; it can also be trivially provided to UIColor's
        `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little
        work, it can be easily formatted into a CSS `rgba()` string in
        JavaScript. This reference page doesn't have information about the
        absolute color space that should be used to interpret the RGB value—for
        example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications
        should assume the sRGB color space. When color equality needs to be
        decided, implementations, unless documented otherwise, treat two colors
        as equal if all their red, green, blue, and alpha values each differ by
        at most `1e-5`. Example (Java): import com.google.type.Color; // ...
        public static java.awt.Color fromProto(Color protocolor) { float alpha =
        protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return
        new java.awt.Color( protocolor.getRed(), protocolor.getGreen(),
        protocolor.getBlue(), alpha); } public static Color
        toProto(java.awt.Color color) { float red = (float) color.getRed();
        float green = (float) color.getGreen(); float blue = (float)
        color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder
        = Color .newBuilder() .setRed(red / denominator) .setGreen(green /
        denominator) .setBlue(blue / denominator); int alpha = color.getAlpha();
        if (alpha != 255) { result.setAlpha( FloatValue .newBuilder()
        .setValue(((float) alpha) / denominator) .build()); } return
        resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static
        UIColor* fromProto(Color* protocolor) { float red = [protocolor red];
        float green = [protocolor green]; float blue = [protocolor blue];
        FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if
        (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return
        [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static
        Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if
        (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return
        nil; } Color* result = [[Color alloc] init]; [result setRed:red];
        [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) {
        [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease];
        return result; } // ... Example (JavaScript): // ... var protoToCssColor
        = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var
        greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue ||
        0.0; var red = Math.floor(redFrac * 255); var green =
        Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if
        (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); }
        var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red,
        green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac,
        ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var
        rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString
        = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var
        resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) {
        resultBuilder.push('0'); } resultBuilder.push(hexString); return
        resultBuilder.join(''); }; // ...
      properties:
        green:
          description: The amount of green in the color as a value in the interval [0, 1].
          format: float
          type: number
        blue:
          description: The amount of blue in the color as a value in the interval [0, 1].
          format: float
          type: number
        alpha:
          description: >-
            The fraction of this color that should be applied to the pixel. That
            is, the final pixel color is defined by the equation: `pixel color =
            alpha * (this color) + (1.0 - alpha) * (background color)` This
            means that a value of 1.0 corresponds to a solid color, whereas a
            value of 0.0 corresponds to a completely transparent color. This
            uses a wrapper message rather than a simple float scalar so that it
            is possible to distinguish between a default value and the value
            being unset. If omitted, this color object is rendered as a solid
            color (as if the alpha value had been explicitly given a value of
            1.0).
          format: float
          type: number
        red:
          format: float
          description: The amount of red in the color as a value in the interval [0, 1].
          type: number
    GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata:
      description: The long-running operation metadata for UpdateLabelerPool.
      type: object
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      id: GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata
    GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata:
      type: object
      id: GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata
      description: Metadata of the EvaluateProcessorVersion method.
      properties:
        commonMetadata:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1CommonOperationMetadata'
          description: The basic metadata of the long-running operation.
    GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow:
      type: object
      id: GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow
      description: A row of table cells.
      properties:
        cells:
          type: array
          description: Cells that make up this row.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell
    GoogleCloudDocumentaiV1beta3ReviewDocumentRequest:
      type: object
      properties:
        enableSchemaValidation:
          description: >-
            Whether the validation should be performed on the ad-hoc review
            request.
          type: boolean
        documentSchema:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentSchema'
          description: The document schema of the human review task.
        document:
          description: The document that needs human review.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3Document'
        priority:
          description: The priority of the human review task.
          enumDescriptions:
            - The default priority level.
            - >-
              The urgent priority level. The labeling manager should allocate
              labeler resource to the urgent task queue to respect this priority
              level.
          type: string
          enum:
            - DEFAULT
            - URGENT
        inlineDocument:
          description: An inline document proto.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3Document'
      description: Request message for the ReviewDocument method.
      id: GoogleCloudDocumentaiV1beta3ReviewDocumentRequest
    GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata:
      description: >-
        The long-running operation metadata for the DeployProcessorVersion
        method.
      id: GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      type: object
    GoogleCloudDocumentaiV1beta2DocumentPageParagraph:
      description: A collection of lines that a human would perceive as a paragraph.
      id: GoogleCloudDocumentaiV1beta2DocumentPageParagraph
      type: object
      properties:
        provenance:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentProvenance'
          description: The history of this annotation.
        layout:
          description: Layout for Paragraph.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLayout'
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
          description: A list of detected languages together with confidence.
          type: array
    GoogleCloudDocumentaiV1beta1DocumentPageBlock:
      type: object
      properties:
        layout:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageLayout'
          description: Layout for Block.
        provenance:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentProvenance'
          description: The history of this annotation.
        detectedLanguages:
          description: A list of detected languages together with confidence.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage
      description: >-
        A block has a set of lines (collected into paragraphs) that have a
        common line-spacing and orientation.
      id: GoogleCloudDocumentaiV1beta1DocumentPageBlock
    GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse:
      type: object
      properties: {}
      description: Response message for the SetDefaultProcessorVersion method.
      id: GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse
    GoogleCloudDocumentaiV1DisableProcessorResponse:
      properties: {}
      description: >-
        Response message for the DisableProcessor method. Intentionally empty
        proto for adding fields in future.
      type: object
      id: GoogleCloudDocumentaiV1DisableProcessorResponse
    GoogleCloudDocumentaiV1beta3DocumentSchema:
      type: object
      description: The schema defines the output of the processed document by a processor.
      id: GoogleCloudDocumentaiV1beta3DocumentSchema
      properties:
        description:
          type: string
          description: Description of the schema.
        displayName:
          description: Display name to show to users.
          type: string
        entityTypes:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType
          type: array
          description: Entity types of the schema.
        metadata:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata
          description: Metadata of the schema.
    GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse:
      type: object
      properties:
        evaluation:
          type: string
          description: The resource name of the created evaluation.
      id: GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse
      description: Response of the EvaluateProcessorVersion method.
    GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfigShardingConfig:
      type: object
      description: The sharding config for the output document.
      id: >-
        GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfigShardingConfig
      properties:
        pagesOverlap:
          type: integer
          description: The number of overlapping pages between consecutive shards.
          format: int32
        pagesPerShard:
          description: The number of pages per shard.
          format: int32
          type: integer
    GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig:
      description: The output configuration in the BatchProcessDocuments method.
      id: GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig
      properties:
        gcsDestination:
          type: string
          description: The output Cloud Storage directory to put the processed documents.
      type: object
    GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata:
      type: object
      id: GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata
      description: >-
        The long-running operation metadata for the SetDefaultProcessorVersion
        method.
      properties:
        commonMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
          description: The basic metadata of the long-running operation.
    GoogleCloudDocumentaiV1beta2GcsDestination:
      description: >-
        The Google Cloud Storage location where the output file will be written
        to.
      id: GoogleCloudDocumentaiV1beta2GcsDestination
      type: object
      properties:
        uri:
          type: string
    GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus:
      id: GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus
      description: The status of a each individual document in the batch process.
      type: object
      properties:
        outputGcsDestination:
          description: >-
            The Cloud Storage output destination (in the request as
            DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed
            document if it was successful, otherwise empty.
          type: string
        humanReviewOperation:
          type: string
          description: >-
            The name of the operation triggered by the processed document. If
            the human review process isn't triggered, this field will be empty.
            It has the same response type and metadata as the long-running
            operation returned by the ReviewDocument method.
        status:
          description: The status processing the document.
          $ref: '#/components/schemas/GoogleRpcStatus'
        inputGcsSource:
          type: string
          description: >-
            The source of the document, same as the input_gcs_source field in
            the request when the batch process started.
        humanReviewStatus:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3HumanReviewStatus'
          description: The status of human review on the processed document.
    GoogleCloudDocumentaiV1beta3DocumentOutputConfig:
      type: object
      id: GoogleCloudDocumentaiV1beta3DocumentOutputConfig
      properties:
        gcsOutputConfig:
          description: Output config to write the results to Cloud Storage.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig
      description: >-
        Config that controls the output of documents. All documents will be
        written as a JSON file.
    GoogleCloudDocumentaiV1beta2DocumentPage:
      description: A page in a Document.
      type: object
      id: GoogleCloudDocumentaiV1beta2DocumentPage
      properties:
        blocks:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageBlock'
          type: array
          description: >-
            A list of visually detected text blocks on the page. A block has a
            set of lines (collected into paragraphs) that have a common
            line-spacing and orientation.
        imageQualityScores:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores
          description: Image quality scores.
        formFields:
          description: A list of visually detected form fields on the page.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageFormField
        pageNumber:
          description: >-
            1-based index for current Page in a parent Document. Useful when a
            page is taken out of a Document for individual processing.
          format: int32
          type: integer
        lines:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLine'
          type: array
          description: >-
            A list of visually detected text lines on the page. A collection of
            tokens that a human would perceive as a line.
        visualElements:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageVisualElement
          type: array
          description: >-
            A list of detected non-text visual elements e.g. checkbox, signature
            etc. on the page.
        tokens:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageToken'
          description: A list of visually detected tokens on the page.
          type: array
        paragraphs:
          description: >-
            A list of visually detected text paragraphs on the page. A
            collection of lines that a human would perceive as a paragraph.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageParagraph
          type: array
        layout:
          description: Layout for the page.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLayout'
        transforms:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageMatrix
          description: >-
            Transformation matrices that were applied to the original document
            image to produce Page.image.
        tables:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageTable'
          type: array
          description: A list of visually detected tables on the page.
        provenance:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentProvenance'
          description: The history of this page.
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
          type: array
          description: A list of detected languages together with confidence.
        image:
          description: >-
            Rendered image for this page. This image is preprocessed to remove
            any skew, rotation, and distortions such that the annotation
            bounding boxes can be upright and axis-aligned.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageImage'
        detectedBarcodes:
          description: A list of detected barcodes.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode
          type: array
        symbols:
          type: array
          description: A list of visually detected symbols on the page.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageSymbol
        dimension:
          description: Physical dimension of the page.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDimension
    GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview:
      id: GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview
      type: object
      properties:
        stateMessage:
          description: >-
            A message providing more details about the current state of
            processing. For example, the rejection reason when the state is
            `rejected`.
          type: string
        state:
          description: Human review state. e.g. `requested`, `succeeded`, `rejected`.
          type: string
      description: Human Review information of the document.
    GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata:
      id: GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata
      description: >-
        The long-running operation metadata for the DeleteProcessorVersion
        method.
      properties:
        commonMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3CommonOperationMetadata
          description: The basic metadata of the long-running operation.
      type: object
    GoogleCloudDocumentaiV1beta2Barcode:
      properties:
        valueFormat:
          description: >-
            Value format describes the format of the value that a barcode
            encodes. The supported formats are: - `CONTACT_INFO`: Contact
            information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. -
            `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. -
            `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi
            information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar
            event. - `DRIVER_LICENSE`: Driver's license.
          type: string
        format:
          type: string
          description: >-
            Format of a barcode. The supported formats are: - `CODE_128`: Code
            128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. -
            `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. -
            `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. -
            `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E
            type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. -
            `DATABAR`: GS1 DataBar code type.
        rawValue:
          type: string
          description: >-
            Raw value encoded in the barcode. For example:
            `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`.
      id: GoogleCloudDocumentaiV1beta2Barcode
      description: Encodes the detailed information of a barcode.
      type: object
    GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType:
      description: >-
        EntityType is the wrapper of a label of the corresponding model with
        detailed attributes and limitations for entity-based processors.
        Multiple types can also compose a dependency tree to represent nested
        types.
      type: object
      id: GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType
      properties:
        name:
          type: string
          description: >-
            Name of the type. It must be unique within the schema file and
            cannot be a "Common Type". The following naming conventions are
            used: - Use `snake_casing`. - Name matching is case-sensitive. -
            Maximum 64 characters. - Must start with a letter. - Allowed
            characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility
            internal infrastructure and tooling can handle any ascii character.)
            - The `/` is sometimes used to denote a property of a type. For
            example `line_item/amount`. This convention is deprecated, but will
            still be honored for backward compatibility.
        properties:
          type: array
          description: Description the nested structure, or composition of an entity.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeProperty
        entityTypeMetadata:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3EntityTypeMetadata'
          description: Metadata for the entity type.
        displayName:
          type: string
          description: User defined name for the type.
        enumValues:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues
          description: >-
            If specified, lists all the possible values for this entity. This
            should not be more than a handful of values. If the number of values
            is >10 or could change frequently use the
            `EntityType.value_ontology` field and specify a list of all possible
            values in a value ontology file.
        baseTypes:
          items:
            type: string
          description: >-
            The entity type that this type is derived from. For now, one and
            only one should be set.
          type: array
    GoogleCloudDocumentaiV1beta2OperationMetadata:
      type: object
      id: GoogleCloudDocumentaiV1beta2OperationMetadata
      properties:
        createTime:
          format: google-datetime
          type: string
          description: The creation time of the operation.
        updateTime:
          description: The last update time of the operation.
          format: google-datetime
          type: string
        stateMessage:
          description: >-
            A message providing more details about the current state of
            processing.
          type: string
        state:
          type: string
          enumDescriptions:
            - The default value. This value is used if the state is omitted.
            - Request is received.
            - Request operation is waiting for scheduling.
            - Request is being processed.
            - The batch processing completed successfully.
            - The batch processing was cancelled.
            - The batch processing has failed.
          description: The state of the current batch processing.
          enum:
            - STATE_UNSPECIFIED
            - ACCEPTED
            - WAITING
            - RUNNING
            - SUCCEEDED
            - CANCELLED
            - FAILED
      description: Contains metadata for the BatchProcessDocuments operation.
    GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse:
      id: GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse
      type: object
      description: Response of the EvaluateProcessorVersion method.
      properties:
        evaluation:
          type: string
          description: The resource name of the created evaluation.
    GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef:
      type: object
      properties:
        page:
          description: >-
            Required. Index into the Document.pages element, for example using
            `Document.pages` to locate the related page element. This field is
            skipped when its value is the default `0`. See
            https://developers.google.com/protocol-buffers/docs/proto3#json.
          type: string
          format: int64
        layoutId:
          type: string
          description: Optional. Deprecated. Use PageRef.bounding_poly instead.
        layoutType:
          type: string
          description: >-
            Optional. The type of the layout element that is being referenced if
            any.
          enumDescriptions:
            - Layout Unspecified.
            - References a Page.blocks element.
            - References a Page.paragraphs element.
            - References a Page.lines element.
            - References a Page.tokens element.
            - References a Page.visual_elements element.
            - Refrrences a Page.tables element.
            - References a Page.form_fields element.
          enum:
            - LAYOUT_TYPE_UNSPECIFIED
            - BLOCK
            - PARAGRAPH
            - LINE
            - TOKEN
            - VISUAL_ELEMENT
            - TABLE
            - FORM_FIELD
        confidence:
          type: number
          format: float
          description: >-
            Optional. Confidence of detected page element, if applicable. Range
            `[0, 1]`.
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3BoundingPoly'
          description: >-
            Optional. Identifies the bounding polygon of a layout element on the
            page.
      id: GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef
      description: Represents a weak reference to a page element within a document.
    GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse:
      description: Response message for the SetDefaultProcessorVersion method.
      id: GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse
      properties: {}
      type: object
    GoogleCloudDocumentaiV1beta2DocumentProvenance:
      description: >-
        Structure to identify provenance relationships between annotations in
        different revisions.
      type: object
      properties:
        type:
          enum:
            - OPERATION_TYPE_UNSPECIFIED
            - ADD
            - REMOVE
            - UPDATE
            - REPLACE
            - EVAL_REQUESTED
            - EVAL_APPROVED
            - EVAL_SKIPPED
          enumDescriptions:
            - >-
              Operation type unspecified. If no operation is specified a
              provenance entry is simply used to match against a `parent`.
            - Add an element.
            - Remove an element identified by `parent`.
            - >-
              Updates any fields within the given provenance scope of the
              message. It overwrites the fields rather than replacing them. Use
              this when you want to update a field value of an entity without
              also updating all the child properties.
            - Currently unused. Replace an element identified by `parent`.
            - >-
              Deprecated. Request human review for the element identified by
              `parent`.
            - >-
              Deprecated. Element is reviewed and approved at human review,
              confidence will be set to 1.0.
            - Deprecated. Element is skipped in the validation process.
          type: string
          description: The type of provenance operation.
        parents:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentProvenanceParent
          description: References to the original elements that are replaced.
        revision:
          format: int32
          type: integer
          description: The index of the revision that produced this element.
        id:
          format: int32
          description: >-
            The Id of this operation. Needs to be unique within the scope of the
            revision.
          type: integer
      id: GoogleCloudDocumentaiV1beta2DocumentProvenance
    GoogleCloudDocumentaiV1beta3ProcessorType:
      id: GoogleCloudDocumentaiV1beta3ProcessorType
      type: object
      description: >-
        A processor type is responsible for performing a certain document
        understanding task on a certain type of document.
      properties:
        type:
          type: string
          description: 'The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`.'
        name:
          type: string
          description: >-
            The resource name of the processor type. Format:
            `projects/{project}/processorTypes/{processor_type}`
        sampleDocumentUris:
          items:
            type: string
          description: A set of Cloud Storage URIs of sample documents for this processor.
          type: array
        launchStage:
          type: string
          enumDescriptions:
            - Do not use this default value.
            - The feature is not yet implemented. Users can not use it.
            - >-
              Prelaunch features are hidden from users and are only visible
              internally.
            - >-
              Early Access features are limited to a closed group of testers. To
              use these features, you must sign up in advance and sign a Trusted
              Tester agreement (which includes confidentiality provisions).
              These features may be unstable, changed in backward-incompatible
              ways, and are not guaranteed to be released.
            - >-
              Alpha is a limited availability test for releases before they are
              cleared for widespread use. By Alpha, all significant design
              issues are resolved and we are in the process of verifying
              functionality. Alpha customers need to apply for access, agree to
              applicable terms, and have their projects allowlisted. Alpha
              releases don't have to be feature complete, no SLAs are provided,
              and there are no technical support obligations, but they will be
              far enough along that customers can actually use them in test
              environments or for limited-use tests -- just like they would in
              normal production cases.
            - >-
              Beta is the point at which we are ready to open a release for any
              customer to use. There are no SLA or technical support obligations
              in a Beta release. Products will be complete from a feature
              perspective, but may have some open outstanding issues. Beta
              releases are suitable for limited production use cases.
            - >-
              GA features are open to all developers and are considered stable
              and fully qualified for production use.
            - >-
              Deprecated features are scheduled to be shut down and removed. For
              more information, see the "Deprecation Policy" section of our
              [Terms of Service](https://cloud.google.com/terms/) and the
              [Google Cloud Platform Subject to the Deprecation
              Policy](https://cloud.google.com/terms/deprecation) documentation.
          description: Launch stage of the processor type
          enum:
            - LAUNCH_STAGE_UNSPECIFIED
            - UNIMPLEMENTED
            - PRELAUNCH
            - EARLY_ACCESS
            - ALPHA
            - BETA
            - GA
            - DEPRECATED
        category:
          description: The processor category, used by UI to group processor types.
          type: string
        availableLocations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3ProcessorTypeLocationInfo
          type: array
          description: The locations in which this processor is available.
        allowCreation:
          description: >-
            Whether the processor type allows creation. If true, users can
            create a processor of this processor type. Otherwise, users need to
            request access.
          type: boolean
    GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest:
      id: GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest
      properties: {}
      description: Request message for the DeployProcessorVersion method.
      type: object
    GoogleCloudDocumentaiV1beta3DocumentRevision:
      properties:
        humanReview:
          description: Human Review information of this revision.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentRevisionHumanReview
        agent:
          description: >-
            If the change was made by a person specify the name or id of that
            person.
          type: string
        processor:
          description: >-
            If the annotation was made by processor identify the processor by
            its resource name.
          type: string
        createTime:
          description: >-
            The time that the revision was created, internally generated by doc
            proto storage at the time of create.
          type: string
          format: google-datetime
        parentIds:
          items:
            type: string
          type: array
          description: >-
            The revisions that this revision is based on. Must include all the
            ids that have anything to do with this revision - eg. there are
            `provenance.parent.revision` fields that index into this field.
        id:
          type: string
          description: >-
            Id of the revision, internally generated by doc proto storage.
            Unique within the context of the document.
        parent:
          type: array
          description: >-
            The revisions that this revision is based on. This can include one
            or more parent (when documents are merged.) This field represents
            the index into the `revisions` field.
          items:
            format: int32
            type: integer
      description: Contains past or forward revisions of this document.
      id: GoogleCloudDocumentaiV1beta3DocumentRevision
      type: object
    GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId:
      description: >-
        Identifies a document uniquely within the scope of a dataset in
        unmanaged option.
      properties:
        docId:
          description: Required. The id of the document.
          type: string
      id: GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId
      type: object
    GoogleCloudDocumentaiV1BatchProcessMetadata:
      id: GoogleCloudDocumentaiV1BatchProcessMetadata
      properties:
        state:
          enumDescriptions:
            - The default value. This value is used if the state is omitted.
            - Request operation is waiting for scheduling.
            - Request is being processed.
            - The batch processing completed successfully.
            - The batch processing was being cancelled.
            - The batch processing was cancelled.
            - The batch processing has failed.
          description: The state of the current batch processing.
          enum:
            - STATE_UNSPECIFIED
            - WAITING
            - RUNNING
            - SUCCEEDED
            - CANCELLING
            - CANCELLED
            - FAILED
          type: string
        updateTime:
          description: The last update time of the operation.
          type: string
          format: google-datetime
        stateMessage:
          description: >-
            A message providing more details about the current state of
            processing. For example, the error message if the operation is
            failed.
          type: string
        createTime:
          description: The creation time of the operation.
          format: google-datetime
          type: string
        individualProcessStatuses:
          description: The list of response details of each document.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus
      type: object
      description: The long-running operation metadata for BatchProcessDocuments.
    GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage:
      properties:
        languageCode:
          description: >-
            The [BCP-47 language
            code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier),
            such as `en-US` or `sr-Latn`.
          type: string
        confidence:
          format: float
          description: Confidence of detected language. Range `[0, 1]`.
          type: number
      type: object
      id: GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
      description: Detected language for a structural component.
    GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse:
      type: object
      description: The response for TrainProcessorVersion.
      properties:
        processorVersion:
          type: string
          description: The resource name of the processor version produced by training.
      id: GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse
    GoogleCloudDocumentaiV1TrainProcessorVersionResponse:
      id: GoogleCloudDocumentaiV1TrainProcessorVersionResponse
      properties:
        processorVersion:
          description: The resource name of the processor version produced by training.
          type: string
      description: The response for TrainProcessorVersion.
      type: object
    GoogleCloudDocumentaiV1beta2BatchProcessDocumentsResponse:
      properties:
        responses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2ProcessDocumentResponse
          description: Responses for each individual document.
          type: array
      description: >-
        Response to an batch document processing request. This is returned in
        the LRO Operation after the operation is complete.
      id: GoogleCloudDocumentaiV1beta2BatchProcessDocumentsResponse
      type: object
    GoogleCloudDocumentaiV1beta3DocumentPageTable:
      id: GoogleCloudDocumentaiV1beta3DocumentPageTable
      description: A table representation similar to HTML table structure.
      type: object
      properties:
        detectedLanguages:
          description: A list of detected languages together with confidence.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage
        layout:
          description: Layout for Table.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentPageLayout'
        bodyRows:
          description: Body rows of the table.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow
          type: array
        provenance:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentProvenance'
          description: The history of this table.
        headerRows:
          description: Header rows of the table.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow
    GoogleCloudDocumentaiV1beta1DocumentProvenance:
      type: object
      id: GoogleCloudDocumentaiV1beta1DocumentProvenance
      description: >-
        Structure to identify provenance relationships between annotations in
        different revisions.
      properties:
        revision:
          format: int32
          description: The index of the revision that produced this element.
          type: integer
        type:
          enum:
            - OPERATION_TYPE_UNSPECIFIED
            - ADD
            - REMOVE
            - UPDATE
            - REPLACE
            - EVAL_REQUESTED
            - EVAL_APPROVED
            - EVAL_SKIPPED
          type: string
          description: The type of provenance operation.
          enumDescriptions:
            - >-
              Operation type unspecified. If no operation is specified a
              provenance entry is simply used to match against a `parent`.
            - Add an element.
            - Remove an element identified by `parent`.
            - >-
              Updates any fields within the given provenance scope of the
              message. It overwrites the fields rather than replacing them. Use
              this when you want to update a field value of an entity without
              also updating all the child properties.
            - Currently unused. Replace an element identified by `parent`.
            - >-
              Deprecated. Request human review for the element identified by
              `parent`.
            - >-
              Deprecated. Element is reviewed and approved at human review,
              confidence will be set to 1.0.
            - Deprecated. Element is skipped in the validation process.
        id:
          type: integer
          format: int32
          description: >-
            The Id of this operation. Needs to be unique within the scope of the
            revision.
        parents:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentProvenanceParent
          type: array
          description: References to the original elements that are replaced.
    GoogleCloudDocumentaiV1beta3EntityTypeMetadata:
      type: object
      id: GoogleCloudDocumentaiV1beta3EntityTypeMetadata
      properties:
        inactive:
          description: Whether the entity type should be considered inactive.
          type: boolean
      description: Metadata about an entity type.
    GoogleCloudDocumentaiV1beta1Barcode:
      description: Encodes the detailed information of a barcode.
      properties:
        rawValue:
          description: >-
            Raw value encoded in the barcode. For example:
            `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`.
          type: string
        format:
          type: string
          description: >-
            Format of a barcode. The supported formats are: - `CODE_128`: Code
            128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. -
            `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. -
            `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. -
            `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E
            type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. -
            `DATABAR`: GS1 DataBar code type.
        valueFormat:
          type: string
          description: >-
            Value format describes the format of the value that a barcode
            encodes. The supported formats are: - `CONTACT_INFO`: Contact
            information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. -
            `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. -
            `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi
            information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar
            event. - `DRIVER_LICENSE`: Driver's license.
      type: object
      id: GoogleCloudDocumentaiV1beta1Barcode
    GoogleCloudDocumentaiV1DisableProcessorMetadata:
      description: The long-running operation metadata for the DisableProcessor method.
      id: GoogleCloudDocumentaiV1DisableProcessorMetadata
      type: object
      properties:
        commonMetadata:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1CommonOperationMetadata'
          description: The basic metadata of the long-running operation.
    GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores:
      type: object
      description: Image quality scores for the page image.
      properties:
        qualityScore:
          description: >-
            The overall quality score. Range `[0, 1]` where `1` is perfect
            quality.
          type: number
          format: float
        detectedDefects:
          description: A list of detected defects.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScoresDetectedDefect
          type: array
      id: GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores
    GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell:
      properties:
        rowSpan:
          format: int32
          type: integer
          description: How many rows this cell spans.
        colSpan:
          type: integer
          format: int32
          description: How many columns this cell spans.
        layout:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageLayout'
          description: Layout for TableCell.
        detectedLanguages:
          description: A list of detected languages together with confidence.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage
          type: array
      type: object
      description: A cell representation inside the table.
      id: GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell
    GoogleCloudDocumentaiV1EnableProcessorResponse:
      id: GoogleCloudDocumentaiV1EnableProcessorResponse
      properties: {}
      description: >-
        Response message for the EnableProcessor method. Intentionally empty
        proto for adding fields in future.
      type: object
    GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScoresDetectedDefect:
      type: object
      properties:
        type:
          description: >-
            Name of the defect type. Supported values are: -
            `quality/defect_blurry` - `quality/defect_noisy` -
            `quality/defect_dark` - `quality/defect_faint` -
            `quality/defect_text_too_small` - `quality/defect_document_cutoff` -
            `quality/defect_text_cutoff` - `quality/defect_glare`
          type: string
        confidence:
          format: float
          description: >-
            Confidence of detected defect. Range `[0, 1]` where `1` indicates
            strong confidence that the defect exists.
          type: number
      description: Image Quality Defects
      id: GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScoresDetectedDefect
    GoogleCloudDocumentaiV1beta3DocumentTextChange:
      type: object
      description: This message is used for text changes aka. OCR corrections.
      properties:
        changedText:
          type: string
          description: The text that replaces the text identified in the `text_anchor`.
        textAnchor:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentTextAnchor'
          description: >-
            Provenance of the correction. Text anchor indexing into the
            Document.text. There can only be a single `TextAnchor.text_segments`
            element. If the start and end index of the text segment are the
            same, the text change is inserted before that index.
        provenance:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentProvenance
          type: array
          description: The history of this annotation.
      id: GoogleCloudDocumentaiV1beta3DocumentTextChange
    GoogleCloudDocumentaiV1beta3EnableProcessorMetadata:
      id: GoogleCloudDocumentaiV1beta3EnableProcessorMetadata
      properties:
        commonMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3CommonOperationMetadata
          description: The basic metadata of the long-running operation.
      type: object
      description: The long-running operation metadata for the EnableProcessor method.
    GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata:
      properties:
        datasetResyncStatuses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus
          type: array
          description: >-
            The list of dataset resync statuses. Not checked when
            `dataset_documents` is specified in ResyncRequest.
        individualDocumentResyncStatuses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus
          description: >-
            The list of document resync statuses. The same document could have
            multiple `individual_document_resync_statuses` if it has multiple
            inconsistencies.
          type: array
        commonMetadata:
          description: The basic metadata of the long running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      description: The metadata proto of ResyncDataset method.
      id: GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata
      type: object
    GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata:
      description: >-
        The long-running operation metadata for the SetDefaultProcessorVersion
        method.
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1CommonOperationMetadata'
      type: object
      id: GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata
    GoogleCloudDocumentaiV1beta3ListProcessorTypesResponse:
      id: GoogleCloudDocumentaiV1beta3ListProcessorTypesResponse
      type: object
      properties:
        processorTypes:
          description: The processor types.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3ProcessorType'
        nextPageToken:
          description: Points to the next page, otherwise empty.
          type: string
      description: Response message for the ListProcessorTypes method.
    GoogleCloudDocumentaiV1beta1DocumentShardInfo:
      id: GoogleCloudDocumentaiV1beta1DocumentShardInfo
      properties:
        shardIndex:
          description: The 0-based index of this shard.
          format: int64
          type: string
        textOffset:
          description: >-
            The index of the first character in Document.text in the overall
            document global text.
          type: string
          format: int64
        shardCount:
          type: string
          description: Total number of shards.
          format: int64
      type: object
      description: >-
        For a large document, sharding may be performed to produce several
        document shards. Each document shard contains this field to detail which
        shard it is.
    GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata:
      properties:
        updateTime:
          type: string
          format: google-datetime
          description: The last update time of the operation.
        resource:
          type: string
          description: A related resource to this operation.
        createTime:
          format: google-datetime
          type: string
          description: The creation time of the operation.
        stateMessage:
          description: >-
            A message providing more details about the current state of
            processing.
          type: string
        state:
          description: The state of the operation.
          type: string
          enumDescriptions:
            - Unspecified state.
            - Operation is still running.
            - Operation is being cancelled.
            - Operation succeeded.
            - Operation failed.
            - Operation is cancelled.
          enum:
            - STATE_UNSPECIFIED
            - RUNNING
            - CANCELLING
            - SUCCEEDED
            - FAILED
            - CANCELLED
      description: The common metadata for long running operations.
      type: object
      id: GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
    GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse:
      id: GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse
      description: Response of the batch move documents operation.
      type: object
      properties: {}
    GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse:
      properties:
        processorVersion:
          description: The destination processor version name.
          type: string
      description: The response message for the ImportProcessorVersion method.
      id: GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse
      type: object
    GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics:
      properties:
        metricsType:
          enumDescriptions:
            - >-
              The metrics type is unspecified. By default, metrics without a
              particular specification are for leaf entity types (i.e.,
              top-level entity types without child types, or child types which
              are not parent types themselves).
            - >-
              Indicates whether metrics for this particular label type represent
              an aggregate of metrics for other types instead of being based on
              actual TP/FP/FN values for the label type. Metrics for parent
              (i.e., non-leaf) entity types are an aggregate of metrics for
              their children.
          type: string
          enum:
            - METRICS_TYPE_UNSPECIFIED
            - AGGREGATE
          description: The metrics type for the label.
        auprcExact:
          format: float
          description: >-
            The AUPRC for metrics with fuzzy matching disabled, i.e., exact
            matching only.
          type: number
        confidenceLevelMetricsExact:
          description: Metrics across confidence levels with only exact matching.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics
        confidenceLevelMetrics:
          type: array
          description: Metrics across confidence levels with fuzzy matching enabled.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics
        auprc:
          description: >-
            The calculated area under the precision recall curve (AUPRC),
            computed by integrating over all confidence thresholds.
          format: float
          type: number
        estimatedCalibrationErrorExact:
          description: >-
            The ECE for the predicted entities with fuzzy matching disabled,
            i.e., exact matching only.
          type: number
          format: float
        estimatedCalibrationError:
          format: float
          description: >-
            The Estimated Calibration Error (ECE) of the confidence of the
            predicted entities.
          type: number
      type: object
      id: GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics
      description: Metrics across multiple confidence levels.
    GoogleCloudDocumentaiV1beta2OutputConfig:
      id: GoogleCloudDocumentaiV1beta2OutputConfig
      properties:
        pagesPerShard:
          format: int32
          description: >-
            The max number of pages to include into each output Document shard
            JSON on Google Cloud Storage. The valid range is [1, 100]. If not
            specified, the default value is 20. For example, for one pdf file
            with 100 pages, 100 parsed pages will be produced. If
            `pages_per_shard` = 20, then 5 Document shard JSON files each
            containing 20 parsed pages will be written under the prefix
            OutputConfig.gcs_destination.uri and suffix pages-x-to-y.json where
            x and y are 1-indexed page numbers. Example GCS outputs with 157
            pages and pages_per_shard = 50: pages-001-to-050.json
            pages-051-to-100.json pages-101-to-150.json pages-151-to-157.json
          type: integer
        gcsDestination:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2GcsDestination'
          description: The Google Cloud Storage location to write the output to.
      description: The desired output location and metadata.
      type: object
    GoogleCloudDocumentaiV1beta3DisableProcessorRequest:
      properties: {}
      id: GoogleCloudDocumentaiV1beta3DisableProcessorRequest
      type: object
      description: Request message for the DisableProcessor method.
    GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata:
      type: object
      description: Metadata message associated with the ExportProcessorVersion operation.
      properties:
        commonMetadata:
          description: The common metadata about the operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      id: GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata
    GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse:
      description: Response message for the DeployProcessorVersion method.
      id: GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse
      type: object
      properties: {}
    GoogleCloudDocumentaiV1beta3DocumentPageDimension:
      properties:
        width:
          description: Page width.
          type: number
          format: float
        height:
          format: float
          description: Page height.
          type: number
        unit:
          description: Dimension unit.
          type: string
      type: object
      description: Dimension for the page.
      id: GoogleCloudDocumentaiV1beta3DocumentPageDimension
    GoogleCloudDocumentaiV1beta1Document:
      id: GoogleCloudDocumentaiV1beta1Document
      type: object
      description: >-
        Document represents the canonical document resource in Document AI. It
        is an interchange format that provides insights into documents and
        allows for collaboration between users and Document AI to iterate and
        optimize for quality.
      properties:
        revisions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentRevision'
          description: Placeholder. Revision history of this document.
        mimeType:
          type: string
          description: >-
            An IANA published [media type (MIME
            type)](https://www.iana.org/assignments/media-types/media-types.xhtml).
        pages:
          description: Visual page layout for the Document.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPage'
        text:
          type: string
          description: Optional. UTF-8 encoded text in reading order from the document.
        entityRelations:
          description: Placeholder. Relationship among Document.entities.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentEntityRelation
          type: array
        uri:
          type: string
          description: >-
            Optional. Currently supports Google Cloud Storage URI of the form
            `gs://bucket_name/object_name`. Object versioning is not supported.
            For more information, refer to [Google Cloud Storage Request
            URIs](https://cloud.google.com/storage/docs/reference-uris).
        entities:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentEntity'
          description: >-
            A list of entities detected on Document.text. For document shards,
            entities in this list may cross shard boundaries.
          type: array
        content:
          description: >-
            Optional. Inline document content, represented as a stream of bytes.
            Note: As with all `bytes` fields, protobuffers use a pure binary
            representation, whereas JSON representations use base64.
          format: byte
          type: string
        textStyles:
          type: array
          description: Styles for the Document.text.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentStyle'
        shardInfo:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentShardInfo'
          description: >-
            Information about the sharding if this document is sharded part of a
            larger document. If the document is not sharded, this message is not
            specified.
        textChanges:
          description: >-
            Placeholder. A list of text corrections made to Document.text. This
            is usually used for annotating corrections to OCR mistakes. Text
            changes for a given revision may not overlap with each other.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentTextChange
          type: array
        error:
          $ref: '#/components/schemas/GoogleRpcStatus'
          description: Any error that occurred while processing this document.
    GoogleCloudDocumentaiV1beta3Document:
      id: GoogleCloudDocumentaiV1beta3Document
      description: >-
        Document represents the canonical document resource in Document AI. It
        is an interchange format that provides insights into documents and
        allows for collaboration between users and Document AI to iterate and
        optimize for quality.
      type: object
      properties:
        revisions:
          description: Placeholder. Revision history of this document.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentRevision'
          type: array
        textStyles:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentStyle'
          type: array
          description: Styles for the Document.text.
        error:
          description: Any error that occurred while processing this document.
          $ref: '#/components/schemas/GoogleRpcStatus'
        content:
          type: string
          format: byte
          description: >-
            Optional. Inline document content, represented as a stream of bytes.
            Note: As with all `bytes` fields, protobuffers use a pure binary
            representation, whereas JSON representations use base64.
        pages:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentPage'
          type: array
          description: Visual page layout for the Document.
        shardInfo:
          description: >-
            Information about the sharding if this document is sharded part of a
            larger document. If the document is not sharded, this message is not
            specified.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentShardInfo'
        mimeType:
          description: >-
            An IANA published [media type (MIME
            type)](https://www.iana.org/assignments/media-types/media-types.xhtml).
          type: string
        text:
          type: string
          description: Optional. UTF-8 encoded text in reading order from the document.
        uri:
          type: string
          description: >-
            Optional. Currently supports Google Cloud Storage URI of the form
            `gs://bucket_name/object_name`. Object versioning is not supported.
            For more information, refer to [Google Cloud Storage Request
            URIs](https://cloud.google.com/storage/docs/reference-uris).
        entityRelations:
          description: Placeholder. Relationship among Document.entities.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentEntityRelation
          type: array
        textChanges:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentTextChange
          description: >-
            Placeholder. A list of text corrections made to Document.text. This
            is usually used for annotating corrections to OCR mistakes. Text
            changes for a given revision may not overlap with each other.
          type: array
        entities:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentEntity'
          type: array
          description: >-
            A list of entities detected on Document.text. For document shards,
            entities in this list may cross shard boundaries.
    GoogleCloudDocumentaiV1beta3Barcode:
      id: GoogleCloudDocumentaiV1beta3Barcode
      properties:
        rawValue:
          description: >-
            Raw value encoded in the barcode. For example:
            `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`.
          type: string
        valueFormat:
          description: >-
            Value format describes the format of the value that a barcode
            encodes. The supported formats are: - `CONTACT_INFO`: Contact
            information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. -
            `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. -
            `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi
            information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar
            event. - `DRIVER_LICENSE`: Driver's license.
          type: string
        format:
          type: string
          description: >-
            Format of a barcode. The supported formats are: - `CODE_128`: Code
            128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. -
            `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. -
            `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. -
            `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E
            type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. -
            `DATABAR`: GS1 DataBar code type.
      type: object
      description: Encodes the detailed information of a barcode.
    GoogleCloudDocumentaiV1beta1NormalizedVertex:
      type: object
      id: GoogleCloudDocumentaiV1beta1NormalizedVertex
      description: >-
        A vertex represents a 2D point in the image. NOTE: the normalized vertex
        coordinates are relative to the original image and range from 0 to 1.
      properties:
        x:
          description: X coordinate.
          format: float
          type: number
        'y':
          format: float
          type: number
          description: Y coordinate (starts from the top of the image).
    GoogleCloudDocumentaiV1DeployProcessorVersionMetadata:
      id: GoogleCloudDocumentaiV1DeployProcessorVersionMetadata
      properties:
        commonMetadata:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1CommonOperationMetadata'
          description: The basic metadata of the long-running operation.
      description: >-
        The long-running operation metadata for the DeployProcessorVersion
        method.
      type: object
    GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument:
      properties:
        documentId:
          type: string
          description: An internal identifier for document.
      type: object
      id: GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument
    GoogleCloudDocumentaiV1beta3HumanReviewStatus:
      description: The status of human review on a processed document.
      type: object
      properties:
        state:
          enumDescriptions:
            - >-
              Human review state is unspecified. Most likely due to an internal
              error.
            - >-
              Human review is skipped for the document. This can happen because
              human review isn't enabled on the processor or the processing
              request has been set to skip this document.
            - >-
              Human review validation is triggered and passed, so no review is
              needed.
            - >-
              Human review validation is triggered and the document is under
              review.
            - >-
              Some error happened during triggering human review, see the
              state_message for details.
          description: The state of human review on the processing request.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - SKIPPED
            - VALIDATION_PASSED
            - IN_PROGRESS
            - ERROR
        humanReviewOperation:
          description: >-
            The name of the operation triggered by the processed document. This
            field is populated only when the state is
            `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and
            metadata as the long-running operation returned by ReviewDocument.
          type: string
        stateMessage:
          description: A message providing more details about the human review state.
          type: string
      id: GoogleCloudDocumentaiV1beta3HumanReviewStatus
    GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat:
      type: object
      id: GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat
      properties:
        totalDocumentCount:
          description: >-
            Total number of documents with the given dataset split type to be
            exported.
          format: int32
          type: integer
        splitType:
          enumDescriptions:
            - >-
              Default value if the enum is not set.
              go/protodosdonts#do-include-an-unspecified-value-in-an-enum
            - Identifies the train documents.
            - Identifies the test documents.
            - Identifies the unassigned documents.
          enum:
            - DATASET_SPLIT_TYPE_UNSPECIFIED
            - DATASET_SPLIT_TRAIN
            - DATASET_SPLIT_TEST
            - DATASET_SPLIT_UNASSIGNED
          description: The dataset split type.
          type: string
      description: The statistic representing a dataset split type for this export.
    GoogleCloudDocumentaiV1beta3OcrConfig:
      description: Config for Document OCR.
      properties:
        enableImageQualityScores:
          description: >-
            Enables intelligent document quality scores after OCR. Can help with
            diagnosing why OCR responses are of poor quality for a given input.
            Adds additional latency comparable to regular OCR to the process
            call.
          type: boolean
        advancedOcrOptions:
          description: >-
            A list of advanced OCR options to further fine-tune OCR behavior.
            Current valid values are: - `legacy_layout`: a heuristics layout
            detection algorithm, which serves as an alternative to the current
            ML-based layout detection algorithm. Customers can choose the best
            suitable layout algorithm based on their situation.
          type: array
          items:
            type: string
        enableSymbol:
          type: boolean
          description: Includes symbol level OCR information if set to true.
        computeStyleInfo:
          description: Turn on font id model and returns font style information.
          type: boolean
        enableNativePdfParsing:
          description: >-
            Enables special handling for PDFs with existing text information.
            Results in better text extraction quality in such PDF inputs.
          type: boolean
        hints:
          description: Hints for the OCR model.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3OcrConfigHints'
      id: GoogleCloudDocumentaiV1beta3OcrConfig
      type: object
    GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata:
      properties:
        questionId:
          type: string
          description: The Crowd Compute question ID.
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1CommonOperationMetadata'
      description: The long-running operation metadata for the ReviewDocument method.
      id: GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata
      type: object
    GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata:
      description: The long-running operation metadata for the ReviewDocument method.
      id: GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata
      properties:
        createTime:
          description: The creation time of the operation.
          format: google-datetime
          type: string
        updateTime:
          format: google-datetime
          type: string
          description: The last update time of the operation.
        questionId:
          type: string
          description: The Crowd Compute question ID.
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3CommonOperationMetadata
        state:
          description: Used only when Operation.done is false.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - RUNNING
            - CANCELLING
            - SUCCEEDED
            - FAILED
            - CANCELLED
          enumDescriptions:
            - Unspecified state.
            - Operation is still running.
            - Operation is being cancelled.
            - Operation succeeded.
            - Operation failed.
            - Operation is cancelled.
        stateMessage:
          type: string
          description: >-
            A message providing more details about the current state of
            processing. For example, the error message if the operation is
            failed.
      type: object
    GoogleCloudDocumentaiV1beta1Vertex:
      id: GoogleCloudDocumentaiV1beta1Vertex
      description: >-
        A vertex represents a 2D point in the image. NOTE: the vertex
        coordinates are in the same scale as the original image.
      properties:
        x:
          description: X coordinate.
          type: integer
          format: int32
        'y':
          type: integer
          format: int32
          description: Y coordinate (starts from the top of the image).
      type: object
    GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse:
      properties:
        selectedDocuments:
          description: The result of the sampling process.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument
      type: object
      id: GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse
      description: Response of the sample documents operation.
    GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata:
      description: >-
        The long-running operation metadata for the DeleteProcessorVersion
        method.
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      id: GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata
      type: object
    GoogleCloudLocationListLocationsResponse:
      properties:
        nextPageToken:
          type: string
          description: The standard List next-page token.
        locations:
          description: >-
            A list of locations that matches the specified filter in the
            request.
          items:
            $ref: '#/components/schemas/GoogleCloudLocationLocation'
          type: array
      description: The response message for Locations.ListLocations.
      type: object
      id: GoogleCloudLocationListLocationsResponse
    GoogleCloudDocumentaiV1beta2InputConfig:
      description: The desired input location and metadata.
      type: object
      properties:
        contents:
          type: string
          description: >-
            Content in bytes, represented as a stream of bytes. Note: As with
            all `bytes` fields, proto buffer messages use a pure binary
            representation, whereas JSON representations use base64. This field
            only works for synchronous ProcessDocument method.
          format: byte
        mimeType:
          description: >-
            Required. Mimetype of the input. Current supported mimetypes are
            application/pdf, image/tiff, and image/gif. In addition,
            application/json type is supported for requests with
            ProcessDocumentRequest.automl_params field set. The JSON file needs
            to be in Document format.
          type: string
        gcsSource:
          description: >-
            The Google Cloud Storage location to read the input from. This must
            be a single file.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2GcsSource'
      id: GoogleCloudDocumentaiV1beta2InputConfig
    GoogleCloudDocumentaiV1beta3DocumentTextAnchor:
      properties:
        content:
          type: string
          description: >-
            Contains the content of the text span so that users do not have to
            look it up in the text_segments. It is always populated for
            formFields.
        textSegments:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment
          type: array
          description: The text segments from the Document.text.
      type: object
      id: GoogleCloudDocumentaiV1beta3DocumentTextAnchor
      description: Text reference indexing into the Document.text.
    GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata:
      type: object
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      id: GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata
      description: The long-running operation metadata for the EnableProcessor method.
    GoogleCloudDocumentaiV1beta3DatasetSchema:
      description: Dataset Schema.
      type: object
      properties:
        documentSchema:
          description: Optional. Schema of the dataset.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentSchema'
        name:
          type: string
          description: >-
            Dataset schema resource name. Format:
            `projects/{project}/locations/{location}/processors/{processor}/dataset/datasetSchema`
      id: GoogleCloudDocumentaiV1beta3DatasetSchema
    GoogleCloudDocumentaiV1beta3Evaluation:
      properties:
        kmsKeyVersionName:
          type: string
          description: The KMS key version with which data is encrypted.
        createTime:
          format: google-datetime
          type: string
          description: The time that the evaluation was created.
        documentCounters:
          description: Counters for the documents used in the evaluation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3EvaluationCounters'
        allEntitiesMetrics:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics
          description: Metrics for all the entities in aggregate.
        name:
          description: >-
            The resource name of the evaluation. Format:
            `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}/evaluations/{evaluation}`
          type: string
        kmsKeyName:
          type: string
          description: The KMS key name used for encryption.
        entityMetrics:
          type: object
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics
          description: Metrics across confidence levels, for different entities.
      id: GoogleCloudDocumentaiV1beta3Evaluation
      description: An evaluation of a ProcessorVersion's performance.
      type: object
    GoogleCloudDocumentaiV1beta3DocumentPageAnchor:
      id: GoogleCloudDocumentaiV1beta3DocumentPageAnchor
      properties:
        pageRefs:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef
          description: One or more references to visual page elements
          type: array
      description: >-
        Referencing the visual context of the entity in the Document.pages. Page
        anchors can be cross-page, consist of multiple bounding polygons and
        optionally reference specific layout element types.
      type: object
    GoogleCloudDocumentaiV1beta2DocumentEntityRelation:
      description: Relationship between Entities.
      properties:
        subjectId:
          description: Subject entity id.
          type: string
        relation:
          type: string
          description: Relationship description.
        objectId:
          description: Object entity id.
          type: string
      id: GoogleCloudDocumentaiV1beta2DocumentEntityRelation
      type: object
    GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment:
      description: >-
        A text segment in the Document.text. The indices may be out of bounds
        which indicate that the text extends into another document shard for
        large sharded documents. See ShardInfo.text_offset
      properties:
        endIndex:
          format: int64
          type: string
          description: TextSegment half open end UTF-8 char index in the Document.text.
        startIndex:
          format: int64
          type: string
          description: TextSegment start UTF-8 char index in the Document.text.
      id: GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment
      type: object
    GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse:
      id: GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse
      properties: {}
      description: Response message for the UndeployProcessorVersion method.
      type: object
    GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata:
      id: GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata
      properties:
        individualAutoLabelStatuses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus
          description: >-
            The list of individual auto-labeling statuses of the dataset
            documents.
          type: array
        totalDocumentCount:
          description: Total number of the auto-labeling documents.
          type: integer
          format: int32
        commonMetadata:
          description: The basic metadata of the long running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      type: object
      description: Metadata of the auto-labeling documents operation.
    GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage:
      type: object
      id: GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage
      description: Detected language for a structural component.
      properties:
        confidence:
          description: Confidence of detected language. Range `[0, 1]`.
          type: number
          format: float
        languageCode:
          type: string
          description: >-
            The [BCP-47 language
            code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier),
            such as `en-US` or `sr-Latn`.
    GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScores:
      id: GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScores
      type: object
      description: Image quality scores for the page image.
      properties:
        detectedDefects:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScoresDetectedDefect
          type: array
          description: A list of detected defects.
        qualityScore:
          type: number
          description: >-
            The overall quality score. Range `[0, 1]` where `1` is perfect
            quality.
          format: float
    GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId:
      description: >-
        Identifies a document uniquely within the scope of a dataset in the
        user-managed Cloud Storage option.
      id: GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId
      properties:
        gcsUri:
          description: Required. The Cloud Storage URI where the actual document is stored.
          type: string
        cwDocId:
          description: Id of the document (indexed) managed by Content Warehouse.
          type: string
      type: object
    GoogleCloudDocumentaiV1EnableProcessorMetadata:
      id: GoogleCloudDocumentaiV1EnableProcessorMetadata
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1CommonOperationMetadata'
      description: The long-running operation metadata for the EnableProcessor method.
      type: object
    GoogleCloudDocumentaiV1beta3DocumentStyle:
      properties:
        textDecoration:
          description: >-
            [Text
            decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp).
            Follows CSS standard. 
          type: string
        textAnchor:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3DocumentTextAnchor'
          description: Text anchor indexing into the Document.text.
        fontFamily:
          description: >-
            Font family such as `Arial`, `Times New Roman`.
            https://www.w3schools.com/cssref/pr_font_font-family.asp
          type: string
        color:
          description: Text color.
          $ref: '#/components/schemas/GoogleTypeColor'
        backgroundColor:
          description: Text background color.
          $ref: '#/components/schemas/GoogleTypeColor'
        textStyle:
          description: >-
            [Text
            style](https://www.w3schools.com/cssref/pr_font_font-style.asp).
            Possible values are `normal`, `italic`, and `oblique`.
          type: string
        fontSize:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3DocumentStyleFontSize
          description: Font size.
        fontWeight:
          type: string
          description: >-
            [Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp).
            Possible values are `normal`, `bold`, `bolder`, and `lighter`.
      id: GoogleCloudDocumentaiV1beta3DocumentStyle
      description: >-
        Annotation for common text style attributes. This adheres to CSS
        conventions as much as possible.
      type: object
    GoogleCloudDocumentaiV1beta2DocumentProvenanceParent:
      properties:
        revision:
          format: int32
          type: integer
          description: The index of the index into current revision's parent_ids list.
        index:
          format: int32
          type: integer
          description: >-
            The index of the parent item in the corresponding item list (eg.
            list of entities, properties within entities, etc.) in the parent
            revision.
        id:
          description: The id of the parent provenance.
          format: int32
          type: integer
      type: object
      description: >-
        The parent element the current element is based on. Used for
        referencing/aligning, removal and replacement operations.
      id: GoogleCloudDocumentaiV1beta2DocumentProvenanceParent
    GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata:
      id: GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata
      description: >-
        The long-running operation metadata for the UndeployProcessorVersion
        method.
      type: object
      properties:
        commonMetadata:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1CommonOperationMetadata'
          description: The basic metadata of the long-running operation.
    GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig:
      properties:
        gcsPrefix:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3GcsPrefix'
          description: >-
            The set of documents that match the specified Cloud Storage
            `gcs_prefix`.
        gcsDocuments:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta3GcsDocuments'
          description: The set of documents individually specified on Cloud Storage.
      description: The common config to specify a set of documents used as input.
      type: object
      id: GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig
    GoogleCloudDocumentaiV1beta3OcrConfigHints:
      id: GoogleCloudDocumentaiV1beta3OcrConfigHints
      description: Hints for OCR Engine
      type: object
      properties:
        languageHints:
          description: >-
            List of BCP-47 language codes to use for OCR. In most cases, not
            specifying it yields the best results since it enables automatic
            language detection. For languages based on the Latin alphabet,
            setting hints is not needed. In rare cases, when the language of the
            text in the image is known, setting a hint will help get better
            results (although it will be a significant hindrance if the hint is
            wrong).
          type: array
          items:
            type: string
    GoogleCloudDocumentaiV1beta3GcsPrefix:
      type: object
      id: GoogleCloudDocumentaiV1beta3GcsPrefix
      properties:
        gcsUriPrefix:
          description: The URI prefix.
          type: string
      description: Specifies all documents on Cloud Storage with a common prefix.
    GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow:
[...]
