openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Document AI API
  description: >-
    Service to parse structured information from unstructured or semi-structured
    documents using state-of-the-art Google AI such as natural language,
    computer vision, translation, and AutoML.
  version: v1
  x-discovery-doc-revision: '20230619'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/document-ai/docs/
servers:
  - url: https://documentai.googleapis.com
components:
  schemas:
    GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell:
      properties:
        rowSpan:
          format: int32
          type: integer
          description: How many rows this cell spans.
        layout:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLayout'
          description: Layout for TableCell.
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
          type: array
          description: A list of detected languages together with confidence.
        colSpan:
          description: How many columns this cell spans.
          format: int32
          type: integer
      type: object
      id: GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell
      description: A cell representation inside the table.
    GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata:
      description: The long-running operation metadata for the DisableProcessor method.
      id: GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      type: object
    GoogleProtobufEmpty:
      type: object
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      properties: {}
      id: GoogleProtobufEmpty
    GoogleCloudDocumentaiV1BoundingPoly:
      properties:
        normalizedVertices:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1NormalizedVertex'
          type: array
          description: The bounding polygon normalized vertices.
        vertices:
          description: The bounding polygon vertices.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1Vertex'
      description: A bounding polygon for the detected image annotation.
      id: GoogleCloudDocumentaiV1BoundingPoly
      type: object
    GoogleCloudDocumentaiV1beta1GcsDestination:
      id: GoogleCloudDocumentaiV1beta1GcsDestination
      type: object
      description: >-
        The Google Cloud Storage location where the output file will be written
        to.
      properties:
        uri:
          type: string
    GoogleCloudDocumentaiV1beta2OperationMetadata:
      properties:
        state:
          description: The state of the current batch processing.
          enumDescriptions:
            - The default value. This value is used if the state is omitted.
            - Request is received.
            - Request operation is waiting for scheduling.
            - Request is being processed.
            - The batch processing completed successfully.
            - The batch processing was cancelled.
            - The batch processing has failed.
          enum:
            - STATE_UNSPECIFIED
            - ACCEPTED
            - WAITING
            - RUNNING
            - SUCCEEDED
            - CANCELLED
            - FAILED
          type: string
        stateMessage:
          type: string
          description: >-
            A message providing more details about the current state of
            processing.
        createTime:
          format: google-datetime
          description: The creation time of the operation.
          type: string
        updateTime:
          type: string
          description: The last update time of the operation.
          format: google-datetime
      description: Contains metadata for the BatchProcessDocuments operation.
      type: object
      id: GoogleCloudDocumentaiV1beta2OperationMetadata
    GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse:
      properties:
        processorVersion:
          description: The resource name of the processor version produced by training.
          type: string
      id: GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse
      description: The response for TrainProcessorVersion.
      type: object
    GoogleCloudDocumentaiV1beta1DocumentStyle:
      type: object
      properties:
        fontSize:
          description: Font size.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentStyleFontSize
        textDecoration:
          type: string
          description: >-
            [Text
            decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp).
            Follows CSS standard. 
        textStyle:
          type: string
          description: >-
            [Text
            style](https://www.w3schools.com/cssref/pr_font_font-style.asp).
            Possible values are `normal`, `italic`, and `oblique`.
        color:
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Text color.
        textAnchor:
          description: Text anchor indexing into the Document.text.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentTextAnchor'
        backgroundColor:
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Text background color.
        fontFamily:
          description: >-
            Font family such as `Arial`, `Times New Roman`.
            https://www.w3schools.com/cssref/pr_font_font-family.asp
          type: string
        fontWeight:
          description: >-
            [Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp).
            Possible values are `normal`, `bold`, `bolder`, and `lighter`.
          type: string
      id: GoogleCloudDocumentaiV1beta1DocumentStyle
      description: >-
        Annotation for common text style attributes. This adheres to CSS
        conventions as much as possible.
    GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue:
      id: GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue
      properties:
        datetimeValue:
          $ref: '#/components/schemas/GoogleTypeDateTime'
          description: >-
            DateTime value. Includes date, time, and timezone. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto
        moneyValue:
          $ref: '#/components/schemas/GoogleTypeMoney'
          description: >-
            Money value. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/money.proto
        floatValue:
          description: Float value.
          type: number
          format: float
        booleanValue:
          type: boolean
          description: >-
            Boolean value. Can be used for entities with binary values, or for
            checkboxes.
        addressValue:
          description: >-
            Postal address. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto
          $ref: '#/components/schemas/GoogleTypePostalAddress'
        integerValue:
          format: int32
          description: Integer value.
          type: integer
        dateValue:
          $ref: '#/components/schemas/GoogleTypeDate'
          description: >-
            Date value. Includes year, month, day. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/date.proto
        text:
          type: string
          description: >-
            Optional. An optional field to store a normalized string. For some
            entity types, one of respective `structured_value` fields may also
            be populated. Also not all the types of `structured_value` will be
            normalized. For example, some processors may not generate `float` or
            `integer` normalized text by default. Below are sample formats
            mapped to structured values. - Money/Currency type (`money_value`)
            is in the ISO 4217 text format. - Date type (`date_value`) is in the
            ISO 8601 text format. - Datetime type (`datetime_value`) is in the
            ISO 8601 text format.
      type: object
      description: Parsed and normalized entity value.
    GoogleCloudDocumentaiV1DocumentPageParagraph:
      id: GoogleCloudDocumentaiV1DocumentPageParagraph
      type: object
      description: A collection of lines that a human would perceive as a paragraph.
      properties:
        provenance:
          description: The history of this annotation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance'
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage
          description: A list of detected languages together with confidence.
          type: array
        layout:
          description: Layout for Paragraph.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout'
    GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment:
      properties:
        startIndex:
          description: TextSegment start UTF-8 char index in the Document.text.
          format: int64
          type: string
        endIndex:
          type: string
          format: int64
          description: TextSegment half open end UTF-8 char index in the Document.text.
      type: object
      id: GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment
      description: >-
        A text segment in the Document.text. The indices may be out of bounds
        which indicate that the text extends into another document shard for
        large sharded documents. See ShardInfo.text_offset
    GoogleCloudDocumentaiV1beta1DocumentTextAnchorTextSegment:
      id: GoogleCloudDocumentaiV1beta1DocumentTextAnchorTextSegment
      type: object
      description: >-
        A text segment in the Document.text. The indices may be out of bounds
        which indicate that the text extends into another document shard for
        large sharded documents. See ShardInfo.text_offset
      properties:
        startIndex:
          type: string
          format: int64
          description: TextSegment start UTF-8 char index in the Document.text.
        endIndex:
          description: TextSegment half open end UTF-8 char index in the Document.text.
          format: int64
          type: string
    GoogleCloudDocumentaiV1DocumentPageAnchorPageRef:
      id: GoogleCloudDocumentaiV1DocumentPageAnchorPageRef
      properties:
        confidence:
          description: >-
            Optional. Confidence of detected page element, if applicable. Range
            `[0, 1]`.
          format: float
          type: number
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1BoundingPoly'
          description: >-
            Optional. Identifies the bounding polygon of a layout element on the
            page.
        layoutType:
          enum:
            - LAYOUT_TYPE_UNSPECIFIED
            - BLOCK
            - PARAGRAPH
            - LINE
            - TOKEN
            - VISUAL_ELEMENT
            - TABLE
            - FORM_FIELD
          enumDescriptions:
            - Layout Unspecified.
            - References a Page.blocks element.
            - References a Page.paragraphs element.
            - References a Page.lines element.
            - References a Page.tokens element.
            - References a Page.visual_elements element.
            - Refrrences a Page.tables element.
            - References a Page.form_fields element.
          description: >-
            Optional. The type of the layout element that is being referenced if
            any.
          type: string
        layoutId:
          description: Optional. Deprecated. Use PageRef.bounding_poly instead.
          type: string
        page:
          type: string
          description: >-
            Required. Index into the Document.pages element, for example using
            `Document.pages` to locate the related page element. This field is
            skipped when its value is the default `0`. See
            https://developers.google.com/protocol-buffers/docs/proto3#json.
          format: int64
      description: Represents a weak reference to a page element within a document.
      type: object
    GoogleCloudDocumentaiV1DocumentRevisionHumanReview:
      id: GoogleCloudDocumentaiV1DocumentRevisionHumanReview
      properties:
        state:
          description: Human review state. e.g. `requested`, `succeeded`, `rejected`.
          type: string
        stateMessage:
          description: >-
            A message providing more details about the current state of
            processing. For example, the rejection reason when the state is
            `rejected`.
          type: string
      type: object
      description: Human Review information of the document.
    GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument:
      id: GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument
      properties:
        documentId:
          description: An internal identifier for document.
          type: string
      type: object
    GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage:
      type: object
      id: GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
      properties:
        confidence:
          description: Confidence of detected language. Range `[0, 1]`.
          type: number
          format: float
        languageCode:
          type: string
          description: >-
            The [BCP-47 language
            code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier),
            such as `en-US` or `sr-Latn`.
      description: Detected language for a structural component.
    GoogleCloudDocumentaiV1DocumentEntityNormalizedValue:
      id: GoogleCloudDocumentaiV1DocumentEntityNormalizedValue
      type: object
      description: Parsed and normalized entity value.
      properties:
        text:
          type: string
          description: >-
            Optional. An optional field to store a normalized string. For some
            entity types, one of respective `structured_value` fields may also
            be populated. Also not all the types of `structured_value` will be
            normalized. For example, some processors may not generate `float` or
            `integer` normalized text by default. Below are sample formats
            mapped to structured values. - Money/Currency type (`money_value`)
            is in the ISO 4217 text format. - Date type (`date_value`) is in the
            ISO 8601 text format. - Datetime type (`datetime_value`) is in the
            ISO 8601 text format.
        addressValue:
          description: >-
            Postal address. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto
          $ref: '#/components/schemas/GoogleTypePostalAddress'
        booleanValue:
          description: >-
            Boolean value. Can be used for entities with binary values, or for
            checkboxes.
          type: boolean
        dateValue:
          description: >-
            Date value. Includes year, month, day. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/date.proto
          $ref: '#/components/schemas/GoogleTypeDate'
        floatValue:
          format: float
          type: number
          description: Float value.
        integerValue:
          format: int32
          description: Integer value.
          type: integer
        moneyValue:
          $ref: '#/components/schemas/GoogleTypeMoney'
          description: >-
            Money value. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/money.proto
        datetimeValue:
          description: >-
            DateTime value. Includes date, time, and timezone. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto
          $ref: '#/components/schemas/GoogleTypeDateTime'
    GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow:
      description: A row of table cells.
      id: GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow
      properties:
        cells:
          type: array
          description: Cells that make up this row.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell
      type: object
    GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata:
      type: object
      properties:
        commonMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
          description: The basic metadata of the long-running operation.
      description: >-
        The long-running operation metadata for the UndeployProcessorVersion
        method.
      id: GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata
    GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata:
      description: The metadata proto of ResyncDataset method.
      type: object
      properties:
        datasetResyncStatuses:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus
          description: >-
            The list of dataset resync statuses. Not checked when
            `dataset_documents` is specified in ResyncRequest.
        individualDocumentResyncStatuses:
          description: >-
            The list of document resync statuses. The same document could have
            multiple `individual_document_resync_statuses` if it has multiple
            inconsistencies.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus
        commonMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
          description: The basic metadata of the long running operation.
      id: GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata
    GoogleCloudDocumentaiV1beta3ReviewDocumentResponse:
      description: Response message for the ReviewDocument method.
      id: GoogleCloudDocumentaiV1beta3ReviewDocumentResponse
      properties:
        state:
          enumDescriptions:
            - The default value. This value is used if the state is omitted.
            - The review operation is rejected by the reviewer.
            - The review operation is succeeded.
          description: The state of the review operation.
          enum:
            - STATE_UNSPECIFIED
            - REJECTED
            - SUCCEEDED
          type: string
        rejectionReason:
          type: string
          description: The reason why the review is rejected by reviewer.
        gcsDestination:
          description: >-
            The Cloud Storage uri for the human reviewed document if the review
            is succeeded.
          type: string
      type: object
    GoogleCloudDocumentaiV1beta1DocumentPageParagraph:
      description: A collection of lines that a human would perceive as a paragraph.
      type: object
      id: GoogleCloudDocumentaiV1beta1DocumentPageParagraph
      properties:
        provenance:
          description: The history of this annotation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentProvenance'
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage
          description: A list of detected languages together with confidence.
          type: array
        layout:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageLayout'
          description: Layout for Paragraph.
    GoogleCloudDocumentaiV1DocumentSchemaEntityType:
      description: >-
        EntityType is the wrapper of a label of the corresponding model with
        detailed attributes and limitations for entity-based processors.
        Multiple types can also compose a dependency tree to represent nested
        types.
      id: GoogleCloudDocumentaiV1DocumentSchemaEntityType
      type: object
      properties:
        properties:
          description: Description the nested structure, or composition of an entity.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentSchemaEntityTypeProperty
          type: array
        displayName:
          type: string
          description: User defined name for the type.
        enumValues:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1DocumentSchemaEntityTypeEnumValues
          description: >-
            If specified, lists all the possible values for this entity. This
            should not be more than a handful of values. If the number of values
            is >10 or could change frequently use the
            `EntityType.value_ontology` field and specify a list of all possible
            values in a value ontology file.
        name:
          type: string
          description: >-
            Name of the type. It must be unique within the schema file and
            cannot be a "Common Type". The following naming conventions are
            used: - Use `snake_casing`. - Name matching is case-sensitive. -
            Maximum 64 characters. - Must start with a letter. - Allowed
            characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility
            internal infrastructure and tooling can handle any ascii character.)
            - The `/` is sometimes used to denote a property of a type. For
            example `line_item/amount`. This convention is deprecated, but will
            still be honored for backward compatibility.
        baseTypes:
          description: >-
            The entity type that this type is derived from. For now, one and
            only one should be set.
          type: array
          items:
            type: string
    GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata:
      properties:
        individualExportStatuses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus
          type: array
          description: The list of response details of each document.
        commonMetadata:
          description: The basic metadata of the long running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
        splitExportStats:
          type: array
          description: The list of statistics for each dataset split type.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat
      type: object
      description: Metadata of the batch export documents operation.
      id: GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata
    GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus:
      type: object
      properties:
        documentId:
          $ref: '#/components/schemas/GoogleCloudDocumentaiUiv1beta3DocumentId'
          description: The path to source docproto of the document.
        status:
          $ref: '#/components/schemas/GoogleRpcStatus'
          description: The status of the exporting of the document.
        outputGcsDestination:
          description: >-
            The output_gcs_destination of the exported document if it was
            successful, otherwise empty.
          type: string
      id: >-
        GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus
      description: The status of each individual document in the export process.
    GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult:
      description: >-
        The validation status of each import config. Status is set to errors if
        there is no documents to import in the import_config, or OK if the
        operation will try to proceed at least one document.
      type: object
      id: >-
        GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult
      properties:
        inputGcsSource:
          type: string
          description: The source Cloud Storage URI specified in the import config.
        status:
          description: The validation status of import config.
          $ref: '#/components/schemas/GoogleRpcStatus'
    GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata:
      id: GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata
      type: object
      description: >-
        The long-running operation metadata for the SetDefaultProcessorVersion
        method.
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1CommonOperationMetadata'
    GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata:
      properties:
        commonMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
          description: The basic metadata of the long-running operation.
      type: object
      id: GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata
      description: >-
        The long-running operation metadata for updating the human review
        configuration.
    GoogleCloudDocumentaiV1DocumentProvenance:
      properties:
        id:
          type: integer
          description: >-
            The Id of this operation. Needs to be unique within the scope of the
            revision.
          format: int32
        type:
          description: The type of provenance operation.
          type: string
          enum:
            - OPERATION_TYPE_UNSPECIFIED
            - ADD
            - REMOVE
            - UPDATE
            - REPLACE
            - EVAL_REQUESTED
            - EVAL_APPROVED
            - EVAL_SKIPPED
          enumDescriptions:
            - >-
              Operation type unspecified. If no operation is specified a
              provenance entry is simply used to match against a `parent`.
            - Add an element.
            - Remove an element identified by `parent`.
            - >-
              Updates any fields within the given provenance scope of the
              message. It overwrites the fields rather than replacing them. Use
              this when you want to update a field value of an entity without
              also updating all the child properties.
            - Currently unused. Replace an element identified by `parent`.
            - >-
              Deprecated. Request human review for the element identified by
              `parent`.
            - >-
              Deprecated. Element is reviewed and approved at human review,
              confidence will be set to 1.0.
            - Deprecated. Element is skipped in the validation process.
        parents:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentProvenanceParent
          description: References to the original elements that are replaced.
          type: array
        revision:
          type: integer
          format: int32
          description: The index of the revision that produced this element.
      id: GoogleCloudDocumentaiV1DocumentProvenance
      description: >-
        Structure to identify provenance relationships between annotations in
        different revisions.
      type: object
    GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus:
      type: object
      description: The status of individual documents in the auto-labeling process.
      id: >-
        GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus
      properties:
        status:
          $ref: '#/components/schemas/GoogleRpcStatus'
          description: The status of the document auto-labeling.
        gcsUri:
          type: string
          description: >-
            The gcs_uri of the auto-labeling document, which uniquely identifies
            a dataset document.
    GoogleCloudDocumentaiV1beta1DocumentStyleFontSize:
      properties:
        size:
          type: number
          format: float
          description: Font size for the text.
        unit:
          description: >-
            Unit for the font size. Follows CSS naming (such as `in`, `px`, and
            `pt`).
          type: string
      id: GoogleCloudDocumentaiV1beta1DocumentStyleFontSize
      type: object
      description: Font size with unit.
    GoogleCloudDocumentaiV1ReviewDocumentRequest:
      description: Request message for the ReviewDocument method.
      id: GoogleCloudDocumentaiV1ReviewDocumentRequest
      properties:
        priority:
          type: string
          description: The priority of the human review task.
          enumDescriptions:
            - The default priority level.
            - >-
              The urgent priority level. The labeling manager should allocate
              labeler resource to the urgent task queue to respect this priority
              level.
          enum:
            - DEFAULT
            - URGENT
        documentSchema:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentSchema'
          description: The document schema of the human review task.
        inlineDocument:
          description: An inline document proto.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1Document'
        enableSchemaValidation:
          type: boolean
          description: >-
            Whether the validation should be performed on the ad-hoc review
            request.
      type: object
    GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse:
      properties: {}
      description: Response message for the SetDefaultProcessorVersion method.
      id: GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse
      type: object
    GoogleLongrunningListOperationsResponse:
      properties:
        nextPageToken:
          description: The standard List next-page token.
          type: string
        operations:
          items:
            $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: >-
            A list of operations that matches the specified filter in the
            request.
          type: array
      type: object
      id: GoogleLongrunningListOperationsResponse
      description: The response message for Operations.ListOperations.
    GoogleCloudDocumentaiV1DocumentPageTable:
      properties:
        provenance:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance'
          description: The history of this table.
        headerRows:
          type: array
          description: Header rows of the table.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentPageTableTableRow
        layout:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout'
          description: Layout for Table.
        bodyRows:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentPageTableTableRow
          type: array
          description: Body rows of the table.
        detectedLanguages:
          description: A list of detected languages together with confidence.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage
      id: GoogleCloudDocumentaiV1DocumentPageTable
      type: object
      description: A table representation similar to HTML table structure.
    GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata:
      description: Metadata of the import document operation.
      type: object
      properties:
        totalDocumentCount:
          format: int32
          type: integer
          description: Total number of the documents that are qualified for importing.
        commonMetadata:
          description: The basic metadata of the long running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
        individualImportStatuses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus
          description: The list of response details of each document.
          type: array
        importConfigValidationResults:
          description: Validation statuses of the batch documents import config.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult
      id: GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata
    GoogleCloudDocumentaiV1beta1DocumentPageSymbol:
      properties:
        layout:
          description: Layout for Symbol.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageLayout'
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage
          type: array
          description: A list of detected languages together with confidence.
      id: GoogleCloudDocumentaiV1beta1DocumentPageSymbol
      type: object
      description: A detected symbol.
    GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScoresDetectedDefect:
      type: object
      description: Image Quality Defects
      id: GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScoresDetectedDefect
      properties:
        type:
          type: string
          description: >-
            Name of the defect type. Supported values are: -
            `quality/defect_blurry` - `quality/defect_noisy` -
            `quality/defect_dark` - `quality/defect_faint` -
            `quality/defect_text_too_small` - `quality/defect_document_cutoff` -
            `quality/defect_text_cutoff` - `quality/defect_glare`
        confidence:
          description: >-
            Confidence of detected defect. Range `[0, 1]` where `1` indicates
            strong confidence that the defect exists.
          type: number
          format: float
    GoogleCloudDocumentaiV1beta2GcsSource:
      properties:
        uri:
          type: string
      type: object
      id: GoogleCloudDocumentaiV1beta2GcsSource
      description: >-
        The Google Cloud Storage location where the input file will be read
        from.
    GoogleCloudDocumentaiV1TrainProcessorVersionRequestInputData:
      type: object
      description: The input data used to train a new ProcessorVersion.
      id: GoogleCloudDocumentaiV1TrainProcessorVersionRequestInputData
      properties:
        testDocuments:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1BatchDocumentsInputConfig
          description: The documents used for testing the trained version.
        trainingDocuments:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1BatchDocumentsInputConfig
          description: The documents used for training the new version.
    GoogleCloudDocumentaiV1GcsDocuments:
      type: object
      description: Specifies a set of documents on Cloud Storage.
      properties:
        documents:
          description: The list of documents.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1GcsDocument'
      id: GoogleCloudDocumentaiV1GcsDocuments
    GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus:
      properties:
        humanReviewStatus:
          description: The status of human review on the processed document.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1HumanReviewStatus'
        outputGcsDestination:
          type: string
          description: >-
            The Cloud Storage output destination (in the request as
            DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed
            document if it was successful, otherwise empty.
        inputGcsSource:
          description: >-
            The source of the document, same as the input_gcs_source field in
            the request when the batch process started.
          type: string
        status:
          description: The status processing the document.
          $ref: '#/components/schemas/GoogleRpcStatus'
      type: object
      description: The status of a each individual document in the batch process.
      id: GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus
    GoogleCloudDocumentaiV1DocumentRevision:
      type: object
      description: Contains past or forward revisions of this document.
      properties:
        parent:
          items:
            type: integer
            format: int32
          description: >-
            The revisions that this revision is based on. This can include one
            or more parent (when documents are merged.) This field represents
            the index into the `revisions` field.
          type: array
        createTime:
          type: string
          format: google-datetime
          description: >-
            The time that the revision was created, internally generated by doc
            proto storage at the time of create.
        humanReview:
          description: Human Review information of this revision.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1DocumentRevisionHumanReview
        parentIds:
          type: array
          items:
            type: string
          description: >-
            The revisions that this revision is based on. Must include all the
            ids that have anything to do with this revision - eg. there are
            `provenance.parent.revision` fields that index into this field.
        agent:
          type: string
          description: >-
            If the change was made by a person specify the name or id of that
            person.
        processor:
          description: >-
            If the annotation was made by processor identify the processor by
            its resource name.
          type: string
        id:
          description: >-
            Id of the revision, internally generated by doc proto storage.
            Unique within the context of the document.
          type: string
      id: GoogleCloudDocumentaiV1DocumentRevision
    GoogleCloudDocumentaiV1DocumentPageDimension:
      description: Dimension for the page.
      properties:
        width:
          type: number
          description: Page width.
          format: float
        height:
          type: number
          description: Page height.
          format: float
        unit:
          description: Dimension unit.
          type: string
      id: GoogleCloudDocumentaiV1DocumentPageDimension
      type: object
    GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell:
      type: object
      properties:
        colSpan:
          type: integer
          format: int32
          description: How many columns this cell spans.
        detectedLanguages:
          type: array
          description: A list of detected languages together with confidence.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage
        rowSpan:
          description: How many rows this cell spans.
          type: integer
          format: int32
        layout:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPageLayout'
          description: Layout for TableCell.
      description: A cell representation inside the table.
      id: GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell
    GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect:
      properties:
        confidence:
          format: float
          description: >-
            Confidence of detected defect. Range `[0, 1]` where `1` indicates
            strong confidence that the defect exists.
          type: number
        type:
          description: >-
            Name of the defect type. Supported values are: -
            `quality/defect_blurry` - `quality/defect_noisy` -
            `quality/defect_dark` - `quality/defect_faint` -
            `quality/defect_text_too_small` - `quality/defect_document_cutoff` -
            `quality/defect_text_cutoff` - `quality/defect_glare`
          type: string
      type: object
      description: Image Quality Defects
      id: GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect
    GoogleCloudDocumentaiV1beta2InputConfig:
      description: The desired input location and metadata.
      properties:
        gcsSource:
          description: >-
            The Google Cloud Storage location to read the input from. This must
            be a single file.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2GcsSource'
        contents:
          type: string
          format: byte
          description: >-
            Content in bytes, represented as a stream of bytes. Note: As with
            all `bytes` fields, proto buffer messages use a pure binary
            representation, whereas JSON representations use base64. This field
            only works for synchronous ProcessDocument method.
        mimeType:
          type: string
          description: >-
            Required. Mimetype of the input. Current supported mimetypes are
            application/pdf, image/tiff, and image/gif. In addition,
            application/json type is supported for requests with
            ProcessDocumentRequest.automl_params field set. The JSON file needs
            to be in Document format.
      type: object
      id: GoogleCloudDocumentaiV1beta2InputConfig
    GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse:
      properties: {}
      description: The response proto of ResyncDataset method.
      id: GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse
      type: object
    GoogleCloudDocumentaiV1beta2Vertex:
      id: GoogleCloudDocumentaiV1beta2Vertex
      description: >-
        A vertex represents a 2D point in the image. NOTE: the vertex
        coordinates are in the same scale as the original image.
      properties:
        'y':
          description: Y coordinate (starts from the top of the image).
          type: integer
          format: int32
        x:
          format: int32
          type: integer
          description: X coordinate.
      type: object
    GoogleCloudDocumentaiV1beta2DocumentPageAnchor:
      properties:
        pageRefs:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageAnchorPageRef
          description: One or more references to visual page elements
      description: >-
        Referencing the visual context of the entity in the Document.pages. Page
        anchors can be cross-page, consist of multiple bounding polygons and
        optionally reference specific layout element types.
      id: GoogleCloudDocumentaiV1beta2DocumentPageAnchor
      type: object
    GoogleCloudDocumentaiV1beta1Document:
      properties:
        error:
          description: Any error that occurred while processing this document.
          $ref: '#/components/schemas/GoogleRpcStatus'
        entities:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentEntity'
          description: >-
            A list of entities detected on Document.text. For document shards,
            entities in this list may cross shard boundaries.
        entityRelations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentEntityRelation
          type: array
          description: Placeholder. Relationship among Document.entities.
        pages:
          type: array
          description: Visual page layout for the Document.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentPage'
        mimeType:
          type: string
          description: >-
            An IANA published [media type (MIME
            type)](https://www.iana.org/assignments/media-types/media-types.xhtml).
        textStyles:
          type: array
          description: Styles for the Document.text.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentStyle'
        uri:
          description: >-
            Optional. Currently supports Google Cloud Storage URI of the form
            `gs://bucket_name/object_name`. Object versioning is not supported.
            For more information, refer to [Google Cloud Storage Request
            URIs](https://cloud.google.com/storage/docs/reference-uris).
          type: string
        text:
          type: string
          description: Optional. UTF-8 encoded text in reading order from the document.
        shardInfo:
          description: >-
            Information about the sharding if this document is sharded part of a
            larger document. If the document is not sharded, this message is not
            specified.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentShardInfo'
        revisions:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta1DocumentRevision'
          type: array
          description: Placeholder. Revision history of this document.
        textChanges:
          description: >-
            Placeholder. A list of text corrections made to Document.text. This
            is usually used for annotating corrections to OCR mistakes. Text
            changes for a given revision may not overlap with each other.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta1DocumentTextChange
        content:
          format: byte
          type: string
          description: >-
            Optional. Inline document content, represented as a stream of bytes.
            Note: As with all `bytes` fields, protobuffers use a pure binary
            representation, whereas JSON representations use base64.
      description: >-
        Document represents the canonical document resource in Document AI. It
        is an interchange format that provides insights into documents and
        allows for collaboration between users and Document AI to iterate and
        optimize for quality.
      id: GoogleCloudDocumentaiV1beta1Document
      type: object
    GoogleCloudDocumentaiV1DocumentEntity:
      id: GoogleCloudDocumentaiV1DocumentEntity
      type: object
      properties:
        pageAnchor:
          description: >-
            Optional. Represents the provenance of this entity wrt. the location
            on the page where it was found.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageAnchor'
        confidence:
          format: float
          description: Optional. Confidence of detected Schema entity. Range `[0, 1]`.
          type: number
        type:
          type: string
          description: Required. Entity type from a schema e.g. `Address`.
        textAnchor:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentTextAnchor'
          description: >-
            Optional. Provenance of the entity. Text anchor indexing into the
            Document.text.
        redacted:
          description: >-
            Optional. Whether the entity will be redacted for de-identification
            purposes.
          type: boolean
        provenance:
          description: Optional. The history of this annotation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance'
        mentionText:
          type: string
          description: Optional. Text value of the entity e.g. `1600 Amphitheatre Pkwy`.
        properties:
          description: >-
            Optional. Entities can be nested to form a hierarchical data
            structure representing the content in the document.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentEntity'
        normalizedValue:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1DocumentEntityNormalizedValue
          description: >-
            Optional. Normalized entity value. Absent if the extracted value
            could not be converted or the type (e.g. address) is not supported
            for certain parsers. This field is also only populated for certain
            supported document types.
        mentionId:
          type: string
          description: Optional. Deprecated. Use `id` field instead.
        id:
          description: >-
            Optional. Canonical id. This will be a unique value in the entity
            list for this document.
          type: string
      description: >-
        An entity that could be a phrase in the text or a property that belongs
        to the document. It is a known entity type, such as a person, an
        organization, or location.
    GoogleCloudDocumentaiV1DocumentTextChange:
      type: object
      properties:
        provenance:
          type: array
          description: The history of this annotation.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance'
        textAnchor:
          description: >-
            Provenance of the correction. Text anchor indexing into the
            Document.text. There can only be a single `TextAnchor.text_segments`
            element. If the start and end index of the text segment are the
            same, the text change is inserted before that index.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentTextAnchor'
        changedText:
          type: string
          description: The text that replaces the text identified in the `text_anchor`.
      description: This message is used for text changes aka. OCR corrections.
      id: GoogleCloudDocumentaiV1DocumentTextChange
    GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak:
      id: GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak
      description: Detected break at the end of a Token.
      type: object
      properties:
        type:
          enum:
            - TYPE_UNSPECIFIED
            - SPACE
            - WIDE_SPACE
            - HYPHEN
          description: Detected break type.
          enumDescriptions:
            - Unspecified break type.
            - A single whitespace.
            - A wider whitespace.
            - A hyphen that indicates that a token has been split across lines.
          type: string
    GoogleCloudDocumentaiV1ProcessorVersionDeprecationInfo:
      type: object
      description: Information about the upcoming deprecation of this processor version.
      properties:
        replacementProcessorVersion:
          type: string
          description: If set, the processor version that will be used as a replacement.
        deprecationTime:
          format: google-datetime
          type: string
          description: The time at which this processor version will be deprecated.
      id: GoogleCloudDocumentaiV1ProcessorVersionDeprecationInfo
    GoogleCloudDocumentaiV1DocumentPage:
      type: object
      properties:
        formFields:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageFormField'
          description: A list of visually detected form fields on the page.
          type: array
        detectedLanguages:
          description: A list of detected languages together with confidence.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage
        lines:
          description: >-
            A list of visually detected text lines on the page. A collection of
            tokens that a human would perceive as a line.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLine'
          type: array
        layout:
          description: Layout for the page.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout'
        tokens:
          description: A list of visually detected tokens on the page.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageToken'
        paragraphs:
          type: array
          description: >-
            A list of visually detected text paragraphs on the page. A
            collection of lines that a human would perceive as a paragraph.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageParagraph'
        tables:
          description: A list of visually detected tables on the page.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageTable'
        transforms:
          description: >-
            Transformation matrices that were applied to the original document
            image to produce Page.image.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageMatrix'
          type: array
        blocks:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageBlock'
          description: >-
            A list of visually detected text blocks on the page. A block has a
            set of lines (collected into paragraphs) that have a common
            line-spacing and orientation.
          type: array
        imageQualityScores:
          description: Image quality scores.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1DocumentPageImageQualityScores
        visualElements:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentPageVisualElement
          description: >-
            A list of detected non-text visual elements e.g. checkbox, signature
            etc. on the page.
        pageNumber:
          type: integer
          format: int32
          description: >-
            1-based index for current Page in a parent Document. Useful when a
            page is taken out of a Document for individual processing.
        image:
          description: >-
            Rendered image for this page. This image is preprocessed to remove
            any skew, rotation, and distortions such that the annotation
            bounding boxes can be upright and axis-aligned.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageImage'
        dimension:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageDimension'
          description: Physical dimension of the page.
        symbols:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageSymbol'
          type: array
          description: A list of visually detected symbols on the page.
        provenance:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance'
          description: The history of this page.
        detectedBarcodes:
          type: array
          description: A list of detected barcodes.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedBarcode
      description: A page in a Document.
      id: GoogleCloudDocumentaiV1DocumentPage
    GoogleCloudDocumentaiV1DocumentStyle:
      properties:
        textStyle:
          type: string
          description: >-
            [Text
            style](https://www.w3schools.com/cssref/pr_font_font-style.asp).
            Possible values are `normal`, `italic`, and `oblique`.
        fontWeight:
          description: >-
            [Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp).
            Possible values are `normal`, `bold`, `bolder`, and `lighter`.
          type: string
        fontFamily:
          type: string
          description: >-
            Font family such as `Arial`, `Times New Roman`.
            https://www.w3schools.com/cssref/pr_font_font-family.asp
        fontSize:
          description: Font size.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentStyleFontSize'
        color:
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Text color.
        backgroundColor:
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Text background color.
        textDecoration:
          description: >-
            [Text
            decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp).
            Follows CSS standard. 
          type: string
        textAnchor:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentTextAnchor'
          description: Text anchor indexing into the Document.text.
      description: >-
        Annotation for common text style attributes. This adheres to CSS
        conventions as much as possible.
      type: object
      id: GoogleCloudDocumentaiV1DocumentStyle
    GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse:
      description: Response of the EvaluateProcessorVersion method.
      properties:
        evaluation:
          description: The resource name of the created evaluation.
          type: string
      type: object
      id: GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse
    GoogleCloudDocumentaiV1beta2DocumentPage:
      properties:
        formFields:
          description: A list of visually detected form fields on the page.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageFormField
          type: array
        detectedLanguages:
          description: A list of detected languages together with confidence.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
        symbols:
          type: array
          description: A list of visually detected symbols on the page.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageSymbol
        lines:
          type: array
          description: >-
            A list of visually detected text lines on the page. A collection of
            tokens that a human would perceive as a line.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLine'
        provenance:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentProvenance'
          description: The history of this page.
        imageQualityScores:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores
          description: Image quality scores.
        blocks:
          description: >-
            A list of visually detected text blocks on the page. A block has a
            set of lines (collected into paragraphs) that have a common
            line-spacing and orientation.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageBlock'
        layout:
          description: Layout for the page.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLayout'
        pageNumber:
          type: integer
          format: int32
          description: >-
            1-based index for current Page in a parent Document. Useful when a
            page is taken out of a Document for individual processing.
        transforms:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageMatrix
          description: >-
            Transformation matrices that were applied to the original document
            image to produce Page.image.
        tokens:
          description: A list of visually detected tokens on the page.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageToken'
        detectedBarcodes:
          description: A list of detected barcodes.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode
        tables:
          type: array
          description: A list of visually detected tables on the page.
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageTable'
        dimension:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDimension
          description: Physical dimension of the page.
        visualElements:
          description: >-
            A list of detected non-text visual elements e.g. checkbox, signature
            etc. on the page.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageVisualElement
        paragraphs:
          type: array
          description: >-
            A list of visually detected text paragraphs on the page. A
            collection of lines that a human would perceive as a paragraph.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageParagraph
        image:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageImage'
          description: >-
            Rendered image for this page. This image is preprocessed to remove
            any skew, rotation, and distortions such that the annotation
            bounding boxes can be upright and axis-aligned.
      type: object
      description: A page in a Document.
      id: GoogleCloudDocumentaiV1beta2DocumentPage
    GoogleCloudDocumentaiV1beta1DocumentPageDimension:
      id: GoogleCloudDocumentaiV1beta1DocumentPageDimension
      description: Dimension for the page.
      type: object
      properties:
        height:
          type: number
          description: Page height.
          format: float
        width:
          type: number
          format: float
          description: Page width.
        unit:
          description: Dimension unit.
          type: string
    GoogleCloudDocumentaiV1beta2DocumentPageTable:
      properties:
        bodyRows:
          description: Body rows of the table.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow
          type: array
        layout:
          description: Layout for Table.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLayout'
        provenance:
          description: The history of this table.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentProvenance'
        headerRows:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow
          description: Header rows of the table.
          type: array
        detectedLanguages:
          type: array
          description: A list of detected languages together with confidence.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
      description: A table representation similar to HTML table structure.
      id: GoogleCloudDocumentaiV1beta2DocumentPageTable
      type: object
    GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata:
      properties:
        commonMetadata:
          description: The basic metadata for the long-running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta3CommonOperationMetadata
      type: object
      description: >-
        The long-running operation metadata for the ImportProcessorVersion
        method.
      id: GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata
    GoogleCloudDocumentaiV1DocumentPageLine:
      id: GoogleCloudDocumentaiV1DocumentPageLine
      type: object
      properties:
        detectedLanguages:
          type: array
          description: A list of detected languages together with confidence.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage
        provenance:
          description: The history of this annotation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance'
        layout:
          description: Layout for Line.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout'
      description: >-
        A collection of tokens that a human would perceive as a line. Does not
        cross column boundaries, can be horizontal, vertical, etc.
    GoogleCloudDocumentaiV1beta2DocumentPageVisualElement:
      properties:
        type:
          type: string
          description: Type of the VisualElement.
        layout:
          description: Layout for VisualElement.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLayout'
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
          description: A list of detected languages together with confidence.
          type: array
      type: object
      id: GoogleCloudDocumentaiV1beta2DocumentPageVisualElement
      description: >-
        Detected non-text visual elements e.g. checkbox, signature etc. on the
        page.
    GoogleCloudDocumentaiV1beta2DocumentPageSymbol:
      properties:
        layout:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLayout'
          description: Layout for Symbol.
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
          type: array
          description: A list of detected languages together with confidence.
      description: A detected symbol.
      type: object
      id: GoogleCloudDocumentaiV1beta2DocumentPageSymbol
    GoogleCloudDocumentaiV1beta2DocumentRevision:
      id: GoogleCloudDocumentaiV1beta2DocumentRevision
      description: Contains past or forward revisions of this document.
      properties:
        humanReview:
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview
          description: Human Review information of this revision.
        createTime:
          format: google-datetime
          type: string
          description: >-
            The time that the revision was created, internally generated by doc
            proto storage at the time of create.
        parent:
          description: >-
            The revisions that this revision is based on. This can include one
            or more parent (when documents are merged.) This field represents
            the index into the `revisions` field.
          items:
            format: int32
            type: integer
          type: array
        agent:
          type: string
          description: >-
            If the change was made by a person specify the name or id of that
            person.
        processor:
          type: string
          description: >-
            If the annotation was made by processor identify the processor by
            its resource name.
        parentIds:
          items:
            type: string
          type: array
          description: >-
            The revisions that this revision is based on. Must include all the
            ids that have anything to do with this revision - eg. there are
            `provenance.parent.revision` fields that index into this field.
        id:
          description: >-
            Id of the revision, internally generated by doc proto storage.
            Unique within the context of the document.
          type: string
      type: object
    GoogleTypeMoney:
      description: Represents an amount of money with its currency type.
      properties:
        currencyCode:
          type: string
          description: The three-letter currency code defined in ISO 4217.
        nanos:
          description: >-
            Number of nano (10^-9) units of the amount. The value must be
            between -999,999,999 and +999,999,999 inclusive. If `units` is
            positive, `nanos` must be positive or zero. If `units` is zero,
            `nanos` can be positive, zero, or negative. If `units` is negative,
            `nanos` must be negative or zero. For example $-1.75 is represented
            as `units`=-1 and `nanos`=-750,000,000.
          format: int32
          type: integer
        units:
          type: string
          format: int64
          description: >-
            The whole units of the amount. For example if `currencyCode` is
            `"USD"`, then 1 unit is one US dollar.
      type: object
      id: GoogleTypeMoney
    GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse:
      type: object
      properties: {}
      id: GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse
      description: Response message for the UndeployProcessorVersion method.
    GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage:
      id: GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage
      type: object
      properties:
        confidence:
          format: float
          description: Confidence of detected language. Range `[0, 1]`.
          type: number
        languageCode:
          description: >-
            The [BCP-47 language
            code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier),
            such as `en-US` or `sr-Latn`.
          type: string
      description: Detected language for a structural component.
    GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics:
      description: Evaluations metrics, at a specific confidence level.
      properties:
        metrics:
          description: The metrics at the specific confidence level.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1EvaluationMetrics'
        confidenceLevel:
          description: The confidence level.
          type: number
          format: float
      type: object
      id: GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics
    GoogleCloudDocumentaiV1UndeployProcessorVersionResponse:
      description: Response message for the UndeployProcessorVersion method.
      type: object
      id: GoogleCloudDocumentaiV1UndeployProcessorVersionResponse
      properties: {}
    GoogleCloudDocumentaiV1ListEvaluationsResponse:
      type: object
      id: GoogleCloudDocumentaiV1ListEvaluationsResponse
      properties:
        evaluations:
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1Evaluation'
          type: array
          description: The evaluations requested.
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
      description: The response from `ListEvaluations`.
    GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata:
      id: GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      description: Metadata of the EvaluateProcessorVersion method.
      type: object
    GoogleCloudDocumentaiV1beta2DocumentPageBlock:
      description: >-
        A block has a set of lines (collected into paragraphs) that have a
        common line-spacing and orientation.
      properties:
        provenance:
          description: The history of this annotation.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentProvenance'
        layout:
          description: Layout for Block.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLayout'
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage
          description: A list of detected languages together with confidence.
          type: array
      id: GoogleCloudDocumentaiV1beta2DocumentPageBlock
      type: object
    GoogleCloudDocumentaiV1RawDocument:
      id: GoogleCloudDocumentaiV1RawDocument
      description: Payload message of raw document content (bytes).
      properties:
        content:
          type: string
          description: Inline document content.
          format: byte
        mimeType:
          type: string
          description: >-
            An IANA MIME type (RFC6838) indicating the nature and format of the
            content.
      type: object
    GoogleCloudDocumentaiV1beta2DocumentLabel:
      id: GoogleCloudDocumentaiV1beta2DocumentLabel
      description: >-
        Label attaches schema information and/or other metadata to segments
        within a Document. Multiple Labels on a single field can denote either
        different labels, different instances of the same label created at
        different times, or some combination of both.
      type: object
      properties:
        confidence:
          format: float
          description: Confidence score between 0 and 1 for label assignment.
          type: number
        name:
          type: string
          description: >-
            Name of the label. When the label is generated from AutoML Text
            Classification model, this field represents the name of the
            category.
        automlModel:
          type: string
          description: >-
            Label is generated AutoML model. This field stores the full resource
            name of the AutoML model. Format:
            `projects/{project-id}/locations/{location-id}/models/{model-id}`
    GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode:
      description: A detected barcode.
      id: GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode
      type: object
      properties:
        layout:
          description: Layout for DetectedBarcode.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentPageLayout'
        barcode:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2Barcode'
          description: Detailed barcode information of the DetectedBarcode.
    GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse:
      description: Response of the EvaluateProcessorVersion method.
      type: object
      id: GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse
      properties:
        evaluation:
          type: string
          description: The resource name of the created evaluation.
    GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScoresDetectedDefect:
      properties:
        type:
          type: string
          description: >-
            Name of the defect type. Supported values are: -
            `quality/defect_blurry` - `quality/defect_noisy` -
            `quality/defect_dark` - `quality/defect_faint` -
            `quality/defect_text_too_small` - `quality/defect_document_cutoff` -
            `quality/defect_text_cutoff` - `quality/defect_glare`
        confidence:
          type: number
          format: float
          description: >-
            Confidence of detected defect. Range `[0, 1]` where `1` indicates
            strong confidence that the defect exists.
      description: Image Quality Defects
      id: GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScoresDetectedDefect
      type: object
    GoogleCloudDocumentaiV1beta2BoundingPoly:
      id: GoogleCloudDocumentaiV1beta2BoundingPoly
      type: object
      description: A bounding polygon for the detected image annotation.
      properties:
        normalizedVertices:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2NormalizedVertex'
          description: The bounding polygon normalized vertices.
        vertices:
          description: The bounding polygon vertices.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2Vertex'
    GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata:
      type: object
      properties:
        commonMetadata:
          description: The basic metadata of the long-running operation.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata
      description: The long-running operation metadata for the CreateLabelerPool method.
      id: GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata
    GoogleCloudDocumentaiV1beta2DocumentPageTokenStyleInfo:
      id: GoogleCloudDocumentaiV1beta2DocumentPageTokenStyleInfo
      description: Font and other text style attributes.
      type: object
      properties:
        italic:
          type: boolean
          description: Whether the text is italic.
        backgroundColor:
          description: Color of the background.
          $ref: '#/components/schemas/GoogleTypeColor'
        fontType:
          description: Name or style of the font.
          type: string
        handwritten:
          description: Whether the text is handwritten.
          type: boolean
        subscript:
          type: boolean
          description: Whether the text is a subscript.
        fontWeight:
          format: int32
          type: integer
          description: >-
            TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy).
            Normal is `400`, bold is `700`.
        superscript:
          type: boolean
          description: Whether the text is a superscript.
        strikeout:
          type: boolean
          description: Whether the text is strikethrough.
        letterSpacing:
          format: double
          description: Letter spacing in points.
          type: number
        pixelFontSize:
          format: double
          description: >-
            Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷
            `72.0`.
          type: number
        textColor:
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Color of the text.
        underlined:
          description: Whether the text is underlined.
          type: boolean
        smallcaps:
          description: Whether the text is in small caps.
          type: boolean
        bold:
          type: boolean
          description: >-
            Whether the text is bold (equivalent to font_weight is at least
            `700`).
        fontSize:
          description: Font size in points (`1` point is `¹⁄₇₂` inches).
          type: integer
          format: int32
    GoogleCloudDocumentaiV1beta2DocumentStyle:
      description: >-
        Annotation for common text style attributes. This adheres to CSS
        conventions as much as possible.
      type: object
      properties:
        textStyle:
          type: string
          description: >-
            [Text
            style](https://www.w3schools.com/cssref/pr_font_font-style.asp).
            Possible values are `normal`, `italic`, and `oblique`.
        fontFamily:
          type: string
          description: >-
            Font family such as `Arial`, `Times New Roman`.
            https://www.w3schools.com/cssref/pr_font_font-family.asp
        textAnchor:
          description: Text anchor indexing into the Document.text.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2DocumentTextAnchor'
        textDecoration:
          description: >-
            [Text
            decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp).
            Follows CSS standard. 
          type: string
        fontWeight:
          type: string
          description: >-
            [Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp).
            Possible values are `normal`, `bold`, `bolder`, and `lighter`.
        fontSize:
          description: Font size.
          $ref: >-
            #/components/schemas/GoogleCloudDocumentaiV1beta2DocumentStyleFontSize
        backgroundColor:
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Text background color.
        color:
          description: Text color.
          $ref: '#/components/schemas/GoogleTypeColor'
      id: GoogleCloudDocumentaiV1beta2DocumentStyle
    GoogleCloudDocumentaiV1beta2OutputConfig:
      properties:
        pagesPerShard:
          type: integer
          description: >-
            The max number of pages to include into each output Document shard
            JSON on Google Cloud Storage. The valid range is [1, 100]. If not
            specified, the default value is 20. For example, for one pdf file
            with 100 pages, 100 parsed pages will be produced. If
            `pages_per_shard` = 20, then 5 Document shard JSON files each
            containing 20 parsed pages will be written under the prefix
            OutputConfig.gcs_destination.uri and suffix pages-x-to-y.json where
            x and y are 1-indexed page numbers. Example GCS outputs with 157
            pages and pages_per_shard = 50: pages-001-to-050.json
            pages-051-to-100.json pages-101-to-150.json pages-151-to-157.json
          format: int32
        gcsDestination:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1beta2GcsDestination'
          description: The Google Cloud Storage location to write the output to.
      description: The desired output location and metadata.
      id: GoogleCloudDocumentaiV1beta2OutputConfig
      type: object
    GoogleCloudDocumentaiV1beta2BatchProcessDocumentsResponse:
      type: object
      properties:
        responses:
          type: array
          description: Responses for each individual document.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1beta2ProcessDocumentResponse
      description: >-
        Response to an batch document processing request. This is returned in
        the LRO Operation after the operation is complete.
      id: GoogleCloudDocumentaiV1beta2BatchProcessDocumentsResponse
    GoogleCloudDocumentaiV1beta3CommonOperationMetadata:
      properties:
        state:
          description: The state of the operation.
          enum:
            - STATE_UNSPECIFIED
            - RUNNING
            - CANCELLING
            - SUCCEEDED
            - FAILED
            - CANCELLED
          enumDescriptions:
            - Unspecified state.
            - Operation is still running.
            - Operation is being cancelled.
            - Operation succeeded.
            - Operation failed.
            - Operation is cancelled.
          type: string
        updateTime:
          description: The last update time of the operation.
          format: google-datetime
          type: string
        resource:
          description: A related resource to this operation.
          type: string
        stateMessage:
          description: >-
            A message providing more details about the current state of
            processing.
          type: string
        createTime:
          description: The creation time of the operation.
          format: google-datetime
          type: string
      type: object
      id: GoogleCloudDocumentaiV1beta3CommonOperationMetadata
      description: The common metadata for long running operations.
    GoogleCloudDocumentaiV1DocumentSchemaEntityTypeProperty:
      type: object
      description: Defines properties that can be part of the entity type.
      id: GoogleCloudDocumentaiV1DocumentSchemaEntityTypeProperty
      properties:
        name:
          description: >-
            The name of the property. Follows the same guidelines as the
            EntityType name.
          type: string
        valueType:
          type: string
          description: >-
            A reference to the value type of the property. This type is subject
            to the same conventions as the `Entity.base_types` field.
        occurrenceType:
          enum:
            - OCCURRENCE_TYPE_UNSPECIFIED
            - OPTIONAL_ONCE
            - OPTIONAL_MULTIPLE
            - REQUIRED_ONCE
            - REQUIRED_MULTIPLE
          type: string
          description: >-
            Occurrence type limits the number of instances an entity type
            appears in the document.
          enumDescriptions:
            - Unspecified occurrence type.
            - >-
              There will be zero or one instance of this entity type. The same
              entity instance may be mentioned multiple times.
            - The entity type will appear zero or multiple times.
            - >-
              The entity type will only appear exactly once. The same entity
              instance may be mentioned multiple times.
            - The entity type will appear once or more times.
    GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue:
      type: object
      properties:
        text:
          description: >-
            Optional. An optional field to store a normalized string. For some
            entity types, one of respective `structured_value` fields may also
            be populated. Also not all the types of `structured_value` will be
            normalized. For example, some processors may not generate `float` or
            `integer` normalized text by default. Below are sample formats
            mapped to structured values. - Money/Currency type (`money_value`)
            is in the ISO 4217 text format. - Date type (`date_value`) is in the
            ISO 8601 text format. - Datetime type (`datetime_value`) is in the
            ISO 8601 text format.
          type: string
        floatValue:
          type: number
          description: Float value.
          format: float
        dateValue:
          description: >-
            Date value. Includes year, month, day. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/date.proto
          $ref: '#/components/schemas/GoogleTypeDate'
        booleanValue:
          type: boolean
          description: >-
            Boolean value. Can be used for entities with binary values, or for
            checkboxes.
        integerValue:
          type: integer
          format: int32
          description: Integer value.
        moneyValue:
          $ref: '#/components/schemas/GoogleTypeMoney'
          description: >-
            Money value. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/money.proto
        datetimeValue:
          $ref: '#/components/schemas/GoogleTypeDateTime'
          description: >-
            DateTime value. Includes date, time, and timezone. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto
        addressValue:
          description: >-
            Postal address. See also:
            https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto
          $ref: '#/components/schemas/GoogleTypePostalAddress'
      id: GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue
      description: Parsed and normalized entity value.
    GoogleCloudDocumentaiV1ProcessorType:
      description: >-
        A processor type is responsible for performing a certain document
        understanding task on a certain type of document.
      properties:
        category:
          type: string
          description: The processor category, used by UI to group processor types.
        type:
          type: string
          description: 'The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`.'
        launchStage:
          description: Launch stage of the processor type
          type: string
          enumDescriptions:
            - Do not use this default value.
            - The feature is not yet implemented. Users can not use it.
            - >-
              Prelaunch features are hidden from users and are only visible
              internally.
            - >-
              Early Access features are limited to a closed group of testers. To
              use these features, you must sign up in advance and sign a Trusted
              Tester agreement (which includes confidentiality provisions).
              These features may be unstable, changed in backward-incompatible
              ways, and are not guaranteed to be released.
            - >-
              Alpha is a limited availability test for releases before they are
              cleared for widespread use. By Alpha, all significant design
              issues are resolved and we are in the process of verifying
              functionality. Alpha customers need to apply for access, agree to
              applicable terms, and have their projects allowlisted. Alpha
              releases don't have to be feature complete, no SLAs are provided,
              and there are no technical support obligations, but they will be
              far enough along that customers can actually use them in test
              environments or for limited-use tests -- just like they would in
              normal production cases.
            - >-
              Beta is the point at which we are ready to open a release for any
              customer to use. There are no SLA or technical support obligations
              in a Beta release. Products will be complete from a feature
              perspective, but may have some open outstanding issues. Beta
              releases are suitable for limited production use cases.
            - >-
              GA features are open to all developers and are considered stable
              and fully qualified for production use.
            - >-
              Deprecated features are scheduled to be shut down and removed. For
              more information, see the "Deprecation Policy" section of our
              [Terms of Service](https://cloud.google.com/terms/) and the
              [Google Cloud Platform Subject to the Deprecation
              Policy](https://cloud.google.com/terms/deprecation) documentation.
          enum:
            - LAUNCH_STAGE_UNSPECIFIED
            - UNIMPLEMENTED
            - PRELAUNCH
            - EARLY_ACCESS
            - ALPHA
            - BETA
            - GA
            - DEPRECATED
        sampleDocumentUris:
          description: A set of Cloud Storage URIs of sample documents for this processor.
          items:
            type: string
          type: array
        availableLocations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1ProcessorTypeLocationInfo
          description: The locations in which this processor is available.
          type: array
        name:
          description: >-
            The resource name of the processor type. Format:
            `projects/{project}/processorTypes/{processor_type}`
          type: string
        allowCreation:
          type: boolean
          description: >-
            Whether the processor type allows creation. If true, users can
            create a processor of this processor type. Otherwise, users need to
            request access.
      id: GoogleCloudDocumentaiV1ProcessorType
      type: object
    GoogleCloudDocumentaiV1ListProcessorTypesResponse:
      description: Response message for the ListProcessorTypes method.
      properties:
        nextPageToken:
          type: string
          description: Points to the next page, otherwise empty.
        processorTypes:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDocumentaiV1ProcessorType'
          description: The processor types.
      id: GoogleCloudDocumentaiV1ListProcessorTypesResponse
      type: object
    GoogleCloudDocumentaiV1DocumentPageBlock:
      description: >-
        A block has a set of lines (collected into paragraphs) that have a
        common line-spacing and orientation.
      type: object
      properties:
        provenance:
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentProvenance'
          description: The history of this annotation.
        detectedLanguages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDocumentaiV1DocumentPageDetectedLanguage
          type: array
          description: A list of detected languages together with confidence.
        layout:
          description: Layout for Block.
          $ref: '#/components/schemas/GoogleCloudDocumentaiV1DocumentPageLayout'
      id: GoogleCloudDocumentaiV1DocumentPageBlock
    GoogleCloudDocumentaiV1beta1DocumentPageMatrix:
      properties:
        cols:
          type: integer
          description: Number of columns in the matrix.
          format: int32
        rows:
          format: int32
          description: Number of rows in the matrix.
          type: integer
        data:
          description: The matrix data.
          format: byte
          type: string
        type:
          description: >-
            This encodes information about what data type the matrix uses. For
            example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of
            OpenCV primitive data types, please refer to
            https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html
          type: integer
          format: int32
      type: object
      id: GoogleCloudDocumentaiV1beta1DocumentPageMatrix
      description: >-
        Representation for transformation matrix, intended to be compatible and
        used with OpenCV format for image manipulation.
    GoogleTypeColor:
      description: >-
        Represents a color in the RGBA color space. This representation is
        designed for simplicity of conversion to and from color representations
        in various languages over compactness. For example, the fields of this
        representation can be trivially provided to the constructor of
        `java.awt.Color` in Java; it can also be trivially provided to UIColor's
        `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little
        work, it can be easily formatted into a CSS `rgba()` string in
        JavaScript. This reference page doesn't have information about the
        absolute color space that should be used to interpret the RGB value—for
        example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications
        should assume the sRGB color space. When color equality needs to be
        decided, implementations, unless documented otherwise, treat two colors
        as equal if all their red, green, blue, and alpha values each differ by
        at most `1e-5`. Example (Java): import com.google.type.Color; // ...
        public static java.awt.Color fromProto(Color protocolor) { float alpha =
        protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return
        new java.awt.Color( protocolor.getRed(), protocolor.getGreen(),
        protocolor.getBlue(), alpha); } public static Color
        toProto(java.awt.Color color) { float red = (float) color.getRed();
        float green = (float) color.getGreen(); float blue = (float)
        color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder
        = Color .newBuilder() .setRed(red / denominator) .setGreen(green /
        denominator) .setBlue(blue / denominator); int alpha = color.getAlpha();
        if (alpha != 255) { result.setAlpha( FloatValue .newBuilder()
        .setValue(((float) alpha) / denominator) .build()); } return
        resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static
        UIColor* fromProto(Color* protocolor) { float red = [protocolor red];
        float green = [protocolor green]; float blue = [protocolor blue];
        FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if
        (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return
        [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static
        Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if
        (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return
        nil; } Color* result = [[Color alloc] init]; [result setRed:red];
        [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) {
        [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease];
        return result; } // ... Example (JavaScript): // ... var protoToCssColor
        = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var
        greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue ||
        0.0; var red = Math.floor(redFrac * 255); var green =
        Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if
        (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); }
        var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red,
        green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac,
        ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var
        rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString
        = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var
        resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) {
        resultBuilder.push('0'); } resultBuilder.push(hexString); return
        resultBuilder.join(''); }; // ...
      type: object
      id: GoogleTypeColor
      properties:
        red:
          format: float
          type: number
          description: The amount of red in the color as a value in the interval [0, 1].
        blue:
          format: float
          type: number
          description: The amount of blue in the color as a value in the interval [0, 1].
        green:
          description: The amount of green in the color as a value in the interval [0, 1].
          type: number
          format: float
        alpha:
          description: >-
            The fraction of this color that should be applied to the pixel. That
            is, the final pixel color is defined by the equation: `pixel color =
[...]
