openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Identity API
  description: API for provisioning and managing identity resources.
  version: v1
  x-discovery-doc-revision: '20230619'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/identity/
servers:
  - url: https://cloudidentity.googleapis.com
components:
  schemas:
    GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata:
      type: object
      id: GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata
      description: Metadata for SignoutDeviceUser LRO.
      properties: {}
    GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest:
      properties:
        customer:
          type: string
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer}`, where customer is the
            customer to whom the device belongs.
      description: Request message for approving the device to access user data.
      id: GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest
      type: object
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest:
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest
      description: Request message for cancelling an unfinished device wipe.
      properties:
        customer:
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer}`, where customer is the
            customer to whom the device belongs.
          type: string
      type: object
    InboundSsoAssignment:
      description: Targets with "set" SSO assignments and their respective assignments.
      properties:
        ssoMode:
          type: string
          enumDescriptions:
            - Not allowed.
            - Disable SSO for the targeted users.
            - >-
              Use an external SAML Identity Provider for SSO for the targeted
              users.
            - >-
              Use the domain-wide SAML Identity Provider for the targeted users
              if one is configured; otherwise, this is equivalent to `SSO_OFF`.
              Note that this will also be equivalent to `SSO_OFF` if/when
              support for domain-wide SAML is removed. Google may disallow this
              mode at that point and existing assignments with this mode may be
              automatically changed to `SSO_OFF`.
          enum:
            - SSO_MODE_UNSPECIFIED
            - SSO_OFF
            - SAML_SSO
            - DOMAIN_WIDE_SAML_IF_ENABLED
          description: Inbound SSO behavior.
        name:
          type: string
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            Inbound SSO Assignment.
          readOnly: true
        targetGroup:
          description: Immutable. Must be of the form `groups/{group}`.
          type: string
        rank:
          type: integer
          description: >-
            Must be zero (which is the default value so it can be omitted) for
            assignments with `target_org_unit` set and must be
            greater-than-or-equal-to one for assignments with `target_group`
            set.
          format: int32
        signInBehavior:
          description: >-
            Assertions about users assigned to an IdP will always be accepted
            from that IdP. This controls whether/when Google should redirect a
            user to the IdP. Unset (defaults) is the recommended configuration.
          $ref: '#/components/schemas/SignInBehavior'
        targetOrgUnit:
          type: string
          description: Immutable. Must be of the form `orgUnits/{org_unit}`.
        samlSsoInfo:
          description: >-
            SAML SSO details. Must be set if and only if `sso_mode` is set to
            `SAML_SSO`.
          $ref: '#/components/schemas/SamlSsoInfo'
        customer:
          type: string
          description: 'Immutable. The customer. For example: `customers/C0123abc`.'
      type: object
      id: InboundSsoAssignment
    LookupGroupNameResponse:
      properties:
        name:
          description: >-
            The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            looked-up `Group`.
          type: string
      type: object
      id: LookupGroupNameResponse
      description: The response message for GroupsService.LookupGroupName.
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata:
      properties: {}
      type: object
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata
      description: Metadata for CancelWipeDevice LRO.
    Status:
      id: Status
      type: object
      properties:
        details:
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
          items:
            additionalProperties:
              type: any
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          type: integer
          format: int32
        message:
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
          type: string
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
    GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata:
      description: Metadata for WipeDevice LRO.
      type: object
      properties: {}
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata
    CreateMembershipMetadata:
      properties: {}
      description: Metadata for CreateMembership LRO.
      id: CreateMembershipMetadata
      type: object
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse:
      type: object
      description: Response message for cancelling an unfinished user account wipe.
      properties:
        deviceUser:
          description: Resultant DeviceUser object for the action.
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1DeviceUser'
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse
    RestrictionEvaluation:
      properties:
        state:
          enum:
            - STATE_UNSPECIFIED
            - EVALUATING
            - COMPLIANT
            - FORWARD_COMPLIANT
            - NON_COMPLIANT
          readOnly: true
          enumDescriptions:
            - Default. Should not be used.
            - The restriction state is currently being evaluated.
            - All transitive memberships are adhering to restriction.
            - >-
              Some transitive memberships violate the restriction. No new
              violating memberships can be added.
            - >-
              Some transitive memberships violate the restriction. New violating
              direct memberships will be denied while indirect memberships may
              be added.
          type: string
          description: Output only. The current state of the restriction
      description: The evaluated state of this restriction.
      id: RestrictionEvaluation
      type: object
    DeleteIdpCredentialOperationMetadata:
      type: object
      id: DeleteIdpCredentialOperationMetadata
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.DeleteIdpCredential.
      properties: {}
    InboundSamlSsoProfile:
      properties:
        spConfig:
          description: >-
            SAML service provider configuration for this SAML SSO profile. These
            are the service provider details provided by Google that should be
            configured on the corresponding identity provider.
          $ref: '#/components/schemas/SamlSpConfig'
        idpConfig:
          $ref: '#/components/schemas/SamlIdpConfig'
          description: SAML identity provider configuration.
        displayName:
          description: Human-readable name of the SAML SSO profile.
          type: string
        customer:
          description: 'Immutable. The customer. For example: `customers/C0123abc`.'
          type: string
        name:
          readOnly: true
          type: string
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            SAML SSO profile.
      type: object
      id: InboundSamlSsoProfile
      description: >-
        A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation
        between a Google enterprise customer and a SAML identity provider.
    GoogleAppsCloudidentityDevicesV1Device:
      id: GoogleAppsCloudidentityDevicesV1Device
      description: ' A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.'
      properties:
        releaseVersion:
          description: 'Output only. OS release version. Example: 6.0.'
          readOnly: true
          type: string
        deviceId:
          description: Unique identifier for the device.
          type: string
        meid:
          readOnly: true
          description: Output only. MEID number of device if CDMA device; empty otherwise.
          type: string
        buildNumber:
          type: string
          readOnly: true
          description: Output only. Build number of the device.
        securityPatchTime:
          format: google-datetime
          readOnly: true
          type: string
          description: Output only. OS security patch update time on device.
        lastSyncTime:
          type: string
          format: google-datetime
          description: Most recent time when device synced with this service.
        androidSpecificAttributes:
          readOnly: true
          description: Output only. Attributes specific to Android devices.
          $ref: >-
            #/components/schemas/GoogleAppsCloudidentityDevicesV1AndroidAttributes
        enabledUsbDebugging:
          readOnly: true
          description: Output only. Whether USB debugging is enabled on device.
          type: boolean
        managementState:
          enum:
            - MANAGEMENT_STATE_UNSPECIFIED
            - APPROVED
            - BLOCKED
            - PENDING
            - UNPROVISIONED
            - WIPING
            - WIPED
          enumDescriptions:
            - Default value. This value is unused.
            - Device is approved.
            - Device is blocked.
            - Device is pending approval.
            - >-
              The device is not provisioned. Device will start from this state
              until some action is taken (i.e. a user starts using the device).
            - Data and settings on the device are being removed.
            - All data and settings on the device are removed.
          description: Output only. Management state of the device
          readOnly: true
          type: string
        serialNumber:
          type: string
          description: 'Serial Number of device. Example: HT82V1A01076.'
        enabledDeveloperOptions:
          description: Output only. Whether developer options is enabled on device.
          type: boolean
          readOnly: true
        bootloaderVersion:
          description: 'Output only. Device bootloader version. Example: 0.6.7.'
          type: string
          readOnly: true
        compromisedState:
          description: Output only. Represents whether the Device is compromised.
          enum:
            - COMPROMISED_STATE_UNSPECIFIED
            - COMPROMISED
            - UNCOMPROMISED
          enumDescriptions:
            - Default value.
            - >-
              The device is compromised (currently, this means Android device is
              rooted).
            - >-
              The device is safe (currently, this means Android device is
              unrooted).
          type: string
          readOnly: true
        assetTag:
          type: string
          description: Asset tag of the device.
        otherAccounts:
          type: array
          items:
            type: string
          readOnly: true
          description: >-
            Output only. Domain name for Google accounts on device. Type for
            other accounts on device. On Android, will only be populated if
            |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not
            include the account signed in to the device policy app if that
            account's domain has only one account. Examples: "com.example",
            "xyz.com".
        deviceType:
          enum:
            - DEVICE_TYPE_UNSPECIFIED
            - ANDROID
            - IOS
            - GOOGLE_SYNC
            - WINDOWS
            - MAC_OS
            - LINUX
            - CHROME_OS
          description: Output only. Type of device.
          readOnly: true
          type: string
          enumDescriptions:
            - Unknown device type
            - Device is an Android device
            - Device is an iOS device
            - Device is a Google Sync device.
            - Device is a Windows device.
            - Device is a MacOS device.
            - Device is a Linux device.
            - Device is a ChromeOS device.
        brand:
          readOnly: true
          type: string
          description: 'Output only. Device brand. Example: Samsung.'
        osVersion:
          readOnly: true
          description: 'Output only. OS version of the device. Example: Android 8.1.0.'
          type: string
        manufacturer:
          readOnly: true
          type: string
          description: 'Output only. Device manufacturer. Example: Motorola.'
        createTime:
          type: string
          format: google-datetime
          readOnly: true
          description: >-
            Output only. When the Company-Owned device was imported. This field
            is empty for BYOD devices.
        ownerType:
          type: string
          enum:
            - DEVICE_OWNERSHIP_UNSPECIFIED
            - COMPANY
            - BYOD
          description: >-
            Output only. Whether the device is owned by the company or an
            individual
          readOnly: true
          enumDescriptions:
            - Default value. The value is unused.
            - Company owns the device.
            - Bring Your Own Device (i.e. individual owns the device)
        model:
          type: string
          readOnly: true
          description: 'Output only. Model name of device. Example: Pixel 3.'
        kernelVersion:
          type: string
          readOnly: true
          description: Output only. Kernel version of the device.
        basebandVersion:
          readOnly: true
          description: Output only. Baseband version of the device.
          type: string
        encryptionState:
          readOnly: true
          enum:
            - ENCRYPTION_STATE_UNSPECIFIED
            - UNSUPPORTED_BY_DEVICE
            - ENCRYPTED
            - NOT_ENCRYPTED
          type: string
          description: Output only. Device encryption state.
          enumDescriptions:
            - Encryption Status is not set.
            - Device doesn't support encryption.
            - Device is encrypted.
            - Device is not encrypted.
        name:
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            Device in format: `devices/{device}`, where device is the unique id
            assigned to the Device.
          readOnly: true
          type: string
        networkOperator:
          type: string
          readOnly: true
          description: Output only. Mobile or network operator of device, if available.
        wifiMacAddresses:
          items:
            type: string
          type: array
          description: WiFi MAC addresses of device.
        imei:
          readOnly: true
          type: string
          description: Output only. IMEI number of device if GSM device; empty otherwise.
      type: object
    GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse:
      type: object
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse
      properties:
        deviceUser:
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1DeviceUser'
          description: Resultant DeviceUser object for the action.
      description: Response message for wiping the user's account from the device.
    DeleteGroupMetadata:
      type: object
      id: DeleteGroupMetadata
      properties: {}
      description: Metadata for DeleteGroup LRO.
    DeleteMembershipMetadata:
      type: object
      id: DeleteMembershipMetadata
      description: Metadata for DeleteMembership LRO.
      properties: {}
    ListIdpCredentialsResponse:
      id: ListIdpCredentialsResponse
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
        idpCredentials:
          items:
            $ref: '#/components/schemas/IdpCredential'
          type: array
          description: The IdpCredentials from the specified InboundSamlSsoProfile.
      type: object
      description: Response of the InboundSamlSsoProfilesService.ListIdpCredentials method.
    RestrictionEvaluations:
      description: Evaluations of restrictions applied to parent group on this membership.
      id: RestrictionEvaluations
      type: object
      properties:
        memberRestrictionEvaluation:
          $ref: '#/components/schemas/MembershipRoleRestrictionEvaluation'
          description: >-
            Evaluation of the member restriction applied to this membership.
            Empty if the user lacks permission to view the restriction
            evaluation.
    ListInboundSamlSsoProfilesResponse:
      id: ListInboundSamlSsoProfilesResponse
      description: >-
        Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles
        method.
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        inboundSamlSsoProfiles:
          items:
            $ref: '#/components/schemas/InboundSamlSsoProfile'
          type: array
          description: List of InboundSamlSsoProfiles.
      type: object
    SamlSsoInfo:
      id: SamlSsoInfo
      description: Details that are applicable when `sso_mode` == `SAML_SSO`.
      type: object
      properties:
        inboundSamlSsoProfile:
          type: string
          description: >-
            Required. Name of the `InboundSamlSsoProfile` to use. Must be of the
            form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. 
    GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata:
      type: object
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata
      properties: {}
      description: Metadata for WipeDeviceUser LRO.
    SamlSpConfig:
      description: SAML SP (service provider) configuration.
      properties:
        assertionConsumerServiceUri:
          description: >-
            Output only. The SAML **Assertion Consumer Service (ACS) URL** to be
            used for the IDP-initiated login. Assumed to accept response
            messages via the `HTTP-POST` binding.
          readOnly: true
          type: string
        entityId:
          type: string
          description: Output only. The SAML **Entity ID** for this service provider.
          readOnly: true
      type: object
      id: SamlSpConfig
    GoogleAppsCloudidentityDevicesV1WipeDeviceRequest:
      description: Request message for wiping all data on the device.
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceRequest
      properties:
        customer:
          type: string
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer}`, where customer is the
            customer to whom the device belongs.
        removeResetLock:
          description: >-
            Optional. Specifies if a user is able to factory reset a device
            after a Device Wipe. On iOS, this is called "Activation Lock", while
            on Android, this is known as "Factory Reset Protection". If true,
            this protection will be removed from the device, so that a user can
            successfully factory reset. If false, the setting is untouched on
            the device.
          type: boolean
      type: object
    GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest:
      description: Request message for starting an account wipe on device.
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest
      type: object
      properties:
        customer:
          type: string
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer}`, where customer is the
            customer to whom the device belongs.
    GoogleAppsCloudidentityDevicesV1ListDevicesResponse:
      id: GoogleAppsCloudidentityDevicesV1ListDevicesResponse
      description: Response message that is returned from the ListDevices method.
      type: object
      properties:
        devices:
          description: Devices meeting the list restrictions.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1Device'
        nextPageToken:
          description: >-
            Token to retrieve the next page of results. Empty if there are no
            more results.
          type: string
    SearchGroupsResponse:
      properties:
        groups:
          items:
            $ref: '#/components/schemas/Group'
          type: array
          description: The `Group` resources that match the search query.
        nextPageToken:
          type: string
          description: >-
            A continuation token to retrieve the next page of results, or empty
            if there are no more results available.
      id: SearchGroupsResponse
      type: object
      description: The response message for GroupsService.SearchGroups.
    MembershipRelation:
      type: object
      description: Message containing membership relation.
      id: MembershipRelation
      properties:
        displayName:
          type: string
          description: The display name of the `Group`.
        description:
          type: string
          description: >-
            An extended description to help users determine the purpose of a
            `Group`.
        group:
          description: >-
            The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            `Group`. Shall be of the form `groups/{group_id}`.
          type: string
        roles:
          type: array
          description: The `MembershipRole`s that apply to the `Membership`.
          items:
            $ref: '#/components/schemas/MembershipRole'
        labels:
          type: object
          additionalProperties:
            type: string
          description: >-
            One or more label entries that apply to the Group. Currently
            supported labels contain a key with an empty value.
        groupKey:
          description: The `EntityKey` of the `Group`.
          $ref: '#/components/schemas/EntityKey'
        membership:
          type: string
          description: >-
            The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            `Membership`. Shall be of the form
            `groups/{group_id}/memberships/{membership_id}`.
    GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results. Empty if there are no
            more results.
        customer:
          type: string
          description: >-
            The customer resource name that may be passed back to other Devices
            API methods such as List, Get, etc.
        names:
          type: array
          items:
            type: string
          description: >-
            [Resource
            names](https://cloud.google.com/apis/design/resource_names) of the
            DeviceUsers in the format:
            `devices/{device}/deviceUsers/{user_resource}`, where device is the
            unique ID assigned to a Device and user_resource is the unique user
            ID
      description: >-
        Response containing resource names of the DeviceUsers associated with
        the caller's credentials.
      type: object
      id: GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse
    ListMembershipsResponse:
      type: object
      properties:
        memberships:
          items:
            $ref: '#/components/schemas/Membership'
          type: array
          description: The `Membership`s under the specified `parent`.
        nextPageToken:
          type: string
          description: >-
            A continuation token to retrieve the next page of results, or empty
            if there are no more results available.
      description: The response message for MembershipsService.ListMemberships.
      id: ListMembershipsResponse
    GoogleAppsCloudidentityDevicesV1DeviceUser:
      id: GoogleAppsCloudidentityDevicesV1DeviceUser
      description: >-
        Represents a user's use of a Device in the Cloud Identity Devices API. A
        DeviceUser is a resource representing a user's use of a Device
      type: object
      properties:
        userEmail:
          type: string
          description: Email address of the user registered on the device.
        name:
          readOnly: true
          type: string
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`,
            where `device_user` uniquely identifies a user's use of a device.
        createTime:
          type: string
          description: When the user first signed in to the device
          format: google-datetime
        languageCode:
          readOnly: true
          type: string
          description: Output only. Default locale used on device, in IETF BCP-47 format.
        managementState:
          type: string
          enum:
            - MANAGEMENT_STATE_UNSPECIFIED
            - WIPING
            - WIPED
            - APPROVED
            - BLOCKED
            - PENDING_APPROVAL
            - UNENROLLED
          description: Output only. Management state of the user on the device.
          enumDescriptions:
            - Default value. This value is unused.
            - This user's data and profile is being removed from the device.
            - This user's data and profile is removed from the device.
            - User is approved to access data on the device.
            - User is blocked from accessing data on the device.
            - User is awaiting approval.
            - >-
              User is unenrolled from Advanced Windows Management, but the
              Windows account is still intact.
          readOnly: true
        passwordState:
          enumDescriptions:
            - Password state not set.
            - Password set in object.
            - Password not set in object.
          type: string
          enum:
            - PASSWORD_STATE_UNSPECIFIED
            - PASSWORD_SET
            - PASSWORD_NOT_SET
          description: Password state of the DeviceUser object
        userAgent:
          description: Output only. User agent on the device for this specific user
          readOnly: true
          type: string
        firstSyncTime:
          readOnly: true
          format: google-datetime
          description: >-
            Output only. Most recent time when user registered with this
            service.
          type: string
        compromisedState:
          type: string
          enumDescriptions:
            - >-
              Compromised state of Device User account is unknown or
              unspecified.
            - Device User Account is compromised.
            - Device User Account is not compromised.
          enum:
            - COMPROMISED_STATE_UNSPECIFIED
            - COMPROMISED
            - NOT_COMPROMISED
          description: Compromised State of the DeviceUser object
        lastSyncTime:
          readOnly: true
          format: google-datetime
          type: string
          description: Output only. Last time when user synced with policies.
    CreateInboundSamlSsoProfileOperationMetadata:
      type: object
      properties: {}
      id: CreateInboundSamlSsoProfileOperationMetadata
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile.
    ListGroupsResponse:
      properties:
        groups:
          type: array
          description: >-
            Groups returned in response to list request. The results are not
            sorted.
          items:
            $ref: '#/components/schemas/Group'
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results available for listing.
      description: Response message for ListGroups operation.
      id: ListGroupsResponse
      type: object
    GoogleAppsCloudidentityDevicesV1CustomAttributeValue:
      type: object
      description: Additional custom attribute values may be one of these types
      id: GoogleAppsCloudidentityDevicesV1CustomAttributeValue
      properties:
        numberValue:
          type: number
          format: double
          description: Represents a double value.
        boolValue:
          description: Represents a boolean value.
          type: boolean
        stringValue:
          description: Represents a string value.
          type: string
    LookupMembershipNameResponse:
      type: object
      description: The response message for MembershipsService.LookupMembershipName.
      properties:
        name:
          type: string
          description: >-
            The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            looked-up `Membership`. Must be of the form
            `groups/{group}/memberships/{membership}`.
      id: LookupMembershipNameResponse
    MembershipRole:
      description: >-
        A membership role within the Cloud Identity Groups API. A
        `MembershipRole` defines the privileges granted to a `Membership`.
      properties:
        expiryDetail:
          $ref: '#/components/schemas/ExpiryDetail'
          description: >-
            The expiry details of the `MembershipRole`. Expiry details are only
            supported for `MEMBER` `MembershipRoles`. May be set if `name` is
            `MEMBER`. Must not be set if `name` is any other value.
        name:
          type: string
          description: >-
            The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`,
            `MEMBER`.
        restrictionEvaluations:
          $ref: '#/components/schemas/RestrictionEvaluations'
          description: >-
            Evaluations of restrictions applied to parent group on this
            membership.
      id: MembershipRole
      type: object
    ModifyMembershipRolesRequest:
      description: The request message for MembershipsService.ModifyMembershipRoles.
      type: object
      id: ModifyMembershipRolesRequest
      properties:
        removeRoles:
          type: array
          items:
            type: string
          description: >-
            The `name`s of the `MembershipRole`s to be removed. Adding or
            removing roles in the same request as updating roles is not
            supported. It is not possible to remove the `MEMBER`
            `MembershipRole`. If you wish to delete a `Membership`, call
            MembershipsService.DeleteMembership instead. Must not contain
            `MEMBER`. Must not be set if `update_roles_params` is set.
        addRoles:
          items:
            $ref: '#/components/schemas/MembershipRole'
          description: >-
            The `MembershipRole`s to be added. Adding or removing roles in the
            same request as updating roles is not supported. Must not be set if
            `update_roles_params` is set.
          type: array
        updateRolesParams:
          description: >-
            The `MembershipRole`s to be updated. Updating roles in the same
            request as adding or removing roles is not supported. Must not be
            set if either `add_roles` or `remove_roles` is set.
          type: array
          items:
            $ref: '#/components/schemas/UpdateMembershipRolesParams'
    GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest:
      properties:
        customer:
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer}`, where customer is the
            customer to whom the device belongs.
          type: string
      id: GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest
      description: Request message for blocking account on device.
      type: object
    GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata:
      id: GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata
      properties: {}
      description: Metadata for CreateDevice LRO.
      type: object
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata:
      description: Metadata for CancelWipeDeviceUser LRO.
      properties: {}
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata
      type: object
    GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse:
      id: GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse
      type: object
      properties:
        deviceUser:
          description: Resultant DeviceUser object for the action.
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1DeviceUser'
      description: Response message for blocking the device from accessing user data.
    GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata:
      id: GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata
      description: Metadata for DeleteDeviceUser LRO.
      type: object
      properties: {}
    GoogleAppsCloudidentityDevicesV1AndroidAttributes:
      type: object
      description: Resource representing the Android specific attributes of a Device.
      properties:
        verifyAppsEnabled:
          type: boolean
          description: Whether Google Play Protect Verify Apps is enabled.
        ctsProfileMatch:
          type: boolean
          description: Whether the device passes Android CTS compliance.
        hasPotentiallyHarmfulApps:
          type: boolean
          description: Whether any potentially harmful apps were detected on the device.
        supportsWorkProfile:
          description: >-
            Whether device supports Android work profiles. If false, this
            service will not block access to corp data even if an administrator
            turns on the "Enforce Work Profile" policy.
          type: boolean
        ownerProfileAccount:
          type: boolean
          description: >-
            Whether this account is on an owner/primary profile. For phones,
            only true for owner profiles. Android 4+ devices can have secondary
            or restricted user profiles.
        enabledUnknownSources:
          description: >-
            Whether applications from unknown sources can be installed on
            device.
          type: boolean
        verifiedBoot:
          type: boolean
          description: Whether Android verified boot status is GREEN.
        ownershipPrivilege:
          type: string
          enumDescriptions:
            - Ownership privilege is not set.
            - Active device administrator privileges on the device.
            - >-
              Profile Owner privileges. The account is in a managed corporate
              profile.
            - Device Owner privileges on the device.
          enum:
            - OWNERSHIP_PRIVILEGE_UNSPECIFIED
            - DEVICE_ADMINISTRATOR
            - PROFILE_OWNER
            - DEVICE_OWNER
          description: Ownership privileges on device.
      id: GoogleAppsCloudidentityDevicesV1AndroidAttributes
    SamlIdpConfig:
      type: object
      properties:
        entityId:
          description: Required. The SAML **Entity ID** of the identity provider.
          type: string
        singleSignOnServiceUri:
          description: >-
            Required. The `SingleSignOnService` endpoint location (sign-in page
            URL) of the identity provider. This is the URL where the
            `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the
            `HTTP-Redirect` binding.
          type: string
        logoutRedirectUri:
          description: >-
            The **Logout Redirect URL** (sign-out page URL) of the identity
            provider. When a user clicks the sign-out link on a Google page,
            they will be redirected to this URL. This is a pure redirect with no
            attached SAML `LogoutRequest` i.e. SAML single logout is not
            supported. Must use `HTTPS`.
          type: string
        changePasswordUri:
          description: >-
            The **Change Password URL** of the identity provider. Users will be
            sent to this URL when changing their passwords at
            `myaccount.google.com`. This takes precedence over the change
            password URL configured at customer-level. Must use `HTTPS`.
          type: string
      description: SAML IDP (identity provider) configuration.
      id: SamlIdpConfig
    EntityKey:
      description: >-
        A unique identifier for an entity in the Cloud Identity Groups API. An
        entity can represent either a group with an optional `namespace` or a
        user without a `namespace`. The combination of `id` and `namespace` must
        be unique; however, the same `id` can be used with different
        `namespace`s.
      properties:
        id:
          description: >-
            The ID of the entity. For Google-managed entities, the `id` should
            be the email address of an existing group or user. For
            external-identity-mapped entities, the `id` must be a string
            conforming to the Identity Source's requirements. Must be unique
            within a `namespace`.
          type: string
        namespace:
          type: string
          description: >-
            The namespace in which the entity exists. If not specified, the
            `EntityKey` represents a Google-managed entity such as a Google user
            or a Google Group. If specified, the `EntityKey` represents an
            external-identity-mapped group. The namespace must correspond to an
            identity source created in Admin Console and must be in the form of
            `identitysources/{identity_source}`.
      type: object
      id: EntityKey
    GoogleAppsCloudidentityDevicesV1ListClientStatesResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results. Empty if there are no
            more results.
        clientStates:
          items:
            $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1ClientState'
          type: array
          description: Client states meeting the list restrictions.
      type: object
      id: GoogleAppsCloudidentityDevicesV1ListClientStatesResponse
      description: Response message that is returned in ListClientStates.
    GroupRelation:
      description: Message representing a transitive group of a user or a group.
      id: GroupRelation
      type: object
      properties:
        groupKey:
          $ref: '#/components/schemas/EntityKey'
          description: >-
            Entity key has an id and a namespace. In case of discussion forums,
            the id will be an email address without a namespace.
        displayName:
          type: string
          description: Display name for this group.
        group:
          description: Resource name for this group.
          type: string
        relationType:
          type: string
          description: The relation between the member and the transitive group.
          enumDescriptions:
            - The relation type is undefined or undetermined.
            - The two entities have only a direct membership with each other.
            - The two entities have only an indirect membership with each other.
            - >-
              The two entities have both a direct and an indirect membership
              with each other.
          enum:
            - RELATION_TYPE_UNSPECIFIED
            - DIRECT
            - INDIRECT
            - DIRECT_AND_INDIRECT
        labels:
          description: Labels for Group resource.
          additionalProperties:
            type: string
          type: object
        roles:
          items:
            $ref: '#/components/schemas/TransitiveMembershipRole'
          type: array
          description: Membership roles of the member for the group.
    DsaPublicKeyInfo:
      description: Information of a DSA public key.
      type: object
      properties:
        keySize:
          format: int32
          description: Key size in bits (size of parameter P).
          type: integer
      id: DsaPublicKeyInfo
    GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata:
      properties: {}
      type: object
      description: Metadata for BlockDeviceUser LRO.
      id: GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata
    UpdateInboundSsoAssignmentOperationMetadata:
      properties: {}
      description: >-
        LRO response metadata for
        InboundSsoAssignmentsService.UpdateInboundSsoAssignment.
      id: UpdateInboundSsoAssignmentOperationMetadata
      type: object
    UpdateMembershipRolesParams:
      id: UpdateMembershipRolesParams
      type: object
      description: The details of an update to a `MembershipRole`.
      properties:
        membershipRole:
          description: >-
            The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRole`
            can currently be updated.
          $ref: '#/components/schemas/MembershipRole'
        fieldMask:
          type: string
          format: google-fieldmask
          description: >-
            The fully-qualified names of fields to update. May only contain the
            field `expiry_detail.expire_time`.
    TransitiveMembershipRole:
      properties:
        role:
          description: >-
            TransitiveMembershipRole in string format. Currently supported
            TransitiveMembershipRoles: `"MEMBER"`, `"OWNER"`, and `"MANAGER"`.
          type: string
      description: Message representing the role of a TransitiveMembership.
      id: TransitiveMembershipRole
      type: object
    UserInvitation:
      type: object
      properties:
        mailsSentCount:
          format: int64
          type: string
          description: Number of invitation emails sent to the user.
        state:
          enum:
            - STATE_UNSPECIFIED
            - NOT_YET_SENT
            - INVITED
            - ACCEPTED
            - DECLINED
          enumDescriptions:
            - The default value. This value is used if the state is omitted.
            - >-
              The `UserInvitation` has been created and is ready for sending as
              an email.
            - The user has been invited by email.
            - >-
              The user has accepted the invitation and is part of the
              organization.
            - The user declined the invitation.
          type: string
          description: State of the `UserInvitation`.
        updateTime:
          type: string
          description: Time when the `UserInvitation` was last updated.
          format: google-datetime
        name:
          type: string
          description: >-
            Shall be of the form
            `customers/{customer}/userinvitations/{user_email_address}`.
      id: UserInvitation
      description: >-
        The `UserInvitation` resource represents an email that can be sent to an
        unmanaged user account inviting them to join the customer's Google
        Workspace or Cloud Identity account. An unmanaged account shares an
        email address domain with the Google Workspace or Cloud Identity account
        but is not managed by it yet. If the user accepts the `UserInvitation`,
        the user account will become managed.
    GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata:
      id: GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata
      properties: {}
      description: Metadata for ListEndpointApps LRO.
      type: object
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest:
      type: object
      description: Request message for cancelling an unfinished user account wipe.
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest
      properties:
        customer:
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer}`, where customer is the
            customer to whom the device belongs.
          type: string
    IsInvitableUserResponse:
      description: Response for IsInvitableUser RPC.
      type: object
      id: IsInvitableUserResponse
      properties:
        isInvitableUser:
          type: boolean
          description: Returns true if the email address is invitable.
    UpdateGroupMetadata:
      description: Metadata for UpdateGroup LRO.
      properties: {}
      id: UpdateGroupMetadata
      type: object
    DeleteInboundSamlSsoProfileOperationMetadata:
      type: object
      properties: {}
      id: DeleteInboundSamlSsoProfileOperationMetadata
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile.
    AddIdpCredentialRequest:
      properties:
        pemData:
          type: string
          description: >-
            PEM encoded x509 certificate containing the public key for verifying
            IdP signatures.
      description: >-
        The request for creating an IdpCredential with its associated payload.
        An InboundSamlSsoProfile can own up to 2 credentials.
      type: object
      id: AddIdpCredentialRequest
    SecuritySettings:
      id: SecuritySettings
      type: object
      properties:
        name:
          type: string
          readOnly: true
          description: >-
            Output only. The resource name of the security settings. Shall be of
            the form `groups/{group_id}/securitySettings`.
        memberRestriction:
          description: The Member Restriction value
          $ref: '#/components/schemas/MemberRestriction'
      description: The definition of security settings.
    DynamicGroupMetadata:
      properties:
        status:
          readOnly: true
          description: Output only. Status of the dynamic group.
          $ref: '#/components/schemas/DynamicGroupStatus'
        queries:
          items:
            $ref: '#/components/schemas/DynamicGroupQuery'
          type: array
          description: >-
            Memberships will be the union of all queries. Only one entry with
            USER resource is currently supported. Customers can create up to 100
            dynamic groups.
      type: object
      description: Dynamic group metadata like queries and status.
      id: DynamicGroupMetadata
    Membership:
      id: Membership
      type: object
      properties:
        updateTime:
          readOnly: true
          format: google-datetime
          description: Output only. The time when the `Membership` was last updated.
          type: string
        deliverySetting:
          type: string
          enum:
            - DELIVERY_SETTING_UNSPECIFIED
            - ALL_MAIL
            - DIGEST
            - DAILY
            - NONE
            - DISABLED
          description: Output only. Delivery setting associated with the membership.
          readOnly: true
          enumDescriptions:
            - Default. Should not be used.
            - Represents each mail should be delivered
            - Represents 1 email for every 25 messages.
            - Represents daily summary of messages.
            - Represents no delivery.
            - Represents disabled state.
        preferredMemberKey:
          $ref: '#/components/schemas/EntityKey'
          description: Required. Immutable. The `EntityKey` of the member.
        type:
          description: Output only. The type of the membership.
          readOnly: true
          type: string
          enumDescriptions:
            - Default. Should not be used.
            - Represents user type.
            - Represents service account type.
            - Represents group type.
            - Represents Shared drive.
            - Represents other type.
          enum:
            - TYPE_UNSPECIFIED
            - USER
            - SERVICE_ACCOUNT
            - GROUP
            - SHARED_DRIVE
            - OTHER
        roles:
          type: array
          description: >-
            The `MembershipRole`s that apply to the `Membership`. If
            unspecified, defaults to a single `MembershipRole` with `name`
            `MEMBER`. Must not contain duplicate `MembershipRole`s with the same
            `name`.
          items:
            $ref: '#/components/schemas/MembershipRole'
        createTime:
          type: string
          readOnly: true
          description: Output only. The time when the `Membership` was created.
          format: google-datetime
        name:
          description: >-
            Output only. The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            `Membership`. Shall be of the form
            `groups/{group}/memberships/{membership}`.
          readOnly: true
          type: string
      description: >-
        A membership within the Cloud Identity Groups API. A `Membership`
        defines a relationship between a `Group` and an entity belonging to that
        `Group`, referred to as a "member".
    CreateInboundSsoAssignmentOperationMetadata:
      type: object
      id: CreateInboundSsoAssignmentOperationMetadata
      properties: {}
      description: >-
        LRO response metadata for
        InboundSsoAssignmentsService.CreateInboundSsoAssignment.
    CheckTransitiveMembershipResponse:
      type: object
      id: CheckTransitiveMembershipResponse
      properties:
        hasMembership:
          description: >-
            Response does not include the possible roles of a member since the
            behavior of this rpc is not all-or-nothing unlike the other rpcs.
            So, it may not be possible to list all the roles definitively, due
            to possible lack of authorization in some of the paths.
          type: boolean
      description: The response message for MembershipsService.CheckTransitiveMembership.
    Group:
      id: Group
      type: object
      description: >-
        A group within the Cloud Identity Groups API. A `Group` is a collection
        of entities, where each entity is either a user, another group, or a
        service account.
      properties:
        description:
          description: >-
            An extended description to help users determine the purpose of a
            `Group`. Must not be longer than 4,096 characters.
          type: string
        groupKey:
          $ref: '#/components/schemas/EntityKey'
          description: Required. The `EntityKey` of the `Group`.
        name:
          readOnly: true
          description: >-
            Output only. The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            `Group`. Shall be of the form `groups/{group}`.
          type: string
        createTime:
          readOnly: true
          type: string
          format: google-datetime
          description: Output only. The time when the `Group` was created.
        updateTime:
          readOnly: true
          format: google-datetime
          type: string
          description: Output only. The time when the `Group` was last updated.
        additionalGroupKeys:
          items:
            $ref: '#/components/schemas/EntityKey'
          description: Output only. Additional group keys associated with the Group.
          type: array
          readOnly: true
        parent:
          type: string
          description: >-
            Required. Immutable. The resource name of the entity under which
            this `Group` resides in the Cloud Identity resource hierarchy. Must
            be of the form `identitysources/{identity_source}` for external
            [identity-mapped
            groups](https://support.google.com/a/answer/9039510) or
            `customers/{customer_id}` for Google Groups. The `customer_id` must
            begin with "C" (for example, 'C046psxkn'). [Find your customer ID.]
            (https://support.google.com/cloudidentity/answer/10070793)
        displayName:
          type: string
          description: The display name of the `Group`.
        dynamicGroupMetadata:
          description: Optional. Dynamic group metadata like queries and status.
          $ref: '#/components/schemas/DynamicGroupMetadata'
        labels:
          type: object
          description: >-
            Required. One or more label entries that apply to the Group.
            Currently supported labels contain a key with an empty value. Google
            Groups are the default type of group and have a label with a key of
            `cloudidentity.googleapis.com/groups.discussion_forum` and an empty
            value. Existing Google Groups can have an additional label with a
            key of `cloudidentity.googleapis.com/groups.security` and an empty
            value added to them. **This is an immutable change and the security
            label cannot be removed once added.** Dynamic groups have a label
            with a key of `cloudidentity.googleapis.com/groups.dynamic`.
            Identity-mapped groups for Cloud Search have a label with a key of
            `system/groups/external` and an empty value.
          additionalProperties:
            type: string
    DynamicGroupStatus:
      description: The current status of a dynamic group along with timestamp.
      id: DynamicGroupStatus
      type: object
      properties:
        status:
          type: string
          enum:
            - STATUS_UNSPECIFIED
            - UP_TO_DATE
            - UPDATING_MEMBERSHIPS
            - INVALID_QUERY
          enumDescriptions:
            - Default.
            - The dynamic group is up-to-date.
            - >-
              The dynamic group has just been created and memberships are being
              updated.
            - >-
              Group is in an unrecoverable state and its memberships can't be
              updated.
          description: Status of the dynamic group.
        statusTime:
          description: >-
            The latest time at which the dynamic group is guaranteed to be in
            the given status. If status is `UP_TO_DATE`, the latest time at
            which the dynamic group was confirmed to be up-to-date. If status is
            `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.
          type: string
          format: google-datetime
    UpdateInboundSamlSsoProfileOperationMetadata:
      type: object
      properties: {}
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.UpdateInboundSamlSsoProfile.
      id: UpdateInboundSamlSsoProfileOperationMetadata
    SignInBehavior:
      id: SignInBehavior
      description: Controls sign-in behavior.
      type: object
      properties:
        redirectCondition:
          type: string
          enumDescriptions:
            - Default and means "always"
            - >-
              Sign-in flows where the user is prompted for their identity will
              not redirect to the IdP (so the user will most likely be prompted
              by Google for a password), but special flows like IdP-initiated
              SAML and sign-in following automatic redirection to the IdP by
              domain-specific service URLs will accept the IdP's assertion of
              the user's identity.
          enum:
            - REDIRECT_CONDITION_UNSPECIFIED
            - NEVER
          description: When to redirect sign-ins to the IdP.
    ExpiryDetail:
      description: The `MembershipRole` expiry details.
      properties:
        expireTime:
          format: google-datetime
          description: The time at which the `MembershipRole` will expire.
          type: string
      id: ExpiryDetail
      type: object
    SendUserInvitationRequest:
      type: object
      id: SendUserInvitationRequest
      description: >-
        A request to send email for inviting target user corresponding to the
        UserInvitation.
      properties: {}
    CreateGroupMetadata:
      id: CreateGroupMetadata
      properties: {}
      type: object
      description: Metadata for CreateGroup LRO.
    MemberRestriction:
      type: object
      properties:
        query:
          type: string
          description: >-
            Member Restriction as defined by CEL expression. Supported
            restrictions are: `member.customer_id` and `member.type`. Valid
            values for `member.type` are `1`, `2` and `3`. They correspond to
            USER, SERVICE_ACCOUNT, and GROUP respectively. The value for
            `member.customer_id` only supports `groupCustomerId()` currently
            which means the customer id of the group will be used for
            restriction. Supported operators are `&&`, `||` and `==`,
            corresponding to AND, OR, and EQUAL. Examples: Allow only service
            accounts of given customer to be members. `member.type == 2 &&
            member.customer_id == groupCustomerId()` Allow only users or groups
            to be members. `member.type == 1 || member.type == 3`
        evaluation:
          $ref: '#/components/schemas/RestrictionEvaluation'
          description: The evaluated state of this restriction on a group.
      id: MemberRestriction
      description: The definition of MemberRestriction
    DynamicGroupQuery:
      description: Defines a query on a resource.
      id: DynamicGroupQuery
      properties:
        query:
          description: >-
            Query that determines the memberships of the dynamic group.
            Examples: All users with at least one `organizations.department` of
            engineering. `user.organizations.exists(org,
            org.department=='engineering')` All users with at least one location
            that has `area` of `foo` and `building_id` of `bar`.
            `user.locations.exists(loc, loc.area=='foo' &&
            loc.building_id=='bar')` All users with any variation of the name
            John Doe (case-insensitive queries add `equalsIgnoreCase()` to the
            value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`
          type: string
        resourceType:
          enum:
            - RESOURCE_TYPE_UNSPECIFIED
            - USER
          type: string
          description: Resource type for the Dynamic Group Query
          enumDescriptions:
            - Default value (not valid)
            - For queries on User
      type: object
    DeleteInboundSsoAssignmentOperationMetadata:
      type: object
      id: DeleteInboundSsoAssignmentOperationMetadata
      properties: {}
      description: >-
        LRO response metadata for
        InboundSsoAssignmentsService.DeleteInboundSsoAssignment.
    GoogleAppsCloudidentityDevicesV1ClientState:
      id: GoogleAppsCloudidentityDevicesV1ClientState
      properties:
        keyValuePairs:
          type: object
          description: >-
            The map of key-value attributes stored by callers specific to a
            device. The total serialized length of this map may not exceed 10KB.
            No limit is placed on the number of attributes in a map.
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleAppsCloudidentityDevicesV1CustomAttributeValue
        customId:
          description: >-
            This field may be used to store a unique identifier for the API
            resource within which these CustomAttributes are a field.
          type: string
        managed:
          enumDescriptions:
            - The management state of the resource is unknown or unspecified.
            - The resource is managed.
            - The resource is not managed.
          enum:
            - MANAGED_STATE_UNSPECIFIED
            - MANAGED
            - UNMANAGED
          description: The management state of the resource as specified by the API client.
          type: string
        lastUpdateTime:
          type: string
          description: Output only. The time the client state data was last updated.
          format: google-datetime
          readOnly: true
        createTime:
          description: Output only. The time the client state data was created.
          format: google-datetime
          readOnly: true
          type: string
        complianceState:
          enum:
            - COMPLIANCE_STATE_UNSPECIFIED
            - COMPLIANT
            - NON_COMPLIANT
          type: string
          description: The compliance state of the resource as specified by the API client.
          enumDescriptions:
            - The compliance state of the resource is unknown or unspecified.
            - Device is compliant with third party policies
            - Device is not compliant with third party policies
        etag:
          type: string
          description: >-
            The token that needs to be passed back for concurrency control in
            updates. Token needs to be passed back in UpdateRequest
        healthScore:
          enum:
            - HEALTH_SCORE_UNSPECIFIED
            - VERY_POOR
            - POOR
            - NEUTRAL
            - GOOD
            - VERY_GOOD
          description: >-
            The Health score of the resource. The Health score is the callers
            specification of the condition of the device from a usability point
            of view. For example, a third-party device management provider may
            specify a health score based on its compliance with organizational
            policies.
          enumDescriptions:
            - Default value
            - The object is in very poor health as defined by the caller.
            - The object is in poor health as defined by the caller.
            - >-
              The object health is neither good nor poor, as defined by the
              caller.
            - The object is in good health as defined by the caller.
            - The object is in very good health as defined by the caller.
          type: string
        ownerType:
          readOnly: true
          enum:
            - OWNER_TYPE_UNSPECIFIED
            - OWNER_TYPE_CUSTOMER
            - OWNER_TYPE_PARTNER
          description: Output only. The owner of the ClientState
          enumDescriptions:
            - Unknown owner type
            - Customer is the owner
            - Partner is the owner
          type: string
        scoreReason:
          type: string
          description: A descriptive cause of the health score.
        assetTags:
          items:
            type: string
          description: The caller can specify asset tags for this resource
          type: array
        name:
          readOnly: true
          type: string
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            ClientState in format:
            `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`,
            where partner corresponds to the partner storing the data. For
            partners belonging to the "BeyondCorp Alliance", this is the partner
            ID specified to you by Google. For all other callers, this is a
            string of the form: `{customer}-suffix`, where `customer` is your
            customer ID. The *suffix* is any string the caller specifies. This
            string will be displayed verbatim in the administration console.
            This suffix is used in setting up Custom Access Levels in
            Context-Aware Access. Your organization's customer ID can be
            obtained from the URL: `GET
            https://www.googleapis.com/admin/directory/v1/customers/my_customer`
            The `id` field in the response contains the customer ID starting
            with the letter 'C'. The customer ID to be used in this API is the
            string after the letter 'C' (not including 'C')
      description: >-
        Represents the state associated with an API client calling the Devices
        API. Resource representing ClientState and supports updates from API
        users
      type: object
    GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse:
      id: GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse
      properties:
        deviceUser:
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1DeviceUser'
          description: Resultant DeviceUser object for the action.
      description: Response message for approving the device to access user data.
      type: object
    GetMembershipGraphMetadata:
      properties: {}
      description: >-
        Metadata of GetMembershipGraphResponse LRO. This is currently empty to
        permit future extensibility.
      id: GetMembershipGraphMetadata
      type: object
    RsaPublicKeyInfo:
      description: Information of a RSA public key.
      properties:
        keySize:
          type: integer
          description: Key size in bits (size of the modulus).
          format: int32
      type: object
      id: RsaPublicKeyInfo
    SearchDirectGroupsResponse:
      properties:
        memberships:
          description: List of direct groups satisfying the query.
          type: array
          items:
            $ref: '#/components/schemas/MembershipRelation'
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results available for listing.
      description: The response message for MembershipsService.SearchDirectGroups.
      type: object
      id: SearchDirectGroupsResponse
    UpdateMembershipMetadata:
      type: object
      id: UpdateMembershipMetadata
      description: Metadata for UpdateMembership LRO.
      properties: {}
    GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata:
      description: Metadata for ApproveDeviceUser LRO.
      id: GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata
      type: object
      properties: {}
    AddIdpCredentialOperationMetadata:
      type: object
      properties: {}
      id: AddIdpCredentialOperationMetadata
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.AddIdpCredential.
    GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata:
      properties: {}
      id: GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata
      description: Metadata for UpdateClientState LRO.
      type: object
    ListUserInvitationsResponse:
      properties:
        userInvitations:
          type: array
          items:
            $ref: '#/components/schemas/UserInvitation'
          description: The list of UserInvitation resources.
        nextPageToken:
          description: >-
            The token for the next page. If not empty, indicates that there may
            be more `UserInvitation` resources that match the listing request;
            this value can be used in a subsequent ListUserInvitationsRequest to
            get continued results with the current list call.
          type: string
      type: object
      id: ListUserInvitationsResponse
      description: Response message for UserInvitation listing request.
    SearchTransitiveGroupsResponse:
      type: object
      properties:
        memberships:
          items:
            $ref: '#/components/schemas/GroupRelation'
          description: List of transitive groups satisfying the query.
          type: array
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results available for listing.
          type: string
      description: The response message for MembershipsService.SearchTransitiveGroups.
      id: SearchTransitiveGroupsResponse
    GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse:
      description: Response message that is returned from the ListDeviceUsers method.
      type: object
      id: GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse
      properties:
        deviceUsers:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1DeviceUser'
          description: Devices meeting the list restrictions.
        nextPageToken:
          description: >-
            Token to retrieve the next page of results. Empty if there are no
            more results.
          type: string
    MemberRelation:
      id: MemberRelation
      properties:
        relationType:
          enumDescriptions:
            - The relation type is undefined or undetermined.
            - The two entities have only a direct membership with each other.
            - The two entities have only an indirect membership with each other.
            - >-
              The two entities have both a direct and an indirect membership
              with each other.
          description: The relation between the group and the transitive member.
          type: string
          enum:
            - RELATION_TYPE_UNSPECIFIED
            - DIRECT
            - INDIRECT
            - DIRECT_AND_INDIRECT
        member:
          description: Resource name for this member.
          type: string
        roles:
          description: The membership role details (i.e name of role and expiry time).
          type: array
          items:
            $ref: '#/components/schemas/TransitiveMembershipRole'
        preferredMemberKey:
          items:
            $ref: '#/components/schemas/EntityKey'
          description: >-
            Entity key has an id and a namespace. In case of discussion forums,
            the id will be an email address without a namespace.
          type: array
      description: Message representing a transitive membership of a group.
      type: object
    GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata:
      description: Metadata for DeleteDevice LRO.
      properties: {}
      type: object
      id: GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata
    CancelUserInvitationRequest:
      properties: {}
      type: object
      description: Request to cancel sent invitation for target email in UserInvitation.
      id: CancelUserInvitationRequest
    MembershipRoleRestrictionEvaluation:
      type: object
      id: MembershipRoleRestrictionEvaluation
      properties:
        state:
          description: Output only. The current state of the restriction
          readOnly: true
          enumDescriptions:
            - Default. Should not be used.
            - The member adheres to the parent group's restriction.
            - >-
              The group-group membership might be currently violating some
              parent group's restriction but in future, it will never allow any
              new member in the child group which can violate parent group's
              restriction.
            - The member violates the parent group's restriction.
            - The state of the membership is under evaluation.
          enum:
            - STATE_UNSPECIFIED
            - COMPLIANT
            - FORWARD_COMPLIANT
            - NON_COMPLIANT
            - EVALUATING
          type: string
      description: The evaluated state of this restriction.
    IdpCredential:
      type: object
      description: Credential for verifying signatures produced by the Identity Provider.
      id: IdpCredential
      properties:
        updateTime:
          readOnly: true
          type: string
          description: Output only. Time when the `IdpCredential` was last updated.
          format: google-datetime
        rsaKeyInfo:
          readOnly: true
          $ref: '#/components/schemas/RsaPublicKeyInfo'
          description: Output only. Information of a RSA public key.
        name:
          readOnly: true
          type: string
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            credential.
        dsaKeyInfo:
          $ref: '#/components/schemas/DsaPublicKeyInfo'
          description: Output only. Information of a DSA public key.
          readOnly: true
    GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata:
      description: Metadata for UpdateDevice LRO.
      properties: {}
      id: GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata
      type: object
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse:
      properties:
        device:
          description: >-
            Resultant Device object for the action. Note that asset tags will
            not be returned in the device object.
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1Device'
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse
      description: Response message for cancelling an unfinished device wipe.
      type: object
    GetMembershipGraphResponse:
      properties:
        groups:
          description: >-
            The resources representing each group in the adjacency list. Each
            group in this list can be correlated to a 'group' of the
            MembershipAdjacencyList using the 'name' of the Group resource.
          type: array
          items:
            $ref: '#/components/schemas/Group'
        adjacencyList:
          type: array
          items:
            $ref: '#/components/schemas/MembershipAdjacencyList'
          description: >-
            The membership graph's path information represented as an adjacency
            list.
      description: The response message for MembershipsService.GetMembershipGraph.
      id: GetMembershipGraphResponse
      type: object
    ModifyMembershipRolesResponse:
      description: The response message for MembershipsService.ModifyMembershipRoles.
      type: object
      id: ModifyMembershipRolesResponse
      properties:
        membership:
          $ref: '#/components/schemas/Membership'
          description: The `Membership` resource after modifying its `MembershipRole`s.
    GoogleAppsCloudidentityDevicesV1WipeDeviceResponse:
      properties:
        device:
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1Device'
          description: >-
            Resultant Device object for the action. Note that asset tags will
            not be returned in the device object.
      description: Response message for wiping all data on the device.
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceResponse
      type: object
    ListInboundSsoAssignmentsResponse:
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        inboundSsoAssignments:
          description: The assignments.
          items:
            $ref: '#/components/schemas/InboundSsoAssignment'
          type: array
      id: ListInboundSsoAssignmentsResponse
      description: >-
        Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments
        method.
      type: object
    SearchTransitiveMembershipsResponse:
      id: SearchTransitiveMembershipsResponse
      type: object
      properties:
        memberships:
          items:
            $ref: '#/components/schemas/MemberRelation'
          description: List of transitive members satisfying the query.
          type: array
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results.
      description: The response message for MembershipsService.SearchTransitiveMemberships.
    MembershipAdjacencyList:
      description: Membership graph's path information as an adjacency list.
      id: MembershipAdjacencyList
      type: object
      properties:
        group:
          type: string
          description: Resource name of the group that the members belong to.
        edges:
          type: array
          description: >-
            Each edge contains information about the member that belongs to this
            group. Note: Fields returned here will help identify the specific
            Membership resource (e.g name, preferred_member_key and role), but
            may not be a comprehensive list of all fields.
          items:
            $ref: '#/components/schemas/Membership'
    Operation:
      properties:
        response:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          description: >-
            The normal response of the operation in case of success. If the
            original method returns no data on success, such as `Delete`, the
            response is `google.protobuf.Empty`. If the original method is
            standard `Get`/`Create`/`Update`, the response should be the
            resource. For other methods, the response should have the type
            `XxxResponse`, where `Xxx` is the original method name. For example,
            if the original method name is `TakeSnapshot()`, the inferred
            response type is `TakeSnapshotResponse`.
        done:
          description: >-
            If the value is `false`, it means the operation is still in
            progress. If `true`, the operation is completed, and either `error`
            or `response` is available.
          type: boolean
        metadata:
          description: >-
            Service-specific metadata associated with the operation. It
            typically contains progress information and common metadata such as
            create time. Some services might not provide such metadata. Any
            method that returns a long-running operation should document the
            metadata type, if any.
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          type: object
        name:
          description: >-
            The server-assigned name, which is only unique within the same
            service that originally returns it. If you use the default HTTP
            mapping, the `name` should be a resource name ending with
            `operations/{unique_id}`.
          type: string
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            The error result of the operation in case of failure or
            cancellation.
      id: Operation
      description: >-
        This resource represents a long-running operation that is the result of
        a network API call.
      type: object
  parameters:
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/cloud-identity.groups.readonly: >-
              See any Cloud Identity Groups that you can access, including group
              members and their emails
            https://www.googleapis.com/auth/cloud-identity.devices: >-
              Private Service:
              https://www.googleapis.com/auth/cloud-identity.devices
            https://www.googleapis.com/auth/cloud-identity.devices.readonly: >-
              Private Service:
              https://www.googleapis.com/auth/cloud-identity.devices.readonly
            https://www.googleapis.com/auth/cloud-identity.devices.lookup: See your device details
            https://www.googleapis.com/auth/cloud-platform: >-
              See, edit, configure, and delete your Google Cloud data and see
              the email address for your Google Account.
            https://www.googleapis.com/auth/cloud-identity.groups: >-
              See, change, create, and delete any of the Cloud Identity Groups
              that you can access, including the members of each group
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/customers/{customersId}/userinvitations/{userinvitationsId}:
    parameters: &ref_1
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/access_token'
    get:
      description: >-
        Retrieves a UserInvitation resource. **Note:** New consumer accounts
        with the customer's verified domain created within the previous 48 hours
        will not appear in the result. This delay also applies to newly-verified
        domains.
      operationId: cloudidentity.customers.userinvitations.get
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInvitation'
      parameters:
        - in: path
          name: customersId
          required: true
          schema:
            type: string
        - in: path
          name: userinvitationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: userinvitations
      x-stackQL-verb: select
  /v1/customers/{customersId}/userinvitations:
    parameters: *ref_1
    get:
      description: >-
        Retrieves a list of UserInvitation resources. **Note:** New consumer
        accounts with the customer's verified domain created within the previous
        48 hours will not appear in the result. This delay also applies to
        newly-verified domains.
      operationId: cloudidentity.customers.userinvitations.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserInvitationsResponse'
      parameters:
        - in: path
          name: customersId
          required: true
          schema:
            type: string
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: orderBy
          schema:
            type: string
      x-stackQL-resource: userinvitations
      x-stackQL-verb: select
  /v1/customers/{customersId}/userinvitations/{userinvitationsId}:cancel:
    parameters: *ref_1
    post:
      description: Cancels a UserInvitation that was already sent.
      operationId: cloudidentity.customers.userinvitations.cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelUserInvitationRequest'
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: customersId
          required: true
          schema:
            type: string
        - in: path
          name: userinvitationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: userinvitations
      x-stackQL-verb: exec
  /v1/customers/{customersId}/userinvitations/{userinvitationsId}:send:
    parameters: *ref_1
    post:
      description: >-
        Sends a UserInvitation to email. If the `UserInvitation` does not exist
        for this request and it is a valid request, the request creates a
        `UserInvitation`. **Note:** The `get` and `list` methods have a 48-hour
        delay where newly-created consumer accounts will not appear in the
        results. You can still send a `UserInvitation` to those accounts if you
        know the unmanaged email address and IsInvitableUser==True.
      operationId: cloudidentity.customers.userinvitations.send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendUserInvitationRequest'
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: customersId
          required: true
          schema:
            type: string
        - in: path
          name: userinvitationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: userinvitations
      x-stackQL-verb: exec
  /v1/customers/{customersId}/userinvitations/{userinvitationsId}:isInvitableUser:
    parameters: *ref_1
    get:
      description: >-
        Verifies whether a user account is eligible to receive a UserInvitation
        (is an unmanaged account). Eligibility is based on the following
        criteria: * the email address is a consumer account and it's the primary
        email address of the account, and * the domain of the email address
        matches an existing verified Google Workspace or Cloud Identity domain
        If both conditions are met, the user is eligible. **Note:** This method
        is not supported for Workspace Essentials customers.
      operationId: cloudidentity.customers.userinvitations.isInvitableUser
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsInvitableUserResponse'
      parameters:
        - in: path
          name: customersId
          required: true
          schema:
            type: string
        - in: path
          name: userinvitationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: userinvitations
      x-stackQL-verb: exec
  /v1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials:
    parameters: *ref_1
    get:
      description: Returns a list of IdpCredentials in an InboundSamlSsoProfile.
      operationId: cloudidentity.inboundSamlSsoProfiles.idpCredentials.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdpCredentialsResponse'
      parameters:
        - in: path
          name: inboundSamlSsoProfilesId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: idp_credentials
      x-stackQL-verb: select
  /v1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials/{idpCredentialsId}:
    parameters: *ref_1
    get:
      description: Gets an IdpCredential.
      operationId: cloudidentity.inboundSamlSsoProfiles.idpCredentials.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdpCredential'
      parameters:
        - in: path
          name: inboundSamlSsoProfilesId
          required: true
          schema:
            type: string
        - in: path
          name: idpCredentialsId
          required: true
          schema:
            type: string
      x-stackQL-resource: idp_credentials
      x-stackQL-verb: select
    delete:
      description: Deletes an IdpCredential.
      operationId: cloudidentity.inboundSamlSsoProfiles.idpCredentials.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: inboundSamlSsoProfilesId
          required: true
          schema:
            type: string
        - in: path
          name: idpCredentialsId
          required: true
          schema:
            type: string
      x-stackQL-resource: idp_credentials
      x-stackQL-verb: delete
  /v1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}/idpCredentials:add:
    parameters: *ref_1
    post:
      description: Adds an IdpCredential. Up to 2 credentials are allowed.
      operationId: cloudidentity.inboundSamlSsoProfiles.idpCredentials.add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddIdpCredentialRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: inboundSamlSsoProfilesId
          required: true
          schema:
            type: string
      x-stackQL-resource: idp_credentials
      x-stackQL-verb: insert
  /v1/inboundSamlSsoProfiles/{inboundSamlSsoProfilesId}:
    parameters: *ref_1
    patch:
      description: Updates an InboundSamlSsoProfile.
      operationId: cloudidentity.inboundSamlSsoProfiles.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundSamlSsoProfile'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: inboundSamlSsoProfilesId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: inbound_saml_sso_profiles
      x-stackQL-verb: exec
    delete:
      description: Deletes an InboundSamlSsoProfile.
      operationId: cloudidentity.inboundSamlSsoProfiles.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: inboundSamlSsoProfilesId
          required: true
          schema:
            type: string
      x-stackQL-resource: inbound_saml_sso_profiles
      x-stackQL-verb: delete
    get:
      description: Gets an InboundSamlSsoProfile.
      operationId: cloudidentity.inboundSamlSsoProfiles.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundSamlSsoProfile'
      parameters:
        - in: path
          name: inboundSamlSsoProfilesId
          required: true
          schema:
            type: string
      x-stackQL-resource: inbound_saml_sso_profiles
      x-stackQL-verb: select
  /v1/inboundSamlSsoProfiles:
    parameters: *ref_1
    post:
      description: Creates an InboundSamlSsoProfile for a customer.
      operationId: cloudidentity.inboundSamlSsoProfiles.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundSamlSsoProfile'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters: []
      x-stackQL-resource: inbound_saml_sso_profiles
      x-stackQL-verb: insert
    get:
      description: Lists InboundSamlSsoProfiles for a customer.
[...]
