openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Identity API
  description: API for provisioning and managing identity resources.
  version: v1beta1
  x-discovery-doc-revision: '20230619'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/identity/
servers:
  - url: https://cloudidentity.googleapis.com
components:
  schemas:
    GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse:
      description: Response message for approving the device to access user data.
      id: GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse
      properties:
        deviceUser:
          description: Resultant DeviceUser object for the action.
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1DeviceUser'
      type: object
    DeleteInboundSamlSsoProfileOperationMetadata:
      id: DeleteInboundSamlSsoProfileOperationMetadata
      type: object
      properties: {}
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile.
    WipeDeviceUserRequest:
      type: object
      properties:
        customer:
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer_id}`, where customer_id is
            the customer to whom the device belongs.
          type: string
      id: WipeDeviceUserRequest
      description: Request message for starting an account wipe on device.
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse:
      type: object
      properties:
        deviceUser:
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1DeviceUser'
          description: Resultant DeviceUser object for the action.
      description: Response message for cancelling an unfinished user account wipe.
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse
    GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata:
      description: Metadata for WipeDevice LRO.
      properties: {}
      type: object
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata
    ListDeviceUsersResponse:
      type: object
      id: ListDeviceUsersResponse
      properties:
        nextPageToken:
          description: >-
            Token to retrieve the next page of results. Empty if there are no
            more results.
          type: string
        deviceUsers:
          type: array
          description: Devices meeting the list restrictions.
          items:
            $ref: '#/components/schemas/DeviceUser'
      description: Response message that is returned from the ListDeviceUsers method.
    GoogleAppsCloudidentityDevicesV1DeviceUser:
      properties:
        createTime:
          description: When the user first signed in to the device
          type: string
          format: google-datetime
        compromisedState:
          enumDescriptions:
            - >-
              Compromised state of Device User account is unknown or
              unspecified.
            - Device User Account is compromised.
            - Device User Account is not compromised.
          description: Compromised State of the DeviceUser object
          type: string
          enum:
            - COMPROMISED_STATE_UNSPECIFIED
            - COMPROMISED
            - NOT_COMPROMISED
        firstSyncTime:
          description: >-
            Output only. Most recent time when user registered with this
            service.
          type: string
          format: google-datetime
          readOnly: true
        managementState:
          type: string
          description: Output only. Management state of the user on the device.
          enum:
            - MANAGEMENT_STATE_UNSPECIFIED
            - WIPING
            - WIPED
            - APPROVED
            - BLOCKED
            - PENDING_APPROVAL
            - UNENROLLED
          readOnly: true
          enumDescriptions:
            - Default value. This value is unused.
            - This user's data and profile is being removed from the device.
            - This user's data and profile is removed from the device.
            - User is approved to access data on the device.
            - User is blocked from accessing data on the device.
            - User is awaiting approval.
            - >-
              User is unenrolled from Advanced Windows Management, but the
              Windows account is still intact.
        lastSyncTime:
          format: google-datetime
          description: Output only. Last time when user synced with policies.
          readOnly: true
          type: string
        passwordState:
          description: Password state of the DeviceUser object
          enumDescriptions:
            - Password state not set.
            - Password set in object.
            - Password not set in object.
          enum:
            - PASSWORD_STATE_UNSPECIFIED
            - PASSWORD_SET
            - PASSWORD_NOT_SET
          type: string
        userAgent:
          type: string
          readOnly: true
          description: Output only. User agent on the device for this specific user
        name:
          type: string
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`,
            where `device_user` uniquely identifies a user's use of a device.
          readOnly: true
        languageCode:
          description: Output only. Default locale used on device, in IETF BCP-47 format.
          type: string
          readOnly: true
        userEmail:
          description: Email address of the user registered on the device.
          type: string
      description: >-
        Represents a user's use of a Device in the Cloud Identity Devices API. A
        DeviceUser is a resource representing a user's use of a Device
      type: object
      id: GoogleAppsCloudidentityDevicesV1DeviceUser
    ListOrgMembershipsResponse:
      type: object
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is empty, there are no subsequent pages.
        orgMemberships:
          type: array
          items:
            $ref: '#/components/schemas/OrgMembership'
          description: The non-vacuous membership in an orgUnit.
      id: ListOrgMembershipsResponse
      description: The response message for OrgMembershipsService.ListOrgMemberships.
    CreateInboundSamlSsoProfileOperationMetadata:
      type: object
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile.
      id: CreateInboundSamlSsoProfileOperationMetadata
      properties: {}
    RestrictionEvaluation:
      properties:
        state:
          enumDescriptions:
            - Default. Should not be used.
            - The restriction state is currently being evaluated.
            - All transitive memberships are adhering to restriction.
            - >-
              Some transitive memberships violate the restriction. No new
              violating memberships can be added.
            - >-
              Some transitive memberships violate the restriction. New violating
              direct memberships will be denied while indirect memberships may
              be added.
          readOnly: true
          enum:
            - STATE_UNSPECIFIED
            - EVALUATING
            - COMPLIANT
            - FORWARD_COMPLIANT
            - NON_COMPLIANT
          type: string
          description: Output only. The current state of the restriction
      type: object
      id: RestrictionEvaluation
      description: The evaluated state of this restriction.
    MembershipRelation:
      id: MembershipRelation
      properties:
        labels:
          description: >-
            One or more label entries that apply to the Group. Currently
            supported labels contain a key with an empty value.
          additionalProperties:
            type: string
          type: object
        displayName:
          description: The display name of the `Group`.
          type: string
        groupKey:
          $ref: '#/components/schemas/EntityKey'
          description: The `EntityKey` of the `Group`.
        membership:
          description: >-
            The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            `Membership`. Shall be of the form
            `groups/{group_id}/memberships/{membership_id}`.
          type: string
        description:
          description: >-
            An extended description to help users determine the purpose of a
            `Group`.
          type: string
        roles:
          items:
            $ref: '#/components/schemas/MembershipRole'
          description: The `MembershipRole`s that apply to the `Membership`.
          type: array
        group:
          type: string
          description: >-
            The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            `Group`. Shall be of the form `groups/{group_id}`.
      type: object
      description: Message containing membership relation.
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata:
      description: Metadata for CancelWipeDevice LRO.
      properties: {}
      type: object
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata
    BlockDeviceUserResponse:
      type: object
      properties:
        deviceUser:
          description: Resultant DeviceUser object for the action.
          $ref: '#/components/schemas/DeviceUser'
      description: Response message for blocking the device from accessing user data.
      id: BlockDeviceUserResponse
    GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata:
      properties: {}
      description: Metadata for WipeDeviceUser LRO.
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata
      type: object
    DynamicGroupStatus:
      properties:
        statusTime:
          type: string
          format: google-datetime
          description: >-
            The latest time at which the dynamic group is guaranteed to be in
            the given status. If status is `UP_TO_DATE`, the latest time at
            which the dynamic group was confirmed to be up-to-date. If status is
            `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.
        status:
          description: Status of the dynamic group.
          enum:
            - STATUS_UNSPECIFIED
            - UP_TO_DATE
            - UPDATING_MEMBERSHIPS
            - INVALID_QUERY
          enumDescriptions:
            - Default.
            - The dynamic group is up-to-date.
            - >-
              The dynamic group has just been created and memberships are being
              updated.
            - >-
              Group is in an unrecoverable state and its memberships can't be
              updated.
          type: string
      id: DynamicGroupStatus
      type: object
      description: The current status of a dynamic group along with timestamp.
    SearchGroupsResponse:
      description: The response message for GroupsService.SearchGroups.
      id: SearchGroupsResponse
      type: object
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
          description: The `Group` resources that match the search query.
        nextPageToken:
          description: >-
            A continuation token to retrieve the next page of results, or empty
            if there are no more results available.
          type: string
    GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata:
      description: Metadata for CreateDevice LRO.
      id: GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata
      type: object
      properties: {}
    LookupMembershipNameResponse:
      description: The response message for MembershipsService.LookupMembershipName.
      properties:
        name:
          type: string
          description: >-
            The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            looked-up `Membership`. Must be of the form
            `groups/{group_id}/memberships/{membership_id}`.
      id: LookupMembershipNameResponse
      type: object
    AddIdpCredentialRequest:
      id: AddIdpCredentialRequest
      type: object
      properties:
        pemData:
          description: >-
            PEM encoded x509 certificate containing the public key for verifying
            IdP signatures.
          type: string
      description: >-
        The request for creating an IdpCredential with its associated payload.
        An InboundSamlSsoProfile can own up to 2 credentials.
    IsInvitableUserResponse:
      properties:
        isInvitableUser:
          type: boolean
          description: Returns true if the email address is invitable.
      id: IsInvitableUserResponse
      type: object
      description: Response for IsInvitableUser RPC.
    SearchDirectGroupsResponse:
      description: The response message for MembershipsService.SearchDirectGroups.
      type: object
      properties:
        memberships:
          items:
            $ref: '#/components/schemas/MembershipRelation'
          description: List of direct groups satisfying the query.
          type: array
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results available for listing.
      id: SearchDirectGroupsResponse
    GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata:
      type: object
      properties: {}
      id: GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata
      description: Metadata for ListEndpointApps LRO.
    Group:
      description: >-
        A group within the Cloud Identity Groups API. A `Group` is a collection
        of entities, where each entity is either a user, another group, or a
        service account.
      properties:
        labels:
          description: >-
            Required. One or more label entries that apply to the Group.
            Currently supported labels contain a key with an empty value. Google
            Groups are the default type of group and have a label with a key of
            `cloudidentity.googleapis.com/groups.discussion_forum` and an empty
            value. Existing Google Groups can have an additional label with a
            key of `cloudidentity.googleapis.com/groups.security` and an empty
            value added to them. **This is an immutable change and the security
            label cannot be removed once added.** Dynamic groups have a label
            with a key of `cloudidentity.googleapis.com/groups.dynamic`.
            Identity-mapped groups for Cloud Search have a label with a key of
            `system/groups/external` and an empty value.
          type: object
          additionalProperties:
            type: string
        groupKey:
          $ref: '#/components/schemas/EntityKey'
          description: Required. The `EntityKey` of the `Group`.
        posixGroups:
          items:
            $ref: '#/components/schemas/PosixGroup'
          description: Optional. The POSIX groups associated with the `Group`.
          type: array
        description:
          description: >-
            An extended description to help users determine the purpose of a
            `Group`. Must not be longer than 4,096 characters.
          type: string
        displayName:
          description: The display name of the `Group`.
          type: string
        name:
          description: >-
            Output only. The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            `Group`. Shall be of the form `groups/{group_id}`.
          readOnly: true
          type: string
        parent:
          type: string
          description: >-
            Required. Immutable. The resource name of the entity under which
            this `Group` resides in the Cloud Identity resource hierarchy. Must
            be of the form `identitysources/{identity_source}` for external
            [identity-mapped
            groups](https://support.google.com/a/answer/9039510) or
            `customers/{customer_id}` for Google Groups. The `customer_id` must
            begin with "C" (for example, 'C046psxkn'). [Find your customer ID.]
            (https://support.google.com/cloudidentity/answer/10070793)
        updateTime:
          format: google-datetime
          description: Output only. The time when the `Group` was last updated.
          type: string
          readOnly: true
        additionalGroupKeys:
          readOnly: true
          description: Output only. Additional group keys associated with the Group.
          items:
            $ref: '#/components/schemas/EntityKey'
          type: array
        createTime:
          readOnly: true
          type: string
          description: Output only. The time when the `Group` was created.
          format: google-datetime
        dynamicGroupMetadata:
          description: Optional. Dynamic group metadata like queries and status.
          $ref: '#/components/schemas/DynamicGroupMetadata'
      type: object
      id: Group
    RsaPublicKeyInfo:
      id: RsaPublicKeyInfo
      properties:
        keySize:
          description: Key size in bits (size of the modulus).
          format: int32
          type: integer
      type: object
      description: Information of a RSA public key.
    GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata:
      description: Metadata for SignoutDeviceUser LRO.
      type: object
      id: GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata
      properties: {}
    GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata:
      id: GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata
      properties: {}
      type: object
      description: Metadata for UpdateClientState LRO.
    DeviceUser:
      id: DeviceUser
      description: >-
        Represents a user's use of a Device in the Cloud Identity Devices API. A
        DeviceUser is a resource representing a user's use of a Device
      properties:
        passwordState:
          enumDescriptions:
            - Password state not set.
            - Password set in object.
            - Password not set in object.
          enum:
            - PASSWORD_STATE_UNSPECIFIED
            - PASSWORD_SET
            - PASSWORD_NOT_SET
          type: string
          description: Password state of the DeviceUser object
        name:
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            DeviceUser in format:
            `devices/{device_id}/deviceUsers/{device_user_id}`, where
            `device_user_id` uniquely identifies a user's use of a device.
          readOnly: true
          type: string
        firstSyncTime:
          type: string
          readOnly: true
          description: >-
            Output only. Most recent time when user registered with this
            service.
          format: google-datetime
        languageCode:
          type: string
          description: Output only. Default locale used on device, in IETF BCP-47 format.
          readOnly: true
        lastSyncTime:
          format: google-datetime
          type: string
          description: Output only. Last time when user synced with policies.
          readOnly: true
        userAgent:
          readOnly: true
          description: Output only. User agent on the device for this specific user
          type: string
        createTime:
          format: google-datetime
          description: When the user first signed in to the device
          type: string
        userEmail:
          description: Email address of the user registered on the device.
          type: string
        compromisedState:
          enum:
            - COMPROMISED_STATE_UNSPECIFIED
            - COMPROMISED
            - NOT_COMPROMISED
          description: Compromised State of the DeviceUser object
          type: string
          enumDescriptions:
            - >-
              Compromised state of Device User account is unknown or
              unspecified.
            - Device User Account is compromised.
            - Device User Account is not compromised.
        managementState:
          type: string
          enum:
            - MANAGEMENT_STATE_UNSPECIFIED
            - WIPING
            - WIPED
            - APPROVED
            - BLOCKED
            - PENDING_APPROVAL
            - UNENROLLED
          readOnly: true
          enumDescriptions:
            - Default value. This value is unused.
            - This user's data and profile is being removed from the device.
            - This user's data and profile is removed from the device.
            - User is approved to access data on the device.
            - User is blocked from accessing data on the device.
            - User is awaiting approval.
            - >-
              User is unenrolled from Advanced Windows Management, but the
              Windows account is still intact.
          description: Output only. Management state of the user on the device.
      type: object
    AddIdpCredentialOperationMetadata:
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.AddIdpCredential.
      type: object
      id: AddIdpCredentialOperationMetadata
      properties: {}
    ListMembershipsResponse:
      description: The response message for MembershipsService.ListMemberships.
      properties:
        memberships:
          items:
            $ref: '#/components/schemas/Membership'
          type: array
          description: The `Membership`s under the specified `parent`.
        nextPageToken:
          type: string
          description: >-
            A continuation token to retrieve the next page of results, or empty
            if there are no more results available.
      type: object
      id: ListMembershipsResponse
    ListIdpCredentialsResponse:
      id: ListIdpCredentialsResponse
      properties:
        idpCredentials:
          type: array
          description: The IdpCredentials from the specified InboundSamlSsoProfile.
          items:
            $ref: '#/components/schemas/IdpCredential'
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
      description: Response of the InboundSamlSsoProfilesService.ListIdpCredentials method.
    UserInvitation:
      type: object
      id: UserInvitation
      description: >-
        The `UserInvitation` resource represents an email that can be sent to an
        unmanaged user account inviting them to join the customer's Google
        Workspace or Cloud Identity account. An unmanaged account shares an
        email address domain with the Google Workspace or Cloud Identity account
        but is not managed by it yet. If the user accepts the `UserInvitation`,
        the user account will become managed.
      properties:
        state:
          description: State of the `UserInvitation`.
          enum:
            - STATE_UNSPECIFIED
            - NOT_YET_SENT
            - INVITED
            - ACCEPTED
            - DECLINED
          type: string
          enumDescriptions:
            - The default value. This value is used if the state is omitted.
            - >-
              The `UserInvitation` has been created and is ready for sending as
              an email.
            - The user has been invited by email.
            - >-
              The user has accepted the invitation and is part of the
              organization.
            - The user declined the invitation.
        name:
          description: >-
            Shall be of the form
            `customers/{customer}/userinvitations/{user_email_address}`.
          type: string
        updateTime:
          description: Time when the `UserInvitation` was last updated.
          format: google-datetime
          type: string
        mailsSentCount:
          type: string
          description: Number of invitation emails sent to the user.
          format: int64
    OrgMembership:
      type: object
      id: OrgMembership
      properties:
        memberUri:
          description: >-
            Uri with which you can read the member. This follows
            https://aip.dev/122 Format for shared drive resource:
            https://drive.googleapis.com/drive/v3/drives/{$memberId} where
            `$memberId` is the `id` from [Drive API (V3) `Drive`
            resource](https://developers.google.com/drive/api/v3/reference/drives#resource).
          type: string
        member:
          description: >-
            Immutable. Org member id as full resource name. Format for shared
            drive resource: //drive.googleapis.com/drives/{$memberId} where
            `$memberId` is the `id` from [Drive API (V3) `Drive`
            resource](https://developers.google.com/drive/api/v3/reference/drives#resource).
          type: string
        type:
          enumDescriptions:
            - Equivalent to no resource type mentioned
            - Shared drive as resource type
          description: Immutable. Entity type for the org member.
          type: string
          enum:
            - ENTITY_TYPE_UNSPECIFIED
            - SHARED_DRIVE
        name:
          type: string
          description: >-
            Required. Immutable. The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            OrgMembership. Format:
            orgUnits/{$orgUnitId}/memberships/{$membership} The `$orgUnitId` is
            the `orgUnitId` from the [Admin SDK `OrgUnit`
            resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).
            The `$membership` shall be of the form `{$entityType};{$memberId}`,
            where `$entityType` is the enum value of [OrgMembership.EntityType],
            and `memberId` is the `id` from [Drive API (V3) `Drive`
            resource](https://developers.google.com/drive/api/v3/reference/drives#resource)
            for OrgMembership.EntityType.SHARED_DRIVE.
      description: >-
        A membership in an OrgUnit. An `OrgMembership` defines a relationship
        between an `OrgUnit` and an entity belonging to that `OrgUnit`, referred
        to as a "member".
    CreateInboundSsoAssignmentOperationMetadata:
      id: CreateInboundSsoAssignmentOperationMetadata
      description: >-
        LRO response metadata for
        InboundSsoAssignmentsService.CreateInboundSsoAssignment.
      type: object
      properties: {}
    ListClientStatesResponse:
      id: ListClientStatesResponse
      description: >-
        Response message that is returned in LRO result of ListClientStates
        Operation.
      type: object
      properties:
        clientStates:
          type: array
          description: Client states meeting the list restrictions.
          items:
            $ref: '#/components/schemas/ClientState'
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results. Empty if there are no
            more results.
    ClientState:
      type: object
      id: ClientState
      properties:
        assetTags:
          type: array
          description: The caller can specify asset tags for this resource
          items:
            type: string
        managed:
          description: The management state of the resource as specified by the API client.
          type: string
          enumDescriptions:
            - The management state of the resource is unknown or unspecified.
            - The resource is managed.
            - The resource is not managed.
          enum:
            - MANAGED_STATE_UNSPECIFIED
            - MANAGED
            - UNMANAGED
        healthScore:
          enumDescriptions:
            - Default value
            - The object is in very poor health as defined by the caller.
            - The object is in poor health as defined by the caller.
            - >-
              The object health is neither good nor poor, as defined by the
              caller.
            - The object is in good health as defined by the caller.
            - The object is in very good health as defined by the caller.
          type: string
          description: The Health score of the resource
          enum:
            - HEALTH_SCORE_UNSPECIFIED
            - VERY_POOR
            - POOR
            - NEUTRAL
            - GOOD
            - VERY_GOOD
        customId:
          type: string
          description: >-
            This field may be used to store a unique identifier for the API
            resource within which these CustomAttributes are a field.
        keyValuePairs:
          description: >-
            The map of key-value attributes stored by callers specific to a
            device. The total serialized length of this map may not exceed 10KB.
            No limit is placed on the number of attributes in a map.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CustomAttributeValue'
        name:
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            ClientState in format:
            `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`,
            where partner_id corresponds to the partner storing the data.
          readOnly: true
          type: string
        lastUpdateTime:
          type: string
          description: Output only. The time the client state data was last updated.
          format: google-datetime
          readOnly: true
        scoreReason:
          description: A descriptive cause of the health score.
          type: string
        complianceState:
          type: string
          description: The compliance state of the resource as specified by the API client.
          enumDescriptions:
            - The compliance state of the resource is unknown or unspecified.
            - Device is compliant with third party policies
            - Device is not compliant with third party policies
          enum:
            - COMPLIANCE_STATE_UNSPECIFIED
            - COMPLIANT
            - NON_COMPLIANT
        ownerType:
          readOnly: true
          enum:
            - OWNER_TYPE_UNSPECIFIED
            - OWNER_TYPE_CUSTOMER
            - OWNER_TYPE_PARTNER
          enumDescriptions:
            - Unknown owner type
            - Customer is the owner
            - Partner is the owner
          type: string
          description: Output only. The owner of the ClientState
        createTime:
          format: google-datetime
          readOnly: true
          type: string
          description: Output only. The time the client state data was created.
        etag:
          type: string
          description: >-
            The token that needs to be passed back for concurrency control in
            updates. Token needs to be passed back in UpdateRequest
      description: >-
        Represents the state associated with an API client calling the Devices
        API. Resource representing ClientState and supports updates from API
        users
    LookupGroupNameResponse:
      properties:
        name:
          description: >-
            Output only. The [resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            looked-up `Group`.
          type: string
          readOnly: true
      type: object
      id: LookupGroupNameResponse
      description: The response message for GroupsService.LookupGroupName.
    GroupRelation:
      id: GroupRelation
      type: object
      properties:
        relationType:
          description: The relation between the member and the transitive group.
          type: string
          enum:
            - RELATION_TYPE_UNSPECIFIED
            - DIRECT
            - INDIRECT
            - DIRECT_AND_INDIRECT
          enumDescriptions:
            - The relation type is undefined or undetermined.
            - The two entities have only a direct membership with each other.
            - The two entities have only an indirect membership with each other.
            - >-
              The two entities have both a direct and an indirect membership
              with each other.
        labels:
          description: Labels for Group resource.
          type: object
          additionalProperties:
            type: string
        displayName:
          description: Display name for this group.
          type: string
        group:
          type: string
          description: Resource name for this group.
        groupKey:
          description: >-
            Entity key has an id and a namespace. In case of discussion forums,
            the id will be an email address without a namespace.
          $ref: '#/components/schemas/EntityKey'
        roles:
          type: array
          description: Membership roles of the member for the group.
          items:
            $ref: '#/components/schemas/TransitiveMembershipRole'
      description: Message representing a transitive group of a user or a group.
    InboundSamlSsoProfile:
      type: object
      id: InboundSamlSsoProfile
      properties:
        spConfig:
          description: >-
            SAML service provider configuration for this SAML SSO profile. These
            are the service provider details provided by Google that should be
            configured on the corresponding identity provider.
          $ref: '#/components/schemas/SamlSpConfig'
        idpConfig:
          $ref: '#/components/schemas/SamlIdpConfig'
          description: SAML identity provider configuration.
        displayName:
          type: string
          description: Human-readable name of the SAML SSO profile.
        customer:
          type: string
          description: 'Immutable. The customer. For example: `customers/C0123abc`.'
        name:
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            SAML SSO profile.
          readOnly: true
          type: string
      description: >-
        A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation
        between a Google enterprise customer and a SAML identity provider.
    SamlSsoInfo:
      type: object
      id: SamlSsoInfo
      properties:
        inboundSamlSsoProfile:
          description: >-
            Required. Name of the `InboundSamlSsoProfile` to use. Must be of the
            form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. 
          type: string
      description: Details that are applicable when `sso_mode` == `SAML_SSO`.
    WipeDeviceResponse:
      description: Response message for wiping all data on the device.
      id: WipeDeviceResponse
      properties:
        device:
          $ref: '#/components/schemas/Device'
          description: >-
            Resultant Device object for the action. Note that asset tags will
            not be returned in the device object.
      type: object
    GetMembershipGraphResponse:
      type: object
      properties:
        adjacencyList:
          description: >-
            The membership graph's path information represented as an adjacency
            list.
          items:
            $ref: '#/components/schemas/MembershipAdjacencyList'
          type: array
        groups:
          description: >-
            The resources representing each group in the adjacency list. Each
            group in this list can be correlated to a 'group' of the
            MembershipAdjacencyList using the 'name' of the Group resource.
          items:
            $ref: '#/components/schemas/Group'
          type: array
      id: GetMembershipGraphResponse
      description: The response message for MembershipsService.GetMembershipGraph.
    GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata:
      description: Metadata for UpdateDevice LRO.
      properties: {}
      type: object
      id: GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata
    ListUserInvitationsResponse:
      type: object
      id: ListUserInvitationsResponse
      properties:
        userInvitations:
          description: The list of UserInvitation resources.
          items:
            $ref: '#/components/schemas/UserInvitation'
          type: array
        nextPageToken:
          description: >-
            The token for the next page. If not empty, indicates that there may
            be more `UserInvitation` resources that match the listing request;
            this value can be used in a subsequent ListUserInvitationsRequest to
            get continued results with the current list call.
          type: string
      description: Response message for UserInvitation listing request.
    TransitiveMembershipRole:
      description: Message representing the role of a TransitiveMembership.
      type: object
      properties:
        role:
          type: string
          description: >-
            TransitiveMembershipRole in string format. Currently supported
            TransitiveMembershipRoles: `"MEMBER"`, `"OWNER"`, and `"MANAGER"`.
      id: TransitiveMembershipRole
    BlockDeviceUserRequest:
      properties:
        customer:
          type: string
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer_id}`, where customer_id is
            the customer to whom the device belongs.
      type: object
      id: BlockDeviceUserRequest
      description: Request message for blocking account on device.
    ExpiryDetail:
      id: ExpiryDetail
      description: The `MembershipRole` expiry details.
      properties:
        expireTime:
          type: string
          format: google-datetime
          description: The time at which the `MembershipRole` will expire.
      type: object
    DynamicGroupQuery:
      properties:
        query:
          description: >-
            Query that determines the memberships of the dynamic group.
            Examples: All users with at least one `organizations.department` of
            engineering. `user.organizations.exists(org,
            org.department=='engineering')` All users with at least one location
            that has `area` of `foo` and `building_id` of `bar`.
            `user.locations.exists(loc, loc.area=='foo' &&
            loc.building_id=='bar')` All users with any variation of the name
            John Doe (case-insensitive queries add `equalsIgnoreCase()` to the
            value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`
          type: string
        resourceType:
          enum:
            - RESOURCE_TYPE_UNSPECIFIED
            - USER
          type: string
          enumDescriptions:
            - Default value (not valid)
            - For queries on User
      id: DynamicGroupQuery
      type: object
      description: Defines a query on a resource.
    RestrictionEvaluations:
      description: Evaluations of restrictions applied to parent group on this membership.
      properties:
        memberRestrictionEvaluation:
          $ref: '#/components/schemas/MembershipRoleRestrictionEvaluation'
          description: >-
            Evaluation of the member restriction applied to this membership.
            Empty if the user lacks permission to view the restriction
            evaluation.
      type: object
      id: RestrictionEvaluations
    CancelWipeDeviceUserRequest:
      id: CancelWipeDeviceUserRequest
      type: object
      description: Request message for cancelling an unfinished user account wipe.
      properties:
        customer:
          type: string
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer_id}`, where customer_id is
            the customer to whom the device belongs.
    Operation:
      properties:
        response:
          description: >-
            The normal response of the operation in case of success. If the
            original method returns no data on success, such as `Delete`, the
            response is `google.protobuf.Empty`. If the original method is
            standard `Get`/`Create`/`Update`, the response should be the
            resource. For other methods, the response should have the type
            `XxxResponse`, where `Xxx` is the original method name. For example,
            if the original method name is `TakeSnapshot()`, the inferred
            response type is `TakeSnapshotResponse`.
          type: object
          additionalProperties:
            type: any
            description: Properties of the object. Contains field @type with type URL.
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            The error result of the operation in case of failure or
            cancellation.
        done:
          type: boolean
          description: >-
            If the value is `false`, it means the operation is still in
            progress. If `true`, the operation is completed, and either `error`
            or `response` is available.
        name:
          type: string
          description: >-
            The server-assigned name, which is only unique within the same
            service that originally returns it. If you use the default HTTP
            mapping, the `name` should be a resource name ending with
            `operations/{unique_id}`.
        metadata:
          type: object
          description: >-
            Service-specific metadata associated with the operation. It
            typically contains progress information and common metadata such as
            create time. Some services might not provide such metadata. Any
            method that returns a long-running operation should document the
            metadata type, if any.
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
      description: >-
        This resource represents a long-running operation that is the result of
        a network API call.
      type: object
      id: Operation
    GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata:
      properties: {}
      id: GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata
      description: Metadata for DeleteDeviceUser LRO.
      type: object
    GoogleAppsCloudidentityDevicesV1AndroidAttributes:
      type: object
      id: GoogleAppsCloudidentityDevicesV1AndroidAttributes
      description: Resource representing the Android specific attributes of a Device.
      properties:
        hasPotentiallyHarmfulApps:
          description: Whether any potentially harmful apps were detected on the device.
          type: boolean
        verifiedBoot:
          type: boolean
          description: Whether Android verified boot status is GREEN.
        ownerProfileAccount:
          type: boolean
          description: >-
            Whether this account is on an owner/primary profile. For phones,
            only true for owner profiles. Android 4+ devices can have secondary
            or restricted user profiles.
        supportsWorkProfile:
          type: boolean
          description: >-
            Whether device supports Android work profiles. If false, this
            service will not block access to corp data even if an administrator
            turns on the "Enforce Work Profile" policy.
        enabledUnknownSources:
          description: >-
            Whether applications from unknown sources can be installed on
            device.
          type: boolean
        ownershipPrivilege:
          enum:
            - OWNERSHIP_PRIVILEGE_UNSPECIFIED
            - DEVICE_ADMINISTRATOR
            - PROFILE_OWNER
            - DEVICE_OWNER
          enumDescriptions:
            - Ownership privilege is not set.
            - Active device administrator privileges on the device.
            - >-
              Profile Owner privileges. The account is in a managed corporate
              profile.
            - Device Owner privileges on the device.
          type: string
          description: Ownership privileges on device.
        ctsProfileMatch:
          type: boolean
          description: Whether the device passes Android CTS compliance.
        verifyAppsEnabled:
          description: Whether Google Play Protect Verify Apps is enabled.
          type: boolean
    UpdateInboundSamlSsoProfileOperationMetadata:
      properties: {}
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.UpdateInboundSamlSsoProfile.
      type: object
      id: UpdateInboundSamlSsoProfileOperationMetadata
    MembershipRole:
      description: >-
        A membership role within the Cloud Identity Groups API. A
        `MembershipRole` defines the privileges granted to a `Membership`.
      id: MembershipRole
      properties:
        name:
          description: >-
            The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`,
            `MEMBER`.
          type: string
        restrictionEvaluations:
          $ref: '#/components/schemas/RestrictionEvaluations'
          description: >-
            Evaluations of restrictions applied to parent group on this
            membership.
        expiryDetail:
          description: >-
            The expiry details of the `MembershipRole`. Expiry details are only
            supported for `MEMBER` `MembershipRoles`. May be set if `name` is
            `MEMBER`. Must not be set if `name` is any other value.
          $ref: '#/components/schemas/ExpiryDetail'
      type: object
    ModifyMembershipRolesResponse:
      description: The response message for MembershipsService.ModifyMembershipRoles.
      id: ModifyMembershipRolesResponse
      type: object
      properties:
        membership:
          $ref: '#/components/schemas/Membership'
          description: The `Membership` resource after modifying its `MembershipRole`s.
    GoogleAppsCloudidentityDevicesV1ClientState:
      type: object
      id: GoogleAppsCloudidentityDevicesV1ClientState
      properties:
        lastUpdateTime:
          type: string
          format: google-datetime
          readOnly: true
          description: Output only. The time the client state data was last updated.
        customId:
          description: >-
            This field may be used to store a unique identifier for the API
            resource within which these CustomAttributes are a field.
          type: string
        scoreReason:
          description: A descriptive cause of the health score.
          type: string
        name:
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            ClientState in format:
            `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`,
            where partner corresponds to the partner storing the data. For
            partners belonging to the "BeyondCorp Alliance", this is the partner
            ID specified to you by Google. For all other callers, this is a
            string of the form: `{customer}-suffix`, where `customer` is your
            customer ID. The *suffix* is any string the caller specifies. This
            string will be displayed verbatim in the administration console.
            This suffix is used in setting up Custom Access Levels in
            Context-Aware Access. Your organization's customer ID can be
            obtained from the URL: `GET
            https://www.googleapis.com/admin/directory/v1/customers/my_customer`
            The `id` field in the response contains the customer ID starting
            with the letter 'C'. The customer ID to be used in this API is the
            string after the letter 'C' (not including 'C')
          type: string
          readOnly: true
        healthScore:
          description: >-
            The Health score of the resource. The Health score is the callers
            specification of the condition of the device from a usability point
            of view. For example, a third-party device management provider may
            specify a health score based on its compliance with organizational
            policies.
          enum:
            - HEALTH_SCORE_UNSPECIFIED
            - VERY_POOR
            - POOR
            - NEUTRAL
            - GOOD
            - VERY_GOOD
          enumDescriptions:
            - Default value
            - The object is in very poor health as defined by the caller.
            - The object is in poor health as defined by the caller.
            - >-
              The object health is neither good nor poor, as defined by the
              caller.
            - The object is in good health as defined by the caller.
            - The object is in very good health as defined by the caller.
          type: string
        ownerType:
          enumDescriptions:
            - Unknown owner type
            - Customer is the owner
            - Partner is the owner
          type: string
          readOnly: true
          description: Output only. The owner of the ClientState
          enum:
            - OWNER_TYPE_UNSPECIFIED
            - OWNER_TYPE_CUSTOMER
            - OWNER_TYPE_PARTNER
        etag:
          description: >-
            The token that needs to be passed back for concurrency control in
            updates. Token needs to be passed back in UpdateRequest
          type: string
        managed:
          type: string
          description: The management state of the resource as specified by the API client.
          enumDescriptions:
            - The management state of the resource is unknown or unspecified.
            - The resource is managed.
            - The resource is not managed.
          enum:
            - MANAGED_STATE_UNSPECIFIED
            - MANAGED
            - UNMANAGED
        complianceState:
          enum:
            - COMPLIANCE_STATE_UNSPECIFIED
            - COMPLIANT
            - NON_COMPLIANT
          description: The compliance state of the resource as specified by the API client.
          enumDescriptions:
            - The compliance state of the resource is unknown or unspecified.
            - Device is compliant with third party policies
            - Device is not compliant with third party policies
          type: string
        keyValuePairs:
          type: object
          description: >-
            The map of key-value attributes stored by callers specific to a
            device. The total serialized length of this map may not exceed 10KB.
            No limit is placed on the number of attributes in a map.
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleAppsCloudidentityDevicesV1CustomAttributeValue
        createTime:
          readOnly: true
          description: Output only. The time the client state data was created.
          type: string
          format: google-datetime
        assetTags:
          items:
            type: string
          description: The caller can specify asset tags for this resource
          type: array
      description: >-
        Represents the state associated with an API client calling the Devices
        API. Resource representing ClientState and supports updates from API
        users
    CancelUserInvitationRequest:
      id: CancelUserInvitationRequest
      type: object
      properties: {}
      description: Request to cancel sent invitation for target email in UserInvitation.
    ListDevicesResponse:
      id: ListDevicesResponse
      properties:
        devices:
          items:
            $ref: '#/components/schemas/Device'
          type: array
          description: Devices meeting the list restrictions.
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results. Empty if there are no
            more results.
      type: object
      description: Response message that is returned from the ListDevices method.
    Status:
      type: object
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
      id: Status
      properties:
        details:
          items:
            additionalProperties:
              type: any
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          type: integer
          format: int32
        message:
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
          type: string
    SecuritySettings:
      properties:
        name:
          type: string
          description: >-
            Output only. The resource name of the security settings. Shall be of
            the form `groups/{group_id}/securitySettings`.
          readOnly: true
        memberRestriction:
          description: The Member Restriction value
          $ref: '#/components/schemas/MemberRestriction'
      description: The definiion of security settings.
      id: SecuritySettings
      type: object
    DeleteInboundSsoAssignmentOperationMetadata:
      properties: {}
      description: >-
        LRO response metadata for
        InboundSsoAssignmentsService.DeleteInboundSsoAssignment.
      id: DeleteInboundSsoAssignmentOperationMetadata
      type: object
    InboundSsoAssignment:
      type: object
      description: Targets with "set" SSO assignments and their respective assignments.
      properties:
        ssoMode:
          enumDescriptions:
            - Not allowed.
            - Disable SSO for the targeted users.
            - >-
              Use an external SAML Identity Provider for SSO for the targeted
              users.
            - >-
              Use the domain-wide SAML Identity Provider for the targeted users
              if one is configured; otherwise, this is equivalent to `SSO_OFF`.
              Note that this will also be equivalent to `SSO_OFF` if/when
              support for domain-wide SAML is removed. Google may disallow this
              mode at that point and existing assignments with this mode may be
              automatically changed to `SSO_OFF`.
          description: Inbound SSO behavior.
          type: string
          enum:
            - SSO_MODE_UNSPECIFIED
            - SSO_OFF
            - SAML_SSO
            - DOMAIN_WIDE_SAML_IF_ENABLED
        name:
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            Inbound SSO Assignment.
          readOnly: true
          type: string
        customer:
          type: string
          description: 'Immutable. The customer. For example: `customers/C0123abc`.'
        targetOrgUnit:
          description: Immutable. Must be of the form `orgUnits/{org_unit}`.
          type: string
        targetGroup:
          description: Immutable. Must be of the form `groups/{group}`.
          type: string
        samlSsoInfo:
          $ref: '#/components/schemas/SamlSsoInfo'
          description: >-
            SAML SSO details. Must be set if and only if `sso_mode` is set to
            `SAML_SSO`.
        signInBehavior:
          $ref: '#/components/schemas/SignInBehavior'
          description: >-
            Assertions about users assigned to an IdP will always be accepted
            from that IdP. This controls whether/when Google should redirect a
            user to the IdP. Unset (defaults) is the recommended configuration.
        rank:
          format: int32
          description: >-
            Must be zero (which is the default value so it can be omitted) for
            assignments with `target_org_unit` set and must be
            greater-than-or-equal-to one for assignments with `target_group`
            set.
          type: integer
      id: InboundSsoAssignment
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse:
      properties:
        device:
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1Device'
          description: >-
            Resultant Device object for the action. Note that asset tags will
            not be returned in the device object.
      type: object
      description: Response message for cancelling an unfinished device wipe.
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse
    LookupSelfDeviceUsersResponse:
      type: object
      description: >-
        Response containing resource names of the DeviceUsers associated with
        the caller's credentials.
      id: LookupSelfDeviceUsersResponse
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results. Empty if there are no
            more results.
        names:
          items:
            type: string
          description: >-
            [Resource
            names](https://cloud.google.com/apis/design/resource_names) of the
            DeviceUsers in the format:
            `devices/{device_id}/deviceUsers/{user_resource_id}`, where
            device_id is the unique ID assigned to a Device and user_resource_id
            is the unique user ID
          type: array
        customer:
          type: string
          description: >-
            The customer Id that may be passed back to other Devices API methods
            such as List, Get, etc.
    UpdateMembershipRolesParams:
      id: UpdateMembershipRolesParams
      properties:
        membershipRole:
          description: >-
            The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRoles`
            can currently be updated. May only contain a `MembershipRole` with
            `name` `MEMBER`.
          $ref: '#/components/schemas/MembershipRole'
        fieldMask:
          format: google-fieldmask
          description: >-
            The fully-qualified names of fields to update. May only contain the
            field `expiry_detail.expire_time`.
          type: string
      type: object
      description: The details of an update to a `MembershipRole`.
    SearchTransitiveMembershipsResponse:
      properties:
        memberships:
          items:
            $ref: '#/components/schemas/MemberRelation'
          description: List of transitive memberships satisfying the query.
          type: array
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results.
      description: The response message for MembershipsService.SearchTransitiveMemberships.
      type: object
      id: SearchTransitiveMembershipsResponse
    CreateDeviceRequest:
      description: Request message for creating a Company Owned device.
      id: CreateDeviceRequest
      properties:
        device:
          $ref: '#/components/schemas/Device'
          description: >-
            Required. The device to be created. The name field within this
            device is ignored in the create method. A new name is created by the
            method, and returned within the response. Only the fields
            `device_type`, `serial_number` and `asset_tag` (if present) are used
            to create the device. All other fields are ignored. The
            `device_type` and `serial_number` fields are required.
        customer:
          type: string
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer_id}`, where customer_id is
            the customer to whom the device belongs.
      type: object
    MoveOrgMembershipRequest:
      id: MoveOrgMembershipRequest
      type: object
      description: The request message for OrgMembershipsService.MoveOrgMembership.
      properties:
        customer:
          description: >-
            Required. Immutable. Customer on whose membership change is made.
            All authorization will happen on the role assignments of this
            customer. Format: customers/{$customerId} where `$customerId` is the
            `id` from the [Admin SDK `Customer`
            resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers).
            You may also use `customers/my_customer` to specify your own
            organization.
          type: string
        destinationOrgUnit:
          description: >-
            Required. Immutable. OrgUnit where the membership will be moved to.
            Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId`
            from the [Admin SDK `OrgUnit`
            resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).
          type: string
    GoogleAppsCloudidentityDevicesV1Device:
      id: GoogleAppsCloudidentityDevicesV1Device
      properties:
        imei:
          readOnly: true
          description: Output only. IMEI number of device if GSM device; empty otherwise.
          type: string
        kernelVersion:
          description: Output only. Kernel version of the device.
          readOnly: true
          type: string
        lastSyncTime:
          description: Most recent time when device synced with this service.
          type: string
          format: google-datetime
        securityPatchTime:
          format: google-datetime
          readOnly: true
          description: Output only. OS security patch update time on device.
          type: string
        serialNumber:
          type: string
          description: 'Serial Number of device. Example: HT82V1A01076.'
        wifiMacAddresses:
          items:
            type: string
          description: WiFi MAC addresses of device.
          type: array
        compromisedState:
          enumDescriptions:
            - Default value.
            - >-
              The device is compromised (currently, this means Android device is
              rooted).
            - >-
              The device is safe (currently, this means Android device is
              unrooted).
          type: string
          enum:
            - COMPROMISED_STATE_UNSPECIFIED
            - COMPROMISED
            - UNCOMPROMISED
          description: Output only. Represents whether the Device is compromised.
          readOnly: true
        name:
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            Device in format: `devices/{device}`, where device is the unique id
            assigned to the Device.
          type: string
          readOnly: true
        assetTag:
          description: Asset tag of the device.
          type: string
        deviceType:
          enumDescriptions:
            - Unknown device type
            - Device is an Android device
            - Device is an iOS device
            - Device is a Google Sync device.
            - Device is a Windows device.
            - Device is a MacOS device.
            - Device is a Linux device.
            - Device is a ChromeOS device.
          description: Output only. Type of device.
          readOnly: true
          type: string
          enum:
            - DEVICE_TYPE_UNSPECIFIED
            - ANDROID
            - IOS
            - GOOGLE_SYNC
            - WINDOWS
            - MAC_OS
            - LINUX
            - CHROME_OS
        osVersion:
          type: string
          description: 'Output only. OS version of the device. Example: Android 8.1.0.'
          readOnly: true
        releaseVersion:
          type: string
          description: 'Output only. OS release version. Example: 6.0.'
          readOnly: true
        deviceId:
          description: Unique identifier for the device.
          type: string
        ownerType:
          readOnly: true
          description: >-
            Output only. Whether the device is owned by the company or an
            individual
          enumDescriptions:
            - Default value. The value is unused.
            - Company owns the device.
            - Bring Your Own Device (i.e. individual owns the device)
          enum:
            - DEVICE_OWNERSHIP_UNSPECIFIED
            - COMPANY
            - BYOD
          type: string
        bootloaderVersion:
          readOnly: true
          type: string
          description: 'Output only. Device bootloader version. Example: 0.6.7.'
        managementState:
          readOnly: true
          enumDescriptions:
            - Default value. This value is unused.
            - Device is approved.
            - Device is blocked.
            - Device is pending approval.
            - >-
              The device is not provisioned. Device will start from this state
              until some action is taken (i.e. a user starts using the device).
            - Data and settings on the device are being removed.
            - All data and settings on the device are removed.
          description: Output only. Management state of the device
          enum:
            - MANAGEMENT_STATE_UNSPECIFIED
            - APPROVED
            - BLOCKED
            - PENDING
            - UNPROVISIONED
            - WIPING
            - WIPED
          type: string
        networkOperator:
          description: Output only. Mobile or network operator of device, if available.
          type: string
          readOnly: true
        otherAccounts:
          items:
            type: string
          type: array
          description: >-
            Output only. Domain name for Google accounts on device. Type for
            other accounts on device. On Android, will only be populated if
            |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not
            include the account signed in to the device policy app if that
            account's domain has only one account. Examples: "com.example",
            "xyz.com".
          readOnly: true
        model:
          type: string
          readOnly: true
          description: 'Output only. Model name of device. Example: Pixel 3.'
        meid:
          description: Output only. MEID number of device if CDMA device; empty otherwise.
          type: string
          readOnly: true
        enabledUsbDebugging:
          readOnly: true
          type: boolean
          description: Output only. Whether USB debugging is enabled on device.
        createTime:
          type: string
          format: google-datetime
          description: >-
            Output only. When the Company-Owned device was imported. This field
            is empty for BYOD devices.
          readOnly: true
        brand:
          description: 'Output only. Device brand. Example: Samsung.'
          type: string
          readOnly: true
        encryptionState:
          enumDescriptions:
            - Encryption Status is not set.
            - Device doesn't support encryption.
            - Device is encrypted.
            - Device is not encrypted.
          enum:
            - ENCRYPTION_STATE_UNSPECIFIED
            - UNSUPPORTED_BY_DEVICE
            - ENCRYPTED
            - NOT_ENCRYPTED
          type: string
          readOnly: true
          description: Output only. Device encryption state.
        enabledDeveloperOptions:
          type: boolean
          readOnly: true
          description: Output only. Whether developer options is enabled on device.
        manufacturer:
          type: string
          description: 'Output only. Device manufacturer. Example: Motorola.'
          readOnly: true
        buildNumber:
          readOnly: true
          type: string
          description: Output only. Build number of the device.
        androidSpecificAttributes:
          description: Output only. Attributes specific to Android devices.
          $ref: >-
            #/components/schemas/GoogleAppsCloudidentityDevicesV1AndroidAttributes
          readOnly: true
        basebandVersion:
          readOnly: true
          type: string
          description: Output only. Baseband version of the device.
      type: object
      description: ' A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.'
    DsaPublicKeyInfo:
      type: object
      id: DsaPublicKeyInfo
      properties:
        keySize:
          format: int32
          type: integer
          description: Key size in bits (size of parameter P).
      description: Information of a DSA public key.
    SamlSpConfig:
      properties:
        entityId:
          type: string
          readOnly: true
          description: Output only. The SAML **Entity ID** for this service provider.
        assertionConsumerServiceUri:
          type: string
          description: >-
            Output only. The SAML **Assertion Consumer Service (ACS) URL** to be
            used for the IDP-initiated login. Assumed to accept response
            messages via the `HTTP-POST` binding.
          readOnly: true
      id: SamlSpConfig
      description: SAML SP (service provider) configuration.
      type: object
    GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata:
      type: object
      properties: {}
      id: GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata
      description: Metadata for DeleteDevice LRO.
    CheckTransitiveMembershipResponse:
      type: object
      description: The response message for MembershipsService.CheckTransitiveMembership.
      id: CheckTransitiveMembershipResponse
      properties:
        hasMembership:
          description: >-
            Response does not include the possible roles of a member since the
            behavior of this rpc is not all-or-nothing unlike the other rpcs.
            So, it may not be possible to list all the roles definitively, due
            to possible lack of authorization in some of the paths.
          type: boolean
    DeleteIdpCredentialOperationMetadata:
      description: >-
        LRO response metadata for
        InboundSamlSsoProfilesService.DeleteIdpCredential.
      id: DeleteIdpCredentialOperationMetadata
      type: object
      properties: {}
    MembershipRoleRestrictionEvaluation:
      type: object
      properties:
        state:
          description: Output only. The current state of the restriction
          enum:
            - STATE_UNSPECIFIED
            - COMPLIANT
            - FORWARD_COMPLIANT
            - NON_COMPLIANT
            - EVALUATING
          readOnly: true
          type: string
          enumDescriptions:
            - Default. Should not be used.
            - The member adheres to the parent group's restriction.
            - >-
              The group-group membership might be currently violating some
              parent group's restriction but in future, it will never allow any
              new member in the child group which can violate parent group's
              restriction.
            - The member violates the parent group's restriction.
            - The state of the membership is under evaluation.
      description: The evaluated state of this restriction.
      id: MembershipRoleRestrictionEvaluation
    ModifyMembershipRolesRequest:
      type: object
      properties:
        addRoles:
          type: array
          items:
            $ref: '#/components/schemas/MembershipRole'
          description: >-
            The `MembershipRole`s to be added. Adding or removing roles in the
            same request as updating roles is not supported. Must not be set if
            `update_roles_params` is set.
        removeRoles:
          type: array
          description: >-
            The `name`s of the `MembershipRole`s to be removed. Adding or
            removing roles in the same request as updating roles is not
            supported. It is not possible to remove the `MEMBER`
            `MembershipRole`. If you wish to delete a `Membership`, call
            MembershipsService.DeleteMembership instead. Must not contain
            `MEMBER`. Must not be set if `update_roles_params` is set.
          items:
            type: string
        updateRolesParams:
          items:
            $ref: '#/components/schemas/UpdateMembershipRolesParams'
          description: >-
            The `MembershipRole`s to be updated. Updating roles in the same
            request as adding or removing roles is not supported. Must not be
            set if either `add_roles` or `remove_roles` is set.
          type: array
      id: ModifyMembershipRolesRequest
      description: The request message for MembershipsService.ModifyMembershipRoles.
    SearchTransitiveGroupsResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results available for listing.
        memberships:
          description: List of transitive groups satisfying the query.
          type: array
          items:
            $ref: '#/components/schemas/GroupRelation'
      type: object
      description: The response message for MembershipsService.SearchTransitiveGroups.
      id: SearchTransitiveGroupsResponse
    GoogleAppsCloudidentityDevicesV1WipeDeviceResponse:
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceResponse
      description: Response message for wiping all data on the device.
      properties:
        device:
          description: >-
            Resultant Device object for the action. Note that asset tags will
            not be returned in the device object.
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1Device'
      type: object
    CancelWipeDeviceUserResponse:
      type: object
      properties:
        deviceUser:
          description: Resultant DeviceUser object for the action.
          $ref: '#/components/schemas/DeviceUser'
      description: Response message for cancelling an unfinished user account wipe.
      id: CancelWipeDeviceUserResponse
    ApproveDeviceUserResponse:
      description: Response message for approving the device to access user data.
      type: object
      id: ApproveDeviceUserResponse
      properties:
        deviceUser:
          $ref: '#/components/schemas/DeviceUser'
          description: Resultant DeviceUser object for the action.
    CancelWipeDeviceRequest:
      properties:
        customer:
          type: string
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer_id}`, where customer_id is
            the customer to whom the device belongs.
      description: Request message for cancelling an unfinished device wipe.
      type: object
      id: CancelWipeDeviceRequest
    MemberRelation:
      description: Message representing a transitive membership of a group.
      id: MemberRelation
      type: object
      properties:
        preferredMemberKey:
          type: array
          items:
            $ref: '#/components/schemas/EntityKey'
          description: >-
            Entity key has an id and a namespace. In case of discussion forums,
            the id will be an email address without a namespace.
        roles:
          items:
            $ref: '#/components/schemas/TransitiveMembershipRole'
          type: array
          description: The membership role details (i.e name of role and expiry time).
        relationType:
          enumDescriptions:
            - The relation type is undefined or undetermined.
            - The two entities have only a direct membership with each other.
            - The two entities have only an indirect membership with each other.
            - >-
              The two entities have both a direct and an indirect membership
              with each other.
          description: The relation between the group and the transitive membership.
          enum:
            - RELATION_TYPE_UNSPECIFIED
            - DIRECT
            - INDIRECT
            - DIRECT_AND_INDIRECT
          type: string
        member:
          description: Resource name for this member.
          type: string
    WipeDeviceRequest:
      type: object
      id: WipeDeviceRequest
      description: Request message for wiping all data on the device.
      properties:
        removeResetLock:
          type: boolean
          description: >-
            Optional. Specifies if a user is able to factory reset a device
            after a Device Wipe. On iOS, this is called "Activation Lock", while
            on Android, this is known as "Factory Reset Protection". If true,
            this protection will be removed from the device, so that a user can
            successfully factory reset. If false, the setting is untouched on
            the device.
        customer:
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer_id}`, where customer_id is
            the customer to whom the device belongs.
          type: string
    CustomAttributeValue:
      description: Additional custom attribute values may be one of these types
      type: object
      id: CustomAttributeValue
      properties:
        stringValue:
          description: Represents a string value.
          type: string
        boolValue:
          type: boolean
          description: Represents a boolean value.
        numberValue:
          description: Represents a double value.
          type: number
          format: double
    GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata:
      description: Metadata for ApproveDeviceUser LRO.
      type: object
      id: GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata
      properties: {}
    SignInBehavior:
      description: Controls sign-in behavior.
      type: object
      properties:
        redirectCondition:
          enumDescriptions:
            - Default and means "always"
            - >-
              Sign-in flows where the user is prompted for their identity will
              not redirect to the IdP (so the user will most likely be prompted
              by Google for a password), but special flows like IdP-initiated
              SAML and sign-in following automatic redirection to the IdP by
              domain-specific service URLs will accept the IdP's assertion of
              the user's identity.
          enum:
            - REDIRECT_CONDITION_UNSPECIFIED
            - NEVER
          type: string
          description: When to redirect sign-ins to the IdP.
      id: SignInBehavior
    GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata:
      properties: {}
      type: object
      description: Metadata for BlockDeviceUser LRO.
      id: GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata
    CertificateTemplate:
      type: object
      id: CertificateTemplate
      properties:
        majorVersion:
          format: int32
          type: integer
          description: 'The Major version of the template. Example: 100.'
        minorVersion:
          format: int32
          type: integer
          description: 'The minor version of the template. Example: 12.'
        id:
          type: string
          description: >-
            The template id of the template. Example:
            "1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047".
      description: CertificateTemplate (v3 Extension in X.509).
    ListInboundSsoAssignmentsResponse:
      type: object
      properties:
        inboundSsoAssignments:
          type: array
          items:
            $ref: '#/components/schemas/InboundSsoAssignment'
          description: The assignments.
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      description: >-
        Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments
        method.
      id: ListInboundSsoAssignmentsResponse
    SendUserInvitationRequest:
      id: SendUserInvitationRequest
      properties: {}
      type: object
      description: >-
        A request to send email for inviting target user corresponding to the
        UserInvitation.
    GoogleAppsCloudidentityDevicesV1CustomAttributeValue:
      id: GoogleAppsCloudidentityDevicesV1CustomAttributeValue
      description: Additional custom attribute values may be one of these types
      properties:
        boolValue:
          description: Represents a boolean value.
          type: boolean
        numberValue:
          type: number
          description: Represents a double value.
          format: double
        stringValue:
          description: Represents a string value.
          type: string
      type: object
    MemberRestriction:
      id: MemberRestriction
      description: The definition of MemberRestriction
      properties:
        query:
          description: >-
            Member Restriction as defined by CEL expression. Supported
            restrictions are: `member.customer_id` and `member.type`. Valid
            values for `member.type` are `1`, `2` and `3`. They correspond to
            USER, SERVICE_ACCOUNT, and GROUP respectively. The value for
            `member.customer_id` only supports `groupCustomerId()` currently
            which means the customer id of the group will be used for
            restriction. Supported operators are `&&`, `||` and `==`,
            corresponding to AND, OR, and EQUAL. Examples: Allow only service
            accounts of given customer to be members. `member.type == 2 &&
            member.customer_id == groupCustomerId()` Allow only users or groups
            to be members. `member.type == 1 || member.type == 3`
          type: string
        evaluation:
          description: The evaluated state of this restriction on a group.
          $ref: '#/components/schemas/RestrictionEvaluation'
      type: object
    GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata:
      description: Metadata for CancelWipeDeviceUser LRO.
      type: object
      id: GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata
      properties: {}
    ListInboundSamlSsoProfilesResponse:
      type: object
      description: >-
        Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles
        method.
      id: ListInboundSamlSsoProfilesResponse
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
        inboundSamlSsoProfiles:
          type: array
          description: List of InboundSamlSsoProfiles.
          items:
            $ref: '#/components/schemas/InboundSamlSsoProfile'
    WipeDeviceUserResponse:
      description: Response message for wiping the user's account from the device.
      type: object
      properties:
        deviceUser:
          $ref: '#/components/schemas/DeviceUser'
          description: Resultant DeviceUser object for the action.
      id: WipeDeviceUserResponse
    GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse:
      description: Response message for wiping the user's account from the device.
      properties:
        deviceUser:
          description: Resultant DeviceUser object for the action.
          $ref: '#/components/schemas/GoogleAppsCloudidentityDevicesV1DeviceUser'
      type: object
      id: GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse
    PosixGroup:
      type: object
      id: PosixGroup
      properties:
        name:
          type: string
          description: Name of the POSIX group.
        systemId:
          description: >-
            System identifier for which group name and gid apply to. If not
            specified it will default to empty value.
          type: string
        gid:
          type: string
          description: GID of the POSIX group.
          format: uint64
      description: POSIX Group definition to represent a group in a POSIX compliant system.
    Device:
      properties:
        buildNumber:
          description: Output only. Build number of the device.
          readOnly: true
          type: string
        networkOperator:
          description: Output only. Mobile or network operator of device, if available.
          readOnly: true
          type: string
        deviceType:
          description: Output only. Type of device.
          enumDescriptions:
            - Unknown device type
            - Device is an Android device
            - Device is an iOS device
            - Device is a Google Sync device.
            - Device is a Windows device.
            - Device is a MacOS device.
            - Device is a Linux device.
            - Device is a ChromeOS device.
          enum:
            - DEVICE_TYPE_UNSPECIFIED
            - ANDROID
            - IOS
            - GOOGLE_SYNC
            - WINDOWS
            - MAC_OS
            - LINUX
            - CHROME_OS
          type: string
          readOnly: true
        enabledUsbDebugging:
          description: Output only. Whether USB debugging is enabled on device.
          readOnly: true
          type: boolean
        otherAccounts:
          items:
            type: string
          type: array
          description: >-
            Output only. Domain name for Google accounts on device. Type for
            other accounts on device. On Android, will only be populated if
            |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not
            include the account signed in to the device policy app if that
            account's domain has only one account. Examples: "com.example",
            "xyz.com".
          readOnly: true
        ownerType:
          readOnly: true
          enum:
            - DEVICE_OWNERSHIP_UNSPECIFIED
            - COMPANY
            - BYOD
          enumDescriptions:
            - Default value. The value is unused.
            - Company owns the device.
            - Bring Your Own Device (i.e. individual owns the device)
          description: >-
            Output only. Whether the device is owned by the company or an
            individual
          type: string
        androidSpecificAttributes:
          description: Output only. Attributes specific to Android devices.
          readOnly: true
          $ref: '#/components/schemas/AndroidAttributes'
        deviceId:
          type: string
          description: Unique identifier for the device.
        endpointVerificationSpecificAttributes:
          $ref: '#/components/schemas/EndpointVerificationSpecificAttributes'
          description: Output only. Attributes specific to Endpoint Verification devices.
          readOnly: true
        meid:
          readOnly: true
          description: Output only. MEID number of device if CDMA device; empty otherwise.
          type: string
        wifiMacAddresses:
          items:
            type: string
          description: WiFi MAC addresses of device.
          type: array
        assetTag:
          type: string
          description: Asset tag of the device.
        osVersion:
          readOnly: true
          description: 'Output only. OS version of the device. Example: Android 8.1.0.'
          type: string
        name:
          description: >-
            Output only. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            Device in format: `devices/{device_id}`, where device_id is the
            unique id assigned to the Device.
          type: string
          readOnly: true
        model:
          description: 'Output only. Model name of device. Example: Pixel 3.'
          type: string
          readOnly: true
        encryptionState:
          type: string
          readOnly: true
          description: Output only. Device encryption state.
          enumDescriptions:
            - Encryption Status is not set.
            - Device doesn't support encryption.
            - Device is encrypted.
            - Device is not encrypted.
          enum:
            - ENCRYPTION_STATE_UNSPECIFIED
            - UNSUPPORTED_BY_DEVICE
            - ENCRYPTED
            - NOT_ENCRYPTED
        createTime:
          readOnly: true
          description: >-
            Output only. When the Company-Owned device was imported. This field
            is empty for BYOD devices.
          type: string
          format: google-datetime
        releaseVersion:
          type: string
          readOnly: true
          description: 'Output only. OS release version. Example: 6.0.'
        manufacturer:
          readOnly: true
          description: 'Output only. Device manufacturer. Example: Motorola.'
          type: string
        compromisedState:
          description: Output only. Represents whether the Device is compromised.
          enumDescriptions:
            - Default value.
            - >-
              The device is compromised (currently, this means Android device is
              rooted).
            - >-
              The device is safe (currently, this means Android device is
              unrooted).
          enum:
            - COMPROMISED_STATE_UNSPECIFIED
            - COMPROMISED
            - UNCOMPROMISED
          type: string
          readOnly: true
        enabledDeveloperOptions:
          readOnly: true
          type: boolean
          description: Output only. Whether developer options is enabled on device.
        serialNumber:
          type: string
          description: 'Serial Number of device. Example: HT82V1A01076.'
        brand:
          type: string
          description: 'Output only. Device brand. Example: Samsung.'
          readOnly: true
        kernelVersion:
          readOnly: true
          description: Output only. Kernel version of the device.
          type: string
        managementState:
          description: Output only. Management state of the device
          readOnly: true
          enum:
            - MANAGEMENT_STATE_UNSPECIFIED
            - APPROVED
            - BLOCKED
            - PENDING
            - UNPROVISIONED
            - WIPING
            - WIPED
          enumDescriptions:
            - Default value. This value is unused.
            - Device is approved.
            - Device is blocked.
            - Device is pending approval.
            - >-
              The device is not provisioned. Device will start from this state
              until some action is taken (i.e. a user starts using the device).
            - Data and settings on the device are being removed.
            - All data and settings on the device are removed.
          type: string
        securityPatchTime:
          type: string
          format: google-datetime
          readOnly: true
          description: Output only. OS security patch update time on device.
        lastSyncTime:
          format: google-datetime
          description: Most recent time when device synced with this service.
          type: string
        basebandVersion:
          description: Output only. Baseband version of the device.
          readOnly: true
          type: string
        imei:
          description: Output only. IMEI number of device if GSM device; empty otherwise.
          type: string
          readOnly: true
        bootloaderVersion:
          type: string
          description: 'Output only. Device bootloader version. Example: 0.6.7.'
          readOnly: true
        clientTypes:
          items:
            enum:
              - CLIENT_TYPE_UNSPECIFIED
              - DRIVE_FS
              - FUNDAMENTAL
              - ENDPOINT_VERIFICATION
              - WINDOWS_ADVANCED
              - GOOGLE_CREDENTIALS_PROVIDER_FOR_WINDOWS
            enumDescriptions:
              - Default value
              - Managed by DriveFS
              - Management type for every secure device
              - Managed by Endpoint Verification
              - Managed by Windows
              - Managed by Google credential provider for windows
            type: string
          description: List of the clients the device is reporting to.
          type: array
        hostname:
          description: Host name of the device.
          type: string
      type: object
      description: >-
        A Device within the Cloud Identity Devices API. Represents a Device
        known to Google Cloud, independent of the device ownership, type, and
        whether it is assigned or in use by a user.
      id: Device
    CancelWipeDeviceResponse:
      id: CancelWipeDeviceResponse
      properties:
        device:
          description: >-
            Resultant Device object for the action. Note that asset tags will
            not be returned in the device object.
          $ref: '#/components/schemas/Device'
      description: Response message for cancelling an unfinished device wipe.
      type: object
    AndroidAttributes:
      type: object
      id: AndroidAttributes
      properties:
        ownershipPrivilege:
          enum:
            - OWNERSHIP_PRIVILEGE_UNSPECIFIED
            - DEVICE_ADMINISTRATOR
            - PROFILE_OWNER
            - DEVICE_OWNER
          description: Ownership privileges on device.
          enumDescriptions:
            - Ownership privilege is not set.
            - Active device administrator privileges on the device.
            - >-
              Profile Owner privileges. The account is in a managed corporate
              profile.
            - Device Owner privileges on the device.
          type: string
        verifiedBoot:
          type: boolean
          description: Whether Android verified boot status is GREEN.
        supportsWorkProfile:
          type: boolean
          description: >-
            Whether device supports Android work profiles. If false, this
            service will not block access to corp data even if an administrator
            turns on the "Enforce Work Profile" policy.
        hasPotentiallyHarmfulApps:
          description: Whether any potentially harmful apps were detected on the device.
          type: boolean
        verifyAppsEnabled:
          type: boolean
          description: Whether Google Play Protect Verify Apps is enabled.
        ownerProfileAccount:
          description: >-
            Whether this account is on an owner/primary profile. For phones,
            only true for owner profiles. Android 4+ devices can have secondary
            or restricted user profiles.
          type: boolean
        ctsProfileMatch:
          type: boolean
          description: Whether the device passes Android CTS compliance.
        enabledUnknownSources:
          description: >-
            Whether applications from unknown sources can be installed on
            device.
          type: boolean
      description: Resource representing the Android specific attributes of a Device.
    ApproveDeviceUserRequest:
      id: ApproveDeviceUserRequest
      type: object
      properties:
        customer:
          description: >-
            Optional. [Resource
            name](https://cloud.google.com/apis/design/resource_names) of the
            customer. If you're using this API for your own organization, use
            `customers/my_customer` If you're using this API to manage another
            organization, use `customers/{customer_id}`, where customer_id is
            the customer to whom the device belongs.
          type: string
      description: Request message for approving the device to access user data.
    ListGroupsResponse:
      type: object
      id: ListGroupsResponse
      description: The response message for GroupsService.ListGroups.
      properties:
        nextPageToken:
          type: string
          description: >-
            A continuation token to retrieve the next page of results, or empty
            if there are no more results available.
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
          description: The `Group` resources under the specified `parent`.
    CertificateAttributes:
      properties:
        certificateTemplate:
          description: The X.509 extension for CertificateTemplate.
          $ref: '#/components/schemas/CertificateTemplate'
        subject:
          description: The subject name of this certificate.
          type: string
        validityExpirationTime:
[...]
