openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Apigee API
  description: >-
    Use the Apigee API to programmatically develop and manage APIs with a set of
    RESTful operations. Develop and secure API proxies, deploy and undeploy API
    proxy revisions, monitor APIs, configure environments, manage users, and
    more. Note: This product is available as a free trial for a time period of
    60 days.
  version: v1
  x-discovery-doc-revision: '20230615'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/apigee-api-management/
servers:
  - url: https://apigee.googleapis.com
components:
  schemas:
    GoogleCloudApigeeV1ListDatastoresResponse:
      description: The response for ListDatastores
      properties:
        datastores:
          description: A list of datastores
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1Datastore'
          type: array
      id: GoogleCloudApigeeV1ListDatastoresResponse
      type: object
    GoogleCloudApigeeV1AddonsConfig:
      id: GoogleCloudApigeeV1AddonsConfig
      type: object
      properties:
        apiSecurityConfig:
          $ref: '#/components/schemas/GoogleCloudApigeeV1ApiSecurityConfig'
          description: Configuration for the API Security add-on.
        connectorsPlatformConfig:
          description: Configuration for the Connectors Platform add-on.
          $ref: '#/components/schemas/GoogleCloudApigeeV1ConnectorsPlatformConfig'
        integrationConfig:
          $ref: '#/components/schemas/GoogleCloudApigeeV1IntegrationConfig'
          description: Configuration for the Integration add-on.
        monetizationConfig:
          $ref: '#/components/schemas/GoogleCloudApigeeV1MonetizationConfig'
          description: Configuration for the Monetization add-on.
        advancedApiOpsConfig:
          description: Configuration for the Advanced API Ops add-on.
          $ref: '#/components/schemas/GoogleCloudApigeeV1AdvancedApiOpsConfig'
      description: Add-on configurations for the Apigee organization.
    GoogleCloudApigeeV1InstanceAttachment:
      description: >-
        InstanceAttachment represents the installation of an environment onto an
        instance.
      id: GoogleCloudApigeeV1InstanceAttachment
      properties:
        name:
          description: Output only. ID of the attachment.
          readOnly: true
          type: string
        createdAt:
          type: string
          description: >-
            Output only. Time the attachment was created in milliseconds since
            epoch.
          readOnly: true
          format: int64
        environment:
          description: ID of the attached environment.
          type: string
      type: object
    GoogleCloudApigeeV1ProfileConfigCORS:
      type: object
      id: GoogleCloudApigeeV1ProfileConfigCORS
      properties: {}
      description: Checks to see if you have CORS policy in place.
    GoogleCloudApigeeV1IngressConfig:
      properties:
        environmentGroups:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1EnvironmentGroupConfig'
          description: List of environment groups in the organization.
          type: array
        revisionCreateTime:
          type: string
          description: Time at which the IngressConfig revision was created.
          format: google-datetime
        name:
          description: >-
            Name of the resource in the following format:
            `organizations/{org}/deployedIngressConfig`.
          type: string
        uid:
          type: string
          description: >-
            A unique id for the ingress config that will only change if the
            organization is deleted and recreated.
        revisionId:
          type: string
          format: int64
          description: >-
            Revision id that defines the ordering on IngressConfig resources.
            The higher the revision, the more recently the configuration was
            deployed.
      id: GoogleCloudApigeeV1IngressConfig
      type: object
    GoogleCloudApigeeV1DeploymentGroupConfig:
      type: object
      properties:
        deploymentGroupType:
          description: >-
            Type of the deployment group, which will be either Standard or
            Extensible.
          enumDescriptions:
            - Unspecified type
            - Standard type
            - Extensible Type
          type: string
          enum:
            - DEPLOYMENT_GROUP_TYPE_UNSPECIFIED
            - STANDARD
            - EXTENSIBLE
        uid:
          type: string
          description: >-
            Unique ID. The ID will only change if the deployment group is
            deleted and recreated.
        name:
          type: string
          description: >-
            Name of the deployment group in the following format:
            `organizations/{org}/environments/{env}/deploymentGroups/{group}`.
        revisionId:
          description: >-
            Revision number which can be used by the runtime to detect if the
            deployment group has changed between two versions.
          type: string
          format: int64
      id: GoogleCloudApigeeV1DeploymentGroupConfig
      description: >-
        DeploymentGroupConfig represents a deployment group that should be
        present in a particular environment.
    GoogleCloudApigeeV1Stats:
      type: object
      id: GoogleCloudApigeeV1Stats
      description: Encapsulates a `stats` response.
      properties:
        metaData:
          description: Metadata information.
          $ref: '#/components/schemas/GoogleCloudApigeeV1Metadata'
        environments:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1StatsEnvironmentStats'
          type: array
          description: List of query results on the environment level.
        hosts:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1StatsHostStats'
          type: array
          description: List of query results grouped by host.
    GoogleCloudApigeeV1MonetizationConfig:
      properties:
        enabled:
          description: Flag that specifies whether the Monetization add-on is enabled.
          type: boolean
      id: GoogleCloudApigeeV1MonetizationConfig
      type: object
      description: Configuration for the Monetization add-on.
    GoogleCloudApigeeV1QueryTimeSeriesStatsRequest:
      type: object
      properties:
        windowSize:
          enum:
            - WINDOW_SIZE_UNSPECIFIED
            - MINUTE
            - HOUR
            - DAY
            - MONTH
          type: string
          enumDescriptions:
            - Unspecified window size. Default is 1 hour.
            - 1 Minute window
            - 1 Hour window
            - 1 Day window
            - 1 Month window
          description: Time buckets to group the stats by.
        metrics:
          type: array
          description: Required. List of metrics and their aggregations.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1MetricAggregation'
        filter:
          description: >-
            Filter further on specific dimension values. Follows the same
            grammar as custom report's filter expressions. Example, apiproxy eq
            'foobar'.
            https://cloud.google.com/apigee/docs/api-platform/analytics/analytics-reference#filters
          type: string
        dimensions:
          type: array
          description: >-
            List of dimension names to group the aggregations by. If no
            dimensions are passed, a single trend line representing the
            requested metric aggregations grouped by environment is returned.
          items:
            type: string
        timestampOrder:
          type: string
          enum:
            - ORDER_UNSPECIFIED
            - ASCENDING
            - DESCENDING
          enumDescriptions:
            - Unspecified order. Default is Descending.
            - Ascending sort order.
            - Descending sort order.
          description: >-
            Order the sequences in increasing or decreasing order of timestamps.
            Default is descending order of timestamps (latest first).
        pageSize:
          description: >-
            Page size represents the number of time series sequences, one per
            unique set of dimensions and their values.
          format: int32
          type: integer
        timeRange:
          description: Required. Time range for the stats.
          $ref: '#/components/schemas/GoogleTypeInterval'
        pageToken:
          description: >-
            Page token stands for a specific collection of time series
            sequences.
          type: string
      id: GoogleCloudApigeeV1QueryTimeSeriesStatsRequest
      description: >-
        QueryTimeSeriesStatsRequest represents a query that returns a collection
        of time series sequences grouped by their values.
    GoogleCloudApigeeV1QueryMetadata:
      type: object
      id: GoogleCloudApigeeV1QueryMetadata
      properties:
        timeUnit:
          description: Query GroupBy time unit.
          type: string
        outputFormat:
          description: Output format.
          type: string
        dimensions:
          description: Dimensions of the AsyncQuery.
          items:
            type: string
          type: array
        metrics:
          items:
            type: string
          type: array
          description: >-
            Metrics of the AsyncQuery. Example:
            ["name:message_count,func:sum,alias:sum_message_count"]
        endTimestamp:
          description: End timestamp of the query range.
          type: string
        startTimestamp:
          type: string
          description: Start timestamp of the query range.
    GoogleCloudApigeeV1DeleteCustomReportResponse:
      type: object
      properties:
        message:
          description: The response contains only a message field.
          type: string
      id: GoogleCloudApigeeV1DeleteCustomReportResponse
    GoogleCloudApigeeV1RevisionStatus:
      id: GoogleCloudApigeeV1RevisionStatus
      properties:
        errors:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1UpdateError'
          type: array
          description: Errors reported when attempting to load this revision.
        replicas:
          description: The number of replicas that have successfully loaded this revision.
          format: int32
          type: integer
        revisionId:
          description: The revision of the resource.
          type: string
        jsonSpec:
          type: string
          description: >-
            The json content of the resource revision. Large specs should be
            sent individually via the spec field to avoid hitting request size
            limits.
      type: object
      description: The status of a specific resource revision.
    EdgeConfigstoreBundleBadBundleViolation:
      id: EdgeConfigstoreBundleBadBundleViolation
      properties:
        filename:
          type: string
          description: >-
            The filename (including relative path from the bundle root) in which
            the error occurred.
        description:
          description: A description of why the bundle is invalid and how to fix it.
          type: string
      description: A message type used to describe a single bundle validation error.
      type: object
    GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict:
      type: object
      id: GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict
      description: >-
        Describes a routing conflict that may cause a deployment not to receive
        traffic at some base path.
      properties:
        environmentGroup:
          description: Name of the environment group in which this conflict exists.
          type: string
        description:
          description: Human-readable description of this conflict.
          type: string
        conflictingDeployment:
          $ref: >-
            #/components/schemas/GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment
          description: Existing base path/deployment causing the conflict.
    GoogleCloudApigeeV1RoutingRule:
      properties:
        receiver:
          type: string
          description: >-
            The resource name of the proxy revision that is receiving this
            basepath in the following format:
            `organizations/{org}/apis/{api}/revisions/{rev}`. This field is
            omitted from the IngressConfig unless the GetDeployedIngressConfig
            API is called with view=FULL.
        basepath:
          type: string
          description: >-
            URI path prefix used to route to the specified environment. May
            contain one or more wildcards. For example, path segments consisting
            of a single `*` character will match any string.
        otherTargets:
          items:
            type: string
          type: array
          description: >-
            Conflicting targets, which will be resource names specifying either
            deployment groups or environments.
        updateTime:
          type: string
          description: >-
            The unix timestamp when this rule was updated. This is updated
            whenever env_group_revision is updated. This field is omitted from
            the IngressConfig unless the GetDeployedIngressConfig API is called
            with view=FULL.
          format: google-datetime
        deploymentGroup:
          type: string
          description: >-
            Name of a deployment group in an environment bound to the
            environment group in the following format:
            `organizations/{org}/environment/{env}/deploymentGroups/{group}`
            Only one of environment or deployment_group will be set.
        envGroupRevision:
          description: >-
            The env group config revision_id when this rule was added or last
            updated. This value is set when the rule is created and will only
            update if the the environment_id changes. It is used to determine if
            the runtime is up to date with respect to this rule. This field is
            omitted from the IngressConfig unless the GetDeployedIngressConfig
            API is called with view=FULL.
          type: string
          format: int64
        environment:
          description: >-
            Name of an environment bound to the environment group in the
            following format: `organizations/{org}/environments/{env}`. Only one
            of environment or deployment_group will be set.
          type: string
      id: GoogleCloudApigeeV1RoutingRule
      type: object
    GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse:
      properties:
        urls:
          description: The list of Signed URLs generated by the CreateAsyncQuery request
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudApigeeV1GetAsyncQueryResultUrlResponseURLInfo
      id: GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse
      type: object
      description: The response for GetAsyncQueryResultUrl
    GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse:
      id: GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse
      type: object
      description: Response for ListDeveloperSubscriptions.
      properties:
        nextStartKey:
          type: string
          description: >-
            Value that can be sent as `startKey` to retrieve the next page of
            content. If this field is omitted, there are no subsequent pages.
        developerSubscriptions:
          description: List of all subscriptions.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1DeveloperSubscription'
          type: array
    GoogleCloudApigeeV1NatAddress:
      properties:
        ipAddress:
          type: string
          readOnly: true
          description: Output only. The static IPV4 address.
        state:
          readOnly: true
          enumDescriptions:
            - The resource is in an unspecified state.
            - The NAT address is being created.
            - The NAT address is reserved but not yet used for Internet egress.
            - The NAT address is active and used for Internet egress.
            - The NAT address is being deleted.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - RESERVED
            - ACTIVE
            - DELETING
          description: Output only. State of the nat address.
        name:
          type: string
          description: Required. Resource ID of the NAT address.
      description: >-
        Apigee NAT(network address translation) address. A NAT address is a
        static external IP address used for Internet egress traffic.
      id: GoogleCloudApigeeV1NatAddress
      type: object
    GoogleCloudApigeeV1ApiProductRef:
      id: GoogleCloudApigeeV1ApiProductRef
      properties:
        apiproduct:
          type: string
          description: Name of the API product.
        status:
          type: string
          description: Status of the API product. Valid values are `approved` or `revoked`.
      type: object
    GoogleCloudApigeeV1GraphQLOperationGroup:
      description: >-
        List of graphQL operation configuration details associated with Apigee
        API proxies or remote services. Remote services are non-Apigee proxies,
        such as Istio-Envoy.
      type: object
      id: GoogleCloudApigeeV1GraphQLOperationGroup
      properties:
        operationConfigType:
          description: >-
            Flag that specifies whether the configuration is for Apigee API
            proxy or a remote service. Valid values include `proxy` or
            `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API
            proxies are associated with the API product. Set to `remoteservice`
            when non-Apigee proxies like Istio-Envoy are associated with the API
            product.
          type: string
        operationConfigs:
          type: array
          description: >-
            Required. List of operation configurations for either Apigee API
            proxies or other remote services that are associated with this API
            product.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1GraphQLOperationConfig'
    GoogleCloudApigeeV1ListCustomReportsResponse:
      description: This message encapsulates a list of custom report definitions
      properties:
        qualifier:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1CustomReport'
      type: object
      id: GoogleCloudApigeeV1ListCustomReportsResponse
    GoogleCloudApigeeV1SecurityProfileScoringConfig:
      properties:
        scorePath:
          type: string
          description: Path of the component config used for scoring.
        title:
          description: Title of the config.
          type: string
        description:
          type: string
          description: Description of the config.
      type: object
      description: Security configurations to manage scoring.
      id: GoogleCloudApigeeV1SecurityProfileScoringConfig
    GoogleCloudApigeeV1DeveloperSubscription:
      properties:
        name:
          description: Output only. Name of the API product subscription.
          type: string
          readOnly: true
        lastModifiedAt:
          description: >-
            Output only. Time when the API product subscription was last
            modified in milliseconds since epoch.
          type: string
          readOnly: true
          format: int64
        startTime:
          type: string
          format: int64
          description: >-
            Time when the API product subscription starts in milliseconds since
            epoch.
        endTime:
          description: >-
            Time when the API product subscription ends in milliseconds since
            epoch.
          format: int64
          type: string
        apiproduct:
          description: >-
            Name of the API product for which the developer is purchasing a
            subscription.
          type: string
        createdAt:
          format: int64
          description: >-
            Output only. Time when the API product subscription was created in
            milliseconds since epoch.
          readOnly: true
          type: string
      id: GoogleCloudApigeeV1DeveloperSubscription
      type: object
      description: Structure of a DeveloperSubscription.
    GoogleTypeExpr:
      id: GoogleTypeExpr
      properties:
        expression:
          type: string
          description: >-
            Textual representation of an expression in Common Expression
            Language syntax.
        location:
          type: string
          description: >-
            Optional. String indicating the location of the expression for error
            reporting, e.g. a file name and a position in the file.
        title:
          description: >-
            Optional. Title for the expression, i.e. a short string describing
            its purpose. This can be used e.g. in UIs which allow to enter the
            expression.
          type: string
        description:
          type: string
          description: >-
            Optional. Description of the expression. This is a longer text which
            describes the expression, e.g. when hovered over it in a UI.
      type: object
      description: >-
        Represents a textual expression in the Common Expression Language (CEL)
        syntax. CEL is a C-like expression language. The syntax and semantics of
        CEL are documented at https://github.com/google/cel-spec. Example
        (Comparison): title: "Summary size limit" description: "Determines if a
        summary is less than 100 chars" expression: "document.summary.size() <
        100" Example (Equality): title: "Requestor is owner" description:
        "Determines if requestor is the document owner" expression:
        "document.owner == request.auth.claims.email" Example (Logic): title:
        "Public documents" description: "Determine whether the document should
        be publicly visible" expression: "document.type != 'private' &&
        document.type != 'internal'" Example (Data Manipulation): title:
        "Notification string" description: "Create a notification string with a
        timestamp." expression: "'New message received at ' +
        string(document.create_time)" The exact variables and functions that may
        be referenced within an expression are determined by the service that
        evaluates it. See the service documentation for additional information.
    GoogleCloudApigeeV1ListApiProductsResponse:
      id: GoogleCloudApigeeV1ListApiProductsResponse
      properties:
        apiProduct:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1ApiProduct'
          type: array
          description: Lists all API product names defined for an organization.
      type: object
    GoogleCloudApigeeV1ResourceConfig:
      properties:
        location:
          description: Location of the resource as a URI.
          type: string
        name:
          type: string
          description: >-
            Resource name in the following format:
            `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}`
            Only environment-scoped resource files are supported.
      type: object
      id: GoogleCloudApigeeV1ResourceConfig
    GoogleCloudApigeeV1DeploymentChangeReport:
      description: >-
        Response for GenerateDeployChangeReport and
        GenerateUndeployChangeReport. This report contains any validation
        failures that would cause the deployment to be rejected, as well changes
        and conflicts in routing that may occur due to the new deployment. The
        existence of a routing warning does not necessarily imply that the
        deployment request is bad, if the desired state of the deployment
        request is to effect a routing change. The primary purposes of the
        routing messages are: 1) To inform users of routing changes that may
        have an effect on traffic currently being routed to other existing
        deployments. 2) To warn users if some base path in the proxy will not
        receive traffic due to an existing deployment having already claimed
        that base path. The presence of routing conflicts/changes will not cause
        non-dry-run DeployApiProxy/UndeployApiProxy requests to be rejected.
      properties:
        routingChanges:
          type: array
          description: All routing changes that may result from a deployment request.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudApigeeV1DeploymentChangeReportRoutingChange
        routingConflicts:
          type: array
          description: All base path conflicts detected for a deployment request.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict
        validationErrors:
          $ref: '#/components/schemas/GoogleRpcPreconditionFailure'
          description: >-
            Validation errors that would cause the deployment change request to
            be rejected.
      id: GoogleCloudApigeeV1DeploymentChangeReport
      type: object
    GoogleIamV1TestIamPermissionsResponse:
      id: GoogleIamV1TestIamPermissionsResponse
      properties:
        permissions:
          description: >-
            A subset of `TestPermissionsRequest.permissions` that the caller is
            allowed.
          items:
            type: string
          type: array
      description: Response message for `TestIamPermissions` method.
      type: object
    GoogleIamV1AuditConfig:
      description: >-
        Specifies the audit configuration for a service. The configuration
        determines which permission types are logged, and what identities, if
        any, are exempted from logging. An AuditConfig must have one or more
        AuditLogConfigs. If there are AuditConfigs for both `allServices` and a
        specific service, the union of the two AuditConfigs is used for that
        service: the log_types specified in each AuditConfig are enabled, and
        the exempted_members in each AuditLogConfig are exempted. Example Policy
        with multiple AuditConfigs: { "audit_configs": [ { "service":
        "allServices", "audit_log_configs": [ { "log_type": "DATA_READ",
        "exempted_members": [ "user:jose@example.com" ] }, { "log_type":
        "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service":
        "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type":
        "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [
        "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy
        enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts
        `jose@example.com` from DATA_READ logging, and `aliya@example.com` from
        DATA_WRITE logging.
      properties:
        auditLogConfigs:
          items:
            $ref: '#/components/schemas/GoogleIamV1AuditLogConfig'
          description: The configuration for logging of each type of permission.
          type: array
        service:
          type: string
          description: >-
            Specifies a service that will be enabled for audit logging. For
            example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
            `allServices` is a special value that covers all services.
      type: object
      id: GoogleIamV1AuditConfig
    GoogleCloudApigeeV1ApiCategoryData:
      description: the Api category resource.
      properties:
        name:
          type: string
          description: Name of the category.
        id:
          description: ID of the category (a UUID).
          type: string
        siteId:
          description: Name of the portal.
          type: string
        gcpResource:
          type: string
          description: GCP name of api category resource.
        updateTime:
          type: string
          description: Time the category was last modified in milliseconds since epoch.
          format: int64
      type: object
      id: GoogleCloudApigeeV1ApiCategoryData
    GoogleCloudApigeeV1QueryTimeSeriesStatsResponse:
      type: object
      description: >-
        Represents security stats result as a collection of time series
        sequences.
      properties:
        columns:
          type: array
          items:
            type: string
          description: >-
            Column names corresponding to the same order as the inner values in
            the stats field.
        values:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence
          type: array
          description: Results of the query returned as a JSON array.
        nextPageToken:
          type: string
          description: Next page token.
      id: GoogleCloudApigeeV1QueryTimeSeriesStatsResponse
    GoogleIamV1TestIamPermissionsRequest:
      properties:
        permissions:
          items:
            type: string
          description: >-
            The set of permissions to check for the `resource`. Permissions with
            wildcards (such as `*` or `storage.*`) are not allowed. For more
            information see [IAM
            Overview](https://cloud.google.com/iam/docs/overview#permissions).
          type: array
      id: GoogleIamV1TestIamPermissionsRequest
      description: Request message for `TestIamPermissions` method.
      type: object
    GoogleCloudApigeeV1ProfileConfigAbuse:
      properties: {}
      id: GoogleCloudApigeeV1ProfileConfigAbuse
      type: object
      description: >-
        Checks for abuse, which includes any requests sent to the API for
        purposes other than what it is intended for, such as high volumes of
        requests, data scraping, and abuse related to authorization.
    GoogleCloudApigeeV1EnvironmentGroup:
      type: object
      id: GoogleCloudApigeeV1EnvironmentGroup
      description: >-
        EnvironmentGroup configuration. An environment group is used to group
        one or more Apigee environments under a single host name.
      properties:
        createdAt:
          format: int64
          description: >-
            Output only. The time at which the environment group was created as
            milliseconds since epoch.
          type: string
          readOnly: true
        state:
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - ACTIVE
            - DELETING
            - UPDATING
          enumDescriptions:
            - Resource is in an unspecified state.
            - Resource is being created.
            - Resource is provisioned and ready to use.
            - The resource is being deleted.
            - The resource is being updated.
          type: string
          description: >-
            Output only. State of the environment group. Values other than
            ACTIVE means the resource is not ready to use.
          readOnly: true
        hostnames:
          type: array
          items:
            type: string
          description: Required. Host names for this environment group.
        name:
          type: string
          description: ID of the environment group.
        lastModifiedAt:
          description: >-
            Output only. The time at which the environment group was last
            updated as milliseconds since epoch.
          format: int64
          readOnly: true
          type: string
    GoogleCloudApigeeV1DataCollector:
      description: Data collector configuration.
      id: GoogleCloudApigeeV1DataCollector
      type: object
      properties:
        type:
          type: string
          enumDescriptions:
            - For future compatibility.
            - For integer values.
            - For float values.
            - For string values.
            - For boolean values.
            - For datetime values.
          enum:
            - TYPE_UNSPECIFIED
            - INTEGER
            - FLOAT
            - STRING
            - BOOLEAN
            - DATETIME
          description: Immutable. The type of data this data collector will collect.
        createdAt:
          type: string
          description: >-
            Output only. The time at which the data collector was created in
            milliseconds since the epoch.
          format: int64
          readOnly: true
        lastModifiedAt:
          type: string
          description: >-
            Output only. The time at which the Data Collector was last updated
            in milliseconds since the epoch.
          format: int64
          readOnly: true
        name:
          description: ID of the data collector. Must begin with `dc_`.
          type: string
        description:
          description: A description of the data collector.
          type: string
    GoogleCloudApigeeV1FlowHook:
      id: GoogleCloudApigeeV1FlowHook
      type: object
      properties:
        description:
          description: Description of the flow hook.
          type: string
        continueOnError:
          type: boolean
          description: >-
            Optional. Flag that specifies whether execution should continue if
            the flow hook throws an exception. Set to `true` to continue
            execution. Set to `false` to stop execution if the flow hook throws
            an exception. Defaults to `true`.
        flowHookPoint:
          description: >-
            Output only. Where in the API call flow the flow hook is invoked.
            Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`,
            `PreTargetFlowHook`, or `PostTargetFlowHook`.
          readOnly: true
          type: string
        sharedFlow:
          description: >-
            Shared flow attached to this flow hook, or empty if there is none
            attached.
          type: string
    GoogleCloudApigeeV1ListInstanceAttachmentsResponse:
      id: GoogleCloudApigeeV1ListInstanceAttachmentsResponse
      description: Response for ListInstanceAttachments.
      type: object
      properties:
        attachments:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1InstanceAttachment'
          type: array
          description: Attachments for the instance.
        nextPageToken:
          type: string
          description: >-
            Page token that you can include in a ListInstanceAttachments request
            to retrieve the next page of content. If omitted, no subsequent
            pages exist.
    GoogleCloudApigeeV1SyncAuthorization:
      type: object
      properties:
        etag:
          format: byte
          type: string
          description: >-
            Entity tag (ETag) used for optimistic concurrency control as a way
            to help prevent simultaneous updates from overwriting each other.
            For example, when you call
            [getSyncAuthorization](organizations/getSyncAuthorization) an ETag
            is returned in the response. Pass that ETag when calling the
            [setSyncAuthorization](organizations/setSyncAuthorization) to ensure
            that you are updating the correct version. If you don't pass the
            ETag in the call to `setSyncAuthorization`, then the existing
            authorization is overwritten indiscriminately. **Note**: We strongly
            recommend that you use the ETag in the read-modify-write cycle to
            avoid race conditions.
        identities:
          description: >-
            Required. Array of service accounts to grant access to control plane
            resources, each specified using the following format:
            `serviceAccount:` service-account-name. The service-account-name is
            formatted like an email address. For example:
            `my-synchronizer-manager-service_account@my_project_id.iam.gserviceaccount.com`
            You might specify multiple service accounts, for example, if you
            have multiple environments and wish to assign a unique service
            account to each one. The service accounts must have **Apigee
            Synchronizer Manager** role. See also [Create service
            accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts).
          type: array
          items:
            type: string
      id: GoogleCloudApigeeV1SyncAuthorization
    GoogleCloudApigeeV1ProfileConfig:
      type: object
      description: >-
        ProfileConfig defines a set of categories and policies which will be
        used to compute security score.
      id: GoogleCloudApigeeV1ProfileConfig
      properties:
        categories:
          description: List of categories of profile config.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1ProfileConfigCategory'
          type: array
    GoogleCloudApigeeV1SetAddonsRequest:
      description: Request for SetAddons.
      properties:
        addonsConfig:
          description: Required. Add-on configurations.
          $ref: '#/components/schemas/GoogleCloudApigeeV1AddonsConfig'
      type: object
      id: GoogleCloudApigeeV1SetAddonsRequest
    GoogleCloudApigeeV1Alias:
      properties:
        type:
          enum:
            - ALIAS_TYPE_UNSPECIFIED
            - CERT
            - KEY_CERT
          type: string
          enumDescriptions:
            - Alias type is not specified.
            - Certificate.
            - Key/certificate pair.
          description: Type of alias.
        certsInfo:
          description: Chain of certificates under this alias.
          $ref: '#/components/schemas/GoogleCloudApigeeV1Certificate'
        alias:
          type: string
          description: >-
            Resource ID for this alias. Values must match the regular expression
            `[^/]{1,255}`.
      type: object
      id: GoogleCloudApigeeV1Alias
      description: Reference to a certificate or key/certificate pair.
    GoogleCloudApigeeV1EnvironmentConfig:
      id: GoogleCloudApigeeV1EnvironmentConfig
      type: object
      properties:
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1DeploymentConfig'
          description: List of deployments in the environment.
        resourceReferences:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1ReferenceConfig'
          description: List of resource references in the environment.
          type: array
        keystores:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1KeystoreConfig'
          description: List of keystores in the environment.
          type: array
        revisionId:
          description: >-
            Revision ID of the environment configuration. The higher the value,
            the more recently the configuration was deployed.
          format: int64
          type: string
        sequenceNumber:
          format: int64
          description: 'DEPRECATED: Use revision_id.'
          type: string
        resources:
          type: array
          description: List of resource versions in the environment.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1ResourceConfig'
        uid:
          type: string
          description: >-
            Unique ID for the environment configuration. The ID will only change
            if the environment is deleted and recreated.
        flowhooks:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1FlowHookConfig'
          description: List of flow hooks in the environment.
          type: array
        traceConfig:
          description: >-
            Trace configurations. Contains config for the environment and config
            overrides for specific API proxies.
          $ref: '#/components/schemas/GoogleCloudApigeeV1RuntimeTraceConfig'
        debugMask:
          description: Debug mask that applies to all deployments in the environment.
          $ref: '#/components/schemas/GoogleCloudApigeeV1DebugMask'
        envScopedRevisionId:
          format: int64
          type: string
          description: >-
            Revision ID for environment-scoped resources (e.g. target servers,
            keystores) in this config. This ID will increment any time a
            resource not scoped to a deployment group changes.
        arcConfigLocation:
          description: >-
            The location for the config blob of API Runtime Control, aka Envoy
            Adapter, for op-based authentication as a URI, e.g. a Cloud Storage
            URI. This is only used by Envoy-based gateways.
          type: string
        pubsubTopic:
          description: Name of the PubSub topic for the environment.
          type: string
        featureFlags:
          additionalProperties:
            type: string
          description: Feature flags inherited from the organization and environment.
          type: object
        dataCollectors:
          description: List of data collectors used by the deployments in the environment.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1DataCollectorConfig'
        deploymentGroups:
          type: array
          description: List of deployment groups in the environment.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1DeploymentGroupConfig'
        forwardProxyUri:
          description: >-
            The forward proxy's url to be used by the runtime. When set, runtime
            will send requests to the target via the given forward proxy. This
            is only used by programmable gateways.
          type: string
        targets:
          description: >-
            List of target servers in the environment. Disabled target servers
            are not displayed.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1TargetServerConfig'
          type: array
        createTime:
          format: google-datetime
          description: Time that the environment configuration was created.
          type: string
        gatewayConfigLocation:
          description: >-
            The location for the gateway config blob as a URI, e.g. a Cloud
            Storage URI. This is only used by Envoy-based gateways.
          type: string
        name:
          type: string
          description: >-
            Name of the environment configuration in the following format:
            `organizations/{org}/environments/{env}/configs/{config}`
        provider:
          description: >-
            Used by the Control plane to add context information to help detect
            the source of the document during diagnostics and debugging.
          type: string
    GoogleCloudApigeeV1DebugSessionTransaction:
      description: >-
        A transaction contains all of the debug information of the entire
        message flow of an API call processed by the runtime plane. The
        information is collected and recorded at critical points of the message
        flow in the runtime apiproxy.
      id: GoogleCloudApigeeV1DebugSessionTransaction
      properties:
        point:
          description: >-
            List of debug data collected by runtime plane at various defined
            points in the flow.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1Point'
        completed:
          description: Flag indicating whether a transaction is completed or not
          type: boolean
      type: object
    GoogleCloudApigeeV1Score:
      description: Represents Security Score.
      type: object
      properties:
        subcomponents:
          description: List of all the drilldown score components.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1ScoreComponent'
        component:
          description: Component containing score, recommendations and actions.
          $ref: '#/components/schemas/GoogleCloudApigeeV1ScoreComponent'
        timeRange:
          $ref: '#/components/schemas/GoogleTypeInterval'
          description: Start and end time for the score.
      id: GoogleCloudApigeeV1Score
    GoogleCloudApigeeV1Metric:
      description: >-
        Encapsulates the metric data point. For example: ```{ "name":
        "sum(message_count)", "values" : [ { "timestamp": 1549004400000,
        "value": "39.0" }, { "timestamp" : 1548997200000, "value" : "0.0" } ]
        }``` or ```{ "name": "sum(message_count)", "values" : ["39.0"] }```
      properties:
        name:
          description: Metric name.
          type: string
        values:
          items:
            type: any
          description: >-
            List of metric values. Possible value formats include:
            `"values":["39.0"]` or `"values":[ { "value": "39.0", "timestamp":
            1232434354} ]`
          type: array
      id: GoogleCloudApigeeV1Metric
      type: object
    GoogleCloudApigeeV1KeyValueMap:
      type: object
      id: GoogleCloudApigeeV1KeyValueMap
      properties:
        encrypted:
          type: boolean
          description: >-
            Required. Flag that specifies whether entry values will be
            encrypted. This field is retained for backward compatibility and the
            value of encrypted will always be `true`. Apigee X and hybrid do not
            support unencrypted key value maps.
        name:
          description: Required. ID of the key value map.
          type: string
      description: Collection of key/value string pairs.
    GoogleCloudApigeeV1AccessRemove:
      properties:
        name:
          type: string
        success:
          type: boolean
      description: >-
        Remove action. For example, "Remove" : { "name" : "target.name",
        "success" : true }
      id: GoogleCloudApigeeV1AccessRemove
      type: object
    GoogleCloudApigeeV1ConnectorsPlatformConfig:
      id: GoogleCloudApigeeV1ConnectorsPlatformConfig
      type: object
      description: Configuration for the Connectors Platform add-on.
      properties:
        enabled:
          description: >-
            Flag that specifies whether the Connectors Platform add-on is
            enabled.
          type: boolean
        expiresAt:
          description: >-
            Output only. Time at which the Connectors Platform add-on expires in
            milliseconds since epoch. If unspecified, the add-on will never
            expire.
          readOnly: true
          format: int64
          type: string
    GoogleCloudApigeeV1CanaryEvaluation:
      description: >-
        CanaryEvaluation represents the canary analysis between two versions of
        the runtime that is serving requests.
      id: GoogleCloudApigeeV1CanaryEvaluation
      properties:
        startTime:
          format: google-datetime
          type: string
          description: Required. Start time for the canary evaluation's analysis.
        name:
          type: string
          description: Output only. Name of the canary evalution.
          readOnly: true
        endTime:
          type: string
          description: Required. End time for the evaluation's analysis.
          format: google-datetime
        metricLabels:
          $ref: '#/components/schemas/GoogleCloudApigeeV1CanaryEvaluationMetricLabels'
          description: >-
            Required. Labels used to filter the metrics used for a canary
            evaluation.
        verdict:
          enum:
            - VERDICT_UNSPECIFIED
            - NONE
            - FAIL
            - PASS
          type: string
          enumDescriptions:
            - Verdict is not available yet.
            - No verdict reached.
            - Evaluation is not good.
            - Evaluation is good.
          readOnly: true
          description: >-
            Output only. The resulting verdict of the canary evaluations: NONE,
            PASS, or FAIL.
        createTime:
          format: google-datetime
          type: string
          description: Output only. Create time of the canary evaluation.
          readOnly: true
        control:
          type: string
          description: Required. The stable version that is serving requests.
        state:
          description: Output only. The current state of the canary evaluation.
          readOnly: true
          enumDescriptions:
            - No state has been specified.
            - The canary evaluation is still in progress.
            - The canary evaluation has finished.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - RUNNING
            - SUCCEEDED
        treatment:
          type: string
          description: Required. The newer version that is serving requests.
      type: object
    GoogleCloudApigeeV1TestDatastoreResponse:
      id: GoogleCloudApigeeV1TestDatastoreResponse
      type: object
      properties:
        state:
          description: Output only. It could be `completed` or `failed`
          type: string
          readOnly: true
        error:
          readOnly: true
          description: Output only. Error message of test connection failure
          type: string
      description: The response for TestDatastore
    GoogleRpcPreconditionFailureViolation:
      type: object
      id: GoogleRpcPreconditionFailureViolation
      properties:
        subject:
          type: string
          description: >-
            The subject, relative to the type, that failed. For example,
            "google.com/cloud" relative to the "TOS" type would indicate which
            terms of service is being referenced.
        description:
          type: string
          description: >-
            A description of how the precondition failed. Developers can use
            this description to understand how to fix the failure. For example:
            "Terms of service not accepted".
        type:
          type: string
          description: >-
            The type of PreconditionFailure. We recommend using a
            service-specific enum type to define the supported precondition
            violation subjects. For example, "TOS" for "Terms of Service
            violation".
      description: A message type used to describe a single precondition failure.
    GoogleCloudApigeeV1ProvisionOrganizationRequest:
      properties:
        analyticsRegion:
          type: string
          description: >-
            Primary Cloud Platform region for analytics data storage. For valid
            values, see [Create an
            organization](https://cloud.google.com/apigee/docs/hybrid/latest/precog-provision).
            Defaults to `us-west1`.
        authorizedNetwork:
          description: >-
            Compute Engine network used for Service Networking to be peered with
            Apigee runtime instances. See [Getting started with the Service
            Networking
            API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started).
            Apigee also supports shared VPC (that is, the host network project
            is not the same as the one that is peering with Apigee). See [Shared
            VPC overview](https://cloud.google.com/vpc/docs/shared-vpc). To use
            a shared VPC network, use the following format:
            `projects/{host-project-id}/{region}/networks/{network-name}`. For
            example: `projects/my-sharedvpc-host/global/networks/mynetwork`
          type: string
        runtimeLocation:
          description: >-
            Cloud Platform location for the runtime instance. Defaults to zone
            `us-west1-a`. If a region is provided, `EVAL` organizations will use
            the region for automatically selecting a zone for the runtime
            instance.
          type: string
      type: object
      description: Request for ProvisionOrganization.
      id: GoogleCloudApigeeV1ProvisionOrganizationRequest
    GoogleCloudApigeeV1DeveloperBalanceWallet:
      id: GoogleCloudApigeeV1DeveloperBalanceWallet
      properties:
        balance:
          $ref: '#/components/schemas/GoogleTypeMoney'
          description: >-
            Current remaining balance of the developer for a particular
            currency.
        lastCreditTime:
          type: string
          readOnly: true
          description: >-
            Output only. Time at which the developer last added credit to the
            account in milliseconds since epoch.
          format: int64
      description: Wallet used to manage an account balance for a particular currency.
      type: object
    GoogleCloudApigeeV1ListInstancesResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            Page token that you can include in a ListInstance request to
            retrieve the next page of content. If omitted, no subsequent pages
            exist.
        instances:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1Instance'
          description: Instances in the specified organization.
          type: array
      id: GoogleCloudApigeeV1ListInstancesResponse
      description: Response for ListInstances.
      type: object
    GoogleCloudApigeeV1KeystoreConfig:
      type: object
      properties:
        name:
          description: >-
            Resource name in the following format:
            `organizations/{org}/environments/{env}/keystores/{keystore}`
          type: string
        aliases:
          description: Aliases in the keystore.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1AliasRevisionConfig'
          type: array
      id: GoogleCloudApigeeV1KeystoreConfig
    GoogleCloudApigeeV1OrganizationProjectMapping:
      type: object
      properties:
        location:
          readOnly: true
          type: string
          description: >-
            Output only. The Google Cloud region where control plane data is
            located. For more information, see
            https://cloud.google.com/about/locations/.
        projectId:
          type: string
          description: Google Cloud project associated with the Apigee organization
        organization:
          type: string
          description: Name of the Apigee organization.
        projectIds:
          type: array
          description: >-
            DEPRECATED: Use `project_id`. An Apigee Organization is mapped to a
            single project.
          items:
            type: string
      id: GoogleCloudApigeeV1OrganizationProjectMapping
    EdgeConfigstoreBundleBadBundle:
      description: Describes why a bundle is invalid. Intended for use in error details.
      id: EdgeConfigstoreBundleBadBundle
      properties:
        violations:
          type: array
          description: Describes all precondition violations.
          items:
            $ref: '#/components/schemas/EdgeConfigstoreBundleBadBundleViolation'
      type: object
    GoogleCloudApigeeV1ListAsyncQueriesResponse:
      id: GoogleCloudApigeeV1ListAsyncQueriesResponse
      properties:
        queries:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1AsyncQuery'
          description: The asynchronous queries belong to requested resource name.
          type: array
      type: object
      description: The response for ListAsyncQueries.
    GoogleCloudApigeeV1Point:
      description: >-
        Point is a group of information collected by runtime plane at critical
        points of the message flow of the processed API request. This is a list
        of supported point IDs, categorized to three major buckets. For each
        category, debug points that we are currently supporting are listed
        below: - Flow status debug points: StateChange FlowInfo Condition
        Execution DebugMask Error - Flow control debug points: FlowCallout
        Paused Resumed FlowReturn BreakFlow Error - Runtime debug points:
        ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition
        Oauth2ServicePoint RaiseFault NodeJS The detail information of the given
        debug point is stored in a list of results.
      id: GoogleCloudApigeeV1Point
      properties:
        results:
          type: array
          description: List of results extracted from a given debug point.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1Result'
        id:
          type: string
          description: Name of a step in the transaction.
      type: object
    GoogleCloudApigeeV1IntegrationConfig:
      description: Configuration for the Integration add-on.
      id: GoogleCloudApigeeV1IntegrationConfig
      properties:
        enabled:
          description: Flag that specifies whether the Integration add-on is enabled.
          type: boolean
      type: object
    GoogleCloudApigeeV1CustomReport:
      type: object
      id: GoogleCloudApigeeV1CustomReport
      properties:
        organization:
          description: Output only. Organization name
          readOnly: true
          type: string
        properties:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1ReportProperty'
          description: This field contains report properties such as ui metadata etc.
          type: array
        fromTime:
          description: 'Legacy field: not used. Contains the from time for the report'
          type: string
        displayName:
          description: This is the display name for the report
          type: string
        toTime:
          description: 'Legacy field: not used. Contains the end time for the report'
          type: string
        chartType:
          description: This field contains the chart type for the report
          type: string
        environment:
          readOnly: true
          description: Output only. Environment name
          type: string
        sortOrder:
          description: >-
            Legacy field: not used much. Contains the sort order for the sort
            columns
          type: string
        comments:
          items:
            type: string
          type: array
          description: >-
            Legacy field: not used. This field contains a list of comments
            associated with custom report
        lastViewedAt:
          type: string
          readOnly: true
          format: int64
          description: >-
            Output only. Last viewed time of this entity as milliseconds since
            epoch
        createdAt:
          description: 'Output only. Unix time when the app was created json key: createdAt'
          type: string
          format: int64
          readOnly: true
        tags:
          description: >-
            Legacy field: not used. This field contains a list of tags
            associated with custom report
          items:
            type: string
          type: array
        name:
          description: >-
            Required. Unique identifier for the report T his is a legacy field
            used to encode custom report unique id
          type: string
        filter:
          description: This field contains the filter expression
          type: string
        offset:
          description: 'Legacy field: not used. This field contains the offset for the data'
          type: string
        timeUnit:
          type: string
          description: This field contains the time unit of aggregation for the report
        limit:
          type: string
          description: >-
            Legacy field: not used This field contains the limit for the result
            retrieved
        sortByCols:
          type: array
          description: 'Legacy field: not used much. Contains the list of sort by columns'
          items:
            type: string
        metrics:
          type: array
          description: Required. This contains the list of metrics
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1CustomReportMetric'
        lastModifiedAt:
          format: int64
          type: string
          description: >-
            Output only. Modified time of this entity as milliseconds since
            epoch. json key: lastModifiedAt
          readOnly: true
        dimensions:
          type: array
          items:
            type: string
          description: This contains the list of dimensions for the report
        topk:
          type: string
          description: >-
            Legacy field: not used. This field contains the top k parameter
            value for restricting the result
    GoogleCloudApigeeV1TlsInfoConfig:
      type: object
      id: GoogleCloudApigeeV1TlsInfoConfig
      properties:
        commonName:
          description: Common name to validate the target server against.
          $ref: '#/components/schemas/GoogleCloudApigeeV1CommonNameConfig'
        keyAliasReference:
          description: Reference name and alias pair to use for client-side authentication.
          $ref: '#/components/schemas/GoogleCloudApigeeV1KeyAliasReference'
        enabled:
          description: >-
            Flag that specifies whether one-way TLS is enabled. Set to `true` to
            enable one-way TLS.
          type: boolean
        ignoreValidationErrors:
          type: boolean
          description: >-
            Flag that specifies whether to ignore TLS certificate validation
            errors. Set to `true` to ignore errors.
        protocols:
          description: List of TLS protocols that are granted access.
          type: array
          items:
            type: string
        keyAlias:
          type: string
          description: >-
            Name of the alias used for client-side authentication in the
            following format:
            `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`
        clientAuthEnabled:
          description: >-
            Flag that specifies whether client-side authentication is enabled
            for the target server. Enables two-way TLS.
          type: boolean
        ciphers:
          description: List of ciphers that are granted access.
          items:
            type: string
          type: array
        trustStore:
          description: >-
            Name of the keystore or keystore reference containing trusted
            certificates for the server in the following format:
            `organizations/{org}/environments/{env}/keystores/{keystore}` or
            `organizations/{org}/environments/{env}/references/{reference}`
          type: string
    GoogleCloudApigeeV1Properties:
      properties:
        property:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1Property'
          description: List of all properties in the object
      id: GoogleCloudApigeeV1Properties
      description: >-
        Message for compatibility with legacy Edge specification for Java
        Properties object in JSON.
      type: object
    GoogleCloudApigeeV1ListSharedFlowsResponse:
      description: >-
        To change this message, in the same CL add a change log in
        go/changing-api-proto-breaks-ui
      id: GoogleCloudApigeeV1ListSharedFlowsResponse
      type: object
      properties:
        sharedFlows:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1SharedFlow'
    GoogleCloudApigeeV1ComputeEnvironmentScoresRequest:
      description: Request for ComputeEnvironmentScores.
      type: object
      id: GoogleCloudApigeeV1ComputeEnvironmentScoresRequest
      properties:
        filters:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter
          type: array
          description: >-
            Optional. Filters are used to filter scored components. Return all
            the components if no filter is mentioned. Example: [{ "scorePath":
            "/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source"
            }, { "scorePath":
            "/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target",
            }] This will return components with path:
            "/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source"
            OR
            "/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target"
        pageSize:
          description: >-
            Optional. The maximum number of subcomponents to be returned in a
            single page. The service may return fewer than this value. If
            unspecified, at most 100 subcomponents will be returned in a single
            page.
          format: int32
          type: integer
        timeRange:
          $ref: '#/components/schemas/GoogleTypeInterval'
          description: >-
            Required. Time range for score calculation. At most 14 days of
            scores will be returned.
        pageToken:
          type: string
          description: >-
            Optional. A token that can be sent as `page_token` to retrieve the
            next page. If this field is omitted, there are no subsequent pages.
    GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse:
      description: Response for ListSecurityProfileRevisions.
      properties:
        securityProfiles:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1SecurityProfile'
          description: >-
            List of security profile revisions. The revisions may be attached or
            unattached to any environment.
          type: array
        nextPageToken:
          type: string
          description: >-
            A token that can be sent as `page_token` to retrieve the next page.
            If this field is omitted, there are no subsequent pages.
      id: GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse
      type: object
    GoogleCloudApigeeV1InstanceDeploymentStatus:
      properties:
        deployedRevisions:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision
          type: array
          description: Revisions currently deployed in MPs.
        instance:
          type: string
          description: ID of the instance reporting the status.
        deployedRoutes:
          type: array
          description: >-
            Current routes deployed in the ingress routing table. A route which
            is missing will appear in `missing_routes`.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute
      id: GoogleCloudApigeeV1InstanceDeploymentStatus
      type: object
      description: The status of a deployment as reported by a single instance.
    GoogleCloudApigeeV1AsyncQueryResult:
      id: GoogleCloudApigeeV1AsyncQueryResult
      type: object
      properties:
        expires:
          type: string
          description: Query result will be unaccessable after this time.
        self:
          description: >-
            Self link of the query results. Example:
            `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`
            or following format if query is running at host level:
            `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`
          type: string
    GoogleCloudApigeeV1ResourceStatus:
      description: The status of a resource loaded in the runtime.
      properties:
        totalReplicas:
          description: The total number of replicas that should have this resource.
          type: integer
          format: int32
        revisions:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1RevisionStatus'
          type: array
          description: Revisions of the resource currently deployed in the instance.
        uid:
          description: >-
            The uid of the resource. In the unexpected case that the instance
            has multiple uids for the same name, they should be reported under
            separate ResourceStatuses.
          type: string
        resource:
          type: string
          description: >-
            The resource name. Currently only two resources are supported:
            EnvironmentGroup - organizations/{org}/envgroups/{envgroup}
            EnvironmentConfig -
            organizations/{org}/environments/{environment}/deployedConfig
      id: GoogleCloudApigeeV1ResourceStatus
      type: object
    GoogleCloudApigeeV1AsyncQueryResultView:
      properties:
        metadata:
          description: >-
            Metadata contains information like metrics, dimenstions etc of the
            AsyncQuery.
          $ref: '#/components/schemas/GoogleCloudApigeeV1QueryMetadata'
        rows:
          type: array
          items:
            type: any
          description: >-
            Rows of query result. Each row is a JSON object. Example:
            {sum(message_count): 1, developer_app: "(not set)",…}
        code:
          type: integer
          format: int32
          description: Error code when there is a failure.
        error:
          type: string
          description: Error message when there is a failure.
        state:
          type: string
          description: State of retrieving ResultView.
      type: object
      id: GoogleCloudApigeeV1AsyncQueryResultView
    GoogleCloudApigeeV1DeveloperAppKey:
      properties:
        apiProducts:
          items:
            type: any
          description: >-
            List of API products for which the credential can be used. **Note**:
            Do not specify the list of API products when creating a consumer key
            and secret for a developer app. Instead, use the
            UpdateDeveloperAppKey API to make the association after the consumer
            key and secret are created.
          type: array
        expiresAt:
          format: int64
          description: Time the developer app expires in milliseconds since epoch.
          type: string
        issuedAt:
          type: string
          description: Time the developer app was created in milliseconds since epoch.
          format: int64
        expiresInSeconds:
          format: int64
          type: string
          description: >-
            Input only. Expiration time, in seconds, for the consumer key. If
            not set or left to the default value of `-1`, the API key never
            expires. The expiration time can't be updated after it is set.
        consumerKey:
          type: string
          description: Consumer key.
        status:
          description: >-
            Status of the credential. Valid values include `approved` or
            `revoked`.
          type: string
        attributes:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1Attribute'
          description: List of attributes associated with the credential.
          type: array
        scopes:
          items:
            type: string
          type: array
          description: >-
            Scopes to apply to the app. The specified scope names must already
            be defined for the API product that you associate with the app.
        consumerSecret:
          description: Secret key.
          type: string
      type: object
      id: GoogleCloudApigeeV1DeveloperAppKey
    GoogleCloudApigeeV1Attributes:
      properties:
        attribute:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1Attribute'
          type: array
          description: List of attributes.
      id: GoogleCloudApigeeV1Attributes
      type: object
    GoogleCloudApigeeV1Export:
      id: GoogleCloudApigeeV1Export
      properties:
        datastoreName:
          type: string
          description: >-
            Name of the datastore that is the destination of the export job
            [datastore]
        name:
          description: Display name of the export job.
          type: string
        description:
          description: Description of the export job.
          type: string
        executionTime:
          type: string
          readOnly: true
          description: >-
            Output only. Execution time for this export job. If the job is still
            in progress, it will be set to the amount of time that has elapsed
            since`created`, in seconds. Else, it will set to (`updated` -
            `created`), in seconds.
        updated:
          type: string
          readOnly: true
          description: Output only. Time the export job was last updated.
        error:
          description: Output only. Error is set when export fails
          readOnly: true
          type: string
        state:
          type: string
          readOnly: true
          description: >-
            Output only. Status of the export job. Valid values include
            `enqueued`, `running`, `completed`, and `failed`.
        created:
          readOnly: true
          type: string
          description: Output only. Time the export job was created.
        self:
          description: >-
            Output only. Self link of the export job. A URI that can be used to
            retrieve the status of an export job. Example:
            `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`
          readOnly: true
          type: string
      description: Details of an export job.
      type: object
    GoogleCloudApigeeV1EnvironmentGroupConfig:
      id: GoogleCloudApigeeV1EnvironmentGroupConfig
      type: object
      properties:
        uid:
          type: string
          description: >-
            A unique id for the environment group config that will only change
            if the environment group is deleted and recreated.
        name:
          description: >-
            Name of the environment group in the following format:
            `organizations/{org}/envgroups/{envgroup}`.
          type: string
        routingRules:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1RoutingRule'
          description: >-
            Ordered list of routing rules defining how traffic to this
            environment group's hostnames should be routed to different
            environments.
        location:
          type: string
          description: >-
            When this message appears in the top-level IngressConfig, this field
            will be populated in lieu of the inlined routing_rules and hostnames
            fields. Some URL for downloading the full EnvironmentGroupConfig for
            this group.
        revisionId:
          description: >-
            Revision id that defines the ordering of the EnvironmentGroupConfig
            resource. The higher the revision, the more recently the
            configuration was deployed.
          format: int64
          type: string
        endpointChainingRules:
          type: array
          description: A list of proxies in each deployment group for proxy chaining calls.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1EndpointChainingRule'
        hostnames:
          items:
            type: string
          type: array
          description: Host names for the environment group.
      description: >-
        EnvironmentGroupConfig is a revisioned snapshot of an EnvironmentGroup
        and its associated routing rules.
    GoogleCloudApigeeV1AliasRevisionConfig:
      type: object
      id: GoogleCloudApigeeV1AliasRevisionConfig
      properties:
        location:
          type: string
          description: Location of the alias file. For example, a Google Cloud Storage URI.
        type:
          enum:
            - ALIAS_TYPE_UNSPECIFIED
            - CERT
            - KEY_CERT
          type: string
          enumDescriptions:
            - Alias type is not specified.
            - Certificate.
            - Key/certificate pair.
        name:
          type: string
          description: >-
            Name of the alias revision included in the keystore in the following
            format:
            `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`
    GoogleCloudApigeeV1ApiCategory:
      type: object
      properties:
        data:
          description: Details of category.
          $ref: '#/components/schemas/GoogleCloudApigeeV1ApiCategoryData'
        requestId:
          description: ID that can be used to find request details in the log files.
          type: string
        message:
          description: Description of the operation.
          type: string
        status:
          type: string
          description: Status of the operation.
        errorCode:
          type: string
          description: ID that can be used to find errors in the log files.
      description: the Api category resource wrapped with response status, error_code etc.
      id: GoogleCloudApigeeV1ApiCategory
    GoogleCloudApigeeV1Datastore:
      type: object
      id: GoogleCloudApigeeV1Datastore
      properties:
        displayName:
          type: string
          description: Required. Display name in UI
        createTime:
          format: int64
          type: string
          readOnly: true
          description: >-
            Output only. Datastore create time, in milliseconds since the epoch
            of 1970-01-01T00:00:00Z
        lastUpdateTime:
          readOnly: true
          description: >-
            Output only. Datastore last update time, in milliseconds since the
            epoch of 1970-01-01T00:00:00Z
          format: int64
          type: string
        org:
          readOnly: true
          description: Output only. Organization that the datastore belongs to
          type: string
        self:
          description: >-
            Output only. Resource link of Datastore. Example:
            `/organizations/{org}/analytics/datastores/{uuid}`
          type: string
          readOnly: true
        datastoreConfig:
          $ref: '#/components/schemas/GoogleCloudApigeeV1DatastoreConfig'
          description: Datastore Configurations.
        targetType:
          type: string
          description: Destination storage type. Supported types `gcs` or `bigquery`.
      description: >-
        The data store defines the connection to export data repository (Cloud
        Storage, BigQuery), including the credentials used to access the data
        repository.
    GoogleCloudApigeeV1ReportInstanceStatusResponse:
      type: object
      description: Placeholder for future enhancements to status reporting protocol
      id: GoogleCloudApigeeV1ReportInstanceStatusResponse
      properties: {}
    GoogleCloudApigeeV1ListDataCollectorsResponse:
      description: Response for ListDataCollectors.
      properties:
        nextPageToken:
          type: string
          description: >-
            Page token that you can include in a ListDataCollectors request to
            retrieve the next page. If omitted, no subsequent pages exist.
        dataCollectors:
          type: array
          description: Data collectors in the specified organization.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1DataCollector'
      id: GoogleCloudApigeeV1ListDataCollectorsResponse
      type: object
    GoogleCloudApigeeV1TargetServerConfig:
      id: GoogleCloudApigeeV1TargetServerConfig
      properties:
        host:
          type: string
          description: Host name of the target server.
        tlsInfo:
          $ref: '#/components/schemas/GoogleCloudApigeeV1TlsInfoConfig'
          description: TLS settings for the target server.
        port:
          format: int32
          type: integer
          description: Port number for the target server.
        enabled:
          description: >-
            Whether the target server is enabled. An empty/omitted value for
            this field should be interpreted as true.
          type: boolean
        protocol:
          type: string
          enumDescriptions:
            - UNSPECIFIED defaults to HTTP for backwards compatibility.
            - The TargetServer uses HTTP.
            - >-
              GRPC TargetServer to be used in ExternalCallout Policy. Prefer to
              use EXTERNAL_CALLOUT instead. TODO(b/266125112) deprecate once
              EXTERNAL _CALLOUT generally available.
          description: The protocol used by this target server.
          enum:
            - PROTOCOL_UNSPECIFIED
            - HTTP
            - GRPC
        name:
          description: >-
            Target server revision name in the following format:
            `organizations/{org}/environments/{env}/targetservers/{targetserver}/revisions/{rev}`
          type: string
      type: object
    GoogleCloudApigeeV1TraceConfig:
      description: >-
        TraceConfig defines the configurations in an environment of distributed
        trace.
      type: object
      properties:
        samplingConfig:
          $ref: '#/components/schemas/GoogleCloudApigeeV1TraceSamplingConfig'
          description: >-
            Distributed trace configuration for all API proxies in an
            environment. You can also override the configuration for a specific
            API proxy using the distributed trace configuration overrides API.
        exporter:
          enum:
            - EXPORTER_UNSPECIFIED
            - JAEGER
            - CLOUD_TRACE
          type: string
          description: >-
            Required. Exporter that is used to view the distributed trace
            captured using OpenCensus. An exporter sends traces to any backend
            that is capable of consuming them. Recorded spans can be exported by
            registered exporters.
          enumDescriptions:
            - Exporter unspecified
            - Jaeger exporter
            - Cloudtrace exporter
        endpoint:
          description: Required. Endpoint of the exporter.
          type: string
      id: GoogleCloudApigeeV1TraceConfig
    GoogleCloudApigeeV1RuntimeTraceConfig:
      description: >-
        NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed
        trace in an environment.
      id: GoogleCloudApigeeV1RuntimeTraceConfig
      properties:
        overrides:
          description: List of trace configuration overrides for spicific API proxies.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1RuntimeTraceConfigOverride'
        revisionId:
          description: >-
            Revision number which can be used by the runtime to detect if the
            trace config has changed between two versions.
          type: string
        endpoint:
          type: string
          description: Endpoint of the exporter.
        exporter:
          description: >-
            Exporter that is used to view the distributed trace captured using
            OpenCensus. An exporter sends traces to any backend that is capable
            of consuming them. Recorded spans can be exported by registered
            exporters.
          enum:
            - EXPORTER_UNSPECIFIED
            - JAEGER
            - CLOUD_TRACE
          enumDescriptions:
            - Exporter unspecified
            - Jaeger exporter
            - Cloudtrace exporter
          type: string
        revisionCreateTime:
          description: The timestamp that the revision was created or updated.
          format: google-datetime
          type: string
        name:
          type: string
          description: >-
            Name of the trace config in the following format:
            `organizations/{org}/environment/{env}/traceConfig`
        samplingConfig:
          description: Trace configuration for all API proxies in an environment.
          $ref: '#/components/schemas/GoogleCloudApigeeV1RuntimeTraceSamplingConfig'
      type: object
    GoogleCloudApigeeV1ApiSecurityRuntimeConfig:
      id: GoogleCloudApigeeV1ApiSecurityRuntimeConfig
      properties:
        updateTime:
          format: google-datetime
          type: string
          description: Time that the API Security Runtime configuration was updated.
        uid:
          description: >-
            Unique ID for the API Security Runtime configuration. The ID will
            only change if the environment is deleted and recreated.
          type: string
        revisionId:
          description: >-
            Revision ID of the API Security Runtime configuration. The higher
            the value, the more recently the configuration was deployed.
          format: int64
          type: string
        name:
          type: string
          description: >-
            Name of the environment API Security Runtime configuration resource.
            Format:
            `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`
        location:
          description: A list of up to 5 Cloud Storage Blobs that contain SecurityActions.
          type: array
          items:
            type: string
      description: >-
        Response for
        GetApiSecurityRuntimeConfig[EnvironmentService.GetApiSecurityRuntimeConfig].
      type: object
    GoogleCloudApigeeV1ScoreComponentRecommendationAction:
      properties:
        description:
          type: string
          description: Description of the action.
        actionContext:
          $ref: >-
            #/components/schemas/GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext
          description: Action context for the action.
      type: object
      description: Action to improve security score.
      id: GoogleCloudApigeeV1ScoreComponentRecommendationAction
    GoogleCloudApigeeV1RatePlan:
      id: GoogleCloudApigeeV1RatePlan
      properties:
        createdAt:
          description: >-
            Output only. Time that the rate plan was created in milliseconds
            since epoch.
          format: int64
          readOnly: true
          type: string
        consumptionPricingRates:
          description: >-
            API call volume ranges and the fees charged when the total number of
            API calls is within a given range. The method used to calculate the
            final fee depends on the selected pricing model. For example, if the
            pricing model is `STAIRSTEP` and the ranges are defined as follows:
            ``` { "start": 1, "end": 100, "fee": 75 }, { "start": 101, "end":
            200, "fee": 100 }, } ``` Then the following fees would be charged
            based on the total number of API calls (assuming the currency
            selected is `USD`): * 1 call costs $75 * 50 calls cost $75 * 150
            calls cost $100 The number of API calls cannot exceed 200.
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1RateRange'
          type: array
        fixedFeeFrequency:
          description: Frequency at which the fixed fee is charged.
          type: integer
          format: int32
        currencyCode:
          description: >-
            Currency to be used for billing. Consists of a three-letter code as
            defined by the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
            standard.
          type: string
        endTime:
          format: int64
          description: >-
            Time when the rate plan will expire in milliseconds since epoch. Set
            to 0 or `null` to indicate that the rate plan should never expire.
          type: string
        revenueShareRates:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1RevenueShareRange'
          description: Details of the revenue sharing model.
        displayName:
          description: Display name of the rate plan.
          type: string
        revenueShareType:
          enumDescriptions:
            - Revenue share type is not specified.
            - >-
              Fixed percentage of the total revenue will be shared. The
              percentage to be shared can be configured by the API provider.
            - >-
              Amount of revenue shared depends on the number of API calls. The
              API call volume ranges and the revenue share percentage for each
              volume can be configured by the API provider. **Note**: Not
              supported by Apigee at this time.
          enum:
            - REVENUE_SHARE_TYPE_UNSPECIFIED
            - FIXED
            - VOLUME_BANDED
          type: string
          description: Method used to calculate the revenue that is shared with developers.
        name:
          readOnly: true
          type: string
          description: Output only. Name of the rate plan.
        state:
          enumDescriptions:
            - State of the rate plan is not specified.
            - Rate plan is in draft mode and only visible to API providers.
            - >-
              Rate plan is published and will become visible to developers for
              the configured duration (between `startTime` and `endTime`).
          enum:
            - STATE_UNSPECIFIED
            - DRAFT
            - PUBLISHED
          type: string
          description: Current state of the rate plan (draft or published).
        billingPeriod:
          type: string
          description: Frequency at which the customer will be billed.
          enum:
            - BILLING_PERIOD_UNSPECIFIED
            - WEEKLY
            - MONTHLY
          enumDescriptions:
            - Billing period not specified.
            - >-
              Weekly billing period. **Note**: Not supported by Apigee at this
              time.
            - Monthly billing period.
        lastModifiedAt:
          format: int64
          description: >-
            Output only. Time the rate plan was last modified in milliseconds
            since epoch.
          readOnly: true
          type: string
        startTime:
          format: int64
          type: string
          description: Time when the rate plan becomes active in milliseconds since epoch.
        fixedRecurringFee:
          description: >-
            Fixed amount that is charged at a defined interval and billed in
            advance of use of the API product. The fee will be prorated for the
            first billing period.
          $ref: '#/components/schemas/GoogleTypeMoney'
        paymentFundingModel:
          type: string
          enumDescriptions:
            - Billing account type not specified.
            - >-
              Prepaid billing account type. Developer pays in advance for the
              use of your API products. Funds are deducted from their prepaid
              account balance. **Note**: Not supported by Apigee at this time.
            - >-
              Postpaid billing account type. Developer is billed through an
              invoice after using your API products.
          enum:
            - PAYMENT_FUNDING_MODEL_UNSPECIFIED
            - PREPAID
            - POSTPAID
          description: >-
            DEPRECATED: This field is no longer supported and will eventually be
            removed when Apigee Hybrid 1.5/1.6 is no longer supported. Instead,
            use the `billingType` field inside `DeveloperMonetizationConfig`
            resource. Flag that specifies the billing account type, prepaid or
            postpaid.
        apiproduct:
          description: Name of the API product that the rate plan is associated with.
          type: string
        description:
          type: string
          description: Description of the rate plan.
        consumptionPricingType:
          enumDescriptions:
            - Pricing model not specified. This is the default.
            - Fixed rate charged for each API call.
            - >-
              Variable rate charged for each API call based on price tiers.
              Example: * 1-100 calls cost $2 per call * 101-200 calls cost $1.50
              per call * 201-300 calls cost $1 per call * Total price for 50
              calls: 50 x $2 = $100 * Total price for 150 calls: 100 x $2 + 50 x
              $1.5 = $275 * Total price for 250 calls: 100 x $2 + 100 x $1.5 +
              50 x $1 = $400. **Note**: Not supported by Apigee at this time.
            - '**Note**: Not supported by Apigee at this time.'
            - '**Note**: Not supported by Apigee at this time.'
          enum:
            - CONSUMPTION_PRICING_TYPE_UNSPECIFIED
            - FIXED_PER_UNIT
            - BANDED
            - TIERED
            - STAIRSTEP
          description: Pricing model used for consumption-based charges.
          type: string
        setupFee:
          description: Initial, one-time fee paid when purchasing the API product.
          $ref: '#/components/schemas/GoogleTypeMoney'
      type: object
      description: Rate plan details.
    GoogleCloudApigeeV1EntityMetadata:
      properties:
        createdAt:
          type: string
          description: >-
            Time at which the API proxy was created, in milliseconds since
            epoch.
          format: int64
        subType:
          description: The type of entity described
          type: string
        lastModifiedAt:
          type: string
          format: int64
          description: >-
            Time at which the API proxy was most recently modified, in
            milliseconds since epoch.
      id: GoogleCloudApigeeV1EntityMetadata
      description: Metadata common to many entities in this API.
      type: object
    GoogleCloudApigeeV1AdjustDeveloperBalanceRequest:
      description: Request for AdjustDeveloperBalance.
      properties:
        adjustment:
          $ref: '#/components/schemas/GoogleTypeMoney'
          description: >-
            * A positive value of `adjustment` means that that the API provider
            wants to adjust the balance for an under-charged developer i.e. the
            balance of the developer will decrease. * A negative value of
            `adjustment` means that that the API provider wants to adjust the
            balance for an over-charged developer i.e. the balance of the
            developer will increase.
      id: GoogleCloudApigeeV1AdjustDeveloperBalanceRequest
      type: object
    GoogleCloudApigeeV1RuntimeTraceConfigOverride:
      properties:
        revisionId:
          description: >-
            Revision number which can be used by the runtime to detect if the
            trace config override has changed between two versions.
          type: string
        revisionCreateTime:
          description: The timestamp that the revision was created or updated.
          type: string
          format: google-datetime
        name:
          type: string
          description: >-
            Name of the trace config override in the following format:
            `organizations/{org}/environment/{env}/traceConfig/overrides/{override}`
        apiProxy:
          type: string
          description: >-
            Name of the API proxy that will have its trace configuration
            overridden following format: `organizations/{org}/apis/{api}`
        samplingConfig:
          description: >-
            Trace configuration override for a specific API proxy in an
            environment.
          $ref: '#/components/schemas/GoogleCloudApigeeV1RuntimeTraceSamplingConfig'
        uid:
          description: >-
            Unique ID for the configuration override. The ID will only change if
            the override is deleted and recreated. Corresponds to name's
            "override" field.
          type: string
      type: object
      description: >-
        NEXT ID: 7 Trace configuration override for a specific API proxy in an
        environment.
      id: GoogleCloudApigeeV1RuntimeTraceConfigOverride
    GoogleCloudApigeeV1Deployment:
      type: object
      properties:
        routeConflicts:
          description: >-
            Conflicts in the desired state routing configuration. The presence
            of conflicts does not cause the state to be `ERROR`, but it will
            mean that some of the deployment's base paths are not routed to its
            environment. If the conflicts change, the state will transition to
            `PROGRESSING` until the latest configuration is rolled out to all
            instances. **Note**: This field is displayed only when viewing
            deployment status.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict
        apiProxy:
          description: API proxy.
          type: string
        deployStartTime:
          type: string
          format: int64
          description: >-
            Time the API proxy was marked `deployed` in the control plane in
            millisconds since epoch.
        revision:
          type: string
          description: API proxy revision.
        instances:
          description: >-
            Status reported by each runtime instance. **Note**: This field is
            displayed only when viewing deployment status.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1InstanceDeploymentStatus'
        state:
          enumDescriptions:
            - This value should never be returned.
            - Runtime has loaded the deployment.
            - Deployment is not fully ready in the runtime.
            - >-
              Encountered an error with the deployment that requires
              intervention.
          description: >-
            Current state of the deployment. **Note**: This field is displayed
            only when viewing deployment status.
          enum:
            - RUNTIME_STATE_UNSPECIFIED
            - READY
            - PROGRESSING
            - ERROR
          type: string
        pods:
          items:
            $ref: '#/components/schemas/GoogleCloudApigeeV1PodStatus'
          type: array
          description: >-
            Status reported by runtime pods. **Note**: **This field is
            deprecated**. Runtime versions 1.3 and above report instance level
            status rather than pod status.
        environment:
          description: Environment.
          type: string
        serviceAccount:
          type: string
          description: >-
            The full resource name of Cloud IAM Service Account that this
            deployment is using, eg, `projects/-/serviceAccounts/{email}`.
        errors:
          items:
            $ref: '#/components/schemas/GoogleRpcStatus'
          type: array
          description: >-
            Errors reported for this deployment. Populated only when state ==
            ERROR. **Note**: This field is displayed only when viewing
            deployment status.
      id: GoogleCloudApigeeV1Deployment
[...]
