openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Apps Script API
  description: 'Manages and executes Google Apps Script projects. '
  version: v1
  x-discovery-doc-revision: '20230611'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/apps-script/api/
servers:
  - url: https://script.googleapis.com
components:
  schemas:
    DeploymentConfig:
      description: Metadata the defines how a deployment is configured.
      type: object
      properties:
        versionNumber:
          format: int32
          type: integer
          description: The version number on which this deployment is based.
        scriptId:
          description: The script project's Drive ID.
          type: string
        manifestFileName:
          description: The manifest file name for this deployment.
          type: string
        description:
          type: string
          description: The description for this deployment.
      id: DeploymentConfig
    Value:
      type: object
      description: >-
        `Value` represents a dynamically typed value which is the outcome of an
        executed script.
      properties:
        protoValue:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          type: object
          description: Represents a structured proto value.
        nullValue:
          type: string
          enum:
            - NULL_VALUE
          description: Represents a null value.
          enumDescriptions:
            - Null value.
        boolValue:
          description: Represents a boolean value.
          type: boolean
        dateValue:
          type: string
          description: Represents a date in ms since the epoch.
          format: int64
        structValue:
          description: Represents a structured value.
          $ref: '#/components/schemas/Struct'
        bytesValue:
          format: byte
          description: Represents raw byte values.
          type: string
        numberValue:
          description: Represents a double value.
          format: double
          type: number
        stringValue:
          type: string
          description: Represents a string value.
        listValue:
          $ref: '#/components/schemas/ListValue'
          description: Represents a repeated `Value`.
      id: Value
    EntryPoint:
      type: object
      properties:
        entryPointType:
          description: The type of the entry point.
          type: string
          enum:
            - ENTRY_POINT_TYPE_UNSPECIFIED
            - WEB_APP
            - EXECUTION_API
            - ADD_ON
          enumDescriptions:
            - An unspecified entry point.
            - A web application entry point.
            - An API executable entry point.
            - An Add-On entry point.
        addOn:
          description: Add-on properties.
          $ref: '#/components/schemas/GoogleAppsScriptTypeAddOnEntryPoint'
        webApp:
          description: An entry point specification for web apps.
          $ref: '#/components/schemas/GoogleAppsScriptTypeWebAppEntryPoint'
        executionApi:
          $ref: '#/components/schemas/GoogleAppsScriptTypeExecutionApiEntryPoint'
          description: An entry point specification for Apps Script API execution calls.
      description: A configuration that defines how a deployment is accessed externally.
      id: EntryPoint
    Operation:
      type: object
      id: Operation
      properties:
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            If a `run` call succeeds but the script function (or Apps Script
            itself) throws an exception, this field contains a Status object.
            The `Status` object's `details` field contains an array with a
            single ExecutionError object that provides information about the
            nature of the error.
        response:
          additionalProperties:
            type: any
            description: Properties of the object. Contains field @type with type URL.
          description: >-
            If the script function returns successfully, this field contains an
            ExecutionResponse object with the function's return value.
          type: object
        done:
          type: boolean
          description: >-
            This field indicates whether the script execution has completed. A
            completed execution has a populated `response` field containing the
            ExecutionResponse from function that was executed.
      description: >-
        A representation of an execution of an Apps Script function started with
        run. The execution response does not arrive until the function finishes
        executing. The maximum execution runtime is listed in the [Apps Script
        quotas guide](/apps-script/guides/services/quotas#current_limitations).
        After execution has started, it can have one of four outcomes: - If the
        script function returns successfully, the response field contains an
        ExecutionResponse object with the function's return value in the
        object's `result` field. - If the script function (or Apps Script
        itself) throws an exception, the error field contains a Status object.
        The `Status` object's `details` field contains an array with a single
        ExecutionError object that provides information about the nature of the
        error. - If the execution has not yet completed, the done field is
        `false` and the neither the `response` nor `error` fields are present. -
        If the `run` call itself fails (for example, because of a malformed
        request or an authorization error), the method returns an HTTP response
        code in the 4XX range with a different format for the response body.
        Client libraries automatically convert a 4XX response into an exception
        class. 
    UpdateDeploymentRequest:
      description: Request with deployment information to update an existing deployment.
      properties:
        deploymentConfig:
          description: The deployment configuration.
          $ref: '#/components/schemas/DeploymentConfig'
      type: object
      id: UpdateDeploymentRequest
    ListUserProcessesResponse:
      description: Response with the list of Process resources.
      properties:
        nextPageToken:
          type: string
          description: >-
            Token for the next page of results. If empty, there are no more
            pages remaining.
        processes:
          description: List of processes matching request parameters.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAppsScriptTypeProcess'
      type: object
      id: ListUserProcessesResponse
    MetricsValue:
      properties:
        endTime:
          format: google-datetime
          type: string
          description: Required field indicating the end time of the interval.
        startTime:
          type: string
          description: Required field indicating the start time of the interval.
          format: google-datetime
        value:
          format: uint64
          description: Indicates the number of executions counted.
          type: string
      type: object
      id: MetricsValue
      description: Metrics value that holds number of executions counted.
    ExecutionResponse:
      id: ExecutionResponse
      properties:
        result:
          description: >-
            The return value of the script function. The type matches the object
            type returned in Apps Script. Functions called using the Apps Script
            API cannot return Apps Script-specific objects (such as a `Document`
            or a `Calendar`); they can only return primitive types such as a
            `string`, `number`, `array`, `object`, or `boolean`.
          type: any
      type: object
      description: >-
        An object that provides the return value of a function executed using
        the Apps Script API. If the script function returns successfully, the
        response body's response field contains this `ExecutionResponse` object.
    GoogleAppsScriptTypeExecutionApiConfig:
      type: object
      description: API executable entry point configuration.
      properties:
        access:
          description: Who has permission to run the API executable.
          type: string
          enumDescriptions:
            - Default value, should not be used.
            - >-
              Only the user who deployed the web app or executable can access
              it. Note that this is not necessarily the owner of the script
              project.
            - >-
              Only users in the same domain as the user who deployed the web app
              or executable can access it.
            - Any logged in user can access the web app or executable.
            - Any user, logged in or not, can access the web app or executable.
          enum:
            - UNKNOWN_ACCESS
            - MYSELF
            - DOMAIN
            - ANYONE
            - ANYONE_ANONYMOUS
      id: GoogleAppsScriptTypeExecutionApiConfig
    Metrics:
      properties:
        failedExecutions:
          items:
            $ref: '#/components/schemas/MetricsValue'
          description: Number of failed executions.
          type: array
        activeUsers:
          items:
            $ref: '#/components/schemas/MetricsValue'
          description: Number of active users.
          type: array
        totalExecutions:
          type: array
          description: Number of total executions.
          items:
            $ref: '#/components/schemas/MetricsValue'
      type: object
      description: >-
        Resource containing usage stats for a given script, based on the
        supplied filter and mask present in the request.
      id: Metrics
    GoogleAppsScriptTypeWebAppEntryPoint:
      type: object
      properties:
        url:
          type: string
          description: The URL for the web application.
        entryPointConfig:
          $ref: '#/components/schemas/GoogleAppsScriptTypeWebAppConfig'
          description: The entry point's configuration.
      description: A web application entry point.
      id: GoogleAppsScriptTypeWebAppEntryPoint
    Status:
      id: Status
      type: object
      properties:
        details:
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
          description: >-
            An array that contains a single ExecutionError object that provides
            information about the nature of the error.
          type: array
        message:
          description: >-
            A developer-facing error message, which is in English. Any
            user-facing error message is localized and sent in the details
            field, or localized by the client.
          type: string
        code:
          description: >-
            The status code. For this API, this value either: - 10, indicating a
            `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error,
            or - 1, indicating a `CANCELLED` execution. 
          format: int32
          type: integer
      description: >-
        If a `run` call succeeds but the script function (or Apps Script itself)
        throws an exception, the response body's error field contains this
        `Status` object.
    Project:
      description: The script project resource.
      properties:
        lastModifyUser:
          $ref: '#/components/schemas/GoogleAppsScriptTypeUser'
          description: User who last modified the script.
        updateTime:
          type: string
          description: When the script was last updated.
          format: google-datetime
        createTime:
          description: When the script was created.
          type: string
          format: google-datetime
        creator:
          description: User who originally created the script.
          $ref: '#/components/schemas/GoogleAppsScriptTypeUser'
        parentId:
          description: >-
            The parent's Drive ID that the script will be attached to. This is
            usually the ID of a Google Document or Google Sheet. This filed is
            optional, and if not set, a stand-alone script will be created.
          type: string
        title:
          type: string
          description: The title for the project.
        scriptId:
          type: string
          description: The script project's Drive ID.
      type: object
      id: Project
    GoogleAppsScriptTypeFunction:
      properties:
        parameters:
          type: array
          description: >-
            The ordered list of parameter names of the function in the script
            project.
          items:
            type: string
        name:
          description: The function name in the script project.
          type: string
      id: GoogleAppsScriptTypeFunction
      description: Represents a function in a script project.
      type: object
    ExecutionError:
      properties:
        errorMessage:
          type: string
          description: >-
            The error message thrown by Apps Script, usually localized into the
            user's language.
        scriptStackTraceElements:
          type: array
          description: >-
            An array of objects that provide a stack trace through the script to
            show where the execution failed, with the deepest call first.
          items:
            $ref: '#/components/schemas/ScriptStackTraceElement'
        errorType:
          type: string
          description: >-
            The error type, for example `TypeError` or `ReferenceError`. If the
            error type is unavailable, this field is not included.
      type: object
      description: >-
        An object that provides information about the nature of an error
        resulting from an attempted execution of a script function using the
        Apps Script API. If a run call succeeds but the script function (or Apps
        Script itself) throws an exception, the response body's error field
        contains a Status object. The `Status` object's `details` field contains
        an array with a single one of these `ExecutionError` objects.
      id: ExecutionError
    ListDeploymentsResponse:
      description: >-
        Response with the list of deployments for the specified Apps Script
        project.
      properties:
        deployments:
          items:
            $ref: '#/components/schemas/Deployment'
          description: The list of deployments.
          type: array
        nextPageToken:
          type: string
          description: >-
            The token that can be used in the next call to get the next page of
            results.
      id: ListDeploymentsResponse
      type: object
    Version:
      type: object
      properties:
        createTime:
          description: When the version was created.
          type: string
          format: google-datetime
        scriptId:
          description: The script project's Drive ID.
          type: string
        versionNumber:
          type: integer
          format: int32
          description: >-
            The incremental ID that is created by Apps Script when a version is
            created. This is system assigned number and is immutable once
            created.
        description:
          type: string
          description: The description for this version.
      id: Version
      description: >-
        A resource representing a script project version. A version is a
        "snapshot" of a script project and is similar to a read-only branched
        release. When creating deployments, the version to use must be
        specified.
    GoogleAppsScriptTypeProcess:
      properties:
        processStatus:
          enumDescriptions:
            - Unspecified status.
            - The process is currently running.
            - The process has paused.
            - The process has completed.
            - The process was cancelled.
            - The process failed.
            - The process timed out.
            - Process status unknown.
            - The process is delayed, waiting for quota.
          description: The executions status.
          type: string
          enum:
            - PROCESS_STATUS_UNSPECIFIED
            - RUNNING
            - PAUSED
            - COMPLETED
            - CANCELED
            - FAILED
            - TIMED_OUT
            - UNKNOWN
            - DELAYED
        userAccessLevel:
          description: The executing users access level to the script.
          type: string
          enumDescriptions:
            - User access level unspecified
            - The user has no access.
            - The user has read-only access.
            - The user has write access.
            - The user is an owner.
          enum:
            - USER_ACCESS_LEVEL_UNSPECIFIED
            - NONE
            - READ
            - WRITE
            - OWNER
        functionName:
          description: Name of the function the started the execution.
          type: string
        projectName:
          type: string
          description: Name of the script being executed.
        processType:
          type: string
          enumDescriptions:
            - Unspecified type.
            - The process was started from an add-on entry point.
            - The process was started using the Apps Script API.
            - The process was started from a time-based trigger.
            - The process was started from an event-based trigger.
            - The process was started from a web app entry point.
            - The process was started using the Apps Script IDE.
            - The process was started from a G Suite simple trigger.
            - The process was started from a G Suite menu item.
            - The process was started as a task in a batch job.
          enum:
            - PROCESS_TYPE_UNSPECIFIED
            - ADD_ON
            - EXECUTION_API
            - TIME_DRIVEN
            - TRIGGER
            - WEBAPP
            - EDITOR
            - SIMPLE_TRIGGER
            - MENU
            - BATCH_TASK
          description: The executions type.
        runtimeVersion:
          enum:
            - RUNTIME_VERSION_UNSPECIFIED
            - DEPRECATED_ES5
            - V8
          enumDescriptions:
            - Runtime version unset / unknown.
            - Legacy rhino version of the Apps script runtime
            - Current default V8 version of the apps script runtime.
          description: Which version of maestro to use to execute the script.
          type: string
        startTime:
          type: string
          description: Time the execution started.
          format: google-datetime
        duration:
          description: Duration the execution spent executing.
          type: string
          format: google-duration
      id: GoogleAppsScriptTypeProcess
      description: >-
        Representation of a single script process execution that was started
        from the script editor, a trigger, an application, or using the Apps
        Script API. This is distinct from the `Operation` resource, which only
        represents executions started via the Apps Script API.
      type: object
    ExecuteStreamResponse:
      type: object
      description: >-
        The response for executing or debugging a function in an Apps Script
        project.
      id: ExecuteStreamResponse
      properties:
        result:
          $ref: '#/components/schemas/ScriptExecutionResult'
          description: The result of the execution.
    Empty:
      type: object
      properties: {}
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      id: Empty
    GoogleAppsScriptTypeUser:
      description: A simple user profile resource.
      type: object
      id: GoogleAppsScriptTypeUser
      properties:
        domain:
          description: The user's domain.
          type: string
        name:
          description: The user's display name.
          type: string
        email:
          description: The user's identifying email address.
          type: string
        photoUrl:
          description: The user's photo.
          type: string
    File:
      properties:
        lastModifyUser:
          $ref: '#/components/schemas/GoogleAppsScriptTypeUser'
          description: >-
            The user who modified the file most recently. This read-only field
            is only visible to users who have WRITER permission for the script
            project.
        updateTime:
          format: google-datetime
          description: >-
            Last modified date timestamp. This read-only field is only visible
            to users who have WRITER permission for the script project.
          type: string
        createTime:
          description: >-
            Creation date timestamp. This read-only field is only visible to
            users who have WRITER permission for the script project.
          type: string
          format: google-datetime
        source:
          description: The file content.
          type: string
        functionSet:
          $ref: '#/components/schemas/GoogleAppsScriptTypeFunctionSet'
          description: The defined set of functions in the script file, if any.
        name:
          type: string
          description: >-
            The name of the file. The file extension is not part of the file
            name, which can be identified from the type field.
        type:
          description: The type of the file.
          enum:
            - ENUM_TYPE_UNSPECIFIED
            - SERVER_JS
            - HTML
            - JSON
          type: string
          enumDescriptions:
            - Undetermined file type; never actually used.
            - An Apps Script server-side code file.
            - A file containing client-side HTML.
            - >-
              A file in JSON format. This type is only used for the script
              project's manifest. The manifest file content must match the
              structure of a valid
              [ScriptManifest](/apps-script/concepts/manifests)
      id: File
      description: >-
        An individual file within a script project. A file is a third-party
        source code created by one or more developers. It can be a server-side
        JS code, HTML, or a configuration file. Each script project can contain
        multiple files.
      type: object
    GoogleAppsScriptTypeFunctionSet:
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAppsScriptTypeFunction'
          description: A list of functions composing the set.
      type: object
      id: GoogleAppsScriptTypeFunctionSet
      description: A set of functions. No duplicates are permitted.
    ScriptStackTraceElement:
      type: object
      id: ScriptStackTraceElement
      description: A stack trace through the script that shows where the execution failed.
      properties:
        function:
          description: The name of the function that failed.
          type: string
        lineNumber:
          format: int32
          description: The line number where the script failed.
          type: integer
    CreateProjectRequest:
      description: Request to create a script project. Request to create a script project.
      properties:
        title:
          description: The title for the project.
          type: string
        parentId:
          description: >-
            The Drive ID of a parent file that the created script project is
            bound to. This is usually the ID of a Google Doc, Google Sheet,
            Google Form, or Google Slides file. If not set, a standalone script
            project is created.
          type: string
      type: object
      id: CreateProjectRequest
    ScriptExecutionResult:
      type: object
      description: The result of an execution.
      properties:
        returnValue:
          description: The returned value of the execution.
          $ref: '#/components/schemas/Value'
      id: ScriptExecutionResult
    ListValue:
      type: object
      id: ListValue
      properties:
        values:
          description: Repeated field of dynamically typed values.
          items:
            $ref: '#/components/schemas/Value'
          type: array
      description: '`ListValue` is a wrapper around a repeated field of values.'
    ListScriptProcessesResponse:
      type: object
      description: Response with the list of Process resources.
      properties:
        processes:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAppsScriptTypeProcess'
          description: List of processes matching request parameters.
        nextPageToken:
          description: >-
            Token for the next page of results. If empty, there are no more
            pages remaining.
          type: string
      id: ListScriptProcessesResponse
    ListVersionsResponse:
      id: ListVersionsResponse
      type: object
      description: Response with the list of the versions for the specified script project.
      properties:
        versions:
          type: array
          description: The list of versions.
          items:
            $ref: '#/components/schemas/Version'
        nextPageToken:
          type: string
          description: >-
            The token use to fetch the next page of records. if not exist in the
            response, that means no more versions to list.
    Content:
      type: object
      id: Content
      description: The Content resource.
      properties:
        scriptId:
          type: string
          description: The script project's Drive ID.
        files:
          items:
            $ref: '#/components/schemas/File'
          type: array
          description: >-
            The list of script project files. One of the files is a script
            manifest; it must be named "appsscript", must have type of JSON, and
            include the manifest configurations for the project.
    ExecutionRequest:
      description: >-
        A request to run the function in a script. The script is identified by
        the specified `script_id`. Executing a function on a script returns
        results based on the implementation of the script.
      properties:
        devMode:
          description: >-
            If `true` and the user is an owner of the script, the script runs at
            the most recently saved version rather than the version deployed for
            use with the Apps Script API. Optional; default is `false`.
          type: boolean
        sessionState:
          description: >-
            *Deprecated*. For use with Android add-ons only. An ID that
            represents the user's current session in the Android app for Google
            Docs or Sheets, included as extra data in the
            [Intent](https://developer.android.com/guide/components/intents-filters.html)
            that launches the add-on. When an Android add-on is run with a
            session state, it gains the privileges of a
            [bound](https://developers.google.com/apps-script/guides/bound)
            script—that is, it can access information like the user's current
            cursor position (in Docs) or selected cell (in Sheets). To retrieve
            the state, call
            `Intent.getStringExtra("com.google.android.apps.docs.addons.SessionState")`.
            Optional.
          type: string
        parameters:
          type: array
          items:
            type: any
          description: >-
            The parameters to be passed to the function being executed. The
            object type for each parameter should match the expected type in
            Apps Script. Parameters cannot be Apps Script-specific object types
            (such as a `Document` or a `Calendar`); they can only be primitive
            types such as `string`, `number`, `array`, `object`, or `boolean`.
            Optional.
        function:
          description: >-
            The name of the function to execute in the given script. The name
            does not include parentheses or parameters. It can reference a
            function in an included library such as `Library.libFunction1`.
          type: string
      id: ExecutionRequest
      type: object
    Struct:
      properties:
        fields:
          additionalProperties:
            $ref: '#/components/schemas/Value'
          description: Unordered map of dynamically typed values.
          type: object
      type: object
      description: >-
        `Struct` represents a structured data value, consisting of fields which
        map to dynamically typed values.
      id: Struct
    Deployment:
      id: Deployment
      type: object
      description: Representation of a single script deployment.
      properties:
        entryPoints:
          type: array
          items:
            $ref: '#/components/schemas/EntryPoint'
          description: The deployment's entry points.
        deploymentConfig:
          $ref: '#/components/schemas/DeploymentConfig'
          description: The deployment configuration.
        deploymentId:
          description: The deployment ID for this deployment.
          type: string
        updateTime:
          type: string
          description: Last modified date time stamp.
          format: google-datetime
    GoogleAppsScriptTypeWebAppConfig:
      type: object
      description: Web app entry point configuration.
      properties:
        executeAs:
          enum:
            - UNKNOWN_EXECUTE_AS
            - USER_ACCESSING
            - USER_DEPLOYING
          enumDescriptions:
            - Default value, should not be used.
            - The script runs as the user accessing the web app.
            - >-
              The script runs as the user who deployed the web app. Note that
              this is not necessarily the owner of the script project.
          description: Who to execute the web app as.
          type: string
        access:
          description: Who has permission to run the web app.
          enumDescriptions:
            - Default value, should not be used.
            - >-
              Only the user who deployed the web app or executable can access
              it. Note that this is not necessarily the owner of the script
              project.
            - >-
              Only users in the same domain as the user who deployed the web app
              or executable can access it.
            - Any logged in user can access the web app or executable.
            - Any user, logged in or not, can access the web app or executable.
          type: string
          enum:
            - UNKNOWN_ACCESS
            - MYSELF
            - DOMAIN
            - ANYONE
            - ANYONE_ANONYMOUS
      id: GoogleAppsScriptTypeWebAppConfig
    GoogleAppsScriptTypeExecutionApiEntryPoint:
      id: GoogleAppsScriptTypeExecutionApiEntryPoint
      description: An API executable entry point.
      properties:
        entryPointConfig:
          $ref: '#/components/schemas/GoogleAppsScriptTypeExecutionApiConfig'
          description: The entry point's configuration.
      type: object
    GoogleAppsScriptTypeAddOnEntryPoint:
      type: object
      description: An add-on entry point.
      id: GoogleAppsScriptTypeAddOnEntryPoint
      properties:
        title:
          type: string
          description: The add-on's required title.
        reportIssueUrl:
          description: The add-on's optional report issue URL.
          type: string
        addOnType:
          type: string
          enumDescriptions:
            - Default value, unknown add-on type.
            - Add-on type for Gmail.
            - Add-on type for Data Studio.
          enum:
            - UNKNOWN_ADDON_TYPE
            - GMAIL
            - DATA_STUDIO
          description: The add-on's required list of supported container types.
        description:
          type: string
          description: The add-on's optional description.
        helpUrl:
          type: string
          description: The add-on's optional help URL.
        postInstallTipUrl:
          description: The add-on's required post install tip URL.
          type: string
  parameters:
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/script.deployments.readonly: View Google Apps Script deployments
            https://www.googleapis.com/auth/script.projects: Create and update Google Apps Script projects
            https://www.googleapis.com/auth/script.metrics: View Google Apps Script project's metrics
            https://www.googleapis.com/auth/userinfo.email: See your primary Google Account email address
            https://www.googleapis.com/auth/forms.currentonly: View and manage forms that this application has been installed in
            https://www.googleapis.com/auth/script.deployments: Create and update Google Apps Script deployments
            https://www.google.com/m8/feeds: See, edit, download, and permanently delete your contacts
            https://www.googleapis.com/auth/drive: See, edit, create, and delete all of your Google Drive files
            https://www.googleapis.com/auth/forms: View and manage your forms in Google Drive
            https://www.googleapis.com/auth/admin.directory.group: View and manage the provisioning of groups on your domain
            https://www.google.com/calendar/feeds: >-
              See, edit, share, and permanently delete all the calendars you can
              access using Google Calendar
            https://www.googleapis.com/auth/script.processes: View Google Apps Script processes
            https://www.googleapis.com/auth/documents: See, edit, create, and delete all your Google Docs documents
            https://www.googleapis.com/auth/admin.directory.user: View and manage the provisioning of users on your domain
            https://www.googleapis.com/auth/groups: View and manage your Google Groups
            https://mail.google.com/: >-
              Read, compose, send, and permanently delete all your email from
              Gmail
            https://www.googleapis.com/auth/script.projects.readonly: View Google Apps Script projects
            https://www.googleapis.com/auth/spreadsheets: See, edit, create, and delete all your Google Sheets spreadsheets
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/processes:listScriptProcesses:
    parameters: &ref_1
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/key'
    get:
      description: >-
        List information about a script's executed processes, such as process
        type and current status.
      operationId: script.processes.listScriptProcesses
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.processes
          Oauth2c:
            - https://www.googleapis.com/auth/script.processes
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScriptProcessesResponse'
      parameters:
        - in: query
          name: scriptProcessFilter.statuses
          schema:
            type: string
        - in: query
          name: scriptProcessFilter.deploymentId
          schema:
            type: string
        - in: query
          name: scriptId
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: scriptProcessFilter.functionName
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: scriptProcessFilter.userAccessLevels
          schema:
            type: string
        - in: query
          name: scriptProcessFilter.types
          schema:
            type: string
        - in: query
          name: scriptProcessFilter.startTime
          schema:
            type: string
        - in: query
          name: scriptProcessFilter.endTime
          schema:
            type: string
      x-stackQL-resource: processes__script_processes
      x-stackQL-verb: select
  /v1/processes:
    parameters: *ref_1
    get:
      description: >-
        List information about processes made by or on behalf of a user, such as
        process type and current status.
      operationId: script.processes.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.processes
          Oauth2c:
            - https://www.googleapis.com/auth/script.processes
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserProcessesResponse'
      parameters:
        - in: query
          name: userProcessFilter.statuses
          schema:
            type: string
        - in: query
          name: userProcessFilter.functionName
          schema:
            type: string
        - in: query
          name: userProcessFilter.userAccessLevels
          schema:
            type: string
        - in: query
          name: userProcessFilter.types
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: userProcessFilter.startTime
          schema:
            type: string
        - in: query
          name: userProcessFilter.projectName
          schema:
            type: string
        - in: query
          name: userProcessFilter.scriptId
          schema:
            type: string
        - in: query
          name: userProcessFilter.deploymentId
          schema:
            type: string
        - in: query
          name: userProcessFilter.endTime
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: processes
      x-stackQL-verb: select
  /v1/scripts/{scriptId}:run:
    parameters: *ref_1
    post:
      description: >-
        Runs a function in an Apps Script project. The script project must be
        deployed for use with the Apps Script API and the calling application
        must share the same Cloud Platform project. This method requires
        authorization with an OAuth 2.0 token that includes at least one of the
        scopes listed in the [Authorization](#authorization-scopes) section;
        script projects that do not require authorization cannot be executed
        through this API. To find the correct scopes to include in the
        authentication token, open the script project **Overview** page and
        scroll down to "Project OAuth Scopes." The error `403,
        PERMISSION_DENIED: The caller does not have permission` indicates that
        the Cloud Platform project used to authorize the request is not the same
        as the one used by the script.
      operationId: script.scripts.run
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
      security:
        - Oauth2:
            - https://mail.google.com/
          Oauth2c:
            - https://mail.google.com/
        - Oauth2:
            - https://www.google.com/calendar/feeds
          Oauth2c:
            - https://www.google.com/calendar/feeds
        - Oauth2:
            - https://www.google.com/m8/feeds
          Oauth2c:
            - https://www.google.com/m8/feeds
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.group
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.group
        - Oauth2:
            - https://www.googleapis.com/auth/admin.directory.user
          Oauth2c:
            - https://www.googleapis.com/auth/admin.directory.user
        - Oauth2:
            - https://www.googleapis.com/auth/documents
          Oauth2c:
            - https://www.googleapis.com/auth/documents
        - Oauth2:
            - https://www.googleapis.com/auth/drive
          Oauth2c:
            - https://www.googleapis.com/auth/drive
        - Oauth2:
            - https://www.googleapis.com/auth/forms
          Oauth2c:
            - https://www.googleapis.com/auth/forms
        - Oauth2:
            - https://www.googleapis.com/auth/forms.currentonly
          Oauth2c:
            - https://www.googleapis.com/auth/forms.currentonly
        - Oauth2:
            - https://www.googleapis.com/auth/groups
          Oauth2c:
            - https://www.googleapis.com/auth/groups
        - Oauth2:
            - https://www.googleapis.com/auth/spreadsheets
          Oauth2c:
            - https://www.googleapis.com/auth/spreadsheets
        - Oauth2:
            - https://www.googleapis.com/auth/userinfo.email
          Oauth2c:
            - https://www.googleapis.com/auth/userinfo.email
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
      x-stackQL-resource: scripts
      x-stackQL-verb: exec
  /v1/projects/{scriptId}/content:
    parameters: *ref_1
    get:
      description: >-
        Gets the content of the script project, including the code source and
        metadata for each script file.
      operationId: script.projects.getContent
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Content'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
        - in: query
          name: versionNumber
          schema:
            type: integer
      x-stackQL-resource: projects__content
      x-stackQL-verb: select
    put:
      description: >-
        Updates the content of the specified script project. This content is
        stored as the HEAD version, and is used when the script is executed as a
        trigger, in the script editor, in add-on preview mode, or as a web app
        or Apps Script API in development mode. This clears all the existing
        files in the project.
      operationId: script.projects.updateContent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Content'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Content'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
      x-stackQL-resource: projects
      x-stackQL-verb: exec
  /v1/projects/{scriptId}/metrics:
    parameters: *ref_1
    get:
      description: >-
        Get metrics data for scripts, such as number of executions and active
        users.
      operationId: script.projects.getMetrics
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.metrics
          Oauth2c:
            - https://www.googleapis.com/auth/script.metrics
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
        - in: query
          name: metricsFilter.deploymentId
          schema:
            type: string
        - in: query
          name: metricsGranularity
          schema:
            type: string
      x-stackQL-resource: projects__metrics
      x-stackQL-verb: select
  /v1/projects:
    parameters: *ref_1
    post:
      description: >-
        Creates a new, empty script project with no script files and a base
        manifest file.
      operationId: script.projects.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      parameters: []
      x-stackQL-resource: projects
      x-stackQL-verb: insert
  /v1/projects/{scriptId}:
    parameters: *ref_1
    get:
      description: Gets a script project's metadata.
      operationId: script.projects.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
      x-stackQL-resource: projects
      x-stackQL-verb: select
  /v1/projects/{scriptId}/deployments:
    parameters: *ref_1
    get:
      description: Lists the deployments of an Apps Script project.
      operationId: script.projects.deployments.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.deployments
          Oauth2c:
            - https://www.googleapis.com/auth/script.deployments
        - Oauth2:
            - https://www.googleapis.com/auth/script.deployments.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/script.deployments.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeploymentsResponse'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: deployments
      x-stackQL-verb: select
    post:
      description: Creates a deployment of an Apps Script project.
      operationId: script.projects.deployments.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.deployments
          Oauth2c:
            - https://www.googleapis.com/auth/script.deployments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
      x-stackQL-resource: deployments
      x-stackQL-verb: insert
  /v1/projects/{scriptId}/deployments/{deploymentId}:
    parameters: *ref_1
    put:
      description: Updates a deployment of an Apps Script project.
      operationId: script.projects.deployments.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.deployments
          Oauth2c:
            - https://www.googleapis.com/auth/script.deployments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
        - in: path
          name: deploymentId
          required: true
          schema:
            type: string
      x-stackQL-resource: deployments
      x-stackQL-verb: exec
    get:
      description: Gets a deployment of an Apps Script project.
      operationId: script.projects.deployments.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.deployments
          Oauth2c:
            - https://www.googleapis.com/auth/script.deployments
        - Oauth2:
            - https://www.googleapis.com/auth/script.deployments.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/script.deployments.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
        - in: path
          name: deploymentId
          required: true
          schema:
            type: string
      x-stackQL-resource: deployments
      x-stackQL-verb: select
    delete:
      description: Deletes a deployment of an Apps Script project.
      operationId: script.projects.deployments.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.deployments
          Oauth2c:
            - https://www.googleapis.com/auth/script.deployments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
        - in: path
          name: deploymentId
          required: true
          schema:
            type: string
      x-stackQL-resource: deployments
      x-stackQL-verb: delete
  /v1/projects/{scriptId}/versions:
    parameters: *ref_1
    get:
      description: List the versions of a script project.
      operationId: script.projects.versions.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVersionsResponse'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: versions
      x-stackQL-verb: select
    post:
      description: >-
        Creates a new immutable version using the current code, with a unique
        version number.
      operationId: script.projects.versions.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Version'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
      x-stackQL-resource: versions
      x-stackQL-verb: insert
  /v1/projects/{scriptId}/versions/{versionNumber}:
    parameters: *ref_1
    get:
      description: Gets a version of a script project.
      operationId: script.projects.versions.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects
        - Oauth2:
            - https://www.googleapis.com/auth/script.projects.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/script.projects.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
      parameters:
        - in: path
          name: scriptId
          required: true
          schema:
            type: string
        - in: path
          name: versionNumber
          required: true
          schema:
            type: string
      x-stackQL-resource: versions
      x-stackQL-verb: select
