openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Compute Engine API
  description: 'Creates and runs virtual machines on Google Cloud Platform. '
  version: alpha
  x-discovery-doc-revision: '20230610'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/compute/
servers:
  - url: https://compute.googleapis.com/compute/alpha
components:
  schemas:
    RegionNetworkFirewallPoliciesGetEffectiveFirewallsResponse:
      id: RegionNetworkFirewallPoliciesGetEffectiveFirewallsResponse
      type: object
      properties:
        firewalls:
          type: array
          description: Effective firewalls on the network.
          items:
            $ref: '#/components/schemas/Firewall'
        firewallPolicys:
          description: Effective firewalls from firewall policy.
          items:
            $ref: >-
              #/components/schemas/RegionNetworkFirewallPoliciesGetEffectiveFirewallsResponseEffectiveFirewallPolicy
          type: array
    Expr:
      description: >-
        Represents a textual expression in the Common Expression Language (CEL)
        syntax. CEL is a C-like expression language. The syntax and semantics of
        CEL are documented at https://github.com/google/cel-spec. Example
        (Comparison): title: "Summary size limit" description: "Determines if a
        summary is less than 100 chars" expression: "document.summary.size() <
        100" Example (Equality): title: "Requestor is owner" description:
        "Determines if requestor is the document owner" expression:
        "document.owner == request.auth.claims.email" Example (Logic): title:
        "Public documents" description: "Determine whether the document should
        be publicly visible" expression: "document.type != 'private' &&
        document.type != 'internal'" Example (Data Manipulation): title:
        "Notification string" description: "Create a notification string with a
        timestamp." expression: "'New message received at ' +
        string(document.create_time)" The exact variables and functions that may
        be referenced within an expression are determined by the service that
        evaluates it. See the service documentation for additional information.
      id: Expr
      type: object
      properties:
        description:
          description: >-
            Optional. Description of the expression. This is a longer text which
            describes the expression, e.g. when hovered over it in a UI.
          type: string
        title:
          description: >-
            Optional. Title for the expression, i.e. a short string describing
            its purpose. This can be used e.g. in UIs which allow to enter the
            expression.
          type: string
        expression:
          description: >-
            Textual representation of an expression in Common Expression
            Language syntax.
          type: string
        location:
          type: string
          description: >-
            Optional. String indicating the location of the expression for error
            reporting, e.g. a file name and a position in the file.
    ScalingScheduleStatus:
      type: object
      properties:
        state:
          enum:
            - ACTIVE
            - DISABLED
            - OBSOLETE
            - READY
          enumDescriptions:
            - >-
              The current autoscaling recommendation is influenced by this
              scaling schedule.
            - This scaling schedule has been disabled by the user.
            - This scaling schedule will never become active again.
            - >-
              The current autoscaling recommendation is not influenced by this
              scaling schedule.
          description: '[Output Only] The current state of a scaling schedule.'
          type: string
        nextStartTime:
          description: >-
            [Output Only] The next time the scaling schedule is to become
            active. Note: this is a timestamp when a schedule is planned to run,
            but the actual time might be slightly different. The timestamp is in
            RFC3339 text format.
          type: string
        lastStartTime:
          description: >-
            [Output Only] The last time the scaling schedule became active.
            Note: this is a timestamp when a schedule actually became active,
            not when it was planned to do so. The timestamp is in RFC3339 text
            format.
          type: string
      id: ScalingScheduleStatus
    GuestAttributes:
      type: object
      description: A guest attributes entry.
      id: GuestAttributes
      properties:
        variableValue:
          type: string
          description: '[Output Only] The value found for the requested key.'
        queryValue:
          $ref: '#/components/schemas/GuestAttributesValue'
          description: '[Output Only] The value of the requested queried path.'
        variableKey:
          type: string
          description: The key to search for.
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
        kind:
          type: string
          default: compute#guestAttributes
          description: >-
            [Output Only] Type of the resource. Always compute#guestAttributes
            for guest attributes entry.
        queryPath:
          description: >-
            The path to be queried. This can be the default namespace ('') or a
            nested namespace ('\/') or a specified key ('\/\').
          type: string
    InstanceTemplateList:
      id: InstanceTemplateList
      properties:
        warning:
          properties:
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
            data:
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                  value:
                    type: string
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
            code:
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              type: string
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
          description: '[Output Only] Informational warning message.'
          type: object
        items:
          description: A list of InstanceTemplate resources.
          type: array
          items:
            $ref: '#/components/schemas/InstanceTemplate'
        selfLink:
          type: string
          description: '[Output Only] Server-defined URL for this resource.'
        nextPageToken:
          type: string
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
        kind:
          type: string
          default: compute#instanceTemplateList
          description: >-
            [Output Only] The resource type, which is always
            compute#instanceTemplatesListResponse for instance template lists.
        id:
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
          type: string
      description: A list of instance templates.
      type: object
    AutoscalingPolicy:
      description: Cloud Autoscaler policy.
      properties:
        minNumReplicas:
          description: >-
            The minimum number of replicas that the autoscaler can scale in to.
            This cannot be less than 0. If not provided, autoscaler chooses a
            default value depending on maximum number of instances allowed.
          type: integer
          format: int32
        maxNumReplicas:
          description: >-
            The maximum number of instances that the autoscaler can scale out
            to. This is required when creating or updating an autoscaler. The
            maximum number of replicas must not be lower than minimal number of
            replicas.
          format: int32
          type: integer
        coolDownPeriodSec:
          description: >-
            The number of seconds that your application takes to initialize on a
            VM instance. This is referred to as the [initialization
            period](/compute/docs/autoscaler#cool_down_period). Specifying an
            accurate initialization period improves autoscaler decisions. For
            example, when scaling out, the autoscaler ignores data from VMs that
            are still initializing because those VMs might not yet represent
            normal usage of your application. The default initialization period
            is 60 seconds. Initialization periods might vary because of numerous
            factors. We recommend that you test how long your application takes
            to initialize. To do this, create a VM and time your application's
            startup process.
          format: int32
          type: integer
        cpuUtilization:
          description: >-
            Defines the CPU utilization policy that allows the autoscaler to
            scale based on the average CPU utilization of a managed instance
            group.
          $ref: '#/components/schemas/AutoscalingPolicyCpuUtilization'
        scaleDownControl:
          $ref: '#/components/schemas/AutoscalingPolicyScaleDownControl'
        mode:
          enumDescriptions:
            - >-
              Do not automatically scale the MIG in or out. The recommended_size
              field contains the size of MIG that would be set if the actuation
              mode was enabled.
            - Automatically scale the MIG in and out according to the policy.
            - >-
              Automatically create VMs according to the policy, but do not scale
              the MIG in.
            - >-
              Automatically create VMs according to the policy, but do not scale
              the MIG in.
          type: string
          description: >-
            Defines the operating mode for this policy. The following modes are
            available: - OFF: Disables the autoscaler but maintains its
            configuration. - ONLY_SCALE_OUT: Restricts the autoscaler to add VM
            instances only. - ON: Enables all autoscaler activities according to
            its policy. For more information, see "Turning off or restricting an
            autoscaler"
          enum:
            - 'OFF'
            - 'ON'
            - ONLY_SCALE_OUT
            - ONLY_UP
        loadBalancingUtilization:
          description: Configuration parameters of autoscaling based on load balancer.
          $ref: '#/components/schemas/AutoscalingPolicyLoadBalancingUtilization'
        scaleInControl:
          $ref: '#/components/schemas/AutoscalingPolicyScaleInControl'
        customMetricUtilizations:
          items:
            $ref: '#/components/schemas/AutoscalingPolicyCustomMetricUtilization'
          type: array
          description: Configuration parameters of autoscaling based on a custom metric.
        scalingSchedules:
          additionalProperties:
            $ref: '#/components/schemas/AutoscalingPolicyScalingSchedule'
          type: object
          description: >-
            Scaling schedules defined for an autoscaler. Multiple schedules can
            be set on an autoscaler, and they can overlap. During overlapping
            periods the greatest min_required_replicas of all scaling schedules
            is applied. Up to 128 scaling schedules are allowed.
      type: object
      id: AutoscalingPolicy
    SubnetworksScopedList:
      properties:
        warning:
          description: >-
            An informational warning that appears when the list of addresses is
            empty.
          type: object
          properties:
            code:
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              type: string
            data:
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
              items:
                properties:
                  value:
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                    type: string
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                type: object
              type: array
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
        subnetworks:
          items:
            $ref: '#/components/schemas/Subnetwork'
          description: A list of subnetworks contained in this scope.
          type: array
      id: SubnetworksScopedList
      type: object
    InterconnectList:
      type: object
      description: Response to the list request, and contains a list of interconnects.
      properties:
        id:
          type: string
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
        items:
          description: A list of Interconnect resources.
          type: array
          items:
            $ref: '#/components/schemas/Interconnect'
        warning:
          description: '[Output Only] Informational warning message.'
          type: object
          properties:
            message:
              type: string
              description: '[Output Only] A human-readable description of the warning code.'
            code:
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              type: string
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
            data:
              items:
                type: object
                properties:
                  value:
                    type: string
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
              type: array
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
        kind:
          description: >-
            [Output Only] Type of resource. Always compute#interconnectList for
            lists of interconnects.
          type: string
          default: compute#interconnectList
        nextPageToken:
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
          type: string
      id: InterconnectList
    IpAddressesList:
      type: object
      id: IpAddressesList
      properties:
        items:
          items:
            $ref: '#/components/schemas/InternalIpAddress'
          type: array
          description: A list of InternalIpAddress resources.
        selfLink:
          type: string
          description: '[Output Only] Server-defined URL for this resource.'
        warning:
          properties:
            data:
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
              items:
                type: object
                properties:
                  value:
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                    type: string
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
              type: array
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
            code:
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              type: string
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
          description: '[Output Only] Informational warning message.'
          type: object
        kind:
          type: string
          description: >-
            [Output Only] Type of resource. Always compute#ipAddressesList for
            IP addresses lists.
          default: compute#ipAddressesList
        nextPageToken:
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
          type: string
        id:
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
          type: string
    SecurityPolicyRuleMatcher:
      properties:
        versionedExpr:
          enum:
            - FIREWALL
            - SRC_IPS_V1
          description: >-
            Preconfigured versioned expression. If this field is specified,
            config must also be specified. Available preconfigured expressions
            along with their requirements are: SRC_IPS_V1 - must specify the
            corresponding src_ip_range field in config.
          enumDescriptions:
            - ''
            - >-
              Matches the source IP address of a request to the IP ranges
              supplied in config.
          type: string
        exprOptions:
          description: >-
            The configuration options available when specifying a user defined
            CEVAL expression (i.e., 'expr').
          $ref: '#/components/schemas/SecurityPolicyRuleMatcherExprOptions'
        config:
          $ref: '#/components/schemas/SecurityPolicyRuleMatcherConfig'
          description: >-
            The configuration options available when specifying versioned_expr.
            This field must be specified if versioned_expr is specified and
            cannot be specified if versioned_expr is not specified.
        expr:
          $ref: '#/components/schemas/Expr'
          description: >-
            User defined CEVAL expression. A CEVAL expression is used to specify
            match criteria such as origin.ip, source.region_code and contents in
            the request header. Expressions containing
            `evaluateThreatIntelligence` require Cloud Armor Managed Protection
            Plus tier and are not supported in Edge Policies nor in Regional
            Policies. Expressions containing
            `evaluatePreconfiguredExpr('sourceiplist-*')` require Cloud Armor
            Managed Protection Plus tier and are only supported in Global
            Security Policies.
      description: >-
        Represents a match condition that incoming traffic is evaluated against.
        Exactly one field must be specified.
      type: object
      id: SecurityPolicyRuleMatcher
    RegionInstanceGroupList:
      id: RegionInstanceGroupList
      description: Contains a list of InstanceGroup resources.
      properties:
        items:
          description: A list of InstanceGroup resources.
          items:
            $ref: '#/components/schemas/InstanceGroup'
          type: array
        kind:
          description: The resource type.
          type: string
          default: compute#regionInstanceGroupList
        warning:
          description: '[Output Only] Informational warning message.'
          properties:
            data:
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
              items:
                properties:
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                  value:
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                    type: string
                type: object
              type: array
            code:
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              type: string
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
          type: object
        nextPageToken:
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
          type: string
        id:
          type: string
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
      type: object
    SecurityPolicyRule:
      id: SecurityPolicyRule
      type: object
      description: >-
        Represents a rule that describes one or more match conditions along with
        the action to be taken when traffic matches this condition (allow or
        deny).
      properties:
        targetResources:
          type: array
          description: >-
            A list of network resource URLs to which this rule applies. This
            field allows you to control which network's VMs get this rule. If
            this field is left blank, all VMs within the organization will
            receive the rule. This field may only be specified when
            versioned_expr is set to FIREWALL.
          items:
            type: string
        ruleNumber:
          type: string
          format: int64
          description: >-
            Identifier for the rule. This is only unique within the given
            security policy. This can only be set during rule creation, if rule
            number is not specified it will be generated by the server.
        match:
          description: >-
            A match condition that incoming traffic is evaluated against. If it
            evaluates to true, the corresponding 'action' is enforced.
          $ref: '#/components/schemas/SecurityPolicyRuleMatcher'
        direction:
          enum:
            - EGRESS
            - INGRESS
          type: string
          description: >-
            The direction in which this rule applies. This field may only be
            specified when versioned_expr is set to FIREWALL.
          enumDescriptions:
            - ''
            - ''
        ruleTupleCount:
          type: integer
          description: >-
            [Output Only] Calculation of the complexity of a single firewall
            security policy rule.
          format: int32
        targetServiceAccounts:
          items:
            type: string
          description: >-
            A list of service accounts indicating the sets of instances that are
            applied with this rule.
          type: array
        enableLogging:
          type: boolean
          description: >-
            Denotes whether to enable logging for a particular rule. If logging
            is enabled, logs will be exported to the configured export
            destination in Stackdriver. Logs may be exported to BigQuery or
            Pub/Sub. Note: you cannot enable logging on "goto_next" rules. This
            field may only be specified when the versioned_expr is set to
            FIREWALL.
        kind:
          description: >-
            [Output only] Type of the resource. Always
            compute#securityPolicyRule for security policy rules
          default: compute#securityPolicyRule
          type: string
        ruleManagedProtectionTier:
          enum:
            - CAMP_PLUS_ANNUAL
            - CAMP_PLUS_MONTHLY
            - CA_STANDARD
          enumDescriptions:
            - Plus tier protection annual.
            - Plus tier protection monthly.
            - Standard protection.
          type: string
          description: >-
            [Output Only] The minimum managed protection tier required for this
            rule. [Deprecated] Use requiredManagedProtectionTiers instead.
        preview:
          description: If set to true, the specified action is not enforced.
          type: boolean
        redirectTarget:
          type: string
          description: >-
            This must be specified for redirect actions. Cannot be specified for
            any other actions.
        redirectOptions:
          $ref: '#/components/schemas/SecurityPolicyRuleRedirectOptions'
          description: >-
            Parameters defining the redirect action. Cannot be specified for any
            other actions. This field is only supported in Global Security
            Policies of type CLOUD_ARMOR.
        priority:
          description: >-
            An integer indicating the priority of a rule in the list. The
            priority must be a positive value between 0 and 2147483647. Rules
            are evaluated from highest to lowest priority where 0 is the highest
            priority and 2147483647 is the lowest priority.
          type: integer
          format: int32
        preconfiguredWafConfig:
          $ref: '#/components/schemas/SecurityPolicyRulePreconfiguredWafConfig'
          description: >-
            Preconfigured WAF configuration to be applied for the rule. If the
            rule does not evaluate preconfigured WAF rules, i.e., if
            evaluatePreconfiguredWaf() is not used, this field will have no
            effect.
        headerAction:
          $ref: '#/components/schemas/SecurityPolicyRuleHttpHeaderAction'
          description: >-
            Optional, additional actions that are performed on headers. This
            field is only supported in Global Security Policies of type
            CLOUD_ARMOR.
        description:
          description: >-
            An optional description of this resource. Provide this property when
            you create the resource.
          type: string
        rateLimitOptions:
          $ref: '#/components/schemas/SecurityPolicyRuleRateLimitOptions'
          description: >-
            Must be specified if the action is "rate_based_ban" or "throttle".
            Cannot be specified for any other actions.
        networkMatch:
          description: >-
            A match condition that incoming packets are evaluated against for
            CLOUD_ARMOR_NETWORK security policies. If it matches, the
            corresponding 'action' is enforced. The match criteria for a rule
            consists of built-in match fields (like 'srcIpRanges') and
            potentially multiple user-defined match fields
            ('userDefinedFields'). Field values may be extracted directly from
            the packet or derived from it (e.g. 'srcRegionCodes'). Some fields
            may not be present in every packet (e.g. 'srcPorts'). A user-defined
            field is only present if the base header is found in the packet and
            the entire field is in bounds. Each match field may specify which
            values can match it, listing one or more ranges, prefixes, or exact
            values that are considered a match for the field. A field value must
            be present in order to match a specified match field. If no match
            values are specified for a match field, then any field value is
            considered to match it, and it's not required to be present. For
            strings specifying '*' is also equivalent to match all. For a packet
            to match a rule, all specified match fields must match the
            corresponding field values derived from the packet. Example:
            networkMatch: srcIpRanges: - "192.0.2.0/24" - "198.51.100.0/24"
            userDefinedFields: - name: "ipv4_fragment_offset" values: -
            "1-0x1fff" The above match condition matches packets with a source
            IP in 192.0.2.0/24 or 198.51.100.0/24 and a user-defined field named
            "ipv4_fragment_offset" with a value between 1 and 0x1fff inclusive.
          $ref: '#/components/schemas/SecurityPolicyRuleNetworkMatcher'
        action:
          type: string
          description: >-
            The Action to perform when the rule is matched. The following are
            the valid actions: - allow: allow access to target. - deny(STATUS):
            deny access to target, returns the HTTP response code specified.
            Valid values for `STATUS` are 403, 404, and 502. - rate_based_ban:
            limit client traffic to the configured threshold and ban the client
            if the traffic exceeds the threshold. Configure parameters for this
            action in RateLimitOptions. Requires rate_limit_options to be set. -
            redirect: redirect to a different target. This can either be an
            internal reCAPTCHA redirect, or an external URL-based redirect via a
            302 response. Parameters for this action can be configured via
            redirectOptions. This action is only supported in Global Security
            Policies of type CLOUD_ARMOR. - throttle: limit client traffic to
            the configured threshold. Configure parameters for this action in
            rateLimitOptions. Requires rate_limit_options to be set for this. 
    StoragePoolListDisks:
      type: object
      id: StoragePoolListDisks
      properties:
        unreachables:
          description: >-
            [Output Only] Unreachable resources. end_interface:
            MixerListResponseWithEtagBuilder
          items:
            type: string
          type: array
        nextPageToken:
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
          type: string
        etag:
          type: string
        id:
          type: string
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
        kind:
          description: >-
            [Output Only] Type of resource. Always compute#storagePoolListDisks
            for lists of disks in a storagePool.
          type: string
          default: compute#storagePoolListDisks
        items:
          type: array
          description: A list of StoragePoolDisk resources.
          items:
            $ref: '#/components/schemas/StoragePoolDisk'
        warning:
          properties:
            code:
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              type: string
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
            data:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                  value:
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                    type: string
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
          type: object
          description: '[Output Only] Informational warning message.'
    InstanceGroupManagersStopInstancesRequest:
      properties:
        forceStop:
          description: >-
            If this flag is set to true, the Instance Group Manager will proceed
            to stop the instances, skipping initialization on them.
          type: boolean
        instances:
          description: >-
            The URLs of one or more instances to stop. This can be a full URL or
            a partial URL, such as zones/[ZONE]/instances/[INSTANCE_NAME].
          type: array
          items:
            type: string
      id: InstanceGroupManagersStopInstancesRequest
      type: object
    PacketMirroringNetworkInfo:
      type: object
      properties:
        canonicalUrl:
          type: string
          description: >-
            [Output Only] Unique identifier for the network; defined by the
            server.
        url:
          description: URL of the network resource.
          type: string
      id: PacketMirroringNetworkInfo
    SecurityPolicyRulePreconfiguredWafConfigExclusionFieldParams:
      properties:
        op:
          type: string
          enumDescriptions:
            - >-
              The operator matches if the field value contains the specified
              value.
            - >-
              The operator matches if the field value ends with the specified
              value.
            - >-
              The operator matches if the field value equals the specified
              value.
            - The operator matches if the field value is any value.
            - >-
              The operator matches if the field value starts with the specified
              value.
          description: The match operator for the field.
          enum:
            - CONTAINS
            - ENDS_WITH
            - EQUALS
            - EQUALS_ANY
            - STARTS_WITH
        val:
          description: The value of the field.
          type: string
      type: object
      id: SecurityPolicyRulePreconfiguredWafConfigExclusionFieldParams
    LicenseCodeLicenseAlias:
      type: object
      id: LicenseCodeLicenseAlias
      properties:
        description:
          description: '[Output Only] Description of this License Code.'
          type: string
        selfLink:
          description: '[Output Only] URL of license corresponding to this License Code.'
          type: string
    BulkInsertInstanceResourcePerInstanceProperties:
      description: >-
        Per-instance properties to be set on individual instances. To be
        extended in the future.
      properties:
        hostname:
          type: string
          description: >-
            Specifies the hostname of the instance. More details in:
            https://cloud.google.com/compute/docs/instances/custom-hostname-vm#naming_convention
        name:
          type: string
          description: This field is only temporary. It will be removed. Do not use it.
      id: BulkInsertInstanceResourcePerInstanceProperties
      type: object
    TargetHttpProxyAggregatedList:
      properties:
        warning:
          type: object
          description: '[Output Only] Informational warning message.'
          properties:
            code:
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              type: string
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
            message:
              type: string
              description: '[Output Only] A human-readable description of the warning code.'
            data:
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
              items:
                properties:
                  value:
                    type: string
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                type: object
              type: array
        items:
          type: object
          additionalProperties:
            description: Name of the scope containing this set of TargetHttpProxies.
            $ref: '#/components/schemas/TargetHttpProxiesScopedList'
          description: A list of TargetHttpProxiesScopedList resources.
        nextPageToken:
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
          type: string
        unreachables:
          description: '[Output Only] Unreachable resources.'
          type: array
          items:
            type: string
        kind:
          description: >-
            [Output Only] Type of resource. Always
            compute#targetHttpProxyAggregatedList for lists of Target HTTP
            Proxies.
          default: compute#targetHttpProxyAggregatedList
          type: string
        id:
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
          type: string
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
      id: TargetHttpProxyAggregatedList
      type: object
    DiskSettings:
      id: DiskSettings
      type: object
      properties:
        defaultResourcePolicies:
          description: >-
            An optional parameter for storing the default resource policies that
            will be used for the Disks created in the given scope. The Key is a
            string type, provided by customers to uniquely identify the default
            Resource Policy entry. The Value is a Default ResourcePolicyDetails
            Object used to represent the detailed information of the Resource
            Policy entry.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DiskSettingsResourcePolicyDetails'
    ZoneSetLabelsRequest:
      type: object
      properties:
        labels:
          type: object
          description: The labels to set for this resource.
          additionalProperties:
            type: string
        labelFingerprint:
          type: string
          format: byte
          description: >-
            The fingerprint of the previous set of labels for this resource,
            used to detect conflicts. The fingerprint is initially generated by
            Compute Engine and changes after every request to modify or update
            labels. You must always provide an up-to-date fingerprint hash in
            order to update or change labels. Make a get() request to the
            resource to get the latest fingerprint.
      id: ZoneSetLabelsRequest
    NetworkEndpointGroupsAttachEndpointsRequest:
      properties:
        networkEndpoints:
          items:
            $ref: '#/components/schemas/NetworkEndpoint'
          type: array
          description: The list of network endpoints to be attached.
      id: NetworkEndpointGroupsAttachEndpointsRequest
      type: object
    HttpFilterConfig:
      description: >-
        HttpFilterConfiguration supplies additional contextual settings for
        networkservices.HttpFilter resources enabled by Traffic Director.
      id: HttpFilterConfig
      type: object
      properties:
        config:
          type: string
          description: >-
            The configuration needed to enable the networkservices.HttpFilter
            resource. The configuration must be YAML formatted and only contain
            fields defined in the protobuf identified in configTypeUrl
        filterName:
          type: string
          description: >-
            Name of the networkservices.HttpFilter resource this configuration
            belongs to. This name must be known to the xDS client. Example:
            envoy.wasm
        configTypeUrl:
          description: >-
            The fully qualified versioned proto3 type url of the protobuf that
            the filter expects for its contextual settings, for example:
            type.googleapis.com/google.protobuf.Struct
          type: string
    Disk:
      properties:
        sizeGb:
          description: >-
            Size, in GB, of the persistent disk. You can specify this field when
            creating a persistent disk using the sourceImage, sourceSnapshot, or
            sourceDisk parameter, or specify it alone to create an empty
            persistent disk. If you specify this field along with a source, the
            value of sizeGb must not be less than the size of the source.
            Acceptable values are 1 to 65536, inclusive.
          type: string
          format: int64
        eraseWindowsVssSignature:
          type: boolean
          description: >-
            Specifies whether the disk restored from a source snapshot should
            erase Windows specific VSS signature.
        name:
          description: >-
            Name of the resource. Provided by the client when the resource is
            created. The name must be 1-63 characters long, and comply with
            RFC1035. Specifically, the name must be 1-63 characters long and
            match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which
            means the first character must be a lowercase letter, and all
            following characters must be a dash, lowercase letter, or digit,
            except the last character, which cannot be a dash.
          pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
          type: string
          annotations:
            required:
              - compute.disks.insert
        sourceSnapshotEncryptionKey:
          $ref: '#/components/schemas/CustomerEncryptionKey'
          description: >-
            The customer-supplied encryption key of the source snapshot.
            Required if the source snapshot is protected by a customer-supplied
            encryption key.
        multiWriter:
          type: boolean
          description: >-
            Indicates whether or not the disk can be read/write attached to more
            than one instance.
        creationTimestamp:
          type: string
          description: '[Output Only] Creation timestamp in RFC3339 text format.'
        storagePool:
          type: string
          description: >-
            The storage pool in which the new disk is created. You can provide
            this as a partial or full URL to the resource. For example, the
            following are valid values: -
            https://www.googleapis.com/compute/v1/projects/project/zones/zone
            /storagePools/storagePool -
            projects/project/zones/zone/storagePools/storagePool -
            zones/zone/storagePools/storagePool 
        options:
          description: Internal use only.
          type: string
        id:
          format: uint64
          type: string
          description: >-
            [Output Only] The unique identifier for the resource. This
            identifier is defined by the server.
        provisionedThroughput:
          format: int64
          type: string
          description: >-
            Indicates how much throughput to provision for the disk. This sets
            the number of throughput mb per second that the disk can handle.
            Values must be between 1 and 7,124.
        sourceDisk:
          type: string
          description: >-
            The source disk used to create this disk. You can provide this as a
            partial or full URL to the resource. For example, the following are
            valid values: -
            https://www.googleapis.com/compute/v1/projects/project/zones/zone
            /disks/disk -
            https://www.googleapis.com/compute/v1/projects/project/regions/region
            /disks/disk - projects/project/zones/zone/disks/disk -
            projects/project/regions/region/disks/disk - zones/zone/disks/disk -
            regions/region/disks/disk 
        physicalBlockSizeBytes:
          format: int64
          type: string
          description: >-
            Physical block size of the persistent disk, in bytes. If not present
            in a request, a default value is used. The currently supported size
            is 4096, other sizes may be added in the future. If an unsupported
            value is requested, the error message will list the supported values
            for the caller's project.
        region:
          description: >-
            [Output Only] URL of the region where the disk resides. Only
            applicable for regional resources. You must specify this field as
            part of the HTTP request URL. It is not settable as a field in the
            request body.
          type: string
        sourceImage:
          description: >-
            The source image used to create this disk. If the source image is
            deleted, this field will not be set. To create a disk with one of
            the public operating system images, specify the image by its family
            name. For example, specify family/debian-9 to use the latest Debian
            9 image: projects/debian-cloud/global/images/family/debian-9
            Alternatively, use a specific version of a public operating system
            image:
            projects/debian-cloud/global/images/debian-9-stretch-vYYYYMMDD To
            create a disk with a custom image that you created, specify the
            image name in the following format: global/images/my-custom-image
            You can also specify a custom image by its image family, which
            returns the latest version of the image in that family. Replace the
            image name with family/family-name:
            global/images/family/my-image-family 
          type: string
        satisfiesPzs:
          description: '[Output Only] Reserved for future use.'
          type: boolean
        provisionedIops:
          type: string
          description: >-
            Indicates how many IOPS to provision for the disk. This sets the
            number of I/O operations per second that the disk can handle. Values
            must be between 10,000 and 120,000. For more details, see the
            Extreme persistent disk documentation.
          format: int64
        userLicenses:
          type: array
          items:
            type: string
          description: >-
            A list of publicly visible user-licenses. Unlike regular licenses,
            user provided licenses can be modified after the disk is created.
            This includes a list of URLs to the license resource. For example,
            to provide a debian license:
            https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-9-stretch 
        guestOsFeatures:
          type: array
          items:
            $ref: '#/components/schemas/GuestOsFeature'
          description: >-
            A list of features to enable on the guest operating system.
            Applicable only for bootable images. Read Enabling guest operating
            system features to see a list of available options.
        asyncPrimaryDisk:
          description: Disk asynchronously replicated into this disk.
          $ref: '#/components/schemas/DiskAsyncReplication'
        sourceConsistencyGroupPolicyId:
          type: string
          description: >-
            [Output Only] ID of the DiskConsistencyGroupPolicy for a secondary
            disk that was created using a consistency group.
        sourceStorageObject:
          description: >-
            The full Google Cloud Storage URI where the disk image is stored.
            This file must be a gzip-compressed tarball whose name ends in
            .tar.gz or virtual machine disk whose name ends in vmdk. Valid URIs
            may start with gs:// or https://storage.googleapis.com/. This flag
            is not optimized for creating multiple disks from a source storage
            object. To create many disks from a source storage object, use
            gcloud compute images import instead.
          type: string
        licenses:
          description: A list of publicly visible licenses. Reserved for Google's use.
          items:
            type: string
          type: array
        labels:
          additionalProperties:
            type: string
          type: object
          description: >-
            Labels to apply to this disk. These can be later modified by the
            setLabels method.
        lastAttachTimestamp:
          type: string
          description: '[Output Only] Last attach timestamp in RFC3339 text format.'
        sourceDiskId:
          type: string
          description: >-
            [Output Only] The unique ID of the disk used to create this disk.
            This value identifies the exact disk that was used to create this
            persistent disk. For example, if you created the persistent disk
            from a disk that was later deleted and recreated under the same
            name, the source disk ID would identify the exact version of the
            disk that was used.
        selfLink:
          description: '[Output Only] Server-defined fully-qualified URL for this resource.'
          type: string
        description:
          type: string
          description: >-
            An optional description of this resource. Provide this property when
            you create the resource.
        locked:
          description: >-
            [Output Only] The field indicates if the disk is created from a
            locked source image. Attachment of a disk created from a locked
            source image will cause the following operations to become
            irreversibly prohibited: - R/W or R/O disk attachment to any other
            instance - Disk detachment. And the disk can only be deleted when
            the instance is deleted - Creation of images or snapshots - Disk
            cloning Furthermore, the instance with at least one disk with locked
            flag set to true will be prohibited from performing the operations
            below: - Further attachment of secondary disks. - Detachment of any
            disks - Create machine images - Create instance template - Delete
            the instance with --keep-disk parameter set to true for locked disks
            - Attach a locked disk with --auto-delete parameter set to false 
          type: boolean
        interface:
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
          enum:
            - NVME
            - SCSI
            - UNSPECIFIED
          description: >-
            [Deprecated] Specifies the disk interface to use for attaching this
            disk, which is either SCSI or NVME. The default is SCSI.
        sourceSnapshot:
          description: >-
            The source snapshot used to create this disk. You can provide this
            as a partial or full URL to the resource. For example, the following
            are valid values: -
            https://www.googleapis.com/compute/v1/projects/project
            /global/snapshots/snapshot -
            projects/project/global/snapshots/snapshot -
            global/snapshots/snapshot 
          type: string
        lastDetachTimestamp:
          description: '[Output Only] Last detach timestamp in RFC3339 text format.'
          type: string
        architecture:
          type: string
          enum:
            - ARCHITECTURE_UNSPECIFIED
            - ARM64
            - X86_64
          enumDescriptions:
            - Default value indicating Architecture is not set.
            - Machines with architecture ARM64
            - Machines with architecture X86_64
          description: The architecture of the disk. Valid values are ARM64 or X86_64.
        sourceImageEncryptionKey:
          description: >-
            The customer-supplied encryption key of the source image. Required
            if the source image is protected by a customer-supplied encryption
            key.
          $ref: '#/components/schemas/CustomerEncryptionKey'
        labelFingerprint:
          format: byte
          type: string
          description: >-
            A fingerprint for the labels being applied to this disk, which is
            essentially a hash of the labels set used for optimistic locking.
            The fingerprint is initially generated by Compute Engine and changes
            after every request to modify or update labels. You must always
            provide an up-to-date fingerprint hash in order to update or change
            labels, otherwise the request will fail with error 412
            conditionNotMet. To see the latest fingerprint, make a get() request
            to retrieve a disk.
        locationHint:
          type: string
          description: >-
            An opaque location hint used to place the disk close to other
            resources. This field is for use by internal tools that use the
            public API.
        sourceInstantSnapshot:
          description: >-
            The source instant snapshot used to create this disk. You can
            provide this as a partial or full URL to the resource. For example,
            the following are valid values: -
            https://www.googleapis.com/compute/v1/projects/project/zones/zone
            /instantSnapshots/instantSnapshot -
            projects/project/zones/zone/instantSnapshots/instantSnapshot -
            zones/zone/instantSnapshots/instantSnapshot 
          type: string
        status:
          enum:
            - CREATING
            - DELETING
            - FAILED
            - READY
            - RESTORING
          description: >-
            [Output Only] The status of disk creation. - CREATING: Disk is
            provisioning. - RESTORING: Source data is being copied into the
            disk. - FAILED: Disk creation failed. - READY: Disk is ready for
            use. - DELETING: Disk is deleting. 
          type: string
          enumDescriptions:
            - Disk is provisioning
            - Disk is deleting.
            - Disk creation failed.
            - Disk is ready for use.
            - Source data is being copied into the disk.
        users:
          description: >-
            [Output Only] Links to the users of the disk (attached instances) in
            form: projects/project/zones/zone/instances/instance
          items:
            type: string
          type: array
        licenseCodes:
          items:
            format: int64
            type: string
          type: array
          description: >-
            Integer license codes indicating which licenses are attached to this
            disk.
        sourceInstantSnapshotId:
          description: >-
            [Output Only] The unique ID of the instant snapshot used to create
            this disk. This value identifies the exact instant snapshot that was
            used to create this persistent disk. For example, if you created the
            persistent disk from an instant snapshot that was later deleted and
            recreated under the same name, the source instant snapshot ID would
            identify the exact version of the instant snapshot that was used.
          type: string
        enableConfidentialCompute:
          description: Whether this disk is using confidential compute mode.
          type: boolean
        diskEncryptionKey:
          description: >-
            Encrypts the disk using a customer-supplied encryption key or a
            customer-managed encryption key. Encryption keys do not protect
            access to metadata of the disk. After you encrypt a disk with a
            customer-supplied key, you must provide the same key if you use the
            disk later. For example, to create a disk snapshot, to create a disk
            image, to create a machine image, or to attach the disk to a virtual
            machine. After you encrypt a disk with a customer-managed key, the
            diskEncryptionKey.kmsKeyName is set to a key *version* name once the
            disk is created. The disk is encrypted with this version of the key.
            In the response, diskEncryptionKey.kmsKeyName appears in the
            following format: "diskEncryptionKey.kmsKeyName":
            "projects/kms_project_id/locations/region/keyRings/
            key_region/cryptoKeys/key /cryptoKeysVersions/version If you do not
            provide an encryption key when creating the disk, then the disk is
            encrypted using an automatically generated key and you don't need to
            provide a key to use the disk later.
          $ref: '#/components/schemas/CustomerEncryptionKey'
        type:
          description: >-
            URL of the disk type resource describing which disk type to use to
            create the disk. Provide this when creating the disk. For example:
            projects/project /zones/zone/diskTypes/pd-ssd . See Persistent disk
            types.
          type: string
        resourceStatus:
          description: '[Output Only] Status information for the disk resource.'
          $ref: '#/components/schemas/DiskResourceStatus'
        zone:
          description: >-
            [Output Only] URL of the zone where the disk resides. You must
            specify this field as part of the HTTP request URL. It is not
            settable as a field in the request body.
          type: string
        storageType:
          description: '[Deprecated] Storage type of the persistent disk.'
          enum:
            - HDD
            - SSD
          enumDescriptions:
            - ''
            - ''
          type: string
        selfLinkWithId:
          description: '[Output Only] Server-defined URL for this resource''s resource id.'
          type: string
        asyncSecondaryDisks:
          additionalProperties:
            $ref: '#/components/schemas/DiskAsyncReplicationList'
          type: object
          description: >-
            [Output Only] A list of disks this disk is asynchronously replicated
            to.
        sourceConsistencyGroupPolicy:
          type: string
          description: >-
            [Output Only] URL of the DiskConsistencyGroupPolicy for a secondary
            disk that was created using a consistency group.
        resourcePolicies:
          description: >-
            Resource policies applied to this disk for automatic snapshot
            creations.
          type: array
          items:
            type: string
        sourceImageId:
          description: >-
            [Output Only] The ID value of the image used to create this disk.
            This value identifies the exact image that was used to create this
            persistent disk. For example, if you created the persistent disk
            from an image that was later deleted and recreated under the same
            name, the source image ID would identify the exact version of the
            image that was used.
          type: string
        params:
          $ref: '#/components/schemas/DiskParams'
          description: >-
            Input only. [Input Only] Additional params passed with the request,
            but not persisted as part of resource payload.
        sourceSnapshotId:
          description: >-
            [Output Only] The unique ID of the snapshot used to create this
            disk. This value identifies the exact snapshot that was used to
            create this persistent disk. For example, if you created the
            persistent disk from a snapshot that was later deleted and recreated
[...]
