openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Compute Engine API
  description: 'Creates and runs virtual machines on Google Cloud Platform. '
  version: beta
  x-discovery-doc-revision: '20230610'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/compute/
servers:
  - url: https://compute.googleapis.com/compute/beta
components:
  schemas:
    PreservedStatePreservedNetworkIpIpAddress:
      properties:
        address:
          description: The URL of the reservation for this IP address.
          type: string
        literal:
          type: string
          description: >-
            An IPv4 internal network address to assign to the instance for this
            network interface.
      id: PreservedStatePreservedNetworkIpIpAddress
      type: object
    InterconnectAttachmentAggregatedList:
      properties:
        id:
          type: string
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
        nextPageToken:
          type: string
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
        items:
          additionalProperties:
            $ref: '#/components/schemas/InterconnectAttachmentsScopedList'
            description: Name of the scope containing this set of interconnect attachments.
          description: A list of InterconnectAttachmentsScopedList resources.
          type: object
        kind:
          type: string
          description: >-
            [Output Only] Type of resource. Always
            compute#interconnectAttachmentAggregatedList for aggregated lists of
            interconnect attachments.
          default: compute#interconnectAttachmentAggregatedList
        unreachables:
          items:
            type: string
          description: '[Output Only] Unreachable resources.'
          type: array
        warning:
          description: '[Output Only] Informational warning message.'
          type: object
          properties:
            code:
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              type: string
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
            data:
              items:
                properties:
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                  value:
                    type: string
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                type: object
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
              type: array
            message:
              type: string
              description: '[Output Only] A human-readable description of the warning code.'
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
      type: object
      id: InterconnectAttachmentAggregatedList
    InterconnectLocation:
      properties:
        address:
          description: >-
            [Output Only] The postal address of the Point of Presence, each line
            in the address is separated by a newline character.
          type: string
        facilityProvider:
          type: string
          description: >-
            [Output Only] The name of the provider for this facility (e.g.,
            EQUINIX).
        kind:
          default: compute#interconnectLocation
          type: string
          description: >-
            [Output Only] Type of the resource. Always
            compute#interconnectLocation for interconnect locations.
        name:
          type: string
          description: '[Output Only] Name of the resource.'
        id:
          description: >-
            [Output Only] The unique identifier for the resource. This
            identifier is defined by the server.
          type: string
          format: uint64
        creationTimestamp:
          description: '[Output Only] Creation timestamp in RFC3339 text format.'
          type: string
        city:
          type: string
          description: >-
            [Output Only] Metropolitan area designator that indicates which city
            an interconnect is located. For example: "Chicago, IL", "Amsterdam,
            Netherlands".
        status:
          enum:
            - AVAILABLE
            - CLOSED
          enumDescriptions:
            - >-
              The InterconnectLocation is available for provisioning new
              Interconnects.
            - >-
              The InterconnectLocation is closed for provisioning new
              Interconnects.
          description: >-
            [Output Only] The status of this InterconnectLocation, which can
            take one of the following values: - CLOSED: The InterconnectLocation
            is closed and is unavailable for provisioning new Interconnects. -
            AVAILABLE: The InterconnectLocation is available for provisioning
            new Interconnects. 
          type: string
        facilityProviderFacilityId:
          description: >-
            [Output Only] A provider-assigned Identifier for this facility
            (e.g., Ashburn-DC1).
          type: string
        peeringdbFacilityId:
          description: >-
            [Output Only] The peeringdb identifier for this facility
            (corresponding with a netfac type in peeringdb).
          type: string
        description:
          description: '[Output Only] An optional description of the resource.'
          type: string
        continent:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          description: >-
            [Output Only] Continent for this location, which can take one of the
            following values: - AFRICA - ASIA_PAC - EUROPE - NORTH_AMERICA -
            SOUTH_AMERICA 
          enum:
            - AFRICA
            - ASIA_PAC
            - C_AFRICA
            - C_ASIA_PAC
            - C_EUROPE
            - C_NORTH_AMERICA
            - C_SOUTH_AMERICA
            - EUROPE
            - NORTH_AMERICA
            - SOUTH_AMERICA
          type: string
        regionInfos:
          description: >-
            [Output Only] A list of InterconnectLocation.RegionInfo objects,
            that describe parameters pertaining to the relation between this
            InterconnectLocation and various Google Cloud regions.
          items:
            $ref: '#/components/schemas/InterconnectLocationRegionInfo'
          type: array
        supportsPzs:
          type: boolean
          description: '[Output Only] Reserved for future use.'
        selfLink:
          type: string
          description: '[Output Only] Server-defined URL for the resource.'
        availabilityZone:
          description: >-
            [Output Only] Availability zone for this InterconnectLocation.
            Within a metropolitan area (metro), maintenance will not be
            simultaneously scheduled in more than one availability zone.
            Example: "zone1" or "zone2".
          type: string
      id: InterconnectLocation
      type: object
      description: >-
        Represents an Interconnect Attachment (VLAN) Location resource. You can
        use this resource to find location details about an Interconnect
        attachment (VLAN). For more information about interconnect attachments,
        read Creating VLAN Attachments.
    InstanceGroupManagersResizeAdvancedRequest:
      id: InstanceGroupManagersResizeAdvancedRequest
      type: object
      properties:
        noCreationRetries:
          description: >-
            If this flag is true, the managed instance group attempts to create
            all instances initiated by this resize request only once. If there
            is an error during creation, the managed instance group does not
            retry create this instance, and we will decrease the targetSize of
            the request instead. If the flag is false, the group attempts to
            recreate each instance continuously until it succeeds. This flag
            matters only in the first attempt of creation of an instance. After
            an instance is successfully created while this flag is enabled, the
            instance behaves the same way as all the other instances created
            with a regular resize request. In particular, if a running instance
            dies unexpectedly at a later time and needs to be recreated, this
            mode does not affect the recreation behavior in that scenario. This
            flag is applicable only to the current resize request. It does not
            influence other resize requests in any way. You can see which
            instances is being creating in which mode by calling the get or
            listManagedInstances API.
          type: boolean
        targetSize:
          description: >-
            The number of running instances that the managed instance group
            should maintain at any given time. The group automatically adds or
            removes instances to maintain the number of instances specified by
            this parameter.
          format: int32
          type: integer
    CorsPolicy:
      id: CorsPolicy
      type: object
      properties:
        maxAge:
          type: integer
          description: >-
            Specifies how long results of a preflight request can be cached in
            seconds. This field translates to the Access-Control-Max-Age header.
          format: int32
        allowOrigins:
          items:
            type: string
          description: >-
            Specifies the list of origins that is allowed to do CORS requests.
            An origin is allowed if it matches either an item in allowOrigins or
            an item in allowOriginRegexes.
          type: array
        allowHeaders:
          description: Specifies the content for the Access-Control-Allow-Headers header.
          items:
            type: string
          type: array
        allowMethods:
          description: Specifies the content for the Access-Control-Allow-Methods header.
          type: array
          items:
            type: string
        exposeHeaders:
          items:
            type: string
          type: array
          description: Specifies the content for the Access-Control-Expose-Headers header.
        disabled:
          description: >-
            If true, the setting specifies the CORS policy is disabled. The
            default value of false, which indicates that the CORS policy is in
            effect.
          type: boolean
        allowCredentials:
          description: >-
            In response to a preflight request, setting this to true indicates
            that the actual request can include user credentials. This field
            translates to the Access-Control-Allow-Credentials header. Default
            is false.
          type: boolean
        allowOriginRegexes:
          type: array
          description: >-
            Specifies a regular expression that matches allowed origins. For
            more information about the regular expression syntax, see Syntax. An
            origin is allowed if it matches either an item in allowOrigins or an
            item in allowOriginRegexes. Regular expressions can only be used
            when the loadBalancingScheme is set to INTERNAL_SELF_MANAGED.
          items:
            type: string
      description: >-
        The specification for allowing client-side cross-origin requests. For
        more information about the W3C recommendation for cross-origin resource
        sharing (CORS), see Fetch API Living Standard.
    SslCertificateSelfManagedSslCertificate:
      type: object
      description: Configuration and status of a self-managed SSL certificate.
      id: SslCertificateSelfManagedSslCertificate
      properties:
        privateKey:
          type: string
          description: >-
            A write-only private key in PEM format. Only insert requests will
            include this field.
        certificate:
          description: >-
            A local certificate file. The certificate must be in PEM format. The
            certificate chain must be no greater than 5 certs long. The chain
            must include at least one intermediate cert.
          type: string
    InstanceParams:
      type: object
      id: InstanceParams
      description: Additional instance params.
      properties:
        resourceManagerTags:
          additionalProperties:
            type: string
          type: object
          description: >-
            Resource manager tags to be bound to the instance. Tag keys and
            values have the same definition as resource manager tags. Keys must
            be in the format `tagKeys/{tag_key_id}`, and values are in the
            format `tagValues/456`. The field is ignored (both PUT & PATCH) when
            empty.
    LicensesListResponse:
      id: LicensesListResponse
      type: object
      properties:
        id:
          type: string
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
        warning:
          description: '[Output Only] Informational warning message.'
          properties:
            code:
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              type: string
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
            data:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                  value:
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                    type: string
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
          type: object
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
        nextPageToken:
          type: string
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
        items:
          type: array
          description: A list of License resources.
          items:
            $ref: '#/components/schemas/License'
    ServiceAttachmentList:
      type: object
      id: ServiceAttachmentList
      properties:
        nextPageToken:
          type: string
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
        kind:
          default: compute#serviceAttachmentList
          description: >-
            [Output Only] Type of the resource. Always compute#serviceAttachment
            for service attachments.
          type: string
        warning:
          type: object
          properties:
            data:
              type: array
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
              items:
                type: object
                properties:
                  value:
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                    type: string
                  key:
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                    type: string
            code:
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              type: string
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
            message:
              type: string
              description: '[Output Only] A human-readable description of the warning code.'
          description: '[Output Only] Informational warning message.'
        items:
          type: array
          description: A list of ServiceAttachment resources.
          items:
            $ref: '#/components/schemas/ServiceAttachment'
        id:
          type: string
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
    OperationsScopedList:
      properties:
        operations:
          type: array
          description: '[Output Only] A list of operations contained in this scope.'
          items:
            $ref: '#/components/schemas/Operation'
        warning:
          description: >-
            [Output Only] Informational warning which replaces the list of
            operations when the list is empty.
          properties:
            data:
              type: array
              items:
                properties:
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                  value:
                    type: string
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                type: object
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
            code:
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              type: string
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
          type: object
      id: OperationsScopedList
      type: object
    ConsistentHashLoadBalancerSettings:
      type: object
      properties:
        httpHeaderName:
          type: string
          description: >-
            The hash based on the value of the specified header field. This
            field is applicable if the sessionAffinity is set to HEADER_FIELD.
        minimumRingSize:
          format: int64
          type: string
          description: >-
            The minimum number of virtual nodes to use for the hash ring.
            Defaults to 1024. Larger ring sizes result in more granular load
            distributions. If the number of hosts in the load balancing pool is
            larger than the ring size, each host will be assigned a single
            virtual node.
        httpCookie:
          $ref: '#/components/schemas/ConsistentHashLoadBalancerSettingsHttpCookie'
          description: >-
            Hash is based on HTTP Cookie. This field describes a HTTP cookie
            that will be used as the hash key for the consistent hash load
            balancer. If the cookie is not present, it will be generated. This
            field is applicable if the sessionAffinity is set to HTTP_COOKIE.
            Not supported when the backend service is referenced by a URL map
            that is bound to target gRPC proxy that has validateForProxyless
            field set to true.
      id: ConsistentHashLoadBalancerSettings
      description: This message defines settings for a consistent hash style load balancer.
    HttpRouteAction:
      id: HttpRouteAction
      properties:
        faultInjectionPolicy:
          $ref: '#/components/schemas/HttpFaultInjection'
          description: >-
            The specification for fault injection introduced into traffic to
            test the resiliency of clients to backend service failure. As part
            of fault injection, when clients send requests to a backend service,
            delays can be introduced by a load balancer on a percentage of
            requests before sending those requests to the backend service.
            Similarly requests from clients can be aborted by the load balancer
            for a percentage of requests. timeout and retry_policy is ignored by
            clients that are configured with a fault_injection_policy if: 1. The
            traffic is generated by fault injection AND 2. The fault injection
            is not a delay fault injection. Fault injection is not supported
            with the global external HTTP(S) load balancer (classic). To see
            which load balancers support fault injection, see Load balancing:
            Routing and traffic management features.
        requestMirrorPolicy:
          $ref: '#/components/schemas/RequestMirrorPolicy'
          description: >-
            Specifies the policy on how requests intended for the route's
            backends are shadowed to a separate mirrored backend service. The
            load balancer does not wait for responses from the shadow service.
            Before sending traffic to the shadow service, the host / authority
            header is suffixed with -shadow. Not supported when the URL map is
            bound to a target gRPC proxy that has the validateForProxyless field
            set to true.
        weightedBackendServices:
          items:
            $ref: '#/components/schemas/WeightedBackendService'
          description: >-
            A list of weighted backend services to send traffic to when a route
            match occurs. The weights determine the fraction of traffic that
            flows to their corresponding backend service. If all traffic needs
            to go to a single backend service, there must be one
            weightedBackendService with weight set to a non-zero number. After a
            backend service is identified and before forwarding the request to
            the backend service, advanced routing actions such as URL rewrites
            and header transformations are applied depending on additional
            settings specified in this HttpRouteAction.
          type: array
        timeout:
          $ref: '#/components/schemas/Duration'
          description: >-
            Specifies the timeout for the selected route. Timeout is computed
            from the time the request has been fully processed (known as
            *end-of-stream*) up until the response has been processed. Timeout
            includes all retries. If not specified, this field uses the largest
            timeout among all backend services associated with the route. Not
            supported when the URL map is bound to a target gRPC proxy that has
            validateForProxyless field set to true.
        retryPolicy:
          description: Specifies the retry policy associated with this route.
          $ref: '#/components/schemas/HttpRetryPolicy'
        corsPolicy:
          $ref: '#/components/schemas/CorsPolicy'
          description: >-
            The specification for allowing client-side cross-origin requests.
            For more information about the W3C recommendation for cross-origin
            resource sharing (CORS), see Fetch API Living Standard. Not
            supported when the URL map is bound to a target gRPC proxy.
        maxStreamDuration:
          description: >-
            Specifies the maximum duration (timeout) for streams on the selected
            route. Unlike the timeout field where the timeout duration starts
            from the time the request has been fully processed (known as
            *end-of-stream*), the duration in this field is computed from the
            beginning of the stream until the response has been processed,
            including all retries. A stream that does not complete in this
            duration is closed. If not specified, this field uses the maximum
            maxStreamDuration value among all backend services associated with
            the route. This field is only allowed if the Url map is used with
            backend services with loadBalancingScheme set to
            INTERNAL_SELF_MANAGED.
          $ref: '#/components/schemas/Duration'
        urlRewrite:
          description: >-
            The spec to modify the URL of the request, before forwarding the
            request to the matched service. urlRewrite is the only action
            supported in UrlMaps for external HTTP(S) load balancers. Not
            supported when the URL map is bound to a target gRPC proxy that has
            the validateForProxyless field set to true.
          $ref: '#/components/schemas/UrlRewrite'
      type: object
    AutoscalingPolicy:
      properties:
        customMetricUtilizations:
          items:
            $ref: '#/components/schemas/AutoscalingPolicyCustomMetricUtilization'
          description: Configuration parameters of autoscaling based on a custom metric.
          type: array
        scalingSchedules:
          description: >-
            Scaling schedules defined for an autoscaler. Multiple schedules can
            be set on an autoscaler, and they can overlap. During overlapping
            periods the greatest min_required_replicas of all scaling schedules
            is applied. Up to 128 scaling schedules are allowed.
          additionalProperties:
            $ref: '#/components/schemas/AutoscalingPolicyScalingSchedule'
          type: object
        maxNumReplicas:
          type: integer
          description: >-
            The maximum number of instances that the autoscaler can scale out
            to. This is required when creating or updating an autoscaler. The
            maximum number of replicas must not be lower than minimal number of
            replicas.
          format: int32
        scaleDownControl:
          $ref: '#/components/schemas/AutoscalingPolicyScaleDownControl'
        loadBalancingUtilization:
          $ref: '#/components/schemas/AutoscalingPolicyLoadBalancingUtilization'
          description: Configuration parameters of autoscaling based on load balancer.
        coolDownPeriodSec:
          format: int32
          type: integer
          description: >-
            The number of seconds that your application takes to initialize on a
            VM instance. This is referred to as the [initialization
            period](/compute/docs/autoscaler#cool_down_period). Specifying an
            accurate initialization period improves autoscaler decisions. For
            example, when scaling out, the autoscaler ignores data from VMs that
            are still initializing because those VMs might not yet represent
            normal usage of your application. The default initialization period
            is 60 seconds. Initialization periods might vary because of numerous
            factors. We recommend that you test how long your application takes
            to initialize. To do this, create a VM and time your application's
            startup process.
        scaleInControl:
          $ref: '#/components/schemas/AutoscalingPolicyScaleInControl'
        minNumReplicas:
          format: int32
          description: >-
            The minimum number of replicas that the autoscaler can scale in to.
            This cannot be less than 0. If not provided, autoscaler chooses a
            default value depending on maximum number of instances allowed.
          type: integer
        mode:
          enumDescriptions:
            - >-
              Do not automatically scale the MIG in or out. The recommended_size
              field contains the size of MIG that would be set if the actuation
              mode was enabled.
            - Automatically scale the MIG in and out according to the policy.
            - >-
              Automatically create VMs according to the policy, but do not scale
              the MIG in.
            - >-
              Automatically create VMs according to the policy, but do not scale
              the MIG in.
          enum:
            - 'OFF'
            - 'ON'
            - ONLY_SCALE_OUT
            - ONLY_UP
          type: string
          description: >-
            Defines the operating mode for this policy. The following modes are
            available: - OFF: Disables the autoscaler but maintains its
            configuration. - ONLY_SCALE_OUT: Restricts the autoscaler to add VM
            instances only. - ON: Enables all autoscaler activities according to
            its policy. For more information, see "Turning off or restricting an
            autoscaler"
        cpuUtilization:
          $ref: '#/components/schemas/AutoscalingPolicyCpuUtilization'
          description: >-
            Defines the CPU utilization policy that allows the autoscaler to
            scale based on the average CPU utilization of a managed instance
            group.
      description: Cloud Autoscaler policy.
      id: AutoscalingPolicy
      type: object
    BackendServiceLocalityLoadBalancingPolicyConfig:
      properties:
        policy:
          $ref: >-
            #/components/schemas/BackendServiceLocalityLoadBalancingPolicyConfigPolicy
        customPolicy:
          $ref: >-
            #/components/schemas/BackendServiceLocalityLoadBalancingPolicyConfigCustomPolicy
      description: >-
        Container for either a built-in LB policy supported by gRPC or Envoy or
        a custom one implemented by the end user.
      type: object
      id: BackendServiceLocalityLoadBalancingPolicyConfig
    InterconnectLocationList:
      id: InterconnectLocationList
      description: >-
        Response to the list request, and contains a list of interconnect
        locations.
      properties:
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/InterconnectLocation'
          description: A list of InterconnectLocation resources.
        kind:
          type: string
          description: >-
            [Output Only] Type of resource. Always
            compute#interconnectLocationList for lists of interconnect
            locations.
          default: compute#interconnectLocationList
        warning:
          properties:
            data:
              type: array
              items:
                properties:
                  value:
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                    type: string
                  key:
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                    type: string
                type: object
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
            code:
              type: string
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
          description: '[Output Only] Informational warning message.'
          type: object
        nextPageToken:
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
          type: string
        id:
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
          type: string
      type: object
    UsableSubnetworkSecondaryRange:
      properties:
        rangeName:
          description: >-
            The name associated with this subnetwork secondary range, used when
            adding an alias IP range to a VM instance. The name must be 1-63
            characters long, and comply with RFC1035. The name must be unique
            within the subnetwork.
          type: string
        ipCidrRange:
          type: string
          description: >-
            The range of IP addresses belonging to this subnetwork secondary
            range.
      description: Secondary IP range of a usable subnetwork.
      type: object
      id: UsableSubnetworkSecondaryRange
    InstanceListReferrers:
      id: InstanceListReferrers
      type: object
      description: Contains a list of instance referrers.
      properties:
        items:
          type: array
          description: A list of Reference resources.
          items:
            $ref: '#/components/schemas/Reference'
        nextPageToken:
          type: string
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
        kind:
          default: compute#instanceListReferrers
          type: string
          description: >-
            [Output Only] Type of resource. Always compute#instanceListReferrers
            for lists of Instance referrers.
        warning:
          properties:
            message:
              type: string
              description: '[Output Only] A human-readable description of the warning code.'
            code:
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              type: string
            data:
              items:
                type: object
                properties:
                  value:
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
                    type: string
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
              type: array
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
          type: object
          description: '[Output Only] Informational warning message.'
        id:
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
          type: string
    Binding:
      properties:
        condition:
          description: >-
            The condition that is associated with this binding. If the condition
            evaluates to `true`, then this binding applies to the current
            request. If the condition evaluates to `false`, then this binding
            does not apply to the current request. However, a different role
            binding might grant the same role to one or more of the principals
            in this binding. To learn which resources support conditions in
            their IAM policies, see the [IAM
            documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          $ref: '#/components/schemas/Expr'
        bindingId:
          type: string
          description: This is deprecated and has no effect. Do not use.
        members:
          type: array
          description: >-
            Specifies the principals requesting access for a Google Cloud
            resource. `members` can have the following values: * `allUsers`: A
            special identifier that represents anyone who is on the internet;
            with or without a Google account. * `allAuthenticatedUsers`: A
            special identifier that represents anyone who is authenticated with
            a Google account or a service account. Does not include identities
            that come from external identity providers (IdPs) through identity
            federation. * `user:{emailid}`: An email address that represents a
            specific Google account. For example, `alice@example.com` . *
            `serviceAccount:{emailid}`: An email address that represents a
            Google service account. For example,
            `my-other-app@appspot.gserviceaccount.com`. *
            `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:
            An identifier for a [Kubernetes service
            account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).
            For example,
            `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. *
            `group:{emailid}`: An email address that represents a Google group.
            For example, `admins@example.com`. * `domain:{domain}`: The G Suite
            domain (primary) that represents all the users of that domain. For
            example, `google.com` or `example.com`. *
            `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus
            unique identifier) representing a user that has been recently
            deleted. For example, `alice@example.com?uid=123456789012345678901`.
            If the user is recovered, this value reverts to `user:{emailid}` and
            the recovered user retains the role in the binding. *
            `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address
            (plus unique identifier) representing a service account that has
            been recently deleted. For example,
            `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.
            If the service account is undeleted, this value reverts to
            `serviceAccount:{emailid}` and the undeleted service account retains
            the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`:
            An email address (plus unique identifier) representing a Google
            group that has been recently deleted. For example,
            `admins@example.com?uid=123456789012345678901`. If the group is
            recovered, this value reverts to `group:{emailid}` and the recovered
            group retains the role in the binding.
          items:
            type: string
        role:
          type: string
          description: >-
            Role that is assigned to the list of `members`, or principals. For
            example, `roles/viewer`, `roles/editor`, or `roles/owner`.
      description: Associates `members`, or principals, with a `role`.
      type: object
      id: Binding
    SavedAttachedDisk:
      id: SavedAttachedDisk
      description: >-
        DEPRECATED: Please use compute#savedDisk instead. An instance-attached
        disk resource.
      type: object
      properties:
        diskEncryptionKey:
          description: The encryption key for the disk.
          $ref: '#/components/schemas/CustomerEncryptionKey'
        source:
          description: Specifies a URL of the disk attached to the source instance.
          type: string
        deviceName:
          description: Specifies the name of the disk attached to the source instance.
          type: string
        boot:
          type: boolean
          description: >-
            Indicates that this is a boot disk. The virtual machine will use the
            first partition of the disk for its root filesystem.
        type:
          enumDescriptions:
            - ''
            - ''
          description: >-
            Specifies the type of the attached disk, either SCRATCH or
            PERSISTENT.
          enum:
            - PERSISTENT
            - SCRATCH
          type: string
        guestOsFeatures:
          type: array
          description: >-
            A list of features to enable on the guest operating system.
            Applicable only for bootable images. Read Enabling guest operating
            system features to see a list of available options.
          items:
            $ref: '#/components/schemas/GuestOsFeature'
        mode:
          description: >-
            The mode in which this disk is attached to the source instance,
            either READ_WRITE or READ_ONLY.
          enumDescriptions:
            - >-
              Attaches this disk in read-only mode. Multiple virtual machines
              can use a disk in read-only mode at a time.
            - >-
              *[Default]* Attaches this disk in read-write mode. Only one
              virtual machine at a time can be attached to a disk in read-write
              mode.
          enum:
            - READ_ONLY
            - READ_WRITE
          type: string
        diskSizeGb:
          format: int64
          description: The size of the disk in base-2 GB.
          type: string
        autoDelete:
          description: >-
            Specifies whether the disk will be auto-deleted when the instance is
            deleted (but not when the disk is detached from the instance).
          type: boolean
        index:
          format: int32
          type: integer
          description: >-
            Specifies zero-based index of the disk that is attached to the
            source instance.
        diskType:
          type: string
          description: >-
            [Output Only] URL of the disk type resource. For example:
            projects/project /zones/zone/diskTypes/pd-standard or pd-ssd
        interface:
          enumDescriptions:
            - ''
            - ''
          type: string
          enum:
            - NVME
            - SCSI
          description: >-
            Specifies the disk interface to use for attaching this disk, which
            is either SCSI or NVME.
        licenses:
          description: '[Output Only] Any valid publicly visible licenses.'
          items:
            type: string
          type: array
        kind:
          description: >-
            [Output Only] Type of the resource. Always compute#attachedDisk for
            attached disks.
          type: string
          default: compute#savedAttachedDisk
        storageBytesStatus:
          type: string
          enumDescriptions:
            - ''
            - ''
          description: >-
            [Output Only] An indicator whether storageBytes is in a stable state
            or it is being adjusted as a result of shared storage reallocation.
            This status can either be UPDATING, meaning the size of the snapshot
            is being updated, or UP_TO_DATE, meaning the size of the snapshot is
            up-to-date.
          enum:
            - UPDATING
            - UP_TO_DATE
        storageBytes:
          format: int64
          type: string
          description: >-
            [Output Only] A size of the storage used by the disk's snapshot by
            this machine image.
    BackendBucket:
      properties:
        name:
          pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
          description: >-
            Name of the resource. Provided by the client when the resource is
            created. The name must be 1-63 characters long, and comply with
            RFC1035. Specifically, the name must be 1-63 characters long and
            match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which
            means the first character must be a lowercase letter, and all
            following characters must be a dash, lowercase letter, or digit,
            except the last character, which cannot be a dash.
          type: string
        selfLink:
          description: '[Output Only] Server-defined URL for the resource.'
          type: string
        enableCdn:
          type: boolean
          description: If true, enable Cloud CDN for this BackendBucket.
        description:
          description: >-
            An optional textual description of the resource; provided by the
            client when the resource is created.
          type: string
        kind:
          default: compute#backendBucket
          type: string
          description: Type of the resource.
        cdnPolicy:
          description: Cloud CDN configuration for this BackendBucket.
          $ref: '#/components/schemas/BackendBucketCdnPolicy'
        bucketName:
          description: Cloud Storage bucket name.
          type: string
        id:
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
          format: uint64
          type: string
        edgeSecurityPolicy:
          type: string
          description: >-
            [Output Only] The resource URL for the edge security policy
            associated with this backend bucket.
        creationTimestamp:
          description: '[Output Only] Creation timestamp in RFC3339 text format.'
          type: string
        customResponseHeaders:
          items:
            type: string
          description: >-
            Headers that the HTTP/S load balancer should add to proxied
            responses.
          type: array
        compressionMode:
          type: string
          description: >-
            Compress text responses using Brotli or gzip compression, based on
            the client's Accept-Encoding header.
          enumDescriptions:
            - >-
              Automatically uses the best compression based on the
              Accept-Encoding header sent by the client.
            - >-
              Disables compression. Existing compressed responses cached by
              Cloud CDN will not be served to clients.
          enum:
            - AUTOMATIC
            - DISABLED
      description: >-
        Represents a Cloud Storage Bucket resource. This Cloud Storage bucket
        resource is referenced by a URL map of a load balancer. For more
        information, read Backend Buckets.
      type: object
      id: BackendBucket
    HealthCheckList:
      properties:
        selfLink:
          description: '[Output Only] Server-defined URL for this resource.'
          type: string
        nextPageToken:
          description: >-
            [Output Only] This token allows you to get the next page of results
            for list requests. If the number of results is larger than
            maxResults, use the nextPageToken as a value for the query parameter
            pageToken in the next list request. Subsequent list requests will
            have their own nextPageToken to continue paging through the results.
          type: string
        id:
          type: string
          description: >-
            [Output Only] Unique identifier for the resource; defined by the
            server.
        items:
          type: array
          items:
            $ref: '#/components/schemas/HealthCheck'
          description: A list of HealthCheck resources.
        kind:
          description: Type of resource.
          type: string
          default: compute#healthCheckList
        warning:
          description: '[Output Only] Informational warning message.'
          type: object
          properties:
            data:
              items:
                type: object
                properties:
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                  value:
                    type: string
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
              type: array
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
            message:
              description: '[Output Only] A human-readable description of the warning code.'
              type: string
            code:
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              enum:
                - CLEANUP_FAILED
                - DEPRECATED_RESOURCE_USED
                - DEPRECATED_TYPE_USED
                - DISK_SIZE_LARGER_THAN_IMAGE_SIZE
                - EXPERIMENTAL_TYPE_USED
                - EXTERNAL_API_WARNING
                - FIELD_VALUE_OVERRIDEN
                - INJECTED_KERNELS_DEPRECATED
                - INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB
                - LARGE_DEPLOYMENT_WARNING
                - LIST_OVERHEAD_QUOTA_EXCEED
                - MISSING_TYPE_DEPENDENCY
                - NEXT_HOP_ADDRESS_NOT_ASSIGNED
                - NEXT_HOP_CANNOT_IP_FORWARD
                - NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE
                - NEXT_HOP_INSTANCE_NOT_FOUND
                - NEXT_HOP_INSTANCE_NOT_ON_NETWORK
                - NEXT_HOP_NOT_RUNNING
                - NOT_CRITICAL_ERROR
                - NO_RESULTS_ON_PAGE
                - PARTIAL_SUCCESS
                - REQUIRED_TOS_AGREEMENT
                - RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING
                - RESOURCE_NOT_DELETED
                - SCHEMA_VALIDATION_IGNORED
                - SINGLE_INSTANCE_PROPERTY_TEMPLATE
                - UNDECLARED_PROPERTIES
                - UNREACHABLE
              type: string
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
                - When a resource schema validation is ignored.
                - >-
                  Instance template used in instance group manager is valid as
                  such, but its application does not make a lot of sense,
                  because it allows only single instance in instance group.
                - When undeclared properties in the schema are present
                - A given scope cannot be reached.
      type: object
      description: Contains a list of HealthCheck resources.
      id: HealthCheckList
    MachineType:
      type: object
      properties:
        id:
          type: string
          description: >-
            [Output Only] The unique identifier for the resource. This
            identifier is defined by the server.
          format: uint64
        guestCpus:
          description: >-
            [Output Only] The number of virtual CPUs that are available to the
            instance.
          type: integer
          format: int32
        deprecated:
          $ref: '#/components/schemas/DeprecationStatus'
          description: >-
            [Output Only] The deprecation status associated with this machine
            type. Only applicable if the machine type is unavailable.
        isSharedCpu:
          type: boolean
          description: >-
            [Output Only] Whether this machine type has a shared CPU. See
            Shared-core machine types for more information.
        accelerators:
          items:
            type: object
            properties:
              guestAcceleratorType:
                type: string
                description: >-
                  The accelerator type resource name, not a full URL, e.g.
                  nvidia-tesla-t4.
              guestAcceleratorCount:
                description: Number of accelerator cards exposed to the guest.
                format: int32
                type: integer
          description: >-
            [Output Only] A list of accelerator configurations assigned to this
            machine type.
          type: array
        memoryMb:
          format: int32
          description: >-
            [Output Only] The amount of physical memory available to the
            instance, defined in MB.
          type: integer
        name:
          type: string
          pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
          description: '[Output Only] Name of the resource.'
        zone:
          type: string
          description: >-
            [Output Only] The name of the zone where the machine type resides,
            such as us-central1-a.
        maximumPersistentDisks:
          type: integer
          description: '[Output Only] Maximum persistent disks allowed.'
          format: int32
        maximumPersistentDisksSizeGb:
          format: int64
          description: '[Output Only] Maximum total persistent disks size (GB) allowed.'
          type: string
        kind:
          default: compute#machineType
          type: string
          description: >-
            [Output Only] The type of the resource. Always compute#machineType
            for machine types.
        selfLink:
          type: string
          description: '[Output Only] Server-defined URL for the resource.'
        creationTimestamp:
          description: '[Output Only] Creation timestamp in RFC3339 text format.'
          type: string
        description:
          type: string
          description: '[Output Only] An optional textual description of the resource.'
        bundledLocalSsds:
          $ref: '#/components/schemas/BundledLocalSsds'
          description: >-
            [Output Only] The configuration of bundled local SSD for the machine
            type.
      description: >-
        Represents a Machine Type resource. You can use specific machine types
        for your VM instances based on performance and pricing requirements. For
        more information, read Machine Types.
      id: MachineType
    TargetSslProxy:
      id: TargetSslProxy
      properties:
        certificateMap:
          description: >-
            URL of a certificate map that identifies a certificate map
            associated with the given target proxy. This field can only be set
            for global target proxies. If set, sslCertificates will be ignored.
            Accepted format is
            //certificatemanager.googleapis.com/projects/{project
            }/locations/{location}/certificateMaps/{resourceName}.
          type: string
        creationTimestamp:
          type: string
          description: '[Output Only] Creation timestamp in RFC3339 text format.'
        id:
          format: uint64
          description: >-
            [Output Only] The unique identifier for the resource. This
            identifier is defined by the server.
          type: string
        kind:
          description: >-
            [Output Only] Type of the resource. Always compute#targetSslProxy
            for target SSL proxies.
          default: compute#targetSslProxy
          type: string
        sslCertificates:
          type: array
          items:
            type: string
          description: >-
            URLs to SslCertificate resources that are used to authenticate
            connections to Backends. At least one SSL certificate must be
            specified. Currently, you may specify up to 15 SSL certificates.
            sslCertificates do not apply when the load balancing scheme is set
            to INTERNAL_SELF_MANAGED.
        name:
          pattern: '[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?'
          type: string
          description: >-
            Name of the resource. Provided by the client when the resource is
            created. The name must be 1-63 characters long, and comply with
            RFC1035. Specifically, the name must be 1-63 characters long and
            match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which
            means the first character must be a lowercase letter, and all
            following characters must be a dash, lowercase letter, or digit,
            except the last character, which cannot be a dash.
        selfLink:
          description: '[Output Only] Server-defined URL for the resource.'
          type: string
        service:
          type: string
          description: URL to the BackendService resource.
        description:
          description: >-
            An optional description of this resource. Provide this property when
            you create the resource.
          type: string
        sslPolicy:
          type: string
          description: >-
            URL of SslPolicy resource that will be associated with the
            TargetSslProxy resource. If not set, the TargetSslProxy resource
            will not have any SSL policy configured.
        proxyHeader:
          description: >-
            Specifies the type of proxy header to append before sending data to
            the backend, either NONE or PROXY_V1. The default is NONE.
          enum:
            - NONE
            - PROXY_V1
          type: string
          enumDescriptions:
            - ''
            - ''
      description: >-
        Represents a Target SSL Proxy resource. A target SSL proxy is a
        component of a SSL Proxy load balancer. Global forwarding rules
        reference a target SSL proxy, and the target proxy then references an
        external backend service. For more information, read Using Target
        Proxies.
      type: object
    BackendServicesScopedList:
      type: object
      properties:
        backendServices:
          type: array
          items:
            $ref: '#/components/schemas/BackendService'
          description: A list of BackendServices contained in this scope.
        warning:
          properties:
            data:
              type: array
              description: >-
                [Output Only] Metadata about this warning in key: value format.
                For example: "data": [ { "key": "scope", "value":
                "zones/us-east1-d" } 
              items:
                type: object
                properties:
                  key:
                    type: string
                    description: >-
                      [Output Only] A key that provides more detail on the
                      warning being returned. For example, for warnings where
                      there are no results in a list request for a particular
                      zone, this key might be scope and the key value might be
                      the zone name. Other examples might be a key indicating a
                      deprecated resource and a suggested replacement, or a
                      warning about invalid network settings (for example, if an
                      instance attempts to perform IP forwarding but is not
                      enabled for IP forwarding).
                  value:
                    type: string
                    description: >-
                      [Output Only] A warning data value corresponding to the
                      key.
            code:
              description: >-
                [Output Only] A warning code, if applicable. For example,
                Compute Engine returns NO_RESULTS_ON_PAGE if there are no
                results in the response.
              type: string
              enumDescriptions:
                - >-
                  Warning about failed cleanup of transient changes made by a
                  failed operation.
                - A link to a deprecated resource was created.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as deprecated
                - The user created a boot disk that is larger than image size.
                - >-
                  When deploying and at least one of the resources has a type
                  marked as experimental
                - Warning that is present in an external api call
                - >-
                  Warning that value of a field has been overridden. Deprecated
                  unused field.
                - >-
                  The operation involved use of an injected kernel, which is
                  deprecated.
                - >-
                  A WEIGHTED_MAGLEV backend service is associated with a health
                  check that is not of type HTTP/HTTPS/HTTP2.
                - >-
                  When deploying a deployment with a exceedingly large number of
                  resources
                - >-
                  Resource can't be retrieved due to list overhead quota exceed
                  which captures the amount of resources filtered out by
                  user-defined list filter.
                - A resource depends on a missing type
                - >-
                  The route's nextHopIp address is not assigned to an instance
                  on the network.
                - The route's next hop instance cannot ip forward.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not have an ipv6 interface on the same network as the
                  route.
                - >-
                  The route's nextHopInstance URL refers to an instance that
                  does not exist.
                - >-
                  The route's nextHopInstance URL refers to an instance that is
                  not on the same network as the route.
                - >-
                  The route's next hop instance does not have a status of
                  RUNNING.
                - >-
                  Error which is not critical. We decided to continue the
                  process despite the mentioned error.
                - No results are present on a particular list page.
                - >-
                  Success is reported, but some results may be missing due to
                  errors
                - >-
                  The user attempted to use a resource that requires a TOS they
                  have not accepted.
                - Warning that a resource is in use.
                - >-
                  One or more of the resources set to auto-delete could not be
                  deleted because they were in use.
[...]
