openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Channel API
  description: >-
    The Cloud Channel API enables Google Cloud partners to have a single unified
    resale platform and APIs across all of Google Cloud including GCP,
    Workspace, Maps and Chrome.
  version: v1
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/channel
servers:
  - url: https://cloudchannel.googleapis.com
components:
  schemas:
    GoogleProtobufEmpty:
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      properties: {}
      type: object
      id: GoogleProtobufEmpty
    GoogleCloudChannelV1DateRange:
      description: A representation of usage or invoice date ranges.
      type: object
      id: GoogleCloudChannelV1DateRange
      properties:
        usageStartDateTime:
          $ref: '#/components/schemas/GoogleTypeDateTime'
          description: >-
            The earliest usage date time (inclusive). If you use time groupings
            (daily, weekly, etc), each group uses midnight to midnight (Pacific
            time). The usage start date is rounded down to include all usage
            from the specified date. We recommend that clients pass
            `usage_start_date_time` in Pacific time.
        invoiceStartDate:
          $ref: '#/components/schemas/GoogleTypeDate'
          description: >-
            The earliest invoice date (inclusive). If this value is not the
            first day of a month, this will move it back to the first day of the
            given month.
        usageEndDateTime:
          $ref: '#/components/schemas/GoogleTypeDateTime'
          description: >-
            The latest usage date time (exclusive). If you use time groupings
            (daily, weekly, etc), each group uses midnight to midnight (Pacific
            time). The usage end date is rounded down to include all usage from
            the specified date. We recommend that clients pass
            `usage_start_date_time` in Pacific time.
        invoiceEndDate:
          description: >-
            The latest invoice date (inclusive). If this value is not the last
            day of a month, this will move it forward to the last day of the
            given month.
          $ref: '#/components/schemas/GoogleTypeDate'
    GoogleCloudChannelV1CustomerConstraints:
      description: Represents constraints required to purchase the Offer for a customer.
      id: GoogleCloudChannelV1CustomerConstraints
      properties:
        promotionalOrderTypes:
          type: array
          items:
            type: string
            enum:
              - PROMOTIONAL_TYPE_UNSPECIFIED
              - NEW_UPGRADE
              - TRANSFER
              - PROMOTION_SWITCH
            enumDescriptions:
              - Not used.
              - Order used for new customers, trial conversions and upgrades.
              - All orders for transferring an existing customer.
              - >-
                Orders for modifying an existing customer's promotion on the
                same SKU.
          description: Allowed Promotional Order Type. Present for Promotional offers.
        allowedRegions:
          description: Allowed geographical regions of the customer.
          items:
            type: string
          type: array
        allowedCustomerTypes:
          description: Allowed Customer Type.
          type: array
          items:
            enumDescriptions:
              - Not used.
              - >-
                Domain-owning customer which needs domain verification to use
                services.
              - Team customer which needs email verification to use services.
            enum:
              - CUSTOMER_TYPE_UNSPECIFIED
              - DOMAIN
              - TEAM
            type: string
      type: object
    GoogleCloudChannelV1SkuGroup:
      id: GoogleCloudChannelV1SkuGroup
      type: object
      properties:
        displayName:
          description: Unique human readable identifier for the SKU group.
          type: string
        name:
          description: >-
            Resource name of SKU group. Format:
            accounts/{account}/skuGroups/{sku_group}. Example:
            "accounts/C01234/skuGroups/3d50fd57-3157-4577-a5a9-a219b8490041".
          type: string
      description: Represents the SKU group information.
    GoogleCloudChannelV1ListSkuGroupsResponse:
      id: GoogleCloudChannelV1ListSkuGroupsResponse
      description: Response message for ListSkuGroups.
      properties:
        nextPageToken:
          type: string
          description: >-
            A token to retrieve the next page of results. Pass to
            ListSkuGroups.page_token to obtain that page.
        skuGroups:
          description: The list of SKU groups requested.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1SkuGroup'
      type: object
    GoogleCloudChannelV1Offer:
      properties:
        constraints:
          $ref: '#/components/schemas/GoogleCloudChannelV1Constraints'
          description: Constraints on transacting the Offer.
        endTime:
          type: string
          format: google-datetime
          description: Output only. End of the Offer validity time.
          readOnly: true
        parameterDefinitions:
          description: Parameters required to use current Offer to purchase.
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1ParameterDefinition'
          type: array
        priceByResources:
          description: Price for each monetizable resource type.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1PriceByResource'
        name:
          description: >-
            Resource Name of the Offer. Format:
            accounts/{account_id}/offers/{offer_id}
          type: string
        dealCode:
          type: string
          description: The deal code of the offer to get a special promotion or discount.
        startTime:
          description: Start of the Offer validity time.
          type: string
          format: google-datetime
        plan:
          description: Describes the payment plan for the Offer.
          $ref: '#/components/schemas/GoogleCloudChannelV1Plan'
        sku:
          description: SKU the offer is associated with.
          $ref: '#/components/schemas/GoogleCloudChannelV1Sku'
        marketingInfo:
          description: Marketing information for the Offer.
          $ref: '#/components/schemas/GoogleCloudChannelV1MarketingInfo'
      type: object
      id: GoogleCloudChannelV1Offer
      description: >-
        Represents an offer made to resellers for purchase. An offer is
        associated with a Sku, has a plan for payment, a price, and defines the
        constraints for buying.
    GoogleCloudChannelV1ListPurchasableOffersResponse:
      description: Response message for ListPurchasableOffers.
      type: object
      id: GoogleCloudChannelV1ListPurchasableOffersResponse
      properties:
        nextPageToken:
          type: string
          description: A token to retrieve the next page of results.
        purchasableOffers:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1PurchasableOffer'
          description: The list of Offers requested.
    GoogleCloudChannelV1FetchReportResultsResponse:
      description: >-
        Response message for CloudChannelReportsService.FetchReportResults.
        Contains a tabular representation of the report results.
      type: object
      properties:
        rows:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1Row'
          description: >-
            The report's lists of values. Each row follows the settings and
            ordering of the columns from `report_metadata`.
        nextPageToken:
          description: >-
            Pass this token to FetchReportResultsRequest.page_token to retrieve
            the next page of results.
          type: string
        reportMetadata:
          description: >-
            The metadata for the report results (display name, columns, row
            count, and date ranges).
          $ref: '#/components/schemas/GoogleCloudChannelV1ReportResultsMetadata'
      id: GoogleCloudChannelV1FetchReportResultsResponse
    GoogleCloudChannelV1ListProductsResponse:
      properties:
        products:
          description: List of Products requested.
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1Product'
          type: array
        nextPageToken:
          type: string
          description: A token to retrieve the next page of results.
      description: Response message for ListProducts.
      id: GoogleCloudChannelV1ListProductsResponse
      type: object
    GoogleCloudChannelV1Product:
      description: >-
        A Product is the entity a customer uses when placing an order. For
        example, Google Workspace, Google Voice, etc.
      id: GoogleCloudChannelV1Product
      properties:
        name:
          description: 'Resource Name of the Product. Format: products/{product_id}'
          type: string
        marketingInfo:
          description: Marketing information for the product.
          $ref: '#/components/schemas/GoogleCloudChannelV1MarketingInfo'
      type: object
    GoogleTypeDateTime:
      description: >-
        Represents civil time (or occasionally physical time). This type can
        represent a civil time in one of a few possible ways: * When utc_offset
        is set and time_zone is unset: a civil time on a calendar day with a
        particular offset from UTC. * When time_zone is set and utc_offset is
        unset: a civil time on a calendar day in a particular time zone. * When
        neither time_zone nor utc_offset is set: a civil time on a calendar day
        in local time. The date is relative to the Proleptic Gregorian Calendar.
        If year, month, or day are 0, the DateTime is considered not to have a
        specific year, month, or day respectively. This type may also be used to
        represent a physical time if all the date and time fields are set and
        either case of the `time_offset` oneof is set. Consider using
        `Timestamp` message for physical time instead. If your use case also
        would like to store the user's timezone, that can be done in another
        field. This type is more flexible than some applications may want. Make
        sure to document and validate your application's limitations.
      properties:
        month:
          format: int32
          type: integer
          description: >-
            Optional. Month of year. Must be from 1 to 12, or 0 if specifying a
            datetime without a month.
        seconds:
          description: >-
            Optional. Seconds of minutes of the time. Must normally be from 0 to
            59, defaults to 0. An API may allow the value 60 if it allows
            leap-seconds.
          format: int32
          type: integer
        year:
          type: integer
          description: >-
            Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a
            datetime without a year.
          format: int32
        timeZone:
          $ref: '#/components/schemas/GoogleTypeTimeZone'
          description: Time zone.
        utcOffset:
          format: google-duration
          type: string
          description: >-
            UTC offset. Must be whole seconds, between -18 hours and +18 hours.
            For example, a UTC offset of -4:00 would be represented as {
            seconds: -14400 }.
        nanos:
          description: >-
            Optional. Fractions of seconds in nanoseconds. Must be from 0 to
            999,999,999, defaults to 0.
          format: int32
          type: integer
        day:
          description: >-
            Optional. Day of month. Must be from 1 to 31 and valid for the year
            and month, or 0 if specifying a datetime without a day.
          type: integer
          format: int32
        hours:
          format: int32
          description: >-
            Optional. Hours of day in 24 hour format. Should be from 0 to 23,
            defaults to 0 (midnight). An API may choose to allow the value
            "24:00:00" for scenarios like business closing time.
          type: integer
        minutes:
          type: integer
          format: int32
          description: >-
            Optional. Minutes of hour of day. Must be from 0 to 59, defaults to
            0.
      type: object
      id: GoogleTypeDateTime
    GoogleCloudChannelV1EduData:
      description: Required Edu Attributes
      type: object
      id: GoogleCloudChannelV1EduData
      properties:
        website:
          type: string
          description: Web address for the edu customer's institution.
        instituteSize:
          enum:
            - INSTITUTE_SIZE_UNSPECIFIED
            - SIZE_1_100
            - SIZE_101_500
            - SIZE_501_1000
            - SIZE_1001_2000
            - SIZE_2001_5000
            - SIZE_5001_10000
            - SIZE_10001_OR_MORE
          enumDescriptions:
            - Not used.
            - 1 - 100
            - 101 - 500
            - 501 - 1,000
            - 1,001 - 2,000
            - 2,001 - 5,000
            - 5,001 - 10,000
            - 10,001 +
          description: Size of the institute.
          type: string
        instituteType:
          description: Designated institute type of customer.
          enumDescriptions:
            - Not used.
            - Elementary/Secondary Schools & Districts
            - Higher Education Universities & Colleges
          type: string
          enum:
            - INSTITUTE_TYPE_UNSPECIFIED
            - K12
            - UNIVERSITY
    GoogleCloudChannelV1ListSkuGroupBillableSkusResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            A token to retrieve the next page of results. Pass to
            ListSkuGroupBillableSkus.page_token to obtain that page.
        billableSkus:
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1BillableSku'
          description: The list of billable SKUs in the requested SKU group.
          type: array
      description: Response message for ListSkuGroupBillableSkus.
      type: object
      id: GoogleCloudChannelV1ListSkuGroupBillableSkusResponse
    GoogleCloudChannelV1alpha1DateRange:
      properties:
        usageStartDateTime:
          description: >-
            The earliest usage date time (inclusive). If you use time groupings
            (daily, weekly, etc), each group uses midnight to midnight (Pacific
            time). The usage start date is rounded down to include all usage
            from the specified date. We recommend that clients pass
            `usage_start_date_time` in Pacific time.
          $ref: '#/components/schemas/GoogleTypeDateTime'
        usageEndDateTime:
          description: >-
            The latest usage date time (exclusive). If you use time groupings
            (daily, weekly, etc), each group uses midnight to midnight (Pacific
            time). The usage end date is rounded down to include all usage from
            the specified date. We recommend that clients pass
            `usage_start_date_time` in Pacific time.
          $ref: '#/components/schemas/GoogleTypeDateTime'
        invoiceEndDate:
          description: >-
            The latest invoice date (inclusive). If this value is not the last
            day of a month, this will move it forward to the last day of the
            given month.
          $ref: '#/components/schemas/GoogleTypeDate'
        invoiceStartDate:
          description: >-
            The earliest invoice date (inclusive). If this value is not the
            first day of a month, this will move it back to the first day of the
            given month.
          $ref: '#/components/schemas/GoogleTypeDate'
      description: A representation of usage or invoice date ranges.
      id: GoogleCloudChannelV1alpha1DateRange
      type: object
    GoogleCloudChannelV1ConditionalOverride:
      id: GoogleCloudChannelV1ConditionalOverride
      type: object
      description: Specifies the override to conditionally apply.
      properties:
        adjustment:
          description: Required. Information about the applied override's adjustment.
          $ref: '#/components/schemas/GoogleCloudChannelV1RepricingAdjustment'
        rebillingBasis:
          description: >-
            Required. The RebillingBasis to use for the applied override. Shows
            the relative cost based on your repricing costs.
          enum:
            - REBILLING_BASIS_UNSPECIFIED
            - COST_AT_LIST
            - DIRECT_CUSTOMER_COST
          enumDescriptions:
            - Not used.
            - Use the list cost, also known as the MSRP.
            - >-
              Pass through all discounts except the Reseller Program Discount.
              If this is the default cost base and no adjustments are specified,
              the output cost will be exactly what the customer would see if
              they viewed the bill in the Google Cloud Console.
          type: string
        repricingCondition:
          description: >-
            Required. Specifies the condition which, if met, will apply the
            override.
          $ref: '#/components/schemas/GoogleCloudChannelV1RepricingCondition'
    GoogleCloudChannelV1MarketingInfo:
      type: object
      description: Represents the marketing information for a Product, SKU or Offer.
      properties:
        description:
          description: Human readable description. Description can contain HTML.
          type: string
        defaultLogo:
          $ref: '#/components/schemas/GoogleCloudChannelV1Media'
          description: Default logo.
        displayName:
          type: string
          description: Human readable name.
      id: GoogleCloudChannelV1MarketingInfo
    GoogleRpcStatus:
      properties:
        details:
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
          items:
            additionalProperties:
              type: any
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
        code:
          format: int32
          description: The status code, which should be an enum value of google.rpc.Code.
          type: integer
        message:
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
          type: string
      type: object
      id: GoogleRpcStatus
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
    GoogleCloudChannelV1Period:
      properties:
        duration:
          description: Total duration of Period Type defined.
          type: integer
          format: int32
        periodType:
          enum:
            - PERIOD_TYPE_UNSPECIFIED
            - DAY
            - MONTH
            - YEAR
          type: string
          description: Period Type.
          enumDescriptions:
            - Not used.
            - Day.
            - Month.
            - Year.
      type: object
      description: Represents period in days/months/years.
      id: GoogleCloudChannelV1Period
    GoogleCloudChannelV1EntitlementEvent:
      properties:
        entitlement:
          type: string
          description: >-
            Resource name of an entitlement of the form:
            accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}
        eventType:
          description: Type of event which happened on the entitlement.
          type: string
          enumDescriptions:
            - Not used.
            - A new entitlement was created.
            - >-
              The offer type associated with an entitlement was changed. This is
              not triggered if an entitlement converts from a commit offer to a
              flexible offer as part of a renewal.
            - Annual commitment for a commit plan was changed.
            - An annual entitlement was renewed.
            - Entitlement was suspended.
            - Entitlement was unsuspended.
            - Entitlement was cancelled.
            - >-
              Entitlement was upgraded or downgraded (e.g. from Google Workspace
              Business Standard to Google Workspace Business Plus).
            - The renewal settings of an entitlement has changed.
            - Paid service has started on trial entitlement.
            - License was assigned to or revoked from a user.
            - License cap was changed for the entitlement.
          enum:
            - TYPE_UNSPECIFIED
            - CREATED
            - PRICE_PLAN_SWITCHED
            - COMMITMENT_CHANGED
            - RENEWED
            - SUSPENDED
            - ACTIVATED
            - CANCELLED
            - SKU_CHANGED
            - RENEWAL_SETTING_CHANGED
            - PAID_SERVICE_STARTED
            - LICENSE_ASSIGNMENT_CHANGED
            - LICENSE_CAP_CHANGED
      type: object
      id: GoogleCloudChannelV1EntitlementEvent
      description: Represents Pub/Sub message content describing entitlement update.
    GoogleCloudChannelV1Plan:
      properties:
        paymentCycle:
          $ref: '#/components/schemas/GoogleCloudChannelV1Period'
          description: >-
            Describes how frequently the reseller will be billed, such as once
            per month.
        trialPeriod:
          $ref: '#/components/schemas/GoogleCloudChannelV1Period'
          description: >-
            Present for Offers with a trial period. For trial-only Offers, a
            paid service needs to start before the trial period ends for
            continued service. For Regular Offers with a trial period, the
            regular pricing goes into effect when trial period ends, or if paid
            service is started before the end of the trial period.
        paymentPlan:
          type: string
          enum:
            - PAYMENT_PLAN_UNSPECIFIED
            - COMMITMENT
            - FLEXIBLE
            - FREE
            - TRIAL
            - OFFLINE
          enumDescriptions:
            - Not used.
            - Commitment.
            - No commitment.
            - Free.
            - Trial.
            - Price and ordering not available through API.
          description: Describes how a reseller will be billed.
        paymentType:
          type: string
          enumDescriptions:
            - Not used.
            - Prepay. Amount has to be paid before service is rendered.
            - Postpay. Reseller is charged at the end of the Payment cycle.
          enum:
            - PAYMENT_TYPE_UNSPECIFIED
            - PREPAY
            - POSTPAY
          description: Specifies when the payment needs to happen.
        billingAccount:
          description: >-
            Reseller Billing account to charge after an offer transaction. Only
            present for Google Cloud offers.
          type: string
      description: The payment plan for the Offer. Describes how to make a payment.
      id: GoogleCloudChannelV1Plan
      type: object
    GoogleCloudChannelV1StartPaidServiceRequest:
      description: Request message for CloudChannelService.StartPaidService.
      id: GoogleCloudChannelV1StartPaidServiceRequest
      properties:
        requestId:
          description: >-
            Optional. You can specify an optional unique request ID, and if you
            need to retry your request, the server will know to ignore the
            request if it's complete. For example, you make an initial request
            and the request times out. If you make the request again with the
            same request ID, the server can check if it received the original
            operation with the same request ID. If it did, it will ignore the
            second request. The request ID must be a valid
            [UUID](https://tools.ietf.org/html/rfc4122) with the exception that
            zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).
          type: string
      type: object
    GoogleCloudChannelV1TransferableOffer:
      properties:
        offer:
          $ref: '#/components/schemas/GoogleCloudChannelV1Offer'
          description: Offer with parameter constraints updated to allow the Transfer.
      id: GoogleCloudChannelV1TransferableOffer
      description: >-
        TransferableOffer represents an Offer that can be used in Transfer.
        Read-only.
      type: object
    GoogleTypePostalAddress:
      type: object
      description: >-
        Represents a postal address, e.g. for postal delivery or payments
        addresses. Given a postal address, a postal service can deliver items to
        a premise, P.O. Box or similar. It is not intended to model geographical
        locations (roads, towns, mountains). In typical usage an address would
        be created via user input or from importing existing data, depending on
        the type of process. Advice on address input / editing: - Use an
        internationalization-ready address widget such as
        https://github.com/google/libaddressinput) - Users should not be
        presented with UI elements for input or editing of fields outside
        countries where that field is used. For more guidance on how to use this
        schema, please see: https://support.google.com/business/answer/6397478
      id: GoogleTypePostalAddress
      properties:
        sortingCode:
          type: string
          description: >-
            Optional. Additional, country-specific, sorting code. This is not
            used in most regions. Where it is used, the value is either a string
            like "CEDEX", optionally followed by a number (e.g. "CEDEX 7"), or
            just a number alone, representing the "sector code" (Jamaica),
            "delivery area indicator" (Malawi) or "post office indicator" (e.g.
            Côte d'Ivoire).
        sublocality:
          type: string
          description: >-
            Optional. Sublocality of the address. For example, this can be
            neighborhoods, boroughs, districts.
        organization:
          type: string
          description: Optional. The name of the organization at the address.
        locality:
          type: string
          description: >-
            Optional. Generally refers to the city/town portion of the address.
            Examples: US city, IT comune, UK post town. In regions of the world
            where localities are not well defined or do not fit into this
            structure well, leave locality empty and use address_lines.
        administrativeArea:
          type: string
          description: >-
            Optional. Highest administrative subdivision which is used for
            postal addresses of a country or region. For example, this can be a
            state, a province, an oblast, or a prefecture. Specifically, for
            Spain this is the province and not the autonomous community (e.g.
            "Barcelona" and not "Catalonia"). Many countries don't use an
            administrative area in postal addresses. E.g. in Switzerland this
            should be left unpopulated.
        postalCode:
          type: string
          description: >-
            Optional. Postal code of the address. Not all countries use or
            require postal codes to be present, but where they are used, they
            may trigger additional validation with other parts of the address
            (e.g. state/zip validation in the U.S.A.).
        recipients:
          items:
            type: string
          description: >-
            Optional. The recipient at the address. This field may, under
            certain circumstances, contain multiline information. For example,
            it might contain "care of" information.
          type: array
        addressLines:
          description: >-
            Unstructured address lines describing the lower levels of an
            address. Because values in address_lines do not have type
            information and may sometimes contain multiple values in a single
            field (e.g. "Austin, TX"), it is important that the line order is
            clear. The order of address lines should be "envelope order" for the
            country/region of the address. In places where this can vary (e.g.
            Japan), address_language is used to make it explicit (e.g. "ja" for
            large-to-small ordering and "ja-Latn" or "en" for small-to-large).
            This way, the most specific line of an address can be selected based
            on the language. The minimum permitted structural representation of
            an address consists of a region_code with all remaining information
            placed in the address_lines. It would be possible to format such an
            address very approximately without geocoding, but no semantic
            reasoning could be made about any of the address components until it
            was at least partially resolved. Creating an address only containing
            a region_code and address_lines, and then geocoding is the
            recommended way to handle completely unstructured addresses (as
            opposed to guessing which parts of the address should be localities
            or administrative areas).
          items:
            type: string
          type: array
        languageCode:
          type: string
          description: >-
            Optional. BCP-47 language code of the contents of this address (if
            known). This is often the UI language of the input form or is
            expected to match one of the languages used in the address'
            country/region, or their transliterated equivalents. This can affect
            formatting in certain countries, but is not critical to the
            correctness of the data and will never affect any validation or
            other non-formatting related operations. If this value is not known,
            it should be omitted (rather than specifying a possibly incorrect
            default). Examples: "zh-Hant", "ja", "ja-Latn", "en".
        regionCode:
          type: string
          description: >-
            Required. CLDR region code of the country/region of the address.
            This is never inferred and it is up to the user to ensure the value
            is correct. See https://cldr.unicode.org/ and
            https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html
            for details. Example: "CH" for Switzerland.
        revision:
          format: int32
          type: integer
          description: >-
            The schema revision of the `PostalAddress`. This must be set to 0,
            which is the latest revision. All new revisions **must** be backward
            compatible with old revisions.
    GoogleCloudChannelV1ListReportsResponse:
      properties:
        reports:
          type: array
          description: The reports available to the partner.
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1Report'
        nextPageToken:
          type: string
          description: >-
            Pass this token to FetchReportResultsRequest.page_token to retrieve
            the next page of results.
      description: Response message for CloudChannelReportsService.ListReports.
      id: GoogleCloudChannelV1ListReportsResponse
      type: object
    GoogleCloudChannelV1SuspendEntitlementRequest:
      type: object
      properties:
        requestId:
          description: >-
            Optional. You can specify an optional unique request ID, and if you
            need to retry your request, the server will know to ignore the
            request if it's complete. For example, you make an initial request
            and the request times out. If you make the request again with the
            same request ID, the server can check if it received the original
            operation with the same request ID. If it did, it will ignore the
            second request. The request ID must be a valid
            [UUID](https://tools.ietf.org/html/rfc4122) with the exception that
            zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).
          type: string
      description: Request message for CloudChannelService.SuspendEntitlement.
      id: GoogleCloudChannelV1SuspendEntitlementRequest
    GoogleCloudChannelV1alpha1CommitmentSettings:
      description: Commitment settings for commitment-based offers.
      type: object
      id: GoogleCloudChannelV1alpha1CommitmentSettings
      properties:
        endTime:
          description: Output only. Commitment end timestamp.
          readOnly: true
          format: google-datetime
          type: string
        startTime:
          format: google-datetime
          type: string
          readOnly: true
          description: Output only. Commitment start timestamp.
        renewalSettings:
          description: Optional. Renewal settings applicable for a commitment-based Offer.
          $ref: '#/components/schemas/GoogleCloudChannelV1alpha1RenewalSettings'
    GoogleCloudChannelV1Parameter:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/GoogleCloudChannelV1Value'
          description: Value of the parameter.
        name:
          description: Name of the parameter.
          type: string
        editable:
          readOnly: true
          description: >-
            Output only. Specifies whether this parameter is allowed to be
            changed. For example, for a Google Workspace Business Starter
            entitlement in commitment plan, num_units is editable when
            entitlement is active.
          type: boolean
      description: Definition for extended entitlement parameters.
      id: GoogleCloudChannelV1Parameter
    GoogleCloudChannelV1RepricingCondition:
      description: >-
        Represents the various repricing conditions you can use for a
        conditional override.
      properties:
        skuGroupCondition:
          description: SKU Group condition for override.
          $ref: '#/components/schemas/GoogleCloudChannelV1SkuGroupCondition'
      id: GoogleCloudChannelV1RepricingCondition
      type: object
    GoogleCloudChannelV1alpha1RenewalSettings:
      type: object
      id: GoogleCloudChannelV1alpha1RenewalSettings
      description: Renewal settings for renewable Offers.
      properties:
        disableCommitment:
          type: boolean
          description: >-
            If true, disables commitment-based offer on renewal and switches to
            flexible or pay as you go. Deprecated: Use `payment_plan` instead.
        paymentCycle:
          description: >-
            Describes how frequently the reseller will be billed, such as once
            per month.
          $ref: '#/components/schemas/GoogleCloudChannelV1alpha1Period'
        paymentPlan:
          type: string
          description: Describes how a reseller will be billed.
          enumDescriptions:
            - Not used.
            - Commitment.
            - No commitment.
            - Free.
            - Trial.
            - Price and ordering not available through API.
          enum:
            - PAYMENT_PLAN_UNSPECIFIED
            - COMMITMENT
            - FLEXIBLE
            - FREE
            - TRIAL
            - OFFLINE
        scheduledRenewalOffer:
          readOnly: true
          description: >-
            Output only. The offer resource name that the entitlement will renew
            on at the end date. Takes the form:
            accounts/{account_id}/offers/{offer_id}.
          type: string
        paymentOption:
          enum:
            - PAYMENT_OPTION_UNSPECIFIED
            - ANNUAL
            - MONTHLY
          enumDescriptions:
            - Not used.
            - Paid in yearly installments.
            - Paid in monthly installments.
          description: 'Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead.'
          type: string
        resizeUnitCount:
          description: >-
            If true and enable_renewal = true, the unit (for example seats or
            licenses) will be set to the number of active units at renewal time.
          type: boolean
        enableRenewal:
          description: If false, the plan will be completed at the end date.
          type: boolean
    GoogleTypeTimeZone:
      id: GoogleTypeTimeZone
      properties:
        id:
          description: IANA Time Zone Database time zone, e.g. "America/New_York".
          type: string
        version:
          type: string
          description: Optional. IANA Time Zone Database version number, e.g. "2019a".
      description: >-
        Represents a time zone from the [IANA Time Zone
        Database](https://www.iana.org/time-zones).
      type: object
    GoogleTypeDecimal:
      properties:
        value:
          type: string
          description: >-
            The decimal value, as a string. The string representation consists
            of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a
            sequence of zero or more decimal digits ("the integer"), optionally
            followed by a fraction, optionally followed by an exponent. An empty
            string **should** be interpreted as `0`. The fraction consists of a
            decimal point followed by zero or more decimal digits. The string
            must contain at least one digit in either the integer or the
            fraction. The number formed by the sign, the integer and the
            fraction is referred to as the significand. The exponent consists of
            the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or
            more decimal digits. Services **should** normalize decimal values
            before storing them by: - Removing an explicitly-provided `+` sign
            (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0`
            (`.5` -> `0.5`). - Coercing the exponent character to upper-case,
            with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an
            explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services
            **may** perform additional normalization based on its own needs and
            the internal decimal implementation selected, such as shifting the
            decimal point and exponent value together (example: `2.5E-1` <->
            `0.25`). Additionally, services **may** preserve trailing zeroes in
            the fraction to indicate increased precision, but are not required
            to do so. Note that only the `.` character is supported to divide
            the integer and the fraction; `,` **should not** be supported
            regardless of locale. Additionally, thousand separators **should
            not** be supported. If a service does support them, values **must**
            be normalized. The ENBF grammar is: DecimalString = '' | [Sign]
            Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' |
            [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits =
            { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' };
            Services **should** clearly document the range of supported values,
            the maximum supported precision (total number of digits), and, if
            applicable, the scale (number of digits after the decimal point), as
            well as how it behaves when receiving out-of-bounds values. Services
            **may** choose to accept values passed as input even when the value
            has a higher precision or scale than the service supports, and
            **should** round the value to fit the supported scale.
            Alternatively, the service **may** error with `400 Bad Request`
            (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services
            **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC)
            if the service receives a value outside of the supported range.
      description: >-
        A representation of a decimal value, such as 2.5. Clients may convert
        values into language-native decimal formats, such as Java's BigDecimal
        or Python's decimal.Decimal. [BigDecimal]:
        https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html
        [decimal.Decimal]: https://docs.python.org/3/library/decimal.html
      id: GoogleTypeDecimal
      type: object
    GoogleCloudChannelV1BillableSku:
      type: object
      properties:
        service:
          type: string
          description: >-
            Resource name of Service which contains Repricing SKU. Format:
            services/{service}. Example: "services/B7D9-FDCB-15D8".
        serviceDisplayName:
          description: Unique human readable name for the Service.
          type: string
        skuDisplayName:
          type: string
          description: Unique human readable name for the SKU.
        sku:
          type: string
          description: >-
            Resource name of Billable SKU. Format: billableSkus/{sku}. Example:
            billableSkus/6E1B-6634-470F".
      id: GoogleCloudChannelV1BillableSku
      description: Represents the Billable SKU information.
    GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse:
      type: object
      properties:
        cloudIdentityAccounts:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudChannelV1CloudIdentityCustomerAccount
          description: The Cloud Identity accounts associated with the domain.
          type: array
      description: >-
        Response message for
        CloudChannelService.CheckCloudIdentityAccountsExist.
      id: GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse
    GoogleCloudChannelV1ListTransferableOffersRequest:
      type: object
      properties:
        customerName:
          type: string
          description: >-
            A reseller should create a customer and use the resource name of
            that customer here.
        cloudIdentityId:
          type: string
          description: Customer's Cloud Identity ID
        pageToken:
          type: string
          description: >-
            A token for a page of results other than the first page. Obtained
            using ListTransferableOffersResponse.next_page_token of the previous
            CloudChannelService.ListTransferableOffers call.
        billingAccount:
          type: string
          description: >-
            Optional. The Billing Account to look up Offers for. Format:
            accounts/{account_id}/billingAccounts/{billing_account_id}. This
            field is only relevant for multi-currency accounts. It should be
            left empty for single currency accounts.
        languageCode:
          type: string
          description: >-
            Optional. The BCP-47 language code. For example, "en-US". The
            response will localize in the corresponding language code, if
            specified. The default value is "en-US".
        sku:
          type: string
          description: Required. The SKU to look up Offers for.
        pageSize:
          type: integer
          description: >-
            Requested page size. Server might return fewer results than
            requested. If unspecified, returns at most 100 offers. The maximum
            value is 1000; the server will coerce values above 1000.
          format: int32
      id: GoogleCloudChannelV1ListTransferableOffersRequest
      description: Request message for CloudChannelService.ListTransferableOffers
    GoogleCloudChannelV1BillingAccountPurchaseInfo:
      description: Represents a billing account that can be used to make a purchase.
      properties:
        billingAccount:
          $ref: '#/components/schemas/GoogleCloudChannelV1BillingAccount'
          description: The billing account resource.
      id: GoogleCloudChannelV1BillingAccountPurchaseInfo
      type: object
    GoogleCloudChannelV1ListSubscribersResponse:
      description: Response Message for ListSubscribers.
      type: object
      properties:
        nextPageToken:
          type: string
          description: >-
            A token that can be sent as `page_token` to retrieve the next page.
            If this field is omitted, there are no subsequent pages.
        serviceAccounts:
          description: List of service accounts which have subscriber access to the topic.
          items:
            type: string
          type: array
        topic:
          type: string
          description: Name of the topic registered with the reseller.
      id: GoogleCloudChannelV1ListSubscribersResponse
    GoogleCloudChannelV1alpha1Value:
      id: GoogleCloudChannelV1alpha1Value
      type: object
      description: Data type and value of a parameter.
      properties:
        doubleValue:
          description: Represents a double value.
          type: number
          format: double
        protoValue:
          description: Represents an 'Any' proto value.
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
        int64Value:
          format: int64
          type: string
          description: Represents an int64 value.
        stringValue:
          description: Represents a string value.
          type: string
        boolValue:
          description: Represents a boolean value.
          type: boolean
    GoogleCloudChannelV1alpha1ChannelPartnerEvent:
      type: object
      description: >-
        Represents Pub/Sub messages about updates to a Channel Partner. You can
        retrieve updated values through the ChannelPartnerLinks API.
      id: GoogleCloudChannelV1alpha1ChannelPartnerEvent
      properties:
        eventType:
          enumDescriptions:
            - Default value. Does not display if there are no errors.
            - The Channel Partner link state changed.
            - >-
              The Channel Partner's Partner Advantage information changed. This
              can entail the Channel Partner's authorization to sell a product
              in a particular region.
          description: Type of event performed on the Channel Partner.
          enum:
            - TYPE_UNSPECIFIED
            - LINK_STATE_CHANGED
            - PARTNER_ADVANTAGE_INFO_CHANGED
          type: string
        channelPartner:
          type: string
          description: >-
            Resource name for the Channel Partner Link. Channel_partner uses the
            format:
            accounts/{account_id}/channelPartnerLinks/{channel_partner_id}
    GoogleCloudChannelV1ChangeOfferRequest:
      properties:
        requestId:
          description: >-
            Optional. You can specify an optional unique request ID, and if you
            need to retry your request, the server will know to ignore the
            request if it's complete. For example, you make an initial request
            and the request times out. If you make the request again with the
            same request ID, the server can check if it received the original
            operation with the same request ID. If it did, it will ignore the
            second request. The request ID must be a valid
            [UUID](https://tools.ietf.org/html/rfc4122) with the exception that
            zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).
          type: string
        offer:
          type: string
          description: >-
            Required. New Offer. Format:
            accounts/{account_id}/offers/{offer_id}.
        billingAccount:
          description: >-
            Optional. The billing account resource name that is used to pay for
            this entitlement when setting up billing on a trial subscription.
            This field is only relevant for multi-currency accounts. It should
            be left empty for single currency accounts.
          type: string
        purchaseOrderId:
          description: Optional. Purchase order id provided by the reseller.
          type: string
        parameters:
          description: >-
            Optional. Parameters needed to purchase the Offer. To view the
            available Parameters refer to the Offer.parameter_definitions from
            the desired offer.
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1Parameter'
          type: array
      description: Request message for CloudChannelService.ChangeOffer.
      id: GoogleCloudChannelV1ChangeOfferRequest
      type: object
    GoogleCloudChannelV1TransferEligibility:
      id: GoogleCloudChannelV1TransferEligibility
      description: Specifies transfer eligibility of a SKU.
      properties:
        description:
          description: >-
            Localized description if reseller is not eligible to transfer the
            SKU.
          type: string
        isEligible:
          type: boolean
          description: Whether reseller is eligible to transfer the SKU.
        ineligibilityReason:
          enum:
            - REASON_UNSPECIFIED
            - PENDING_TOS_ACCEPTANCE
            - SKU_NOT_ELIGIBLE
            - SKU_SUSPENDED
          description: Specified the reason for ineligibility.
          enumDescriptions:
            - Not used.
            - Reseller needs to accept TOS before transferring the SKU.
            - Reseller not eligible to sell the SKU.
            - SKU subscription is suspended
          type: string
      type: object
    GoogleCloudChannelV1Row:
      properties:
        values:
          type: array
          description: The list of values in the row.
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1ReportValue'
        partitionKey:
          description: >-
            The key for the partition this row belongs to. This field is empty
            if the report is not partitioned.
          type: string
      id: GoogleCloudChannelV1Row
      type: object
      description: A row of report values.
    GoogleCloudChannelV1ListEntitlementsResponse:
      description: Response message for CloudChannelService.ListEntitlements.
      type: object
      id: GoogleCloudChannelV1ListEntitlementsResponse
      properties:
        nextPageToken:
          type: string
          description: >-
            A token to list the next page of results. Pass to
            ListEntitlementsRequest.page_token to obtain that page.
        entitlements:
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1Entitlement'
          description: The reseller customer's entitlements.
          type: array
    GoogleCloudChannelV1CreateEntitlementRequest:
      description: Request message for CloudChannelService.CreateEntitlement
      type: object
      id: GoogleCloudChannelV1CreateEntitlementRequest
      properties:
        entitlement:
          description: Required. The entitlement to create.
          $ref: '#/components/schemas/GoogleCloudChannelV1Entitlement'
        requestId:
          type: string
          description: >-
            Optional. You can specify an optional unique request ID, and if you
            need to retry your request, the server will know to ignore the
            request if it's complete. For example, you make an initial request
            and the request times out. If you make the request again with the
            same request ID, the server can check if it received the original
            operation with the same request ID. If it did, it will ignore the
            second request. The request ID must be a valid
            [UUID](https://tools.ietf.org/html/rfc4122) with the exception that
            zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).
    GoogleCloudChannelV1ReportValue:
      description: A single report value.
      type: object
      id: GoogleCloudChannelV1ReportValue
      properties:
        stringValue:
          type: string
          description: A value of type `string`.
        dateValue:
          $ref: '#/components/schemas/GoogleTypeDate'
          description: A value of type `google.type.Date` (year, month, day).
        dateTimeValue:
          $ref: '#/components/schemas/GoogleTypeDateTime'
          description: >-
            A value of type `google.type.DateTime` (year, month, day, hour,
            minute, second, and UTC offset or timezone.)
        intValue:
          description: A value of type `int`.
          type: string
          format: int64
        moneyValue:
          description: >-
            A value of type `google.type.Money` (currency code, whole units,
            decimal units).
          $ref: '#/components/schemas/GoogleTypeMoney'
        decimalValue:
          $ref: '#/components/schemas/GoogleTypeDecimal'
          description: >-
            A value of type `google.type.Decimal`, representing non-integer
            numeric values.
    GoogleCloudChannelV1PurchasableOffer:
      description: >-
        Offer that you can purchase for a customer. This is used in the
        ListPurchasableOffer API response.
      id: GoogleCloudChannelV1PurchasableOffer
      properties:
        offer:
          description: Offer.
          $ref: '#/components/schemas/GoogleCloudChannelV1Offer'
      type: object
    GoogleCloudChannelV1Entitlement:
      description: >-
        An entitlement is a representation of a customer's ability to use a
        service.
      id: GoogleCloudChannelV1Entitlement
      properties:
        billingAccount:
          type: string
          description: >-
            Optional. The billing account resource name that is used to pay for
            this entitlement.
        commitmentSettings:
          description: >-
            Commitment settings for a commitment-based Offer. Required for
            commitment based offers.
          $ref: '#/components/schemas/GoogleCloudChannelV1CommitmentSettings'
        parameters:
          description: >-
            Extended entitlement parameters. When creating an entitlement, valid
            parameter names and values are defined in the
            Offer.parameter_definitions. For Google Workspace, the following
            Parameters may be accepted as input: - max_units: The maximum
            assignable units for a flexible offer OR - num_units: The total
            commitment for commitment-based offers The response may additionally
            include the following output-only Parameters: - assigned_units: The
            number of licenses assigned to users. For Google Cloud billing
            subaccounts, the following Parameter may be accepted as input: -
            display_name: The display name of the billing subaccount.
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1Parameter'
          type: array
        suspensionReasons:
          type: array
          readOnly: true
          description: >-
            Output only. Enumerable of all current suspension reasons for an
            entitlement.
          items:
            type: string
            enum:
              - SUSPENSION_REASON_UNSPECIFIED
              - RESELLER_INITIATED
              - TRIAL_ENDED
              - RENEWAL_WITH_TYPE_CANCEL
              - PENDING_TOS_ACCEPTANCE
              - OTHER
            enumDescriptions:
              - Not used.
              - Entitlement was manually suspended by the Reseller.
              - Trial ended.
              - Entitlement renewal was canceled.
              - >-
                Entitlement was automatically suspended on creation for pending
                ToS acceptance on customer.
              - Other reasons (internal reasons, abuse, etc.).
        name:
          type: string
          readOnly: true
          description: >-
            Output only. Resource name of an entitlement in the form:
            accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.
        updateTime:
          readOnly: true
          format: google-datetime
          description: Output only. The time at which the entitlement is updated.
          type: string
        createTime:
          type: string
          readOnly: true
          format: google-datetime
          description: Output only. The time at which the entitlement is created.
        provisioningState:
          type: string
          enumDescriptions:
            - Not used.
            - The entitlement is currently active.
            - The entitlement is currently suspended.
          enum:
            - PROVISIONING_STATE_UNSPECIFIED
            - ACTIVE
            - SUSPENDED
          description: Output only. Current provisioning state of the entitlement.
          readOnly: true
        purchaseOrderId:
          description: >-
            Optional. This purchase order (PO) information is for resellers to
            use for their company tracking usage. If a purchaseOrderId value is
            given, it appears in the API responses and shows up in the invoice.
            The property accepts up to 80 plain text characters. This is only
            supported for Google Workspace entitlements.
          type: string
        trialSettings:
          readOnly: true
          $ref: '#/components/schemas/GoogleCloudChannelV1TrialSettings'
          description: Output only. Settings for trial offers.
        associationInfo:
          description: Association information to other entitlements.
          $ref: '#/components/schemas/GoogleCloudChannelV1AssociationInfo'
        offer:
          type: string
          description: >-
            Required. The offer resource name for which the entitlement is to be
            created. Takes the form: accounts/{account_id}/offers/{offer_id}.
        provisionedService:
          $ref: '#/components/schemas/GoogleCloudChannelV1ProvisionedService'
          readOnly: true
          description: Output only. Service provisioning details for the entitlement.
      type: object
    GoogleCloudChannelV1RepricingAdjustment:
      type: object
      id: GoogleCloudChannelV1RepricingAdjustment
      description: A type that represents the various adjustments you can apply to a bill.
      properties:
        percentageAdjustment:
          description: Flat markup or markdown on an entire bill.
          $ref: '#/components/schemas/GoogleCloudChannelV1PercentageAdjustment'
    GoogleCloudChannelV1BillingAccount:
      properties:
        currencyCode:
          type: string
          readOnly: true
          description: Output only. The 3-letter currency code defined in ISO 4217.
        name:
          type: string
          readOnly: true
          description: >-
            Output only. Resource name of the billing account. Format:
            accounts/{account_id}/billingAccounts/{billing_account_id}.
        createTime:
          format: google-datetime
          type: string
          readOnly: true
          description: Output only. The time when this billing account was created.
        displayName:
          description: Display name of the billing account.
          type: string
        regionCode:
          description: Output only. The CLDR region code.
          type: string
          readOnly: true
      type: object
      description: Represents a billing account.
      id: GoogleCloudChannelV1BillingAccount
    GoogleCloudChannelV1Constraints:
      type: object
      id: GoogleCloudChannelV1Constraints
      properties:
        customerConstraints:
          description: >-
            Represents constraints required to purchase the Offer for a
            customer.
          $ref: '#/components/schemas/GoogleCloudChannelV1CustomerConstraints'
      description: Represents the constraints for buying the Offer.
    GoogleCloudChannelV1ParameterDefinition:
      id: GoogleCloudChannelV1ParameterDefinition
      type: object
      properties:
        parameterType:
          enum:
            - PARAMETER_TYPE_UNSPECIFIED
            - INT64
            - STRING
            - DOUBLE
            - BOOLEAN
          enumDescriptions:
            - Not used.
            - Int64 type.
            - String type.
            - Double type.
            - Boolean type.
          description: >-
            Data type of the parameter. Minimal value, Maximum value and allowed
            values will use specified data type here.
          type: string
        minValue:
          $ref: '#/components/schemas/GoogleCloudChannelV1Value'
          description: >-
            Minimal value of the parameter, if applicable. Inclusive. For
            example, minimal commitment when purchasing Anthos is 0.01.
            Applicable to INT64 and DOUBLE parameter types.
        name:
          description: Name of the parameter.
          type: string
        allowedValues:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1Value'
          description: >-
            If not empty, parameter values must be drawn from this list. For
            example, [us-west1, us-west2, ...] Applicable to STRING parameter
            type.
        optional:
          type: boolean
          description: If set to true, parameter is optional to purchase this Offer.
        maxValue:
          description: >-
            Maximum value of the parameter, if applicable. Inclusive. For
            example, maximum seats when purchasing Google Workspace Business
            Standard. Applicable to INT64 and DOUBLE parameter types.
          $ref: '#/components/schemas/GoogleCloudChannelV1Value'
      description: >-
        Parameter's definition. Specifies what parameter is required to use the
        current Offer to purchase.
    GoogleCloudChannelV1PurchasableSku:
      properties:
        sku:
          $ref: '#/components/schemas/GoogleCloudChannelV1Sku'
          description: SKU
      type: object
      id: GoogleCloudChannelV1PurchasableSku
      description: >-
        SKU that you can purchase. This is used in ListPurchasableSku API
        response.
    GoogleCloudChannelV1RunReportJobResponse:
      description: Response message for CloudChannelReportsService.RunReportJob.
      id: GoogleCloudChannelV1RunReportJobResponse
      type: object
      properties:
        reportJob:
          $ref: '#/components/schemas/GoogleCloudChannelV1ReportJob'
          description: >-
            Pass `report_job.name` to FetchReportResultsRequest.report_job to
            retrieve the report's results.
        reportMetadata:
          description: >-
            The metadata for the report's results (display name, columns, row
            count, and date range). If you view this before the operation
            finishes, you may see incomplete data.
          $ref: '#/components/schemas/GoogleCloudChannelV1ReportResultsMetadata'
    GoogleCloudChannelV1AdminUser:
      properties:
        givenName:
          type: string
          description: Given name of the admin user.
        familyName:
          type: string
          description: Family name of the admin user.
        email:
          description: Primary email of the admin user.
          type: string
      description: Information needed to create an Admin User for Google Workspace.
      type: object
      id: GoogleCloudChannelV1AdminUser
    GoogleCloudChannelV1ProvisionCloudIdentityRequest:
      properties:
        validateOnly:
          description: Validate the request and preview the review, but do not post it.
          type: boolean
        cloudIdentityInfo:
          description: CloudIdentity-specific customer information.
          $ref: '#/components/schemas/GoogleCloudChannelV1CloudIdentityInfo'
        user:
          $ref: '#/components/schemas/GoogleCloudChannelV1AdminUser'
          description: Admin user information.
      description: Request message for CloudChannelService.ProvisionCloudIdentity
      id: GoogleCloudChannelV1ProvisionCloudIdentityRequest
      type: object
    GoogleCloudChannelV1RenewalSettings:
      properties:
        resizeUnitCount:
          type: boolean
          description: >-
            If true and enable_renewal = true, the unit (for example seats or
            licenses) will be set to the number of active units at renewal time.
        paymentPlan:
          description: Describes how a reseller will be billed.
          enumDescriptions:
            - Not used.
            - Commitment.
            - No commitment.
            - Free.
            - Trial.
            - Price and ordering not available through API.
          enum:
            - PAYMENT_PLAN_UNSPECIFIED
            - COMMITMENT
            - FLEXIBLE
            - FREE
            - TRIAL
            - OFFLINE
          type: string
        paymentCycle:
          $ref: '#/components/schemas/GoogleCloudChannelV1Period'
          description: >-
            Describes how frequently the reseller will be billed, such as once
            per month.
        enableRenewal:
          description: If false, the plan will be completed at the end date.
          type: boolean
      type: object
      description: Renewal settings for renewable Offers.
      id: GoogleCloudChannelV1RenewalSettings
    GoogleCloudChannelV1TransferEntitlementsResponse:
      properties:
        entitlements:
          type: array
          description: The transferred entitlements.
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1Entitlement'
      description: >-
        Response message for CloudChannelService.TransferEntitlements. This is
        put in the response field of google.longrunning.Operation.
      id: GoogleCloudChannelV1TransferEntitlementsResponse
      type: object
    GoogleCloudChannelV1ActivateEntitlementRequest:
      type: object
      id: GoogleCloudChannelV1ActivateEntitlementRequest
      properties:
        requestId:
          type: string
          description: >-
            Optional. You can specify an optional unique request ID, and if you
            need to retry your request, the server will know to ignore the
            request if it's complete. For example, you make an initial request
            and the request times out. If you make the request again with the
            same request ID, the server can check if it received the original
            operation with the same request ID. If it did, it will ignore the
            second request. The request ID must be a valid
            [UUID](https://tools.ietf.org/html/rfc4122) with the exception that
            zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).
      description: Request message for CloudChannelService.ActivateEntitlement.
    GoogleCloudChannelV1SkuPurchaseGroup:
      type: object
      properties:
        skus:
          type: array
          description: >-
            Resource names of the SKUs included in this group. Format:
            products/{product_id}/skus/{sku_id}.
          items:
            type: string
        billingAccountPurchaseInfos:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudChannelV1BillingAccountPurchaseInfo
          description: List of billing accounts that are eligible to purhcase these SKUs.
          type: array
      id: GoogleCloudChannelV1SkuPurchaseGroup
      description: >-
        Represents a set of SKUs that must be purchased using the same billing
        account.
    GoogleCloudChannelV1Customer:
      id: GoogleCloudChannelV1Customer
      properties:
        name:
          type: string
          readOnly: true
          description: >-
            Output only. Resource name of the customer. Format:
            accounts/{account_id}/customers/{customer_id}
        languageCode:
          description: >-
            Optional. The BCP-47 language code, such as "en-US" or "sr-Latn".
            For more information, see
            https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
          type: string
        cloudIdentityId:
          type: string
          readOnly: true
          description: >-
            Output only. The customer's Cloud Identity ID if the customer has a
            Cloud Identity resource.
        correlationId:
          type: string
          description: >-
            Optional. External CRM ID for the customer. Populated only if a CRM
            ID exists for this customer.
        domain:
          description: >-
            Required. The customer's primary domain. Must match the primary
            contact email's domain.
          type: string
        orgPostalAddress:
          $ref: '#/components/schemas/GoogleTypePostalAddress'
          description: >-
            Required. The organization address for the customer. To enforce US
            laws and embargoes, we require a region and zip code. You must
            provide valid addresses for every customer. To set the customer's
            language, use the Customer-level language code.
        createTime:
          type: string
          description: Output only. Time when the customer was created.
          format: google-datetime
          readOnly: true
        cloudIdentityInfo:
          readOnly: true
          description: >-
            Output only. Cloud Identity information for the customer. Populated
            only if a Cloud Identity account exists for this customer.
          $ref: '#/components/schemas/GoogleCloudChannelV1CloudIdentityInfo'
        channelPartnerId:
          type: string
          description: >-
            Cloud Identity ID of the customer's channel partner. Populated only
            if a channel partner exists for this customer.
        alternateEmail:
          type: string
          description: >-
            Secondary contact email. You need to provide an alternate email to
            create different domains if a primary contact email already exists.
            Users will receive a notification with credentials when you create
            an admin.google.com account. Secondary emails are also recovery
            email addresses. Alternate emails are optional when you create Team
            customers.
        updateTime:
          type: string
          format: google-datetime
          description: Output only. Time when the customer was updated.
          readOnly: true
        primaryContactInfo:
          description: Primary contact info.
          $ref: '#/components/schemas/GoogleCloudChannelV1ContactInfo'
        orgDisplayName:
          description: >-
            Required. Name of the organization that the customer entity
            represents.
          type: string
      type: object
      description: Entity representing a customer of a reseller or distributor.
    GoogleCloudChannelV1alpha1TransferEntitlementsResponse:
      properties:
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1alpha1Entitlement'
          description: The transferred entitlements.
      type: object
      description: >-
        Response message for CloudChannelService.TransferEntitlements. This is
        put in the response field of google.longrunning.Operation.
      id: GoogleCloudChannelV1alpha1TransferEntitlementsResponse
    GoogleCloudChannelV1RegisterSubscriberRequest:
      description: Request Message for RegisterSubscriber.
      type: object
      properties:
        serviceAccount:
          description: >-
            Required. Service account that provides subscriber access to the
            registered topic.
          type: string
      id: GoogleCloudChannelV1RegisterSubscriberRequest
    GoogleLongrunningCancelOperationRequest:
      type: object
      description: The request message for Operations.CancelOperation.
      properties: {}
      id: GoogleLongrunningCancelOperationRequest
    GoogleLongrunningOperation:
      properties:
        name:
          type: string
          description: >-
            The server-assigned name, which is only unique within the same
            service that originally returns it. If you use the default HTTP
            mapping, the `name` should be a resource name ending with
            `operations/{unique_id}`.
        error:
          $ref: '#/components/schemas/GoogleRpcStatus'
          description: >-
            The error result of the operation in case of failure or
            cancellation.
        response:
          description: >-
            The normal response of the operation in case of success. If the
            original method returns no data on success, such as `Delete`, the
            response is `google.protobuf.Empty`. If the original method is
            standard `Get`/`Create`/`Update`, the response should be the
            resource. For other methods, the response should have the type
            `XxxResponse`, where `Xxx` is the original method name. For example,
            if the original method name is `TakeSnapshot()`, the inferred
            response type is `TakeSnapshotResponse`.
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
        metadata:
          additionalProperties:
            type: any
            description: Properties of the object. Contains field @type with type URL.
          type: object
          description: >-
            Service-specific metadata associated with the operation. It
            typically contains progress information and common metadata such as
            create time. Some services might not provide such metadata. Any
            method that returns a long-running operation should document the
            metadata type, if any.
        done:
          description: >-
            If the value is `false`, it means the operation is still in
            progress. If `true`, the operation is completed, and either `error`
            or `response` is available.
          type: boolean
      type: object
      id: GoogleLongrunningOperation
      description: >-
        This resource represents a long-running operation that is the result of
        a network API call.
    GoogleCloudChannelV1ContactInfo:
      type: object
      description: Contact information for a customer account.
      properties:
        email:
          type: string
          description: >-
            The customer account's contact email. Required for entitlements that
            create admin.google.com accounts, and serves as the customer's
            username for those accounts. Use this email to invite Team
            customers.
        lastName:
          type: string
          description: >-
            The customer account contact's last name. Optional for Team
            customers.
        firstName:
          description: >-
            The customer account contact's first name. Optional for Team
            customers.
          type: string
        title:
          description: Optional. The customer account contact's job title.
          type: string
        displayName:
          readOnly: true
          description: >-
            Output only. The customer account contact's display name, formatted
            as a combination of the customer's first and last name.
          type: string
        phone:
          description: The customer account's contact phone number.
          type: string
      id: GoogleCloudChannelV1ContactInfo
    GoogleCloudChannelV1ListPurchasableSkusResponse:
      properties:
        purchasableSkus:
          description: The list of SKUs requested.
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1PurchasableSku'
          type: array
        nextPageToken:
          type: string
          description: A token to retrieve the next page of results.
      id: GoogleCloudChannelV1ListPurchasableSkusResponse
      description: Response message for ListPurchasableSkus.
      type: object
    GoogleCloudChannelV1ReportJob:
      id: GoogleCloudChannelV1ReportJob
      type: object
      properties:
        reportStatus:
          description: The current status of report generation.
          $ref: '#/components/schemas/GoogleCloudChannelV1ReportStatus'
        name:
          type: string
          description: >-
            Required. The resource name of a report job. Name uses the format:
            `accounts/{account_id}/reportJobs/{report_job_id}`
      description: >-
        The result of a RunReportJob operation. Contains the name to use in
        FetchReportResultsRequest.report_job and the status of the operation.
    GoogleCloudChannelV1alpha1Column:
      id: GoogleCloudChannelV1alpha1Column
      type: object
      properties:
        displayName:
          type: string
          description: The column's display name.
        columnId:
          type: string
          description: >-
            The unique name of the column (for example, customer_domain,
            channel_partner, customer_cost). You can use column IDs in
            RunReportJobRequest.filter. To see all reports and their columns,
            call CloudChannelReportsService.ListReports.
        dataType:
          type: string
          enumDescriptions:
            - Not used.
            - ReportValues for this column will use string_value.
            - ReportValues for this column will use int_value.
            - ReportValues for this column will use decimal_value.
            - ReportValues for this column will use money_value.
            - ReportValues for this column will use date_value.
            - ReportValues for this column will use date_time_value.
          description: The type of the values for this column.
          enum:
            - DATA_TYPE_UNSPECIFIED
            - STRING
            - INT
            - DECIMAL
            - MONEY
            - DATE
            - DATE_TIME
      description: >-
        The definition of a report column. Specifies the data properties in the
        corresponding position of the report rows.
    GoogleCloudChannelV1FetchReportResultsRequest:
      properties:
        pageToken:
          description: >-
            Optional. A token that specifies a page of results beyond the first
            page. Obtained through FetchReportResultsResponse.next_page_token of
            the previous CloudChannelReportsService.FetchReportResults call.
          type: string
        pageSize:
          type: integer
          description: >-
            Optional. Requested page size of the report. The server may return
            fewer results than requested. If you don't specify a page size, the
            server uses a sensible default (may change over time). The maximum
            value is 30,000; the server will change larger values to 30,000.
          format: int32
        partitionKeys:
          items:
            type: string
          description: >-
            Optional. List of keys specifying which report partitions to return.
            If empty, returns all partitions.
          type: array
      description: Request message for CloudChannelReportsService.FetchReportResults.
      type: object
      id: GoogleCloudChannelV1FetchReportResultsRequest
    GoogleCloudChannelV1alpha1SubscriberEvent:
      type: object
      properties:
        channelPartnerEvent:
          $ref: '#/components/schemas/GoogleCloudChannelV1alpha1ChannelPartnerEvent'
          description: Channel Partner event sent as part of Pub/Sub event to partners.
        customerEvent:
          $ref: '#/components/schemas/GoogleCloudChannelV1alpha1CustomerEvent'
          description: Customer event sent as part of Pub/Sub event to partners.
        entitlementEvent:
          $ref: '#/components/schemas/GoogleCloudChannelV1alpha1EntitlementEvent'
          description: Entitlement event sent as part of Pub/Sub event to partners.
      description: >-
        Represents information which resellers will get as part of notification
        from Pub/Sub.
      id: GoogleCloudChannelV1alpha1SubscriberEvent
    GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse:
      type: object
      description: >-
        Response message for
        CloudChannelService.ListChannelPartnerRepricingConfigs.
      id: GoogleCloudChannelV1ListChannelPartnerRepricingConfigsResponse
      properties:
        nextPageToken:
          description: >-
            A token to retrieve the next page of results. Pass to
            ListChannelPartnerRepricingConfigsRequest.page_token to obtain that
            page.
          type: string
        channelPartnerRepricingConfigs:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudChannelV1ChannelPartnerRepricingConfig
          description: The repricing configs for this channel partner.
          type: array
    GoogleCloudChannelV1ChannelPartnerRepricingConfig:
      type: object
      description: >-
        Configuration for how a distributor will rebill a channel partner (also
        known as a distributor-authorized reseller).
      properties:
        repricingConfig:
          $ref: '#/components/schemas/GoogleCloudChannelV1RepricingConfig'
          description: >-
            Required. The configuration for bill modifications made by a
            reseller before sending it to ChannelPartner.
        name:
          type: string
          description: >-
            Output only. Resource name of the ChannelPartnerRepricingConfig.
            Format:
            accounts/{account_id}/channelPartnerLinks/{channel_partner_id}/channelPartnerRepricingConfigs/{id}.
          readOnly: true
        updateTime:
          format: google-datetime
          readOnly: true
          type: string
          description: >-
            Output only. Timestamp of an update to the repricing rule. If
            `update_time` is after RepricingConfig.effective_invoice_month then
            it indicates this was set mid-month.
      id: GoogleCloudChannelV1ChannelPartnerRepricingConfig
    GoogleCloudChannelV1SubscriberEvent:
      type: object
      properties:
        customerEvent:
          $ref: '#/components/schemas/GoogleCloudChannelV1CustomerEvent'
          description: Customer event sent as part of Pub/Sub event to partners.
        entitlementEvent:
          $ref: '#/components/schemas/GoogleCloudChannelV1EntitlementEvent'
          description: Entitlement event sent as part of Pub/Sub event to partners.
      description: >-
        Represents information which resellers will get as part of notification
        from Pub/Sub.
      id: GoogleCloudChannelV1SubscriberEvent
    GoogleCloudChannelV1alpha1Period:
      properties:
        duration:
          type: integer
          format: int32
          description: Total duration of Period Type defined.
        periodType:
          enumDescriptions:
            - Not used.
            - Day.
            - Month.
            - Year.
          description: Period Type.
          enum:
            - PERIOD_TYPE_UNSPECIFIED
            - DAY
            - MONTH
            - YEAR
          type: string
      type: object
      description: Represents period in days/months/years.
      id: GoogleCloudChannelV1alpha1Period
    GoogleCloudChannelV1OperationMetadata:
      id: GoogleCloudChannelV1OperationMetadata
      description: Provides contextual information about a google.longrunning.Operation.
      type: object
      properties:
        operationType:
          enum:
            - OPERATION_TYPE_UNSPECIFIED
            - CREATE_ENTITLEMENT
            - CHANGE_RENEWAL_SETTINGS
            - START_PAID_SERVICE
            - ACTIVATE_ENTITLEMENT
            - SUSPEND_ENTITLEMENT
            - CANCEL_ENTITLEMENT
            - TRANSFER_ENTITLEMENTS
            - TRANSFER_ENTITLEMENTS_TO_GOOGLE
            - CHANGE_OFFER
            - CHANGE_PARAMETERS
            - PROVISION_CLOUD_IDENTITY
          type: string
          enumDescriptions:
            - Not used.
            - Long Running Operation was triggered by CreateEntitlement.
            - Long Running Operation was triggered by ChangeRenewalSettings.
            - Long Running Operation was triggered by StartPaidService.
            - Long Running Operation was triggered by ActivateEntitlement.
            - Long Running Operation was triggered by SuspendEntitlement.
            - Long Running Operation was triggered by CancelEntitlement.
            - Long Running Operation was triggered by TransferEntitlements.
            - >-
              Long Running Operation was triggered by
              TransferEntitlementsToGoogle.
            - Long Running Operation was triggered by ChangeOffer.
            - Long Running Operation was triggered by ChangeParameters.
            - Long Running Operation was triggered by ProvisionCloudIdentity.
          description: The RPC that initiated this Long Running Operation.
    GoogleCloudChannelV1AssociationInfo:
      description: Association links that an entitlement has to other entitlements.
      id: GoogleCloudChannelV1AssociationInfo
      type: object
      properties:
        baseEntitlement:
          type: string
          description: >-
            The name of the base entitlement, for which this entitlement is an
            add-on.
    GoogleCloudChannelV1alpha1TrialSettings:
      type: object
      properties:
        trial:
          type: boolean
          description: >-
            Determines if the entitlement is in a trial or not: * `true` - The
            entitlement is in trial. * `false` - The entitlement is not in
            trial.
        endTime:
          format: google-datetime
          description: >-
            Date when the trial ends. The value is in milliseconds using the
            UNIX Epoch format. See an example [Epoch
            converter](https://www.epochconverter.com).
          type: string
      id: GoogleCloudChannelV1alpha1TrialSettings
      description: Settings for trial offers.
    GoogleCloudChannelV1CommitmentSettings:
      description: Commitment settings for commitment-based offers.
      type: object
      properties:
        startTime:
          readOnly: true
          description: Output only. Commitment start timestamp.
          format: google-datetime
          type: string
        renewalSettings:
          $ref: '#/components/schemas/GoogleCloudChannelV1RenewalSettings'
          description: Optional. Renewal settings applicable for a commitment-based Offer.
        endTime:
          format: google-datetime
          readOnly: true
          description: Output only. Commitment end timestamp.
          type: string
      id: GoogleCloudChannelV1CommitmentSettings
    GoogleCloudChannelV1CustomerEvent:
      type: object
      id: GoogleCloudChannelV1CustomerEvent
      properties:
        eventType:
          enumDescriptions:
            - Not used.
            - Primary domain for customer was changed.
            - Primary domain of the customer has been verified.
          enum:
            - TYPE_UNSPECIFIED
            - PRIMARY_DOMAIN_CHANGED
            - PRIMARY_DOMAIN_VERIFIED
          type: string
          description: Type of event which happened on the customer.
        customer:
          description: >-
            Resource name of the customer. Format:
            accounts/{account_id}/customers/{customer_id}
          type: string
      description: Represents Pub/Sub message content describing customer update.
    GoogleCloudChannelV1alpha1Entitlement:
      description: >-
        An entitlement is a representation of a customer's ability to use a
        service.
      properties:
        purchaseOrderId:
          type: string
          description: >-
            Optional. This purchase order (PO) information is for resellers to
            use for their company tracking usage. If a purchaseOrderId value is
            given, it appears in the API responses and shows up in the invoice.
            The property accepts up to 80 plain text characters. This is only
            supported for Google Workspace entitlements.
        provisioningState:
          enum:
            - PROVISIONING_STATE_UNSPECIFIED
            - ACTIVE
            - CANCELED
            - COMPLETE
            - PENDING
            - SUSPENDED
          enumDescriptions:
            - Not used.
            - The entitlement is currently active.
            - >-
              The entitlement was canceled. After an entitlement is `CANCELED`,
              its status will not change. Deprecated: Canceled entitlements will
              no longer be visible.
            - >-
              The entitlement reached end of term and was not renewed. After an
              entitlement is `COMPLETE`, its status will not change. Deprecated:
              This is represented as ProvisioningState=SUSPENDED and
              suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)
            - >-
              The entitlement is pending. Deprecated: This is represented as
              ProvisioningState=SUSPENDED and
              suspensionReason=PENDING_TOS_ACCEPTANCE
            - The entitlement is currently suspended.
          readOnly: true
          description: Output only. Current provisioning state of the entitlement.
          type: string
        associationInfo:
          $ref: '#/components/schemas/GoogleCloudChannelV1alpha1AssociationInfo'
          description: Association information to other entitlements.
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1alpha1Parameter'
          description: >-
            Extended entitlement parameters. When creating an entitlement, valid
            parameter names and values are defined in the
            Offer.parameter_definitions. For Google Workspace, the following
            Parameters may be accepted as input: - max_units: The maximum
            assignable units for a flexible offer OR - num_units: The total
            commitment for commitment-based offers The response may additionally
            include the following output-only Parameters: - assigned_units: The
            number of licenses assigned to users. For Google Cloud billing
            subaccounts, the following Parameter may be accepted as input: -
            display_name: The display name of the billing subaccount.
        numUnits:
          format: int32
          description: >-
            Number of units for a commitment-based Offer. For example, for
            seat-based Offers, this would be the number of seats; for
            license-based Offers, this would be the number of licenses. Required
            for creating commitment-based Offers. Deprecated: Use `parameters`
            instead.
          type: integer
        trialSettings:
          description: Output only. Settings for trial offers.
          readOnly: true
          $ref: '#/components/schemas/GoogleCloudChannelV1alpha1TrialSettings'
        createTime:
          description: Output only. The time at which the entitlement is created.
          format: google-datetime
          type: string
          readOnly: true
        assignedUnits:
          description: >-
            The current number of users that are assigned a license for the
            product defined in provisioned_service.skuId. Read-only. Deprecated:
            Use `parameters` instead.
          format: int32
          type: integer
        maxUnits:
          description: >-
            Maximum number of units for a non commitment-based Offer, such as
            Flexible, Trial or Free entitlements. For commitment-based
            entitlements, this is a read-only field, which only the internal
            support team can update. Deprecated: Use `parameters` instead.
          type: integer
          format: int32
        updateTime:
          description: Output only. The time at which the entitlement is updated.
          format: google-datetime
          type: string
          readOnly: true
        channelPartnerId:
          description: >-
            Cloud Identity ID of a channel partner who will be the direct
            reseller for the customer's order. This field is generally used in
            2-tier ordering, where the order is placed by a top-level
            distributor on behalf of their channel partner or reseller. Required
            for distributors. Deprecated: `channel_partner_id` has been moved to
            the Customer.
          type: string
        suspensionReasons:
          items:
            enum:
              - SUSPENSION_REASON_UNSPECIFIED
              - RESELLER_INITIATED
              - TRIAL_ENDED
              - RENEWAL_WITH_TYPE_CANCEL
              - PENDING_TOS_ACCEPTANCE
              - OTHER
            enumDescriptions:
              - Not used.
              - Entitlement was manually suspended by the Reseller.
              - Trial ended.
              - Entitlement renewal was canceled.
              - >-
                Entitlement was automatically suspended on creation for pending
                ToS acceptance on customer.
              - Other reasons (internal reasons, abuse, etc.).
            type: string
          readOnly: true
          description: >-
            Output only. Enumerable of all current suspension reasons for an
            entitlement.
          type: array
        commitmentSettings:
          description: >-
            Commitment settings for a commitment-based Offer. Required for
            commitment based offers.
          $ref: '#/components/schemas/GoogleCloudChannelV1alpha1CommitmentSettings'
        billingAccount:
          type: string
          description: >-
            Optional. The billing account resource name that is used to pay for
            this entitlement.
        name:
          type: string
          description: >-
            Output only. Resource name of an entitlement in the form:
            accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}.
          readOnly: true
        provisionedService:
          $ref: '#/components/schemas/GoogleCloudChannelV1alpha1ProvisionedService'
          readOnly: true
          description: Output only. Service provisioning details for the entitlement.
        offer:
          type: string
          description: >-
            Required. The offer resource name for which the entitlement is to be
            created. Takes the form: accounts/{account_id}/offers/{offer_id}.
      id: GoogleCloudChannelV1alpha1Entitlement
      type: object
    GoogleCloudChannelV1alpha1AssociationInfo:
      description: Association links that an entitlement has to other entitlements.
      id: GoogleCloudChannelV1alpha1AssociationInfo
      type: object
      properties:
        baseEntitlement:
          description: >-
            The name of the base entitlement, for which this entitlement is an
            add-on.
          type: string
    GoogleCloudChannelV1SkuGroupCondition:
      id: GoogleCloudChannelV1SkuGroupCondition
      type: object
      properties:
        skuGroup:
          description: >-
            Specifies a SKU group (https://cloud.google.com/skus/sku-groups).
            Resource name of SKU group. Format:
            accounts/{account}/skuGroups/{sku_group}. Example:
            "accounts/C01234/skuGroups/3d50fd57-3157-4577-a5a9-a219b8490041".
          type: string
      description: >-
        A condition that applies the override if a line item SKU is found in the
        SKU group.
    GoogleCloudChannelV1alpha1ReportStatus:
      id: GoogleCloudChannelV1alpha1ReportStatus
      properties:
        state:
          type: string
          enum:
            - STATE_UNSPECIFIED
            - STARTED
            - WRITING
            - AVAILABLE
            - FAILED
          enumDescriptions:
            - Not used.
            - Report processing started.
            - Data generated from the report is being staged.
            - Report data is available for access.
            - Report failed.
          description: The current state of the report generation process.
        startTime:
          type: string
          description: The report generation's start time.
          format: google-datetime
        endTime:
          format: google-datetime
          type: string
          description: The report generation's completion time.
      type: object
      description: Status of a report generation process.
    GoogleCloudChannelV1UpdateChannelPartnerLinkRequest:
      properties:
        updateMask:
          type: string
          format: google-fieldmask
          description: >-
            Required. The update mask that applies to the resource. The only
            allowable value for an update mask is
            channel_partner_link.link_state.
        channelPartnerLink:
          $ref: '#/components/schemas/GoogleCloudChannelV1ChannelPartnerLink'
          description: >-
            Required. The channel partner link to update. Only
            channel_partner_link.link_state is allowed for updates.
      id: GoogleCloudChannelV1UpdateChannelPartnerLinkRequest
      description: Request message for CloudChannelService.UpdateChannelPartnerLink
      type: object
    GoogleCloudChannelV1TransferEntitlementsRequest:
      id: GoogleCloudChannelV1TransferEntitlementsRequest
      properties:
        authToken:
          type: string
          description: >-
            The super admin of the resold customer generates this token to
            authorize a reseller to access their Cloud Identity and purchase
            entitlements on their behalf. You can omit this token after
            authorization. See https://support.google.com/a/answer/7643790 for
            more details.
        entitlements:
          items:
            $ref: '#/components/schemas/GoogleCloudChannelV1Entitlement'
          description: Required. The new entitlements to create or transfer.
          type: array
        requestId:
[...]
