openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Chrome Verified Access API
  description: >-
    API for Verified Access chrome extension to provide credential verification
    for chrome devices connecting to an enterprise network
  version: v2
  x-discovery-doc-revision: '20230606'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/chrome/verified-access
servers:
  - url: https://verifiedaccess.googleapis.com
components:
  schemas:
    DeviceSignals:
      properties:
        crowdStrikeAgent:
          description: >-
            Crowdstrike agent properties installed on the device, if any.
            Available on Windows and MacOS only.
          $ref: '#/components/schemas/CrowdStrikeAgent'
        realtimeUrlCheckMode:
          enumDescriptions:
            - Unspecified.
            - Disabled. Consumer Safe Browsing checks are applied.
            - Realtime check for main frame URLs is enabled.
          type: string
          enum:
            - REALTIME_URL_CHECK_MODE_UNSPECIFIED
            - REALTIME_URL_CHECK_MODE_DISABLED
            - REALTIME_URL_CHECK_MODE_ENABLED_MAIN_FRAME
          description: >-
            Whether Enterprise-grade (i.e. custom) unsafe URL scanning is
            enabled or not. This setting may be controlled by an enterprise
            policy:
            https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode
        operatingSystem:
          type: string
          description: The type of the Operating System currently running on the device.
          enumDescriptions:
            - UNSPECIFIED.
            - ChromeOS.
            - ChromiumOS.
            - Windows.
            - Mac Os X.
            - Linux
          enum:
            - OPERATING_SYSTEM_UNSPECIFIED
            - CHROME_OS
            - CHROMIUM_OS
            - WINDOWS
            - MAC_OS_X
            - LINUX
        osVersion:
          type: string
          description: >-
            The current version of the Operating System. On Windows and linux,
            the value will also include the security patch information.
        safeBrowsingProtectionLevel:
          type: string
          description: >-
            Safe Browsing Protection Level. That setting may be controlled by an
            enterprise policy:
            https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel.
          enum:
            - SAFE_BROWSING_PROTECTION_LEVEL_UNSPECIFIED
            - INACTIVE
            - STANDARD
            - ENHANCED
          enumDescriptions:
            - Unspecified.
            - Safe Browsing is disabled.
            - Safe Browsing is active in the standard mode.
            - Safe Browsing is active in the enhanced mode.
        trigger:
          description: The trigger which generated this set of signals.
          enum:
            - TRIGGER_UNSPECIFIED
            - TRIGGER_BROWSER_NAVIGATION
            - TRIGGER_LOGIN_SCREEN
          enumDescriptions:
            - Unspecified.
            - When navigating to an URL inside a browser.
            - When signing into an account on the ChromeOS login screen.
          type: string
        browserVersion:
          type: string
          description: >-
            Current version of the Chrome browser which generated this set of
            signals. Example value: "107.0.5286.0".
        siteIsolationEnabled:
          type: boolean
          description: >-
            Whether the Site Isolation (a.k.a Site Per Process) setting is
            enabled. That setting may be controlled by an enterprise policy:
            https://chromeenterprise.google/policies/#SitePerProcess
        windowsMachineDomain:
          type: string
          description: >-
            Windows domain that the current machine has joined. Available on
            Windows only.
        chromeRemoteDesktopAppBlocked:
          type: boolean
          description: >-
            Whether access to the Chrome Remote Desktop application is blocked
            via a policy.
        systemDnsServers:
          items:
            type: string
          description: >-
            List of the addesses of all OS level DNS servers configured in the
            device's network settings.
          type: array
        serialNumber:
          description: >-
            The serial number of the device. On Windows, this represents the
            BIOS's serial number. Not available on most Linux distributions.
          type: string
        macAddresses:
          items:
            type: string
          description: MAC addresses of the device.
          type: array
        osFirewall:
          description: >-
            The state of the OS level firewall. On ChromeOS, the value will
            always be ENABLED on regular devices and UNKNOWN on devices in
            developer mode.
          enum:
            - OS_FIREWALL_UNSPECIFIED
            - OS_FIREWALL_UNKNOWN
            - OS_FIREWALL_DISABLED
            - OS_FIREWALL_ENABLED
          type: string
          enumDescriptions:
            - Unspecified.
            - Chrome could not evaluate the OS firewall state.
            - The OS firewall is disabled.
            - The OS firewall is enabled.
        secureBootMode:
          type: string
          enum:
            - SECURE_BOOT_MODE_UNSPECIFIED
            - SECURE_BOOT_MODE_UNKNOWN
            - SECURE_BOOT_MODE_DISABLED
            - SECURE_BOOT_MODE_ENABLED
          description: >-
            Whether the device's startup software has its Secure Boot feature
            enabled. Available on Windows only.
          enumDescriptions:
            - Unspecified.
            - Chrome was unable to determine the Secure Boot mode.
            - Secure Boot was disabled on the startup software.
            - Secure Boot was enabled on the startup software.
        deviceModel:
          type: string
          description: The name of the device's model.
        imei:
          items:
            type: string
          description: >-
            International Mobile Equipment Identity (IMEI) of the device.
            Available on ChromeOS only.
          type: array
        windowsUserDomain:
          type: string
          description: Windows domain for the current OS user. Available on Windows only.
        diskEncryption:
          enumDescriptions:
            - Unspecified.
            - Chrome could not evaluate the encryption state.
            - The main disk is not encrypted.
            - The main disk is encrypted.
          enum:
            - DISK_ENCRYPTION_UNSPECIFIED
            - DISK_ENCRYPTION_UNKNOWN
            - DISK_ENCRYPTION_DISABLED
            - DISK_ENCRYPTION_ENCRYPTED
          description: >-
            The encryption state of the disk. On ChromeOS, the main disk is
            always ENCRYPTED.
          type: string
        deviceManufacturer:
          description: The name of the device's manufacturer.
          type: string
        thirdPartyBlockingEnabled:
          description: >-
            Whether Chrome is blocking third-party software injection or not.
            This setting may be controlled by an enterprise policy:
            https://chromeenterprise.google/policies/?policy=ThirdPartyBlockingEnabled.
            Available on Windows only.
          type: boolean
        allowScreenLock:
          type: boolean
          description: >-
            Value of the AllowScreenLock policy on the device. See
            https://chromeenterprise.google/policies/?policy=AllowScreenLock for
            more details. Available on ChromeOS only.
        meid:
          type: array
          items:
            type: string
          description: >-
            Mobile Equipment Identifier (MEID) of the device. Available on
            ChromeOS only.
        hostname:
          type: string
          description: Hostname of the device.
        screenLockSecured:
          enumDescriptions:
            - Unspecified.
            - Chrome could not evaluate the state of the Screen Lock mechanism.
            - The Screen Lock is not password-protected.
            - The Screen Lock is password-protected.
          enum:
            - SCREEN_LOCK_SECURED_UNSPECIFIED
            - SCREEN_LOCK_SECURED_UNKNOWN
            - SCREEN_LOCK_SECURED_DISABLED
            - SCREEN_LOCK_SECURED_ENABLED
          type: string
          description: >-
            The state of the Screen Lock password protection. On ChromeOS, this
            value will always be ENABLED as there is not way to disable
            requiring a password or pin when unlocking the device.
        deviceAffiliationIds:
          type: array
          items:
            type: string
          description: >-
            Affiliation IDs of the organizations that are affiliated with the
            organization that is currently managing the device. When the sets of
            device and profile affiliation IDs overlap, it means that the
            organizations managing the device and user are affiliated. To learn
            more about user affiliation, visit
            https://support.google.com/chrome/a/answer/12801245?ref_topic=9027936.
        passwordProtectionWarningTrigger:
          enum:
            - PASSWORD_PROTECTION_WARNING_TRIGGER_UNSPECIFIED
            - POLICY_UNSET
            - PASSWORD_PROTECTION_OFF
            - PASSWORD_REUSE
            - PHISHING_REUSE
          description: >-
            Whether the Password Protection Warning feature is enabled or not.
            Password protection alerts users when they reuse their protected
            password on potentially suspicious sites. This setting is controlled
            by an enterprise policy:
            https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger.
            Note that the policy unset does not have the same effects as having
            the policy explicitly set to `PASSWORD_PROTECTION_OFF`.
          enumDescriptions:
            - Unspecified.
            - The policy is not set.
            - No password protection warning will be shown.
            - >-
              Password protection warning is shown if a protected password is
              re-used.
            - >-
              Password protection warning is shown if a protected password is
              re-used on a known phishing website.
          type: string
        profileAffiliationIds:
          type: array
          items:
            type: string
          description: >-
            Affiliation IDs of the organizations that are affiliated with the
            organization that is currently managing the Chrome Profile’s user or
            ChromeOS user.
        builtInDnsClientEnabled:
          description: >-
            Whether Chrome's built-in DNS client is used. The OS DNS client is
            otherwise used. This value may be controlled by an enterprise
            policy:
            https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled.
          type: boolean
        displayName:
          description: The display name of the device, as defined by the user.
          type: string
        deviceEnrollmentDomain:
          type: string
          description: >-
            Enrollment domain of the customer which is currently managing the
            device.
      type: object
      id: DeviceSignals
      description: >-
        The device signals as reported by Chrome. Unless otherwise specified,
        signals are available on all platforms.
    Empty:
      id: Empty
      properties: {}
      type: object
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
    VerifyChallengeResponseResult:
      type: object
      id: VerifyChallengeResponseResult
      description: Result message for VerifiedAccess.VerifyChallengeResponse.
      properties:
        signedPublicKeyAndChallenge:
          type: string
          description: >-
            Certificate Signing Request (in the SPKAC format, base64 encoded) is
            returned in this field. This field will be set only if device has
            included CSR in its challenge response. (the option to include CSR
            is now available for both user and machine responses)
        keyTrustLevel:
          type: string
          enumDescriptions:
            - UNSPECIFIED.
            - ChromeOS device in verified mode.
            - ChromeOS device in developer mode.
            - Chrome Browser with the key stored in the device hardware.
            - Chrome Browser with the key stored at OS level.
            - Chrome Browser without an attestation key.
          enum:
            - KEY_TRUST_LEVEL_UNSPECIFIED
            - CHROME_OS_VERIFIED_MODE
            - CHROME_OS_DEVELOPER_MODE
            - CHROME_BROWSER_HW_KEY
            - CHROME_BROWSER_OS_KEY
            - CHROME_BROWSER_NO_KEY
          description: Device attested key trust level.
        virtualProfileId:
          type: string
          description: The ID of a profile on the device.
        virtualDeviceId:
          type: string
          description: >-
            Virtual device id of the device. The definition of virtual device id
            is platform-specific.
        customerId:
          description: >-
            Unique customer id that this device belongs to, as defined by the
            Google Admin SDK at
            https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers
          type: string
        deviceSignals:
          description: Device signals.
          $ref: '#/components/schemas/DeviceSignals'
        profileKeyTrustLevel:
          enumDescriptions:
            - UNSPECIFIED.
            - ChromeOS device in verified mode.
            - ChromeOS device in developer mode.
            - Chrome Browser with the key stored in the device hardware.
            - Chrome Browser with the key stored at OS level.
            - Chrome Browser without an attestation key.
          description: Profile attested key trust level.
          enum:
            - KEY_TRUST_LEVEL_UNSPECIFIED
            - CHROME_OS_VERIFIED_MODE
            - CHROME_OS_DEVELOPER_MODE
            - CHROME_BROWSER_HW_KEY
            - CHROME_BROWSER_OS_KEY
            - CHROME_BROWSER_NO_KEY
          type: string
        deviceSignal:
          type: string
          description: >-
            Deprecated. Device signal in json string representation. Prefer
            using `device_signals` instead.
        profileCustomerId:
          type: string
          description: >-
            Unique customer id that this profile belongs to, as defined by the
            Google Admin SDK at
            https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers
        devicePermanentId:
          type: string
          description: >-
            Device permanent id is returned in this field (for the machine
            response only).
    VerifyChallengeResponseRequest:
      id: VerifyChallengeResponseRequest
      type: object
      description: Signed ChallengeResponse.
      properties:
        expectedIdentity:
          type: string
          description: >-
            Optional. Service can optionally provide identity information about
            the device or user associated with the key. For an EMK, this value
            is the enrolled domain. For an EUK, this value is the user's email
            address. If present, this value will be checked against contents of
            the response, and verification will fail if there is no match.
        challengeResponse:
          format: byte
          type: string
          description: >-
            Required. The generated response to the challenge, the bytes
            representation of SignedData.
    CrowdStrikeAgent:
      properties:
        customerId:
          type: string
          description: The Customer ID to which the agent belongs to.
        agentId:
          type: string
          description: The Agent ID of the Crowdstrike agent.
      type: object
      id: CrowdStrikeAgent
      description: Properties of the CrowdStrike agent installed on a device.
    Challenge:
      type: object
      description: Result message for VerifiedAccess.GenerateChallenge.
      properties:
        challenge:
          type: string
          format: byte
          description: Generated challenge, the bytes representation of SignedData.
      id: Challenge
  parameters:
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/verifiedaccess: Verify your enterprise credentials
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v2/challenge:verify:
    parameters: &ref_1
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/prettyPrint'
    post:
      description: Verifies the challenge response.
      operationId: verifiedaccess.challenge.verify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyChallengeResponseRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/verifiedaccess
          Oauth2c:
            - https://www.googleapis.com/auth/verifiedaccess
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyChallengeResponseResult'
      parameters: []
      x-stackQL-resource: challenge
      x-stackQL-verb: exec
  /v2/challenge:generate:
    parameters: *ref_1
    post:
      description: Generates a new challenge.
      operationId: verifiedaccess.challenge.generate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/verifiedaccess
          Oauth2c:
            - https://www.googleapis.com/auth/verifiedaccess
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
      parameters: []
      x-stackQL-resource: challenge
      x-stackQL-verb: exec
