openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: DoubleClick Bid Manager API
  description: >-
    DoubleClick Bid Manager API allows users to manage and create campaigns and
    reports.
  version: v2
  x-discovery-doc-revision: '20230613'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/bid-manager/
servers:
  - url: https://doubleclickbidmanager.googleapis.com/v2
components:
  schemas:
    Date:
      properties:
        year:
          type: integer
          description: >-
            Year of the date. Must be from 1 to 9999, or 0 to specify a date
            without a year.
          format: int32
        day:
          format: int32
          type: integer
          description: >-
            Day of a month. Must be from 1 to 31 and valid for the year and
            month, or 0 to specify a year by itself or a year and month where
            the day isn't significant.
        month:
          type: integer
          description: >-
            Month of a year. Must be from 1 to 12, or 0 to specify a year
            without a month and day.
          format: int32
      description: >-
        Represents a whole or partial calendar date, such as a birthday. The
        time of day and time zone are either specified elsewhere or are
        insignificant. The date is relative to the Gregorian Calendar. This can
        represent one of the following: * A full date, with non-zero year,
        month, and day values. * A month and day, with a zero year (for example,
        an anniversary). * A year on its own, with a zero month and a zero day.
        * A year and month, with a zero day (for example, a credit card
        expiration date). Related types: * google.type.TimeOfDay *
        google.type.DateTime * google.protobuf.Timestamp
      id: Date
      type: object
    Query:
      type: object
      properties:
        queryId:
          description: Output only. Query ID.
          format: int64
          readOnly: true
          type: string
        metadata:
          $ref: '#/components/schemas/QueryMetadata'
          description: Query metadata.
        params:
          description: Query parameters.
          $ref: '#/components/schemas/Parameters'
        schedule:
          description: >-
            Information on how often and when to run a query. If `ONE_TIME` is
            set to the frequency field, the query will only be run at the time
            of creation.
          $ref: '#/components/schemas/QuerySchedule'
      description: Represents a query.
      id: Query
    PathFilter:
      properties:
        pathMatchPosition:
          enumDescriptions:
            - >-
              Default value when path match position is not specified or is
              unknown in this version.
            - Any position in the path.
            - The first position in the path.
            - The last position in the path.
          description: >-
            The position of the path the filter should match to (first, last, or
            any event in path).
          enum:
            - PATH_MATCH_POSITION_UNSPECIFIED
            - ANY
            - FIRST
            - LAST
          type: string
        eventFilters:
          description: Filter on an event to be applied to some part of the path.
          items:
            $ref: '#/components/schemas/EventFilter'
          type: array
      description: >-
        Path filters specify which paths to include in a report. A path is the
        result of combining DV360 events based on User ID to create a workflow
        of users' actions. When a path filter is set, the resulting report will
        only include paths that match the specified event at the specified
        position. All other paths will be excluded.
      type: object
      id: PathFilter
    Parameters:
      type: object
      properties:
        type:
          type: string
          enum:
            - REPORT_TYPE_UNSPECIFIED
            - STANDARD
            - INVENTORY_AVAILABILITY
            - AUDIENCE_COMPOSITION
            - FLOODLIGHT
            - YOUTUBE
            - GRP
            - YOUTUBE_PROGRAMMATIC_GUARANTEED
            - REACH
            - UNIQUE_REACH_AUDIENCE
            - FULL_PATH
            - PATH_ATTRIBUTION
          description: >-
            The type of the report. The type of the report will dictate what
            dimesions, filters, and metrics can be used.
          enumDescriptions:
            - >-
              Default value when report type is not specified or is unknown in
              this version.
            - Standard report.
            - Inventory Availability report.
            - Audience Composition report.
            - Floodlight report.
            - YouTube report.
            - GRP report.
            - YouTube Programmatic Guaranteed report.
            - Reach report.
            - Unique Reach Audience report.
            - Full Path report.
            - Path Attribution report.
        groupBys:
          description: Data is grouped by the filters listed in this field.
          type: array
          items:
            type: string
        filters:
          type: array
          items:
            $ref: '#/components/schemas/FilterPair'
          description: Filters used to match traffic data in your report.
        metrics:
          type: array
          items:
            type: string
          description: Metrics to include as columns in your report.
        options:
          description: Additional query options.
          $ref: '#/components/schemas/Options'
      id: Parameters
      description: Parameters of a query or report.
    PathQueryOptions:
      properties:
        pathFilters:
          description: >-
            Path Filters. There is a limit of 100 path filters that can be set
            per report.
          type: array
          items:
            $ref: '#/components/schemas/PathFilter'
        channelGrouping:
          $ref: '#/components/schemas/ChannelGrouping'
          description: Custom Channel Groupings.
      description: Path Query Options for Report Options.
      id: PathQueryOptions
      type: object
    Report:
      properties:
        key:
          description: Key used to identify a report.
          $ref: '#/components/schemas/ReportKey'
        params:
          $ref: '#/components/schemas/Parameters'
          description: Report parameters.
        metadata:
          description: Report metadata.
          $ref: '#/components/schemas/ReportMetadata'
      id: Report
      description: Represents a report.
      type: object
    PathQueryOptionsFilter:
      type: object
      properties:
        values:
          items:
            type: string
          type: array
          description: Values to filter on.
        filter:
          type: string
          description: Dimension the filter is applied to.
        match:
          description: Match logic of the filter.
          enum:
            - UNKNOWN
            - EXACT
            - PARTIAL
            - BEGINS_WITH
            - WILDCARD_EXPRESSION
          enumDescriptions:
            - >-
              Default value when match is not specified or is unknown in this
              version.
            - Matches a value exactly.
            - Matches a value partially.
            - Begins with a value.
            - Matches a value, utilizing wildcard character logic in the value.
          type: string
      id: PathQueryOptionsFilter
      description: Dimension filter on path events.
    RunQueryRequest:
      properties:
        dataRange:
          $ref: '#/components/schemas/DataRange'
          description: >-
            Report data range used to generate the report. If unspecified, the
            original parent query's data range is used.
      type: object
      id: RunQueryRequest
      description: Request to run a stored query to generate a report.
    ListReportsResponse:
      properties:
        reports:
          description: Retrieved reports.
          type: array
          items:
            $ref: '#/components/schemas/Report'
        nextPageToken:
          description: >-
            A token, which can be sent as page_token to retrieve the next page
            of reports. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
      id: ListReportsResponse
    ReportKey:
      description: Key used to identify a report.
      id: ReportKey
      properties:
        queryId:
          format: int64
          readOnly: true
          type: string
          description: Output only. Query ID.
        reportId:
          type: string
          readOnly: true
          description: Output only. Report ID.
          format: int64
      type: object
    ReportMetadata:
      id: ReportMetadata
      properties:
        reportDataStartDate:
          description: The starting time for the data that is shown in the report.
          $ref: '#/components/schemas/Date'
        reportDataEndDate:
          description: The ending time for the data that is shown in the report.
          $ref: '#/components/schemas/Date'
        status:
          description: Report status.
          $ref: '#/components/schemas/ReportStatus'
        googleCloudStoragePath:
          readOnly: true
          type: string
          description: >-
            Output only. The path to the location in Google Cloud Storage where
            the report is stored.
      description: Report metadata.
      type: object
    FilterPair:
      description: Filter used to match traffic data in your report.
      type: object
      id: FilterPair
      properties:
        value:
          type: string
          description: Filter value.
        type:
          description: Filter type.
          type: string
    QuerySchedule:
      type: object
      id: QuerySchedule
      description: Information on when and how frequently to run a query.
      properties:
        endDate:
          $ref: '#/components/schemas/Date'
          description: >-
            Date to periodically run the query until. Not applicable to
            `ONE_TIME` frequency.
        startDate:
          $ref: '#/components/schemas/Date'
          description: >-
            When to start running the query. Not applicable to `ONE_TIME`
            frequency.
        frequency:
          type: string
          description: How often the query is run.
          enum:
            - FREQUENCY_UNSPECIFIED
            - ONE_TIME
            - DAILY
            - WEEKLY
            - SEMI_MONTHLY
            - MONTHLY
            - QUARTERLY
            - YEARLY
          enumDescriptions:
            - >-
              Default value when frequency is not specified or is unknown in
              this version.
            - Only once.
            - Once a day.
            - Once a week.
            - Twice a month.
            - Once a month.
            - Once a quarter
            - Once a year.
        nextRunTimezoneCode:
          description: >-
            Canonical timezone code for report generation time. Defaults to
            `America/New_York`.
          type: string
    Options:
      properties:
        pathQueryOptions:
          $ref: '#/components/schemas/PathQueryOptions'
          description: Options that contain Path Filters and Custom Channel Groupings.
        includeOnlyTargetedUserLists:
          type: boolean
          description: >-
            Set to true and filter your report by `FILTER_INSERTION_ORDER` or
            `FILTER_LINE_ITEM` to include data for audience lists specifically
            targeted by those items.
      id: Options
      description: Additional query options.
      type: object
    QueryMetadata:
      type: object
      description: Query metadata.
      properties:
        sendNotification:
          description: >-
            Whether to send an email notification when a report is ready.
            Defaults to false.
          type: boolean
        shareEmailAddress:
          items:
            type: string
          type: array
          description: >-
            List of email addresses which are sent email notifications when the
            report is finished. Separate from send_notification.
        dataRange:
          $ref: '#/components/schemas/DataRange'
          description: >-
            Range of report data. All reports will be based on the same time
            zone as used by the advertiser.
        format:
          type: string
          description: Format of the generated report.
          enumDescriptions:
            - >-
              Default value when format is not specified or is unknown in this
              version.
            - CSV.
            - Excel.
          enum:
            - FORMAT_UNSPECIFIED
            - CSV
            - XLSX
        title:
          type: string
          description: >-
            Query title. It is used to name the reports generated from this
            query.
      id: QueryMetadata
    Rule:
      id: Rule
      description: >-
        A Rule defines a name, and a boolean expression in [conjunctive normal
        form]
        (http://mathworld.wolfram.com/ConjunctiveNormalForm.html){.external}
        that can be applied to a path event to determine if that name should be
        applied.
      properties:
        disjunctiveMatchStatements:
          description: >-
            DisjunctiveMatchStatements within a Rule. DisjunctiveMatchStatement
            OR's all contained filters.
          items:
            $ref: '#/components/schemas/DisjunctiveMatchStatement'
          type: array
        name:
          description: Rule name.
          type: string
      type: object
    ListQueriesResponse:
      id: ListQueriesResponse
      type: object
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as page_token to retrieve the next page
            of queries. If this field is omitted, there are no subsequent pages.
          type: string
        queries:
          description: The list of queries.
          type: array
          items:
            $ref: '#/components/schemas/Query'
    ChannelGrouping:
      type: object
      description: >-
        A channel grouping defines a set of rules that can be used to categorize
        events in a path report.
      properties:
        rules:
          items:
            $ref: '#/components/schemas/Rule'
          description: >-
            Rules within Channel Grouping. There is a limit of 100 rules that
            can be set per channel grouping.
          type: array
        name:
          type: string
          description: Channel Grouping name.
        fallbackName:
          type: string
          description: >-
            The name to apply to an event that does not match any of the rules
            in the channel grouping.
      id: ChannelGrouping
    DataRange:
      type: object
      description: Report data range.
      properties:
        customEndDate:
          description: >-
            The ending date for the data that is shown in the report. Note,
            `customEndDate` is required if `range` is `CUSTOM_DATES` and ignored
            otherwise.
          $ref: '#/components/schemas/Date'
        range:
          description: Report data range used to generate the report.
          enumDescriptions:
            - >-
              Default value when range is not specified or is unknown in this
              version.
            - >-
              Custom range specified by custom_start_date and custom_end_date
              fields.
            - Current day.
            - Previous day.
            - All days, including the current day, since the most recent Sunday.
            - >-
              All days, including the current day, since the start of the
              current month.
            - >-
              All days, including the current day, since the start of the
              current quarter.
            - >-
              All days, including the current day, since the start of the
              current calendar year.
            - The previous completed week, beginning from Sunday.
            - The previous completed calendar month.
            - The previous completed quarter.
            - The previous completed calendar year.
            - The previous 7 days, excluding the current day.
            - The previous 30 days, excluding the current day.
            - The previous 90 days, excluding the current day.
            - The previous 365 days, excluding the current day.
            - All time for which data is available, excluding the current day.
            - The previous 14 days, excluding the current day.
            - The previous 60 days, excluding the current day.
          type: string
          enum:
            - RANGE_UNSPECIFIED
            - CUSTOM_DATES
            - CURRENT_DAY
            - PREVIOUS_DAY
            - WEEK_TO_DATE
            - MONTH_TO_DATE
            - QUARTER_TO_DATE
            - YEAR_TO_DATE
            - PREVIOUS_WEEK
            - PREVIOUS_MONTH
            - PREVIOUS_QUARTER
            - PREVIOUS_YEAR
            - LAST_7_DAYS
            - LAST_30_DAYS
            - LAST_90_DAYS
            - LAST_365_DAYS
            - ALL_TIME
            - LAST_14_DAYS
            - LAST_60_DAYS
        customStartDate:
          $ref: '#/components/schemas/Date'
          description: >-
            The starting data for the data that is shown in the report. Note,
            `customStartDate` is required if `range` is `CUSTOM_DATES` and
            ignored otherwise.
      id: DataRange
    EventFilter:
      description: >-
        Defines the type of filter to be applied to the path, a DV360 event
        dimension filter.
      properties:
        dimensionFilter:
          $ref: '#/components/schemas/PathQueryOptionsFilter'
          description: Filter on a dimension.
      id: EventFilter
      type: object
    DisjunctiveMatchStatement:
      description: DisjunctiveMatchStatement that OR's all contained filters.
      id: DisjunctiveMatchStatement
      type: object
      properties:
        eventFilters:
          description: >-
            Filters. There is a limit of 100 filters that can be set per
            disjunctive match statement.
          type: array
          items:
            $ref: '#/components/schemas/EventFilter'
    ReportStatus:
      id: ReportStatus
      description: Report status.
      type: object
      properties:
        state:
          type: string
          enumDescriptions:
            - >-
              Default value when state is not specified or is unknown in this
              version.
            - The report is queued to run.
            - The report is currently running.
            - The report has finished running successfully.
            - The report has finished running in failure.
          readOnly: true
          enum:
            - STATE_UNSPECIFIED
            - QUEUED
            - RUNNING
            - DONE
            - FAILED
          description: Output only. The state of the report.
        format:
          enum:
            - FORMAT_UNSPECIFIED
            - CSV
            - XLSX
          type: string
          enumDescriptions:
            - >-
              Default value when format is not specified or is unknown in this
              version.
            - CSV.
            - Excel.
          description: The file type of the report.
        finishTime:
          description: >-
            Output only. The time when this report either completed successfully
            or failed.
          type: string
          format: google-datetime
          readOnly: true
  parameters:
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/doubleclickbidmanager: View and manage your reports in DoubleClick Bid Manager
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /queries/{queryId}:
    parameters: &ref_1
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/callback'
    delete:
      description: Deletes a query as well as the associated reports.
      operationId: doubleclickbidmanager.queries.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclickbidmanager
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclickbidmanager
      parameters:
        - in: path
          name: queryId
          required: true
          schema:
            type: string
      x-stackQL-resource: queries
      x-stackQL-verb: delete
    get:
      description: Retrieves a query.
      operationId: doubleclickbidmanager.queries.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclickbidmanager
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclickbidmanager
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Query'
      parameters:
        - in: path
          name: queryId
          required: true
          schema:
            type: string
      x-stackQL-resource: queries
      x-stackQL-verb: select
  /queries:
    parameters: *ref_1
    post:
      description: Creates a query.
      operationId: doubleclickbidmanager.queries.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclickbidmanager
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclickbidmanager
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Query'
      parameters: []
      x-stackQL-resource: queries
      x-stackQL-verb: insert
    get:
      description: Lists queries created by the current user.
      operationId: doubleclickbidmanager.queries.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclickbidmanager
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclickbidmanager
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueriesResponse'
      parameters:
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: orderBy
          schema:
            type: string
      x-stackQL-resource: queries
      x-stackQL-verb: select
  /queries/{queryId}:run:
    parameters: *ref_1
    post:
      description: Runs a stored query to generate a report.
      operationId: doubleclickbidmanager.queries.run
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunQueryRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclickbidmanager
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclickbidmanager
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
      parameters:
        - in: path
          name: queryId
          required: true
          schema:
            type: string
        - in: query
          name: synchronous
          schema:
            type: boolean
      x-stackQL-resource: queries
      x-stackQL-verb: exec
  /queries/{queryId}/reports:
    parameters: *ref_1
    get:
      description: Lists reports associated with a query.
      operationId: doubleclickbidmanager.queries.reports.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclickbidmanager
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclickbidmanager
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReportsResponse'
      parameters:
        - in: path
          name: queryId
          required: true
          schema:
            type: string
        - in: query
          name: orderBy
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: reports
      x-stackQL-verb: select
  /queries/{queryId}/reports/{reportId}:
    parameters: *ref_1
    get:
      description: Retrieves a report.
      operationId: doubleclickbidmanager.queries.reports.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/doubleclickbidmanager
          Oauth2c:
            - https://www.googleapis.com/auth/doubleclickbidmanager
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
      parameters:
        - in: path
          name: queryId
          required: true
          schema:
            type: string
        - in: path
          name: reportId
          required: true
          schema:
            type: string
      x-stackQL-resource: reports
      x-stackQL-verb: select
