openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Vision API
  description: >-
    Integrates Google Vision features, including image labeling, face, logo, and
    landmark detection, optical character recognition (OCR), and detection of
    explicit content, into applications.
  version: v1p2beta1
  x-discovery-doc-revision: '20230608'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/vision/
servers:
  - url: https://vision.googleapis.com
components:
  schemas:
    GoogleCloudVisionV1p2beta1BoundingPoly:
      type: object
      id: GoogleCloudVisionV1p2beta1BoundingPoly
      properties:
        vertices:
          type: array
          description: The bounding polygon vertices.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1Vertex'
        normalizedVertices:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1NormalizedVertex'
          type: array
          description: The bounding polygon normalized vertices.
      description: A bounding polygon for the detected image annotation.
    GoogleCloudVisionV1p2beta1GcsSource:
      properties:
        uri:
          type: string
          description: >-
            Google Cloud Storage URI for the input file. This must only be a
            Google Cloud Storage object. Wildcards are not currently supported.
      id: GoogleCloudVisionV1p2beta1GcsSource
      type: object
      description: The Google Cloud Storage location where the input will be read from.
    GoogleCloudVisionV1p4beta1Paragraph:
      type: object
      id: GoogleCloudVisionV1p4beta1Paragraph
      description: Structural unit of text representing a number of words in certain order.
      properties:
        confidence:
          description: Confidence of the OCR results for the paragraph. Range [0, 1].
          format: float
          type: number
        boundingBox:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1BoundingPoly'
          description: >-
            The bounding box for the paragraph. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
        property:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p4beta1TextAnnotationTextProperty
          description: Additional information detected for the paragraph.
        words:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1Word'
          description: List of all words in this paragraph.
    GoogleCloudVisionV1p4beta1OutputConfig:
      description: The desired output location and metadata.
      id: GoogleCloudVisionV1p4beta1OutputConfig
      type: object
      properties:
        gcsDestination:
          description: The Google Cloud Storage location to write the output(s) to.
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1GcsDestination'
        batchSize:
          format: int32
          description: >-
            The max number of response protos to put into each output JSON file
            on Google Cloud Storage. The valid range is [1, 100]. If not
            specified, the default value is 20. For example, for one pdf file
            with 100 pages, 100 response protos will be generated. If
            `batch_size` = 20, then 5 json files each containing 20 response
            protos will be written under the prefix `gcs_destination`.`uri`.
            Currently, batch_size only applies to GcsDestination, with potential
            future support for other output configurations.
          type: integer
    GoogleCloudVisionV1p1beta1AnnotateFileResponse:
      id: GoogleCloudVisionV1p1beta1AnnotateFileResponse
      description: >-
        Response to a single file annotation request. A file may contain one or
        more images, which individually have their own responses.
      type: object
      properties:
        responses:
          type: array
          description: >-
            Individual responses to images found within the file. This field
            will be empty if the `error` field is set.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1AnnotateImageResponse
        totalPages:
          type: integer
          format: int32
          description: This field gives the total number of pages in the file.
        inputConfig:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1InputConfig'
          description: Information about the file for which this response is generated.
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            If set, represents the error message for the failed request. The
            `responses` field will not be set in this case.
    GoogleCloudVisionV1p2beta1ImageContext:
      properties:
        productSearchParams:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1ProductSearchParams'
          description: Parameters for product search.
        textDetectionParams:
          description: Parameters for text detection and document text detection.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1TextDetectionParams'
        latLongRect:
          description: Not used.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1LatLongRect'
        cropHintsParams:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1CropHintsParams'
          description: Parameters for crop hints annotation request.
        webDetectionParams:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1WebDetectionParams'
          description: Parameters for web detection.
        languageHints:
          type: array
          items:
            type: string
          description: >-
            List of languages to use for TEXT_DETECTION. In most cases, an empty
            value yields the best results since it enables automatic language
            detection. For languages based on the Latin alphabet, setting
            `language_hints` is not needed. In rare cases, when the language of
            the text in the image is known, setting a hint will help get better
            results (although it will be a significant hindrance if the hint is
            wrong). Text detection returns an error if one or more of the
            specified languages is not one of the [supported
            languages](https://cloud.google.com/vision/docs/languages).
      id: GoogleCloudVisionV1p2beta1ImageContext
      description: Image context and/or feature-specific parameters.
      type: object
    GoogleCloudVisionV1p3beta1Property:
      id: GoogleCloudVisionV1p3beta1Property
      description: A `Property` consists of a user-supplied name/value pair.
      properties:
        uint64Value:
          format: uint64
          description: Value of numeric properties.
          type: string
        value:
          type: string
          description: Value of the property.
        name:
          type: string
          description: Name of the property.
      type: object
    GoogleCloudVisionV1p2beta1DominantColorsAnnotation:
      id: GoogleCloudVisionV1p2beta1DominantColorsAnnotation
      type: object
      properties:
        colors:
          description: RGB color values with their score and pixel fraction.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1ColorInfo'
          type: array
      description: Set of dominant colors and their corresponding scores.
    DetectedBreak:
      id: DetectedBreak
      type: object
      properties:
        type:
          enumDescriptions:
            - Unknown break label type.
            - Regular space.
            - Sure space (very wide).
            - Line-wrapping break.
            - >-
              End-line hyphen that is not present in text; does not co-occur
              with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.
            - Line break that ends a paragraph.
          type: string
          description: Detected break type.
          enum:
            - UNKNOWN
            - SPACE
            - SURE_SPACE
            - EOL_SURE_SPACE
            - HYPHEN
            - LINE_BREAK
        isPrefix:
          type: boolean
          description: True if break prepends the element.
      description: Detected start or end of a structural component.
    GoogleCloudVisionV1p4beta1ProductSearchResultsResult:
      properties:
        score:
          format: float
          type: number
          description: >-
            A confidence level on the match, ranging from 0 (no confidence) to 1
            (full confidence).
        product:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1Product'
          description: The Product.
        image:
          type: string
          description: >-
            The resource name of the image from the product that is the closest
            match to the query.
      type: object
      id: GoogleCloudVisionV1p4beta1ProductSearchResultsResult
      description: Information about a product.
    GoogleCloudVisionV1p1beta1CropHintsAnnotation:
      description: >-
        Set of crop hints that are used to generate new crops when serving
        images.
      properties:
        cropHints:
          type: array
          description: Crop hint results.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1CropHint'
      type: object
      id: GoogleCloudVisionV1p1beta1CropHintsAnnotation
    GoogleCloudVisionV1p1beta1Symbol:
      description: A single symbol representation.
      properties:
        confidence:
          type: number
          format: float
          description: Confidence of the OCR results for the symbol. Range [0, 1].
        property:
          description: Additional information detected for the symbol.
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p1beta1TextAnnotationTextProperty
        text:
          description: The actual UTF-8 representation of the symbol.
          type: string
        boundingBox:
          description: >-
            The bounding box for the symbol. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
      type: object
      id: GoogleCloudVisionV1p1beta1Symbol
    GoogleCloudVisionV1p4beta1LocalizedObjectAnnotation:
      id: GoogleCloudVisionV1p4beta1LocalizedObjectAnnotation
      description: Set of detected objects with bounding boxes.
      type: object
      properties:
        mid:
          type: string
          description: Object ID that should align with EntityAnnotation mid.
        score:
          format: float
          description: Score of the result. Range [0, 1].
          type: number
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1BoundingPoly'
          description: Image region to which this object belongs. This must be populated.
        languageCode:
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
          type: string
        name:
          description: Object name, expressed in its `language_code` language.
          type: string
    GoogleCloudVisionV1p4beta1ImageProperties:
      id: GoogleCloudVisionV1p4beta1ImageProperties
      description: Stores image properties, such as dominant colors.
      type: object
      properties:
        dominantColors:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p4beta1DominantColorsAnnotation
          description: If present, dominant colors completed successfully.
    GoogleCloudVisionV1p4beta1WebDetectionWebPage:
      id: GoogleCloudVisionV1p4beta1WebDetectionWebPage
      properties:
        score:
          format: float
          description: (Deprecated) Overall relevancy score for the web page.
          type: number
        url:
          description: The result web page URL.
          type: string
        partialMatchingImages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p4beta1WebDetectionWebImage
          description: >-
            Partial matching images on the page. Those images are similar enough
            to share some key-point features. For example an original image will
            likely have partial matching for its crops.
          type: array
        fullMatchingImages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p4beta1WebDetectionWebImage
          type: array
          description: >-
            Fully matching images on the page. Can include resized copies of the
            query image.
        pageTitle:
          description: Title for the web page, may contain HTML markups.
          type: string
      type: object
      description: Metadata for web pages.
    GoogleCloudVisionV1p2beta1SafeSearchAnnotation:
      id: GoogleCloudVisionV1p2beta1SafeSearchAnnotation
      description: >-
        Set of features pertaining to the image, computed by computer vision
        methods over safe-search verticals (for example, adult, spoof, medical,
        violence).
      type: object
      properties:
        spoof:
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          type: string
          description: >-
            Spoof likelihood. The likelihood that an modification was made to
            the image's canonical version to make it appear funny or offensive.
        medical:
          description: Likelihood that this is a medical image.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
        adult:
          description: >-
            Represents the adult content likelihood for the image. Adult content
            may contain elements such as nudity, pornographic images or
            cartoons, or sexual activities.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
        racy:
          description: >-
            Likelihood that the request image contains racy content. Racy
            content may include (but is not limited to) skimpy or sheer
            clothing, strategically covered nudity, lewd or provocative poses,
            or close-ups of sensitive body areas.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
        violence:
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: Likelihood that this image contains violent content.
    GoogleCloudVisionV1p2beta1Product:
      properties:
        productLabels:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1ProductKeyValue'
          description: >-
            Key-value pairs that can be attached to a product. At query time,
            constraints can be specified based on the product_labels. Note that
            integer values can be provided as strings, e.g. "1199". Only strings
            with integer values can match a range-based restriction which is to
            be supported soon. Multiple values can be assigned to the same key.
            One product may have up to 500 product_labels. Notice that the total
            number of distinct product_labels over all products in one
            ProductSet cannot exceed 1M, otherwise the product search pipeline
            will refuse to work for that ProductSet.
          type: array
        name:
          type: string
          description: >-
            The resource name of the product. Format is:
            `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This
            field is ignored when creating a product.
        description:
          description: >-
            User-provided metadata to be stored with this product. Must be at
            most 4096 characters long.
          type: string
        productCategory:
          type: string
          description: >-
            Immutable. The category for the product identified by the reference
            image. This should be one of "homegoods-v2", "apparel-v2",
            "toys-v2", "packagedgoods-v1" or "general-v1". The legacy categories
            "homegoods", "apparel", and "toys" are still supported, but these
            should not be used for new products.
        displayName:
          description: >-
            The user-provided name for this Product. Must not be empty. Must be
            at most 4096 characters long.
          type: string
      id: GoogleCloudVisionV1p2beta1Product
      description: A Product contains ReferenceImages.
      type: object
    GoogleCloudVisionV1p1beta1SafeSearchAnnotation:
      id: GoogleCloudVisionV1p1beta1SafeSearchAnnotation
      description: >-
        Set of features pertaining to the image, computed by computer vision
        methods over safe-search verticals (for example, adult, spoof, medical,
        violence).
      type: object
      properties:
        violence:
          type: string
          description: Likelihood that this image contains violent content.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
        racy:
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
          description: >-
            Likelihood that the request image contains racy content. Racy
            content may include (but is not limited to) skimpy or sheer
            clothing, strategically covered nudity, lewd or provocative poses,
            or close-ups of sensitive body areas.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
        adult:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: >-
            Represents the adult content likelihood for the image. Adult content
            may contain elements such as nudity, pornographic images or
            cartoons, or sexual activities.
          type: string
        medical:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: Likelihood that this is a medical image.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
        spoof:
          description: >-
            Spoof likelihood. The likelihood that an modification was made to
            the image's canonical version to make it appear funny or offensive.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
    GoogleCloudVisionV1p1beta1GcsSource:
      type: object
      description: The Google Cloud Storage location where the input will be read from.
      properties:
        uri:
          description: >-
            Google Cloud Storage URI for the input file. This must only be a
            Google Cloud Storage object. Wildcards are not currently supported.
          type: string
      id: GoogleCloudVisionV1p1beta1GcsSource
    GoogleCloudVisionV1p2beta1LocationInfo:
      type: object
      id: GoogleCloudVisionV1p2beta1LocationInfo
      properties:
        latLng:
          description: lat/long location coordinates.
          $ref: '#/components/schemas/LatLng'
      description: Detected entity location information.
    GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse:
      id: GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse
      properties:
        outputConfig:
          description: The output location and metadata from AsyncAnnotateFileRequest.
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1OutputConfig'
      description: The response for a single offline file annotation request.
      type: object
    GoogleCloudVisionV1p3beta1AnnotateFileResponse:
      description: >-
        Response to a single file annotation request. A file may contain one or
        more images, which individually have their own responses.
      properties:
        inputConfig:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1InputConfig'
          description: Information about the file for which this response is generated.
        responses:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p3beta1AnnotateImageResponse
          description: >-
            Individual responses to images found within the file. This field
            will be empty if the `error` field is set.
        totalPages:
          description: This field gives the total number of pages in the file.
          format: int32
          type: integer
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            If set, represents the error message for the failed request. The
            `responses` field will not be set in this case.
      type: object
      id: GoogleCloudVisionV1p3beta1AnnotateFileResponse
    GoogleCloudVisionV1p3beta1ProductKeyValue:
      properties:
        value:
          description: >-
            The value of the label attached to the product. Cannot be empty and
            cannot exceed 128 bytes.
          type: string
        key:
          type: string
          description: >-
            The key of the label attached to the product. Cannot be empty and
            cannot exceed 128 bytes.
      description: A product label represented as a key-value pair.
      id: GoogleCloudVisionV1p3beta1ProductKeyValue
      type: object
    GoogleCloudVisionV1p1beta1Paragraph:
      description: Structural unit of text representing a number of words in certain order.
      type: object
      properties:
        words:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Word'
          description: List of all words in this paragraph.
          type: array
        confidence:
          format: float
          description: Confidence of the OCR results for the paragraph. Range [0, 1].
          type: number
        boundingBox:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
          description: >-
            The bounding box for the paragraph. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
        property:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p1beta1TextAnnotationTextProperty
          description: Additional information detected for the paragraph.
      id: GoogleCloudVisionV1p1beta1Paragraph
    GoogleCloudVisionV1p3beta1TextAnnotation:
      id: GoogleCloudVisionV1p3beta1TextAnnotation
      description: >-
        TextAnnotation contains a structured representation of OCR extracted
        text. The hierarchy of an OCR extracted text structure is like this:
        TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each
        structural component, starting from Page, may further have their own
        properties. Properties describe detected languages, breaks etc.. Please
        refer to the TextAnnotation.TextProperty message definition below for
        more detail.
      properties:
        text:
          type: string
          description: UTF-8 text detected on the pages.
        pages:
          description: List of pages detected by OCR.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1Page'
      type: object
    GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest:
      properties:
        requests:
          description: >-
            Required. The list of file annotation requests. Right now we support
            only one AnnotateFileRequest in BatchAnnotateFilesRequest.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1AnnotateFileRequest'
          type: array
        parent:
          type: string
          description: >-
            Optional. Target project and location to make a call. Format:
            `projects/{project-id}/locations/{location-id}`. If no parent is
            specified, a region will be chosen automatically. Supported
            location-ids: `us`: USA country only, `asia`: East asia areas, like
            Japan, Taiwan, `eu`: The European Union. Example:
            `projects/project-A/locations/eu`.
      description: A list of requests to annotate files using the BatchAnnotateFiles API.
      id: GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest
      type: object
    GcsSource:
      id: GcsSource
      properties:
        uri:
          type: string
          description: >-
            Google Cloud Storage URI for the input file. This must only be a
            Google Cloud Storage object. Wildcards are not currently supported.
      description: The Google Cloud Storage location where the input will be read from.
      type: object
    GoogleCloudVisionV1p4beta1TextAnnotationTextProperty:
      id: GoogleCloudVisionV1p4beta1TextAnnotationTextProperty
      description: Additional information detected on the structural component.
      properties:
        detectedBreak:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p4beta1TextAnnotationDetectedBreak
          description: Detected start or end of a text segment.
        detectedLanguages:
          description: A list of detected languages together with confidence.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage
          type: array
      type: object
    GoogleCloudVisionV1p1beta1WebDetection:
      type: object
      properties:
        visuallySimilarImages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
          type: array
          description: The visually similar image results.
        webEntities:
          type: array
          description: Deduced entities from similar images on the Internet.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebEntity
        partialMatchingImages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
          description: >-
            Partial matching images from the Internet. Those images are similar
            enough to share some key-point features. For example an original
            image will likely have partial matching for its crops.
          type: array
        fullMatchingImages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
          type: array
          description: >-
            Fully matching images from the Internet. Can include resized copies
            of the query image.
        pagesWithMatchingImages:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebPage'
          type: array
          description: Web pages containing the matching images from the Internet.
        bestGuessLabels:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebLabel
          description: >-
            The service's best guess as to the topic of the request image.
            Inferred from similar images on the open web.
      description: Relevant information for the image from the Internet.
      id: GoogleCloudVisionV1p1beta1WebDetection
    GoogleCloudVisionV1p4beta1Symbol:
      id: GoogleCloudVisionV1p4beta1Symbol
      properties:
        property:
          description: Additional information detected for the symbol.
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p4beta1TextAnnotationTextProperty
        text:
          description: The actual UTF-8 representation of the symbol.
          type: string
        confidence:
          format: float
          type: number
          description: Confidence of the OCR results for the symbol. Range [0, 1].
        boundingBox:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1BoundingPoly'
          description: >-
            The bounding box for the symbol. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
      type: object
      description: A single symbol representation.
    GoogleCloudVisionV1p4beta1BatchOperationMetadata:
      properties:
        state:
          type: string
          enumDescriptions:
            - Invalid.
            - Request is actively being processed.
            - >-
              The request is done and at least one item has been successfully
              processed.
            - The request is done and no item has been successfully processed.
            - >-
              The request is done after the
              longrunning.Operations.CancelOperation has been called by the
              user. Any records that were processed before the cancel command
              are output as specified in the request.
          enum:
            - STATE_UNSPECIFIED
            - PROCESSING
            - SUCCESSFUL
            - FAILED
            - CANCELLED
          description: The current state of the batch operation.
        endTime:
          format: google-datetime
          type: string
          description: >-
            The time when the batch request is finished and
            google.longrunning.Operation.done is set to true.
        submitTime:
          format: google-datetime
          description: The time when the batch request was submitted to the server.
          type: string
      id: GoogleCloudVisionV1p4beta1BatchOperationMetadata
      type: object
      description: >-
        Metadata for the batch operations such as the current state. This is
        included in the `metadata` field of the `Operation` returned by the
        `GetOperation` call of the `google::longrunning::Operations` service.
    GoogleCloudVisionV1p1beta1ColorInfo:
      description: >-
        Color information consists of RGB channels, score, and the fraction of
        the image that the color occupies in the image.
      id: GoogleCloudVisionV1p1beta1ColorInfo
      properties:
        pixelFraction:
          description: >-
            The fraction of pixels the color occupies in the image. Value in
            range [0, 1].
          type: number
          format: float
        color:
          description: RGB components of the color.
          $ref: '#/components/schemas/Color'
        score:
          format: float
          type: number
          description: Image-specific score for this color. Value in range [0, 1].
      type: object
    GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage:
      description: Detected language for a structural component.
      type: object
      properties:
        languageCode:
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
          type: string
        confidence:
          description: Confidence of detected language. Range [0, 1].
          format: float
          type: number
      id: GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage
    GroupedResult:
      properties:
        objectAnnotations:
          description: List of generic predictions for the object in the bounding box.
          items:
            $ref: '#/components/schemas/ObjectAnnotation'
          type: array
        results:
          type: array
          description: List of results, one for each product match.
          items:
            $ref: '#/components/schemas/Result'
        boundingPoly:
          description: The bounding polygon around the product detected in the query image.
          $ref: '#/components/schemas/BoundingPoly'
      id: GroupedResult
      type: object
      description: >-
        Information about the products similar to a single product in a query
        image.
    GoogleCloudVisionV1p4beta1Product:
      id: GoogleCloudVisionV1p4beta1Product
      description: A Product contains ReferenceImages.
      type: object
      properties:
        name:
          type: string
          description: >-
            The resource name of the product. Format is:
            `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This
            field is ignored when creating a product.
        productCategory:
          description: >-
            Immutable. The category for the product identified by the reference
            image. This should be one of "homegoods-v2", "apparel-v2",
            "toys-v2", "packagedgoods-v1" or "general-v1". The legacy categories
            "homegoods", "apparel", and "toys" are still supported, but these
            should not be used for new products.
          type: string
        productLabels:
          type: array
          description: >-
            Key-value pairs that can be attached to a product. At query time,
            constraints can be specified based on the product_labels. Note that
            integer values can be provided as strings, e.g. "1199". Only strings
            with integer values can match a range-based restriction which is to
            be supported soon. Multiple values can be assigned to the same key.
            One product may have up to 500 product_labels. Notice that the total
            number of distinct product_labels over all products in one
            ProductSet cannot exceed 1M, otherwise the product search pipeline
            will refuse to work for that ProductSet.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1ProductKeyValue'
        description:
          description: >-
            User-provided metadata to be stored with this product. Must be at
            most 4096 characters long.
          type: string
        displayName:
          type: string
          description: >-
            The user-provided name for this Product. Must not be empty. Must be
            at most 4096 characters long.
    GoogleCloudVisionV1p2beta1Symbol:
      type: object
      properties:
        property:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p2beta1TextAnnotationTextProperty
          description: Additional information detected for the symbol.
        boundingBox:
          description: >-
            The bounding box for the symbol. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BoundingPoly'
        text:
          description: The actual UTF-8 representation of the symbol.
          type: string
        confidence:
          description: Confidence of the OCR results for the symbol. Range [0, 1].
          type: number
          format: float
      description: A single symbol representation.
      id: GoogleCloudVisionV1p2beta1Symbol
    Block:
      id: Block
      description: Logical element on the page.
      properties:
        property:
          $ref: '#/components/schemas/TextProperty'
          description: Additional information detected for the block.
        blockType:
          enumDescriptions:
            - Unknown block type.
            - Regular text block.
            - Table block.
            - Image block.
            - Horizontal/vertical line box.
            - Barcode block.
          type: string
          description: Detected block type (text, image etc) for this block.
          enum:
            - UNKNOWN
            - TEXT
            - TABLE
            - PICTURE
            - RULER
            - BARCODE
        boundingBox:
          $ref: '#/components/schemas/BoundingPoly'
          description: >-
            The bounding box for the block. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
        confidence:
          type: number
          format: float
          description: Confidence of the OCR results on the block. Range [0, 1].
        paragraphs:
          type: array
          items:
            $ref: '#/components/schemas/Paragraph'
          description: List of paragraphs in this block (if this blocks is of type text).
      type: object
    GoogleCloudVisionV1p2beta1EntityAnnotation:
      properties:
        topicality:
          description: >-
            The relevancy of the ICA (Image Content Annotation) label to the
            image. For example, the relevancy of "tower" is likely higher to an
            image containing the detected "Eiffel Tower" than to an image
            containing a detected distant towering building, even though the
            confidence that there is a tower in each image may be the same.
            Range [0, 1].
          format: float
          type: number
        confidence:
          type: number
          format: float
          description: >-
            **Deprecated. Use `score` instead.** The accuracy of the entity
            detection in an image. For example, for an image in which the
            "Eiffel Tower" entity is detected, this field represents the
            confidence that there is a tower in the query image. Range [0, 1].
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BoundingPoly'
          description: >-
            Image region to which this entity belongs. Not produced for
            `LABEL_DETECTION` features.
        description:
          type: string
          description: Entity textual description, expressed in its `locale` language.
        locations:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1LocationInfo'
          description: >-
            The location information for the detected entity. Multiple
            `LocationInfo` elements can be present because one location may
            indicate the location of the scene in the image, and another
            location may indicate the location of the place where the image was
            taken. Location information is usually present for landmarks.
        locale:
          description: >-
            The language code for the locale in which the entity textual
            `description` is expressed.
          type: string
        score:
          format: float
          description: Overall score of the result. Range [0, 1].
          type: number
        mid:
          description: >-
            Opaque entity ID. Some IDs may be available in [Google Knowledge
            Graph Search API](https://developers.google.com/knowledge-graph/).
          type: string
        properties:
          description: >-
            Some entities may have optional user-supplied `Property`
            (name/value) fields, such a score or string that qualifies the
            entity.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1Property'
      description: Set of detected entity features.
      id: GoogleCloudVisionV1p2beta1EntityAnnotation
      type: object
    GoogleCloudVisionV1p1beta1WebDetectionWebPage:
      description: Metadata for web pages.
      type: object
      properties:
        pageTitle:
          type: string
          description: Title for the web page, may contain HTML markups.
        fullMatchingImages:
          description: >-
            Fully matching images on the page. Can include resized copies of the
            query image.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
        partialMatchingImages:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
          description: >-
            Partial matching images on the page. Those images are similar enough
            to share some key-point features. For example an original image will
            likely have partial matching for its crops.
        score:
          type: number
          description: (Deprecated) Overall relevancy score for the web page.
          format: float
        url:
          description: The result web page URL.
          type: string
      id: GoogleCloudVisionV1p1beta1WebDetectionWebPage
    GoogleCloudVisionV1p2beta1ImageProperties:
      id: GoogleCloudVisionV1p2beta1ImageProperties
      type: object
      properties:
        dominantColors:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p2beta1DominantColorsAnnotation
          description: If present, dominant colors completed successfully.
      description: Stores image properties, such as dominant colors.
    GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage:
      description: Detected language for a structural component.
      id: GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage
      properties:
        languageCode:
          type: string
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
        confidence:
          description: Confidence of detected language. Range [0, 1].
          format: float
          type: number
      type: object
    GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse:
      properties:
        responses:
          type: array
          description: Individual responses to image annotation requests within the batch.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p2beta1AnnotateImageResponse
      description: Response to a batch image annotation request.
      id: GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse
      type: object
    CropHint:
      id: CropHint
      description: >-
        Single crop hint that is used to generate a new crop when serving an
        image.
      properties:
        importanceFraction:
          type: number
          format: float
          description: >-
            Fraction of importance of this salient region with respect to the
            original image.
        confidence:
          description: Confidence of this being a salient region. Range [0, 1].
          type: number
          format: float
        boundingPoly:
          $ref: '#/components/schemas/BoundingPoly'
          description: >-
            The bounding polygon for the crop region. The coordinates of the
            bounding box are in the original image's scale.
      type: object
    GoogleCloudVisionV1p2beta1CropHint:
      type: object
      properties:
        boundingPoly:
          description: >-
            The bounding polygon for the crop region. The coordinates of the
            bounding box are in the original image's scale.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BoundingPoly'
        importanceFraction:
          type: number
          description: >-
            Fraction of importance of this salient region with respect to the
            original image.
          format: float
        confidence:
          type: number
          description: Confidence of this being a salient region. Range [0, 1].
          format: float
      description: >-
        Single crop hint that is used to generate a new crop when serving an
        image.
      id: GoogleCloudVisionV1p2beta1CropHint
    GoogleCloudVisionV1p4beta1DominantColorsAnnotation:
      description: Set of dominant colors and their corresponding scores.
      type: object
      id: GoogleCloudVisionV1p4beta1DominantColorsAnnotation
      properties:
        colors:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1ColorInfo'
          type: array
          description: RGB color values with their score and pixel fraction.
    GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage:
      properties:
        confidence:
          type: number
          format: float
          description: Confidence of detected language. Range [0, 1].
        languageCode:
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
          type: string
      description: Detected language for a structural component.
      type: object
      id: GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage
    GoogleCloudVisionV1p1beta1FaceAnnotation:
      properties:
        sorrowLikelihood:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: Sorrow likelihood.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
        angerLikelihood:
          description: Anger likelihood.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
          description: >-
            The bounding polygon around the face. The coordinates of the
            bounding box are in the original image's scale. The bounding box is
            computed to "frame" the face in accordance with human expectations.
            It is based on the landmarker results. Note that one or more x
            and/or y coordinates may not be generated in the `BoundingPoly` (the
            polygon will be unbounded) if only a partial face appears in the
            image to be annotated.
        surpriseLikelihood:
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: Surprise likelihood.
          type: string
        panAngle:
          type: number
          description: >-
            Yaw angle, which indicates the leftward/rightward angle that the
            face is pointing relative to the vertical plane perpendicular to the
            image. Range [-180,180].
          format: float
        landmarkingConfidence:
          type: number
          format: float
          description: Face landmarking confidence. Range [0, 1].
        underExposedLikelihood:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: Under-exposed likelihood.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
        rollAngle:
          type: number
          format: float
          description: >-
            Roll angle, which indicates the amount of clockwise/anti-clockwise
            rotation of the face relative to the image vertical about the axis
            perpendicular to the face. Range [-180,180].
        headwearLikelihood:
          type: string
          description: Headwear likelihood.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
        landmarks:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1FaceAnnotationLandmark
          description: Detected face landmarks.
          type: array
        tiltAngle:
          format: float
          description: >-
            Pitch angle, which indicates the upwards/downwards angle that the
            face is pointing relative to the image's horizontal plane. Range
            [-180,180].
          type: number
        blurredLikelihood:
          type: string
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: Blurred likelihood.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
        joyLikelihood:
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Joy likelihood.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
        fdBoundingPoly:
          description: >-
            The `fd_bounding_poly` bounding polygon is tighter than the
            `boundingPoly`, and encloses only the skin part of the face.
            Typically, it is used to eliminate the face from any image analysis
            that detects the "amount of skin" visible in an image. It is not
            based on the landmarker results, only on the initial face detection,
            hence the fd (face detection) prefix.
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        detectionConfidence:
          description: Detection confidence. Range [0, 1].
          type: number
          format: float
      description: A face annotation object contains the results of face detection.
      type: object
      id: GoogleCloudVisionV1p1beta1FaceAnnotation
    GoogleCloudVisionV1p3beta1AnnotateImageResponse:
      id: GoogleCloudVisionV1p3beta1AnnotateImageResponse
      type: object
      properties:
        landmarkAnnotations:
          description: If present, landmark detection has completed successfully.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1EntityAnnotation'
          type: array
        safeSearchAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1SafeSearchAnnotation'
          description: If present, safe-search annotation has completed successfully.
        fullTextAnnotation:
          description: >-
            If present, text (OCR) detection or document (OCR) text detection
            has completed successfully. This annotation provides the structural
            hierarchy for the OCR detected text.
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1TextAnnotation'
        localizedObjectAnnotations:
          type: array
          description: >-
            If present, localized object detection has completed successfully.
            This will be sorted descending by confidence score.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p3beta1LocalizedObjectAnnotation
        labelAnnotations:
          type: array
          description: If present, label detection has completed successfully.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1EntityAnnotation'
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            If set, represents the error message for the operation. Note that
            filled-in image annotations are guaranteed to be correct, even when
            `error` is set.
        textAnnotations:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1EntityAnnotation'
          type: array
          description: If present, text (OCR) detection has completed successfully.
        cropHintsAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1CropHintsAnnotation'
          description: If present, crop hints have completed successfully.
        context:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p3beta1ImageAnnotationContext
          description: >-
            If present, contextual information is needed to understand where
            this image comes from.
        webDetection:
          description: If present, web detection has completed successfully.
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1WebDetection'
        imagePropertiesAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1ImageProperties'
          description: If present, image properties were extracted successfully.
        productSearchResults:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1ProductSearchResults'
          description: If present, product search has completed successfully.
        faceAnnotations:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1FaceAnnotation'
          description: If present, face detection has completed successfully.
        logoAnnotations:
          type: array
          description: If present, logo detection has completed successfully.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1EntityAnnotation'
      description: Response to an image annotation request.
    GoogleCloudVisionV1p2beta1Block:
      description: Logical element on the page.
      id: GoogleCloudVisionV1p2beta1Block
      properties:
        paragraphs:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1Paragraph'
          description: List of paragraphs in this block (if this blocks is of type text).
        property:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p2beta1TextAnnotationTextProperty
          description: Additional information detected for the block.
        boundingBox:
          description: >-
            The bounding box for the block. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BoundingPoly'
        blockType:
          type: string
          enumDescriptions:
            - Unknown block type.
            - Regular text block.
            - Table block.
            - Image block.
            - Horizontal/vertical line box.
            - Barcode block.
          enum:
            - UNKNOWN
            - TEXT
            - TABLE
            - PICTURE
            - RULER
            - BARCODE
          description: Detected block type (text, image etc) for this block.
        confidence:
          type: number
          description: Confidence of the OCR results on the block. Range [0, 1].
          format: float
      type: object
    GoogleCloudVisionV1p4beta1Property:
      type: object
      id: GoogleCloudVisionV1p4beta1Property
      properties:
        name:
          type: string
          description: Name of the property.
        uint64Value:
          description: Value of numeric properties.
          format: uint64
          type: string
        value:
          description: Value of the property.
          type: string
      description: A `Property` consists of a user-supplied name/value pair.
    GoogleCloudVisionV1p4beta1Position:
      properties:
        z:
          type: number
          format: float
          description: Z coordinate (or depth).
        'y':
          description: Y coordinate.
          type: number
          format: float
        x:
          type: number
          description: X coordinate.
          format: float
      type: object
      id: GoogleCloudVisionV1p4beta1Position
      description: >-
        A 3D position in the image, used primarily for Face detection landmarks.
        A valid Position must have both x and y coordinates. The position
        coordinates are in the same scale as the original image.
    GoogleCloudVisionV1p3beta1OperationMetadata:
      description: Contains metadata for the BatchAnnotateImages operation.
      id: GoogleCloudVisionV1p3beta1OperationMetadata
      properties:
        createTime:
          description: The time when the batch request was received.
          type: string
          format: google-datetime
        state:
          enum:
            - STATE_UNSPECIFIED
            - CREATED
            - RUNNING
            - DONE
            - CANCELLED
          enumDescriptions:
            - Invalid.
            - Request is received.
            - Request is actively being processed.
            - The batch processing is done.
            - The batch processing was cancelled.
          description: Current state of the batch operation.
          type: string
        updateTime:
          type: string
          description: The time when the operation result was last updated.
          format: google-datetime
      type: object
    TextAnnotation:
      description: >-
        TextAnnotation contains a structured representation of OCR extracted
        text. The hierarchy of an OCR extracted text structure is like this:
        TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each
        structural component, starting from Page, may further have their own
        properties. Properties describe detected languages, breaks etc.. Please
        refer to the TextAnnotation.TextProperty message definition below for
        more detail.
      properties:
        text:
          type: string
          description: UTF-8 text detected on the pages.
        pages:
          type: array
          description: List of pages detected by OCR.
          items:
            $ref: '#/components/schemas/Page'
      id: TextAnnotation
      type: object
    GoogleCloudVisionV1p4beta1ProductSearchResultsObjectAnnotation:
      id: GoogleCloudVisionV1p4beta1ProductSearchResultsObjectAnnotation
      description: Prediction for what the object in the bounding box is.
      type: object
      properties:
        score:
          format: float
          description: Score of the result. Range [0, 1].
          type: number
        mid:
          description: Object ID that should align with EntityAnnotation mid.
          type: string
        name:
          type: string
          description: Object name, expressed in its `language_code` language.
        languageCode:
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
          type: string
    GoogleCloudVisionV1p3beta1ImageProperties:
      id: GoogleCloudVisionV1p3beta1ImageProperties
      properties:
        dominantColors:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p3beta1DominantColorsAnnotation
          description: If present, dominant colors completed successfully.
      description: Stores image properties, such as dominant colors.
      type: object
    GoogleCloudVisionV1p4beta1WebDetectionWebImage:
      description: Metadata for online images.
      properties:
        score:
          format: float
          type: number
          description: (Deprecated) Overall relevancy score for the image.
        url:
          description: The result image URL.
          type: string
      type: object
      id: GoogleCloudVisionV1p4beta1WebDetectionWebImage
    GoogleCloudVisionV1p2beta1NormalizedVertex:
      properties:
        'y':
          description: Y coordinate.
          type: number
          format: float
        x:
          format: float
          type: number
          description: X coordinate.
      description: >-
        A vertex represents a 2D point in the image. NOTE: the normalized vertex
        coordinates are relative to the original image and range from 0 to 1.
      type: object
      id: GoogleCloudVisionV1p2beta1NormalizedVertex
    ProductSearchResults:
      type: object
      properties:
        results:
          items:
            $ref: '#/components/schemas/Result'
          type: array
          description: List of results, one for each product match.
        productGroupedResults:
          type: array
          items:
            $ref: '#/components/schemas/GroupedResult'
          description: >-
            List of results grouped by products detected in the query image.
            Each entry corresponds to one bounding polygon in the query image,
            and contains the matching products specific to that region. There
            may be duplicate product matches in the union of all the per-product
            results.
        indexTime:
          format: google-datetime
          description: >-
            Timestamp of the index which provided these results. Products added
            to the product set and products removed from the product set after
            this time are not reflected in the current results.
          type: string
      description: Results for a product search request.
      id: ProductSearchResults
    GoogleCloudVisionV1p4beta1AsyncBatchAnnotateImagesResponse:
      properties:
        outputConfig:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1OutputConfig'
          description: >-
            The output location and metadata from
            AsyncBatchAnnotateImagesRequest.
      type: object
      id: GoogleCloudVisionV1p4beta1AsyncBatchAnnotateImagesResponse
      description: Response to an async batch image annotation request.
    GoogleCloudVisionV1p2beta1Image:
      id: GoogleCloudVisionV1p2beta1Image
      type: object
      description: Client image to perform Google Cloud Vision API tasks over.
      properties:
        source:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1ImageSource'
          description: >-
            Google Cloud Storage image location, or publicly-accessible image
            URL. If both `content` and `source` are provided for an image,
            `content` takes precedence and is used to perform the image
            annotation request.
        content:
          type: string
          format: byte
          description: >-
            Image content, represented as a stream of bytes. Note: As with all
            `bytes` fields, protobuffers use a pure binary representation,
            whereas JSON representations use base64. Currently, this field only
            works for BatchAnnotateImages requests. It does not work for
            AsyncBatchAnnotateImages requests.
    ImageProperties:
      properties:
        dominantColors:
          $ref: '#/components/schemas/DominantColorsAnnotation'
          description: If present, dominant colors completed successfully.
      id: ImageProperties
      description: Stores image properties, such as dominant colors.
      type: object
    GoogleCloudVisionV1p1beta1ProductSearchResults:
      properties:
        results:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1ProductSearchResultsResult
          type: array
          description: List of results, one for each product match.
        indexTime:
          format: google-datetime
          type: string
          description: >-
            Timestamp of the index which provided these results. Products added
            to the product set and products removed from the product set after
            this time are not reflected in the current results.
        productGroupedResults:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult
          description: >-
            List of results grouped by products detected in the query image.
            Each entry corresponds to one bounding polygon in the query image,
            and contains the matching products specific to that region. There
            may be duplicate product matches in the union of all the per-product
            results.
          type: array
      id: GoogleCloudVisionV1p1beta1ProductSearchResults
      description: Results for a product search request.
      type: object
    GoogleCloudVisionV1p3beta1LocationInfo:
      id: GoogleCloudVisionV1p3beta1LocationInfo
      properties:
        latLng:
          description: lat/long location coordinates.
          $ref: '#/components/schemas/LatLng'
      description: Detected entity location information.
      type: object
    GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse:
      id: GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse
      properties:
        outputConfig:
          description: The output location and metadata from AsyncAnnotateFileRequest.
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1OutputConfig'
      type: object
      description: The response for a single offline file annotation request.
    GoogleCloudVisionV1p2beta1WebDetectionWebEntity:
      id: GoogleCloudVisionV1p2beta1WebDetectionWebEntity
      type: object
      description: Entity deduced from similar images on the Internet.
      properties:
        description:
          description: Canonical description of the entity, in English.
          type: string
        entityId:
          description: Opaque entity ID.
          type: string
        score:
          type: number
          description: >-
            Overall relevancy score for the entity. Not normalized and not
            comparable across different image queries.
          format: float
    GoogleCloudVisionV1p4beta1AnnotateFileResponse:
      description: >-
        Response to a single file annotation request. A file may contain one or
        more images, which individually have their own responses.
      properties:
        totalPages:
          format: int32
          description: This field gives the total number of pages in the file.
          type: integer
        responses:
          description: >-
            Individual responses to images found within the file. This field
            will be empty if the `error` field is set.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p4beta1AnnotateImageResponse
        inputConfig:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1InputConfig'
          description: Information about the file for which this response is generated.
        error:
          description: >-
            If set, represents the error message for the failed request. The
            `responses` field will not be set in this case.
          $ref: '#/components/schemas/Status'
      type: object
      id: GoogleCloudVisionV1p4beta1AnnotateFileResponse
    GoogleCloudVisionV1p4beta1SafeSearchAnnotation:
      description: >-
        Set of features pertaining to the image, computed by computer vision
        methods over safe-search verticals (for example, adult, spoof, medical,
        violence).
      id: GoogleCloudVisionV1p4beta1SafeSearchAnnotation
      properties:
        violence:
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Likelihood that this image contains violent content.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
        medical:
          type: string
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Likelihood that this is a medical image.
        adult:
          description: >-
            Represents the adult content likelihood for the image. Adult content
            may contain elements such as nudity, pornographic images or
            cartoons, or sexual activities.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
        spoof:
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: >-
            Spoof likelihood. The likelihood that an modification was made to
            the image's canonical version to make it appear funny or offensive.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          type: string
        racy:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: >-
            Likelihood that the request image contains racy content. Racy
            content may include (but is not limited to) skimpy or sheer
            clothing, strategically covered nudity, lewd or provocative poses,
            or close-ups of sensitive body areas.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
      type: object
    GoogleCloudVisionV1p3beta1ImageAnnotationContext:
      id: GoogleCloudVisionV1p3beta1ImageAnnotationContext
      description: >-
        If an image was produced from a file (e.g. a PDF), this message gives
        information about the source of that image.
      properties:
        uri:
          type: string
          description: The URI of the file used to produce the image.
        pageNumber:
          format: int32
          type: integer
          description: >-
            If the file was a PDF or TIFF, this field gives the page number
            within the file used to produce the image.
      type: object
    GoogleCloudVisionV1p2beta1TextDetectionParams:
      id: GoogleCloudVisionV1p2beta1TextDetectionParams
      description: >-
        Parameters for text detections. This is used to control TEXT_DETECTION
        and DOCUMENT_TEXT_DETECTION features.
      type: object
      properties:
        enableTextDetectionConfidenceScore:
          description: >-
            By default, Cloud Vision API only includes confidence score for
            DOCUMENT_TEXT_DETECTION result. Set the flag to true to include
            confidence score for TEXT_DETECTION as well.
          type: boolean
        advancedOcrOptions:
          type: array
          items:
            type: string
          description: >-
            A list of advanced OCR options to further fine-tune OCR behavior.
            Current valid values are: - `legacy_layout`: a heuristics layout
            detection algorithm, which serves as an alternative to the current
            ML-based layout detection algorithm. Customers can choose the best
            suitable layout algorithm based on their situation.
    GoogleCloudVisionV1p2beta1OutputConfig:
      type: object
      description: The desired output location and metadata.
      id: GoogleCloudVisionV1p2beta1OutputConfig
      properties:
        batchSize:
          format: int32
          description: >-
            The max number of response protos to put into each output JSON file
            on Google Cloud Storage. The valid range is [1, 100]. If not
            specified, the default value is 20. For example, for one pdf file
            with 100 pages, 100 response protos will be generated. If
            `batch_size` = 20, then 5 json files each containing 20 response
            protos will be written under the prefix `gcs_destination`.`uri`.
            Currently, batch_size only applies to GcsDestination, with potential
            future support for other output configurations.
          type: integer
        gcsDestination:
          description: The Google Cloud Storage location to write the output(s) to.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1GcsDestination'
    Result:
      id: Result
      description: Information about a product.
      properties:
        product:
          $ref: '#/components/schemas/Product'
          description: The Product.
        score:
          format: float
          type: number
          description: >-
            A confidence level on the match, ranging from 0 (no confidence) to 1
            (full confidence).
        image:
          type: string
          description: >-
            The resource name of the image from the product that is the closest
            match to the query.
      type: object
    OperationMetadata:
      id: OperationMetadata
      type: object
      description: Contains metadata for the BatchAnnotateImages operation.
      properties:
        updateTime:
          description: The time when the operation result was last updated.
          type: string
          format: google-datetime
        state:
          description: Current state of the batch operation.
          enum:
            - STATE_UNSPECIFIED
            - CREATED
            - RUNNING
            - DONE
            - CANCELLED
          enumDescriptions:
            - Invalid.
            - Request is received.
            - Request is actively being processed.
            - The batch processing is done.
            - The batch processing was cancelled.
          type: string
        createTime:
          type: string
          format: google-datetime
          description: The time when the batch request was received.
    GoogleCloudVisionV1p4beta1AsyncAnnotateFileResponse:
      id: GoogleCloudVisionV1p4beta1AsyncAnnotateFileResponse
      description: The response for a single offline file annotation request.
      properties:
        outputConfig:
          description: The output location and metadata from AsyncAnnotateFileRequest.
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1OutputConfig'
      type: object
    GoogleCloudVisionV1p2beta1TextAnnotationTextProperty:
      id: GoogleCloudVisionV1p2beta1TextAnnotationTextProperty
      description: Additional information detected on the structural component.
      type: object
      properties:
        detectedLanguages:
          description: A list of detected languages together with confidence.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage
        detectedBreak:
          description: Detected start or end of a text segment.
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak
    GoogleCloudVisionV1p2beta1WebDetectionWebImage:
      id: GoogleCloudVisionV1p2beta1WebDetectionWebImage
      properties:
        score:
          description: (Deprecated) Overall relevancy score for the image.
          type: number
          format: float
        url:
          type: string
          description: The result image URL.
      description: Metadata for online images.
      type: object
    GoogleCloudVisionV1p4beta1BoundingPoly:
      type: object
      id: GoogleCloudVisionV1p4beta1BoundingPoly
      properties:
        normalizedVertices:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1NormalizedVertex'
          description: The bounding polygon normalized vertices.
          type: array
        vertices:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1Vertex'
          type: array
          description: The bounding polygon vertices.
      description: A bounding polygon for the detected image annotation.
    WebImage:
      id: WebImage
      properties:
        score:
          format: float
          description: (Deprecated) Overall relevancy score for the image.
          type: number
        url:
          type: string
          description: The result image URL.
      description: Metadata for online images.
      type: object
    GoogleCloudVisionV1p2beta1AnnotateFileResponse:
      properties:
        inputConfig:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1InputConfig'
          description: Information about the file for which this response is generated.
        totalPages:
          format: int32
          type: integer
          description: This field gives the total number of pages in the file.
        responses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p2beta1AnnotateImageResponse
          type: array
          description: >-
            Individual responses to images found within the file. This field
            will be empty if the `error` field is set.
        error:
          description: >-
            If set, represents the error message for the failed request. The
            `responses` field will not be set in this case.
          $ref: '#/components/schemas/Status'
      id: GoogleCloudVisionV1p2beta1AnnotateFileResponse
      type: object
      description: >-
        Response to a single file annotation request. A file may contain one or
        more images, which individually have their own responses.
    GoogleCloudVisionV1p2beta1Word:
      type: object
      properties:
        property:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p2beta1TextAnnotationTextProperty
          description: Additional information detected for the word.
        confidence:
          description: Confidence of the OCR results for the word. Range [0, 1].
          type: number
          format: float
        boundingBox:
          description: >-
            The bounding box for the word. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BoundingPoly'
        symbols:
          type: array
          description: >-
            List of symbols in the word. The order of the symbols follows the
            natural reading order.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1Symbol'
      id: GoogleCloudVisionV1p2beta1Word
      description: A word representation.
    GoogleCloudVisionV1p3beta1BoundingPoly:
      properties:
        vertices:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1Vertex'
          description: The bounding polygon vertices.
          type: array
        normalizedVertices:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1NormalizedVertex'
          description: The bounding polygon normalized vertices.
      description: A bounding polygon for the detected image annotation.
      id: GoogleCloudVisionV1p3beta1BoundingPoly
      type: object
    GoogleCloudVisionV1p2beta1FaceAnnotationLandmark:
      type: object
      properties:
        position:
          description: Face landmark position.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1Position'
        type:
          type: string
          enumDescriptions:
            - Unknown face landmark detected. Should not be filled.
            - Left eye.
            - Right eye.
            - Left of left eyebrow.
            - Right of left eyebrow.
            - Left of right eyebrow.
            - Right of right eyebrow.
            - Midpoint between eyes.
            - Nose tip.
            - Upper lip.
            - Lower lip.
            - Mouth left.
            - Mouth right.
            - Mouth center.
            - Nose, bottom right.
            - Nose, bottom left.
            - Nose, bottom center.
            - Left eye, top boundary.
            - Left eye, right corner.
            - Left eye, bottom boundary.
            - Left eye, left corner.
            - Right eye, top boundary.
            - Right eye, right corner.
            - Right eye, bottom boundary.
            - Right eye, left corner.
            - Left eyebrow, upper midpoint.
            - Right eyebrow, upper midpoint.
            - Left ear tragion.
            - Right ear tragion.
            - Left eye pupil.
            - Right eye pupil.
            - Forehead glabella.
            - Chin gnathion.
            - Chin left gonion.
            - Chin right gonion.
            - Left cheek center.
            - Right cheek center.
          enum:
            - UNKNOWN_LANDMARK
            - LEFT_EYE
            - RIGHT_EYE
            - LEFT_OF_LEFT_EYEBROW
            - RIGHT_OF_LEFT_EYEBROW
            - LEFT_OF_RIGHT_EYEBROW
            - RIGHT_OF_RIGHT_EYEBROW
            - MIDPOINT_BETWEEN_EYES
            - NOSE_TIP
            - UPPER_LIP
            - LOWER_LIP
            - MOUTH_LEFT
            - MOUTH_RIGHT
            - MOUTH_CENTER
            - NOSE_BOTTOM_RIGHT
            - NOSE_BOTTOM_LEFT
            - NOSE_BOTTOM_CENTER
            - LEFT_EYE_TOP_BOUNDARY
            - LEFT_EYE_RIGHT_CORNER
            - LEFT_EYE_BOTTOM_BOUNDARY
            - LEFT_EYE_LEFT_CORNER
            - RIGHT_EYE_TOP_BOUNDARY
            - RIGHT_EYE_RIGHT_CORNER
            - RIGHT_EYE_BOTTOM_BOUNDARY
            - RIGHT_EYE_LEFT_CORNER
            - LEFT_EYEBROW_UPPER_MIDPOINT
            - RIGHT_EYEBROW_UPPER_MIDPOINT
            - LEFT_EAR_TRAGION
            - RIGHT_EAR_TRAGION
            - LEFT_EYE_PUPIL
            - RIGHT_EYE_PUPIL
            - FOREHEAD_GLABELLA
            - CHIN_GNATHION
            - CHIN_LEFT_GONION
            - CHIN_RIGHT_GONION
            - LEFT_CHEEK_CENTER
            - RIGHT_CHEEK_CENTER
          description: Face landmark type.
      id: GoogleCloudVisionV1p2beta1FaceAnnotationLandmark
      description: A face-specific landmark (for example, a face feature).
    WebPage:
      description: Metadata for web pages.
      properties:
        fullMatchingImages:
          items:
            $ref: '#/components/schemas/WebImage'
          description: >-
            Fully matching images on the page. Can include resized copies of the
            query image.
          type: array
        partialMatchingImages:
          type: array
          items:
            $ref: '#/components/schemas/WebImage'
          description: >-
            Partial matching images on the page. Those images are similar enough
            to share some key-point features. For example an original image will
            likely have partial matching for its crops.
        pageTitle:
          description: Title for the web page, may contain HTML markups.
          type: string
        url:
          description: The result web page URL.
          type: string
        score:
          format: float
          type: number
          description: (Deprecated) Overall relevancy score for the web page.
      type: object
      id: WebPage
    GoogleCloudVisionV1p2beta1GcsDestination:
      properties:
        uri:
          type: string
          description: >-
            Google Cloud Storage URI prefix where the results will be stored.
            Results will be in JSON format and preceded by its corresponding
            input URI prefix. This field can either represent a gcs file prefix
            or gcs directory. In either case, the uri should be unique because
            in order to get all of the output files, you will need to do a
            wildcard gcs search on the uri prefix you provide. Examples: * File
            Prefix: gs://bucket-name/here/filenameprefix The output files will
            be created in gs://bucket-name/here/ and the names of the output
            files will begin with "filenameprefix". * Directory Prefix:
            gs://bucket-name/some/location/ The output files will be created in
            gs://bucket-name/some/location/ and the names of the output files
            could be anything because there was no filename prefix specified. If
            multiple outputs, each response is still AnnotateFileResponse, each
            of which contains some subset of the full list of
            AnnotateImageResponse. Multiple outputs can happen if, for example,
            the output JSON is too large and overflows into multiple sharded
            files.
      description: The Google Cloud Storage location where the output will be written to.
      type: object
      id: GoogleCloudVisionV1p2beta1GcsDestination
    GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesResponse:
      description: Response to an async batch file annotation request.
      properties:
        responses:
          description: >-
            The list of file annotation responses, one for each request in
            AsyncBatchAnnotateFilesRequest.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponse
          type: array
      type: object
      id: GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesResponse
    GoogleCloudVisionV1p2beta1FaceAnnotation:
      id: GoogleCloudVisionV1p2beta1FaceAnnotation
      properties:
        fdBoundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BoundingPoly'
          description: >-
            The `fd_bounding_poly` bounding polygon is tighter than the
            `boundingPoly`, and encloses only the skin part of the face.
            Typically, it is used to eliminate the face from any image analysis
            that detects the "amount of skin" visible in an image. It is not
            based on the landmarker results, only on the initial face detection,
            hence the fd (face detection) prefix.
        landmarkingConfidence:
          description: Face landmarking confidence. Range [0, 1].
          format: float
          type: number
        sorrowLikelihood:
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: Sorrow likelihood.
        panAngle:
          type: number
          description: >-
            Yaw angle, which indicates the leftward/rightward angle that the
            face is pointing relative to the vertical plane perpendicular to the
            image. Range [-180,180].
          format: float
        rollAngle:
          description: >-
            Roll angle, which indicates the amount of clockwise/anti-clockwise
            rotation of the face relative to the image vertical about the axis
            perpendicular to the face. Range [-180,180].
          format: float
          type: number
        blurredLikelihood:
          description: Blurred likelihood.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
        tiltAngle:
          description: >-
            Pitch angle, which indicates the upwards/downwards angle that the
            face is pointing relative to the image's horizontal plane. Range
            [-180,180].
          type: number
          format: float
        angerLikelihood:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Anger likelihood.
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BoundingPoly'
          description: >-
            The bounding polygon around the face. The coordinates of the
            bounding box are in the original image's scale. The bounding box is
            computed to "frame" the face in accordance with human expectations.
            It is based on the landmarker results. Note that one or more x
            and/or y coordinates may not be generated in the `BoundingPoly` (the
            polygon will be unbounded) if only a partial face appears in the
            image to be annotated.
        landmarks:
          description: Detected face landmarks.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p2beta1FaceAnnotationLandmark
          type: array
        underExposedLikelihood:
          description: Under-exposed likelihood.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
        headwearLikelihood:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Headwear likelihood.
          type: string
        joyLikelihood:
          type: string
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Joy likelihood.
        surpriseLikelihood:
          description: Surprise likelihood.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
        detectionConfidence:
          format: float
          type: number
          description: Detection confidence. Range [0, 1].
      type: object
      description: A face annotation object contains the results of face detection.
    GoogleCloudVisionV1p1beta1Word:
      type: object
      id: GoogleCloudVisionV1p1beta1Word
      properties:
        property:
          description: Additional information detected for the word.
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p1beta1TextAnnotationTextProperty
        boundingBox:
[...]
