openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Vision API
  description: >-
    Integrates Google Vision features, including image labeling, face, logo, and
    landmark detection, optical character recognition (OCR), and detection of
    explicit content, into applications.
  version: v1
  x-discovery-doc-revision: '20230608'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/vision/
servers:
  - url: https://vision.googleapis.com
components:
  schemas:
    ImageProperties:
      id: ImageProperties
      description: Stores image properties, such as dominant colors.
      properties:
        dominantColors:
          $ref: '#/components/schemas/DominantColorsAnnotation'
          description: If present, dominant colors completed successfully.
      type: object
    GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation:
      id: GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation
      properties:
        score:
          description: Score of the result. Range [0, 1].
          format: float
          type: number
        languageCode:
          type: string
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
        name:
          type: string
          description: Object name, expressed in its `language_code` language.
        mid:
          description: Object ID that should align with EntityAnnotation mid.
          type: string
      type: object
      description: Prediction for what the object in the bounding box is.
    GoogleCloudVisionV1p2beta1DominantColorsAnnotation:
      type: object
      properties:
        colors:
          description: RGB color values with their score and pixel fraction.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1ColorInfo'
          type: array
      description: Set of dominant colors and their corresponding scores.
      id: GoogleCloudVisionV1p2beta1DominantColorsAnnotation
    Status:
      properties:
        message:
          type: string
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          type: integer
          format: int32
        details:
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
          items:
            additionalProperties:
              type: any
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
      id: Status
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
      type: object
    Empty:
      properties: {}
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      id: Empty
      type: object
    AsyncBatchAnnotateFilesRequest:
      id: AsyncBatchAnnotateFilesRequest
      properties:
        parent:
          description: >-
            Optional. Target project and location to make a call. Format:
            `projects/{project-id}/locations/{location-id}`. If no parent is
            specified, a region will be chosen automatically. Supported
            location-ids: `us`: USA country only, `asia`: East asia areas, like
            Japan, Taiwan, `eu`: The European Union. Example:
            `projects/project-A/locations/eu`.
          type: string
        requests:
          items:
            $ref: '#/components/schemas/AsyncAnnotateFileRequest'
          description: Required. Individual async file annotation requests for this batch.
          type: array
      description: >-
        Multiple async file annotation requests are batched into a single
        service call.
      type: object
    GoogleCloudVisionV1p2beta1ProductSearchResultsResult:
      type: object
      properties:
        score:
          description: >-
            A confidence level on the match, ranging from 0 (no confidence) to 1
            (full confidence).
          format: float
          type: number
        image:
          type: string
          description: >-
            The resource name of the image from the product that is the closest
            match to the query.
        product:
          description: The Product.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1Product'
      id: GoogleCloudVisionV1p2beta1ProductSearchResultsResult
      description: Information about a product.
    GoogleCloudVisionV1p4beta1Position:
      id: GoogleCloudVisionV1p4beta1Position
      type: object
      description: >-
        A 3D position in the image, used primarily for Face detection landmarks.
        A valid Position must have both x and y coordinates. The position
        coordinates are in the same scale as the original image.
      properties:
        z:
          format: float
          type: number
          description: Z coordinate (or depth).
        'y':
          description: Y coordinate.
          format: float
          type: number
        x:
          description: X coordinate.
          type: number
          format: float
    GoogleCloudVisionV1p2beta1Page:
      id: GoogleCloudVisionV1p2beta1Page
      description: Detected page from OCR.
      properties:
        width:
          format: int32
          type: integer
          description: >-
            Page width. For PDFs the unit is points. For images (including
            TIFFs) the unit is pixels.
        blocks:
          description: List of blocks of text, images etc on this page.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1Block'
          type: array
        height:
          type: integer
          description: >-
            Page height. For PDFs the unit is points. For images (including
            TIFFs) the unit is pixels.
          format: int32
        confidence:
          format: float
          type: number
          description: Confidence of the OCR results on the page. Range [0, 1].
        property:
          description: Additional information detected on the page.
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p2beta1TextAnnotationTextProperty
      type: object
    GoogleCloudVisionV1p3beta1ImageProperties:
      properties:
        dominantColors:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p3beta1DominantColorsAnnotation
          description: If present, dominant colors completed successfully.
      type: object
      id: GoogleCloudVisionV1p3beta1ImageProperties
      description: Stores image properties, such as dominant colors.
    GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation:
      id: GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation
      description: Set of detected objects with bounding boxes.
      properties:
        name:
          type: string
          description: Object name, expressed in its `language_code` language.
        mid:
          description: Object ID that should align with EntityAnnotation mid.
          type: string
        score:
          format: float
          description: Score of the result. Range [0, 1].
          type: number
        languageCode:
          type: string
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
        boundingPoly:
          description: Image region to which this object belongs. This must be populated.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1BoundingPoly'
      type: object
    GoogleCloudVisionV1p2beta1CropHintsAnnotation:
      description: >-
        Set of crop hints that are used to generate new crops when serving
        images.
      properties:
        cropHints:
          type: array
          description: Crop hint results.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1CropHint'
      id: GoogleCloudVisionV1p2beta1CropHintsAnnotation
      type: object
    GoogleCloudVisionV1p1beta1WebDetection:
      id: GoogleCloudVisionV1p1beta1WebDetection
      description: Relevant information for the image from the Internet.
      properties:
        fullMatchingImages:
          description: >-
            Fully matching images from the Internet. Can include resized copies
            of the query image.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
        bestGuessLabels:
          description: >-
            The service's best guess as to the topic of the request image.
            Inferred from similar images on the open web.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebLabel
          type: array
        partialMatchingImages:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
          description: >-
            Partial matching images from the Internet. Those images are similar
            enough to share some key-point features. For example an original
            image will likely have partial matching for its crops.
        visuallySimilarImages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
          type: array
          description: The visually similar image results.
        pagesWithMatchingImages:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebPage'
          type: array
          description: Web pages containing the matching images from the Internet.
        webEntities:
          description: Deduced entities from similar images on the Internet.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebEntity
          type: array
      type: object
    GoogleCloudVisionV1p1beta1Vertex:
      type: object
      id: GoogleCloudVisionV1p1beta1Vertex
      properties:
        x:
          description: X coordinate.
          format: int32
          type: integer
        'y':
          type: integer
          description: Y coordinate.
          format: int32
      description: >-
        A vertex represents a 2D point in the image. NOTE: the vertex
        coordinates are in the same scale as the original image.
    GoogleCloudVisionV1p3beta1FaceAnnotationLandmark:
      type: object
      description: A face-specific landmark (for example, a face feature).
      properties:
        type:
          enum:
            - UNKNOWN_LANDMARK
            - LEFT_EYE
            - RIGHT_EYE
            - LEFT_OF_LEFT_EYEBROW
            - RIGHT_OF_LEFT_EYEBROW
            - LEFT_OF_RIGHT_EYEBROW
            - RIGHT_OF_RIGHT_EYEBROW
            - MIDPOINT_BETWEEN_EYES
            - NOSE_TIP
            - UPPER_LIP
            - LOWER_LIP
            - MOUTH_LEFT
            - MOUTH_RIGHT
            - MOUTH_CENTER
            - NOSE_BOTTOM_RIGHT
            - NOSE_BOTTOM_LEFT
            - NOSE_BOTTOM_CENTER
            - LEFT_EYE_TOP_BOUNDARY
            - LEFT_EYE_RIGHT_CORNER
            - LEFT_EYE_BOTTOM_BOUNDARY
            - LEFT_EYE_LEFT_CORNER
            - RIGHT_EYE_TOP_BOUNDARY
            - RIGHT_EYE_RIGHT_CORNER
            - RIGHT_EYE_BOTTOM_BOUNDARY
            - RIGHT_EYE_LEFT_CORNER
            - LEFT_EYEBROW_UPPER_MIDPOINT
            - RIGHT_EYEBROW_UPPER_MIDPOINT
            - LEFT_EAR_TRAGION
            - RIGHT_EAR_TRAGION
            - LEFT_EYE_PUPIL
            - RIGHT_EYE_PUPIL
            - FOREHEAD_GLABELLA
            - CHIN_GNATHION
            - CHIN_LEFT_GONION
            - CHIN_RIGHT_GONION
            - LEFT_CHEEK_CENTER
            - RIGHT_CHEEK_CENTER
          type: string
          description: Face landmark type.
          enumDescriptions:
            - Unknown face landmark detected. Should not be filled.
            - Left eye.
            - Right eye.
            - Left of left eyebrow.
            - Right of left eyebrow.
            - Left of right eyebrow.
            - Right of right eyebrow.
            - Midpoint between eyes.
            - Nose tip.
            - Upper lip.
            - Lower lip.
            - Mouth left.
            - Mouth right.
            - Mouth center.
            - Nose, bottom right.
            - Nose, bottom left.
            - Nose, bottom center.
            - Left eye, top boundary.
            - Left eye, right corner.
            - Left eye, bottom boundary.
            - Left eye, left corner.
            - Right eye, top boundary.
            - Right eye, right corner.
            - Right eye, bottom boundary.
            - Right eye, left corner.
            - Left eyebrow, upper midpoint.
            - Right eyebrow, upper midpoint.
            - Left ear tragion.
            - Right ear tragion.
            - Left eye pupil.
            - Right eye pupil.
            - Forehead glabella.
            - Chin gnathion.
            - Chin left gonion.
            - Chin right gonion.
            - Left cheek center.
            - Right cheek center.
        position:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1Position'
          description: Face landmark position.
      id: GoogleCloudVisionV1p3beta1FaceAnnotationLandmark
    GoogleCloudVisionV1p1beta1CropHintsAnnotation:
      type: object
      id: GoogleCloudVisionV1p1beta1CropHintsAnnotation
      description: >-
        Set of crop hints that are used to generate new crops when serving
        images.
      properties:
        cropHints:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1CropHint'
          description: Crop hint results.
          type: array
    GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak:
      description: Detected start or end of a structural component.
      type: object
      id: GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak
      properties:
        isPrefix:
          description: True if break prepends the element.
          type: boolean
        type:
          enum:
            - UNKNOWN
            - SPACE
            - SURE_SPACE
            - EOL_SURE_SPACE
            - HYPHEN
            - LINE_BREAK
          description: Detected break type.
          enumDescriptions:
            - Unknown break label type.
            - Regular space.
            - Sure space (very wide).
            - Line-wrapping break.
            - >-
              End-line hyphen that is not present in text; does not co-occur
              with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.
            - Line break that ends a paragraph.
          type: string
    GoogleCloudVisionV1p4beta1BatchAnnotateFilesResponse:
      description: A list of file annotation responses.
      properties:
        responses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p4beta1AnnotateFileResponse
          description: >-
            The list of file annotation responses, each response corresponding
            to each AnnotateFileRequest in BatchAnnotateFilesRequest.
          type: array
      type: object
      id: GoogleCloudVisionV1p4beta1BatchAnnotateFilesResponse
    GoogleCloudVisionV1p4beta1EntityAnnotation:
      type: object
      description: Set of detected entity features.
      properties:
        locale:
          type: string
          description: >-
            The language code for the locale in which the entity textual
            `description` is expressed.
        topicality:
          format: float
          description: >-
            The relevancy of the ICA (Image Content Annotation) label to the
            image. For example, the relevancy of "tower" is likely higher to an
            image containing the detected "Eiffel Tower" than to an image
            containing a detected distant towering building, even though the
            confidence that there is a tower in each image may be the same.
            Range [0, 1].
          type: number
        confidence:
          description: >-
            **Deprecated. Use `score` instead.** The accuracy of the entity
            detection in an image. For example, for an image in which the
            "Eiffel Tower" entity is detected, this field represents the
            confidence that there is a tower in the query image. Range [0, 1].
          type: number
          format: float
        boundingPoly:
          description: >-
            Image region to which this entity belongs. Not produced for
            `LABEL_DETECTION` features.
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1BoundingPoly'
        mid:
          description: >-
            Opaque entity ID. Some IDs may be available in [Google Knowledge
            Graph Search API](https://developers.google.com/knowledge-graph/).
          type: string
        description:
          description: Entity textual description, expressed in its `locale` language.
          type: string
        locations:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1LocationInfo'
          type: array
          description: >-
            The location information for the detected entity. Multiple
            `LocationInfo` elements can be present because one location may
            indicate the location of the scene in the image, and another
            location may indicate the location of the place where the image was
            taken. Location information is usually present for landmarks.
        score:
          description: Overall score of the result. Range [0, 1].
          format: float
          type: number
        properties:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1Property'
          description: >-
            Some entities may have optional user-supplied `Property`
            (name/value) fields, such a score or string that qualifies the
            entity.
      id: GoogleCloudVisionV1p4beta1EntityAnnotation
    TextDetectionParams:
      description: >-
        Parameters for text detections. This is used to control TEXT_DETECTION
        and DOCUMENT_TEXT_DETECTION features.
      properties:
        advancedOcrOptions:
          items:
            type: string
          description: >-
            A list of advanced OCR options to further fine-tune OCR behavior.
            Current valid values are: - `legacy_layout`: a heuristics layout
            detection algorithm, which serves as an alternative to the current
            ML-based layout detection algorithm. Customers can choose the best
            suitable layout algorithm based on their situation.
          type: array
        enableTextDetectionConfidenceScore:
          type: boolean
          description: >-
            By default, Cloud Vision API only includes confidence score for
            DOCUMENT_TEXT_DETECTION result. Set the flag to true to include
            confidence score for TEXT_DETECTION as well.
      id: TextDetectionParams
      type: object
    CropHintsParams:
      properties:
        aspectRatios:
          items:
            type: number
            format: float
          description: >-
            Aspect ratios in floats, representing the ratio of the width to the
            height of the image. For example, if the desired aspect ratio is
            4/3, the corresponding float value should be 1.33333. If not
            specified, the best possible crop is returned. The number of
            provided aspect ratios is limited to a maximum of 16; any aspect
            ratios provided after the 16th are ignored.
          type: array
      description: Parameters for crop hints annotation request.
      type: object
      id: CropHintsParams
    GoogleCloudVisionV1p1beta1GcsSource:
      description: The Google Cloud Storage location where the input will be read from.
      id: GoogleCloudVisionV1p1beta1GcsSource
      type: object
      properties:
        uri:
          description: >-
            Google Cloud Storage URI for the input file. This must only be a
            Google Cloud Storage object. Wildcards are not currently supported.
          type: string
    GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponse:
      type: object
      description: The response for a single offline file annotation request.
      properties:
        outputConfig:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1OutputConfig'
          description: The output location and metadata from AsyncAnnotateFileRequest.
      id: GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponse
    GoogleCloudVisionV1p3beta1AnnotateFileResponse:
      properties:
        responses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p3beta1AnnotateImageResponse
          type: array
          description: >-
            Individual responses to images found within the file. This field
            will be empty if the `error` field is set.
        inputConfig:
          description: Information about the file for which this response is generated.
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1InputConfig'
        error:
          description: >-
            If set, represents the error message for the failed request. The
            `responses` field will not be set in this case.
          $ref: '#/components/schemas/Status'
        totalPages:
          type: integer
          description: This field gives the total number of pages in the file.
          format: int32
      type: object
      description: >-
        Response to a single file annotation request. A file may contain one or
        more images, which individually have their own responses.
      id: GoogleCloudVisionV1p3beta1AnnotateFileResponse
    Image:
      type: object
      properties:
        content:
          type: string
          description: >-
            Image content, represented as a stream of bytes. Note: As with all
            `bytes` fields, protobuffers use a pure binary representation,
            whereas JSON representations use base64. Currently, this field only
            works for BatchAnnotateImages requests. It does not work for
            AsyncBatchAnnotateImages requests.
          format: byte
        source:
          description: >-
            Google Cloud Storage image location, or publicly-accessible image
            URL. If both `content` and `source` are provided for an image,
            `content` takes precedence and is used to perform the image
            annotation request.
          $ref: '#/components/schemas/ImageSource'
      description: Client image to perform Google Cloud Vision API tasks over.
      id: Image
    GoogleCloudVisionV1p4beta1TextAnnotationDetectedBreak:
      properties:
        isPrefix:
          type: boolean
          description: True if break prepends the element.
        type:
          type: string
          description: Detected break type.
          enumDescriptions:
            - Unknown break label type.
            - Regular space.
            - Sure space (very wide).
            - Line-wrapping break.
            - >-
              End-line hyphen that is not present in text; does not co-occur
              with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.
            - Line break that ends a paragraph.
          enum:
            - UNKNOWN
            - SPACE
            - SURE_SPACE
            - EOL_SURE_SPACE
            - HYPHEN
            - LINE_BREAK
      type: object
      description: Detected start or end of a structural component.
      id: GoogleCloudVisionV1p4beta1TextAnnotationDetectedBreak
    GoogleCloudVisionV1p2beta1WebDetectionWebPage:
      id: GoogleCloudVisionV1p2beta1WebDetectionWebPage
      type: object
      description: Metadata for web pages.
      properties:
        pageTitle:
          type: string
          description: Title for the web page, may contain HTML markups.
        score:
          format: float
          description: (Deprecated) Overall relevancy score for the web page.
          type: number
        partialMatchingImages:
          description: >-
            Partial matching images on the page. Those images are similar enough
            to share some key-point features. For example an original image will
            likely have partial matching for its crops.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p2beta1WebDetectionWebImage
        fullMatchingImages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p2beta1WebDetectionWebImage
          type: array
          description: >-
            Fully matching images on the page. Can include resized copies of the
            query image.
        url:
          description: The result web page URL.
          type: string
    Color:
      properties:
        alpha:
          type: number
          format: float
          description: >-
            The fraction of this color that should be applied to the pixel. That
            is, the final pixel color is defined by the equation: `pixel color =
            alpha * (this color) + (1.0 - alpha) * (background color)` This
            means that a value of 1.0 corresponds to a solid color, whereas a
            value of 0.0 corresponds to a completely transparent color. This
            uses a wrapper message rather than a simple float scalar so that it
            is possible to distinguish between a default value and the value
            being unset. If omitted, this color object is rendered as a solid
            color (as if the alpha value had been explicitly given a value of
            1.0).
        red:
          format: float
          description: The amount of red in the color as a value in the interval [0, 1].
          type: number
        green:
          description: The amount of green in the color as a value in the interval [0, 1].
          type: number
          format: float
        blue:
          description: The amount of blue in the color as a value in the interval [0, 1].
          format: float
          type: number
      type: object
      id: Color
      description: >-
        Represents a color in the RGBA color space. This representation is
        designed for simplicity of conversion to and from color representations
        in various languages over compactness. For example, the fields of this
        representation can be trivially provided to the constructor of
        `java.awt.Color` in Java; it can also be trivially provided to UIColor's
        `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little
        work, it can be easily formatted into a CSS `rgba()` string in
        JavaScript. This reference page doesn't have information about the
        absolute color space that should be used to interpret the RGB value—for
        example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications
        should assume the sRGB color space. When color equality needs to be
        decided, implementations, unless documented otherwise, treat two colors
        as equal if all their red, green, blue, and alpha values each differ by
        at most `1e-5`. Example (Java): import com.google.type.Color; // ...
        public static java.awt.Color fromProto(Color protocolor) { float alpha =
        protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return
        new java.awt.Color( protocolor.getRed(), protocolor.getGreen(),
        protocolor.getBlue(), alpha); } public static Color
        toProto(java.awt.Color color) { float red = (float) color.getRed();
        float green = (float) color.getGreen(); float blue = (float)
        color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder
        = Color .newBuilder() .setRed(red / denominator) .setGreen(green /
        denominator) .setBlue(blue / denominator); int alpha = color.getAlpha();
        if (alpha != 255) { result.setAlpha( FloatValue .newBuilder()
        .setValue(((float) alpha) / denominator) .build()); } return
        resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static
        UIColor* fromProto(Color* protocolor) { float red = [protocolor red];
        float green = [protocolor green]; float blue = [protocolor blue];
        FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if
        (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return
        [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static
        Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if
        (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return
        nil; } Color* result = [[Color alloc] init]; [result setRed:red];
        [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) {
        [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease];
        return result; } // ... Example (JavaScript): // ... var protoToCssColor
        = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var
        greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue ||
        0.0; var red = Math.floor(redFrac * 255); var green =
        Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if
        (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); }
        var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red,
        green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac,
        ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var
        rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString
        = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var
        resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) {
        resultBuilder.push('0'); } resultBuilder.push(hexString); return
        resultBuilder.join(''); }; // ...
    Symbol:
      properties:
        boundingBox:
          description: >-
            The bounding box for the symbol. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
          $ref: '#/components/schemas/BoundingPoly'
        text:
          description: The actual UTF-8 representation of the symbol.
          type: string
        confidence:
          description: Confidence of the OCR results for the symbol. Range [0, 1].
          type: number
          format: float
        property:
          $ref: '#/components/schemas/TextProperty'
          description: Additional information detected for the symbol.
      type: object
      description: A single symbol representation.
      id: Symbol
    GoogleCloudVisionV1p1beta1BoundingPoly:
      properties:
        normalizedVertices:
          description: The bounding polygon normalized vertices.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1NormalizedVertex'
          type: array
        vertices:
          description: The bounding polygon vertices.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Vertex'
          type: array
      description: A bounding polygon for the detected image annotation.
      type: object
      id: GoogleCloudVisionV1p1beta1BoundingPoly
    GoogleCloudVisionV1p3beta1ReferenceImage:
      id: GoogleCloudVisionV1p3beta1ReferenceImage
      description: >-
        A `ReferenceImage` represents a product image and its associated
        metadata, such as bounding boxes.
      properties:
        boundingPolys:
          type: array
          description: >-
            Optional. Bounding polygons around the areas of interest in the
            reference image. If this field is empty, the system will try to
            detect regions of interest. At most 10 bounding polygons will be
            used. The provided shape is converted into a non-rotated rectangle.
            Once converted, the small edge of the rectangle must be greater than
            or equal to 300 pixels. The aspect ratio must be 1:4 or less (i.e.
            1:3 is ok; 1:5 is not).
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1BoundingPoly'
        uri:
          type: string
          description: >-
            Required. The Google Cloud Storage URI of the reference image. The
            URI must start with `gs://`.
        name:
          type: string
          description: >-
            The resource name of the reference image. Format is:
            `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`.
            This field is ignored when creating a reference image.
      type: object
    GoogleCloudVisionV1p3beta1AsyncBatchAnnotateFilesResponse:
      properties:
        responses:
          description: >-
            The list of file annotation responses, one for each request in
            AsyncBatchAnnotateFilesRequest.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p3beta1AsyncAnnotateFileResponse
      id: GoogleCloudVisionV1p3beta1AsyncBatchAnnotateFilesResponse
      description: Response to an async batch file annotation request.
      type: object
    CropHint:
      type: object
      properties:
        importanceFraction:
          description: >-
            Fraction of importance of this salient region with respect to the
            original image.
          type: number
          format: float
        boundingPoly:
          description: >-
            The bounding polygon for the crop region. The coordinates of the
            bounding box are in the original image's scale.
          $ref: '#/components/schemas/BoundingPoly'
        confidence:
          format: float
          type: number
          description: Confidence of this being a salient region. Range [0, 1].
      description: >-
        Single crop hint that is used to generate a new crop when serving an
        image.
      id: CropHint
    GoogleCloudVisionV1p1beta1WebDetectionWebPage:
      properties:
        score:
          format: float
          type: number
          description: (Deprecated) Overall relevancy score for the web page.
        url:
          description: The result web page URL.
          type: string
        partialMatchingImages:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
          type: array
          description: >-
            Partial matching images on the page. Those images are similar enough
            to share some key-point features. For example an original image will
            likely have partial matching for its crops.
        pageTitle:
          type: string
          description: Title for the web page, may contain HTML markups.
        fullMatchingImages:
          type: array
          description: >-
            Fully matching images on the page. Can include resized copies of the
            query image.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1WebDetectionWebImage
      description: Metadata for web pages.
      id: GoogleCloudVisionV1p1beta1WebDetectionWebPage
      type: object
    GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak:
      description: Detected start or end of a structural component.
      type: object
      id: GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak
      properties:
        type:
          description: Detected break type.
          enum:
            - UNKNOWN
            - SPACE
            - SURE_SPACE
            - EOL_SURE_SPACE
            - HYPHEN
            - LINE_BREAK
          type: string
          enumDescriptions:
            - Unknown break label type.
            - Regular space.
            - Sure space (very wide).
            - Line-wrapping break.
            - >-
              End-line hyphen that is not present in text; does not co-occur
              with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.
            - Line break that ends a paragraph.
        isPrefix:
          type: boolean
          description: True if break prepends the element.
    GoogleCloudVisionV1p1beta1Position:
      properties:
        z:
          description: Z coordinate (or depth).
          format: float
          type: number
        x:
          type: number
          format: float
          description: X coordinate.
        'y':
          format: float
          type: number
          description: Y coordinate.
      description: >-
        A 3D position in the image, used primarily for Face detection landmarks.
        A valid Position must have both x and y coordinates. The position
        coordinates are in the same scale as the original image.
      type: object
      id: GoogleCloudVisionV1p1beta1Position
    GoogleCloudVisionV1p1beta1NormalizedVertex:
      properties:
        'y':
          description: Y coordinate.
          type: number
          format: float
        x:
          format: float
          type: number
          description: X coordinate.
      id: GoogleCloudVisionV1p1beta1NormalizedVertex
      type: object
      description: >-
        A vertex represents a 2D point in the image. NOTE: the normalized vertex
        coordinates are relative to the original image and range from 0 to 1.
    GoogleCloudVisionV1p3beta1Word:
      description: A word representation.
      id: GoogleCloudVisionV1p3beta1Word
      type: object
      properties:
        symbols:
          description: >-
            List of symbols in the word. The order of the symbols follows the
            natural reading order.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1Symbol'
          type: array
        property:
          description: Additional information detected for the word.
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p3beta1TextAnnotationTextProperty
        boundingBox:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1BoundingPoly'
          description: >-
            The bounding box for the word. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
        confidence:
          type: number
          format: float
          description: Confidence of the OCR results for the word. Range [0, 1].
    AddProductToProductSetRequest:
      id: AddProductToProductSetRequest
      type: object
      properties:
        product:
          description: >-
            Required. The resource name for the Product to be added to this
            ProductSet. Format is:
            `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`
          type: string
      description: Request message for the `AddProductToProductSet` method.
    GoogleCloudVisionV1p1beta1Paragraph:
      type: object
      description: Structural unit of text representing a number of words in certain order.
      id: GoogleCloudVisionV1p1beta1Paragraph
      properties:
        boundingBox:
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
          description: >-
            The bounding box for the paragraph. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
        property:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p1beta1TextAnnotationTextProperty
          description: Additional information detected for the paragraph.
        words:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Word'
          type: array
          description: List of all words in this paragraph.
        confidence:
          type: number
          description: Confidence of the OCR results for the paragraph. Range [0, 1].
          format: float
    OutputConfig:
      description: The desired output location and metadata.
      properties:
        batchSize:
          description: >-
            The max number of response protos to put into each output JSON file
            on Google Cloud Storage. The valid range is [1, 100]. If not
            specified, the default value is 20. For example, for one pdf file
            with 100 pages, 100 response protos will be generated. If
            `batch_size` = 20, then 5 json files each containing 20 response
            protos will be written under the prefix `gcs_destination`.`uri`.
            Currently, batch_size only applies to GcsDestination, with potential
            future support for other output configurations.
          type: integer
          format: int32
        gcsDestination:
          description: The Google Cloud Storage location to write the output(s) to.
          $ref: '#/components/schemas/GcsDestination'
      id: OutputConfig
      type: object
    GoogleCloudVisionV1p4beta1WebDetectionWebEntity:
      properties:
        entityId:
          description: Opaque entity ID.
          type: string
        description:
          type: string
          description: Canonical description of the entity, in English.
        score:
          type: number
          description: >-
            Overall relevancy score for the entity. Not normalized and not
            comparable across different image queries.
          format: float
      description: Entity deduced from similar images on the Internet.
      type: object
      id: GoogleCloudVisionV1p4beta1WebDetectionWebEntity
    GoogleCloudVisionV1p2beta1OutputConfig:
      description: The desired output location and metadata.
      properties:
        batchSize:
          description: >-
            The max number of response protos to put into each output JSON file
            on Google Cloud Storage. The valid range is [1, 100]. If not
            specified, the default value is 20. For example, for one pdf file
            with 100 pages, 100 response protos will be generated. If
            `batch_size` = 20, then 5 json files each containing 20 response
            protos will be written under the prefix `gcs_destination`.`uri`.
            Currently, batch_size only applies to GcsDestination, with potential
            future support for other output configurations.
          format: int32
          type: integer
        gcsDestination:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1GcsDestination'
          description: The Google Cloud Storage location to write the output(s) to.
      type: object
      id: GoogleCloudVisionV1p2beta1OutputConfig
    AsyncAnnotateFileRequest:
      properties:
        inputConfig:
          description: Required. Information about the input file.
          $ref: '#/components/schemas/InputConfig'
        outputConfig:
          description: Required. The desired output location and metadata (e.g. format).
          $ref: '#/components/schemas/OutputConfig'
        imageContext:
          description: Additional context that may accompany the image(s) in the file.
          $ref: '#/components/schemas/ImageContext'
        features:
          items:
            $ref: '#/components/schemas/Feature'
          type: array
          description: Required. Requested features.
      description: An offline file annotation request.
      id: AsyncAnnotateFileRequest
      type: object
    GoogleCloudVisionV1p4beta1WebDetectionWebImage:
      id: GoogleCloudVisionV1p4beta1WebDetectionWebImage
      description: Metadata for online images.
      properties:
        url:
          description: The result image URL.
          type: string
        score:
          type: number
          description: (Deprecated) Overall relevancy score for the image.
          format: float
      type: object
    GoogleCloudVisionV1p3beta1TextAnnotation:
      description: >-
        TextAnnotation contains a structured representation of OCR extracted
        text. The hierarchy of an OCR extracted text structure is like this:
        TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each
        structural component, starting from Page, may further have their own
        properties. Properties describe detected languages, breaks etc.. Please
        refer to the TextAnnotation.TextProperty message definition below for
        more detail.
      id: GoogleCloudVisionV1p3beta1TextAnnotation
      type: object
      properties:
        pages:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1Page'
          description: List of pages detected by OCR.
          type: array
        text:
          type: string
          description: UTF-8 text detected on the pages.
    GoogleCloudVisionV1p3beta1AnnotateImageResponse:
      type: object
      id: GoogleCloudVisionV1p3beta1AnnotateImageResponse
      description: Response to an image annotation request.
      properties:
        imagePropertiesAnnotation:
          description: If present, image properties were extracted successfully.
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1ImageProperties'
        faceAnnotations:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1FaceAnnotation'
          type: array
          description: If present, face detection has completed successfully.
        textAnnotations:
          description: If present, text (OCR) detection has completed successfully.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1EntityAnnotation'
        webDetection:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1WebDetection'
          description: If present, web detection has completed successfully.
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            If set, represents the error message for the operation. Note that
            filled-in image annotations are guaranteed to be correct, even when
            `error` is set.
        productSearchResults:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1ProductSearchResults'
          description: If present, product search has completed successfully.
        logoAnnotations:
          type: array
          description: If present, logo detection has completed successfully.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1EntityAnnotation'
        cropHintsAnnotation:
          description: If present, crop hints have completed successfully.
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1CropHintsAnnotation'
        safeSearchAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1SafeSearchAnnotation'
          description: If present, safe-search annotation has completed successfully.
        localizedObjectAnnotations:
          description: >-
            If present, localized object detection has completed successfully.
            This will be sorted descending by confidence score.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p3beta1LocalizedObjectAnnotation
        fullTextAnnotation:
          description: >-
            If present, text (OCR) detection or document (OCR) text detection
            has completed successfully. This annotation provides the structural
            hierarchy for the OCR detected text.
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1TextAnnotation'
        context:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p3beta1ImageAnnotationContext
          description: >-
            If present, contextual information is needed to understand where
            this image comes from.
        labelAnnotations:
          description: If present, label detection has completed successfully.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1EntityAnnotation'
          type: array
        landmarkAnnotations:
          description: If present, landmark detection has completed successfully.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1EntityAnnotation'
    InputConfig:
      type: object
      properties:
        gcsSource:
          $ref: '#/components/schemas/GcsSource'
          description: The Google Cloud Storage location to read the input from.
        content:
          format: byte
          type: string
          description: >-
            File content, represented as a stream of bytes. Note: As with all
            `bytes` fields, protobuffers use a pure binary representation,
            whereas JSON representations use base64. Currently, this field only
            works for BatchAnnotateFiles requests. It does not work for
            AsyncBatchAnnotateFiles requests.
        mimeType:
          description: >-
            The type of the file. Currently only "application/pdf", "image/tiff"
            and "image/gif" are supported. Wildcards are not supported.
          type: string
      id: InputConfig
      description: The desired input location and metadata.
    GoogleCloudVisionV1p3beta1Symbol:
      description: A single symbol representation.
      type: object
      id: GoogleCloudVisionV1p3beta1Symbol
      properties:
        text:
          type: string
          description: The actual UTF-8 representation of the symbol.
        confidence:
          description: Confidence of the OCR results for the symbol. Range [0, 1].
          type: number
          format: float
        boundingBox:
          description: >-
            The bounding box for the symbol. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1BoundingPoly'
        property:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p3beta1TextAnnotationTextProperty
          description: Additional information detected for the symbol.
    GoogleCloudVisionV1p4beta1GcsDestination:
      description: The Google Cloud Storage location where the output will be written to.
      type: object
      id: GoogleCloudVisionV1p4beta1GcsDestination
      properties:
        uri:
          type: string
          description: >-
            Google Cloud Storage URI prefix where the results will be stored.
            Results will be in JSON format and preceded by its corresponding
            input URI prefix. This field can either represent a gcs file prefix
            or gcs directory. In either case, the uri should be unique because
            in order to get all of the output files, you will need to do a
            wildcard gcs search on the uri prefix you provide. Examples: * File
            Prefix: gs://bucket-name/here/filenameprefix The output files will
            be created in gs://bucket-name/here/ and the names of the output
            files will begin with "filenameprefix". * Directory Prefix:
            gs://bucket-name/some/location/ The output files will be created in
            gs://bucket-name/some/location/ and the names of the output files
            could be anything because there was no filename prefix specified. If
            multiple outputs, each response is still AnnotateFileResponse, each
            of which contains some subset of the full list of
            AnnotateImageResponse. Multiple outputs can happen if, for example,
            the output JSON is too large and overflows into multiple sharded
            files.
    GoogleCloudVisionV1p3beta1ProductSearchResultsObjectAnnotation:
      type: object
      id: GoogleCloudVisionV1p3beta1ProductSearchResultsObjectAnnotation
      properties:
        score:
          description: Score of the result. Range [0, 1].
          format: float
          type: number
        name:
          description: Object name, expressed in its `language_code` language.
          type: string
        languageCode:
          type: string
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
        mid:
          description: Object ID that should align with EntityAnnotation mid.
          type: string
      description: Prediction for what the object in the bounding box is.
    GoogleCloudVisionV1p3beta1Block:
      type: object
      description: Logical element on the page.
      id: GoogleCloudVisionV1p3beta1Block
      properties:
        paragraphs:
          type: array
          description: List of paragraphs in this block (if this blocks is of type text).
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1Paragraph'
        property:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p3beta1TextAnnotationTextProperty
          description: Additional information detected for the block.
        boundingBox:
          description: >-
            The bounding box for the block. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1BoundingPoly'
        confidence:
          type: number
          description: Confidence of the OCR results on the block. Range [0, 1].
          format: float
        blockType:
          type: string
          description: Detected block type (text, image etc) for this block.
          enumDescriptions:
            - Unknown block type.
            - Regular text block.
            - Table block.
            - Image block.
            - Horizontal/vertical line box.
            - Barcode block.
          enum:
            - UNKNOWN
            - TEXT
            - TABLE
            - PICTURE
            - RULER
            - BARCODE
    GoogleCloudVisionV1p3beta1ProductSearchResultsGroupedResult:
      properties:
        results:
          description: List of results, one for each product match.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p3beta1ProductSearchResultsResult
        boundingPoly:
          $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1BoundingPoly'
          description: The bounding polygon around the product detected in the query image.
        objectAnnotations:
          description: List of generic predictions for the object in the bounding box.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p3beta1ProductSearchResultsObjectAnnotation
          type: array
      description: >-
        Information about the products similar to a single product in a query
        image.
      id: GoogleCloudVisionV1p3beta1ProductSearchResultsGroupedResult
      type: object
    GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage:
      id: GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage
      type: object
      properties:
        languageCode:
          type: string
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
        confidence:
          description: Confidence of detected language. Range [0, 1].
          format: float
          type: number
      description: Detected language for a structural component.
    GoogleCloudVisionV1p4beta1AnnotateImageResponse:
      properties:
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            If set, represents the error message for the operation. Note that
            filled-in image annotations are guaranteed to be correct, even when
            `error` is set.
        cropHintsAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1CropHintsAnnotation'
          description: If present, crop hints have completed successfully.
        imagePropertiesAnnotation:
          description: If present, image properties were extracted successfully.
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1ImageProperties'
        textAnnotations:
          description: If present, text (OCR) detection has completed successfully.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1EntityAnnotation'
        webDetection:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1WebDetection'
          description: If present, web detection has completed successfully.
        landmarkAnnotations:
          description: If present, landmark detection has completed successfully.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1EntityAnnotation'
          type: array
        logoAnnotations:
          type: array
          description: If present, logo detection has completed successfully.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1EntityAnnotation'
        safeSearchAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1SafeSearchAnnotation'
          description: If present, safe-search annotation has completed successfully.
        faceAnnotations:
          description: If present, face detection has completed successfully.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1FaceAnnotation'
        localizedObjectAnnotations:
          description: >-
            If present, localized object detection has completed successfully.
            This will be sorted descending by confidence score.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p4beta1LocalizedObjectAnnotation
          type: array
        fullTextAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1TextAnnotation'
          description: >-
            If present, text (OCR) detection or document (OCR) text detection
            has completed successfully. This annotation provides the structural
            hierarchy for the OCR detected text.
        labelAnnotations:
          type: array
          description: If present, label detection has completed successfully.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1EntityAnnotation'
        productSearchResults:
          description: If present, product search has completed successfully.
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1ProductSearchResults'
        context:
          description: >-
            If present, contextual information is needed to understand where
            this image comes from.
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p4beta1ImageAnnotationContext
      id: GoogleCloudVisionV1p4beta1AnnotateImageResponse
      description: Response to an image annotation request.
      type: object
    GoogleCloudVisionV1p2beta1Vertex:
      type: object
      id: GoogleCloudVisionV1p2beta1Vertex
      properties:
        x:
          format: int32
          type: integer
          description: X coordinate.
        'y':
          description: Y coordinate.
          format: int32
          type: integer
      description: >-
        A vertex represents a 2D point in the image. NOTE: the vertex
        coordinates are in the same scale as the original image.
    GoogleCloudVisionV1p4beta1Property:
      id: GoogleCloudVisionV1p4beta1Property
      description: A `Property` consists of a user-supplied name/value pair.
      type: object
      properties:
        name:
          description: Name of the property.
          type: string
        value:
          type: string
          description: Value of the property.
        uint64Value:
          description: Value of numeric properties.
          format: uint64
          type: string
    AnnotateImageRequest:
      description: >-
        Request for performing Google Cloud Vision API tasks over a
        user-provided image, with user-requested features, and with context
        information.
      properties:
        imageContext:
          description: Additional context that may accompany the image.
          $ref: '#/components/schemas/ImageContext'
        image:
          description: The image to be processed.
          $ref: '#/components/schemas/Image'
        features:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
          description: Requested features.
      type: object
      id: AnnotateImageRequest
    GoogleCloudVisionV1p4beta1AnnotateFileResponse:
      type: object
      description: >-
        Response to a single file annotation request. A file may contain one or
        more images, which individually have their own responses.
      properties:
        responses:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p4beta1AnnotateImageResponse
          description: >-
            Individual responses to images found within the file. This field
            will be empty if the `error` field is set.
          type: array
        totalPages:
          description: This field gives the total number of pages in the file.
          type: integer
          format: int32
        error:
          description: >-
            If set, represents the error message for the failed request. The
            `responses` field will not be set in this case.
          $ref: '#/components/schemas/Status'
        inputConfig:
          description: Information about the file for which this response is generated.
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1InputConfig'
      id: GoogleCloudVisionV1p4beta1AnnotateFileResponse
    GoogleCloudVisionV1p2beta1AnnotateImageResponse:
      description: Response to an image annotation request.
      properties:
        labelAnnotations:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1EntityAnnotation'
          description: If present, label detection has completed successfully.
        landmarkAnnotations:
          type: array
          description: If present, landmark detection has completed successfully.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1EntityAnnotation'
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            If set, represents the error message for the operation. Note that
            filled-in image annotations are guaranteed to be correct, even when
            `error` is set.
        safeSearchAnnotation:
          description: If present, safe-search annotation has completed successfully.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1SafeSearchAnnotation'
        productSearchResults:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1ProductSearchResults'
          description: If present, product search has completed successfully.
        faceAnnotations:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1FaceAnnotation'
          type: array
          description: If present, face detection has completed successfully.
        context:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p2beta1ImageAnnotationContext
          description: >-
            If present, contextual information is needed to understand where
            this image comes from.
        logoAnnotations:
          description: If present, logo detection has completed successfully.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1EntityAnnotation'
        webDetection:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1WebDetection'
          description: If present, web detection has completed successfully.
        imagePropertiesAnnotation:
          description: If present, image properties were extracted successfully.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1ImageProperties'
        textAnnotations:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1EntityAnnotation'
          type: array
          description: If present, text (OCR) detection has completed successfully.
        localizedObjectAnnotations:
          description: >-
            If present, localized object detection has completed successfully.
            This will be sorted descending by confidence score.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation
          type: array
        fullTextAnnotation:
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1TextAnnotation'
          description: >-
            If present, text (OCR) detection or document (OCR) text detection
            has completed successfully. This annotation provides the structural
            hierarchy for the OCR detected text.
        cropHintsAnnotation:
          description: If present, crop hints have completed successfully.
          $ref: '#/components/schemas/GoogleCloudVisionV1p2beta1CropHintsAnnotation'
      type: object
      id: GoogleCloudVisionV1p2beta1AnnotateImageResponse
    GoogleCloudVisionV1p2beta1WebDetectionWebEntity:
      type: object
      id: GoogleCloudVisionV1p2beta1WebDetectionWebEntity
      description: Entity deduced from similar images on the Internet.
      properties:
        entityId:
          type: string
          description: Opaque entity ID.
        score:
          type: number
          format: float
          description: >-
            Overall relevancy score for the entity. Not normalized and not
            comparable across different image queries.
        description:
          type: string
          description: Canonical description of the entity, in English.
    LatLng:
      id: LatLng
      type: object
      properties:
        longitude:
          description: The longitude in degrees. It must be in the range [-180.0, +180.0].
          format: double
          type: number
        latitude:
          description: The latitude in degrees. It must be in the range [-90.0, +90.0].
          type: number
          format: double
      description: >-
        An object that represents a latitude/longitude pair. This is expressed
        as a pair of doubles to represent degrees latitude and degrees
        longitude. Unless specified otherwise, this object must conform to the
        WGS84 standard. Values must be within normalized ranges.
    GoogleCloudVisionV1p4beta1Word:
      id: GoogleCloudVisionV1p4beta1Word
      properties:
        confidence:
          format: float
          description: Confidence of the OCR results for the word. Range [0, 1].
          type: number
        property:
          $ref: >-
            #/components/schemas/GoogleCloudVisionV1p4beta1TextAnnotationTextProperty
          description: Additional information detected for the word.
        symbols:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1Symbol'
          description: >-
            List of symbols in the word. The order of the symbols follows the
            natural reading order.
          type: array
        boundingBox:
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1BoundingPoly'
          description: >-
            The bounding box for the word. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
      type: object
      description: A word representation.
    DetectedLanguage:
      id: DetectedLanguage
      description: Detected language for a structural component.
      type: object
      properties:
        languageCode:
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
          type: string
        confidence:
          description: Confidence of detected language. Range [0, 1].
          type: number
          format: float
    GoogleCloudVisionV1p1beta1ProductKeyValue:
      type: object
      properties:
        key:
          description: >-
            The key of the label attached to the product. Cannot be empty and
            cannot exceed 128 bytes.
          type: string
        value:
          description: >-
            The value of the label attached to the product. Cannot be empty and
            cannot exceed 128 bytes.
          type: string
      description: A product label represented as a key-value pair.
      id: GoogleCloudVisionV1p1beta1ProductKeyValue
    NormalizedVertex:
      description: >-
        A vertex represents a 2D point in the image. NOTE: the normalized vertex
        coordinates are relative to the original image and range from 0 to 1.
      type: object
      id: NormalizedVertex
      properties:
        x:
          format: float
          description: X coordinate.
          type: number
        'y':
          format: float
          description: Y coordinate.
          type: number
    ProductSearchResults:
      type: object
      id: ProductSearchResults
      description: Results for a product search request.
      properties:
        results:
          items:
            $ref: '#/components/schemas/Result'
          type: array
          description: List of results, one for each product match.
        productGroupedResults:
          items:
            $ref: '#/components/schemas/GroupedResult'
          description: >-
            List of results grouped by products detected in the query image.
            Each entry corresponds to one bounding polygon in the query image,
            and contains the matching products specific to that region. There
            may be duplicate product matches in the union of all the per-product
            results.
          type: array
        indexTime:
          type: string
          description: >-
            Timestamp of the index which provided these results. Products added
            to the product set and products removed from the product set after
            this time are not reflected in the current results.
          format: google-datetime
    GoogleCloudVisionV1p1beta1ColorInfo:
      properties:
        score:
          type: number
          format: float
          description: Image-specific score for this color. Value in range [0, 1].
        pixelFraction:
          description: >-
            The fraction of pixels the color occupies in the image. Value in
            range [0, 1].
          type: number
          format: float
        color:
          $ref: '#/components/schemas/Color'
          description: RGB components of the color.
      id: GoogleCloudVisionV1p1beta1ColorInfo
      type: object
      description: >-
        Color information consists of RGB channels, score, and the fraction of
        the image that the color occupies in the image.
    GoogleCloudVisionV1p3beta1ProductKeyValue:
      type: object
      description: A product label represented as a key-value pair.
      properties:
        key:
          type: string
          description: >-
            The key of the label attached to the product. Cannot be empty and
            cannot exceed 128 bytes.
        value:
          description: >-
            The value of the label attached to the product. Cannot be empty and
            cannot exceed 128 bytes.
          type: string
      id: GoogleCloudVisionV1p3beta1ProductKeyValue
    WebPage:
      type: object
      properties:
        score:
          type: number
          format: float
          description: (Deprecated) Overall relevancy score for the web page.
        pageTitle:
          description: Title for the web page, may contain HTML markups.
          type: string
        url:
          type: string
          description: The result web page URL.
        fullMatchingImages:
          description: >-
            Fully matching images on the page. Can include resized copies of the
            query image.
          items:
            $ref: '#/components/schemas/WebImage'
          type: array
        partialMatchingImages:
          description: >-
            Partial matching images on the page. Those images are similar enough
            to share some key-point features. For example an original image will
            likely have partial matching for its crops.
          items:
            $ref: '#/components/schemas/WebImage'
          type: array
      id: WebPage
      description: Metadata for web pages.
    GoogleCloudVisionV1p3beta1BatchOperationMetadata:
      properties:
        state:
          description: The current state of the batch operation.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - PROCESSING
            - SUCCESSFUL
            - FAILED
            - CANCELLED
          enumDescriptions:
            - Invalid.
            - Request is actively being processed.
            - >-
              The request is done and at least one item has been successfully
              processed.
            - The request is done and no item has been successfully processed.
            - >-
              The request is done after the
              longrunning.Operations.CancelOperation has been called by the
              user. Any records that were processed before the cancel command
              are output as specified in the request.
        endTime:
          format: google-datetime
          description: >-
            The time when the batch request is finished and
            google.longrunning.Operation.done is set to true.
          type: string
        submitTime:
          description: The time when the batch request was submitted to the server.
          format: google-datetime
          type: string
      id: GoogleCloudVisionV1p3beta1BatchOperationMetadata
      type: object
      description: >-
        Metadata for the batch operations such as the current state. This is
        included in the `metadata` field of the `Operation` returned by the
        `GetOperation` call of the `google::longrunning::Operations` service.
    Word:
      description: A word representation.
      properties:
        confidence:
          type: number
          description: Confidence of the OCR results for the word. Range [0, 1].
          format: float
        property:
          description: Additional information detected for the word.
          $ref: '#/components/schemas/TextProperty'
        boundingBox:
          description: >-
            The bounding box for the word. The vertices are in the order of
            top-left, top-right, bottom-right, bottom-left. When a rotation of
            the bounding box is detected the rotation is represented as around
            the top-left corner as defined when the text is read in the
            'natural' orientation. For example: * when the text is horizontal it
            might look like: 0----1 | | 3----2 * when it's rotated 180 degrees
            around the top-left corner it becomes: 2----3 | | 1----0 and the
            vertex order will still be (0, 1, 2, 3).
          $ref: '#/components/schemas/BoundingPoly'
        symbols:
          type: array
          description: >-
            List of symbols in the word. The order of the symbols follows the
            natural reading order.
          items:
            $ref: '#/components/schemas/Symbol'
      type: object
      id: Word
    GoogleCloudVisionV1p4beta1LocationInfo:
      type: object
      description: Detected entity location information.
      id: GoogleCloudVisionV1p4beta1LocationInfo
      properties:
        latLng:
          description: lat/long location coordinates.
          $ref: '#/components/schemas/LatLng'
    GoogleCloudVisionV1p4beta1ImportProductSetsResponse:
      description: >-
        Response message for the `ImportProductSets` method. This message is
        returned by the google.longrunning.Operations.GetOperation method in the
        returned google.longrunning.Operation.response field.
      id: GoogleCloudVisionV1p4beta1ImportProductSetsResponse
      properties:
        statuses:
          items:
            $ref: '#/components/schemas/Status'
          type: array
          description: >-
            The rpc status for each ImportProductSet request, including both
            successes and errors. The number of statuses here matches the number
            of lines in the csv file, and statuses[i] stores the success or
            failure status of processing the i-th line of the csv, starting from
            line 0.
        referenceImages:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1ReferenceImage'
          description: The list of reference_images that are imported successfully.
          type: array
      type: object
    GoogleCloudVisionV1p4beta1SafeSearchAnnotation:
      id: GoogleCloudVisionV1p4beta1SafeSearchAnnotation
      properties:
        racy:
          description: >-
            Likelihood that the request image contains racy content. Racy
            content may include (but is not limited to) skimpy or sheer
            clothing, strategically covered nudity, lewd or provocative poses,
            or close-ups of sensitive body areas.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
        medical:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
          description: Likelihood that this is a medical image.
        spoof:
          type: string
          description: >-
            Spoof likelihood. The likelihood that an modification was made to
            the image's canonical version to make it appear funny or offensive.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
        violence:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: Likelihood that this image contains violent content.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
        adult:
          description: >-
            Represents the adult content likelihood for the image. Adult content
            may contain elements such as nudity, pornographic images or
            cartoons, or sexual activities.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
      description: >-
        Set of features pertaining to the image, computed by computer vision
        methods over safe-search verticals (for example, adult, spoof, medical,
        violence).
      type: object
    WebLabel:
      id: WebLabel
      type: object
      description: Label to provide extra metadata for the web detection.
      properties:
        languageCode:
          description: >-
            The BCP-47 language code for `label`, such as "en-US" or "sr-Latn".
            For more information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
          type: string
        label:
          description: Label for extra metadata.
          type: string
    GoogleCloudVisionV1p4beta1ImageAnnotationContext:
      type: object
      description: >-
        If an image was produced from a file (e.g. a PDF), this message gives
        information about the source of that image.
      properties:
        uri:
          type: string
          description: The URI of the file used to produce the image.
        pageNumber:
          type: integer
          description: >-
            If the file was a PDF or TIFF, this field gives the page number
            within the file used to produce the image.
          format: int32
      id: GoogleCloudVisionV1p4beta1ImageAnnotationContext
    GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult:
      properties:
        results:
          description: List of results, one for each product match.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1ProductSearchResultsResult
        boundingPoly:
          description: The bounding polygon around the product detected in the query image.
          $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1BoundingPoly'
        objectAnnotations:
          description: List of generic predictions for the object in the bounding box.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation
          type: array
      description: >-
        Information about the products similar to a single product in a query
        image.
      id: GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult
      type: object
    GoogleCloudVisionV1p2beta1ProductKeyValue:
      properties:
        value:
          type: string
          description: >-
            The value of the label attached to the product. Cannot be empty and
            cannot exceed 128 bytes.
        key:
          description: >-
            The key of the label attached to the product. Cannot be empty and
            cannot exceed 128 bytes.
          type: string
      type: object
      id: GoogleCloudVisionV1p2beta1ProductKeyValue
      description: A product label represented as a key-value pair.
    GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage:
      description: Detected language for a structural component.
      properties:
        languageCode:
          type: string
          description: >-
            The BCP-47 language code, such as "en-US" or "sr-Latn". For more
            information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
        confidence:
          description: Confidence of detected language. Range [0, 1].
          type: number
          format: float
      type: object
      id: GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage
    GoogleCloudVisionV1p4beta1CropHint:
      id: GoogleCloudVisionV1p4beta1CropHint
      properties:
        confidence:
          description: Confidence of this being a salient region. Range [0, 1].
          type: number
          format: float
        importanceFraction:
          format: float
          description: >-
            Fraction of importance of this salient region with respect to the
            original image.
          type: number
        boundingPoly:
          description: >-
            The bounding polygon for the crop region. The coordinates of the
            bounding box are in the original image's scale.
          $ref: '#/components/schemas/GoogleCloudVisionV1p4beta1BoundingPoly'
      description: >-
        Single crop hint that is used to generate a new crop when serving an
        image.
      type: object
    ProductSearchParams:
      description: Parameters for a product search request.
      type: object
      properties:
        boundingPoly:
          $ref: '#/components/schemas/BoundingPoly'
          description: >-
            The bounding polygon around the area of interest in the image. If it
            is not specified, system discretion will be applied.
        productCategories:
          type: array
          items:
            type: string
          description: >-
            The list of product categories to search in. Currently, we only
            consider the first category, and either "homegoods-v2",
            "apparel-v2", "toys-v2", "packagedgoods-v1", or "general-v1" should
            be specified. The legacy categories "homegoods", "apparel", and
            "toys" are still supported but will be deprecated. For new products,
            please use "homegoods-v2", "apparel-v2", or "toys-v2" for better
            product search accuracy. It is recommended to migrate existing
            products to these categories as well.
        productSet:
          description: >-
            The resource name of a ProductSet to be searched for similar images.
            Format is:
            `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`.
          type: string
        filter:
          type: string
          description: >-
            The filtering expression. This can be used to restrict search
            results based on Product labels. We currently support an AND of OR
            of key-value expressions, where each expression within an OR must
            have the same key. An '=' should be used to connect the key and
            value. For example, "(color = red OR color = blue) AND brand =
            Google" is acceptable, but "(color = red OR brand = Google)" is not
            acceptable. "color: red" is not acceptable because it uses a ':'
            instead of an '='.
      id: ProductSearchParams
    GoogleCloudVisionV1p3beta1CropHintsAnnotation:
      id: GoogleCloudVisionV1p3beta1CropHintsAnnotation
      description: >-
        Set of crop hints that are used to generate new crops when serving
        images.
      type: object
      properties:
        cropHints:
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p3beta1CropHint'
          type: array
          description: Crop hint results.
    FaceAnnotation:
      id: FaceAnnotation
      properties:
        boundingPoly:
          description: >-
            The bounding polygon around the face. The coordinates of the
            bounding box are in the original image's scale. The bounding box is
            computed to "frame" the face in accordance with human expectations.
            It is based on the landmarker results. Note that one or more x
            and/or y coordinates may not be generated in the `BoundingPoly` (the
            polygon will be unbounded) if only a partial face appears in the
            image to be annotated.
          $ref: '#/components/schemas/BoundingPoly'
        blurredLikelihood:
          type: string
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Blurred likelihood.
        landmarkingConfidence:
          type: number
          format: float
          description: Face landmarking confidence. Range [0, 1].
        fdBoundingPoly:
          $ref: '#/components/schemas/BoundingPoly'
          description: >-
            The `fd_bounding_poly` bounding polygon is tighter than the
            `boundingPoly`, and encloses only the skin part of the face.
            Typically, it is used to eliminate the face from any image analysis
            that detects the "amount of skin" visible in an image. It is not
            based on the landmarker results, only on the initial face detection,
            hence the fd (face detection) prefix.
        landmarks:
          items:
            $ref: '#/components/schemas/Landmark'
          type: array
          description: Detected face landmarks.
        joyLikelihood:
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
          description: Joy likelihood.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
        panAngle:
          type: number
          format: float
          description: >-
            Yaw angle, which indicates the leftward/rightward angle that the
            face is pointing relative to the vertical plane perpendicular to the
            image. Range [-180,180].
        rollAngle:
          description: >-
            Roll angle, which indicates the amount of clockwise/anti-clockwise
            rotation of the face relative to the image vertical about the axis
            perpendicular to the face. Range [-180,180].
          format: float
          type: number
        angerLikelihood:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Anger likelihood.
          type: string
        detectionConfidence:
          description: Detection confidence. Range [0, 1].
          format: float
          type: number
        sorrowLikelihood:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          type: string
          description: Sorrow likelihood.
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
        headwearLikelihood:
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          type: string
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Headwear likelihood.
        surpriseLikelihood:
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          description: Surprise likelihood.
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          type: string
        underExposedLikelihood:
          enum:
            - UNKNOWN
            - VERY_UNLIKELY
            - UNLIKELY
            - POSSIBLE
            - LIKELY
            - VERY_LIKELY
          type: string
          enumDescriptions:
            - Unknown likelihood.
            - It is very unlikely.
            - It is unlikely.
            - It is possible.
            - It is likely.
            - It is very likely.
          description: Under-exposed likelihood.
        tiltAngle:
          description: >-
            Pitch angle, which indicates the upwards/downwards angle that the
            face is pointing relative to the image's horizontal plane. Range
            [-180,180].
          type: number
          format: float
      description: A face annotation object contains the results of face detection.
      type: object
    GroupedResult:
      description: >-
        Information about the products similar to a single product in a query
        image.
      id: GroupedResult
      properties:
        results:
          description: List of results, one for each product match.
          type: array
          items:
            $ref: '#/components/schemas/Result'
        objectAnnotations:
          description: List of generic predictions for the object in the bounding box.
          items:
            $ref: '#/components/schemas/ObjectAnnotation'
          type: array
        boundingPoly:
          description: The bounding polygon around the product detected in the query image.
          $ref: '#/components/schemas/BoundingPoly'
      type: object
    GoogleCloudVisionV1p1beta1TextAnnotation:
      id: GoogleCloudVisionV1p1beta1TextAnnotation
      properties:
        pages:
          description: List of pages detected by OCR.
          items:
            $ref: '#/components/schemas/GoogleCloudVisionV1p1beta1Page'
          type: array
        text:
          type: string
          description: UTF-8 text detected on the pages.
      description: >-
        TextAnnotation contains a structured representation of OCR extracted
        text. The hierarchy of an OCR extracted text structure is like this:
        TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each
        structural component, starting from Page, may further have their own
        properties. Properties describe detected languages, breaks etc.. Please
        refer to the TextAnnotation.TextProperty message definition below for
        more detail.
      type: object
    GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesResponse:
      description: Response to an async batch file annotation request.
      type: object
      id: GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesResponse
      properties:
        responses:
          description: >-
            The list of file annotation responses, one for each request in
            AsyncBatchAnnotateFilesRequest.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponse
    ListProductSetsResponse:
      id: ListProductSetsResponse
      type: object
      description: Response message for the `ListProductSets` method.
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
        productSets:
          type: array
          items:
            $ref: '#/components/schemas/ProductSet'
          description: List of ProductSets.
    ImageAnnotationContext:
      id: ImageAnnotationContext
      properties:
[...]
