openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Drive Activity API
  description: Provides a historical view of activity in Google Drive.
  version: v2
  x-discovery-doc-revision: '20230620'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/drive/activity/
servers:
  - url: https://driveactivity.googleapis.com
components:
  schemas:
    ActionDetail:
      id: ActionDetail
      description: Data describing the type and additional information of an action.
      type: object
      properties:
        settingsChange:
          description: Settings were changed.
          $ref: '#/components/schemas/SettingsChange'
        appliedLabelChange:
          description: Label was changed.
          $ref: '#/components/schemas/AppliedLabelChange'
        permissionChange:
          description: The permission on an object was changed.
          $ref: '#/components/schemas/PermissionChange'
        reference:
          $ref: '#/components/schemas/ApplicationReference'
          description: An object was referenced in an application outside of Drive/Docs.
        dlpChange:
          $ref: '#/components/schemas/DataLeakPreventionChange'
          description: A change happened in data leak prevention status.
        rename:
          description: An object was renamed.
          $ref: '#/components/schemas/Rename'
        delete:
          description: An object was deleted.
          $ref: '#/components/schemas/Delete'
        comment:
          $ref: '#/components/schemas/Comment'
          description: A change about comments was made.
        move:
          $ref: '#/components/schemas/Move'
          description: An object was moved.
        edit:
          $ref: '#/components/schemas/Edit'
          description: An object was edited.
        restore:
          description: A deleted object was restored.
          $ref: '#/components/schemas/Restore'
        create:
          $ref: '#/components/schemas/Create'
          description: An object was created.
    Selection:
      type: object
      id: Selection
      properties:
        displayName:
          type: string
          description: Selection value as human-readable display string.
        value:
          description: Selection value as Field Choice ID.
          type: string
      description: >-
        Wrapper for Selection Field value as combined value/display_name pair
        for selected choice.
    ApplicationReference:
      type: object
      properties:
        type:
          type: string
          enum:
            - UNSPECIFIED_REFERENCE_TYPE
            - LINK
            - DISCUSS
          description: The reference type corresponding to this event.
          enumDescriptions:
            - The type is not available.
            - The links of one or more Drive items were posted.
            - Comments were made regarding a Drive item.
      id: ApplicationReference
      description: Activity in applications other than Drive.
    AnonymousUser:
      id: AnonymousUser
      description: >-
        Empty message representing an anonymous user or indicating the
        authenticated user should be anonymized.
      properties: {}
      type: object
    NoConsolidation:
      description: A strategy that does no consolidation of individual activities.
      type: object
      properties: {}
      id: NoConsolidation
    Domain:
      description: Information about a domain.
      properties:
        name:
          description: The name of the domain, e.g. `google.com`.
          type: string
        legacyId:
          description: An opaque string used to identify this domain.
          type: string
      id: Domain
      type: object
    TargetReference:
      id: TargetReference
      properties:
        drive:
          $ref: '#/components/schemas/DriveReference'
          description: The target is a shared drive.
        teamDrive:
          $ref: '#/components/schemas/TeamDriveReference'
          description: This field is deprecated; please use the `drive` field instead.
        driveItem:
          $ref: '#/components/schemas/DriveItemReference'
          description: The target is a Drive item.
      type: object
      description: A lightweight reference to the target of activity.
    New:
      description: An object was created from scratch.
      id: New
      properties: {}
      type: object
    UserList:
      description: Wrapper for UserList Field value.
      type: object
      properties:
        values:
          type: array
          description: User values.
          items:
            $ref: '#/components/schemas/SingleUser'
      id: UserList
    Suggestion:
      type: object
      id: Suggestion
      description: A suggestion.
      properties:
        subtype:
          enumDescriptions:
            - Subtype not available.
            - A suggestion was added.
            - A suggestion was deleted.
            - A suggestion reply was added.
            - A suggestion reply was deleted.
            - A suggestion was accepted.
            - A suggestion was rejected.
            - An accepted suggestion was deleted.
            - A rejected suggestion was deleted.
          description: The sub-type of this event.
          type: string
          enum:
            - SUBTYPE_UNSPECIFIED
            - ADDED
            - DELETED
            - REPLY_ADDED
            - REPLY_DELETED
            - ACCEPTED
            - REJECTED
            - ACCEPT_DELETED
            - REJECT_DELETED
    TeamDrive:
      properties:
        name:
          description: This field is deprecated; please see `Drive.name` instead.
          type: string
        title:
          type: string
          description: This field is deprecated; please see `Drive.title` instead.
        root:
          description: This field is deprecated; please see `Drive.root` instead.
          $ref: '#/components/schemas/DriveItem'
      type: object
      description: This item is deprecated; please see `Drive` instead.
      id: TeamDrive
    DeletedUser:
      description: A user whose account has since been deleted.
      id: DeletedUser
      type: object
      properties: {}
    SingleUser:
      properties:
        value:
          description: User value as email.
          type: string
      id: SingleUser
      description: Wrapper for User Field value.
      type: object
    Date:
      id: Date
      description: Wrapper for Date Field value.
      properties:
        value:
          type: string
          format: google-datetime
          description: Date value.
      type: object
    AppliedLabelChangeDetail:
      type: object
      description: A change made to a Label on the Target.
      id: AppliedLabelChangeDetail
      properties:
        types:
          type: array
          description: The types of changes made to the Label on the Target.
          items:
            enum:
              - TYPE_UNSPECIFIED
              - LABEL_ADDED
              - LABEL_REMOVED
              - LABEL_FIELD_VALUE_CHANGED
              - LABEL_APPLIED_BY_ITEM_CREATE
            enumDescriptions:
              - The type of change to this Label is not available.
              - The identified Label was added to the Target.
              - The identified Label was removed from the Target.
              - Field values were changed on the Target.
              - The Label was applied as a side-effect of Drive item creation.
            type: string
        title:
          type: string
          description: The human-readable title of the label that changed.
        label:
          description: >-
            The Label name representing the Label that changed. This name always
            contains the revision of the Label that was used when this Action
            occurred. The format is `labels/id@revision`.
          type: string
        fieldChanges:
          description: >-
            Field Changes. Only present if `types` contains
            `LABEL_FIELD_VALUE_CHANGED`.
          type: array
          items:
            $ref: '#/components/schemas/FieldValueChange'
    Anyone:
      description: Represents any user (including a logged out user).
      type: object
      properties: {}
      id: Anyone
    FieldValue:
      properties:
        selectionList:
          $ref: '#/components/schemas/SelectionList'
          description: Selection List Field value.
        selection:
          description: Selection Field value.
          $ref: '#/components/schemas/Selection'
        user:
          $ref: '#/components/schemas/SingleUser'
          description: User Field value.
        text:
          description: Text Field value.
          $ref: '#/components/schemas/Text'
        integer:
          $ref: '#/components/schemas/Integer'
          description: Integer Field value.
        textList:
          $ref: '#/components/schemas/TextList'
          description: Text List Field value.
        userList:
          description: User List Field value.
          $ref: '#/components/schemas/UserList'
        date:
          $ref: '#/components/schemas/Date'
          description: Date Field value.
      type: object
      description: Contains a value of a Field.
      id: FieldValue
    QueryDriveActivityRequest:
      properties:
        pageToken:
          type: string
          description: >-
            The token identifies which page of results to return. Set this to
            the next_page_token value returned from a previous query to obtain
            the following page of results. If not set, the first page of results
            is returned.
        itemName:
          type: string
          description: >-
            Return activities for this Drive item. The format is
            `items/ITEM_ID`.
        filter:
          description: >-
            The filtering for items returned from this query request. The format
            of the filter string is a sequence of expressions, joined by an
            optional "AND", where each expression is of the form "field operator
            value". Supported fields: - `time`: Uses numerical operators on date
            values either in terms of milliseconds since Jan 1, 1970 or in RFC
            3339 format. Examples: - `time > 1452409200000 AND time <=
            1492812924310` - `time >= "2016-01-10T01:02:03-05:00"` -
            `detail.action_detail_case`: Uses the "has" operator (:) and either
            a singular value or a list of allowed action types enclosed in
            parentheses, separated by a space. To exclude a result from the
            response, prepend a hyphen (`-`) to the beginning of the filter
            string. Examples: - `detail.action_detail_case:RENAME` -
            `detail.action_detail_case:(CREATE RESTORE)` -
            `-detail.action_detail_case:MOVE` 
          type: string
        consolidationStrategy:
          $ref: '#/components/schemas/ConsolidationStrategy'
          description: >-
            Details on how to consolidate related actions that make up the
            activity. If not set, then related actions aren't consolidated.
        pageSize:
          description: >-
            The minimum number of activities desired in the response; the server
            attempts to return at least this quantity. The server may also
            return fewer activities if it has a partial response ready before
            the request times out. If not set, a default value is used.
          type: integer
          format: int32
        ancestorName:
          type: string
          description: >-
            Return activities for this Drive folder, plus all children and
            descendants. The format is `items/ITEM_ID`.
      description: The request message for querying Drive activity.
      id: QueryDriveActivityRequest
      type: object
    Permission:
      properties:
        anyone:
          description: If set, this permission applies to anyone, even logged out users.
          $ref: '#/components/schemas/Anyone'
        role:
          description: >-
            Indicates the [Google Drive permissions
            role](https://developers.google.com/drive/web/manage-sharing#roles).
            The role determines a user's ability to read, write, and comment on
            items.
          enumDescriptions:
            - The role is not available.
            - A role granting full access.
            - A role granting the ability to manage people and settings.
            - A role granting the ability to contribute and manage content.
            - >-
              A role granting the ability to contribute content. This role is
              sometimes also known as "writer".
            - A role granting the ability to view and comment on content.
            - >-
              A role granting the ability to view content. This role is
              sometimes also known as "reader".
            - >-
              A role granting the ability to view content only after it has been
              published to the web. This role is sometimes also known as
              "published reader". See
              https://support.google.com/sites/answer/6372880 for more
              information.
          type: string
          enum:
            - ROLE_UNSPECIFIED
            - OWNER
            - ORGANIZER
            - FILE_ORGANIZER
            - EDITOR
            - COMMENTER
            - VIEWER
            - PUBLISHED_VIEWER
        user:
          $ref: '#/components/schemas/User'
          description: The user to whom this permission applies.
        allowDiscovery:
          description: >-
            If true, the item can be discovered (e.g. in the user's "Shared with
            me" collection) without needing a link to the item.
          type: boolean
        domain:
          $ref: '#/components/schemas/Domain'
          description: The domain to whom this permission applies.
        group:
          description: The group to whom this permission applies.
          $ref: '#/components/schemas/Group'
      type: object
      description: The permission setting of an object.
      id: Permission
    AppliedLabelChange:
      properties:
        changes:
          description: Changes that were made to the Label on the Target.
          type: array
          items:
            $ref: '#/components/schemas/AppliedLabelChangeDetail'
      description: Label changes that were made on the Target.
      id: AppliedLabelChange
      type: object
    DriveFile:
      properties: {}
      type: object
      description: A Drive item which is a file.
      id: DriveFile
    DriveItem:
      description: A Drive item, such as a file or folder.
      type: object
      id: DriveItem
      properties:
        owner:
          $ref: '#/components/schemas/Owner'
          description: Information about the owner of this Drive item.
        driveFolder:
          $ref: '#/components/schemas/DriveFolder'
          description: >-
            The Drive item is a folder. Includes information about the type of
            folder.
        title:
          type: string
          description: The title of the Drive item.
        folder:
          description: >-
            This field is deprecated; please use the `driveFolder` field
            instead.
          $ref: '#/components/schemas/Folder'
        file:
          $ref: '#/components/schemas/File'
          description: This field is deprecated; please use the `driveFile` field instead.
        driveFile:
          $ref: '#/components/schemas/DriveFile'
          description: The Drive item is a file.
        mimeType:
          description: >-
            The MIME type of the Drive item. See
            https://developers.google.com/drive/v3/web/mime-types.
          type: string
        name:
          type: string
          description: The target Drive item. The format is `items/ITEM_ID`.
    Owner:
      description: Information about the owner of a Drive item.
      id: Owner
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
          description: The user that owns the Drive item.
        teamDrive:
          description: This field is deprecated; please use the `drive` field instead.
          $ref: '#/components/schemas/TeamDriveReference'
        drive:
          $ref: '#/components/schemas/DriveReference'
          description: The drive that owns the item.
        domain:
          $ref: '#/components/schemas/Domain'
          description: The domain of the Drive item owner.
    SystemEvent:
      properties:
        type:
          type: string
          enumDescriptions:
            - The event type is unspecified.
            - The event is a consequence of a user account being deleted.
            - The event is due to the system automatically purging trash.
          enum:
            - TYPE_UNSPECIFIED
            - USER_DELETION
            - TRASH_AUTO_PURGE
          description: The type of the system event that may triggered activity.
      description: Event triggered by system operations instead of end users.
      id: SystemEvent
      type: object
    Target:
      properties:
        drive:
          description: The target is a shared drive.
          $ref: '#/components/schemas/Drive'
        fileComment:
          $ref: '#/components/schemas/FileComment'
          description: The target is a comment on a Drive file.
        driveItem:
          $ref: '#/components/schemas/DriveItem'
          description: The target is a Drive item.
        teamDrive:
          $ref: '#/components/schemas/TeamDrive'
          description: This field is deprecated; please use the `drive` field instead.
      id: Target
      type: object
      description: >-
        Information about the target of activity. For more information on how
        activity history is shared with users, see [Activity history
        visibility](https://developers.google.com/drive/activity/v2#activityhistory).
    DriveFolder:
      id: DriveFolder
      properties:
        type:
          enum:
            - TYPE_UNSPECIFIED
            - MY_DRIVE_ROOT
            - SHARED_DRIVE_ROOT
            - STANDARD_FOLDER
          enumDescriptions:
            - The folder type is unknown.
            - The folder is the root of a user's MyDrive.
            - The folder is the root of a shared drive.
            - The folder is a standard, non-root, folder.
          type: string
          description: The type of Drive folder.
      description: A Drive item which is a folder.
      type: object
    User:
      description: Information about an end user.
      type: object
      properties:
        unknownUser:
          $ref: '#/components/schemas/UnknownUser'
          description: A user about whom nothing is currently known.
        deletedUser:
          $ref: '#/components/schemas/DeletedUser'
          description: A user whose account has since been deleted.
        knownUser:
          description: A known user.
          $ref: '#/components/schemas/KnownUser'
      id: User
    Create:
      description: An object was created.
      id: Create
      type: object
      properties:
        new:
          $ref: '#/components/schemas/New'
          description: >-
            If present, indicates the object was newly created (e.g. as a blank
            document), not derived from a Drive object or external object.
        copy:
          description: >-
            If present, indicates the object was created by copying an existing
            Drive object.
          $ref: '#/components/schemas/Copy'
        upload:
          $ref: '#/components/schemas/Upload'
          description: >-
            If present, indicates the object originated externally and was
            uploaded to Drive.
    ConsolidationStrategy:
      properties:
        legacy:
          $ref: '#/components/schemas/Legacy'
          description: >-
            The individual activities are consolidated using the legacy
            strategy.
        none:
          description: The individual activities are not consolidated.
          $ref: '#/components/schemas/NoConsolidation'
      type: object
      id: ConsolidationStrategy
      description: >-
        How the individual activities are consolidated. If a set of activities
        is related they can be consolidated into one combined activity, such as
        one actor performing the same action on multiple targets, or multiple
        actors performing the same action on a single target. The strategy
        defines the rules for which activities are related.
    Legacy:
      type: object
      properties: {}
      id: Legacy
      description: >-
        A strategy that consolidates activities using the grouping rules from
        the legacy V1 Activity API. Similar actions occurring within a window of
        time can be grouped across multiple targets (such as moving a set of
        files at once) or multiple actors (such as several users editing the
        same item). Grouping rules for this strategy are specific to each type
        of action.
    Action:
      description: Information about the action.
      type: object
      properties:
        detail:
          description: The type and detailed information about the action.
          $ref: '#/components/schemas/ActionDetail'
        target:
          $ref: '#/components/schemas/Target'
          description: >-
            The target this action affects (or empty if affecting all targets).
            This represents the state of the target immediately after this
            action occurred.
        timeRange:
          $ref: '#/components/schemas/TimeRange'
          description: The action occurred over this time range.
        actor:
          $ref: '#/components/schemas/Actor'
          description: >-
            The actor responsible for this action (or empty if all actors are
            responsible).
        timestamp:
          type: string
          format: google-datetime
          description: The action occurred at this specific time.
      id: Action
    Administrator:
      type: object
      properties: {}
      id: Administrator
      description: Empty message representing an administrator.
    DataLeakPreventionChange:
      type: object
      description: A change in the object's data leak prevention status.
      properties:
        type:
          description: The type of Data Leak Prevention (DLP) change.
          enum:
            - TYPE_UNSPECIFIED
            - FLAGGED
            - CLEARED
          enumDescriptions:
            - An update to the DLP state that is neither FLAGGED or CLEARED.
            - Document has been flagged as containing sensitive content.
            - Document is no longer flagged as containing sensitive content.
          type: string
      id: DataLeakPreventionChange
    Drive:
      type: object
      properties:
        title:
          type: string
          description: The title of the shared drive.
        name:
          description: >-
            The resource name of the shared drive. The format is
            `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific
            collection ID for this resource name.
          type: string
        root:
          description: The root of this shared drive.
          $ref: '#/components/schemas/DriveItem'
      description: Information about a shared drive.
      id: Drive
    RestrictionChange:
      description: Information about restriction policy changes to a feature.
      id: RestrictionChange
      properties:
        newRestriction:
          enum:
            - RESTRICTION_UNSPECIFIED
            - UNRESTRICTED
            - FULLY_RESTRICTED
          enumDescriptions:
            - The type of restriction is not available.
            - The feature is available without restriction.
            - The use of this feature is fully restricted.
          type: string
          description: The restriction in place after the change.
        feature:
          enumDescriptions:
            - The feature which changed restriction settings was not available.
            - >-
              When restricted, this prevents items from being shared outside the
              domain.
            - When restricted, this prevents direct sharing of individual items.
            - >-
              When restricted, this prevents actions like copy, download, and
              print that might result in uncontrolled duplicates of items.
            - When restricted, this prevents use of Drive File Stream.
            - When restricted, this limits sharing of folders to managers only.
          description: The feature which had a change in restriction policy.
          enum:
            - FEATURE_UNSPECIFIED
            - SHARING_OUTSIDE_DOMAIN
            - DIRECT_SHARING
            - ITEM_DUPLICATION
            - DRIVE_FILE_STREAM
            - FILE_ORGANIZER_CAN_SHARE_FOLDERS
          type: string
      type: object
    PermissionChange:
      properties:
        addedPermissions:
          description: The set of permissions added by this change.
          items:
            $ref: '#/components/schemas/Permission'
          type: array
        removedPermissions:
          description: The set of permissions removed by this change.
          type: array
          items:
            $ref: '#/components/schemas/Permission'
      type: object
      id: PermissionChange
      description: A change of the permission setting on an item.
    UnknownUser:
      properties: {}
      description: A user about whom nothing is currently known.
      id: UnknownUser
      type: object
    Group:
      id: Group
      type: object
      description: Information about a group.
      properties:
        email:
          type: string
          description: The email address of the group.
        title:
          type: string
          description: The title of the group.
    Text:
      type: object
      description: Wrapper for Text Field value.
      properties:
        value:
          type: string
          description: Value of Text Field.
      id: Text
    TimeRange:
      properties:
        startTime:
          type: string
          description: The start of the time range.
          format: google-datetime
        endTime:
          type: string
          description: The end of the time range.
          format: google-datetime
      type: object
      id: TimeRange
      description: Information about time ranges.
    KnownUser:
      description: A known user.
      type: object
      id: KnownUser
      properties:
        personName:
          description: >-
            The identifier for this user that can be used with the People API to
            get more information. The format is `people/ACCOUNT_ID`. See
            https://developers.google.com/people/.
          type: string
        isCurrentUser:
          type: boolean
          description: True if this is the user making the request.
    Edit:
      type: object
      id: Edit
      description: An empty message indicating an object was edited.
      properties: {}
    Comment:
      description: A change about comments on an object.
      properties:
        suggestion:
          $ref: '#/components/schemas/Suggestion'
          description: A change on a suggestion.
        post:
          $ref: '#/components/schemas/Post'
          description: A change on a regular posted comment.
        mentionedUsers:
          description: Users who are mentioned in this comment.
          items:
            $ref: '#/components/schemas/User'
          type: array
        assignment:
          description: A change on an assignment.
          $ref: '#/components/schemas/Assignment'
      type: object
      id: Comment
    Post:
      type: object
      id: Post
      properties:
        subtype:
          enumDescriptions:
            - Subtype not available.
            - A post was added.
            - A post was deleted.
            - A reply was added.
            - A reply was deleted.
            - A posted comment was resolved.
            - A posted comment was reopened.
          enum:
            - SUBTYPE_UNSPECIFIED
            - ADDED
            - DELETED
            - REPLY_ADDED
            - REPLY_DELETED
            - RESOLVED
            - REOPENED
          description: The sub-type of this event.
          type: string
      description: A regular posted comment.
    Assignment:
      properties:
        assignedUser:
          description: The user to whom the comment was assigned.
          $ref: '#/components/schemas/User'
        subtype:
          enumDescriptions:
            - Subtype not available.
            - An assignment was added.
            - An assignment was deleted.
            - An assignment reply was added.
            - An assignment reply was deleted.
            - An assignment was resolved.
            - A resolved assignment was reopened.
            - An assignment was reassigned.
          enum:
            - SUBTYPE_UNSPECIFIED
            - ADDED
            - DELETED
            - REPLY_ADDED
            - REPLY_DELETED
            - RESOLVED
            - REOPENED
            - REASSIGNED
          type: string
          description: The sub-type of this event.
      type: object
      description: A comment with an assignment.
      id: Assignment
    DriveActivity:
      type: object
      description: >-
        A single Drive activity comprising one or more Actions by one or more
        Actors on one or more Targets. Some Action groupings occur
        spontaneously, such as moving an item into a shared folder triggering a
        permission change. Other groupings of related Actions, such as multiple
        Actors editing one item or moving multiple files into a new folder, are
        controlled by the selection of a ConsolidationStrategy in the
        QueryDriveActivityRequest.
      id: DriveActivity
      properties:
        primaryActionDetail:
          description: >-
            Key information about the primary action for this activity. This is
            either representative, or the most important, of all actions in the
            activity, according to the ConsolidationStrategy in the request.
          $ref: '#/components/schemas/ActionDetail'
        actors:
          items:
            $ref: '#/components/schemas/Actor'
          type: array
          description: All actor(s) responsible for the activity.
        timestamp:
          format: google-datetime
          type: string
          description: The activity occurred at this specific time.
        targets:
          items:
            $ref: '#/components/schemas/Target'
          type: array
          description: >-
            All Google Drive objects this activity is about (e.g. file, folder,
            drive). This represents the state of the target immediately after
            the actions occurred.
        timeRange:
          $ref: '#/components/schemas/TimeRange'
          description: The activity occurred over this time range.
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Action'
          description: Details on all actions in this activity.
    DriveItemReference:
      properties:
        folder:
          $ref: '#/components/schemas/Folder'
          description: >-
            This field is deprecated; please use the `driveFolder` field
            instead.
        driveFile:
          description: The Drive item is a file.
          $ref: '#/components/schemas/DriveFile'
        title:
          description: The title of the Drive item.
          type: string
        file:
          $ref: '#/components/schemas/File'
          description: This field is deprecated; please use the `driveFile` field instead.
        driveFolder:
          $ref: '#/components/schemas/DriveFolder'
          description: >-
            The Drive item is a folder. Includes information about the type of
            folder.
        name:
          description: The target Drive item. The format is `items/ITEM_ID`.
          type: string
      id: DriveItemReference
      type: object
      description: A lightweight reference to a Drive item, such as a file or folder.
    SettingsChange:
      id: SettingsChange
      description: Information about settings changes.
      type: object
      properties:
        restrictionChanges:
          description: The set of changes made to restrictions.
          type: array
          items:
            $ref: '#/components/schemas/RestrictionChange'
    Integer:
      properties:
        value:
          format: int64
          description: Integer value.
          type: string
      type: object
      description: Wrapper for Integer Field value.
      id: Integer
    TextList:
      description: Wrapper for Text List Field value.
      properties:
        values:
          description: Text values.
          type: array
          items:
            $ref: '#/components/schemas/Text'
      type: object
      id: TextList
    Impersonation:
      description: >-
        Information about an impersonation, where an admin acts on behalf of an
        end user. Information about the acting admin is not currently available.
      properties:
        impersonatedUser:
          $ref: '#/components/schemas/User'
          description: The impersonated user.
      type: object
      id: Impersonation
    Copy:
      description: An object was created by copying an existing object.
      id: Copy
      type: object
      properties:
        originalObject:
          $ref: '#/components/schemas/TargetReference'
          description: The original object.
    Move:
      id: Move
      type: object
      description: An object was moved.
      properties:
        removedParents:
          description: The removed parent object(s).
          items:
            $ref: '#/components/schemas/TargetReference'
          type: array
        addedParents:
          type: array
          items:
            $ref: '#/components/schemas/TargetReference'
          description: The added parent object(s).
    Actor:
      properties:
        user:
          description: An end user.
          $ref: '#/components/schemas/User'
        impersonation:
          $ref: '#/components/schemas/Impersonation'
          description: An account acting on behalf of another.
        administrator:
          description: An administrator.
          $ref: '#/components/schemas/Administrator'
        system:
          $ref: '#/components/schemas/SystemEvent'
          description: A non-user actor (i.e. system triggered).
        anonymous:
          description: An anonymous user.
          $ref: '#/components/schemas/AnonymousUser'
      description: The actor of a Drive activity.
      type: object
      id: Actor
    File:
      properties: {}
      description: This item is deprecated; please see `DriveFile` instead.
      id: File
      type: object
    Folder:
      description: This item is deprecated; please see `DriveFolder` instead.
      type: object
      properties:
        type:
          enumDescriptions:
            - This item is deprecated; please see `DriveFolder.Type` instead.
            - This item is deprecated; please see `DriveFolder.Type` instead.
            - This item is deprecated; please see `DriveFolder.Type` instead.
            - This item is deprecated; please see `DriveFolder.Type` instead.
          description: This field is deprecated; please see `DriveFolder.type` instead.
          type: string
          enum:
            - TYPE_UNSPECIFIED
            - MY_DRIVE_ROOT
            - TEAM_DRIVE_ROOT
            - STANDARD_FOLDER
      id: Folder
    SelectionList:
      type: object
      description: Wrapper for SelectionList Field value.
      properties:
        values:
          description: Selection values.
          type: array
          items:
            $ref: '#/components/schemas/Selection'
      id: SelectionList
    FileComment:
      properties:
        legacyDiscussionId:
          type: string
          description: >-
            The discussion thread to which the comment was added. This
            identifier is an opaque string compatible with the Drive API and
            references the first comment in a discussion; see
            https://developers.google.com/drive/v3/reference/comments/get
        legacyCommentId:
          type: string
          description: >-
            The comment in the discussion thread. This identifier is an opaque
            string compatible with the Drive API; see
            https://developers.google.com/drive/v3/reference/comments/get
        linkToDiscussion:
          type: string
          description: >-
            The link to the discussion thread containing this comment, for
            example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.
        parent:
          description: The Drive item containing this comment.
          $ref: '#/components/schemas/DriveItem'
      description: A comment on a file.
      type: object
      id: FileComment
    Delete:
      id: Delete
      type: object
      properties:
        type:
          description: The type of delete action taken.
          enumDescriptions:
            - Deletion type is not available.
            - An object was put into the trash.
            - An object was deleted permanently.
          enum:
            - TYPE_UNSPECIFIED
            - TRASH
            - PERMANENT_DELETE
          type: string
      description: An object was deleted.
    DriveReference:
      properties:
        name:
          description: >-
            The resource name of the shared drive. The format is
            `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific
            collection ID for this resource name.
          type: string
        title:
          type: string
          description: The title of the shared drive.
      type: object
      id: DriveReference
      description: A lightweight reference to a shared drive.
    Restore:
      id: Restore
      description: A deleted object was restored.
      properties:
        type:
          type: string
          description: The type of restore action taken.
          enum:
            - TYPE_UNSPECIFIED
            - UNTRASH
          enumDescriptions:
            - The type is not available.
            - An object was restored from the trash.
      type: object
    Upload:
      properties: {}
      description: An object was uploaded into Drive.
      type: object
      id: Upload
    TeamDriveReference:
      properties:
        name:
          description: This field is deprecated; please see `DriveReference.name` instead.
          type: string
        title:
          type: string
          description: This field is deprecated; please see `DriveReference.title` instead.
      id: TeamDriveReference
      type: object
      description: This item is deprecated; please see `DriveReference` instead.
    QueryDriveActivityResponse:
      type: object
      properties:
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
        activities:
          items:
            $ref: '#/components/schemas/DriveActivity'
          type: array
          description: List of activity requested.
      description: Response message for querying Drive activity.
      id: QueryDriveActivityResponse
    Rename:
      id: Rename
      properties:
        oldTitle:
          type: string
          description: The previous title of the drive object.
        newTitle:
          type: string
          description: The new title of the drive object.
      description: An object was renamed.
      type: object
    FieldValueChange:
      properties:
        oldValue:
          description: >-
            The value that was previously set on the field. If not present, the
            field was newly set. At least one of {old_value|new_value} is always
            set.
          $ref: '#/components/schemas/FieldValue'
        newValue:
          description: >-
            The value that is now set on the field. If not present, the field
            was cleared. At least one of {old_value|new_value} is always set.
          $ref: '#/components/schemas/FieldValue'
        fieldId:
          type: string
          description: The ID of this field. Field IDs are unique within a Label.
        displayName:
          type: string
          description: The human-readable display name for this field.
      description: Change to a Field value.
      type: object
      id: FieldValueChange
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/drive.activity: View and add to the activity record of files in your Google Drive
            https://www.googleapis.com/auth/drive.activity.readonly: View the activity record of files in your Google Drive
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v2/activity:query:
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/callback'
    post:
      description: Query past activity in Google Drive.
      operationId: driveactivity.activity.query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDriveActivityRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/drive.activity
          Oauth2c:
            - https://www.googleapis.com/auth/drive.activity
        - Oauth2:
            - https://www.googleapis.com/auth/drive.activity.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/drive.activity.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDriveActivityResponse'
      parameters: []
      x-stackQL-resource: activity
      x-stackQL-verb: exec
