openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud Dataplex API
  description: Dataplex API is used to manage the lifecycle of data lakes.
  version: v1
  x-discovery-doc-revision: '20230616'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/dataplex/docs
servers:
  - url: https://dataplex.googleapis.com
components:
  schemas:
    GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions:
      id: GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions
      properties:
        disableTypeInference:
          type: boolean
          description: >-
            Optional. Whether to disable the inference of data type for Json
            data. If true, all columns will be registered as their primitive
            types (strings, number or boolean).
        encoding:
          type: string
          description: Optional. The character encoding of the data. The default is UTF-8.
      type: object
      description: Describe JSON data format.
    GoogleCloudDataplexV1Entity:
      description: Represents tables and fileset metadata contained within a zone.
      properties:
        uid:
          readOnly: true
          type: string
          description: >-
            Output only. System generated unique ID for the Entity. This ID will
            be different if the Entity is deleted and re-created with the same
            name.
        dataPathPattern:
          description: >-
            Optional. The set of items within the data path constituting the
            data in the entity, represented as a glob path. Example:
            gs://bucket/path/to/data/**/*.csv.
          type: string
        dataPath:
          description: >-
            Required. Immutable. The storage path of the entity data. For Cloud
            Storage data, this is the fully-qualified path to the entity, such
            as gs://bucket/path/to/data. For BigQuery data, this is the name of
            the table resource, such as
            projects/project_id/datasets/dataset_id/tables/table_id.
          type: string
        format:
          $ref: '#/components/schemas/GoogleCloudDataplexV1StorageFormat'
          description: >-
            Required. Identifies the storage format of the entity data. It does
            not apply to entities with data stored in BigQuery.
        displayName:
          description: >-
            Optional. Display name must be shorter than or equal to 256
            characters.
          type: string
        description:
          description: >-
            Optional. User friendly longer description text. Must be shorter
            than or equal to 1024 characters.
          type: string
        asset:
          description: >-
            Required. Immutable. The ID of the asset associated with the storage
            location containing the entity data. The entity must be with in the
            same zone with the asset.
          type: string
        compatibility:
          $ref: '#/components/schemas/GoogleCloudDataplexV1EntityCompatibilityStatus'
          readOnly: true
          description: Output only. Metadata stores that the entity is compatible with.
        system:
          type: string
          description: >-
            Required. Immutable. Identifies the storage system of the entity
            data.
          enum:
            - STORAGE_SYSTEM_UNSPECIFIED
            - CLOUD_STORAGE
            - BIGQUERY
          enumDescriptions:
            - Storage system unspecified.
            - The entity data is contained within a Cloud Storage bucket.
            - The entity data is contained within a BigQuery dataset.
        createTime:
          description: Output only. The time when the entity was created.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: >-
            Output only. The resource name of the entity, of the form:
            projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{id}.
          readOnly: true
          type: string
        access:
          description: >-
            Output only. Identifies the access mechanism to the entity. Not user
            settable.
          readOnly: true
          $ref: '#/components/schemas/GoogleCloudDataplexV1StorageAccess'
        id:
          type: string
          description: >-
            Required. A user-provided entity ID. It is mutable, and will be used
            as the published table name. Specifying a new ID in an update entity
            request will override the existing value. The ID must contain only
            letters (a-z, A-Z), numbers (0-9), and underscores, and consist of
            256 or fewer characters.
        catalogEntry:
          type: string
          readOnly: true
          description: Output only. The name of the associated Data Catalog entry.
        etag:
          type: string
          description: >-
            Optional. The etag associated with the entity, which can be
            retrieved with a GetEntity request. Required for update and delete
            requests.
        updateTime:
          readOnly: true
          format: google-datetime
          type: string
          description: Output only. The time when the entity was last updated.
        type:
          type: string
          enum:
            - TYPE_UNSPECIFIED
            - TABLE
            - FILESET
          enumDescriptions:
            - Type unspecified.
            - Structured and semi-structured data.
            - Unstructured data.
          description: Required. Immutable. The type of entity.
        schema:
          description: >-
            Required. The description of the data structure and layout. The
            schema is not included in list responses. It is only included in
            SCHEMA and FULL entity views of a GetEntity response.
          $ref: '#/components/schemas/GoogleCloudDataplexV1Schema'
      id: GoogleCloudDataplexV1Entity
      type: object
    GoogleLongrunningCancelOperationRequest:
      properties: {}
      id: GoogleLongrunningCancelOperationRequest
      type: object
      description: The request message for Operations.CancelOperation.
    GoogleCloudDataplexV1TriggerSchedule:
      properties:
        cron:
          type: string
          description: >-
            Required. Cron (https://en.wikipedia.org/wiki/Cron) schedule for
            running scans periodically.To explicitly set a timezone in the cron
            tab, apply a prefix in the cron tab: "CRON_TZ=${IANA_TIME_ZONE}" or
            "TZ=${IANA_TIME_ZONE}". The ${IANA_TIME_ZONE} may only be a valid
            string from IANA time zone database (wikipedia
            (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List)).
            For example, CRON_TZ=America/New_York 1 * * * *, or
            TZ=America/New_York 1 * * * *.This field is required for Schedule
            scans.
      description: The scan is scheduled to run periodically.
      type: object
      id: GoogleCloudDataplexV1TriggerSchedule
    GoogleCloudDataplexV1DataQualityRuleResult:
      properties:
        passed:
          type: boolean
          description: Whether the rule passed or failed.
        passedCount:
          type: string
          format: int64
          description: >-
            The number of rows which passed a rule evaluation.This field is only
            valid for row-level type rules.
        passRatio:
          format: double
          type: number
          description: >-
            The ratio of passed_count / evaluated_count.This field is only valid
            for row-level type rules.
        nullCount:
          type: string
          description: The number of rows with null values in the specified column.
          format: int64
        evaluatedCount:
          type: string
          description: >-
            The number of rows a rule was evaluated against.This field is only
            valid for row-level type rules.Evaluated count can be configured to
            either include all rows (default) - with null rows automatically
            failing rule evaluation, or exclude null rows from the
            evaluated_count, by setting ignore_nulls = true.
          format: int64
        rule:
          description: The rule specified in the DataQualitySpec, as is.
          $ref: '#/components/schemas/GoogleCloudDataplexV1DataQualityRule'
        failingRowsQuery:
          type: string
          description: >-
            The query to find rows that did not pass this rule.This field is
            only valid for row-level type rules.
      id: GoogleCloudDataplexV1DataQualityRuleResult
      type: object
      description: >-
        DataQualityRuleResult provides a more detailed, per-rule view of the
        results.
    GoogleCloudDataplexV1DataAttributeBindingPath:
      type: object
      id: GoogleCloudDataplexV1DataAttributeBindingPath
      description: >-
        Represents a subresource of the given resource, and associated bindings
        with it. Currently supported subresources are column and partition
        schema fields within a table.
      properties:
        name:
          type: string
          description: >-
            Required. The name identifier of the path. Nested columns should be
            of the form: 'address.city'.
        attributes:
          items:
            type: string
          type: array
          description: >-
            Optional. List of attributes to be associated with the path of the
            resource, provided in the form:
            projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}
    GoogleCloudDataplexV1ResourceAccessSpec:
      description: >-
        ResourceAccessSpec holds the access control configuration to be enforced
        on the resources, for example, Cloud Storage bucket, BigQuery dataset,
        BigQuery table.
      id: GoogleCloudDataplexV1ResourceAccessSpec
      type: object
      properties:
        owners:
          description: >-
            Optional. The set of principals to be granted owner role on the
            resource.
          type: array
          items:
            type: string
        writers:
          type: array
          description: >-
            Optional. The set of principals to be granted writer role on the
            resource.
          items:
            type: string
        readers:
          type: array
          description: >-
            Optional. The format of strings follows the pattern followed by IAM
            in the bindings. user:{email}, serviceAccount:{email} group:{email}.
            The set of principals to be granted reader role on the resource.
          items:
            type: string
    GoogleCloudDataplexV1DiscoveryEventPartitionDetails:
      properties:
        entity:
          type: string
          description: >-
            The name to the containing entity resource. The name is the
            fully-qualified resource name.
        type:
          enumDescriptions:
            - An unspecified event type.
            - Entities representing structured data.
            - Entities representing unstructured data.
          enum:
            - ENTITY_TYPE_UNSPECIFIED
            - TABLE
            - FILESET
          description: The type of the containing entity resource.
          type: string
        partition:
          description: >-
            The name to the partition resource. The name is the fully-qualified
            resource name.
          type: string
        sampledDataLocations:
          type: array
          description: >-
            The locations of the data items (e.g., a Cloud Storage objects)
            sampled for metadata inference.
          items:
            type: string
      description: Details about the partition.
      type: object
      id: GoogleCloudDataplexV1DiscoveryEventPartitionDetails
    GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation:
      description: Evaluates whether the column has duplicates.
      id: GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation
      properties: {}
      type: object
    GoogleCloudDataplexV1AssetDiscoveryStatusStats:
      description: The aggregated data statistics for the asset reported by discovery.
      id: GoogleCloudDataplexV1AssetDiscoveryStatusStats
      properties:
        filesets:
          type: string
          description: The count of fileset entities within the referenced resource.
          format: int64
        tables:
          format: int64
          description: The count of table entities within the referenced resource.
          type: string
        dataItems:
          description: The count of data items within the referenced resource.
          format: int64
          type: string
        dataSize:
          description: The number of stored data bytes within the referenced resource.
          type: string
          format: int64
      type: object
    GoogleCloudDataplexV1TaskNotebookTaskConfig:
      description: Config for running scheduled notebooks.
      id: GoogleCloudDataplexV1TaskNotebookTaskConfig
      type: object
      properties:
        infrastructureSpec:
          description: Optional. Infrastructure specification for the execution.
          $ref: '#/components/schemas/GoogleCloudDataplexV1TaskInfrastructureSpec'
        archiveUris:
          type: array
          items:
            type: string
          description: >-
            Optional. Cloud Storage URIs of archives to be extracted into the
            working directory of each executor. Supported file types: .jar,
            .tar, .tar.gz, .tgz, and .zip.
        fileUris:
          items:
            type: string
          description: >-
            Optional. Cloud Storage URIs of files to be placed in the working
            directory of each executor.
          type: array
        notebook:
          description: >-
            Required. Path to input notebook. This can be the Cloud Storage URI
            of the notebook file or the path to a Notebook Content. The
            execution args are accessible as environment variables
            (TASK_key=value).
          type: string
    GoogleCloudDataplexV1CancelJobRequest:
      description: Cancel task jobs.
      properties: {}
      id: GoogleCloudDataplexV1CancelJobRequest
      type: object
    GoogleLongrunningListOperationsResponse:
      properties:
        operations:
          description: >-
            A list of operations that matches the specified filter in the
            request.
          items:
            $ref: '#/components/schemas/GoogleLongrunningOperation'
          type: array
        nextPageToken:
          type: string
          description: The standard List next-page token.
      id: GoogleLongrunningListOperationsResponse
      type: object
      description: The response message for Operations.ListOperations.
    GoogleCloudDataplexV1ListJobsResponse:
      description: List jobs response.
      type: object
      properties:
        jobs:
          description: Jobs under a given task.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDataplexV1Job'
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
      id: GoogleCloudDataplexV1ListJobsResponse
    GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo:
      id: GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo
      properties:
        doubleProfile:
          description: Double type field information.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo
        integerProfile:
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo
          description: Integer type field information.
        topNValues:
          description: >-
            The list of top N non-null values, frequency and ratio with which
            they occur in the scanned data. N is 10 or equal to the number of
            distinct values in the field, whichever is smaller. Not available
            for complex non-groupable field type RECORD and fields with
            REPEATABLE mode.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue
        distinctRatio:
          description: >-
            Ratio of rows with distinct values against total scanned rows. Not
            available for complex non-groupable field type RECORD and fields
            with REPEATABLE mode.
          format: double
          type: number
        stringProfile:
          description: String type field information.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo
        nullRatio:
          type: number
          format: double
          description: Ratio of rows with null value against total scanned rows.
      description: The profile information for each field type.
      type: object
    GoogleCloudDataplexV1JobEvent:
      id: GoogleCloudDataplexV1JobEvent
      description: >-
        The payload associated with Job logs that contains events describing
        jobs that have run within a Lake.
      type: object
      properties:
        state:
          enumDescriptions:
            - Unspecified job state.
            - Job successfully completed.
            - Job was unsuccessful.
            - Job was cancelled by the user.
            - Job was cancelled or aborted via the service executing the job.
          description: The job state on completion.
          enum:
            - STATE_UNSPECIFIED
            - SUCCEEDED
            - FAILED
            - CANCELLED
            - ABORTED
          type: string
        executionTrigger:
          enumDescriptions:
            - The job execution trigger is unspecified.
            - >-
              The job was triggered by Dataplex based on trigger spec from task
              definition.
            - The job was triggered by the explicit call of Task API.
          type: string
          enum:
            - EXECUTION_TRIGGER_UNSPECIFIED
            - TASK_CONFIG
            - RUN_REQUEST
          description: Job execution trigger.
        jobId:
          description: The unique id identifying the job.
          type: string
        type:
          type: string
          enum:
            - TYPE_UNSPECIFIED
            - SPARK
            - NOTEBOOK
          enumDescriptions:
            - Unspecified job type.
            - Spark jobs.
            - Notebook jobs.
          description: The type of the job.
        service:
          type: string
          enumDescriptions:
            - Unspecified service.
            - Cloud Dataproc.
          description: The service used to execute the job.
          enum:
            - SERVICE_UNSPECIFIED
            - DATAPROC
        endTime:
          description: The time when the job ended running.
          type: string
          format: google-datetime
        message:
          description: The log message.
          type: string
        serviceJob:
          type: string
          description: The reference to the job within the service.
        startTime:
          description: The time when the job started running.
          format: google-datetime
          type: string
        retries:
          format: int32
          description: The number of retries.
          type: integer
    GoogleCloudDataplexV1AssetResourceStatus:
      description: Status of the resource referenced by an asset.
      properties:
        updateTime:
          description: Last update time of the status.
          format: google-datetime
          type: string
        managedAccessIdentity:
          readOnly: true
          type: string
          description: >-
            Output only. Service account associated with the BigQuery
            Connection.
        message:
          description: Additional information about the current state.
          type: string
        state:
          type: string
          enum:
            - STATE_UNSPECIFIED
            - READY
            - ERROR
          enumDescriptions:
            - State unspecified.
            - Resource does not have any errors.
            - Resource has errors.
          description: The current state of the managed resource.
      id: GoogleCloudDataplexV1AssetResourceStatus
      type: object
    GoogleCloudDataplexV1EnvironmentSessionStatus:
      id: GoogleCloudDataplexV1EnvironmentSessionStatus
      properties:
        active:
          readOnly: true
          description: >-
            Output only. Queries over sessions to mark whether the environment
            is currently active or not
          type: boolean
      description: Status of sessions created for this environment.
      type: object
    GoogleCloudDataplexV1RunTaskRequest:
      type: object
      properties:
        args:
          additionalProperties:
            type: string
          description: >-
            Optional. Execution spec arguments. If the map is left empty, the
            task will run with existing execution spec args from task
            definition. If the map contains an entry with a new key, the same
            will be added to existing set of args. If the map contains an entry
            with an existing arg key in task definition, the task will run with
            new arg value for that entry. Clearing an existing arg will require
            arg value to be explicitly set to a hyphen "-". The arg value cannot
            be empty.
          type: object
        labels:
          description: >-
            Optional. User-defined labels for the task. If the map is left
            empty, the task will run with existing labels from task definition.
            If the map contains an entry with a new key, the same will be added
            to existing set of labels. If the map contains an entry with an
            existing label key in task definition, the task will run with new
            label value for that entry. Clearing an existing label will require
            label value to be explicitly set to a hyphen "-". The label value
            cannot be empty.
          additionalProperties:
            type: string
          type: object
      id: GoogleCloudDataplexV1RunTaskRequest
    GoogleCloudDataplexV1AssetDiscoverySpec:
      id: GoogleCloudDataplexV1AssetDiscoverySpec
      type: object
      description: Settings to manage the metadata discovery and publishing for an asset.
      properties:
        excludePatterns:
          type: array
          description: >-
            Optional. The list of patterns to apply for selecting data to
            exclude during discovery. For Cloud Storage bucket assets, these are
            interpreted as glob patterns used to match object names. For
            BigQuery dataset assets, these are interpreted as patterns to match
            table names.
          items:
            type: string
        enabled:
          type: boolean
          description: Optional. Whether discovery is enabled.
        jsonOptions:
          description: Optional. Configuration for Json data.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions
        includePatterns:
          description: >-
            Optional. The list of patterns to apply for selecting data to
            include during discovery if only a subset of the data should
            considered. For Cloud Storage bucket assets, these are interpreted
            as glob patterns used to match object names. For BigQuery dataset
            assets, these are interpreted as patterns to match table names.
          items:
            type: string
          type: array
        schedule:
          description: >-
            Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for
            running discovery periodically. Successive discovery runs must be
            scheduled at least 60 minutes apart. The default value is to run
            discovery every 60 minutes. To explicitly set a timezone to the cron
            tab, apply a prefix in the cron tab: "CRON_TZ=${IANA_TIME_ZONE}" or
            TZ=${IANA_TIME_ZONE}". The ${IANA_TIME_ZONE} may only be a valid
            string from IANA time zone database. For example,
            CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * *
            *.
          type: string
        csvOptions:
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions
          description: Optional. Configuration for CSV data.
    GoogleCloudDataplexV1DataSource:
      id: GoogleCloudDataplexV1DataSource
      description: The data source for DataScan.
      properties:
        resource:
          type: string
          description: >-
            Immutable. The service-qualified full resource name of the cloud
            resource for a DataScan job to scan against. The field could be:
            BigQuery table of type "TABLE" for DataProfileScan/DataQualityScan
            Format:
            //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID
        entity:
          description: >-
            Immutable. The Dataplex entity that represents the data source (e.g.
            BigQuery table) for DataScan, of the form:
            projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}.
          type: string
      type: object
    GoogleCloudDataplexV1ActionIncompatibleDataSchema:
      properties:
        schemaChange:
          type: string
          description: >-
            Whether the action relates to a schema that is incompatible or
            modified.
          enumDescriptions:
            - Schema change unspecified.
            - Newly discovered schema is incompatible with existing schema.
            - >-
              Newly discovered schema has changed from existing schema for data
              in a curated zone.
          enum:
            - SCHEMA_CHANGE_UNSPECIFIED
            - INCOMPATIBLE
            - MODIFIED
        newSchema:
          description: >-
            The new and incompatible schema within the table. The schema is
            provided as a JSON formatted structured listing columns and data
            types.
          type: string
        existingSchema:
          type: string
          description: >-
            The existing and expected schema of the table. The schema is
            provided as a JSON formatted structure listing columns and data
            types.
        sampledDataLocations:
          type: array
          description: >-
            The list of data locations sampled and used for format/schema
            inference.
          items:
            type: string
        table:
          type: string
          description: The name of the table containing invalid data.
      type: object
      description: Action details for incompatible schemas detected by discovery.
      id: GoogleCloudDataplexV1ActionIncompatibleDataSchema
    GoogleCloudDataplexV1ListAssetsResponse:
      id: GoogleCloudDataplexV1ListAssetsResponse
      description: List assets response.
      type: object
      properties:
        assets:
          items:
            $ref: '#/components/schemas/GoogleCloudDataplexV1Asset'
          description: Asset under the given parent zone.
          type: array
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
    GoogleCloudLocationListLocationsResponse:
      type: object
      id: GoogleCloudLocationListLocationsResponse
      properties:
        nextPageToken:
          type: string
          description: The standard List next-page token.
        locations:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudLocationLocation'
          description: >-
            A list of locations that matches the specified filter in the
            request.
      description: The response message for Locations.ListLocations.
    GoogleCloudDataplexV1DataAttributeBinding:
      description: >-
        DataAttributeBinding represents binding of attributes to resources. Eg:
        Bind 'CustomerInfo' entity with 'PII' attribute.
      type: object
      id: GoogleCloudDataplexV1DataAttributeBinding
      properties:
        attributes:
          type: array
          description: >-
            Optional. List of attributes to be associated with the resource,
            provided in the form:
            projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}
          items:
            type: string
        resource:
          description: >-
            Optional. Immutable. The resource name of the resource that is
            associated to attributes. Presently, only entity resource is
            supported in the form:
            projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/entities/{entity_id}
            Must belong in the same project and region as the attribute binding,
            and there can only exist one active binding for a resource.
          type: string
        displayName:
          type: string
          description: Optional. User friendly display name.
        etag:
          type: string
          description: >-
            This checksum is computed by the server based on the value of other
            fields, and may be sent on update and delete requests to ensure the
            client has an up-to-date value before proceeding. Etags must be used
            when calling the DeleteDataAttributeBinding and the
            UpdateDataAttributeBinding method.
        labels:
          additionalProperties:
            type: string
          type: object
          description: Optional. User-defined labels for the DataAttributeBinding.
        uid:
          type: string
          readOnly: true
          description: >-
            Output only. System generated globally unique ID for the
            DataAttributeBinding. This ID will be different if the
            DataAttributeBinding is deleted and re-created with the same name.
        description:
          type: string
          description: Optional. Description of the DataAttributeBinding.
        updateTime:
          format: google-datetime
          description: >-
            Output only. The time when the DataAttributeBinding was last
            updated.
          readOnly: true
          type: string
        paths:
          items:
            $ref: '#/components/schemas/GoogleCloudDataplexV1DataAttributeBindingPath'
          description: >-
            Optional. The list of paths for items within the associated resource
            (eg. columns and partitions within a table) along with attribute
            bindings.
          type: array
        name:
          description: >-
            Output only. The relative resource name of the Data Attribute
            Binding, of the form:
            projects/{project_number}/locations/{location}/dataAttributeBindings/{data_attribute_binding_id}
          readOnly: true
          type: string
        createTime:
          format: google-datetime
          description: Output only. The time when the DataAttributeBinding was created.
          readOnly: true
          type: string
    GoogleCloudDataplexV1Task:
      id: GoogleCloudDataplexV1Task
      description: A task represents a user-visible job.
      type: object
      properties:
        notebook:
          $ref: '#/components/schemas/GoogleCloudDataplexV1TaskNotebookTaskConfig'
          description: Config related to running scheduled Notebooks.
        spark:
          description: Config related to running custom Spark tasks.
          $ref: '#/components/schemas/GoogleCloudDataplexV1TaskSparkTaskConfig'
        uid:
          readOnly: true
          type: string
          description: >-
            Output only. System generated globally unique ID for the task. This
            ID will be different if the task is deleted and re-created with the
            same name.
        triggerSpec:
          $ref: '#/components/schemas/GoogleCloudDataplexV1TaskTriggerSpec'
          description: >-
            Required. Spec related to how often and when a task should be
            triggered.
        state:
          description: Output only. Current state of the task.
          type: string
          enumDescriptions:
            - State is not specified.
            - Resource is active, i.e., ready to use.
            - Resource is under creation.
            - Resource is under deletion.
            - Resource is active but has unresolved actions.
          readOnly: true
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - CREATING
            - DELETING
            - ACTION_REQUIRED
        executionSpec:
          description: Required. Spec related to how a task is executed.
          $ref: '#/components/schemas/GoogleCloudDataplexV1TaskExecutionSpec'
        executionStatus:
          readOnly: true
          $ref: '#/components/schemas/GoogleCloudDataplexV1TaskExecutionStatus'
          description: Output only. Status of the latest task executions.
        updateTime:
          type: string
          description: Output only. The time when the task was last updated.
          readOnly: true
          format: google-datetime
        name:
          type: string
          readOnly: true
          description: >-
            Output only. The relative resource name of the task, of the form:
            projects/{project_number}/locations/{location_id}/lakes/{lake_id}/
            tasks/{task_id}.
        description:
          type: string
          description: Optional. Description of the task.
        displayName:
          description: Optional. User friendly display name.
          type: string
        labels:
          description: Optional. User-defined labels for the task.
          type: object
          additionalProperties:
            type: string
        createTime:
          readOnly: true
          type: string
          format: google-datetime
          description: Output only. The time when the task was created.
    GoogleCloudDataplexV1DataProfileSpec:
      properties:
        rowFilter:
          type: string
          description: >-
            Optional. A filter applied to all rows in a single DataScan job. The
            filter needs to be a valid SQL expression for a WHERE clause in
            BigQuery standard SQL syntax. Example: col1 >= 0 AND col2 < 10
        excludeFields:
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataProfileSpecSelectedFields
          description: >-
            Optional. The fields to exclude from data profile.If specified, the
            fields will be excluded from data profile, regardless of
            include_fields value.
        includeFields:
          description: >-
            Optional. The fields to include in data profile.If not specified,
            all fields at the time of profile scan job execution are included,
            except for ones listed in exclude_fields.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataProfileSpecSelectedFields
        samplingPercent:
          description: >-
            Optional. The percentage of the records to be selected from the
            dataset for DataScan. Value can range between 0.0 and 100.0 with up
            to 3 significant decimal digits. Sampling is not applied if
            sampling_percent is not specified, 0 or 100.
          format: float
          type: number
      type: object
      id: GoogleCloudDataplexV1DataProfileSpec
      description: DataProfileScan related setting.
    GoogleIamV1Binding:
      properties:
        members:
          items:
            type: string
          type: array
          description: >-
            Specifies the principals requesting access for a Google Cloud
            resource. members can have the following values: allUsers: A special
            identifier that represents anyone who is on the internet; with or
            without a Google account. allAuthenticatedUsers: A special
            identifier that represents anyone who is authenticated with a Google
            account or a service account. Does not include identities that come
            from external identity providers (IdPs) through identity federation.
            user:{emailid}: An email address that represents a specific Google
            account. For example, alice@example.com . serviceAccount:{emailid}:
            An email address that represents a Google service account. For
            example, my-other-app@appspot.gserviceaccount.com.
            serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]:
            An identifier for a Kubernetes service account
            (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).
            For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa].
            group:{emailid}: An email address that represents a Google group.
            For example, admins@example.com. domain:{domain}: The G Suite domain
            (primary) that represents all the users of that domain. For example,
            google.com or example.com. deleted:user:{emailid}?uid={uniqueid}: An
            email address (plus unique identifier) representing a user that has
            been recently deleted. For example,
            alice@example.com?uid=123456789012345678901. If the user is
            recovered, this value reverts to user:{emailid} and the recovered
            user retains the role in the binding.
            deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address
            (plus unique identifier) representing a service account that has
            been recently deleted. For example,
            my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901.
            If the service account is undeleted, this value reverts to
            serviceAccount:{emailid} and the undeleted service account retains
            the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An
            email address (plus unique identifier) representing a Google group
            that has been recently deleted. For example,
            admins@example.com?uid=123456789012345678901. If the group is
            recovered, this value reverts to group:{emailid} and the recovered
            group retains the role in the binding.
        condition:
          description: >-
            The condition that is associated with this binding.If the condition
            evaluates to true, then this binding applies to the current
            request.If the condition evaluates to false, then this binding does
            not apply to the current request. However, a different role binding
            might grant the same role to one or more of the principals in this
            binding.To learn which resources support conditions in their IAM
            policies, see the IAM documentation
            (https://cloud.google.com/iam/help/conditions/resource-policies).
          $ref: '#/components/schemas/GoogleTypeExpr'
        role:
          description: >-
            Role that is assigned to the list of members, or principals. For
            example, roles/viewer, roles/editor, or roles/owner.
          type: string
      description: Associates members, or principals, with a role.
      type: object
      id: GoogleIamV1Binding
    GoogleCloudDataplexV1DataQualityRuleNonNullExpectation:
      description: Evaluates whether each column value is null.
      id: GoogleCloudDataplexV1DataQualityRuleNonNullExpectation
      type: object
      properties: {}
    GoogleCloudDataplexV1ListPartitionsResponse:
      type: object
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            remaining results in the list.
        partitions:
          items:
            $ref: '#/components/schemas/GoogleCloudDataplexV1Partition'
          description: Partitions under the specified parent entity.
          type: array
      description: List metadata partitions response.
      id: GoogleCloudDataplexV1ListPartitionsResponse
    GoogleCloudDataplexV1SchemaPartitionField:
      id: GoogleCloudDataplexV1SchemaPartitionField
      properties:
        type:
          enum:
            - TYPE_UNSPECIFIED
            - BOOLEAN
            - BYTE
            - INT16
            - INT32
            - INT64
            - FLOAT
            - DOUBLE
            - DECIMAL
            - STRING
            - BINARY
            - TIMESTAMP
            - DATE
            - TIME
            - RECORD
            - 'NULL'
          enumDescriptions:
            - SchemaType unspecified.
            - Boolean field.
            - Single byte numeric field.
            - 16-bit numeric field.
            - 32-bit numeric field.
            - 64-bit numeric field.
            - Floating point numeric field.
            - Double precision numeric field.
            - Real value numeric field.
            - Sequence of characters field.
            - Sequence of bytes field.
            - Date and time field.
            - Date field.
            - Time field.
            - >-
              Structured field. Nested fields that define the structure of the
              map. If all nested fields are nullable, this field represents a
              union.
            - Null field that does not have values.
          type: string
          description: Required. Immutable. The type of field.
        name:
          description: >-
            Required. Partition field name must consist of letters, numbers, and
            underscores only, with a maximum of length of 256 characters, and
            must begin with a letter or underscore..
          type: string
      type: object
      description: >-
        Represents a key field within the entity's partition structure. You
        could have up to 20 partition fields, but only the first 10 partitions
        have the filtering ability due to performance consideration. Note:
        Partition fields are immutable.
    GoogleLongrunningOperation:
      id: GoogleLongrunningOperation
      properties:
        metadata:
          type: object
          description: >-
            Service-specific metadata associated with the operation. It
            typically contains progress information and common metadata such as
            create time. Some services might not provide such metadata. Any
            method that returns a long-running operation should document the
            metadata type, if any.
          additionalProperties:
            type: any
            description: Properties of the object. Contains field @type with type URL.
        name:
          description: >-
            The server-assigned name, which is only unique within the same
            service that originally returns it. If you use the default HTTP
            mapping, the name should be a resource name ending with
            operations/{unique_id}.
          type: string
        done:
          description: >-
            If the value is false, it means the operation is still in progress.
            If true, the operation is completed, and either error or response is
            available.
          type: boolean
        response:
          description: >-
            The normal response of the operation in case of success. If the
            original method returns no data on success, such as Delete, the
            response is google.protobuf.Empty. If the original method is
            standard Get/Create/Update, the response should be the resource. For
            other methods, the response should have the type XxxResponse, where
            Xxx is the original method name. For example, if the original method
            name is TakeSnapshot(), the inferred response type is
            TakeSnapshotResponse.
          type: object
          additionalProperties:
            type: any
            description: Properties of the object. Contains field @type with type URL.
        error:
          description: >-
            The error result of the operation in case of failure or
            cancellation.
          $ref: '#/components/schemas/GoogleRpcStatus'
      type: object
      description: >-
        This resource represents a long-running operation that is the result of
        a network API call.
    GoogleCloudDataplexV1ActionFailedSecurityPolicyApply:
      type: object
      id: GoogleCloudDataplexV1ActionFailedSecurityPolicyApply
      properties:
        asset:
          description: >-
            Resource name of one of the assets with failing security policy
            application. Populated for a lake or zone resource only.
          type: string
      description: >-
        Failed to apply security policy to the managed resource(s) under a lake,
        zone or an asset. For a lake or zone resource, one or more underlying
        assets has a failure applying security policy to the associated managed
        resource.
    GoogleCloudDataplexV1DataScan:
      description: >-
        Represents a user-visible job which provides the insights for the
        related data source.For example: Data Quality: generates queries based
        on the rules and runs against the data to get data quality check
        results. Data Profile: analyzes the data in table(s) and generates
        insights about the structure, content and relationships (such as null
        percent, cardinality, min/max/mean, etc).
      properties:
        dataProfileSpec:
          description: DataProfileScan related setting.
          $ref: '#/components/schemas/GoogleCloudDataplexV1DataProfileSpec'
        displayName:
          type: string
          description: >-
            Optional. User friendly display name. Must be between 1-256
            characters.
        updateTime:
          readOnly: true
          type: string
          description: Output only. The time when the scan was last updated.
          format: google-datetime
        type:
          readOnly: true
          description: Output only. The type of DataScan.
          type: string
          enum:
            - DATA_SCAN_TYPE_UNSPECIFIED
            - DATA_QUALITY
            - DATA_PROFILE
          enumDescriptions:
            - The DataScan type is unspecified.
            - Data Quality scan.
            - Data Profile scan.
        createTime:
          readOnly: true
          type: string
          description: Output only. The time when the scan was created.
          format: google-datetime
        dataProfileResult:
          readOnly: true
          $ref: '#/components/schemas/GoogleCloudDataplexV1DataProfileResult'
          description: Output only. The result of the data profile scan.
        data:
          $ref: '#/components/schemas/GoogleCloudDataplexV1DataSource'
          description: Required. The data source for DataScan.
        name:
          readOnly: true
          description: >-
            Output only. The relative resource name of the scan, of the form:
            projects/{project}/locations/{location_id}/dataScans/{datascan_id},
            where project refers to a project_id or project_number and
            location_id refers to a GCP region.
          type: string
        executionStatus:
          $ref: '#/components/schemas/GoogleCloudDataplexV1DataScanExecutionStatus'
          description: Output only. Status of the data scan execution.
          readOnly: true
        executionSpec:
          $ref: '#/components/schemas/GoogleCloudDataplexV1DataScanExecutionSpec'
          description: >-
            Optional. DataScan execution settings.If not specified, the fields
            in it will use their default values.
        description:
          type: string
          description: >-
            Optional. Description of the scan. Must be between 1-1024
            characters.
        uid:
          readOnly: true
          type: string
          description: >-
            Output only. System generated globally unique ID for the scan. This
            ID will be different if the scan is deleted and re-created with the
            same name.
        state:
          readOnly: true
          type: string
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - CREATING
            - DELETING
            - ACTION_REQUIRED
          description: Output only. Current state of the DataScan.
          enumDescriptions:
            - State is not specified.
            - Resource is active, i.e., ready to use.
            - Resource is under creation.
            - Resource is under deletion.
            - Resource is active but has unresolved actions.
        dataQualityResult:
          $ref: '#/components/schemas/GoogleCloudDataplexV1DataQualityResult'
          readOnly: true
          description: Output only. The result of the data quality scan.
        labels:
          additionalProperties:
            type: string
          description: Optional. User-defined labels for the scan.
          type: object
        dataQualitySpec:
          description: DataQualityScan related setting.
          $ref: '#/components/schemas/GoogleCloudDataplexV1DataQualitySpec'
      type: object
      id: GoogleCloudDataplexV1DataScan
    GoogleCloudDataplexV1DataScanEventDataProfileResult:
      description: Data profile result for data scan job.
      type: object
      properties:
        rowCount:
          type: string
          description: The count of rows processed in the data scan job.
          format: int64
      id: GoogleCloudDataplexV1DataScanEventDataProfileResult
    GoogleCloudDataplexV1SessionEvent:
      description: >-
        These messages contain information about sessions within an environment.
        The monitored resource is 'Environment'.
      id: GoogleCloudDataplexV1SessionEvent
      type: object
      properties:
        fastStartupEnabled:
          description: >-
            If the session is associated with an environment with fast startup
            enabled, and was created before being assigned to a user.
          type: boolean
        userId:
          type: string
          description: >-
            The information about the user that created the session. It will be
            the email address of the user.
        type:
          enumDescriptions:
            - An unspecified event type.
            - Event when the session is assigned to a user.
            - Event for stop of a session.
            - Query events in the session.
            - >-
              Event for creation of a cluster. It is not yet assigned to a user.
              This comes before START in the sequence
          type: string
          description: The type of the event.
          enum:
            - EVENT_TYPE_UNSPECIFIED
            - START
            - STOP
            - QUERY
            - CREATE
        unassignedDuration:
          format: google-duration
          type: string
          description: >-
            The idle duration of a warm pooled session before it is assigned to
            user.
        query:
          $ref: '#/components/schemas/GoogleCloudDataplexV1SessionEventQueryDetail'
          description: The execution details of the query.
        message:
          type: string
          description: The log message.
        eventSucceeded:
          description: The status of the event.
          type: boolean
        sessionId:
          type: string
          description: Unique identifier for the session.
    GoogleCloudDataplexV1ListDataAttributesResponse:
      type: object
      properties:
        unreachableLocations:
          type: array
          items:
            type: string
          description: Locations that could not be reached.
        dataAttributes:
          description: DataAttributes under the given parent DataTaxonomy.
          items:
            $ref: '#/components/schemas/GoogleCloudDataplexV1DataAttribute'
          type: array
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
      description: List DataAttributes response.
      id: GoogleCloudDataplexV1ListDataAttributesResponse
    GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation:
      id: GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation
      properties:
        statistic:
          enum:
            - STATISTIC_UNDEFINED
            - MEAN
            - MIN
            - MAX
          description: The aggregate metric to evaluate.
          enumDescriptions:
            - Unspecified statistic type
            - Evaluate the column mean
            - Evaluate the column min
            - Evaluate the column max
          type: string
        minValue:
          description: >-
            The minimum column statistic value allowed for a row to pass this
            validation.At least one of min_value and max_value need to be
            provided.
          type: string
        maxValue:
          type: string
          description: >-
            The maximum column statistic value allowed for a row to pass this
            validation.At least one of min_value and max_value need to be
            provided.
        strictMaxEnabled:
          type: boolean
          description: >-
            Whether column statistic needs to be strictly lesser than ('<') the
            maximum, or if equality is allowed.Only relevant if a max_value has
            been defined. Default = false.
        strictMinEnabled:
          type: boolean
          description: >-
            Whether column statistic needs to be strictly greater than ('>') the
            minimum, or if equality is allowed.Only relevant if a min_value has
            been defined. Default = false.
      description: >-
        Evaluates whether the column aggregate statistic lies between a
        specified range.
      type: object
    GoogleCloudDataplexV1DataScanExecutionSpec:
      properties:
        trigger:
          $ref: '#/components/schemas/GoogleCloudDataplexV1Trigger'
          description: >-
            Optional. Spec related to how often and when a scan should be
            triggered.If not specified, the default is OnDemand, which means the
            scan will not run until the user calls RunDataScan API.
        field:
          type: string
          description: >-
            Immutable. The unnested field (of type Date or Timestamp) that
            contains values which monotonically increase over time.If not
            specified, a data scan will run for all data in the table.
      type: object
      description: DataScan execution settings.
      id: GoogleCloudDataplexV1DataScanExecutionSpec
    GoogleCloudDataplexV1DataProfileResultProfileField:
      type: object
      description: A field within a table.
      id: GoogleCloudDataplexV1DataProfileResultProfileField
      properties:
        profile:
          description: Profile information for the corresponding field.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo
        name:
          description: The name of the field.
          type: string
        type:
          description: >-
            The data type retrieved from the schema of the data source. For
            instance, for a BigQuery native table, it is the BigQuery Table
            Schema
            (https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#tablefieldschema).
            For a Dataplex Entity, it is the Entity Schema
            (https://cloud.google.com/dataplex/docs/reference/rpc/google.cloud.dataplex.v1#type_3).
          type: string
        mode:
          description: >-
            The mode of the field. Possible values include: REQUIRED, if it is a
            required field. NULLABLE, if it is an optional field. REPEATED, if
            it is a repeated field.
          type: string
    GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation:
      id: GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation
      description: >-
        Evaluates whether each row passes the specified condition.The SQL
        expression needs to use BigQuery standard SQL syntax and should produce
        a boolean value per row as the result.Example: col1 >= 0 AND col2 < 10
      properties:
        sqlExpression:
          type: string
          description: The SQL expression.
      type: object
    GoogleCloudDataplexV1DataQualityRuleSetExpectation:
      type: object
      id: GoogleCloudDataplexV1DataQualityRuleSetExpectation
      properties:
        values:
          description: Expected values for the column value.
          type: array
          items:
            type: string
      description: Evaluates whether each column value is contained by a specified set.
    GoogleCloudDataplexV1Partition:
      type: object
      properties:
        location:
          type: string
          description: >-
            Required. Immutable. The location of the entity data within the
            partition, for example,
            gs://bucket/path/to/entity/key1=value1/key2=value2. Or
            projects//datasets//tables/
        values:
          items:
            type: string
          description: >-
            Required. Immutable. The set of values representing the partition,
            which correspond to the partition schema defined in the parent
            entity.
          type: array
        name:
          readOnly: true
          description: >-
            Output only. Partition values used in the HTTP URL must be double
            encoded. For example, url_encode(url_encode(value)) can be used to
            encode "US:CA/CA#Sunnyvale so that the request URL ends with
            "/partitions/US%253ACA/CA%2523Sunnyvale". The name field in the
            response retains the encoded format.
          type: string
        etag:
          type: string
          description: Optional. The etag for this partition.
      description: Represents partition metadata contained within entity instances.
      id: GoogleCloudDataplexV1Partition
    GoogleTypeExpr:
      properties:
        title:
          description: >-
            Optional. Title for the expression, i.e. a short string describing
            its purpose. This can be used e.g. in UIs which allow to enter the
            expression.
          type: string
        description:
          description: >-
            Optional. Description of the expression. This is a longer text which
            describes the expression, e.g. when hovered over it in a UI.
          type: string
        location:
          description: >-
            Optional. String indicating the location of the expression for error
            reporting, e.g. a file name and a position in the file.
          type: string
        expression:
          description: >-
            Textual representation of an expression in Common Expression
            Language syntax.
          type: string
      description: >-
        Represents a textual expression in the Common Expression Language (CEL)
        syntax. CEL is a C-like expression language. The syntax and semantics of
        CEL are documented at https://github.com/google/cel-spec.Example
        (Comparison): title: "Summary size limit" description: "Determines if a
        summary is less than 100 chars" expression: "document.summary.size() <
        100" Example (Equality): title: "Requestor is owner" description:
        "Determines if requestor is the document owner" expression:
        "document.owner == request.auth.claims.email" Example (Logic): title:
        "Public documents" description: "Determine whether the document should
        be publicly visible" expression: "document.type != 'private' &&
        document.type != 'internal'" Example (Data Manipulation): title:
        "Notification string" description: "Create a notification string with a
        timestamp." expression: "'New message received at ' +
        string(document.create_time)" The exact variables and functions that may
        be referenced within an expression are determined by the service that
        evaluates it. See the service documentation for additional information.
      type: object
      id: GoogleTypeExpr
    GoogleCloudDataplexV1AssetResourceSpec:
      description: Identifies the cloud resource that is referenced by this asset.
      type: object
      properties:
        name:
          description: >-
            Immutable. Relative name of the cloud resource that contains the
            data that is being managed within a lake. For example:
            projects/{project_number}/buckets/{bucket_id}
            projects/{project_number}/datasets/{dataset_id}
          type: string
        readAccessMode:
          type: string
          enumDescriptions:
            - Access mode unspecified.
            - Default. Data is accessed directly using storage APIs.
            - Data is accessed through a managed interface using BigQuery APIs.
          enum:
            - ACCESS_MODE_UNSPECIFIED
            - DIRECT
            - MANAGED
          description: >-
            Optional. Determines how read permissions are handled for each asset
            and their associated tables. Only available to storage buckets
            assets.
        type:
          description: Required. Immutable. Type of resource.
          enumDescriptions:
            - Type not specified.
            - Cloud Storage bucket.
            - BigQuery dataset.
          type: string
          enum:
            - TYPE_UNSPECIFIED
            - STORAGE_BUCKET
            - BIGQUERY_DATASET
      id: GoogleCloudDataplexV1AssetResourceSpec
    GoogleCloudDataplexV1SchemaSchemaField:
      id: GoogleCloudDataplexV1SchemaSchemaField
      description: Represents a column field within a table schema.
      type: object
      properties:
        mode:
          description: Required. Additional field semantics.
          enumDescriptions:
            - Mode unspecified.
            - The field has required semantics.
            - The field has optional semantics, and may be null.
            - >-
              The field has repeated (0 or more) semantics, and is a list of
              values.
          enum:
            - MODE_UNSPECIFIED
            - REQUIRED
            - NULLABLE
            - REPEATED
          type: string
        fields:
          items:
            $ref: '#/components/schemas/GoogleCloudDataplexV1SchemaSchemaField'
          description: Optional. Any nested field for complex types.
          type: array
        name:
          type: string
          description: >-
            Required. The name of the field. Must contain only letters, numbers
            and underscores, with a maximum length of 767 characters, and must
            begin with a letter or underscore.
        description:
          description: >-
            Optional. User friendly field description. Must be less than or
            equal to 1024 characters.
          type: string
        type:
          enumDescriptions:
            - SchemaType unspecified.
            - Boolean field.
            - Single byte numeric field.
            - 16-bit numeric field.
            - 32-bit numeric field.
            - 64-bit numeric field.
            - Floating point numeric field.
            - Double precision numeric field.
            - Real value numeric field.
            - Sequence of characters field.
            - Sequence of bytes field.
            - Date and time field.
            - Date field.
            - Time field.
            - >-
              Structured field. Nested fields that define the structure of the
              map. If all nested fields are nullable, this field represents a
              union.
            - Null field that does not have values.
          description: Required. The type of field.
          type: string
          enum:
            - TYPE_UNSPECIFIED
            - BOOLEAN
            - BYTE
            - INT16
            - INT32
            - INT64
            - FLOAT
            - DOUBLE
            - DECIMAL
            - STRING
            - BINARY
            - TIMESTAMP
            - DATE
            - TIME
            - RECORD
            - 'NULL'
    GoogleCloudDataplexV1ContentNotebook:
      type: object
      id: GoogleCloudDataplexV1ContentNotebook
      description: Configuration for Notebook content.
      properties:
        kernelType:
          type: string
          enumDescriptions:
            - Kernel Type unspecified.
            - Python 3 Kernel.
          enum:
            - KERNEL_TYPE_UNSPECIFIED
            - PYTHON3
          description: Required. Kernel Type of the notebook.
    GoogleCloudDataplexV1TaskTriggerSpec:
      type: object
      description: Task scheduling and trigger settings.
      properties:
        maxRetries:
          type: integer
          description: >-
            Optional. Number of retry attempts before aborting. Set to zero to
            never attempt to retry a failed task.
          format: int32
        startTime:
          format: google-datetime
          type: string
          description: >-
            Optional. The first run of the task will be after this time. If not
            specified, the task will run shortly after being submitted if
            ON_DEMAND and based on the schedule if RECURRING.
        disabled:
          description: >-
            Optional. Prevent the task from executing. This does not cancel
            already running tasks. It is intended to temporarily disable
            RECURRING tasks.
          type: boolean
        type:
          description: Required. Immutable. Trigger type of the user-specified Task.
          enumDescriptions:
            - Unspecified trigger type.
            - The task runs one-time shortly after Task Creation.
            - The task is scheduled to run periodically.
          type: string
          enum:
            - TYPE_UNSPECIFIED
            - ON_DEMAND
            - RECURRING
        schedule:
          type: string
          description: >-
            Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for
            running tasks periodically. To explicitly set a timezone to the cron
            tab, apply a prefix in the cron tab: "CRON_TZ=${IANA_TIME_ZONE}" or
            "TZ=${IANA_TIME_ZONE}". The ${IANA_TIME_ZONE} may only be a valid
            string from IANA time zone database. For example,
            CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * *
            *. This field is required for RECURRING tasks.
      id: GoogleCloudDataplexV1TaskTriggerSpec
    GoogleCloudDataplexV1DataScanEventDataProfileAppliedConfigs:
      description: Applied configs for data profile type data scan job.
      id: GoogleCloudDataplexV1DataScanEventDataProfileAppliedConfigs
      type: object
      properties:
        columnFilterApplied:
          type: boolean
          description: >-
            Boolean indicating whether a column filter was applied in the
            DataScan job.
        rowFilterApplied:
          description: >-
            Boolean indicating whether a row filter was applied in the DataScan
            job.
          type: boolean
        samplingPercent:
          format: float
          description: >-
            The percentage of the records selected from the dataset for
            DataScan. Value ranges between 0.0 and 100.0. Value 0.0 or 100.0
            imply that sampling was not applied.
          type: number
    GoogleCloudDataplexV1LakeMetastore:
      properties:
        service:
          type: string
          description: >-
            Optional. A relative reference to the Dataproc Metastore
            (https://cloud.google.com/dataproc-metastore/docs) service
            associated with the lake:
            projects/{project_id}/locations/{location_id}/services/{service_id}
      id: GoogleCloudDataplexV1LakeMetastore
      description: Settings to manage association of Dataproc Metastore with a lake.
      type: object
    GoogleIamV1SetIamPolicyRequest:
      description: Request message for SetIamPolicy method.
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/GoogleIamV1Policy'
          description: >-
            REQUIRED: The complete policy to be applied to the resource. The
            size of the policy is limited to a few 10s of KB. An empty policy is
            a valid policy but certain Google Cloud services (such as Projects)
            might reject them.
        updateMask:
          type: string
          format: google-fieldmask
          description: >-
            OPTIONAL: A FieldMask specifying which fields of the policy to
            modify. Only the fields in the mask will be modified. If no mask is
            provided, the following default mask is used:paths: "bindings, etag"
      id: GoogleIamV1SetIamPolicyRequest
    GoogleCloudDataplexV1DataScanExecutionStatus:
      id: GoogleCloudDataplexV1DataScanExecutionStatus
      properties:
        latestJobEndTime:
          description: The time when the latest DataScanJob ended.
          type: string
          format: google-datetime
        latestJobStartTime:
          description: The time when the latest DataScanJob started.
          type: string
          format: google-datetime
      type: object
      description: Status of the data scan execution.
    GoogleCloudDataplexV1AssetSecurityStatus:
      type: object
      properties:
        updateTime:
          type: string
          description: Last update time of the status.
          format: google-datetime
        state:
          enum:
            - STATE_UNSPECIFIED
            - READY
            - APPLYING
            - ERROR
          type: string
          description: >-
            The current state of the security policy applied to the attached
            resource.
          enumDescriptions:
            - State unspecified.
            - >-
              Security policy has been successfully applied to the attached
              resource.
            - >-
              Security policy is in the process of being applied to the attached
              resource.
            - >-
              Security policy could not be applied to the attached resource due
              to errors.
        message:
          description: Additional information about the current state.
          type: string
      description: >-
        Security policy status of the asset. Data security policy, i.e.,
        readers, writers & owners, should be specified in the lake/zone/asset
        IAM policy.
      id: GoogleCloudDataplexV1AssetSecurityStatus
    GoogleCloudDataplexV1ActionUnauthorizedResource:
      type: object
      properties: {}
      description: >-
        Action details for unauthorized resource issues raised to indicate that
        the service account associated with the lake instance is not authorized
        to access or manage the resource associated with an asset.
      id: GoogleCloudDataplexV1ActionUnauthorizedResource
    GoogleCloudDataplexV1ListTasksResponse:
      id: GoogleCloudDataplexV1ListTasksResponse
      type: object
      description: List tasks response.
      properties:
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
        tasks:
          type: array
          description: Tasks under the given parent lake.
          items:
            $ref: '#/components/schemas/GoogleCloudDataplexV1Task'
        unreachableLocations:
          type: array
          items:
            type: string
          description: Locations that could not be reached.
    GoogleCloudDataplexV1ListEntitiesResponse:
      type: object
      id: GoogleCloudDataplexV1ListEntitiesResponse
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            remaining results in the list.
        entities:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDataplexV1Entity'
          description: Entities in the specified parent zone.
      description: List metadata entities response.
    GoogleIamV1AuditLogConfig:
      type: object
      properties:
        logType:
          description: The log type that this config enables.
          type: string
          enumDescriptions:
            - Default case. Should never be this.
            - 'Admin reads. Example: CloudIAM getIamPolicy'
            - 'Data writes. Example: CloudSQL Users create'
            - 'Data reads. Example: CloudSQL Users list'
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
        exemptedMembers:
          items:
            type: string
          type: array
          description: >-
            Specifies the identities that do not cause logging for this type of
            permission. Follows the same format of Binding.members.
      description: >-
        Provides the configuration for logging a type of permissions. Example: {
        "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [
        "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" } ] } This
        enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting
        jose@example.com from DATA_READ logging.
      id: GoogleIamV1AuditLogConfig
    GoogleCloudDataplexV1ListContentResponse:
      id: GoogleCloudDataplexV1ListContentResponse
      properties:
        content:
          description: Content under the given parent lake.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDataplexV1Content'
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
      type: object
      description: List content response.
    GoogleCloudDataplexV1ActionMissingResource:
      description: Action details for resource references in assets that cannot be located.
      properties: {}
      type: object
      id: GoogleCloudDataplexV1ActionMissingResource
    GoogleCloudDataplexV1DataAttribute:
      type: object
      properties:
        updateTime:
          format: google-datetime
          description: Output only. The time when the DataAttribute was last updated.
          readOnly: true
          type: string
        name:
          type: string
          readOnly: true
          description: >-
            Output only. The relative resource name of the dataAttribute, of the
            form:
            projects/{project_number}/locations/{location_id}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}.
        parentId:
          type: string
          description: >-
            Optional. The ID of the parent DataAttribute resource, should belong
            to the same data taxonomy. Circular dependency in parent chain is
            not valid. Maximum depth of the hierarchy allowed is 4. a -> b -> c
            -> d -> e, depth = 4
        resourceAccessSpec:
          $ref: '#/components/schemas/GoogleCloudDataplexV1ResourceAccessSpec'
          description: >-
            Optional. Specified when applied to a resource (eg: Cloud Storage
            bucket, BigQuery dataset, BigQuery table).
        uid:
          description: >-
            Output only. System generated globally unique ID for the
            DataAttribute. This ID will be different if the DataAttribute is
            deleted and re-created with the same name.
          type: string
          readOnly: true
        description:
          description: Optional. Description of the DataAttribute.
          type: string
        attributeCount:
          readOnly: true
          format: int32
          type: integer
          description: >-
            Output only. The number of child attributes present for this
            attribute.
        labels:
          type: object
          additionalProperties:
            type: string
          description: Optional. User-defined labels for the DataAttribute.
        etag:
          type: string
          description: >-
            This checksum is computed by the server based on the value of other
            fields, and may be sent on update and delete requests to ensure the
            client has an up-to-date value before proceeding.
        dataAccessSpec:
          description: >-
            Optional. Specified when applied to data stored on the resource (eg:
            rows, columns in BigQuery Tables).
          $ref: '#/components/schemas/GoogleCloudDataplexV1DataAccessSpec'
        displayName:
          type: string
          description: Optional. User friendly display name.
        createTime:
          type: string
          format: google-datetime
          description: Output only. The time when the DataAttribute was created.
          readOnly: true
      id: GoogleCloudDataplexV1DataAttribute
      description: >-
        Denotes one dataAttribute in a dataTaxonomy, for example, PII.
        DataAttribute resources can be defined in a hierarchy. A single
        dataAttribute resource can contain specs of multiple types PII -
        ResourceAccessSpec : - readers :foo@bar.com - DataAccessSpec : - readers
        :bar@foo.com 
    GoogleCloudDataplexV1Asset:
      properties:
        resourceStatus:
          description: Output only. Status of the resource referenced by this asset.
          $ref: '#/components/schemas/GoogleCloudDataplexV1AssetResourceStatus'
          readOnly: true
        displayName:
          type: string
          description: Optional. User friendly display name.
        createTime:
          readOnly: true
          format: google-datetime
          type: string
          description: Output only. The time when the asset was created.
        updateTime:
          description: Output only. The time when the asset was last updated.
          readOnly: true
          format: google-datetime
          type: string
        description:
          description: Optional. Description of the asset.
          type: string
        securityStatus:
          $ref: '#/components/schemas/GoogleCloudDataplexV1AssetSecurityStatus'
          readOnly: true
          description: >-
            Output only. Status of the security policy applied to resource
            referenced by this asset.
        discoveryStatus:
          $ref: '#/components/schemas/GoogleCloudDataplexV1AssetDiscoveryStatus'
          readOnly: true
          description: >-
            Output only. Status of the discovery feature applied to data
            referenced by this asset.
        name:
          readOnly: true
          description: >-
            Output only. The relative resource name of the asset, of the form:
            projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.
          type: string
        uid:
          description: >-
            Output only. System generated globally unique ID for the asset. This
            ID will be different if the asset is deleted and re-created with the
            same name.
          type: string
          readOnly: true
        state:
          readOnly: true
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - CREATING
            - DELETING
            - ACTION_REQUIRED
          description: Output only. Current state of the asset.
          enumDescriptions:
            - State is not specified.
            - Resource is active, i.e., ready to use.
            - Resource is under creation.
            - Resource is under deletion.
            - Resource is active but has unresolved actions.
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
          description: Optional. User defined labels for the asset.
        discoverySpec:
          $ref: '#/components/schemas/GoogleCloudDataplexV1AssetDiscoverySpec'
          description: >-
            Optional. Specification of the discovery feature applied to data
            referenced by this asset. When this spec is left unset, the asset
            will use the spec set on the parent zone.
        resourceSpec:
          description: >-
            Required. Specification of the resource that is referenced by this
            asset.
          $ref: '#/components/schemas/GoogleCloudDataplexV1AssetResourceSpec'
      type: object
      description: >-
        An asset represents a cloud resource that is being managed within a lake
        as a member of a zone.
      id: GoogleCloudDataplexV1Asset
    GoogleCloudDataplexV1TaskExecutionSpec:
      description: Execution related settings, like retry and service_account.
      properties:
        kmsKey:
          type: string
          description: >-
            Optional. The Cloud KMS key to use for encryption, of the form:
            projects/{project_number}/locations/{location_id}/keyRings/{key-ring-name}/cryptoKeys/{key-name}.
        serviceAccount:
          description: >-
            Required. Service account to use to execute a task. If not provided,
            the default Compute service account for the project is used.
          type: string
        args:
          additionalProperties:
            type: string
          description: >-
            Optional. The arguments to pass to the task. The args can use
            placeholders of the format ${placeholder} as part of key/value
            string. These will be interpolated before passing the args to the
            driver. Currently supported placeholders: - ${task_id} - ${job_time}
            To pass positional args, set the key as TASK_ARGS. The value should
            be a comma-separated string of all the positional arguments. To use
            a delimiter other than comma, refer to
            https://cloud.google.com/sdk/gcloud/reference/topic/escaping. In
            case of other keys being present in the args, then TASK_ARGS will be
            passed as the last argument.
          type: object
        project:
          description: >-
            Optional. The project in which jobs are run. By default, the project
            containing the Lake is used. If a project is provided, the
            ExecutionSpec.service_account must belong to this project.
          type: string
        maxJobExecutionLifetime:
          format: google-duration
          type: string
          description: >-
            Optional. The maximum duration after which the job execution is
            expired.
      id: GoogleCloudDataplexV1TaskExecutionSpec
      type: object
    GoogleCloudDataplexV1OperationMetadata:
      description: Represents the metadata of a long-running operation.
      id: GoogleCloudDataplexV1OperationMetadata
      type: object
      properties:
        verb:
          readOnly: true
          description: Output only. Name of the verb executed by the operation.
          type: string
        createTime:
          readOnly: true
          description: Output only. The time the operation was created.
          type: string
          format: google-datetime
        requestedCancellation:
          description: >-
            Output only. Identifies whether the user has requested cancellation
            of the operation. Operations that have successfully been cancelled
            have Operation.error value with a google.rpc.Status.code of 1,
            corresponding to Code.CANCELLED.
          type: boolean
          readOnly: true
        target:
          readOnly: true
          type: string
          description: >-
            Output only. Server-defined resource path for the target of the
            operation.
        apiVersion:
          description: Output only. API version used to start the operation.
          type: string
          readOnly: true
        statusMessage:
          description: Output only. Human-readable status of the operation, if any.
          type: string
          readOnly: true
        endTime:
          format: google-datetime
          readOnly: true
          description: Output only. The time the operation finished running.
          type: string
    GoogleCloudLocationLocation:
      properties:
        name:
          description: >-
            Resource name for the location, which may vary between
            implementations. For example:
            "projects/example-project/locations/us-east1"
          type: string
        locationId:
          description: 'The canonical id for this location. For example: "us-east1".'
          type: string
        metadata:
          description: >-
            Service-specific metadata. For example the available capacity at the
            given location.
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
        labels:
          description: >-
            Cross-service attributes for the location. For example
            {"cloud.googleapis.com/region": "us-east1"} 
          additionalProperties:
            type: string
          type: object
        displayName:
          description: >-
            The friendly name for this location, typically a nearby city name.
            For example, "Tokyo".
          type: string
      description: A resource that represents a Google Cloud location.
      id: GoogleCloudLocationLocation
      type: object
    GoogleCloudDataplexV1DataQualityRuleRangeExpectation:
      id: GoogleCloudDataplexV1DataQualityRuleRangeExpectation
      description: Evaluates whether each column value lies between a specified range.
      properties:
        minValue:
          type: string
          description: >-
            Optional. The minimum column value allowed for a row to pass this
            validation. At least one of min_value and max_value need to be
            provided.
        strictMinEnabled:
          description: >-
            Optional. Whether each value needs to be strictly greater than ('>')
            the minimum, or if equality is allowed.Only relevant if a min_value
            has been defined. Default = false.
          type: boolean
        maxValue:
          description: >-
            Optional. The maximum column value allowed for a row to pass this
            validation. At least one of min_value and max_value need to be
            provided.
          type: string
        strictMaxEnabled:
          type: boolean
          description: >-
            Optional. Whether each value needs to be strictly lesser than ('<')
            the maximum, or if equality is allowed.Only relevant if a max_value
            has been defined. Default = false.
      type: object
    GoogleCloudDataplexV1LakeMetastoreStatus:
      id: GoogleCloudDataplexV1LakeMetastoreStatus
      type: object
      description: Status of Lake and Dataproc Metastore service instance association.
      properties:
        updateTime:
          type: string
          description: Last update time of the metastore status of the lake.
          format: google-datetime
        state:
          type: string
          enum:
            - STATE_UNSPECIFIED
            - NONE
            - READY
            - UPDATING
            - ERROR
          enumDescriptions:
            - Unspecified.
            - A Metastore service instance is not associated with the lake.
            - A Metastore service instance is attached to the lake.
            - Attach/detach is in progress.
            - Attach/detach could not be done due to errors.
          description: Current state of association.
        endpoint:
          description: The URI of the endpoint used to access the Metastore service.
          type: string
        message:
          type: string
          description: Additional information about the current status.
    GoogleCloudDataplexV1SessionEventQueryDetail:
      description: Execution details of the query.
      type: object
      id: GoogleCloudDataplexV1SessionEventQueryDetail
      properties:
        engine:
          description: Query Execution engine.
          enumDescriptions:
            - An unspecified Engine type.
            - Spark-sql engine is specified in Query.
            - BigQuery engine is specified in Query.
          type: string
          enum:
            - ENGINE_UNSPECIFIED
            - SPARK_SQL
            - BIGQUERY
        duration:
          type: string
          description: Time taken for execution of the query.
          format: google-duration
        queryId:
          description: The unique Query id identifying the query.
          type: string
        dataProcessedBytes:
          type: string
          description: The data processed by the query.
          format: int64
        queryText:
          type: string
          description: The query text executed.
        resultSizeBytes:
          format: int64
          description: The size of results the query produced.
          type: string
    GoogleCloudDataplexV1DataQualityRule:
      id: GoogleCloudDataplexV1DataQualityRule
      properties:
        regexExpectation:
          description: >-
            Row-level rule which evaluates whether each column value matches a
            specified regex.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataQualityRuleRegexExpectation
        column:
          type: string
          description: Optional. The unnested column which this rule is evaluated against.
        nonNullExpectation:
          description: Row-level rule which evaluates whether each column value is null.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataQualityRuleNonNullExpectation
        threshold:
          type: number
          description: >-
            Optional. The minimum ratio of passing_rows / total_rows required to
            pass this rule, with a range of 0.0, 1.0.0 indicates default value
            (i.e. 1.0).This field is only valid for row-level type rules.
          format: double
        rowConditionExpectation:
          description: >-
            Row-level rule which evaluates whether each row in a table passes
            the specified condition.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation
        setExpectation:
          description: >-
            Row-level rule which evaluates whether each column value is
            contained by a specified set.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataQualityRuleSetExpectation
        uniquenessExpectation:
          description: Aggregate rule which evaluates whether the column has duplicates.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation
        tableConditionExpectation:
          description: >-
            Aggregate rule which evaluates whether the provided expression is
            true for a table.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation
        name:
          type: string
          description: >-
            Optional. A mutable name for the rule. The name must contain only
            letters (a-z, A-Z), numbers (0-9), or hyphens (-). The maximum
            length is 63 characters. Must start with a letter. Must end with a
            number or a letter.
        statisticRangeExpectation:
          description: >-
            Aggregate rule which evaluates whether the column aggregate
            statistic lies between a specified range.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation
        dimension:
          type: string
          description: >-
            Required. The dimension a rule belongs to. Results are also
            aggregated at the dimension level. Supported dimensions are
            "COMPLETENESS", "ACCURACY", "CONSISTENCY", "VALIDITY", "UNIQUENESS",
            "INTEGRITY"
        rangeExpectation:
          description: >-
            Row-level rule which evaluates whether each column value lies
            between a specified range.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1DataQualityRuleRangeExpectation
        description:
          description: >-
            Optional. Description of the rule. The maximum length is 1,024
            characters.
          type: string
        ignoreNull:
          description: >-
            Optional. Rows with null values will automatically fail a rule,
            unless ignore_null is true. In that case, such null rows are
            trivially considered passing.This field is only valid for row-level
            type rules.
          type: boolean
      description: A rule captures data quality intent about a data source.
      type: object
    GoogleCloudDataplexV1ZoneResourceSpec:
      id: GoogleCloudDataplexV1ZoneResourceSpec
      description: Settings for resources attached as assets within a zone.
      properties:
        locationType:
          enumDescriptions:
            - Unspecified location type.
            - Resources that are associated with a single region.
            - Resources that are associated with a multi-region location.
          type: string
          enum:
            - LOCATION_TYPE_UNSPECIFIED
            - SINGLE_REGION
            - MULTI_REGION
          description: >-
            Required. Immutable. The location type of the resources that are
            allowed to be attached to the assets within this zone.
      type: object
    GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions:
      type: object
      description: Describe CSV and similar semi-structured data formats.
      properties:
        headerRows:
          type: integer
          format: int32
          description: >-
            Optional. The number of rows to interpret as header rows that should
            be skipped when reading data rows.
        encoding:
          type: string
          description: Optional. The character encoding of the data. The default is UTF-8.
        disableTypeInference:
          description: >-
            Optional. Whether to disable the inference of data type for CSV
            data. If true, all columns will be registered as strings.
          type: boolean
        delimiter:
          description: >-
            Optional. The delimiter being used to separate values. This defaults
            to ','.
          type: string
      id: GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions
    GoogleCloudDataplexV1ZoneDiscoverySpec:
      id: GoogleCloudDataplexV1ZoneDiscoverySpec
      type: object
      description: Settings to manage the metadata discovery and publishing in a zone.
      properties:
        excludePatterns:
          items:
            type: string
          description: >-
            Optional. The list of patterns to apply for selecting data to
            exclude during discovery. For Cloud Storage bucket assets, these are
            interpreted as glob patterns used to match object names. For
            BigQuery dataset assets, these are interpreted as patterns to match
            table names.
          type: array
        jsonOptions:
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions
          description: Optional. Configuration for Json data.
        schedule:
          type: string
          description: >-
            Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for
            running discovery periodically. Successive discovery runs must be
            scheduled at least 60 minutes apart. The default value is to run
            discovery every 60 minutes. To explicitly set a timezone to the cron
            tab, apply a prefix in the cron tab: "CRON_TZ=${IANA_TIME_ZONE}" or
            TZ=${IANA_TIME_ZONE}". The ${IANA_TIME_ZONE} may only be a valid
            string from IANA time zone database. For example,
            CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * *
            *.
        enabled:
          type: boolean
          description: Required. Whether discovery is enabled.
        csvOptions:
          description: Optional. Configuration for CSV data.
          $ref: >-
            #/components/schemas/GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions
        includePatterns:
          items:
            type: string
          type: array
          description: >-
            Optional. The list of patterns to apply for selecting data to
            include during discovery if only a subset of the data should
            considered. For Cloud Storage bucket assets, these are interpreted
            as glob patterns used to match object names. For BigQuery dataset
            assets, these are interpreted as patterns to match table names.
    GoogleCloudDataplexV1StorageFormatCsvOptions:
      properties:
        headerRows:
          type: integer
          format: int32
          description: >-
            Optional. The number of rows to interpret as header rows that should
            be skipped when reading data rows. Defaults to 0.
        quote:
          type: string
          description: >-
            Optional. The character used to quote column values. Accepts '"'
            (double quotation mark) or ''' (single quotation mark). Defaults to
            '"' (double quotation mark) if unspecified.
        delimiter:
          description: Optional. The delimiter used to separate values. Defaults to ','.
          type: string
        encoding:
          type: string
          description: >-
            Optional. The character encoding of the data. Accepts "US-ASCII",
            "UTF-8", and "ISO-8859-1". Defaults to UTF-8 if unspecified.
      description: Describes CSV and similar semi-structured data formats.
      id: GoogleCloudDataplexV1StorageFormatCsvOptions
      type: object
    GoogleCloudDataplexV1Zone:
      id: GoogleCloudDataplexV1Zone
      description: >-
[...]
