openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Vault API
  description: >-
    Retention and eDiscovery for Google Workspace. To work with Vault resources,
    the account must have the [required Vault
    privileges](https://support.google.com/vault/answer/2799699) and access to
    the matter. To access a matter, the account must have created the matter,
    have the matter shared with them, or have the **View All Matters**
    privilege. For example, to download an export, an account needs the **Manage
    Exports** privilege and the matter shared with them. 
  version: v1
  x-discovery-doc-revision: '20230613'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/vault
servers:
  - url: https://vault.googleapis.com
components:
  schemas:
    ListHeldAccountsResponse:
      type: object
      description: Returns a list of the accounts covered by a hold.
      id: ListHeldAccountsResponse
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/HeldAccount'
          description: The held accounts on a hold.
    AddHeldAccountResult:
      description: >-
        The status of each account creation, and the **HeldAccount**, if
        successful.
      type: object
      properties:
        account:
          description: Returned when the account was successfully created.
          $ref: '#/components/schemas/HeldAccount'
        status:
          $ref: '#/components/schemas/Status'
          description: Reports the request status. If it failed, returns an error message.
      id: AddHeldAccountResult
    Empty:
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      type: object
      properties: {}
      id: Empty
    CorpusQuery:
      id: CorpusQuery
      properties:
        groupsQuery:
          $ref: '#/components/schemas/HeldGroupsQuery'
          description: >-
            Service-specific options for Groups holds. If set, **CorpusType**
            must be **GROUPS**.
        hangoutsChatQuery:
          description: >-
            Service-specific options for Chat holds. If set, **CorpusType** must
            be **HANGOUTS_CHAT**.
          $ref: '#/components/schemas/HeldHangoutsChatQuery'
        mailQuery:
          $ref: '#/components/schemas/HeldMailQuery'
          description: >-
            Service-specific options for Gmail holds. If set, **CorpusType**
            must be **MAIL**.
        voiceQuery:
          $ref: '#/components/schemas/HeldVoiceQuery'
          description: >-
            Service-specific options for Voice holds. If set, **CorpusType**
            must be **VOICE**.
        driveQuery:
          description: >-
            Service-specific options for Drive holds. If set, **CorpusType**
            must be **DRIVE**.
          $ref: '#/components/schemas/HeldDriveQuery'
      description: Service-specific options for holds.
      type: object
    SharedDriveInfo:
      type: object
      description: The shared drives to search
      id: SharedDriveInfo
      properties:
        sharedDriveIds:
          items:
            type: string
          type: array
          description: >-
            A list of shared drive IDs, as provided by the [Drive
            API](https://developers.google.com/drive).
    HeldAccount:
      type: object
      description: >-
        An account covered by a hold. This structure is immutable. It can be an
        individual account or a Google Group, depending on the service. To work
        with Vault resources, the account must have the [required Vault
        privileges] (https://support.google.com/vault/answer/2799699) and access
        to the matter. To access a matter, the account must have created the
        matter, have the matter shared with them, or have the **View All
        Matters** privilege.
      id: HeldAccount
      properties:
        lastName:
          type: string
          description: Output only. The last name of the account holder.
        email:
          description: >-
            The primary email address of the account. If used as an input, this
            takes precedence over **accountId**.
          type: string
        firstName:
          description: Output only. The first name of the account holder.
          type: string
        holdTime:
          format: google-datetime
          description: Output only. When the account was put on hold.
          type: string
        accountId:
          type: string
          description: >-
            The account ID, as provided by the [Admin
            SDK](https://developers.google.com/admin-sdk/).
    MatterPermission:
      description: >-
        Users can be matter owners or collaborators. Each matter has only one
        owner. All others users who can access the matter are collaborators.
        When an account is purged, its corresponding MatterPermission resources
        cease to exist.
      id: MatterPermission
      properties:
        role:
          type: string
          enumDescriptions:
            - No role assigned.
            - A collaborator on the matter.
            - The owner of the matter.
          enum:
            - ROLE_UNSPECIFIED
            - COLLABORATOR
            - OWNER
          description: The user's role for the matter.
        accountId:
          type: string
          description: >-
            The account ID, as provided by the [Admin
            SDK](https://developers.google.com/admin-sdk/).
      type: object
    HeldGroupsQuery:
      description: Query options for group holds.
      id: HeldGroupsQuery
      properties:
        terms:
          type: string
          description: >-
            The [search
            operators](https://support.google.com/vault/answer/2474474) used to
            refine the messages covered by the hold.
        startTime:
          description: >-
            The start time for the query. Specify in GMT. The value is rounded
            to 12 AM on the specified date.
          format: google-datetime
          type: string
        endTime:
          format: google-datetime
          description: >-
            The end time for the query. Specify in GMT. The value is rounded to
            12 AM on the specified date.
          type: string
      type: object
    HangoutsChatOptions:
      properties:
        includeRooms:
          description: >-
            For searches by account or organizational unit, set to **true** to
            include rooms.
          type: boolean
      id: HangoutsChatOptions
      description: Additional options for Google Chat search
      type: object
    UserInfo:
      description: User's information.
      id: UserInfo
      type: object
      properties:
        email:
          description: The email address of the user.
          type: string
        displayName:
          description: The displayed name of the user.
          type: string
    CountArtifactsRequest:
      id: CountArtifactsRequest
      description: Count artifacts request.
      type: object
      properties:
        query:
          description: The search query.
          $ref: '#/components/schemas/Query'
        view:
          description: Sets the granularity of the count results.
          enum:
            - COUNT_RESULT_VIEW_UNSPECIFIED
            - TOTAL_COUNT
            - ALL
          enumDescriptions:
            - Default. Same as **TOTAL_COUNT**.
            - >-
              Response includes counts of the total accounts, queried accounts,
              matching accounts, non-queryable accounts, and queried account
              errors.
            - >-
              Response includes the same details as **TOTAL_COUNT**, plus
              additional account breakdown.
          type: string
    ExportOptions:
      properties:
        driveOptions:
          $ref: '#/components/schemas/DriveExportOptions'
          description: Options for Drive exports.
        region:
          description: The requested data region for the export.
          enum:
            - EXPORT_REGION_UNSPECIFIED
            - ANY
            - US
            - EUROPE
          type: string
          enumDescriptions:
            - The region is unspecified. Defaults to ANY.
            - Any region.
            - United States region.
            - Europe region.
        mailOptions:
          description: Options for Gmail exports.
          $ref: '#/components/schemas/MailExportOptions'
        hangoutsChatOptions:
          description: Options for Chat exports.
          $ref: '#/components/schemas/HangoutsChatExportOptions'
        voiceOptions:
          $ref: '#/components/schemas/VoiceExportOptions'
          description: Options for Voice exports.
        groupsOptions:
          $ref: '#/components/schemas/GroupsExportOptions'
          description: Options for Groups exports.
      description: Additional options for exports
      id: ExportOptions
      type: object
    MailCountResult:
      id: MailCountResult
      properties:
        accountCountErrors:
          items:
            $ref: '#/components/schemas/AccountCountError'
          description: Errors occurred when querying these accounts.
          type: array
        accountCounts:
          items:
            $ref: '#/components/schemas/AccountCount'
          description: >-
            Subtotal count per matching account that have more than zero
            messages.
          type: array
        matchingAccountsCount:
          format: int64
          type: string
          description: >-
            Total number of accounts that can be queried and have more than zero
            messages.
        nonQueryableAccounts:
          type: array
          description: >-
            When **DataScope** is **HELD_DATA** and when account emails are
            passed in explicitly, the list of accounts in the request that are
            not queried because they are not on hold in the matter. For other
            data scopes, this field is not set.
          items:
            type: string
        queriedAccountsCount:
          type: string
          format: int64
          description: Total number of accounts involved in this count operation.
      description: Gmail and classic Hangouts-specific count metrics.
      type: object
    RemoveHeldAccountsRequest:
      id: RemoveHeldAccountsRequest
      description: Remove a list of accounts from a hold.
      type: object
      properties:
        accountIds:
          items:
            type: string
          type: array
          description: The account IDs of the accounts to remove from the hold.
    HangoutsChatInfo:
      type: object
      properties:
        roomId:
          items:
            type: string
          description: >-
            A list of Chat spaces IDs, as provided by the [Chat
            API](https://developers.google.com/chat). There is a limit of
            exporting from 500 Chat spaces per request.
          type: array
      description: The Chat spaces to search
      id: HangoutsChatInfo
    ReopenMatterResponse:
      id: ReopenMatterResponse
      description: Response to a ReopenMatterRequest.
      properties:
        matter:
          $ref: '#/components/schemas/Matter'
          description: The updated matter, with state **OPEN**.
      type: object
    SavedQuery:
      description: >-
        The definition of a saved query. To work with Vault resources, the
        account must have the [required Vault
        privileges](https://support.google.com/vault/answer/2799699) and access
        to the matter. To access a matter, the account must have created the
        matter, have the matter shared with them, or have the **View All
        Matters** privilege.
      properties:
        displayName:
          description: The name of the saved query.
          type: string
        savedQueryId:
          type: string
          description: A unique identifier for the saved query.
        matterId:
          type: string
          description: >-
            Output only. The matter ID of the matter the saved query is saved
            in. The server does not use this field during create and always uses
            matter ID in the URL.
        createTime:
          description: >-
            Output only. The server-generated timestamp when the saved query was
            created.
          type: string
          format: google-datetime
        query:
          $ref: '#/components/schemas/Query'
          description: The search parameters of the saved query.
      type: object
      id: SavedQuery
    Operation:
      type: object
      id: Operation
      properties:
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          type: object
          description: >-
            The normal response of the operation in case of success. If the
            original method returns no data on success, such as `Delete`, the
            response is `google.protobuf.Empty`. If the original method is
            standard `Get`/`Create`/`Update`, the response should be the
            resource. For other methods, the response should have the type
            `XxxResponse`, where `Xxx` is the original method name. For example,
            if the original method name is `TakeSnapshot()`, the inferred
            response type is `TakeSnapshotResponse`.
        metadata:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          description: >-
            Service-specific metadata associated with the operation. It
            typically contains progress information and common metadata such as
            create time. Some services might not provide such metadata. Any
            method that returns a long-running operation should document the
            metadata type, if any.
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            The error result of the operation in case of failure or
            cancellation.
        done:
          description: >-
            If the value is `false`, it means the operation is still in
            progress. If `true`, the operation is completed, and either `error`
            or `response` is available.
          type: boolean
        name:
          description: >-
            The server-assigned name, which is only unique within the same
            service that originally returns it. If you use the default HTTP
            mapping, the `name` should be a resource name ending with
            `operations/{unique_id}`.
          type: string
      description: >-
        This resource represents a long-running operation that is the result of
        a network API call.
    SitesUrlInfo:
      description: The published site URLs of new Google Sites to search
      properties:
        urls:
          description: A list of published site URLs.
          type: array
          items:
            type: string
      id: SitesUrlInfo
      type: object
    DriveOptions:
      type: object
      description: Additional options for Drive search
      properties:
        includeSharedDrives:
          description: Set to **true** to include shared drives.
          type: boolean
        clientSideEncryptedOption:
          enumDescriptions:
            - >-
              Encryption status unspecified. Results include both client-side
              encrypted and non-encrypted content.
            - >-
              Include both client-side encrypted and unencrypted content in
              results.
            - Include client-side encrypted content only.
            - Include unencrypted content only.
          type: string
          enum:
            - CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED
            - CLIENT_SIDE_ENCRYPTED_OPTION_ANY
            - CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED
            - CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED
          description: >-
            Set whether the results include only content encrypted with [Google
            Workspace Client-side
            encryption](https://support.google.com/a?p=cse_ov) content, only
            unencrypted content, or both. Defaults to both. Currently supported
            for Drive.
        versionDate:
          type: string
          format: google-datetime
          description: >-
            Search the current version of the Drive file, but export the
            contents of the last version saved before 12:00 AM UTC on the
            specified date. Enter the date in UTC.
        includeTeamDrives:
          type: boolean
          description: Set to true to include Team Drive.
      id: DriveOptions
    OrgUnitInfo:
      type: object
      id: OrgUnitInfo
      description: The organizational unit to search
      properties:
        orgUnitId:
          type: string
          description: >-
            The name of the organizational unit to search, as provided by the
            [Admin SDK Directory
            API](https://developers.google.com/admin-sdk/directory/).
    ListOperationsResponse:
      id: ListOperationsResponse
      properties:
        nextPageToken:
          type: string
          description: The standard List next-page token.
        operations:
          description: >-
            A list of operations that matches the specified filter in the
            request.
          type: array
          items:
            $ref: '#/components/schemas/Operation'
      type: object
      description: The response message for Operations.ListOperations.
    VoiceExportOptions:
      properties:
        exportFormat:
          enumDescriptions:
            - No export format specified.
            - >-
              Export as MBOX. Only available for Gmail, Groups, Hangouts and
              Voice.
            - >-
              Export as PST. Only available for Gmail, Groups, Hangouts, Voice
              and Calendar.
          description: The file format for exported text messages.
          enum:
            - EXPORT_FORMAT_UNSPECIFIED
            - MBOX
            - PST
          type: string
      description: The options for Voice exports.
      id: VoiceExportOptions
      type: object
    VoiceOptions:
      description: Additional options for Voice search
      type: object
      properties:
        coveredData:
          type: array
          description: Datatypes to search
          items:
            enum:
              - COVERED_DATA_UNSPECIFIED
              - TEXT_MESSAGES
              - VOICEMAILS
              - CALL_LOGS
            enumDescriptions:
              - Covered data unspecified.
              - Voice text messages.
              - Voicemails and their transcripts.
              - Call logs.
            type: string
      id: VoiceOptions
    AddHeldAccountsRequest:
      id: AddHeldAccountsRequest
      type: object
      description: Add a list of accounts to a hold.
      properties:
        emails:
          type: array
          items:
            type: string
          description: >-
            A comma-separated list of the emails of the accounts to add to the
            hold. Specify either **emails** or **account_ids**, but not both.
        accountIds:
          items:
            type: string
          type: array
          description: >-
            A comma-separated list of the account IDs of the accounts to add to
            the hold. Specify either **emails** or **account_ids**, but not
            both.
    HeldHangoutsChatQuery:
      id: HeldHangoutsChatQuery
      description: Options for Chat holds.
      type: object
      properties:
        includeRooms:
          description: >-
            To include messages in Chat spaces the user was a member of, set to
            **true**.
          type: boolean
    AccountCount:
      properties:
        count:
          type: string
          format: int64
          description: The number of results (messages or files) found for this account.
        account:
          description: Account owner.
          $ref: '#/components/schemas/UserInfo'
      type: object
      description: The results count for each account.
      id: AccountCount
    HeldMailQuery:
      type: object
      description: Query options for Gmail holds.
      properties:
        terms:
          type: string
          description: >-
            The [search
            operators](https://support.google.com/vault/answer/2474474) used to
            refine the messages covered by the hold.
        endTime:
          description: >-
            The end time for the query. Specify in GMT. The value is rounded to
            12 AM on the specified date.
          type: string
          format: google-datetime
        startTime:
          format: google-datetime
          description: >-
            The start time for the query. Specify in GMT. The value is rounded
            to 12 AM on the specified date.
          type: string
      id: HeldMailQuery
    Export:
      id: Export
      type: object
      description: >-
        An export. To work with Vault resources, the account must have the
        [required Vault
        privileges](https://support.google.com/vault/answer/2799699) and access
        to the matter. To access a matter, the account must have created the
        matter, have the matter shared with them, or have the **View All
        Matters** privilege.
      properties:
        id:
          description: Output only. The generated export ID.
          type: string
        name:
          type: string
          description: >-
            The export name. Don't use special characters (~!$'(),;@:/?) in the
            name, they can prevent you from downloading exports.
        cloudStorageSink:
          description: Output only. The sink for export files in Cloud Storage.
          $ref: '#/components/schemas/CloudStorageSink'
        query:
          $ref: '#/components/schemas/Query'
          description: The query parameters used to create the export.
        requester:
          $ref: '#/components/schemas/UserInfo'
          description: Output only. The requester of the export.
        exportOptions:
          $ref: '#/components/schemas/ExportOptions'
          description: Additional export options.
        createTime:
          description: Output only. The time when the export was created.
          type: string
          format: google-datetime
        status:
          description: Output only. The status of the export.
          type: string
          enumDescriptions:
            - The status is unspecified.
            - The export completed.
            - The export failed.
            - The export is in progress.
          enum:
            - EXPORT_STATUS_UNSPECIFIED
            - COMPLETED
            - FAILED
            - IN_PROGRESS
        stats:
          $ref: '#/components/schemas/ExportStats'
          description: Output only. Details about the export progress and size.
        matterId:
          description: Output only. The matter ID.
          type: string
    TeamDriveInfo:
      description: Team Drives to search
      id: TeamDriveInfo
      type: object
      properties:
        teamDriveIds:
          items:
            type: string
          description: >-
            List of Team Drive IDs, as provided by the [Drive
            API](https://developers.google.com/drive).
          type: array
    GroupsCountResult:
      description: Groups specific count metrics.
      type: object
      id: GroupsCountResult
      properties:
        accountCounts:
          description: >-
            Subtotal count per matching account that have more than zero
            messages.
          items:
            $ref: '#/components/schemas/AccountCount'
          type: array
        queriedAccountsCount:
          format: int64
          type: string
          description: Total number of accounts involved in this count operation.
        nonQueryableAccounts:
          type: array
          items:
            type: string
          description: >-
            When **DataScope** is **HELD_DATA**, these accounts in the request
            are not queried because they are not on hold. For other data scope,
            this field is not set.
        accountCountErrors:
          description: Error occurred when querying these accounts.
          type: array
          items:
            $ref: '#/components/schemas/AccountCountError'
        matchingAccountsCount:
          type: string
          format: int64
          description: >-
            Total number of accounts that can be queried and have more than zero
            messages.
    RemoveHeldAccountsResponse:
      id: RemoveHeldAccountsResponse
      description: Response for batch delete held accounts.
      type: object
      properties:
        statuses:
          type: array
          description: >-
            A list of statuses for the deleted accounts. Results have the same
            order as the request.
          items:
            $ref: '#/components/schemas/Status'
    HangoutsChatExportOptions:
      type: object
      properties:
        exportFormat:
          description: The file format for exported messages.
          enum:
            - EXPORT_FORMAT_UNSPECIFIED
            - MBOX
            - PST
          enumDescriptions:
            - No export format specified.
            - >-
              Export as MBOX. Only available for Gmail, Groups, Hangouts and
              Voice.
            - >-
              Export as PST. Only available for Gmail, Groups, Hangouts, Voice
              and Calendar.
          type: string
      id: HangoutsChatExportOptions
      description: Options for Chat exports.
    ReopenMatterRequest:
      description: Reopen a matter by ID.
      type: object
      id: ReopenMatterRequest
      properties: {}
    ExportStats:
      type: object
      description: Progress information for an export.
      properties:
        totalArtifactCount:
          type: string
          format: int64
          description: The number of messages or files to be exported.
        exportedArtifactCount:
          type: string
          description: The number of messages or files already processed for export.
          format: int64
        sizeInBytes:
          format: int64
          description: The size of export in bytes.
          type: string
      id: ExportStats
    HeldOrgUnit:
      properties:
        holdTime:
          description: >-
            When the organizational unit was put on hold. This property is
            immutable.
          type: string
          format: google-datetime
        orgUnitId:
          description: >-
            The organizational unit's immutable ID as provided by the [Admin
            SDK](https://developers.google.com/admin-sdk/).
          type: string
      type: object
      id: HeldOrgUnit
      description: The organizational unit covered by a hold. This structure is immutable.
    ListSavedQueriesResponse:
      type: object
      id: ListSavedQueriesResponse
      properties:
        savedQueries:
          items:
            $ref: '#/components/schemas/SavedQuery'
          description: List of saved queries.
          type: array
        nextPageToken:
          type: string
          description: >-
            Page token to retrieve the next page of results in the list. If this
            is empty, then there are no more saved queries to list.
      description: Definition of the response for method ListSaveQuery.
    ListHoldsResponse:
      description: The holds for a matter.
      type: object
      id: ListHoldsResponse
      properties:
        holds:
          items:
            $ref: '#/components/schemas/Hold'
          description: The list of holds.
          type: array
        nextPageToken:
          type: string
          description: >-
            Page token to retrieve the next page of results in the list. If this
            is empty, then there are no more holds to list.
    ListMattersResponse:
      description: Provides the list of matters.
      id: ListMattersResponse
      type: object
      properties:
        matters:
          description: List of matters.
          type: array
          items:
            $ref: '#/components/schemas/Matter'
        nextPageToken:
          type: string
          description: Page token to retrieve the next page of results in the list.
    CloseMatterRequest:
      description: Close a matter by ID.
      id: CloseMatterRequest
      properties: {}
      type: object
    CountArtifactsResponse:
      type: object
      id: CountArtifactsResponse
      properties:
        mailCountResult:
          description: Count metrics for Gmail and classic Hangouts.
          $ref: '#/components/schemas/MailCountResult'
        groupsCountResult:
          description: Count metrics for Groups.
          $ref: '#/components/schemas/GroupsCountResult'
        totalCount:
          format: int64
          description: Total count of messages.
          type: string
      description: Definition of the response for method CountArtifacts.
    AccountCountError:
      id: AccountCountError
      description: An error that occurred when querying a specific account
      properties:
        account:
          description: Account owner.
          $ref: '#/components/schemas/UserInfo'
        errorType:
          enumDescriptions:
            - Default.
            - Permanent - prefix terms expanded to too many query terms.
            - Permanent - query contains too many terms.
            - >-
              Transient - data in transit between storage replicas, temporarily
              unavailable.
            - Unrecognized error.
            - Deadline exceeded when querying the account.
          enum:
            - ERROR_TYPE_UNSPECIFIED
            - WILDCARD_TOO_BROAD
            - TOO_MANY_TERMS
            - LOCATION_UNAVAILABLE
            - UNKNOWN
            - DEADLINE_EXCEEDED
          type: string
          description: Account query error.
      type: object
    HeldDriveQuery:
      type: object
      properties:
        includeTeamDriveFiles:
          description: To include files in Team Drives in the hold, set to **true**.
          type: boolean
        includeSharedDriveFiles:
          type: boolean
          description: To include files in shared drives in the hold, set to **true**.
      description: Options for Drive holds.
      id: HeldDriveQuery
    DriveExportOptions:
      id: DriveExportOptions
      description: Options for Drive exports.
      type: object
      properties:
        includeAccessInfo:
          type: boolean
          description: >-
            To include access level information for users with [indirect
            access](https://support.google.com/vault/answer/6099459#metadata) to
            files, set to **true**.
    Query:
      type: object
      properties:
        method:
          description: >-
            The entity to search. This field replaces **searchMethod** to
            support shared drives. When **searchMethod** is **TEAM_DRIVE**, the
            response of this field is **SHARED_DRIVE**.
          type: string
          enumDescriptions:
            - A search method must be specified or else it is rejected.
            - >-
              Search the data of the accounts specified in
              [AccountInfo](https://developers.google.com/vault/reference/rest/v1/Query#accountinfo).
            - >-
              Search the data of all accounts in the organizational unit
              specified in
              [OrgUnitInfo](https://developers.google.com/vault/reference/rest/v1/Query#orgunitinfo).
            - >-
              Search the data in the Team Drive specified in
              **team_drive_info**.
            - >-
              Search the data of all accounts in the organization. Supported
              only for Gmail. When specified, you don't need to specify
              **AccountInfo** or **OrgUnitInfo**.
            - >-
              Search messages in the Chat spaces specified in
              [HangoutsChatInfo](https://developers.google.com/vault/reference/rest/v1/Query#hangoutschatinfo).
            - >-
              Search for sites by the published site URLs specified in
              [SitesUrlInfo](https://developers.google.com/vault/reference/rest/v1/Query#sitesurlinfo).
            - >-
              Search the files in the shared drives specified in
              [SharedDriveInfo](https://developers.google.com/vault/reference/rest/v1/Query#shareddriveinfo).
          enum:
            - SEARCH_METHOD_UNSPECIFIED
            - ACCOUNT
            - ORG_UNIT
            - TEAM_DRIVE
            - ENTIRE_ORG
            - ROOM
            - SITES_URL
            - SHARED_DRIVE
        terms:
          type: string
          description: >-
            Service-specific [search
            operators](https://support.google.com/vault/answer/2474474) to
            filter search results.
        hangoutsChatInfo:
          $ref: '#/components/schemas/HangoutsChatInfo'
          description: Required when **SearchMethod** is **ROOM**. (read-only)
        mailOptions:
          $ref: '#/components/schemas/MailOptions'
          description: Set Gmail search-specific options.
        dataScope:
          description: The data source to search.
          enum:
            - DATA_SCOPE_UNSPECIFIED
            - ALL_DATA
            - HELD_DATA
            - UNPROCESSED_DATA
          enumDescriptions:
            - No data source specified.
            - All available data.
            - Only data on hold.
            - Only data not yet processed by Vault. (Gmail and Groups only)
          type: string
        corpus:
          type: string
          enum:
            - CORPUS_TYPE_UNSPECIFIED
            - DRIVE
            - MAIL
            - GROUPS
            - HANGOUTS_CHAT
            - VOICE
          enumDescriptions:
            - No service specified.
            - Drive, including Meet and Sites.
            - For search, Gmail and classic Hangouts. For holds, Gmail only.
            - Groups.
            - >-
              For export, Google Chat only. For holds, Google Chat and classic
              Hangouts.
            - Google Voice.
          description: The Google Workspace service to search.
        endTime:
          format: google-datetime
          description: >-
            The end time for the search query. Specify in GMT. The value is
            rounded to 12 AM on the specified date.
          type: string
        timeZone:
          type: string
          description: >-
            The time zone name. It should be an IANA TZ name, such as
            "America/Los_Angeles". For a list of time zone names, see [Time
            Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).
            For more information about how Vault uses time zones, see [the Vault
            help center](https://support.google.com/vault/answer/6092995#time).
        driveOptions:
          description: Set Drive search-specific options.
          $ref: '#/components/schemas/DriveOptions'
        teamDriveInfo:
          $ref: '#/components/schemas/TeamDriveInfo'
          description: Required when **SearchMethod** is **TEAM_DRIVE**.
        searchMethod:
          enumDescriptions:
            - A search method must be specified or else it is rejected.
            - >-
              Search the data of the accounts specified in
              [AccountInfo](https://developers.google.com/vault/reference/rest/v1/Query#accountinfo).
            - >-
              Search the data of all accounts in the organizational unit
              specified in
              [OrgUnitInfo](https://developers.google.com/vault/reference/rest/v1/Query#orgunitinfo).
            - >-
              Search the data in the Team Drive specified in
              **team_drive_info**.
            - >-
              Search the data of all accounts in the organization. Supported
              only for Gmail. When specified, you don't need to specify
              **AccountInfo** or **OrgUnitInfo**.
            - >-
              Search messages in the Chat spaces specified in
              [HangoutsChatInfo](https://developers.google.com/vault/reference/rest/v1/Query#hangoutschatinfo).
            - >-
              Search for sites by the published site URLs specified in
              [SitesUrlInfo](https://developers.google.com/vault/reference/rest/v1/Query#sitesurlinfo).
            - >-
              Search the files in the shared drives specified in
              [SharedDriveInfo](https://developers.google.com/vault/reference/rest/v1/Query#shareddriveinfo).
          enum:
            - SEARCH_METHOD_UNSPECIFIED
            - ACCOUNT
            - ORG_UNIT
            - TEAM_DRIVE
            - ENTIRE_ORG
            - ROOM
            - SITES_URL
            - SHARED_DRIVE
          description: The search method to use.
          type: string
        sitesUrlInfo:
          $ref: '#/components/schemas/SitesUrlInfo'
          description: Required when **SearchMethod** is **SITES_URL**.
        startTime:
          format: google-datetime
          description: >-
            The start time for the search query. Specify in GMT. The value is
            rounded to 12 AM on the specified date.
          type: string
        sharedDriveInfo:
          description: Required when **SearchMethod** is **SHARED_DRIVE**.
          $ref: '#/components/schemas/SharedDriveInfo'
        hangoutsChatOptions:
          $ref: '#/components/schemas/HangoutsChatOptions'
          description: Set Chat search-specific options. (read-only)
        accountInfo:
          $ref: '#/components/schemas/AccountInfo'
          description: Required when **SearchMethod** is **ACCOUNT**.
        voiceOptions:
          description: Set Voice search-specific options.
          $ref: '#/components/schemas/VoiceOptions'
        orgUnitInfo:
          description: Required when **SearchMethod** is **ORG_UNIT**.
          $ref: '#/components/schemas/OrgUnitInfo'
      id: Query
      description: The query definition used for search and export.
    MailOptions:
      id: MailOptions
      description: Additional options for Gmail search
      properties:
        excludeDrafts:
          description: Set to **true** to exclude drafts.
          type: boolean
        clientSideEncryptedOption:
          enum:
            - CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED
            - CLIENT_SIDE_ENCRYPTED_OPTION_ANY
            - CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED
            - CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED
          type: string
          enumDescriptions:
            - >-
              Encryption status unspecified. Results include both client-side
              encrypted and non-encrypted content.
            - >-
              Include both client-side encrypted and unencrypted content in
              results.
            - Include client-side encrypted content only.
            - Include unencrypted content only.
          description: >-
            Specifies whether the results should include encrypted content,
            unencrypted content, or both. Defaults to including both.
      type: object
    CountArtifactsMetadata:
      description: Long running operation metadata for CountArtifacts.
      properties:
        matterId:
          description: The matter ID of the associated matter.
          type: string
        query:
          $ref: '#/components/schemas/Query'
          description: The search query from the request.
        startTime:
          format: google-datetime
          type: string
          description: Creation time of count operation.
        endTime:
          type: string
          description: End time of count operation. Available when operation is done.
          format: google-datetime
      type: object
      id: CountArtifactsMetadata
    CloudStorageFile:
      type: object
      properties:
        size:
          format: int64
          description: The export file size.
          type: string
        objectName:
          type: string
          description: >-
            The name of the Cloud Storage object for the export file. You can
            use this value in the [Cloud Storage JSON or XML
            APIs](https://cloud.google.com/storage/docs/apis).
        bucketName:
          description: >-
            The name of the Cloud Storage bucket for the export file. You can
            use this value in the [Cloud Storage JSON or XML
            APIs](https://cloud.google.com/storage/docs/apis), but not to list
            the bucket contents. Instead, you can [get individual export
            files](https://cloud.google.com/storage/docs/json_api/v1/objects/get)
            by object name.
          type: string
        md5Hash:
          type: string
          description: The md5 hash of the file.
      id: CloudStorageFile
      description: The export file in Cloud Storage
    Status:
      type: object
      id: Status
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
      properties:
        details:
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
            type: object
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
          type: array
        message:
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          format: int32
          description: The status code, which should be an enum value of google.rpc.Code.
          type: integer
    Matter:
      properties:
        description:
          description: An optional description for the matter.
          type: string
        matterId:
          description: >-
            The matter ID, which is generated by the server. Leave blank when
            creating a matter.
          type: string
        state:
          enumDescriptions:
            - The matter has no specified state.
            - The matter is open.
            - The matter is closed.
            - The matter is deleted.
          description: The state of the matter.
          enum:
            - STATE_UNSPECIFIED
            - OPEN
            - CLOSED
            - DELETED
          type: string
        name:
          type: string
          description: The name of the matter.
        matterPermissions:
          description: >-
            Lists the users and their permission for the matter. Currently there
            is no programmer defined limit on the number of permissions a matter
            can have.
          items:
            $ref: '#/components/schemas/MatterPermission'
          type: array
      id: Matter
      type: object
      description: >-
        Represents a matter. To work with Vault resources, the account must have
        the [required Vault privileges]
        (https://support.google.com/vault/answer/2799699) and access to the
        matter. To access a matter, the account must have created the matter,
        have the matter shared with them, or have the **View All Matters**
        privilege.
    ListExportsResponse:
      id: ListExportsResponse
      type: object
      description: The exports for a matter.
      properties:
        nextPageToken:
          type: string
          description: Page token to retrieve the next page of results in the list.
        exports:
          items:
            $ref: '#/components/schemas/Export'
          description: The list of exports.
          type: array
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
      id: CancelOperationRequest
    GroupsExportOptions:
      description: Options for Groups exports.
      properties:
        exportFormat:
          description: The file format for exported messages.
          type: string
          enumDescriptions:
            - No export format specified.
            - >-
              Export as MBOX. Only available for Gmail, Groups, Hangouts and
              Voice.
            - >-
              Export as PST. Only available for Gmail, Groups, Hangouts, Voice
              and Calendar.
          enum:
            - EXPORT_FORMAT_UNSPECIFIED
            - MBOX
            - PST
      type: object
      id: GroupsExportOptions
    AddMatterPermissionsRequest:
      description: >-
        Add an account with the permission specified. The role cannot be owner.
        If an account already has a role in the matter, the existing role is
        overwritten.
      id: AddMatterPermissionsRequest
      properties:
        ccMe:
          type: boolean
          description: >-
            Only relevant if **sendEmails** is **true**. To CC the requestor in
            the email message, set to **true**. To not CC requestor, set to
            **false**.
        matterPermission:
          $ref: '#/components/schemas/MatterPermission'
          description: The account and its role to add.
        sendEmails:
          type: boolean
          description: >-
            To send a notification email to the added account, set to **true**.
            To not send a notification email, set to **false**.
      type: object
    HeldVoiceQuery:
      type: object
      properties:
        coveredData:
          type: array
          description: >-
            A list of data types covered by the hold. Should be non-empty. Order
            does not matter and duplicates are ignored.
          items:
            type: string
            enum:
              - COVERED_DATA_UNSPECIFIED
              - TEXT_MESSAGES
              - VOICEMAILS
              - CALL_LOGS
            enumDescriptions:
              - Covered data unspecified.
              - Voice text messages.
              - Voicemails and their transcripts.
              - Call logs.
      description: Options for Voice holds.
      id: HeldVoiceQuery
    MailExportOptions:
      description: Options for Gmail exports.
      properties:
        showConfidentialModeContent:
          type: boolean
          description: To export confidential mode content, set to **true**.
        useNewExport:
          type: boolean
          description: To use the new export system, set to **true**.
        exportFormat:
          description: The file format for exported messages.
          type: string
          enum:
            - EXPORT_FORMAT_UNSPECIFIED
            - MBOX
            - PST
          enumDescriptions:
            - No export format specified.
            - >-
              Export as MBOX. Only available for Gmail, Groups, Hangouts and
              Voice.
            - >-
              Export as PST. Only available for Gmail, Groups, Hangouts, Voice
              and Calendar.
      type: object
      id: MailExportOptions
    Hold:
      type: object
      description: >-
        A hold. A hold prevents the specified Google Workspace service from
        purging data for specific accounts or all members of an organizational
        unit. To work with Vault resources, the account must have the [required
        Vault privileges] (https://support.google.com/vault/answer/2799699) and
        access to the matter. To access a matter, the account must have created
        the matter, have the matter shared with them, or have the **View All
        Matters** privilege.
      properties:
        updateTime:
          format: google-datetime
          description: The last time this hold was modified.
          type: string
        name:
          type: string
          description: The name of the hold.
        orgUnit:
          $ref: '#/components/schemas/HeldOrgUnit'
          description: >-
            If set, the hold applies to all members of the organizational unit
            and **accounts** must be empty. This property is mutable. For Groups
            holds, set **accounts**.
        corpus:
          enum:
            - CORPUS_TYPE_UNSPECIFIED
            - DRIVE
            - MAIL
            - GROUPS
            - HANGOUTS_CHAT
            - VOICE
          description: The service to be searched.
          type: string
          enumDescriptions:
            - No service specified.
            - Drive, including Meet and Sites.
            - For search, Gmail and classic Hangouts. For holds, Gmail only.
            - Groups.
            - >-
              For export, Google Chat only. For holds, Google Chat and classic
              Hangouts.
            - Google Voice.
        holdId:
          type: string
          description: The unique immutable ID of the hold. Assigned during creation.
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/HeldAccount'
          description: >-
            If set, the hold applies to the specified accounts and **orgUnit**
            must be empty.
        query:
          $ref: '#/components/schemas/CorpusQuery'
          description: >-
            Service-specific options. If set, **CorpusQuery** must match
            **CorpusType**.
      id: Hold
    UndeleteMatterRequest:
      type: object
      properties: {}
      id: UndeleteMatterRequest
      description: Undelete a matter by ID.
    CloudStorageSink:
      type: object
      description: Export sink for Cloud Storage files.
      properties:
        files:
          items:
            $ref: '#/components/schemas/CloudStorageFile'
          description: Output only. The exported files in Cloud Storage.
          type: array
      id: CloudStorageSink
    AccountInfo:
      id: AccountInfo
      type: object
      properties:
        emails:
          items:
            type: string
          type: array
          description: A set of accounts to search.
      description: The accounts to search
    RemoveMatterPermissionsRequest:
      description: Remove an account as a matter collaborator.
      id: RemoveMatterPermissionsRequest
      type: object
      properties:
        accountId:
          type: string
          description: The account ID.
    AddHeldAccountsResponse:
      description: Response for batch create held accounts.
      type: object
      properties:
        responses:
          description: The list of responses, in the same order as the batch request.
          type: array
          items:
            $ref: '#/components/schemas/AddHeldAccountResult'
      id: AddHeldAccountsResponse
    CloseMatterResponse:
      type: object
      properties:
        matter:
          $ref: '#/components/schemas/Matter'
          description: The updated matter, with state **CLOSED**.
      description: Response to a CloseMatterRequest.
      id: CloseMatterResponse
  parameters:
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/ediscovery: Manage your eDiscovery data
            https://www.googleapis.com/auth/ediscovery.readonly: View your eDiscovery data
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/operations/{operationsId}:
    parameters: &ref_1
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/quotaUser'
    get:
      description: >-
        Gets the latest state of a long-running operation. Clients can use this
        method to poll the operation result at intervals as recommended by the
        API service.
      operationId: vault.operations.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: operationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: operations
      x-stackQL-verb: select
    delete:
      description: >-
        Deletes a long-running operation. This method indicates that the client
        is no longer interested in the operation result. It does not cancel the
        operation. If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`.
      operationId: vault.operations.delete
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: operationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: operations
      x-stackQL-verb: delete
  /v1/operations/{operationsId}:cancel:
    parameters: *ref_1
    post:
      description: >-
        Starts asynchronous cancellation on a long-running operation. The server
        makes a best effort to cancel the operation, but success is not
        guaranteed. If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation
        or other methods to check whether the cancellation succeeded or whether
        the operation completed despite cancellation. On successful
        cancellation, the operation is not deleted; instead, it becomes an
        operation with an Operation.error value with a google.rpc.Status.code of
        1, corresponding to `Code.CANCELLED`.
      operationId: vault.operations.cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOperationRequest'
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: operationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: operations
      x-stackQL-verb: exec
  /v1/operations:
    parameters: *ref_1
    get:
      description: >-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: vault.operations.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
      parameters:
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: operations
      x-stackQL-verb: select
  /v1/matters:
    parameters: *ref_1
    get:
      description: Lists matters the requestor has access to.
      operationId: vault.matters.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMattersResponse'
      parameters:
        - in: query
          name: state
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: matters
      x-stackQL-verb: select
    post:
      description: >-
        Creates a matter with the given name and description. The initial state
        is open, and the owner is the method caller. Returns the created matter
        with default view.
      operationId: vault.matters.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Matter'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Matter'
      parameters: []
      x-stackQL-resource: matters
      x-stackQL-verb: insert
  /v1/matters/{matterId}:count:
    parameters: *ref_1
    post:
      description: Counts the accounts processed by the specified query.
      operationId: vault.matters.count
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountArtifactsRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: matters
      x-stackQL-verb: exec
  /v1/matters/{matterId}:close:
    parameters: *ref_1
    post:
      description: Closes the specified matter. Returns the matter with updated state.
      operationId: vault.matters.close
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseMatterRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseMatterResponse'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: matters
      x-stackQL-verb: exec
  /v1/matters/{matterId}:
    parameters: *ref_1
    put:
      description: >-
        Updates the specified matter. This updates only the name and description
        of the matter, identified by matter ID. Changes to any other fields are
        ignored. Returns the default view of the matter.
      operationId: vault.matters.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Matter'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Matter'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: matters
      x-stackQL-verb: exec
    get:
      description: Gets the specified matter.
      operationId: vault.matters.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Matter'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
      x-stackQL-resource: matters
      x-stackQL-verb: select
    delete:
      description: Deletes the specified matter. Returns the matter with updated state.
      operationId: vault.matters.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Matter'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: matters
      x-stackQL-verb: delete
  /v1/matters/{matterId}:undelete:
    parameters: *ref_1
    post:
      description: Undeletes the specified matter. Returns the matter with updated state.
      operationId: vault.matters.undelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UndeleteMatterRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Matter'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: matters
      x-stackQL-verb: exec
  /v1/matters/{matterId}:removePermissions:
    parameters: *ref_1
    post:
      description: Removes an account as a matter collaborator.
      operationId: vault.matters.removePermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveMatterPermissionsRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: matters__permissions
      x-stackQL-verb: delete
  /v1/matters/{matterId}:addPermissions:
    parameters: *ref_1
    post:
      description: Adds an account as a matter collaborator.
      operationId: vault.matters.addPermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMatterPermissionsRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatterPermission'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: matters__permissions
      x-stackQL-verb: insert
  /v1/matters/{matterId}:reopen:
    parameters: *ref_1
    post:
      description: Reopens the specified matter. Returns the matter with updated state.
      operationId: vault.matters.reopen
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReopenMatterRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReopenMatterResponse'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: matters
      x-stackQL-verb: exec
  /v1/matters/{matterId}/savedQueries:
    parameters: *ref_1
    post:
      description: Creates a saved query.
      operationId: vault.matters.savedQueries.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedQuery'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedQuery'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: saved_queries
      x-stackQL-verb: insert
    get:
      description: Lists the saved queries in a matter.
      operationId: vault.matters.savedQueries.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSavedQueriesResponse'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: saved_queries
      x-stackQL-verb: select
  /v1/matters/{matterId}/savedQueries/{savedQueryId}:
    parameters: *ref_1
    get:
      description: Retrieves the specified saved query.
      operationId: vault.matters.savedQueries.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedQuery'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: savedQueryId
          required: true
          schema:
            type: string
      x-stackQL-resource: saved_queries
      x-stackQL-verb: select
    delete:
      description: Deletes the specified saved query.
      operationId: vault.matters.savedQueries.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: savedQueryId
          required: true
          schema:
            type: string
      x-stackQL-resource: saved_queries
      x-stackQL-verb: delete
  /v1/matters/{matterId}/holds/{holdId}/accounts:
    parameters: *ref_1
    get:
      description: >-
        Lists the accounts covered by a hold. This can list only
        individually-specified accounts covered by the hold. If the hold covers
        an organizational unit, use the [Admin
        SDK](https://developers.google.com/admin-sdk/). to list the members of
        the organizational unit on hold.
      operationId: vault.matters.holds.accounts.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHeldAccountsResponse'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: holdId
          required: true
          schema:
            type: string
      x-stackQL-resource: accounts
      x-stackQL-verb: select
    post:
      description: >-
        Adds an account to a hold. Accounts can be added only to a hold that
        does not have an organizational unit set. If you try to add an account
        to an organizational unit-based hold, an error is returned.
      operationId: vault.matters.holds.accounts.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HeldAccount'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeldAccount'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: holdId
          required: true
          schema:
            type: string
      x-stackQL-resource: accounts
      x-stackQL-verb: insert
  /v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}:
    parameters: *ref_1
    delete:
      description: Removes an account from a hold.
      operationId: vault.matters.holds.accounts.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: holdId
          required: true
          schema:
            type: string
        - in: path
          name: accountId
          required: true
          schema:
            type: string
      x-stackQL-resource: accounts
      x-stackQL-verb: delete
  /v1/matters/{matterId}/holds/{holdId}:
    parameters: *ref_1
    delete:
      description: >-
        Removes the specified hold and releases the accounts or organizational
        unit covered by the hold. If the data is not preserved by another hold
        or retention rule, it might be purged.
      operationId: vault.matters.holds.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: holdId
          required: true
          schema:
            type: string
      x-stackQL-resource: holds
      x-stackQL-verb: delete
    put:
      description: >-
        Updates the scope (organizational unit or accounts) and query parameters
        of a hold. You cannot add accounts to a hold that covers an
        organizational unit, nor can you add organizational units to a hold that
        covers individual accounts. If you try, the unsupported values are
        ignored.
      operationId: vault.matters.holds.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hold'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: holdId
          required: true
          schema:
            type: string
      x-stackQL-resource: holds
      x-stackQL-verb: exec
    get:
      description: Gets the specified hold.
      operationId: vault.matters.holds.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: holdId
          required: true
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
      x-stackQL-resource: holds
      x-stackQL-verb: select
  /v1/matters/{matterId}/holds:
    parameters: *ref_1
    post:
      description: Creates a hold in the specified matter.
      operationId: vault.matters.holds.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hold'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: holds
      x-stackQL-verb: insert
    get:
      description: Lists the holds in a matter.
      operationId: vault.matters.holds.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHoldsResponse'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: holds
      x-stackQL-verb: select
  /v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts:
    parameters: *ref_1
    post:
      description: >-
        Removes the specified accounts from a hold. Returns a list of statuses
        in the same order as the request.
      operationId: vault.matters.holds.removeHeldAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveHeldAccountsRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveHeldAccountsResponse'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: holdId
          required: true
          schema:
            type: string
      x-stackQL-resource: holds__held_accounts
      x-stackQL-verb: delete
  /v1/matters/{matterId}/holds/{holdId}:addHeldAccounts:
    parameters: *ref_1
    post:
      description: >-
        Adds accounts to a hold. Returns a list of accounts that have been
        successfully added. Accounts can be added only to an existing
        account-based hold.
      operationId: vault.matters.holds.addHeldAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddHeldAccountsRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddHeldAccountsResponse'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: holdId
          required: true
          schema:
            type: string
      x-stackQL-resource: holds__held_accounts
      x-stackQL-verb: insert
  /v1/matters/{matterId}/exports/{exportId}:
    parameters: *ref_1
    get:
      description: Gets an export.
      operationId: vault.matters.exports.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: exportId
          required: true
          schema:
            type: string
      x-stackQL-resource: exports
      x-stackQL-verb: select
    delete:
      description: Deletes an export.
      operationId: vault.matters.exports.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: path
          name: exportId
          required: true
          schema:
            type: string
      x-stackQL-resource: exports
      x-stackQL-verb: delete
  /v1/matters/{matterId}/exports:
    parameters: *ref_1
    post:
      description: Creates an export.
      operationId: vault.matters.exports.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Export'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
      x-stackQL-resource: exports
      x-stackQL-verb: insert
    get:
      description: Lists details about the exports in the specified matter.
      operationId: vault.matters.exports.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery
        - Oauth2:
            - https://www.googleapis.com/auth/ediscovery.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ediscovery.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExportsResponse'
      parameters:
        - in: path
          name: matterId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: exports
      x-stackQL-verb: select
