openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Admin SDK API
  description: >-
    Admin SDK lets administrators of enterprise domains to view and manage
    resources like user, groups etc. It also provides audit and usage reports of
    domain.
  version: datatransfer_v1
  x-discovery-doc-revision: '20230619'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/admin-sdk/
servers:
  - url: https://admin.googleapis.com
components:
  schemas:
    Application:
      id: Application
      properties:
        kind:
          type: string
          description: Identifies the resource as a DataTransfer Application Resource.
          default: admin#datatransfer#ApplicationResource
        transferParams:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationTransferParam'
          description: >-
            The list of all possible transfer parameters for this application.
            These parameters select which categories of the user's data to
            transfer.
        etag:
          type: string
          description: Etag of the resource.
        name:
          description: The application's name.
          type: string
        id:
          description: >-
            The application's ID. Retrievable by using the
            [`applications.list()`](/admin-sdk/data-transfer/reference/rest/v1/applications/list)
            method.
          format: int64
          type: string
      description: >-
        Application resources represent applications installed on the domain
        that support transferring ownership of user data.
      type: object
    DataTransfer:
      description: >-
        A Transfer resource represents the transfer of the ownership of user
        data between users.
      type: object
      properties:
        newOwnerUserId:
          type: string
          description: ID of the user to whom the data is being transferred.
        oldOwnerUserId:
          type: string
          description: ID of the user whose data is being transferred.
        id:
          description: Read-only. The transfer's ID.
          type: string
        applicationDataTransfers:
          description: >-
            The list of per-application data transfer resources. It contains
            details of the applications associated with this transfer resource,
            and also specifies the applications for which data transfer has to
            be done at the time of the transfer resource creation.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationDataTransfer'
        requestTime:
          type: string
          description: Read-only. The time at which the data transfer was requested.
          format: date-time
        kind:
          default: admin#datatransfer#DataTransfer
          description: Identifies the resource as a DataTransfer request.
          type: string
        etag:
          type: string
          description: ETag of the resource.
        overallTransferStatusCode:
          type: string
          description: Read-only. Overall transfer status.
      id: DataTransfer
    DataTransfersListResponse:
      description: Template for a collection of DataTransfer resources.
      properties:
        dataTransfers:
          items:
            $ref: '#/components/schemas/DataTransfer'
          type: array
          description: List of data transfer requests.
        nextPageToken:
          type: string
          description: Token to specify the next page in the list.
        etag:
          description: ETag of the resource.
          type: string
        kind:
          type: string
          description: Identifies the resource as a collection of data transfer requests.
          default: admin#datatransfer#dataTransfersList
      type: object
      id: DataTransfersListResponse
    ApplicationDataTransfer:
      id: ApplicationDataTransfer
      type: object
      properties:
        applicationId:
          format: int64
          description: The application's ID.
          type: string
        applicationTransferParams:
          items:
            $ref: '#/components/schemas/ApplicationTransferParam'
          type: array
          description: >-
            The transfer parameters for the application. These parameters are
            used to select the data which will get transferred in context of
            this application. For more information about the specific values
            available for each application, see the [Transfer
            parameters](/admin-sdk/data-transfer/v1/parameters) reference.
        applicationTransferStatus:
          description: Read-only. Current status of transfer for this application.
          type: string
      description: Template to map fields of ApplicationDataTransfer resource.
    ApplicationsListResponse:
      description: Template for a collection of Applications.
      id: ApplicationsListResponse
      type: object
      properties:
        etag:
          description: ETag of the resource.
          type: string
        applications:
          items:
            $ref: '#/components/schemas/Application'
          description: >-
            The list of applications that support data transfer and are also
            installed for the customer.
          type: array
        nextPageToken:
          type: string
          description: Token to specify the next page in the list.
        kind:
          type: string
          description: Identifies the resource as a collection of Applications.
          default: admin#datatransfer#applicationsList
    ApplicationTransferParam:
      type: object
      id: ApplicationTransferParam
      properties:
        key:
          description: The type of the transfer parameter, such as `PRIVACY_LEVEL`.
          type: string
        value:
          type: array
          items:
            type: string
          description: The value of the transfer parameter, such as `PRIVATE` or `SHARED`.
      description: Template for application transfer parameters.
  parameters:
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/admin.datatransfer: View and manage data transfers between users in your organization
            https://www.googleapis.com/auth/admin.datatransfer.readonly: View data transfers between users in your organization
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /admin/datatransfer/v1/transfers/{dataTransferId}:
    parameters: &ref_1
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/uploadType'
    get:
      description: Retrieves a data transfer request by its resource ID.
      operationId: datatransfer.transfers.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTransfer'
      parameters:
        - in: path
          name: dataTransferId
          required: true
          schema:
            type: string
      x-stackQL-resource: transfers
      x-stackQL-verb: select
  /admin/datatransfer/v1/transfers:
    parameters: *ref_1
    get:
      description: >-
        Lists the transfers for a customer by source user, destination user, or
        status.
      operationId: datatransfer.transfers.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTransfersListResponse'
      parameters:
        - in: query
          name: customerId
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: maxResults
          schema:
            type: integer
        - in: query
          name: oldOwnerUserId
          schema:
            type: string
        - in: query
          name: newOwnerUserId
          schema:
            type: string
      x-stackQL-resource: transfers
      x-stackQL-verb: select
    post:
      description: >-
        Inserts a data transfer request. See the [Transfer
        parameters](/admin-sdk/data-transfer/v1/parameters) reference for
        specific application requirements.
      operationId: datatransfer.transfers.insert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataTransfer'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTransfer'
      parameters: []
      x-stackQL-resource: transfers
      x-stackQL-verb: insert
  /admin/datatransfer/v1/applications:
    parameters: *ref_1
    get:
      description: Lists the applications available for data transfer for a customer.
      operationId: datatransfer.applications.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsListResponse'
      parameters:
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: customerId
          schema:
            type: string
        - in: query
          name: maxResults
          schema:
            type: integer
      x-stackQL-resource: applications
      x-stackQL-verb: select
  /admin/datatransfer/v1/applications/{applicationId}:
    parameters: *ref_1
    get:
      description: Retrieves information about an application for the given application ID.
      operationId: datatransfer.applications.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      parameters:
        - in: path
          name: applicationId
          required: true
          schema:
            type: string
      x-stackQL-resource: applications
      x-stackQL-verb: select
