openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Managed Service for Microsoft Active Directory API
  description: >-
    The Managed Service for Microsoft Active Directory API is used for managing
    a highly available, hardened service running Microsoft Active Directory
    (AD).
  version: v1alpha1
  x-discovery-doc-revision: '20230505'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/managed-microsoft-ad/
servers:
  - url: https://managedidentities.googleapis.com
components:
  schemas:
    Date:
      description: >-
        Represents a whole or partial calendar date, such as a birthday. The
        time of day and time zone are either specified elsewhere or are
        insignificant. The date is relative to the Gregorian Calendar. This can
        represent one of the following: * A full date, with non-zero year,
        month, and day values. * A month and day, with a zero year (for example,
        an anniversary). * A year on its own, with a zero month and a zero day.
        * A year and month, with a zero day (for example, a credit card
        expiration date). Related types: * google.type.TimeOfDay *
        google.type.DateTime * google.protobuf.Timestamp
      type: object
      id: Date
      properties:
        month:
          description: >-
            Month of a year. Must be from 1 to 12, or 0 to specify a year
            without a month and day.
          type: integer
          format: int32
        year:
          description: >-
            Year of the date. Must be from 1 to 9999, or 0 to specify a date
            without a year.
          type: integer
          format: int32
        day:
          description: >-
            Day of a month. Must be from 1 to 31 and valid for the year and
            month, or 0 to specify a year by itself or a year and month where
            the day isn't significant.
          type: integer
          format: int32
    GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule:
      id: GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule
      description: >-
        Maintenance schedule which is exposed to customer and potentially end
        user, indicating published upcoming future maintenance schedule
      properties:
        rolloutManagementPolicy:
          description: >-
            The rollout management policy this maintenance schedule is
            associated with. When doing reschedule update request, the
            reschedule should be against this given policy.
          type: string
        scheduleDeadlineTime:
          description: >-
            schedule_deadline_time is the time deadline any schedule start time
            cannot go beyond, including reschedule. It's normally the initial
            schedule start time plus maintenance window length (1 day or 1
            week). Maintenance cannot be scheduled to start beyond this
            deadline.
          format: google-datetime
          type: string
        canReschedule:
          type: boolean
          description: >-
            This field is deprecated, and will be always set to true since
            reschedule can happen multiple times now. This field should not be
            removed until all service producers remove this for their customers.
        startTime:
          format: google-datetime
          type: string
          description: The scheduled start time for the maintenance.
        endTime:
          type: string
          format: google-datetime
          description: The scheduled end time for the maintenance.
      type: object
    DomainJoinMachineResponse:
      type: object
      description: >-
        DomainJoinMachineResponse is the response message for DomainJoinMachine
        method
      properties:
        domainJoinBlob:
          description: Offline domain join blob as the response
          type: string
      id: DomainJoinMachineResponse
    Expr:
      id: Expr
      properties:
        description:
          description: >-
            Optional. Description of the expression. This is a longer text which
            describes the expression, e.g. when hovered over it in a UI.
          type: string
        expression:
          description: >-
            Textual representation of an expression in Common Expression
            Language syntax.
          type: string
        title:
          description: >-
            Optional. Title for the expression, i.e. a short string describing
            its purpose. This can be used e.g. in UIs which allow to enter the
            expression.
          type: string
        location:
          description: >-
            Optional. String indicating the location of the expression for error
            reporting, e.g. a file name and a position in the file.
          type: string
      type: object
      description: >-
        Represents a textual expression in the Common Expression Language (CEL)
        syntax. CEL is a C-like expression language. The syntax and semantics of
        CEL are documented at https://github.com/google/cel-spec. Example
        (Comparison): title: "Summary size limit" description: "Determines if a
        summary is less than 100 chars" expression: "document.summary.size() <
        100" Example (Equality): title: "Requestor is owner" description:
        "Determines if requestor is the document owner" expression:
        "document.owner == request.auth.claims.email" Example (Logic): title:
        "Public documents" description: "Determine whether the document should
        be publicly visible" expression: "document.type != 'private' &&
        document.type != 'internal'" Example (Data Manipulation): title:
        "Notification string" description: "Create a notification string with a
        timestamp." expression: "'New message received at ' +
        string(document.create_time)" The exact variables and functions that may
        be referenced within an expression are determined by the service that
        evaluates it. See the service documentation for additional information.
    MaintenancePolicy:
      type: object
      id: MaintenancePolicy
      description: LINT.IfChange Defines policies to service maintenance events.
      properties:
        name:
          type: string
          description: >-
            Required. MaintenancePolicy name using the form:
            `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}`
            where {project_id} refers to a GCP consumer project ID,
            {location_id} refers to a GCP region/zone, {maintenance_policy_id}
            must be 1-63 characters long and match the regular expression
            `[a-z0-9]([-a-z0-9]*[a-z0-9])?`.
        description:
          type: string
          description: >-
            Optional. Description of what this policy is for. Create/Update
            methods return INVALID_ARGUMENT if the length is greater than 512.
        updatePolicy:
          $ref: '#/components/schemas/UpdatePolicy'
          description: Maintenance policy applicable to instance update.
        createTime:
          type: string
          description: Output only. The time when the resource was created.
          format: google-datetime
        labels:
          description: >-
            Optional. Resource labels to represent user provided metadata. Each
            label is a key-value pair, where both the key and the value are
            arbitrary strings provided by the user.
          type: object
          additionalProperties:
            type: string
        updateTime:
          format: google-datetime
          description: Output only. The time when the resource was updated.
          type: string
        state:
          description: Optional. The state of the policy.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - READY
            - DELETING
          enumDescriptions:
            - Unspecified state.
            - Resource is ready to be used.
            - >-
              Resource is being deleted. It can no longer be attached to
              instances.
    LDAPSSettings:
      description: >-
        LDAPSSettings represents the ldaps settings for domain resource. LDAP is
        the Lightweight Directory Access Protocol, defined in
        https://tools.ietf.org/html/rfc4511. The settings object configures LDAP
        over SSL/TLS, whether it is over port 636 or the StartTLS operation. If
        LDAPSSettings is being changed, it will be placed into the UPDATING
        state, which indicates that the resource is being reconciled. At this
        point, Get will reflect an intermediate state.
      properties:
        certificatePassword:
          type: string
          description: >-
            Input only. The password used to encrypt the uploaded pfx
            certificate.
        certificatePfx:
          description: >-
            Input only. The uploaded PKCS12-formatted certificate to configure
            LDAPS with. It will enable the domain controllers in this domain to
            accept LDAPS connections (either LDAP over SSL/TLS or the StartTLS
            operation). A valid certificate chain must form a valid x.509
            certificate chain (or be comprised of a single self-signed
            certificate. It must be encrypted with either: 1) PBES2 + PBKDF2 +
            AES256 encryption and SHA256 PRF; or 2)
            pbeWithSHA1And3-KeyTripleDES-CBC Private key must be included for
            the leaf / single self-signed certificate. Note: For a fqdn
            your-example-domain.com, the wildcard fqdn is
            *.your-example-domain.com. Specifically the leaf certificate must
            have: - Either a blank subject or a subject with CN matching the
            wildcard fqdn. - Exactly two SANs - the fqdn and wildcard fqdn. -
            Encipherment and digital key signature key usages. - Server
            authentication extended key usage (OID=1.3.6.1.5.5.7.3.1) - Private
            key must be in one of the following formats: RSA, ECDSA, ED25519. -
            Private key must have appropriate key length: 2048 for RSA, 256 for
            ECDSA - Signature algorithm of the leaf certificate cannot be MD2,
            MD5 or SHA1.
          type: string
          format: byte
        state:
          type: string
          enum:
            - STATE_UNSPECIFIED
            - UPDATING
            - ACTIVE
            - FAILED
          description: Output only. The current state of this LDAPS settings.
          readOnly: true
          enumDescriptions:
            - Not Set
            - The LDAPS setting is being updated.
            - The LDAPS setting is ready.
            - The LDAPS setting is not applied correctly.
        updateTime:
          type: string
          format: google-datetime
          description: Output only. Last update time.
          readOnly: true
        name:
          description: >-
            The resource name of the LDAPS settings. Uses the form:
            `projects/{project}/locations/{location}/domains/{domain}`.
          type: string
        certificate:
          $ref: '#/components/schemas/Certificate'
          readOnly: true
          description: >-
            Output only. The certificate used to configure LDAPS. Certificates
            can be chained with a maximum length of 15.
      type: object
      id: LDAPSSettings
    CheckMigrationPermissionRequest:
      type: object
      description: >-
        CheckMigrationPermissionRequest is the request message for
        CheckMigrationPermission method.
      properties: {}
      id: CheckMigrationPermissionRequest
    OnPremDomainSIDDetails:
      id: OnPremDomainSIDDetails
      properties:
        sidFilteringState:
          enum:
            - SID_FILTERING_STATE_UNSPECIFIED
            - ENABLED
            - DISABLED
          type: string
          enumDescriptions:
            - SID Filtering is in unspecified state.
            - SID Filtering is Enabled.
            - SID Filtering is Disabled.
          description: Current SID filtering state.
        name:
          description: FQDN of the on-prem domain being migrated.
          type: string
      type: object
      description: >-
        OnPremDomainDetails is the message which contains details of on-prem
        domain which is trusted and needs to be migrated.
    AttachTrustRequest:
      properties:
        trust:
          $ref: '#/components/schemas/Trust'
          description: The domain trust resource.
      id: AttachTrustRequest
      type: object
    Schedule:
      type: object
      id: Schedule
      properties:
        duration:
          format: google-duration
          type: string
          description: Output only. Duration of the time window, set by service producer.
        day:
          description: Allows to define schedule that runs specified day of the week.
          enum:
            - DAY_OF_WEEK_UNSPECIFIED
            - MONDAY
            - TUESDAY
            - WEDNESDAY
            - THURSDAY
            - FRIDAY
            - SATURDAY
            - SUNDAY
          enumDescriptions:
            - The day of the week is unspecified.
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
          type: string
        startTime:
          description: Time within the window to start the operations.
          $ref: '#/components/schemas/TimeOfDay'
      description: Configure the schedule.
    DetachTrustRequest:
      type: object
      id: DetachTrustRequest
      properties:
        trust:
          $ref: '#/components/schemas/Trust'
          description: The domain trust resource to removed.
    Trust:
      type: object
      description: >-
        Represents a relationship between two domains which makes it possible
        for users in one domain to be authenticated by a dc in another domain.
        Refer
        https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/cc731335(v%3dws.10)
        If the trust is being changed, it will be placed into the UPDATING
        state, which indicates that the resource is being reconciled. At this
        point, Get will reflect an intermediate state.
      properties:
        trustHandshakeSecret:
          description: >-
            Input only, and will not be stored. The trust secret used for
            handshake with target domain.
          type: string
        selectiveAuthentication:
          type: boolean
          description: >-
            The trust authentication type which decides whether the trusted side
            has forest/domain wide access or selective access to approved set of
            resources.
        updateTime:
          description: Output only. Last update time.
          format: google-datetime
          type: string
        stateDescription:
          description: >-
            Output only. Additional information about the current state of this
            trust, if available.
          type: string
        targetDnsIpAddresses:
          description: >-
            The target dns server ip addresses which can resolve the remote
            domain involved in trust.
          type: array
          items:
            type: string
        trustDirection:
          type: string
          enumDescriptions:
            - Not Set
            - The inbound direction represents the trusting side.
            - The outboud direction represents the trusted side.
            - >-
              The bidirectional direction represents the trusted / trusting
              side.
          enum:
            - TRUST_DIRECTION_UNSPECIFIED
            - INBOUND
            - OUTBOUND
            - BIDIRECTIONAL
          description: >-
            The trust direction decides the current domain is trusted, trusting
            or both.
        lastKnownTrustConnectedHeartbeatTime:
          description: >-
            Output only. The last heartbeat time when the trust was known to be
            connected.
          type: string
          format: google-datetime
        state:
          type: string
          enumDescriptions:
            - Not Set
            - Domain trust is being created.
            - Domain trust is being updated.
            - Domain trust is being deleted.
            - Domain trust is connected.
            - Domain trust is disconnected.
          description: Output only. The current state of this trust.
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - UPDATING
            - DELETING
            - CONNECTED
            - DISCONNECTED
        createTime:
          format: google-datetime
          description: Output only. The time the instance was created.
          type: string
        trustType:
          enumDescriptions:
            - Not Set
            - The forest trust.
            - The external domain trust.
          type: string
          enum:
            - TRUST_TYPE_UNSPECIFIED
            - FOREST
            - EXTERNAL
          description: The type of trust represented by the trust resource.
        targetDomainName:
          description: >-
            The fully qualified target domain name which will be in trust with
            current domain.
          type: string
      id: Trust
    ListOperationsResponse:
      id: ListOperationsResponse
      properties:
        nextPageToken:
          description: The standard List next-page token.
          type: string
        operations:
          items:
            $ref: '#/components/schemas/Operation'
          description: >-
            A list of operations that matches the specified filter in the
            request.
          type: array
      description: The response message for Operations.ListOperations.
      type: object
    DenyMaintenancePeriod:
      type: object
      properties:
        endDate:
          description: >-
            Deny period end date. This can be: * A full date, with non-zero
            year, month and day values. * A month and day value, with a zero
            year. Allows recurring deny periods each year. Date matching this
            period will have to be before the end.
          $ref: '#/components/schemas/Date'
        startDate:
          description: >-
            Deny period start date. This can be: * A full date, with non-zero
            year, month and day values. * A month and day value, with a zero
            year. Allows recurring deny periods each year. Date matching this
            period will have to be the same or after the start.
          $ref: '#/components/schemas/Date'
        time:
          $ref: '#/components/schemas/TimeOfDay'
          description: >-
            Time in UTC when the Blackout period starts on start_date and ends
            on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC
      description: >-
        DenyMaintenancePeriod definition. Maintenance is forbidden within the
        deny period. The start_date must be less than the end_date.
      id: DenyMaintenancePeriod
    SetIamPolicyRequest:
      type: object
      id: SetIamPolicyRequest
      properties:
        policy:
          description: >-
            REQUIRED: The complete policy to be applied to the `resource`. The
            size of the policy is limited to a few 10s of KB. An empty policy is
            a valid policy but certain Google Cloud services (such as Projects)
            might reject them.
          $ref: '#/components/schemas/Policy'
      description: Request message for `SetIamPolicy` method.
    GoogleCloudManagedidentitiesV1OpMetadata:
      description: Represents the metadata of the long-running operation.
      properties:
        apiVersion:
          type: string
          description: Output only. API version used to start the operation.
          readOnly: true
        verb:
          type: string
          description: Output only. Name of the verb executed by the operation.
          readOnly: true
        createTime:
          type: string
          description: Output only. The time the operation was created.
          format: google-datetime
          readOnly: true
        endTime:
          readOnly: true
          format: google-datetime
          description: Output only. The time the operation finished running.
          type: string
        target:
          description: >-
            Output only. Server-defined resource path for the target of the
            operation.
          type: string
          readOnly: true
        requestedCancellation:
          readOnly: true
          description: >-
            Output only. Identifies whether the user has requested cancellation
            of the operation. Operations that have successfully been cancelled
            have Operation.error value with a google.rpc.Status.code of 1,
            corresponding to `Code.CANCELLED`.
          type: boolean
      type: object
      id: GoogleCloudManagedidentitiesV1OpMetadata
    OperationMetadata:
      type: object
      id: OperationMetadata
      properties:
        statusDetail:
          readOnly: true
          type: string
          description: Output only. Human-readable status of the operation, if any.
        verb:
          description: Output only. Name of the verb executed by the operation.
          type: string
          readOnly: true
        endTime:
          description: Output only. The time the operation finished running.
          type: string
          format: google-datetime
          readOnly: true
        apiVersion:
          type: string
          description: Output only. API version used to start the operation.
          readOnly: true
        cancelRequested:
          description: >-
            Output only. Identifies whether the user has requested cancellation
            of the operation. Operations that have been cancelled successfully
            have Operation.error value with a google.rpc.Status.code of 1,
            corresponding to `Code.CANCELLED`.
          type: boolean
          readOnly: true
        createTime:
          readOnly: true
          description: Output only. The time the operation was created.
          type: string
          format: google-datetime
        target:
          description: >-
            Output only. Server-defined resource path for the target of the
            operation.
          type: string
          readOnly: true
      description: Represents the metadata of the long-running operation.
    Policy:
      type: object
      properties:
        bindings:
          description: >-
            Associates a list of `members`, or principals, with a `role`.
            Optionally, may specify a `condition` that determines how and when
            the `bindings` are applied. Each of the `bindings` must contain at
            least one principal. The `bindings` in a `Policy` can refer to up to
            1,500 principals; up to 250 of these principals can be Google
            groups. Each occurrence of a principal counts towards these limits.
            For example, if the `bindings` grant 50 different roles to
            `user:alice@example.com`, and not to any other principal, then you
            can add another 1,450 principals to the `bindings` in the `Policy`.
          type: array
          items:
            $ref: '#/components/schemas/Binding'
        version:
          format: int32
          description: >-
            Specifies the format of the policy. Valid values are `0`, `1`, and
            `3`. Requests that specify an invalid value are rejected. Any
            operation that affects conditional role bindings must specify
            version `3`. This requirement applies to the following operations: *
            Getting a policy that includes a conditional role binding * Adding a
            conditional role binding to a policy * Changing a conditional role
            binding in a policy * Removing any role binding, with or without a
            condition, from a policy that includes conditions **Important:** If
            you use IAM Conditions, you must include the `etag` field whenever
            you call `setIamPolicy`. If you omit this field, then IAM allows you
            to overwrite a version `3` policy with a version `1` policy, and all
            of the conditions in the version `3` policy are lost. If a policy
            does not include any conditions, operations on that policy may
            specify any valid version or leave the field unset. To learn which
            resources support conditions in their IAM policies, see the [IAM
            documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          type: integer
        etag:
          description: >-
            `etag` is used for optimistic concurrency control as a way to help
            prevent simultaneous updates of a policy from overwriting each
            other. It is strongly suggested that systems make use of the `etag`
            in the read-modify-write cycle to perform policy updates in order to
            avoid race conditions: An `etag` is returned in the response to
            `getIamPolicy`, and systems are expected to put that etag in the
            request to `setIamPolicy` to ensure that their change will be
            applied to the same version of the policy. **Important:** If you use
            IAM Conditions, you must include the `etag` field whenever you call
            `setIamPolicy`. If you omit this field, then IAM allows you to
            overwrite a version `3` policy with a version `1` policy, and all of
            the conditions in the version `3` policy are lost.
          type: string
          format: byte
      id: Policy
      description: >-
        An Identity and Access Management (IAM) policy, which specifies access
        controls for Google Cloud resources. A `Policy` is a collection of
        `bindings`. A `binding` binds one or more `members`, or principals, to a
        single `role`. Principals can be user accounts, service accounts, Google
        groups, and domains (such as G Suite). A `role` is a named list of
        permissions; each `role` can be an IAM predefined role or a user-created
        custom role. For some types of Google Cloud resources, a `binding` can
        also specify a `condition`, which is a logical expression that allows
        access to a resource only if the expression evaluates to `true`. A
        condition can add constraints based on attributes of the request, the
        resource, or both. To learn which resources support conditions in their
        IAM policies, see the [IAM
        documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        **JSON example:** { "bindings": [ { "role":
        "roles/resourcemanager.organizationAdmin", "members": [
        "user:mike@example.com", "group:admins@example.com",
        "domain:google.com",
        "serviceAccount:my-project-id@appspot.gserviceaccount.com" ] }, {
        "role": "roles/resourcemanager.organizationViewer", "members": [
        "user:eve@example.com" ], "condition": { "title": "expirable access",
        "description": "Does not grant access after Sep 2020", "expression":
        "request.time < timestamp('2020-10-01T00:00:00.000Z')", } } ], "etag":
        "BwWWja0YfJA=", "version": 3 } **YAML example:** bindings: - members: -
        user:mike@example.com - group:admins@example.com - domain:google.com -
        serviceAccount:my-project-id@appspot.gserviceaccount.com role:
        roles/resourcemanager.organizationAdmin - members: -
        user:eve@example.com role: roles/resourcemanager.organizationViewer
        condition: title: expirable access description: Does not grant access
        after Sep 2020 expression: request.time <
        timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For
        a description of IAM and its features, see the [IAM
        documentation](https://cloud.google.com/iam/docs/).
    ExtendSchemaRequest:
      id: ExtendSchemaRequest
      properties:
        fileContents:
          description: File uploaded as a byte stream input.
          type: string
          format: byte
        description:
          type: string
          description: Required. Description for Schema Change.
        gcsPath:
          type: string
          description: >-
            File stored in Cloud Storage bucket and represented in the form
            projects/{project_id}/buckets/{bucket_name}/objects/{object_name}
            File should be in the same project as the domain.
      description: ExtendSchemaRequest is the request message for ExtendSchema method.
      type: object
    Peering:
      type: object
      id: Peering
      properties:
        authorizedNetwork:
          description: >-
            Required. The full names of the Google Compute Engine
            [networks](/compute/docs/networks-and-firewalls#networks) to which
            the instance is connected. Caller needs to make sure that CIDR
            subnets do not overlap between networks, else peering creation will
            fail.
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
          description: Optional. Resource labels to represent user provided metadata.
        statusMessage:
          type: string
          readOnly: true
          description: >-
            Output only. Additional information about the current status of this
            peering, if available.
        name:
          description: >-
            Output only. Unique name of the peering in this scope including
            projects and location using the form:
            `projects/{project_id}/locations/global/peerings/{peering_id}`.
          readOnly: true
          type: string
        createTime:
          readOnly: true
          description: Output only. The time the instance was created.
          format: google-datetime
          type: string
        updateTime:
          readOnly: true
          format: google-datetime
          type: string
          description: Output only. Last update time.
        domainResource:
          type: string
          description: >-
            Required. Full domain resource path for the Managed AD Domain
            involved in peering. The resource path should be in the form:
            `projects/{project_id}/locations/global/domains/{domain_name}`
        state:
          readOnly: true
          description: Output only. The current state of this Peering.
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - CONNECTED
            - DISCONNECTED
            - DELETING
          type: string
          enumDescriptions:
            - Not set.
            - Peering is being created.
            - Peering is connected.
            - Peering is disconnected.
            - Peering is being deleted.
      description: Represents a Managed Microsoft Identities Peering.
    CheckMigrationPermissionResponse:
      type: object
      properties:
        onpremDomains:
          description: >-
            The state of SID filtering of all the domains which has trust
            established.
          type: array
          items:
            $ref: '#/components/schemas/OnPremDomainSIDDetails'
        state:
          type: string
          description: The state of DomainMigration.
          enum:
            - STATE_UNSPECIFIED
            - DISABLED
            - ENABLED
            - NEEDS_MAINTENANCE
          enumDescriptions:
            - DomainMigration is in unspecified state.
            - Domain Migration is Disabled.
            - Domain Migration is Enabled.
            - Domain Migration is not in valid state.
      id: CheckMigrationPermissionResponse
      description: >-
        CheckMigrationPermissionResponse is the response message for
        CheckMigrationPermission method.
    MaintenanceWindow:
      type: object
      description: MaintenanceWindow definition.
      properties:
        dailyCycle:
          description: Daily cycle.
          $ref: '#/components/schemas/DailyCycle'
        weeklyCycle:
          description: Weekly cycle.
          $ref: '#/components/schemas/WeeklyCycle'
      id: MaintenanceWindow
    SQLIntegration:
      type: object
      properties:
        state:
          type: string
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - DELETING
            - READY
          enumDescriptions:
            - Not Set
            - The sqlIntegration is being created.
            - The sqlIntegration is being deleted.
            - The sqlIntegration is ready.
          readOnly: true
          description: Output only. The current state of the managed OU.
        sqlInstance:
          type: string
          description: The full resource name of an integrated sql instance
        updateTime:
          type: string
          description: Output only. Last update time for this SQL instance.
          readOnly: true
          format: google-datetime
        createTime:
          description: Output only. The time the instance was created.
          readOnly: true
          format: google-datetime
          type: string
        name:
          type: string
          description: >-
            The unique name of the sql integration in the form of
            `projects/{project_id}/locations/global/domains/{domain_name}/sqlIntegrations/{sql_integration}`
      id: SQLIntegration
      description: Represents the SQL instance integrated with AD.
    Domain:
      type: object
      properties:
        state:
          type: string
          enumDescriptions:
            - Not set.
            - ManagedIdentities domain is being created.
            - ManagedIdentities domain has been created and is fully usable.
            - ManagedIdentities domain configuration is being updated.
            - ManagedIdentities domain is being deleted.
            - >-
              ManagedIdentities domain is being repaired and may be unusable.
              Details can be found in the `status_message` field.
            - ManagedIdentities domain is undergoing maintenance.
            - ManagedIdentities domain is not serving customer requests.
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - READY
            - UPDATING
            - DELETING
            - REPAIRING
            - PERFORMING_MAINTENANCE
            - DOWN
          description: Output only. The current state of this domain.
        auditLogsEnabled:
          type: boolean
          description: >-
            Optional. Configuration for audit logs. True if audit logs are
            enabled, else false. Default is audit logs disabled.
        updateTime:
          format: google-datetime
          type: string
          description: >-
            Output only. Last update time. Synthetic field is populated
            automatically by CCFE.
        reservedIpRange:
          description: >-
            Required. The CIDR range of internal addresses that are reserved for
            this domain. Reserved networks must be /24 or larger. Ranges must be
            unique and non-overlapping with existing subnets in
            [Domain].[authorized_networks].
          type: string
        name:
          type: string
          description: >-
            Output only. Unique name of the domain in this scope including
            projects and location using the form:
            `projects/{project_id}/locations/global/domains/{domain_name}`.
        locations:
          description: >-
            Required. Locations where domain needs to be provisioned. regions
            e.g. us-west1 or us-east4 Service supports up to 4 locations at
            once. Each location will use a /26 block.
          items:
            type: string
          type: array
        statusMessage:
          description: >-
            Output only. Additional information about the current status of this
            domain, if available.
          type: string
        authorizedNetworks:
          type: array
          items:
            type: string
          description: >-
            Optional. The full names of the Google Compute Engine
            [networks](/compute/docs/networks-and-firewalls#networks) to which
            the instance is connected. Network can be added using UpdateDomain
            later. Domain is only available on network part of
            authorized_networks. Caller needs to make sure that CIDR subnets do
            not overlap between networks, else domain creation will fail.
        fqdn:
          description: >-
            Output only. Fully-qualified domain name of the exposed domain used
            by clients to connect to the service. Similar to what would be
            chosen for an Active Directory that is set up on an internal
            network.
          type: string
        managedIdentitiesAdminName:
          description: >-
            Optional. Name of customer-visible admin used to perform Active
            Directory operations. If not specified `setupadmin` would be used.
          type: string
        labels:
          additionalProperties:
            type: string
          type: object
          description: Optional. Resource labels to represent user provided metadata
        createTime:
          description: >-
            Output only. The time the instance was created. Synthetic field is
            populated automatically by CCFE. go/ccfe-synthetic-field-user-guide
          type: string
          format: google-datetime
        trusts:
          type: array
          description: Output only. The current trusts associated with the domain.
          items:
            $ref: '#/components/schemas/Trust'
      description: >-
        If the domain is being changed, it will be placed into the UPDATING
        state, which indicates that the resource is being reconciled. At this
        point, Get will reflect an intermediate state.
      id: Domain
    Empty:
      type: object
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      properties: {}
      id: Empty
    ResetAdminPasswordRequest:
      type: object
      properties: {}
      id: ResetAdminPasswordRequest
    GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility:
      properties:
        eligibilities:
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility
          description: >-
            An entry in the eligibilities map specifies an eligibility for a
            particular SLI for the given instance. The SLI key in the name must
            be a valid SLI name specified in the Eligibility Exporter binary
            flags otherwise an error will be emitted by Eligibility Exporter and
            the oncaller will be alerted. If an SLI has been defined in the
            binary flags but the eligibilities map does not contain it, the
            corresponding SLI time series will not be emitted by the Eligibility
            Exporter. This ensures a smooth rollout and compatibility between
            the data produced by different versions of the Eligibility
            Exporters. If eligibilities map contains a key for an SLI which has
            not been declared in the binary flags, there will be an error
            message emitted in the Eligibility Exporter log and the metric for
            the SLI in question will not be emitted.
          type: object
      description: PerSliSloEligibility is a mapping from an SLI name to eligibility.
      type: object
      id: GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility
    GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility:
      type: object
      id: GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility
      description: >-
        SloEligibility is a tuple containing eligibility value: true if an
        instance is eligible for SLO calculation or false if it should be
        excluded from all SLO-related calculations along with a user-defined
        reason.
      properties:
        reason:
          description: >-
            User-defined reason for the current value of instance eligibility.
            Usually, this can be directly mapped to the internal state. An empty
            reason is allowed.
          type: string
        eligible:
          description: Whether an instance is eligible or ineligible.
          type: boolean
    DisableMigrationRequest:
      description: >-
        DisableMigrationRequest is the request message for DisableMigration
        method.
      id: DisableMigrationRequest
      type: object
      properties: {}
    ResetAdminPasswordResponse:
      type: object
      id: ResetAdminPasswordResponse
      properties:
        password:
          description: A random password. See admin for more information.
          type: string
    Status:
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The status code, which should be an enum value of google.rpc.Code.
        message:
          type: string
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
        details:
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
            type: object
          type: array
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
      id: Status
    GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata:
      description: >-
        SloMetadata contains resources required for proper SLO classification of
        the instance.
      properties:
        tier:
          type: string
          description: >-
            Name of the SLO tier the Instance belongs to. This name will be
            expected to match the tiers specified in the service SLO
            configuration. Field is mandatory and must not be empty.
        perSliEligibility:
          $ref: >-
            #/components/schemas/GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility
          description: >-
            Optional. Multiple per-instance SLI eligibilities which apply for
            individual SLIs.
        nodes:
          description: >-
            Optional. List of nodes. Some producers need to use per-node
            metadata to calculate SLO. This field allows such producers to
            publish per-node SLO meta data, which will be consumed by SSA
            Eligibility Exporter and published in the form of per node metric to
            Monarch.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata
      type: object
      id: GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata
    TimeOfDay:
      description: >-
        Represents a time of day. The date and time zone are either not
        significant or are specified elsewhere. An API may choose to allow leap
        seconds. Related types are google.type.Date and
        `google.protobuf.Timestamp`.
      type: object
      id: TimeOfDay
      properties:
        minutes:
          description: Minutes of hour of day. Must be from 0 to 59.
          type: integer
          format: int32
        nanos:
          type: integer
          format: int32
          description: Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.
        seconds:
          format: int32
          description: >-
            Seconds of minutes of the time. Must normally be from 0 to 59. An
            API may allow the value 60 if it allows leap-seconds.
          type: integer
        hours:
          type: integer
          description: >-
            Hours of day in 24 hour format. Should be from 0 to 23. An API may
            choose to allow the value "24:00:00" for scenarios like business
            closing time.
          format: int32
    ListBackupsResponse:
      properties:
        unreachable:
          items:
            type: string
          type: array
          description: Locations that could not be reached.
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
        backups:
          items:
            $ref: '#/components/schemas/Backup'
          type: array
          description: A list of Cloud AD backups in the domain.
      id: ListBackupsResponse
      type: object
      description: ListBackupsResponse is the response message for ListBackups method.
    GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata:
      id: GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata
      description: >-
        Node information for custom per-node SLO implementations. SSA does not
        support per-node SLO, but producers can populate per-node information in
        SloMetadata for custom precomputations. SSA Eligibility Exporter will
        emit per-node metric based on this information.
      type: object
      properties:
        location:
          type: string
          description: The location of the node, if different from instance location.
        perSliEligibility:
          description: >-
            If present, this will override eligibility for the node coming from
            instance or exclusions for specified SLIs.
          $ref: >-
            #/components/schemas/GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility
        nodeId:
          description: >-
            The id of the node. This should be equal to
            SaasInstanceNode.node_id.
          type: string
    TestIamPermissionsResponse:
      description: Response message for `TestIamPermissions` method.
      type: object
      properties:
        permissions:
          items:
            type: string
          description: >-
            A subset of `TestPermissionsRequest.permissions` that the caller is
            allowed.
          type: array
      id: TestIamPermissionsResponse
    TestIamPermissionsRequest:
      description: Request message for `TestIamPermissions` method.
      type: object
      properties:
        permissions:
          description: >-
            The set of permissions to check for the `resource`. Permissions with
            wildcards (such as `*` or `storage.*`) are not allowed. For more
            information see [IAM
            Overview](https://cloud.google.com/iam/docs/overview#permissions).
          type: array
          items:
            type: string
      id: TestIamPermissionsRequest
    ValidateTrustRequest:
      properties:
        trust:
          description: The domain trust to validate trust state for.
          $ref: '#/components/schemas/Trust'
      type: object
      id: ValidateTrustRequest
    Certificate:
      id: Certificate
      description: Certificate used to configure LDAPS.
      properties:
        thumbprint:
          type: string
          description: >-
            The certificate thumbprint which uniquely identifies the
            certificate.
        subject:
          description: The certificate subject.
          type: string
        issuingCertificate:
          $ref: '#/components/schemas/Certificate'
          description: The issuer of this certificate.
        expireTime:
          type: string
          format: google-datetime
          description: The certificate expire time.
        subjectAlternativeName:
          type: array
          items:
            type: string
          description: The additional hostnames for the domain.
      type: object
    DailyCycle:
      properties:
        startTime:
          $ref: '#/components/schemas/TimeOfDay'
          description: Time within the day to start the operations.
        duration:
          type: string
          format: google-duration
          description: Output only. Duration of the time window, set by service producer.
      type: object
      id: DailyCycle
      description: Time window specified for daily operations.
    ListSQLIntegrationsResponse:
      description: >-
        ListSQLIntegrationsResponse is the response message for
        ListSQLIntegrations method.
      properties:
        sqlIntegrations:
          description: A list of SQLIntegrations of a domain.
          items:
            $ref: '#/components/schemas/SQLIntegration'
          type: array
        nextPageToken:
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
          type: string
        unreachable:
          type: array
          description: A list of locations that could not be reached.
          items:
            type: string
      id: ListSQLIntegrationsResponse
      type: object
    GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource:
      description: Describes provisioned dataplane resources.
      properties:
        resourceUrl:
          type: string
          description: >-
            URL identifying the resource, e.g.
            "https://www.googleapis.com/compute/v1/projects/...)".
        resourceType:
          description: >-
            Type of the resource. This can be either a GCP resource or a custom
            one (e.g. another cloud provider's VM). For GCP compute resources
            use singular form of the names listed in GCP compute API
            documentation
            (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed
            with 'compute-', for example: 'compute-instance', 'compute-disk',
            'compute-autoscaler'.
          type: string
      type: object
      id: GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource
    CancelOperationRequest:
      id: CancelOperationRequest
      type: object
      properties: {}
      description: The request message for Operations.CancelOperation.
    Location:
      type: object
      id: Location
      properties:
        metadata:
          description: >-
            Service-specific metadata. For example the available capacity at the
            given location.
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          type: object
        locationId:
          type: string
          description: 'The canonical id for this location. For example: `"us-east1"`.'
        name:
          type: string
          description: >-
            Resource name for the location, which may vary between
            implementations. For example:
            `"projects/example-project/locations/us-east1"`
        labels:
          type: object
          additionalProperties:
            type: string
          description: >-
            Cross-service attributes for the location. For example
            {"cloud.googleapis.com/region": "us-east1"}
        displayName:
          type: string
          description: >-
            The friendly name for this location, typically a nearby city name.
            For example, "Tokyo".
      description: A resource that represents a Google Cloud location.
    GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter:
      type: object
      properties:
        values:
          items:
            type: string
          description: >-
            Optional. Array of string values. e.g. instance's replica
            information.
          type: array
      description: Contains notification related data.
      id: GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter
    UpdatePolicy:
      id: UpdatePolicy
      properties:
        denyMaintenancePeriods:
          description: >-
            Deny Maintenance Period that is applied to resource to indicate when
            maintenance is forbidden. User can specify zero or more
            non-overlapping deny periods. Maximum number of
            deny_maintenance_periods expected is one.
          items:
            $ref: '#/components/schemas/DenyMaintenancePeriod'
          type: array
        window:
          $ref: '#/components/schemas/MaintenanceWindow'
          description: >-
            Optional. Maintenance window that is applied to resources covered by
            this policy.
        channel:
          description: Optional. Relative scheduling channel applied to resource.
          type: string
          enumDescriptions:
            - Unspecified channel.
            - Early channel within a customer project.
            - Later channel within a customer project.
            - >-
              ! ! The follow channels can ONLY be used if you adopt the new MW
              system! ! ! NOTE: all WEEK channels are assumed to be under a
              weekly window. ! There is currently no dedicated channel
              definitions for Daily windows. ! If you use Daily window, the
              system will assume a 1d (24Hours) advanced ! notification period
              b/w EARLY and LATER. ! We may consider support more flexible daily
              channel specifications in ! the future. WEEK1 == EARLIER with
              minimum 7d advanced notification. {7d, 14d} The system will treat
              them equally and will use WEEK1 whenever it can. New customers are
              encouraged to use this channel annotation.
            - WEEK2 == LATER with minimum 14d advanced notification {14d, 21d}.
            - >-
              WEEK5 == 40d support. minimum 35d advanced notification {35d,
              42d}.
          enum:
            - UPDATE_CHANNEL_UNSPECIFIED
            - EARLIER
            - LATER
            - WEEK1
            - WEEK2
            - WEEK5
      type: object
      description: Maintenance policy applicable to instance updates.
    GoogleCloudManagedidentitiesV1beta1OpMetadata:
      id: GoogleCloudManagedidentitiesV1beta1OpMetadata
      properties:
        requestedCancellation:
          type: boolean
          description: >-
            Output only. Identifies whether the user has requested cancellation
            of the operation. Operations that have successfully been cancelled
            have Operation.error value with a google.rpc.Status.code of 1,
            corresponding to `Code.CANCELLED`.
          readOnly: true
        verb:
          type: string
          description: Output only. Name of the verb executed by the operation.
          readOnly: true
        target:
          readOnly: true
          type: string
          description: >-
            Output only. Server-defined resource path for the target of the
            operation.
        apiVersion:
          type: string
          description: Output only. API version used to start the operation.
          readOnly: true
        createTime:
          format: google-datetime
          type: string
          readOnly: true
          description: Output only. The time the operation was created.
        endTime:
          readOnly: true
          type: string
          format: google-datetime
          description: Output only. The time the operation finished running.
      type: object
      description: Represents the metadata of the long-running operation.
    GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings:
      description: >-
        Maintenance settings associated with instance. Allows service producers
        and end users to assign settings that controls maintenance on this
        instance.
      type: object
      id: GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings
      properties:
        exclude:
          description: >-
            Optional. Exclude instance from maintenance. When true, rollout
            service will not attempt maintenance on the instance. Rollout
            service will include the instance in reported rollout progress as
            not attempted.
          type: boolean
        isRollback:
          type: boolean
          description: >-
            Optional. If the update call is triggered from rollback, set the
            value as true.
        maintenancePolicies:
          additionalProperties:
            $ref: '#/components/schemas/MaintenancePolicy'
          type: object
          description: >-
            Optional. The MaintenancePolicies that have been attached to the
            instance. The key must be of the type name of the oneof policy name
            defined in MaintenancePolicy, and the embedded policy must define
            the same policy type. For details, please refer to
            go/cloud-saas-mw-ug. Should not be set if maintenance_policy_names
            is set. If only the name is needed, then only populate
            MaintenancePolicy.name.
    Operation:
      type: object
      description: >-
        This resource represents a long-running operation that is the result of
        a network API call.
      id: Operation
      properties:
        response:
          type: object
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          description: >-
            The normal response of the operation in case of success. If the
            original method returns no data on success, such as `Delete`, the
            response is `google.protobuf.Empty`. If the original method is
            standard `Get`/`Create`/`Update`, the response should be the
            resource. For other methods, the response should have the type
            `XxxResponse`, where `Xxx` is the original method name. For example,
            if the original method name is `TakeSnapshot()`, the inferred
            response type is `TakeSnapshotResponse`.
        name:
          type: string
          description: >-
            The server-assigned name, which is only unique within the same
            service that originally returns it. If you use the default HTTP
            mapping, the `name` should be a resource name ending with
            `operations/{unique_id}`.
        error:
          description: >-
            The error result of the operation in case of failure or
            cancellation.
          $ref: '#/components/schemas/Status'
        metadata:
          description: >-
            Service-specific metadata associated with the operation. It
            typically contains progress information and common metadata such as
            create time. Some services might not provide such metadata. Any
            method that returns a long-running operation should document the
            metadata type, if any.
          type: object
          additionalProperties:
            type: any
            description: Properties of the object. Contains field @type with type URL.
        done:
          type: boolean
          description: >-
            If the value is `false`, it means the operation is still in
            progress. If `true`, the operation is completed, and either `error`
            or `response` is available.
    GoogleCloudManagedidentitiesV1alpha1OpMetadata:
      id: GoogleCloudManagedidentitiesV1alpha1OpMetadata
      properties:
        endTime:
          description: Output only. The time the operation finished running.
          readOnly: true
          format: google-datetime
          type: string
        apiVersion:
          type: string
          description: Output only. API version used to start the operation.
          readOnly: true
        verb:
          readOnly: true
          description: Output only. Name of the verb executed by the operation.
          type: string
        target:
          description: >-
            Output only. Server-defined resource path for the target of the
            operation.
          readOnly: true
          type: string
        requestedCancellation:
          description: >-
            Output only. Identifies whether the user has requested cancellation
            of the operation. Operations that have successfully been cancelled
            have Operation.error value with a google.rpc.Status.code of 1,
            corresponding to `Code.CANCELLED`.
          type: boolean
          readOnly: true
        createTime:
          readOnly: true
          type: string
          format: google-datetime
          description: Output only. The time the operation was created.
      description: Represents the metadata of the long-running operation.
      type: object
    Binding:
      properties:
        role:
          type: string
          description: >-
            Role that is assigned to the list of `members`, or principals. For
            example, `roles/viewer`, `roles/editor`, or `roles/owner`.
        members:
          type: array
          items:
            type: string
          description: >-
            Specifies the principals requesting access for a Google Cloud
            resource. `members` can have the following values: * `allUsers`: A
            special identifier that represents anyone who is on the internet;
            with or without a Google account. * `allAuthenticatedUsers`: A
            special identifier that represents anyone who is authenticated with
            a Google account or a service account. Does not include identities
            that come from external identity providers (IdPs) through identity
            federation. * `user:{emailid}`: An email address that represents a
            specific Google account. For example, `alice@example.com` . *
            `serviceAccount:{emailid}`: An email address that represents a
            Google service account. For example,
            `my-other-app@appspot.gserviceaccount.com`. *
            `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:
            An identifier for a [Kubernetes service
            account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).
            For example,
            `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. *
            `group:{emailid}`: An email address that represents a Google group.
            For example, `admins@example.com`. * `domain:{domain}`: The G Suite
            domain (primary) that represents all the users of that domain. For
            example, `google.com` or `example.com`. *
            `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus
            unique identifier) representing a user that has been recently
            deleted. For example, `alice@example.com?uid=123456789012345678901`.
            If the user is recovered, this value reverts to `user:{emailid}` and
            the recovered user retains the role in the binding. *
            `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address
            (plus unique identifier) representing a service account that has
            been recently deleted. For example,
            `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.
            If the service account is undeleted, this value reverts to
            `serviceAccount:{emailid}` and the undeleted service account retains
            the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`:
            An email address (plus unique identifier) representing a Google
            group that has been recently deleted. For example,
            `admins@example.com?uid=123456789012345678901`. If the group is
            recovered, this value reverts to `group:{emailid}` and the recovered
            group retains the role in the binding.
        condition:
          $ref: '#/components/schemas/Expr'
          description: >-
            The condition that is associated with this binding. If the condition
            evaluates to `true`, then this binding applies to the current
            request. If the condition evaluates to `false`, then this binding
            does not apply to the current request. However, a different role
            binding might grant the same role to one or more of the principals
            in this binding. To learn which resources support conditions in
            their IAM policies, see the [IAM
            documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
      type: object
      description: Associates `members`, or principals, with a `role`.
      id: Binding
    ListDomainsResponse:
      type: object
      id: ListDomainsResponse
      properties:
        domains:
          description: A list of Managed Identities Service domains in the project.
          items:
            $ref: '#/components/schemas/Domain'
          type: array
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
        unreachable:
          items:
            type: string
          type: array
          description: Locations that could not be reached.
    ListPeeringsResponse:
      description: ListPeeringsResponse is the response message for ListPeerings method.
      type: object
      properties:
        unreachable:
          type: array
          description: Locations that could not be reached.
          items:
            type: string
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
        peerings:
          items:
            $ref: '#/components/schemas/Peering'
          description: A list of Managed Identities Service Peerings in the project.
          type: array
      id: ListPeeringsResponse
    RestoreDomainRequest:
      type: object
      description: RestoreDomainRequest is the request received by RestoreDomain rpc
      properties:
        backupId:
          description: Required. ID of the backup to be restored
          type: string
      id: RestoreDomainRequest
    OnPremDomainDetails:
      type: object
      id: OnPremDomainDetails
      description: >-
        OnPremDomainDetails is the message which contains details of on-prem
        domain which is trusted and needs to be migrated.
      properties:
        disableSidFiltering:
          type: boolean
          description: Optional. Option to disable SID filtering.
        domainName:
          type: string
          description: Required. FQDN of the on-prem domain being migrated.
    GoogleCloudSaasacceleratorManagementProvidersV1Instance:
      id: GoogleCloudSaasacceleratorManagementProvidersV1Instance
      description: >-
        Instance represents the interface for SLM services to actuate the state
        of control plane resources. Example Instance in JSON, where
        consumer-project-number=123456, producer-project-id=cloud-sql: ```json
        Instance: { "name":
        "projects/123456/locations/us-east1/instances/prod-instance",
        "create_time": { "seconds": 1526406431, }, "labels": { "env": "prod",
        "foo": "bar" }, "state": READY, "software_versions": {
        "software_update": "cloud-sql-09-28-2018", },
        "maintenance_policy_names": { "UpdatePolicy":
        "projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy",
        } "tenant_project_id": "cloud-sql-test-tenant", "producer_metadata": {
        "cloud-sql-tier": "basic", "cloud-sql-instance-size": "1G", },
        "provisioned_resources": [ { "resource-type": "compute-instance",
        "resource-url":
        "https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1",
        } ], "maintenance_schedules": { "csa_rollout": { "start_time": {
        "seconds": 1526406431, }, "end_time": { "seconds": 1535406431, }, },
        "ncsa_rollout": { "start_time": { "seconds": 1526406431, }, "end_time":
        { "seconds": 1535406431, }, } }, "consumer_defined_name":
        "my-sql-instance1", } ``` LINT.IfChange
      properties:
        producerMetadata:
          additionalProperties:
            type: string
          description: >-
            Output only. Custom string attributes used primarily to expose
            producer-specific information in monitoring dashboards. See
            go/get-instance-metadata.
          readOnly: true
          type: object
        state:
          description: >-
            Output only. Current lifecycle state of the resource (e.g. if it's
            being created or ready to use).
          readOnly: true
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - READY
            - UPDATING
            - REPAIRING
            - DELETING
            - ERROR
          type: string
          enumDescriptions:
            - Unspecified state.
            - Instance is being created.
            - Instance has been created and is ready to use.
            - Instance is being updated.
            - Instance is unheathy and under repair.
            - Instance is being deleted.
            - Instance encountered an error and is in indeterministic state.
        updateTime:
          readOnly: true
          description: Output only. Timestamp when the resource was last modified.
          format: google-datetime
          type: string
        sloMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata
          readOnly: true
          description: >-
            Output only. SLO metadata for instance classification in the
            Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo
            for feature description.
        consumerDefinedName:
          type: string
          description: >-
            consumer_defined_name is the name of the instance set by the service
            consumers. Generally this is different from the `name` field which
            reperesents the system-assigned id of the instance which the service
            consumers do not recognize. This is a required field for tenants
            onboarding to Maintenance Window notifications
            (go/slm-rollout-maintenance-policies#prerequisites).
        notificationParameters:
          description: >-
            Optional. notification_parameter are information that service
            producers may like to include that is not relevant to Rollout. This
            parameter will only be passed to Gamma and Cloud Logging for
            notification/logging purpose.
          type: object
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter
        createTime:
          description: Output only. Timestamp when the resource was created.
          readOnly: true
          format: google-datetime
          type: string
        labels:
          additionalProperties:
            type: string
          description: >-
            Optional. Resource labels to represent user provided metadata. Each
            label is a key-value pair, where both the key and the value are
            arbitrary strings provided by the user.
          type: object
        maintenanceSchedules:
          type: object
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule
          description: >-
            The MaintenanceSchedule contains the scheduling information of
            published maintenance schedule with same key as software_versions.
        maintenancePolicyNames:
          description: >-
            Optional. The MaintenancePolicies that have been attached to the
            instance. The key must be of the type name of the oneof policy name
            defined in MaintenancePolicy, and the referenced policy must define
            the same policy type. For details, please refer to
            go/cloud-saas-mw-ug. Should not be set if
            maintenance_settings.maintenance_policies is set.
          additionalProperties:
            type: string
          type: object
        tenantProjectId:
          readOnly: true
          description: >-
            Output only. ID of the associated GCP tenant project. See
            go/get-instance-metadata.
          type: string
        slmInstanceTemplate:
          description: >-
            Link to the SLM instance template. Only populated when updating SLM
            instances via SSA's Actuation service adaptor. Service producers
            with custom control plane (e.g. Cloud SQL) doesn't need to populate
            this field. Instead they should use software_versions.
          type: string
        softwareVersions:
          additionalProperties:
            type: string
          description: >-
            Software versions that are used to deploy this instance. This can be
            mutated by rollout services.
          type: object
        name:
          type: string
          description: >-
            Unique name of the resource. It uses the form:
            `projects/{project_number}/locations/{location_id}/instances/{instance_id}`
            Note: This name is passed, stored and logged across the rollout
            system. So use of consumer project_id or any other consumer PII in
            the name is strongly discouraged for wipeout (go/wipeout)
            compliance. See go/elysium/project_ids#storage-guidance for more
            details.
        instanceType:
          type: string
          description: >-
            Optional. The instance_type of this instance of format:
            projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}.
            Instance Type represents a high-level tier or SKU of the service
            that this instance belong to. When enabled(eg: Maintenance Rollout),
            Rollout uses 'instance_type' along with 'software_versions' to
            determine whether instance needs an update or not.
        provisionedResources:
          description: >-
            Output only. The list of data plane resources provisioned for this
            instance, e.g. compute VMs. See go/get-instance-metadata.
          readOnly: true
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource
        maintenanceSettings:
          $ref: >-
            #/components/schemas/GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings
          description: Optional. The MaintenanceSettings associated with instance.
      type: object
    WeeklyCycle:
      properties:
        schedule:
          description: User can specify multiple windows in a week. Minimum of 1 window.
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
      id: WeeklyCycle
      description: Time window specified for weekly operations.
      type: object
    ListLocationsResponse:
      type: object
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/Location'
          description: >-
            A list of locations that matches the specified filter in the
            request.
        nextPageToken:
          description: The standard List next-page token.
          type: string
      description: The response message for Locations.ListLocations.
      id: ListLocationsResponse
    EnableMigrationRequest:
      properties:
        migratingDomains:
          description: Required. List of the on-prem domains to be migrated.
          type: array
          items:
            $ref: '#/components/schemas/OnPremDomainDetails'
      type: object
      description: >-
        EnableMigrationRequest is the request message for EnableMigration
        method.
      id: EnableMigrationRequest
    Backup:
      type: object
      id: Backup
      description: Represents a Managed Microsoft Identities backup.
      properties:
        state:
          enumDescriptions:
            - Not set.
            - Backup is being created.
            - Backup has been created and validated.
            - Backup has been created but failed validation.
            - Backup is being deleted.
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - ACTIVE
            - FAILED
            - DELETING
          type: string
          readOnly: true
          description: Output only. The current state of the backup.
        labels:
          type: object
          description: Optional. Resource labels to represent user provided metadata.
          additionalProperties:
            type: string
        name:
          readOnly: true
          description: >-
            Output only. The unique name of the Backup in the form of
            projects/{project_id}/locations/global/domains/{domain_name}/backups/{name}
          type: string
        description:
          type: string
          description: Optional. A short description of the backup.
        createTime:
          description: Output only. The time the backups was created.
          type: string
          readOnly: true
          format: google-datetime
        type:
          description: >-
            Output only. Indicates whether it’s an on-demand backup or
            scheduled.
          type: string
          enumDescriptions:
            - Backup type not specified.
            - Backup was manually created.
            - Backup was automatically created.
            - Backup was taken as part of Schema Extension request.
          readOnly: true
          enum:
            - TYPE_UNSPECIFIED
            - ON_DEMAND
            - SCHEDULED
            - SCHEMA_EXTENSION
        statusMessage:
          description: >-
            Output only. Additional information about the current status of this
            backup, if available.
          type: string
          readOnly: true
        updateTime:
          format: google-datetime
          readOnly: true
          type: string
          description: Output only. Last update time.
    ReconfigureTrustRequest:
      id: ReconfigureTrustRequest
      properties:
        trust:
          description: The domain trust resource with updated dns conditional forwarder.
          $ref: '#/components/schemas/Trust'
      type: object
    DomainJoinMachineRequest:
      id: DomainJoinMachineRequest
      properties:
        ouName:
          type: string
          description: Optional. OU name where the VM needs to be domain joined
        force:
          type: boolean
          description: >-
            Optional. force if True, forces domain join even if the computer
            account already exists.
        vmIdToken:
          description: >-
            Required. Full instance id token of compute engine VM to verify
            instance identity. More about this:
            https://cloud.google.com/compute/docs/instances/verifying-instance-identity#request_signature
          type: string
      description: >-
        DomainJoinMachineRequest is the request message for DomainJoinMachine
        method
      type: object
  parameters:
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/cloud-platform: >-
              See, edit, configure, and delete your Google Cloud data and see
              the email address for your Google Account.
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1alpha1/projects/{projectsId}/locations:
    parameters: &ref_1
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/oauth_token'
    get:
      description: Lists information about the supported locations for this service.
      operationId: managedidentities.projects.locations.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: filter
          schema:
            type: string
      x-stackQL-resource: locations
      x-stackQL-verb: select
  /v1alpha1/projects/{projectsId}/locations/{locationsId}:
    parameters: *ref_1
    get:
      description: Gets information about a location.
      operationId: managedidentities.projects.locations.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: locations
      x-stackQL-verb: select
  /v1alpha1/projects/{projectsId}/locations/global/operations/{operationsId}:cancel:
    parameters: *ref_1
    post:
      description: >-
        Starts asynchronous cancellation on a long-running operation. The server
        makes a best effort to cancel the operation, but success is not
        guaranteed. If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation
        or other methods to check whether the cancellation succeeded or whether
        the operation completed despite cancellation. On successful
        cancellation, the operation is not deleted; instead, it becomes an
        operation with an Operation.error value with a google.rpc.Status.code of
        1, corresponding to `Code.CANCELLED`.
      operationId: managedidentities.projects.locations.global.operations.cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOperationRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: operationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: operations
      x-stackQL-verb: exec
  /v1alpha1/projects/{projectsId}/locations/global/operations/{operationsId}:
    parameters: *ref_1
    delete:
      description: >-
        Deletes a long-running operation. This method indicates that the client
        is no longer interested in the operation result. It does not cancel the
        operation. If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`.
      operationId: managedidentities.projects.locations.global.operations.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: operationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: operations
      x-stackQL-verb: delete
    get:
      description: >-
        Gets the latest state of a long-running operation. Clients can use this
        method to poll the operation result at intervals as recommended by the
        API service.
      operationId: managedidentities.projects.locations.global.operations.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: operationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: operations
      x-stackQL-verb: select
  /v1alpha1/projects/{projectsId}/locations/global/operations:
    parameters: *ref_1
    get:
      description: >-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: managedidentities.projects.locations.global.operations.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: operations
      x-stackQL-verb: select
  /v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}:getIamPolicy:
    parameters: *ref_1
    get:
      description: >-
        Gets the access control policy for a resource. Returns an empty policy
        if the resource exists and does not have a policy set.
      operationId: managedidentities.projects.locations.global.peerings.getIamPolicy
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: peeringsId
          required: true
          schema:
            type: string
        - in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      x-stackQL-resource: peerings_iam_policies
      x-stackQL-verb: select
  /v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}:setIamPolicy:
    parameters: *ref_1
    post:
      description: >-
        Sets the access control policy on the specified resource. Replaces any
        existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and
        `PERMISSION_DENIED` errors.
      operationId: managedidentities.projects.locations.global.peerings.setIamPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: peeringsId
          required: true
          schema:
            type: string
      x-stackQL-resource: peerings_iam_policies
      x-stackQL-verb: exec
  /v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}:
    parameters: *ref_1
    get:
      description: Gets details of a single Peering.
      operationId: managedidentities.projects.locations.global.peerings.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: peeringsId
          required: true
          schema:
            type: string
      x-stackQL-resource: peerings
      x-stackQL-verb: select
    patch:
      description: Updates the labels for specified Peering.
      operationId: managedidentities.projects.locations.global.peerings.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Peering'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: peeringsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: peerings
      x-stackQL-verb: exec
    delete:
      description: Deletes identified Peering.
      operationId: managedidentities.projects.locations.global.peerings.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: peeringsId
          required: true
          schema:
            type: string
      x-stackQL-resource: peerings
      x-stackQL-verb: delete
  /v1alpha1/projects/{projectsId}/locations/global/peerings:
    parameters: *ref_1
    post:
      description: Creates a Peering for Managed AD instance.
      operationId: managedidentities.projects.locations.global.peerings.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Peering'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: query
          name: peeringId
          schema:
            type: string
      x-stackQL-resource: peerings
      x-stackQL-verb: insert
    get:
      description: Lists Peerings in a given project.
      operationId: managedidentities.projects.locations.global.peerings.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPeeringsResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: orderBy
          schema:
            type: string
      x-stackQL-resource: peerings
      x-stackQL-verb: select
  /v1alpha1/projects/{projectsId}/locations/global/peerings/{peeringsId}:testIamPermissions:
    parameters: *ref_1
    post:
      description: >-
        Returns permissions that a caller has on the specified resource. If the
        resource does not exist, this will return an empty set of permissions,
        not a `NOT_FOUND` error. Note: This operation is designed to be used for
        building permission-aware UIs and command-line tools, not for
        authorization checking. This operation may "fail open" without warning.
      operationId: managedidentities.projects.locations.global.peerings.testIamPermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
      parameters:
        - in: path
          name: projectsId
[...]
