openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Tag Manager API
  description: >-
    This API allows clients to access and modify container and tag
    configuration.
  version: v2
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/tag-manager
servers:
  - url: https://tagmanager.googleapis.com
components:
  schemas:
    ListFoldersResponse:
      properties:
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
        folder:
          items:
            $ref: '#/components/schemas/Folder'
          type: array
          description: All GTM Folders of a GTM Container.
      id: ListFoldersResponse
      description: List Folders Response.
      type: object
    ListContainerVersionsResponse:
      id: ListContainerVersionsResponse
      properties:
        nextPageToken:
          type: string
          description: Continuation token for fetching the next page of results.
        containerVersionHeader:
          items:
            $ref: '#/components/schemas/ContainerVersionHeader'
          type: array
          description: All container version headers of a GTM Container.
      description: List container versions response.
      type: object
    SyncStatus:
      description: The status of a workspace after synchronization.
      properties:
        mergeConflict:
          type: boolean
          description: Synchornization operation detected a merge conflict.
        syncError:
          type: boolean
          description: An error occurred during the synchronization operation.
      id: SyncStatus
      type: object
    RevertBuiltInVariableResponse:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the built-in variable is enabled after reversion.
      id: RevertBuiltInVariableResponse
      description: The result of reverting a built-in variable in a workspace.
    ListDestinationsResponse:
      properties:
        destination:
          items:
            $ref: '#/components/schemas/Destination'
          description: All Destinations linked to a GTM Container.
          type: array
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
      id: ListDestinationsResponse
      type: object
    MergeConflict:
      properties:
        entityInBaseVersion:
          description: >-
            The base version entity (since the latest sync operation) that has
            conflicting changes compared to the workspace. If this field is
            missing, it means the workspace entity is deleted from the base
            version.
          $ref: '#/components/schemas/Entity'
        entityInWorkspace:
          description: >-
            The workspace entity that has conflicting changes compared to the
            base version. If an entity is deleted in a workspace, it will still
            appear with a deleted change status.
          $ref: '#/components/schemas/Entity'
      description: Represents a merge conflict.
      type: object
      id: MergeConflict
    ListAccountsResponse:
      description: List Accounts Response.
      type: object
      properties:
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
        account:
          description: List of GTM Accounts that a user has access to.
          type: array
          items:
            $ref: '#/components/schemas/Account'
      id: ListAccountsResponse
    QuickPreviewResponse:
      properties:
        containerVersion:
          $ref: '#/components/schemas/ContainerVersion'
          description: The quick previewed container version.
        syncStatus:
          $ref: '#/components/schemas/SyncStatus'
          description: >-
            Whether quick previewing failed when syncing the workspace to the
            latest container version.
        compilerError:
          type: boolean
          description: Were there compiler errors or not.
      description: Response to quick previewing a workspace.
      id: QuickPreviewResponse
      type: object
    ListVariablesResponse:
      id: ListVariablesResponse
      type: object
      description: List Variables Response.
      properties:
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
        variable:
          description: All GTM Variables of a GTM Container.
          items:
            $ref: '#/components/schemas/Variable'
          type: array
    TeardownTag:
      id: TeardownTag
      type: object
      description: >-
        Represents a tag that fires after another tag in order to tear down
        dependencies.
      properties:
        tagName:
          description: The name of the teardown tag.
          type: string
        stopTeardownOnFailure:
          description: >-
            If true, fire the teardown tag if and only if the main tag fires
            successfully. If false, fire the teardown tag regardless of main tag
            firing status.
          type: boolean
    RevertTagResponse:
      description: The result of reverting a tag in a workspace.
      id: RevertTagResponse
      properties:
        tag:
          description: >-
            Tag as it appears in the latest container version since the last
            workspace synchronization operation. If no tag is present, that
            means the tag was deleted in the latest container version.
          $ref: '#/components/schemas/Tag'
      type: object
    RevertTriggerResponse:
      type: object
      id: RevertTriggerResponse
      description: The result of reverting a trigger in a workspace.
      properties:
        trigger:
          $ref: '#/components/schemas/Trigger'
          description: >-
            Trigger as it appears in the latest container version since the last
            workspace synchronization operation. If no trigger is present, that
            means the trigger was deleted in the latest container version.
    ListContainersResponse:
      description: List Containers Response.
      id: ListContainersResponse
      type: object
      properties:
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
        container:
          type: array
          description: All Containers of a GTM Account.
          items:
            $ref: '#/components/schemas/Container'
    CreateContainerVersionResponse:
      id: CreateContainerVersionResponse
      properties:
        newWorkspacePath:
          description: >-
            Auto generated workspace path created as a result of version
            creation. This field should only be populated if the created version
            was not a quick preview.
          type: string
        syncStatus:
          description: >-
            Whether version creation failed when syncing the workspace to the
            latest container version.
          $ref: '#/components/schemas/SyncStatus'
        compilerError:
          description: Compiler errors or not.
          type: boolean
        containerVersion:
          description: The container version created.
          $ref: '#/components/schemas/ContainerVersion'
      type: object
      description: Create container versions response.
    GetWorkspaceStatusResponse:
      properties:
        mergeConflict:
          type: array
          items:
            $ref: '#/components/schemas/MergeConflict'
          description: The merge conflict after sync.
        workspaceChange:
          type: array
          description: Entities that have been changed in the workspace.
          items:
            $ref: '#/components/schemas/Entity'
      type: object
      id: GetWorkspaceStatusResponse
      description: >-
        The changes that have occurred in the workspace since the base container
        version.
    ContainerVersionHeader:
      description: Represents a Google Tag Manager Container Version Header.
      properties:
        containerId:
          description: GTM Container ID.
          type: string
        numGtagConfigs:
          description: Number of Google tag configs in the container version.
          type: string
        accountId:
          type: string
          description: GTM Account ID.
        numTags:
          type: string
          description: Number of tags in the container version.
        path:
          description: GTM Container Version's API relative path.
          type: string
        containerVersionId:
          description: >-
            The Container Version ID uniquely identifies the GTM Container
            Version.
          type: string
        numTransformations:
          description: Number of transformations in the container version.
          type: string
        numZones:
          description: Number of zones in the container version.
          type: string
        numRules:
          type: string
          description: Number of rules in the container version.
        numCustomTemplates:
          description: Number of custom templates in the container version.
          type: string
        numMacros:
          description: Number of macros in the container version.
          type: string
        numVariables:
          type: string
          description: Number of variables in the container version.
        numClients:
          description: Number of clients in the container version.
          type: string
        numTriggers:
          description: Number of triggers in the container version.
          type: string
        name:
          description: Container version display name.
          type: string
        deleted:
          description: A value of true indicates this container version has been deleted.
          type: boolean
      type: object
      id: ContainerVersionHeader
    Condition:
      type: object
      description: Represents a predicate.
      properties:
        type:
          description: >-
            The type of operator for this condition. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - >-
              NOTE(lanzone): When defining a ConditionType here, don't forget to
              also define a matching PredicateType (in condition.proto).
          enum:
            - conditionTypeUnspecified
            - equals
            - contains
            - startsWith
            - endsWith
            - matchRegex
            - greater
            - greaterOrEquals
            - less
            - lessOrEquals
            - cssSelector
            - urlMatches
          type: string
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.triggers.create
              - tagmanager.accounts.containers.workspaces.triggers.update
        parameter:
          type: array
          items:
            $ref: '#/components/schemas/Parameter'
          description: >-
            A list of named parameters (key/value), depending on the condition's
            type. Notes: - For binary operators, include parameters named arg0
            and arg1 for specifying the left and right operands, respectively. -
            At this time, the left operand (arg0) must be a reference to a
            variable. - For case-insensitive Regex matching, include a boolean
            parameter named ignore_case that is set to true. If not specified or
            set to any other value, the matching will be case sensitive. - To
            negate an operator, include a boolean parameter named negate boolean
            parameter that is set to true. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.triggers.create
              - tagmanager.accounts.containers.workspaces.triggers.update
      id: Condition
    Tag:
      properties:
        containerId:
          description: GTM Container ID.
          type: string
        paused:
          description: >-
            Indicates whether the tag is paused, which prevents the tag from
            firing. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: boolean
        monitoringMetadata:
          description: >-
            A map of key-value pairs of tag metadata to be included in the event
            data for tag monitoring. Notes: - This parameter must be type MAP. -
            Each parameter in the map are type TEMPLATE, however cannot contain
            variable references. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          $ref: '#/components/schemas/Parameter'
        notes:
          description: >-
            User notes on how to apply this tag in the container. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: string
        teardownTag:
          description: The list of teardown tags. Currently we only allow one.
          items:
            $ref: '#/components/schemas/TeardownTag'
          type: array
        fingerprint:
          type: string
          description: >-
            The fingerprint of the GTM Tag as computed at storage time. This
            value is recomputed whenever the tag is modified.
        blockingRuleId:
          items:
            type: string
          description: >-
            Blocking rule IDs. If any of the listed rules evaluate to true, the
            tag will not fire. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: array
        name:
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.tags.create
              - tagmanager.accounts.containers.workspaces.tags.update
          description: >-
            Tag display name. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: string
        parentFolderId:
          description: Parent folder id.
          type: string
        accountId:
          description: GTM Account ID.
          type: string
        priority:
          $ref: '#/components/schemas/Parameter'
          description: >-
            User defined numeric priority of the tag. Tags are fired
            asynchronously in order of priority. Tags with higher numeric value
            fire first. A tag's priority can be a positive or negative value.
            The default value is 0. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
        setupTag:
          items:
            $ref: '#/components/schemas/SetupTag'
          type: array
          description: The list of setup tags. Currently we only allow one.
        scheduleStartMs:
          type: string
          description: >-
            The start timestamp in milliseconds to schedule a tag. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          format: int64
        tagFiringOption:
          description: Option to fire this tag.
          type: string
          enumDescriptions:
            - ''
            - Tag can be fired multiple times per event.
            - >-
              Tag can only be fired per event but can be fired multiple times
              per load (e.g., app load or page load).
            - Tag can only be fired per load (e.g., app load or page load).
          enum:
            - tagFiringOptionUnspecified
            - unlimited
            - oncePerEvent
            - oncePerLoad
        firingTriggerId:
          description: >-
            Firing trigger IDs. A tag will fire when any of the listed triggers
            are true and all of its blockingTriggerIds (if any specified) are
            false. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: array
          items:
            type: string
        path:
          description: GTM Tag's API relative path.
          type: string
        type:
          type: string
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.tags.create
              - tagmanager.accounts.containers.workspaces.tags.update
          description: >-
            GTM Tag Type. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
        blockingTriggerId:
          items:
            type: string
          type: array
          description: >-
            Blocking trigger IDs. If any of the listed triggers evaluate to
            true, the tag will not fire. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
        firingRuleId:
          type: array
          description: >-
            Firing rule IDs. A tag will fire when any of the listed rules are
            true and all of its blockingRuleIds (if any specified) are false.
            @mutable tagmanager.accounts.containers.workspaces.tags.create
            @mutable tagmanager.accounts.containers.workspaces.tags.update
          items:
            type: string
        monitoringMetadataTagNameKey:
          type: string
          description: >-
            If non-empty, then the tag display name will be included in the
            monitoring metadata map using the key specified. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
        scheduleEndMs:
          description: >-
            The end timestamp in milliseconds to schedule a tag. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          format: int64
          type: string
        tagManagerUrl:
          type: string
          description: Auto generated link to the tag manager UI
        workspaceId:
          description: GTM Workspace ID.
          type: string
        consentSettings:
          description: >-
            Consent settings of a tag. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          $ref: '#/components/schemas/TagConsentSetting'
        parameter:
          items:
            $ref: '#/components/schemas/Parameter'
          description: >-
            The tag's parameters. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: array
        tagId:
          description: The Tag ID uniquely identifies the GTM Tag.
          type: string
        liveOnly:
          description: >-
            If set to true, this tag will only fire in the live environment
            (e.g. not in preview or debug mode). @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: boolean
      id: Tag
      description: Represents a Google Tag Manager Tag.
      type: object
    ListEnabledBuiltInVariablesResponse:
      id: ListEnabledBuiltInVariablesResponse
      description: A list of enabled built-in variables.
      type: object
      properties:
        nextPageToken:
          type: string
          description: Continuation token for fetching the next page of results.
        builtInVariable:
          type: array
          items:
            $ref: '#/components/schemas/BuiltInVariable'
          description: All GTM BuiltInVariables of a GTM container.
    ContainerFeatures:
      id: ContainerFeatures
      properties:
        supportVersions:
          type: boolean
          description: Whether this Container supports Container versions.
        supportZones:
          description: Whether this Container supports zones.
          type: boolean
        supportTransformations:
          description: Whether this Container supports transformations.
          type: boolean
        supportEnvironments:
          type: boolean
          description: Whether this Container supports environments.
        supportWorkspaces:
          type: boolean
          description: Whether this Container supports workspaces.
        supportBuiltInVariables:
          description: Whether this Container supports built-in variables
          type: boolean
        supportFolders:
          type: boolean
          description: Whether this Container supports folders.
        supportTemplates:
          type: boolean
          description: Whether this Container supports templates.
        supportUserPermissions:
          description: Whether this Container supports user permissions managed by GTM.
          type: boolean
        supportGtagConfigs:
          description: Whether this Container supports Google tag config.
          type: boolean
        supportClients:
          type: boolean
          description: Whether this Container supports clients.
        supportTriggers:
          type: boolean
          description: Whether this Container supports triggers.
        supportTags:
          description: Whether this Container supports tags.
          type: boolean
        supportVariables:
          type: boolean
          description: Whether this Container supports variables.
      type: object
    Environment:
      id: Environment
      properties:
        authorizationCode:
          description: The environment authorization code.
          type: string
        workspaceId:
          type: string
          description: Represents a link to a quick preview of a workspace.
        type:
          type: string
          enumDescriptions:
            - Points to a user defined environment.
            - Points to the current live container version.
            - Points to the latest container version.
            - >-
              Automatically managed environment that points to a workspace
              preview or version created by a workspace.
          enum:
            - user
            - live
            - latest
            - workspace
          description: The type of this environment.
        environmentId:
          description: GTM Environment ID uniquely identifies the GTM Environment.
          type: string
        enableDebug:
          description: >-
            Whether or not to enable debug by default for the environment.
            @mutable tagmanager.accounts.containers.environments.create @mutable
            tagmanager.accounts.containers.environments.update
          type: boolean
        accountId:
          type: string
          description: GTM Account ID.
        containerVersionId:
          description: Represents a link to a container version.
          type: string
        fingerprint:
          type: string
          description: >-
            The fingerprint of the GTM environment as computed at storage time.
            This value is recomputed whenever the environment is modified.
        description:
          type: string
          description: >-
            The environment description. Can be set or changed only on USER type
            environments. @mutable
            tagmanager.accounts.containers.environments.create @mutable
            tagmanager.accounts.containers.environments.update
        containerId:
          type: string
          description: GTM Container ID.
        url:
          type: string
          description: >-
            Default preview page url for the environment. @mutable
            tagmanager.accounts.containers.environments.create @mutable
            tagmanager.accounts.containers.environments.update
        path:
          type: string
          description: GTM Environment's API relative path.
        tagManagerUrl:
          description: Auto generated link to the tag manager UI
          type: string
        name:
          annotations:
            required:
              - tagmanager.accounts.containers.environments.create
              - tagmanager.accounts.containers.environments.update
          description: >-
            The environment display name. Can be set or changed only on USER
            type environments. @mutable
            tagmanager.accounts.containers.environments.create @mutable
            tagmanager.accounts.containers.environments.update
          type: string
        authorizationTimestamp:
          description: The last update time-stamp for the authorization code.
          type: string
          format: google-datetime
      type: object
      description: >-
        Represents a Google Tag Manager Environment. Note that a user can
        create, delete and update environments of type USER, but can only update
        the enable_debug and url fields of environments of other types.
    RevertClientResponse:
      properties:
        client:
          description: >-
            Client as it appears in the latest container version since the last
            workspace synchronization operation. If no client is present, that
            means the client was deleted in the latest container version.
          $ref: '#/components/schemas/Client'
      type: object
      id: RevertClientResponse
      description: The result of reverting a client in a workspace.
    GetContainerSnippetResponse:
      properties:
        snippet:
          type: string
          description: Tagging snippet for a Container.
      type: object
      id: GetContainerSnippetResponse
    ListTagsResponse:
      type: object
      properties:
        tag:
          items:
            $ref: '#/components/schemas/Tag'
          description: All GTM Tags of a GTM Container.
          type: array
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
      description: List Tags Response.
      id: ListTagsResponse
    RevertFolderResponse:
      properties:
        folder:
          description: >-
            Folder as it appears in the latest container version since the last
            workspace synchronization operation. If no folder is present, that
            means the folder was deleted in the latest container version.
          $ref: '#/components/schemas/Folder'
      type: object
      id: RevertFolderResponse
      description: The result of reverting folder changes in a workspace.
    RevertVariableResponse:
      id: RevertVariableResponse
      description: The result of reverting a variable in a workspace.
      type: object
      properties:
        variable:
          description: >-
            Variable as it appears in the latest container version since the
            last workspace synchronization operation. If no variable is present,
            that means the variable was deleted in the latest container version.
          $ref: '#/components/schemas/Variable'
    RevertTransformationResponse:
      properties:
        transformation:
          description: >-
            Transformation as it appears in the latest container version since
            the last workspace synchronization operation. If no transformation
            is present, that means the transformation was deleted in the latest
            container version.
          $ref: '#/components/schemas/Transformation'
      type: object
      description: The result of reverting a transformation in a workspace.
      id: RevertTransformationResponse
    CreateContainerVersionRequestVersionOptions:
      type: object
      id: CreateContainerVersionRequestVersionOptions
      description: Options for new container versions.
      properties:
        notes:
          type: string
          description: The notes of the container version to be created.
        name:
          description: The name of the container version to be created.
          type: string
    ListTemplatesResponse:
      id: ListTemplatesResponse
      type: object
      properties:
        nextPageToken:
          type: string
          description: Continuation token for fetching the next page of results.
        template:
          type: array
          items:
            $ref: '#/components/schemas/CustomTemplate'
          description: All GTM Custom Templates of a GTM Container.
    Folder:
      description: Represents a Google Tag Manager Folder.
      type: object
      id: Folder
      properties:
        name:
          description: >-
            Folder display name. @mutable
            tagmanager.accounts.containers.workspaces.folders.create @mutable
            tagmanager.accounts.containers.workspaces.folders.update
          type: string
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.folders.create
              - tagmanager.accounts.containers.workspaces.folders.update
        path:
          description: GTM Folder's API relative path.
          type: string
        workspaceId:
          description: GTM Workspace ID.
          type: string
        accountId:
          type: string
          description: GTM Account ID.
        tagManagerUrl:
          description: Auto generated link to the tag manager UI
          type: string
        folderId:
          type: string
          description: The Folder ID uniquely identifies the GTM Folder.
        fingerprint:
          type: string
          description: >-
            The fingerprint of the GTM Folder as computed at storage time. This
            value is recomputed whenever the folder is modified.
        containerId:
          type: string
          description: GTM Container ID.
        notes:
          description: >-
            User notes on how to apply this folder in the container. @mutable
            tagmanager.accounts.containers.workspaces.folders.create @mutable
            tagmanager.accounts.containers.workspaces.folders.update
          type: string
    SetupTag:
      properties:
        tagName:
          description: The name of the setup tag.
          type: string
        stopOnSetupFailure:
          description: >-
            If true, fire the main tag if and only if the setup tag fires
            successfully. If false, fire the main tag regardless of setup tag
            firing status.
          type: boolean
      id: SetupTag
      description: >-
        Represents a reference to atag that fires before another tag in order to
        set up dependencies.
      type: object
    Trigger:
      description: Represents a Google Tag Manager Trigger
      type: object
      id: Trigger
      properties:
        intervalSeconds:
          $ref: '#/components/schemas/Parameter'
          description: >-
            Time between Timer Events to fire (in seconds). Only valid for AMP
            Timer trigger. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        continuousTimeMinMilliseconds:
          description: >-
            A visibility trigger minimum continuous visible time (in
            milliseconds). Only valid for AMP Visibility trigger. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          $ref: '#/components/schemas/Parameter'
        limit:
          $ref: '#/components/schemas/Parameter'
          description: >-
            Limit of the number of GTM events this Timer Trigger will fire. If
            no limit is set, we will continue to fire GTM events until the user
            leaves the page. Only valid for Timer triggers. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        type:
          type: string
          description: >-
            Defines the data layer event that causes this trigger. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.triggers.create
          enum:
            - eventTypeUnspecified
            - pageview
            - domReady
            - windowLoaded
            - customEvent
            - triggerGroup
            - init
            - consentInit
            - serverPageview
            - always
            - firebaseAppException
            - firebaseAppUpdate
            - firebaseCampaign
            - firebaseFirstOpen
            - firebaseInAppPurchase
            - firebaseNotificationDismiss
            - firebaseNotificationForeground
            - firebaseNotificationOpen
            - firebaseNotificationReceive
            - firebaseOsUpdate
            - firebaseSessionStart
            - firebaseUserEngagement
            - formSubmission
            - click
            - linkClick
            - jsError
            - historyChange
            - timer
            - ampClick
            - ampTimer
            - ampScroll
            - ampVisibility
            - youTubeVideo
            - scrollDepth
            - elementVisibility
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
        uniqueTriggerId:
          $ref: '#/components/schemas/Parameter'
          description: >-
            Globally unique id of the trigger that auto-generates this (a Form
            Submit, Link Click or Timer listener) if any. Used to make
            incompatible auto-events work together with trigger filtering based
            on trigger ids. This value is populated during output generation
            since the tags implied by triggers don't exist until then. Only
            valid for Form Submit, Link Click and Timer triggers. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        horizontalScrollPercentageList:
          $ref: '#/components/schemas/Parameter'
          description: >-
            List of integer percentage values for scroll triggers. The trigger
            will fire when each percentage is reached when the view is scrolled
            horizontally. Only valid for AMP scroll triggers. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        workspaceId:
          type: string
          description: GTM Workspace ID.
        selector:
          $ref: '#/components/schemas/Parameter'
          description: >-
            A click trigger CSS selector (i.e. "a", "button" etc.). Only valid
            for AMP Click trigger. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        totalTimeMinMilliseconds:
          $ref: '#/components/schemas/Parameter'
          description: >-
            A visibility trigger minimum total visible time (in milliseconds).
            Only valid for AMP Visibility trigger. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        maxTimerLengthSeconds:
          description: >-
            Max time to fire Timer Events (in seconds). Only valid for AMP Timer
            trigger. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          $ref: '#/components/schemas/Parameter'
        visiblePercentageMax:
          description: >-
            A visibility trigger maximum percent visibility. Only valid for AMP
            Visibility trigger. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          $ref: '#/components/schemas/Parameter'
        parameter:
          type: array
          description: >-
            Additional parameters. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          items:
            $ref: '#/components/schemas/Parameter'
        eventName:
          $ref: '#/components/schemas/Parameter'
          description: >-
            Name of the GTM event that is fired. Only valid for Timer triggers.
            @mutable tagmanager.accounts.containers.workspaces.triggers.create
            @mutable tagmanager.accounts.containers.workspaces.triggers.update
        filter:
          description: >-
            The trigger will only fire iff all Conditions are true. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          items:
            $ref: '#/components/schemas/Condition'
          type: array
        checkValidation:
          description: >-
            Whether or not we should only fire tags if the form submit or link
            click event is not cancelled by some other event handler (e.g.
            because of validation). Only valid for Form Submission and Link
            Click triggers. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          $ref: '#/components/schemas/Parameter'
        tagManagerUrl:
          type: string
          description: Auto generated link to the tag manager UI
        visibilitySelector:
          $ref: '#/components/schemas/Parameter'
          description: >-
            A visibility trigger CSS selector (i.e. "#id"). Only valid for AMP
            Visibility trigger. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        parentFolderId:
          type: string
          description: Parent folder id.
        notes:
          type: string
          description: >-
            User notes on how to apply this trigger in the container. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        customEventFilter:
          items:
            $ref: '#/components/schemas/Condition'
          description: >-
            Used in the case of custom event, which is fired iff all Conditions
            are true. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          type: array
        triggerId:
          description: The Trigger ID uniquely identifies the GTM Trigger.
          type: string
        autoEventFilter:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
          description: >-
            Used in the case of auto event tracking. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        waitForTags:
          $ref: '#/components/schemas/Parameter'
          description: >-
            Whether or not we should delay the form submissions or link opening
            until all of the tags have fired (by preventing the default action
            and later simulating the default action). Only valid for Form
            Submission and Link Click triggers. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        name:
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.triggers.create
              - tagmanager.accounts.containers.workspaces.triggers.update
          type: string
          description: >-
            Trigger display name. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        accountId:
          description: GTM Account ID.
          type: string
        verticalScrollPercentageList:
          description: >-
            List of integer percentage values for scroll triggers. The trigger
            will fire when each percentage is reached when the view is scrolled
            vertically. Only valid for AMP scroll triggers. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          $ref: '#/components/schemas/Parameter'
        interval:
          description: >-
            Time between triggering recurring Timer Events (in milliseconds).
            Only valid for Timer triggers. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
          $ref: '#/components/schemas/Parameter'
        path:
          type: string
          description: GTM Trigger's API relative path.
        containerId:
          description: GTM Container ID.
          type: string
        visiblePercentageMin:
          $ref: '#/components/schemas/Parameter'
          description: >-
            A visibility trigger minimum percent visibility. Only valid for AMP
            Visibility trigger. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
        fingerprint:
          type: string
          description: >-
            The fingerprint of the GTM Trigger as computed at storage time. This
            value is recomputed whenever the trigger is modified.
        waitForTagsTimeout:
          $ref: '#/components/schemas/Parameter'
          description: >-
            How long to wait (in milliseconds) for tags to fire when
            'waits_for_tags' above evaluates to true. Only valid for Form
            Submission and Link Click triggers. @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update
    GalleryReference:
      type: object
      properties:
        version:
          description: The version of the community gallery template.
          type: string
        host:
          description: The name of the host for the community gallery template.
          type: string
        owner:
          description: The name of the owner for the community gallery template.
          type: string
        signature:
          description: >-
            The signature of the community gallery template as computed at
            import time. This value is recomputed whenever the template is
            updated from the gallery.
          type: string
        repository:
          type: string
          description: The name of the repository for the community gallery template.
        isModified:
          type: boolean
          description: If a user has manually edited the community gallery template.
      id: GalleryReference
      description: >-
        Represents the link between a custom template and an entry on the
        Community Template Gallery site.
    Zone:
      description: Represents a Google Tag Manager Zone's contents.
      type: object
      properties:
        zoneId:
          description: The Zone ID uniquely identifies the GTM Zone.
          type: string
        notes:
          description: User notes on how to apply this zone in the container.
          type: string
        accountId:
          type: string
          description: GTM Account ID.
        name:
          type: string
          description: Zone display name.
        typeRestriction:
          $ref: '#/components/schemas/ZoneTypeRestriction'
          description: This Zone's type restrictions.
        boundary:
          $ref: '#/components/schemas/ZoneBoundary'
          description: This Zone's boundary.
        containerId:
          type: string
          description: GTM Container ID.
        childContainer:
          type: array
          items:
            $ref: '#/components/schemas/ZoneChildContainer'
          description: Containers that are children of this Zone.
        path:
          type: string
          description: GTM Zone's API relative path.
        fingerprint:
          type: string
          description: >-
            The fingerprint of the GTM Zone as computed at storage time. This
            value is recomputed whenever the zone is modified.
        tagManagerUrl:
          description: Auto generated link to the tag manager UI
          type: string
        workspaceId:
          description: GTM Workspace ID.
          type: string
      id: Zone
    ListWorkspacesResponse:
      properties:
        workspace:
          description: All Workspaces of a GTM Container.
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
      type: object
      description: A list of workspaces in a container.
      id: ListWorkspacesResponse
    AccountFeatures:
      properties:
        supportMultipleContainers:
          description: Whether this Account supports multiple Containers.
          type: boolean
        supportUserPermissions:
          type: boolean
          description: Whether this Account supports user permissions managed by GTM.
      id: AccountFeatures
      type: object
    Destination:
      properties:
        destinationId:
          type: string
          description: Destination ID.
        fingerprint:
          description: >-
            The fingerprint of the Google Tag Destination as computed at storage
            time. This value is recomputed whenever the destination is modified.
          type: string
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          type: string
          description: GTM Container ID.
        path:
          description: Destination's API relative path.
          type: string
        name:
          type: string
          description: Destination display name.
        tagManagerUrl:
          type: string
          description: Auto generated link to the tag manager UI.
        destinationLinkId:
          type: string
          description: The Destination link ID uniquely identifies the Destination.
      type: object
      description: Represents a Google Tag Destination.
      id: Destination
    SyncWorkspaceResponse:
      description: >-
        A response after synchronizing the workspace to the latest container
        version.
      type: object
      id: SyncWorkspaceResponse
      properties:
        mergeConflict:
          items:
            $ref: '#/components/schemas/MergeConflict'
          type: array
          description: >-
            The merge conflict after sync. If this field is not empty, the sync
            is still treated as successful. But a version cannot be created
            until all conflicts are resolved.
        syncStatus:
          $ref: '#/components/schemas/SyncStatus'
          description: >-
            Indicates whether synchronization caused a merge conflict or sync
            error.
    AccountAccess:
      description: Defines the Google Tag Manager Account access permissions.
      id: AccountAccess
      type: object
      properties:
        permission:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          description: >-
            Whether the user has no access, user access, or admin access to an
            account. @mutable tagmanager.accounts.permissions.create @mutable
            tagmanager.accounts.permissions.update
          type: string
          enum:
            - accountPermissionUnspecified
            - noAccess
            - user
            - admin
    BuiltInVariable:
      id: BuiltInVariable
      description: >-
        Built-in variables are a special category of variables that are
        pre-created and non-customizable. They provide common functionality like
        accessing properties of the gtm data layer, monitoring clicks, or
        accessing elements of a page URL.
      type: object
      properties:
        path:
          type: string
          description: GTM BuiltInVariable's API relative path.
        workspaceId:
          description: GTM Workspace ID.
          type: string
        type:
          enum:
            - builtInVariableTypeUnspecified
            - pageUrl
            - pageHostname
            - pagePath
            - referrer
            - event
            - clickElement
            - clickClasses
            - clickId
            - clickTarget
            - clickUrl
            - clickText
            - firstPartyServingUrl
            - formElement
            - formClasses
            - formId
            - formTarget
            - formUrl
            - formText
            - errorMessage
            - errorUrl
            - errorLine
            - newHistoryUrl
            - oldHistoryUrl
            - newHistoryFragment
            - oldHistoryFragment
            - newHistoryState
            - oldHistoryState
            - historySource
            - containerVersion
            - debugMode
            - randomNumber
            - containerId
            - appId
            - appName
            - appVersionCode
            - appVersionName
            - language
            - osVersion
            - platform
            - sdkVersion
            - deviceName
            - resolution
            - advertiserId
            - advertisingTrackingEnabled
            - htmlId
            - environmentName
            - ampBrowserLanguage
            - ampCanonicalPath
            - ampCanonicalUrl
            - ampCanonicalHost
            - ampReferrer
            - ampTitle
            - ampClientId
            - ampClientTimezone
            - ampClientTimestamp
            - ampClientScreenWidth
            - ampClientScreenHeight
            - ampClientScrollX
            - ampClientScrollY
            - ampClientMaxScrollX
            - ampClientMaxScrollY
            - ampTotalEngagedTime
            - ampPageViewId
            - ampPageLoadTime
            - ampPageDownloadTime
            - ampGtmEvent
            - eventName
            - firebaseEventParameterCampaign
            - firebaseEventParameterCampaignAclid
            - firebaseEventParameterCampaignAnid
            - firebaseEventParameterCampaignClickTimestamp
            - firebaseEventParameterCampaignContent
            - firebaseEventParameterCampaignCp1
            - firebaseEventParameterCampaignGclid
            - firebaseEventParameterCampaignSource
            - firebaseEventParameterCampaignTerm
            - firebaseEventParameterCurrency
            - firebaseEventParameterDynamicLinkAcceptTime
            - firebaseEventParameterDynamicLinkLinkid
            - firebaseEventParameterNotificationMessageDeviceTime
            - firebaseEventParameterNotificationMessageId
            - firebaseEventParameterNotificationMessageName
            - firebaseEventParameterNotificationMessageTime
            - firebaseEventParameterNotificationTopic
            - firebaseEventParameterPreviousAppVersion
            - firebaseEventParameterPreviousOsVersion
            - firebaseEventParameterPrice
            - firebaseEventParameterProductId
            - firebaseEventParameterQuantity
            - firebaseEventParameterValue
            - videoProvider
            - videoUrl
            - videoTitle
            - videoDuration
            - videoPercent
            - videoVisible
            - videoStatus
            - videoCurrentTime
            - scrollDepthThreshold
            - scrollDepthUnits
            - scrollDepthDirection
            - elementVisibilityRatio
            - elementVisibilityTime
            - elementVisibilityFirstTime
            - elementVisibilityRecentTime
            - requestPath
            - requestMethod
            - clientName
            - queryString
            - serverPageLocationUrl
            - serverPageLocationPath
            - serverPageLocationHostname
            - visitorRegion
          description: >-
            Type of built-in variable.
            @required.tagmanager.accounts.containers.workspaces.built_in_variable.update
            @mutable
            tagmanager.accounts.containers.workspaces.built_in_variable.update
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - For web or mobile.
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - For web or mobile.
            - ''
            - For web or mobile.
            - For web or mobile.
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
        name:
          description: >-
            Name of the built-in variable to be used to refer to the built-in
            variable.
          type: string
        accountId:
          type: string
          description: GTM Account ID.
        containerId:
          type: string
          description: GTM Container ID.
    VariableFormatValue:
      id: VariableFormatValue
      type: object
      properties:
        convertTrueToValue:
          $ref: '#/components/schemas/Parameter'
          description: The value to convert if a variable value is true.
        convertUndefinedToValue:
          description: The value to convert if a variable value is undefined.
          $ref: '#/components/schemas/Parameter'
        convertNullToValue:
          description: The value to convert if a variable value is null.
          $ref: '#/components/schemas/Parameter'
        convertFalseToValue:
          $ref: '#/components/schemas/Parameter'
          description: The value to convert if a variable value is false.
        caseConversionType:
          type: string
          enum:
            - none
            - lowercase
            - uppercase
          description: >-
            The option to convert a string-type variable value to either
            lowercase or uppercase.
          enumDescriptions:
            - ''
            - The option to convert a variable value to lowercase.
            - The option to convert a variable value to uppercase.
    Entity:
      type: object
      id: Entity
      description: >-
        A workspace entity that may represent a tag, trigger, variable, or
        folder in addition to its status in the workspace.
      properties:
        client:
          $ref: '#/components/schemas/Client'
          description: The client being represented by the entity.
        variable:
          description: The variable being represented by the entity.
          $ref: '#/components/schemas/Variable'
        tag:
          description: The tag being represented by the entity.
          $ref: '#/components/schemas/Tag'
        transformation:
          description: The transformation being represented by the entity.
          $ref: '#/components/schemas/Transformation'
        trigger:
          description: The trigger being represented by the entity.
          $ref: '#/components/schemas/Trigger'
        changeStatus:
          enumDescriptions:
            - ''
            - The entity has never been changed.
            - The entity is added to the workspace.
            - The entity is deleted from the workspace.
            - The entity has been updated in the workspace.
          type: string
          description: Represents how the entity has been changed in the workspace.
          enum:
            - changeStatusUnspecified
            - none
            - added
            - deleted
            - updated
        folder:
          description: The folder being represented by the entity.
          $ref: '#/components/schemas/Folder'
    ListGtagConfigResponse:
      id: ListGtagConfigResponse
      type: object
      properties:
        nextPageToken:
          type: string
          description: Continuation token for fetching the next page of results.
        gtagConfig:
          type: array
          items:
            $ref: '#/components/schemas/GtagConfig'
          description: All Google tag configs in a Container.
    ListZonesResponse:
      properties:
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
        zone:
          type: array
          items:
            $ref: '#/components/schemas/Zone'
          description: All GTM Zones of a GTM Container.
      type: object
      id: ListZonesResponse
    Workspace:
      properties:
        tagManagerUrl:
          description: Auto generated link to the tag manager UI
          type: string
        accountId:
          type: string
          description: GTM Account ID.
        workspaceId:
          description: The Workspace ID uniquely identifies the GTM Workspace.
          type: string
        name:
          description: >-
            Workspace display name. @mutable
            tagmanager.accounts.containers.workspaces.create @mutable
            tagmanager.accounts.containers.workspaces.update
          type: string
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.create
              - tagmanager.accounts.containers.workspaces.update
        description:
          type: string
          description: >-
            Workspace description. @mutable
            tagmanager.accounts.containers.workspaces.create @mutable
            tagmanager.accounts.containers.workspaces.update
        path:
          type: string
          description: GTM Workspace's API relative path.
        fingerprint:
          type: string
          description: >-
            The fingerprint of the GTM Workspace as computed at storage time.
            This value is recomputed whenever the workspace is modified.
        containerId:
          type: string
          description: GTM Container ID.
      id: Workspace
      description: Represents a Google Tag Manager Container Workspace.
      type: object
    ContainerAccess:
      type: object
      description: Defines the Google Tag Manager Container access permissions.
      properties:
        permission:
          description: >-
            List of Container permissions. @mutable
            tagmanager.accounts.permissions.create @mutable
            tagmanager.accounts.permissions.update
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - containerPermissionUnspecified
            - noAccess
            - read
            - edit
            - approve
            - publish
        containerId:
          type: string
          description: >-
            GTM Container ID. @mutable tagmanager.accounts.permissions.create
            @mutable tagmanager.accounts.permissions.update
      id: ContainerAccess
    Client:
      properties:
        type:
          description: >-
            Client type. @mutable
            tagmanager.accounts.containers.workspaces.clients.create @mutable
            tagmanager.accounts.containers.workspaces.clients.update
          type: string
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.clients.create
              - tagmanager.accounts.containers.workspaces.clients.update
        tagManagerUrl:
          description: Auto generated link to the tag manager UI
          type: string
        containerId:
          type: string
          description: GTM Container ID.
        path:
          type: string
          description: GTM client's API relative path.
        fingerprint:
          description: >-
            The fingerprint of the GTM Client as computed at storage time. This
            value is recomputed whenever the client is modified.
          type: string
        accountId:
          description: GTM Account ID.
          type: string
        name:
          type: string
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.clients.create
              - tagmanager.accounts.containers.workspaces.clients.update
          description: >-
            Client display name. @mutable
            tagmanager.accounts.containers.workspaces.clients.create @mutable
            tagmanager.accounts.containers.workspaces.clients.update
        workspaceId:
          type: string
          description: GTM Workspace ID.
        notes:
          description: >-
            User notes on how to apply this tag in the container. @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: string
        priority:
          format: int32
          description: >-
            Priority determines relative firing order. @mutable
            tagmanager.accounts.containers.workspaces.clients.create @mutable
            tagmanager.accounts.containers.workspaces.clients.update
          type: integer
        parentFolderId:
          description: Parent folder id.
          type: string
        clientId:
          type: string
          description: The Client ID uniquely identifies the GTM client.
        parameter:
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
          description: >-
            The client's parameters. @mutable
            tagmanager.accounts.containers.workspaces.clients.create @mutable
            tagmanager.accounts.containers.workspaces.clients.update
      type: object
      id: Client
    ListEnvironmentsResponse:
      type: object
      description: List Environments Response.
      properties:
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
        environment:
          description: All Environments of a GTM Container.
          items:
            $ref: '#/components/schemas/Environment'
          type: array
      id: ListEnvironmentsResponse
    Container:
      description: >-
        Represents a Google Tag Manager Container, which specifies the platform
        tags will run on, manages workspaces, and retains container versions.
      id: Container
      type: object
      properties:
        name:
          annotations:
            required:
              - tagmanager.accounts.containers.create
              - tagmanager.accounts.containers.update
          description: >-
            Container display name. @mutable
            tagmanager.accounts.containers.create @mutable
            tagmanager.accounts.containers.update
          type: string
        tagIds:
          type: array
          items:
            type: string
          description: All Tag IDs that refer to this Container.
        usageContext:
          annotations:
            required:
              - tagmanager.accounts.containers.create
              - tagmanager.accounts.containers.update
          items:
            type: string
            enum:
              - usageContextUnspecified
              - web
              - android
              - ios
              - androidSdk5
              - iosSdk5
              - amp
              - server
            enumDescriptions:
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
          description: >-
            List of Usage Contexts for the Container. Valid values include: web,
            android, or ios. @mutable tagmanager.accounts.containers.create
            @mutable tagmanager.accounts.containers.update
          type: array
        fingerprint:
          type: string
          description: >-
            The fingerprint of the GTM Container as computed at storage time.
            This value is recomputed whenever the account is modified.
        tagManagerUrl:
          type: string
          description: Auto generated link to the tag manager UI
        containerId:
          type: string
          description: The Container ID uniquely identifies the GTM Container.
        accountId:
          type: string
          description: GTM Account ID.
        taggingServerUrls:
          items:
            type: string
          type: array
          description: >-
            List of server-side container URLs for the Container. If multiple
            URLs are provided, all URL paths must match. @mutable
            tagmanager.accounts.containers.create @mutable
            tagmanager.accounts.containers.update
        notes:
          type: string
          description: >-
            Container Notes. @mutable tagmanager.accounts.containers.create
            @mutable tagmanager.accounts.containers.update
        publicId:
          description: Container Public ID.
          type: string
        domainName:
          description: >-
            List of domain names associated with the Container. @mutable
            tagmanager.accounts.containers.create @mutable
            tagmanager.accounts.containers.update
          type: array
          items:
            type: string
        features:
          description: Read-only Container feature set.
          $ref: '#/components/schemas/ContainerFeatures'
        path:
          description: GTM Container's API relative path.
          type: string
    ListTriggersResponse:
      type: object
      properties:
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
        trigger:
          items:
            $ref: '#/components/schemas/Trigger'
          description: All GTM Triggers of a GTM Container.
          type: array
      description: List triggers response.
      id: ListTriggersResponse
    GtagConfig:
      id: GtagConfig
      description: Represents a Google tag configuration.
      properties:
        containerId:
          description: Google tag container ID.
          type: string
        path:
          description: Google tag config's API relative path.
          type: string
        workspaceId:
          type: string
          description: >-
            Google tag workspace ID. Only used by GTM containers. Set to 0
            otherwise.
        parameter:
          type: array
          items:
            $ref: '#/components/schemas/Parameter'
          description: >-
            The Google tag config's parameters. @mutable
            tagmanager.accounts.containers.workspaces.gtag_config.create
            @mutable
            tagmanager.accounts.containers.workspaces.gtag_config.update
        tagManagerUrl:
          type: string
          description: Auto generated link to the tag manager UI
        fingerprint:
          type: string
          description: >-
            The fingerprint of the Google tag config as computed at storage
            time. This value is recomputed whenever the config is modified.
        gtagConfigId:
          type: string
          description: The ID uniquely identifies the Google tag config.
        accountId:
          type: string
          description: Google tag account ID.
        type:
          description: >-
            Google tag config type. @required
            tagmanager.accounts.containers.workspaces.gtag_config.create
            @required
            tagmanager.accounts.containers.workspaces.gtag_config.update
            @mutable
            tagmanager.accounts.containers.workspaces.gtag_config.create
            @mutable
            tagmanager.accounts.containers.workspaces.gtag_config.update
          type: string
      type: object
    CustomTemplate:
      properties:
        workspaceId:
          description: GTM Workspace ID.
          type: string
        templateData:
          type: string
          description: The custom template in text format.
        tagManagerUrl:
          type: string
          description: Auto generated link to the tag manager UI
        fingerprint:
          description: >-
            The fingerprint of the GTM Custom Template as computed at storage
            time. This value is recomputed whenever the template is modified.
          type: string
        name:
          type: string
          description: Custom Template display name.
        galleryReference:
          $ref: '#/components/schemas/GalleryReference'
          description: A reference to the Community Template Gallery entry.
        containerId:
          type: string
          description: GTM Container ID.
        path:
          type: string
          description: GTM Custom Template's API relative path.
        accountId:
          description: GTM Account ID.
          type: string
        templateId:
          type: string
          description: The Custom Template ID uniquely identifies the GTM custom template.
      type: object
      description: Represents a Google Tag Manager Custom Template's contents.
      id: CustomTemplate
    ListTransformationsResponse:
      type: object
      properties:
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
        transformation:
          description: All GTM Transformations of a GTM Container.
          items:
            $ref: '#/components/schemas/Transformation'
          type: array
      id: ListTransformationsResponse
    UserPermission:
      description: Represents a user's permissions to an account and its container.
      id: UserPermission
      properties:
        emailAddress:
          type: string
          description: >-
            User's email address. @mutable
            tagmanager.accounts.permissions.create
        containerAccess:
          type: array
          description: >-
            GTM Container access permissions. @mutable
            tagmanager.accounts.permissions.create @mutable
            tagmanager.accounts.permissions.update
          items:
            $ref: '#/components/schemas/ContainerAccess'
        accountId:
          description: The Account ID uniquely identifies the GTM Account.
          type: string
        path:
          type: string
          description: GTM UserPermission's API relative path.
        accountAccess:
          $ref: '#/components/schemas/AccountAccess'
          description: >-
            GTM Account access permissions. @mutable
            tagmanager.accounts.permissions.create @mutable
            tagmanager.accounts.permissions.update
      type: object
    ZoneChildContainer:
      type: object
      id: ZoneChildContainer
      description: Represents a child container of a Zone.
      properties:
        nickname:
          type: string
          description: The zone's nickname for the child container.
        publicId:
          description: The child container's public id.
          type: string
    Parameter:
      description: Represents a Google Tag Manager Parameter.
      properties:
        value:
          description: >-
            A parameter's value (may contain variable references such as
            "{{myVariable}}") as appropriate to the specified type. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: string
        key:
          description: >-
            The named key that uniquely identifies a parameter. Required for
            top-level parameters, as well as map values. Ignored for list
            values. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: string
        type:
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.tags.create
              - tagmanager.accounts.containers.workspaces.tags.update
              - tagmanager.accounts.containers.workspaces.triggers.create
              - tagmanager.accounts.containers.workspaces.triggers.update
              - tagmanager.accounts.containers.workspaces.variables.create
              - tagmanager.accounts.containers.workspaces.variables.update
          type: string
          enumDescriptions:
            - ''
            - May include variable references (such as "{{myVariable}}").
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          description: >-
            The parameter type. Valid values are: - boolean: The value
            represents a boolean, represented as 'true' or 'false' - integer:
            The value represents a 64-bit signed integer value, in base 10 -
            list: A list of parameters should be specified - map: A map of
            parameters should be specified - template: The value represents any
            text; this can include variable references (even variable references
            that might return non-string types) - trigger_reference: The value
            represents a trigger, represented as the trigger id - tag_reference:
            The value represents a tag, represented as the tag name @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          enum:
            - typeUnspecified
            - template
            - integer
            - boolean
            - list
            - map
            - triggerReference
            - tagReference
        list:
          type: array
          description: >-
            This list parameter's parameters (keys will be ignored). @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          items:
            $ref: '#/components/schemas/Parameter'
        map:
          items:
            $ref: '#/components/schemas/Parameter'
          description: >-
            This map parameter's parameters (must have keys; keys must be
            unique). @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update @mutable
            tagmanager.accounts.containers.workspaces.triggers.create @mutable
            tagmanager.accounts.containers.workspaces.triggers.update @mutable
            tagmanager.accounts.containers.workspaces.tags.create @mutable
            tagmanager.accounts.containers.workspaces.tags.update
          type: array
      id: Parameter
      type: object
    PublishContainerVersionResponse:
      properties:
        containerVersion:
          description: The container version created.
          $ref: '#/components/schemas/ContainerVersion'
        compilerError:
          description: Compiler errors or not.
          type: boolean
      description: Publish container version response.
      id: PublishContainerVersionResponse
      type: object
    ZoneBoundary:
      id: ZoneBoundary
      description: Represents a Zone's boundaries.
      type: object
      properties:
        customEvaluationTriggerId:
          items:
            type: string
          type: array
          description: >-
            Custom evaluation trigger IDs. A zone will evaluate its boundary
            conditions when any of the listed triggers are true.
        condition:
          description: The conditions that, when conjoined, make up the boundary.
          items:
            $ref: '#/components/schemas/Condition'
          type: array
    Account:
      description: Represents a Google Tag Manager Account.
      type: object
      id: Account
      properties:
        path:
          type: string
          description: GTM Account's API relative path.
        accountId:
          type: string
          description: The Account ID uniquely identifies the GTM Account.
        features:
          description: Read-only Account feature set
          $ref: '#/components/schemas/AccountFeatures'
        tagManagerUrl:
          description: Auto generated link to the tag manager UI
          type: string
        name:
          type: string
          description: >-
            Account display name. @mutable tagmanager.accounts.create @mutable
            tagmanager.accounts.update
        fingerprint:
          type: string
          description: >-
            The fingerprint of the GTM Account as computed at storage time. This
            value is recomputed whenever the account is modified.
        shareData:
          description: >-
            Whether the account shares data anonymously with Google and others.
            This flag enables benchmarking by sharing your data in an anonymous
            form. Google will remove all identifiable information about your
            website, combine the data with hundreds of other anonymous sites and
            report aggregate trends in the benchmarking service. @mutable
            tagmanager.accounts.create @mutable tagmanager.accounts.update
          type: boolean
    CreateBuiltInVariableResponse:
      id: CreateBuiltInVariableResponse
      properties:
        builtInVariable:
          description: List of created built-in variables.
          items:
            $ref: '#/components/schemas/BuiltInVariable'
          type: array
      type: object
    ListUserPermissionsResponse:
      description: List user permissions response.
      properties:
        nextPageToken:
          type: string
          description: Continuation token for fetching the next page of results.
        userPermission:
          type: array
          description: All GTM UserPermissions of a GTM Account.
          items:
            $ref: '#/components/schemas/UserPermission'
      type: object
      id: ListUserPermissionsResponse
    RevertTemplateResponse:
      type: object
      id: RevertTemplateResponse
      properties:
        template:
          $ref: '#/components/schemas/CustomTemplate'
          description: >-
            Template as it appears in the latest container version since the
            last workspace synchronization operation. If no template is present,
            that means the template was deleted in the latest container version.
      description: The result of reverting a template in a workspace.
    Variable:
      type: object
      description: Represents a Google Tag Manager Variable.
      properties:
        enablingTriggerId:
          items:
            type: string
          type: array
          description: >-
            For mobile containers only: A list of trigger IDs for enabling
            conditional variables; the variable is enabled if one of the
            enabling triggers is true while all the disabling triggers are
            false. Treated as an unordered set. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update
        containerId:
          description: GTM Container ID.
          type: string
        parameter:
          description: >-
            The variable's parameters. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update
          items:
            $ref: '#/components/schemas/Parameter'
          type: array
        name:
          description: >-
            Variable display name. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.variables.create
              - tagmanager.accounts.containers.workspaces.variables.update
          type: string
        type:
          type: string
          description: >-
            GTM Variable Type. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.variables.create
              - tagmanager.accounts.containers.workspaces.variables.update
        scheduleStartMs:
          type: string
          description: >-
            The start timestamp in milliseconds to schedule a variable. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update
          format: int64
        notes:
          type: string
          description: >-
            User notes on how to apply this variable in the container. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update
        parentFolderId:
          type: string
          description: Parent folder id.
        fingerprint:
          description: >-
            The fingerprint of the GTM Variable as computed at storage time.
            This value is recomputed whenever the variable is modified.
          type: string
        scheduleEndMs:
          format: int64
          type: string
          description: >-
            The end timestamp in milliseconds to schedule a variable. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update
        disablingTriggerId:
          type: array
          description: >-
            For mobile containers only: A list of trigger IDs for disabling
            conditional variables; the variable is enabled if one of the
            enabling trigger is true while all the disabling trigger are false.
            Treated as an unordered set. @mutable
            tagmanager.accounts.containers.workspaces.variables.create @mutable
            tagmanager.accounts.containers.workspaces.variables.update
          items:
            type: string
        formatValue:
          description: Option to convert a variable value to other value.
          $ref: '#/components/schemas/VariableFormatValue'
        tagManagerUrl:
          type: string
          description: Auto generated link to the tag manager UI
        variableId:
          type: string
          description: The Variable ID uniquely identifies the GTM Variable.
        workspaceId:
          description: GTM Workspace ID.
          type: string
        path:
          type: string
          description: GTM Variable's API relative path.
        accountId:
          description: GTM Account ID.
          type: string
      id: Variable
    Transformation:
      id: Transformation
      type: object
      description: Represents a Google Tag Manager Transformation.
      properties:
        notes:
          type: string
          description: >-
            User notes on how to apply this transformation in the container.
            @mutable
            tagmanager.accounts.containers.workspaces.transformations.create
            @mutable
            tagmanager.accounts.containers.workspaces.transformations.update
        transformationId:
          description: The Transformation ID uniquely identifies the GTM transformation.
          type: string
        path:
          type: string
          description: GTM transformation's API relative path.
        parentFolderId:
          description: Parent folder id.
          type: string
        parameter:
          type: array
          description: >-
            The transformation's parameters. @mutable
            tagmanager.accounts.containers.workspaces.transformations.create
            @mutable
            tagmanager.accounts.containers.workspaces.transformations.update
          items:
            $ref: '#/components/schemas/Parameter'
        type:
          type: string
          description: >-
            Transformation type. @mutable
            tagmanager.accounts.containers.workspaces.transformations.create
            @mutable
            tagmanager.accounts.containers.workspaces.transformations.update
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.transformations.create
              - tagmanager.accounts.containers.workspaces.transformations.update
        name:
          annotations:
            required:
              - tagmanager.accounts.containers.workspaces.transformations.create
              - tagmanager.accounts.containers.workspaces.transformations.update
          type: string
          description: >-
            Transformation display name. @mutable
            tagmanager.accounts.containers.workspaces.transformations.create
            @mutable
            tagmanager.accounts.containers.workspaces.transformations.update
        accountId:
          type: string
          description: GTM Account ID.
        tagManagerUrl:
          description: Auto generated link to the tag manager UI
          type: string
        fingerprint:
          description: >-
            The fingerprint of the GTM Transformation as computed at storage
            time. This value is recomputed whenever the transformation is
            modified.
          type: string
        workspaceId:
          type: string
          description: GTM Workspace ID.
        containerId:
          description: GTM Container ID.
          type: string
    RevertZoneResponse:
      description: The result of reverting a zone in a workspace.
      properties:
        zone:
          $ref: '#/components/schemas/Zone'
          description: >-
            Zone as it appears in the latest container version since the last
            workspace synchronization operation. If no zone is present, that
            means the zone was deleted in the latest container version.
      type: object
      id: RevertZoneResponse
    FolderEntities:
      id: FolderEntities
      type: object
      properties:
        tag:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          description: The list of tags inside the folder.
        trigger:
          type: array
          description: The list of triggers inside the folder.
          items:
            $ref: '#/components/schemas/Trigger'
        variable:
          items:
            $ref: '#/components/schemas/Variable'
          description: The list of variables inside the folder.
          type: array
        nextPageToken:
          type: string
          description: Continuation token for fetching the next page of results.
      description: Represents a Google Tag Manager Folder's contents.
    TagConsentSetting:
      properties:
        consentType:
          description: >-
            The type of consents to check for during tag firing if in the
            consent NEEDED state. This parameter must be of type LIST where each
            list item is of type STRING.
          $ref: '#/components/schemas/Parameter'
        consentStatus:
          enumDescriptions:
            - Default value where user has not specified any setting on it.
            - Tag doesn't require any additional consent settings.
            - Tag requires additional consent settings.
          type: string
          enum:
            - notSet
            - notNeeded
            - needed
          description: >-
            The tag's consent status. If set to NEEDED, the runtime will check
            that the consent types specified by the consent_type field have been
            granted.
      id: TagConsentSetting
      type: object
    ListClientsResponse:
      type: object
      id: ListClientsResponse
      properties:
        nextPageToken:
          description: Continuation token for fetching the next page of results.
          type: string
        client:
          items:
            $ref: '#/components/schemas/Client'
          description: All GTM Clients of a GTM Container.
          type: array
    ZoneTypeRestriction:
      type: object
      id: ZoneTypeRestriction
      description: Represents a Zone's type restrictions.
      properties:
        whitelistedTypeId:
          items:
            type: string
          type: array
          description: >-
            List of type public ids that have been whitelisted for use in this
            Zone.
        enable:
          description: True if type restrictions have been enabled for this Zone.
          type: boolean
    ContainerVersion:
      description: Represents a Google Tag Manager Container Version.
      id: ContainerVersion
      type: object
      properties:
        transformation:
          items:
            $ref: '#/components/schemas/Transformation'
          description: >-
            The transformations in the container that this version was taken
            from.
          type: array
        tag:
          type: array
          description: The tags in the container that this version was taken from.
          items:
            $ref: '#/components/schemas/Tag'
        gtagConfig:
          type: array
          items:
            $ref: '#/components/schemas/GtagConfig'
          description: >-
            The Google tag configs in the container that this version was taken
            from.
        folder:
          items:
            $ref: '#/components/schemas/Folder'
          description: The folders in the container that this version was taken from.
          type: array
        builtInVariable:
          items:
            $ref: '#/components/schemas/BuiltInVariable'
          type: array
          description: >-
            The built-in variables in the container that this version was taken
            from.
        zone:
          description: The zones in the container that this version was taken from.
          type: array
          items:
            $ref: '#/components/schemas/Zone'
        trigger:
          type: array
          description: The triggers in the container that this version was taken from.
          items:
            $ref: '#/components/schemas/Trigger'
        tagManagerUrl:
          type: string
          description: Auto generated link to the tag manager UI
        accountId:
          type: string
          description: GTM Account ID.
        containerVersionId:
          description: >-
            The Container Version ID uniquely identifies the GTM Container
            Version.
          type: string
        containerId:
          type: string
          description: GTM Container ID.
        variable:
          items:
            $ref: '#/components/schemas/Variable'
          type: array
          description: The variables in the container that this version was taken from.
        client:
          description: The clients in the container that this version was taken from.
          type: array
          items:
            $ref: '#/components/schemas/Client'
        deleted:
          type: boolean
          description: A value of true indicates this container version has been deleted.
        path:
          type: string
          description: GTM Container Version's API relative path.
        name:
          type: string
          description: >-
            Container version display name. @mutable
            tagmanager.accounts.containers.versions.update
        container:
          description: The container that this version was taken from.
          $ref: '#/components/schemas/Container'
        description:
          type: string
          description: >-
            Container version description. @mutable
            tagmanager.accounts.containers.versions.update
        fingerprint:
          description: >-
            The fingerprint of the GTM Container Version as computed at storage
            time. This value is recomputed whenever the container version is
            modified.
          type: string
        customTemplate:
          type: array
          description: >-
            The custom templates in the container that this version was taken
            from.
          items:
            $ref: '#/components/schemas/CustomTemplate'
  parameters:
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    alt:
      description: Data format for response.
[...]
