openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Analytics API
  description: Views and manages your Google Analytics data.
  version: v3
  x-discovery-doc-revision: '20190807'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/analytics/
servers:
  - url: https://analytics.googleapis.com/analytics/v3
components:
  schemas:
    UnsampledReports:
      type: object
      id: UnsampledReports
      description: >-
        An unsampled report collection lists Analytics unsampled reports to
        which the user has access. Each view (profile) can have a set of
        unsampled reports. Each resource in the unsampled report collection
        corresponds to a single Analytics unsampled report.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UnsampledReport'
          description: A list of unsampled reports.
        totalResults:
          description: >-
            The total number of results for the query, regardless of the number
            of resources in the result.
          format: int32
          type: integer
        itemsPerPage:
          format: int32
          type: integer
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
        username:
          type: string
          description: Email ID of the authenticated user
        startIndex:
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
          type: integer
          format: int32
        nextLink:
          type: string
          description: Link to next page for this unsampled report collection.
        previousLink:
          description: Link to previous page for this unsampled report collection.
          type: string
        kind:
          default: analytics#unsampledReports
          type: string
          description: Collection type.
    Experiment:
      description: JSON template for Analytics experiment resource.
      type: object
      id: Experiment
      properties:
        updated:
          format: date-time
          description: Time the experiment was last modified. This field is read-only.
          type: string
        selfLink:
          description: Link for this experiment. This field is read-only.
          type: string
        winnerConfidenceLevel:
          format: double
          description: >-
            A floating-point number in (0, 1). Specifies the necessary
            confidence level to choose a winner. This field may not be changed
            for an experiments whose status is ENDED.
          type: number
        winnerFound:
          type: boolean
          description: >-
            Boolean specifying whether a winner has been found for this
            experiment. This field is read-only.
        endTime:
          format: date-time
          description: >-
            The ending time of the experiment (the time the status changed from
            RUNNING to ENDED). This field is present only if the experiment has
            ended. This field is read-only.
          type: string
        rewriteVariationUrlsAsOriginal:
          description: >-
            Boolean specifying whether variations URLS are rewritten to match
            those of the original. This field may not be changed for an
            experiments whose status is ENDED.
          type: boolean
        objectiveMetric:
          description: >-
            The metric that the experiment is optimizing. Valid values:
            "ga:goal(n)Completions", "ga:adsenseAdsClicks",
            "ga:adsenseAdsViewed", "ga:adsenseRevenue", "ga:bounces",
            "ga:pageviews", "ga:sessionDuration", "ga:transactions",
            "ga:transactionRevenue". This field is required if status is
            "RUNNING" and servingFramework is one of "REDIRECT" or "API".
          type: string
        created:
          description: Time the experiment was created. This field is read-only.
          type: string
          format: date-time
        webPropertyId:
          type: string
          description: >-
            Web property ID to which this experiment belongs. The web property
            ID is of the form UA-XXXXX-YY. This field is read-only.
        description:
          type: string
          description: Notes about this experiment.
        profileId:
          description: >-
            View (Profile) ID to which this experiment belongs. This field is
            read-only.
          type: string
        snippet:
          description: >-
            The snippet of code to include on the control page(s). This field is
            read-only.
          type: string
        reasonExperimentEnded:
          description: >-
            Why the experiment ended. Possible values: "STOPPED_BY_USER",
            "WINNER_FOUND", "EXPERIMENT_EXPIRED", "ENDED_WITH_NO_WINNER",
            "GOAL_OBJECTIVE_CHANGED". "ENDED_WITH_NO_WINNER" means that the
            experiment didn't expire but no winner was projected to be found. If
            the experiment status is changed via the API to ENDED this field is
            set to STOPPED_BY_USER. This field is read-only.
          type: string
        minimumExperimentLengthInDays:
          description: >-
            An integer number in [3, 90]. Specifies the minimum length of the
            experiment. Can be changed for a running experiment. This field may
            not be changed for an experiments whose status is ENDED.
          type: integer
          format: int32
        kind:
          default: analytics#experiment
          description: Resource type for an Analytics experiment. This field is read-only.
          type: string
        editableInGaUi:
          type: boolean
          description: >-
            If true, the end user will be able to edit the experiment via the
            Google Analytics user interface.
        parentLink:
          description: >-
            Parent link for an experiment. Points to the view (profile) to which
            this experiment belongs.
          properties:
            href:
              description: >-
                Link to the view (profile) to which this experiment belongs.
                This field is read-only.
              type: string
            type:
              default: analytics#profile
              type: string
              description: Value is "analytics#profile". This field is read-only.
          type: object
        accountId:
          description: >-
            Account ID to which this experiment belongs. This field is
            read-only.
          type: string
        servingFramework:
          type: string
          description: >-
            The framework used to serve the experiment variations and evaluate
            the results. One of:  

            - REDIRECT: Google Analytics redirects traffic to different
            variation pages, reports the chosen variation and evaluates the
            results.

            - API: Google Analytics chooses and reports the variation to serve
            and evaluates the results; the caller is responsible for serving the
            selected variation.

            - EXTERNAL: The variations will be served externally and the chosen
            variation reported to Google Analytics. The caller is responsible
            for serving the selected variation and evaluating the results.
        internalWebPropertyId:
          description: >-
            Internal ID for the web property to which this experiment belongs.
            This field is read-only.
          type: string
        name:
          type: string
          description: >-
            Experiment name. This field may not be changed for an experiment
            whose status is ENDED. This field is required when creating an
            experiment.
          annotations:
            required:
              - analytics.management.experiments.insert
              - analytics.management.experiments.update
        trafficCoverage:
          format: double
          description: >-
            A floating-point number in (0, 1]. Specifies the fraction of the
            traffic that participates in the experiment. Can be changed for a
            running experiment. This field may not be changed for an experiments
            whose status is ENDED.
          type: number
        id:
          annotations:
            required:
              - analytics.management.experiments.patch
              - analytics.management.experiments.update
          description: Experiment ID. Required for patch and update. Disallowed for create.
          type: string
        equalWeighting:
          description: >-
            Boolean specifying whether to distribute traffic evenly across all
            variations. If the value is False, content experiments follows the
            default behavior of adjusting traffic dynamically based on variation
            performance. Optional -- defaults to False. This field may not be
            changed for an experiment whose status is ENDED.
          type: boolean
        variations:
          items:
            properties:
              url:
                type: string
                description: >-
                  The URL of the variation. This field may not be changed for an
                  experiment whose status is RUNNING or ENDED.
              won:
                description: >-
                  True if the experiment has ended and this variation performed
                  (statistically) significantly better than the original. This
                  field is read-only.
                type: boolean
              weight:
                format: double
                type: number
                description: >-
                  Weight that this variation should receive. Only present if the
                  experiment is running. This field is read-only.
              name:
                annotations:
                  required:
                    - analytics.management.experiments.insert
                    - analytics.management.experiments.update
                type: string
                description: >-
                  The name of the variation. This field is required when
                  creating an experiment. This field may not be changed for an
                  experiment whose status is ENDED.
              status:
                description: >-
                  Status of the variation. Possible values: "ACTIVE",
                  "INACTIVE". INACTIVE variations are not served. This field may
                  not be changed for an experiment whose status is ENDED.
                type: string
            type: object
          type: array
          description: >-
            Array of variations. The first variation in the array is the
            original. The number of variations may not change once an experiment
            is in the RUNNING state. At least two variations are required before
            status can be set to RUNNING.
        status:
          annotations:
            required:
              - analytics.management.experiments.insert
              - analytics.management.experiments.update
          description: >-
            Experiment status. Possible values: "DRAFT", "READY_TO_RUN",
            "RUNNING", "ENDED". Experiments can be created in the "DRAFT",
            "READY_TO_RUN" or "RUNNING" state. This field is required when
            creating an experiment.
          type: string
        optimizationType:
          description: >-
            Whether the objectiveMetric should be minimized or maximized.
            Possible values: "MAXIMUM", "MINIMUM". Optional--defaults to
            "MAXIMUM". Cannot be specified without objectiveMetric. Cannot be
            modified when status is "RUNNING" or "ENDED".
          type: string
        startTime:
          type: string
          format: date-time
          description: >-
            The starting time of the experiment (the time the status changed
            from READY_TO_RUN to RUNNING). This field is present only if the
            experiment has started. This field is read-only.
    CustomDataSources:
      type: object
      properties:
        kind:
          type: string
          description: Collection type.
          default: analytics#customDataSources
        nextLink:
          description: Link to next page for this custom data source collection.
          type: string
        itemsPerPage:
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          format: int32
          type: integer
        username:
          description: Email ID of the authenticated user
          type: string
        totalResults:
          description: >-
            The total number of results for the query, regardless of the number
            of results in the response.
          format: int32
          type: integer
        startIndex:
          type: integer
          format: int32
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
        previousLink:
          type: string
          description: Link to previous page for this custom data source collection.
        items:
          description: Collection of custom data sources.
          items:
            $ref: '#/components/schemas/CustomDataSource'
          type: array
      id: CustomDataSources
      description: >-
        Lists Analytics custom data sources to which the user has access. Each
        resource in the collection corresponds to a single Analytics custom data
        source.
    Experiments:
      properties:
        previousLink:
          description: Link to previous page for this experiment collection.
          type: string
        username:
          description: Email ID of the authenticated user
          type: string
        nextLink:
          type: string
          description: Link to next page for this experiment collection.
        kind:
          type: string
          description: Collection type.
          default: analytics#experiments
        totalResults:
          format: int32
          description: >-
            The total number of results for the query, regardless of the number
            of resources in the result.
          type: integer
        itemsPerPage:
          type: integer
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          format: int32
        startIndex:
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
          type: integer
          format: int32
        items:
          items:
            $ref: '#/components/schemas/Experiment'
          type: array
          description: A list of experiments.
      type: object
      description: >-
        An experiment collection lists Analytics experiments to which the user
        has access. Each view (profile) can have a set of experiments. Each
        resource in the Experiment collection corresponds to a single Analytics
        experiment.
      id: Experiments
    LinkedForeignAccount:
      id: LinkedForeignAccount
      description: JSON template for an Analytics Remarketing Audience Foreign Link.
      type: object
      properties:
        id:
          type: string
          description: Entity ad account link ID.
        linkedAccountId:
          type: string
          description: >-
            The foreign account ID. For example the an Google Ads
            `linkedAccountId` has the following format XXX-XXX-XXXX.
        remarketingAudienceId:
          type: string
          description: >-
            Remarketing audience ID to which this linked foreign account
            belongs.
        internalWebPropertyId:
          readOnly: true
          type: string
          description: >-
            Internal ID for the web property to which this linked foreign
            account belongs.
        accountId:
          description: Account ID to which this linked foreign account belongs.
          type: string
        status:
          description: The status of this foreign account link.
          type: string
        kind:
          default: analytics#linkedForeignAccount
          description: Resource type for linked foreign account.
          type: string
        type:
          type: string
          description: >-
            The type of the foreign account. For example, `ADWORDS_LINKS`,
            `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`.
        eligibleForSearch:
          readOnly: true
          type: boolean
          description: Boolean indicating whether this is eligible for search.
        webPropertyId:
          description: >-
            Web property ID of the form UA-XXXXX-YY to which this linked foreign
            account belongs.
          type: string
    UnsampledReport:
      id: UnsampledReport
      properties:
        downloadType:
          description: >-
            The type of download you need to use for the report data file.
            Possible values include `GOOGLE_DRIVE` and `GOOGLE_CLOUD_STORAGE`.
            If the value is `GOOGLE_DRIVE`, see the `driveDownloadDetails`
            field. If the value is `GOOGLE_CLOUD_STORAGE`, see the
            `cloudStorageDownloadDetails` field.
          readOnly: true
          type: string
        updated:
          description: Time this unsampled report was last modified.
          format: date-time
          readOnly: true
          type: string
        driveDownloadDetails:
          readOnly: true
          type: object
          properties:
            documentId:
              description: Id of the document/file containing the report data.
              type: string
          description: Download details for a file stored in Google Drive.
        id:
          type: string
          description: Unsampled report ID.
        accountId:
          description: Account ID to which this unsampled report belongs.
          type: string
        selfLink:
          description: Link for this unsampled report.
          readOnly: true
          type: string
        status:
          readOnly: true
          type: string
          description: >-
            Status of this unsampled report. Possible values are PENDING,
            COMPLETED, or FAILED.
        filters:
          description: The filters for the unsampled report.
          type: string
        segment:
          description: The segment for the unsampled report.
          type: string
        dimensions:
          description: The dimensions for the unsampled report.
          type: string
        end-date:
          type: string
          description: The end date for the unsampled report.
          annotations:
            required:
              - analytics.management.filters.insert
              - analytics.management.unsampledReports.insert
        title:
          annotations:
            required:
              - analytics.management.filters.insert
              - analytics.management.unsampledReports.insert
          description: Title of the unsampled report.
          type: string
        webPropertyId:
          type: string
          description: >-
            Web property ID to which this unsampled report belongs. The web
            property ID is of the form UA-XXXXX-YY.
        created:
          description: Time this unsampled report was created.
          type: string
          readOnly: true
          format: date-time
        kind:
          readOnly: true
          description: Resource type for an Analytics unsampled report.
          default: analytics#unsampledReport
          type: string
        cloudStorageDownloadDetails:
          readOnly: true
          properties:
            objectId:
              type: string
              description: Id of the file object containing the report data.
            bucketId:
              type: string
              description: Id of the bucket the file object is stored in.
          description: Download details for a file stored in Google Cloud Storage.
          type: object
        start-date:
          type: string
          description: The start date for the unsampled report.
          annotations:
            required:
              - analytics.management.filters.insert
              - analytics.management.unsampledReports.insert
        profileId:
          type: string
          description: View (Profile) ID to which this unsampled report belongs.
        metrics:
          description: The metrics for the unsampled report.
          annotations:
            required:
              - analytics.management.filters.insert
              - analytics.management.unsampledReports.insert
          type: string
      description: JSON template for Analytics unsampled report resource.
      type: object
    HashClientIdRequest:
      properties:
        clientId:
          type: string
        webPropertyId:
          type: string
        kind:
          default: analytics#hashClientIdRequest
          type: string
      id: HashClientIdRequest
      description: JSON template for a hash Client Id request resource.
      type: object
    Columns:
      id: Columns
      properties:
        kind:
          default: analytics#columns
          type: string
          description: Collection type.
        totalResults:
          format: int32
          type: integer
          description: Total number of columns returned in the response.
        attributeNames:
          type: array
          description: List of attributes names returned by columns.
          items:
            type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Column'
          description: List of columns for a report type.
        etag:
          type: string
          description: >-
            Etag of collection. This etag can be compared with the last response
            etag to check if response has changed.
      description: Lists columns (dimensions and metrics) for a particular report type.
      type: object
    EntityUserLink:
      description: >-
        JSON template for an Analytics Entity-User Link. Returns permissions
        that a user has for an entity.
      type: object
      id: EntityUserLink
      properties:
        userRef:
          description: User reference.
          $ref: '#/components/schemas/UserRef'
        selfLink:
          description: Self link for this resource.
          type: string
        id:
          description: Entity user link ID
          type: string
        permissions:
          properties:
            local:
              type: array
              description: >-
                Permissions that a user has been assigned at this very level.
                Does not include any implied or inherited permissions. Local
                permissions are modifiable.
              items:
                type: string
            effective:
              description: >-
                Effective permissions represent all the permissions that a user
                has for this entity. These include any implied permissions
                (e.g., EDIT implies VIEW) or inherited permissions from the
                parent entity. Effective permissions are read-only.
              items:
                type: string
              readOnly: true
              type: array
          type: object
          description: Permissions the user has for this entity.
        kind:
          description: Resource type for entity user link.
          type: string
          default: analytics#entityUserLink
        entity:
          description: >-
            Entity for this link. It can be an account, a web property, or a
            view (profile).
          type: object
          properties:
            accountRef:
              description: Account for this link.
              $ref: '#/components/schemas/AccountRef'
            webPropertyRef:
              $ref: '#/components/schemas/WebPropertyRef'
              description: Web property for this link.
            profileRef:
              description: View (Profile) for this link.
              $ref: '#/components/schemas/ProfileRef'
    UserRef:
      type: object
      properties:
        email:
          type: string
          description: Email ID of this user.
        id:
          type: string
          description: User ID.
        kind:
          type: string
          default: analytics#userRef
      description: JSON template for a user reference.
      id: UserRef
    Segment:
      properties:
        selfLink:
          type: string
          description: Link for this segment.
        type:
          description: Type for a segment. Possible values are "BUILT_IN" or "CUSTOM".
          type: string
        id:
          description: Segment ID.
          type: string
        created:
          type: string
          format: date-time
          description: Time the segment was created.
        kind:
          type: string
          default: analytics#segment
          description: Resource type for Analytics segment.
        name:
          description: Segment name.
          type: string
        segmentId:
          description: >-
            Segment ID. Can be used with the 'segment' parameter in Core
            Reporting API.
          type: string
        definition:
          type: string
          description: Segment definition.
        updated:
          description: Time the segment was last modified.
          type: string
          format: date-time
      type: object
      id: Segment
      description: JSON template for an Analytics segment.
    AdWordsAccount:
      description: JSON template for an Google Ads account.
      properties:
        kind:
          type: string
          description: Resource type for Google Ads account.
          default: analytics#adWordsAccount
        customerId:
          annotations:
            required:
              - analytics.management.webPropertyAdWordsLinks.insert
              - analytics.management.webPropertyAdWordsLinks.update
          type: string
          description: Customer ID. This field is required when creating a Google Ads link.
        autoTaggingEnabled:
          type: boolean
          description: >-
            True if auto-tagging is enabled on the Google Ads account. Read-only
            after the insert operation.
      id: AdWordsAccount
      type: object
    McfData:
      description: Multi-Channel Funnels data for a given view (profile).
      properties:
        selfLink:
          type: string
          description: Link to this page.
        totalsForAllResults:
          additionalProperties:
            type: string
            description: >-
              Key-value pair for the total value of a metric. Key is the metric
              name and the value is the total value for that metric.
          type: object
          description: >-
            Total values for the requested metrics over all the results, not
            just the results returned in this response. The order of the metric
            totals is same as the metric order specified in the request.
        profileInfo:
          type: object
          description: >-
            Information for the view (profile), for which the Analytics data was
            requested.
          properties:
            profileName:
              description: View (Profile) name.
              type: string
            accountId:
              description: Account ID to which this view (profile) belongs.
              type: string
            tableId:
              type: string
              description: Table ID for view (profile).
            profileId:
              description: View (Profile) ID.
              type: string
            webPropertyId:
              description: Web Property ID to which this view (profile) belongs.
              type: string
            internalWebPropertyId:
              type: string
              description: >-
                Internal ID for the web property to which this view (profile)
                belongs.
        previousLink:
          type: string
          description: Link to previous page for this Analytics data query.
        sampleSize:
          format: int64
          type: string
          description: The number of samples used to calculate the result.
        sampleSpace:
          type: string
          description: Total size of the sample space from which the samples were selected.
          format: int64
        id:
          type: string
          description: Unique ID for this data response.
        query:
          type: object
          properties:
            end-date:
              type: string
              description: End date.
            metrics:
              description: List of analytics metrics.
              type: array
              items:
                type: string
            start-date:
              type: string
              description: Start date.
            dimensions:
              description: List of analytics dimensions.
              type: string
            sort:
              items:
                type: string
              description: >-
                List of dimensions or metrics based on which Analytics data is
                sorted.
              type: array
            start-index:
              type: integer
              description: Start index.
              format: int32
            ids:
              type: string
              description: Unique table ID.
            filters:
              type: string
              description: Comma-separated list of dimension or metric filters.
            samplingLevel:
              description: Desired sampling level
              type: string
            max-results:
              format: int32
              description: Maximum results per page.
              type: integer
            segment:
              description: Analytics advanced segment.
              type: string
          description: Analytics data request query parameters.
        kind:
          type: string
          default: analytics#mcfData
          description: Resource type.
        nextLink:
          description: Link to next page for this Analytics data query.
          type: string
        containsSampledData:
          description: Determines if the Analytics data contains sampled data.
          type: boolean
        columnHeaders:
          items:
            type: object
            properties:
              dataType:
                description: >-
                  Data type. Dimension and metric values data types such as
                  INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc.
                type: string
              name:
                type: string
                description: Column name.
              columnType:
                type: string
                description: Column Type. Either DIMENSION or METRIC.
          type: array
          description: >-
            Column headers that list dimension names followed by the metric
            names. The order of dimensions and metrics is same as specified in
            the request.
        totalResults:
          format: int32
          type: integer
          description: >-
            The total number of rows for the query, regardless of the number of
            rows in the response.
        rows:
          items:
            type: array
            items:
              properties:
                conversionPathValue:
                  type: array
                  items:
                    properties:
                      interactionType:
                        description: >-
                          Type of an interaction on conversion path. Such as
                          CLICK, IMPRESSION etc.
                        type: string
                      nodeValue:
                        description: >-
                          Node value of an interaction on conversion path. Such
                          as source, medium etc.
                        type: string
                    type: object
                  description: >-
                    A conversion path dimension value, containing a list of
                    interactions with their attributes.
                primitiveValue:
                  description: A primitive dimension value. A primitive metric value.
                  type: string
              description: >-
                A union object representing a dimension or metric value. Only
                one of "primitiveValue" or "conversionPathValue" attribute will
                be populated.
              type: object
          description: >-
            Analytics data rows, where each row contains a list of dimension
            values followed by the metric values. The order of dimensions and
            metrics is same as specified in the request.
          type: array
        itemsPerPage:
          format: int32
          description: >-
            The maximum number of rows the response can contain, regardless of
            the actual number of rows returned. Its value ranges from 1 to
            10,000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          type: integer
      id: McfData
      type: object
    Segments:
      properties:
        itemsPerPage:
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          format: int32
          type: integer
        items:
          description: A list of segments.
          items:
            $ref: '#/components/schemas/Segment'
          type: array
        startIndex:
          type: integer
          format: int32
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
        nextLink:
          type: string
          description: Link to next page for this segment collection.
        kind:
          default: analytics#segments
          type: string
          description: Collection type for segments.
        username:
          description: Email ID of the authenticated user
          type: string
        totalResults:
          description: >-
            The total number of results for the query, regardless of the number
            of results in the response.
          type: integer
          format: int32
        previousLink:
          type: string
          description: Link to previous page for this segment collection.
      description: >-
        An segment collection lists Analytics segments that the user has access
        to. Each resource in the collection corresponds to a single Analytics
        segment.
      id: Segments
      type: object
    AccountTreeResponse:
      id: AccountTreeResponse
      type: object
      properties:
        kind:
          default: analytics#accountTreeResponse
          description: Resource type for account ticket.
          type: string
        profile:
          $ref: '#/components/schemas/Profile'
          description: View (Profile) for the account.
        account:
          $ref: '#/components/schemas/Account'
          description: The account created.
        webproperty:
          description: Web property for the account.
          $ref: '#/components/schemas/Webproperty'
      description: >-
        JSON template for an Analytics account tree response. The account tree
        response is used in the provisioning api to return the result of
        creating an account, property, and view (profile).
    EntityUserLinks:
      properties:
        startIndex:
          format: int32
          description: >-
            The starting index of the entries, which is 1 by default or
            otherwise specified by the start-index query parameter.
          type: integer
        previousLink:
          description: Previous link for this account collection.
          type: string
        totalResults:
          type: integer
          format: int32
          description: >-
            The total number of results for the query, regardless of the number
            of results in the response.
        kind:
          description: Collection type.
          default: analytics#entityUserLinks
          type: string
        itemsPerPage:
          type: integer
          format: int32
          description: >-
            The maximum number of entries the response can contain, regardless
            of the actual number of entries returned. Its value ranges from 1 to
            1000 with a value of 1000 by default, or otherwise specified by the
            max-results query parameter.
        items:
          items:
            $ref: '#/components/schemas/EntityUserLink'
          type: array
          description: A list of entity user links.
        nextLink:
          description: Next link for this account collection.
          type: string
      id: EntityUserLinks
      description: >-
        An entity user link collection provides a list of Analytics ACL links
        Each resource in this collection corresponds to a single link.
      type: object
    AnalyticsDataimportDeleteUploadDataRequest:
      id: AnalyticsDataimportDeleteUploadDataRequest
      description: Request template for the delete upload data request.
      type: object
      properties:
        customDataImportUids:
          description: A list of upload UIDs.
          type: array
          items:
            type: string
    AccountTreeRequest:
      description: >-
        JSON template for an Analytics account tree requests. The account tree
        request is used in the provisioning api to create an account, property,
        and view (profile). It contains the basic information required to make
        these fields.
      properties:
        profileName:
          type: string
          annotations:
            required:
              - analytics.provisioning.createAccountTree
        webpropertyName:
          annotations:
            required:
              - analytics.provisioning.createAccountTree
          type: string
        accountName:
          annotations:
            required:
              - analytics.provisioning.createAccountTree
          type: string
        websiteUrl:
          annotations:
            required:
              - analytics.provisioning.createAccountTree
          type: string
        timezone:
          type: string
          annotations:
            required:
              - analytics.provisioning.createAccountTree
        kind:
          description: Resource type for account ticket.
          type: string
          default: analytics#accountTreeRequest
      type: object
      id: AccountTreeRequest
    Goal:
      type: object
      description: JSON template for Analytics goal resource.
      properties:
        urlDestinationDetails:
          properties:
            caseSensitive:
              type: boolean
              description: >-
                Determines if the goal URL must exactly match the capitalization
                of visited URLs.
            firstStepRequired:
              type: boolean
              description: Determines if the first step in this goal is required.
            matchType:
              description: >-
                Match type for the goal URL. Possible values are HEAD, EXACT, or
                REGEX.
              type: string
            url:
              type: string
              description: URL for this goal.
            steps:
              description: List of steps configured for this goal funnel.
              type: array
              items:
                type: object
                properties:
                  number:
                    description: Step number.
                    type: integer
                    format: int32
                  name:
                    type: string
                    description: Step name.
                  url:
                    description: URL for this step.
                    type: string
          description: Details for the goal of the type URL_DESTINATION.
          type: object
        visitTimeOnSiteDetails:
          description: Details for the goal of the type VISIT_TIME_ON_SITE.
          properties:
            comparisonValue:
              description: Value used for this comparison.
              format: int64
              type: string
            comparisonType:
              type: string
              description: >-
                Type of comparison. Possible values are LESS_THAN or
                GREATER_THAN.
          type: object
        eventDetails:
          properties:
            eventConditions:
              type: array
              items:
                properties:
                  comparisonValue:
                    type: string
                    description: Value used for this comparison.
                    format: int64
                  matchType:
                    description: >-
                      Type of the match to be performed. Possible values are
                      REGEXP, BEGINS_WITH, or EXACT.
                    type: string
                  expression:
                    description: Expression used for this match.
                    type: string
                  comparisonType:
                    description: >-
                      Type of comparison. Possible values are LESS_THAN,
                      GREATER_THAN or EQUAL.
                    type: string
                  type:
                    type: string
                    description: >-
                      Type of this event condition. Possible values are
                      CATEGORY, ACTION, LABEL, or VALUE.
                type: object
              description: List of event conditions.
            useEventValue:
              description: >-
                Determines if the event value should be used as the value for
                this goal.
              type: boolean
          type: object
          description: Details for the goal of the type EVENT.
        name:
          description: Goal name.
          type: string
        id:
          description: Goal ID.
          type: string
        profileId:
          description: View (Profile) ID to which this goal belongs.
          type: string
        type:
          type: string
          description: >-
            Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE,
            VISIT_NUM_PAGES, AND EVENT.
        updated:
          description: Time this goal was last modified.
          format: date-time
          type: string
        webPropertyId:
          type: string
          description: >-
            Web property ID to which this goal belongs. The web property ID is
            of the form UA-XXXXX-YY.
        selfLink:
          type: string
          description: Link for this goal.
        kind:
          description: Resource type for an Analytics goal.
          type: string
          default: analytics#goal
        internalWebPropertyId:
          description: Internal ID for the web property to which this goal belongs.
          type: string
        value:
          format: float
          type: number
          description: Goal value.
        accountId:
          description: Account ID to which this goal belongs.
          type: string
        active:
          type: boolean
          description: Determines whether this goal is active.
        parentLink:
          type: object
          description: >-
            Parent link for a goal. Points to the view (profile) to which this
            goal belongs.
          properties:
            href:
              description: Link to the view (profile) to which this goal belongs.
              type: string
            type:
              type: string
              default: analytics#profile
              description: Value is "analytics#profile".
        visitNumPagesDetails:
          description: Details for the goal of the type VISIT_NUM_PAGES.
          properties:
            comparisonType:
              description: >-
                Type of comparison. Possible values are LESS_THAN, GREATER_THAN,
                or EQUAL.
              type: string
            comparisonValue:
              format: int64
              description: Value used for this comparison.
              type: string
          type: object
        created:
          description: Time this goal was created.
          format: date-time
          type: string
      id: Goal
    ProfileFilterLink:
      id: ProfileFilterLink
      properties:
        profileRef:
          description: View (Profile) for this link.
          $ref: '#/components/schemas/ProfileRef'
        kind:
          default: analytics#profileFilterLink
          readOnly: true
          type: string
          description: Resource type for Analytics filter.
        rank:
          type: integer
          description: >-
            The rank of this profile filter link relative to the other filters
            linked to the same profile.

            For readonly (i.e., list and get) operations, the rank always starts
            at 1.

            For write (i.e., create, update, or delete) operations, you may
            specify a value between 0 and 255 inclusively, [0, 255]. In order to
            insert a link at the end of the list, either don't specify a rank or
            set a rank to a number greater than the largest rank in the list. In
            order to insert a link to the beginning of the list specify a rank
            that is less than or equal to 1. The new link will move all existing
            filters with the same or lower rank down the list. After the link is
            inserted/updated/deleted all profile filter links will be renumbered
            starting at 1.
          format: int32
        selfLink:
          description: Link for this profile filter link.
          type: string
          readOnly: true
        id:
          description: Profile filter link ID.
          type: string
        filterRef:
          description: Filter for this link.
          $ref: '#/components/schemas/FilterRef'
      type: object
      description: JSON template for an Analytics profile filter link.
    WebPropertyRef:
      id: WebPropertyRef
      type: object
      properties:
        id:
          type: string
          description: Web property ID of the form UA-XXXXX-YY.
        name:
          description: Name of this web property.
          type: string
        kind:
          type: string
          default: analytics#webPropertyRef
          description: Analytics web property reference.
        accountId:
          description: Account ID to which this web property belongs.
          type: string
        internalWebPropertyId:
          description: Internal ID for this web property.
          type: string
        href:
          type: string
          description: Link for this web property.
      description: JSON template for a web property reference.
    RemarketingAudiences:
      id: RemarketingAudiences
      type: object
      description: >-
        A remarketing audience collection lists Analytics remarketing audiences
        to which the user has access. Each resource in the collection
        corresponds to a single Analytics remarketing audience.
      properties:
        previousLink:
          description: Link to previous page for this view (profile) collection.
          type: string
        itemsPerPage:
          format: int32
          type: integer
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
        totalResults:
          description: >-
            The total number of results for the query, regardless of the number
            of results in the response.
          format: int32
          type: integer
        nextLink:
          type: string
          description: Link to next page for this remarketing audience collection.
        startIndex:
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
          format: int32
          type: integer
        username:
          type: string
          description: Email ID of the authenticated user
        kind:
          description: Collection type.
          default: analytics#remarketingAudiences
          type: string
        items:
          description: A list of remarketing audiences.
          type: array
          items:
            $ref: '#/components/schemas/RemarketingAudience'
    Webproperties:
      id: Webproperties
      properties:
        startIndex:
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
          type: integer
          format: int32
        itemsPerPage:
          type: integer
          format: int32
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
        username:
          type: string
          description: Email ID of the authenticated user
        nextLink:
          type: string
          description: Link to next page for this web property collection.
        kind:
          default: analytics#webproperties
          description: Collection type.
          type: string
        totalResults:
          description: >-
            The total number of results for the query, regardless of the number
            of results in the response.
          format: int32
          type: integer
        items:
          description: A list of web properties.
          items:
            $ref: '#/components/schemas/Webproperty'
          type: array
        previousLink:
          type: string
          description: Link to previous page for this web property collection.
      type: object
      description: >-
        A web property collection lists Analytics web properties to which the
        user has access. Each resource in the collection corresponds to a single
        Analytics web property.
    Account:
      id: Account
      properties:
        created:
          type: string
          format: date-time
          description: Time the account was created.
        selfLink:
          type: string
          description: Link for this account.
        starred:
          description: Indicates whether this account is starred or not.
          type: boolean
        id:
          type: string
          description: Account ID.
        permissions:
          properties:
            effective:
              type: array
              description: >-
                All the permissions that the user has for this account. These
                include any implied permissions (e.g., EDIT implies VIEW).
              items:
                type: string
              readOnly: true
          description: Permissions the user has for this account.
          type: object
        childLink:
          description: >-
            Child link for an account entry. Points to the list of web
            properties for this account.
          properties:
            href:
              type: string
              description: Link to the list of web properties for this account.
            type:
              default: analytics#webproperties
              type: string
              description: Type of the child link. Its value is "analytics#webproperties".
          type: object
        updated:
          description: Time the account was last modified.
          format: date-time
          type: string
        kind:
          description: Resource type for Analytics account.
          default: analytics#account
          type: string
        name:
          type: string
          description: Account name.
      type: object
      description: JSON template for Analytics account entry.
    CustomDimension:
      id: CustomDimension
      type: object
      description: JSON template for Analytics Custom Dimension.
      properties:
        accountId:
          description: Account ID.
          type: string
        updated:
          type: string
          readOnly: true
          format: date-time
          description: Time the custom dimension was last modified.
        parentLink:
          properties:
            href:
              description: Link to the property to which the custom dimension belongs.
              type: string
            type:
              type: string
              description: Type of the parent link. Set to "analytics#webproperty".
              default: analytics#webproperty
          description: >-
            Parent link for the custom dimension. Points to the property to
            which the custom dimension belongs.
          type: object
        active:
          type: boolean
          description: Boolean indicating whether the custom dimension is active.
        name:
          type: string
          description: Name of the custom dimension.
        id:
          type: string
          description: Custom dimension ID.
        selfLink:
          type: string
          description: Link for the custom dimension
          readOnly: true
        scope:
          type: string
          description: 'Scope of the custom dimension: HIT, SESSION, USER or PRODUCT.'
        created:
          readOnly: true
          description: Time the custom dimension was created.
          format: date-time
          type: string
        index:
          format: int32
          description: Index of the custom dimension.
          type: integer
          readOnly: true
        webPropertyId:
          description: Property ID.
          type: string
        kind:
          type: string
          description: >-
            Kind value for a custom dimension. Set to
            "analytics#customDimension". It is a read-only field.
          default: analytics#customDimension
          readOnly: true
    CustomMetric:
      id: CustomMetric
      type: object
      description: JSON template for Analytics Custom Metric.
      properties:
        webPropertyId:
          type: string
          description: Property ID.
        type:
          description: Data type of custom metric.
          type: string
        active:
          description: Boolean indicating whether the custom metric is active.
          type: boolean
        scope:
          type: string
          description: 'Scope of the custom metric: HIT or PRODUCT.'
        index:
          readOnly: true
          description: Index of the custom metric.
          type: integer
          format: int32
        id:
          description: Custom metric ID.
          type: string
        accountId:
          description: Account ID.
          type: string
        max_value:
          type: string
          description: Max value of custom metric.
        name:
          type: string
          description: Name of the custom metric.
        min_value:
          type: string
          description: Min value of custom metric.
        updated:
          readOnly: true
          type: string
          format: date-time
          description: Time the custom metric was last modified.
        parentLink:
          type: object
          description: >-
            Parent link for the custom metric. Points to the property to which
            the custom metric belongs.
          properties:
            type:
              type: string
              default: analytics#webproperty
              description: Type of the parent link. Set to "analytics#webproperty".
            href:
              type: string
              description: Link to the property to which the custom metric belongs.
        selfLink:
          description: Link for the custom metric
          readOnly: true
          type: string
        kind:
          description: >-
            Kind value for a custom metric. Set to "analytics#customMetric". It
            is a read-only field.
          readOnly: true
          type: string
          default: analytics#customMetric
        created:
          type: string
          format: date-time
          readOnly: true
          description: Time the custom metric was created.
    AccountSummary:
      description: >-
        JSON template for an Analytics AccountSummary. An AccountSummary is a
        lightweight tree comprised of properties/profiles.
      id: AccountSummary
      type: object
      properties:
        webProperties:
          description: List of web properties under this account.
          items:
            $ref: '#/components/schemas/WebPropertySummary'
          type: array
        kind:
          description: Resource type for Analytics AccountSummary.
          type: string
          default: analytics#accountSummary
        name:
          type: string
          description: Account name.
        id:
          description: Account ID.
          type: string
        starred:
          type: boolean
          description: Indicates whether this account is starred or not.
    RemarketingAudience:
      properties:
        audienceType:
          description: The type of audience, either SIMPLE or STATE_BASED.
          type: string
        description:
          description: The description of this remarketing audience.
          readOnly: true
          type: string
        kind:
          description: Collection type.
          default: analytics#remarketingAudience
          type: string
        webPropertyId:
          type: string
          description: >-
            Web property ID of the form UA-XXXXX-YY to which this remarketing
            audience belongs.
        name:
          description: The name of this remarketing audience.
          type: string
        stateBasedAudienceDefinition:
          properties:
            includeConditions:
              $ref: '#/components/schemas/IncludeConditions'
              description: Defines the conditions to include users to the audience.
            excludeConditions:
              description: Defines the conditions to exclude users from the audience.
              properties:
                exclusionDuration:
                  type: string
                  description: Whether to make the exclusion TEMPORARY or PERMANENT.
                segment:
                  description: >-
                    The segment condition that will cause a user to be removed
                    from an audience.
                  type: string
              type: object
          type: object
          description: >-
            A state based audience definition that will cause a user to be added
            or removed from an audience.
        created:
          type: string
          format: date-time
          description: Time this remarketing audience was created.
          readOnly: true
        id:
          description: Remarketing Audience ID.
          type: string
        linkedAdAccounts:
          description: >-
            The linked ad accounts associated with this remarketing audience. A
            remarketing audience can have only one linkedAdAccount currently.
          type: array
          items:
            $ref: '#/components/schemas/LinkedForeignAccount'
        internalWebPropertyId:
          description: >-
            Internal ID for the web property to which this remarketing audience
            belongs.
          readOnly: true
          type: string
        audienceDefinition:
          properties:
            includeConditions:
              description: Defines the conditions to include users to the audience.
              $ref: '#/components/schemas/IncludeConditions'
          type: object
          description: >-
            The simple audience definition that will cause a user to be added to
            an audience.
        linkedViews:
          description: The views (profiles) that this remarketing audience is linked to.
          items:
            type: string
          type: array
        accountId:
          type: string
          description: Account ID to which this remarketing audience belongs.
        updated:
          type: string
          readOnly: true
          description: Time this remarketing audience was last modified.
          format: date-time
      type: object
      id: RemarketingAudience
      description: JSON template for an Analytics remarketing audience.
    Profile:
      properties:
        stripSiteSearchCategoryParameters:
          description: >-
            Whether or not Analytics will strip search category parameters from
            the URLs in your reports.
          type: boolean
        eCommerceTracking:
          type: boolean
          description: >-
            Indicates whether ecommerce tracking is enabled for this view
            (profile).
        siteSearchQueryParameters:
          type: string
          description: The site search query parameters for this view (profile).
        permissions:
          type: object
          description: Permissions the user has for this view (profile).
          properties:
            effective:
              readOnly: true
              type: array
              items:
                type: string
              description: >-
                All the permissions that the user has for this view (profile).
                These include any implied permissions (e.g., EDIT implies VIEW)
                or inherited permissions from the parent web property.
        childLink:
          type: object
          properties:
            type:
              description: Value is "analytics#goals".
              default: analytics#goals
              type: string
            href:
              type: string
              description: Link to the list of goals for this view (profile).
          description: >-
            Child link for this view (profile). Points to the list of goals for
            this view (profile).
        timezone:
          type: string
          description: >-
            Time zone for which this view (profile) has been configured. Time
            zones are identified by strings from the TZ database.
        name:
          description: Name of this view (profile).
          type: string
        defaultPage:
          type: string
          description: Default page for this view (profile).
        starred:
          type: boolean
          description: Indicates whether this view (profile) is starred or not.
        stripSiteSearchQueryParameters:
          description: >-
            Whether or not Analytics will strip search query parameters from the
            URLs in your reports.
          type: boolean
        accountId:
          type: string
          description: Account ID to which this view (profile) belongs.
        internalWebPropertyId:
          readOnly: true
          type: string
          description: >-
            Internal ID for the web property to which this view (profile)
            belongs.
        id:
          type: string
          description: View (Profile) ID.
        kind:
          default: analytics#profile
          readOnly: true
          type: string
          description: Resource type for Analytics view (profile).
        websiteUrl:
          description: Website URL for this view (profile).
          type: string
        botFilteringEnabled:
          type: boolean
          description: Indicates whether bot filtering is enabled for this view (profile).
        updated:
          type: string
          description: Time this view (profile) was last modified.
          readOnly: true
          format: date-time
        created:
          description: Time this view (profile) was created.
          format: date-time
          readOnly: true
          type: string
        enhancedECommerceTracking:
          type: boolean
          description: >-
            Indicates whether enhanced ecommerce tracking is enabled for this
            view (profile). This property can only be enabled if ecommerce
            tracking is enabled.
        type:
          type: string
          description: 'View (Profile) type. Supported types: WEB or APP.'
        parentLink:
          properties:
            href:
              type: string
              description: Link to the web property to which this view (profile) belongs.
            type:
              default: analytics#webproperty
              description: Value is "analytics#webproperty".
              type: string
          description: >-
            Parent link for this view (profile). Points to the web property to
            which this view (profile) belongs.
          type: object
        webPropertyId:
          type: string
          readOnly: true
          description: >-
            Web property ID of the form UA-XXXXX-YY to which this view (profile)
            belongs.
        siteSearchCategoryParameters:
          description: Site search category parameters for this view (profile).
          type: string
        excludeQueryParameters:
          type: string
          description: The query parameters that are excluded from this view (profile).
        selfLink:
          description: Link for this view (profile).
          readOnly: true
          type: string
        currency:
          description: >-
            The currency type associated with this view (profile), defaults to
            USD. The supported values are:

            USD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN,
            TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK,
            NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS,
            MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL
          type: string
      id: Profile
      type: object
      description: JSON template for an Analytics view (profile).
    FilterRef:
      type: object
      id: FilterRef
      properties:
        accountId:
          readOnly: true
          description: Account ID to which this filter belongs.
          type: string
        id:
          type: string
          description: Filter ID.
          annotations:
            required:
              - analytics.management.profileFilterLinks.insert
        href:
          type: string
          description: Link for this filter.
        name:
          readOnly: true
          description: Name of this filter.
          type: string
        kind:
          type: string
          description: Kind value for filter reference.
          default: analytics#filterRef
      description: JSON template for a profile filter link.
    EntityAdWordsLink:
      description: JSON template for Analytics Entity Google Ads Link.
      properties:
        profileIds:
          description: IDs of linked Views (Profiles) represented as strings.
          items:
            type: string
          type: array
        selfLink:
          type: string
          description: URL link for this Google Analytics - Google Ads link.
        id:
          type: string
          description: Entity Google Ads link ID
        name:
          type: string
          annotations:
            required:
              - analytics.management.webPropertyAdWordsLinks.insert
              - analytics.management.webPropertyAdWordsLinks.update
          description: >-
            Name of the link. This field is required when creating a Google Ads
            link.
        entity:
          description: Web property being linked.
          properties:
            webPropertyRef:
              $ref: '#/components/schemas/WebPropertyRef'
          type: object
        kind:
          description: Resource type for entity Google Ads link.
          type: string
          default: analytics#entityAdWordsLink
        adWordsAccounts:
          annotations:
            required:
              - analytics.management.webPropertyAdWordsLinks.insert
              - analytics.management.webPropertyAdWordsLinks.update
          type: array
          description: >-
            A list of Google Ads client accounts. These cannot be MCC accounts.
            This field is required when creating a Google Ads link. It cannot be
            empty.
          items:
            $ref: '#/components/schemas/AdWordsAccount'
      type: object
      id: EntityAdWordsLink
    UserDeletionRequest:
      id: UserDeletionRequest
      properties:
        id:
          properties:
            userId:
              description: The User's id
              type: string
            type:
              description: Type of user
              type: string
          description: User ID.
          type: object
        deletionRequestTime:
          description: >-
            This marks the point in time for which all user data before should
            be deleted
          format: date-time
          type: string
          readOnly: true
        propertyId:
          type: string
          description: Property ID
        firebaseProjectId:
          type: string
          description: Firebase Project Id
        kind:
          type: string
          description: Value is "analytics#userDeletionRequest".
          default: analytics#userDeletionRequest
        webPropertyId:
          description: Web property ID of the form UA-XXXXX-YY.
          type: string
      description: JSON template for a user deletion request resource.
      type: object
    GaData:
      description: Analytics data for a given view (profile).
      properties:
        kind:
          type: string
          default: analytics#gaData
          description: Resource type.
        profileInfo:
          type: object
          properties:
            internalWebPropertyId:
              description: >-
                Internal ID for the web property to which this view (profile)
                belongs.
              type: string
            profileName:
              type: string
              description: View (Profile) name.
            accountId:
              type: string
              description: Account ID to which this view (profile) belongs.
            webPropertyId:
              type: string
              description: Web Property ID to which this view (profile) belongs.
            profileId:
              description: View (Profile) ID.
              type: string
            tableId:
              description: Table ID for view (profile).
              type: string
          description: >-
            Information for the view (profile), for which the Analytics data was
            requested.
        query:
          properties:
            end-date:
              description: End date.
              type: string
            max-results:
              format: int32
              description: Maximum results per page.
              type: integer
            samplingLevel:
              type: string
              description: Desired sampling level
            metrics:
              items:
                type: string
              type: array
              description: List of analytics metrics.
            dimensions:
              description: List of analytics dimensions.
              type: string
            segment:
              type: string
              description: Analytics advanced segment.
            ids:
              type: string
              description: Unique table ID.
            start-date:
              type: string
              description: Start date.
            sort:
              items:
                type: string
              description: >-
                List of dimensions or metrics based on which Analytics data is
                sorted.
              type: array
            start-index:
              type: integer
              description: Start index.
              format: int32
            filters:
              description: Comma-separated list of dimension or metric filters.
              type: string
          type: object
          description: Analytics data request query parameters.
        sampleSize:
          format: int64
          type: string
          description: The number of samples used to calculate the result.
        dataTable:
          properties:
            rows:
              items:
                properties:
                  c:
                    type: array
                    items:
                      type: object
                      properties:
                        v:
                          type: string
                type: object
              type: array
            cols:
              type: array
              items:
                properties:
                  label:
                    type: string
                  type:
                    type: string
                  id:
                    type: string
                type: object
          type: object
        selfLink:
          description: Link to this page.
          type: string
        columnHeaders:
          description: >-
            Column headers that list dimension names followed by the metric
            names. The order of dimensions and metrics is same as specified in
            the request.
          items:
            type: object
            properties:
              columnType:
                description: Column Type. Either DIMENSION or METRIC.
                type: string
              name:
                type: string
                description: Column name.
              dataType:
                description: >-
                  Data type. Dimension column headers have only STRING as the
                  data type. Metric column headers have data types for metric
                  values such as INTEGER, DOUBLE, CURRENCY etc.
                type: string
          type: array
        dataLastRefreshed:
          format: int64
          description: The last refreshed time in seconds for Analytics data.
          type: string
        nextLink:
          type: string
          description: Link to next page for this Analytics data query.
        totalResults:
          type: integer
          description: >-
            The total number of rows for the query, regardless of the number of
            rows in the response.
          format: int32
        previousLink:
          description: Link to previous page for this Analytics data query.
          type: string
        totalsForAllResults:
          type: object
          additionalProperties:
            description: >-
              Key-value pair for the total value of a metric. Key is the metric
              name and the value is the total value for that metric.
            type: string
          description: >-
            Total values for the requested metrics over all the results, not
            just the results returned in this response. The order of the metric
            totals is same as the metric order specified in the request.
        rows:
          items:
            items:
              type: string
            type: array
          description: >-
            Analytics data rows, where each row contains a list of dimension
            values followed by the metric values. The order of dimensions and
            metrics is same as specified in the request.
          type: array
        sampleSpace:
          description: Total size of the sample space from which the samples were selected.
          format: int64
          type: string
        itemsPerPage:
          description: >-
            The maximum number of rows the response can contain, regardless of
            the actual number of rows returned. Its value ranges from 1 to
            10,000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          format: int32
          type: integer
        containsSampledData:
          description: Determines if Analytics data contains samples.
          type: boolean
        id:
          description: Unique ID for this data response.
          type: string
      type: object
      id: GaData
    AccountTicket:
      id: AccountTicket
      properties:
        redirectUri:
          description: >-
            Redirect URI where the user will be sent after accepting Terms of
            Service. Must be configured in APIs console as a callback URL.
          type: string
        id:
          type: string
          description: Account ticket ID used to access the account ticket.
        webproperty:
          $ref: '#/components/schemas/Webproperty'
          description: Web property for the account.
        profile:
          $ref: '#/components/schemas/Profile'
          description: View (Profile) for the account.
        account:
          description: Account for this ticket.
          $ref: '#/components/schemas/Account'
        kind:
          type: string
          description: Resource type for account ticket.
          default: analytics#accountTicket
      type: object
      description: >-
        JSON template for an Analytics account ticket. The account ticket
        consists of the ticket ID and the basic information for the account,
        property and profile.
    WebPropertySummary:
      id: WebPropertySummary
      description: >-
        JSON template for an Analytics WebPropertySummary. WebPropertySummary
        returns basic information (i.e., summary) for a web property.
      properties:
        websiteUrl:
          type: string
          description: Website url for this web property.
        id:
          description: Web property ID of the form UA-XXXXX-YY.
          type: string
        level:
          description: >-
            Level for this web property. Possible values are STANDARD or
            PREMIUM.
          type: string
        internalWebPropertyId:
          description: Internal ID for this web property.
          type: string
        name:
          type: string
          description: Web property name.
        profiles:
          type: array
          description: List of profiles under this web property.
          items:
            $ref: '#/components/schemas/ProfileSummary'
        starred:
          description: Indicates whether this web property is starred or not.
          type: boolean
        kind:
          type: string
          default: analytics#webPropertySummary
          description: Resource type for Analytics WebPropertySummary.
      type: object
    CustomDimensions:
      id: CustomDimensions
      properties:
        itemsPerPage:
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          format: int32
          type: integer
        nextLink:
          description: Link to next page for this custom dimension collection.
          type: string
        previousLink:
          type: string
          description: Link to previous page for this custom dimension collection.
        totalResults:
          type: integer
          format: int32
          description: >-
            The total number of results for the query, regardless of the number
            of results in the response.
        items:
          description: Collection of custom dimensions.
          items:
            $ref: '#/components/schemas/CustomDimension'
          type: array
        kind:
          default: analytics#customDimensions
          description: Collection type.
          type: string
        startIndex:
          format: int32
          type: integer
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
        username:
          description: Email ID of the authenticated user
          type: string
      type: object
      description: >-
        A custom dimension collection lists Analytics custom dimensions to which
        the user has access. Each resource in the collection corresponds to a
        single Analytics custom dimension.
    AccountSummaries:
      properties:
        previousLink:
          type: string
          description: Link to previous page for this AccountSummary collection.
        totalResults:
          description: >-
            The total number of results for the query, regardless of the number
            of results in the response.
          type: integer
          format: int32
        itemsPerPage:
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          type: integer
          format: int32
        username:
          description: Email ID of the authenticated user
          type: string
        items:
          description: A list of AccountSummaries.
          items:
            $ref: '#/components/schemas/AccountSummary'
          type: array
        kind:
          description: Collection type.
          default: analytics#accountSummaries
          type: string
        startIndex:
          format: int32
          type: integer
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
        nextLink:
          type: string
          description: Link to next page for this AccountSummary collection.
      type: object
      description: >-
        An AccountSummary collection lists a summary of accounts, properties and
        views (profiles) to which the user has access. Each resource in the
        collection corresponds to a single AccountSummary.
      id: AccountSummaries
    Upload:
      id: Upload
      type: object
      description: Metadata returned for an upload operation.
      properties:
        id:
          type: string
          description: A unique ID for this upload.
        kind:
          type: string
          default: analytics#upload
          description: Resource type for Analytics upload.
        customDataSourceId:
          type: string
          description: Custom data source Id to which this data import belongs.
        uploadTime:
          description: Time this file is uploaded.
          format: date-time
          type: string
        accountId:
          type: string
          description: Account Id to which this upload belongs.
          format: int64
        status:
          description: >-
            Upload status. Possible values: PENDING, COMPLETED, FAILED,
            DELETING, DELETED.
          type: string
        errors:
          type: array
          items:
            type: string
          description: Data import errors collection.
    RealtimeData:
      description: Real time data for a given view (profile).
      type: object
      properties:
        totalResults:
          type: integer
          format: int32
          description: >-
            The total number of rows for the query, regardless of the number of
            rows in the response.
        columnHeaders:
          items:
            properties:
              columnType:
                type: string
                description: Column Type. Either DIMENSION or METRIC.
              name:
                type: string
                description: Column name.
              dataType:
                description: >-
                  Data type. Dimension column headers have only STRING as the
                  data type. Metric column headers have data types for metric
                  values such as INTEGER, DOUBLE, CURRENCY etc.
                type: string
            type: object
          description: >-
            Column headers that list dimension names followed by the metric
            names. The order of dimensions and metrics is same as specified in
            the request.
          type: array
        selfLink:
          type: string
          description: Link to this page.
        totalsForAllResults:
          additionalProperties:
            description: >-
              Key-value pair for the total value of a metric. Key is the metric
              name and the value is the total value for that metric.
            type: string
          type: object
          description: >-
            Total values for the requested metrics over all the results, not
            just the results returned in this response. The order of the metric
            totals is same as the metric order specified in the request.
        query:
          properties:
            dimensions:
              type: string
              description: List of real time dimensions.
            max-results:
              description: Maximum results per page.
              format: int32
              type: integer
            filters:
              description: Comma-separated list of dimension or metric filters.
              type: string
            sort:
              description: >-
                List of dimensions or metrics based on which real time data is
                sorted.
              type: array
              items:
                type: string
            metrics:
              description: List of real time metrics.
              type: array
              items:
                type: string
            ids:
              type: string
              description: Unique table ID.
          type: object
          description: Real time data request query parameters.
        rows:
          type: array
          items:
            type: array
            items:
              type: string
          description: >-
            Real time data rows, where each row contains a list of dimension
            values followed by the metric values. The order of dimensions and
            metrics is same as specified in the request.
        id:
          description: Unique ID for this data response.
          type: string
        profileInfo:
          properties:
            profileId:
              description: View (Profile) ID.
              type: string
            webPropertyId:
              type: string
              description: Web Property ID to which this view (profile) belongs.
            accountId:
              description: Account ID to which this view (profile) belongs.
              type: string
            profileName:
              type: string
              description: View (Profile) name.
            internalWebPropertyId:
              type: string
              description: >-
                Internal ID for the web property to which this view (profile)
                belongs.
            tableId:
              description: Table ID for view (profile).
              type: string
          description: >-
            Information for the view (profile), for which the real time data was
            requested.
          type: object
        kind:
          default: analytics#realtimeData
          type: string
          description: Resource type.
      id: RealtimeData
    HashClientIdResponse:
      type: object
      description: JSON template for a hash Client Id response resource.
      properties:
        webPropertyId:
          type: string
        kind:
          type: string
          default: analytics#hashClientIdResponse
        clientId:
          type: string
        hashedClientId:
          type: string
      id: HashClientIdResponse
    ProfileFilterLinks:
      properties:
        nextLink:
          description: Link to next page for this profile filter link collection.
          type: string
        startIndex:
          type: integer
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
          format: int32
        items:
          description: A list of profile filter links.
          items:
            $ref: '#/components/schemas/ProfileFilterLink'
          type: array
        previousLink:
          type: string
          description: Link to previous page for this profile filter link collection.
        username:
          type: string
          description: Email ID of the authenticated user
        totalResults:
          format: int32
          description: >-
            The total number of results for the query, regardless of the number
            of results in the response.
          type: integer
        kind:
          type: string
          description: Collection type.
          default: analytics#profileFilterLinks
        itemsPerPage:
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1,000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          type: integer
          format: int32
      id: ProfileFilterLinks
      type: object
      description: >-
        A profile filter link collection lists profile filter links between
        profiles and filters. Each resource in the collection corresponds to a
        profile filter link.
    Uploads:
      description: >-
        Upload collection lists Analytics uploads to which the user has access.
        Each custom data source can have a set of uploads. Each resource in the
        upload collection corresponds to a single Analytics data upload.
      id: Uploads
      type: object
      properties:
        totalResults:
          description: >-
            The total number of results for the query, regardless of the number
            of resources in the result.
          type: integer
          format: int32
        nextLink:
          type: string
          description: Link to next page for this upload collection.
        previousLink:
          description: Link to previous page for this upload collection.
          type: string
        itemsPerPage:
          format: int32
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          type: integer
        startIndex:
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
          type: integer
          format: int32
        items:
          items:
            $ref: '#/components/schemas/Upload'
          description: A list of uploads.
          type: array
        kind:
          type: string
          default: analytics#uploads
          description: Collection type.
    IncludeConditions:
      id: IncludeConditions
      type: object
      properties:
        segment:
          description: >-
            The segment condition that will cause a user to be added to an
            audience.
          type: string
        membershipDurationDays:
          description: >-
            Number of days (in the range 1 to 540) a user remains in the
            audience.
          type: integer
          format: int32
        isSmartList:
          type: boolean
          description: >-
            Boolean indicating whether this segment is a smart list.
            https://support.google.com/analytics/answer/4628577
        daysToLookBack:
          type: integer
          format: int32
          description: >-
            The look-back window lets you specify a time frame for evaluating
            the behavior that qualifies users for your audience. For example, if
            your filters include users from Central Asia, and Transactions
            Greater than 2, and you set the look-back window to 14 days, then
            any user from Central Asia whose cumulative transactions exceed 2
            during the last 14 days is added to the audience.
        kind:
          default: analytics#includeConditions
          description: Resource type for include conditions.
          type: string
      description: JSON template for an Analytics Remarketing Include Conditions.
    ProfileSummary:
      type: object
      id: ProfileSummary
      properties:
        id:
          description: View (profile) ID.
          type: string
        type:
          type: string
          description: 'View (Profile) type. Supported types: WEB or APP.'
        starred:
          description: Indicates whether this view (profile) is starred or not.
          type: boolean
        name:
          description: View (profile) name.
          type: string
        kind:
          description: Resource type for Analytics ProfileSummary.
          default: analytics#profileSummary
          type: string
      description: >-
        JSON template for an Analytics ProfileSummary. ProfileSummary returns
        basic information (i.e., summary) for a profile.
    Column:
      properties:
        id:
          description: Column id.
          type: string
        kind:
          description: Resource type for Analytics column.
          type: string
          default: analytics#column
        attributes:
          description: Map of attribute name and value for this column.
          additionalProperties:
            type: string
            description: The name of the attribute.
          type: object
      description: JSON template for a metadata column.
      type: object
      id: Column
    CustomDataSource:
      description: JSON template for an Analytics custom data source.
      type: object
      id: CustomDataSource
      properties:
        importBehavior:
          type: string
        description:
          type: string
          description: Description of custom data source.
        name:
          description: Name of this custom data source.
          type: string
        selfLink:
          type: string
          description: Link for this Analytics custom data source.
        created:
          format: date-time
          description: Time this custom data source was created.
          type: string
        kind:
          default: analytics#customDataSource
          type: string
          description: Resource type for Analytics custom data source.
        uploadType:
          description: Upload type of the custom data source.
          type: string
        accountId:
          type: string
          description: Account ID to which this custom data source belongs.
        schema:
          description: Collection of schema headers of the custom data source.
          items:
            type: string
          type: array
        profilesLinked:
          type: array
          items:
            type: string
          description: IDs of views (profiles) linked to the custom data source.
        parentLink:
          type: object
          properties:
            type:
              type: string
              default: analytics#webproperty
              description: Value is "analytics#webproperty".
            href:
              description: >-
                Link to the web property to which this custom data source
                belongs.
              type: string
          description: >-
            Parent link for this custom data source. Points to the web property
            to which this custom data source belongs.
        type:
          type: string
          description: Type of the custom data source.
        id:
          description: Custom data source ID.
          type: string
        updated:
          type: string
          description: Time this custom data source was last modified.
          format: date-time
        webPropertyId:
          type: string
          description: >-
            Web property ID of the form UA-XXXXX-YY to which this custom data
            source belongs.
        childLink:
          type: object
          properties:
            type:
              type: string
              description: Value is "analytics#dailyUploads". Value is "analytics#uploads".
            href:
              description: >-
                Link to the list of daily uploads for this custom data source.
                Link to the list of uploads for this custom data source.
              type: string
    CustomMetrics:
      description: >-
        A custom metric collection lists Analytics custom metrics to which the
        user has access. Each resource in the collection corresponds to a single
        Analytics custom metric.
      type: object
      id: CustomMetrics
      properties:
        startIndex:
          format: int32
          type: integer
          description: >-
            The starting index of the resources, which is 1 by default or
            otherwise specified by the start-index query parameter.
        username:
          description: Email ID of the authenticated user
          type: string
        itemsPerPage:
          description: >-
            The maximum number of resources the response can contain, regardless
            of the actual number of resources returned. Its value ranges from 1
            to 1000 with a value of 1000 by default, or otherwise specified by
            the max-results query parameter.
          type: integer
          format: int32
        nextLink:
[...]
