openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Ad Experience Report API
  description: >-
    Views Ad Experience Report data, and gets a list of sites that have a
    significant number of annoying ads.
  version: v1
  x-discovery-doc-revision: '20230508'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/ad-experience-report/
servers:
  - url: https://adexperiencereport.googleapis.com
components:
  schemas:
    ViolatingSitesResponse:
      description: Response message for ListViolatingSites.
      id: ViolatingSitesResponse
      type: object
      properties:
        violatingSites:
          type: array
          items:
            $ref: '#/components/schemas/SiteSummaryResponse'
          description: The list of violating sites.
    SiteSummaryResponse:
      description: Response message for GetSiteSummary.
      id: SiteSummaryResponse
      type: object
      properties:
        reviewedSite:
          type: string
          description: The name of the reviewed site, e.g. `google.com`.
        mobileSummary:
          $ref: '#/components/schemas/PlatformSummary'
          description: The site's Ad Experience Report summary on mobile.
        desktopSummary:
          $ref: '#/components/schemas/PlatformSummary'
          description: The site's Ad Experience Report summary on desktop.
    PlatformSummary:
      description: A site's Ad Experience Report summary on a single platform.
      id: PlatformSummary
      properties:
        underReview:
          type: boolean
          description: Whether the site is currently under review on this platform.
        reportUrl:
          type: string
          description: >-
            A link to the full Ad Experience Report for the site on this
            platform.. Not set in ViolatingSitesResponse. Note that you must
            complete the [Search Console verification
            process](https://support.google.com/webmasters/answer/9008080) for
            the site before you can access the full report.
        betterAdsStatus:
          enum:
            - UNKNOWN
            - PASSING
            - WARNING
            - FAILING
          type: string
          enumDescriptions:
            - Not reviewed.
            - Passing.
            - Warning. No longer a possible status.
            - Failing.
          description: The site's Ad Experience Report status on this platform.
        lastChangeTime:
          format: google-datetime
          description: The time at which the site's status last changed on this platform.
          type: string
        filterStatus:
          enumDescriptions:
            - N/A.
            - Ad filtering is on.
            - Ad filtering is off.
            - Ad filtering is paused.
            - Ad filtering is pending.
          enum:
            - UNKNOWN
            - 'ON'
            - 'OFF'
            - PAUSED
            - PENDING
          description: >-
            The site's [enforcement
            status](https://support.google.com/webtools/answer/7308033) on this
            platform.
          type: string
        enforcementTime:
          format: google-datetime
          type: string
          description: >-
            The time at which
            [enforcement](https://support.google.com/webtools/answer/7308033)
            against the site began or will begin on this platform. Not set when
            the filter_status is OFF.
        region:
          items:
            type: string
            enumDescriptions:
              - Ad standard not yet defined for your region.
              - Region A.
              - Region B.
              - Region C.
            enum:
              - REGION_UNKNOWN
              - REGION_A
              - REGION_B
              - REGION_C
          description: >-
            The site's regions on this platform. No longer populated, because
            there is no longer any semantic difference between sites in
            different regions.
          type: array
      type: object
  parameters:
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/adexchange.buyer: Manage your Ad Exchange buyer account configuration
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/violatingSites:
    parameters: &ref_1
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/access_token'
    get:
      description: >-
        Lists sites that are failing in the Ad Experience Report on at least one
        platform.
      operationId: adexperiencereport.violatingSites.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViolatingSitesResponse'
      parameters: []
      x-stackQL-resource: violating_sites
      x-stackQL-verb: select
  /v1/sites/{sitesId}:
    parameters: *ref_1
    get:
      description: Gets a site's Ad Experience Report summary.
      operationId: adexperiencereport.sites.get
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteSummaryResponse'
      parameters:
        - in: path
          name: sitesId
          required: true
          schema:
            type: string
      x-stackQL-resource: sites
      x-stackQL-verb: select
