openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: YouTube Data API v3
  description: >-
    The YouTube Data API v3 is an API that provides access to YouTube data, such
    as videos, playlists, and channels.
  version: v3
  x-discovery-doc-revision: '20230614'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/youtube/
servers:
  - url: https://youtube.googleapis.com
components:
  schemas:
    LiveStream:
      properties:
        contentDetails:
          description: >-
            The content_details object contains information about the stream,
            including the closed captions ingestion URL.
          $ref: '#/components/schemas/LiveStreamContentDetails'
        id:
          annotations:
            required:
              - youtube.liveStreams.update
          type: string
          description: The ID that YouTube assigns to uniquely identify the stream.
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#liveStream".
          default: youtube#liveStream
        snippet:
          $ref: '#/components/schemas/LiveStreamSnippet'
          description: >-
            The snippet object contains basic details about the stream,
            including its channel, title, and description.
        status:
          description: The status object contains information about live stream's status.
          $ref: '#/components/schemas/LiveStreamStatus'
        etag:
          description: Etag of this resource.
          type: string
        cdn:
          description: >-
            The cdn object defines the live stream's content delivery network
            (CDN) settings. These settings provide details about the manner in
            which you stream your content to YouTube.
          $ref: '#/components/schemas/CdnSettings'
      description: A live stream describes a live ingestion point.
      id: LiveStream
      type: object
    ChannelSection:
      type: object
      id: ChannelSection
      properties:
        contentDetails:
          description: >-
            The contentDetails object contains details about the channel section
            content, such as a list of playlists or channels featured in the
            section.
          $ref: '#/components/schemas/ChannelSectionContentDetails'
        snippet:
          $ref: '#/components/schemas/ChannelSectionSnippet'
          description: >-
            The snippet object contains basic details about the channel section,
            such as its type, style and title.
        targeting:
          description: >-
            The targeting object contains basic targeting settings about the
            channel section.
          $ref: '#/components/schemas/ChannelSectionTargeting'
        kind:
          type: string
          default: youtube#channelSection
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#channelSection".
        localizations:
          description: Localizations for different languages
          additionalProperties:
            $ref: '#/components/schemas/ChannelSectionLocalization'
          type: object
        etag:
          type: string
          description: Etag of this resource.
        id:
          description: The ID that YouTube uses to uniquely identify the channel section.
          type: string
    ImageSettings:
      description: Branding properties for images associated with the channel.
      properties:
        bannerTvMediumImageUrl:
          description: Banner image. TV size medium resolution (1280x720).
          type: string
        trackingImageUrl:
          description: >-
            The URL for a 1px by 1px tracking pixel that can be used to collect
            statistics for views of the channel or video pages.
          type: string
        bannerMobileHdImageUrl:
          type: string
          description: Banner image. Mobile size high resolution (1280x360).
        bannerTabletLowImageUrl:
          type: string
          description: Banner image. Tablet size low resolution (1138x188).
        bannerMobileExtraHdImageUrl:
          description: Banner image. Mobile size high resolution (1440x395).
          type: string
        smallBrandedBannerImageImapScript:
          description: The image map script for the small banner image.
          $ref: '#/components/schemas/LocalizedProperty'
        bannerTvHighImageUrl:
          type: string
          description: Banner image. TV size high resolution (1920x1080).
        bannerTvImageUrl:
          description: Banner image. TV size extra high resolution (2120x1192).
          type: string
        bannerTvLowImageUrl:
          description: Banner image. TV size low resolution (854x480).
          type: string
        smallBrandedBannerImageUrl:
          description: >-
            The URL for the 640px by 70px banner image that appears below the
            video player in the default view of the video watch page. The URL
            for the image that appears above the top-left corner of the video
            player. This is a 25-pixel-high image with a flexible width that
            cannot exceed 170 pixels.
          $ref: '#/components/schemas/LocalizedProperty'
        watchIconImageUrl:
          type: string
        largeBrandedBannerImageImapScript:
          description: The image map script for the large banner image.
          $ref: '#/components/schemas/LocalizedProperty'
        bannerMobileMediumHdImageUrl:
          type: string
          description: Banner image. Mobile size medium/high resolution (960x263).
        bannerTabletImageUrl:
          description: Banner image. Tablet size (1707x283).
          type: string
        largeBrandedBannerImageUrl:
          $ref: '#/components/schemas/LocalizedProperty'
          description: >-
            The URL for the 854px by 70px image that appears below the video
            player in the expanded video view of the video watch page.
        bannerExternalUrl:
          type: string
          description: >-
            This is generated when a ChannelBanner.Insert request has succeeded
            for the given channel.
        bannerTabletHdImageUrl:
          type: string
          description: Banner image. Tablet size high resolution (2276x377).
        backgroundImageUrl:
          description: >-
            The URL for the background image shown on the video watch page. The
            image should be 1200px by 615px, with a maximum file size of 128k.
          $ref: '#/components/schemas/LocalizedProperty'
        bannerTabletExtraHdImageUrl:
          type: string
          description: Banner image. Tablet size extra high resolution (2560x424).
        bannerImageUrl:
          description: Banner image. Desktop size (1060x175).
          type: string
        bannerMobileLowImageUrl:
          description: Banner image. Mobile size low resolution (320x88).
          type: string
        bannerMobileImageUrl:
          type: string
          description: Banner image. Mobile size (640x175).
      id: ImageSettings
      type: object
    LiveChatGiftMembershipReceivedDetails:
      id: LiveChatGiftMembershipReceivedDetails
      properties:
        gifterChannelId:
          type: string
          description: >-
            The ID of the user that made the membership gifting purchase. This
            matches the `snippet.authorChannelId` of the associated membership
            gifting message.
        memberLevelName:
          description: >-
            The name of the Level at which the viewer is a member. This matches
            the `snippet.membershipGiftingDetails.giftMembershipsLevelName` of
            the associated membership gifting message. The Level names are
            defined by the YouTube channel offering the Membership. In some
            situations this field isn't filled.
          type: string
        associatedMembershipGiftingMessageId:
          type: string
          description: >-
            The ID of the membership gifting message that is related to this
            gift membership. This ID will always refer to a message whose type
            is 'membershipGiftingEvent'.
      type: object
    VideoAbuseReport:
      type: object
      properties:
        secondaryReasonId:
          type: string
          description: >-
            The specific, or secondary, reason that this content is abusive (if
            available). The value is an abuse report reason ID that is a valid
            secondary reason for the primary reason.
        reasonId:
          type: string
          description: >-
            The high-level, or primary, reason that the content is abusive. The
            value is an abuse report reason ID.
        videoId:
          description: The ID that YouTube uses to uniquely identify the video.
          type: string
        comments:
          type: string
          description: Additional comments regarding the abuse report.
        language:
          type: string
          description: The language that the content was viewed in.
      id: VideoAbuseReport
    VideoTopicDetails:
      properties:
        topicCategories:
          items:
            type: string
          type: array
          description: >-
            A list of Wikipedia URLs that provide a high-level description of
            the video's content.
        relevantTopicIds:
          items:
            type: string
          description: >-
            Similar to topic_id, except that these topics are merely relevant to
            the video. These are topics that may be mentioned in, or appear in
            the video. You can retrieve information about each topic using
            Freebase Topic API.
          type: array
        topicIds:
          description: >-
            A list of Freebase topic IDs that are centrally associated with the
            video. These are topics that are centrally featured in the video,
            and it can be said that the video is mainly about each of these. You
            can retrieve information about each topic using the < a
            href="http://wiki.freebase.com/wiki/Topic_API">Freebase Topic API.
          type: array
          items:
            type: string
      id: VideoTopicDetails
      description: Freebase topic information related to the video.
      type: object
    I18nLanguage:
      description: >-
        An *i18nLanguage* resource identifies a UI language currently supported
        by YouTube.
      type: object
      properties:
        id:
          description: The ID that YouTube uses to uniquely identify the i18n language.
          type: string
        snippet:
          $ref: '#/components/schemas/I18nLanguageSnippet'
          description: >-
            The snippet object contains basic details about the i18n language,
            such as language code and human-readable name.
        kind:
          type: string
          default: youtube#i18nLanguage
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#i18nLanguage".
        etag:
          description: Etag of this resource.
          type: string
      id: I18nLanguage
    PlaylistItemContentDetails:
      id: PlaylistItemContentDetails
      properties:
        videoPublishedAt:
          type: string
          format: date-time
          description: The date and time that the video was published to YouTube.
        videoId:
          type: string
          description: >-
            The ID that YouTube uses to uniquely identify a video. To retrieve
            the video resource, set the id query parameter to this value in your
            API request.
        startAt:
          description: >-
            The time, measured in seconds from the start of the video, when the
            video should start playing. (The playlist owner can specify the
            times when the video should start and stop playing when the video is
            played in the context of the playlist.) The default value is 0.
          type: string
        endAt:
          type: string
          description: >-
            The time, measured in seconds from the start of the video, when the
            video should stop playing. (The playlist owner can specify the times
            when the video should start and stop playing when the video is
            played in the context of the playlist.) By default, assume that the
            video.endTime is the end of the video.
        note:
          type: string
          description: A user-generated note for this item.
      type: object
    InvideoBranding:
      id: InvideoBranding
      type: object
      properties:
        imageUrl:
          type: string
          description: >-
            The url of the uploaded image. Only used in apiary to api
            communication.
        timing:
          description: >-
            The temporal position within the video where watermark will be
            displayed.
          $ref: '#/components/schemas/InvideoTiming'
        imageBytes:
          description: >-
            The bytes the uploaded image. Only used in api to youtube
            communication.
          type: string
          format: byte
        position:
          $ref: '#/components/schemas/InvideoPosition'
          description: >-
            The spatial position within the video where the branding watermark
            will be displayed.
        targetChannelId:
          type: string
          description: >-
            The channel to which this branding links. If not present it defaults
            to the current channel.
      description: LINT.IfChange Describes an invideo branding.
    LiveBroadcastStatistics:
      description: >-
        Statistics about the live broadcast. These represent a snapshot of the
        values at the time of the request. Statistics are only returned for live
        broadcasts.
      id: LiveBroadcastStatistics
      properties:
        concurrentViewers:
          type: string
          description: >-
            The number of viewers currently watching the broadcast. The property
            and its value will be present if the broadcast has current viewers
            and the broadcast owner has not hidden the viewcount for the video.
            Note that YouTube stops tracking the number of concurrent viewers
            for a broadcast when the broadcast ends. So, this property would not
            identify the number of viewers watching an archived video of a live
            broadcast that already ended.
          format: uint64
      type: object
    VideoContentDetailsRegionRestriction:
      type: object
      id: VideoContentDetailsRegionRestriction
      properties:
        blocked:
          description: >-
            A list of region codes that identify countries where the video is
            blocked. If this property is present and a country is not listed in
            its value, then the video is viewable in that country. If this
            property is present and contains an empty list, the video is
            viewable in all countries.
          type: array
          items:
            type: string
        allowed:
          items:
            type: string
          type: array
          description: >-
            A list of region codes that identify countries where the video is
            viewable. If this property is present and a country is not listed in
            its value, then the video is blocked from appearing in that country.
            If this property is present and contains an empty list, the video is
            blocked in all countries.
      description: DEPRECATED Region restriction of the video.
    PageInfo:
      id: PageInfo
      description: >-
        Paging details for lists of resources, including total number of items
        available and number of resources returned in a single page.
      type: object
      properties:
        resultsPerPage:
          type: integer
          format: int32
          description: The number of results included in the API response.
        totalResults:
          format: int32
          description: The total number of results in the result set.
          type: integer
    VideoFileDetailsVideoStream:
      id: VideoFileDetailsVideoStream
      type: object
      properties:
        aspectRatio:
          description: >-
            The video content's display aspect ratio, which specifies the aspect
            ratio in which the video should be displayed.
          type: number
          format: double
        heightPixels:
          description: The encoded video content's height in pixels.
          format: uint32
          type: integer
        vendor:
          description: >-
            A value that uniquely identifies a video vendor. Typically, the
            value is a four-letter vendor code.
          type: string
        widthPixels:
          format: uint32
          description: >-
            The encoded video content's width in pixels. You can calculate the
            video's encoding aspect ratio as width_pixels / height_pixels.
          type: integer
        codec:
          type: string
          description: The video codec that the stream uses.
        frameRateFps:
          description: The video stream's frame rate, in frames per second.
          format: double
          type: number
        bitrateBps:
          type: string
          format: uint64
          description: The video stream's bitrate, in bits per second.
        rotation:
          enum:
            - none
            - clockwise
            - upsideDown
            - counterClockwise
            - other
          description: >-
            The amount that YouTube needs to rotate the original source content
            to properly display the video.
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
          type: string
      description: Information about a video stream.
    TestItemTestItemSnippet:
      id: TestItemTestItemSnippet
      type: object
      properties: {}
    CaptionListResponse:
      properties:
        eventId:
          type: string
          description: Serialized EventId of the request which produced this response.
        etag:
          description: Etag of this resource.
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Caption'
          description: A list of captions that match the request criteria.
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#captionListResponse".
          default: youtube#captionListResponse
        visitorId:
          type: string
          description: The visitorId identifies the visitor.
      type: object
      id: CaptionListResponse
    LiveChatNewSponsorDetails:
      type: object
      properties:
        memberLevelName:
          description: >-
            The name of the Level that the viewer just had joined. The Level
            names are defined by the YouTube channel offering the Membership. In
            some situations this field isn't filled.
          type: string
        isUpgrade:
          description: >-
            If the viewer just had upgraded from a lower level. For viewers that
            were not members at the time of purchase, this field is false.
          type: boolean
      id: LiveChatNewSponsorDetails
    ActivityContentDetailsPromotedItem:
      type: object
      properties:
        descriptionText:
          type: string
          description: The text description to accompany the promoted item.
        destinationUrl:
          type: string
          description: >-
            The URL the client should direct the user to, if the user chooses to
            visit the advertiser's website.
        ctaType:
          enumDescriptions:
            - ''
            - ''
          description: >-
            The type of call-to-action, a message to the user indicating action
            that can be taken.
          enum:
            - ctaTypeUnspecified
            - visitAdvertiserSite
          type: string
        forecastingUrl:
          items:
            type: string
          description: >-
            The list of forecasting URLs. The client should ping all of these
            URLs when a promoted item is not available, to indicate that a
            promoted item could have been shown.
          type: array
        impressionUrl:
          description: >-
            The list of impression URLs. The client should ping all of these
            URLs to indicate that the user was shown this promoted item.
          items:
            type: string
          type: array
        videoId:
          description: The ID that YouTube uses to uniquely identify the promoted video.
          type: string
        adTag:
          type: string
          description: The URL the client should fetch to request a promoted item.
        customCtaButtonText:
          type: string
          description: >-
            The custom call-to-action button text. If specified, it will
            override the default button text for the cta_type.
        clickTrackingUrl:
          description: >-
            The URL the client should ping to indicate that the user clicked
            through on this promoted item.
          type: string
        creativeViewUrl:
          description: >-
            The URL the client should ping to indicate that the user was shown
            this promoted item.
          type: string
      id: ActivityContentDetailsPromotedItem
      description: Details about a resource which is being promoted.
    ActivityContentDetails:
      type: object
      properties:
        channelItem:
          description: >-
            The channelItem object contains details about a resource which was
            added to a channel. This property is only present if the
            snippet.type is channelItem.
          $ref: '#/components/schemas/ActivityContentDetailsChannelItem'
        playlistItem:
          description: >-
            The playlistItem object contains information about a new playlist
            item. This property is only present if the snippet.type is
            playlistItem.
          $ref: '#/components/schemas/ActivityContentDetailsPlaylistItem'
        bulletin:
          $ref: '#/components/schemas/ActivityContentDetailsBulletin'
          description: >-
            The bulletin object contains details about a channel bulletin post.
            This object is only present if the snippet.type is bulletin.
        recommendation:
          description: >-
            The recommendation object contains information about a recommended
            resource. This property is only present if the snippet.type is
            recommendation.
          $ref: '#/components/schemas/ActivityContentDetailsRecommendation'
        promotedItem:
          description: >-
            The promotedItem object contains details about a resource which is
            being promoted. This property is only present if the snippet.type is
            promotedItem.
          $ref: '#/components/schemas/ActivityContentDetailsPromotedItem'
        favorite:
          $ref: '#/components/schemas/ActivityContentDetailsFavorite'
          description: >-
            The favorite object contains information about a video that was
            marked as a favorite video. This property is only present if the
            snippet.type is favorite.
        subscription:
          description: >-
            The subscription object contains information about a channel that a
            user subscribed to. This property is only present if the
            snippet.type is subscription.
          $ref: '#/components/schemas/ActivityContentDetailsSubscription'
        like:
          description: >-
            The like object contains information about a resource that received
            a positive (like) rating. This property is only present if the
            snippet.type is like.
          $ref: '#/components/schemas/ActivityContentDetailsLike'
        comment:
          description: >-
            The comment object contains information about a resource that
            received a comment. This property is only present if the
            snippet.type is comment.
          $ref: '#/components/schemas/ActivityContentDetailsComment'
        social:
          description: >-
            The social object contains details about a social network post. This
            property is only present if the snippet.type is social.
          $ref: '#/components/schemas/ActivityContentDetailsSocial'
        upload:
          description: >-
            The upload object contains information about the uploaded video.
            This property is only present if the snippet.type is upload.
          $ref: '#/components/schemas/ActivityContentDetailsUpload'
      description: >-
        Details about the content of an activity: the video that was shared, the
        channel that was subscribed to, etc.
      id: ActivityContentDetails
    LocalizedProperty:
      properties:
        default:
          type: string
        defaultLanguage:
          description: The language of the default property.
          $ref: '#/components/schemas/LanguageTag'
        localized:
          items:
            $ref: '#/components/schemas/LocalizedString'
          type: array
      id: LocalizedProperty
      type: object
    MembershipsLevel:
      id: MembershipsLevel
      type: object
      properties:
        etag:
          description: Etag of this resource.
          type: string
        kind:
          type: string
          default: youtube#membershipsLevel
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#membershipsLevelListResponse".
        snippet:
          $ref: '#/components/schemas/MembershipsLevelSnippet'
          description: The snippet object contains basic details about the level.
        id:
          description: >-
            The ID that YouTube assigns to uniquely identify the memberships
            level.
          type: string
      description: >-
        A *membershipsLevel* resource represents an offer made by YouTube
        creators for their fans. Users can become members of the channel by
        joining one of the available levels. They will provide recurring
        monetary support and receives special benefits.
    SuperStickerMetadata:
      type: object
      id: SuperStickerMetadata
      properties:
        stickerId:
          description: >-
            Unique identifier of the Super Sticker. This is a shorter form of
            the alt_text that includes pack name and a recognizable
            characteristic of the sticker.
          type: string
        altText:
          type: string
          description: >-
            Internationalized alt text that describes the sticker image and any
            animation associated with it.
        altTextLanguage:
          type: string
          description: >-
            Specifies the localization language in which the alt text is
            returned.
    LiveChatMessageRetractedDetails:
      id: LiveChatMessageRetractedDetails
      type: object
      properties:
        retractedMessageId:
          type: string
    VideoAbuseReportSecondaryReason:
      id: VideoAbuseReportSecondaryReason
      properties:
        id:
          description: The ID of this abuse report secondary reason.
          type: string
        label:
          type: string
          description: The localized label for this abuse report secondary reason.
      type: object
    SuperChatEventSnippet:
      type: object
      id: SuperChatEventSnippet
      properties:
        displayString:
          description: >-
            A rendered string that displays the purchase amount and currency
            (e.g., "$1.00"). The string is rendered for the given language.
          type: string
        superStickerMetadata:
          $ref: '#/components/schemas/SuperStickerMetadata'
          description: >-
            If this event is a Super Sticker event, this field will contain
            metadata about the Super Sticker.
        amountMicros:
          type: string
          description: >-
            The purchase amount, in micros of the purchase currency. e.g., 1 is
            represented as 1000000.
          format: uint64
        messageType:
          description: >-
            The tier for the paid message, which is based on the amount of money
            spent to purchase the message.
          format: uint32
          type: integer
        currency:
          type: string
          description: The currency in which the purchase was made. ISO 4217.
        commentText:
          description: The text contents of the comment left by the user.
          type: string
        createdAt:
          format: date-time
          type: string
          description: The date and time when the event occurred.
        isSuperStickerEvent:
          description: True if this event is a Super Sticker event.
          type: boolean
        supporterDetails:
          $ref: '#/components/schemas/ChannelProfileDetails'
          description: Details about the supporter.
        channelId:
          description: Channel id where the event occurred.
          type: string
    ChannelToStoreLinkDetails:
      type: object
      id: ChannelToStoreLinkDetails
      description: >-
        Information specific to a store on a merchandising platform linked to a
        YouTube channel.
      properties:
        storeName:
          description: Name of the store.
          type: string
        storeUrl:
          type: string
          description: Landing page of the store.
        merchantId:
          type: string
          description: Google Merchant Center id of the store.
          format: uint64
    ActivityContentDetailsRecommendation:
      type: object
      description: Information that identifies the recommended resource.
      properties:
        resourceId:
          $ref: '#/components/schemas/ResourceId'
          description: >-
            The resourceId object contains information that identifies the
            recommended resource.
        seedResourceId:
          description: >-
            The seedResourceId object contains information about the resource
            that caused the recommendation.
          $ref: '#/components/schemas/ResourceId'
        reason:
          description: The reason that the resource is recommended to the user.
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          enum:
            - reasonUnspecified
            - videoFavorited
            - videoLiked
            - videoWatched
          type: string
      id: ActivityContentDetailsRecommendation
    LiveChatMessageAuthorDetails:
      properties:
        channelId:
          type: string
          description: The YouTube channel ID.
        isChatOwner:
          description: Whether the author is the owner of the live chat.
          type: boolean
        displayName:
          type: string
          description: The channel's display name.
        isChatModerator:
          type: boolean
          description: Whether the author is a moderator of the live chat.
        isChatSponsor:
          type: boolean
          description: Whether the author is a sponsor of the live chat.
        isVerified:
          type: boolean
          description: Whether the author's identity has been verified by YouTube.
        channelUrl:
          type: string
          description: The channel's URL.
        profileImageUrl:
          type: string
          description: The channels's avatar URL.
      type: object
      id: LiveChatMessageAuthorDetails
    Member:
      id: Member
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#member".
          type: string
          default: youtube#member
        etag:
          description: Etag of this resource.
          type: string
        snippet:
          description: The snippet object contains basic details about the member.
          $ref: '#/components/schemas/MemberSnippet'
      description: >-
        A *member* resource represents a member for a YouTube channel. A member
        provides recurring monetary support to a creator and receives special
        benefits.
      type: object
    MembershipsDuration:
      id: MembershipsDuration
      properties:
        memberSince:
          type: string
          description: >-
            The date and time when the user became a continuous member across
            all levels.
        memberTotalDurationMonths:
          format: int32
          description: >-
            The cumulative time the user has been a member across all levels in
            complete months (the time is rounded down to the nearest integer).
          type: integer
      type: object
    CommentThreadListResponse:
      properties:
        nextPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/CommentThread'
          description: A list of comment threads that match the request criteria.
        pageInfo:
          description: General pagination information.
          $ref: '#/components/schemas/PageInfo'
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#commentThreadListResponse".
          type: string
          default: youtube#commentThreadListResponse
        etag:
          type: string
          description: Etag of this resource.
      type: object
      id: CommentThreadListResponse
    LiveChatMessageDeletedDetails:
      id: LiveChatMessageDeletedDetails
      type: object
      properties:
        deletedMessageId:
          type: string
    VideoListResponse:
      properties:
        etag:
          description: Etag of this resource.
          type: string
        eventId:
          type: string
          description: Serialized EventId of the request which produced this response.
        items:
          items:
            $ref: '#/components/schemas/Video'
          type: array
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
          description: General pagination information.
        kind:
          type: string
          default: youtube#videoListResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#videoListResponse".
        nextPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        prevPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the previous page in the result set.
          type: string
        visitorId:
          type: string
          description: The visitorId identifies the visitor.
      id: VideoListResponse
      type: object
    LiveBroadcastStatus:
      id: LiveBroadcastStatus
      properties:
        recordingStatus:
          type: string
          enum:
            - liveBroadcastRecordingStatusUnspecified
            - notRecording
            - recording
            - recorded
          description: The broadcast's recording status.
          enumDescriptions:
            - No value or the value is unknown.
            - The recording has not yet been started.
            - The recording is currently on.
            - The recording is completed, and cannot be started again.
        liveBroadcastPriority:
          description: Priority of the live broadcast event (internal state).
          enumDescriptions:
            - ''
            - >-
              Low priority broadcast: for low view count HoAs or other low
              priority broadcasts.
            - 'Normal priority broadcast: for regular HoAs and broadcasts.'
            - >-
              High priority broadcast: for high profile HoAs, like PixelCorp
              ones.
          type: string
          enum:
            - liveBroadcastPriorityUnspecified
            - low
            - normal
            - high
        lifeCycleStatus:
          type: string
          enumDescriptions:
            - No value or the value is unknown.
            - Incomplete settings, but otherwise valid
            - Complete settings
            - Visible only to partner, may need special UI treatment
            - Viper is recording; this means the "clock" is running
            - The broadcast is finished.
            - This broadcast was removed by admin action
            - Transition into TESTING has been requested
            - Transition into LIVE has been requested
          description: >-
            The broadcast's status. The status can be updated using the API's
            liveBroadcasts.transition method.
          enum:
            - lifeCycleStatusUnspecified
            - created
            - ready
            - testing
            - live
            - complete
            - revoked
            - testStarting
            - liveStarting
        madeForKids:
          description: >-
            Whether the broadcast is made for kids or not, decided by YouTube
            instead of the creator. This field is read only.
          type: boolean
        privacyStatus:
          enum:
            - public
            - unlisted
            - private
          annotations:
            required:
              - youtube.liveBroadcasts.insert
              - youtube.liveBroadcasts.update
          type: string
          description: >-
            The broadcast's privacy status. Note that the broadcast represents
            exactly one YouTube video, so the privacy settings are identical to
            those supported for videos. In addition, you can set this field by
            modifying the broadcast resource or by setting the privacyStatus
            field of the corresponding video resource.
          enumDescriptions:
            - ''
            - ''
            - ''
        selfDeclaredMadeForKids:
          description: >-
            This field will be set to True if the creator declares the broadcast
            to be kids only: go/live-cw-work.
          type: boolean
      type: object
      description: Live broadcast state.
    SuperChatEvent:
      properties:
        snippet:
          description: >-
            The `snippet` object contains basic details about the Super Chat
            event.
          $ref: '#/components/schemas/SuperChatEventSnippet'
        etag:
          type: string
          description: Etag of this resource.
        id:
          description: >-
            The ID that YouTube assigns to uniquely identify the Super Chat
            event.
          type: string
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            `"youtube#superChatEvent"`.
          default: youtube#superChatEvent
      type: object
      id: SuperChatEvent
      description: >-
        A `__superChatEvent__` resource represents a Super Chat purchase on a
        YouTube channel.
    ChannelBannerResource:
      properties:
        etag:
          type: string
        url:
          type: string
          description: The URL of this banner image.
        kind:
          type: string
          default: youtube#channelBannerResource
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#channelBannerResource".
      type: object
      description: >-
        A channel banner returned as the response to a channel_banner.insert
        call.
      id: ChannelBannerResource
    ThirdPartyLink:
      properties:
        etag:
          type: string
          description: Etag of this resource
        snippet:
          $ref: '#/components/schemas/ThirdPartyLinkSnippet'
          description: >-
            The snippet object contains basic details about the third- party
            account link.
        linkingToken:
          type: string
          description: >-
            The linking_token identifies a YouTube account and channel with
            which the third party account is linked.
        kind:
          type: string
          default: youtube#thirdPartyLink
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#thirdPartyLink".
        status:
          description: The status object contains information about the status of the link.
          $ref: '#/components/schemas/ThirdPartyLinkStatus'
      id: ThirdPartyLink
      description: >-
        A *third party account link* resource represents a link between a
        YouTube account or a channel and an account on a third-party service.
      type: object
    MonitorStreamInfo:
      properties:
        broadcastStreamDelayMs:
          type: integer
          description: >-
            If you have set the enableMonitorStream property to true, then this
            property determines the length of the live broadcast delay.
          annotations:
            required:
              - youtube.liveBroadcasts.update
          format: uint32
        embedHtml:
          description: HTML code that embeds a player that plays the monitor stream.
          type: string
        enableMonitorStream:
          type: boolean
          annotations:
            required:
              - youtube.liveBroadcasts.update
          description: >-
            This value determines whether the monitor stream is enabled for the
            broadcast. If the monitor stream is enabled, then YouTube will
            broadcast the event content on a special stream intended only for
            the broadcaster's consumption. The broadcaster can use the stream to
            review the event content and also to identify the optimal times to
            insert cuepoints. You need to set this value to true if you intend
            to have a broadcast delay for your event. *Note:* This property
            cannot be updated once the broadcast is in the testing or live
            state.
      id: MonitorStreamInfo
      description: Settings and Info of the monitor stream
      type: object
    VideoSuggestions:
      id: VideoSuggestions
      properties:
        tagSuggestions:
          type: array
          items:
            $ref: '#/components/schemas/VideoSuggestionsTagSuggestion'
          description: >-
            A list of keyword tags that could be added to the video's metadata
            to increase the likelihood that users will locate your video when
            searching or browsing on YouTube.
        processingWarnings:
          type: array
          items:
            enum:
              - unknownContainer
              - unknownVideoCodec
              - unknownAudioCodec
              - inconsistentResolution
              - hasEditlist
              - problematicVideoCodec
              - problematicAudioCodec
              - unsupportedVrStereoMode
              - unsupportedSphericalProjectionType
              - unsupportedHdrPixelFormat
              - unsupportedHdrColorMetadata
              - problematicHdrLookupTable
            type: string
            enumDescriptions:
              - Unrecognized file format, transcoding is likely to fail.
              - Unrecognized video codec, transcoding is likely to fail.
              - Unrecognized audio codec, transcoding is likely to fail.
              - Conflicting container and stream resolutions.
              - Edit lists are not currently supported.
              - Video codec that is known to cause problems was used.
              - Audio codec that is known to cause problems was used.
              - Unsupported VR video stereo mode.
              - Unsupported spherical video projection type.
              - Unsupported HDR pixel format.
              - Unspecified HDR color metadata.
              - Problematic HDR lookup table attached.
          description: >-
            A list of reasons why YouTube may have difficulty transcoding the
            uploaded video or that might result in an erroneous transcoding.
            These warnings are generated before YouTube actually processes the
            uploaded video file. In addition, they identify issues that are
            unlikely to cause the video processing to fail but that might cause
            problems such as sync issues, video artifacts, or a missing audio
            track.
        processingErrors:
          description: >-
            A list of errors that will prevent YouTube from successfully
            processing the uploaded video video. These errors indicate that,
            regardless of the video's current processing status, eventually,
            that status will almost certainly be failed.
          items:
            enumDescriptions:
              - File contains audio only (e.g., an MP3 file).
              - Image file (e.g., a JPEG image).
              - >-
                Movie project file (e.g., Microsoft Windows Movie Maker
                project).
              - Other non-video file.
              - Document or text file (e.g., MS Word document).
              - An archive file (e.g., a ZIP archive).
              - Unsupported spatial audio layout type.
            enum:
              - audioFile
              - imageFile
              - projectFile
              - notAVideoFile
              - docFile
              - archiveFile
              - unsupportedSpatialAudioLayout
            type: string
          type: array
        editorSuggestions:
          description: >-
            A list of video editing operations that might improve the video
            quality or playback experience of the uploaded video.
          items:
            enum:
              - videoAutoLevels
              - videoStabilize
              - videoCrop
              - audioQuietAudioSwap
            enumDescriptions:
              - Picture brightness levels seem off and could be corrected.
              - The video appears shaky and could be stabilized.
              - Margins (mattes) detected around the picture could be cropped.
              - >-
                The audio track appears silent and could be swapped with a
                better quality one.
            type: string
          type: array
        processingHints:
          type: array
          items:
            enum:
              - nonStreamableMov
              - sendBestQualityVideo
              - sphericalVideo
              - spatialAudio
              - vrVideo
              - hdrVideo
            type: string
            enumDescriptions:
              - >-
                The MP4 file is not streamable, this will slow down the
                processing. MOOV atom was not found at the beginning of the
                file.
              - >-
                Probably a better quality version of the video exists. The video
                has wide screen aspect ratio, but is not an HD video.
              - Uploaded video is spherical video.
              - Uploaded video has spatial audio.
              - Uploaded video is VR video.
              - Uploaded video is HDR video.
          description: >-
            A list of suggestions that may improve YouTube's ability to process
            the video.
      description: >-
        Specifies suggestions on how to improve video content, including
        encoding hints, tag suggestions, and editor suggestions.
      type: object
    ChannelConversionPings:
      description: >-
        The conversionPings object encapsulates information about conversion
        pings that need to be respected by the channel.
      type: object
      id: ChannelConversionPings
      properties:
        pings:
          description: >-
            Pings that the app shall fire (authenticated by biscotti cookie).
            Each ping has a context, in which the app must fire the ping, and a
            url identifying the ping.
          type: array
          items:
            $ref: '#/components/schemas/ChannelConversionPing'
    RelatedEntity:
      properties:
        entity:
          $ref: '#/components/schemas/Entity'
      type: object
      id: RelatedEntity
    I18nRegionListResponse:
      type: object
      properties:
        kind:
          type: string
          default: youtube#i18nRegionListResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#i18nRegionListResponse".
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        items:
          type: array
          description: >-
            A list of regions where YouTube is available. In this map, the i18n
            region ID is the map key, and its value is the corresponding
            i18nRegion resource.
          items:
            $ref: '#/components/schemas/I18nRegion'
        etag:
          description: Etag of this resource.
          type: string
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
      id: I18nRegionListResponse
    LiveChatModerator:
      description: >-
        A *liveChatModerator* resource represents a moderator for a YouTube live
        chat. A chat moderator has the ability to ban/unban users from a chat,
        remove message, etc.
      id: LiveChatModerator
      properties:
        snippet:
          description: The snippet object contains basic details about the moderator.
          $ref: '#/components/schemas/LiveChatModeratorSnippet'
        etag:
          type: string
          description: Etag of this resource.
        id:
          description: The ID that YouTube assigns to uniquely identify the moderator.
          type: string
        kind:
          default: youtube#liveChatModerator
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#liveChatModerator".
      type: object
    LiveStreamSnippet:
      properties:
        publishedAt:
          format: date-time
          type: string
          description: The date and time that the stream was created.
        title:
          type: string
          annotations:
            required:
              - youtube.liveStreams.insert
              - youtube.liveStreams.update
          description: >-
            The stream's title. The value must be between 1 and 128 characters
            long.
        channelId:
          type: string
          description: >-
            The ID that YouTube uses to uniquely identify the channel that is
            transmitting the stream.
        description:
          type: string
          description: >-
            The stream's description. The value cannot be longer than 10000
            characters.
        isDefaultStream:
          type: boolean
      type: object
      id: LiveStreamSnippet
    VideoAbuseReportReason:
      properties:
        etag:
          type: string
          description: Etag of this resource.
        snippet:
          description: >-
            The `snippet` object contains basic details about the abuse report
            reason.
          $ref: '#/components/schemas/VideoAbuseReportReasonSnippet'
        id:
          description: The ID of this abuse report reason.
          type: string
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            `"youtube#videoAbuseReportReason"`.
          type: string
          default: youtube#videoAbuseReportReason
      description: >-
        A `__videoAbuseReportReason__` resource identifies a reason that a video
        could be reported as abusive. Video abuse report reasons are used with
        `video.ReportAbuse`.
      id: VideoAbuseReportReason
      type: object
    Comment:
      description: A *comment* represents a single YouTube comment.
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#comment".
          type: string
          default: youtube#comment
        id:
          description: The ID that YouTube uses to uniquely identify the comment.
          type: string
        etag:
          type: string
          description: Etag of this resource.
        snippet:
          description: The snippet object contains basic details about the comment.
          $ref: '#/components/schemas/CommentSnippet'
      id: Comment
      type: object
    Channel:
      description: A *channel* resource contains information about a YouTube channel.
      properties:
        auditDetails:
          $ref: '#/components/schemas/ChannelAuditDetails'
          description: >-
            The auditionDetails object encapsulates channel data that is
            relevant for YouTube Partners during the audition process.
        id:
          description: The ID that YouTube uses to uniquely identify the channel.
          type: string
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#channel".
          default: youtube#channel
          type: string
        contentDetails:
          $ref: '#/components/schemas/ChannelContentDetails'
          description: >-
            The contentDetails object encapsulates information about the
            channel's content.
        localizations:
          description: Localizations for different languages
          additionalProperties:
            $ref: '#/components/schemas/ChannelLocalization'
          type: object
        snippet:
          description: >-
            The snippet object contains basic details about the channel, such as
            its title, description, and thumbnail images.
          $ref: '#/components/schemas/ChannelSnippet'
        contentOwnerDetails:
          description: >-
            The contentOwnerDetails object encapsulates channel data that is
            relevant for YouTube Partners linked with the channel.
          $ref: '#/components/schemas/ChannelContentOwnerDetails'
        statistics:
          $ref: '#/components/schemas/ChannelStatistics'
          description: The statistics object encapsulates statistics for the channel.
        brandingSettings:
          $ref: '#/components/schemas/ChannelBrandingSettings'
          description: >-
            The brandingSettings object encapsulates information about the
            branding of the channel.
        topicDetails:
          description: >-
            The topicDetails object encapsulates information about Freebase
            topics associated with the channel.
          $ref: '#/components/schemas/ChannelTopicDetails'
        status:
          $ref: '#/components/schemas/ChannelStatus'
          description: >-
            The status object encapsulates information about the privacy status
            of the channel.
        conversionPings:
          $ref: '#/components/schemas/ChannelConversionPings'
          description: >-
            The conversionPings object encapsulates information about conversion
            pings that need to be respected by the channel.
        etag:
          description: Etag of this resource.
          type: string
      id: Channel
      type: object
    LanguageTag:
      properties:
        value:
          type: string
      id: LanguageTag
      type: object
    TestItem:
      properties:
        featuredPart:
          type: boolean
        id:
          type: string
        snippet:
          $ref: '#/components/schemas/TestItemTestItemSnippet'
        gaia:
          format: int64
          type: string
      type: object
      id: TestItem
    ChannelContentOwnerDetails:
      properties:
        timeLinked:
          format: date-time
          type: string
          description: The date and time when the channel was linked to the content owner.
        contentOwner:
          type: string
          description: The ID of the content owner linked to the channel.
      type: object
      description: >-
        The contentOwnerDetails object encapsulates channel data that is
        relevant for YouTube Partners linked with the channel.
      id: ChannelContentOwnerDetails
    ThirdPartyLinkStatus:
      description: >-
        The third-party link status object contains information about the status
        of the link.
      id: ThirdPartyLinkStatus
      properties:
        linkStatus:
          type: string
          enum:
            - unknown
            - failed
            - pending
            - linked
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
      type: object
    VideoSuggestionsTagSuggestion:
      type: object
      properties:
        tag:
          description: The keyword tag suggested for the video.
          type: string
        categoryRestricts:
          description: >-
            A set of video categories for which the tag is relevant. You can use
            this information to display appropriate tag suggestions based on the
            video category that the video uploader associates with the video. By
            default, tag suggestions are relevant for all categories if there
            are no restricts defined for the keyword.
          type: array
          items:
            type: string
      id: VideoSuggestionsTagSuggestion
      description: A single tag suggestion with it's relevance information.
    I18nLanguageListResponse:
      properties:
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#i18nLanguageListResponse".
          default: youtube#i18nLanguageListResponse
        visitorId:
          type: string
          description: The visitorId identifies the visitor.
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        items:
          items:
            $ref: '#/components/schemas/I18nLanguage'
          description: >-
            A list of supported i18n languages. In this map, the i18n language
            ID is the map key, and its value is the corresponding i18nLanguage
            resource.
          type: array
        etag:
          description: Etag of this resource.
          type: string
      type: object
      id: I18nLanguageListResponse
    ContentRating:
      type: object
      description: >-
        Ratings schemes. The country-specific ratings are mostly for movies and
        shows. LINT.IfChange
      properties:
        eefilmRating:
          description: The video's rating in Estonia.
          enum:
            - eefilmUnspecified
            - eefilmPere
            - eefilmL
            - eefilmMs6
            - eefilmK6
            - eefilmMs12
            - eefilmK12
            - eefilmK14
            - eefilmK16
            - eefilmUnrated
          enumDescriptions:
            - ''
            - Pere
            - L
            - MS-6
            - K-6
            - MS-12
            - K-12
            - K-14
            - K-16
            - ''
          type: string
        bbfcRating:
          description: The video's British Board of Film Classification (BBFC) rating.
          enum:
            - bbfcUnspecified
            - bbfcU
            - bbfcPg
            - bbfc12a
            - bbfc12
            - bbfc15
            - bbfc18
            - bbfcR18
            - bbfcUnrated
          enumDescriptions:
            - ''
            - U
            - PG
            - 12A
            - '12'
            - '15'
            - '18'
            - R18
            - ''
          type: string
        pefilmRating:
          enumDescriptions:
            - ''
            - PT
            - PG
            - '14'
            - '18'
            - ''
          enum:
            - pefilmUnspecified
            - pefilmPt
            - pefilmPg
            - pefilm14
            - pefilm18
            - pefilmUnrated
          description: The video's rating in Peru.
          type: string
        kmrbRating:
          enumDescriptions:
            - ''
            - 전체관람가
            - 12세 이상 관람가
            - 15세 이상 관람가
            - ''
            - 청소년 관람불가
            - ''
          type: string
          enum:
            - kmrbUnspecified
            - kmrbAll
            - kmrb12plus
            - kmrb15plus
            - kmrbTeenr
            - kmrbR
            - kmrbUnrated
          description: >-
            The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB
            rates videos in South Korea.
        cncRating:
          enumDescriptions:
            - ''
            - T
            - '10'
            - '12'
            - '16'
            - '18'
            - E
            - interdiction
            - ''
          enum:
            - cncUnspecified
            - cncT
            - cnc10
            - cnc12
            - cnc16
            - cnc18
            - cncE
            - cncInterdiction
            - cncUnrated
          description: >-
            Rating system in France - Commission de classification
            cinematographique
          type: string
        kijkwijzerRating:
          description: >-
            The video's NICAM/Kijkwijzer rating from the Nederlands Instituut
            voor de Classificatie van Audiovisuele Media (Netherlands).
          type: string
          enum:
            - kijkwijzerUnspecified
            - kijkwijzerAl
            - kijkwijzer6
            - kijkwijzer9
            - kijkwijzer12
            - kijkwijzer16
            - kijkwijzer18
            - kijkwijzerUnrated
          enumDescriptions:
            - ''
            - AL
            - '6'
            - '9'
            - '12'
            - '16'
            - ''
            - ''
        kfcbRating:
          description: The video's rating from the Kenya Film Classification Board.
          enum:
            - kfcbUnspecified
            - kfcbG
            - kfcbPg
            - kfcb16plus
            - kfcbR
            - kfcbUnrated
          type: string
          enumDescriptions:
            - ''
            - GE
            - PG
            - '16'
            - '18'
            - ''
        fcbmRating:
          type: string
          description: The video's rating from Malaysia's Film Censorship Board.
          enumDescriptions:
            - ''
            - U
            - PG13
            - P13
            - '18'
            - 18SX
            - 18PA
            - 18SG
            - 18PL
            - ''
          enum:
            - fcbmUnspecified
            - fcbmU
            - fcbmPg13
            - fcbmP13
            - fcbm18
            - fcbm18sx
            - fcbm18pa
            - fcbm18sg
            - fcbm18pl
            - fcbmUnrated
        ecbmctRating:
          type: string
          enum:
            - ecbmctUnspecified
            - ecbmctG
            - ecbmct7a
            - ecbmct7plus
            - ecbmct13a
            - ecbmct13plus
            - ecbmct15a
            - ecbmct15plus
            - ecbmct18plus
            - ecbmctUnrated
          enumDescriptions:
            - ''
            - G
            - 7A
            - 7+
            - 13A
            - 13+
            - 15A
            - 15+
            - 18+
            - ''
          description: >-
            Rating system in Turkey - Evaluation and Classification Board of the
            Ministry of Culture and Tourism
        rtcRating:
          enum:
            - rtcUnspecified
            - rtcAa
            - rtcA
            - rtcB
            - rtcB15
            - rtcC
            - rtcD
            - rtcUnrated
          type: string
          enumDescriptions:
            - ''
            - AA
            - A
            - B
            - B15
            - C
            - D
            - ''
          description: >-
            The video's General Directorate of Radio, Television and
            Cinematography (Mexico) rating.
        catvRating:
          enum:
            - catvUnspecified
            - catvC
            - catvC8
            - catvG
            - catvPg
            - catv14plus
            - catv18plus
            - catvUnrated
            - catvE
          type: string
          enumDescriptions:
            - ''
            - C
            - C8
            - G
            - PG
            - 14+
            - 18+
            - ''
            - ''
          description: >-
            Rating system for Canadian TV - Canadian TV Classification System
            The video's rating from the Canadian Radio-Television and
            Telecommunications Commission (CRTC) for Canadian English-language
            broadcasts. For more information, see the Canadian Broadcast
            Standards Council website.
        fpbRating:
          enumDescriptions:
            - ''
            - A
            - PG
            - 7-9PG
            - 10-12PG
            - '13'
            - '16'
            - '18'
            - X18
            - XX
            - ''
            - '10'
          description: The video's rating from South Africa's Film and Publication Board.
          type: string
          enum:
            - fpbUnspecified
            - fpbA
            - fpbPg
            - fpb79Pg
            - fpb1012Pg
            - fpb13
            - fpb16
            - fpb18
            - fpbX18
            - fpbXx
            - fpbUnrated
            - fpb10
        medietilsynetRating:
          description: >-
            The video's rating from Medietilsynet, the Norwegian Media
            Authority.
          enum:
            - medietilsynetUnspecified
            - medietilsynetA
            - medietilsynet6
            - medietilsynet7
            - medietilsynet9
            - medietilsynet11
            - medietilsynet12
            - medietilsynet15
            - medietilsynet18
            - medietilsynetUnrated
          type: string
          enumDescriptions:
            - ''
            - A
            - '6'
            - '7'
            - '9'
            - '11'
            - '12'
            - '15'
            - '18'
            - ''
        chvrsRating:
          enum:
            - chvrsUnspecified
            - chvrsG
            - chvrsPg
            - chvrs14a
            - chvrs18a
            - chvrsR
            - chvrsE
            - chvrsUnrated
          description: The video's Canadian Home Video Rating System (CHVRS) rating.
          enumDescriptions:
            - ''
            - G
            - PG
            - 14A
            - 18A
            - R
            - E
            - ''
          type: string
        bmukkRating:
          description: >-
            The video's rating from the Austrian Board of Media Classification
            (Bundesministerium für Unterricht, Kunst und Kultur).
          enumDescriptions:
            - ''
            - Unrestricted
            - 6+
            - 8+
            - 10+
            - 12+
            - 14+
            - 16+
            - ''
          enum:
            - bmukkUnspecified
            - bmukkAa
            - bmukk6
            - bmukk8
            - bmukk10
            - bmukk12
            - bmukk14
            - bmukk16
            - bmukkUnrated
          type: string
        djctqRating:
          enumDescriptions:
            - ''
            - L
            - '10'
            - '12'
            - '14'
            - '16'
            - '18'
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - djctqUnspecified
            - djctqL
            - djctq10
            - djctq12
            - djctq14
            - djctq16
            - djctq18
            - djctqEr
            - djctqL10
            - djctqL12
            - djctqL14
            - djctqL16
            - djctqL18
            - djctq1012
            - djctq1014
            - djctq1016
            - djctq1018
            - djctq1214
            - djctq1216
            - djctq1218
            - djctq1416
            - djctq1418
            - djctq1618
            - djctqUnrated
          description: >-
            The video's Departamento de Justiça, Classificação, Qualificação e
            Títulos (DJCQT - Brazil) rating.
          type: string
        fmocRating:
          type: string
          description: >-
            This property has been deprecated. Use the
            contentDetails.contentRating.cncRating instead.
          enum:
            - fmocUnspecified
            - fmocU
            - fmoc10
            - fmoc12
            - fmoc16
            - fmoc18
            - fmocE
            - fmocUnrated
          enumDescriptions:
            - ''
            - U
            - '10'
            - '12'
            - '16'
            - '18'
            - E
            - ''
        moctwRating:
          description: The video's rating from Taiwan's Ministry of Culture (文化部).
          enumDescriptions:
            - ''
            - G
            - P
            - PG
            - R
            - ''
            - R-12
            - R-15
          type: string
          enum:
            - moctwUnspecified
            - moctwG
            - moctwP
            - moctwPg
            - moctwR
            - moctwUnrated
            - moctwR12
            - moctwR15
        nbcRating:
          description: >-
            The video's rating from the Maldives National Bureau of
            Classification.
          type: string
          enumDescriptions:
            - ''
            - G
            - PG
            - 12+
            - 15+
            - 18+
            - 18+R
            - PU
            - ''
          enum:
            - nbcUnspecified
            - nbcG
            - nbcPg
            - nbc12plus
            - nbc15plus
            - nbc18plus
            - nbc18plusr
            - nbcPu
            - nbcUnrated
        nbcplRating:
          enum:
            - nbcplUnspecified
            - nbcplI
            - nbcplIi
            - nbcplIii
            - nbcplIv
            - nbcpl18plus
            - nbcplUnrated
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          type: string
          description: The video's rating in Poland.
        nmcRating:
          enum:
            - nmcUnspecified
            - nmcG
            - nmcPg
            - nmcPg13
            - nmcPg15
            - nmc15plus
            - nmc18plus
            - nmc18tc
            - nmcUnrated
          enumDescriptions:
            - ''
            - G
            - PG
            - PG-13
            - PG-15
            - 15+
            - 18+
            - 18TC
            - ''
          description: The National Media Council ratings system for United Arab Emirates.
          type: string
        russiaRating:
          enum:
            - russiaUnspecified
            - russia0
            - russia6
            - russia12
            - russia16
            - russia18
            - russiaUnrated
          type: string
          description: >-
            The video's National Film Registry of the Russian Federation (MKRF -
            Russia) rating.
          enumDescriptions:
            - ''
            - 0+
            - 6+
            - 12+
            - 16+
            - 18+
            - ''
        czfilmRating:
          enum:
            - czfilmUnspecified
            - czfilmU
            - czfilm12
            - czfilm14
            - czfilm18
            - czfilmUnrated
          type: string
          description: The video's rating in the Czech Republic.
          enumDescriptions:
            - ''
            - U
            - '12'
            - '14'
            - '18'
            - ''
        smsaRating:
          enum:
            - smsaUnspecified
            - smsaA
            - smsa7
            - smsa11
            - smsa15
            - smsaUnrated
          description: >-
            The video's rating from Statens medieråd (Sweden's National Media
            Council).
          enumDescriptions:
            - ''
            - All ages
            - '7'
            - '11'
            - '15'
            - ''
          type: string
        tvpgRating:
          type: string
          description: The video's TV Parental Guidelines (TVPG) rating.
          enum:
            - tvpgUnspecified
            - tvpgY
            - tvpgY7
            - tvpgY7Fv
            - tvpgG
            - tvpgPg
            - pg14
            - tvpgMa
            - tvpgUnrated
          enumDescriptions:
            - ''
            - TV-Y
            - TV-Y7
            - TV-Y7-FV
            - TV-G
            - TV-PG
            - TV-14
            - TV-MA
            - ''
        grfilmRating:
          description: The video's rating in Greece.
          type: string
          enumDescriptions:
            - ''
            - K
            - E
            - K-12
            - K-13
            - K-15
            - K-17
            - K-18
            - ''
          enum:
            - grfilmUnspecified
            - grfilmK
            - grfilmE
            - grfilmK12
            - grfilmK13
            - grfilmK15
            - grfilmK17
            - grfilmK18
            - grfilmUnrated
        lsfRating:
          enumDescriptions:
            - ''
            - SU
            - A
            - BO
            - '13'
            - R
            - '17'
            - D
            - '21'
            - ''
          enum:
            - lsfUnspecified
            - lsfSu
            - lsfA
            - lsfBo
            - lsf13
            - lsfR
            - lsf17
            - lsfD
            - lsf21
            - lsfUnrated
          type: string
          description: The video's rating from Indonesia's Lembaga Sensor Film.
        mtrcbRating:
          type: string
          description: >-
            The video's rating from the Movie and Television Review and
            Classification Board (Philippines).
          enumDescriptions:
            - ''
            - G
            - PG
            - R-13
            - R-16
            - R-18
            - X
            - ''
          enum:
            - mtrcbUnspecified
            - mtrcbG
            - mtrcbPg
            - mtrcbR13
            - mtrcbR16
            - mtrcbR18
            - mtrcbX
            - mtrcbUnrated
        fcoRating:
          type: string
          enumDescriptions:
            - ''
            - I
            - IIA
            - IIB
            - II
            - III
            - ''
          description: >-
            The video's rating from Hong Kong's Office for Film, Newspaper and
            Article Administration.
          enum:
            - fcoUnspecified
            - fcoI
            - fcoIia
            - fcoIib
            - fcoIi
            - fcoIii
            - fcoUnrated
        fpbRatingReasons:
          description: >-
            Reasons that explain why the video received its FPB (South Africa)
            rating.
          type: array
          items:
            type: string
            enumDescriptions:
              - ''
              - South Africa rating content descriptors.
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
            enum:
              - fpbRatingReasonUnspecified
              - fpbBlasphemy
              - fpbLanguage
              - fpbNudity
              - fpbPrejudice
              - fpbSex
              - fpbViolence
              - fpbDrugs
              - fpbSexualViolence
              - fpbHorror
              - fpbCriminalTechniques
              - fpbImitativeActsTechniques
        icaaRating:
          type: string
          enumDescriptions:
            - ''
            - APTA
            - '7'
            - '12'
            - '13'
            - '16'
            - '18'
            - X
            - ''
          description: >-
            The video's Instituto de la Cinematografía y de las Artes
            Audiovisuales (ICAA - Spain) rating.
          enum:
            - icaaUnspecified
            - icaaApta
            - icaa7
            - icaa12
            - icaa13
            - icaa16
            - icaa18
            - icaaX
            - icaaUnrated
        bfvcRating:
          enumDescriptions:
            - ''
            - G
            - E
            - '13'
            - '15'
            - '18'
            - '20'
            - B
            - ''
          type: string
          enum:
            - bfvcUnspecified
            - bfvcG
            - bfvcE
            - bfvc13
            - bfvc15
            - bfvc18
            - bfvc20
            - bfvcB
            - bfvcUnrated
          description: The video's rating from Thailand's Board of Film and Video Censors.
        nkclvRating:
          enumDescriptions:
            - ''
            - U
            - 7+
            - 12+
            - '! 16+'
            - 18+
            - ''
          description: >-
            The video's rating from the Nacionãlais Kino centrs (National Film
            Centre of Latvia).
          enum:
            - nkclvUnspecified
            - nkclvU
            - nkclv7plus
            - nkclv12plus
            - nkclv16plus
            - nkclv18plus
            - nkclvUnrated
          type: string
        agcomRating:
          type: string
          enum:
            - agcomUnspecified
            - agcomT
            - agcomVm14
            - agcomVm18
            - agcomUnrated
          description: >-
            The video's rating from Italy's Autorità per le Garanzie nelle
            Comunicazioni (AGCOM).
          enumDescriptions:
            - ''
            - T
            - VM14
            - VM18
            - ''
        mpaaRating:
          enum:
            - mpaaUnspecified
            - mpaaG
            - mpaaPg
            - mpaaPg13
            - mpaaR
            - mpaaNc17
            - mpaaX
            - mpaaUnrated
          enumDescriptions:
            - ''
            - G
            - PG
            - PG-13
            - R
            - NC-17
            - '! X'
            - ''
          description: The video's Motion Picture Association of America (MPAA) rating.
          type: string
        nfvcbRating:
          description: >-
            The video's rating from Nigeria's National Film and Video Censors
            Board.
          enum:
            - nfvcbUnspecified
            - nfvcbG
            - nfvcbPg
            - nfvcb12
            - nfvcb12a
            - nfvcb15
            - nfvcb18
            - nfvcbRe
            - nfvcbUnrated
          type: string
          enumDescriptions:
            - ''
            - G
            - PG
            - '12'
            - 12A
            - '15'
            - '18'
            - RE
            - ''
        cicfRating:
          description: >-
            The video's rating from the Commission de Contrôle des Films
            (Belgium).
          enum:
            - cicfUnspecified
            - cicfE
            - cicfKtEa
            - cicfKntEna
            - cicfUnrated
          type: string
          enumDescriptions:
            - ''
            - E
            - KT/EA
            - KNT/ENA
            - ''
        incaaRating:
          enumDescriptions:
            - ''
            - ATP (Apta para todo publico)
            - 13 (Solo apta para mayores de 13 años)
            - 16 (Solo apta para mayores de 16 años)
            - 18 (Solo apta para mayores de 18 años)
            - X (Solo apta para mayores de 18 años, de exhibición condicionada)
            - ''
          description: >-
            The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales
            - Argentina) rating.
          enum:
            - incaaUnspecified
            - incaaAtp
            - incaaSam13
            - incaaSam16
            - incaaSam18
            - incaaC
            - incaaUnrated
          type: string
        csaRating:
          type: string
          enumDescriptions:
            - ''
            - T
            - '10'
            - '12'
            - '16'
            - '18'
            - Interdiction
            - ''
          enum:
            - csaUnspecified
            - csaT
            - csa10
            - csa12
            - csa16
            - csa18
            - csaInterdiction
            - csaUnrated
          description: >-
            The video's rating from France's Conseil supérieur de l’audiovisuel,
            which rates broadcast content.
        mdaRating:
          type: string
          description: >-
            The video's rating from Singapore's Media Development Authority
            (MDA) and, specifically, it's Board of Film Censors (BFC).
          enum:
            - mdaUnspecified
            - mdaG
            - mdaPg
            - mdaPg13
            - mdaNc16
            - mdaM18
            - mdaR21
            - mdaUnrated
          enumDescriptions:
            - ''
            - G
            - PG
            - PG13
            - NC16
            - M18
            - R21
            - ''
        djctqRatingReasons:
          items:
            enumDescriptions:
              - ''
              - >-
                Brazil rating content descriptors. See http://go/brazilratings
                section F. Violência (Violence)
              - Violência extrema (Extreme violence)
              - Conteúdo sexual (Sexual content)
              - Nudez (Nudity)
              - Sexo (Sex)
              - Sexo Explícito (Explicit sex)
              - Drogas (Drugs)
              - Drogas Lícitas (Legal drugs)
              - Drogas Ilícitas (Illegal drugs)
              - Linguagem Imprópria (Inappropriate language)
              - Atos Criminosos (Criminal Acts)
              - Conteúdo Impactante (Impacting content)
            type: string
            enum:
              - djctqRatingReasonUnspecified
              - djctqViolence
              - djctqExtremeViolence
              - djctqSexualContent
              - djctqNudity
              - djctqSex
              - djctqExplicitSex
              - djctqDrugs
              - djctqLegalDrugs
              - djctqIllegalDrugs
              - djctqInappropriateLanguage
              - djctqCriminalActs
              - djctqImpactingContent
          description: >-
            Reasons that explain why the video received its DJCQT (Brazil)
            rating.
          type: array
        egfilmRating:
          enumDescriptions:
            - ''
            - GN
            - '18'
            - BN
            - ''
          type: string
          enum:
            - egfilmUnspecified
            - egfilmGn
            - egfilm18
            - egfilmBn
            - egfilmUnrated
          description: The video's rating in Egypt.
        cccRating:
          enum:
            - cccUnspecified
            - cccTe
            - ccc6
            - ccc14
            - ccc18
            - ccc18v
            - ccc18s
            - cccUnrated
          type: string
          description: The video's Consejo de Calificación Cinematográfica (Chile) rating.
          enumDescriptions:
            - ''
            - Todo espectador
            - 6+ - Inconveniente para menores de 7 años
            - 14+
            - 18+
            - 18+ - contenido excesivamente violento
            - 18+ - contenido pornográfico
            - ''
        ilfilmRating:
          enumDescriptions:
            - ''
            - AA
            - '12'
            - '14'
            - '16'
            - '18'
            - ''
          type: string
          enum:
            - ilfilmUnspecified
            - ilfilmAa
            - ilfilm12
            - ilfilm14
            - ilfilm16
            - ilfilm18
            - ilfilmUnrated
          description: The video's rating in Israel.
        mocRating:
          enum:
            - mocUnspecified
            - mocE
            - mocT
            - moc7
            - moc12
            - moc15
            - moc18
            - mocX
            - mocBanned
            - mocUnrated
          description: The video's Ministerio de Cultura (Colombia) rating.
          enumDescriptions:
            - ''
            - E
            - T
            - '7'
            - '12'
            - '15'
            - '18'
            - X
            - Banned
            - ''
          type: string
        cnaRating:
          enum:
            - cnaUnspecified
            - cnaAp
            - cna12
            - cna15
            - cna18
            - cna18plus
            - cnaUnrated
          enumDescriptions:
            - ''
            - AP
            - '12'
            - '15'
            - '18'
            - 18+
            - ''
          description: >-
            The video's rating from Romania's CONSILIUL NATIONAL AL
            AUDIOVIZUALULUI (CNA).
          type: string
        mcstRating:
          enumDescriptions:
            - ''
            - P
            - '0'
            - C13
            - C16
            - 16+
            - C18
            - MCST_G_PG
            - ''
          description: The video's rating system for Vietnam - MCST
          type: string
          enum:
            - mcstUnspecified
            - mcstP
            - mcst0
            - mcstC13
            - mcstC16
            - mcst16plus
            - mcstC18
            - mcstGPg
            - mcstUnrated
        nfrcRating:
          type: string
          description: The video's rating from the Bulgarian National Film Center.
          enum:
            - nfrcUnspecified
            - nfrcA
            - nfrcB
            - nfrcC
            - nfrcD
            - nfrcX
            - nfrcUnrated
          enumDescriptions:
            - ''
            - A
            - B
            - C
            - D
            - X
            - ''
        rcnofRating:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - rcnofUnspecified
            - rcnofI
            - rcnofIi
            - rcnofIii
            - rcnofIv
            - rcnofV
            - rcnofVi
            - rcnofUnrated
          description: >-
            The video's rating from the Hungarian Nemzeti Filmiroda, the Rating
            Committee of the National Office of Film.
          type: string
        oflcRating:
          description: >-
            The video's Office of Film and Literature Classification (OFLC - New
            Zealand) rating.
          enum:
            - oflcUnspecified
            - oflcG
            - oflcPg
            - oflcM
            - oflcR13
            - oflcR15
            - oflcR16
            - oflcR18
            - oflcUnrated
            - oflcRp13
            - oflcRp16
            - oflcRp18
          type: string
          enumDescriptions:
            - ''
            - G
            - PG
            - M
            - R13
            - R15
            - R16
            - R18
            - ''
            - RP13
            - RP16
            - RP18
        eirinRating:
          description: The video's Eirin (映倫) rating. Eirin is the Japanese rating system.
          type: string
          enum:
            - eirinUnspecified
            - eirinG
            - eirinPg12
            - eirinR15plus
            - eirinR18plus
            - eirinUnrated
          enumDescriptions:
            - ''
            - G
            - PG-12
            - R15+
            - R18+
            - ''
        ytRating:
          enumDescriptions:
            - ''
            - ''
          description: A rating that YouTube uses to identify age-restricted content.
          type: string
          enum:
            - ytUnspecified
            - ytAgeRestricted
        fskRating:
          description: >-
            The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK -
            Germany) rating.
          enumDescriptions:
            - ''
            - FSK 0
            - FSK 6
            - FSK 12
            - FSK 16
            - FSK 18
            - ''
          enum:
            - fskUnspecified
            - fsk0
            - fsk6
            - fsk12
            - fsk16
            - fsk18
            - fskUnrated
          type: string
        mekuRating:
          enumDescriptions:
            - ''
            - S
            - '7'
            - '12'
            - '16'
            - '18'
            - ''
          enum:
            - mekuUnspecified
            - mekuS
            - meku7
            - meku12
            - meku16
            - meku18
            - mekuUnrated
          description: >-
            The video's rating from Finland's Kansallinen Audiovisuaalinen
            Instituutti (National Audiovisual Institute).
          type: string
        chfilmRating:
          enumDescriptions:
            - ''
            - '0'
            - '6'
            - '12'
            - '16'
            - '18'
            - ''
          enum:
            - chfilmUnspecified
            - chfilm0
            - chfilm6
            - chfilm12
            - chfilm16
            - chfilm18
            - chfilmUnrated
          description: The video's rating in Switzerland.
          type: string
        smaisRating:
          description: The video's rating in Iceland.
          type: string
          enum:
            - smaisUnspecified
            - smaisL
            - smais7
            - smais12
            - smais14
            - smais16
            - smais18
            - smaisUnrated
          enumDescriptions:
            - ''
            - L
            - '7'
            - '12'
            - '14'
            - '16'
            - '18'
            - ''
        mccypRating:
          description: >-
            The video's rating from the Danish Film Institute's (Det Danske
            Filminstitut) Media Council for Children and Young People.
          enumDescriptions:
            - ''
            - A
            - '7'
            - '11'
            - '15'
            - ''
          enum:
            - mccypUnspecified
            - mccypA
            - mccyp7
            - mccyp11
            - mccyp15
            - mccypUnrated
          type: string
        rteRating:
          enum:
            - rteUnspecified
            - rteGa
            - rteCh
            - rtePs
            - rteMa
            - rteUnrated
          type: string
          enumDescriptions:
            - ''
            - GA
            - CH
            - PS
            - MA
            - ''
          description: The video's rating from Ireland's Raidió Teilifís Éireann.
        mccaaRating:
          type: string
          enumDescriptions:
            - ''
            - U
            - PG
            - 12A
            - '12'
            - >-
              14 - this rating was removed from the new classification structure
              introduced in 2013.
            - '15'
            - >-
              16 - this rating was removed from the new classification structure
              introduced in 2013.
            - '18'
            - ''
          enum:
            - mccaaUnspecified
            - mccaaU
            - mccaaPg
            - mccaa12a
            - mccaa12
            - mccaa14
            - mccaa15
            - mccaa16
            - mccaa18
            - mccaaUnrated
          description: The video's rating from Malta's Film Age-Classification Board.
        mibacRating:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - mibacUnspecified
            - mibacT
            - mibacVap
            - mibacVm6
            - mibacVm12
            - mibacVm14
            - mibacVm16
            - mibacVm18
            - mibacUnrated
          type: string
          description: >-
            The video's rating from the Ministero dei Beni e delle Attività
            Culturali e del Turismo (Italy).
        ifcoRating:
          type: string
          description: >-
            The video's Irish Film Classification Office (IFCO - Ireland)
            rating. See the IFCO website for more information.
          enum:
            - ifcoUnspecified
            - ifcoG
            - ifcoPg
            - ifco12
            - ifco12a
            - ifco15
            - ifco15a
            - ifco16
            - ifco18
            - ifcoUnrated
          enumDescriptions:
            - ''
            - G
            - PG
            - '12'
            - 12A
            - '15'
            - 15A
            - '16'
            - '18'
            - ''
        cceRating:
          enum:
            - cceUnspecified
            - cceM4
            - cceM6
            - cceM12
            - cceM16
            - cceM18
            - cceUnrated
            - cceM14
          enumDescriptions:
            - ''
            - '4'
            - '6'
            - '12'
            - '16'
            - '18'
            - ''
            - '14'
          description: >-
            The video's rating from Portugal's Comissão de Classificação de
            Espect´culos.
          type: string
        acbRating:
          description: >-
            The video's Australian Classification Board (ACB) or Australian
            Communications and Media Authority (ACMA) rating. ACMA ratings are
            used to classify children's television programming.
          enumDescriptions:
            - ''
            - E
            - >-
              Programs that have been given a P classification by the Australian
              Communications and Media Authority. These programs are intended
              for preschool children.
            - >-
              Programs that have been given a C classification by the Australian
              Communications and Media Authority. These programs are intended
              for children (other than preschool children) who are younger than
              14 years of age.
            - G
            - PG
            - M
            - MA15+
            - R18+
            - ''
          enum:
            - acbUnspecified
            - acbE
            - acbP
            - acbC
            - acbG
            - acbPg
            - acbM
            - acbMa15plus
            - acbR18plus
            - acbUnrated
          type: string
        resorteviolenciaRating:
          enum:
            - resorteviolenciaUnspecified
            - resorteviolenciaA
            - resorteviolenciaB
            - resorteviolenciaC
            - resorteviolenciaD
            - resorteviolenciaE
            - resorteviolenciaUnrated
          description: The video's rating in Venezuela.
          type: string
          enumDescriptions:
            - ''
            - A
            - B
            - C
            - D
            - E
            - ''
        mpaatRating:
          description: >-
            The rating system for trailer, DVD, and Ad in the US. See
            http://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html.
          type: string
          enumDescriptions:
            - ''
            - GB
            - RB
          enum:
            - mpaatUnspecified
            - mpaatGb
            - mpaatRb
        cbfcRating:
          description: >-
            The video's Central Board of Film Certification (CBFC - India)
            rating.
          enum:
            - cbfcUnspecified
            - cbfcU
            - cbfcUA
            - cbfcUA7plus
            - cbfcUA13plus
            - cbfcUA16plus
            - cbfcA
            - cbfcS
            - cbfcUnrated
          type: string
          enumDescriptions:
            - ''
            - U
            - U/A
            - U/A 7+
            - U/A 13+
            - U/A 16+
            - A
            - S
            - ''
        menaMpaaRating:
          type: string
          description: >-
            The rating system for MENA countries, a clone of MPAA. It is needed
            to prevent titles go live w/o additional QC check, since some of
            them can be inappropriate for the countries at all. See b/33408548
            for more details.
          enumDescriptions:
            - ''
            - G
            - PG
            - PG-13
            - R
            - To keep the same enum values as MPAA's items have, skip NC_17.
          enum:
            - menaMpaaUnspecified
            - menaMpaaG
            - menaMpaaPg
            - menaMpaaPg13
            - menaMpaaR
            - menaMpaaUnrated
        skfilmRating:
          enumDescriptions:
            - ''
            - G
            - P2
            - P5
            - P8
            - ''
          type: string
          description: The video's rating in Slovakia.
          enum:
            - skfilmUnspecified
            - skfilmG
            - skfilmP2
            - skfilmP5
            - skfilmP8
            - skfilmUnrated
        cscfRating:
          type: string
          description: >-
            The video's rating from Luxembourg's Commission de surveillance de
            la classification des films (CSCF).
          enumDescriptions:
            - ''
            - AL
            - A
            - '6'
            - '9'
            - '12'
            - '16'
            - '18'
            - ''
          enum:
            - cscfUnspecified
[...]
