openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Payments Reseller Subscription API
  description: ''
  version: v1
  x-discovery-doc-revision: '20230622'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/payments/reseller/subscription/
servers:
  - url: https://paymentsresellersubscription.googleapis.com
components:
  schemas:
    GoogleCloudPaymentsResellerSubscriptionV1Product:
      type: object
      properties:
        name:
          type: string
          description: >-
            Output only. Response only. Resource name of the product. It will
            have the format of "partners/{partner_id}/products/{product_id}"
          readOnly: true
        titles:
          items:
            $ref: '#/components/schemas/GoogleTypeLocalizedText'
          readOnly: true
          description: Output only. Localized human readable name of the product.
          type: array
        regionCodes:
          readOnly: true
          items:
            type: string
          type: array
          description: >-
            Output only. 2-letter ISO region code where the product is available
            in. Ex. "US" Please refers to:
            https://en.wikipedia.org/wiki/ISO_3166-1
        priceConfigs:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig
          type: array
          readOnly: true
          description: Output only. Price configs for the product in the available regions.
        subscriptionBillingCycleDuration:
          description: >-
            Output only. Specifies the length of the billing cycle of the
            subscription.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration
          readOnly: true
      id: GoogleCloudPaymentsResellerSubscriptionV1Product
      description: >-
        A Product resource that defines a subscription service that can be
        resold.
    GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse:
      properties:
        freeTrialEndTime:
          format: google-datetime
          type: string
          description: >-
            End of the free trial period, in ISO 8061 format. UTC timezone.
            Example, "freeTrialEndTime":"2019-08-31T17:28:54.564Z" This time
            will be set the same as initial subscription creation time if no
            free trial period is offered to the partner.
        renewalTime:
          format: google-datetime
          description: >-
            Output only. The time at which the subscription is expected to be
            renewed by Google - a new charge will be incurred and the service
            entitlement will be renewed. A non-immediate cancellation will take
            place at this time too, before which, the service entitlement for
            the end user will remain valid. UTC timezone in ISO 8061 format. For
            example: "2019-08-31T17:28:54.564Z"
          type: string
          readOnly: true
        cycleEndTime:
          description: >-
            The time at which the subscription is expected to be extended, in
            ISO 8061 format. UTC timezone. Example,
            "cycleEndTime":"2019-08-31T17:28:54.564Z"
          type: string
          format: google-datetime
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse
    GoogleCloudPaymentsResellerSubscriptionV1ProductPayload:
      id: GoogleCloudPaymentsResellerSubscriptionV1ProductPayload
      type: object
      properties:
        googleOnePayload:
          description: Product-specific payloads. Payload specific to Google One products.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload
        youtubePayload:
          description: Payload specific to Youtube products.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload
      description: Specifies product specific payload.
    GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse:
      type: object
      properties:
        subscription:
          description: The cancelled subscription resource.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription
      id: GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem:
      id: GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem
      description: Individual line item definition of a subscription.
      type: object
      properties:
        product:
          description: >-
            Required. Product resource name that identifies one the line item
            The format is 'partners/{partner_id}/products/{product_id}'.
          type: string
        description:
          description: Output only. Description of this line item.
          type: string
          readOnly: true
        oneTimeRecurrenceDetails:
          readOnly: true
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails
          description: Output only. Details only set for a ONE_TIME recurrence line item.
        lineItemIndex:
          type: integer
          readOnly: true
          description: Output only. A unique index of the subscription line item.
          format: int32
        amount:
          description: >-
            Output only. The price of the product/service in this line item. The
            amount could be the wholesale price, or it can include a cost of
            sale based on the contract.
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Amount'
          readOnly: true
        productPayload:
          description: Optional. Product specific payload for this line item.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ProductPayload
        state:
          readOnly: true
          enum:
            - LINE_ITEM_STATE_UNSPECIFIED
            - LINE_ITEM_STATE_ACTIVE
            - LINE_ITEM_STATE_INACTIVE
            - LINE_ITEM_STATE_NEW
            - LINE_ITEM_STATE_ACTIVATING
            - LINE_ITEM_STATE_DEACTIVATING
            - LINE_ITEM_STATE_WAITING_TO_DEACTIVATE
            - LINE_ITEM_STATE_OFF_CYCLE_CHARGING
          description: Output only. The state of the line item.
          type: string
          enumDescriptions:
            - Unspecified state.
            - >-
              The line item is in ACTIVE state. If the subscription is cancelled
              or suspended, the line item will not be charged even if the line
              item is active.
            - The line item is in INACTIVE state.
            - The line item is new, and is not activated or charged yet.
            - >-
              The line item is being activated in order to be charged. If a free
              trial applies to the line item, the line item is pending a
              prorated charge at the end of the free trial period, as indicated
              by `line_item_free_trial_end_time`.
            - >-
              The line item is being deactivated, and a prorated refund in being
              processed.
            - >-
              The line item is scheduled to be deactivated at the end of the
              current cycle.
            - Line item is being charged off-cycle.
        recurrenceType:
          readOnly: true
          type: string
          enum:
            - LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED
            - LINE_ITEM_RECURRENCE_TYPE_PERIODIC
            - LINE_ITEM_RECURRENCE_TYPE_ONE_TIME
          enumDescriptions:
            - The line item recurrence type is unspecified.
            - The line item recurs periodically.
            - The line item does not recur in the future.
          description: Output only. The recurrence type of the line item.
        lineItemPromotionSpecs:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec
          type: array
          description: >-
            Optional. The promotions applied on the line item. It can be: - a
            free trial promotion, which overrides the subscription-level free
            trial promotion. - an introductory pricing promotion. When used as
            input in Create or Provision API, specify its resource name only.
        lineItemFreeTrialEndTime:
          description: >-
            Output only. The free trial end time will be populated after the
            line item is successfully processed. End time of the line item free
            trial period, in ISO 8061 format. For example,
            "2019-08-31T17:28:54.564Z". It will be set the same as createTime if
            no free trial promotion is specified.
          type: string
          format: google-datetime
          readOnly: true
    GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload:
      id: GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload
      properties:
        salesChannel:
          description: The type of sales channel through which the subscription was sold.
          enumDescriptions:
            - The channel type is unspecified.
            - Sold at store.
            - Sold through partner website.
            - Sold through partner android app.
            - Sold through partner iOS app.
          type: string
          enum:
            - CHANNEL_UNSPECIFIED
            - CHANNEL_RETAIL
            - CHANNEL_ONLINE_WEB
            - CHANNEL_ONLINE_ANDROID_APP
            - CHANNEL_ONLINE_IOS_APP
        storeId:
          description: >-
            The identifier for the partner store where the subscription was
            sold.
          type: string
        offering:
          type: string
          enum:
            - OFFERING_UNSPECIFIED
            - OFFERING_VAS_BUNDLE
            - OFFERING_VAS_STANDALONE
            - OFFERING_HARD_BUNDLE
            - OFFERING_SOFT_BUNDLE
          description: >-
            The type of offering the subscription was sold by the partner. e.g.
            VAS.
          enumDescriptions:
            - The type of partner offering is unspecified.
            - >-
              Google One product purchased as a Value added service in addition
              to existing partner's products. Customer pays additional amount
              for Google One product.
            - >-
              Google One product purchased by itself by customer as a value add
              service. Customer pays additional amount for Google One product.
            - >-
              Product purchased as part of a hard bundle where Google One was
              included with the bundle. Google One pricing is included in the
              bundle.
            - >-
              Purchased as part of a bundle where Google One was provided as an
              option. Google One pricing is included in the bundle.
        campaigns:
          items:
            type: string
          description: Campaign attributed to sales of this subscription.
          type: array
      type: object
      description: Payload specific to Google One products.
    GoogleCloudPaymentsResellerSubscriptionV1Extension:
      id: GoogleCloudPaymentsResellerSubscriptionV1Extension
      description: Describes the details of an extension request.
      properties:
        duration:
          description: Specifies the period of access the subscription should grant.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration
        partnerUserToken:
          type: string
          description: Required. Identifier of the end-user in partner’s system.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod:
      description: >-
        A description of what time period or moment in time the product or
        service is being delivered over.
      properties:
        endTime:
          type: string
          description: Optional. The end time of the service period. Time is exclusive.
          format: google-datetime
        startTime:
          description: Required. The start time of the service period. Time is inclusive.
          type: string
          format: google-datetime
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod
    GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse:
      id: GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse
      description: Response containing the found promotions for the current user.
      type: object
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is empty, there are no subsequent pages.
        promotions:
          description: The promotions for the current user.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Promotion
    GoogleCloudPaymentsResellerSubscriptionV1Amount:
      properties:
        currencyCode:
          type: string
          description: >-
            Required. Currency codes in accordance with [ISO-4217 Currency
            Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD.
        amountMicros:
          type: string
          format: int64
          description: Required. Amount in micros (1_000_000 micros = 1 currency unit)
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1Amount
      description: Describes the amount unit including the currency code.
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails:
      id: GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails
      type: object
      description: Describes the details of a cancelled or cancelling subscription.
      properties:
        reason:
          description: The reason of the cancellation.
          enumDescriptions:
            - Reason is unspecified.
            - Fraudualant transaction.
            - Buyer's remorse.
            - Accidential purchase.
            - Payment is past due.
            - User account closed.
            - >-
              Used for notification only, do not use in Cancel API. Cancellation
              due to upgrade or downgrade.
            - Cancellation due to user delinquency
            - Cancellation due to an unrecoverable system error.
            - Cancellation by a system.
            - Other reason.
          type: string
          enum:
            - CANCELLATION_REASON_UNSPECIFIED
            - CANCELLATION_REASON_FRAUD
            - CANCELLATION_REASON_REMORSE
            - CANCELLATION_REASON_ACCIDENTAL_PURCHASE
            - CANCELLATION_REASON_PAST_DUE
            - CANCELLATION_REASON_ACCOUNT_CLOSED
            - CANCELLATION_REASON_UPGRADE_DOWNGRADE
            - CANCELLATION_REASON_USER_DELINQUENCY
            - CANCELLATION_REASON_SYSTEM_ERROR
            - CANCELLATION_REASON_SYSTEM_CANCEL
            - CANCELLATION_REASON_OTHER
    GoogleCloudPaymentsResellerSubscriptionV1Subscription:
      description: A Subscription resource managed by 3P Partners.
      id: GoogleCloudPaymentsResellerSubscriptionV1Subscription
      type: object
      properties:
        updateTime:
          format: google-datetime
          description: >-
            Output only. System generated timestamp when the subscription is
            most recently updated. UTC timezone.
          readOnly: true
          type: string
        redirectUri:
          type: string
          description: >-
            Output only. The place where partners should redirect the end-user
            to after creation. This field might also be populated when creation
            failed. However, Partners should always prepare a default URL to
            redirect the user in case this field is empty.
          readOnly: true
        promotions:
          type: array
          description: >-
            Optional. Deprecated: consider using the top-level `promotion_specs`
            as the input. Optional. Resource name that identifies one or more
            promotions that can be applied on the product. A typical promotion
            for a subscription is Free trial. The format will be
            'partners/{partner_id}/promotions/{promotion_id}'.
          items:
            type: string
        lineItems:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem
          description: Required. The line items of the subscription.
          type: array
        serviceLocation:
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Location
          description: >-
            Required. The location that the service is provided as indicated by
            the partner.
        partnerUserToken:
          type: string
          description: >-
            Required. Identifier of the end-user in partner’s system. The value
            is restricted to 63 ASCII characters at the maximum.
        products:
          items:
            type: string
          type: array
          description: >-
            Optional. Deprecated: consider using `line_items` as the input.
            Required. Resource name that identifies the purchased products. The
            format will be 'partners/{partner_id}/products/{product_id}'.
        state:
          type: string
          readOnly: true
          description: >-
            Output only. Describes the state of the subscription. See more
            details at [the lifecycle of a
            subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).
          enumDescriptions:
            - The state is unspecified.
            - >-
              The subscription is created, a state before it is moved to
              STATE_ACTIVE.
            - The subscription is active.
            - >-
              The subscription is cancelled. This is the final state of the
              subscription, as it can no longer be modified or reactivated.
            - >-
              The subscription is in grace period. It can happen: 1) in manual
              extend mode, the subscription is not extended by the partner at
              the end of current cycle. 2) for outbound authorization enabled
              partners, a renewal purchase order is rejected.
            - >-
              The subscription is waiting to be cancelled by the next recurrence
              cycle.
            - The subscription is suspended.
          enum:
            - STATE_UNSPECIFIED
            - STATE_CREATED
            - STATE_ACTIVE
            - STATE_CANCELLED
            - STATE_IN_GRACE_PERIOD
            - STATE_CANCEL_AT_END_OF_CYCLE
            - STATE_SUSPENDED
        promotionSpecs:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec
          type: array
          description: >-
            Optional. Subscription-level promotions. Only free trial is
            supported on this level. It determines the first renewal time of the
            subscription to be the end of the free trial period. Specify the
            promotion resource name only when used as input.
        cancellationDetails:
          description: >-
            Output only. Describes the details of a cancelled subscription. Only
            applicable to subscription of state `STATE_CANCELLED`.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails
          readOnly: true
        endUserEntitled:
          description: >-
            Output only. Indicates if the subscription is entitled to the end
            user.
          readOnly: true
          type: boolean
        processingState:
          enum:
            - PROCESSING_STATE_UNSPECIFIED
            - PROCESSING_STATE_CANCELLING
            - PROCESSING_STATE_RECURRING
          readOnly: true
          description: >-
            Output only. Describes the processing state of the subscription. See
            more details at [the lifecycle of a
            subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).
          type: string
          enumDescriptions:
            - The processing state is unspecified.
            - The subscription is being cancelled.
            - The subscription is recurring.
        renewalTime:
          format: google-datetime
          type: string
          readOnly: true
          description: >-
            Output only. The time at which the subscription is expected to be
            renewed by Google - a new charge will be incurred and the service
            entitlement will be renewed. A non-immediate cancellation will take
            place at this time too, before which, the service entitlement for
            the end user will remain valid. UTC timezone in ISO 8061 format. For
            example: "2019-08-31T17:28:54.564Z"
        createTime:
          type: string
          format: google-datetime
          description: >-
            Output only. System generated timestamp when the subscription is
            created. UTC timezone.
          readOnly: true
        upgradeDowngradeDetails:
          description: >-
            Optional. Details about the previous subscription that this new
            subscription upgrades/downgrades from. Only populated if this
            subscription is an upgrade/downgrade from another subscription.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails
        freeTrialEndTime:
          readOnly: true
          description: >-
            Output only. End of the free trial period, in ISO 8061 format. For
            example, "2019-08-31T17:28:54.564Z". It will be set the same as
            createTime if no free trial promotion is specified.
          type: string
          format: google-datetime
        name:
          description: >-
            Optional. Resource name of the subscription. It will have the format
            of "partners/{partner_id}/subscriptions/{subscription_id}". This is
            available for authorizeAddon, but otherwise is response only.
          type: string
        cycleEndTime:
          format: google-datetime
          description: >-
            Output only. The time at which the subscription is expected to be
            extended, in ISO 8061 format. UTC timezone. For example:
            "2019-08-31T17:28:54.564Z"
          type: string
          readOnly: true
    GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec:
      description: The duration of an introductory pricing promotion.
      properties:
        discountAmount:
          description: Output only. The discount amount. The value is positive.
          readOnly: true
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Amount'
        recurrenceCount:
          format: int32
          type: integer
          description: >-
            Output only. Output Only. The duration of an introductory offer in
            billing cycles.
          readOnly: true
        regionCode:
          readOnly: true
          description: >-
            Output only. 2-letter ISO region code where the product is available
            in. Ex. "US".
          type: string
        discountRatioMicros:
          format: int64
          description: >-
            Output only. The discount percentage in micros. For example, 50,000
            represents 5%.
          type: string
          readOnly: true
      type: object
      id: >-
        GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec
    GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse:
      properties:
        subscription:
          description: The updated subscription resource.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription
      id: GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse
      description: Response that contains the updated subscription resource.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Promotion:
      properties:
        titles:
          items:
            $ref: '#/components/schemas/GoogleTypeLocalizedText'
          readOnly: true
          description: Output only. Localized human readable name of the promotion.
          type: array
        introductoryPricingDetails:
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails
          description: >-
            Optional. Specifies the introductory pricing details when the
            promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING.
        promotionType:
          enumDescriptions:
            - The promotion type is unspecified.
            - The promotion is a free trial.
            - The promotion is a reduced introductory pricing.
          enum:
            - PROMOTION_TYPE_UNSPECIFIED
            - PROMOTION_TYPE_FREE_TRIAL
            - PROMOTION_TYPE_INTRODUCTORY_PRICING
          type: string
          readOnly: true
          description: Output only. Output Only. Specifies the type of the promotion.
        endTime:
          type: string
          format: google-datetime
          description: >-
            Optional. Specifies the end time (exclusive) of the period that the
            promotion is available in. If unset, the promotion is available
            indefinitely.
        startTime:
          format: google-datetime
          description: >-
            Optional. Specifies the start time (inclusive) of the period that
            the promotion is available in.
          type: string
        regionCodes:
          description: >-
            Output only. 2-letter ISO region code where the promotion is
            available in. Ex. "US" Please refers to:
            https://en.wikipedia.org/wiki/ISO_3166-1
          items:
            type: string
          readOnly: true
          type: array
        freeTrialDuration:
          description: >-
            Optional. Specifies the duration of the free trial of the
            subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration
        name:
          type: string
          readOnly: true
          description: >-
            Output only. Response only. Resource name of the subscription
            promotion. It will have the format of
            "partners/{partner_id}/promotion/{promotion_id}"
        applicableProducts:
          items:
            type: string
          readOnly: true
          description: Output only. The product ids this promotion can be applied to.
          type: array
      description: >-
        A Promotion resource that defines a promotion for a subscription that
        can be resold.
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1Promotion
    GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse:
      id: GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse
      properties:
        promotions:
          type: array
          description: The promotions for the specified partner.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Promotion
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is empty, there are no subsequent pages.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails:
      type: object
      description: Details for a ONE_TIME recurrence line item.
      id: >-
        GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails
      properties:
        servicePeriod:
          description: The service period of the ONE_TIME line item.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod
    GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest:
      properties:
        pageSize:
          type: integer
          description: >-
            Optional. The maximum number of promotions to return. The service
            may return fewer than this value. If unspecified, at most 50
            products will be returned. The maximum value is 1000; values above
            1000 will be coerced to 1000.
          format: int32
        pageToken:
          description: >-
            Optional. A page token, received from a previous `ListPromotions`
            call. Provide this to retrieve the subsequent page. When paginating,
            all other parameters provided to `ListPromotions` must match the
            call that provided the page token.
          type: string
        filter:
          description: >-
            Optional. Specifies the filters for the promotion results. The
            syntax is defined in https://google.aip.dev/160 with the following
            caveats: - Only the following features are supported: - Logical
            operator `AND` - Comparison operator `=` (no wildcards `*`) -
            Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only
            the following fields are supported: - `applicableProducts` -
            `regionCodes` - `youtubePayload.partnerEligibilityId` -
            `youtubePayload.postalCode` - Unless explicitly mentioned above,
            other features are not supported. Example:
            `applicableProducts:partners/partner1/products/product1 AND
            regionCodes:US AND youtubePayload.postalCode=94043 AND
            youtubePayload.partnerEligibilityId=eligibility-id`
          type: string
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest
    GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest:
      properties:
        extension:
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Extension
          description: >-
            Required. Specifies details of the extension. Currently, the
            duration of the extension must be exactly one billing cycle of the
            original subscription.
        requestId:
          description: >-
            Required. Restricted to 36 ASCII characters. A random UUID is
            recommended. The idempotency key for the request. The ID generation
            logic is controlled by the partner. request_id should be the same as
            on retries of the same request. A different request_id must be used
            for a extension of a different cycle. A random UUID is recommended.
          type: string
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest
      description: >-
        Request message for extending a Subscription resource. A new recurrence
        will be made based on the subscription schedule defined by the original
        product.
    GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails:
      type: object
      id: >-
        GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails
      properties:
        introductoryPricingSpecs:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec
          type: array
          description: Specifies the introductory pricing periods.
      description: The details of a introductory pricing promotion.
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec:
      description: Describes the spec for one promotion.
      type: object
      properties:
        freeTrialDuration:
          description: >-
            Output only. The duration of the free trial if the promotion is of
            type FREE_TRIAL.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration
          readOnly: true
        type:
          enum:
            - PROMOTION_TYPE_UNSPECIFIED
            - PROMOTION_TYPE_FREE_TRIAL
            - PROMOTION_TYPE_INTRODUCTORY_PRICING
          enumDescriptions:
            - The promotion type is unspecified.
            - The promotion is a free trial.
            - The promotion is a reduced introductory pricing.
          type: string
          readOnly: true
          description: Output only. The type of the promotion for the spec.
        introductoryPricingDetails:
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails
          description: >-
            Output only. The details of the introductory pricing spec if the
            promotion is of type INTRODUCTORY_PRICING.
          readOnly: true
        promotion:
          description: >-
            Required. Promotion resource name that identifies a promotion. The
            format is 'partners/{partner_id}/promotions/{promotion_id}'.
          type: string
      id: GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec
    GoogleCloudPaymentsResellerSubscriptionV1Location:
      description: Describes a location of an end user.
      id: GoogleCloudPaymentsResellerSubscriptionV1Location
      type: object
      properties:
        postalCode:
          description: The postal code this location refers to. Ex. "94043"
          type: string
        regionCode:
          description: >-
            2-letter ISO region code for current content region. Ex. “US” Please
            refers to: https://en.wikipedia.org/wiki/ISO_3166-1
          type: string
    GoogleCloudPaymentsResellerSubscriptionV1Duration:
      type: object
      properties:
        count:
          description: number of duration units to be included.
          type: integer
          format: int32
        unit:
          enum:
            - UNIT_UNSPECIFIED
            - MONTH
            - DAY
          description: The unit used for the duration
          enumDescriptions:
            - Default value.
            - Unit of a calendar month.
            - Unit of a day.
          type: string
      description: Describes the length of a period of a time.
      id: GoogleCloudPaymentsResellerSubscriptionV1Duration
    GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse:
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse
      properties:
        subscription:
          description: The subscription that has user linked to it.
          $ref: >-
            #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription
    GoogleTypeLocalizedText:
      properties:
        text:
          type: string
          description: >-
            Localized string in the language corresponding to `language_code'
            below.
        languageCode:
          type: string
          description: >-
            The text's BCP-47 language code, such as "en-US" or "sr-Latn". For
            more information, see
            http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
      type: object
      description: Localized variant of a text in a particular language.
      id: GoogleTypeLocalizedText
    GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload:
      id: GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload
      description: Payload specific to Youtube products.
      properties:
        accessEndTime:
          format: google-datetime
          description: Output only. The access expiration time for this line item.
          type: string
          readOnly: true
        partnerEligibilityIds:
          type: array
          items:
            type: string
          description: The list of eligibility_ids which are applicable for the line item.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig:
      properties:
        regionCode:
          description: >-
            Output only. 2-letter ISO region code where the product is available
            in. Ex. "US".
          readOnly: true
          type: string
        amount:
          $ref: '#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Amount'
          description: Output only. The price in the region.
          readOnly: true
      description: Configs the prices in an available region.
      id: GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest:
      description: >-
        Partner request for entitling the previously provisioned subscription to
        an end user. The end user identity is inferred from the request OAuth
        context.
      properties: {}
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest
    GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse:
      properties:
        products:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Product
          description: The products for the specified partner.
          type: array
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is empty, there are no subsequent pages.
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails:
      type: object
      description: >-
        Details about the previous subscription that this new subscription
        upgrades/downgrades from.
      properties:
        previousSubscriptionId:
          type: string
          description: >-
            Required. The previous subscription id to be replaced. This is not
            the full resource name, use the subscription_id segment only.
        billingCycleSpec:
          enumDescriptions:
            - Billing cycle spec is not specified.
            - >-
              The billing cycle of the new subscription aligns with the previous
              subscription it upgrades or downgrades from.
            - The billing cycle of the new subscription starts immediately.
          description: >-
            Required. Specifies the billing cycle spec for the new
            upgraded/downgraded subscription.
          enum:
            - BILLING_CYCLE_SPEC_UNSPECIFIED
            - BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION
            - BILLING_CYCLE_SPEC_START_IMMEDIATELY
          type: string
      id: >-
        GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails
    GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest:
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest
      properties:
        cancellationReason:
          enumDescriptions:
            - Reason is unspecified.
            - Fraudualant transaction.
            - Buyer's remorse.
            - Accidential purchase.
            - Payment is past due.
            - User account closed.
            - >-
              Used for notification only, do not use in Cancel API. Cancellation
              due to upgrade or downgrade.
            - Cancellation due to user delinquency
            - Cancellation due to an unrecoverable system error.
            - Cancellation by a system.
            - Other reason.
          description: Specifies the reason for the cancellation.
          type: string
          enum:
            - CANCELLATION_REASON_UNSPECIFIED
            - CANCELLATION_REASON_FRAUD
            - CANCELLATION_REASON_REMORSE
            - CANCELLATION_REASON_ACCIDENTAL_PURCHASE
            - CANCELLATION_REASON_PAST_DUE
            - CANCELLATION_REASON_ACCOUNT_CLOSED
            - CANCELLATION_REASON_UPGRADE_DOWNGRADE
            - CANCELLATION_REASON_USER_DELINQUENCY
            - CANCELLATION_REASON_SYSTEM_ERROR
            - CANCELLATION_REASON_SYSTEM_CANCEL
            - CANCELLATION_REASON_OTHER
        cancelImmediately:
          description: >-
            Optional. If true, Google will cancel the subscription immediately,
            and may or may not (based on the contract) issue a prorated refund
            for the remainder of the billing cycle. Otherwise, Google defers the
            cancelation at renewal_time, and will not issue a refund.
          type: boolean
    GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest:
      properties: {}
      type: object
      id: GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest
      description: Request to revoke a cancellation request.
  parameters:
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            openid: Associate you with your personal info on Google
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/partners/{partnersId}/subscriptions:
    parameters: &ref_1
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/prettyPrint'
    post:
      description: >-
        Used by partners to create a subscription for their customers. The
        created subscription is associated with the end user inferred from the
        end user credentials. This API must be authorized by the end user using
        OAuth.
      operationId: paymentsresellersubscription.partners.subscriptions.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
        - in: query
          name: subscriptionId
          schema:
            type: string
      x-stackQL-resource: subscriptions
      x-stackQL-verb: insert
  /v1/partners/{partnersId}/subscriptions/{subscriptionsId}:cancel:
    parameters: *ref_1
    post:
      description: >-
        Used by partners to cancel a subscription service either immediately or
        by the end of the current billing cycle for their customers. It should
        be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
        - in: path
          name: subscriptionsId
          required: true
          schema:
            type: string
      x-stackQL-resource: subscriptions
      x-stackQL-verb: exec
  /v1/partners/{partnersId}/subscriptions/{subscriptionsId}:undoCancel:
    parameters: *ref_1
    post:
      description: >-
        Used by partners to revoke the pending cancellation of a subscription,
        which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the
        subscription is already cancelled, the request will fail. It should be
        called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.undoCancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
        - in: path
          name: subscriptionsId
          required: true
          schema:
            type: string
      x-stackQL-resource: subscriptions
      x-stackQL-verb: exec
  /v1/partners/{partnersId}/subscriptions/{subscriptionsId}:extend:
    parameters: *ref_1
    post:
      description: >-
        [Opt-in only] Most partners should be on auto-extend by default. Used by
        partners to extend a subscription service for their customers on an
        ongoing basis for the subscription to remain active and renewable. It
        should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.extend
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
        - in: path
          name: subscriptionsId
          required: true
          schema:
            type: string
      x-stackQL-resource: subscriptions
      x-stackQL-verb: exec
  /v1/partners/{partnersId}/subscriptions/{subscriptionsId}:entitle:
    parameters: *ref_1
    post:
      description: >-
        Used by partners to entitle a previously provisioned subscription to the
        current end user. The end user identity is inferred from the authorized
        credential of the request. This API must be authorized by the end user
        using OAuth.
      operationId: paymentsresellersubscription.partners.subscriptions.entitle
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
        - in: path
          name: subscriptionsId
          required: true
          schema:
            type: string
      x-stackQL-resource: subscriptions
      x-stackQL-verb: exec
  /v1/partners/{partnersId}/subscriptions/{subscriptionsId}:
    parameters: *ref_1
    get:
      description: >-
        Used by partners to get a subscription by id. It should be called
        directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.get
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
        - in: path
          name: subscriptionsId
          required: true
          schema:
            type: string
      x-stackQL-resource: subscriptions
      x-stackQL-verb: select
  /v1/partners/{partnersId}/subscriptions:provision:
    parameters: *ref_1
    post:
      description: >-
        Used by partners to provision a subscription for their customers. This
        creates a subscription without associating it with the end user account.
        EntitleSubscription must be called separately using OAuth in order for
        the end user account to be associated with the subscription. It should
        be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.provision
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
        - in: query
          name: subscriptionId
          schema:
            type: string
      x-stackQL-resource: subscriptions
      x-stackQL-verb: exec
  /v1/partners/{partnersId}/promotions:findEligible:
    parameters: *ref_1
    post:
      description: >-
        To find eligible promotions for the current user. The API requires user
        authorization via OAuth. The user is inferred from the authenticated
        OAuth credential.
      operationId: paymentsresellersubscription.partners.promotions.findEligible
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
      x-stackQL-resource: promotions
      x-stackQL-verb: exec
  /v1/partners/{partnersId}/promotions:
    parameters: *ref_1
    get:
      description: >-
        To retrieve the promotions, such as free trial, that can be used by the
        partner. It should be autenticated with a service account.
      operationId: paymentsresellersubscription.partners.promotions.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: promotions
      x-stackQL-verb: select
  /v1/partners/{partnersId}/products:
    parameters: *ref_1
    get:
      description: >-
        To retrieve the products that can be resold by the partner. It should be
        autenticated with a service account.
      operationId: paymentsresellersubscription.partners.products.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse
      parameters:
        - in: path
          name: partnersId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: products
      x-stackQL-verb: select
