openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: AdSense Management API
  description: >-
    The AdSense Management API allows publishers to access their inventory and
    run earnings and performance reports.
  version: v2
  x-discovery-doc-revision: '20230622'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/adsense/management/
servers:
  - url: https://adsense.googleapis.com
components:
  schemas:
    Date:
      type: object
      properties:
        year:
          format: int32
          description: >-
            Year of the date. Must be from 1 to 9999, or 0 to specify a date
            without a year.
          type: integer
        day:
          format: int32
          description: >-
            Day of a month. Must be from 1 to 31 and valid for the year and
            month, or 0 to specify a year by itself or a year and month where
            the day isn't significant.
          type: integer
        month:
          type: integer
          format: int32
          description: >-
            Month of a year. Must be from 1 to 12, or 0 to specify a year
            without a month and day.
      description: >-
        Represents a whole or partial calendar date, such as a birthday. The
        time of day and time zone are either specified elsewhere or are
        insignificant. The date is relative to the Gregorian Calendar. This can
        represent one of the following: * A full date, with non-zero year,
        month, and day values. * A month and day, with a zero year (for example,
        an anniversary). * A year on its own, with a zero month and a zero day.
        * A year and month, with a zero day (for example, a credit card
        expiration date). Related types: * google.type.TimeOfDay *
        google.type.DateTime * google.protobuf.Timestamp
      id: Date
    ListSavedReportsResponse:
      description: Response definition for the saved reports list rpc.
      properties:
        nextPageToken:
          description: >-
            Continuation token used to page through reports. To retrieve the
            next page of the results, set the next request's "page_token" value
            to this.
          type: string
        savedReports:
          items:
            $ref: '#/components/schemas/SavedReport'
          type: array
          description: The reports returned in this list response.
      id: ListSavedReportsResponse
      type: object
    ListAccountsResponse:
      id: ListAccountsResponse
      description: Response definition for the account list rpc.
      properties:
        nextPageToken:
          type: string
          description: >-
            Continuation token used to page through accounts. To retrieve the
            next page of the results, set the next request's "page_token" value
            to this.
        accounts:
          description: The accounts returned in this list response.
          type: array
          items:
            $ref: '#/components/schemas/Account'
      type: object
    ListAlertsResponse:
      description: Response definition for the alerts list rpc.
      type: object
      id: ListAlertsResponse
      properties:
        alerts:
          type: array
          description: The alerts returned in this list response.
          items:
            $ref: '#/components/schemas/Alert'
    AdClient:
      type: object
      id: AdClient
      properties:
        reportingDimensionId:
          description: >-
            Output only. Unique ID of the ad client as used in the
            `AD_CLIENT_ID` reporting dimension. Present only if the ad client
            supports reporting.
          type: string
          readOnly: true
        productCode:
          type: string
          description: >-
            Output only. Reporting product code of the ad client. For example,
            "AFC" for AdSense for Content. Corresponds to the `PRODUCT_CODE`
            dimension, and present only if the ad client supports reporting.
          readOnly: true
        state:
          type: string
          enumDescriptions:
            - State unspecified.
            - The ad client is ready to show ads.
            - >-
              Running some checks on the ad client before it is ready to serve
              ads.
            - >-
              The ad client hasn't been checked yet. There are tasks pending
              before AdSense will start the review.
          readOnly: true
          enum:
            - STATE_UNSPECIFIED
            - READY
            - GETTING_READY
            - REQUIRES_REVIEW
          description: Output only. State of the ad client.
        name:
          type: string
          readOnly: true
          description: >-
            Output only. Resource name of the ad client. Format:
            accounts/{account}/adclients/{adclient}
      description: >-
        Representation of an ad client. An ad client represents a user's
        subscription with a specific AdSense product.
    AdClientAdCode:
      id: AdClientAdCode
      properties:
        ampBody:
          type: string
          description: >-
            Output only. The AdSense code snippet to add to the body of an AMP
            page.
          readOnly: true
        adCode:
          readOnly: true
          type: string
          description: >-
            Output only. The AdSense code snippet to add to the head of an HTML
            page.
        ampHead:
          type: string
          readOnly: true
          description: >-
            Output only. The AdSense code snippet to add to the head of an AMP
            page.
      type: object
      description: >-
        Representation of the AdSense code for a given ad client. For more
        information, see [About the AdSense
        code](https://support.google.com/adsense/answer/9274634).
    ReportResult:
      type: object
      description: Result of a generated report.
      properties:
        headers:
          type: array
          description: >-
            The header information; one for each dimension in the request,
            followed by one for each metric in the request.
          items:
            $ref: '#/components/schemas/Header'
        endDate:
          description: Required. End date of the range (inclusive).
          $ref: '#/components/schemas/Date'
        rows:
          items:
            $ref: '#/components/schemas/Row'
          type: array
          description: >-
            The output rows of the report. Each row is a list of cells; one for
            each dimension in the request, followed by one for each metric in
            the request.
        totalMatchedRows:
          format: int64
          type: string
          description: The total number of rows matched by the report request.
        totals:
          $ref: '#/components/schemas/Row'
          description: >-
            The totals of the report. This is the same length as any other row
            in the report; cells corresponding to dimension columns are empty.
        warnings:
          items:
            type: string
          description: >-
            Any warnings associated with generation of the report. These
            warnings are always returned in English.
          type: array
        averages:
          description: >-
            The averages of the report. This is the same length as any other row
            in the report; cells corresponding to dimension columns are empty.
          $ref: '#/components/schemas/Row'
        startDate:
          $ref: '#/components/schemas/Date'
          description: Required. Start date of the range (inclusive).
      id: ReportResult
    ContentAdsSettings:
      description: Settings specific to content ads (AFC).
      properties:
        size:
          description: >-
            Required. Size of the ad unit. e.g. "728x90", "1x3" (for responsive
            ad units).
          type: string
        type:
          type: string
          description: Required. Type of the ad unit.
          enum:
            - TYPE_UNSPECIFIED
            - DISPLAY
            - FEED
            - ARTICLE
            - MATCHED_CONTENT
            - LINK
          enumDescriptions:
            - Unspecified ad unit type.
            - Display ad unit.
            - In-feed ad unit.
            - In-article ad unit.
            - Matched content unit.
            - >-
              Link ad unit. Note that link ad units have now been retired, see
              https://support.google.com/adsense/answer/9987221.
      type: object
      id: ContentAdsSettings
    Row:
      description: Row representation.
      properties:
        cells:
          description: Cells in the row.
          items:
            $ref: '#/components/schemas/Cell'
          type: array
      type: object
      id: Row
    Account:
      type: object
      properties:
        state:
          type: string
          readOnly: true
          enumDescriptions:
            - State unspecified.
            - The account is open and ready to serve ads.
            - >-
              There are some issues with this account. Publishers should visit
              AdSense in order to fix the account.
            - The account is closed and can't serve ads.
          enum:
            - STATE_UNSPECIFIED
            - READY
            - NEEDS_ATTENTION
            - CLOSED
          description: Output only. State of the account.
        timeZone:
          description: >-
            The account time zone, as used by reporting. For more information,
            see [changing the time zone of your
            reports](https://support.google.com/adsense/answer/9830725).
          $ref: '#/components/schemas/TimeZone'
        createTime:
          format: google-datetime
          readOnly: true
          type: string
          description: Output only. Creation time of the account.
        displayName:
          description: Output only. Display name of this account.
          readOnly: true
          type: string
        premium:
          description: Output only. Whether this account is premium.
          type: boolean
          readOnly: true
        name:
          type: string
          description: >-
            Output only. Resource name of the account. Format:
            accounts/pub-[0-9]+
          readOnly: true
        pendingTasks:
          type: array
          readOnly: true
          description: >-
            Output only. Outstanding tasks that need to be completed as part of
            the sign-up process for a new account. e.g.
            "billing-profile-creation", "phone-pin-verification".
          items:
            type: string
      description: Representation of an account.
      id: Account
    Header:
      id: Header
      properties:
        currencyCode:
          type: string
          description: >-
            The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)
            of this column. Only present if the header type is METRIC_CURRENCY.
        type:
          description: Required. Type of the header.
          enumDescriptions:
            - Unspecified header.
            - Dimension header type.
            - Tally header type.
            - Ratio header type.
            - Currency header type.
            - Milliseconds header type.
            - Decimal header type.
          enum:
            - HEADER_TYPE_UNSPECIFIED
            - DIMENSION
            - METRIC_TALLY
            - METRIC_RATIO
            - METRIC_CURRENCY
            - METRIC_MILLISECONDS
            - METRIC_DECIMAL
          type: string
        name:
          description: Required. Name of the header.
          type: string
      description: The header information of the columns requested in the report.
      type: object
    ListUrlChannelsResponse:
      properties:
        urlChannels:
          type: array
          description: The url channels returned in this list response.
          items:
            $ref: '#/components/schemas/UrlChannel'
        nextPageToken:
          description: >-
            Continuation token used to page through url channels. To retrieve
            the next page of the results, set the next request's "page_token"
            value to this.
          type: string
      description: Response definition for the url channels list rpc.
      type: object
      id: ListUrlChannelsResponse
    HttpBody:
      id: HttpBody
      type: object
      description: >-
        Message that represents an arbitrary HTTP body. It should only be used
        for payload formats that can't be represented as JSON, such as raw
        binary or an HTML page. This message can be used both in streaming and
        non-streaming API methods in the request as well as the response. It can
        be used as a top-level request field, which is convenient if one wants
        to extract parameters from either the URL or HTTP template into the
        request fields and also want access to the raw HTTP body. Example:
        message GetResourceRequest { // A unique request id. string request_id =
        1; // The raw HTTP body is bound to this field. google.api.HttpBody
        http_body = 2; } service ResourceService { rpc
        GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc
        UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); }
        Example with streaming methods: service CaldavService { rpc
        GetCalendar(stream google.api.HttpBody) returns (stream
        google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody)
        returns (stream google.api.HttpBody); } Use of this type only changes
        how the request and response bodies are handled, all other features will
        continue to work unchanged.
      properties:
        extensions:
          type: array
          description: >-
            Application specific response metadata. Must be set in the first
            response for streaming APIs.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
            type: object
        contentType:
          type: string
          description: >-
            The HTTP Content-Type header value specifying the content type of
            the body.
        data:
          type: string
          format: byte
          description: The HTTP request/response body as raw binary.
    ListLinkedCustomChannelsResponse:
      id: ListLinkedCustomChannelsResponse
      type: object
      properties:
        customChannels:
          items:
            $ref: '#/components/schemas/CustomChannel'
          type: array
          description: The custom channels returned in this list response.
        nextPageToken:
          description: >-
            Continuation token used to page through alerts. To retrieve the next
            page of the results, set the next request's "page_token" value to
            this.
          type: string
      description: >-
        Response definition for the custom channels linked to an adunit list
        rpc.
    Payment:
      properties:
        date:
          $ref: '#/components/schemas/Date'
          description: >-
            Output only. For paid earnings, the date that the payment was
            credited. For unpaid earnings, this field is empty. Payment dates
            are always returned in the billing timezone (America/Los_Angeles).
          readOnly: true
        amount:
          type: string
          readOnly: true
          description: >-
            Output only. The amount of unpaid or paid earnings, as a formatted
            string, including the currency. E.g. "¥1,235 JPY", "$1,234.57",
            "£87.65".
        name:
          description: >-
            Output only. Resource name of the payment. Format: -
            accounts/{account}/payments/unpaid for unpaid (current) AdSense
            earnings. - accounts/{account}/payments/youtube-unpaid for unpaid
            (current) YouTube earnings. - accounts/{account}/payments/yyyy-MM-dd
            for paid AdSense earnings. -
            accounts/{account}/payments/youtube-yyyy-MM-dd for paid YouTube
            earnings.
          type: string
          readOnly: true
      id: Payment
      description: >-
        Representation of an unpaid or paid payment. See [Payment timelines for
        AdSense](https://support.google.com/adsense/answer/7164703) for more
        information about payments and the [YouTube homepage and payments
        account](https://support.google.com/adsense/answer/11622510) article for
        information about dedicated payments accounts for YouTube.
      type: object
    Site:
      description: Representation of a Site.
      type: object
      properties:
        reportingDimensionId:
          description: >-
            Output only. Unique ID of the site as used in the `OWNED_SITE_ID`
            reporting dimension.
          type: string
          readOnly: true
        name:
          type: string
          description: >-
            Output only. Resource name of a site. Format:
            accounts/{account}/sites/{site}
          readOnly: true
        autoAdsEnabled:
          type: boolean
          description: Whether auto ads is turned on for the site.
        domain:
          description: >-
            Domain (or subdomain) of the site, e.g. "example.com" or
            "www.example.com". This is used in the `OWNED_SITE_DOMAIN_NAME`
            reporting dimension.
          type: string
        state:
          readOnly: true
          enum:
            - STATE_UNSPECIFIED
            - REQUIRES_REVIEW
            - GETTING_READY
            - READY
            - NEEDS_ATTENTION
          type: string
          description: Output only. State of a site.
          enumDescriptions:
            - State unspecified.
            - >-
              Either: * The site hasn't been checked yet. * The site is inactive
              and needs another review before it can show ads again. Learn how
              to [request a review for an inactive
              site](https://support.google.com/adsense/answer/9393996).
            - >-
              Google is running some checks on the site. This usually takes a
              few days, but in some cases it can take two to four weeks.
            - >-
              The site is ready to show ads. Learn how to [set up ads on the
              site](https://support.google.com/adsense/answer/7037624).
            - >-
              Publisher needs to fix some issues before the site is ready to
              show ads. Learn what to do [if a new site isn't
              ready](https://support.google.com/adsense/answer/9061852).
      id: Site
    Alert:
      description: Representation of an alert.
      type: object
      id: Alert
      properties:
        severity:
          readOnly: true
          enum:
            - SEVERITY_UNSPECIFIED
            - INFO
            - WARNING
            - SEVERE
          type: string
          enumDescriptions:
            - Unspecified severity.
            - Info.
            - Warning.
            - Severe.
          description: Output only. Severity of this alert.
        type:
          description: >-
            Output only. Type of alert. This identifies the broad type of this
            alert, and provides a stable machine-readable identifier that will
            not be translated. For example, "payment-hold".
          type: string
          readOnly: true
        name:
          type: string
          description: >-
            Output only. Resource name of the alert. Format:
            accounts/{account}/alerts/{alert}
          readOnly: true
        message:
          readOnly: true
          type: string
          description: >-
            Output only. The localized alert message. This may contain HTML
            markup, such as phrase elements or links.
    ListAdUnitsResponse:
      type: object
      properties:
        nextPageToken:
          description: >-
            Continuation token used to page through ad units. To retrieve the
            next page of the results, set the next request's "page_token" value
            to this.
          type: string
        adUnits:
          items:
            $ref: '#/components/schemas/AdUnit'
          description: The ad units returned in the list response.
          type: array
      description: Response definition for the adunit list rpc.
      id: ListAdUnitsResponse
    AdUnit:
      properties:
        name:
          readOnly: true
          type: string
          description: >-
            Output only. Resource name of the ad unit. Format:
            accounts/{account}/adclients/{adclient}/adunits/{adunit}
        contentAdsSettings:
          $ref: '#/components/schemas/ContentAdsSettings'
          description: Required. Settings specific to content ads (AFC).
        state:
          enumDescriptions:
            - State unspecified.
            - Ad unit has been activated by the user.
            - >-
              Ad unit has been archived by the user. Note that archived ad units
              are only removed from the default view in the UI. Archived ad
              units can still serve ads.
          type: string
          description: Required. State of the ad unit.
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - ARCHIVED
        reportingDimensionId:
          description: >-
            Output only. Unique ID of the ad unit as used in the `AD_UNIT_ID`
            reporting dimension.
          type: string
          readOnly: true
        displayName:
          type: string
          description: >-
            Required. Display name of the ad unit, as provided when the ad unit
            was created.
      description: >-
        Representation of an ad unit. An ad unit represents a saved ad unit with
        a specific set of ad settings that have been customized within an
        account.
      type: object
      id: AdUnit
    ListPaymentsResponse:
      properties:
        payments:
          items:
            $ref: '#/components/schemas/Payment'
          type: array
          description: The payments returned in this list response.
      id: ListPaymentsResponse
      type: object
      description: Response definition for the payments list rpc.
    AdBlockingRecoveryTag:
      description: >-
        Representation of an ad blocking recovery tag. See
        https://support.google.com/adsense/answer/11575177.
      properties:
        tag:
          description: >-
            The ad blocking recovery tag. Note that the message generated by the
            tag can be blocked by an ad blocking extension. If this is not your
            desired outcome, then you'll need to use it in conjunction with the
            error protection code.
          type: string
        errorProtectionCode:
          description: >-
            Error protection code that can be used in conjunction with the tag.
            It'll display a message to users if an [ad blocking extension blocks
            their access to your
            site](https://support.google.com/adsense/answer/11575480).
          type: string
      id: AdBlockingRecoveryTag
      type: object
    Cell:
      id: Cell
      properties:
        value:
          description: >-
            Value in the cell. The dimension cells contain strings, and the
            metric cells contain numbers.
          type: string
      type: object
      description: Cell representation.
    SavedReport:
      properties:
        title:
          description: Report title as specified by publisher.
          type: string
        name:
          type: string
          description: >-
            Output only. Resource name of the report. Format:
            accounts/{account}/reports/{report}
          readOnly: true
      id: SavedReport
      type: object
      description: Representation of a saved report.
    ListLinkedAdUnitsResponse:
      id: ListLinkedAdUnitsResponse
      properties:
        nextPageToken:
          description: >-
            Continuation token used to page through ad units. To retrieve the
            next page of the results, set the next request's "page_token" value
            to this.
          type: string
        adUnits:
          type: array
          items:
            $ref: '#/components/schemas/AdUnit'
          description: The ad units returned in the list response.
      description: >-
        Response definition for the ad units linked to a custom channel list
        rpc.
      type: object
    AdUnitAdCode:
      type: object
      id: AdUnitAdCode
      description: >-
        Representation of the ad unit code for a given ad unit. For more
        information, see [About the AdSense
        code](https://support.google.com/adsense/answer/9274634) and [Where to
        place the ad code in your
        HTML](https://support.google.com/adsense/answer/9190028).
      properties:
        adCode:
          type: string
          description: Output only. The code snippet to add to the body of an HTML page.
          readOnly: true
    ListCustomChannelsResponse:
      properties:
        customChannels:
          description: The custom channels returned in this list response.
          type: array
          items:
            $ref: '#/components/schemas/CustomChannel'
        nextPageToken:
          description: >-
            Continuation token used to page through alerts. To retrieve the next
            page of the results, set the next request's "page_token" value to
            this.
          type: string
      description: Response definition for the custom channel list rpc.
      id: ListCustomChannelsResponse
      type: object
    Empty:
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      type: object
      properties: {}
      id: Empty
    TimeZone:
      properties:
        version:
          type: string
          description: Optional. IANA Time Zone Database version number, e.g. "2019a".
        id:
          description: IANA Time Zone Database time zone, e.g. "America/New_York".
          type: string
      description: >-
        Represents a time zone from the [IANA Time Zone
        Database](https://www.iana.org/time-zones).
      id: TimeZone
      type: object
    ListSitesResponse:
      type: object
      properties:
        nextPageToken:
          type: string
          description: >-
            Continuation token used to page through sites. To retrieve the next
            page of the results, set the next request's "page_token" value to
            this.
        sites:
          type: array
          description: The sites returned in this list response.
          items:
            $ref: '#/components/schemas/Site'
      id: ListSitesResponse
      description: Response definition for the sites list rpc.
    UrlChannel:
      id: UrlChannel
      description: >-
        Representation of a URL channel. URL channels allow you to track the
        performance of particular pages in your site; see [URL
        channels](https://support.google.com/adsense/answer/2923836) for more
        information.
      type: object
      properties:
        uriPattern:
          description: >-
            URI pattern of the channel. Does not include "http://" or
            "https://". Example: www.example.com/home
          type: string
        name:
          readOnly: true
          description: >-
            Output only. Resource name of the URL channel. Format:
            accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}
          type: string
        reportingDimensionId:
          type: string
          description: >-
            Output only. Unique ID of the custom channel as used in the
            `URL_CHANNEL_ID` reporting dimension.
          readOnly: true
    ListAdClientsResponse:
      description: Response definition for the ad client list rpc.
      properties:
        nextPageToken:
          description: >-
            Continuation token used to page through ad clients. To retrieve the
            next page of the results, set the next request's "page_token" value
            to this.
          type: string
        adClients:
          items:
            $ref: '#/components/schemas/AdClient'
          description: The ad clients returned in this list response.
          type: array
      id: ListAdClientsResponse
      type: object
    CustomChannel:
      properties:
        active:
          type: boolean
          description: >-
            Whether the custom channel is active and collecting data. See
            https://support.google.com/adsense/answer/10077192.
        displayName:
          type: string
          description: Required. Display name of the custom channel.
        name:
          description: >-
            Output only. Resource name of the custom channel. Format:
            accounts/{account}/adclients/{adclient}/customchannels/{customchannel}
          readOnly: true
          type: string
        reportingDimensionId:
          type: string
          readOnly: true
          description: >-
            Output only. Unique ID of the custom channel as used in the
            `CUSTOM_CHANNEL_ID` reporting dimension.
      id: CustomChannel
      type: object
      description: Representation of a custom channel.
    ListChildAccountsResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            Continuation token used to page through accounts. To retrieve the
            next page of the results, set the next request's "page_token" value
            to this.
        accounts:
          description: The accounts returned in this list response.
          items:
            $ref: '#/components/schemas/Account'
          type: array
      type: object
      id: ListChildAccountsResponse
      description: Response definition for the child account list rpc.
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/adsense: View and manage your AdSense data
            https://www.googleapis.com/auth/adsense.readonly: View your AdSense data
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v2/accounts/{accountsId}/alerts:
    parameters: &ref_1
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
    get:
      description: Lists all the alerts available in an account.
      operationId: adsense.accounts.alerts.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAlertsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: query
          name: languageCode
          schema:
            type: string
      x-stackQL-resource: alerts
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients/{adclientsId}:
    parameters: *ref_1
    get:
      description: Gets the ad client from the given resource name.
      operationId: adsense.accounts.adclients.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClient'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
      x-stackQL-resource: adclients
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients:
    parameters: *ref_1
    get:
      description: Lists all the ad clients available in an account.
      operationId: adsense.accounts.adclients.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdClientsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: adclients
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients/{adclientsId}/adcode:
    parameters: *ref_1
    get:
      description: >-
        Gets the AdSense code for a given ad client. This returns what was
        previously known as the 'auto ad code'. This is only supported for ad
        clients with a product_code of AFC. For more information, see [About the
        AdSense code](https://support.google.com/adsense/answer/9274634).
      operationId: adsense.accounts.adclients.getAdcode
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdClientAdCode'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
      x-stackQL-resource: adclients__adcode
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}:
    parameters: *ref_1
    patch:
      description: >-
        Updates an ad unit. This method can only be used by projects enabled for
        the [AdSense for
        Platforms](https://developers.google.com/adsense/platforms/) product.
        For now, this method can only be used to update `DISPLAY` ad units. See:
        https://support.google.com/adsense/answer/9183566
      operationId: adsense.accounts.adclients.adunits.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnit'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: path
          name: adunitsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: adunits
      x-stackQL-verb: exec
    get:
      description: Gets an ad unit from a specified account and ad client.
      operationId: adsense.accounts.adclients.adunits.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: path
          name: adunitsId
          required: true
          schema:
            type: string
      x-stackQL-resource: adunits
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}/adcode:
    parameters: *ref_1
    get:
      description: >-
        Gets the ad unit code for a given ad unit. For more information, see
        [About the AdSense
        code](https://support.google.com/adsense/answer/9274634) and [Where to
        place the ad code in your
        HTML](https://support.google.com/adsense/answer/9190028).
      operationId: adsense.accounts.adclients.adunits.getAdcode
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnitAdCode'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: path
          name: adunitsId
          required: true
          schema:
            type: string
      x-stackQL-resource: adunits__adcode
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}:listLinkedCustomChannels:
    parameters: *ref_1
    get:
      description: Lists all the custom channels available for an ad unit.
      operationId: adsense.accounts.adclients.adunits.listLinkedCustomChannels
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLinkedCustomChannelsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: path
          name: adunitsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: adunits__linked_custom_channels
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients/{adclientsId}/adunits:
    parameters: *ref_1
    post:
      description: >-
        Creates an ad unit. This method can only be used by projects enabled for
        the [AdSense for
        Platforms](https://developers.google.com/adsense/platforms/) product.
        Note that ad units can only be created for ad clients with an "AFC"
        product code. For more info see the [AdClient
        resource](/adsense/management/reference/rest/v2/accounts.adclients). For
        now, this method can only be used to create `DISPLAY` ad units. See:
        https://support.google.com/adsense/answer/9183566
      operationId: adsense.accounts.adclients.adunits.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnit'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnit'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
      x-stackQL-resource: adunits
      x-stackQL-verb: insert
    get:
      description: Lists all ad units under a specified account and ad client.
      operationId: adsense.accounts.adclients.adunits.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAdUnitsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: adunits
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}:
    parameters: *ref_1
    get:
      description: Gets information about the selected custom channel.
      operationId: adsense.accounts.adclients.customchannels.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: path
          name: customchannelsId
          required: true
          schema:
            type: string
      x-stackQL-resource: customchannels
      x-stackQL-verb: select
    patch:
      description: >-
        Updates a custom channel. This method can only be used by projects
        enabled for the [AdSense for
        Platforms](https://developers.google.com/adsense/platforms/) product.
      operationId: adsense.accounts.adclients.customchannels.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomChannel'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: path
          name: customchannelsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: customchannels
      x-stackQL-verb: exec
    delete:
      description: >-
        Deletes a custom channel. This method can only be used by projects
        enabled for the [AdSense for
        Platforms](https://developers.google.com/adsense/platforms/) product.
      operationId: adsense.accounts.adclients.customchannels.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: path
          name: customchannelsId
          required: true
          schema:
            type: string
      x-stackQL-resource: customchannels
      x-stackQL-verb: delete
  /v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}:listLinkedAdUnits:
    parameters: *ref_1
    get:
      description: Lists all the ad units available for a custom channel.
      operationId: adsense.accounts.adclients.customchannels.listLinkedAdUnits
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLinkedAdUnitsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: path
          name: customchannelsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: customchannels__linked_ad_units
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels:
    parameters: *ref_1
    get:
      description: Lists all the custom channels available in an ad client.
      operationId: adsense.accounts.adclients.customchannels.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomChannelsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: customchannels
      x-stackQL-verb: select
    post:
      description: >-
        Creates a custom channel. This method can only be used by projects
        enabled for the [AdSense for
        Platforms](https://developers.google.com/adsense/platforms/) product.
      operationId: adsense.accounts.adclients.customchannels.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomChannel'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChannel'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
      x-stackQL-resource: customchannels
      x-stackQL-verb: insert
  /v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels/{urlchannelsId}:
    parameters: *ref_1
    get:
      description: Gets information about the selected url channel.
      operationId: adsense.accounts.adclients.urlchannels.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlChannel'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: path
          name: urlchannelsId
          required: true
          schema:
            type: string
      x-stackQL-resource: urlchannels
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels:
    parameters: *ref_1
    get:
      description: Lists active url channels.
      operationId: adsense.accounts.adclients.urlchannels.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUrlChannelsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: adclientsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: urlchannels
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/payments:
    parameters: *ref_1
    get:
      description: Lists all the payments available for an account.
      operationId: adsense.accounts.payments.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
      x-stackQL-resource: payments
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/reports/{reportsId}/saved:generateCsv:
    parameters: *ref_1
    get:
      description: Generates a csv formatted saved report.
      operationId: adsense.accounts.reports.saved.generateCsv
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpBody'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: reportsId
          required: true
          schema:
            type: string
        - in: query
          name: endDate.day
          schema:
            type: integer
        - in: query
          name: languageCode
          schema:
            type: string
        - in: query
          name: startDate.year
          schema:
            type: integer
        - in: query
          name: endDate.year
          schema:
            type: integer
        - in: query
          name: startDate.month
          schema:
            type: integer
        - in: query
          name: reportingTimeZone
          schema:
            type: string
        - in: query
          name: currencyCode
          schema:
            type: string
        - in: query
          name: endDate.month
          schema:
            type: integer
        - in: query
          name: dateRange
          schema:
            type: string
        - in: query
          name: startDate.day
          schema:
            type: integer
      x-stackQL-resource: saved
      x-stackQL-verb: exec
  /v2/accounts/{accountsId}/reports/{reportsId}/saved:generate:
    parameters: *ref_1
    get:
      description: Generates a saved report.
      operationId: adsense.accounts.reports.saved.generate
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResult'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: reportsId
          required: true
          schema:
            type: string
        - in: query
          name: dateRange
          schema:
            type: string
        - in: query
          name: startDate.year
          schema:
            type: integer
        - in: query
          name: languageCode
          schema:
            type: string
        - in: query
          name: endDate.month
          schema:
            type: integer
        - in: query
          name: startDate.day
          schema:
            type: integer
        - in: query
          name: endDate.year
          schema:
            type: integer
        - in: query
          name: endDate.day
          schema:
            type: integer
        - in: query
          name: startDate.month
          schema:
            type: integer
        - in: query
          name: currencyCode
          schema:
            type: string
        - in: query
          name: reportingTimeZone
          schema:
            type: string
      x-stackQL-resource: saved
      x-stackQL-verb: exec
  /v2/accounts/{accountsId}/reports/saved:
    parameters: *ref_1
    get:
      description: Lists saved reports.
      operationId: adsense.accounts.reports.saved.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSavedReportsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: saved
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/reports:generateCsv:
    parameters: *ref_1
    get:
      description: Generates a csv formatted ad hoc report.
      operationId: adsense.accounts.reports.generateCsv
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpBody'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: query
          name: startDate.day
          schema:
            type: integer
        - in: query
          name: dimensions
          schema:
            type: string
        - in: query
          name: endDate.day
          schema:
            type: integer
        - in: query
          name: filters
          schema:
            type: string
        - in: query
          name: orderBy
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: startDate.year
          schema:
            type: integer
        - in: query
          name: endDate.year
          schema:
            type: integer
        - in: query
          name: startDate.month
          schema:
            type: integer
        - in: query
          name: reportingTimeZone
          schema:
            type: string
        - in: query
          name: metrics
          schema:
            type: string
        - in: query
          name: languageCode
          schema:
            type: string
        - in: query
          name: currencyCode
          schema:
            type: string
        - in: query
          name: endDate.month
          schema:
            type: integer
        - in: query
          name: dateRange
          schema:
            type: string
      x-stackQL-resource: reports
      x-stackQL-verb: exec
  /v2/accounts/{accountsId}/reports/{reportsId}/saved:
    parameters: *ref_1
    get:
      description: Gets the saved report from the given resource name.
      operationId: adsense.accounts.reports.getSaved
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedReport'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: reportsId
          required: true
          schema:
            type: string
      x-stackQL-resource: reports__saved
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/reports:generate:
    parameters: *ref_1
    get:
      description: Generates an ad hoc report.
      operationId: adsense.accounts.reports.generate
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResult'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: query
          name: metrics
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: startDate.day
          schema:
            type: integer
        - in: query
          name: reportingTimeZone
          schema:
            type: string
        - in: query
          name: startDate.month
          schema:
            type: integer
        - in: query
          name: dateRange
          schema:
            type: string
        - in: query
          name: endDate.month
          schema:
            type: integer
        - in: query
          name: currencyCode
          schema:
            type: string
        - in: query
          name: filters
          schema:
            type: string
        - in: query
          name: languageCode
          schema:
            type: string
        - in: query
          name: orderBy
          schema:
            type: string
        - in: query
          name: endDate.year
          schema:
            type: integer
        - in: query
          name: dimensions
          schema:
            type: string
        - in: query
          name: endDate.day
          schema:
            type: integer
        - in: query
          name: startDate.year
          schema:
            type: integer
      x-stackQL-resource: reports
      x-stackQL-verb: exec
  /v2/accounts/{accountsId}/sites:
    parameters: *ref_1
    get:
      description: Lists all the sites available in an account.
      operationId: adsense.accounts.sites.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSitesResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: sites
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/sites/{sitesId}:
    parameters: *ref_1
    get:
      description: Gets information about the selected site.
      operationId: adsense.accounts.sites.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: path
          name: sitesId
          required: true
          schema:
            type: string
      x-stackQL-resource: sites
      x-stackQL-verb: select
  /v2/accounts/{accountsId}/adBlockingRecoveryTag:
    parameters: *ref_1
    get:
      description: Gets the ad blocking recovery tag of an account.
      operationId: adsense.accounts.getAdBlockingRecoveryTag
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdBlockingRecoveryTag'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
      x-stackQL-resource: accounts__ad_blocking_recovery_tag
      x-stackQL-verb: select
  /v2/accounts/{accountsId}:
    parameters: *ref_1
    get:
      description: Gets information about the selected AdSense account.
      operationId: adsense.accounts.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
      x-stackQL-resource: accounts
      x-stackQL-verb: select
  /v2/accounts/{accountsId}:listChildAccounts:
    parameters: *ref_1
    get:
      description: Lists all accounts directly managed by the given AdSense account.
      operationId: adsense.accounts.listChildAccounts
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChildAccountsResponse'
      parameters:
        - in: path
          name: accountsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: accounts__child_accounts
      x-stackQL-verb: select
  /v2/accounts:
    parameters: *ref_1
    get:
      description: Lists all accounts available to this user.
      operationId: adsense.accounts.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountsResponse'
      parameters:
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: accounts
      x-stackQL-verb: select
