openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Analytics Admin API
  description: ''
  version: v1beta
  x-discovery-doc-revision: '20230622'
  x-generated-date: '2023-06-25'
externalDocs:
  url: http://code.google.com/apis/analytics/docs/mgmt/home.html
servers:
  - url: https://analyticsadmin.googleapis.com
components:
  schemas:
    GoogleAnalyticsAdminV1betaProperty:
      id: GoogleAnalyticsAdminV1betaProperty
      description: A resource message representing a Google Analytics GA4 property.
      properties:
        displayName:
          type: string
          description: >-
            Required. Human-readable display name for this property. The max
            allowed display name length is 100 UTF-16 code units.
        name:
          description: >-
            Output only. Resource name of this property. Format:
            properties/{property_id} Example: "properties/1000"
          readOnly: true
          type: string
        expireTime:
          readOnly: true
          type: string
          format: google-datetime
          description: >-
            Output only. If set, the time at which this trashed property will be
            permanently deleted. If not set, then this property is not currently
            in the trash can and is not slated to be deleted.
        timeZone:
          description: >-
            Required. Reporting Time Zone, used as the day boundary for reports,
            regardless of where the data originates. If the time zone honors
            DST, Analytics will automatically adjust for the changes. NOTE:
            Changing the time zone only affects data going forward, and is not
            applied retroactively. Format: https://www.iana.org/time-zones
            Example: "America/Los_Angeles"
          type: string
        account:
          description: >-
            Immutable. The resource name of the parent account Format:
            accounts/{account_id} Example: "accounts/123"
          type: string
        createTime:
          readOnly: true
          description: Output only. Time when the entity was originally created.
          format: google-datetime
          type: string
        industryCategory:
          enumDescriptions:
            - Industry category unspecified
            - Automotive
            - Business and industrial markets
            - Finance
            - Healthcare
            - Technology
            - Travel
            - Other
            - Arts and entertainment
            - Beauty and fitness
            - Books and literature
            - Food and drink
            - Games
            - Hobbies and leisure
            - Home and garden
            - Internet and telecom
            - Law and government
            - News
            - Online communities
            - People and society
            - Pets and animals
            - Real estate
            - Reference
            - Science
            - Sports
            - Jobs and education
            - Shopping
          description: >-
            Industry associated with this property Example: AUTOMOTIVE,
            FOOD_AND_DRINK
          enum:
            - INDUSTRY_CATEGORY_UNSPECIFIED
            - AUTOMOTIVE
            - BUSINESS_AND_INDUSTRIAL_MARKETS
            - FINANCE
            - HEALTHCARE
            - TECHNOLOGY
            - TRAVEL
            - OTHER
            - ARTS_AND_ENTERTAINMENT
            - BEAUTY_AND_FITNESS
            - BOOKS_AND_LITERATURE
            - FOOD_AND_DRINK
            - GAMES
            - HOBBIES_AND_LEISURE
            - HOME_AND_GARDEN
            - INTERNET_AND_TELECOM
            - LAW_AND_GOVERNMENT
            - NEWS
            - ONLINE_COMMUNITIES
            - PEOPLE_AND_SOCIETY
            - PETS_AND_ANIMALS
            - REAL_ESTATE
            - REFERENCE
            - SCIENCE
            - SPORTS
            - JOBS_AND_EDUCATION
            - SHOPPING
          type: string
        parent:
          type: string
          description: >-
            Immutable. Resource name of this property's logical parent. Note:
            The Property-Moving UI can be used to change the parent. Format:
            accounts/{account}, properties/{property} Example: "accounts/100",
            "properties/101"
        updateTime:
          format: google-datetime
          description: Output only. Time when entity payload fields were last updated.
          readOnly: true
          type: string
        currencyCode:
          description: >-
            The currency type used in reports involving monetary values. Format:
            https://en.wikipedia.org/wiki/ISO_4217 Examples: "USD", "EUR", "JPY"
          type: string
        serviceLevel:
          readOnly: true
          description: >-
            Output only. The Google Analytics service level that applies to this
            property.
          enum:
            - SERVICE_LEVEL_UNSPECIFIED
            - GOOGLE_ANALYTICS_STANDARD
            - GOOGLE_ANALYTICS_360
          type: string
          enumDescriptions:
            - Service level not specified or invalid.
            - The standard version of Google Analytics.
            - The paid, premium version of Google Analytics.
        propertyType:
          enum:
            - PROPERTY_TYPE_UNSPECIFIED
            - PROPERTY_TYPE_ORDINARY
            - PROPERTY_TYPE_SUBPROPERTY
            - PROPERTY_TYPE_ROLLUP
          type: string
          description: >-
            Immutable. The property type for this Property resource. When
            creating a property, if the type is "PROPERTY_TYPE_UNSPECIFIED",
            then "ORDINARY_PROPERTY" will be implied. "SUBPROPERTY" and
            "ROLLUP_PROPERTY" types cannot yet be created with the Google
            Analytics Admin API.
          enumDescriptions:
            - Unknown or unspecified property type
            - Ordinary GA4 property
            - GA4 subproperty
            - GA4 rollup property
        deleteTime:
          description: >-
            Output only. If set, the time at which this property was trashed. If
            not set, then this property is not currently in the trash can.
          format: google-datetime
          type: string
          readOnly: true
      type: object
    GoogleAnalyticsAdminV1betaDataStreamWebStreamData:
      description: Data specific to web streams.
      type: object
      properties:
        firebaseAppId:
          description: >-
            Output only. ID of the corresponding web app in Firebase, if any.
            This ID can change if the web app is deleted and recreated.
          readOnly: true
          type: string
        defaultUri:
          description: >-
            Domain name of the web app being measured, or empty. Example:
            "http://www.google.com", "https://www.google.com"
          type: string
        measurementId:
          description: 'Output only. Analytics Measurement ID. Example: "G-1A2BCD345E"'
          readOnly: true
          type: string
      id: GoogleAnalyticsAdminV1betaDataStreamWebStreamData
    GoogleAnalyticsAdminV1betaChangeHistoryEvent:
      id: GoogleAnalyticsAdminV1betaChangeHistoryEvent
      properties:
        changeTime:
          description: Time when change was made.
          type: string
          format: google-datetime
        actorType:
          enumDescriptions:
            - Unknown or unspecified actor type.
            - Changes made by the user specified in actor_email.
            - Changes made by the Google Analytics system.
            - Changes made by Google Analytics support team staff.
          enum:
            - ACTOR_TYPE_UNSPECIFIED
            - USER
            - SYSTEM
            - SUPPORT
          type: string
          description: The type of actor that made this change.
        id:
          description: >-
            ID of this change history event. This ID is unique across Google
            Analytics.
          type: string
        userActorEmail:
          description: >-
            Email address of the Google account that made the change. This will
            be a valid email address if the actor field is set to USER, and
            empty otherwise. Google accounts that have been deleted will cause
            an error.
          type: string
        changesFiltered:
          type: boolean
          description: >-
            If true, then the list of changes returned was filtered, and does
            not represent all changes that occurred in this event.
        changes:
          description: >-
            A list of changes made in this change history event that fit the
            filters specified in SearchChangeHistoryEventsRequest.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaChangeHistoryChange'
      description: >-
        A set of changes within a Google Analytics account or its child
        properties that resulted from the same cause. Common causes would be
        updates made in the Google Analytics UI, changes from customer support,
        or automatic Google Analytics system changes.
      type: object
    GoogleAnalyticsAdminV1betaAccessMetricValue:
      type: object
      id: GoogleAnalyticsAdminV1betaAccessMetricValue
      properties:
        value:
          type: string
          description: The measurement value. For example, this value may be '13'.
      description: The value of a metric.
    GoogleAnalyticsAdminV1betaAccessInListFilter:
      id: GoogleAnalyticsAdminV1betaAccessInListFilter
      properties:
        caseSensitive:
          type: boolean
          description: If true, the string value is case sensitive.
        values:
          type: array
          description: The list of string values. Must be non-empty.
          items:
            type: string
      description: The result needs to be in a list of string values.
      type: object
    GoogleAnalyticsAdminV1betaListFirebaseLinksResponse:
      description: Response message for ListFirebaseLinks RPC
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
            Currently, Google Analytics supports only one FirebaseLink per
            property, so this will never be populated.
        firebaseLinks:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaFirebaseLink'
          description: List of FirebaseLinks. This will have at most one value.
      id: GoogleAnalyticsAdminV1betaListFirebaseLinksResponse
      type: object
    GoogleAnalyticsAdminV1betaAccessOrderBy:
      type: object
      properties:
        desc:
          description: >-
            If true, sorts by descending order. If false or unspecified, sorts
            in ascending order.
          type: boolean
        dimension:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy
          description: Sorts results by a dimension's values.
        metric:
          description: Sorts results by a metric's values.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy
      id: GoogleAnalyticsAdminV1betaAccessOrderBy
      description: >-
        Order bys define how rows will be sorted in the response. For example,
        ordering rows by descending access count is one ordering, and ordering
        rows by the country string is a different ordering.
    GoogleAnalyticsAdminV1betaAccessFilterExpression:
      description: >-
        Expresses dimension or metric filters. The fields in the same expression
        need to be either all dimensions or all metrics.
      type: object
      id: GoogleAnalyticsAdminV1betaAccessFilterExpression
      properties:
        andGroup:
          description: >-
            Each of the FilterExpressions in the and_group has an AND
            relationship.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaAccessFilterExpressionList
        notExpression:
          description: The FilterExpression is NOT of not_expression.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaAccessFilterExpression
        orGroup:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaAccessFilterExpressionList
          description: >-
            Each of the FilterExpressions in the or_group has an OR
            relationship.
        accessFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessFilter'
          description: >-
            A primitive filter. In the same FilterExpression, all of the
            filter's field names need to be either all dimensions or all
            metrics.
    GoogleAnalyticsAdminV1betaGoogleAdsLink:
      description: A link between a GA4 property and a Google Ads account.
      properties:
        updateTime:
          description: Output only. Time when this link was last updated.
          readOnly: true
          format: google-datetime
          type: string
        creatorEmailAddress:
          readOnly: true
          description: >-
            Output only. Email address of the user that created the link. An
            empty string will be returned if the email address can't be
            retrieved.
          type: string
        createTime:
          description: Output only. Time when this link was originally created.
          type: string
          format: google-datetime
          readOnly: true
        name:
          description: >-
            Output only. Format:
            properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note:
            googleAdsLinkId is not the Google Ads customer ID.
          readOnly: true
          type: string
        customerId:
          description: Immutable. Google Ads customer ID.
          type: string
        canManageClients:
          description: Output only. If true, this link is for a Google Ads manager account.
          readOnly: true
          type: boolean
        adsPersonalizationEnabled:
          type: boolean
          description: >-
            Enable personalized advertising features with this integration.
            Automatically publish my Google Analytics audience lists and Google
            Analytics remarketing events/parameters to the linked Google Ads
            account. If this field is not set on create/update, it will be
            defaulted to true.
      id: GoogleAnalyticsAdminV1betaGoogleAdsLink
      type: object
    GoogleAnalyticsAdminV1betaAccessDateRange:
      id: GoogleAnalyticsAdminV1betaAccessDateRange
      type: object
      description: 'A contiguous range of days: startDate, startDate + 1, ..., endDate.'
      properties:
        endDate:
          description: >-
            The inclusive end date for the query in the format `YYYY-MM-DD`.
            Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or
            `today` is also accepted, and in that case, the date is inferred
            based on the current time in the request's time zone.
          type: string
        startDate:
          type: string
          description: >-
            The inclusive start date for the query in the format `YYYY-MM-DD`.
            Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or
            `today` is also accepted, and in that case, the date is inferred
            based on the current time in the request's time zone.
    GoogleAnalyticsAdminV1betaAccessFilterExpressionList:
      id: GoogleAnalyticsAdminV1betaAccessFilterExpressionList
      type: object
      properties:
        expressions:
          description: A list of filter expressions.
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1betaAccessFilterExpression
          type: array
      description: A list of filter expressions.
    GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse:
      description: Response message for ListMeasurementProtocolSecret RPC
      type: object
      id: GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse
      properties:
        measurementProtocolSecrets:
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1betaMeasurementProtocolSecret
          description: A list of secrets for the parent stream specified in the request.
          type: array
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
    GoogleAnalyticsAdminV1betaRunAccessReportRequest:
      type: object
      description: The request for a Data Access Record Report.
      id: GoogleAnalyticsAdminV1betaRunAccessReportRequest
      properties:
        timeZone:
          type: string
          description: >-
            This request's time zone if specified. If unspecified, the
            property's time zone is used. The request's time zone is used to
            interpret the start & end dates of the report. Formatted as strings
            from the IANA Time Zone database (https://www.iana.org/time-zones);
            for example "America/New_York" or "Asia/Tokyo".
        returnEntityQuota:
          type: boolean
          description: >-
            Toggles whether to return the current state of this Analytics
            Property's quota. Quota is returned in [AccessQuota](#AccessQuota).
            For account-level requests, this field must be false.
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessMetric'
          description: >-
            The metrics requested and displayed in the response. Requests are
            allowed up to 10 metrics.
        dateRanges:
          type: array
          description: >-
            Date ranges of access records to read. If multiple date ranges are
            requested, each response row will contain a zero based date range
            index. If two date ranges overlap, the access records for the
            overlapping days is included in the response rows for both date
            ranges. Requests are allowed up to 2 date ranges.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessDateRange'
        orderBys:
          description: Specifies how rows are ordered in the response.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessOrderBy'
          type: array
        metricFilter:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaAccessFilterExpression
          description: >-
            Metric filters allow you to restrict report response to specific
            metric values which match the filter. Metric filters are applied
            after aggregating the report's rows, similar to SQL having-clause.
            Dimensions cannot be used in this filter.
        limit:
          type: string
          description: >-
            The number of rows to return. If unspecified, 10,000 rows are
            returned. The API returns a maximum of 100,000 rows per request, no
            matter how many you ask for. `limit` must be positive. The API may
            return fewer rows than the requested `limit`, if there aren't as
            many remaining rows as the `limit`. For instance, there are fewer
            than 300 possible values for the dimension `country`, so when
            reporting on only `country`, you can't get more than 300 rows, even
            if you set `limit` to a higher value. To learn more about this
            pagination parameter, see
            [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).
          format: int64
        dimensions:
          description: >-
            The dimensions requested and displayed in the response. Requests are
            allowed up to 9 dimensions.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessDimension'
        offset:
          type: string
          format: int64
          description: >-
            The row count of the start row. The first row is counted as row 0.
            If offset is unspecified, it is treated as 0. If offset is zero,
            then this method will return the first page of results with `limit`
            entries. To learn more about this pagination parameter, see
            [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).
        dimensionFilter:
          description: >-
            Dimension filters let you restrict report response to specific
            dimension values which match the filter. For example, filtering on
            access records of a single user. To learn more, see [Fundamentals of
            Dimension
            Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters)
            for examples. Metrics cannot be used in this filter.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaAccessFilterExpression
    GoogleAnalyticsAdminV1betaListPropertiesResponse:
      type: object
      properties:
        properties:
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaProperty'
          description: >-
            Results that matched the filter criteria and were accessible to the
            caller.
          type: array
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      id: GoogleAnalyticsAdminV1betaListPropertiesResponse
      description: Response message for ListProperties RPC.
    GoogleAnalyticsAdminV1betaConversionEvent:
      id: GoogleAnalyticsAdminV1betaConversionEvent
      type: object
      description: A conversion event in a Google Analytics property.
      properties:
        createTime:
          type: string
          readOnly: true
          format: google-datetime
          description: >-
            Output only. Time when this conversion event was created in the
            property.
        deletable:
          description: >-
            Output only. If set, this event can currently be deleted with
            DeleteConversionEvent.
          readOnly: true
          type: boolean
        custom:
          type: boolean
          description: >-
            Output only. If set to true, this conversion event refers to a
            custom event. If set to false, this conversion event refers to a
            default event in GA. Default events typically have special meaning
            in GA. Default events are usually created for you by the GA system,
            but in some cases can be created by property admins. Custom events
            count towards the maximum number of custom conversion events that
            may be created per property.
          readOnly: true
        eventName:
          type: string
          description: >-
            Immutable. The event name for this conversion event. Examples:
            'click', 'purchase'
        name:
          type: string
          description: >-
            Output only. Resource name of this conversion event. Format:
            properties/{property}/conversionEvents/{conversion_event}
          readOnly: true
    GoogleAnalyticsAdminV1betaListConversionEventsResponse:
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        conversionEvents:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaConversionEvent'
          description: The requested conversion events
      type: object
      description: Response message for ListConversionEvents RPC.
      id: GoogleAnalyticsAdminV1betaListConversionEventsResponse
    GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse:
      type: object
      id: GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse
      description: Response message for ListGoogleAdsLinks RPC.
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        googleAdsLinks:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaGoogleAdsLink'
          description: List of GoogleAdsLinks.
    GoogleAnalyticsAdminV1betaMeasurementProtocolSecret:
      properties:
        secretValue:
          description: >-
            Output only. The measurement protocol secret value. Pass this value
            to the api_secret field of the Measurement Protocol API when sending
            hits to this secret's parent property.
          type: string
          readOnly: true
        displayName:
          type: string
          description: Required. Human-readable display name for this secret.
        name:
          type: string
          description: >-
            Output only. Resource name of this secret. This secret may be a
            child of any type of stream. Format:
            properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}
          readOnly: true
      type: object
      description: A secret value used for sending hits to Measurement Protocol.
      id: GoogleAnalyticsAdminV1betaMeasurementProtocolSecret
    GoogleAnalyticsAdminV1betaDataRetentionSettings:
      properties:
        name:
          readOnly: true
          description: >-
            Output only. Resource name for this DataRetentionSetting resource.
            Format: properties/{property}/dataRetentionSettings
          type: string
        resetUserDataOnNewActivity:
          type: boolean
          description: >-
            If true, reset the retention period for the user identifier with
            every event from that user.
        eventDataRetention:
          description: The length of time that event-level data is retained.
          enum:
            - RETENTION_DURATION_UNSPECIFIED
            - TWO_MONTHS
            - FOURTEEN_MONTHS
            - TWENTY_SIX_MONTHS
            - THIRTY_EIGHT_MONTHS
            - FIFTY_MONTHS
          type: string
          enumDescriptions:
            - Data retention time duration is not specified.
            - The data retention time duration is 2 months.
            - The data retention time duration is 14 months.
            - >-
              The data retention time duration is 26 months. Available to 360
              properties only.
            - >-
              The data retention time duration is 38 months. Available to 360
              properties only.
            - >-
              The data retention time duration is 50 months. Available to 360
              properties only.
      type: object
      description: Settings values for data retention. This is a singleton resource.
      id: GoogleAnalyticsAdminV1betaDataRetentionSettings
    GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest:
      id: GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest
      description: Request message for SearchChangeHistoryEvents RPC.
      properties:
        property:
          description: >-
            Optional. Resource name for a child property. If set, only return
            changes made to this property or its child resources.
          type: string
        latestChangeTime:
          format: google-datetime
          description: >-
            Optional. If set, only return changes made before this time
            (inclusive).
          type: string
        pageToken:
          description: >-
            Optional. A page token, received from a previous
            `SearchChangeHistoryEvents` call. Provide this to retrieve the
            subsequent page. When paginating, all other parameters provided to
            `SearchChangeHistoryEvents` must match the call that provided the
            page token.
          type: string
        pageSize:
          format: int32
          description: >-
            Optional. The maximum number of ChangeHistoryEvent items to return.
            The service may return fewer than this value, even if there are
            additional pages. If unspecified, at most 50 items will be returned.
            The maximum value is 200 (higher values will be coerced to the
            maximum).
          type: integer
        earliestChangeTime:
          format: google-datetime
          type: string
          description: >-
            Optional. If set, only return changes made after this time
            (inclusive).
        action:
          type: array
          description: >-
            Optional. If set, only return changes that match one or more of
            these types of actions.
          items:
            enumDescriptions:
              - Action type unknown or not specified.
              - Resource was created in this change.
              - Resource was updated in this change.
              - Resource was deleted in this change.
            type: string
            enum:
              - ACTION_TYPE_UNSPECIFIED
              - CREATED
              - UPDATED
              - DELETED
        resourceType:
          type: array
          items:
            type: string
            enumDescriptions:
              - Resource type unknown or not specified.
              - Account resource
              - Property resource
              - FirebaseLink resource
              - GoogleAdsLink resource
              - GoogleSignalsSettings resource
              - ConversionEvent resource
              - MeasurementProtocolSecret resource
              - DataRetentionSettings resource
              - DisplayVideo360AdvertiserLink resource
              - DisplayVideo360AdvertiserLinkProposal resource
              - DataStream resource
              - AttributionSettings resource
            enum:
              - CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED
              - ACCOUNT
              - PROPERTY
              - FIREBASE_LINK
              - GOOGLE_ADS_LINK
              - GOOGLE_SIGNALS_SETTINGS
              - CONVERSION_EVENT
              - MEASUREMENT_PROTOCOL_SECRET
              - DATA_RETENTION_SETTINGS
              - DISPLAY_VIDEO_360_ADVERTISER_LINK
              - DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL
              - DATA_STREAM
              - ATTRIBUTION_SETTINGS
          description: >-
            Optional. If set, only return changes if they are for a resource
            that matches at least one of these types.
        actorEmail:
          type: array
          description: >-
            Optional. If set, only return changes if they are made by a user in
            this list.
          items:
            type: string
      type: object
    GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse:
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        changeHistoryEvents:
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaChangeHistoryEvent'
          type: array
          description: Results that were accessible to the caller.
      type: object
      description: Response message for SearchAccounts RPC.
      id: GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse
    GoogleAnalyticsAdminV1betaChangeHistoryChange:
      properties:
        resource:
          description: >-
            Resource name of the resource whose changes are described by this
            entry.
          type: string
        resourceAfterChange:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource
          description: >-
            Resource contents from after the change was made. If this resource
            was deleted in this change, this field will be missing.
        resourceBeforeChange:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource
          description: >-
            Resource contents from before the change was made. If this resource
            was created in this change, this field will be missing.
        action:
          enum:
            - ACTION_TYPE_UNSPECIFIED
            - CREATED
            - UPDATED
            - DELETED
          enumDescriptions:
            - Action type unknown or not specified.
            - Resource was created in this change.
            - Resource was updated in this change.
            - Resource was deleted in this change.
          description: The type of action that changed this resource.
          type: string
      type: object
      id: GoogleAnalyticsAdminV1betaChangeHistoryChange
      description: A description of a change to a single Google Analytics resource.
    GoogleAnalyticsAdminV1betaListAccountSummariesResponse:
      type: object
      id: GoogleAnalyticsAdminV1betaListAccountSummariesResponse
      properties:
        accountSummaries:
          description: Account summaries of all accounts the caller has access to.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccountSummary'
          type: array
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      description: Response message for ListAccountSummaries RPC.
    GoogleAnalyticsAdminV1betaPropertySummary:
      description: A virtual resource representing metadata for a GA4 property.
      id: GoogleAnalyticsAdminV1betaPropertySummary
      type: object
      properties:
        displayName:
          type: string
          description: Display name for the property referred to in this property summary.
        property:
          type: string
          description: >-
            Resource name of property referred to by this property summary
            Format: properties/{property_id} Example: "properties/1000"
        parent:
          type: string
          description: >-
            Resource name of this property's logical parent. Note: The
            Property-Moving UI can be used to change the parent. Format:
            accounts/{account}, properties/{property} Example: "accounts/100",
            "properties/200"
        propertyType:
          enum:
            - PROPERTY_TYPE_UNSPECIFIED
            - PROPERTY_TYPE_ORDINARY
            - PROPERTY_TYPE_SUBPROPERTY
            - PROPERTY_TYPE_ROLLUP
          enumDescriptions:
            - Unknown or unspecified property type
            - Ordinary GA4 property
            - GA4 subproperty
            - GA4 rollup property
          type: string
          description: The property's property type.
    GoogleAnalyticsAdminV1betaCustomDimension:
      properties:
        name:
          description: >-
            Output only. Resource name for this CustomDimension resource.
            Format: properties/{property}/customDimensions/{customDimension}
          type: string
          readOnly: true
        scope:
          enum:
            - DIMENSION_SCOPE_UNSPECIFIED
            - EVENT
            - USER
            - ITEM
          type: string
          enumDescriptions:
            - Scope unknown or not specified.
            - Dimension scoped to an event.
            - Dimension scoped to a user.
            - Dimension scoped to eCommerce items
          description: Required. Immutable. The scope of this dimension.
        displayName:
          type: string
          description: >-
            Required. Display name for this custom dimension as shown in the
            Analytics UI. Max length of 82 characters, alphanumeric plus space
            and underscore starting with a letter. Legacy system-generated
            display names may contain square brackets, but updates to this field
            will never permit square brackets.
        disallowAdsPersonalization:
          description: >-
            Optional. If set to true, sets this dimension as NPA and excludes it
            from ads personalization. This is currently only supported by
            user-scoped custom dimensions.
          type: boolean
        description:
          type: string
          description: >-
            Optional. Description for this custom dimension. Max length of 150
            characters.
        parameterName:
          type: string
          description: >-
            Required. Immutable. Tagging parameter name for this custom
            dimension. If this is a user-scoped dimension, then this is the user
            property name. If this is an event-scoped dimension, then this is
            the event parameter name. If this is an item-scoped dimension, then
            this is the parameter name found in the eCommerce items array. May
            only contain alphanumeric and underscore characters, starting with a
            letter. Max length of 24 characters for user-scoped dimensions, 40
            characters for event-scoped dimensions.
      id: GoogleAnalyticsAdminV1betaCustomDimension
      description: A definition for a CustomDimension.
      type: object
    GoogleAnalyticsAdminV1betaNumericValue:
      id: GoogleAnalyticsAdminV1betaNumericValue
      description: To represent a number.
      properties:
        doubleValue:
          format: double
          description: Double value
          type: number
        int64Value:
          type: string
          format: int64
          description: Integer value
      type: object
    GoogleAnalyticsAdminV1betaDataStream:
      description: A resource message representing a data stream.
      id: GoogleAnalyticsAdminV1betaDataStream
      type: object
      properties:
        type:
          enum:
            - DATA_STREAM_TYPE_UNSPECIFIED
            - WEB_DATA_STREAM
            - ANDROID_APP_DATA_STREAM
            - IOS_APP_DATA_STREAM
          enumDescriptions:
            - Type unknown or not specified.
            - Web data stream.
            - Android app data stream.
            - iOS app data stream.
          type: string
          description: Required. Immutable. The type of this DataStream resource.
        iosAppStreamData:
          description: >-
            Data specific to iOS app streams. Must be populated if type is
            IOS_APP_DATA_STREAM.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData
        createTime:
          description: Output only. Time when this stream was originally created.
          type: string
          format: google-datetime
          readOnly: true
        displayName:
          type: string
          description: >-
            Human-readable display name for the Data Stream. Required for web
            data streams. The max allowed display name length is 255 UTF-16 code
            units.
        name:
          type: string
          description: >-
            Output only. Resource name of this Data Stream. Format:
            properties/{property_id}/dataStreams/{stream_id} Example:
            "properties/1000/dataStreams/2000"
          readOnly: true
        webStreamData:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaDataStreamWebStreamData
          description: >-
            Data specific to web streams. Must be populated if type is
            WEB_DATA_STREAM.
        updateTime:
          readOnly: true
          format: google-datetime
          type: string
          description: Output only. Time when stream payload fields were last updated.
        androidAppStreamData:
          description: >-
            Data specific to Android app streams. Must be populated if type is
            ANDROID_APP_DATA_STREAM.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData
    GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse:
      id: GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse
      type: object
      description: Response message for ProvisionAccountTicket RPC.
      properties:
        accountTicketId:
          type: string
          description: The param to be passed in the ToS link.
    GoogleAnalyticsAdminV1betaListCustomMetricsResponse:
      type: object
      properties:
        customMetrics:
          description: List of CustomMetrics.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaCustomMetric'
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
      id: GoogleAnalyticsAdminV1betaListCustomMetricsResponse
      description: Response message for ListCustomMetrics RPC.
    GoogleAnalyticsAdminV1betaListCustomDimensionsResponse:
      id: GoogleAnalyticsAdminV1betaListCustomDimensionsResponse
      type: object
      description: Response message for ListCustomDimensions RPC.
      properties:
        customDimensions:
          description: List of CustomDimensions.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaCustomDimension'
          type: array
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
    GoogleAnalyticsAdminV1betaAccessDimensionHeader:
      properties:
        dimensionName:
          type: string
          description: The dimension's name; for example 'userEmail'.
      id: GoogleAnalyticsAdminV1betaAccessDimensionHeader
      description: >-
        Describes a dimension column in the report. Dimensions requested in a
        report produce column entries within rows and DimensionHeaders. However,
        dimensions used exclusively within filters or expressions do not produce
        columns in a report; correspondingly, those dimensions do not produce
        headers.
      type: object
    GoogleAnalyticsAdminV1betaAccessStringFilter:
      description: The filter for strings.
      type: object
      properties:
        caseSensitive:
          type: boolean
          description: If true, the string value is case sensitive.
        matchType:
          enum:
            - MATCH_TYPE_UNSPECIFIED
            - EXACT
            - BEGINS_WITH
            - ENDS_WITH
            - CONTAINS
            - FULL_REGEXP
            - PARTIAL_REGEXP
          type: string
          enumDescriptions:
            - Unspecified
            - Exact match of the string value.
            - Begins with the string value.
            - Ends with the string value.
            - Contains the string value.
            - Full match for the regular expression with the string value.
            - Partial match for the regular expression with the string value.
          description: The match type for this filter.
        value:
          description: The string value used for the matching.
          type: string
      id: GoogleAnalyticsAdminV1betaAccessStringFilter
    GoogleAnalyticsAdminV1betaAccessNumericFilter:
      type: object
      description: Filters for numeric or date values.
      properties:
        operation:
          description: The operation type for this filter.
          enum:
            - OPERATION_UNSPECIFIED
            - EQUAL
            - LESS_THAN
            - LESS_THAN_OR_EQUAL
            - GREATER_THAN
            - GREATER_THAN_OR_EQUAL
          enumDescriptions:
            - Unspecified.
            - Equal
            - Less than
            - Less than or equal
            - Greater than
            - Greater than or equal
          type: string
        value:
          description: A numeric value or a date value.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaNumericValue'
      id: GoogleAnalyticsAdminV1betaAccessNumericFilter
    GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest:
      id: GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest
      properties: {}
      type: object
      description: Request message for ArchiveCustomDimension RPC.
    GoogleAnalyticsAdminV1betaCustomMetric:
      type: object
      id: GoogleAnalyticsAdminV1betaCustomMetric
      description: A definition for a custom metric.
      properties:
        measurementUnit:
          type: string
          enumDescriptions:
            - MeasurementUnit unspecified or missing.
            - This metric uses default units.
            - This metric measures a currency.
            - This metric measures feet.
            - This metric measures meters.
            - This metric measures kilometers.
            - This metric measures miles.
            - This metric measures milliseconds.
            - This metric measures seconds.
            - This metric measures minutes.
            - This metric measures hours.
          enum:
            - MEASUREMENT_UNIT_UNSPECIFIED
            - STANDARD
            - CURRENCY
            - FEET
            - METERS
            - KILOMETERS
            - MILES
            - MILLISECONDS
            - SECONDS
            - MINUTES
            - HOURS
          description: Required. The type for the custom metric's value.
        description:
          description: >-
            Optional. Description for this custom dimension. Max length of 150
            characters.
          type: string
        name:
          readOnly: true
          description: >-
            Output only. Resource name for this CustomMetric resource. Format:
            properties/{property}/customMetrics/{customMetric}
          type: string
        displayName:
          description: >-
            Required. Display name for this custom metric as shown in the
            Analytics UI. Max length of 82 characters, alphanumeric plus space
            and underscore starting with a letter. Legacy system-generated
            display names may contain square brackets, but updates to this field
            will never permit square brackets.
          type: string
        restrictedMetricType:
          items:
            enum:
              - RESTRICTED_METRIC_TYPE_UNSPECIFIED
              - COST_DATA
              - REVENUE_DATA
            type: string
            enumDescriptions:
              - Type unknown or unspecified.
              - Metric reports cost data.
              - Metric reports revenue data.
          description: >-
            Optional. Types of restricted data that this metric may contain.
            Required for metrics with CURRENCY measurement unit. Must be empty
            for metrics with a non-CURRENCY measurement unit.
          type: array
        scope:
          type: string
          enum:
            - METRIC_SCOPE_UNSPECIFIED
            - EVENT
          enumDescriptions:
            - Scope unknown or not specified.
            - Metric scoped to an event.
          description: Required. Immutable. The scope of this custom metric.
        parameterName:
          description: >-
            Required. Immutable. Tagging name for this custom metric. If this is
            an event-scoped metric, then this is the event parameter name. May
            only contain alphanumeric and underscore charactes, starting with a
            letter. Max length of 40 characters for event-scoped metrics.
          type: string
    GoogleAnalyticsAdminV1betaDataSharingSettings:
      type: object
      id: GoogleAnalyticsAdminV1betaDataSharingSettings
      description: >-
        A resource message representing data sharing settings of a Google
        Analytics account.
      properties:
        sharingWithGoogleSupportEnabled:
          description: >-
            Allows Google support to access the data in order to help
            troubleshoot issues.
          type: boolean
        sharingWithOthersEnabled:
          description: >-
            Allows Google to share the data anonymously in aggregate form with
            others.
          type: boolean
        sharingWithGoogleAssignedSalesEnabled:
          type: boolean
          description: >-
            Allows Google sales teams that are assigned to the customer to
            access the data in order to suggest configuration changes to improve
            results. Sales team restrictions still apply when enabled.
        sharingWithGoogleAnySalesEnabled:
          description: >-
            Allows any of Google sales to access the data in order to suggest
            configuration changes to improve results.
          type: boolean
        name:
          type: string
          description: >-
            Output only. Resource name. Format:
            accounts/{account}/dataSharingSettings Example:
            "accounts/1000/dataSharingSettings"
          readOnly: true
        sharingWithGoogleProductsEnabled:
          description: >-
            Allows Google to use the data to improve other Google products or
            services.
          type: boolean
    GoogleAnalyticsAdminV1betaRunAccessReportResponse:
      description: The customized Data Access Record Report response.
      properties:
        rowCount:
          format: int32
          type: integer
          description: >-
            The total number of rows in the query result. `rowCount` is
            independent of the number of rows returned in the response, the
            `limit` request parameter, and the `offset` request parameter. For
            example if a query returns 175 rows and includes `limit` of 50 in
            the API request, the response will contain `rowCount` of 175 but
            only 50 rows. To learn more about this pagination parameter, see
            [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).
        rows:
          type: array
          description: >-
            Rows of dimension value combinations and metric values in the
            report.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessRow'
        dimensionHeaders:
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1betaAccessDimensionHeader
          type: array
          description: >-
            The header for a column in the report that corresponds to a specific
            dimension. The number of DimensionHeaders and ordering of
            DimensionHeaders matches the dimensions present in rows.
        quota:
          description: >-
            The quota state for this Analytics property including this request.
            This field doesn't work with account-level requests.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessQuota'
        metricHeaders:
          type: array
          description: >-
            The header for a column in the report that corresponds to a specific
            metric. The number of MetricHeaders and ordering of MetricHeaders
            matches the metrics present in rows.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessMetricHeader'
      id: GoogleAnalyticsAdminV1betaRunAccessReportResponse
      type: object
    GoogleAnalyticsAdminV1betaAccessBetweenFilter:
      id: GoogleAnalyticsAdminV1betaAccessBetweenFilter
      type: object
      description: To express that the result needs to be between two numbers (inclusive).
      properties:
        fromValue:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaNumericValue'
          description: Begins with this number.
        toValue:
          description: Ends with this number.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaNumericValue'
    GoogleAnalyticsAdminV1betaAccessQuotaStatus:
      id: GoogleAnalyticsAdminV1betaAccessQuotaStatus
      description: Current state for a particular quota group.
      properties:
        remaining:
          description: Quota remaining after this request.
          format: int32
          type: integer
        consumed:
          format: int32
          description: Quota consumed by this request.
          type: integer
      type: object
    GoogleAnalyticsAdminV1betaListDataStreamsResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
        dataStreams:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStream'
          description: List of DataStreams.
      id: GoogleAnalyticsAdminV1betaListDataStreamsResponse
      description: Response message for ListDataStreams RPC.
      type: object
    GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData:
      properties:
        firebaseAppId:
          type: string
          readOnly: true
          description: >-
            Output only. ID of the corresponding Android app in Firebase, if
            any. This ID can change if the Android app is deleted and recreated.
        packageName:
          type: string
          description: >-
            Immutable. The package name for the app being measured. Example:
            "com.example.myandroidapp"
      type: object
      description: Data specific to Android app streams.
      id: GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData
    GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest:
      description: Request message for AcknowledgeUserDataCollection RPC.
      properties:
        acknowledgement:
          description: >-
            Required. An acknowledgement that the caller of this method
            understands the terms of user data collection. This field must
            contain the exact value: "I acknowledge that I have the necessary
            privacy disclosures and rights from my end users for the collection
            and processing of their data, including the association of such data
            with the visitation information Google Analytics collects from my
            site and/or app property."
          type: string
      type: object
      id: GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest
    GoogleAnalyticsAdminV1betaAccessQuota:
      id: GoogleAnalyticsAdminV1betaAccessQuota
      properties:
        serverErrorsPerProjectPerHour:
          description: >-
            Properties and cloud project pairs can have up to 50 server errors
            per hour.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessQuotaStatus'
        tokensPerProjectPerHour:
          description: >-
            Properties can use up to 25% of their tokens per project per hour.
            This amounts to Analytics 360 Properties can use 12,500 tokens per
            project per hour. An API request consumes a single number of tokens,
            and that number is deducted from all of the hourly, daily, and per
            project hourly quotas.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessQuotaStatus'
        tokensPerHour:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessQuotaStatus'
          description: >-
            Properties can use 50,000 tokens per hour. An API request consumes a
            single number of tokens, and that number is deducted from all of the
            hourly, daily, and per project hourly quotas.
        concurrentRequests:
          description: Properties can use up to 50 concurrent requests.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessQuotaStatus'
        tokensPerDay:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessQuotaStatus'
          description: >-
            Properties can use 250,000 tokens per day. Most requests consume
            fewer than 10 tokens.
      type: object
      description: >-
        Current state of all quotas for this Analytics property. If any quota
        for a property is exhausted, all requests to that property will return
        Resource Exhausted errors.
    GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest:
      description: Request message for ArchiveCustomMetric RPC.
      properties: {}
      id: GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest
      type: object
    GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy:
      type: object
      id: GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy
      properties:
        metricName:
          type: string
          description: A metric name in the request to order by.
      description: Sorts by metric values.
    GoogleAnalyticsAdminV1betaAccessFilter:
      properties:
        fieldName:
          description: The dimension name or metric name.
          type: string
        stringFilter:
          description: Strings related filter.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessStringFilter'
        numericFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessNumericFilter'
          description: A filter for numeric or date values.
        betweenFilter:
          description: A filter for two values.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessBetweenFilter'
        inListFilter:
          description: A filter for in list values.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessInListFilter'
      id: GoogleAnalyticsAdminV1betaAccessFilter
      description: An expression to filter dimension or metric values.
      type: object
    GoogleAnalyticsAdminV1betaAccountSummary:
      properties:
        displayName:
          description: Display name for the account referred to in this account summary.
          type: string
        account:
          description: >-
            Resource name of account referred to by this account summary Format:
            accounts/{account_id} Example: "accounts/1000"
          type: string
        name:
          description: >-
            Resource name for this account summary. Format:
            accountSummaries/{account_id} Example: "accountSummaries/1000"
          type: string
        propertySummaries:
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaPropertySummary'
          description: List of summaries for child accounts of this account.
          type: array
      type: object
      id: GoogleAnalyticsAdminV1betaAccountSummary
      description: >-
        A virtual resource representing an overview of an account and all its
        child GA4 properties.
    GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy:
      description: Sorts by dimension values.
      properties:
        orderType:
          description: Controls the rule for dimension value ordering.
          enum:
            - ORDER_TYPE_UNSPECIFIED
            - ALPHANUMERIC
            - CASE_INSENSITIVE_ALPHANUMERIC
            - NUMERIC
          enumDescriptions:
            - Unspecified.
            - >-
              Alphanumeric sort by Unicode code point. For example, "2" < "A" <
              "X" < "b" < "z".
            - >-
              Case insensitive alphanumeric sort by lower case Unicode code
              point. For example, "2" < "A" < "b" < "X" < "z".
            - >-
              Dimension values are converted to numbers before sorting. For
              example in NUMERIC sort, "25" < "100", and in `ALPHANUMERIC` sort,
              "100" < "25". Non-numeric dimension values all have equal ordering
              value below all numeric values.
          type: string
        dimensionName:
          type: string
          description: A dimension name in the request to order by.
      type: object
      id: GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy
    GoogleAnalyticsAdminV1betaAccessRow:
      description: Access report data for each row.
      id: GoogleAnalyticsAdminV1betaAccessRow
      type: object
      properties:
        dimensionValues:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1betaAccessDimensionValue
          description: >-
            List of dimension values. These values are in the same order as
            specified in the request.
        metricValues:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccessMetricValue'
          description: >-
            List of metric values. These values are in the same order as
            specified in the request.
    GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse:
      properties: {}
      type: object
      description: Response message for AcknowledgeUserDataCollection RPC.
      id: GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse
    GoogleAnalyticsAdminV1betaFirebaseLink:
      id: GoogleAnalyticsAdminV1betaFirebaseLink
      properties:
        createTime:
          type: string
          description: Output only. Time when this FirebaseLink was originally created.
          format: google-datetime
          readOnly: true
        name:
          type: string
          description: 'Output only. Example format: properties/1234/firebaseLinks/5678'
          readOnly: true
        project:
          type: string
          description: >-
            Immutable. Firebase project resource name. When creating a
            FirebaseLink, you may provide this resource name using either a
            project number or project ID. Once this resource has been created,
            returned FirebaseLinks will always have a project_name that contains
            a project number. Format: 'projects/{project number}' Example:
            'projects/1234'
      description: A link between a GA4 property and a Firebase project.
      type: object
    GoogleProtobufEmpty:
      properties: {}
      id: GoogleProtobufEmpty
      type: object
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
    GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData:
      type: object
      properties:
        bundleId:
          description: >-
            Required. Immutable. The Apple App Store Bundle ID for the app
            Example: "com.example.myiosapp"
          type: string
        firebaseAppId:
          readOnly: true
          description: >-
            Output only. ID of the corresponding iOS app in Firebase, if any.
            This ID can change if the iOS app is deleted and recreated.
          type: string
      id: GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData
      description: Data specific to iOS app streams.
    GoogleAnalyticsAdminV1betaAccessDimensionValue:
      description: The value of a dimension.
      type: object
      properties:
        value:
          type: string
          description: >-
            The dimension value. For example, this value may be 'France' for the
            'country' dimension.
      id: GoogleAnalyticsAdminV1betaAccessDimensionValue
    GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource:
      id: GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource
      type: object
      description: >-
        A snapshot of a resource as before or after the result of a change in
        change history.
      properties:
        conversionEvent:
          description: A snapshot of a ConversionEvent resource in change history.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaConversionEvent'
        measurementProtocolSecret:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1betaMeasurementProtocolSecret
          description: >-
            A snapshot of a MeasurementProtocolSecret resource in change
            history.
        property:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaProperty'
          description: A snapshot of a Property resource in change history.
        googleAdsLink:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaGoogleAdsLink'
          description: A snapshot of a GoogleAdsLink resource in change history.
        dataRetentionSettings:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataRetentionSettings'
          description: A snapshot of a data retention settings resource in change history.
        firebaseLink:
          description: A snapshot of a FirebaseLink resource in change history.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaFirebaseLink'
        dataStream:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStream'
          description: A snapshot of a DataStream resource in change history.
        account:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccount'
          description: A snapshot of an Account resource in change history.
    GoogleAnalyticsAdminV1betaAccessDimension:
      id: GoogleAnalyticsAdminV1betaAccessDimension
      properties:
        dimensionName:
          description: >-
            The API name of the dimension. See [Data Access
            Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema)
            for the list of dimensions supported in this API. Dimensions are
            referenced by name in `dimensionFilter` and `orderBys`.
          type: string
      type: object
      description: >-
        Dimensions are attributes of your data. For example, the dimension
        `userEmail` indicates the email of the user that accessed reporting
        data. Dimension values in report responses are strings.
    GoogleAnalyticsAdminV1betaAccessMetric:
      properties:
        metricName:
          description: >-
            The API name of the metric. See [Data Access
            Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema)
            for the list of metrics supported in this API. Metrics are
            referenced by name in `metricFilter` & `orderBys`.
          type: string
      id: GoogleAnalyticsAdminV1betaAccessMetric
      type: object
      description: >-
        The quantitative measurements of a report. For example, the metric
        `accessCount` is the total number of data access records.
    GoogleAnalyticsAdminV1betaAccount:
      type: object
      description: A resource message representing a Google Analytics account.
      properties:
        regionCode:
          type: string
          description: Country of business. Must be a Unicode CLDR region code.
        createTime:
          type: string
          readOnly: true
          format: google-datetime
          description: Output only. Time when this account was originally created.
        displayName:
          description: Required. Human-readable display name for this account.
          type: string
        updateTime:
          description: Output only. Time when account payload fields were last updated.
          format: google-datetime
          type: string
          readOnly: true
        deleted:
          type: boolean
          description: >-
            Output only. Indicates whether this Account is soft-deleted or not.
            Deleted accounts are excluded from List results unless specifically
            requested.
          readOnly: true
        name:
          type: string
          description: >-
            Output only. Resource name of this account. Format:
            accounts/{account} Example: "accounts/100"
          readOnly: true
      id: GoogleAnalyticsAdminV1betaAccount
    GoogleAnalyticsAdminV1betaAccessMetricHeader:
      type: object
      id: GoogleAnalyticsAdminV1betaAccessMetricHeader
      description: >-
        Describes a metric column in the report. Visible metrics requested in a
        report produce column entries within rows and MetricHeaders. However,
        metrics used exclusively within filters or expressions do not produce
        columns in a report; correspondingly, those metrics do not produce
        headers.
      properties:
        metricName:
          description: The metric's name; for example 'accessCount'.
          type: string
    GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest:
      id: GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest
      type: object
      properties:
        redirectUri:
          description: >-
            Redirect URI where the user will be sent after accepting Terms of
            Service. Must be configured in Cloud Console as a Redirect URI.
          type: string
        account:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccount'
          description: The account to create.
      description: Request message for ProvisionAccountTicket RPC.
    GoogleAnalyticsAdminV1betaListAccountsResponse:
      description: Request message for ListAccounts RPC.
      type: object
      properties:
        accounts:
          description: Results that were accessible to the caller.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaAccount'
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
      id: GoogleAnalyticsAdminV1betaListAccountsResponse
  parameters:
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/analytics.readonly: See and download your Google Analytics data
            https://www.googleapis.com/auth/analytics.edit: Edit Google Analytics management entities
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}:
    parameters: &ref_1
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
    get:
      description: Lookup for a single DataStream.
      operationId: analyticsadmin.properties.dataStreams.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStream'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: dataStreamsId
          required: true
          schema:
            type: string
      x-stackQL-resource: data_streams
      x-stackQL-verb: select
    patch:
      description: Updates a DataStream on a property.
      operationId: analyticsadmin.properties.dataStreams.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStream'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStream'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: dataStreamsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: data_streams
      x-stackQL-verb: exec
    delete:
      description: Deletes a DataStream on a property.
      operationId: analyticsadmin.properties.dataStreams.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: dataStreamsId
          required: true
          schema:
            type: string
      x-stackQL-resource: data_streams
      x-stackQL-verb: delete
  /v1beta/properties/{propertiesId}/dataStreams:
    parameters: *ref_1
    post:
      description: Creates a DataStream.
      operationId: analyticsadmin.properties.dataStreams.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStream'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaDataStream'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
      x-stackQL-resource: data_streams
      x-stackQL-verb: insert
    get:
      description: Lists DataStreams on a property.
      operationId: analyticsadmin.properties.dataStreams.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAnalyticsAdminV1betaListDataStreamsResponse
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: data_streams
      x-stackQL-verb: select
  /v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}:
    parameters: *ref_1
    get:
      description: Lookup for a single "GA4" MeasurementProtocolSecret.
      operationId: analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAnalyticsAdminV1betaMeasurementProtocolSecret
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: dataStreamsId
          required: true
          schema:
            type: string
        - in: path
          name: measurementProtocolSecretsId
          required: true
          schema:
            type: string
      x-stackQL-resource: measurement_protocol_secrets
      x-stackQL-verb: select
    patch:
      description: Updates a measurement protocol secret.
      operationId: analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleAnalyticsAdminV1betaMeasurementProtocolSecret
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAnalyticsAdminV1betaMeasurementProtocolSecret
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: dataStreamsId
          required: true
          schema:
            type: string
        - in: path
          name: measurementProtocolSecretsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: measurement_protocol_secrets
      x-stackQL-verb: exec
    delete:
      description: Deletes target MeasurementProtocolSecret.
      operationId: analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: dataStreamsId
          required: true
          schema:
            type: string
        - in: path
          name: measurementProtocolSecretsId
          required: true
          schema:
            type: string
      x-stackQL-resource: measurement_protocol_secrets
      x-stackQL-verb: delete
  /v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets:
    parameters: *ref_1
    post:
      description: Creates a measurement protocol secret.
      operationId: analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleAnalyticsAdminV1betaMeasurementProtocolSecret
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAnalyticsAdminV1betaMeasurementProtocolSecret
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: dataStreamsId
          required: true
          schema:
            type: string
      x-stackQL-resource: measurement_protocol_secrets
      x-stackQL-verb: insert
    get:
      description: >-
        Returns child MeasurementProtocolSecrets under the specified parent
        Property.
      operationId: analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: dataStreamsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: measurement_protocol_secrets
      x-stackQL-verb: select
  /v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}:
    parameters: *ref_1
    patch:
      description: Updates a CustomDimension on a property.
      operationId: analyticsadmin.properties.customDimensions.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaCustomDimension'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaCustomDimension'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: customDimensionsId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: custom_dimensions
      x-stackQL-verb: exec
    get:
      description: Lookup for a single CustomDimension.
      operationId: analyticsadmin.properties.customDimensions.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaCustomDimension'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: customDimensionsId
          required: true
          schema:
            type: string
      x-stackQL-resource: custom_dimensions
      x-stackQL-verb: select
  /v1beta/properties/{propertiesId}/customDimensions:
    parameters: *ref_1
    post:
      description: Creates a CustomDimension.
      operationId: analyticsadmin.properties.customDimensions.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaCustomDimension'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaCustomDimension'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
      x-stackQL-resource: custom_dimensions
      x-stackQL-verb: insert
    get:
      description: Lists CustomDimensions on a property.
      operationId: analyticsadmin.properties.customDimensions.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAnalyticsAdminV1betaListCustomDimensionsResponse
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: custom_dimensions
      x-stackQL-verb: select
  /v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive:
    parameters: *ref_1
    post:
      description: Archives a CustomDimension on a property.
      operationId: analyticsadmin.properties.customDimensions.archive
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: customDimensionsId
          required: true
          schema:
            type: string
      x-stackQL-resource: custom_dimensions
      x-stackQL-verb: exec
  /v1beta/properties/{propertiesId}/googleAdsLinks:
    parameters: *ref_1
    post:
      description: Creates a GoogleAdsLink.
      operationId: analyticsadmin.properties.googleAdsLinks.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaGoogleAdsLink'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaGoogleAdsLink'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
      x-stackQL-resource: google_ads_links
      x-stackQL-verb: insert
    get:
      description: Lists GoogleAdsLinks on a property.
      operationId: analyticsadmin.properties.googleAdsLinks.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: google_ads_links
      x-stackQL-verb: select
  /v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}:
    parameters: *ref_1
    delete:
      description: Deletes a GoogleAdsLink on a property
      operationId: analyticsadmin.properties.googleAdsLinks.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: googleAdsLinksId
          required: true
          schema:
            type: string
      x-stackQL-resource: google_ads_links
      x-stackQL-verb: delete
    patch:
      description: Updates a GoogleAdsLink on a property
      operationId: analyticsadmin.properties.googleAdsLinks.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaGoogleAdsLink'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaGoogleAdsLink'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: googleAdsLinksId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: google_ads_links
      x-stackQL-verb: exec
  /v1beta/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}:
    parameters: *ref_1
    delete:
      description: Deletes a FirebaseLink on a property
      operationId: analyticsadmin.properties.firebaseLinks.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: firebaseLinksId
          required: true
          schema:
            type: string
      x-stackQL-resource: firebase_links
      x-stackQL-verb: delete
  /v1beta/properties/{propertiesId}/firebaseLinks:
    parameters: *ref_1
    get:
      description: >-
        Lists FirebaseLinks on a property. Properties can have at most one
        FirebaseLink.
      operationId: analyticsadmin.properties.firebaseLinks.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAnalyticsAdminV1betaListFirebaseLinksResponse
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: firebase_links
      x-stackQL-verb: select
    post:
      description: Creates a FirebaseLink. Properties can have at most one FirebaseLink.
      operationId: analyticsadmin.properties.firebaseLinks.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaFirebaseLink'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaFirebaseLink'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
      x-stackQL-resource: firebase_links
      x-stackQL-verb: insert
  /v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}:
    parameters: *ref_1
    get:
      description: Lookup for a single CustomMetric.
      operationId: analyticsadmin.properties.customMetrics.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaCustomMetric'
      parameters:
        - in: path
          name: propertiesId
          required: true
          schema:
            type: string
        - in: path
          name: customMetricsId
          required: true
          schema:
            type: string
      x-stackQL-resource: custom_metrics
      x-stackQL-verb: select
    patch:
      description: Updates a CustomMetric on a property.
      operationId: analyticsadmin.properties.customMetrics.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAnalyticsAdminV1betaCustomMetric'
[...]
