openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Analytics Admin API
  description: ''
  version: v1alpha
  x-discovery-doc-revision: '20230622'
  x-generated-date: '2023-06-25'
externalDocs:
  url: http://code.google.com/apis/analytics/docs/mgmt/home.html
servers:
  - url: https://analyticsadmin.googleapis.com
components:
  schemas:
    GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse:
      id: GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse
      properties:
        userLinks:
          description: The requested user links.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink'
      type: object
      description: Response message for BatchGetUserLinks RPC.
    GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal:
      properties:
        advertiserDisplayName:
          readOnly: true
          type: string
          description: >-
            Output only. The display name of the Display & Video Advertiser.
            Only populated for proposals that originated from Display & Video
            360.
        validationEmail:
          description: >-
            Input only. On a proposal being sent to Display & Video 360, this
            field must be set to the email address of an admin on the target
            advertiser. This is used to verify that the Google Analytics admin
            is aware of at least one admin on the Display & Video 360
            Advertiser. This does not restrict approval of the proposal to a
            single user. Any admin on the Display & Video 360 Advertiser may
            approve the proposal.
          type: string
        adsPersonalizationEnabled:
          description: >-
            Immutable. Enables personalized advertising features with this
            integration. If this field is not set on create, it will be
            defaulted to true.
          type: boolean
        linkProposalStatusDetails:
          readOnly: true
          description: Output only. The status information for this link proposal.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails
        name:
          description: >-
            Output only. The resource name for this
            DisplayVideo360AdvertiserLinkProposal resource. Format:
            properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId}
            Note: proposalId is not the Display & Video 360 Advertiser ID
          readOnly: true
          type: string
        costDataSharingEnabled:
          type: boolean
          description: >-
            Immutable. Enables the import of cost data from Display & Video 360.
            This can only be enabled if campaign_data_sharing_enabled is
            enabled. If this field is not set on create, it will be defaulted to
            true.
        campaignDataSharingEnabled:
          description: >-
            Immutable. Enables the import of campaign data from Display & Video
            360. If this field is not set on create, it will be defaulted to
            true.
          type: boolean
        advertiserId:
          type: string
          description: Immutable. The Display & Video 360 Advertiser's advertiser ID.
      type: object
      id: GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal
      description: >-
        A proposal for a link between a GA4 property and a Display & Video 360
        advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink
        once approved. Google Analytics admins approve inbound proposals while
        Display & Video 360 admins approve outbound proposals.
    GoogleAnalyticsAdminV1alphaAccessOrderBy:
      type: object
      id: GoogleAnalyticsAdminV1alphaAccessOrderBy
      properties:
        dimension:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy
          description: Sorts results by a dimension's values.
        metric:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy
          description: Sorts results by a metric's values.
        desc:
          type: boolean
          description: >-
            If true, sorts by descending order. If false or unspecified, sorts
            in ascending order.
      description: >-
        Order bys define how rows will be sorted in the response. For example,
        ordering rows by descending access count is one ordering, and ordering
        rows by the country string is a different ordering.
    GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest:
      description: Request message for SearchChangeHistoryEvents RPC.
      type: object
      properties:
        pageSize:
          description: >-
            Optional. The maximum number of ChangeHistoryEvent items to return.
            The service may return fewer than this value, even if there are
            additional pages. If unspecified, at most 50 items will be returned.
            The maximum value is 200 (higher values will be coerced to the
            maximum).
          format: int32
          type: integer
        action:
          type: array
          items:
            enumDescriptions:
              - Action type unknown or not specified.
              - Resource was created in this change.
              - Resource was updated in this change.
              - Resource was deleted in this change.
            type: string
            enum:
              - ACTION_TYPE_UNSPECIFIED
              - CREATED
              - UPDATED
              - DELETED
          description: >-
            Optional. If set, only return changes that match one or more of
            these types of actions.
        resourceType:
          type: array
          items:
            type: string
            enum:
              - CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED
              - ACCOUNT
              - PROPERTY
              - FIREBASE_LINK
              - GOOGLE_ADS_LINK
              - GOOGLE_SIGNALS_SETTINGS
              - CONVERSION_EVENT
              - MEASUREMENT_PROTOCOL_SECRET
              - CUSTOM_DIMENSION
              - CUSTOM_METRIC
              - DATA_RETENTION_SETTINGS
              - DISPLAY_VIDEO_360_ADVERTISER_LINK
              - DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL
              - SEARCH_ADS_360_LINK
              - DATA_STREAM
              - ATTRIBUTION_SETTINGS
              - EXPANDED_DATA_SET
              - CHANNEL_GROUP
              - ENHANCED_MEASUREMENT_SETTINGS
              - ADSENSE_LINK
              - AUDIENCE
              - EVENT_CREATE_RULE
            enumDescriptions:
              - Resource type unknown or not specified.
              - Account resource
              - Property resource
              - FirebaseLink resource
              - GoogleAdsLink resource
              - GoogleSignalsSettings resource
              - ConversionEvent resource
              - MeasurementProtocolSecret resource
              - CustomDimension resource
              - CustomMetric resource
              - DataRetentionSettings resource
              - DisplayVideo360AdvertiserLink resource
              - DisplayVideo360AdvertiserLinkProposal resource
              - SearchAds360Link resource
              - DataStream resource
              - AttributionSettings resource
              - ExpandedDataSet resource
              - ChannelGroup resource
              - EnhancedMeasurementSettings resource
              - AdSenseLink resource
              - Audience resource
              - EventCreateRule resource
          description: >-
            Optional. If set, only return changes if they are for a resource
            that matches at least one of these types.
        pageToken:
          description: >-
            Optional. A page token, received from a previous
            `SearchChangeHistoryEvents` call. Provide this to retrieve the
            subsequent page. When paginating, all other parameters provided to
            `SearchChangeHistoryEvents` must match the call that provided the
            page token.
          type: string
        actorEmail:
          description: >-
            Optional. If set, only return changes if they are made by a user in
            this list.
          type: array
          items:
            type: string
        latestChangeTime:
          description: >-
            Optional. If set, only return changes made before this time
            (inclusive).
          type: string
          format: google-datetime
        property:
          description: >-
            Optional. Resource name for a child property. If set, only return
            changes made to this property or its child resources.
          type: string
        earliestChangeTime:
          description: >-
            Optional. If set, only return changes made after this time
            (inclusive).
          format: google-datetime
          type: string
      id: GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest
    GoogleAnalyticsAdminV1alphaMatchingCondition:
      id: GoogleAnalyticsAdminV1alphaMatchingCondition
      properties:
        negated:
          description: >-
            Whether or not the result of the comparison should be negated. For
            example, if `negated` is true, then 'equals' comparisons would
            function as 'not equals'.
          type: boolean
        comparisonType:
          description: Required. The type of comparison to be applied to the value.
          type: string
          enumDescriptions:
            - Unknown
            - Equals, case sensitive
            - Equals, case insensitive
            - Contains, case sensitive
            - Contains, case insensitive
            - Starts with, case sensitive
            - Starts with, case insensitive
            - Ends with, case sensitive
            - Ends with, case insensitive
            - Greater than
            - Greater than or equal
            - Less than
            - Less than or equal
            - regular expression. Only supported for web streams.
            - >-
              regular expression, case insensitive. Only supported for web
              streams.
          enum:
            - COMPARISON_TYPE_UNSPECIFIED
            - EQUALS
            - EQUALS_CASE_INSENSITIVE
            - CONTAINS
            - CONTAINS_CASE_INSENSITIVE
            - STARTS_WITH
            - STARTS_WITH_CASE_INSENSITIVE
            - ENDS_WITH
            - ENDS_WITH_CASE_INSENSITIVE
            - GREATER_THAN
            - GREATER_THAN_OR_EQUAL
            - LESS_THAN
            - LESS_THAN_OR_EQUAL
            - REGULAR_EXPRESSION
            - REGULAR_EXPRESSION_CASE_INSENSITIVE
        value:
          type: string
          description: >-
            Required. The value being compared against for this condition. The
            runtime implementation may perform type coercion of this value to
            evaluate this condition based on the type of the parameter value.
        field:
          description: >-
            Required. The name of the field that is compared against for the
            condition. If 'event_name' is specified this condition will apply to
            the name of the event. Otherwise the condition will apply to a
            parameter with the specified name. This value cannot contain spaces.
          type: string
      description: >-
        Defines a condition for when an Event Edit or Event Creation rule
        applies to an event.
      type: object
    GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse:
      description: Response message for ListExpandedDataSets RPC.
      type: object
      properties:
        expandedDataSets:
          description: >-
            List of ExpandedDataSet. These will be ordered stably, but in an
            arbitrary order.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSet'
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      id: GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse
    GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse:
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        bigqueryLinks:
          description: List of BigQueryLinks.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaBigQueryLink'
      id: GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse
      type: object
      description: Response message for ListBigQueryLinks RPC
    GoogleAnalyticsAdminV1alphaAccountSummary:
      properties:
        account:
          type: string
          description: >-
            Resource name of account referred to by this account summary Format:
            accounts/{account_id} Example: "accounts/1000"
        name:
          type: string
          description: >-
            Resource name for this account summary. Format:
            accountSummaries/{account_id} Example: "accountSummaries/1000"
        displayName:
          type: string
          description: Display name for the account referred to in this account summary.
        propertySummaries:
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaPropertySummary'
          description: List of summaries for child accounts of this account.
          type: array
      description: >-
        A virtual resource representing an overview of an account and all its
        child GA4 properties.
      type: object
      id: GoogleAnalyticsAdminV1alphaAccountSummary
    GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest:
      properties:
        userLink:
          description: Required. The user link to update.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink'
      type: object
      description: Request message for UpdateUserLink RPC.
      id: GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest
    GoogleAnalyticsAdminV1alphaDeleteConnectedSiteTagRequest:
      id: GoogleAnalyticsAdminV1alphaDeleteConnectedSiteTagRequest
      type: object
      description: Request message for DeleteConnectedSiteTag RPC.
      properties:
        property:
          description: >-
            The Universal Analytics property to delete connected site tags for.
            This API does not support GA4 properties. Format:
            properties/{universalAnalyticsPropertyId} Example: properties/1234
          type: string
        tagId:
          description: >-
            Tag ID to forward events to. Also known as the Measurement ID, or
            the "G-ID" (For example: G-12345).
          type: string
    GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList:
      properties:
        filterExpressions:
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression
          description: A list of ExpandedDataSet filter expressions.
          type: array
      type: object
      id: GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList
      description: A list of ExpandedDataSet filter expressions.
    GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest:
      id: GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest
      type: object
      properties:
        requests:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest
          description: >-
            Required. The requests specifying the access bindings to delete. A
            maximum of 1000 access bindings can be deleted in a batch.
      description: Request message for BatchDeleteAccessBindings RPC.
    GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest:
      description: Request message for DeleteAccessBinding RPC.
      id: GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest
      properties:
        name:
          description: >-
            Required. Formats: -
            accounts/{account}/accessBindings/{accessBinding} -
            properties/{property}/accessBindings/{accessBinding}
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaListPropertiesResponse:
      properties:
        properties:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaProperty'
          description: >-
            Results that matched the filter criteria and were accessible to the
            caller.
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      type: object
      description: Response message for ListProperties RPC.
      id: GoogleAnalyticsAdminV1alphaListPropertiesResponse
    GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter:
      type: object
      id: GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter
      description: >-
        A filter for a string dimension that matches a particular list of
        options.
      properties:
        values:
          type: array
          description: >-
            Required. The list of possible string values to match against. Must
            be non-empty.
          items:
            type: string
        caseSensitive:
          description: >-
            Optional. If true, the match is case-sensitive. If false, the match
            is case-insensitive. Must be true.
          type: boolean
    GoogleAnalyticsAdminV1alphaChangeHistoryEvent:
      id: GoogleAnalyticsAdminV1alphaChangeHistoryEvent
      properties:
        id:
          description: >-
            ID of this change history event. This ID is unique across Google
            Analytics.
          type: string
        changeTime:
          description: Time when change was made.
          format: google-datetime
          type: string
        changesFiltered:
          description: >-
            If true, then the list of changes returned was filtered, and does
            not represent all changes that occurred in this event.
          type: boolean
        userActorEmail:
          type: string
          description: >-
            Email address of the Google account that made the change. This will
            be a valid email address if the actor field is set to USER, and
            empty otherwise. Google accounts that have been deleted will cause
            an error.
        actorType:
          enumDescriptions:
            - Unknown or unspecified actor type.
            - Changes made by the user specified in actor_email.
            - Changes made by the Google Analytics system.
            - Changes made by Google Analytics support team staff.
          type: string
          description: The type of actor that made this change.
          enum:
            - ACTOR_TYPE_UNSPECIFIED
            - USER
            - SYSTEM
            - SUPPORT
        changes:
          description: >-
            A list of changes made in this change history event that fit the
            filters specified in SearchChangeHistoryEventsRequest.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaChangeHistoryChange
      type: object
      description: >-
        A set of changes within a Google Analytics account or its child
        properties that resulted from the same cause. Common causes would be
        updates made in the Google Analytics UI, changes from customer support,
        or automatic Google Analytics system changes.
    GoogleAnalyticsAdminV1alphaAccessDateRange:
      id: GoogleAnalyticsAdminV1alphaAccessDateRange
      description: 'A contiguous range of days: startDate, startDate + 1, ..., endDate.'
      type: object
      properties:
        endDate:
          type: string
          description: >-
            The inclusive end date for the query in the format `YYYY-MM-DD`.
            Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or
            `today` is also accepted, and in that case, the date is inferred
            based on the current time in the request's time zone.
        startDate:
          description: >-
            The inclusive start date for the query in the format `YYYY-MM-DD`.
            Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or
            `today` is also accepted, and in that case, the date is inferred
            based on the current time in the request's time zone.
          type: string
    GoogleAnalyticsAdminV1alphaDataStreamWebStreamData:
      type: object
      properties:
        defaultUri:
          type: string
          description: >-
            Domain name of the web app being measured, or empty. Example:
            "http://www.google.com", "https://www.google.com"
        firebaseAppId:
          type: string
          readOnly: true
          description: >-
            Output only. ID of the corresponding web app in Firebase, if any.
            This ID can change if the web app is deleted and recreated.
        measurementId:
          type: string
          readOnly: true
          description: 'Output only. Analytics Measurement ID. Example: "G-1A2BCD345E"'
      id: GoogleAnalyticsAdminV1alphaDataStreamWebStreamData
      description: Data specific to web streams.
    GoogleAnalyticsAdminV1alphaListDataStreamsResponse:
      id: GoogleAnalyticsAdminV1alphaListDataStreamsResponse
      properties:
        dataStreams:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaDataStream'
          description: List of DataStreams.
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      type: object
      description: Response message for ListDataStreams RPC.
    GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression:
      type: object
      properties:
        orGroup:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList
          description: >-
            A list of expressions to OR’ed together. It cannot contain
            ChannelGroupFilterExpressions with and_group or or_group.
        notExpression:
          description: >-
            A filter expression to be NOT'ed (that is inverted, complemented).
            It can only include a dimension_or_metric_filter. This cannot be set
            on the top level ChannelGroupFilterExpression.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression
        filter:
          description: >-
            A filter on a single dimension. This cannot be set on the top level
            ChannelGroupFilterExpression.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilter'
        andGroup:
          description: >-
            A list of expressions to be AND’ed together. It can only contain
            ChannelGroupFilterExpressions with or_group. This must be set for
            the top level ChannelGroupFilterExpression.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList
      id: GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression
      description: A logical expression of Channel Group dimension filters.
    GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter:
      description: Filter where the field value is a String. The match is case insensitive.
      properties:
        matchType:
          description: Required. The match type for the string filter.
          enum:
            - MATCH_TYPE_UNSPECIFIED
            - EXACT
            - BEGINS_WITH
            - ENDS_WITH
            - CONTAINS
            - FULL_REGEXP
            - PARTIAL_REGEXP
          type: string
          enumDescriptions:
            - Default match type.
            - Exact match of the string value.
            - Begins with the string value.
            - Ends with the string value.
            - Contains the string value.
            - Full regular expression match with the string value.
            - Partial regular expression match with the string value.
        value:
          description: Required. The string value to be matched against.
          type: string
      id: GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter
      type: object
    GoogleAnalyticsAdminV1alphaListConnectedSiteTagsResponse:
      id: GoogleAnalyticsAdminV1alphaListConnectedSiteTagsResponse
      properties:
        connectedSiteTags:
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaConnectedSiteTag'
          type: array
          description: >-
            The site tags for the Universal Analytics property. A maximum of 20
            connected site tags will be returned.
      type: object
      description: Response message for ListConnectedSiteTags RPC.
    GoogleAnalyticsAdminV1alphaAccessMetricValue:
      id: GoogleAnalyticsAdminV1alphaAccessMetricValue
      type: object
      description: The value of a metric.
      properties:
        value:
          description: The measurement value. For example, this value may be '13'.
          type: string
    GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutResponse:
      properties:
        optOut:
          type: boolean
          description: The opt out status for the UA property.
      id: GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutResponse
      description: >-
        Response message for fetching the opt out status for the automated GA4
        setup process.
      type: object
    GoogleAnalyticsAdminV1alphaAccessQuotaStatus:
      properties:
        consumed:
          description: Quota consumed by this request.
          type: integer
          format: int32
        remaining:
          format: int32
          type: integer
          description: Quota remaining after this request.
      id: GoogleAnalyticsAdminV1alphaAccessQuotaStatus
      description: Current state for a particular quota group.
      type: object
    GoogleAnalyticsAdminV1alphaDataSharingSettings:
      description: >-
        A resource message representing data sharing settings of a Google
        Analytics account.
      id: GoogleAnalyticsAdminV1alphaDataSharingSettings
      properties:
        name:
          readOnly: true
          type: string
          description: >-
            Output only. Resource name. Format:
            accounts/{account}/dataSharingSettings Example:
            "accounts/1000/dataSharingSettings"
        sharingWithGoogleProductsEnabled:
          type: boolean
          description: >-
            Allows Google to use the data to improve other Google products or
            services.
        sharingWithOthersEnabled:
          type: boolean
          description: >-
            Allows Google to share the data anonymously in aggregate form with
            others.
        sharingWithGoogleAssignedSalesEnabled:
          type: boolean
          description: >-
            Allows Google sales teams that are assigned to the customer to
            access the data in order to suggest configuration changes to improve
            results. Sales team restrictions still apply when enabled.
        sharingWithGoogleSupportEnabled:
          type: boolean
          description: >-
            Allows Google support to access the data in order to help
            troubleshoot issues.
        sharingWithGoogleAnySalesEnabled:
          description: >-
            Allows any of Google sales to access the data in order to suggest
            configuration changes to improve results.
          type: boolean
      type: object
    GoogleAnalyticsAdminV1alphaAccessInListFilter:
      description: The result needs to be in a list of string values.
      id: GoogleAnalyticsAdminV1alphaAccessInListFilter
      properties:
        values:
          description: The list of string values. Must be non-empty.
          items:
            type: string
          type: array
        caseSensitive:
          type: boolean
          description: If true, the string value is case sensitive.
      type: object
    GoogleAnalyticsAdminV1alphaAccessBinding:
      properties:
        name:
          type: string
          description: >-
            Output only. Resource name of this binding. Format:
            accounts/{account}/accessBindings/{access_binding} or
            properties/{property}/accessBindings/{access_binding} Example:
            "accounts/100/accessBindings/200"
          readOnly: true
        user:
          description: >-
            If set, the email address of the user to set roles for. Format:
            "someuser@gmail.com"
          type: string
        roles:
          description: >-
            A list of roles for to grant to the parent resource. Valid values:
            predefinedRoles/viewer predefinedRoles/analyst
            predefinedRoles/editor predefinedRoles/admin
            predefinedRoles/no-cost-data predefinedRoles/no-revenue-data For
            users, if an empty list of roles is set, this AccessBinding will be
            deleted.
          type: array
          items:
            type: string
      type: object
      id: GoogleAnalyticsAdminV1alphaAccessBinding
      description: A binding of a user to a set of roles.
    GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse:
      id: GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse
      type: object
      description: Response message for BatchGetAccessBindings RPC.
      properties:
        accessBindings:
          type: array
          description: The requested access bindings.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
    GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse:
      id: GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse
      type: object
      description: Response message for ProvisionAccountTicket RPC.
      properties:
        accountTicketId:
          description: The param to be passed in the ToS link.
          type: string
    GoogleAnalyticsAdminV1alphaAccessRow:
      description: Access report data for each row.
      id: GoogleAnalyticsAdminV1alphaAccessRow
      type: object
      properties:
        dimensionValues:
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaAccessDimensionValue
          description: >-
            List of dimension values. These values are in the same order as
            specified in the request.
          type: array
        metricValues:
          type: array
          description: >-
            List of metric values. These values are in the same order as
            specified in the request.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessMetricValue'
    GoogleAnalyticsAdminV1alphaNumericValue:
      description: To represent a number.
      properties:
        doubleValue:
          description: Double value
          type: number
          format: double
        int64Value:
          type: string
          description: Integer value
          format: int64
      id: GoogleAnalyticsAdminV1alphaNumericValue
      type: object
    GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse:
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        changeHistoryEvents:
          type: array
          description: Results that were accessible to the caller.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaChangeHistoryEvent'
      type: object
      id: GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse
      description: Response message for SearchAccounts RPC.
    GoogleAnalyticsAdminV1alphaDataStream:
      id: GoogleAnalyticsAdminV1alphaDataStream
      type: object
      properties:
        iosAppStreamData:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData
          description: >-
            Data specific to iOS app streams. Must be populated if type is
            IOS_APP_DATA_STREAM.
        type:
          type: string
          enumDescriptions:
            - Type unknown or not specified.
            - Web data stream.
            - Android app data stream.
            - iOS app data stream.
          description: Required. Immutable. The type of this DataStream resource.
          enum:
            - DATA_STREAM_TYPE_UNSPECIFIED
            - WEB_DATA_STREAM
            - ANDROID_APP_DATA_STREAM
            - IOS_APP_DATA_STREAM
        createTime:
          format: google-datetime
          description: Output only. Time when this stream was originally created.
          type: string
          readOnly: true
        displayName:
          type: string
          description: >-
            Human-readable display name for the Data Stream. Required for web
            data streams. The max allowed display name length is 255 UTF-16 code
            units.
        name:
          description: >-
            Output only. Resource name of this Data Stream. Format:
            properties/{property_id}/dataStreams/{stream_id} Example:
            "properties/1000/dataStreams/2000"
          type: string
          readOnly: true
        androidAppStreamData:
          description: >-
            Data specific to Android app streams. Must be populated if type is
            ANDROID_APP_DATA_STREAM.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData
        updateTime:
          readOnly: true
          type: string
          description: Output only. Time when stream payload fields were last updated.
          format: google-datetime
        webStreamData:
          description: >-
            Data specific to web streams. Must be populated if type is
            WEB_DATA_STREAM.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaDataStreamWebStreamData
      description: A resource message representing a data stream.
    GoogleAnalyticsAdminV1alphaAccessFilter:
      id: GoogleAnalyticsAdminV1alphaAccessFilter
      properties:
        numericFilter:
          description: A filter for numeric or date values.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessNumericFilter'
        fieldName:
          description: The dimension name or metric name.
          type: string
        stringFilter:
          description: Strings related filter.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessStringFilter'
        betweenFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBetweenFilter'
          description: A filter for two values.
        inListFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessInListFilter'
          description: A filter for in list values.
      description: An expression to filter dimension or metric values.
      type: object
    GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter:
      type: object
      description: >-
        A filter for numeric or date values between certain values on a
        dimension or metric.
      properties:
        toValue:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue
          description: Required. Ends with this number, inclusive.
        fromValue:
          description: Required. Begins with this number, inclusive.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue
      id: GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter
    GoogleAnalyticsAdminV1alphaAccessFilterExpressionList:
      type: object
      description: A list of filter expressions.
      id: GoogleAnalyticsAdminV1alphaAccessFilterExpressionList
      properties:
        expressions:
          type: array
          description: A list of filter expressions.
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaAccessFilterExpression
    GoogleAnalyticsAdminV1alphaCreateConnectedSiteTagResponse:
      properties: {}
      id: GoogleAnalyticsAdminV1alphaCreateConnectedSiteTagResponse
      type: object
      description: Response message for CreateConnectedSiteTag RPC.
    GoogleAnalyticsAdminV1alphaAccessStringFilter:
      description: The filter for strings.
      type: object
      id: GoogleAnalyticsAdminV1alphaAccessStringFilter
      properties:
        matchType:
          enum:
            - MATCH_TYPE_UNSPECIFIED
            - EXACT
            - BEGINS_WITH
            - ENDS_WITH
            - CONTAINS
            - FULL_REGEXP
            - PARTIAL_REGEXP
          type: string
          description: The match type for this filter.
          enumDescriptions:
            - Unspecified
            - Exact match of the string value.
            - Begins with the string value.
            - Ends with the string value.
            - Contains the string value.
            - Full match for the regular expression with the string value.
            - Partial match for the regular expression with the string value.
        value:
          type: string
          description: The string value used for the matching.
        caseSensitive:
          type: boolean
          description: If true, the string value is case sensitive.
    GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse:
      id: GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
        displayVideo360AdvertiserLinks:
          description: List of DisplayVideo360AdvertiserLinks.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink
      description: Response message for ListDisplayVideo360AdvertiserLinks RPC.
      type: object
    GoogleAnalyticsAdminV1alphaUserLink:
      properties:
        name:
          description: 'Output only. Example format: properties/1234/userLinks/5678'
          readOnly: true
          type: string
        directRoles:
          description: >-
            Roles directly assigned to this user for this account or property.
            Valid values: predefinedRoles/viewer predefinedRoles/analyst
            predefinedRoles/editor predefinedRoles/admin
            predefinedRoles/no-cost-data predefinedRoles/no-revenue-data
            Excludes roles that are inherited from a higher-level entity, group,
            or organization admin role. A UserLink that is updated to have an
            empty list of direct_roles will be deleted.
          items:
            type: string
          type: array
        emailAddress:
          type: string
          description: Immutable. Email address of the user to link
      id: GoogleAnalyticsAdminV1alphaUserLink
      description: >-
        A resource message representing a user's permissions on an Account or
        Property resource.
      type: object
    GoogleAnalyticsAdminV1alphaProperty:
      id: GoogleAnalyticsAdminV1alphaProperty
      description: A resource message representing a Google Analytics GA4 property.
      properties:
        timeZone:
          type: string
          description: >-
            Required. Reporting Time Zone, used as the day boundary for reports,
            regardless of where the data originates. If the time zone honors
            DST, Analytics will automatically adjust for the changes. NOTE:
            Changing the time zone only affects data going forward, and is not
            applied retroactively. Format: https://www.iana.org/time-zones
            Example: "America/Los_Angeles"
        serviceLevel:
          enum:
            - SERVICE_LEVEL_UNSPECIFIED
            - GOOGLE_ANALYTICS_STANDARD
            - GOOGLE_ANALYTICS_360
          readOnly: true
          type: string
          enumDescriptions:
            - Service level not specified or invalid.
            - The standard version of Google Analytics.
            - The paid, premium version of Google Analytics.
          description: >-
            Output only. The Google Analytics service level that applies to this
            property.
        industryCategory:
          type: string
          enumDescriptions:
            - Industry category unspecified
            - Automotive
            - Business and industrial markets
            - Finance
            - Healthcare
            - Technology
            - Travel
            - Other
            - Arts and entertainment
            - Beauty and fitness
            - Books and literature
            - Food and drink
            - Games
            - Hobbies and leisure
            - Home and garden
            - Internet and telecom
            - Law and government
            - News
            - Online communities
            - People and society
            - Pets and animals
            - Real estate
            - Reference
            - Science
            - Sports
            - Jobs and education
            - Shopping
          description: >-
            Industry associated with this property Example: AUTOMOTIVE,
            FOOD_AND_DRINK
          enum:
            - INDUSTRY_CATEGORY_UNSPECIFIED
            - AUTOMOTIVE
            - BUSINESS_AND_INDUSTRIAL_MARKETS
            - FINANCE
            - HEALTHCARE
            - TECHNOLOGY
            - TRAVEL
            - OTHER
            - ARTS_AND_ENTERTAINMENT
            - BEAUTY_AND_FITNESS
            - BOOKS_AND_LITERATURE
            - FOOD_AND_DRINK
            - GAMES
            - HOBBIES_AND_LEISURE
            - HOME_AND_GARDEN
            - INTERNET_AND_TELECOM
            - LAW_AND_GOVERNMENT
            - NEWS
            - ONLINE_COMMUNITIES
            - PEOPLE_AND_SOCIETY
            - PETS_AND_ANIMALS
            - REAL_ESTATE
            - REFERENCE
            - SCIENCE
            - SPORTS
            - JOBS_AND_EDUCATION
            - SHOPPING
        updateTime:
          type: string
          description: Output only. Time when entity payload fields were last updated.
          readOnly: true
          format: google-datetime
        parent:
          description: >-
            Immutable. Resource name of this property's logical parent. Note:
            The Property-Moving UI can be used to change the parent. Format:
            accounts/{account}, properties/{property} Example: "accounts/100",
            "properties/101"
          type: string
        deleteTime:
          readOnly: true
          description: >-
            Output only. If set, the time at which this property was trashed. If
            not set, then this property is not currently in the trash can.
          type: string
          format: google-datetime
        name:
          type: string
          readOnly: true
          description: >-
            Output only. Resource name of this property. Format:
            properties/{property_id} Example: "properties/1000"
        expireTime:
          description: >-
            Output only. If set, the time at which this trashed property will be
            permanently deleted. If not set, then this property is not currently
            in the trash can and is not slated to be deleted.
          readOnly: true
          format: google-datetime
          type: string
        account:
          description: >-
            Immutable. The resource name of the parent account Format:
            accounts/{account_id} Example: "accounts/123"
          type: string
        propertyType:
          enumDescriptions:
            - Unknown or unspecified property type
            - Ordinary GA4 property
            - GA4 subproperty
            - GA4 rollup property
          type: string
          description: >-
            Immutable. The property type for this Property resource. When
            creating a property, if the type is "PROPERTY_TYPE_UNSPECIFIED",
            then "ORDINARY_PROPERTY" will be implied. "SUBPROPERTY" and
            "ROLLUP_PROPERTY" types cannot yet be created with the Google
            Analytics Admin API.
          enum:
            - PROPERTY_TYPE_UNSPECIFIED
            - PROPERTY_TYPE_ORDINARY
            - PROPERTY_TYPE_SUBPROPERTY
            - PROPERTY_TYPE_ROLLUP
        displayName:
          type: string
          description: >-
            Required. Human-readable display name for this property. The max
            allowed display name length is 100 UTF-16 code units.
        createTime:
          readOnly: true
          description: Output only. Time when the entity was originally created.
          format: google-datetime
          type: string
        currencyCode:
          type: string
          description: >-
            The currency type used in reports involving monetary values. Format:
            https://en.wikipedia.org/wiki/ISO_4217 Examples: "USD", "EUR", "JPY"
      type: object
    GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse:
      id: GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse
      properties:
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
        googleAdsLinks:
          description: List of GoogleAdsLinks.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaGoogleAdsLink'
      description: Response message for ListGoogleAdsLinks RPC.
      type: object
    GoogleAnalyticsAdminV1alphaEventCreateRule:
      description: >-
        An Event Create Rule defines conditions that will trigger the creation
        of an entirely new event based upon matched criteria of a source event.
        Additional mutations of the parameters from the source event can be
        defined. Unlike Event Edit rules, Event Creation Rules have no defined
        order. They will all be run independently. Event Edit and Event Create
        rules can't be used to modify an event created from an Event Create
        rule.
      type: object
      id: GoogleAnalyticsAdminV1alphaEventCreateRule
      properties:
        name:
          description: >-
            Output only. Resource name for this EventCreateRule resource.
            Format:
            properties/{property}/dataStreams/{data_stream}/eventCreateRules/{event_create_rule}
          type: string
          readOnly: true
        destinationEvent:
          description: >-
            Required. The name of the new event to be created. This value must:
            * be less than 40 characters * consist only of letters, digits or _
            (underscores) * start with a letter
          type: string
        parameterMutations:
          type: array
          description: >-
            Parameter mutations define parameter behavior on the new event, and
            are applied in order. A maximum of 20 mutations can be applied.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaParameterMutation'
        sourceCopyParameters:
          description: >-
            If true, the source parameters are copied to the new event. If
            false, or unset, all non-internal parameters are not copied from the
            source event. Parameter mutations are applied after the parameters
            have been copied.
          type: boolean
        eventConditions:
          description: >-
            Required. Must have at least one condition, and can have up to 10
            max. Conditions on the source event must match for this rule to be
            applied.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaMatchingCondition'
    GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse:
      description: Response message for BatchCreateAccessBindings RPC.
      properties:
        accessBindings:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
          description: The access bindings created.
      type: object
      id: GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse
    GoogleAnalyticsAdminV1alphaAdSenseLink:
      description: A link between a GA4 Property and an AdSense for Content ad client.
      properties:
        name:
          type: string
          description: >-
            Output only. The resource name for this AdSense Link resource.
            Format: properties/{propertyId}/adSenseLinks/{linkId} Example:
            properties/1234/adSenseLinks/6789
          readOnly: true
        adClientCode:
          type: string
          description: >-
            Immutable. The AdSense ad client code that the GA4 property is
            linked to. Example format: "ca-pub-1234567890"
      type: object
      id: GoogleAnalyticsAdminV1alphaAdSenseLink
    GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter:
      description: A filter for numeric or date values on a dimension or metric.
      properties:
        value:
          description: Required. The numeric or date value to match against.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue
        operation:
          enumDescriptions:
            - Unspecified.
            - Equal.
            - Less than.
            - Greater than.
          enum:
            - OPERATION_UNSPECIFIED
            - EQUAL
            - LESS_THAN
            - GREATER_THAN
          type: string
          description: Required. The operation applied to a numeric filter.
      id: GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter
      type: object
    GoogleAnalyticsAdminV1alphaAudienceEventFilter:
      type: object
      properties:
        eventParameterFilterExpression:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceFilterExpression
          description: >-
            Optional. If specified, this filter matches events that match both
            the single event name and the parameter filter expressions.
            AudienceEventFilter inside the parameter filter expression cannot be
            set (For example, nested event filters are not supported). This
            should be a single and_group of dimension_or_metric_filter or
            not_expression; ANDs of ORs are not supported. Also, if it includes
            a filter for "eventCount", only that one will be considered; all the
            other filters will be ignored.
        eventName:
          description: Required. Immutable. The name of the event to match against.
          type: string
      description: >-
        A filter that matches events of a single event name. If an event
        parameter is specified, only the subset of events that match both the
        single event name and the parameter filter expressions match this event
        filter.
      id: GoogleAnalyticsAdminV1alphaAudienceEventFilter
    GoogleAnalyticsAdminV1alphaListAudiencesResponse:
      type: object
      description: Response message for ListAudiences RPC.
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        audiences:
          type: array
          description: List of Audiences.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudience'
      id: GoogleAnalyticsAdminV1alphaListAudiencesResponse
    GoogleAnalyticsAdminV1alphaGoogleAdsLink:
      id: GoogleAnalyticsAdminV1alphaGoogleAdsLink
      properties:
        canManageClients:
          readOnly: true
          description: Output only. If true, this link is for a Google Ads manager account.
          type: boolean
        customerId:
          description: Immutable. Google Ads customer ID.
          type: string
        updateTime:
          type: string
          description: Output only. Time when this link was last updated.
          format: google-datetime
          readOnly: true
        creatorEmailAddress:
          description: >-
            Output only. Email address of the user that created the link. An
            empty string will be returned if the email address can't be
            retrieved.
          readOnly: true
          type: string
        name:
          readOnly: true
          type: string
          description: >-
            Output only. Format:
            properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note:
            googleAdsLinkId is not the Google Ads customer ID.
        adsPersonalizationEnabled:
          description: >-
            Enable personalized advertising features with this integration.
            Automatically publish my Google Analytics audience lists and Google
            Analytics remarketing events/parameters to the linked Google Ads
            account. If this field is not set on create/update, it will be
            defaulted to true.
          type: boolean
        createTime:
          readOnly: true
          description: Output only. Time when this link was originally created.
          type: string
          format: google-datetime
      type: object
      description: A link between a GA4 property and a Google Ads account.
    GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse:
      description: Response message for ListFirebaseLinks RPC
      type: object
      id: GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse
      properties:
        firebaseLinks:
          description: List of FirebaseLinks. This will have at most one value.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaFirebaseLink'
          type: array
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
            Currently, Google Analytics supports only one FirebaseLink per
            property, so this will never be populated.
    GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest:
      type: object
      properties:
        requests:
          type: array
          description: >-
            Required. The requests specifying the access bindings to update. A
            maximum of 1000 access bindings can be updated in a batch.
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest
      description: Request message for BatchUpdateAccessBindings RPC.
      id: GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest
    GoogleAnalyticsAdminV1alphaCustomMetric:
      type: object
      description: A definition for a custom metric.
      id: GoogleAnalyticsAdminV1alphaCustomMetric
      properties:
        description:
          description: >-
            Optional. Description for this custom dimension. Max length of 150
            characters.
          type: string
        scope:
          description: Required. Immutable. The scope of this custom metric.
          enumDescriptions:
            - Scope unknown or not specified.
            - Metric scoped to an event.
          type: string
          enum:
            - METRIC_SCOPE_UNSPECIFIED
            - EVENT
        measurementUnit:
          enumDescriptions:
            - MeasurementUnit unspecified or missing.
            - This metric uses default units.
            - This metric measures a currency.
            - This metric measures feet.
            - This metric measures meters.
            - This metric measures kilometers.
            - This metric measures miles.
            - This metric measures milliseconds.
            - This metric measures seconds.
            - This metric measures minutes.
            - This metric measures hours.
          type: string
          enum:
            - MEASUREMENT_UNIT_UNSPECIFIED
            - STANDARD
            - CURRENCY
            - FEET
            - METERS
            - KILOMETERS
            - MILES
            - MILLISECONDS
            - SECONDS
            - MINUTES
            - HOURS
          description: Required. The type for the custom metric's value.
        displayName:
          type: string
          description: >-
            Required. Display name for this custom metric as shown in the
            Analytics UI. Max length of 82 characters, alphanumeric plus space
            and underscore starting with a letter. Legacy system-generated
            display names may contain square brackets, but updates to this field
            will never permit square brackets.
        name:
          readOnly: true
          type: string
          description: >-
            Output only. Resource name for this CustomMetric resource. Format:
            properties/{property}/customMetrics/{customMetric}
        restrictedMetricType:
          description: >-
            Optional. Types of restricted data that this metric may contain.
            Required for metrics with CURRENCY measurement unit. Must be empty
            for metrics with a non-CURRENCY measurement unit.
          items:
            enum:
              - RESTRICTED_METRIC_TYPE_UNSPECIFIED
              - COST_DATA
              - REVENUE_DATA
            type: string
            enumDescriptions:
              - Type unknown or unspecified.
              - Metric reports cost data.
              - Metric reports revenue data.
          type: array
        parameterName:
          description: >-
            Required. Immutable. Tagging name for this custom metric. If this is
            an event-scoped metric, then this is the event parameter name. May
            only contain alphanumeric and underscore charactes, starting with a
            letter. Max length of 40 characters for event-scoped metrics.
          type: string
    GoogleAnalyticsAdminV1alphaExpandedDataSetFilter:
      properties:
        stringFilter:
          description: >-
            A filter for a string-type dimension that matches a particular
            pattern.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter
        fieldName:
          description: Required. The dimension name to filter.
          type: string
        inListFilter:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter
          description: >-
            A filter for a string dimension that matches a particular list of
            options.
      id: GoogleAnalyticsAdminV1alphaExpandedDataSetFilter
      description: A specific filter for a single dimension
      type: object
    GoogleAnalyticsAdminV1alphaSearchAds360Link:
      description: A link between a GA4 property and a Search Ads 360 entity.
      properties:
        advertiserId:
          type: string
          description: >-
            Immutable. This field represents the Advertiser ID of the Search Ads
            360 Advertiser. that has been linked.
        name:
          type: string
          readOnly: true
          description: >-
            Output only. The resource name for this SearchAds360Link resource.
            Format: properties/{propertyId}/searchAds360Links/{linkId} Note:
            linkId is not the Search Ads 360 advertiser ID
        advertiserDisplayName:
          readOnly: true
          type: string
          description: >-
            Output only. The display name of the Search Ads 360 Advertiser.
            Allows users to easily identify the linked resource.
        siteStatsSharingEnabled:
          type: boolean
          description: >-
            Enables export of site stats with this integration. If this field is
            not set on create, it will be defaulted to true.
        costDataSharingEnabled:
          type: boolean
          description: >-
            Immutable. Enables the import of cost data from Search Ads 360 to
            the GA4 property. This can only be enabled if
            campaign_data_sharing_enabled is enabled. After link creation, this
            can only be updated from the Search Ads 360 product. If this field
            is not set on create, it will be defaulted to true.
        campaignDataSharingEnabled:
          type: boolean
          description: >-
            Immutable. Enables the import of campaign data from Search Ads 360
            into the GA4 property. After link creation, this can only be updated
            from the Search Ads 360 product. If this field is not set on create,
            it will be defaulted to true.
        adsPersonalizationEnabled:
          description: >-
            Enables personalized advertising features with this integration. If
            this field is not set on create, it will be defaulted to true.
          type: boolean
      type: object
      id: GoogleAnalyticsAdminV1alphaSearchAds360Link
    GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails:
      description: Status information for a link proposal.
      properties:
        linkProposalState:
          enumDescriptions:
            - Unspecified state
            - >-
              This proposal is awaiting review from a Google Analytics user.
              This proposal will automatically expire after some time.
            - >-
              This proposal is awaiting review from a user of a linked product.
              This proposal will automatically expire after some time.
            - >-
              This proposal has been withdrawn by an admin on the initiating
              product. This proposal will be automatically deleted after some
              time.
            - >-
              This proposal has been declined by an admin on the receiving
              product. This proposal will be automatically deleted after some
              time.
            - >-
              This proposal expired due to lack of response from an admin on the
              receiving product. This proposal will be automatically deleted
              after some time.
            - >-
              This proposal has become obsolete because a link was directly
              created to the same external product resource that this proposal
              specifies. This proposal will be automatically deleted after some
              time.
          type: string
          readOnly: true
          description: Output only. The state of this proposal.
          enum:
            - LINK_PROPOSAL_STATE_UNSPECIFIED
            - AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS
            - AWAITING_REVIEW_FROM_LINKED_PRODUCT
            - WITHDRAWN
            - DECLINED
            - EXPIRED
            - OBSOLETE
        requestorEmail:
          readOnly: true
          description: >-
            Output only. The email address of the user that proposed this
            linkage.
          type: string
        linkProposalInitiatingProduct:
          enum:
            - LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED
            - GOOGLE_ANALYTICS
            - LINKED_PRODUCT
          description: Output only. The source of this proposal.
          type: string
          readOnly: true
          enumDescriptions:
            - Unspecified product.
            - This proposal was created by a user from Google Analytics.
            - >-
              This proposal was created by a user from a linked product (not
              Google Analytics).
      type: object
      id: GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails
    GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest:
      id: GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest
      description: Request message for CreateAccessBinding RPC.
      type: object
      properties:
        accessBinding:
          description: Required. The access binding to create.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
        parent:
          description: 'Required. Formats: - accounts/{account} - properties/{property}'
          type: string
    GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest:
      description: Request message for BatchUpdateUserLinks RPC.
      properties:
        requests:
          description: >-
            Required. The requests specifying the user links to update. A
            maximum of 1000 user links can be updated in a batch.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest
      id: GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest
      type: object
    GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse:
      id: >-
        GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse
      properties:
        displayVideo360AdvertiserLinkProposals:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal
          description: List of DisplayVideo360AdvertiserLinkProposals.
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      type: object
      description: Response message for ListDisplayVideo360AdvertiserLinkProposals RPC.
    GoogleAnalyticsAdminV1alphaAccessDimensionHeader:
      id: GoogleAnalyticsAdminV1alphaAccessDimensionHeader
      description: >-
        Describes a dimension column in the report. Dimensions requested in a
        report produce column entries within rows and DimensionHeaders. However,
        dimensions used exclusively within filters or expressions do not produce
        columns in a report; correspondingly, those dimensions do not produce
        headers.
      type: object
      properties:
        dimensionName:
          description: The dimension's name; for example 'userEmail'.
          type: string
    GoogleAnalyticsAdminV1alphaAccessBetweenFilter:
      type: object
      description: To express that the result needs to be between two numbers (inclusive).
      id: GoogleAnalyticsAdminV1alphaAccessBetweenFilter
      properties:
        fromValue:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaNumericValue'
          description: Begins with this number.
        toValue:
          description: Ends with this number.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaNumericValue'
    GoogleAnalyticsAdminV1alphaRunAccessReportRequest:
      id: GoogleAnalyticsAdminV1alphaRunAccessReportRequest
      type: object
      description: The request for a Data Access Record Report.
      properties:
        metricFilter:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAccessFilterExpression
          description: >-
            Metric filters allow you to restrict report response to specific
            metric values which match the filter. Metric filters are applied
            after aggregating the report's rows, similar to SQL having-clause.
            Dimensions cannot be used in this filter.
        dimensions:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessDimension'
          description: >-
            The dimensions requested and displayed in the response. Requests are
            allowed up to 9 dimensions.
        limit:
          description: >-
            The number of rows to return. If unspecified, 10,000 rows are
            returned. The API returns a maximum of 100,000 rows per request, no
            matter how many you ask for. `limit` must be positive. The API may
            return fewer rows than the requested `limit`, if there aren't as
            many remaining rows as the `limit`. For instance, there are fewer
            than 300 possible values for the dimension `country`, so when
            reporting on only `country`, you can't get more than 300 rows, even
            if you set `limit` to a higher value. To learn more about this
            pagination parameter, see
            [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).
          type: string
          format: int64
        metrics:
          type: array
          description: >-
            The metrics requested and displayed in the response. Requests are
            allowed up to 10 metrics.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessMetric'
        returnEntityQuota:
          description: >-
            Toggles whether to return the current state of this Analytics
            Property's quota. Quota is returned in [AccessQuota](#AccessQuota).
            For account-level requests, this field must be false.
          type: boolean
        dimensionFilter:
          description: >-
            Dimension filters let you restrict report response to specific
            dimension values which match the filter. For example, filtering on
            access records of a single user. To learn more, see [Fundamentals of
            Dimension
            Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters)
            for examples. Metrics cannot be used in this filter.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAccessFilterExpression
        timeZone:
          type: string
          description: >-
            This request's time zone if specified. If unspecified, the
            property's time zone is used. The request's time zone is used to
            interpret the start & end dates of the report. Formatted as strings
            from the IANA Time Zone database (https://www.iana.org/time-zones);
            for example "America/New_York" or "Asia/Tokyo".
        offset:
          description: >-
            The row count of the start row. The first row is counted as row 0.
            If offset is unspecified, it is treated as 0. If offset is zero,
            then this method will return the first page of results with `limit`
            entries. To learn more about this pagination parameter, see
            [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).
          format: int64
          type: string
        dateRanges:
          description: >-
            Date ranges of access records to read. If multiple date ranges are
            requested, each response row will contain a zero based date range
            index. If two date ranges overlap, the access records for the
            overlapping days is included in the response rows for both date
            ranges. Requests are allowed up to 2 date ranges.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessDateRange'
        orderBys:
          description: Specifies how rows are ordered in the response.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessOrderBy'
          type: array
    GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse:
      type: object
      properties:
        eventCreateRules:
          type: array
          description: >-
            List of EventCreateRules. These will be ordered stably, but in an
            arbitrary order.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaEventCreateRule'
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
      description: Response message for ListEventCreateRules RPC.
      id: GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse
    GoogleAnalyticsAdminV1alphaRunAccessReportResponse:
      properties:
        quota:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessQuota'
          description: >-
            The quota state for this Analytics property including this request.
            This field doesn't work with account-level requests.
        metricHeaders:
          type: array
          description: >-
            The header for a column in the report that corresponds to a specific
            metric. The number of MetricHeaders and ordering of MetricHeaders
            matches the metrics present in rows.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessMetricHeader'
        rowCount:
          format: int32
          description: >-
            The total number of rows in the query result. `rowCount` is
            independent of the number of rows returned in the response, the
            `limit` request parameter, and the `offset` request parameter. For
            example if a query returns 175 rows and includes `limit` of 50 in
            the API request, the response will contain `rowCount` of 175 but
            only 50 rows. To learn more about this pagination parameter, see
            [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).
          type: integer
        rows:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessRow'
          description: >-
            Rows of dimension value combinations and metric values in the
            report.
        dimensionHeaders:
          description: >-
            The header for a column in the report that corresponds to a specific
            dimension. The number of DimensionHeaders and ordering of
            DimensionHeaders matches the dimensions present in rows.
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaAccessDimensionHeader
          type: array
      description: The customized Data Access Record Report response.
      id: GoogleAnalyticsAdminV1alphaRunAccessReportResponse
      type: object
    GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy:
      description: Sorts by metric values.
      properties:
        metricName:
          description: A metric name in the request to order by.
          type: string
      type: object
      id: GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy
    GoogleAnalyticsAdminV1alphaListAccessBindingsResponse:
      type: object
      description: Response message for ListAccessBindings RPC.
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        accessBindings:
          type: array
          description: >-
            List of AccessBindings. These will be ordered stably, but in an
            arbitrary order.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
      id: GoogleAnalyticsAdminV1alphaListAccessBindingsResponse
    GoogleAnalyticsAdminV1alphaAuditUserLinksResponse:
      description: Response message for AuditUserLinks RPC.
      type: object
      properties:
        userLinks:
          description: >-
            List of AuditUserLinks. These will be ordered stably, but in an
            arbitrary order.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAuditUserLink'
          type: array
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      id: GoogleAnalyticsAdminV1alphaAuditUserLinksResponse
    GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse:
      type: object
      description: Response message for BatchCreateUserLinks RPC.
      id: GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse
      properties:
        userLinks:
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink'
          description: The user links created.
    GoogleAnalyticsAdminV1alphaAccessNumericFilter:
      id: GoogleAnalyticsAdminV1alphaAccessNumericFilter
      properties:
        value:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaNumericValue'
          description: A numeric value or a date value.
        operation:
          enum:
            - OPERATION_UNSPECIFIED
            - EQUAL
            - LESS_THAN
            - LESS_THAN_OR_EQUAL
            - GREATER_THAN
            - GREATER_THAN_OR_EQUAL
          enumDescriptions:
            - Unspecified.
            - Equal
            - Less than
            - Less than or equal
            - Greater than
            - Greater than or equal
          type: string
          description: The operation type for this filter.
      description: Filters for numeric or date values.
      type: object
    GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest:
      description: Request message for UpdateAccessBinding RPC.
      properties:
        accessBinding:
          description: Required. The access binding to update.
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
      id: GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest
      type: object
    GoogleAnalyticsAdminV1alphaListConversionEventsResponse:
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        conversionEvents:
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaConversionEvent'
          type: array
          description: The requested conversion events
      description: Response message for ListConversionEvents RPC.
      id: GoogleAnalyticsAdminV1alphaListConversionEventsResponse
      type: object
    GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest:
      description: Request message for CancelDisplayVideo360AdvertiserLinkProposal RPC.
      properties: {}
      id: >-
        GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest
      type: object
    GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest:
      description: Request message for BatchCreateAccessBindings RPC.
      type: object
      properties:
        requests:
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest
          description: >-
            Required. The requests specifying the access bindings to create. A
            maximum of 1000 access bindings can be created in a batch.
          type: array
      id: GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest
    GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList:
      description: A list of Audience filter expressions.
      id: GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList
      type: object
      properties:
        filterExpressions:
          type: array
          description: A list of Audience filter expressions.
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceFilterExpression
    GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest:
      properties:
        requests:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest
          description: >-
            Required. The requests specifying the user links to update. A
            maximum of 1000 user links can be updated in a batch.
      type: object
      id: GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest
      description: Request message for BatchDeleteUserLinks RPC.
    GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData:
      description: Data specific to iOS app streams.
      properties:
        firebaseAppId:
          description: >-
            Output only. ID of the corresponding iOS app in Firebase, if any.
            This ID can change if the iOS app is deleted and recreated.
          type: string
          readOnly: true
        bundleId:
          type: string
          description: >-
            Required. Immutable. The Apple App Store Bundle ID for the app
            Example: "com.example.myiosapp"
      type: object
      id: GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData
    GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression:
      id: GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression
      type: object
      description: A logical expression of EnhancedDataSet dimension filters.
      properties:
        andGroup:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList
          description: >-
            A list of expressions to be AND’ed together. It must contain a
            ExpandedDataSetFilterExpression with either not_expression or
            dimension_filter. This must be set for the top level
            ExpandedDataSetFilterExpression.
        filter:
          description: >-
            A filter on a single dimension. This cannot be set on the top level
            ExpandedDataSetFilterExpression.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilter
        notExpression:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression
          description: >-
            A filter expression to be NOT'ed (that is, inverted, complemented).
            It must include a dimension_filter. This cannot be set on the top
            level ExpandedDataSetFilterExpression.
    GoogleAnalyticsAdminV1alphaAudienceFilterExpression:
      type: object
      description: A logical expression of Audience dimension, metric, or event filters.
      id: GoogleAnalyticsAdminV1alphaAudienceFilterExpression
      properties:
        dimensionOrMetricFilter:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter
          description: >-
            A filter on a single dimension or metric. This cannot be set on the
            top level AudienceFilterExpression.
        eventFilter:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceEventFilter'
          description: >-
            Creates a filter that matches a specific event. This cannot be set
            on the top level AudienceFilterExpression.
        notExpression:
          description: >-
            A filter expression to be NOT'ed (For example, inverted,
            complemented). It can only include a dimension_or_metric_filter.
            This cannot be set on the top level AudienceFilterExpression.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceFilterExpression
        orGroup:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList
          description: >-
            A list of expressions to OR’ed together. It cannot contain
            AudienceFilterExpressions with and_group or or_group.
        andGroup:
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList
          description: >-
            A list of expressions to be AND’ed together. It can only contain
            AudienceFilterExpressions with or_group. This must be set for the
            top level AudienceFilterExpression.
    GoogleAnalyticsAdminV1alphaAuditUserLink:
      id: GoogleAnalyticsAdminV1alphaAuditUserLink
      type: object
      properties:
        name:
          type: string
          description: 'Example format: properties/1234/userLinks/5678'
        directRoles:
          items:
            type: string
          type: array
          description: >-
            Roles directly assigned to this user for this entity. Format:
            predefinedRoles/viewer Excludes roles that are inherited from an
            account (if this is for a property), group, or organization admin
            role.
        emailAddress:
          type: string
          description: Email address of the linked user
        effectiveRoles:
          description: >-
            Union of all permissions a user has at this account or property
            (includes direct permissions, group-inherited permissions, etc.).
            Format: predefinedRoles/viewer
          items:
            type: string
          type: array
      description: Read-only resource used to summarize a principal's effective roles.
    GoogleAnalyticsAdminV1alphaGlobalSiteTag:
      properties:
        snippet:
          description: >-
            Immutable. JavaScript code snippet to be pasted as the first item
            into the head tag of every webpage to measure.
          type: string
        name:
          type: string
          readOnly: true
          description: >-
            Output only. Resource name for this GlobalSiteTag resource. Format:
            properties/{property_id}/dataStreams/{stream_id}/globalSiteTag
            Example: "properties/123/dataStreams/456/globalSiteTag"
      id: GoogleAnalyticsAdminV1alphaGlobalSiteTag
      description: >-
        Read-only resource with the tag for sending data from a website to a
        DataStream. Only present for web DataStream resources.
      type: object
    GoogleAnalyticsAdminV1alphaAccessMetric:
      type: object
      description: >-
        The quantitative measurements of a report. For example, the metric
        `accessCount` is the total number of data access records.
      id: GoogleAnalyticsAdminV1alphaAccessMetric
      properties:
        metricName:
          description: >-
            The API name of the metric. See [Data Access
            Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema)
            for the list of metrics supported in this API. Metrics are
            referenced by name in `metricFilter` & `orderBys`.
          type: string
    GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest:
      id: GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest
      type: object
      properties: {}
      description: Request message for ArchiveCustomMetric RPC.
    GoogleAnalyticsAdminV1alphaAudienceEventTrigger:
      description: Specifies an event to log when a user joins the Audience.
      type: object
      id: GoogleAnalyticsAdminV1alphaAudienceEventTrigger
      properties:
        eventName:
          description: Required. The event name that will be logged.
          type: string
        logCondition:
          type: string
          enum:
            - LOG_CONDITION_UNSPECIFIED
            - AUDIENCE_JOINED
            - AUDIENCE_MEMBERSHIP_RENEWED
          enumDescriptions:
            - Log condition is not specified.
            - The event should be logged only when a user is joined.
            - >-
              The event should be logged whenever the Audience condition is met,
              even if the user is already a member of the Audience.
          description: Required. When to log the event.
    GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep:
      properties:
        scope:
          enumDescriptions:
            - Scope is not specified.
            - >-
              User joins the Audience if the filter condition is met within one
              event.
            - >-
              User joins the Audience if the filter condition is met within one
              session.
            - >-
              User joins the Audience if the filter condition is met by any
              event across any session.
          description: Required. Immutable. Specifies the scope for this step.
          type: string
          enum:
            - AUDIENCE_FILTER_SCOPE_UNSPECIFIED
            - AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT
            - AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION
            - AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS
        immediatelyFollows:
          description: >-
            Optional. If true, the event satisfying this step must be the very
            next event after the event satisfying the last step. If unset or
            false, this step indirectly follows the prior step; for example,
            there may be events between the prior step and this step. It is
            ignored for the first step.
          type: boolean
        constraintDuration:
          type: string
          format: google-duration
          description: >-
            Optional. When set, this step must be satisfied within the
            constraint_duration of the previous step (For example, t[i] - t[i-1]
            <= constraint_duration). If not set, there is no duration
            requirement (the duration is effectively unlimited). It is ignored
            for the first step.
        filterExpression:
          description: >-
            Required. Immutable. A logical expression of Audience dimension,
            metric, or event filters in each step.
          $ref: >-
            #/components/schemas/GoogleAnalyticsAdminV1alphaAudienceFilterExpression
      id: GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep
      type: object
      description: >-
        A condition that must occur in the specified step order for this user to
        match the sequence.
    GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings:
      properties:
        outboundClicksEnabled:
          description: >-
            If enabled, capture an outbound click event each time a visitor
            clicks a link that leads them away from your domain.
          type: boolean
        pageChangesEnabled:
          type: boolean
          description: >-
            If enabled, capture a page view event each time the website changes
            the browser history state.
        searchQueryParameter:
          type: string
          description: >-
            Required. URL query parameters to interpret as site search
            parameters. Max length is 1024 characters. Must not be empty.
        formInteractionsEnabled:
          type: boolean
          description: >-
            If enabled, capture a form interaction event each time a visitor
            interacts with a form on your website. False by default.
        scrollsEnabled:
          type: boolean
          description: >-
            If enabled, capture scroll events each time a visitor gets to the
            bottom of a page.
        fileDownloadsEnabled:
          description: >-
            If enabled, capture a file download event each time a link is
            clicked with a common document, compressed file, application, video,
            or audio extension.
          type: boolean
        videoEngagementEnabled:
          type: boolean
          description: >-
            If enabled, capture video play, progress, and complete events as
            visitors view embedded videos on your site.
        uriQueryParameter:
          description: Additional URL query parameters. Max length is 1024 characters.
          type: string
        siteSearchEnabled:
          type: boolean
          description: >-
            If enabled, capture a view search results event each time a visitor
            performs a search on your site (based on a query parameter).
        streamEnabled:
          description: >-
            Indicates whether Enhanced Measurement Settings will be used to
            automatically measure interactions and content on this web stream.
            Changing this value does not affect the settings themselves, but
            determines whether they are respected.
          type: boolean
        name:
          type: string
          readOnly: true
          description: >-
            Output only. Resource name of the Enhanced Measurement Settings.
            Format:
            properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings
            Example:
            "properties/1000/dataStreams/2000/enhancedMeasurementSettings"
      id: GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings
      description: >-
        Singleton resource under a web DataStream, configuring measurement of
        additional site interactions and content.
      type: object
    GoogleAnalyticsAdminV1alphaAccessDimensionValue:
      properties:
        value:
          description: >-
            The dimension value. For example, this value may be 'France' for the
            'country' dimension.
          type: string
      id: GoogleAnalyticsAdminV1alphaAccessDimensionValue
      description: The value of a dimension.
      type: object
    GoogleAnalyticsAdminV1alphaConversionEvent:
      properties:
        createTime:
          description: >-
            Output only. Time when this conversion event was created in the
            property.
          readOnly: true
          type: string
          format: google-datetime
        deletable:
          readOnly: true
          description: >-
            Output only. If set, this event can currently be deleted with
            DeleteConversionEvent.
          type: boolean
        eventName:
          type: string
          description: >-
            Immutable. The event name for this conversion event. Examples:
            'click', 'purchase'
        custom:
          readOnly: true
          type: boolean
          description: >-
            Output only. If set to true, this conversion event refers to a
            custom event. If set to false, this conversion event refers to a
            default event in GA. Default events typically have special meaning
            in GA. Default events are usually created for you by the GA system,
            but in some cases can be created by property admins. Custom events
            count towards the maximum number of custom conversion events that
            may be created per property.
        name:
          readOnly: true
          type: string
          description: >-
            Output only. Resource name of this conversion event. Format:
            properties/{property}/conversionEvents/{conversion_event}
      description: A conversion event in a Google Analytics property.
      id: GoogleAnalyticsAdminV1alphaConversionEvent
      type: object
    GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse:
      type: object
      description: Response message for BatchUpdateAccessBindings RPC.
      id: GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse
      properties:
        accessBindings:
          description: The access bindings updated.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAccessBinding'
    GoogleAnalyticsAdminV1alphaListUserLinksResponse:
      properties:
        userLinks:
          type: array
          description: >-
            List of UserLinks. These will be ordered stably, but in an arbitrary
            order.
          items:
            $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink'
        nextPageToken:
          type: string
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
      description: Response message for ListUserLinks RPC.
      type: object
      id: GoogleAnalyticsAdminV1alphaListUserLinksResponse
    GoogleAnalyticsAdminV1alphaAudience:
      description: A resource message representing a GA4 Audience.
      type: object
      properties:
        eventTrigger:
          $ref: '#/components/schemas/GoogleAnalyticsAdminV1alphaAudienceEventTrigger'
          description: >-
            Optional. Specifies an event to log when a user joins the Audience.
            If not set, no event is logged when a user joins the Audience.
        adsPersonalizationEnabled:
          description: >-
            Output only. It is automatically set by GA to false if this is an
            NPA Audience and is excluded from ads personalization.
          readOnly: true
          type: boolean
        exclusionDurationMode:
          type: string
          enum:
            - AUDIENCE_EXCLUSION_DURATION_MODE_UNSPECIFIED
            - EXCLUDE_TEMPORARILY
            - EXCLUDE_PERMANENTLY
          enumDescriptions:
            - Not specified.
            - >-
              Exclude users from the Audience during periods when they meet the
              filter clause.
            - >-
              Exclude users from the Audience if they've ever met the filter
              clause.
          description: >-
            Immutable. Specifies how long an exclusion lasts for users that meet
            the exclusion filter. It is applied to all EXCLUDE filter clauses
            and is ignored when there is no EXCLUDE filter clause in the
            Audience.
        name:
          description: >-
            Output only. The resource name for this Audience resource. Format:
            properties/{propertyId}/audiences/{audienceId}
          readOnly: true
          type: string
        membershipDurationDays:
          type: integer
          description: >-
            Required. Immutable. The duration a user should stay in an Audience.
            It cannot be set to more than 540 days.
          format: int32
        displayName:
          description: Required. The display name of the Audience.
          type: string
        description:
          type: string
          description: Required. The description of the Audience.
        filterClauses:
          type: array
          description: >-
[...]
