openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Contact Center AI Insights API
  description: ''
  version: v1
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/contact-center/insights/docs
servers:
  - url: https://contactcenterinsights.googleapis.com
components:
  schemas:
    GoogleCloudContactcenterinsightsV1alpha1IntentMatchData:
      id: GoogleCloudContactcenterinsightsV1alpha1IntentMatchData
      type: object
      description: >-
        The data for an intent match. Represents an intent match for a text
        segment in the conversation. A text segment can be part of a sentence, a
        complete sentence, or an utterance with multiple sentences.
      properties:
        intentUniqueId:
          description: >-
            The id of the matched intent. Can be used to retrieve the
            corresponding intent information.
          type: string
    GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest:
      description: The request to analyze conversations in bulk.
      id: GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest
      type: object
      properties:
        annotatorSelector:
          description: >-
            To select the annotators to run and the phrase matchers to use (if
            any). If not specified, all annotators will be run.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1AnnotatorSelector
        filter:
          type: string
          description: >-
            Required. Filter used to select the subset of conversations to
            analyze.
        parent:
          description: Required. The parent resource to create analyses in.
          type: string
        analysisPercentage:
          format: float
          description: >-
            Required. Percentage of selected conversation to analyze, between
            [0, 100].
          type: number
    GoogleCloudContactcenterinsightsV1ConversationParticipant:
      type: object
      id: GoogleCloudContactcenterinsightsV1ConversationParticipant
      description: The call participant speaking for a given utterance.
      properties:
        userId:
          description: A user-specified ID representing the participant.
          type: string
        role:
          enum:
            - ROLE_UNSPECIFIED
            - HUMAN_AGENT
            - AUTOMATED_AGENT
            - END_USER
            - ANY_AGENT
          type: string
          description: The role of the participant.
          enumDescriptions:
            - Participant's role is not set.
            - Participant is a human agent.
            - Participant is an automated agent.
            - Participant is an end user who conversed with the contact center.
            - Participant is either a human or automated agent.
        dialogflowParticipantName:
          type: string
          description: >-
            The name of the participant provided by Dialogflow. Format:
            projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}
        obfuscatedExternalUserId:
          description: Obfuscated user ID from Dialogflow.
          type: string
        dialogflowParticipant:
          description: >-
            Deprecated. Use `dialogflow_participant_name` instead. The name of
            the Dialogflow participant. Format:
            projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}
          type: string
    GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination:
      id: >-
        GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination
      description: A BigQuery Table Reference.
      properties:
        table:
          type: string
          description: >-
            The BigQuery table name to which the insights data should be
            written. If this table does not exist, the export call returns an
            INVALID_ARGUMENT error.
        dataset:
          type: string
          description: >-
            Required. The name of the BigQuery dataset that the snapshot result
            should be exported to. If this dataset does not exist, the export
            call returns an INVALID_ARGUMENT error.
        projectId:
          type: string
          description: >-
            A project ID or number. If specified, then export will attempt to
            write data to this project instead of the resource project.
            Otherwise, the resource project will be used.
      type: object
    GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats:
      type: object
      id: GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats
      properties:
        labeledConversationsCount:
          description: Number of conversations attached to the issue at this point in time.
          type: string
          format: int64
        displayName:
          description: Display name of the issue.
          type: string
        issue:
          type: string
          description: >-
            Issue resource. Format:
            projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}
      description: Aggregated statistics about an issue.
    GoogleProtobufEmpty:
      properties: {}
      id: GoogleProtobufEmpty
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      type: object
    GoogleCloudContactcenterinsightsV1IssueModel:
      description: The issue model resource.
      properties:
        displayName:
          description: The representative name for the issue model.
          type: string
        state:
          enum:
            - STATE_UNSPECIFIED
            - UNDEPLOYED
            - DEPLOYING
            - DEPLOYED
            - UNDEPLOYING
            - DELETING
          enumDescriptions:
            - Unspecified.
            - Model is not deployed but is ready to deploy.
            - Model is being deployed.
            - >-
              Model is deployed and is ready to be used. A model can only be
              used in analysis if it's in this state.
            - Model is being undeployed.
            - Model is being deleted.
          readOnly: true
          type: string
          description: Output only. State of the model.
        trainingStats:
          readOnly: true
          description: >-
            Output only. Immutable. The issue model's label statistics on its
            training data.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1IssueModelLabelStats
        issueCount:
          type: string
          readOnly: true
          format: int64
          description: Output only. Number of issues in this issue model.
        updateTime:
          description: >-
            Output only. The most recent time at which the issue model was
            updated.
          format: google-datetime
          type: string
          readOnly: true
        createTime:
          format: google-datetime
          description: Output only. The time at which this issue model was created.
          readOnly: true
          type: string
        inputDataConfig:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig
          description: Configs for the input data that used to create the issue model.
        name:
          type: string
          description: >-
            Immutable. The resource name of the issue model. Format:
            projects/{project}/locations/{location}/issueModels/{issue_model}
      id: GoogleCloudContactcenterinsightsV1IssueModel
      type: object
    GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats:
      description: Statistics for IngestConversations operation.
      properties:
        successfulIngestCount:
          description: >-
            Output only. The number of new conversations added during this
            ingest operation.
          readOnly: true
          format: int32
          type: integer
        failedIngestCount:
          description: >-
            Output only. The number of objects which were unable to be ingested
            due to errors. The errors are populated in the partial_errors field.
          format: int32
          type: integer
          readOnly: true
        duplicatesSkippedCount:
          format: int32
          description: >-
            Output only. The number of objects skipped because another
            conversation with the same transcript uri had already been ingested.
          readOnly: true
          type: integer
        processedObjectCount:
          type: integer
          format: int32
          readOnly: true
          description: >-
            Output only. The number of objects processed during the ingest
            operation.
      id: >-
        GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats
      type: object
    GoogleCloudContactcenterinsightsV1DialogflowIntent:
      id: GoogleCloudContactcenterinsightsV1DialogflowIntent
      properties:
        displayName:
          description: The human-readable name of the intent.
          type: string
      description: >-
        The data for a Dialogflow intent. Represents a detected intent in the
        conversation, e.g. MAKES_PROMISE.
      type: object
    GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment:
      type: object
      id: >-
        GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment
      description: A segment of a full transcript.
      properties:
        segmentParticipant:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1ConversationParticipant
          description: The participant of this segment.
        text:
          type: string
          description: The text of this segment.
        messageTime:
          type: string
          format: google-datetime
          description: The time that the message occurred, if provided.
        languageCode:
          type: string
          description: >-
            The language code of this segment as a
            [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag.
            Example: "en-US".
        sentiment:
          description: The sentiment for this transcript segment.
          $ref: '#/components/schemas/GoogleCloudContactcenterinsightsV1SentimentData'
        confidence:
          description: >-
            A confidence estimate between 0.0 and 1.0 of the fidelity of this
            segment. A default value of 0.0 indicates that the value is unset.
          format: float
          type: number
        dialogflowSegmentMetadata:
          description: CCAI metadata relating to the current transcript segment.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata
        words:
          description: >-
            A list of the word-specific information for each word in the
            segment.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo
          type: array
        channelTag:
          format: int32
          description: >-
            For conversations derived from multi-channel audio, this is the
            channel number corresponding to the audio from that channel. For
            audioChannelCount = N, its output values can range from '1' to 'N'.
            A channel tag of 0 indicates that the audio is mono.
          type: integer
    GoogleCloudContactcenterinsightsV1ConversationCallMetadata:
      properties:
        agentChannel:
          format: int32
          type: integer
          description: The audio channel that contains the agent.
        customerChannel:
          type: integer
          format: int32
          description: The audio channel that contains the customer.
      description: Call-specific metadata.
      id: GoogleCloudContactcenterinsightsV1ConversationCallMetadata
      type: object
    GoogleCloudContactcenterinsightsV1SmartReplyData:
      id: GoogleCloudContactcenterinsightsV1SmartReplyData
      properties:
        queryRecord:
          description: >-
            The name of the answer record. Format:
            projects/{project}/locations/{location}/answerRecords/{answer_record}
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
          description: >-
            Map that contains metadata about the Smart Reply and the document
            from which it originates.
        reply:
          type: string
          description: The content of the reply.
        confidenceScore:
          format: double
          type: number
          description: >-
            The system's confidence score that this reply is a good match for
            this conversation, ranging from 0.0 (completely uncertain) to 1.0
            (completely certain).
      type: object
      description: Agent Assist Smart Reply data.
    GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig:
      properties:
        agentId:
          type: string
          description: >-
            An opaque, user-specified string representing the human agent who
            handled the conversations.
      type: object
      id: >-
        GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig
      description: Configuration that applies to all conversations.
    GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest:
      properties:
        name:
          type: string
          description: Required. The name of the issue model to delete.
      description: The request to delete an issue model.
      id: GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest
      type: object
    GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata:
      properties:
        intents:
          type: object
          description: All the matched intents in the call.
          additionalProperties:
            $ref: '#/components/schemas/GoogleCloudContactcenterinsightsV1Intent'
        sentiments:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1ConversationLevelSentiment
          description: Overall conversation-level sentiment for each channel of the call.
        issueModelResult:
          description: Overall conversation-level issue modeling result.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1IssueModelResult
        entities:
          description: All the entities in the call.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/GoogleCloudContactcenterinsightsV1Entity'
        annotations:
          description: A list of call annotations that apply to this call.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1CallAnnotation
        phraseMatchers:
          description: All the matched phrase matchers in the call.
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1PhraseMatchData
          type: object
      description: Call-specific metadata created during analysis.
      id: GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata
      type: object
    GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig:
      type: object
      id: >-
        GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig
      properties:
        medium:
          enumDescriptions:
            - Default value, if unspecified will default to PHONE_CALL.
            - The format for conversations that took place over the phone.
            - The format for conversations that took place over chat.
          type: string
          description: Required. The medium transcript objects represent.
          enum:
            - MEDIUM_UNSPECIFIED
            - PHONE_CALL
            - CHAT
      description: Configuration for processing transcript objects.
    GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig:
      id: GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig
      properties:
        runtimeIntegrationAnalysisPercentage:
          format: double
          description: >-
            Percentage of conversations created using Dialogflow runtime
            integration to analyze automatically, between [0, 100].
          type: number
        annotatorSelector:
          description: >-
            To select the annotators to run and the phrase matchers to use (if
            any). If not specified, all annotators will be run.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1AnnotatorSelector
        uploadConversationAnalysisPercentage:
          type: number
          description: >-
            Percentage of conversations created using the UploadConversation
            endpoint to analyze automatically, between [0, 100].
          format: double
      description: Default configuration when creating Analyses in Insights.
      type: object
    GoogleCloudContactcenterinsightsV1alpha1DialogflowSource:
      type: object
      properties:
        audioUri:
          type: string
          description: >-
            Cloud Storage URI that points to a file that contains the
            conversation audio.
        dialogflowConversation:
          type: string
          readOnly: true
          description: >-
            Output only. The name of the Dialogflow conversation that this
            conversation resource is derived from. Format:
            projects/{project}/locations/{location}/conversations/{conversation}
      id: GoogleCloudContactcenterinsightsV1alpha1DialogflowSource
      description: A Dialogflow source of conversation data.
    GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData:
      id: GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData
      type: object
      description: >-
        The data for a matched phrase matcher. Represents information
        identifying a phrase matcher for a given match.
      properties:
        phraseMatcher:
          type: string
          description: The unique identifier (the resource name) of the phrase matcher.
        displayName:
          type: string
          description: The human-readable name of the phrase matcher.
    GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment:
      type: object
      description: A segment of a full transcript.
      properties:
        segmentParticipant:
          description: The participant of this segment.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant
        confidence:
          description: >-
            A confidence estimate between 0.0 and 1.0 of the fidelity of this
            segment. A default value of 0.0 indicates that the value is unset.
          type: number
          format: float
        text:
          type: string
          description: The text of this segment.
        messageTime:
          description: The time that the message occurred, if provided.
          format: google-datetime
          type: string
        languageCode:
          description: >-
            The language code of this segment as a
            [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag.
            Example: "en-US".
          type: string
        words:
          type: array
          description: >-
            A list of the word-specific information for each word in the
            segment.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo
        sentiment:
          description: The sentiment for this transcript segment.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1SentimentData
        channelTag:
          type: integer
          description: >-
            For conversations derived from multi-channel audio, this is the
            channel number corresponding to the audio from that channel. For
            audioChannelCount = N, its output values can range from '1' to 'N'.
            A channel tag of 0 indicates that the audio is mono.
          format: int32
        dialogflowSegmentMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata
          description: CCAI metadata relating to the current transcript segment.
      id: >-
        GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment
    GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig:
      description: Configs for the input data used to create the issue model.
      id: GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig
      properties:
        filter:
          type: string
          description: >-
            A filter to reduce the conversations used for training the model to
            a specific subset.
        trainingConversationsCount:
          readOnly: true
          description: Output only. Number of conversations used in training. Output only.
          format: int64
          type: string
        medium:
          description: >-
            Medium of conversations used in training data. This field is being
            deprecated. To specify the medium to be used in training a new issue
            model, set the `medium` field on `filter`.
          enum:
            - MEDIUM_UNSPECIFIED
            - PHONE_CALL
            - CHAT
          type: string
          enumDescriptions:
            - Default value, if unspecified will default to PHONE_CALL.
            - The format for conversations that took place over the phone.
            - The format for conversations that took place over chat.
      type: object
    GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata:
      properties:
        request:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest
          description: The original request for deletion.
        endTime:
          description: Output only. The time the operation finished running.
          readOnly: true
          format: google-datetime
          type: string
        createTime:
          readOnly: true
          format: google-datetime
          description: Output only. The time the operation was created.
          type: string
      id: GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata
      description: Metadata for deleting an issue model.
      type: object
    GoogleCloudContactcenterinsightsV1SilenceData:
      description: The data for a silence annotation.
      type: object
      id: GoogleCloudContactcenterinsightsV1SilenceData
      properties: {}
    GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary:
      id: GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary
      properties:
        transcriptIndex:
          type: integer
          description: >-
            The index in the sequence of transcribed pieces of the conversation
            where the boundary is located. This index starts at zero.
          format: int32
        wordIndex:
          description: >-
            The word index of this boundary with respect to the first word in
            the transcript piece. This index starts at zero.
          type: integer
          format: int32
      type: object
      description: >-
        A point in a conversation that marks the start or the end of an
        annotation.
    GoogleCloudContactcenterinsightsV1alpha1IssueModel:
      properties:
        updateTime:
          description: >-
            Output only. The most recent time at which the issue model was
            updated.
          readOnly: true
          format: google-datetime
          type: string
        displayName:
          type: string
          description: The representative name for the issue model.
        state:
          type: string
          enum:
            - STATE_UNSPECIFIED
            - UNDEPLOYED
            - DEPLOYING
            - DEPLOYED
            - UNDEPLOYING
            - DELETING
          description: Output only. State of the model.
          readOnly: true
          enumDescriptions:
            - Unspecified.
            - Model is not deployed but is ready to deploy.
            - Model is being deployed.
            - >-
              Model is deployed and is ready to be used. A model can only be
              used in analysis if it's in this state.
            - Model is being undeployed.
            - Model is being deleted.
        inputDataConfig:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig
          description: Configs for the input data that used to create the issue model.
        issueCount:
          type: string
          format: int64
          description: Output only. Number of issues in this issue model.
          readOnly: true
        name:
          type: string
          description: >-
            Immutable. The resource name of the issue model. Format:
            projects/{project}/locations/{location}/issueModels/{issue_model}
        trainingStats:
          description: >-
            Output only. Immutable. The issue model's label statistics on its
            training data.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats
          readOnly: true
        createTime:
          description: Output only. The time at which this issue model was created.
          format: google-datetime
          readOnly: true
          type: string
      type: object
      id: GoogleCloudContactcenterinsightsV1alpha1IssueModel
      description: The issue model resource.
    GoogleCloudContactcenterinsightsV1AnnotatorSelector:
      id: GoogleCloudContactcenterinsightsV1AnnotatorSelector
      description: Selector of all available annotators and phrase matchers to run.
      type: object
      properties:
        runEntityAnnotator:
          type: boolean
          description: Whether to run the entity annotator.
        runSilenceAnnotator:
          description: Whether to run the silence annotator.
          type: boolean
        runInterruptionAnnotator:
          description: Whether to run the interruption annotator.
          type: boolean
        runSentimentAnnotator:
          description: Whether to run the sentiment annotator.
          type: boolean
        runPhraseMatcherAnnotator:
          description: Whether to run the active phrase matcher annotator(s).
          type: boolean
        summarizationConfig:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig
          description: Configuration for the summarization annotator.
        runIntentAnnotator:
          description: Whether to run the intent annotator.
          type: boolean
        phraseMatchers:
          type: array
          description: >-
            The list of phrase matchers to run. If not provided, all active
            phrase matchers will be used. If inactive phrase matchers are
            provided, they will not be used. Phrase matchers will be run only if
            run_phrase_matcher_annotator is set to true. Format:
            projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}
          items:
            type: string
        runSummarizationAnnotator:
          type: boolean
          description: Whether to run the summarization annotator.
        runIssueModelAnnotator:
          description: >-
            Whether to run the issue model annotator. A model should have
            already been deployed for this to take effect.
          type: boolean
        issueModels:
          type: array
          items:
            type: string
          description: >-
            The issue model to run. If not provided, the most recently deployed
            topic model will be used. The provided issue model will only be used
            for inference if the issue model is deployed and if
            run_issue_model_annotator is set to true. If more than one issue
            model is provided, only the first provided issue model will be used
            for inference.
    GoogleCloudContactcenterinsightsV1alpha1Analysis:
      id: GoogleCloudContactcenterinsightsV1alpha1Analysis
      type: object
      properties:
        name:
          type: string
          description: >-
            Immutable. The resource name of the analysis. Format:
            projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}
        requestTime:
          readOnly: true
          description: Output only. The time at which the analysis was requested.
          type: string
          format: google-datetime
        analysisResult:
          readOnly: true
          description: >-
            Output only. The result of the analysis, which is populated when the
            analysis finishes.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1AnalysisResult
        annotatorSelector:
          description: >-
            To select the annotators to run and the phrase matchers to use (if
            any). If not specified, all annotators will be run.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector
        createTime:
          type: string
          readOnly: true
          description: >-
            Output only. The time at which the analysis was created, which
            occurs when the long-running operation completes.
          format: google-datetime
      description: The analysis resource.
    GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries:
      type: object
      description: A time series representing conversations over time.
      id: GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries
      properties:
        intervalDuration:
          format: google-duration
          description: The duration of each interval.
          type: string
        points:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval
          description: >-
            An ordered list of intervals from earliest to latest, where each
            interval represents the number of conversations that transpired
            during the time window.
          type: array
    GoogleCloudContactcenterinsightsV1CalculateStatsResponse:
      description: The response for calculating conversation statistics.
      id: GoogleCloudContactcenterinsightsV1CalculateStatsResponse
      type: object
      properties:
        smartHighlighterMatches:
          type: object
          description: >-
            A map associating each smart highlighter display name with its
            respective number of matches in the set of conversations.
          additionalProperties:
            type: integer
            format: int32
        conversationCountTimeSeries:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries
          description: >-
            A time series representing the count of conversations created over
            time that match that requested filter criteria.
        issueMatches:
          additionalProperties:
            format: int32
            type: integer
          type: object
          description: >-
            A map associating each issue resource name with its respective
            number of matches in the set of conversations. Key has the format:
            `projects//locations//issueModels//issues/` Deprecated, use
            `issue_matches_stats` field instead.
        issueMatchesStats:
          type: object
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats
          description: >-
            A map associating each issue resource name with its respective
            number of matches in the set of conversations. Key has the format:
            `projects//locations//issueModels//issues/`
        customHighlighterMatches:
          type: object
          additionalProperties:
            format: int32
            type: integer
          description: >-
            A map associating each custom highlighter resource name with its
            respective number of matches in the set of conversations.
        averageTurnCount:
          type: integer
          description: The average number of turns per conversation.
          format: int32
        averageDuration:
          description: >-
            The average duration of all conversations. The average is calculated
            using only conversations that have a time duration.
          type: string
          format: google-duration
        conversationCount:
          format: int32
          type: integer
          description: The total number of conversations.
    GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse:
      description: The response to deploy an issue model.
      id: GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse
      type: object
      properties: {}
    GoogleCloudContactcenterinsightsV1SentimentData:
      properties:
        magnitude:
          type: number
          format: float
          description: >-
            A non-negative number from 0 to infinity which represents the
            abolute magnitude of sentiment regardless of score.
        score:
          type: number
          format: float
          description: The sentiment score between -1.0 (negative) and 1.0 (positive).
      description: The data for a sentiment annotation.
      id: GoogleCloudContactcenterinsightsV1SentimentData
      type: object
    GoogleCloudContactcenterinsightsV1PhraseMatcher:
      type: object
      properties:
        type:
          enum:
            - PHRASE_MATCHER_TYPE_UNSPECIFIED
            - ALL_OF
            - ANY_OF
          description: Required. The type of this phrase matcher.
          enumDescriptions:
            - Unspecified.
            - Must meet all phrase match rule groups or there is no match.
            - If any of the phrase match rule groups are met, there is a match.
          type: string
        versionTag:
          type: string
          description: >-
            The customized version tag to use for the phrase matcher. If not
            specified, it will default to `revision_id`.
        activationUpdateTime:
          format: google-datetime
          description: >-
            Output only. The most recent time at which the activation status was
            updated.
          type: string
          readOnly: true
        displayName:
          description: The human-readable name of the phrase matcher.
          type: string
        name:
          type: string
          description: >-
            The resource name of the phrase matcher. Format:
            projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}
        roleMatch:
          type: string
          enumDescriptions:
            - Participant's role is not set.
            - Participant is a human agent.
            - Participant is an automated agent.
            - Participant is an end user who conversed with the contact center.
            - Participant is either a human or automated agent.
          enum:
            - ROLE_UNSPECIFIED
            - HUMAN_AGENT
            - AUTOMATED_AGENT
            - END_USER
            - ANY_AGENT
          description: >-
            The role whose utterances the phrase matcher should be matched
            against. If the role is ROLE_UNSPECIFIED it will be matched against
            any utterances in the transcript.
        updateTime:
          readOnly: true
          description: >-
            Output only. The most recent time at which the phrase matcher was
            updated.
          type: string
          format: google-datetime
        revisionCreateTime:
          type: string
          readOnly: true
          format: google-datetime
          description: >-
            Output only. The timestamp of when the revision was created. It is
            also the create time when a new matcher is added.
        active:
          description: Applies the phrase matcher only when it is active.
          type: boolean
        revisionId:
          description: >-
            Output only. Immutable. The revision ID of the phrase matcher. A new
            revision is committed whenever the matcher is changed, except when
            it is activated or deactivated. A server generated random ID will be
            used. Example:
            locations/global/phraseMatchers/my-first-matcher@1234567
          type: string
          readOnly: true
        phraseMatchRuleGroups:
          type: array
          description: A list of phase match rule groups that are included in this matcher.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup
      description: The phrase matcher resource.
      id: GoogleCloudContactcenterinsightsV1PhraseMatcher
    GoogleCloudContactcenterinsightsV1DialogflowInteractionData:
      type: object
      properties:
        confidence:
          description: >-
            The confidence of the match ranging from 0.0 (completely uncertain)
            to 1.0 (completely certain).
          format: float
          type: number
        dialogflowIntentId:
          description: >-
            The Dialogflow intent resource path. Format:
            projects/{project}/agent/{agent}/intents/{intent}
          type: string
      id: GoogleCloudContactcenterinsightsV1DialogflowInteractionData
      description: Dialogflow interaction data.
    GoogleCloudContactcenterinsightsV1alpha1SentimentData:
      description: The data for a sentiment annotation.
      id: GoogleCloudContactcenterinsightsV1alpha1SentimentData
      properties:
        magnitude:
          format: float
          type: number
          description: >-
            A non-negative number from 0 to infinity which represents the
            abolute magnitude of sentiment regardless of score.
        score:
          type: number
          description: The sentiment score between -1.0 (negative) and 1.0 (positive).
          format: float
      type: object
    GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData:
      properties:
        confidence:
          type: number
          description: >-
            The confidence of the match ranging from 0.0 (completely uncertain)
            to 1.0 (completely certain).
          format: float
        dialogflowIntentId:
          description: >-
            The Dialogflow intent resource path. Format:
            projects/{project}/agent/{agent}/intents/{intent}
          type: string
      description: Dialogflow interaction data.
      type: object
      id: GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData
    GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment:
      description: One channel of conversation-level sentiment data.
      id: GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment
      properties:
        channelTag:
          format: int32
          description: The channel of the audio that the data applies to.
          type: integer
        sentimentData:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1SentimentData
          description: Data specifying sentiment.
      type: object
    GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector:
      id: GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector
      properties:
        runSummarizationAnnotator:
          type: boolean
          description: Whether to run the summarization annotator.
        runEntityAnnotator:
          type: boolean
          description: Whether to run the entity annotator.
        runSentimentAnnotator:
          description: Whether to run the sentiment annotator.
          type: boolean
        phraseMatchers:
          description: >-
            The list of phrase matchers to run. If not provided, all active
            phrase matchers will be used. If inactive phrase matchers are
            provided, they will not be used. Phrase matchers will be run only if
            run_phrase_matcher_annotator is set to true. Format:
            projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}
          type: array
          items:
            type: string
        issueModels:
          description: >-
            The issue model to run. If not provided, the most recently deployed
            topic model will be used. The provided issue model will only be used
            for inference if the issue model is deployed and if
            run_issue_model_annotator is set to true. If more than one issue
            model is provided, only the first provided issue model will be used
            for inference.
          items:
            type: string
          type: array
        runSilenceAnnotator:
          type: boolean
          description: Whether to run the silence annotator.
        summarizationConfig:
          description: Configuration for the summarization annotator.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig
        runIntentAnnotator:
          description: Whether to run the intent annotator.
          type: boolean
        runPhraseMatcherAnnotator:
          description: Whether to run the active phrase matcher annotator(s).
          type: boolean
        runInterruptionAnnotator:
          description: Whether to run the interruption annotator.
          type: boolean
        runIssueModelAnnotator:
          description: >-
            Whether to run the issue model annotator. A model should have
            already been deployed for this to take effect.
          type: boolean
      description: Selector of all available annotators and phrase matchers to run.
      type: object
    GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource:
      id: >-
        GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource
      type: object
      description: Configuration for Cloud Storage bucket sources.
      properties:
        bucketUri:
          description: Required. The Cloud Storage bucket containing source objects.
          type: string
    GoogleCloudContactcenterinsightsV1alpha1IssueMatchData:
      description: The data for an issue match annotation.
      id: GoogleCloudContactcenterinsightsV1alpha1IssueMatchData
      type: object
      properties:
        issueAssignment:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IssueAssignment
          description: Information about the issue's assignment.
    GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest:
      properties:
        conversationId:
          type: string
          description: >-
            Optional. A unique ID for the new conversation. This ID will become
            the final component of the conversation's resource name. If no ID is
            specified, a server-generated ID will be used. This value should be
            4-64 characters and must match the regular expression
            `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`
        parent:
          type: string
          description: Required. The parent resource of the conversation.
        redactionConfig:
          description: >-
            Optional. DLP settings for transcript redaction. Optional, will
            default to the config specified in Settings.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1RedactionConfig
        conversation:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1Conversation
          description: Required. The conversation resource to create.
      description: Request to upload a conversation.
      id: GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest
      type: object
    GoogleCloudContactcenterinsightsV1DeployIssueModelRequest:
      properties:
        name:
          description: Required. The issue model to deploy.
          type: string
      id: GoogleCloudContactcenterinsightsV1DeployIssueModelRequest
      type: object
      description: The request to deploy an issue model.
    GoogleCloudContactcenterinsightsV1PhraseMatchData:
      properties:
        phraseMatcher:
          type: string
          description: The unique identifier (the resource name) of the phrase matcher.
        displayName:
          type: string
          description: The human-readable name of the phrase matcher.
      id: GoogleCloudContactcenterinsightsV1PhraseMatchData
      type: object
      description: >-
        The data for a matched phrase matcher. Represents information
        identifying a phrase matcher for a given match.
    GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination:
      id: >-
        GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination
      description: A BigQuery Table Reference.
      type: object
      properties:
        table:
          type: string
          description: >-
            The BigQuery table name to which the insights data should be
            written. If this table does not exist, the export call returns an
            INVALID_ARGUMENT error.
        projectId:
          description: >-
            A project ID or number. If specified, then export will attempt to
            write data to this project instead of the resource project.
            Otherwise, the resource project will be used.
          type: string
        dataset:
          type: string
          description: >-
            Required. The name of the BigQuery dataset that the snapshot result
            should be exported to. If this dataset does not exist, the export
            call returns an INVALID_ARGUMENT error.
    GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup:
      id: GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup
      type: object
      description: A message representing a rule in the phrase matcher.
      properties:
        type:
          enum:
            - PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED
            - ALL_OF
            - ANY_OF
          type: string
          description: Required. The type of this phrase match rule group.
          enumDescriptions:
            - Unspecified.
            - Must meet all phrase match rules or there is no match.
            - If any of the phrase match rules are met, there is a match.
        phraseMatchRules:
          description: A list of phrase match rules that are included in this group.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1PhraseMatchRule
          type: array
    GoogleCloudContactcenterinsightsV1AnnotationBoundary:
      properties:
        wordIndex:
          type: integer
          format: int32
          description: >-
            The word index of this boundary with respect to the first word in
            the transcript piece. This index starts at zero.
        transcriptIndex:
          description: >-
            The index in the sequence of transcribed pieces of the conversation
            where the boundary is located. This index starts at zero.
          type: integer
          format: int32
      description: >-
        A point in a conversation that marks the start or the end of an
        annotation.
      id: GoogleCloudContactcenterinsightsV1AnnotationBoundary
      type: object
    GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata:
      properties:
        endTime:
          type: string
          readOnly: true
          format: google-datetime
          description: Output only. The time the operation finished running.
        analysisOperation:
          type: string
          readOnly: true
          description: >-
            Output only. The operation name for a successfully created analysis
            operation, if any.
        createTime:
          format: google-datetime
          type: string
          description: Output only. The time the operation was created.
          readOnly: true
        appliedRedactionConfig:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1RedactionConfig
          readOnly: true
          description: >-
            Output only. The redaction config applied to the uploaded
            conversation.
        request:
          readOnly: true
          description: Output only. The original request.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest
      id: GoogleCloudContactcenterinsightsV1alpha1UploadConversationMetadata
      type: object
      description: The metadata for an UploadConversation operation.
    GoogleCloudContactcenterinsightsV1Issue:
      properties:
        createTime:
          type: string
          description: Output only. The time at which this issue was created.
          format: google-datetime
          readOnly: true
        name:
          description: >-
            Immutable. The resource name of the issue. Format:
            projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}
          type: string
        displayName:
          description: The representative name for the issue.
          type: string
        updateTime:
          type: string
          description: Output only. The most recent time that this issue was updated.
          readOnly: true
          format: google-datetime
        sampleUtterances:
          readOnly: true
          type: array
          items:
            type: string
          description: >-
            Output only. Resource names of the sample representative utterances
            that match to this issue.
      description: The issue resource.
      type: object
      id: GoogleCloudContactcenterinsightsV1Issue
    GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata:
      type: object
      description: Metadata for deploying an issue model.
      id: GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata
      properties:
        request:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest
          description: The original request for deployment.
        createTime:
          description: Output only. The time the operation was created.
          type: string
          readOnly: true
          format: google-datetime
        endTime:
          format: google-datetime
          description: Output only. The time the operation finished running.
          type: string
          readOnly: true
    GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats:
      description: Aggregated statistics about an issue model.
      properties:
        analyzedConversationsCount:
          type: string
          description: >-
            Number of conversations the issue model has analyzed at this point
            in time.
          format: int64
        issueStats:
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats
          description: Statistics on each issue. Key is the issue's resource name.
          type: object
        unclassifiedConversationsCount:
          format: int64
          type: string
          description: >-
            Number of analyzed conversations for which no issue was applicable
            at this point in time.
      type: object
      id: GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats
    GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest:
      id: GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest
      type: object
      properties:
        issueModel:
          description: Required. The issue model to create.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IssueModel
        parent:
          description: Required. The parent resource of the issue model.
          type: string
      description: The request to create an issue model.
    GoogleCloudContactcenterinsightsV1ConversationLevelSentiment:
      description: One channel of conversation-level sentiment data.
      type: object
      id: GoogleCloudContactcenterinsightsV1ConversationLevelSentiment
      properties:
        channelTag:
          format: int32
          description: The channel of the audio that the data applies to.
          type: integer
        sentimentData:
          $ref: '#/components/schemas/GoogleCloudContactcenterinsightsV1SentimentData'
          description: Data specifying sentiment.
    GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata:
      properties:
        request:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest
          description: The original request for bulk analyze.
        createTime:
          description: The time the operation was created.
          type: string
          format: google-datetime
        failedAnalysesCount:
          format: int32
          description: The number of requested analyses that have failed so far.
          type: integer
        totalRequestedAnalysesCount:
          format: int32
          description: >-
            Total number of analyses requested. Computed by the number of
            conversations returned by `filter` multiplied by
            `analysis_percentage` in the request.
          type: integer
        endTime:
          type: string
          description: The time the operation finished running.
          format: google-datetime
        completedAnalysesCount:
          format: int32
          type: integer
          description: >-
            The number of requested analyses that have completed successfully so
            far.
      type: object
      id: GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata
      description: The metadata for a bulk analyze conversations operation.
    GoogleCloudContactcenterinsightsV1HoldData:
      id: GoogleCloudContactcenterinsightsV1HoldData
      description: The data for a hold annotation.
      properties: {}
      type: object
    GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest:
      properties:
        analysisPercentage:
          type: number
          format: float
          description: >-
            Required. Percentage of selected conversation to analyze, between
            [0, 100].
        parent:
          description: Required. The parent resource to create analyses in.
          type: string
        annotatorSelector:
          description: >-
            To select the annotators to run and the phrase matchers to use (if
            any). If not specified, all annotators will be run.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector
        filter:
          type: string
          description: >-
            Required. Filter used to select the subset of conversations to
            analyze.
      description: The request to analyze conversations in bulk.
      type: object
      id: GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest
    GoogleCloudContactcenterinsightsV1alpha1IssueModelResult:
      id: GoogleCloudContactcenterinsightsV1alpha1IssueModelResult
      description: Issue Modeling result on a conversation.
      properties:
        issueModel:
          type: string
          description: >-
            Issue model that generates the result. Format:
            projects/{project}/locations/{location}/issueModels/{issue_model}
        issues:
          description: All the matched issues.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IssueAssignment
      type: object
    GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata:
      description: Metadata from Dialogflow relating to the current transcript segment.
      type: object
      id: >-
        GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata
      properties:
        smartReplyAllowlistCovered:
          type: boolean
          description: >-
            Whether the transcript segment was covered under the configured
            smart reply allowlist in Agent Assist.
    GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData:
      description: Agent Assist Smart Compose suggestion data.
      properties:
        queryRecord:
          type: string
          description: >-
            The name of the answer record. Format:
            projects/{project}/locations/{location}/answerRecords/{answer_record}
        confidenceScore:
          format: double
          type: number
          description: >-
            The system's confidence score that this suggestion is a good match
            for this conversation, ranging from 0.0 (completely uncertain) to
            1.0 (completely certain).
        metadata:
          additionalProperties:
            type: string
          description: >-
            Map that contains metadata about the Smart Compose suggestion and
            the document from which it originates.
          type: object
        suggestion:
          type: string
          description: The content of the suggestion.
      type: object
      id: GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData
    GoogleCloudContactcenterinsightsV1UploadConversationMetadata:
      id: GoogleCloudContactcenterinsightsV1UploadConversationMetadata
      properties:
        createTime:
          format: google-datetime
          type: string
          readOnly: true
          description: Output only. The time the operation was created.
        analysisOperation:
          description: >-
            Output only. The operation name for a successfully created analysis
            operation, if any.
          readOnly: true
          type: string
        request:
          description: Output only. The original request.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1UploadConversationRequest
          readOnly: true
        endTime:
          type: string
          format: google-datetime
          readOnly: true
          description: Output only. The time the operation finished running.
        appliedRedactionConfig:
          readOnly: true
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1RedactionConfig
          description: >-
            Output only. The redaction config applied to the uploaded
            conversation.
      type: object
      description: The metadata for an UploadConversation operation.
    GoogleCloudContactcenterinsightsV1Settings:
      properties:
        pubsubNotificationSettings:
          additionalProperties:
            type: string
          type: object
          description: >-
            A map that maps a notification trigger to a Pub/Sub topic. Each time
            a specified trigger occurs, Insights will notify the corresponding
            Pub/Sub topic. Keys are notification triggers. Supported keys are: *
            "all-triggers": Notify each time any of the supported triggers
            occurs. * "create-analysis": Notify each time an analysis is
            created. * "create-conversation": Notify each time a conversation is
            created. * "export-insights-data": Notify each time an export is
            complete. * "update-conversation": Notify each time a conversation
            is updated via UpdateConversation. Values are Pub/Sub topics. The
            format of each Pub/Sub topic is: projects/{project}/topics/{topic}
        createTime:
          description: Output only. The time at which the settings was created.
          format: google-datetime
          readOnly: true
          type: string
        redactionConfig:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1RedactionConfig
          description: >-
            Default DLP redaction resources to be applied while ingesting
            conversations.
        analysisConfig:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig
          description: Default analysis settings.
        updateTime:
          type: string
          format: google-datetime
          description: Output only. The time at which the settings were last updated.
          readOnly: true
        conversationTtl:
          type: string
          description: >-
            The default TTL for newly-created conversations. If a conversation
            has a specified expiration, that value will be used instead.
            Changing this value will not change the expiration of existing
            conversations. Conversations with no expire time persist until they
            are deleted.
          format: google-duration
        name:
          type: string
          description: >-
            Immutable. The resource name of the settings resource. Format:
            projects/{project}/locations/{location}/settings
        languageCode:
          type: string
          description: >-
            A language code to be applied to each transcript segment unless the
            segment already specifies a language code. Language code defaults to
            "en-US" if it is neither specified on the segment nor here.
      type: object
      id: GoogleCloudContactcenterinsightsV1Settings
      description: The settings resource.
    GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse:
      properties: {}
      description: Response for an export insights operation.
      id: GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse
      type: object
    GoogleCloudContactcenterinsightsV1AnswerFeedback:
      description: >-
        The feedback that the customer has about a certain answer in the
        conversation.
      id: GoogleCloudContactcenterinsightsV1AnswerFeedback
      type: object
      properties:
        correctnessLevel:
          type: string
          description: The correctness level of an answer.
          enum:
            - CORRECTNESS_LEVEL_UNSPECIFIED
            - NOT_CORRECT
            - PARTIALLY_CORRECT
            - FULLY_CORRECT
          enumDescriptions:
            - Correctness level unspecified.
            - Answer is totally wrong.
            - Answer is partially correct.
            - Answer is fully correct.
        clicked:
          description: Indicates whether an answer or item was clicked by the human agent.
          type: boolean
        displayed:
          description: >-
            Indicates whether an answer or item was displayed to the human agent
            in the agent desktop UI.
          type: boolean
    GoogleCloudContactcenterinsightsV1IssueModelResult:
      properties:
        issueModel:
          type: string
          description: >-
            Issue model that generates the result. Format:
            projects/{project}/locations/{location}/issueModels/{issue_model}
        issues:
          description: All the matched issues.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1IssueAssignment
          type: array
      id: GoogleCloudContactcenterinsightsV1IssueModelResult
      type: object
      description: Issue Modeling result on a conversation.
    GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse:
      id: GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse
      type: object
      description: Response for an export insights operation.
      properties: {}
    GoogleCloudContactcenterinsightsV1IngestConversationsMetadata:
      id: GoogleCloudContactcenterinsightsV1IngestConversationsMetadata
      description: The metadata for an IngestConversations operation.
      type: object
      properties:
        ingestConversationsStats:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats
          readOnly: true
          description: Output only. Statistics for IngestConversations operation.
        partialErrors:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GoogleRpcStatus'
          description: >-
            Output only. Partial errors during ingest operation that might cause
            the operation output to be incomplete.
        request:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1IngestConversationsRequest
          readOnly: true
          description: Output only. The original request for ingest.
        createTime:
          type: string
          format: google-datetime
          readOnly: true
          description: Output only. The time the operation was created.
        endTime:
          format: google-datetime
          readOnly: true
          description: Output only. The time the operation finished running.
          type: string
    GoogleCloudContactcenterinsightsV1ArticleSuggestionData:
      type: object
      id: GoogleCloudContactcenterinsightsV1ArticleSuggestionData
      properties:
        title:
          type: string
          description: Article title.
        metadata:
          type: object
          description: >-
            Map that contains metadata about the Article Suggestion and the
            document that it originates from.
          additionalProperties:
            type: string
        uri:
          description: Article URI.
          type: string
        confidenceScore:
          format: float
          description: >-
            The system's confidence score that this article is a good match for
            this conversation, ranging from 0.0 (completely uncertain) to 1.0
            (completely certain).
          type: number
        queryRecord:
          type: string
          description: >-
            The name of the answer record. Format:
            projects/{project}/locations/{location}/answerRecords/{answer_record}
        source:
          description: >-
            The knowledge document that this answer was extracted from. Format:
            projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}
          type: string
      description: Agent Assist Article Suggestion data.
    GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata:
      description: Metadata for an export insights operation.
      id: GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata
      type: object
      properties:
        partialErrors:
          items:
            $ref: '#/components/schemas/GoogleRpcStatus'
          description: >-
            Partial errors during export operation that might cause the
            operation output to be incomplete.
          type: array
        endTime:
          format: google-datetime
          readOnly: true
          type: string
          description: Output only. The time the operation finished running.
        request:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest
          description: The original request for export.
        createTime:
          description: Output only. The time the operation was created.
          type: string
          readOnly: true
          format: google-datetime
    GoogleCloudContactcenterinsightsV1ListAnalysesResponse:
      id: GoogleCloudContactcenterinsightsV1ListAnalysesResponse
      type: object
      description: The response to list analyses.
      properties:
        analyses:
          items:
            $ref: '#/components/schemas/GoogleCloudContactcenterinsightsV1Analysis'
          type: array
          description: The analyses that match the request.
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
    GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata:
      type: object
      properties:
        sentiments:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment
          description: Overall conversation-level sentiment for each channel of the call.
          type: array
        issueModelResult:
          description: Overall conversation-level issue modeling result.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IssueModelResult
        intents:
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1Intent
          type: object
          description: All the matched intents in the call.
        entities:
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1Entity
          description: All the entities in the call.
          type: object
        annotations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1CallAnnotation
          type: array
          description: A list of call annotations that apply to this call.
        phraseMatchers:
          type: object
          description: All the matched phrase matchers in the call.
          additionalProperties:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData
      description: Call-specific metadata created during analysis.
      id: >-
        GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata
    GoogleLongrunningListOperationsResponse:
      type: object
      properties:
        nextPageToken:
          description: The standard List next-page token.
          type: string
        operations:
          type: array
          items:
            $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: >-
            A list of operations that matches the specified filter in the
            request.
      id: GoogleLongrunningListOperationsResponse
      description: The response message for Operations.ListOperations.
    GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig:
      type: object
      id: >-
        GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig
      properties:
        conversationProfile:
          type: string
          description: >-
            Resource name of the Dialogflow conversation profile. Format:
            projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}
        summarizationModel:
          description: Default summarization model to be used.
          enum:
            - SUMMARIZATION_MODEL_UNSPECIFIED
            - BASELINE_MODEL
          enumDescriptions:
            - Unspecified summarization model.
            - The Insights baseline model.
          type: string
      description: Configuration for summarization.
    GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest:
      properties:
        filter:
          description: >-
            A filter to reduce results to a specific subset. Useful for
            exporting conversations with specific properties.
          type: string
        kmsKey:
          description: >-
            A fully qualified KMS key name for BigQuery tables protected by
            CMEK. Format:
            projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}
          type: string
        writeDisposition:
          enum:
            - WRITE_DISPOSITION_UNSPECIFIED
            - WRITE_TRUNCATE
            - WRITE_APPEND
          enumDescriptions:
            - Write disposition is not specified. Defaults to WRITE_TRUNCATE.
            - >-
              If the table already exists, BigQuery will overwrite the table
              data and use the schema from the load.
            - >-
              If the table already exists, BigQuery will append data to the
              table.
          description: Options for what to do if the destination table already exists.
          type: string
        bigQueryDestination:
          description: Specified if sink is a BigQuery table.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination
        parent:
          description: Required. The parent resource to export data from.
          type: string
      type: object
      description: The request to export insights.
      id: GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest
    GoogleCloudContactcenterinsightsV1PhraseMatchRule:
      properties:
        config:
          description: >-
            Provides additional information about the rule that specifies how to
            apply the rule.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig
        negated:
          type: boolean
          description: >-
            Specifies whether the phrase must be missing from the transcript
            segment or present in the transcript segment.
        query:
          type: string
          description: Required. The phrase to be matched.
      id: GoogleCloudContactcenterinsightsV1PhraseMatchRule
      description: The data for a phrase match rule.
      type: object
    GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig:
      id: GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig
      properties:
        trainingConversationsCount:
          description: Output only. Number of conversations used in training. Output only.
          readOnly: true
          format: int64
          type: string
        filter:
          description: >-
            A filter to reduce the conversations used for training the model to
            a specific subset.
          type: string
        medium:
          description: >-
            Medium of conversations used in training data. This field is being
            deprecated. To specify the medium to be used in training a new issue
            model, set the `medium` field on `filter`.
          enum:
            - MEDIUM_UNSPECIFIED
            - PHONE_CALL
            - CHAT
          enumDescriptions:
            - Default value, if unspecified will default to PHONE_CALL.
            - The format for conversations that took place over the phone.
            - The format for conversations that took place over chat.
          type: string
      description: Configs for the input data used to create the issue model.
      type: object
    GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest:
      type: object
      id: GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest
      properties:
        name:
          type: string
          description: Required. The issue model to undeploy.
      description: The request to undeploy an issue model.
    GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig:
      type: object
      description: Configuration information of a phrase match rule.
      id: GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig
      properties:
        exactMatchConfig:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1ExactMatchConfig
          description: The configuration for the exact match rule.
    GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata:
      description: Metadata for creating an issue model.
      type: object
      properties:
        endTime:
          description: Output only. The time the operation finished running.
          format: google-datetime
          readOnly: true
          type: string
        request:
          description: The original request for creation.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest
        createTime:
          type: string
          description: Output only. The time the operation was created.
          readOnly: true
          format: google-datetime
      id: GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata
    GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent:
      type: object
      id: GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent
      properties:
        displayName:
          type: string
          description: The human-readable name of the intent.
      description: >-
        The data for a Dialogflow intent. Represents a detected intent in the
        conversation, e.g. MAKES_PROMISE.
    GoogleCloudContactcenterinsightsV1CreateIssueModelMetadata:
      id: GoogleCloudContactcenterinsightsV1CreateIssueModelMetadata
      properties:
        createTime:
          readOnly: true
          type: string
          description: Output only. The time the operation was created.
          format: google-datetime
        endTime:
          readOnly: true
          format: google-datetime
          type: string
          description: Output only. The time the operation finished running.
        request:
          description: The original request for creation.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1CreateIssueModelRequest
      description: Metadata for creating an issue model.
      type: object
    GoogleCloudContactcenterinsightsV1alpha1AnalysisResult:
      type: object
      description: The result of an analysis.
      properties:
        endTime:
          format: google-datetime
          type: string
          description: The time at which the analysis ended.
        callAnalysisMetadata:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata
          description: Call-specific metadata created by the analysis.
      id: GoogleCloudContactcenterinsightsV1alpha1AnalysisResult
    GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData:
      id: >-
        GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData
      properties:
        metadata:
          description: >-
            A map that contains metadata about the summarization and the
            document from which it originates.
          additionalProperties:
            type: string
          type: object
        textSections:
          additionalProperties:
            type: string
          type: object
          description: >-
            The summarization content that is divided into sections. The key is
            the section's name and the value is the section's content. There is
            no specific format for the key or value.
        text:
          type: string
          description: The summarization content that is concatenated into one string.
        confidence:
          type: number
          format: float
          description: The confidence score of the summarization.
        answerRecord:
          description: >-
            The name of the answer record. Format:
            projects/{project}/locations/{location}/answerRecords/{answer_record}
          type: string
        conversationModel:
          type: string
          description: >-
            The name of the model that generates this summary. Format:
            projects/{project}/locations/{location}/conversationModels/{conversation_model}
      type: object
      description: Conversation summarization suggestion data.
    GoogleCloudContactcenterinsightsV1IssueMatchData:
      type: object
      description: The data for an issue match annotation.
      properties:
        issueAssignment:
          description: Information about the issue's assignment.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1IssueAssignment
      id: GoogleCloudContactcenterinsightsV1IssueMatchData
    GoogleCloudContactcenterinsightsV1FaqAnswerData:
      properties:
        question:
          type: string
          description: The corresponding FAQ question.
        answer:
          description: The piece of text from the `source` knowledge base document.
          type: string
        confidenceScore:
          type: number
          format: float
          description: >-
            The system's confidence score that this answer is a good match for
            this conversation, ranging from 0.0 (completely uncertain) to 1.0
            (completely certain).
        queryRecord:
          description: >-
            The name of the answer record. Format:
            projects/{project}/locations/{location}/answerRecords/{answer_record}
          type: string
        source:
          description: >-
            The knowledge document that this answer was extracted from. Format:
            projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}.
          type: string
        metadata:
          description: >-
            Map that contains metadata about the FAQ answer and the document
            that it originates from.
          type: object
          additionalProperties:
            type: string
      id: GoogleCloudContactcenterinsightsV1FaqAnswerData
      description: Agent Assist frequently-asked-question answer data.
      type: object
    GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant:
      type: object
      properties:
        dialogflowParticipantName:
          type: string
          description: >-
            The name of the participant provided by Dialogflow. Format:
            projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}
        role:
          description: The role of the participant.
          enum:
            - ROLE_UNSPECIFIED
            - HUMAN_AGENT
            - AUTOMATED_AGENT
            - END_USER
            - ANY_AGENT
          type: string
          enumDescriptions:
            - Participant's role is not set.
            - Participant is a human agent.
            - Participant is an automated agent.
            - Participant is an end user who conversed with the contact center.
            - Participant is either a human or automated agent.
        obfuscatedExternalUserId:
          type: string
          description: Obfuscated user ID from Dialogflow.
        userId:
          description: A user-specified ID representing the participant.
          type: string
        dialogflowParticipant:
          description: >-
            Deprecated. Use `dialogflow_participant_name` instead. The name of
            the Dialogflow participant. Format:
            projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}
          type: string
      description: The call participant speaking for a given utterance.
      id: GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant
    GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats:
      description: Statistics for IngestConversations operation.
      id: >-
        GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats
      type: object
      properties:
        successfulIngestCount:
          type: integer
          readOnly: true
          format: int32
          description: >-
            Output only. The number of new conversations added during this
            ingest operation.
        failedIngestCount:
          readOnly: true
          format: int32
          type: integer
          description: >-
            Output only. The number of objects which were unable to be ingested
            due to errors. The errors are populated in the partial_errors field.
        duplicatesSkippedCount:
          readOnly: true
          format: int32
          description: >-
            Output only. The number of objects skipped because another
            conversation with the same transcript uri had already been ingested.
          type: integer
        processedObjectCount:
          readOnly: true
          type: integer
          format: int32
          description: >-
            Output only. The number of objects processed during the ingest
            operation.
    GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse:
      description: The response to an IngestConversations operation.
      type: object
      id: GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse
      properties: {}
    GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata:
      type: object
      properties:
        smartReplyAllowlistCovered:
          description: >-
            Whether the transcript segment was covered under the configured
            smart reply allowlist in Agent Assist.
          type: boolean
      description: Metadata from Dialogflow relating to the current transcript segment.
      id: >-
        GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata
    GoogleCloudContactcenterinsightsV1Entity:
      type: object
      properties:
        sentiment:
          description: >-
            The aggregate sentiment expressed for this entity in the
            conversation.
          $ref: '#/components/schemas/GoogleCloudContactcenterinsightsV1SentimentData'
        salience:
          type: number
          description: >-
            The salience score associated with the entity in the [0, 1.0] range.
            The salience score for an entity provides information about the
            importance or centrality of that entity to the entire document text.
            Scores closer to 0 are less salient, while scores closer to 1.0 are
            highly salient.
          format: float
        metadata:
          additionalProperties:
            type: string
          description: >-
            Metadata associated with the entity. For most entity types, the
            metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph
            MID (`mid`), if they are available. For the metadata associated with
            other entity types, see the Type table below.
          type: object
        displayName:
          description: The representative name for the entity.
          type: string
        type:
          enumDescriptions:
            - Unspecified.
            - Person.
            - Location.
            - Organization.
            - Event.
            - Artwork.
            - Consumer product.
            - Other types of entities.
            - >-
              Phone number. The metadata lists the phone number (formatted
              according to local convention), plus whichever additional elements
              appear in the text: * `number` - The actual number, broken down
              into sections according to local convention. * `national_prefix` -
              Country code, if detected. * `area_code` - Region or area code, if
              detected. * `extension` - Phone extension (to be dialed after
              connection), if detected.
            - >-
              Address. The metadata identifies the street number and locality
              plus whichever additional elements appear in the text: *
              `street_number` - Street number. * `locality` - City or town. *
              `street_name` - Street/route name, if detected. * `postal_code` -
              Postal code, if detected. * `country` - Country, if detected. *
              `broad_region` - Administrative area, such as the state, if
              detected. * `narrow_region` - Smaller administrative area, such as
              county, if detected. * `sublocality` - Used in Asian addresses to
              demark a district within a city, if detected.
            - >-
              Date. The metadata identifies the components of the date: * `year`
              - Four digit year, if detected. * `month` - Two digit month
              number, if detected. * `day` - Two digit day number, if detected.
            - Number. The metadata is the number itself.
            - Price. The metadata identifies the `value` and `currency`.
          enum:
            - TYPE_UNSPECIFIED
            - PERSON
            - LOCATION
            - ORGANIZATION
            - EVENT
            - WORK_OF_ART
            - CONSUMER_GOOD
            - OTHER
            - PHONE_NUMBER
            - ADDRESS
            - DATE
            - NUMBER
            - PRICE
          description: The entity type.
          type: string
      id: GoogleCloudContactcenterinsightsV1Entity
      description: >-
        The data for an entity annotation. Represents a phrase in the
        conversation that is a known entity, such as a person, an organization,
        or location.
    GoogleCloudContactcenterinsightsV1DeleteIssueModelMetadata:
      id: GoogleCloudContactcenterinsightsV1DeleteIssueModelMetadata
      description: Metadata for deleting an issue model.
      type: object
      properties:
        createTime:
          type: string
          format: google-datetime
          readOnly: true
          description: Output only. The time the operation was created.
        endTime:
          type: string
          format: google-datetime
          readOnly: true
          description: Output only. The time the operation finished running.
        request:
          description: The original request for deletion.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest
    GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest:
      properties:
        transcriptObjectConfig:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig
          description: Configuration for when `source` contains conversation transcripts.
        parent:
          description: Required. The parent resource for new conversations.
          type: string
        gcsSource:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource
          description: A cloud storage bucket source.
        conversationConfig:
          description: Configuration that applies to all conversations.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig
      description: The request to ingest conversations.
      type: object
      id: GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest
    GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata:
      properties:
        endTime:
          format: google-datetime
          readOnly: true
          type: string
          description: Output only. The time the operation finished running.
        createTime:
          format: google-datetime
          description: Output only. The time the operation was created.
          type: string
          readOnly: true
        request:
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest
          description: The original request for undeployment.
      id: GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata
      description: Metadata for undeploying an issue model.
      type: object
    GoogleCloudContactcenterinsightsV1AnalysisResult:
      id: GoogleCloudContactcenterinsightsV1AnalysisResult
      type: object
      description: The result of an analysis.
      properties:
        callAnalysisMetadata:
          description: Call-specific metadata created by the analysis.
          $ref: >-
            #/components/schemas/GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata
        endTime:
          format: google-datetime
          type: string
          description: The time at which the analysis ended.
    GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo:
      id: >-
        GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo
      properties:
        word:
          type: string
          description: The word itself. Includes punctuation marks that surround the word.
        confidence:
          type: number
          description: >-
            A confidence estimate between 0.0 and 1.0 of the fidelity of this
            word. A default value of 0.0 indicates that the value is unset.
          format: float
        endOffset:
          description: >-
            Time offset of the end of this word relative to the beginning of the
            total conversation.
          format: google-duration
          type: string
        startOffset:
          type: string
          format: google-duration
          description: >-
            Time offset of the start of this word relative to the beginning of
            the total conversation.
      description: Word-level info for words in a transcript.
      type: object
    GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse:
      id: GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsResponse
      properties:
        successfulAnalysisCount:
          type: integer
          description: Count of successful analyses.
          format: int32
        failedAnalysisCount:
          format: int32
          type: integer
          description: Count of failed analyses.
      type: object
      description: The response for a bulk analyze conversations operation.
    GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse:
      description: The response of listing phrase matchers.
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        phraseMatchers:
          description: The phrase matchers that match the request.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudContactcenterinsightsV1PhraseMatcher
          type: array
      type: object
      id: GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse
    GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval:
      description: A single interval in a time series.
      properties:
        startTime:
          format: google-datetime
          type: string
          description: The start time of this interval.
        conversationCount:
          type: integer
          description: The number of conversations created in this interval.
          format: int32
      type: object
      id: >-
        GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval
    GoogleCloudContactcenterinsightsV1IssueAssignment:
      description: Information about the issue.
      type: object
      properties:
        displayName:
          description: >-
            Immutable. Display name of the assigned issue. This field is set at
            time of analyis and immutable since then.
          type: string
        score:
          type: number
          format: double
          description: >-
            Score indicating the likelihood of the issue assignment. currently
            bounded on [0,1].
        issue:
          type: string
          description: Resource name of the assigned issue.
      id: GoogleCloudContactcenterinsightsV1IssueAssignment
    GoogleCloudContactcenterinsightsV1EntityMentionData:
      properties:
        entityUniqueId:
          description: >-
            The key of this entity in conversation entities. Can be used to
            retrieve the exact `Entity` this mention is attached to.
          type: string
        sentiment:
          $ref: '#/components/schemas/GoogleCloudContactcenterinsightsV1SentimentData'
          description: Sentiment expressed for this mention of the entity.
        type:
          type: string
          enum:
            - MENTION_TYPE_UNSPECIFIED
            - PROPER
            - COMMON
          enumDescriptions:
            - Unspecified.
            - Proper noun.
            - Common noun (or noun compound).
          description: The type of the entity mention.
      type: object
      id: GoogleCloudContactcenterinsightsV1EntityMentionData
      description: >-
        The data for an entity mention annotation. This represents a mention of
        an `Entity` in the conversation.
    GoogleRpcStatus:
      type: object
      id: GoogleRpcStatus
      properties:
        details:
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
          type: array
        message:
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
      description: >-
        The `Status` type defines a logical error model that is suitable for
[...]
