openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Google Cloud Translation API
  description: |-
    The Google Cloud Translation API lets websites and programs integrate with
        Google Translate programmatically.
  version: v2
  x-discovery-doc-revision: '20170525'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://code.google.com/apis/language/translate/v2/getting_started.html
servers:
  - url: https://translation.googleapis.com/language/translate
components:
  schemas:
    LanguagesListResponse:
      type: object
      id: LanguagesListResponse
      properties:
        languages:
          description: >-
            List of source/target languages supported by the translation API. If
            target parameter is unspecified, the list is sorted by the ASCII
            code point order of the language code. If target parameter is
            specified, the list is sorted by the collation order of the language
            name in the target language.
          items:
            $ref: '#/components/schemas/LanguagesResource'
          type: array
    TranslationsResource:
      type: object
      properties:
        model:
          type: string
          description: >-
            The `model` type used for this translation. Valid values are

            listed in public documentation. Can be different from requested
            `model`.

            Present only if specific model type was explicitly requested.
        translatedText:
          type: string
          description: Text translated into the target language.
        detectedSourceLanguage:
          description: >-
            The source language of the initial request, detected automatically,
            if

            no source language was passed within the initial request. If the

            source language was passed, auto-detection of the language will not

            occur and this field will be empty.
          type: string
      id: TranslationsResource
    LanguagesResource:
      type: object
      id: LanguagesResource
      properties:
        language:
          type: string
          description: >-
            Supported language code, generally consisting of its ISO 639-1

            identifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes
            including

            language + region identifiers are returned (e.g. 'zh-TW' and
            'zh-CH')
        name:
          type: string
          description: >-
            Human readable name of the language localized to the target
            language.
    GetSupportedLanguagesRequest:
      type: object
      id: GetSupportedLanguagesRequest
      description: The request message for discovering supported languages.
      properties:
        target:
          type: string
          description: >-
            The language to use to return localized, human readable names of
            supported

            languages.
    TranslationsListResponse:
      properties:
        translations:
          items:
            $ref: '#/components/schemas/TranslationsResource'
          type: array
          description: Translations contains list of translation results of given text
      id: TranslationsListResponse
      type: object
      description: The main language translation response message.
    DetectionsResource:
      type: array
      items:
        properties:
          confidence:
            description: The confidence of the detection result of this language.
            format: float
            type: number
          isReliable:
            description: A boolean to indicate is the language detection result reliable.
            type: boolean
          language:
            description: The language we detected.
            type: string
        type: object
      description: >-
        An array of languages which we detect for the given text The most likely
        language list first.
      id: DetectionsResource
    DetectionsListResponse:
      type: object
      properties:
        detections:
          description: A detections contains detection results of several text
          type: array
          items:
            $ref: '#/components/schemas/DetectionsResource'
      id: DetectionsListResponse
    DetectLanguageRequest:
      id: DetectLanguageRequest
      type: object
      description: The request message for language detection.
      properties:
        q:
          description: |-
            The input text upon which to perform language detection. Repeat this
            parameter to perform language detection on multiple text inputs.
          items:
            type: string
          type: array
    TranslateTextRequest:
      properties:
        model:
          type: string
          description: |-
            The `model` type requested for this translation. Valid values are
            listed in public documentation.
        q:
          type: array
          description: >-
            The input text to translate. Repeat this parameter to perform
            translation

            operations on multiple text inputs.
          items:
            type: string
        format:
          description: >-
            The format of the source text, in either HTML (default) or
            plain-text. A

            value of "html" indicates HTML and a value of "text" indicates
            plain-text.
          type: string
        target:
          description: >-
            The language to use for translation of the input text, set to one of
            the

            language codes listed in Language Support.
          type: string
        source:
          type: string
          description: >-
            The language of the source text, set to one of the language codes
            listed in

            Language Support. If the source language is not specified, the API
            will

            attempt to identify the source language automatically and return it
            within

            the response.
      description: The main translation request message for the Cloud Translation API.
      id: TranslateTextRequest
      type: object
  parameters:
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters. Overrides userIp if both are provided.
      in: query
      name: quotaUser
      schema:
        type: string
    pp:
      description: Pretty-print response.
      in: query
      name: pp
      schema:
        type: boolean
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    bearer_token:
      description: OAuth bearer token.
      in: query
      name: bearer_token
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/cloud-translation: Translate text from one language to another using Google Translate
            https://www.googleapis.com/auth/cloud-platform: View and manage your data across Google Cloud Platform services
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v2:
    parameters: &ref_1
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/pp'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/bearer_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/key'
    get:
      description: Translates input text, returning translated text.
      operationId: language.translations.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationsListResponse'
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
        - in: query
          name: target
          required: true
          schema:
            type: string
        - in: query
          name: cid
          schema:
            type: string
        - in: query
          name: model
          schema:
            type: string
        - in: query
          name: format
          schema:
            type: string
        - in: query
          name: source
          schema:
            type: string
      x-stackQL-resource: translations
      x-stackQL-verb: select
    post:
      description: Translates input text, returning translated text.
      operationId: language.translations.translate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslateTextRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationsListResponse'
      parameters: []
      x-stackQL-resource: translations
      x-stackQL-verb: exec
  /v2/languages:
    parameters: *ref_1
    get:
      description: Returns a list of supported languages for translation.
      operationId: language.languages.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguagesListResponse'
      parameters:
        - in: query
          name: model
          schema:
            type: string
        - in: query
          name: target
          schema:
            type: string
      x-stackQL-resource: languages
      x-stackQL-verb: select
  /v2/detect:
    parameters: *ref_1
    post:
      description: Detects the language of text within a request.
      operationId: language.detections.detect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectLanguageRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionsListResponse'
      parameters: []
      x-stackQL-resource: detections
      x-stackQL-verb: exec
    get:
      description: Detects the language of text within a request.
      operationId: language.detections.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-translation
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-translation
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionsListResponse'
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
      x-stackQL-resource: detections
      x-stackQL-verb: select
