openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: VM Migration API
  description: >-
    Use the Migrate to Virtual Machines API to programmatically migrate
    workloads. 
  version: v1alpha1
  x-discovery-doc-revision: '20230615'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/migrate/virtual-machines
servers:
  - url: https://vmmigration.googleapis.com
components:
  schemas:
    Link:
      type: object
      id: Link
      properties:
        url:
          type: string
          description: The URL of the link.
        description:
          description: Describes what the link offers.
          type: string
      description: Describes a URL link.
    MigratingVm:
      description: >-
        MigratingVm describes the VM that will be migrated from a Source
        environment and its replication state.
      type: object
      id: MigratingVm
      properties:
        displayName:
          description: The display name attached to the MigratingVm by the user.
          type: string
        state:
          type: string
          readOnly: true
          enumDescriptions:
            - The state was not sampled by the health checks yet.
            - The VM in the source is being verified.
            - The source VM was verified, and it's ready to start replication.
            - Migration is going through the first sync cycle.
            - The replication is active, and it's running or scheduled to run.
            - >-
              The source VM is being turned off, and a final replication is
              currently running.
            - >-
              The source VM was stopped and replicated. The replication is
              currently paused.
            - >-
              A cutover job is active and replication cycle is running the final
              sync.
            - >-
              The replication was paused by the user and no cycles are scheduled
              to run.
            - >-
              The migrating VM is being finalized and migration resources are
              being removed.
            - >-
              The replication process is done. The migrating VM is finalized and
              no longer consumes billable resources.
            - >-
              The replication process encountered an unrecoverable error and was
              aborted.
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - READY
            - FIRST_SYNC
            - ACTIVE
            - CUTTING_OVER
            - CUTOVER
            - FINAL_SYNC
            - PAUSED
            - FINALIZING
            - FINALIZED
            - ERROR
          description: Output only. State of the MigratingVm.
        computeEngineTargetDefaults:
          $ref: '#/components/schemas/ComputeEngineTargetDefaults'
          description: Details of the target VM in Compute Engine.
        lastSync:
          $ref: '#/components/schemas/ReplicationSync'
          description: >-
            Output only. The most updated snapshot created time in the source
            that finished replication.
          readOnly: true
        createTime:
          description: >-
            Output only. The time the migrating VM was created (this refers to
            this resource and not to the time it was installed in the source).
          readOnly: true
          format: google-datetime
          type: string
        targetDefaults:
          $ref: '#/components/schemas/TargetVMDetails'
          description: >-
            The default configuration of the target VM that will be created in
            Google Cloud as a result of the migration. Deprecated: Use
            compute_engine_target_defaults instead.
        labels:
          description: The labels of the migrating VM.
          type: object
          additionalProperties:
            type: string
        description:
          type: string
          description: The description attached to the migrating VM by the user.
        name:
          type: string
          readOnly: true
          description: Output only. The identifier of the MigratingVm.
        recentCutoverJobs:
          readOnly: true
          items:
            $ref: '#/components/schemas/CutoverJob'
          type: array
          description: >-
            Output only. The recent cutover jobs performed on the migrating VM.
            This field holds the vm's last completed cutover job and the vm's
            running cutover job, if one exists. Note: To have this field
            populated you need to explicitly request it via the "view" parameter
            of the Get/List request.
        recentCloneJobs:
          items:
            $ref: '#/components/schemas/CloneJob'
          description: >-
            Output only. The recent clone jobs performed on the migrating VM.
            This field holds the vm's last completed clone job and the vm's
            running clone job, if one exists. Note: To have this field populated
            you need to explicitly request it via the "view" parameter of the
            Get/List request.
          readOnly: true
          type: array
        policy:
          $ref: '#/components/schemas/SchedulePolicy'
          description: The replication schedule policy.
        awsSourceVmDetails:
          description: Output only. Details of the VM from an AWS source.
          readOnly: true
          $ref: '#/components/schemas/AwsSourceVmDetails'
        error:
          readOnly: true
          $ref: '#/components/schemas/Status'
          description: >-
            Output only. Provides details on the state of the Migrating VM in
            case of an error in replication.
        updateTime:
          format: google-datetime
          description: Output only. The last time the migrating VM resource was updated.
          readOnly: true
          type: string
        sourceVmId:
          type: string
          description: >-
            The unique ID of the VM in the source. The VM's name in vSphere can
            be changed, so this is not the VM's name but rather its moRef id.
            This id is of the form vm-.
        cutoverForecast:
          readOnly: true
          description: >-
            Output only. Provides details of future CutoverJobs of a
            MigratingVm. Set to empty when cutover forecast is unavailable.
          $ref: '#/components/schemas/CutoverForecast'
        group:
          description: >-
            Output only. The group this migrating vm is included in, if any. The
            group is represented by the full path of the appropriate Group
            resource.
          readOnly: true
          type: string
        stateTime:
          format: google-datetime
          description: Output only. The last time the migrating VM state was updated.
          readOnly: true
          type: string
        lastReplicationCycle:
          $ref: '#/components/schemas/ReplicationCycle'
          description: >-
            Output only. Details of the last replication cycle. This will be
            updated whenever a replication cycle is finished and is not to be
            confused with last_sync which is only updated on successful
            replication cycles.
          readOnly: true
        currentSyncInfo:
          description: Output only. Details of the current running replication cycle.
          $ref: '#/components/schemas/ReplicationCycle'
          readOnly: true
        computeEngineVmDefaults:
          $ref: '#/components/schemas/TargetVMDetails'
          description: >-
            Details of the VM in Compute Engine. Deprecated: Use
            compute_engine_target_defaults instead.
    AwsVmDetails:
      properties:
        virtualizationType:
          enumDescriptions:
            - The virtualization type is unknown.
            - The virtualziation type is HVM.
            - The virtualziation type is PARAVIRTUAL.
          enum:
            - VM_VIRTUALIZATION_TYPE_UNSPECIFIED
            - HVM
            - PARAVIRTUAL
          type: string
          description: The virtualization type.
        architecture:
          enum:
            - VM_ARCHITECTURE_UNSPECIFIED
            - I386
            - X86_64
            - ARM64
            - X86_64_MAC
          description: The CPU architecture.
          enumDescriptions:
            - The architecture is unknown.
            - The architecture is I386.
            - The architecture is X86_64.
            - The architecture is ARM64.
            - The architecture is X86_64_MAC.
          type: string
        vpcId:
          type: string
          description: The VPC ID the VM belongs to.
        sourceId:
          description: The id of the AWS's source this VM is connected to.
          type: string
        cpuCount:
          type: integer
          description: The number of cpus the VM has.
          format: int32
        securityGroups:
          items:
            $ref: '#/components/schemas/AwsSecurityGroup'
          type: array
          description: The security groups the VM belongs to.
        sourceDescription:
          description: The descriptive name of the AWS's source this VM is connected to.
          type: string
        committedStorageMb:
          type: string
          format: int64
          description: The total size of the storage allocated to the VM in MB.
        memoryMb:
          description: The memory size of the VM in MB.
          type: integer
          format: int32
        diskCount:
          description: The number of disks the VM has.
          type: integer
          format: int32
        zone:
          description: The AWS zone of the VM.
          type: string
        vmId:
          description: The VM ID in AWS.
          type: string
        powerState:
          type: string
          description: Output only. The power state of the VM at the moment list was taken.
          enumDescriptions:
            - Power state is not specified.
            - The VM is turned on.
            - The VM is turned off.
            - The VM is suspended. This is similar to hibernation or sleep mode.
            - The VM is starting.
          enum:
            - POWER_STATE_UNSPECIFIED
            - 'ON'
            - 'OFF'
            - SUSPENDED
            - PENDING
          readOnly: true
        osDescription:
          type: string
          description: The VM's OS.
        bootOption:
          enumDescriptions:
            - The boot option is unknown.
            - The boot option is UEFI.
            - The boot option is LEGACY-BIOS.
          type: string
          enum:
            - BOOT_OPTION_UNSPECIFIED
            - EFI
            - BIOS
          description: The VM Boot Option.
        instanceType:
          description: The instance type of the VM.
          type: string
        tags:
          additionalProperties:
            type: string
          type: object
          description: The tags of the VM.
        displayName:
          type: string
          description: >-
            The display name of the VM. Note that this value is not necessarily
            unique.
      id: AwsVmDetails
      type: object
      description: AwsVmDetails describes a VM in AWS.
    VmUtilizationMetrics:
      id: VmUtilizationMetrics
      properties:
        cpuAveragePercent:
          type: integer
          description: Average CPU usage, percent.
          format: int32
        diskIoRateMaxKbps:
          type: string
          format: int64
          description: Max disk IO rate, in kilobytes per second.
        diskIoRateAverageKbps:
          type: string
          description: Average disk IO rate, in kilobytes per second.
          format: int64
        memoryMaxPercent:
          description: Max memory usage, percent.
          type: integer
          format: int32
        memoryMax:
          description: Max memory usage, percent.
          format: int32
          type: integer
        diskIoRateAverage:
          type: string
          description: Average disk IO rate, in kilobytes per second.
          format: int64
        cpuAverage:
          type: integer
          description: Average CPU usage, percent.
          format: int32
        cpuMaxPercent:
          format: int32
          type: integer
          description: Max CPU usage, percent.
        cpuMax:
          format: int32
          description: Max CPU usage, percent.
          type: integer
        networkThroughputMax:
          format: int64
          description: >-
            Max network throughput (combined transmit-rates and receive-rates),
            in kilobytes per second.
          type: string
        memoryAverage:
          type: integer
          description: Average memory usage, percent.
          format: int32
        diskIoRateMax:
          type: string
          format: int64
          description: Max disk IO rate, in kilobytes per second.
        memoryAveragePercent:
          type: integer
          description: Average memory usage, percent.
          format: int32
        networkThroughputMaxKbps:
          format: int64
          type: string
          description: >-
            Max network throughput (combined transmit-rates and receive-rates),
            in kilobytes per second.
        networkThroughputAverage:
          description: >-
            Average network throughput (combined transmit-rates and
            receive-rates), in kilobytes per second.
          type: string
          format: int64
        networkThroughputAverageKbps:
          description: >-
            Average network throughput (combined transmit-rates and
            receive-rates), in kilobytes per second.
          format: int64
          type: string
      description: Utilization metrics values for a single VM.
      type: object
    UtilizationReport:
      id: UtilizationReport
      properties:
        state:
          type: string
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - SUCCEEDED
            - FAILED
          enumDescriptions:
            - The state is unknown. This value is not in use.
            - The report is in the making.
            - Report creation completed successfully.
            - Report creation failed.
          readOnly: true
          description: Output only. Current state of the report.
        createTime:
          readOnly: true
          description: >-
            Output only. The time the report was created (this refers to the
            time of the request, not the time the report creation completed).
          type: string
          format: google-datetime
        timeFrame:
          enumDescriptions:
            - The time frame was not specified and will default to WEEK.
            - One week.
            - One month.
            - One year.
          type: string
          description: Time frame of the report.
          enum:
            - TIME_FRAME_UNSPECIFIED
            - WEEK
            - MONTH
            - YEAR
        name:
          readOnly: true
          type: string
          description: Output only. The report unique name.
        vms:
          type: array
          items:
            $ref: '#/components/schemas/VmUtilizationInfo'
          description: >-
            List of utilization information per VM. When sent as part of the
            request, the "vm_id" field is used in order to specify which VMs to
            include in the report. In that case all other fields are ignored.
        displayName:
          description: The report display name, as assigned by the user.
          type: string
        frameEndTime:
          type: string
          format: google-datetime
          readOnly: true
          description: >-
            Output only. The point in time when the time frame ends. Notice that
            the time frame is counted backwards. For instance if the
            "frame_end_time" value is 2021/01/20 and the time frame is WEEK then
            the report covers the week between 2021/01/20 and 2021/01/14.
        error:
          readOnly: true
          description: >-
            Output only. Provides details on the state of the report in case of
            an error.
          $ref: '#/components/schemas/Status'
        stateTime:
          description: Output only. The time the state was last set.
          readOnly: true
          type: string
          format: google-datetime
        vmCount:
          readOnly: true
          description: Output only. Total number of VMs included in the report.
          format: int32
          type: integer
        vmsCount:
          format: int32
          readOnly: true
          type: integer
          description: Output only. Total number of VMs included in the report.
      type: object
      description: >-
        Utilization report details the utilization (CPU, memory, etc.) of
        selected source VMs.
    OperationMetadata:
      type: object
      description: Represents the metadata of the long-running operation.
      id: OperationMetadata
      properties:
        createTime:
          readOnly: true
          format: google-datetime
          description: Output only. The time the operation was created.
          type: string
        target:
          readOnly: true
          description: >-
            Output only. Server-defined resource path for the target of the
            operation.
          type: string
        statusMessage:
          readOnly: true
          description: Output only. Human-readable status of the operation, if any.
          type: string
        endTime:
          format: google-datetime
          type: string
          readOnly: true
          description: Output only. The time the operation finished running.
        verb:
          type: string
          description: Output only. Name of the verb executed by the operation.
          readOnly: true
        requestedCancellation:
          readOnly: true
          description: >-
            Output only. Identifies whether the user has requested cancellation
            of the operation. Operations that have successfully been cancelled
            have Operation.error value with a google.rpc.Status.code of 1,
            corresponding to `Code.CANCELLED`.
          type: boolean
        apiVersion:
          readOnly: true
          description: Output only. API version used to start the operation.
          type: string
    ListLocationsResponse:
      type: object
      description: The response message for Locations.ListLocations.
      properties:
        locations:
          description: >-
            A list of locations that matches the specified filter in the
            request.
          type: array
          items:
            $ref: '#/components/schemas/Location'
        nextPageToken:
          type: string
          description: The standard List next-page token.
      id: ListLocationsResponse
    AccessKeyCredentials:
      properties:
        sessionToken:
          description: >-
            Input only. AWS session token. Used only when AWS security token
            service (STS) is responsible for creating the temporary credentials.
          type: string
        accessKeyId:
          description: AWS access key ID.
          type: string
        secretAccessKey:
          description: Input only. AWS secret access key.
          type: string
      id: AccessKeyCredentials
      description: Message describing AWS Credentials using access key id and secret.
      type: object
    Tag:
      type: object
      properties:
        value:
          description: Value of tag.
          type: string
        key:
          description: Key of tag.
          type: string
      description: Tag is an AWS tag representation.
      id: Tag
    SchedulingNodeAffinity:
      id: SchedulingNodeAffinity
      properties:
        operator:
          enum:
            - OPERATOR_UNSPECIFIED
            - IN
            - NOT_IN
          description: >-
            The operator to use for the node resources specified in the `values`
            parameter.
          enumDescriptions:
            - An unknown, unexpected behavior.
            - The node resource group should be in these resources affinity.
            - The node resource group should not be in these resources affinity.
          type: string
        values:
          type: array
          description: Corresponds to the label values of Node resource.
          items:
            type: string
        key:
          type: string
          description: The label key of Node resource to reference.
      description: >-
        Node Affinity: the configuration of desired nodes onto which this
        Instance could be scheduled. Based on
        https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling
      type: object
    AppliedLicense:
      type: object
      id: AppliedLicense
      description: >-
        AppliedLicense holds the license data returned by adaptation module
        report.
      properties:
        type:
          type: string
          description: The license type that was used in OS adaptation.
          enum:
            - TYPE_UNSPECIFIED
            - NONE
            - PAYG
            - BYOL
          enumDescriptions:
            - Unspecified license for the OS.
            - No license available for the OS.
            - The license type is Pay As You Go license type.
            - The license type is Bring Your Own License type.
        osLicense:
          description: The OS license returned from the adaptation module's report.
          type: string
    ListMigratingVmsResponse:
      id: ListMigratingVmsResponse
      properties:
        unreachable:
          items:
            type: string
          readOnly: true
          description: Output only. Locations that could not be reached.
          type: array
        migratingVms:
          description: Output only. The list of Migrating VMs response.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/MigratingVm'
        nextPageToken:
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
          readOnly: true
          type: string
      type: object
      description: Response message for 'ListMigratingVms' request.
    AvailableUpdates:
      type: object
      id: AvailableUpdates
      properties:
        inPlaceUpdate:
          description: >-
            The latest version for in place update. The current appliance can be
            updated to this version using the API or m4c CLI.
          $ref: '#/components/schemas/ApplianceVersion'
        newDeployableAppliance:
          description: >-
            The newest deployable version of the appliance. The current
            appliance can't be updated into this version, and the owner must
            manually deploy this OVA to a new appliance.
          $ref: '#/components/schemas/ApplianceVersion'
      description: Holds informatiom about the available versions for upgrade.
    SchedulePolicy:
      type: object
      id: SchedulePolicy
      properties:
        idleDuration:
          type: string
          format: google-duration
          description: The idle duration between replication stages.
        skipOsAdaptation:
          description: >-
            A flag to indicate whether to skip OS adaptation during the
            replication sync. OS adaptation is a process where the VM's
            operating system undergoes changes and adaptations to fully function
            on Compute Engine.
          type: boolean
      description: A policy for scheduling replications.
    FinalizeMigrationRequest:
      properties: {}
      type: object
      id: FinalizeMigrationRequest
      description: Request message for 'FinalizeMigration' request.
    ListOperationsResponse:
      description: The response message for Operations.ListOperations.
      type: object
      properties:
        operations:
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          description: >-
            A list of operations that matches the specified filter in the
            request.
        nextPageToken:
          type: string
          description: The standard List next-page token.
      id: ListOperationsResponse
    VmwareVmDetails:
      properties:
        bootOption:
          enum:
            - BOOT_OPTION_UNSPECIFIED
            - EFI
            - BIOS
          readOnly: true
          description: Output only. The VM Boot Option.
          enumDescriptions:
            - The boot option is unknown.
            - The boot option is EFI.
            - The boot option is BIOS.
          type: string
        datacenterId:
          description: The id of the vCenter's datacenter this VM is contained in.
          type: string
        uuid:
          type: string
          description: The unique identifier of the VM in vCenter.
        cpuCount:
          description: The number of cpus in the VM.
          type: integer
          format: int32
        memoryMb:
          type: integer
          format: int32
          description: The size of the memory of the VM in MB.
        guestDescription:
          type: string
          description: >-
            The VM's OS. See for example
            https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html
            for types of strings this might hold.
        diskCount:
          description: The number of disks the VM has.
          format: int32
          type: integer
        powerState:
          description: The power state of the VM at the moment list was taken.
          enumDescriptions:
            - Power state is not specified.
            - The VM is turned ON.
            - The VM is turned OFF.
            - The VM is suspended. This is similar to hibernation or sleep mode.
          enum:
            - POWER_STATE_UNSPECIFIED
            - 'ON'
            - 'OFF'
            - SUSPENDED
          type: string
        committedStorage:
          format: int64
          description: The total size of the storage allocated to the VM in MB.
          type: string
        committedStorageMb:
          type: string
          format: int64
          description: The total size of the storage allocated to the VM in MB.
        displayName:
          description: >-
            The display name of the VM. Note that this is not necessarily
            unique.
          type: string
        datacenterDescription:
          type: string
          description: >-
            The descriptive name of the vCenter's datacenter this VM is
            contained in.
        vmId:
          description: >-
            The VM's id in the source (note that this is not the MigratingVm's
            id). This is the moref id of the VM.
          type: string
      description: VmwareVmDetails describes a VM in vCenter.
      type: object
      id: VmwareVmDetails
    PauseMigrationRequest:
      type: object
      id: PauseMigrationRequest
      description: Request message for 'PauseMigration' request.
      properties: {}
    ListReplicationCyclesResponse:
      id: ListReplicationCyclesResponse
      type: object
      description: Response message for 'ListReplicationCycles' request.
      properties:
        nextPageToken:
          type: string
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
          readOnly: true
        replicationCycles:
          type: array
          items:
            $ref: '#/components/schemas/ReplicationCycle'
          description: Output only. The list of replication cycles response.
          readOnly: true
        unreachable:
          description: Output only. Locations that could not be reached.
          readOnly: true
          items:
            type: string
          type: array
    TargetVMDetails:
      type: object
      properties:
        metadata:
          additionalProperties:
            type: string
          description: The metadata key/value pairs to assign to the VM.
          type: object
        networkTags:
          items:
            type: string
          type: array
          description: A map of network tags to associate with the VM.
        internalIp:
          description: >-
            The internal IP to define in the VM. The formats accepted are:
            `ephemeral` \ ipv4 address \ a named address resource full path.
          type: string
        name:
          type: string
          description: The name of the VM to create.
        externalIp:
          type: string
          description: The external IP to define in the VM.
        networkInterfaces:
          type: array
          description: List of NICs connected to this VM.
          items:
            $ref: '#/components/schemas/NetworkInterface'
        machineType:
          type: string
          description: The machine type to create the VM with.
        network:
          type: string
          description: The network to connect the VM to.
        appliedLicense:
          description: >-
            Output only. The OS license returned from the adaptation module
            report.
          $ref: '#/components/schemas/AppliedLicense'
          readOnly: true
        zone:
          type: string
          description: The zone in which to create the VM.
        serviceAccount:
          type: string
          description: The service account to associate the VM with.
        secureBoot:
          description: >-
            Defines whether the instance has Secure Boot enabled. This can be
            set to true only if the vm boot option is EFI.
          type: boolean
        diskType:
          type: string
          enum:
            - DISK_TYPE_UNSPECIFIED
            - STANDARD
            - BALANCED
            - SSD
          enumDescriptions:
            - An unspecified disk type. Will be used as STANDARD.
            - A Standard disk type.
            - >-
              An alternative to SSD persistent disks that balance performance
              and cost.
            - SSD hard disk type.
          description: The disk type to use in the VM.
        labels:
          additionalProperties:
            type: string
          description: A map of labels to associate with the VM.
          type: object
        bootOption:
          readOnly: true
          enumDescriptions:
            - The boot option is unknown.
            - The boot option is EFI.
            - The boot option is BIOS.
          enum:
            - BOOT_OPTION_UNSPECIFIED
            - EFI
            - BIOS
          description: Output only. The VM Boot Option, as set in the source vm.
          type: string
        subnetwork:
          description: The subnetwork to connect the VM to.
          type: string
        machineTypeSeries:
          description: The machine type series to create the VM with.
          type: string
        project:
          description: Output only. The project in which to create the VM.
          type: string
          readOnly: true
        targetProject:
          type: string
          description: >-
            The full path of the resource of type TargetProject which represents
            the Compute Engine project in which to create this VM.
        computeScheduling:
          $ref: '#/components/schemas/ComputeScheduling'
          description: Compute instance scheduling information (if empty default is used).
        licenseType:
          enumDescriptions:
            - The license type is the default for the OS.
            - The license type is Pay As You Go license type.
            - The license type is Bring Your Own License type.
          type: string
          description: The license type to use in OS adaptation.
          enum:
            - DEFAULT
            - PAYG
            - BYOL
      description: >-
        TargetVMDetails is a collection of details for creating a VM in a target
        Compute Engine project.
      id: TargetVMDetails
    VmUtilizationInfo:
      type: object
      properties:
        vmwareVmDetails:
          $ref: '#/components/schemas/VmwareVmDetails'
          description: The description of the VM in a Source of type Vmware.
        vmId:
          type: string
          description: The VM's ID in the source.
        utilization:
          description: Utilization metrics for this VM.
          $ref: '#/components/schemas/VmUtilizationMetrics'
      id: VmUtilizationInfo
      description: Utilization information of a single VM.
    ListCloneJobsResponse:
      id: ListCloneJobsResponse
      type: object
      properties:
        cloneJobs:
          description: Output only. The list of clone jobs response.
          readOnly: true
          items:
            $ref: '#/components/schemas/CloneJob'
          type: array
        unreachable:
          items:
            type: string
          type: array
          description: Output only. Locations that could not be reached.
          readOnly: true
        nextPageToken:
          type: string
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
          readOnly: true
      description: Response message for 'ListCloneJobs' request.
    ListGroupsResponse:
      properties:
        groups:
          items:
            $ref: '#/components/schemas/Group'
          readOnly: true
          description: Output only. The list of groups response.
          type: array
        unreachable:
          items:
            type: string
          description: Output only. Locations that could not be reached.
          type: array
          readOnly: true
        nextPageToken:
          readOnly: true
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
          type: string
      id: ListGroupsResponse
      type: object
      description: Response message for 'ListGroups' request.
    ReplicatingStep:
      id: ReplicatingStep
      properties:
        lastThirtyMinutesAverageBytesPerSecond:
          format: int64
          type: string
          description: >-
            The source disks replication rate for the last 30 minutes in bytes
            per second.
        replicatedBytes:
          format: int64
          type: string
          description: Replicated bytes in the step.
        totalBytes:
          description: Total bytes to be handled in the step.
          format: int64
          type: string
        lastTwoMinutesAverageBytesPerSecond:
          format: int64
          type: string
          description: >-
            The source disks replication rate for the last 2 minutes in bytes
            per second.
      description: ReplicatingStep contains specific step details.
      type: object
    InitializingReplicationStep:
      type: object
      id: InitializingReplicationStep
      description: InitializingReplicationStep contains specific step details.
      properties: {}
    Empty:
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      type: object
      properties: {}
      id: Empty
    CutoverJob:
      id: CutoverJob
      type: object
      description: >-
        CutoverJob message describes a cutover of a migrating VM. The CutoverJob
        is the operation of shutting down the VM, creating a snapshot and
        clonning the VM using the replicated snapshot.
      properties:
        computeEngineVmDetails:
          $ref: '#/components/schemas/TargetVMDetails'
          description: >-
            Output only. Details of the VM in Compute Engine. Deprecated: Use
            compute_engine_target_details instead.
          readOnly: true
        progressPercent:
          readOnly: true
          description: Output only. The current progress in percentage of the cutover job.
          format: int32
          type: integer
        name:
          type: string
          description: Output only. The name of the cutover job.
          readOnly: true
        createTime:
          format: google-datetime
          description: >-
            Output only. The time the cutover job was created (as an API call,
            not when it was actually created in the target).
          type: string
          readOnly: true
        steps:
          items:
            $ref: '#/components/schemas/CutoverStep'
          description: Output only. The cutover steps list representing its progress.
          type: array
          readOnly: true
        targetDetails:
          description: >-
            Output only. Details of the VM to create as the target of this
            cutover job. Deprecated: Use compute_engine_target_details instead.
          readOnly: true
          $ref: '#/components/schemas/TargetVMDetails'
        progress:
          format: int32
          readOnly: true
          type: integer
          description: Output only. The current progress in percentage of the cutover job.
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            Output only. Provides details for the errors that led to the Cutover
            Job's state.
          readOnly: true
        endTime:
          type: string
          readOnly: true
          description: Output only. The time the cutover job had finished.
          format: google-datetime
        stateTime:
          readOnly: true
          format: google-datetime
          description: Output only. The time the state was last updated.
          type: string
        stateMessage:
          readOnly: true
          type: string
          description: >-
            Output only. A message providing possible extra details about the
            current state.
        computeEngineTargetDetails:
          readOnly: true
          $ref: '#/components/schemas/ComputeEngineTargetDetails'
          description: Output only. Details of the target VM in Compute Engine.
        state:
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - FAILED
            - SUCCEEDED
            - CANCELLED
            - CANCELLING
            - ACTIVE
            - ADAPTING_OS
          type: string
          enumDescriptions:
            - >-
              The state is unknown. This is used for API compatibility only and
              is not used by the system.
            - The cutover job has not yet started.
            - The cutover job finished with errors.
            - The cutover job finished successfully.
            - The cutover job was cancelled.
            - The cutover job is being cancelled.
            - The cutover job is active and running.
            - >-
              OS adaptation is running as part of the cutover job to generate
              license.
          readOnly: true
          description: Output only. State of the cutover job.
    RemoveGroupMigrationRequest:
      description: Request message for 'RemoveMigration' request.
      id: RemoveGroupMigrationRequest
      type: object
      properties:
        migratingVm:
          type: string
          description: The MigratingVm to remove.
    ListSourcesResponse:
      id: ListSourcesResponse
      properties:
        nextPageToken:
          type: string
          readOnly: true
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
        unreachable:
          readOnly: true
          type: array
          description: Output only. Locations that could not be reached.
          items:
            type: string
        sources:
          type: array
          description: Output only. The list of sources response.
          items:
            $ref: '#/components/schemas/Source'
          readOnly: true
      description: Response message for 'ListSources' request.
      type: object
    VmwareSourceDetails:
      type: object
      properties:
        resolvedVcenterHost:
          type: string
          description: The hostname of the vcenter.
        vcenterIp:
          type: string
          description: The ip address of the vcenter this Source represents.
        thumbprint:
          type: string
          description: The thumbprint representing the certificate for the vcenter.
        password:
          type: string
          description: >-
            Input only. The credentials password. This is write only and can not
            be read in a GET operation.
        username:
          type: string
          description: The credentials username.
      description: >-
        VmwareSourceDetails message describes a specific source details for the
        vmware source type.
      id: VmwareSourceDetails
    TargetProject:
      type: object
      properties:
        name:
          description: Output only. The name of the target project.
          readOnly: true
          type: string
        description:
          type: string
          description: The target project's description.
        createTime:
          readOnly: true
          description: >-
            Output only. The time this target project resource was created (not
            related to when the Compute Engine project it points to was
            created).
          format: google-datetime
          type: string
        project:
          description: The target project ID (number) or project name.
          type: string
        updateTime:
          description: Output only. The last time the target project resource was updated.
          type: string
          format: google-datetime
          readOnly: true
      id: TargetProject
      description: >-
        TargetProject message represents a target Compute Engine project for a
        migration or a clone.
    ReplicationCycle:
      type: object
      id: ReplicationCycle
      properties:
        startTime:
          format: google-datetime
          description: The time the replication cycle has started.
          type: string
        progressPercent:
          description: >-
            The current progress in percentage of this cycle. Was replaced by
            'steps' field, which breaks down the cycle progression more
            accurately.
          type: integer
          format: int32
        cycleNumber:
          format: int32
          description: The cycle's ordinal number.
          type: integer
        endTime:
          format: google-datetime
          type: string
          description: The time the replication cycle has ended.
        steps:
          description: The cycle's steps list representing its progress.
          items:
            $ref: '#/components/schemas/CycleStep'
          type: array
        state:
          enum:
            - STATE_UNSPECIFIED
            - RUNNING
            - PAUSED
            - FAILED
            - SUCCEEDED
          description: State of the ReplicationCycle.
          enumDescriptions:
            - >-
              The state is unknown. This is used for API compatibility only and
              is not used by the system.
            - The replication cycle is running.
            - The replication cycle is paused.
            - The replication cycle finished with errors.
            - The replication cycle finished successfully.
          type: string
        error:
          description: Provides details on the state of the cycle in case of an error.
          $ref: '#/components/schemas/Status'
        totalPauseDuration:
          format: google-duration
          description: The accumulated duration the replication cycle was paused.
          type: string
        progress:
          type: integer
          description: The current progress in percentage of this cycle.
          format: int32
        warnings:
          items:
            $ref: '#/components/schemas/MigrationWarning'
          type: array
          readOnly: true
          description: Output only. Warnings that occurred during the cycle.
        name:
          description: The identifier of the ReplicationCycle.
          type: string
      description: >-
        ReplicationCycle contains information about the current replication
        cycle status.
    ShuttingDownSourceVMStep:
      properties: {}
      type: object
      description: ShuttingDownSourceVMStep contains specific step details.
      id: ShuttingDownSourceVMStep
    CutoverForecast:
      id: CutoverForecast
      properties:
        estimatedCutoverJobDuration:
          description: Output only. Estimation of the CutoverJob duration.
          type: string
          readOnly: true
          format: google-duration
      description: >-
        CutoverForecast holds information about future CutoverJobs of a
        MigratingVm.
      type: object
    CancelCloneJobRequest:
      description: Request message for 'CancelCloneJob' request.
      type: object
      id: CancelCloneJobRequest
      properties: {}
    CutoverStep:
      description: CutoverStep holds information about the cutover step progress.
      id: CutoverStep
      properties:
        startTime:
          type: string
          format: google-datetime
          description: The time the step has started.
        endTime:
          format: google-datetime
          type: string
          description: The time the step has ended.
        preparingVmDisks:
          $ref: '#/components/schemas/PreparingVMDisksStep'
          description: Preparing VM disks step.
        finalSync:
          $ref: '#/components/schemas/ReplicationCycle'
          description: Final sync step.
        shuttingDownSourceVm:
          $ref: '#/components/schemas/ShuttingDownSourceVMStep'
          description: Shutting down VM step.
        previousReplicationCycle:
          $ref: '#/components/schemas/ReplicationCycle'
          description: A replication cycle prior cutover step.
        instantiatingMigratedVm:
          description: Instantiating migrated VM step.
          $ref: '#/components/schemas/InstantiatingMigratedVMStep'
      type: object
    Location:
      type: object
      description: A resource that represents a Google Cloud location.
      properties:
        metadata:
          description: >-
            Service-specific metadata. For example the available capacity at the
            given location.
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          type: object
        displayName:
          type: string
          description: >-
            The friendly name for this location, typically a nearby city name.
            For example, "Tokyo".
        locationId:
          description: 'The canonical id for this location. For example: `"us-east1"`.'
          type: string
        labels:
          description: >-
            Cross-service attributes for the location. For example
            {"cloud.googleapis.com/region": "us-east1"}
          type: object
          additionalProperties:
            type: string
        name:
          description: >-
            Resource name for the location, which may vary between
            implementations. For example:
            `"projects/example-project/locations/us-east1"`
          type: string
      id: Location
    FetchInventoryResponse:
      type: object
      properties:
        vmwareVms:
          description: The description of the VMs in a Source of type Vmware.
          $ref: '#/components/schemas/VmwareVmsDetails'
        awsVms:
          description: The description of the VMs in a Source of type AWS.
          $ref: '#/components/schemas/AwsVmsDetails'
        nextPageToken:
          type: string
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
          readOnly: true
        updateTime:
          readOnly: true
          format: google-datetime
          type: string
          description: >-
            Output only. The timestamp when the source was last queried (if the
            result is from the cache).
      id: FetchInventoryResponse
      description: Response message for fetchInventory.
    ResumeMigrationRequest:
      properties: {}
      description: Request message for 'ResumeMigration' request.
      type: object
      id: ResumeMigrationRequest
    AwsSecurityGroup:
      description: AwsSecurityGroup describes a security group of an AWS VM.
      properties:
        name:
          description: The AWS security group name.
          type: string
        id:
          description: The AWS security group id.
          type: string
      type: object
      id: AwsSecurityGroup
    CycleStep:
      properties:
        initializingReplication:
          $ref: '#/components/schemas/InitializingReplicationStep'
          description: Initializing replication step.
        endTime:
          format: google-datetime
          type: string
          description: The time the cycle step has ended.
        postProcessing:
          description: Post processing step.
          $ref: '#/components/schemas/PostProcessingStep'
        replicating:
          $ref: '#/components/schemas/ReplicatingStep'
          description: Replicating step.
        startTime:
          format: google-datetime
          type: string
          description: The time the cycle step has started.
      id: CycleStep
      type: object
      description: CycleStep holds information about a step progress.
    AwsSourceDetails:
      description: >-
        AwsSourceDetails message describes a specific source details for the AWS
        source type.
      id: AwsSourceDetails
      properties:
        state:
          type: string
          description: Output only. State of the source as determined by the health check.
          enumDescriptions:
            - >-
              The state is unknown. This is used for API compatibility only and
              is not used by the system.
            - The state was not sampled by the health checks yet.
            - >-
              The source is available but might not be usable yet due to invalid
              credentials or another reason. The error message will contain
              further details.
            - The source exists and its credentials were verified.
          readOnly: true
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - FAILED
            - ACTIVE
        migrationResourcesUserTags:
          description: >-
            User specified tags to add to every M2VM generated resource in AWS.
            These tags will be set in addition to the default tags that are set
            as part of the migration process. The tags must not begin with the
            reserved prefix `m2vm`.
          type: object
          additionalProperties:
            type: string
        accessKeyCreds:
          $ref: '#/components/schemas/AccessKeyCredentials'
          description: AWS Credentials using access key id and secret.
        inventorySecurityGroupNames:
          type: array
          description: AWS security group names to limit the scope of the source inventory.
          items:
            type: string
        awsRegion:
          description: Immutable. The AWS region that the source VMs will be migrated from.
          type: string
        inventoryTagList:
          description: AWS resource tags to limit the scope of the source inventory.
          items:
            $ref: '#/components/schemas/Tag'
          type: array
        publicIp:
          description: >-
            Output only. The source's public IP. All communication initiated by
            this source will originate from this IP.
          readOnly: true
          type: string
        error:
          description: >-
            Output only. Provides details on the state of the Source in case of
            an error.
          $ref: '#/components/schemas/Status'
          readOnly: true
      type: object
    ReplicationSync:
      id: ReplicationSync
      type: object
      description: >-
        ReplicationSync contain information about the last replica sync to the
        cloud.
      properties:
        lastSyncTime:
          description: >-
            The most updated snapshot created time in the source that finished
            replication.
          format: google-datetime
          type: string
    PreparingVMDisksStep:
      id: PreparingVMDisksStep
      description: PreparingVMDisksStep contains specific step details.
      properties: {}
      type: object
    AwsSourceVmDetails:
      id: AwsSourceVmDetails
      description: Represent the source AWS VM details.
      type: object
      properties:
        committedStorageBytes:
          type: string
          description: The total size of the disks being migrated in bytes.
          format: int64
        firmware:
          enumDescriptions:
            - The firmware is unknown.
            - The firmware is EFI.
            - The firmware is BIOS.
          enum:
            - FIRMWARE_UNSPECIFIED
            - EFI
            - BIOS
          type: string
          description: The firmware type of the source VM.
        disks:
          description: The disks attached to the source VM.
          type: array
          items:
            $ref: '#/components/schemas/AwsDiskDetails'
    Status:
      id: Status
      properties:
        details:
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
            type: object
          type: array
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
        code:
          type: integer
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
        message:
          type: string
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
      type: object
    Source:
      type: object
      description: >-
        Source message describes a specific vm migration Source resource. It
        contains the source environment information.
      properties:
        description:
          description: User-provided description of the source.
          type: string
        name:
          readOnly: true
          type: string
          description: Output only. The Source name.
        aws:
          description: AWS type source details.
          $ref: '#/components/schemas/AwsSourceDetails'
        error:
          readOnly: true
          $ref: '#/components/schemas/Status'
          description: >-
            Output only. Provides details on the state of the Source in case of
            an error.
        updateTime:
          type: string
          readOnly: true
          format: google-datetime
          description: Output only. The update time timestamp.
        labels:
          additionalProperties:
            type: string
          description: The labels of the source.
          type: object
        vmware:
          description: Vmware type source details.
          $ref: '#/components/schemas/VmwareSourceDetails'
        createTime:
          readOnly: true
          type: string
          format: google-datetime
          description: Output only. The create time timestamp.
      id: Source
    MigrationWarning:
      id: MigrationWarning
      type: object
      description: >-
        Represents migration resource warning information that can be used with
        google.rpc.Status message. MigrationWarning is used to present the user
        with warning information in migration operations.
      properties:
        code:
          description: The warning code.
          type: string
          enum:
            - WARNING_CODE_UNSPECIFIED
            - ADAPTATION_WARNING
          enumDescriptions:
            - Default value. This value is not used.
            - A warning originated from OS Adaptation.
        helpLinks:
          type: array
          description: >-
            URL(s) pointing to additional information on handling the current
            warning.
          items:
            $ref: '#/components/schemas/Link'
        warningMessage:
          description: The localized warning message.
          $ref: '#/components/schemas/LocalizedMessage'
        warningTime:
          type: string
          format: google-datetime
          description: The time the warning occurred.
        actionItem:
          $ref: '#/components/schemas/LocalizedMessage'
          description: Suggested action for solving the warning.
    Group:
      description: >-
        Describes message for 'Group' resource. The Group is a collections of
        several MigratingVms.
      type: object
      id: Group
      properties:
        displayName:
          description: >-
            Display name is a user defined name for this group which can be
            updated.
          type: string
        updateTime:
          format: google-datetime
          readOnly: true
          description: Output only. The update time timestamp.
          type: string
        name:
          description: Output only. The Group name.
          readOnly: true
          type: string
        description:
          type: string
          description: User-provided description of the group.
        createTime:
          readOnly: true
          format: google-datetime
          type: string
          description: Output only. The create time timestamp.
    AwsDiskDetails:
      id: AwsDiskDetails
      type: object
      description: The details of an AWS instance disk.
      properties:
        diskNumber:
          description: The ordinal number of the disk.
          format: int32
          type: integer
        volumeId:
          description: AWS volume ID.
          type: string
        sizeGb:
          description: Size in GB.
          format: int64
          type: string
    AddGroupMigrationRequest:
      id: AddGroupMigrationRequest
      type: object
      properties:
        migratingVm:
          description: The full path name of the MigratingVm to add.
          type: string
      description: Request message for 'AddGroupMigration' request.
    InstantiatingMigratedVMStep:
      type: object
      id: InstantiatingMigratedVMStep
      properties: {}
      description: InstantiatingMigratedVMStep contains specific step details.
    DatacenterConnector:
      properties:
        applianceInfrastructureVersion:
          description: >-
            Output only. Appliance OVA version. This is the OVA which is
            manually installed by the user and contains the infrastructure for
            the automatically updatable components on the appliance.
          type: string
          readOnly: true
        createTime:
          readOnly: true
          description: >-
            Output only. The time the connector was created (as an API call, not
            when it was actually installed).
          format: google-datetime
          type: string
        updateTime:
          type: string
          description: >-
            Output only. The last time the connector was updated with an API
            call.
          readOnly: true
          format: google-datetime
        upgradeStatus:
          $ref: '#/components/schemas/UpgradeStatus'
          readOnly: true
          description: >-
            Output only. The status of the current / last upgradeAppliance
            operation.
        serviceAccount:
          type: string
          description: >-
            The service account to use in the connector when communicating with
            the cloud.
        applianceSoftwareVersion:
          description: >-
            Output only. Appliance last installed update bundle version. This is
            the version of the automatically updatable components on the
            appliance.
          readOnly: true
          type: string
        state:
          description: >-
            Output only. State of the DatacenterConnector, as determined by the
            health checks.
          readOnly: true
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - OFFLINE
            - FAILED
            - ACTIVE
          enumDescriptions:
            - >-
              The state is unknown. This is used for API compatibility only and
              is not used by the system.
            - The state was not sampled by the health checks yet.
            - The source was sampled by health checks and is not available.
            - >-
              The source is available but might not be usable yet due to
              unvalidated credentials or another reason. The credentials
              referred to are the ones to the Source. The error message will
              contain further details.
            - The source exists and its credentials were verified.
          type: string
        version:
          description: >-
            The version running in the DatacenterConnector. This is supplied by
            the OVA connector during the registration process and can not be
            modified.
          type: string
        stateTime:
          readOnly: true
          description: Output only. The time the state was last set.
          type: string
          format: google-datetime
        error:
          readOnly: true
          description: >-
            Output only. Provides details on the state of the Datacenter
            Connector in case of an error.
          $ref: '#/components/schemas/Status'
        name:
          readOnly: true
          type: string
          description: Output only. The connector's name.
        availableVersions:
          $ref: '#/components/schemas/AvailableUpdates'
          readOnly: true
          description: Output only. The available versions for updating this appliance.
        registrationId:
          type: string
          description: >-
            Immutable. A unique key for this connector. This key is internal to
            the OVA connector and is supplied with its creation during the
            registration process and can not be modified.
        bucket:
          type: string
          readOnly: true
          description: >-
            Output only. The communication channel between the datacenter
            connector and Google Cloud.
      description: >-
        DatacenterConnector message describes a connector between the Source and
        Google Cloud, which is installed on a vmware datacenter (an OVA vm
        installed by the user) to connect the Datacenter to Google Cloud and
        support vm migration data transfer.
      type: object
      id: DatacenterConnector
    ListUtilizationReportsResponse:
      id: ListUtilizationReportsResponse
      properties:
        unreachable:
          description: Output only. Locations that could not be reached.
          items:
            type: string
          type: array
          readOnly: true
        utilizationReports:
          items:
            $ref: '#/components/schemas/UtilizationReport'
          type: array
          description: Output only. The list of reports.
          readOnly: true
        nextPageToken:
          readOnly: true
          type: string
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
      type: object
      description: Response message for 'ListUtilizationReports' request.
    ListDatacenterConnectorsResponse:
      type: object
      properties:
        datacenterConnectors:
          type: array
          items:
            $ref: '#/components/schemas/DatacenterConnector'
          description: Output only. The list of sources response.
          readOnly: true
        nextPageToken:
          readOnly: true
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
          type: string
        unreachable:
          description: Output only. Locations that could not be reached.
          items:
            type: string
          type: array
          readOnly: true
      description: Response message for 'ListDatacenterConnectors' request.
      id: ListDatacenterConnectorsResponse
    CloneStep:
      properties:
        endTime:
          type: string
          description: The time the step has ended.
          format: google-datetime
        preparingVmDisks:
          $ref: '#/components/schemas/PreparingVMDisksStep'
          description: Preparing VM disks step.
        adaptingOs:
          description: Adapting OS step.
          $ref: '#/components/schemas/AdaptingOSStep'
        startTime:
          description: The time the step has started.
          format: google-datetime
          type: string
        instantiatingMigratedVm:
          $ref: '#/components/schemas/InstantiatingMigratedVMStep'
          description: Instantiating migrated VM step.
      type: object
      id: CloneStep
      description: CloneStep holds information about the clone step progress.
    Operation:
      type: object
      properties:
        name:
          type: string
          description: >-
            The server-assigned name, which is only unique within the same
            service that originally returns it. If you use the default HTTP
            mapping, the `name` should be a resource name ending with
            `operations/{unique_id}`.
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            The error result of the operation in case of failure or
            cancellation.
        done:
          type: boolean
          description: >-
            If the value is `false`, it means the operation is still in
            progress. If `true`, the operation is completed, and either `error`
            or `response` is available.
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
            type: any
          description: >-
            Service-specific metadata associated with the operation. It
            typically contains progress information and common metadata such as
            create time. Some services might not provide such metadata. Any
            method that returns a long-running operation should document the
            metadata type, if any.
          type: object
        response:
          description: >-
            The normal response of the operation in case of success. If the
            original method returns no data on success, such as `Delete`, the
            response is `google.protobuf.Empty`. If the original method is
            standard `Get`/`Create`/`Update`, the response should be the
            resource. For other methods, the response should have the type
            `XxxResponse`, where `Xxx` is the original method name. For example,
            if the original method name is `TakeSnapshot()`, the inferred
            response type is `TakeSnapshotResponse`.
          additionalProperties:
            type: any
            description: Properties of the object. Contains field @type with type URL.
          type: object
      description: >-
        This resource represents a long-running operation that is the result of
        a network API call.
      id: Operation
    UpgradeApplianceRequest:
      properties:
        requestId:
          description: >-
            A request ID to identify requests. Specify a unique request ID so
            that if you must retry your request, the server will know to ignore
            the request if it has already been completed. The server will
            guarantee that for at least 60 minutes after the first request. For
            example, consider a situation where you make an initial request and
            the request times out. If you make the request again with the same
            request ID, the server can check if original operation with the same
            request ID was received, and if so, will ignore the second request.
            This prevents clients from accidentally creating duplicate
            commitments. The request ID must be a valid UUID with the exception
            that zero UUID is not supported
            (00000000-0000-0000-0000-000000000000).
          type: string
      type: object
      description: Request message for 'UpgradeAppliance' request.
      id: UpgradeApplianceRequest
    AwsVmsDetails:
      type: object
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/AwsVmDetails'
          description: The details of the AWS VMs.
      id: AwsVmsDetails
      description: AWSVmsDetails describes VMs in AWS.
    UpgradeStatus:
      description: UpgradeStatus contains information about upgradeAppliance operation.
      type: object
      id: UpgradeStatus
      properties:
        previousVersion:
          description: The version from which we upgraded.
          type: string
        error:
          $ref: '#/components/schemas/Status'
          description: >-
            Provides details on the state of the upgrade operation in case of an
            error.
        version:
          type: string
          description: The version to upgrade to.
        state:
          enum:
            - STATE_UNSPECIFIED
            - RUNNING
            - FAILED
            - SUCCEEDED
          description: The state of the upgradeAppliance operation.
          enumDescriptions:
            - The state was not sampled by the health checks yet.
            - The upgrade has started.
            - The upgrade failed.
            - The upgrade finished successfully.
          type: string
        startTime:
          format: google-datetime
          description: The time the operation was started.
          type: string
    LocalizedMessage:
      type: object
      id: LocalizedMessage
      description: >-
        Provides a localized error message that is safe to return to the user
        which can be attached to an RPC error.
      properties:
        locale:
          type: string
          description: >-
            The locale used following the specification defined at
            https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: "en-US",
            "fr-CH", "es-MX"
        message:
          type: string
          description: The localized error message in the above locale.
    CloneJob:
      type: object
      description: >-
        CloneJob describes the process of creating a clone of a MigratingVM to
        the requested target based on the latest successful uploaded snapshots.
        While the migration cycles of a MigratingVm take place, it is possible
        to verify the uploaded VM can be started in the cloud, by creating a
        clone. The clone can be created without any downtime, and it is created
        using the latest snapshots which are already in the cloud. The cloneJob
        is only responsible for its work, not its products, which means once it
        is finished, it will never touch the instance it created. It will only
        delete it in case of the CloneJob being cancelled or upon failure to
        clone.
      id: CloneJob
      properties:
        targetDetails:
          readOnly: true
          description: >-
            Output only. Details of the VM to create as the target of this clone
            job. Deprecated: Use compute_engine_target_details instead.
          $ref: '#/components/schemas/TargetVMDetails'
        stateTime:
          description: Output only. The time the state was last updated.
          readOnly: true
          type: string
          format: google-datetime
        name:
          readOnly: true
          type: string
          description: Output only. The name of the clone.
        endTime:
          readOnly: true
          description: Output only. The time the clone job was ended.
          format: google-datetime
          type: string
        state:
          readOnly: true
          enumDescriptions:
            - >-
              The state is unknown. This is used for API compatibility only and
              is not used by the system.
            - The clone job has not yet started.
            - The clone job is active and running.
            - The clone job finished with errors.
            - The clone job finished successfully.
            - The clone job was cancelled.
            - The clone job is being cancelled.
            - >-
              OS adaptation is running as part of the clone job to generate
              license.
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - ACTIVE
            - FAILED
            - SUCCEEDED
            - CANCELLED
            - CANCELLING
            - ADAPTING_OS
          type: string
          description: Output only. State of the clone job.
        createTime:
          type: string
          description: >-
            Output only. The time the clone job was created (as an API call, not
            when it was actually created in the target).
          readOnly: true
          format: google-datetime
        computeEngineVmDetails:
          description: >-
            Output only. Details of the VM in Compute Engine. Deprecated: Use
            compute_engine_target_details instead.
          $ref: '#/components/schemas/TargetVMDetails'
          readOnly: true
        error:
          description: >-
            Output only. Provides details for the errors that led to the Clone
            Job's state.
          $ref: '#/components/schemas/Status'
          readOnly: true
        steps:
          type: array
          readOnly: true
          description: Output only. The clone steps list representing its progress.
          items:
            $ref: '#/components/schemas/CloneStep'
        computeEngineTargetDetails:
          readOnly: true
          $ref: '#/components/schemas/ComputeEngineTargetDetails'
          description: Output only. Details of the target VM in Compute Engine.
    VmwareVmsDetails:
      id: VmwareVmsDetails
      properties:
        details:
          description: The details of the vmware VMs.
          items:
            $ref: '#/components/schemas/VmwareVmDetails'
          type: array
      type: object
      description: VmwareVmsDetails describes VMs in vCenter.
    MigrationError:
      type: object
      properties:
        actionItem:
          description: Output only. Suggested action for solving the error.
          $ref: '#/components/schemas/LocalizedMessage'
          readOnly: true
        errorMessage:
          description: Output only. The localized error message.
          $ref: '#/components/schemas/LocalizedMessage'
          readOnly: true
        helpLinks:
          readOnly: true
          items:
            $ref: '#/components/schemas/Link'
          type: array
          description: >-
            Output only. URL(s) pointing to additional information on handling
            the current error.
        errorTime:
          description: Output only. The time the error occurred.
          readOnly: true
          format: google-datetime
          type: string
        code:
          type: string
          description: Output only. The error code.
          enumDescriptions:
            - Default value. This value is not used.
            - Migrate for Compute encountered an unknown error.
            - >-
              Migrate for Compute encountered an error while validating
              replication source health.
            - >-
              Migrate for Compute encountered an error during source data
              operation.
            - >-
              Migrate for Compute encountered an error during target data
              operation.
            - Migrate for Compute encountered an error during OS adaptation.
            - Migrate for Compute encountered an error in clone operation.
            - Migrate for Compute encountered an error in cutover operation.
            - >-
              Migrate for Compute encountered an error during utilization report
              creation.
            - Migrate for Compute encountered an error during appliance upgrade.
          readOnly: true
          enum:
            - ERROR_CODE_UNSPECIFIED
            - UNKNOWN_ERROR
            - SOURCE_VALIDATION_ERROR
            - SOURCE_REPLICATION_ERROR
            - TARGET_REPLICATION_ERROR
            - OS_ADAPTATION_ERROR
            - CLONE_ERROR
            - CUTOVER_ERROR
            - UTILIZATION_REPORT_ERROR
            - APPLIANCE_UPGRADE_ERROR
      description: >-
        Represents migration resource error information that can be used with
        google.rpc.Status message. MigrationError is used to present the user
        with error information in migration operations.
      id: MigrationError
    CancelOperationRequest:
      id: CancelOperationRequest
      properties: {}
      type: object
      description: The request message for Operations.CancelOperation.
    NetworkInterface:
      type: object
      description: NetworkInterface represents a NIC of a VM.
      id: NetworkInterface
      properties:
        network:
          type: string
          description: The network to connect the NIC to.
        internalIp:
          type: string
          description: >-
            The internal IP to define in the NIC. The formats accepted are:
            `ephemeral` \ ipv4 address \ a named address resource full path.
        subnetwork:
          description: The subnetwork to connect the NIC to.
          type: string
        externalIp:
          description: The external IP to define in the NIC.
          type: string
    PostProcessingStep:
      description: PostProcessingStep contains specific step details.
      id: PostProcessingStep
      type: object
      properties: {}
    ComputeEngineTargetDetails:
      description: >-
        ComputeEngineTargetDetails is a collection of details for creating a VM
        in a target Compute Engine project.
      properties:
        labels:
          description: A map of labels to associate with the VM.
          type: object
          additionalProperties:
            type: string
        computeScheduling:
          description: Compute instance scheduling information (if empty default is used).
          $ref: '#/components/schemas/ComputeScheduling'
        vmName:
          description: The name of the VM to create.
          type: string
        machineTypeSeries:
          description: The machine type series to create the VM with.
          type: string
        networkTags:
          type: array
          items:
            type: string
          description: A map of network tags to associate with the VM.
        secureBoot:
          type: boolean
          description: >-
            Defines whether the instance has Secure Boot enabled. This can be
            set to true only if the vm boot option is EFI.
        diskType:
          enumDescriptions:
            - An unspecified disk type. Will be used as STANDARD.
            - A Standard disk type.
            - SSD hard disk type.
            - >-
              An alternative to SSD persistent disks that balance performance
              and cost.
          description: The disk type to use in the VM.
          enum:
            - COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED
            - COMPUTE_ENGINE_DISK_TYPE_STANDARD
            - COMPUTE_ENGINE_DISK_TYPE_SSD
            - COMPUTE_ENGINE_DISK_TYPE_BALANCED
          type: string
        additionalLicenses:
          items:
            type: string
          type: array
          description: Additional licenses to assign to the VM.
        serviceAccount:
          description: The service account to associate the VM with.
          type: string
        project:
          description: The Google Cloud target project ID or project name.
          type: string
        networkInterfaces:
          type: array
          description: List of NICs connected to this VM.
          items:
            $ref: '#/components/schemas/NetworkInterface'
        zone:
          type: string
          description: The zone in which to create the VM.
        appliedLicense:
          description: The OS license returned from the adaptation module report.
          $ref: '#/components/schemas/AppliedLicense'
        licenseType:
          type: string
          enumDescriptions:
            - The license type is the default for the OS.
            - The license type is Pay As You Go license type.
            - The license type is Bring Your Own License type.
          description: The license type to use in OS adaptation.
          enum:
            - COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT
            - COMPUTE_ENGINE_LICENSE_TYPE_PAYG
            - COMPUTE_ENGINE_LICENSE_TYPE_BYOL
        hostname:
          description: The hostname to assign to the VM.
          type: string
        machineType:
          description: The machine type to create the VM with.
          type: string
        bootOption:
          type: string
          enum:
            - COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED
            - COMPUTE_ENGINE_BOOT_OPTION_EFI
            - COMPUTE_ENGINE_BOOT_OPTION_BIOS
          description: The VM Boot Option, as set in the source vm.
          enumDescriptions:
            - The boot option is unknown.
            - The boot option is EFI.
            - The boot option is BIOS.
        metadata:
          type: object
          description: The metadata key/value pairs to assign to the VM.
          additionalProperties:
            type: string
      id: ComputeEngineTargetDetails
      type: object
    ListTargetProjectsResponse:
      id: ListTargetProjectsResponse
      properties:
        unreachable:
          readOnly: true
          type: array
          description: Output only. Locations that could not be reached.
          items:
            type: string
        targetProjects:
          readOnly: true
          description: Output only. The list of target response.
          type: array
          items:
            $ref: '#/components/schemas/TargetProject'
        nextPageToken:
          type: string
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
          readOnly: true
      type: object
      description: Response message for 'ListTargetProjects' call.
    ComputeScheduling:
      type: object
      description: >-
        Scheduling information for VM on maintenance/restart behaviour and node
        allocation in sole tenant nodes.
      properties:
        nodeAffinities:
          description: >-
            A set of node affinity and anti-affinity configurations for sole
            tenant nodes.
          items:
            $ref: '#/components/schemas/SchedulingNodeAffinity'
          type: array
        onHostMaintenance:
          type: string
          enum:
            - ON_HOST_MAINTENANCE_UNSPECIFIED
            - TERMINATE
            - MIGRATE
          enumDescriptions:
            - An unknown, unexpected behavior.
            - >-
              Terminate the instance when the host machine undergoes
              maintenance.
            - Migrate the instance when the host machine undergoes maintenance.
          description: >-
            How the instance should behave when the host machine undergoes
            maintenance that may temporarily impact instance performance.
        automaticRestart:
          type: boolean
        restartType:
          enum:
            - RESTART_TYPE_UNSPECIFIED
            - AUTOMATIC_RESTART
            - NO_AUTOMATIC_RESTART
          type: string
          description: >-
            Whether the Instance should be automatically restarted whenever it
            is terminated by Compute Engine (not terminated by user). This
            configuration is identical to `automaticRestart` field in Compute
            Engine create instance under scheduling. It was changed to an enum
            (instead of a boolean) to match the default value in Compute Engine
            which is automatic restart.
          enumDescriptions:
            - Unspecified behavior. This will use the default.
            - >-
              The Instance should be automatically restarted whenever it is
              terminated by Compute Engine.
            - >-
              The Instance isn't automatically restarted whenever it is
              terminated by Compute Engine.
        minNodeCpus:
          type: integer
          format: int32
          description: >-
            The minimum number of virtual CPUs this instance will consume when
            running on a sole-tenant node. Ignored if no node_affinites are
            configured.
      id: ComputeScheduling
    AdaptingOSStep:
      id: AdaptingOSStep
      type: object
      properties: {}
      description: AdaptingOSStep contains specific step details.
    CancelCutoverJobRequest:
      id: CancelCutoverJobRequest
      properties: {}
      type: object
      description: Request message for 'CancelCutoverJob' request.
    ListCutoverJobsResponse:
      properties:
        unreachable:
          readOnly: true
          description: Output only. Locations that could not be reached.
          type: array
          items:
            type: string
        nextPageToken:
          type: string
          description: >-
            Output only. A token, which can be sent as `page_token` to retrieve
            the next page. If this field is omitted, there are no subsequent
            pages.
          readOnly: true
        cutoverJobs:
          type: array
          description: Output only. The list of cutover jobs response.
          readOnly: true
          items:
            $ref: '#/components/schemas/CutoverJob'
      description: Response message for 'ListCutoverJobs' request.
      id: ListCutoverJobsResponse
      type: object
    StartMigrationRequest:
      id: StartMigrationRequest
      type: object
      properties: {}
      description: Request message for 'StartMigrationRequest' request.
    ApplianceVersion:
      id: ApplianceVersion
      description: Describes an appliance version.
      properties:
        version:
          type: string
          description: The appliance version.
        critical:
          type: boolean
          description: >-
            Determine whether it's critical to upgrade the appliance to this
            version.
        releaseNotesUri:
          description: Link to a page that contains the version release notes.
          type: string
        uri:
          type: string
          description: A link for downloading the version.
      type: object
    ComputeEngineTargetDefaults:
      description: >-
        ComputeEngineTargetDefaults is a collection of details for creating a VM
        in a target Compute Engine project.
      properties:
        serviceAccount:
          type: string
          description: The service account to associate the VM with.
        secureBoot:
          type: boolean
          description: >-
            Defines whether the instance has Secure Boot enabled. This can be
            set to true only if the vm boot option is EFI.
        zone:
          description: The zone in which to create the VM.
          type: string
        labels:
          additionalProperties:
            type: string
          type: object
          description: A map of labels to associate with the VM.
        networkInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/NetworkInterface'
          description: List of NICs connected to this VM.
        hostname:
          description: The hostname to assign to the VM.
          type: string
        targetProject:
          type: string
          description: >-
            The full path of the resource of type TargetProject which represents
            the Compute Engine project in which to create this VM.
        machineType:
          type: string
          description: The machine type to create the VM with.
        appliedLicense:
          readOnly: true
          description: >-
            Output only. The OS license returned from the adaptation module
            report.
          $ref: '#/components/schemas/AppliedLicense'
        machineTypeSeries:
          description: The machine type series to create the VM with.
          type: string
        bootOption:
          description: Output only. The VM Boot Option, as set in the source vm.
          type: string
          enum:
            - COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED
            - COMPUTE_ENGINE_BOOT_OPTION_EFI
            - COMPUTE_ENGINE_BOOT_OPTION_BIOS
          enumDescriptions:
            - The boot option is unknown.
            - The boot option is EFI.
            - The boot option is BIOS.
          readOnly: true
        diskType:
          enumDescriptions:
            - An unspecified disk type. Will be used as STANDARD.
            - A Standard disk type.
            - SSD hard disk type.
            - >-
              An alternative to SSD persistent disks that balance performance
              and cost.
          enum:
            - COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED
            - COMPUTE_ENGINE_DISK_TYPE_STANDARD
            - COMPUTE_ENGINE_DISK_TYPE_SSD
            - COMPUTE_ENGINE_DISK_TYPE_BALANCED
          type: string
          description: The disk type to use in the VM.
        networkTags:
          items:
            type: string
          description: A map of network tags to associate with the VM.
          type: array
        metadata:
          type: object
          description: The metadata key/value pairs to assign to the VM.
          additionalProperties:
            type: string
        additionalLicenses:
          type: array
          description: Additional licenses to assign to the VM.
          items:
            type: string
        computeScheduling:
          description: Compute instance scheduling information (if empty default is used).
          $ref: '#/components/schemas/ComputeScheduling'
        licenseType:
          description: The license type to use in OS adaptation.
          enum:
            - COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT
            - COMPUTE_ENGINE_LICENSE_TYPE_PAYG
            - COMPUTE_ENGINE_LICENSE_TYPE_BYOL
          enumDescriptions:
            - The license type is the default for the OS.
            - The license type is Pay As You Go license type.
            - The license type is Bring Your Own License type.
          type: string
        vmName:
          type: string
          description: The name of the VM to create.
      type: object
      id: ComputeEngineTargetDefaults
  parameters:
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/cloud-platform: >-
              See, edit, configure, and delete your Google Cloud data and see
              the email address for your Google Account.
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1alpha1/projects/{projectsId}/locations/{locationsId}:
    parameters: &ref_1
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/uploadType'
    get:
      description: Gets information about a location.
      operationId: vmmigration.projects.locations.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: locations
      x-stackQL-verb: select
  /v1alpha1/projects/{projectsId}/locations:
    parameters: *ref_1
    get:
      description: Lists information about the supported locations for this service.
      operationId: vmmigration.projects.locations.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: locations
      x-stackQL-verb: select
  /v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel:
    parameters: *ref_1
    post:
      description: >-
        Starts asynchronous cancellation on a long-running operation. The server
        makes a best effort to cancel the operation, but success is not
        guaranteed. If the server doesn't support this method, it returns
        `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation
        or other methods to check whether the cancellation succeeded or whether
        the operation completed despite cancellation. On successful
        cancellation, the operation is not deleted; instead, it becomes an
        operation with an Operation.error value with a google.rpc.Status.code of
        1, corresponding to `Code.CANCELLED`.
      operationId: vmmigration.projects.locations.operations.cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOperationRequest'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
[...]
