openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Blogger API
  description: >-
    The Blogger API provides access to posts, comments and pages of a Blogger
    blog.
  version: v3
  x-discovery-doc-revision: '20230622'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/blogger/docs/3.0/getting_started
servers:
  - url: https://blogger.googleapis.com
components:
  schemas:
    Page:
      properties:
        content:
          description: The body content of this Page, in HTML.
          type: string
        id:
          type: string
          description: The identifier for this resource.
        selfLink:
          type: string
          description: The API REST URL to fetch this resource from.
        author:
          type: object
          description: The author of this Page.
          properties:
            displayName:
              type: string
              description: The display name.
            image:
              properties:
                url:
                  description: The creator's avatar URL.
                  type: string
              type: object
              description: The creator's avatar.
            url:
              type: string
              description: The URL of the creator's Profile page.
            id:
              description: The identifier of the creator.
              type: string
        updated:
          type: string
          description: RFC 3339 date-time when this Page was last updated.
        title:
          description: >-
            The title of this entity. This is the name displayed in the Admin
            user interface.
          type: string
        trashed:
          description: RFC 3339 date-time when this Page was trashed.
          type: string
        kind:
          description: The kind of this entity. Always blogger#page.
          type: string
        etag:
          type: string
          description: Etag of the resource.
        blog:
          description: Data about the blog containing this Page.
          properties:
            id:
              description: The identifier of the blog containing this page.
              type: string
          type: object
        published:
          type: string
          description: RFC 3339 date-time when this Page was published.
        status:
          type: string
          description: The status of the page for admin resources (either LIVE or DRAFT).
          enumDescriptions:
            - ''
            - ''
            - ''
          enum:
            - LIVE
            - DRAFT
            - SOFT_TRASHED
        url:
          type: string
          description: The URL that this Page is displayed at.
      id: Page
      type: object
    User:
      id: User
      type: object
      properties:
        url:
          description: The user's profile page.
          type: string
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        displayName:
          type: string
          description: The display name.
        about:
          description: Profile summary information.
          type: string
        blogs:
          description: The container of blogs for this user.
          type: object
          properties:
            selfLink:
              type: string
              description: The URL of the Blogs for this user.
        created:
          description: >-
            The timestamp of when this profile was created, in seconds since
            epoch.
          type: string
        id:
          description: The identifier for this User.
          type: string
        locale:
          type: object
          properties:
            country:
              description: The country this blog's locale is set to.
              type: string
            language:
              type: string
              description: The language this blog is authored in.
            variant:
              type: string
              description: The language variant this blog is authored in.
          description: This user's locale
        kind:
          description: The kind of this entity. Always blogger#user.
          type: string
    CommentList:
      properties:
        etag:
          description: Etag of the response.
          type: string
        items:
          description: The List of Comments for a Post.
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        prevPageToken:
          type: string
          description: Pagination token to fetch the previous page, if one exists.
        kind:
          description: The kind of this entry. Always blogger#commentList.
          type: string
        nextPageToken:
          type: string
          description: Pagination token to fetch the next page, if one exists.
      id: CommentList
      type: object
    Post:
      id: Post
      type: object
      properties:
        readerComments:
          type: string
          description: Comment control and display setting for readers of this post.
          enumDescriptions:
            - ''
            - ''
            - ''
          enum:
            - ALLOW
            - DONT_ALLOW_SHOW_EXISTING
            - DONT_ALLOW_HIDE_EXISTING
        titleLink:
          type: string
          description: The title link URL, similar to atom's related link.
        author:
          properties:
            url:
              description: The URL of the creator's Profile page.
              type: string
            id:
              description: The identifier of the creator.
              type: string
            displayName:
              description: The display name.
              type: string
            image:
              description: The creator's avatar.
              type: object
              properties:
                url:
                  type: string
                  description: The creator's avatar URL.
          type: object
          description: The author of this Post.
        url:
          type: string
          description: The URL where this Post is displayed.
        location:
          properties:
            lat:
              description: Location's latitude.
              format: double
              type: number
            span:
              description: >-
                Location's viewport span. Can be used when rendering a map
                preview.
              type: string
            lng:
              type: number
              format: double
              description: Location's longitude.
            name:
              description: Location name.
              type: string
          description: The location for geotagged posts.
          type: object
        replies:
          type: object
          description: The container of comments on this Post.
          properties:
            items:
              description: The List of Comments for this Post.
              items:
                $ref: '#/components/schemas/Comment'
              type: array
            selfLink:
              type: string
              description: The URL of the comments on this post.
            totalItems:
              format: int64
              type: string
              description: The count of comments on this post.
        customMetaData:
          description: The JSON meta-data for the Post.
          type: string
        images:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
          description: Display image for the Post.
        blog:
          properties:
            id:
              type: string
              description: The identifier of the Blog that contains this Post.
          type: object
          description: Data about the blog containing this Post.
        title:
          description: The title of the Post.
          type: string
        updated:
          type: string
          description: RFC 3339 date-time when this Post was last updated.
        status:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          description: Status of the post. Only set for admin-level requests.
          enum:
            - LIVE
            - DRAFT
            - SCHEDULED
            - SOFT_TRASHED
          type: string
        labels:
          type: array
          items:
            type: string
          description: The list of labels this Post was tagged with.
        trashed:
          description: RFC 3339 date-time when this Post was last trashed.
          type: string
        published:
          description: RFC 3339 date-time when this Post was published.
          type: string
        id:
          type: string
          description: The identifier of this Post.
        kind:
          description: The kind of this entity. Always blogger#post.
          type: string
        content:
          type: string
          description: The content of the Post. May contain HTML markup.
        selfLink:
          type: string
          description: The API REST URL to fetch this resource from.
        etag:
          type: string
          description: Etag of the resource.
    PostList:
      type: object
      properties:
        prevPageToken:
          description: Pagination token to fetch the previous page, if one exists.
          type: string
        kind:
          type: string
          description: The kind of this entity. Always blogger#postList.
        etag:
          type: string
          description: Etag of the response.
        items:
          items:
            $ref: '#/components/schemas/Post'
          type: array
          description: The list of Posts for this Blog.
        nextPageToken:
          type: string
          description: Pagination token to fetch the next page, if one exists.
      id: PostList
    BlogUserInfo:
      type: object
      properties:
        blog:
          $ref: '#/components/schemas/Blog'
          description: The Blog resource.
        blog_user_info:
          $ref: '#/components/schemas/BlogPerUserInfo'
          description: Information about a User for the Blog.
        kind:
          description: The kind of this entity. Always blogger#blogUserInfo.
          type: string
      id: BlogUserInfo
    PostUserInfo:
      properties:
        kind:
          type: string
          description: The kind of this entity. Always blogger#postUserInfo.
        post:
          $ref: '#/components/schemas/Post'
          description: The Post resource.
        post_user_info:
          $ref: '#/components/schemas/PostPerUserInfo'
          description: Information about a User for the Post.
      id: PostUserInfo
      type: object
    BlogList:
      properties:
        items:
          description: The list of Blogs this user has Authorship or Admin rights over.
          items:
            $ref: '#/components/schemas/Blog'
          type: array
        blogUserInfos:
          items:
            $ref: '#/components/schemas/BlogUserInfo'
          type: array
          description: Admin level list of blog per-user information.
        kind:
          type: string
          description: The kind of this entity. Always blogger#blogList.
      type: object
      id: BlogList
    Comment:
      id: Comment
      type: object
      properties:
        kind:
          type: string
          description: The kind of this entry. Always blogger#comment.
        content:
          type: string
          description: The actual content of the comment. May include HTML markup.
        post:
          type: object
          description: Data about the post containing this comment.
          properties:
            id:
              description: The identifier of the post containing this comment.
              type: string
        status:
          description: The status of the comment (only populated for admin users).
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          enum:
            - LIVE
            - EMPTIED
            - PENDING
            - SPAM
        updated:
          type: string
          description: RFC 3339 date-time when this comment was last updated.
        inReplyTo:
          properties:
            id:
              type: string
              description: The identified of the parent of this comment.
          type: object
          description: Data about the comment this is in reply to.
        id:
          type: string
          description: The identifier for this resource.
        selfLink:
          type: string
          description: The API REST URL to fetch this resource from.
        blog:
          type: object
          properties:
            id:
              description: The identifier of the blog containing this comment.
              type: string
          description: Data about the blog containing this comment.
        published:
          type: string
          description: RFC 3339 date-time when this comment was published.
        author:
          properties:
            displayName:
              description: The display name.
              type: string
            id:
              type: string
              description: The identifier of the creator.
            image:
              properties:
                url:
                  description: The creator's avatar URL.
                  type: string
              type: object
              description: The creator's avatar.
            url:
              description: The URL of the creator's Profile page.
              type: string
          description: The author of this Comment.
          type: object
    PostPerUserInfo:
      type: object
      id: PostPerUserInfo
      properties:
        userId:
          description: ID of the User.
          type: string
        kind:
          description: The kind of this entity. Always blogger#postPerUserInfo.
          type: string
        postId:
          description: ID of the Post resource.
          type: string
        hasEditAccess:
          description: True if the user has Author level access to the post.
          type: boolean
        blogId:
          type: string
          description: ID of the Blog that the post resource belongs to.
    PageList:
      type: object
      id: PageList
      properties:
        kind:
          description: The kind of this entity. Always blogger#pageList.
          type: string
        etag:
          description: Etag of the response.
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Page'
          description: The list of Pages for a Blog.
        nextPageToken:
          type: string
          description: Pagination token to fetch the next page, if one exists.
    PostUserInfosList:
      id: PostUserInfosList
      properties:
        kind:
          type: string
          description: The kind of this entity. Always blogger#postList.
        nextPageToken:
          description: Pagination token to fetch the next page, if one exists.
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/PostUserInfo'
          description: The list of Posts with User information for the post, for this Blog.
      type: object
    Blog:
      properties:
        customMetaData:
          description: The JSON custom meta-data for the Blog.
          type: string
        pages:
          description: The container of pages in this blog.
          type: object
          properties:
            totalItems:
              description: The count of pages in this blog.
              format: int32
              type: integer
            selfLink:
              type: string
              description: The URL of the container for pages in this blog.
        locale:
          type: object
          properties:
            country:
              type: string
              description: The country this blog's locale is set to.
            language:
              description: The language this blog is authored in.
              type: string
            variant:
              type: string
              description: The language variant this blog is authored in.
          description: The locale this Blog is set to.
        updated:
          type: string
          description: RFC 3339 date-time when this blog was last updated.
        published:
          description: RFC 3339 date-time when this blog was published.
          type: string
        status:
          type: string
          enumDescriptions:
            - ''
            - ''
          description: The status of the blog.
          enum:
            - LIVE
            - DELETED
        url:
          type: string
          description: The URL where this blog is published.
        description:
          type: string
          description: >-
            The description of this blog. This is displayed underneath the
            title.
        kind:
          type: string
          description: The kind of this entry. Always blogger#blog.
        selfLink:
          description: The API REST URL to fetch this resource from.
          type: string
        id:
          type: string
          description: The identifier for this resource.
        name:
          type: string
          description: The name of this blog. This is displayed as the title.
        posts:
          type: object
          description: The container of posts in this blog.
          properties:
            totalItems:
              format: int32
              type: integer
              description: The count of posts in this blog.
            items:
              description: The List of Posts for this Blog.
              type: array
              items:
                $ref: '#/components/schemas/Post'
            selfLink:
              type: string
              description: The URL of the container for posts in this blog.
      type: object
      id: Blog
    Pageviews:
      type: object
      id: Pageviews
      properties:
        counts:
          items:
            properties:
              count:
                type: string
                format: int64
                description: Count of page views for the given time range.
              timeRange:
                enum:
                  - ALL_TIME
                  - THIRTY_DAYS
                  - SEVEN_DAYS
                type: string
                description: Time range the given count applies to.
                enumDescriptions:
                  - ''
                  - ''
                  - ''
            type: object
          description: The container of posts in this blog.
          type: array
        blogId:
          type: string
          description: Blog Id.
        kind:
          description: The kind of this entry. Always blogger#page_views.
          type: string
    BlogPerUserInfo:
      properties:
        hasAdminAccess:
          type: boolean
          description: True if the user has Admin level access to the blog.
        blogId:
          description: ID of the Blog resource.
          type: string
        photosAlbumKey:
          type: string
          description: The Photo Album Key for the user when adding photos to the blog.
        kind:
          description: The kind of this entity. Always blogger#blogPerUserInfo.
          type: string
        userId:
          description: ID of the User.
          type: string
        role:
          description: >-
            Access permissions that the user has for the blog (ADMIN, AUTHOR, or
            READER).
          enum:
            - VIEW_TYPE_UNSPECIFIED
            - READER
            - AUTHOR
            - ADMIN
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
      id: BlogPerUserInfo
      type: object
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/blogger: Manage your Blogger account
            https://www.googleapis.com/auth/blogger.readonly: View your Blogger account
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v3/blogs/{blogId}/pageviews:
    parameters: &ref_1
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
    get:
      description: Gets page views by blog id.
      operationId: blogger.pageViews.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pageviews'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: range
          schema:
            type: string
      x-stackQL-resource: page_views
      x-stackQL-verb: select
  /v3/blogs/{blogId}/posts/{postId}/comments:
    parameters: *ref_1
    get:
      description: Lists comments.
      operationId: blogger.comments.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentList'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: fetchBodies
          schema:
            type: boolean
        - in: query
          name: view
          schema:
            type: string
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: maxResults
          schema:
            type: integer
        - in: query
          name: status
          schema:
            type: string
      x-stackQL-resource: comments
      x-stackQL-verb: select
  /v3/blogs/{blogId}/posts/{postId}/comments/{commentId}:
    parameters: *ref_1
    delete:
      description: Deletes a comment by blog id, post id and comment id.
      operationId: blogger.comments.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          required: true
          schema:
            type: string
      x-stackQL-resource: comments
      x-stackQL-verb: delete
    get:
      description: Gets a comment by id.
      operationId: blogger.comments.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          required: true
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
      x-stackQL-resource: comments
      x-stackQL-verb: select
  /v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/approve:
    parameters: *ref_1
    post:
      description: Marks a comment as not spam by blog id, post id and comment id.
      operationId: blogger.comments.approve
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          required: true
          schema:
            type: string
      x-stackQL-resource: comments
      x-stackQL-verb: exec
  /v3/blogs/{blogId}/comments:
    parameters: *ref_1
    get:
      description: Lists comments by blog.
      operationId: blogger.comments.listByBlog
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentList'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: maxResults
          schema:
            type: integer
        - in: query
          name: fetchBodies
          schema:
            type: boolean
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
      x-stackQL-resource: comments__by_blog
      x-stackQL-verb: select
  /v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/spam:
    parameters: *ref_1
    post:
      description: Marks a comment as spam by blog id, post id and comment id.
      operationId: blogger.comments.markAsSpam
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          required: true
          schema:
            type: string
      x-stackQL-resource: comments
      x-stackQL-verb: exec
  /v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/removecontent:
    parameters: *ref_1
    post:
      description: Removes the content of a comment by blog id, post id and comment id.
      operationId: blogger.comments.removeContent
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: path
          name: commentId
          required: true
          schema:
            type: string
      x-stackQL-resource: comments__content
      x-stackQL-verb: delete
  /v3/blogs/{blogId}/posts/{postId}:
    parameters: *ref_1
    patch:
      description: Patches a post.
      operationId: blogger.posts.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Post'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: query
          name: fetchBody
          schema:
            type: boolean
        - in: query
          name: revert
          schema:
            type: boolean
        - in: query
          name: publish
          schema:
            type: boolean
        - in: query
          name: maxComments
          schema:
            type: integer
        - in: query
          name: fetchImages
          schema:
            type: boolean
      x-stackQL-resource: posts
      x-stackQL-verb: exec
    put:
      description: Updates a post by blog id and post id.
      operationId: blogger.posts.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Post'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: query
          name: revert
          schema:
            type: boolean
        - in: query
          name: publish
          schema:
            type: boolean
        - in: query
          name: fetchImages
          schema:
            type: boolean
        - in: query
          name: fetchBody
          schema:
            type: boolean
        - in: query
          name: maxComments
          schema:
            type: integer
      x-stackQL-resource: posts
      x-stackQL-verb: exec
    get:
      description: Gets a post by blog id and post id
      operationId: blogger.posts.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: query
          name: maxComments
          schema:
            type: integer
        - in: query
          name: fetchImages
          schema:
            type: boolean
        - in: query
          name: fetchBody
          schema:
            type: boolean
        - in: query
          name: view
          schema:
            type: string
      x-stackQL-resource: posts
      x-stackQL-verb: select
    delete:
      description: Deletes a post by blog id and post id.
      operationId: blogger.posts.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: query
          name: useTrash
          schema:
            type: boolean
      x-stackQL-resource: posts
      x-stackQL-verb: delete
  /v3/blogs/{blogId}/posts/{postId}/publish:
    parameters: *ref_1
    post:
      description: Publishes a post.
      operationId: blogger.posts.publish
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: query
          name: publishDate
          schema:
            type: string
      x-stackQL-resource: posts
      x-stackQL-verb: exec
  /v3/blogs/{blogId}/posts/{postId}/revert:
    parameters: *ref_1
    post:
      description: Reverts a published or scheduled post to draft state.
      operationId: blogger.posts.revert
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
      x-stackQL-resource: posts
      x-stackQL-verb: exec
  /v3/blogs/{blogId}/posts:
    parameters: *ref_1
    get:
      description: Lists posts.
      operationId: blogger.posts.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostList'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: sortOption
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: fetchImages
          schema:
            type: boolean
        - in: query
          name: maxResults
          schema:
            type: integer
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: labels
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
        - in: query
          name: fetchBodies
          schema:
            type: boolean
        - in: query
          name: orderBy
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
      x-stackQL-resource: posts
      x-stackQL-verb: select
    post:
      description: Inserts a post.
      operationId: blogger.posts.insert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Post'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: fetchImages
          schema:
            type: boolean
        - in: query
          name: isDraft
          schema:
            type: boolean
        - in: query
          name: fetchBody
          schema:
            type: boolean
      x-stackQL-resource: posts
      x-stackQL-verb: insert
  /v3/blogs/{blogId}/posts/bypath:
    parameters: *ref_1
    get:
      description: Gets a post by path.
      operationId: blogger.posts.getByPath
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: path
          required: true
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
        - in: query
          name: maxComments
          schema:
            type: integer
      x-stackQL-resource: posts__by_path
      x-stackQL-verb: select
  /v3/blogs/{blogId}/posts/search:
    parameters: *ref_1
    get:
      description: Searches for posts matching given query terms in the specified blog.
      operationId: blogger.posts.search
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostList'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: q
          required: true
          schema:
            type: string
        - in: query
          name: orderBy
          schema:
            type: string
        - in: query
          name: fetchBodies
          schema:
            type: boolean
      x-stackQL-resource: posts
      x-stackQL-verb: exec
  /v3/blogs/{blogId}:
    parameters: *ref_1
    get:
      description: Gets a blog by id.
      operationId: blogger.blogs.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
        - in: query
          name: maxPosts
          schema:
            type: integer
      x-stackQL-resource: blogs
      x-stackQL-verb: select
  /v3/blogs/byurl:
    parameters: *ref_1
    get:
      description: Gets a blog by url.
      operationId: blogger.blogs.getByUrl
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blog'
      parameters:
        - in: query
          name: url
          required: true
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
      x-stackQL-resource: blogs__by_url
      x-stackQL-verb: select
  /v3/users/{userId}/blogs:
    parameters: *ref_1
    get:
      description: Lists blogs by user.
      operationId: blogger.blogs.listByUser
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogList'
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
        - in: query
          name: role
          schema:
            type: string
        - in: query
          name: fetchUserInfo
          schema:
            type: boolean
        - in: query
          name: status
          schema:
            type: string
      x-stackQL-resource: blogs__by_user
      x-stackQL-verb: select
  /v3/blogs/{blogId}/pages/{pageId}:
    parameters: *ref_1
    patch:
      description: Patches a page.
      operationId: blogger.pages.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          required: true
          schema:
            type: string
        - in: query
          name: revert
          schema:
            type: boolean
        - in: query
          name: publish
          schema:
            type: boolean
      x-stackQL-resource: pages
      x-stackQL-verb: exec
    get:
      description: Gets a page by blog id and page id.
      operationId: blogger.pages.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          required: true
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
      x-stackQL-resource: pages
      x-stackQL-verb: select
    delete:
      description: Deletes a page by blog id and page id.
      operationId: blogger.pages.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          required: true
          schema:
            type: string
        - in: query
          name: useTrash
          schema:
            type: boolean
      x-stackQL-resource: pages
      x-stackQL-verb: delete
    put:
      description: Updates a page by blog id and page id.
      operationId: blogger.pages.update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          required: true
          schema:
            type: string
        - in: query
          name: revert
          schema:
            type: boolean
        - in: query
          name: publish
          schema:
            type: boolean
      x-stackQL-resource: pages
      x-stackQL-verb: exec
  /v3/blogs/{blogId}/pages/{pageId}/publish:
    parameters: *ref_1
    post:
      description: Publishes a page.
      operationId: blogger.pages.publish
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          required: true
          schema:
            type: string
      x-stackQL-resource: pages
      x-stackQL-verb: exec
  /v3/blogs/{blogId}/pages:
    parameters: *ref_1
    post:
      description: Inserts a page.
      operationId: blogger.pages.insert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Page'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: isDraft
          schema:
            type: boolean
      x-stackQL-resource: pages
      x-stackQL-verb: insert
    get:
      description: Lists pages.
      operationId: blogger.pages.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageList'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: maxResults
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: fetchBodies
          schema:
            type: boolean
        - in: query
          name: view
          schema:
            type: string
      x-stackQL-resource: pages
      x-stackQL-verb: select
  /v3/blogs/{blogId}/pages/{pageId}/revert:
    parameters: *ref_1
    post:
      description: Reverts a published or scheduled page to draft state.
      operationId: blogger.pages.revert
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
      parameters:
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: pageId
          required: true
          schema:
            type: string
      x-stackQL-resource: pages
      x-stackQL-verb: exec
  /v3/users/{userId}/blogs/{blogId}/posts/{postId}:
    parameters: *ref_1
    get:
      description: Gets one post and user info pair, by post_id and user_id.
      operationId: blogger.postUserInfos.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUserInfo'
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: path
          name: postId
          required: true
          schema:
            type: string
        - in: query
          name: maxComments
          schema:
            type: integer
      x-stackQL-resource: post_user_infos
      x-stackQL-verb: select
  /v3/users/{userId}/blogs/{blogId}/posts:
    parameters: *ref_1
    get:
      description: Lists post and user info pairs.
      operationId: blogger.postUserInfos.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUserInfosList'
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: view
          schema:
            type: string
        - in: query
          name: fetchBodies
          schema:
            type: boolean
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: orderBy
          schema:
            type: string
        - in: query
          name: maxResults
          schema:
            type: integer
        - in: query
          name: labels
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
      x-stackQL-resource: post_user_infos
      x-stackQL-verb: select
  /v3/users/{userId}/blogs/{blogId}:
    parameters: *ref_1
    get:
      description: Gets one blog and user info pair by blog id and user id.
      operationId: blogger.blogUserInfos.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogUserInfo'
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
        - in: path
          name: blogId
          required: true
          schema:
            type: string
        - in: query
          name: maxPosts
          schema:
            type: integer
      x-stackQL-resource: blog_user_infos
      x-stackQL-verb: select
  /v3/users/{userId}:
    parameters: *ref_1
    get:
      description: Gets one user by user_id.
      operationId: blogger.users.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/blogger
          Oauth2c:
            - https://www.googleapis.com/auth/blogger
        - Oauth2:
            - https://www.googleapis.com/auth/blogger.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/blogger.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
      x-stackQL-resource: users
      x-stackQL-verb: select
