openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: YouTube Reporting API
  description: >-
    Schedules reporting jobs containing your YouTube Analytics data and
    downloads the resulting bulk data reports in the form of CSV files.
  version: v1
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/youtube/reporting/v1/reports/
servers:
  - url: https://youtubereporting.googleapis.com
components:
  schemas:
    GdataDiffVersionResponse:
      id: GdataDiffVersionResponse
      description: gdata
      type: object
      properties:
        objectSizeBytes:
          format: int64
          description: gdata
          type: string
        objectVersion:
          description: gdata
          type: string
    ListReportTypesResponse:
      description: Response message for ReportingService.ListReportTypes.
      id: ListReportTypesResponse
      properties:
        reportTypes:
          description: The list of report types.
          type: array
          items:
            $ref: '#/components/schemas/ReportType'
        nextPageToken:
          type: string
          description: >-
            A token to retrieve next page of results. Pass this value in the
            ListReportTypesRequest.page_token field in the subsequent call to
            `ListReportTypes` method to retrieve the next page of results.
      type: object
    GdataMedia:
      properties:
        diffDownloadResponse:
          $ref: '#/components/schemas/GdataDiffDownloadResponse'
          description: gdata
        contentTypeInfo:
          description: gdata
          $ref: '#/components/schemas/GdataContentTypeInfo'
        mediaId:
          description: gdata
          format: byte
          type: string
        filename:
          description: gdata
          type: string
        diffVersionResponse:
          $ref: '#/components/schemas/GdataDiffVersionResponse'
          description: gdata
        compositeMedia:
          description: gdata
          type: array
          items:
            $ref: '#/components/schemas/GdataCompositeMedia'
        downloadParameters:
          $ref: '#/components/schemas/GdataDownloadParameters'
          description: gdata
        token:
          description: gdata
          type: string
        crc32cHash:
          type: integer
          format: uint32
          description: gdata
        diffChecksumsResponse:
          description: gdata
          $ref: '#/components/schemas/GdataDiffChecksumsResponse'
        length:
          format: int64
          description: gdata
          type: string
        blobRef:
          format: byte
          type: string
          description: gdata
        timestamp:
          type: string
          description: gdata
          format: uint64
        hash:
          description: gdata
          type: string
        contentType:
          description: gdata
          type: string
        referenceType:
          enum:
            - PATH
            - BLOB_REF
            - INLINE
            - GET_MEDIA
            - COMPOSITE_MEDIA
            - BIGSTORE_REF
            - DIFF_VERSION_RESPONSE
            - DIFF_CHECKSUMS_RESPONSE
            - DIFF_DOWNLOAD_RESPONSE
            - DIFF_UPLOAD_REQUEST
            - DIFF_UPLOAD_RESPONSE
            - COSMO_BINARY_REFERENCE
            - ARBITRARY_BYTES
          description: gdata
          enumDescriptions:
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
          type: string
        algorithm:
          type: string
          description: gdata
        objectId:
          description: gdata
          $ref: '#/components/schemas/GdataObjectId'
        hashVerified:
          description: gdata
          type: boolean
        sha1Hash:
          format: byte
          description: gdata
          type: string
        isPotentialRetry:
          type: boolean
          description: gdata
        inline:
          description: gdata
          format: byte
          type: string
        path:
          description: gdata
          type: string
        diffUploadRequest:
          $ref: '#/components/schemas/GdataDiffUploadRequest'
          description: gdata
        diffUploadResponse:
          $ref: '#/components/schemas/GdataDiffUploadResponse'
          description: gdata
        blobstore2Info:
          description: gdata
          $ref: '#/components/schemas/GdataBlobstore2Info'
        sha256Hash:
          type: string
          format: byte
          description: gdata
        md5Hash:
          format: byte
          type: string
          description: gdata
        cosmoBinaryReference:
          description: gdata
          format: byte
          type: string
        bigstoreObjectRef:
          description: gdata
          format: byte
          type: string
      description: gdata
      id: GdataMedia
      type: object
    GdataDiffChecksumsResponse:
      type: object
      properties:
        checksumsLocation:
          description: gdata
          $ref: '#/components/schemas/GdataCompositeMedia'
        objectLocation:
          description: gdata
          $ref: '#/components/schemas/GdataCompositeMedia'
        objectVersion:
          type: string
          description: gdata
        objectSizeBytes:
          format: int64
          description: gdata
          type: string
        chunkSizeBytes:
          type: string
          description: gdata
          format: int64
      description: gdata
      id: GdataDiffChecksumsResponse
    Job:
      properties:
        systemManaged:
          description: >-
            True if this a system-managed job that cannot be modified by the
            user; otherwise false.
          type: boolean
        id:
          type: string
          description: The server-generated ID of the job (max. 40 characters).
        name:
          type: string
          description: The name of the job (max. 100 characters).
        expireTime:
          format: google-datetime
          type: string
          description: >-
            The date/time when this job will expire/expired. After a job
            expired, no new reports are generated.
        createTime:
          type: string
          format: google-datetime
          description: The creation date/time of the job.
        reportTypeId:
          description: >-
            The type of reports this job creates. Corresponds to the ID of a
            ReportType.
          type: string
      type: object
      id: Job
      description: A job creating reports of a specific type.
    GdataDiffUploadResponse:
      properties:
        originalObject:
          description: gdata
          $ref: '#/components/schemas/GdataCompositeMedia'
        objectVersion:
          description: gdata
          type: string
      description: gdata
      type: object
      id: GdataDiffUploadResponse
    ListJobsResponse:
      properties:
        jobs:
          type: array
          description: The list of jobs.
          items:
            $ref: '#/components/schemas/Job'
        nextPageToken:
          description: >-
            A token to retrieve next page of results. Pass this value in the
            ListJobsRequest.page_token field in the subsequent call to
            `ListJobs` method to retrieve the next page of results.
          type: string
      type: object
      id: ListJobsResponse
      description: Response message for ReportingService.ListJobs.
    Report:
      properties:
        id:
          type: string
          description: The server-generated ID of the report.
        jobId:
          description: The ID of the job that created this report.
          type: string
        endTime:
          description: >-
            The end of the time period that the report instance covers. The
            value is exclusive.
          type: string
          format: google-datetime
        jobExpireTime:
          type: string
          format: google-datetime
          description: >-
            The date/time when the job this report belongs to will
            expire/expired.
        downloadUrl:
          description: >-
            The URL from which the report can be downloaded (max. 1000
            characters).
          type: string
        createTime:
          type: string
          description: The date/time when this report was created.
          format: google-datetime
        startTime:
          description: >-
            The start of the time period that the report instance covers. The
            value is inclusive.
          type: string
          format: google-datetime
      id: Report
      description: >-
        A report's metadata including the URL from which the report itself can
        be downloaded.
      type: object
    ListReportsResponse:
      description: Response message for ReportingService.ListReports.
      properties:
        reports:
          items:
            $ref: '#/components/schemas/Report'
          description: The list of report types.
          type: array
        nextPageToken:
          type: string
          description: >-
            A token to retrieve next page of results. Pass this value in the
            ListReportsRequest.page_token field in the subsequent call to
            `ListReports` method to retrieve the next page of results.
      type: object
      id: ListReportsResponse
    GdataBlobstore2Info:
      description: gdata
      type: object
      id: GdataBlobstore2Info
      properties:
        uploadMetadataContainer:
          type: string
          description: gdata
          format: byte
        blobGeneration:
          format: int64
          description: gdata
          type: string
        readToken:
          description: gdata
          type: string
        downloadReadHandle:
          format: byte
          description: gdata
          type: string
        blobId:
          type: string
          description: gdata
    Empty:
      properties: {}
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      id: Empty
      type: object
    GdataDiffDownloadResponse:
      description: gdata
      properties:
        objectLocation:
          description: gdata
          $ref: '#/components/schemas/GdataCompositeMedia'
      type: object
      id: GdataDiffDownloadResponse
    GdataObjectId:
      description: gdata
      properties:
        objectName:
          description: gdata
          type: string
        bucketName:
          description: gdata
          type: string
        generation:
          type: string
          description: gdata
          format: int64
      type: object
      id: GdataObjectId
    GdataContentTypeInfo:
      description: gdata
      id: GdataContentTypeInfo
      type: object
      properties:
        fromUrlPath:
          description: gdata
          type: string
        fromBytes:
          description: gdata
          type: string
        fromHeader:
          description: gdata
          type: string
        bestGuess:
          type: string
          description: gdata
        fromFileName:
          type: string
          description: gdata
    GdataCompositeMedia:
      id: GdataCompositeMedia
      type: object
      description: gdata
      properties:
        md5Hash:
          description: gdata
          type: string
          format: byte
        cosmoBinaryReference:
          format: byte
          type: string
          description: gdata
        blobstore2Info:
          $ref: '#/components/schemas/GdataBlobstore2Info'
          description: gdata
        referenceType:
          enum:
            - PATH
            - BLOB_REF
            - INLINE
            - BIGSTORE_REF
            - COSMO_BINARY_REFERENCE
          type: string
          enumDescriptions:
            - gdata
            - gdata
            - gdata
            - gdata
            - gdata
          description: gdata
        crc32cHash:
          format: uint32
          description: gdata
          type: integer
        objectId:
          $ref: '#/components/schemas/GdataObjectId'
          description: gdata
        path:
          type: string
          description: gdata
        sha1Hash:
          type: string
          description: gdata
          format: byte
        inline:
          description: gdata
          type: string
          format: byte
        blobRef:
          type: string
          description: gdata
          format: byte
        length:
          format: int64
          type: string
          description: gdata
    GdataDownloadParameters:
      id: GdataDownloadParameters
      properties:
        allowGzipCompression:
          type: boolean
          description: gdata
        ignoreRange:
          type: boolean
          description: gdata
      description: gdata
      type: object
    GdataDiffUploadRequest:
      description: gdata
      properties:
        objectInfo:
          $ref: '#/components/schemas/GdataCompositeMedia'
          description: gdata
        objectVersion:
          type: string
          description: gdata
        checksumsInfo:
          $ref: '#/components/schemas/GdataCompositeMedia'
          description: gdata
      id: GdataDiffUploadRequest
      type: object
    ReportType:
      properties:
        name:
          type: string
          description: The name of the report type (max. 100 characters).
        id:
          description: The ID of the report type (max. 100 characters).
          type: string
        systemManaged:
          type: boolean
          description: >-
            True if this a system-managed report type; otherwise false.
            Reporting jobs for system-managed report types are created
            automatically and can thus not be used in the `CreateJob` method.
        deprecateTime:
          description: The date/time when this report type was/will be deprecated.
          type: string
          format: google-datetime
      description: A report type.
      type: object
      id: ReportType
  parameters:
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/yt-analytics.readonly: View YouTube Analytics reports for your YouTube content
            https://www.googleapis.com/auth/yt-analytics-monetary.readonly: >-
              View monetary and non-monetary YouTube Analytics reports for your
              YouTube content
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1/jobs:
    parameters: &ref_1
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/access_token'
    post:
      description: Creates a job and returns it.
      operationId: youtubereporting.jobs.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
      parameters:
        - in: query
          name: onBehalfOfContentOwner
          schema:
            type: string
      x-stackQL-resource: jobs
      x-stackQL-verb: insert
    get:
      description: Lists jobs.
      operationId: youtubereporting.jobs.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
      parameters:
        - in: query
          name: onBehalfOfContentOwner
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: includeSystemManaged
          schema:
            type: boolean
      x-stackQL-resource: jobs
      x-stackQL-verb: select
  /v1/jobs/{jobId}:
    parameters: *ref_1
    get:
      description: Gets a job.
      operationId: youtubereporting.jobs.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
        - in: query
          name: onBehalfOfContentOwner
          schema:
            type: string
      x-stackQL-resource: jobs
      x-stackQL-verb: select
    delete:
      description: Deletes a job.
      operationId: youtubereporting.jobs.delete
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
        - in: query
          name: onBehalfOfContentOwner
          schema:
            type: string
      x-stackQL-resource: jobs
      x-stackQL-verb: delete
  /v1/jobs/{jobId}/reports/{reportId}:
    parameters: *ref_1
    get:
      description: Gets the metadata of a specific report.
      operationId: youtubereporting.jobs.reports.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
        - in: path
          name: reportId
          required: true
          schema:
            type: string
        - in: query
          name: onBehalfOfContentOwner
          schema:
            type: string
      x-stackQL-resource: reports
      x-stackQL-verb: select
  /v1/jobs/{jobId}/reports:
    parameters: *ref_1
    get:
      description: >-
        Lists reports created by a specific job. Returns NOT_FOUND if the job
        does not exist.
      operationId: youtubereporting.jobs.reports.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReportsResponse'
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: startTimeAtOrAfter
          schema:
            type: string
        - in: query
          name: startTimeBefore
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: createdAfter
          schema:
            type: string
        - in: query
          name: onBehalfOfContentOwner
          schema:
            type: string
      x-stackQL-resource: reports
      x-stackQL-verb: select
  /v1/reportTypes:
    parameters: *ref_1
    get:
      description: Lists report types.
      operationId: youtubereporting.reportTypes.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReportTypesResponse'
      parameters:
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: includeSystemManaged
          schema:
            type: boolean
        - in: query
          name: onBehalfOfContentOwner
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: report_types
      x-stackQL-verb: select
  /v1/media/{mediaId}:
    parameters: *ref_1
    get:
      description: >-
        Method for media download. Download is supported on the URI
        `/v1/media/{+name}?alt=media`.
      operationId: youtubereporting.media.download
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics-monetary.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/yt-analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/yt-analytics.readonly
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdataMedia'
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: string
      x-stackQL-resource: media
      x-stackQL-verb: exec
