openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Container Analysis API
  description: >-
    An implementation of the Grafeas API, which stores, and enables querying and
    retrieval of critical metadata about all of your software artifacts.
  version: v1beta1
  x-discovery-doc-revision: '20230612'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/container-analysis/api/reference/rest/
servers:
  - url: https://containeranalysis.googleapis.com
components:
  schemas:
    GrafeasV1beta1DiscoveryDetails:
      type: object
      description: Details of a discovery occurrence.
      properties:
        discovered:
          $ref: '#/components/schemas/Discovered'
          description: Required. Analysis status for the discovered resource.
      id: GrafeasV1beta1DiscoveryDetails
    ContaineranalysisGoogleDevtoolsCloudbuildV1Results:
      type: object
      description: Artifacts created by the build pipeline.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1Results
      properties:
        pythonPackages:
          type: array
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage
          description: >-
            Python artifacts uploaded to Artifact Registry at the end of the
            build.
        artifactTiming:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
          description: Time to push all non-container artifacts to Cloud Storage.
        images:
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage
          description: Container images that were built as a part of the build.
          type: array
        npmPackages:
          type: array
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage
          description: Npm packages uploaded to Artifact Registry at the end of the build.
        buildStepImages:
          items:
            type: string
          type: array
          description: >-
            List of build step digests, in the order corresponding to build step
            indices.
        mavenArtifacts:
          type: array
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact
          description: >-
            Maven artifacts uploaded to Artifact Registry at the end of the
            build.
        buildStepOutputs:
          items:
            format: byte
            type: string
          type: array
          description: >-
            List of build step outputs, produced by builder images, in the order
            corresponding to build step indices. [Cloud
            Builders](https://cloud.google.com/cloud-build/docs/cloud-builders)
            can produce this output by writing to `$BUILDER_OUTPUT/output`. Only
            the first 4KB of data is stored.
        numArtifacts:
          description: >-
            Number of non-container artifacts uploaded to Cloud Storage. Only
            populated when artifacts are uploaded to Cloud Storage.
          type: string
          format: int64
        artifactManifest:
          description: >-
            Path to the artifact manifest for non-container artifacts uploaded
            to Cloud Storage. Only populated when artifacts are uploaded to
            Cloud Storage.
          type: string
    Signature:
      type: object
      id: Signature
      description: >-
        Verifiers (e.g. Kritis implementations) MUST verify signatures with
        respect to the trust anchors defined in policy (e.g. a Kritis policy).
        Typically this means that the verifier has been configured with a map
        from `public_key_id` to public key material (and any required
        parameters, e.g. signing algorithm). In particular, verification
        implementations MUST NOT treat the signature `public_key_id` as anything
        more than a key lookup hint. The `public_key_id` DOES NOT validate or
        authenticate a public key; it only provides a mechanism for quickly
        selecting a public key ALREADY CONFIGURED on the verifier through a
        trusted channel. Verification implementations MUST reject signatures in
        any of the following circumstances: * The `public_key_id` is not
        recognized by the verifier. * The public key that `public_key_id` refers
        to does not verify the signature with respect to the payload. The
        `signature` contents SHOULD NOT be "attached" (where the payload is
        included with the serialized `signature` bytes). Verifiers MUST ignore
        any "attached" payload and only verify signatures with respect to
        explicitly provided payload (e.g. a `payload` field on the proto message
        that holds this Signature, or the canonical serialization of the proto
        message that holds this signature).
      properties:
        publicKeyId:
          type: string
          description: >-
            The identifier for the public key that verifies this signature. *
            The `public_key_id` is required. * The `public_key_id` SHOULD be an
            RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD
            be an immutable reference, such as a cryptographic digest. Examples
            of valid `public_key_id`s: OpenPGP V4 public key fingerprint: *
            "openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA" See
            https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for
            more details on this scheme. RFC6920 digest-named
            SubjectPublicKeyInfo (digest of the DER serialization): *
            "ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU" *
            "nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5"
        signature:
          description: >-
            The content of the signature, an opaque bytestring. The payload that
            this signature verifies MUST be unambiguously provided with the
            Signature during verification. A wrapper message might provide the
            payload explicitly. Alternatively, a message might have a canonical
            serialization that can always be unambiguously computed to derive
            the payload.
          type: string
          format: byte
    ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions
      type: object
      description: Optional arguments to enable specific features of builds.
      properties:
        sourceProvenanceHash:
          type: array
          description: Requested hash for SourceProvenance.
          items:
            enumDescriptions:
              - No hash requested.
              - Use a sha256 hash.
              - Use a md5 hash.
              - Use a sha512 hash.
            enum:
              - NONE
              - SHA256
              - MD5
              - SHA512
            type: string
        requestedVerifyOption:
          enumDescriptions:
            - Not a verifiable build (the default).
            - Build must be verified.
          enum:
            - NOT_VERIFIED
            - VERIFIED
          description: Requested verifiability options.
          type: string
        env:
          items:
            type: string
          type: array
          description: >-
            A list of global environment variable definitions that will exist
            for all build steps in this build. If a variable is defined in both
            globally and in a build step, the variable will use the build step
            value. The elements are of the form "KEY=VALUE" for the environment
            variable "KEY" being given the value "VALUE".
        dynamicSubstitutions:
          type: boolean
          description: >-
            Option to specify whether or not to apply bash style string
            operations to the substitutions. NOTE: this is always enabled for
            triggered builds and cannot be overridden in the build configuration
            file.
        volumes:
          type: array
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1Volume
          description: >-
            Global list of volumes to mount for ALL build steps Each volume is
            created as an empty volume prior to starting the build process. Upon
            completion of the build, volumes and their contents are discarded.
            Global volume names and paths cannot conflict with the volumes
            defined a build step. Using a global volume in a build with only one
            step is not valid as it is indicative of a build request with an
            incorrect configuration.
        logging:
          enum:
            - LOGGING_UNSPECIFIED
            - LEGACY
            - GCS_ONLY
            - STACKDRIVER_ONLY
            - CLOUD_LOGGING_ONLY
            - NONE
          type: string
          description: >-
            Option to specify the logging mode, which determines if and where
            build logs are stored.
          enumDescriptions:
            - >-
              The service determines the logging mode. The default is `LEGACY`.
              Do not rely on the default logging behavior as it may change in
              the future.
            - Build logs are stored in Cloud Logging and Cloud Storage.
            - Build logs are stored in Cloud Storage.
            - This option is the same as CLOUD_LOGGING_ONLY.
            - >-
              Build logs are stored in Cloud Logging. Selecting this option will
              not allow [logs
              streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).
            - Turn off all logging. No build logs will be captured.
        secretEnv:
          items:
            type: string
          description: >-
            A list of global environment variables, which are encrypted using a
            Cloud Key Management Service crypto key. These values must be
            specified in the build's `Secret`. These variables will be available
            to all build steps in this build.
          type: array
        pool:
          description: >-
            Optional. Specification for execution on a `WorkerPool`. See
            [running builds in a private
            pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool)
            for more information.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption
        defaultLogsBucketBehavior:
          type: string
          description: Optional. Option to specify how default logs buckets are setup.
          enum:
            - DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED
            - REGIONAL_USER_OWNED_BUCKET
          enumDescriptions:
            - Unspecified.
            - >-
              Bucket is located in user-owned project in the same region as the
              build. The builder service account must have access to create and
              write to GCS buckets in the build project.
        machineType:
          type: string
          enumDescriptions:
            - Standard machine type.
            - Highcpu machine with 8 CPUs.
            - Highcpu machine with 32 CPUs.
            - Highcpu e2 machine with 8 CPUs.
            - Highcpu e2 machine with 32 CPUs.
          description: Compute Engine machine type on which to run the build.
          enum:
            - UNSPECIFIED
            - N1_HIGHCPU_8
            - N1_HIGHCPU_32
            - E2_HIGHCPU_8
            - E2_HIGHCPU_32
        workerPool:
          description: This field deprecated; please use `pool.name` instead.
          type: string
        diskSizeGb:
          type: string
          description: >-
            Requested disk size for the VM that runs the build. Note that this
            is *NOT* "disk free"; some of the space will be used by the
            operating system and build utilities. Also note that this is the
            minimum disk size that will be allocated for the build -- the build
            may run with a larger disk than requested. At present, the maximum
            disk size is 2000GB; builds that request more than the maximum are
            rejected with an error.
          format: int64
        substitutionOption:
          type: string
          enum:
            - MUST_MATCH
            - ALLOW_LOOSE
          description: >-
            Option to specify behavior when there is an error in the
            substitution checks. NOTE: this is always set to ALLOW_LOOSE for
            triggered builds and cannot be overridden in the build configuration
            file.
          enumDescriptions:
            - >-
              Fails the build if error in substitutions checks, like missing a
              substitution in the template or in the map.
            - Do not fail the build if error in substitutions checks.
        logStreamingOption:
          type: string
          description: Option to define build log streaming behavior to Cloud Storage.
          enumDescriptions:
            - Service may automatically determine build log streaming behavior.
            - Build logs should be streamed to Cloud Storage.
            - >-
              Build logs should not be streamed to Cloud Storage; they will be
              written when the build is completed.
          enum:
            - STREAM_DEFAULT
            - STREAM_ON
            - STREAM_OFF
    ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep:
      description: A step in the build pipeline.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep
      properties:
        allowExitCodes:
          items:
            type: integer
            format: int32
          type: array
          description: >-
            Allow this build step to fail without failing the entire build if
            and only if the exit code is one of the specified codes. If
            allow_failure is also specified, this field will take precedence.
        dir:
          description: >-
            Working directory to use when running this step's container. If this
            value is a relative path, it is relative to the build's working
            directory. If this value is absolute, it may be outside the build's
            working directory, in which case the contents of the path may not be
            persisted across build step executions, unless a `volume` for that
            path is specified. If the build specifies a `RepoSource` with `dir`
            and a step with a `dir`, which specifies an absolute path, the
            `RepoSource` `dir` is ignored for the step's execution.
          type: string
        name:
          type: string
          description: >-
            Required. The name of the container image that will run this
            particular build step. If the image is available in the host's
            Docker daemon's cache, it will be run directly. If not, the host
            will attempt to pull the image first, using the builder service
            account's credentials if necessary. The Docker daemon's cache will
            already have the latest versions of all of the officially supported
            build steps
            ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)).
            The Docker daemon will also have cached many of the layers for some
            popular images, like "ubuntu", "debian", but they will be refreshed
            at the time you attempt to use them. If you built an image in a
            previous build step, it will be stored in the host's Docker daemon's
            cache and is available to use as the name for a later build step.
        pullTiming:
          description: >-
            Output only. Stores timing information for pulling this build step's
            builder image only.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
          readOnly: true
        allowFailure:
          description: >-
            Allow this build step to fail without failing the entire build. If
            false, the entire build will fail if this step fails. Otherwise, the
            build will succeed, but this step will still have a failure status.
            Error information will be reported in the failure_detail field.
          type: boolean
        volumes:
          description: >-
            List of volumes to mount into the build step. Each volume is created
            as an empty volume prior to execution of the build step. Upon
            completion of the build, volumes and their contents are discarded.
            Using a named volume in only one step is not valid as it is
            indicative of a build request with an incorrect configuration.
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1Volume
          type: array
        timing:
          readOnly: true
          description: >-
            Output only. Stores timing information for executing this build
            step.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
        env:
          type: array
          description: >-
            A list of environment variable definitions to be used when running a
            step. The elements are of the form "KEY=VALUE" for the environment
            variable "KEY" being given the value "VALUE".
          items:
            type: string
        secretEnv:
          type: array
          items:
            type: string
          description: >-
            A list of environment variables which are encrypted using a Cloud
            Key Management Service crypto key. These values must be specified in
            the build's `Secret`.
        script:
          type: string
          description: >-
            A shell script to be executed in the step. When script is provided,
            the user cannot specify the entrypoint or args.
        entrypoint:
          type: string
          description: >-
            Entrypoint to be used instead of the build step image's default
            entrypoint. If unset, the image's default entrypoint is used.
        status:
          enum:
            - STATUS_UNKNOWN
            - PENDING
            - QUEUED
            - WORKING
            - SUCCESS
            - FAILURE
            - INTERNAL_ERROR
            - TIMEOUT
            - CANCELLED
            - EXPIRED
          type: string
          readOnly: true
          enumDescriptions:
            - Status of the build is unknown.
            - >-
              Build has been created and is pending execution and queuing. It
              has not been queued.
            - Build or step is queued; work has not yet begun.
            - Build or step is being executed.
            - Build or step finished successfully.
            - Build or step failed to complete successfully.
            - Build or step failed due to an internal cause.
            - Build or step took longer than was allowed.
            - Build or step was canceled by a user.
            - Build was enqueued for longer than the value of `queue_ttl`.
          description: >-
            Output only. Status of the build step. At this time, build step
            status is only updated on build completion; step status is not
            updated in real-time as the build progresses.
        id:
          type: string
          description: >-
            Unique identifier for this build step, used in `wait_for` to
            reference this build step as a dependency.
        args:
          description: >-
            A list of arguments that will be presented to the step when it is
            started. If the image used to run the step's container has an
            entrypoint, the `args` are used as arguments to that entrypoint. If
            the image does not define an entrypoint, the first element in args
            is used as the entrypoint, and the remainder will be used as
            arguments.
          type: array
          items:
            type: string
        timeout:
          type: string
          description: >-
            Time limit for executing this build step. If not defined, the step
            has no time limit and will be allowed to continue to run until
            either it completes or the build itself times out.
          format: google-duration
        exitCode:
          format: int32
          description: Output only. Return code from running the step.
          type: integer
          readOnly: true
        waitFor:
          type: array
          items:
            type: string
          description: >-
            The ID(s) of the step(s) that this build step depends on. This build
            step will not start until all the build steps in `wait_for` have
            completed successfully. If `wait_for` is empty, this build step will
            start when all previous build steps in the `Build.Steps` list have
            completed successfully.
      type: object
    GenericSignedAttestation:
      properties:
        signatures:
          items:
            $ref: '#/components/schemas/Signature'
          description: >-
            One or more signatures over `serialized_payload`. Verifier
            implementations should consider this attestation message verified if
            at least one `signature` verifies `serialized_payload`. See
            `Signature` in common.proto for more details on signature structure
            and verification.
          type: array
        contentType:
          enumDescriptions:
            - '`ContentType` is not set.'
            - >-
              Atomic format attestation signature. See
              https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md
              The payload extracted in `plaintext` is a JSON blob conforming to
              the linked schema.
          description: >-
            Type (for example schema) of the attestation payload that was
            signed. The verifier must ensure that the provided type is one that
            the verifier supports, and that the attestation payload is a valid
            instantiation of that type (for example by validating a JSON
            schema).
          type: string
          enum:
            - CONTENT_TYPE_UNSPECIFIED
            - SIMPLE_SIGNING_JSON
        serializedPayload:
          type: string
          description: >-
            The serialized payload that is verified by one or more `signatures`.
            The encoding and semantic meaning of this payload must match what is
            set in `content_type`.
          format: byte
      description: >-
        An attestation wrapper that uses the Grafeas `Signature` message. This
        attestation must define the `serialized_payload` that the `signatures`
        verify and any metadata necessary to interpret that plaintext. The
        signatures should always be over the `serialized_payload` bytestring.
      type: object
      id: GenericSignedAttestation
    GrafeasV1beta1PackageDetails:
      description: Details of a package occurrence.
      properties:
        installation:
          description: Required. Where the package was installed.
          $ref: '#/components/schemas/Installation'
      id: GrafeasV1beta1PackageDetails
      type: object
    Layer:
      type: object
      id: Layer
      properties:
        directive:
          description: >-
            Required. The recovered Dockerfile directive used to construct this
            layer.
          enumDescriptions:
            - Default value for unsupported/missing directive.
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
          type: string
          enum:
            - DIRECTIVE_UNSPECIFIED
            - MAINTAINER
            - RUN
            - CMD
            - LABEL
            - EXPOSE
            - ENV
            - ADD
            - COPY
            - ENTRYPOINT
            - VOLUME
            - USER
            - WORKDIR
            - ARG
            - ONBUILD
            - STOPSIGNAL
            - HEALTHCHECK
            - SHELL
        arguments:
          description: The recovered arguments to the Dockerfile directive.
          type: string
      description: Layer holds metadata specific to a layer of a Docker image.
    SBOMReferenceOccurrence:
      properties:
        payloadType:
          description: >-
            The kind of payload that SbomReferenceIntotoPayload takes. Since
            it's in the intoto format, this value is expected to be
            'application/vnd.in-toto+json'.
          type: string
        payload:
          description: The actual payload that contains the SBOM reference data.
          $ref: '#/components/schemas/SbomReferenceIntotoPayload'
        signatures:
          description: The signatures over the payload.
          type: array
          items:
            $ref: '#/components/schemas/EnvelopeSignature'
      type: object
      id: SBOMReferenceOccurrence
      description: >-
        The occurrence representing an SBOM reference as applied to a specific
        resource. The occurrence follows the DSSE specification. See
        https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for
        more details.
    BatchCreateNotesRequest:
      properties:
        notes:
          type: object
          description: >-
            Required. The notes to create, the key is expected to be the note
            ID. Max allowed length is 1000.
          additionalProperties:
            $ref: '#/components/schemas/Note'
      id: BatchCreateNotesRequest
      type: object
      description: Request to create notes in batch.
    DocumentNote:
      id: DocumentNote
      properties:
        dataLicence:
          description: >-
            Compliance with the SPDX specification includes populating the SPDX
            fields therein with data related to such fields ("SPDX-Metadata")
          type: string
        spdxVersion:
          type: string
          description: >-
            Provide a reference number that can be used to understand how to
            parse and interpret the rest of the file
      type: object
      description: >-
        DocumentNote represents an SPDX Document Creation Information section:
        https://spdx.github.io/spdx-spec/v2.3/document-creation-information/
    AliasContext:
      properties:
        name:
          description: The alias name.
          type: string
        kind:
          enumDescriptions:
            - Unknown.
            - Git tag.
            - Git branch.
            - >-
              Used to specify non-standard aliases. For example, if a Git repo
              has a ref named "refs/foo/bar".
          enum:
            - KIND_UNSPECIFIED
            - FIXED
            - MOVABLE
            - OTHER
          description: The alias kind.
          type: string
      id: AliasContext
      type: object
      description: An alias to a repo revision.
    ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage
      description: >-
        Npm package to upload to Artifact Registry upon successful completion of
        all build steps.
      properties:
        repository:
          description: >-
            Artifact Registry repository, in the form
            "https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY" Npm package in
            the workspace specified by path will be zipped and uploaded to
            Artifact Registry with this location as a prefix.
          type: string
        packagePath:
          type: string
          description: Path to the package.json. e.g. workspace/path/to/package
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource
      type: object
      properties:
        dir:
          description: >-
            Directory, relative to the source root, in which to run the build.
            This must be a relative path. If a step's `dir` is specified and is
            an absolute path, this value is ignored for that step's execution.
          type: string
        revision:
          description: >-
            The revision to fetch from the Git repository such as a branch, a
            tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to
            fetch the revision from the Git repository; therefore make sure that
            the string you provide for `revision` is parsable by the command.
            For information on string values accepted by `git fetch`, see
            https://git-scm.com/docs/gitrevisions#_specifying_revisions. For
            information on `git fetch`, see https://git-scm.com/docs/git-fetch.
          type: string
        url:
          description: >-
            Location of the Git repo to build. This will be used as a `git
            remote`, see https://git-scm.com/docs/git-remote.
          type: string
      description: Location of the source in any accessible Git repository.
    GeneratePackagesSummaryRequest:
      properties: {}
      type: object
      id: GeneratePackagesSummaryRequest
      description: >-
        GeneratePackagesSummaryRequest is the request body for the
        GeneratePackagesSummary API method. It just takes a single name
        argument, referring to the resource.
    TestIamPermissionsResponse:
      properties:
        permissions:
          items:
            type: string
          description: >-
            A subset of `TestPermissionsRequest.permissions` that the caller is
            allowed.
          type: array
      id: TestIamPermissionsResponse
      type: object
      description: Response message for `TestIamPermissions` method.
    GrafeasV1beta1DeploymentDetails:
      description: Details of a deployment occurrence.
      properties:
        deployment:
          $ref: '#/components/schemas/Deployment'
          description: Required. Deployment history for the resource.
      id: GrafeasV1beta1DeploymentDetails
      type: object
    License:
      properties:
        expression:
          description: >-
            Often a single license can be used to represent the licensing terms.
            Sometimes it is necessary to include a choice of one or more
            licenses or some combination of license identifiers. Examples:
            "LGPL-2.1-only OR MIT", "LGPL-2.1-only AND MIT", "GPL-2.0-or-later
            WITH Bison-exception-2.2".
          type: string
        comments:
          description: Comments
          type: string
      type: object
      id: License
      description: License information.
    Vulnerability:
      properties:
        cvssVersion:
          description: CVSS version used to populate cvss_score and severity.
          enumDescriptions:
            - ''
            - ''
            - ''
          enum:
            - CVSS_VERSION_UNSPECIFIED
            - CVSS_VERSION_2
            - CVSS_VERSION_3
          type: string
        cvssScore:
          description: The CVSS score for this vulnerability.
          format: float
          type: number
        severity:
          enumDescriptions:
            - Unknown.
            - Minimal severity.
            - Low severity.
            - Medium severity.
            - High severity.
            - Critical severity.
          type: string
          description: Note provider assigned impact of the vulnerability.
          enum:
            - SEVERITY_UNSPECIFIED
            - MINIMAL
            - LOW
            - MEDIUM
            - HIGH
            - CRITICAL
        details:
          type: array
          description: >-
            All information about the package to specifically identify this
            vulnerability. One entry per (version range and cpe_uri) the package
            vulnerability has manifested in.
          items:
            $ref: '#/components/schemas/Detail'
        cvssV3:
          description: The full description of the CVSS for version 3.
          $ref: '#/components/schemas/CVSSv3'
        windowsDetails:
          type: array
          items:
            $ref: '#/components/schemas/WindowsDetail'
          description: >-
            Windows details get their own format because the information format
            and model don't match a normal detail. Specifically Windows updates
            are done as patches, thus Windows vulnerabilities really are a
            missing package, rather than a package being at an incorrect
            version.
        cwe:
          items:
            type: string
          description: >-
            A list of CWE for this vulnerability. For details, see:
            https://cwe.mitre.org/index.html
          type: array
        cvssV2:
          $ref: '#/components/schemas/CVSS'
          description: The full description of the CVSS for version 2.
        sourceUpdateTime:
          type: string
          description: >-
            The time this information was last changed at the source. This is an
            upstream timestamp from the underlying information source - e.g.
            Ubuntu security tracker.
          format: google-datetime
      id: Vulnerability
      description: >-
        Vulnerability provides metadata about a security vulnerability in a
        Note.
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage:
      description: >-
        Python package to upload to Artifact Registry upon successful completion
        of all build steps. A package can encapsulate multiple objects to be
        uploaded to a single repository.
      properties:
        repository:
          description: >-
            Artifact Registry repository, in the form
            "https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY" Files in the
            workspace matching any path pattern will be uploaded to Artifact
            Registry with this location as a prefix.
          type: string
        paths:
          description: >-
            Path globs used to match files in the build's workspace. For Python/
            Twine, this is usually `dist/*`, and sometimes additionally an
            `.asc` file.
          items:
            type: string
          type: array
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage
      type: object
    DocumentOccurrence:
      properties:
        documentComment:
          description: >-
            A field for creators of the SPDX file content to provide comments to
            the consumers of the SPDX document
          type: string
        creatorComment:
          description: >-
            A field for creators of the SPDX file to provide general comments
            about the creation of the SPDX file or any other relevant comment
            not included in the other fields
          type: string
        licenseListVersion:
          description: >-
            A field for creators of the SPDX file to provide the version of the
            SPDX License List used when the SPDX file was created
          type: string
        creators:
          type: array
          items:
            type: string
          description: >-
            Identify who (or what, in the case of a tool) created the SPDX file.
            If the SPDX file was created by an individual, indicate the person's
            name
        externalDocumentRefs:
          description: >-
            Identify any external SPDX documents referenced within this SPDX
            document
          type: array
          items:
            type: string
        createTime:
          type: string
          description: >-
            Identify when the SPDX file was originally created. The date is to
            be specified according to combined date and time in UTC format as
            specified in ISO 8601 standard
          format: google-datetime
        title:
          description: Identify name of this document as designated by creator
          type: string
        namespace:
          type: string
          description: >-
            Provide an SPDX document specific namespace as a unique absolute
            Uniform Resource Identifier (URI) as specified in RFC-3986, with the
            exception of the ‘#’ delimiter
        id:
          type: string
          description: >-
            Identify the current SPDX document which may be referenced in
            relationships by other files, packages internally and documents
            externally
      id: DocumentOccurrence
      description: >-
        DocumentOccurrence represents an SPDX Document Creation Information
        section:
        https://spdx.github.io/spdx-spec/v2.3/document-creation-information/
      type: object
    Command:
      type: object
      id: Command
      properties:
        name:
          description: >-
            Required. Name of the command, as presented on the command line, or
            if the command is packaged as a Docker container, as presented to
            `docker pull`.
          type: string
        id:
          description: >-
            Optional unique identifier for this command, used in wait_for to
            reference this command as a dependency.
          type: string
        env:
          type: array
          items:
            type: string
          description: Environment variables set before running this command.
        args:
          type: array
          description: Command-line arguments used when executing this command.
          items:
            type: string
        dir:
          description: >-
            Working directory (relative to project source root) used when
            running this command.
          type: string
        waitFor:
          items:
            type: string
          description: The ID(s) of the command(s) that this command depends on.
          type: array
      description: Command describes a step performed as part of the build pipeline.
    Basis:
      properties:
        resourceUrl:
          description: >-
            Required. Immutable. The resource_url for the resource representing
            the basis of associated occurrence images.
          type: string
        fingerprint:
          $ref: '#/components/schemas/Fingerprint'
          description: Required. Immutable. The fingerprint of the base image.
      description: >-
        Basis describes the base image portion (Note) of the DockerImage
        relationship. Linked occurrences are derived from this or an equivalent
        image via: FROM Or an equivalent reference, e.g. a tag of the
        resource_url.
      id: Basis
      type: object
    GitSourceContext:
      type: object
      description: >-
        A GitSourceContext denotes a particular revision in a third party Git
        repository (e.g., GitHub).
      properties:
        url:
          type: string
          description: Git repository URL.
        revisionId:
          type: string
          description: Git commit hash.
      id: GitSourceContext
    ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval:
      type: object
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval
      description: >-
        BuildApproval describes a build's approval configuration, state, and
        result.
      properties:
        config:
          description: Output only. Configuration for manual approval of this build.
          readOnly: true
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig
        result:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult
          description: Output only. Result of manual approval for this Build.
          readOnly: true
        state:
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - APPROVED
            - REJECTED
            - CANCELLED
          description: Output only. The state of this build's approval.
          enumDescriptions:
            - Default enum type. This should not be used.
            - Build approval is pending.
            - Build approval has been approved.
            - Build approval has been rejected.
            - Build was cancelled while it was still pending approval.
          type: string
          readOnly: true
    Details:
      description: Details of an attestation occurrence.
      type: object
      properties:
        attestation:
          $ref: '#/components/schemas/Attestation'
          description: Required. Attestation for the resource.
      id: Details
    ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage
      properties:
        pushTiming:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
          readOnly: true
          description: >-
            Output only. Stores timing information for pushing the specified
            artifact.
        uri:
          description: URI of the uploaded npm package.
          type: string
        fileHashes:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes
          description: Hash types and values of the npm package.
      description: >-
        An npm package uploaded to Artifact Registry using the NpmPackage
        directive.
      type: object
    KnowledgeBase:
      id: KnowledgeBase
      properties:
        url:
          description: >-
            A link to the KB in the Windows update catalog -
            https://www.catalog.update.microsoft.com/
          type: string
        name:
          description: The KB name (generally of the form KB[0-9]+ i.e. KB123456).
          type: string
      type: object
    SBOMReferenceNote:
      properties:
        format:
          description: The format that SBOM takes. E.g. may be spdx, cyclonedx, etc...
          type: string
        version:
          description: >-
            The version of the format that the SBOM takes. E.g. if the format is
            spdx, the version may be 2.3.
          type: string
      id: SBOMReferenceNote
      description: The note representing an SBOM reference.
      type: object
    Binding:
      type: object
      properties:
        members:
          items:
            type: string
          type: array
          description: >-
            Specifies the principals requesting access for a Google Cloud
            resource. `members` can have the following values: * `allUsers`: A
            special identifier that represents anyone who is on the internet;
            with or without a Google account. * `allAuthenticatedUsers`: A
            special identifier that represents anyone who is authenticated with
            a Google account or a service account. Does not include identities
            that come from external identity providers (IdPs) through identity
            federation. * `user:{emailid}`: An email address that represents a
            specific Google account. For example, `alice@example.com` . *
            `serviceAccount:{emailid}`: An email address that represents a
            Google service account. For example,
            `my-other-app@appspot.gserviceaccount.com`. *
            `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:
            An identifier for a [Kubernetes service
            account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).
            For example,
            `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. *
            `group:{emailid}`: An email address that represents a Google group.
            For example, `admins@example.com`. * `domain:{domain}`: The G Suite
            domain (primary) that represents all the users of that domain. For
            example, `google.com` or `example.com`. *
            `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus
            unique identifier) representing a user that has been recently
            deleted. For example, `alice@example.com?uid=123456789012345678901`.
            If the user is recovered, this value reverts to `user:{emailid}` and
            the recovered user retains the role in the binding. *
            `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address
            (plus unique identifier) representing a service account that has
            been recently deleted. For example,
            `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.
            If the service account is undeleted, this value reverts to
            `serviceAccount:{emailid}` and the undeleted service account retains
            the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`:
            An email address (plus unique identifier) representing a Google
            group that has been recently deleted. For example,
            `admins@example.com?uid=123456789012345678901`. If the group is
            recovered, this value reverts to `group:{emailid}` and the recovered
            group retains the role in the binding.
        condition:
          $ref: '#/components/schemas/Expr'
          description: >-
            The condition that is associated with this binding. If the condition
            evaluates to `true`, then this binding applies to the current
            request. If the condition evaluates to `false`, then this binding
            does not apply to the current request. However, a different role
            binding might grant the same role to one or more of the principals
            in this binding. To learn which resources support conditions in
            their IAM policies, see the [IAM
            documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        role:
          type: string
          description: >-
            Role that is assigned to the list of `members`, or principals. For
            example, `roles/viewer`, `roles/editor`, or `roles/owner`.
      description: Associates `members`, or principals, with a `role`.
      id: Binding
    Product:
      description: >-
        Product contains information about a product and how to uniquely
        identify it.
      type: object
      properties:
        genericUri:
          type: string
          description: >-
            Contains a URI which is vendor-specific. Example: The artifact
            repository URL of an image.
        name:
          description: Name of the product.
          type: string
        id:
          description: >-
            Token that identifies a product so that it can be referred to from
            other parts in the document. There is no predefined format as long
            as it uniquely identifies a group in the context of the current
            document.
          type: string
      id: Product
    GetPolicyOptions:
      properties:
        requestedPolicyVersion:
          type: integer
          description: >-
            Optional. The maximum policy version that will be used to format the
            policy. Valid values are 0, 1, and 3. Requests specifying an invalid
            value will be rejected. Requests for policies with any conditional
            role bindings must specify version 3. Policies with no conditional
            role bindings may specify any valid value or leave the field unset.
            The policy in the response might use the policy version that you
            specified, or it might use a lower policy version. For example, if
            you specify version 3, but the policy has no conditional role
            bindings, the response uses version 1. To learn which resources
            support conditions in their IAM policies, see the [IAM
            documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          format: int32
      id: GetPolicyOptions
      type: object
      description: Encapsulates settings provided to GetIamPolicy.
    SbomReferenceIntotoPayload:
      id: SbomReferenceIntotoPayload
      properties:
        _type:
          type: string
          description: Identifier for the schema of the Statement.
        subject:
          items:
            $ref: '#/components/schemas/Subject'
          type: array
          description: >-
            Set of software artifacts that the attestation applies to. Each
            element represents a single software artifact.
        predicateType:
          type: string
          description: URI identifying the type of the Predicate.
        predicate:
          $ref: '#/components/schemas/SbomReferenceIntotoPredicate'
          description: >-
            Additional parameters of the Predicate. Includes the actual data
            about the SBOM.
      type: object
      description: >-
        The actual payload that contains the SBOM Reference data. The payload
        follows the intoto statement specification. See
        https://github.com/in-toto/attestation/blob/main/spec/v1.0/statement.md
        for more details.
    GetIamPolicyRequest:
      id: GetIamPolicyRequest
      properties:
        options:
          $ref: '#/components/schemas/GetPolicyOptions'
          description: >-
            OPTIONAL: A `GetPolicyOptions` object for specifying options to
            `GetIamPolicy`.
      type: object
      description: Request message for `GetIamPolicy` method.
    Occurrence:
      description: An instance of an analysis type that has been found on a resource.
      id: Occurrence
      properties:
        vulnerability:
          $ref: '#/components/schemas/GrafeasV1beta1VulnerabilityDetails'
          description: Describes a security vulnerability.
        sbomReference:
          $ref: '#/components/schemas/SBOMReferenceOccurrence'
          description: Describes a specific SBOM reference occurrences.
        attestation:
          description: Describes an attestation of an artifact.
          $ref: '#/components/schemas/Details'
        createTime:
          type: string
          description: Output only. The time this occurrence was created.
          format: google-datetime
        resource:
          description: Required. Immutable. The resource for which the occurrence applies.
          $ref: '#/components/schemas/Resource'
        updateTime:
          type: string
          format: google-datetime
          description: Output only. The time this occurrence was last updated.
        discovered:
          $ref: '#/components/schemas/GrafeasV1beta1DiscoveryDetails'
          description: Describes when a resource was discovered.
        envelope:
          $ref: '#/components/schemas/Envelope'
          description: https://github.com/secure-systems-lab/dsse
        intoto:
          description: Describes a specific in-toto link.
          $ref: '#/components/schemas/GrafeasV1beta1IntotoDetails'
        remediation:
          type: string
          description: A description of actions that can be taken to remedy the note.
        noteName:
          type: string
          description: >-
            Required. Immutable. The analysis note associated with this
            occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.
            This field can be used as a filter in list requests.
        derivedImage:
          $ref: '#/components/schemas/GrafeasV1beta1ImageDetails'
          description: >-
            Describes how this resource derives from the basis in the associated
            note.
        spdxPackage:
          $ref: '#/components/schemas/PackageInfoOccurrence'
          description: Describes a specific SPDX Package.
        spdxFile:
          description: Describes a specific SPDX File.
          $ref: '#/components/schemas/FileOccurrence'
        sbom:
          description: Describes a specific software bill of materials document.
          $ref: '#/components/schemas/DocumentOccurrence'
        installation:
          $ref: '#/components/schemas/GrafeasV1beta1PackageDetails'
          description: Describes the installation of a package on the linked resource.
        kind:
          description: >-
            Output only. This explicitly denotes which of the occurrence details
            are specified. This field can be used as a filter in list requests.
          enum:
            - NOTE_KIND_UNSPECIFIED
            - VULNERABILITY
            - BUILD
            - IMAGE
            - PACKAGE
            - DEPLOYMENT
            - DISCOVERY
            - ATTESTATION
            - INTOTO
            - SBOM
            - SPDX_PACKAGE
            - SPDX_FILE
            - SPDX_RELATIONSHIP
            - VULNERABILITY_ASSESSMENT
            - SBOM_REFERENCE
          enumDescriptions:
            - Default value. This value is unused.
            - The note and occurrence represent a package vulnerability.
            - The note and occurrence assert build provenance.
            - This represents an image basis relationship.
            - This represents a package installed via a package manager.
            - The note and occurrence track deployment events.
            - >-
              The note and occurrence track the initial discovery status of a
              resource.
            - This represents a logical "role" that can attest to artifacts.
            - This represents an in-toto link.
            - This represents a software bill of materials.
            - This represents an SPDX Package.
            - This represents an SPDX File.
            - This represents an SPDX Relationship.
            - This represents a Vulnerability Assessment.
            - This represents an SBOM Reference.
          type: string
        deployment:
          $ref: '#/components/schemas/GrafeasV1beta1DeploymentDetails'
          description: Describes the deployment of an artifact on a runtime.
        name:
          description: >-
            Output only. The name of the occurrence in the form of
            `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.
          type: string
        spdxRelationship:
          description: Describes a specific SPDX Relationship.
          $ref: '#/components/schemas/RelationshipOccurrence'
        build:
          $ref: '#/components/schemas/GrafeasV1beta1BuildDetails'
          description: Describes a verifiable build.
      type: object
    Distribution:
      id: Distribution
      description: >-
        This represents a particular channel of distribution for a given
        package. E.g., Debian's jessie-backports dpkg mirror.
      properties:
        architecture:
          enum:
            - ARCHITECTURE_UNSPECIFIED
            - X86
            - X64
          type: string
          enumDescriptions:
            - Unknown architecture.
            - X86 architecture.
            - X64 architecture.
          description: >-
            The CPU architecture for which packages in this distribution channel
            were built.
        cpeUri:
          description: >-
            Required. The cpe_uri in [CPE
            format](https://cpe.mitre.org/specification/) denoting the package
            manager version distributing a package.
          type: string
        latestVersion:
          $ref: '#/components/schemas/Version'
          description: >-
            The latest available version of this package in this distribution
            channel.
        url:
          description: The distribution channel-specific homepage for this package.
          type: string
        description:
          description: The distribution channel-specific description of this package.
          type: string
        maintainer:
          description: A freeform string denoting the maintainer of this package.
          type: string
      type: object
    ListNotesResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            The next pagination token in the list response. It should be used as
            `page_token` for the following request. An empty value means no more
            results.
        notes:
          description: The notes requested.
          items:
            $ref: '#/components/schemas/Note'
          type: array
      description: Response for listing notes.
      id: ListNotesResponse
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact:
      properties:
        version:
          type: string
          description: >-
            Maven `version` value used when uploading the artifact to Artifact
            Registry.
        repository:
          description: >-
            Artifact Registry repository, in the form
            "https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY" Artifact in the
            workspace specified by path will be uploaded to Artifact Registry
            with this location as a prefix.
          type: string
        path:
          type: string
          description: >-
            Path to an artifact in the build's workspace to be uploaded to
            Artifact Registry. This can be either an absolute path, e.g.
            /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path
            from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar.
        groupId:
          description: >-
            Maven `groupId` value used when uploading the artifact to Artifact
            Registry.
          type: string
        artifactId:
          description: >-
            Maven `artifactId` value used when uploading the artifact to
            Artifact Registry.
          type: string
      type: object
      description: >-
        A Maven artifact to upload to Artifact Registry upon successful
        completion of all build steps.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact
    RelationshipNote:
      type: object
      properties:
        type:
          enum:
            - RELATIONSHIP_TYPE_UNSPECIFIED
            - DESCRIBES
            - DESCRIBED_BY
            - CONTAINS
            - CONTAINED_BY
            - DEPENDS_ON
            - DEPENDENCY_OF
            - DEPENDENCY_MANIFEST_OF
            - BUILD_DEPENDENCY_OF
            - DEV_DEPENDENCY_OF
            - OPTIONAL_DEPENDENCY_OF
            - PROVIDED_DEPENDENCY_OF
            - TEST_DEPENDENCY_OF
            - RUNTIME_DEPENDENCY_OF
            - EXAMPLE_OF
            - GENERATES
            - GENERATED_FROM
            - ANCESTOR_OF
            - DESCENDANT_OF
            - VARIANT_OF
            - DISTRIBUTION_ARTIFACT
            - PATCH_FOR
            - PATCH_APPLIED
            - COPY_OF
            - FILE_ADDED
            - FILE_DELETED
            - FILE_MODIFIED
            - EXPANDED_FROM_ARCHIVE
            - DYNAMIC_LINK
            - STATIC_LINK
            - DATA_FILE_OF
            - TEST_CASE_OF
            - BUILD_TOOL_OF
            - DEV_TOOL_OF
            - TEST_OF
            - TEST_TOOL_OF
            - DOCUMENTATION_OF
            - OPTIONAL_COMPONENT_OF
            - METAFILE_OF
            - PACKAGE_OF
            - AMENDS
            - PREREQUISITE_FOR
            - HAS_PREREQUISITE
            - OTHER
          enumDescriptions:
            - Unspecified
            - Is to be used when SPDXRef-DOCUMENT describes SPDXRef-A
            - Is to be used when SPDXRef-A is described by SPDXREF-Document
            - Is to be used when SPDXRef-A contains SPDXRef-B
            - Is to be used when SPDXRef-A is contained by SPDXRef-B
            - Is to be used when SPDXRef-A depends on SPDXRef-B
            - Is to be used when SPDXRef-A is dependency of SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a manifest file that lists a set
              of dependencies for SPDXRef-B
            - Is to be used when SPDXRef-A is a build dependency of SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a development dependency of
              SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is an optional dependency of
              SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a to be provided dependency of
              SPDXRef-B
            - Is to be used when SPDXRef-A is a test dependency of SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a dependency required for the
              execution of SPDXRef-B
            - Is to be used when SPDXRef-A is an example of SPDXRef-B
            - Is to be used when SPDXRef-A generates SPDXRef-B
            - Is to be used when SPDXRef-A was generated from SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is an ancestor (same lineage but
              pre-dates) SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a descendant of (same lineage but
              postdates) SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a variant of (same lineage but not
              clear which came first) SPDXRef-B
            - >-
              Is to be used when distributing SPDXRef-A requires that SPDXRef-B
              also be distributed
            - >-
              Is to be used when SPDXRef-A is a patch file for (to be applied
              to) SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a patch file that has been applied
              to SPDXRef-B
            - Is to be used when SPDXRef-A is an exact copy of SPDXRef-B
            - Is to be used when SPDXRef-A is a file that was added to SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a file that was deleted from
              SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a file that was modified from
              SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is expanded from the archive
              SPDXRef-B
            - Is to be used when SPDXRef-A dynamically links to SPDXRef-B
            - Is to be used when SPDXRef-A statically links to SPDXRef-B
            - Is to be used when SPDXRef-A is a data file used in SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is a test case used in testing
              SPDXRef-B
            - Is to be used when SPDXRef-A is used to build SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is used as a development tool for
              SPDXRef-B
            - Is to be used when SPDXRef-A is used for testing SPDXRef-B
            - Is to be used when SPDXRef-A is used as a test tool for SPDXRef-B
            - Is to be used when SPDXRef-A provides documentation of SPDXRef-B
            - Is to be used when SPDXRef-A is an optional component of SPDXRef-B
            - Is to be used when SPDXRef-A is a metafile of SPDXRef-B
            - >-
              Is to be used when SPDXRef-A is used as a package as part of
              SPDXRef-B
            - >-
              Is to be used when (current) SPDXRef-DOCUMENT amends the SPDX
              information in SPDXRef-B
            - Is to be used when SPDXRef-A is a prerequisite for SPDXRef-B
            - Is to be used when SPDXRef-A has as a prerequisite SPDXRef-B
            - >-
              Is to be used for a relationship which has not been defined in the
              formal SPDX specification. A description of the relationship
              should be included in the Relationship comments field
          type: string
          description: The type of relationship between the source and target SPDX elements
      id: RelationshipNote
      description: >-
        RelationshipNote represents an SPDX Relationship section:
        https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/
    Build:
      id: Build
      type: object
      description: >-
        Note holding the version of the provider's builder and the signature of
        the provenance message in the build details occurrence.
      properties:
        builderVersion:
          type: string
          description: >-
            Required. Immutable. Version of the builder which produced this
            build.
        signature:
          description: >-
            Signature of the build in occurrences pointing to this build note
            containing build details.
          $ref: '#/components/schemas/BuildSignature'
    SourceContext:
      id: SourceContext
      type: object
      properties:
        gerrit:
          description: A SourceContext referring to a Gerrit project.
          $ref: '#/components/schemas/GerritSourceContext'
        cloudRepo:
          description: >-
            A SourceContext referring to a revision in a Google Cloud Source
            Repo.
          $ref: '#/components/schemas/CloudRepoSourceContext'
        git:
          description: >-
            A SourceContext referring to any third party Git repo (e.g.,
            GitHub).
          $ref: '#/components/schemas/GitSourceContext'
        labels:
          description: Labels with user defined metadata.
          additionalProperties:
            type: string
          type: object
      description: >-
        A SourceContext is a reference to a tree of files. A SourceContext
        together with a path point to a unique revision of a single file or
        directory.
    ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes:
      description: >-
        Container message for hashes of byte content of files, used in
        SourceProvenance messages to verify integrity of source input to the
        build.
      properties:
        fileHash:
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1Hash
          description: Collection of file hashes.
          type: array
      type: object
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes
    ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret:
      description: >-
        Pairs a secret environment variable with a SecretVersion in Secret
        Manager.
      type: object
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret
      properties:
        env:
          description: >-
            Environment variable name to associate with the secret. Secret
            environment variables must be unique across all of a build's
            secrets, and must be used by at least one build step.
          type: string
        versionName:
          type: string
          description: >-
            Resource name of the SecretVersion. In format:
            projects/*/secrets/*/versions/*
    ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource:
      properties:
        object:
          type: string
          description: >-
            Cloud Storage object containing the source. This object must be a
            zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing
            source to build.
        generation:
          format: int64
          type: string
          description: >-
            Cloud Storage generation for the object. If the generation is
            omitted, the latest generation will be used.
        bucket:
          description: >-
            Cloud Storage bucket containing the source (see [Bucket Name
            Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).
          type: string
      description: Location of the source in an archive file in Cloud Storage.
      type: object
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource
    Hash:
      type: object
      id: Hash
      description: Container message for hash values.
      properties:
        type:
          enumDescriptions:
            - Unknown.
            - A SHA-256 hash.
            - >-
              Dirhash of a Go module's source code which is then hex-encoded.
              See b/244466565 and
              https://github.com/in-toto/attestation/pull/108.
            - A SHA-512 hash.
          description: Required. The type of hash that was performed.
          type: string
          enum:
            - HASH_TYPE_UNSPECIFIED
            - SHA256
            - GO_MODULE_H1
            - SHA512
        value:
          format: byte
          description: Required. The hash value.
          type: string
    ListOccurrencesResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            The next pagination token in the list response. It should be used as
            `page_token` for the following request. An empty value means no more
            results.
        occurrences:
          items:
            $ref: '#/components/schemas/Occurrence'
          description: The occurrences requested.
          type: array
      description: Response for listing occurrences.
      id: ListOccurrencesResponse
      type: object
    Link:
      properties:
        command:
          items:
            type: string
          type: array
          description: >-
            This field contains the full command executed for the step. This can
            also be empty if links are generated for operations that aren't
            directly mapped to a specific command. Each term in the command is
            an independent string in the list. An example of a command in the
            in-toto metadata field is: "command": ["git", "clone",
            "https://github.com/in-toto/demo-project.git"]
        products:
          type: array
          items:
            $ref: '#/components/schemas/GrafeasV1beta1IntotoArtifact'
          description: >-
            Products are the supply chain artifacts generated as a result of the
            step. The structure is identical to that of materials.
        byproducts:
          description: >-
            ByProducts are data generated as part of a software supply chain
            step, but are not the actual result of the step.
          $ref: '#/components/schemas/ByProducts'
        environment:
          $ref: '#/components/schemas/Environment'
          description: >-
            This is a field that can be used to capture information about the
            environment. It is suggested for this field to contain information
            that details environment variables, filesystem information, and the
            present working directory. The recommended structure of this field
            is: "environment": { "custom_values": { "variables": "",
            "filesystem": "", "workdir": "", "": "..." } }
        materials:
          description: >-
            Materials are the supply chain artifacts that go into the step and
            are used for the operation performed. The key of the map is the path
            of the artifact and the structure contains the recorded hash
            information. An example is: "materials": [ { "resource_uri":
            "foo/bar", "hashes": { "sha256": "ebebf...", : } } ]
          type: array
          items:
            $ref: '#/components/schemas/GrafeasV1beta1IntotoArtifact'
      id: Link
      description: This corresponds to an in-toto link.
      type: object
    Environment:
      type: object
      description: >-
        Defines an object for the environment field in in-toto links. The
        suggested fields are "variables", "filesystem", and "workdir".
      properties:
        customValues:
          additionalProperties:
            type: string
          type: object
      id: Environment
    BatchCreateNotesResponse:
      type: object
      description: Response for creating notes in batch.
      properties:
        notes:
          description: The notes that were created.
          type: array
          items:
            $ref: '#/components/schemas/Note'
      id: BatchCreateNotesResponse
    ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects:
      properties:
        timing:
          readOnly: true
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
          description: >-
            Output only. Stores timing information for pushing all artifact
            objects.
        location:
          type: string
          description: >-
            Cloud Storage bucket and optional object path, in the form
            "gs://bucket/path/to/somewhere/". (see [Bucket Name
            Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).
            Files in the workspace matching any path pattern will be uploaded to
            Cloud Storage with this location as a prefix.
        paths:
          items:
            type: string
          type: array
          description: Path globs used to match files in the build's workspace.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects
      description: >-
        Files in the workspace to upload to Cloud Storage upon successful
        completion of all build steps.
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts
      description: >-
        Artifacts produced by a build that should be uploaded upon successful
        completion of all build steps.
      properties:
        objects:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects
          description: >-
            A list of objects to be uploaded to Cloud Storage upon successful
            completion of all build steps. Files in the workspace matching
            specified paths globs will be uploaded to the specified Cloud
            Storage location using the builder service account's credentials.
            The location and generation of the uploaded objects will be stored
            in the Build resource's results field. If any objects fail to be
            pushed, the build is marked FAILURE.
        pythonPackages:
          type: array
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage
          description: >-
            A list of Python packages to be uploaded to Artifact Registry upon
            successful completion of all build steps. The build service account
            credentials will be used to perform the upload. If any objects fail
            to be pushed, the build is marked FAILURE.
        images:
          items:
            type: string
          type: array
          description: >-
            A list of images to be pushed upon the successful completion of all
            build steps. The images will be pushed using the builder service
            account's credentials. The digests of the pushed images will be
            stored in the Build resource's results field. If any of the images
            fail to be pushed, the build is marked FAILURE.
        mavenArtifacts:
          type: array
          description: >-
            A list of Maven artifacts to be uploaded to Artifact Registry upon
            successful completion of all build steps. Artifacts in the workspace
            matching specified paths globs will be uploaded to the specified
            Artifact Registry repository using the builder service account's
            credentials. If any artifacts fail to be pushed, the build is marked
            FAILURE.
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact
        npmPackages:
          description: >-
            A list of npm packages to be uploaded to Artifact Registry upon
            successful completion of all build steps. Npm packages in the
            specified paths will be uploaded to the specified Artifact Registry
            repository using the builder service account's credentials. If any
            packages fail to be pushed, the build is marked FAILURE.
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage
          type: array
      type: object
    TestIamPermissionsRequest:
      type: object
      properties:
        permissions:
          items:
            type: string
          description: >-
            The set of permissions to check for the `resource`. Permissions with
            wildcards (such as `*` or `storage.*`) are not allowed. For more
            information see [IAM
            Overview](https://cloud.google.com/iam/docs/overview#permissions).
          type: array
      description: Request message for `TestIamPermissions` method.
      id: TestIamPermissionsRequest
    SigningKey:
      description: >-
        This defines the format used to record keys used in the software supply
        chain. An in-toto link is attested using one or more keys defined in the
        in-toto layout. An example of this is: { "key_id":
        "776a00e29f3559e0141b3b096f696abc6cfb0c657ab40f441132b345b0...",
        "key_type": "rsa", "public_key_value": "-----BEGIN PUBLIC
        KEY-----\nMIIBojANBgkqhkiG9w0B...", "key_scheme": "rsassa-pss-sha256" }
        The format for in-toto's key definition can be found in section 4.2 of
        the in-toto specification.
      type: object
      id: SigningKey
      properties:
        publicKeyValue:
          type: string
          description: This field contains the actual public key.
        keyScheme:
          type: string
          description: >-
            This field contains the corresponding signature scheme. Eg:
            "rsassa-pss-sha256".
        keyId:
          type: string
          description: key_id is an identifier for the signing key.
        keyType:
          description: >-
            This field identifies the specific signing method. Eg: "rsa",
            "ed25519", and "ecdsa".
          type: string
    ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption:
      type: object
      description: >-
        Details about how a build should be executed on a `WorkerPool`. See
        [running builds in a private
        pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool)
        for more information.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption
      properties:
        name:
          description: >-
            The `WorkerPool` resource to execute the build on. You must have
            `cloudbuild.workerpools.use` on the project hosting the WorkerPool.
            Format
            projects/{project}/locations/{location}/workerPools/{workerPoolId}
          type: string
    GrafeasV1beta1BuildDetails:
      type: object
      id: GrafeasV1beta1BuildDetails
      description: Details of a build occurrence.
      properties:
        provenance:
          $ref: '#/components/schemas/BuildProvenance'
          description: Required. The actual provenance for the build.
        provenanceBytes:
          type: string
          description: >-
            Serialized JSON representation of the provenance, used in generating
            the build signature in the corresponding build note. After verifying
            the signature, `provenance_bytes` can be unmarshalled and compared
            to the provenance to confirm that it is unchanged. A base64-encoded
            string representation of the provenance bytes is used for the
            signature in order to interoperate with openssl which expects this
            format for signature verification. The serialized form is captured
            both to avoid ambiguity in how the provenance is marshalled to json
            as well to prevent incompatibilities with future changes.
    GrafeasV1beta1ImageDetails:
      id: GrafeasV1beta1ImageDetails
      type: object
      description: Details of an image occurrence.
      properties:
        derivedImage:
          description: Required. Immutable. The child image derived from the base image.
          $ref: '#/components/schemas/Derived'
    Deployable:
      properties:
        resourceUri:
          items:
            type: string
          type: array
          description: Required. Resource URI for the artifact being deployed.
      description: An artifact that can be deployed in some runtime.
      id: Deployable
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1Secret:
      properties:
        secretEnv:
          type: object
          description: >-
            Map of environment variable name to its encrypted value. Secret
            environment variables must be unique across all of a build's
            secrets, and must be used by at least one build step. Values can be
            at most 64 KB in size. There can be at most 100 secret values across
            all of a build's secrets.
          additionalProperties:
            format: byte
            type: string
        kmsKeyName:
          description: Cloud KMS key name to use to decrypt these envs.
          type: string
      description: >-
        Pairs a set of secret environment variables containing encrypted values
        with the Cloud KMS key to use to decrypt the value. Note: Use
        `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with
        `secret`. For instructions see:
        https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1Secret
      type: object
    CVSSv3:
      properties:
        baseScore:
          format: float
          type: number
          description: The base score is a function of the base metric scores.
        exploitabilityScore:
          type: number
          format: float
        availabilityImpact:
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          enum:
            - IMPACT_UNSPECIFIED
            - IMPACT_HIGH
            - IMPACT_LOW
            - IMPACT_NONE
        scope:
          enumDescriptions:
            - ''
            - ''
            - ''
          enum:
            - SCOPE_UNSPECIFIED
            - SCOPE_UNCHANGED
            - SCOPE_CHANGED
          type: string
        attackComplexity:
          enumDescriptions:
            - ''
            - ''
            - ''
          enum:
            - ATTACK_COMPLEXITY_UNSPECIFIED
            - ATTACK_COMPLEXITY_LOW
            - ATTACK_COMPLEXITY_HIGH
          type: string
        confidentialityImpact:
          enum:
            - IMPACT_UNSPECIFIED
            - IMPACT_HIGH
            - IMPACT_LOW
            - IMPACT_NONE
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          type: string
        attackVector:
          type: string
          description: >-
            Base Metrics Represents the intrinsic characteristics of a
            vulnerability that are constant over time and across user
            environments.
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - ATTACK_VECTOR_UNSPECIFIED
            - ATTACK_VECTOR_NETWORK
            - ATTACK_VECTOR_ADJACENT
            - ATTACK_VECTOR_LOCAL
            - ATTACK_VECTOR_PHYSICAL
        privilegesRequired:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          enum:
            - PRIVILEGES_REQUIRED_UNSPECIFIED
            - PRIVILEGES_REQUIRED_NONE
            - PRIVILEGES_REQUIRED_LOW
            - PRIVILEGES_REQUIRED_HIGH
          type: string
        integrityImpact:
          enum:
            - IMPACT_UNSPECIFIED
            - IMPACT_HIGH
            - IMPACT_LOW
            - IMPACT_NONE
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          type: string
        impactScore:
          type: number
          format: float
        userInteraction:
          enumDescriptions:
            - ''
            - ''
            - ''
          type: string
          enum:
            - USER_INTERACTION_UNSPECIFIED
            - USER_INTERACTION_NONE
            - USER_INTERACTION_REQUIRED
      id: CVSSv3
      type: object
      description: >-
        Deprecated. Common Vulnerability Scoring System version 3. For details,
        see https://www.first.org/cvss/specification-document
    Volume:
      id: Volume
      type: object
      description: >-
        Volume describes a Docker container volume which is mounted into build
        steps in order to persist files across build step execution. Next ID: 3
      properties:
        path:
          description: >-
            Path at which to mount the volume. Paths must be absolute and cannot
            conflict with other volume paths on the same build step or with
            certain reserved volume paths.
          type: string
        name:
          type: string
          description: >-
            Name of the volume to mount. Volume names must be unique per build
            step and must be valid names for Docker volumes. Each named volume
            must be used by at least two build steps.
    PackageInfoNote:
      properties:
        version:
          description: Identify the version of the package
          type: string
        summaryDescription:
          description: A short description of the package
          type: string
        filesLicenseInfo:
          type: array
          items:
            type: string
          description: >-
            Contain the license the SPDX file creator has concluded as governing
            the This field is to contain a list of all licenses found in the
            package. The relationship between licenses (i.e., conjunctive,
            disjunctive) is not specified in this field – it is simply a listing
            of all licenses found
        downloadLocation:
          type: string
          description: >-
            This section identifies the download Universal Resource Locator
            (URL), or a specific location within a version control system (VCS)
            for the package at the time that the SPDX file was created
        attribution:
          type: string
          description: >-
            A place for the SPDX data creator to record, at the package level,
            acknowledgements that may be needed to be communicated in some
            contexts
        supplier:
          type: string
          description: >-
            Identify the actual distribution source for the package/directory
            identified in the SPDX file
        title:
          description: >-
            Identify the full name of the package as given by the Package
            Originator
          type: string
        licenseDeclared:
          $ref: '#/components/schemas/License'
          description: >-
            List the licenses that have been declared by the authors of the
            package
        detailedDescription:
          description: A more detailed description of the package
          type: string
        packageType:
          description: 'The type of package: OS, MAVEN, GO, GO_STDLIB, etc.'
          type: string
        homePage:
          type: string
          description: >-
            Provide a place for the SPDX file creator to record a web site that
            serves as the package's home page
        originator:
          description: >-
            If the package identified in the SPDX file originated from a
            different person or organization than identified as Package
            Supplier, this field identifies from where or whom the package
            originally came
          type: string
        verificationCode:
          type: string
          description: >-
            This field provides an independently reproducible mechanism
            identifying specific contents of a package based on the actual files
            (except the SPDX file itself, if it is included in the package) that
            make up each package and that correlates to the data in this SPDX
            file
        copyright:
          description: >-
            Identify the copyright holders of the package, as well as any dates
            present
          type: string
        analyzed:
          type: boolean
          description: >-
            Indicates whether the file content of this package has been
            available for or subjected to analysis when creating the SPDX
            document
        checksum:
          description: >-
            Provide an independently reproducible mechanism that permits unique
            identification of a specific package that correlates to the data in
            this SPDX file
          type: string
        externalRefs:
          items:
            $ref: '#/components/schemas/ExternalRef'
          description: ExternalRef
          type: array
      id: PackageInfoNote
      type: object
      description: >-
        PackageInfoNote represents an SPDX Package Information section:
        https://spdx.github.io/spdx-spec/3-package-information/
    VulnerabilityOccurrencesSummary:
      type: object
      id: VulnerabilityOccurrencesSummary
      description: >-
        A summary of how many vulnerability occurrences there are per resource
        and severity type.
      properties:
        counts:
          description: >-
            A listing by resource of the number of fixable and total
            vulnerabilities.
          type: array
          items:
            $ref: '#/components/schemas/FixableTotalByDigest'
    VulnerabilityLocation:
      description: The location of the vulnerability.
      id: VulnerabilityLocation
      properties:
        version:
          description: Required. The version of the package being described.
          $ref: '#/components/schemas/Version'
        package:
          type: string
          description: Required. The package being described.
        cpeUri:
          description: >-
            Required. The CPE URI in [cpe
            format](https://cpe.mitre.org/specification/) format. Examples
            include distro or storage location for vulnerable jar.
          type: string
      type: object
    Hint:
      description: >-
        This submessage provides human-readable hints about the purpose of the
        authority. Because the name of a note acts as its resource reference, it
        is important to disambiguate the canonical name of the Note (which might
        be a UUID for security purposes) from "readable" names more suitable for
        debug output. Note that these hints should not be used to look up
        authorities in security sensitive contexts, such as when looking up
        attestations to verify.
      properties:
        humanReadableName:
          description: >-
            Required. The human readable name of this attestation authority, for
            example "qa".
          type: string
      id: Hint
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage:
      type: object
      properties:
        pushTiming:
          readOnly: true
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
          description: >-
            Output only. Stores timing information for pushing the specified
            image.
        name:
          description: >-
            Name used to push the container image to Google Container Registry,
            as presented to `docker push`.
          type: string
        digest:
          type: string
          description: Docker Registry 2.0 digest.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage
      description: An image built by the pipeline.
    Expr:
      description: >-
        Represents a textual expression in the Common Expression Language (CEL)
        syntax. CEL is a C-like expression language. The syntax and semantics of
        CEL are documented at https://github.com/google/cel-spec. Example
        (Comparison): title: "Summary size limit" description: "Determines if a
        summary is less than 100 chars" expression: "document.summary.size() <
        100" Example (Equality): title: "Requestor is owner" description:
        "Determines if requestor is the document owner" expression:
        "document.owner == request.auth.claims.email" Example (Logic): title:
        "Public documents" description: "Determine whether the document should
        be publicly visible" expression: "document.type != 'private' &&
        document.type != 'internal'" Example (Data Manipulation): title:
        "Notification string" description: "Create a notification string with a
        timestamp." expression: "'New message received at ' +
        string(document.create_time)" The exact variables and functions that may
        be referenced within an expression are determined by the service that
        evaluates it. See the service documentation for additional information.
      type: object
      id: Expr
      properties:
        expression:
          description: >-
            Textual representation of an expression in Common Expression
            Language syntax.
          type: string
        description:
          type: string
          description: >-
            Optional. Description of the expression. This is a longer text which
            describes the expression, e.g. when hovered over it in a UI.
        location:
          description: >-
            Optional. String indicating the location of the expression for error
            reporting, e.g. a file name and a position in the file.
          type: string
        title:
          type: string
          description: >-
            Optional. Title for the expression, i.e. a short string describing
            its purpose. This can be used e.g. in UIs which allow to enter the
            expression.
    Location:
      description: >-
        An occurrence of a particular package installation found within a
        system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.
      properties:
        path:
          description: >-
            The path from which we gathered that this package/version is
            installed.
          type: string
        version:
          $ref: '#/components/schemas/Version'
          description: Deprecated. The version installed at this location.
        cpeUri:
          type: string
          description: >-
            Deprecated. The CPE URI in [CPE
            format](https://cpe.mitre.org/specification/) denoting the package
            manager version distributing a package.
      id: Location
      type: object
    AnalysisCompleted:
      id: AnalysisCompleted
      properties:
        analysisType:
          type: array
          items:
            type: string
      type: object
      description: >-
        Indicates which analysis completed successfully. Multiple types of
        analysis can be performed on a single resource.
    ContaineranalysisGoogleDevtoolsCloudbuildV1Source:
      type: object
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1Source
      properties:
        storageSource:
          description: If provided, get the source from this location in Cloud Storage.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource
        gitSource:
          description: If provided, get the source from this Git repository.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource
        storageSourceManifest:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest
          description: >-
            If provided, get the source from this manifest in Cloud Storage.
            This feature is in Preview; see description
            [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).
        repoSource:
          description: >-
            If provided, get the source from this location in a Cloud Source
            Repository.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource
      description: Location of the source in a supported storage service.
    Envelope:
      description: >-
        MUST match
        https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto.
        An authenticated message of arbitrary type.
      properties:
        payloadType:
          type: string
        signatures:
          type: array
          items:
            $ref: '#/components/schemas/EnvelopeSignature'
        payload:
          type: string
          format: byte
      type: object
      id: Envelope
    Policy:
      id: Policy
      type: object
      description: >-
        An Identity and Access Management (IAM) policy, which specifies access
        controls for Google Cloud resources. A `Policy` is a collection of
        `bindings`. A `binding` binds one or more `members`, or principals, to a
        single `role`. Principals can be user accounts, service accounts, Google
        groups, and domains (such as G Suite). A `role` is a named list of
        permissions; each `role` can be an IAM predefined role or a user-created
        custom role. For some types of Google Cloud resources, a `binding` can
        also specify a `condition`, which is a logical expression that allows
        access to a resource only if the expression evaluates to `true`. A
        condition can add constraints based on attributes of the request, the
        resource, or both. To learn which resources support conditions in their
        IAM policies, see the [IAM
[...]
