openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Container Analysis API
  description: >-
    An implementation of the Grafeas API, which stores, and enables querying and
    retrieval of critical metadata about all of your software artifacts.
  version: v1alpha1
  x-discovery-doc-revision: '20230612'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/container-analysis/api/reference/rest/
servers:
  - url: https://containeranalysis.googleapis.com
components:
  schemas:
    GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId:
      description: >-
        Selects a repo using a Google Cloud Platform project ID (e.g.,
        winged-cargo-31) and a repo name within that project.
      type: object
      properties:
        repoName:
          type: string
          description: The name of the repo. Leave empty for the default repo.
        projectId:
          description: The ID of the project.
          type: string
      id: GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId
    DocumentNote:
      description: >-
        DocumentNote represents an SPDX Document Creation Infromation section:
        https://spdx.github.io/spdx-spec/2-document-creation-information/
      properties:
        dataLicence:
          description: >-
            Compliance with the SPDX specification includes populating the SPDX
            fields therein with data related to such fields ("SPDX-Metadata")
          type: string
        spdxVersion:
          description: >-
            Provide a reference number that can be used to understand how to
            parse and interpret the rest of the file
          type: string
      id: DocumentNote
      type: object
    FileOccurrence:
      properties:
        id:
          description: >-
            Uniquely identify any element in an SPDX document which may be
            referenced by other elements
          type: string
        licenseConcluded:
          description: >-
            This field contains the license the SPDX file creator has concluded
            as governing the file or alternative values if the governing license
            cannot be determined
          $ref: '#/components/schemas/License'
        notice:
          description: >-
            This field provides a place for the SPDX file creator to record
            license notices or other such related notices found in the file
          type: string
        comment:
          description: >-
            This field provides a place for the SPDX file creator to record any
            general comments about the file
          type: string
        contributors:
          description: >-
            This field provides a place for the SPDX file creator to record file
            contributors
          items:
            type: string
          type: array
        filesLicenseInfo:
          items:
            type: string
          type: array
          description: >-
            This field contains the license information actually found in the
            file, if any
        copyright:
          type: string
          description: >-
            Identify the copyright holder of the file, as well as any dates
            present
        attributions:
          description: >-
            This field provides a place for the SPDX data creator to record, at
            the file level, acknowledgements that may be needed to be
            communicated in some contexts
          items:
            type: string
          type: array
      description: >-
        FileOccurrence represents an SPDX File Information section:
        https://spdx.github.io/spdx-spec/4-file-information/
      id: FileOccurrence
      type: object
    License:
      id: License
      description: License information.
      properties:
        comments:
          type: string
          description: Comments
        expression:
          type: string
          description: >-
            Often a single license can be used to represent the licensing terms.
            Sometimes it is necessary to include a choice of one or more
            licenses or some combination of license identifiers. Examples:
            "LGPL-2.1-only OR MIT", "LGPL-2.1-only AND MIT", "GPL-2.0-or-later
            WITH Bison-exception-2.2".
      type: object
    Deployable:
      properties:
        resourceUri:
          description: Resource URI for the artifact being deployed.
          items:
            type: string
          type: array
      description: An artifact that can be deployed in some runtime.
      type: object
      id: Deployable
    Subject:
      type: object
      id: Subject
      properties:
        digest:
          description: >-
            "": "" Algorithms can be e.g. sha256, sha512 See
            https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet
          additionalProperties:
            type: string
          type: object
        name:
          description: name is the name of the Subject used here
          type: string
      description: Subject refers to the subject of the intoto statement
    InTotoStatement:
      properties:
        slsaProvenanceZeroTwo:
          description: SLSA 0.2 provenance.
          $ref: '#/components/schemas/SlsaProvenanceZeroTwo'
        provenance:
          description: Generic Grafeas provenance.
          $ref: '#/components/schemas/InTotoProvenance'
        _type:
          type: string
          description: Always "https://in-toto.io/Statement/v0.1".
        predicateType:
          description: '"https://slsa.dev/provenance/v0.1" for SlsaProvenance.'
          type: string
        slsaProvenance:
          description: SLSA 0.1 provenance.
          $ref: '#/components/schemas/SlsaProvenance'
        subject:
          items:
            $ref: '#/components/schemas/Subject'
          type: array
          description: subject is the subjects of the intoto statement
      type: object
      id: InTotoStatement
      description: >-
        Spec defined at
        https://github.com/in-toto/attestation/tree/main/spec#statement The
        serialized InTotoStatement will be stored as Envelope.payload.
        Envelope.payloadType is always "application/vnd.in-toto+json".
    GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaBuilder:
      id: GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaBuilder
      type: object
      description: >-
        Identifies the entity that executed the recipe, which is trusted to have
        correctly performed the operation and populated this provenance.
      properties:
        id:
          description: URI indicating the builder’s identity.
          type: string
    DSSEAttestationOccurrence:
      description: An occurrence describing an attestation on a resource
      type: object
      properties:
        statement:
          $ref: '#/components/schemas/InTotoStatement'
        envelope:
          $ref: '#/components/schemas/Envelope'
          description: >-
            If doing something security critical, make sure to verify the
            signatures in this metadata.
      id: DSSEAttestationOccurrence
    ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance
      description: >-
        Provenance of the source. Ways to find the original source, or verify
        that some source was used for this build.
      properties:
        fileHashes:
          type: object
          readOnly: true
          description: >-
            Output only. Hash(es) of the build source, which can be used to
            verify that the original source integrity was maintained in the
            build. Note that `FileHashes` will only be populated if
            `BuildOptions` has requested a `SourceProvenanceHash`. The keys to
            this map are file paths used as build source and the values contain
            the hash values for those files. If the build source came in a
            single package such as a gzipped tarfile (`.tar.gz`), the `FileHash`
            will be for the single path to that file.
          additionalProperties:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes
        resolvedRepoSource:
          description: >-
            A copy of the build's `source.repo_source`, if exists, with any
            revisions resolved.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource
        resolvedStorageSource:
          description: >-
            A copy of the build's `source.storage_source`, if exists, with any
            generations resolved.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource
        resolvedStorageSourceManifest:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest
          description: >-
            A copy of the build's `source.storage_source_manifest`, if exists,
            with any revisions resolved. This feature is in Preview.
      type: object
    SlsaBuilder:
      properties:
        id:
          description: id is the id of the slsa provenance builder
          type: string
      type: object
      id: SlsaBuilder
      description: SlsaBuilder encapsulates the identity of the builder of this provenance.
    StorageSource:
      type: object
      properties:
        bucket:
          type: string
          description: >-
            Google Cloud Storage bucket containing source (see [Bucket Name
            Requirements]
            (https://cloud.google.com/storage/docs/bucket-naming#requirements)).
        generation:
          type: string
          description: Google Cloud Storage generation for the object.
          format: int64
        object:
          type: string
          description: Google Cloud Storage object containing source.
      description: >-
        StorageSource describes the location of the source in an archive file in
        Google Cloud Storage.
      id: StorageSource
    PackageIssue:
      properties:
        packageType:
          description: The type of package (e.g. OS, MAVEN, GO).
          type: string
        severityName:
          type: string
        affectedLocation:
          $ref: '#/components/schemas/VulnerabilityLocation'
          description: The location of the vulnerability.
        effectiveSeverity:
          description: >-
            Output only. The distro or language system assigned severity for
            this vulnerability when that is available and note provider assigned
            severity when distro or language system has not yet assigned a
            severity for this vulnerability.
          readOnly: true
          enum:
            - SEVERITY_UNSPECIFIED
            - MINIMAL
            - LOW
            - MEDIUM
            - HIGH
            - CRITICAL
          enumDescriptions:
            - Unknown Impact
            - Minimal Impact
            - Low Impact
            - Medium Impact
            - High Impact
            - Critical Impact
          type: string
        fixedLocation:
          description: The location of the available fix for vulnerability.
          $ref: '#/components/schemas/VulnerabilityLocation'
      description: >-
        This message wraps a location affected by a vulnerability and its
        associated fix (if one is available).
      type: object
      id: PackageIssue
    Location:
      type: object
      description: >-
        An occurrence of a particular package installation found within a
        system's filesystem. e.g. glibc was found in /var/lib/dpkg/status
      id: Location
      properties:
        path:
          type: string
          description: >-
            The path from which we gathered that this package/version is
            installed.
        version:
          $ref: '#/components/schemas/Version'
          description: Deprecated. The version installed at this location.
        cpeUri:
          description: >-
            Deprecated. The cpe_uri in [cpe
            format](https://cpe.mitre.org/specification/) denoting the package
            manager version distributing a package.
          type: string
    SBOMReferenceOccurrence:
      properties:
        payload:
          $ref: '#/components/schemas/SbomReferenceIntotoPayload'
          description: The actual payload that contains the SBOM reference data.
        payloadType:
          type: string
          description: >-
            The kind of payload that SbomReferenceIntotoPayload takes. Since
            it's in the intoto format, this value is expected to be
            'application/vnd.in-toto+json'.
        signatures:
          items:
            $ref: '#/components/schemas/EnvelopeSignature'
          description: The signatures over the payload.
          type: array
      description: >-
        The occurrence representing an SBOM reference as applied to a specific
        resource. The occurrence follows the DSSE specification. See
        https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for
        more details.
      type: object
      id: SBOMReferenceOccurrence
    GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata:
      id: GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata
      properties:
        endTime:
          format: google-datetime
          description: >-
            Output only. The time that this operation was marked completed or
            failed.
          type: string
        createTime:
          format: google-datetime
          description: Output only. The time this operation was created.
          type: string
      type: object
      description: >-
        Metadata for all operations used and required for all operations that
        created by Container Analysis Providers
    GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext:
      type: object
      properties:
        aliasContext:
          description: An alias, which may be a branch or tag.
          $ref: >-
            #/components/schemas/GoogleDevtoolsContaineranalysisV1alpha1AliasContext
        hostUri:
          description: The URI of a running Gerrit instance.
          type: string
        revisionId:
          type: string
          description: A revision (commit) ID.
        gerritProject:
          description: >-
            The full project name within the host. Projects may be nested, so
            "project/subproject" is a valid project name. The "repo name" is the
            hostURI/project.
          type: string
      description: A SourceContext referring to a Gerrit project.
      id: GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext
    SlsaMetadata:
      type: object
      id: SlsaMetadata
      description: Other properties of the build.
      properties:
        completeness:
          description: >-
            Indicates that the builder claims certain fields in this message to
            be complete.
          $ref: '#/components/schemas/SlsaCompleteness'
        buildStartedOn:
          description: The timestamp of when the build started.
          type: string
          format: google-datetime
        reproducible:
          type: boolean
          description: >-
            If true, the builder claims that running the recipe on materials
            will produce bit-for-bit identical output.
        buildInvocationId:
          type: string
          description: >-
            Identifies the particular build invocation, which can be useful for
            finding associated logs or other ad-hoc analysis. The value SHOULD
            be globally unique, per in-toto Provenance spec.
        buildFinishedOn:
          description: The timestamp of when the build completed.
          type: string
          format: google-datetime
    ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan:
      properties:
        endTime:
          type: string
          format: google-datetime
          description: End of time span.
        startTime:
          format: google-datetime
          description: Start of time span.
          type: string
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
      description: Start and end times for a build execution phase.
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact:
      properties:
        pushTiming:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
          description: >-
            Output only. Stores timing information for pushing the specified
            artifact.
          readOnly: true
        fileHashes:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes
          description: Hash types and values of the Maven Artifact.
        uri:
          type: string
          description: URI of the uploaded artifact.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact
      type: object
      description: A Maven artifact uploaded using the MavenArtifact directive.
    ComplianceVersion:
      description: >-
        Describes the CIS benchmark version that is applicable to a given OS and
        os version.
      properties:
        cpeUri:
          type: string
          description: >-
            The CPE URI (https://cpe.mitre.org/specification/) this benchmark is
            applicable to.
        version:
          type: string
          description: >-
            The version of the benchmark. This is set to the version of the
            OS-specific CIS document the benchmark is defined in.
        benchmarkDocument:
          description: >-
            The name of the document that defines this benchmark, e.g. "CIS
            Container-Optimized OS".
          type: string
      type: object
      id: ComplianceVersion
    AttestationAuthorityHint:
      type: object
      description: >-
        This submessage provides human-readable hints about the purpose of the
        AttestationAuthority. Because the name of a Note acts as its resource
        reference, it is important to disambiguate the canonical name of the
        Note (which might be a UUID for security purposes) from "readable" names
        more suitable for debug output. Note that these hints should NOT be used
        to look up AttestationAuthorities in security sensitive contexts, such
        as when looking up Attestations to verify.
      id: AttestationAuthorityHint
      properties:
        humanReadableName:
          type: string
          description: >-
            The human readable name of this Attestation Authority, for example
            "qa".
    BuildDetails:
      id: BuildDetails
      type: object
      description: Message encapsulating build provenance details.
      properties:
        intotoStatement:
          description: >-
            In-toto Statement representation as defined in spec. The
            intoto_statement can contain any type of provenance. The serialized
            payload of the statement can be stored and signed in the
            Occurrence's envelope.
          $ref: '#/components/schemas/InTotoStatement'
        provenance:
          $ref: '#/components/schemas/BuildProvenance'
          description: The actual provenance
        intotoProvenance:
          description: >-
            Deprecated. See InTotoStatement for the replacement. In-toto
            Provenance representation as defined in spec.
          $ref: '#/components/schemas/InTotoProvenance'
        provenanceBytes:
          type: string
          description: >-
            Serialized JSON representation of the provenance, used in generating
            the `BuildSignature` in the corresponding Result. After verifying
            the signature, `provenance_bytes` can be unmarshalled and compared
            to the provenance to confirm that it is unchanged. A base64-encoded
            string representation of the provenance bytes is used for the
            signature in order to interoperate with openssl which expects this
            format for signature verification. The serialized form is captured
            both to avoid ambiguity in how the provenance is marshalled to json
            as well to prevent incompatibilities with future changes.
    VulnerabilityLocation:
      description: The location of the vulnerability
      id: VulnerabilityLocation
      type: object
      properties:
        fileLocation:
          description: The file location at which this package was found.
          items:
            $ref: '#/components/schemas/FileLocation'
          type: array
        package:
          type: string
          description: The package being described.
        cpeUri:
          description: >-
            The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/)
            format. Examples include distro or storage location for vulnerable
            jar. This field can be used as a filter in list requests.
          type: string
        version:
          $ref: '#/components/schemas/Version'
          description: >-
            The version of the package being described. This field can be used
            as a filter in list requests.
    CreateOperationRequest:
      id: CreateOperationRequest
      description: Request for creating an operation
      type: object
      properties:
        operationId:
          type: string
          description: The ID to use for this operation.
        operation:
          description: The operation to create.
          $ref: '#/components/schemas/Operation'
    FileHashes:
      properties:
        fileHash:
          description: Collection of file hashes.
          items:
            $ref: '#/components/schemas/Hash'
          type: array
      description: >-
        Container message for hashes of byte content of files, used in Source
        messages to verify integrity of source input to the build.
      type: object
      id: FileHashes
    GoogleDevtoolsContaineranalysisV1alpha1RepoId:
      properties:
        uid:
          description: A server-assigned, globally unique identifier.
          type: string
        projectRepoId:
          $ref: >-
            #/components/schemas/GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId
          description: A combination of a project ID and a repo name.
      id: GoogleDevtoolsContaineranalysisV1alpha1RepoId
      type: object
      description: A unique identifier for a Cloud Repo.
    ContaineranalysisGoogleDevtoolsCloudbuildV1Results:
      description: Artifacts created by the build pipeline.
      type: object
      properties:
        npmPackages:
          type: array
          description: Npm packages uploaded to Artifact Registry at the end of the build.
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage
        mavenArtifacts:
          type: array
          description: >-
            Maven artifacts uploaded to Artifact Registry at the end of the
            build.
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact
        buildStepImages:
          type: array
          items:
            type: string
          description: >-
            List of build step digests, in the order corresponding to build step
            indices.
        buildStepOutputs:
          type: array
          description: >-
            List of build step outputs, produced by builder images, in the order
            corresponding to build step indices. [Cloud
            Builders](https://cloud.google.com/cloud-build/docs/cloud-builders)
            can produce this output by writing to `$BUILDER_OUTPUT/output`. Only
            the first 4KB of data is stored.
          items:
            type: string
            format: byte
        artifactManifest:
          description: >-
            Path to the artifact manifest for non-container artifacts uploaded
            to Cloud Storage. Only populated when artifacts are uploaded to
            Cloud Storage.
          type: string
        artifactTiming:
          description: Time to push all non-container artifacts to Cloud Storage.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
        images:
          description: Container images that were built as a part of the build.
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage
          type: array
        pythonPackages:
          description: >-
            Python artifacts uploaded to Artifact Registry at the end of the
            build.
          type: array
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage
        numArtifacts:
          format: int64
          type: string
          description: >-
            Number of non-container artifacts uploaded to Cloud Storage. Only
            populated when artifacts are uploaded to Cloud Storage.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1Results
    SbomReferenceIntotoPredicate:
      description: A predicate which describes the SBOM being referenced.
      type: object
      properties:
        location:
          description: The location of the SBOM.
          type: string
        referrerId:
          description: The person or system referring this predicate to the consumer.
          type: string
        digest:
          description: A map of algorithm to digest of the contents of the SBOM.
          additionalProperties:
            type: string
          type: object
        mimeType:
          description: The mime type of the SBOM.
          type: string
      id: SbomReferenceIntotoPredicate
    ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage
      description: >-
        Python package to upload to Artifact Registry upon successful completion
        of all build steps. A package can encapsulate multiple objects to be
        uploaded to a single repository.
      type: object
      properties:
        paths:
          type: array
          description: >-
            Path globs used to match files in the build's workspace. For Python/
            Twine, this is usually `dist/*`, and sometimes additionally an
            `.asc` file.
          items:
            type: string
        repository:
          type: string
          description: >-
            Artifact Registry repository, in the form
            "https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY" Files in the
            workspace matching any path pattern will be uploaded to Artifact
            Registry with this location as a prefix.
    GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMaterial:
      properties:
        uri:
          description: The method by which this artifact was referenced during the build.
          type: string
        digest:
          type: object
          additionalProperties:
            type: string
          description: >-
            Collection of cryptographic digests for the contents of this
            artifact.
      type: object
      description: >-
        The collection of artifacts that influenced the build including sources,
        dependencies, build tools, base images, and so on.
      id: GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMaterial
    ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval:
      type: object
      properties:
        config:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig
          readOnly: true
          description: Output only. Configuration for manual approval of this build.
        state:
          type: string
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - APPROVED
            - REJECTED
            - CANCELLED
          description: Output only. The state of this build's approval.
          enumDescriptions:
            - Default enum type. This should not be used.
            - Build approval is pending.
            - Build approval has been approved.
            - Build approval has been rejected.
            - Build was cancelled while it was still pending approval.
          readOnly: true
        result:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult
          readOnly: true
          description: Output only. Result of manual approval for this Build.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval
      description: >-
        BuildApproval describes a build's approval configuration, state, and
        result.
    ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage:
      properties:
        repository:
          type: string
          description: >-
            Artifact Registry repository, in the form
            "https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY" Npm package in
            the workspace specified by path will be zipped and uploaded to
            Artifact Registry with this location as a prefix.
        packagePath:
          description: Path to the package.json. e.g. workspace/path/to/package
          type: string
      description: >-
        Npm package to upload to Artifact Registry upon successful completion of
        all build steps.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage
      type: object
    Derived:
      id: Derived
      properties:
        distance:
          description: >-
            Output only. The number of layers by which this image differs from
            the associated image basis.
          type: integer
          format: uint32
        layerInfo:
          description: >-
            This contains layer-specific metadata, if populated it has length
            "distance" and is ordered with [distance] being the layer
            immediately following the base image and [1] being the final layer.
          type: array
          items:
            $ref: '#/components/schemas/Layer'
        fingerprint:
          $ref: '#/components/schemas/Fingerprint'
          description: The fingerprint of the derived image.
        baseResourceUrl:
          description: >-
            Output only. This contains the base image URL for the derived image
            occurrence.
          type: string
      description: >-
        Derived describes the derived image portion (Occurrence) of the
        DockerImage relationship. This image would be produced from a Dockerfile
        with FROM .
      type: object
    BuilderConfig:
      properties:
        id:
          type: string
      type: object
      id: BuilderConfig
    VexAssessment:
      properties:
        noteName:
          type: string
          description: >-
            The VulnerabilityAssessment note from which this VexAssessment was
            generated. This will be of the form:
            `projects/[PROJECT_ID]/notes/[NOTE_ID]`.
        cve:
          description: >-
            Holds the MITRE standard Common Vulnerabilities and Exposures (CVE)
            tracking number for the vulnerability.
          type: string
        state:
          description: Provides the state of this Vulnerability assessment.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - AFFECTED
            - NOT_AFFECTED
            - FIXED
            - UNDER_INVESTIGATION
          enumDescriptions:
            - No state is specified.
            - This product is known to be affected by this vulnerability.
            - This product is known to be not affected by this vulnerability.
            - This product contains a fix for this vulnerability.
            - >-
              It is not known yet whether these versions are or are not affected
              by the vulnerability. However, it is still under investigation.
        justification:
          description: >-
            Justification provides the justification when the state of the
            assessment if NOT_AFFECTED.
          $ref: '#/components/schemas/Justification'
        remediations:
          items:
            $ref: '#/components/schemas/Remediation'
          type: array
          description: >-
            Specifies details on how to handle (and presumably, fix) a
            vulnerability.
        impacts:
          items:
            type: string
          description: >-
            Contains information about the impact of this vulnerability, this
            will change with time.
          type: array
        relatedUris:
          type: array
          items:
            $ref: '#/components/schemas/URI'
          description: >-
            Holds a list of references associated with this vulnerability item
            and assessment. These uris have additional information about the
            vulnerability and the assessment itself. E.g. Link to a document
            which details how this assessment concluded the state of this
            vulnerability.
      id: VexAssessment
      description: >-
        VexAssessment provides all publisher provided Vex information that is
        related to this vulnerability.
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1Volume:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1Volume
      properties:
        name:
          type: string
          description: >-
            Name of the volume to mount. Volume names must be unique per build
            step and must be valid names for Docker volumes. Each named volume
            must be used by at least two build steps.
        path:
          type: string
          description: >-
            Path at which to mount the volume. Paths must be absolute and cannot
            conflict with other volume paths on the same build step or with
            certain reserved volume paths.
      description: >-
        Volume describes a Docker container volume which is mounted into build
        steps in order to persist files across build step execution.
      type: object
    ListOccurrencesResponse:
      properties:
        occurrences:
          items:
            $ref: '#/components/schemas/Occurrence'
          description: The occurrences requested.
          type: array
        nextPageToken:
          description: >-
            The next pagination token in the list response. It should be used as
            `page_token` for the following request. An empty value means no more
            results.
          type: string
      type: object
      description: Response including listed active occurrences.
      id: ListOccurrencesResponse
    Artifact:
      id: Artifact
      type: object
      description: Artifact describes a build product.
      properties:
        checksum:
          description: >-
            Hash or checksum value of a binary, or Docker Registry 2.0 digest of
            a container.
          type: string
        name:
          description: >-
            Name of the artifact. This may be the path to a binary or jar file,
            or in the case of a container build, the name used to push the
            container image to Google Container Registry, as presented to
            `docker push`. This field is deprecated in favor of the plural
            `names` field; it continues to exist here to allow existing
            BuildProvenance serialized to json in
            google.devtools.containeranalysis.v1alpha1.BuildDetails.provenance_bytes
            to deserialize back into proto.
          type: string
        names:
          description: >-
            Related artifact names. This may be the path to a binary or jar
            file, or in the case of a container build, the name used to push the
            container image to Google Container Registry, as presented to
            `docker push`. Note that a single Artifact ID can have multiple
            names, for example if two tags are applied to one image.
          type: array
          items:
            type: string
        id:
          type: string
          description: >-
            Artifact ID, if any; for container images, this will be a URL by
            digest like gcr.io/projectID/imagename@sha256:123456
    UpgradeOccurrence:
      id: UpgradeOccurrence
      type: object
      description: >-
        An Upgrade Occurrence represents that a specific resource_url could
        install a specific upgrade. This presence is supplied via local sources
        (i.e. it is present in the mirror and the running system has noticed its
        availability).
      properties:
        package:
          description: Required - The package this Upgrade is for.
          type: string
        distribution:
          description: >-
            Metadata about the upgrade for available for the specific operating
            system for the resource_url. This allows efficient filtering, as
            well as making it easier to use the occurrence.
          $ref: '#/components/schemas/UpgradeDistribution'
        parsedVersion:
          $ref: '#/components/schemas/Version'
          description: >-
            Required - The version of the package in a machine + human readable
            form.
    ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact:
      description: >-
        A Maven artifact to upload to Artifact Registry upon successful
        completion of all build steps.
      type: object
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact
      properties:
        repository:
          type: string
          description: >-
            Artifact Registry repository, in the form
            "https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY" Artifact in the
            workspace specified by path will be uploaded to Artifact Registry
            with this location as a prefix.
        groupId:
          description: >-
            Maven `groupId` value used when uploading the artifact to Artifact
            Registry.
          type: string
        path:
          type: string
          description: >-
            Path to an artifact in the build's workspace to be uploaded to
            Artifact Registry. This can be either an absolute path, e.g.
            /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path
            from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar.
        version:
          description: >-
            Maven `version` value used when uploading the artifact to Artifact
            Registry.
          type: string
        artifactId:
          description: >-
            Maven `artifactId` value used when uploading the artifact to
            Artifact Registry.
          type: string
    TimeSpan:
      type: object
      description: 'Start and end times for a build execution phase. Next ID: 3'
      properties:
        endTime:
          format: google-datetime
          type: string
          description: End of time span.
        startTime:
          description: Start of time span.
          format: google-datetime
          type: string
      id: TimeSpan
    Resource:
      description: ' Resource is an entity that can have metadata. E.g., a Docker image.'
      type: object
      properties:
        contentHash:
          description: The hash of the resource content. E.g., the Docker digest.
          $ref: '#/components/schemas/Hash'
        name:
          type: string
          description: >-
            The name of the resource. E.g., the name of a Docker image -
            "Debian".
        uri:
          type: string
          description: >-
            The unique URI of the resource. E.g.,
            "https://gcr.io/project/image@sha256:foo" for a Docker image.
      id: Resource
    GetIamPolicyRequest:
      type: object
      properties:
        options:
          description: >-
            OPTIONAL: A `GetPolicyOptions` object for specifying options to
            `GetIamPolicy`.
          $ref: '#/components/schemas/GetPolicyOptions'
      description: Request message for `GetIamPolicy` method.
      id: GetIamPolicyRequest
    Source:
      description: Source describes the location of the source used for the build.
      id: Source
      type: object
      properties:
        storageSource:
          $ref: '#/components/schemas/StorageSource'
          description: >-
            If provided, get the source from this location in Google Cloud
            Storage.
        fileHashes:
          additionalProperties:
            $ref: '#/components/schemas/FileHashes'
          description: >-
            Hash(es) of the build source, which can be used to verify that the
            original source integrity was maintained in the build. The keys to
            this map are file paths used as build source and the values contain
            the hash values for those files. If the build source came in a
            single package such as a gzipped tarfile (.tar.gz), the FileHash
            will be for the single path to that file.
          type: object
        repoSource:
          description: If provided, get source from this location in a Cloud Repo.
          $ref: '#/components/schemas/RepoSource'
        additionalContexts:
          type: array
          description: >-
            If provided, some of the source code used for the build may be found
            in these locations, in the case where the source repository had
            multiple remotes or submodules. This list will not include the
            context specified in the context field.
          items:
            $ref: >-
              #/components/schemas/GoogleDevtoolsContaineranalysisV1alpha1SourceContext
        artifactStorageSource:
          $ref: '#/components/schemas/StorageSource'
          description: >-
            If provided, the input binary artifacts for the build came from this
            location.
        context:
          description: >-
            If provided, the source code used for the build came from this
            location.
          $ref: >-
            #/components/schemas/GoogleDevtoolsContaineranalysisV1alpha1SourceContext
    Layer:
      properties:
        directive:
          enumDescriptions:
            - Default value for unsupported/missing directive
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/reference/builder/#copy
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
            - https://docs.docker.com/engine/reference/builder/
          enum:
            - DIRECTIVE_UNSPECIFIED
            - MAINTAINER
            - RUN
            - CMD
            - LABEL
            - EXPOSE
            - ENV
            - ADD
            - COPY
            - ENTRYPOINT
            - VOLUME
            - USER
            - WORKDIR
            - ARG
            - ONBUILD
            - STOPSIGNAL
            - HEALTHCHECK
            - SHELL
          description: The recovered Dockerfile directive used to construct this layer.
          type: string
        arguments:
          type: string
          description: The recovered arguments to the Dockerfile directive.
      type: object
      description: Layer holds metadata specific to a layer of a Docker image.
      id: Layer
    ListNotesResponse:
      properties:
        nextPageToken:
          type: string
          description: >-
            The next pagination token in the list response. It should be used as
            page_token for the following request. An empty value means no more
            result.
        notes:
          items:
            $ref: '#/components/schemas/Note'
          description: The occurrences requested
          type: array
      id: ListNotesResponse
      description: Response including listed notes.
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest
      description: >-
        Location of the source manifest in Cloud Storage. This feature is in
        Preview; see description
        [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).
      properties:
        bucket:
          type: string
          description: >-
            Cloud Storage bucket containing the source manifest (see [Bucket
            Name
            Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).
        generation:
          description: >-
            Cloud Storage generation for the object. If the generation is
            omitted, the latest generation will be used.
          format: int64
          type: string
        object:
          description: >-
            Cloud Storage object containing the source manifest. This object
            must be a JSON file.
          type: string
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions:
      properties:
        logStreamingOption:
          enumDescriptions:
            - Service may automatically determine build log streaming behavior.
            - Build logs should be streamed to Cloud Storage.
            - >-
              Build logs should not be streamed to Cloud Storage; they will be
              written when the build is completed.
          type: string
          enum:
            - STREAM_DEFAULT
            - STREAM_ON
            - STREAM_OFF
          description: Option to define build log streaming behavior to Cloud Storage.
        pool:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption
          description: >-
            Optional. Specification for execution on a `WorkerPool`. See
            [running builds in a private
            pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool)
            for more information.
        substitutionOption:
          type: string
          description: >-
            Option to specify behavior when there is an error in the
            substitution checks. NOTE: this is always set to ALLOW_LOOSE for
            triggered builds and cannot be overridden in the build configuration
            file.
          enumDescriptions:
            - >-
              Fails the build if error in substitutions checks, like missing a
              substitution in the template or in the map.
            - Do not fail the build if error in substitutions checks.
          enum:
            - MUST_MATCH
            - ALLOW_LOOSE
        defaultLogsBucketBehavior:
          enum:
            - DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED
            - REGIONAL_USER_OWNED_BUCKET
          enumDescriptions:
            - Unspecified.
            - >-
              Bucket is located in user-owned project in the same region as the
              build. The builder service account must have access to create and
              write to GCS buckets in the build project.
          description: Optional. Option to specify how default logs buckets are setup.
          type: string
        sourceProvenanceHash:
          items:
            type: string
            enumDescriptions:
              - No hash requested.
              - Use a sha256 hash.
              - Use a md5 hash.
              - Use a sha512 hash.
            enum:
              - NONE
              - SHA256
              - MD5
              - SHA512
          description: Requested hash for SourceProvenance.
          type: array
        volumes:
          type: array
          description: >-
            Global list of volumes to mount for ALL build steps Each volume is
            created as an empty volume prior to starting the build process. Upon
            completion of the build, volumes and their contents are discarded.
            Global volume names and paths cannot conflict with the volumes
            defined a build step. Using a global volume in a build with only one
            step is not valid as it is indicative of a build request with an
            incorrect configuration.
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1Volume
        diskSizeGb:
          type: string
          description: >-
            Requested disk size for the VM that runs the build. Note that this
            is *NOT* "disk free"; some of the space will be used by the
            operating system and build utilities. Also note that this is the
            minimum disk size that will be allocated for the build -- the build
            may run with a larger disk than requested. At present, the maximum
            disk size is 2000GB; builds that request more than the maximum are
            rejected with an error.
          format: int64
        env:
          description: >-
            A list of global environment variable definitions that will exist
            for all build steps in this build. If a variable is defined in both
            globally and in a build step, the variable will use the build step
            value. The elements are of the form "KEY=VALUE" for the environment
            variable "KEY" being given the value "VALUE".
          items:
            type: string
          type: array
        secretEnv:
          type: array
          items:
            type: string
          description: >-
            A list of global environment variables, which are encrypted using a
            Cloud Key Management Service crypto key. These values must be
            specified in the build's `Secret`. These variables will be available
            to all build steps in this build.
        machineType:
          enum:
            - UNSPECIFIED
            - N1_HIGHCPU_8
            - N1_HIGHCPU_32
            - E2_HIGHCPU_8
            - E2_HIGHCPU_32
          enumDescriptions:
            - Standard machine type.
            - Highcpu machine with 8 CPUs.
            - Highcpu machine with 32 CPUs.
            - Highcpu e2 machine with 8 CPUs.
            - Highcpu e2 machine with 32 CPUs.
          type: string
          description: Compute Engine machine type on which to run the build.
        logging:
          enum:
            - LOGGING_UNSPECIFIED
            - LEGACY
            - GCS_ONLY
            - STACKDRIVER_ONLY
            - CLOUD_LOGGING_ONLY
            - NONE
          type: string
          description: >-
            Option to specify the logging mode, which determines if and where
            build logs are stored.
          enumDescriptions:
            - >-
              The service determines the logging mode. The default is `LEGACY`.
              Do not rely on the default logging behavior as it may change in
              the future.
            - Build logs are stored in Cloud Logging and Cloud Storage.
            - Build logs are stored in Cloud Storage.
            - This option is the same as CLOUD_LOGGING_ONLY.
            - >-
              Build logs are stored in Cloud Logging. Selecting this option will
              not allow [logs
              streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).
            - Turn off all logging. No build logs will be captured.
        requestedVerifyOption:
          description: Requested verifiability options.
          enum:
            - NOT_VERIFIED
            - VERIFIED
          type: string
          enumDescriptions:
            - Not a verifiable build (the default).
            - Build must be verified.
        dynamicSubstitutions:
          type: boolean
          description: >-
            Option to specify whether or not to apply bash style string
            operations to the substitutions. NOTE: this is always enabled for
            triggered builds and cannot be overridden in the build configuration
            file.
        workerPool:
          description: This field deprecated; please use `pool.name` instead.
          type: string
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions
      type: object
      description: Optional arguments to enable specific features of builds.
    ExternalRef:
      id: ExternalRef
      type: object
      properties:
        type:
          type: string
          description: Type of category (e.g. 'npm' for the PACKAGE_MANAGER category)
        locator:
          type: string
          description: >-
            The unique string with no spaces necessary to access the
            package-specific information, metadata, or content within the target
            location
        category:
          description: >-
            An External Reference allows a Package to reference an external
            source of additional information, metadata, enumerations, asset
            identifiers, or downloadable content believed to be relevant to the
            Package
          enum:
            - CATEGORY_UNSPECIFIED
            - SECURITY
            - PACKAGE_MANAGER
            - PERSISTENT_ID
            - OTHER
          type: string
          enumDescriptions:
            - Unspecified
            - Security (e.g. cpe22Type, cpe23Type)
            - Package Manager (e.g. maven-central, npm, nuget, bower, purl)
            - Persistent-Id (e.g. swh)
            - Other
        comment:
          description: >-
            Human-readable information about the purpose and target of the
            reference
          type: string
      description: >-
        An External Reference allows a Package to reference an external source
        of additional information, metadata, enumerations, asset identifiers, or
        downloadable content believed to be relevant to the Package
    AttestationAuthority:
      description: >-
        Note kind that represents a logical attestation "role" or "authority".
        For example, an organization might have one `AttestationAuthority` for
        "QA" and one for "build". This Note is intended to act strictly as a
        grouping mechanism for the attached Occurrences (Attestations). This
        grouping mechanism also provides a security boundary, since IAM ACLs
        gate the ability for a principle to attach an Occurrence to a given
        Note. It also provides a single point of lookup to find all attached
        Attestation Occurrences, even if they don't all live in the same
        project.
      properties:
        hint:
          $ref: '#/components/schemas/AttestationAuthorityHint'
      type: object
      id: AttestationAuthority
    Recipe:
      description: >-
        Steps taken to build the artifact. For a TaskRun, typically each
        container corresponds to one step in the recipe.
      properties:
        arguments:
          type: array
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
            type: object
          description: >-
            Collection of all external inputs that influenced the build on top
            of recipe.definedInMaterial and recipe.entryPoint. For example, if
            the recipe type were "make", then this might be the flags passed to
            make aside from the target, which is captured in recipe.entryPoint.
        entryPoint:
          description: >-
            String identifying the entry point into the build. This is often a
            path to a configuration file and/or a target label within that file.
            The syntax and meaning are defined by recipe.type. For example, if
            the recipe type were "make", then this would reference the directory
            in which to run make as well as which target to use.
          type: string
        environment:
          description: >-
            Any other builder-controlled inputs necessary for correctly
            evaluating the recipe. Usually only needed for reproducing the build
            but not evaluated as part of policy.
          items:
            type: object
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
              type: any
          type: array
        definedInMaterial:
          format: int64
          type: string
          description: >-
            Index in materials containing the recipe steps that are not implied
            by recipe.type. For example, if the recipe type were "make", then
            this would point to the source containing the Makefile, not the make
            program itself. Set to -1 if the recipe doesn't come from a
            material, as zero is default unset value for int64.
        type:
          type: string
          description: >-
            URI indicating what type of recipe was performed. It determines the
            meaning of recipe.entryPoint, recipe.arguments, recipe.environment,
            and materials.
      id: Recipe
      type: object
    UpdateOperationRequest:
      type: object
      properties:
        operation:
          description: The operation to create.
          $ref: '#/components/schemas/Operation'
        updateMask:
          description: The fields to update.
          type: string
          format: google-fieldmask
      id: UpdateOperationRequest
      description: Request for updating an existing operation
    Assessment:
      description: >-
        Assessment provides all information that is related to a single
        vulnerability for this product.
      id: Assessment
      properties:
        state:
          enum:
            - STATE_UNSPECIFIED
            - AFFECTED
            - NOT_AFFECTED
            - FIXED
            - UNDER_INVESTIGATION
          enumDescriptions:
            - No state is specified.
            - This product is known to be affected by this vulnerability.
            - This product is known to be not affected by this vulnerability.
            - This product contains a fix for this vulnerability.
            - >-
              It is not known yet whether these versions are or are not affected
              by the vulnerability. However, it is still under investigation.
          description: Provides the state of this Vulnerability assessment.
          type: string
        shortDescription:
          description: A one sentence description of this Vex.
          type: string
        justification:
          description: >-
            Justification provides the justification when the state of the
            assessment if NOT_AFFECTED.
          $ref: '#/components/schemas/Justification'
        cve:
          type: string
          description: >-
            Holds the MITRE standard Common Vulnerabilities and Exposures (CVE)
            tracking number for the vulnerability.
        impacts:
          type: array
          description: >-
            Contains information about the impact of this vulnerability, this
            will change with time.
          items:
            type: string
        relatedUris:
          items:
            $ref: '#/components/schemas/URI'
          type: array
          description: >-
            Holds a list of references associated with this vulnerability item
            and assessment. These uris have additional information about the
            vulnerability and the assessment itself. E.g. Link to a document
            which details how this assessment concluded the state of this
            vulnerability.
        longDescription:
          type: string
          description: A detailed description of this Vex.
        remediations:
          type: array
          description: >-
            Specifies details on how to handle (and presumably, fix) a
            vulnerability.
          items:
            $ref: '#/components/schemas/Remediation'
      type: object
    ListNoteOccurrencesResponse:
      properties:
        nextPageToken:
          type: string
          description: Token to receive the next page of notes.
        occurrences:
          type: array
          description: The occurrences attached to the specified note.
          items:
            $ref: '#/components/schemas/Occurrence'
      id: ListNoteOccurrencesResponse
      type: object
      description: Response including listed occurrences for a note.
    ComplianceOccurrence:
      id: ComplianceOccurrence
      properties:
        nonCompliantFiles:
          items:
            $ref: '#/components/schemas/NonCompliantFile'
          description: A list of files which are violating compliance checks.
          type: array
        nonComplianceReason:
          description: The reason for non compliance of these files.
          type: string
      type: object
      description: >-
        An indication that the compliance checks in the associated
        ComplianceNote were not satisfied for particular resources or a
        specified reason.
    Command:
      id: Command
      description: Command describes a step performed as part of the build pipeline.
      properties:
        env:
          description: Environment variables set before running this Command.
          type: array
          items:
            type: string
        dir:
          description: >-
            Working directory (relative to project source root) used when
            running this Command.
          type: string
        name:
          description: >-
            Name of the command, as presented on the command line, or if the
            command is packaged as a Docker container, as presented to `docker
            pull`.
          type: string
        args:
          description: Command-line arguments used when executing this Command.
          items:
            type: string
          type: array
        waitFor:
          items:
            type: string
          description: The ID(s) of the Command(s) that this Command depends on.
          type: array
        id:
          type: string
          description: >-
            Optional unique identifier for this Command, used in wait_for to
            reference this Command as a dependency.
      type: object
    TestIamPermissionsRequest:
      properties:
        permissions:
          type: array
          items:
            type: string
          description: >-
            The set of permissions to check for the `resource`. Permissions with
            wildcards (such as `*` or `storage.*`) are not allowed. For more
            information see [IAM
            Overview](https://cloud.google.com/iam/docs/overview#permissions).
      description: Request message for `TestIamPermissions` method.
      id: TestIamPermissionsRequest
      type: object
    GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMetadata:
      type: object
      description: Other properties of the build.
      id: GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaMetadata
      properties:
        completeness:
          description: >-
            Indicates that the builder claims certain fields in this message to
            be complete.
          $ref: >-
            #/components/schemas/GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaCompleteness
        buildFinishedOn:
          type: string
          format: google-datetime
          description: The timestamp of when the build completed.
        buildStartedOn:
          description: The timestamp of when the build started.
          format: google-datetime
          type: string
        buildInvocationId:
          description: >-
            Identifies this particular build invocation, which can be useful for
            finding associated logs or other ad-hoc analysis.
          type: string
        reproducible:
          type: boolean
          description: >-
            If true, the builder claims that running invocation on materials
            will produce bit-for-bit identical output.
    BuildSignature:
      type: object
      properties:
        keyId:
          description: >-
            An Id for the key used to sign. This could be either an Id for the
            key stored in `public_key` (such as the Id or fingerprint for a PGP
            key, or the CN for a cert), or a reference to an external key (such
            as a reference to a key in Cloud Key Management Service).
          type: string
        signature:
          description: >-
            Signature of the related `BuildProvenance`, encoded in a base64
            string.
          type: string
        publicKey:
          type: string
          description: >-
            Public key of the builder which can be used to verify that the
            related findings are valid and unchanged. If `key_type` is empty,
            this defaults to PEM encoded public keys. This field may be empty if
            `key_id` references an external key. For Cloud Build based
            signatures, this is a PEM encoded public key. To verify the Cloud
            Build signature, place the contents of this field into a file
            (public.pem). The signature field is base64-decoded into its binary
            representation in signature.bin, and the provenance bytes from
            `BuildDetails` are base64-decoded into a binary representation in
            signed.bin. OpenSSL can then verify the signature: `openssl sha256
            -verify public.pem -signature signature.bin signed.bin`
        keyType:
          type: string
          enum:
            - KEY_TYPE_UNSPECIFIED
            - PGP_ASCII_ARMORED
            - PKIX_PEM
          enumDescriptions:
            - '`KeyType` is not set.'
            - '`PGP ASCII Armored` public key.'
            - '`PKIX PEM` public key.'
          description: >-
            The type of the key, either stored in `public_key` or referenced in
            `key_id`
      description: Message encapsulating the signature of the verified build.
      id: BuildSignature
    ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret:
      type: object
      description: >-
        Pairs a secret environment variable with a SecretVersion in Secret
        Manager.
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret
      properties:
        versionName:
          description: >-
            Resource name of the SecretVersion. In format:
            projects/*/secrets/*/versions/*
          type: string
        env:
          description: >-
            Environment variable name to associate with the secret. Secret
            environment variables must be unique across all of a build's
            secrets, and must be used by at least one build step.
          type: string
    Note:
      properties:
        updateTime:
          type: string
          format: google-datetime
          description: >-
            Output only. The time this note was last updated. This field can be
            used as a filter in list requests.
        relatedUrl:
          items:
            $ref: '#/components/schemas/RelatedUrl'
          description: URLs associated with this note
          type: array
        deployable:
          description: A note describing something that can be deployed.
          $ref: '#/components/schemas/Deployable'
        name:
          type: string
          description: >-
            The name of the note in the form
            "projects/{provider_project_id}/notes/{NOTE_ID}"
        vulnerabilityAssessment:
          $ref: '#/components/schemas/VulnerabilityAssessmentNote'
          description: A note describing a vulnerability assessment.
        spdxPackage:
          description: A note describing an SPDX Package.
          $ref: '#/components/schemas/PackageInfoNote'
        spdxRelationship:
          description: A note describing a relationship between SPDX elements.
          $ref: '#/components/schemas/RelationshipNote'
        expirationTime:
          format: google-datetime
          type: string
          description: Time of expiration for this note, null if note does not expire.
        buildType:
          description: Build provenance type for a verifiable build.
          $ref: '#/components/schemas/BuildType'
        sbomReference:
          description: A note describing a reference to an SBOM.
          $ref: '#/components/schemas/SBOMReferenceNote'
        compliance:
          description: A note describing a compliance check.
          $ref: '#/components/schemas/ComplianceNote'
        createTime:
          description: >-
            Output only. The time this note was created. This field can be used
            as a filter in list requests.
          format: google-datetime
          type: string
        package:
          $ref: '#/components/schemas/Package'
          description: A note describing a package hosted by various package managers.
        shortDescription:
          description: A one sentence description of this `Note`.
          type: string
        discovery:
          $ref: '#/components/schemas/Discovery'
          description: A note describing a provider/analysis type.
        kind:
          enum:
            - KIND_UNSPECIFIED
            - PACKAGE_VULNERABILITY
            - BUILD_DETAILS
            - IMAGE_BASIS
            - PACKAGE_MANAGER
            - DEPLOYABLE
            - DISCOVERY
            - ATTESTATION_AUTHORITY
            - UPGRADE
            - COMPLIANCE
            - SBOM
            - SPDX_PACKAGE
            - SPDX_FILE
            - SPDX_RELATIONSHIP
            - DSSE_ATTESTATION
            - VULNERABILITY_ASSESSMENT
            - SBOM_REFERENCE
          type: string
          enumDescriptions:
            - Unknown
            - The note and occurrence represent a package vulnerability.
            - The note and occurrence assert build provenance.
            - This represents an image basis relationship.
            - This represents a package installed via a package manager.
            - The note and occurrence track deployment events.
            - >-
              The note and occurrence track the initial discovery status of a
              resource.
            - This represents a logical "role" that can attest to artifacts.
            - This represents an available software upgrade.
            - >-
              This represents a compliance check that can be applied to a
              resource.
            - This represents a software bill of materials.
            - This represents an SPDX Package.
            - This represents an SPDX File.
            - This represents an SPDX Relationship.
            - This represents a DSSE attestation Note
            - This represents a Vulnerability Assessment.
            - This represents a reference to an SBOM.
          description: >-
            Output only. This explicitly denotes which kind of note is
            specified. This field can be used as a filter in list requests.
        vulnerabilityType:
          $ref: '#/components/schemas/VulnerabilityType'
          description: A package vulnerability type of note.
        baseImage:
          $ref: '#/components/schemas/Basis'
          description: A note describing a base image.
        dsseAttestation:
          description: A note describing a dsse attestation note.
          $ref: '#/components/schemas/DSSEAttestationNote'
        spdxFile:
          description: A note describing an SPDX File.
          $ref: '#/components/schemas/FileNote'
        upgrade:
          $ref: '#/components/schemas/UpgradeNote'
          description: A note describing an upgrade.
        attestationAuthority:
          description: A note describing an attestation role.
          $ref: '#/components/schemas/AttestationAuthority'
        longDescription:
          type: string
          description: A detailed description of this `Note`.
        sbom:
          description: A note describing a software bill of materials.
          $ref: '#/components/schemas/DocumentNote'
      type: object
      description: Provides a detailed description of a `Note`.
      id: Note
    ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage
      description: Artifact uploaded using the PythonPackage directive.
      properties:
        fileHashes:
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes
          description: Hash types and values of the Python Artifact.
        pushTiming:
          readOnly: true
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan
          description: >-
            Output only. Stores timing information for pushing the specified
            artifact.
        uri:
          description: URI of the uploaded artifact.
          type: string
      type: object
    ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption
      type: object
      description: >-
        Details about how a build should be executed on a `WorkerPool`. See
        [running builds in a private
        pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool)
        for more information.
      properties:
        name:
          type: string
          description: >-
            The `WorkerPool` resource to execute the build on. You must have
            `cloudbuild.workerpools.use` on the project hosting the WorkerPool.
            Format
            projects/{project}/locations/{location}/workerPools/{workerPoolId}
    GoogleDevtoolsContaineranalysisV1alpha1SourceContext:
      description: >-
        A SourceContext is a reference to a tree of files. A SourceContext
        together with a path point to a unique revision of a single file or
        directory.
      properties:
        gerrit:
          $ref: >-
            #/components/schemas/GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext
          description: A SourceContext referring to a Gerrit project.
        git:
          description: >-
            A SourceContext referring to any third party Git repo (e.g.,
            GitHub).
          $ref: >-
            #/components/schemas/GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext
        cloudRepo:
          $ref: >-
            #/components/schemas/GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext
          description: >-
            A SourceContext referring to a revision in a Google Cloud Source
            Repo.
        labels:
          additionalProperties:
            type: string
          type: object
          description: Labels with user defined metadata.
      type: object
      id: GoogleDevtoolsContaineranalysisV1alpha1SourceContext
    SetIamPolicyRequest:
      type: object
      id: SetIamPolicyRequest
      properties:
        policy:
          description: >-
            REQUIRED: The complete policy to be applied to the `resource`. The
            size of the policy is limited to a few 10s of KB. An empty policy is
            a valid policy but certain Google Cloud services (such as Projects)
            might reject them.
          $ref: '#/components/schemas/Policy'
      description: Request message for `SetIamPolicy` method.
    PackageInfoOccurrence:
      id: PackageInfoOccurrence
      type: object
      properties:
        id:
          description: >-
            Uniquely identify any element in an SPDX document which may be
            referenced by other elements
          type: string
        version:
          readOnly: true
          description: Output only. Identify the version of the package
          type: string
        summaryDescription:
          description: Output only. A short description of the package
          readOnly: true
          type: string
        comment:
          description: >-
            A place for the SPDX file creator to record any general comments
            about the package being described
          type: string
        title:
          description: >-
            Output only. Identify the full name of the package as given by the
            Package Originator
          readOnly: true
          type: string
        packageType:
          type: string
          readOnly: true
          description: 'Output only. The type of package: OS, MAVEN, GO, GO_STDLIB, etc.'
        filename:
          type: string
          description: >-
            Provide the actual file name of the package, or path of the
            directory being treated as a package
        homePage:
          readOnly: true
          type: string
          description: >-
            Output only. Provide a place for the SPDX file creator to record a
            web site that serves as the package's home page
        sourceInfo:
          description: >-
            Provide a place for the SPDX file creator to record any relevant
            background information or additional comments about the origin of
            the package
          type: string
        licenseConcluded:
          description: >-
            package or alternative values, if the governing license cannot be
            determined
          $ref: '#/components/schemas/License'
      description: >-
        PackageInfoOccurrence represents an SPDX Package Information section:
        https://spdx.github.io/spdx-spec/3-package-information/
    Attestation:
      description: >-
        Occurrence that represents a single "attestation". The authenticity of
        an Attestation can be verified using the attached signature. If the
        verifier trusts the public key of the signer, then verifying the
        signature is sufficient to establish trust. In this circumstance, the
        AttestationAuthority to which this Attestation is attached is primarily
        useful for look-up (how to find this Attestation if you already know the
        Authority and artifact to be verified) and intent (which authority was
        this attestation intended to sign for).
      id: Attestation
      properties:
        pgpSignedAttestation:
          $ref: '#/components/schemas/PgpSignedAttestation'
      type: object
    Policy:
      properties:
        etag:
          format: byte
          description: >-
            `etag` is used for optimistic concurrency control as a way to help
            prevent simultaneous updates of a policy from overwriting each
            other. It is strongly suggested that systems make use of the `etag`
            in the read-modify-write cycle to perform policy updates in order to
            avoid race conditions: An `etag` is returned in the response to
            `getIamPolicy`, and systems are expected to put that etag in the
            request to `setIamPolicy` to ensure that their change will be
            applied to the same version of the policy. **Important:** If you use
            IAM Conditions, you must include the `etag` field whenever you call
            `setIamPolicy`. If you omit this field, then IAM allows you to
            overwrite a version `3` policy with a version `1` policy, and all of
            the conditions in the version `3` policy are lost.
          type: string
        bindings:
          items:
            $ref: '#/components/schemas/Binding'
          description: >-
            Associates a list of `members`, or principals, with a `role`.
            Optionally, may specify a `condition` that determines how and when
            the `bindings` are applied. Each of the `bindings` must contain at
            least one principal. The `bindings` in a `Policy` can refer to up to
            1,500 principals; up to 250 of these principals can be Google
            groups. Each occurrence of a principal counts towards these limits.
            For example, if the `bindings` grant 50 different roles to
            `user:alice@example.com`, and not to any other principal, then you
            can add another 1,450 principals to the `bindings` in the `Policy`.
          type: array
        version:
          format: int32
          description: >-
            Specifies the format of the policy. Valid values are `0`, `1`, and
            `3`. Requests that specify an invalid value are rejected. Any
            operation that affects conditional role bindings must specify
            version `3`. This requirement applies to the following operations: *
            Getting a policy that includes a conditional role binding * Adding a
            conditional role binding to a policy * Changing a conditional role
            binding in a policy * Removing any role binding, with or without a
            condition, from a policy that includes conditions **Important:** If
            you use IAM Conditions, you must include the `etag` field whenever
            you call `setIamPolicy`. If you omit this field, then IAM allows you
            to overwrite a version `3` policy with a version `1` policy, and all
            of the conditions in the version `3` policy are lost. If a policy
            does not include any conditions, operations on that policy may
            specify any valid version or leave the field unset. To learn which
            resources support conditions in their IAM policies, see the [IAM
            documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          type: integer
      id: Policy
      type: object
      description: >-
        An Identity and Access Management (IAM) policy, which specifies access
        controls for Google Cloud resources. A `Policy` is a collection of
        `bindings`. A `binding` binds one or more `members`, or principals, to a
        single `role`. Principals can be user accounts, service accounts, Google
        groups, and domains (such as G Suite). A `role` is a named list of
        permissions; each `role` can be an IAM predefined role or a user-created
        custom role. For some types of Google Cloud resources, a `binding` can
        also specify a `condition`, which is a logical expression that allows
        access to a resource only if the expression evaluates to `true`. A
        condition can add constraints based on attributes of the request, the
        resource, or both. To learn which resources support conditions in their
        IAM policies, see the [IAM
        documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        **JSON example:** { "bindings": [ { "role":
        "roles/resourcemanager.organizationAdmin", "members": [
        "user:mike@example.com", "group:admins@example.com",
        "domain:google.com",
        "serviceAccount:my-project-id@appspot.gserviceaccount.com" ] }, {
        "role": "roles/resourcemanager.organizationViewer", "members": [
        "user:eve@example.com" ], "condition": { "title": "expirable access",
        "description": "Does not grant access after Sep 2020", "expression":
        "request.time < timestamp('2020-10-01T00:00:00.000Z')", } } ], "etag":
        "BwWWja0YfJA=", "version": 3 } **YAML example:** bindings: - members: -
        user:mike@example.com - group:admins@example.com - domain:google.com -
        serviceAccount:my-project-id@appspot.gserviceaccount.com role:
        roles/resourcemanager.organizationAdmin - members: -
        user:eve@example.com role: roles/resourcemanager.organizationViewer
        condition: title: expirable access description: Does not grant access
        after Sep 2020 expression: request.time <
        timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For
        a description of IAM and its features, see the [IAM
        documentation](https://cloud.google.com/iam/docs/).
    PgpSignedAttestation:
      type: object
      properties:
        pgpKeyId:
          type: string
          description: >-
            The cryptographic fingerprint of the key used to generate the
            signature, as output by, e.g. `gpg --list-keys`. This should be the
            version 4, full 160-bit fingerprint, expressed as a 40 character
            hexadecimal string. See
            https://tools.ietf.org/html/rfc4880#section-12.2 for details.
            Implementations may choose to acknowledge "LONG", "SHORT", or other
            abbreviated key IDs, but only the full fingerprint is guaranteed to
            work. In gpg, the full fingerprint can be retrieved from the `fpr`
            field returned when calling --list-keys with --with-colons. For
            example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \
            --list-keys attester@example.com tru::1:1513631572:0:3:1:5
            pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ```
            Above, the fingerprint is
            `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`.
        signature:
          description: >-
            The raw content of the signature, as output by GNU Privacy Guard
            (GPG) or equivalent. Since this message only supports attached
            signatures, the payload that was signed must be attached. While the
            signature format supported is dependent on the verification
            implementation, currently only ASCII-armored (`--armor` to gpg),
            non-clearsigned (`--sign` rather than `--clearsign` to gpg) are
            supported. Concretely, `gpg --sign --armor --output=signature.gpg
            payload.json` will create the signature content expected in this
            field in `signature.gpg` for the `payload.json` attestation payload.
          type: string
        contentType:
          enumDescriptions:
            - '`ContentType` is not set.'
            - >-
              Atomic format attestation signature. See
              https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md
              The payload extracted from `signature` is a JSON blob conforming
              to the linked schema.
          enum:
            - CONTENT_TYPE_UNSPECIFIED
            - SIMPLE_SIGNING_JSON
          description: >-
            Type (for example schema) of the attestation payload that was
            signed. The verifier must ensure that the provided type is one that
            the verifier supports, and that the attestation payload is a valid
            instantiation of that type (for example by validating a JSON
            schema).
          type: string
      description: >-
        An attestation wrapper with a PGP-compatible signature. This message
        only supports `ATTACHED` signatures, where the payload that is signed is
        included alongside the signature itself in the same file.
      id: PgpSignedAttestation
    ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets
      type: object
      description: Secrets and secret environment variables.
      properties:
        secretManager:
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret
          type: array
          description: >-
            Secrets in Secret Manager and associated secret environment
            variable.
        inline:
          description: >-
            Secrets encrypted with KMS key and the associated secret environment
            variable.
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret
          type: array
    ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts:
      id: ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts
      type: object
      properties:
        mavenArtifacts:
          description: >-
            A list of Maven artifacts to be uploaded to Artifact Registry upon
            successful completion of all build steps. Artifacts in the workspace
            matching specified paths globs will be uploaded to the specified
            Artifact Registry repository using the builder service account's
            credentials. If any artifacts fail to be pushed, the build is marked
            FAILURE.
          type: array
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact
        pythonPackages:
          type: array
          description: >-
            A list of Python packages to be uploaded to Artifact Registry upon
            successful completion of all build steps. The build service account
            credentials will be used to perform the upload. If any objects fail
            to be pushed, the build is marked FAILURE.
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage
        images:
          type: array
          description: >-
            A list of images to be pushed upon the successful completion of all
            build steps. The images will be pushed using the builder service
            account's credentials. The digests of the pushed images will be
            stored in the Build resource's results field. If any of the images
            fail to be pushed, the build is marked FAILURE.
          items:
            type: string
        npmPackages:
          items:
            $ref: >-
              #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage
          description: >-
            A list of npm packages to be uploaded to Artifact Registry upon
            successful completion of all build steps. Npm packages in the
            specified paths will be uploaded to the specified Artifact Registry
            repository using the builder service account's credentials. If any
            packages fail to be pushed, the build is marked FAILURE.
          type: array
        objects:
          description: >-
            A list of objects to be uploaded to Cloud Storage upon successful
            completion of all build steps. Files in the workspace matching
            specified paths globs will be uploaded to the specified Cloud
            Storage location using the builder service account's credentials.
            The location and generation of the uploaded objects will be stored
            in the Build resource's results field. If any objects fail to be
            pushed, the build is marked FAILURE.
          $ref: >-
            #/components/schemas/ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects
      description: >-
        Artifacts produced by a build that should be uploaded upon successful
        completion of all build steps.
    NonCompliantFile:
      id: NonCompliantFile
      properties:
        displayCommand:
          description: Command to display the non-compliant files.
          type: string
        path:
          description: >-
            display_command is a single command that can be used to display a
            list of non compliant files. When there is no such command, we can
            also iterate a list of non compliant file using 'path'. Empty if
            `display_command` is set.
          type: string
        reason:
          type: string
          description: Explains why a file is non compliant for a CIS check.
      type: object
      description: Details about files that caused a compliance check to fail.
    SlsaProvenance:
      id: SlsaProvenance
      description: SlsaProvenance is the slsa provenance as defined by the slsa spec.
      properties:
        metadata:
          description: metadata is the metadata of the provenance
          $ref: '#/components/schemas/SlsaMetadata'
        materials:
          type: array
          description: >-
            The collection of artifacts that influenced the build including
            sources, dependencies, build tools, base images, and so on. This is
            considered to be incomplete unless metadata.completeness.materials
            is true. Unset or null is equivalent to empty.
          items:
            $ref: '#/components/schemas/Material'
        recipe:
          description: >-
            Identifies the configuration used for the build. When combined with
            materials, this SHOULD fully describe the build, such that
            re-running this recipe results in bit-for-bit identical output (if
            the build is reproducible).
          $ref: '#/components/schemas/SlsaRecipe'
        builder:
          $ref: '#/components/schemas/SlsaBuilder'
          description: builder is the builder of this provenance
      type: object
    ScanConfig:
      type: object
      properties:
        description:
          type: string
          description: >-
            Output only. A human-readable description of what the `ScanConfig`
            does.
        createTime:
          format: google-datetime
          description: Output only. The time this scan config was created.
          type: string
        name:
          description: >-
            Output only. The name of the ScanConfig in the form
            “projects/{project_id}/scanConfigs/{scan_config_id}".
          type: string
        updateTime:
          format: google-datetime
          description: Output only. The time this scan config was last updated.
          type: string
        enabled:
          type: boolean
          description: Indicates whether the Scan is enabled.
      description: Indicates various scans and whether they are turned on or off.
      id: ScanConfig
    FileNote:
      type: object
      description: >-
        FileNote represents an SPDX File Information section:
        https://spdx.github.io/spdx-spec/4-file-information/
      properties:
        checksum:
          items:
            type: string
          type: array
          description: >-
            Provide a unique identifier to match analysis information on each
            specific file in a package
        fileType:
          enumDescriptions:
            - Unspecified
            - The file is human readable source code (.c, .html, etc.)
            - >-
              The file is a compiled object, target image or binary executable
              (.o, .a, etc.)
            - The file represents an archive (.tar, .jar, etc.)
            - >-
              The file is associated with a specific application type (MIME type
              of application/*)
            - >-
              The file is associated with an audio file (MIME type of audio/* ,
              e.g. .mp3)
            - >-
              The file is associated with an picture image file (MIME type of
              image/*, e.g., .jpg, .gif)
            - The file is human readable text file (MIME type of text/*)
            - >-
              The file is associated with a video file type (MIME type of
              video/*)
            - The file serves as documentation
            - The file is an SPDX document
            - >-
              The file doesn't fit into the above categories (generated
              artifacts, data files, etc.)
          description: This field provides information about the type of file identified
          enum:
            - FILE_TYPE_UNSPECIFIED
            - SOURCE
            - BINARY
            - ARCHIVE
            - APPLICATION
            - AUDIO
            - IMAGE
            - TEXT
            - VIDEO
            - DOCUMENTATION
            - SPDX
            - OTHER
          type: string
        title:
          description: >-
            Identify the full path and filename that corresponds to the file
            information in this section
          type: string
      id: FileNote
    SlsaCompleteness:
      properties:
        environment:
          description: >-
            If true, the builder claims that recipe.environment is claimed to be
            complete.
          type: boolean
        materials:
          description: >-
            If true, the builder claims that materials are complete, usually
            through some controls to prevent network access. Sometimes called
            "hermetic".
          type: boolean
        arguments:
          description: >-
            If true, the builder claims that recipe.arguments is complete,
            meaning that all external inputs are properly captured in the
            recipe.
          type: boolean
      id: SlsaCompleteness
      type: object
      description: >-
        Indicates that the builder claims certain fields in this message to be
        complete.
    CisBenchmark:
      description: A compliance check that is a CIS benchmark.
      type: object
      id: CisBenchmark
      properties:
        severity:
          enum:
            - SEVERITY_UNSPECIFIED
            - MINIMAL
            - LOW
            - MEDIUM
            - HIGH
            - CRITICAL
          enumDescriptions:
            - Unknown Impact
            - Minimal Impact
            - Low Impact
            - Medium Impact
            - High Impact
            - Critical Impact
          type: string
          description: The severity level of this CIS benchmark check.
        profileLevel:
          format: int32
          type: integer
          description: The profile level of this CIS benchmark check.
    Metadata:
      description: Other properties of the build.
      type: object
      id: Metadata
      properties:
        buildFinishedOn:
          format: google-datetime
          type: string
          description: The timestamp of when the build completed.
        reproducible:
          description: >-
            If true, the builder claims that running the recipe on materials
            will produce bit-for-bit identical output.
          type: boolean
        buildInvocationId:
          description: >-
            Identifies the particular build invocation, which can be useful for
            finding associated logs or other ad-hoc analysis. The value SHOULD
            be globally unique, per in-toto Provenance spec.
          type: string
        buildStartedOn:
          type: string
          description: The timestamp of when the build started.
          format: google-datetime
        completeness:
[...]
