openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud SQL Admin API
  description: API for Cloud SQL database instance management
  version: v1
  x-discovery-doc-revision: '20230607'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/cloud-sql/
servers:
  - url: https://sqladmin.googleapis.com
components:
  schemas:
    SqlInstancesStartExternalSyncRequest:
      description: Instance start external sync request.
      type: object
      properties:
        skipVerification:
          type: boolean
          description: Whether to skip the verification step (VESS).
        syncParallelLevel:
          type: string
          description: >-
            Optional. Parallel level for initial data sync. Currently only
            applicable for MySQL.
          enum:
            - EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED
            - MIN
            - OPTIMAL
            - MAX
          enumDescriptions:
            - Unknown sync parallel level. Will be defaulted to OPTIMAL.
            - Minimal parallel level.
            - Optimal parallel level.
            - Maximum parallel level.
        syncMode:
          description: External sync mode.
          enum:
            - EXTERNAL_SYNC_MODE_UNSPECIFIED
            - ONLINE
            - OFFLINE
          enumDescriptions:
            - Unknown external sync mode, will be defaulted to ONLINE mode
            - >-
              Online external sync will set up replication after initial data
              external sync
            - >-
              Offline external sync only dumps and loads a one-time snapshot of
              the primary instance's data
          type: string
        mysqlSyncConfig:
          $ref: '#/components/schemas/MySqlSyncConfig'
          description: MySQL-specific settings for start external sync.
      id: SqlInstancesStartExternalSyncRequest
    ApiWarning:
      id: ApiWarning
      properties:
        region:
          description: The region name for REGION_UNREACHABLE warning.
          type: string
        message:
          type: string
          description: The warning message.
        code:
          enumDescriptions:
            - An unknown or unset warning type from Cloud SQL API.
            - >-
              Warning when one or more regions are not reachable. The returned
              result set may be incomplete.
            - >-
              Warning when user provided maxResults parameter exceeds the limit.
              The returned result set may be incomplete.
          enum:
            - SQL_API_WARNING_CODE_UNSPECIFIED
            - REGION_UNREACHABLE
            - MAX_RESULTS_EXCEEDS_LIMIT
          description: Code to uniquely identify the warning type.
          type: string
      description: An Admin API warning message.
      type: object
    TiersListResponse:
      type: object
      properties:
        kind:
          description: This is always `sql#tiersList`.
          type: string
        items:
          items:
            $ref: '#/components/schemas/Tier'
          description: List of tiers.
          type: array
      id: TiersListResponse
      description: Tiers list response.
    InstancesDemoteMasterRequest:
      description: Database demote primary instance request.
      id: InstancesDemoteMasterRequest
      type: object
      properties:
        demoteMasterContext:
          description: Contains details about the demoteMaster operation.
          $ref: '#/components/schemas/DemoteMasterContext'
    UserPasswordValidationPolicy:
      properties:
        status:
          $ref: '#/components/schemas/PasswordStatus'
          description: Output only. Read-only password status.
          readOnly: true
        passwordExpirationDuration:
          format: google-duration
          description: Expiration duration after password is updated.
          type: string
        allowedFailedAttempts:
          description: Number of failed login attempts allowed before user get locked.
          format: int32
          type: integer
        enablePasswordVerification:
          type: boolean
          description: >-
            If true, the user must specify the current password before changing
            the password. This flag is supported only for MySQL.
        enableFailedAttemptsCheck:
          description: If true, failed login attempts check will be enabled.
          type: boolean
      description: User level password validation policy.
      id: UserPasswordValidationPolicy
      type: object
    BackupContext:
      id: BackupContext
      type: object
      description: Backup context.
      properties:
        kind:
          description: This is always `sql#backupContext`.
          type: string
        backupId:
          type: string
          format: int64
          description: The identifier of the backup.
    ImportContext:
      description: Database instance import context.
      properties:
        bakImportOptions:
          type: object
          description: Import parameters specific to SQL Server .BAK files
          properties:
            recoveryOnly:
              type: boolean
              description: >-
                Whether or not the backup importing request will just bring
                database online without downloading Bak content only one of
                "no_recovery" and "recovery_only" can be true otherwise error
                will return. Applies only to Cloud SQL for SQL Server.
            encryptionOptions:
              type: object
              properties:
                pvkPassword:
                  description: Password that encrypts the private key
                  type: string
                pvkPath:
                  type: string
                  description: >-
                    Path to the Certificate Private Key (.pvk) in Cloud Storage,
                    in the form `gs://bucketName/fileName`. The instance must
                    have write permissions to the bucket and read access to the
                    file.
                certPath:
                  type: string
                  description: >-
                    Path to the Certificate (.cer) in Cloud Storage, in the form
                    `gs://bucketName/fileName`. The instance must have write
                    permissions to the bucket and read access to the file.
            striped:
              type: boolean
              description: >-
                Whether or not the backup set being restored is striped. Applies
                only to Cloud SQL for SQL Server.
            bakType:
              enumDescriptions:
                - default type.
                - Full backup.
                - Differential backup.
              enum:
                - BAK_TYPE_UNSPECIFIED
                - FULL
                - DIFF
              type: string
              description: Type of the bak content, FULL or DIFF
            noRecovery:
              type: boolean
              description: >-
                Whether or not the backup importing will restore database with
                NORECOVERY option Applies only to Cloud SQL for SQL Server.
        uri:
          description: >-
            Path to the import file in Cloud Storage, in the form
            `gs://bucketName/fileName`. Compressed gzip files (.gz) are
            supported when `fileType` is `SQL`. The instance must have write
            permissions to the bucket and read access to the file.
          type: string
        fileType:
          enumDescriptions:
            - Unknown file type.
            - File containing SQL statements.
            - File in CSV format.
            - ''
          description: >-
            The file type for the specified uri.\`SQL`: The file contains SQL
            statements. \`CSV`: The file contains CSV data.
          enum:
            - SQL_FILE_TYPE_UNSPECIFIED
            - SQL
            - CSV
            - BAK
          type: string
        csvImportOptions:
          description: Options for importing data as CSV.
          properties:
            linesTerminatedBy:
              description: >-
                This is used to separate lines. If a line does not contain all
                fields, the rest of the columns are set to their default values.
              type: string
            quoteCharacter:
              type: string
              description: >-
                Specifies the quoting character to be used when a data value is
                quoted.
            fieldsTerminatedBy:
              type: string
              description: >-
                Specifies the character that separates columns within each row
                (line) of the file.
            table:
              type: string
              description: The table to which CSV data is imported.
            columns:
              type: array
              description: >-
                The columns to which CSV data is imported. If not specified, all
                columns of the database table are loaded with CSV data.
              items:
                type: string
            escapeCharacter:
              type: string
              description: >-
                Specifies the character that should appear before a data
                character that needs to be escaped.
          type: object
        database:
          description: >-
            The target database for the import. If `fileType` is `SQL`, this
            field is required only if the import file does not specify a
            database, and is overridden by any database specification in the
            import file. If `fileType` is `CSV`, one database must be specified.
          type: string
        kind:
          description: This is always `sql#importContext`.
          type: string
        importUser:
          description: >-
            The PostgreSQL user for this import operation. PostgreSQL instances
            only.
          type: string
      type: object
      id: ImportContext
    Settings:
      description: Database instance settings.
      properties:
        ipConfiguration:
          description: >-
            The settings for IP Management. This allows to enable or disable the
            instance IP and manage which external networks can connect to the
            instance. The IPv4 address cannot be disabled for Second Generation
            instances.
          $ref: '#/components/schemas/IpConfiguration'
        deletionProtectionEnabled:
          description: Configuration to protect against accidental instance deletion.
          type: boolean
        maintenanceWindow:
          description: >-
            The maintenance window for this instance. This specifies when the
            instance can be restarted for maintenance purposes.
          $ref: '#/components/schemas/MaintenanceWindow'
        sqlServerAuditConfig:
          $ref: '#/components/schemas/SqlServerAuditConfig'
          description: SQL Server specific audit configuration.
        dataDiskType:
          description: >-
            The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for
            First Generation instances.
          type: string
          enum:
            - SQL_DATA_DISK_TYPE_UNSPECIFIED
            - PD_SSD
            - PD_HDD
            - OBSOLETE_LOCAL_SSD
          enumDescriptions:
            - This is an unknown data disk type.
            - An SSD data disk.
            - An HDD data disk.
            - >-
              This field is deprecated and will be removed from a future version
              of the API.
        authorizedGaeApplications:
          description: >-
            The App Engine app IDs that can access this instance. (Deprecated)
            Applied to First Generation instances only.
          type: array
          items:
            type: string
        pricingPlan:
          enumDescriptions:
            - This is an unknown pricing plan for this instance.
            - The instance is billed at a monthly flat rate.
            - The instance is billed per usage.
          description: >-
            The pricing plan for this instance. This can be either `PER_USE` or
            `PACKAGE`. Only `PER_USE` is supported for Second Generation
            instances.
          enum:
            - SQL_PRICING_PLAN_UNSPECIFIED
            - PACKAGE
            - PER_USE
          type: string
        storageAutoResize:
          type: boolean
          description: >-
            Configuration to increase storage size automatically. The default
            value is true.
        userLabels:
          type: object
          additionalProperties:
            type: string
          description: >-
            User-provided labels, represented as a dictionary where each label
            is a single key value pair.
        availabilityType:
          description: >-
            Availability type. Potential values: * `ZONAL`: The instance serves
            data from only one zone. Outages in that zone affect data
            accessibility. * `REGIONAL`: The instance can serve data from more
            than one zone in a region (it is highly available)./ For more
            information, see [Overview of the High Availability
            Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).
          enumDescriptions:
            - This is an unknown Availability type.
            - Zonal available instance.
            - Regional available instance.
          type: string
          enum:
            - SQL_AVAILABILITY_TYPE_UNSPECIFIED
            - ZONAL
            - REGIONAL
        backupConfiguration:
          description: The daily backup configuration for the instance.
          $ref: '#/components/schemas/BackupConfiguration'
        crashSafeReplicationEnabled:
          type: boolean
          description: >-
            Configuration specific to read replica instances. Indicates whether
            database flags for crash-safe replication are enabled. This property
            was only applicable to First Generation instances.
        storageAutoResizeLimit:
          type: string
          format: int64
          description: >-
            The maximum size to which storage capacity can be automatically
            increased. The default value is 0, which specifies that there is no
            limit.
        connectorEnforcement:
          type: string
          description: >-
            Specifies if connections must use Cloud SQL connectors. Option
            values include the following: `NOT_REQUIRED` (Cloud SQL instances
            can be connected without Cloud SQL Connectors) and `REQUIRED` (Only
            allow connections that use Cloud SQL Connectors). Note that using
            REQUIRED disables all existing authorized networks. If this field is
            not specified when creating a new instance, NOT_REQUIRED is used. If
            this field is not specified when patching or updating an existing
            instance, it is left unchanged in the instance.
          enumDescriptions:
            - The requirement for Cloud SQL connectors is unknown.
            - Do not require Cloud SQL connectors.
            - >-
              Require all connections to use Cloud SQL connectors, including the
              Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go
              connectors. Note: This disables all existing authorized networks.
          enum:
            - CONNECTOR_ENFORCEMENT_UNSPECIFIED
            - NOT_REQUIRED
            - REQUIRED
        replicationType:
          enum:
            - SQL_REPLICATION_TYPE_UNSPECIFIED
            - SYNCHRONOUS
            - ASYNCHRONOUS
          type: string
          enumDescriptions:
            - This is an unknown replication type for a Cloud SQL instance.
            - >-
              The synchronous replication mode for First Generation instances.
              It is the default value.
            - >-
              The asynchronous replication mode for First Generation instances.
              It provides a slight performance gain, but if an outage occurs
              while this option is set to asynchronous, you can lose up to a few
              seconds of updates to your data.
          description: >-
            The type of replication this instance uses. This can be either
            `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only
            applicable to First Generation instances.
        passwordValidationPolicy:
          description: The local user password validation policy of the instance.
          $ref: '#/components/schemas/PasswordValidationPolicy'
        activeDirectoryConfig:
          description: >-
            Active Directory configuration, relevant only for Cloud SQL for SQL
            Server.
          $ref: '#/components/schemas/SqlActiveDirectoryConfig'
        timeZone:
          type: string
          description: Server timezone, relevant only for Cloud SQL for SQL Server.
        insightsConfig:
          description: Insights configuration, for now relevant only for Postgres.
          $ref: '#/components/schemas/InsightsConfig'
        tier:
          type: string
          description: >-
            The tier (or machine type) for this instance, for example
            `db-custom-1-3840`. WARNING: Changing this restarts the instance.
        kind:
          type: string
          description: This is always `sql#settings`.
        collation:
          description: The name of server Instance collation.
          type: string
        databaseReplicationEnabled:
          type: boolean
          description: >-
            Configuration specific to read replica instances. Indicates whether
            replication is enabled or not. WARNING: Changing this restarts the
            instance.
        denyMaintenancePeriods:
          description: Deny maintenance periods
          items:
            $ref: '#/components/schemas/DenyMaintenancePeriod'
          type: array
        advancedMachineFeatures:
          description: >-
            Specifies advance machine configuration for the instance relevant
            only for SQL Server.
          $ref: '#/components/schemas/AdvancedMachineFeatures'
        databaseFlags:
          type: array
          items:
            $ref: '#/components/schemas/DatabaseFlags'
          description: The database flags passed to the instance at startup.
        dataDiskSizeGb:
          description: The size of data disk, in GB. The data disk size minimum is 10GB.
          type: string
          format: int64
        locationPreference:
          description: >-
            The location preference settings. This allows the instance to be
            located as near as possible to either an App Engine app or Compute
            Engine zone for better performance. App Engine co-location was only
            applicable to First Generation instances.
          $ref: '#/components/schemas/LocationPreference'
        activationPolicy:
          enumDescriptions:
            - Unknown activation plan.
            - The instance is always up and running.
            - The instance never starts.
            - The instance starts upon receiving requests.
          enum:
            - SQL_ACTIVATION_POLICY_UNSPECIFIED
            - ALWAYS
            - NEVER
            - ON_DEMAND
          type: string
          description: >-
            The activation policy specifies when the instance is activated; it
            is applicable only when the instance state is RUNNABLE. Valid
            values: * `ALWAYS`: The instance is on, and remains so even in the
            absence of connection requests. * `NEVER`: The instance is off; it
            is not activated, even if a connection request arrives.
        settingsVersion:
          format: int64
          description: >-
            The version of instance settings. This is a required field for
            update method to make sure concurrent updates are handled properly.
            During update, use the most recent settingsVersion value for this
            instance and do not try to update this value.
          type: string
      id: Settings
      type: object
    SqlScheduledMaintenance:
      id: SqlScheduledMaintenance
      description: Any scheduled maintenance for this instance.
      type: object
      properties:
        scheduleDeadlineTime:
          format: google-datetime
          description: Maintenance cannot be rescheduled to start beyond this deadline.
          type: string
        canDefer:
          type: boolean
        canReschedule:
          type: boolean
          description: If the scheduled maintenance can be rescheduled.
        startTime:
          format: google-datetime
          description: >-
            The start time of any upcoming scheduled maintenance for this
            instance.
          type: string
    SslCertsInsertRequest:
      type: object
      id: SslCertsInsertRequest
      properties:
        commonName:
          description: >-
            User supplied name. Must be a distinct name from the other
            certificates for this instance.
          type: string
      description: SslCerts insert request.
    BinLogCoordinates:
      id: BinLogCoordinates
      properties:
        kind:
          description: This is always `sql#binLogCoordinates`.
          type: string
        binLogPosition:
          type: string
          description: Position (offset) within the binary log file.
          format: int64
        binLogFileName:
          description: Name of the binary log file for a Cloud SQL instance.
          type: string
      type: object
      description: Binary log coordinates.
    UsersListResponse:
      type: object
      description: User list response.
      properties:
        kind:
          description: This is always `sql#usersList`.
          type: string
        items:
          items:
            $ref: '#/components/schemas/User'
          description: List of user resources in the instance.
          type: array
        nextPageToken:
          type: string
          description: Unused.
      id: UsersListResponse
    ReplicaConfiguration:
      properties:
        kind:
          type: string
          description: This is always `sql#replicaConfiguration`.
        mysqlReplicaConfiguration:
          description: >-
            MySQL specific configuration when replicating from a MySQL
            on-premises primary instance. Replication configuration information
            such as the username, password, certificates, and keys are not
            stored in the instance metadata. The configuration information is
            used only to set up the replication connection and is stored by
            MySQL in a file named `master.info` in the data directory.
          $ref: '#/components/schemas/MySqlReplicaConfiguration'
        failoverTarget:
          description: >-
            Specifies if the replica is the failover target. If the field is set
            to `true`, the replica will be designated as a failover replica. In
            case the primary instance fails, the replica instance will be
            promoted as the new primary instance. Only one replica can be
            specified as failover target, and the replica has to be in different
            zone with the primary instance.
          type: boolean
      id: ReplicaConfiguration
      description: Read-replica configuration for connecting to the primary instance.
      type: object
    InstancesFailoverRequest:
      id: InstancesFailoverRequest
      description: Instance failover request.
      properties:
        failoverContext:
          description: Failover Context.
          $ref: '#/components/schemas/FailoverContext'
      type: object
    DiskEncryptionStatus:
      id: DiskEncryptionStatus
      properties:
        kmsKeyVersionName:
          description: KMS key version used to encrypt the Cloud SQL instance resource
          type: string
        kind:
          description: This is always `sql#diskEncryptionStatus`.
          type: string
      type: object
      description: Disk encryption status for an instance.
    InstancesListServerCasResponse:
      type: object
      description: Instances ListServerCas response.
      properties:
        certs:
          description: List of server CA certificates for the instance.
          type: array
          items:
            $ref: '#/components/schemas/SslCert'
        kind:
          type: string
          description: This is always `sql#instancesListServerCas`.
        activeVersion:
          type: string
      id: InstancesListServerCasResponse
    AdvancedMachineFeatures:
      properties:
        threadsPerCore:
          format: int32
          type: integer
          description: The number of threads per physical core.
      description: Specifies options for controlling advanced machine features.
      type: object
      id: AdvancedMachineFeatures
    SyncFlags:
      properties:
        name:
          type: string
          description: The name of the flag.
        value:
          description: >-
            The value of the flag. This field must be omitted if the flag
            doesn't take a value.
          type: string
      description: >-
        Initial sync flags for certain Cloud SQL APIs. Currently used for the
        MySQL external server initial dump.
      type: object
      id: SyncFlags
    Operation:
      description: >-
        An Operation resource. For successful operations that return an
        Operation resource, only the fields relevant to the operation are
        populated in the resource.
      properties:
        name:
          type: string
          description: >-
            An identifier that uniquely identifies the operation. You can use
            this identifier to retrieve the Operations resource that has
            information about the operation.
        status:
          type: string
          description: The status of an operation.
          enum:
            - SQL_OPERATION_STATUS_UNSPECIFIED
            - PENDING
            - RUNNING
            - DONE
          enumDescriptions:
            - The state of the operation is unknown.
            - The operation has been queued, but has not started yet.
            - The operation is running.
            - The operation completed.
        backupContext:
          $ref: '#/components/schemas/BackupContext'
          description: The context for backup operation, if applicable.
        user:
          description: The email address of the user who initiated this operation.
          type: string
        endTime:
          description: >-
            The time this operation finished in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          format: google-datetime
          type: string
        exportContext:
          description: The context for export operation, if applicable.
          $ref: '#/components/schemas/ExportContext'
        kind:
          type: string
          description: This is always `sql#operation`.
        targetLink:
          type: string
        operationType:
          description: >-
            The type of the operation. Valid values are: * `CREATE` * `DELETE` *
            `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` *
            `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE`
            * `DELETE_DATABASE`
          enum:
            - SQL_OPERATION_TYPE_UNSPECIFIED
            - IMPORT
            - EXPORT
            - CREATE
            - UPDATE
            - DELETE
            - RESTART
            - BACKUP
            - SNAPSHOT
            - BACKUP_VOLUME
            - DELETE_VOLUME
            - RESTORE_VOLUME
            - INJECT_USER
            - CLONE
            - STOP_REPLICA
            - START_REPLICA
            - PROMOTE_REPLICA
            - CREATE_REPLICA
            - CREATE_USER
            - DELETE_USER
            - UPDATE_USER
            - CREATE_DATABASE
            - DELETE_DATABASE
            - UPDATE_DATABASE
            - FAILOVER
            - DELETE_BACKUP
            - RECREATE_REPLICA
            - TRUNCATE_LOG
            - DEMOTE_MASTER
            - MAINTENANCE
            - ENABLE_PRIVATE_IP
            - DEFER_MAINTENANCE
            - CREATE_CLONE
            - RESCHEDULE_MAINTENANCE
            - START_EXTERNAL_SYNC
            - LOG_CLEANUP
            - AUTO_RESTART
            - REENCRYPT
            - SWITCHOVER
          type: string
          enumDescriptions:
            - Unknown operation type.
            - Imports data into a Cloud SQL instance.
            - Exports data from a Cloud SQL instance to a Cloud Storage bucket.
            - Creates a new Cloud SQL instance.
            - Updates the settings of a Cloud SQL instance.
            - Deletes a Cloud SQL instance.
            - Restarts the Cloud SQL instance.
            - ''
            - ''
            - Performs instance backup.
            - Deletes an instance backup.
            - Restores an instance backup.
            - Injects a privileged user in mysql for MOB instances.
            - Clones a Cloud SQL instance.
            - Stops replication on a Cloud SQL read replica instance.
            - Starts replication on a Cloud SQL read replica instance.
            - Promotes a Cloud SQL replica instance.
            - Creates a Cloud SQL replica instance.
            - Creates a new user in a Cloud SQL instance.
            - Deletes a user from a Cloud SQL instance.
            - Updates an existing user in a Cloud SQL instance.
            - Creates a database in the Cloud SQL instance.
            - Deletes a database in the Cloud SQL instance.
            - Updates a database in the Cloud SQL instance.
            - Performs failover of an HA-enabled Cloud SQL failover replica.
            - Deletes the backup taken by a backup run.
            - ''
            - Truncates a general or slow log table in MySQL.
            - >-
              Demotes the stand-alone instance to be a Cloud SQL read replica
              for an external database server.
            - >-
              Indicates that the instance is currently in maintenance.
              Maintenance typically causes the instance to be unavailable for
              1-3 minutes.
            - >-
              This field is deprecated, and will be removed in future version of
              API.
            - ''
            - Creates clone instance.
            - Reschedule maintenance to another time.
            - >-
              Starts external sync of a Cloud SQL EM replica to an external
              primary instance.
            - Recovers logs from an instance's old data disk.
            - >-
              Performs auto-restart of an HA-enabled Cloud SQL database for auto
              recovery.
            - Re-encrypts CMEK instances with latest key version.
            - Switches over to replica instance from primary.
        targetId:
          description: Name of the database instance related to this operation.
          type: string
        targetProject:
          type: string
          description: The project ID of the target instance related to this operation.
        insertTime:
          format: google-datetime
          description: >-
            The time this operation was enqueued in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          type: string
        startTime:
          type: string
          format: google-datetime
          description: >-
            The time this operation actually started in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
        selfLink:
          description: The URI of this resource.
          type: string
        error:
          $ref: '#/components/schemas/OperationErrors'
          description: >-
            If errors occurred during processing of this operation, this field
            will be populated.
        importContext:
          description: The context for import operation, if applicable.
          $ref: '#/components/schemas/ImportContext'
      type: object
      id: Operation
    SqlExternalSyncSettingError:
      id: SqlExternalSyncSettingError
      properties:
        kind:
          type: string
          description: >-
            Can be `sql#externalSyncSettingError` or
            `sql#externalSyncSettingWarning`.
        type:
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - The replication user is missing privileges that are required.
            - Unsupported migration type.
            - >-
              No pglogical extension installed on databases, applicable for
              postgres.
            - >-
              pglogical node already exists on databases, applicable for
              postgres.
            - The value of parameter wal_level is not set to logical.
            - >-
              The value of parameter shared_preload_libraries does not include
              pglogical.
            - The value of parameter max_replication_slots is not sufficient.
            - The value of parameter max_wal_senders is not sufficient.
            - The value of parameter max_worker_processes is not sufficient.
            - >-
              Extensions installed are either not supported or having
              unsupported versions.
            - The value of parameter rds.logical_replication is not set to 1.
            - The primary instance logging setup doesn't allow EM sync.
            - >-
              The primary instance database parameter setup doesn't allow EM
              sync.
            - The gtid_mode is not supported, applicable for MySQL.
            - SQL Server Agent is not running.
            - >-
              The table definition is not support due to missing primary key or
              replica identity, applicable for postgres.
            - The customer has a definer that will break EM setup.
            - SQL Server @@SERVERNAME does not match actual host name.
            - The primary instance has been setup and will fail the setup.
            - The primary instance has unsupported binary log format.
            - The primary instance's binary log retention setting.
            - The primary instance has tables with unsupported storage engine.
            - >-
              Source has tables with limited support eg: PostgreSQL tables
              without primary keys.
            - The replica instance contains existing data.
            - The replication user is missing privileges that are optional.
            - >-
              Additional BACKUP_ADMIN privilege is granted to the replication
              user which may lock source MySQL 8 instance for DDLs during
              initial sync.
            - The Cloud Storage bucket is missing necessary permissions.
            - >-
              The Cloud Storage bucket has an error in the file or contains
              invalid file information.
            - >-
              The source instance has unsupported database settings for
              migration.
          enum:
            - SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED
            - CONNECTION_FAILURE
            - BINLOG_NOT_ENABLED
            - INCOMPATIBLE_DATABASE_VERSION
            - REPLICA_ALREADY_SETUP
            - INSUFFICIENT_PRIVILEGE
            - UNSUPPORTED_MIGRATION_TYPE
            - NO_PGLOGICAL_INSTALLED
            - PGLOGICAL_NODE_ALREADY_EXISTS
            - INVALID_WAL_LEVEL
            - INVALID_SHARED_PRELOAD_LIBRARY
            - INSUFFICIENT_MAX_REPLICATION_SLOTS
            - INSUFFICIENT_MAX_WAL_SENDERS
            - INSUFFICIENT_MAX_WORKER_PROCESSES
            - UNSUPPORTED_EXTENSIONS
            - INVALID_RDS_LOGICAL_REPLICATION
            - INVALID_LOGGING_SETUP
            - INVALID_DB_PARAM
            - UNSUPPORTED_GTID_MODE
            - SQLSERVER_AGENT_NOT_RUNNING
            - UNSUPPORTED_TABLE_DEFINITION
            - UNSUPPORTED_DEFINER
            - SQLSERVER_SERVERNAME_MISMATCH
            - PRIMARY_ALREADY_SETUP
            - UNSUPPORTED_BINLOG_FORMAT
            - BINLOG_RETENTION_SETTING
            - UNSUPPORTED_STORAGE_ENGINE
            - LIMITED_SUPPORT_TABLES
            - EXISTING_DATA_IN_REPLICA
            - MISSING_OPTIONAL_PRIVILEGES
            - RISKY_BACKUP_ADMIN_PRIVILEGE
            - INSUFFICIENT_GCS_PERMISSIONS
            - INVALID_FILE_INFO
            - UNSUPPORTED_DATABASE_SETTINGS
          description: Identifies the specific error that occurred.
        detail:
          description: Additional information about the error encountered.
          type: string
      type: object
      description: External primary instance migration setting error/warning.
    SslCertDetail:
      id: SslCertDetail
      type: object
      properties:
        certPrivateKey:
          description: >-
            The private key for the client cert, in pem format. Keep private in
            order to protect your security.
          type: string
        certInfo:
          $ref: '#/components/schemas/SslCert'
          description: The public information about the cert.
      description: SslCertDetail.
    InstancesReencryptRequest:
      id: InstancesReencryptRequest
      description: Database Instance reencrypt request.
      properties:
        backupReencryptionConfig:
          description: Configuration specific to backup re-encryption
          $ref: '#/components/schemas/BackupReencryptionConfig'
      type: object
    OperationsListResponse:
      id: OperationsListResponse
      properties:
        nextPageToken:
          description: >-
            The continuation token, used to page through large result sets.
            Provide this value in a subsequent request to return the next page
            of results.
          type: string
        items:
          type: array
          description: List of operation resources.
          items:
            $ref: '#/components/schemas/Operation'
        kind:
          type: string
          description: This is always `sql#operationsList`.
      type: object
      description: Operations list response.
    SqlOutOfDiskReport:
      description: >-
        This message wraps up the information written by out-of-disk detection
        job.
      type: object
      properties:
        sqlMinRecommendedIncreaseSizeGb:
          type: integer
          description: >-
            The minimum recommended increase size in GigaBytes This field is
            consumed by the frontend * Writers: * the proactive database
            wellness job for OOD. * Readers:
          format: int32
        sqlOutOfDiskState:
          enumDescriptions:
            - Unspecified state
            - The instance has plenty space on data disk
            - >-
              Data disk is almost used up. It is shutdown to prevent data
              corruption.
          enum:
            - SQL_OUT_OF_DISK_STATE_UNSPECIFIED
            - NORMAL
            - SOFT_SHUTDOWN
          description: >-
            This field represents the state generated by the proactive database
            wellness job for OutOfDisk issues. * Writers: * the proactive
            database wellness job for OOD. * Readers: * the proactive database
            wellness job
          type: string
      id: SqlOutOfDiskReport
    InstancesRotateServerCaRequest:
      description: Rotate server CA request.
      type: object
      id: InstancesRotateServerCaRequest
      properties:
        rotateServerCaContext:
          description: Contains details about the rotate server CA operation.
          $ref: '#/components/schemas/RotateServerCaContext'
    SslCert:
      id: SslCert
      type: object
      description: SslCerts Resource
      properties:
        sha1Fingerprint:
          type: string
          description: Sha1 Fingerprint.
        createTime:
          type: string
          description: >-
            The time when the certificate was created in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`
          format: google-datetime
        commonName:
          description: User supplied name. Constrained to [a-zA-Z.-_ ]+.
          type: string
        expirationTime:
          format: google-datetime
          type: string
          description: >-
            The time when the certificate expires in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
        certSerialNumber:
          type: string
          description: Serial number, as extracted from the certificate.
        selfLink:
          description: The URI of this resource.
          type: string
        kind:
          type: string
          description: This is always `sql#sslCert`.
        instance:
          type: string
          description: Name of the database instance.
        cert:
          description: PEM representation.
          type: string
    Empty:
      type: object
      properties: {}
      id: Empty
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
    Flag:
      description: A flag resource.
      id: Flag
      properties:
        maxValue:
          format: int64
          type: string
          description: For `INTEGER` flags, the maximum allowed value.
        allowedStringValues:
          description: For `STRING` flags, a list of strings that the value can be set to.
          type: array
          items:
            type: string
        name:
          type: string
          description: >-
            This is the name of the flag. Flag names always use underscores, not
            hyphens, for example: `max_allowed_packet`
        type:
          enumDescriptions:
            - This is an unknown flag type.
            - Boolean type flag.
            - String type flag.
            - Integer type flag.
            - Flag type used for a server startup option.
            - >-
              Type introduced specially for MySQL TimeZone offset. Accept a
              string value with the format [-12:59, 13:00].
            - Float type flag.
            - Comma-separated list of the strings in a SqlFlagType enum.
          type: string
          enum:
            - SQL_FLAG_TYPE_UNSPECIFIED
            - BOOLEAN
            - STRING
            - INTEGER
            - NONE
            - MYSQL_TIMEZONE_OFFSET
            - FLOAT
            - REPEATED_STRING
          description: >-
            The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`,
            `INTEGER` or `NONE`. `NONE` is used for flags that do not take a
            value, such as `skip_grant_tables`.
        kind:
          type: string
          description: This is always `sql#flag`.
        appliesTo:
          description: >-
            The database version this flag applies to. Can be MySQL instances:
            `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or
            `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`,
            `POSTGRES_11` or `POSTGRES_12`. SQL Server instances:
            `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`,
            `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`,
            `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`,
            `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete
            list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).
          type: array
          items:
            type: string
            enum:
              - SQL_DATABASE_VERSION_UNSPECIFIED
              - MYSQL_5_1
              - MYSQL_5_5
              - MYSQL_5_6
              - MYSQL_5_7
              - SQLSERVER_2017_STANDARD
              - SQLSERVER_2017_ENTERPRISE
              - SQLSERVER_2017_EXPRESS
              - SQLSERVER_2017_WEB
              - POSTGRES_9_6
              - POSTGRES_10
              - POSTGRES_11
              - POSTGRES_12
              - POSTGRES_13
              - POSTGRES_14
              - POSTGRES_15
              - MYSQL_8_0
              - MYSQL_8_0_18
              - MYSQL_8_0_26
              - MYSQL_8_0_27
              - MYSQL_8_0_28
              - MYSQL_8_0_29
              - MYSQL_8_0_30
              - MYSQL_8_0_31
              - MYSQL_8_0_32
              - MYSQL_8_0_33
              - MYSQL_8_0_34
              - MYSQL_8_0_35
              - MYSQL_8_0_36
              - SQLSERVER_2019_STANDARD
              - SQLSERVER_2019_ENTERPRISE
              - SQLSERVER_2019_EXPRESS
              - SQLSERVER_2019_WEB
              - SQLSERVER_2022_STANDARD
              - SQLSERVER_2022_ENTERPRISE
              - SQLSERVER_2022_EXPRESS
              - SQLSERVER_2022_WEB
            enumDescriptions:
              - This is an unknown database version.
              - The database version is MySQL 5.1.
              - The database version is MySQL 5.5.
              - The database version is MySQL 5.6.
              - The database version is MySQL 5.7.
              - The database version is SQL Server 2017 Standard.
              - The database version is SQL Server 2017 Enterprise.
              - The database version is SQL Server 2017 Express.
              - The database version is SQL Server 2017 Web.
              - The database version is PostgreSQL 9.6.
              - The database version is PostgreSQL 10.
              - The database version is PostgreSQL 11.
              - The database version is PostgreSQL 12.
              - The database version is PostgreSQL 13.
              - The database version is PostgreSQL 14.
              - The database version is PostgreSQL 15.
              - The database version is MySQL 8.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                18.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                26.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                27.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                28.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                29.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                30.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                31.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                32.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                33.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                34.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                35.
              - >-
                The database major version is MySQL 8.0 and the minor version is
                36.
              - The database version is SQL Server 2019 Standard.
              - The database version is SQL Server 2019 Enterprise.
              - The database version is SQL Server 2019 Express.
              - The database version is SQL Server 2019 Web.
              - The database version is SQL Server 2022 Standard.
              - The database version is SQL Server 2022 Enterprise.
              - The database version is SQL Server 2022 Express.
              - The database version is SQL Server 2022 Web.
        requiresRestart:
          type: boolean
          description: >-
            Indicates whether changing this flag will trigger a database
            restart. Only applicable to Second Generation instances.
        inBeta:
          description: Whether or not the flag is considered in beta.
          type: boolean
        allowedIntValues:
          description: >-
            Use this field if only certain integers are accepted. Can be
            combined with min_value and max_value to add additional values.
          items:
            type: string
            format: int64
          type: array
        minValue:
          format: int64
          type: string
          description: For `INTEGER` flags, the minimum allowed value.
      type: object
    InstancesListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DatabaseInstance'
          description: List of database instance resources.
        nextPageToken:
          type: string
          description: >-
            The continuation token, used to page through large result sets.
            Provide this value in a subsequent request to return the next page
            of results.
        kind:
          description: This is always `sql#instancesList`.
          type: string
        warnings:
          description: List of warnings that occurred while handling the request.
          items:
            $ref: '#/components/schemas/ApiWarning'
          type: array
      id: InstancesListResponse
      description: Database instances list response.
    InstancesTruncateLogRequest:
      description: Instance truncate log request.
      properties:
        truncateLogContext:
          description: Contains details about the truncate log operation.
          $ref: '#/components/schemas/TruncateLogContext'
      type: object
      id: InstancesTruncateLogRequest
    SslCertsListResponse:
      description: SslCerts list response.
      properties:
        kind:
          type: string
          description: This is always `sql#sslCertsList`.
        items:
          items:
            $ref: '#/components/schemas/SslCert'
          type: array
          description: List of client certificates for the instance.
      id: SslCertsListResponse
      type: object
    SqlServerDatabaseDetails:
      id: SqlServerDatabaseDetails
      properties:
        compatibilityLevel:
          type: integer
          description: >-
            The version of SQL Server with which the database is to be made
            compatible
          format: int32
        recoveryModel:
          description: The recovery model of a SQL Server database
          type: string
      type: object
      description: Represents a Sql Server database on the Cloud SQL instance.
    MySqlReplicaConfiguration:
      description: Read-replica configuration specific to MySQL databases.
      id: MySqlReplicaConfiguration
      properties:
        clientCertificate:
          type: string
          description: PEM representation of the replica's x509 certificate.
        verifyServerCertificate:
          type: boolean
          description: >-
            Whether or not to check the primary instance's Common Name value in
            the certificate that it sends during the SSL handshake.
        dumpFilePath:
          type: string
          description: >-
            Path to a SQL dump file in Google Cloud Storage from which the
            replica instance is to be created. The URI is in the form
            gs://bucketName/fileName. Compressed gzip files (.gz) are also
            supported. Dumps have the binlog co-ordinates from which replication
            begins. This can be accomplished by setting --master-data to 1 when
            using mysqldump.
        masterHeartbeatPeriod:
          format: int64
          type: string
          description: Interval in milliseconds between replication heartbeats.
        sslCipher:
          description: A list of permissible ciphers to use for SSL encryption.
          type: string
        caCertificate:
          type: string
          description: PEM representation of the trusted CA's x509 certificate.
        username:
          description: The username for the replication connection.
          type: string
        connectRetryInterval:
          format: int32
          type: integer
          description: >-
            Seconds to wait between connect retries. MySQL's default is 60
            seconds.
        clientKey:
          type: string
          description: >-
            PEM representation of the replica's private key. The corresponsing
            public key is encoded in the client's certificate.
        kind:
          type: string
          description: This is always `sql#mysqlReplicaConfiguration`.
        password:
          description: The password for the replication connection.
          type: string
      type: object
    Reschedule:
      type: object
      id: Reschedule
      properties:
        rescheduleType:
          description: Required. The type of the reschedule.
          type: string
          enum:
            - RESCHEDULE_TYPE_UNSPECIFIED
            - IMMEDIATE
            - NEXT_AVAILABLE_WINDOW
            - SPECIFIC_TIME
          enumDescriptions:
            - ''
            - Reschedules maintenance to happen now (within 5 minutes).
            - >-
              Reschedules maintenance to occur within one week from the
              originally scheduled day and time.
            - Reschedules maintenance to a specific time and day.
        scheduleTime:
          type: string
          format: google-datetime
          description: >-
            Optional. Timestamp when the maintenance shall be rescheduled to if
            reschedule_type=SPECIFIC_TIME, in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
    Tier:
      description: A Google Cloud SQL service tier resource.
      id: Tier
      type: object
      properties:
        region:
          description: The applicable regions for this tier.
          items:
            type: string
          type: array
        RAM:
          format: int64
          type: string
          description: The maximum RAM usage of this tier in bytes.
        tier:
          type: string
          description: >-
            An identifier for the machine type, for example, `db-custom-1-3840`.
            For related information, see [Pricing](/sql/pricing).
        kind:
          type: string
          description: This is always `sql#tier`.
        DiskQuota:
          type: string
          format: int64
          description: The maximum disk size of this tier in bytes.
    InstancesCloneRequest:
      type: object
      description: Database instance clone request.
      id: InstancesCloneRequest
      properties:
        cloneContext:
          description: Contains details about the clone operation.
          $ref: '#/components/schemas/CloneContext'
    InstancesImportRequest:
      id: InstancesImportRequest
      description: Database instance import request.
      properties:
        importContext:
          description: Contains details about the import operation.
          $ref: '#/components/schemas/ImportContext'
      type: object
    DiskEncryptionConfiguration:
      properties:
        kind:
          description: This is always `sql#diskEncryptionConfiguration`.
          type: string
        kmsKeyName:
          type: string
          description: Resource name of KMS key for disk encryption
      id: DiskEncryptionConfiguration
      type: object
      description: Disk encryption configuration for an instance.
    OnPremisesConfiguration:
      description: On-premises instance configuration.
      id: OnPremisesConfiguration
      type: object
      properties:
        dumpFilePath:
          type: string
          description: The dump file to create the Cloud SQL replica.
        clientCertificate:
          type: string
          description: PEM representation of the replica's x509 certificate.
        clientKey:
          description: >-
            PEM representation of the replica's private key. The corresponsing
            public key is encoded in the client's certificate.
          type: string
        username:
          type: string
          description: The username for connecting to on-premises instance.
        sourceInstance:
          $ref: '#/components/schemas/InstanceReference'
          description: The reference to Cloud SQL instance if the source is Cloud SQL.
        caCertificate:
          description: PEM representation of the trusted CA's x509 certificate.
          type: string
        password:
          type: string
          description: The password for connecting to on-premises instance.
        hostPort:
          type: string
          description: The host and port of the on-premises instance in host:port format
        kind:
          description: This is always `sql#onPremisesConfiguration`.
          type: string
    MySqlSyncConfig:
      type: object
      description: MySQL-specific external server sync settings.
      properties:
        initialSyncFlags:
          items:
            $ref: '#/components/schemas/SyncFlags'
          type: array
          description: Flags to use for the initial dump.
      id: MySqlSyncConfig
    RestoreBackupContext:
      id: RestoreBackupContext
      type: object
      properties:
        kind:
          type: string
          description: This is always `sql#restoreBackupContext`.
        instanceId:
          type: string
          description: The ID of the instance that the backup was taken from.
        backupRunId:
          format: int64
          type: string
          description: The ID of the backup run to restore from.
        project:
          type: string
          description: The full project ID of the source instance.
      description: >-
        Database instance restore from backup context. Backup context contains
        source instance id and project id.
    SqlActiveDirectoryConfig:
      description: >-
        Active Directory configuration, relevant only for Cloud SQL for SQL
        Server.
      id: SqlActiveDirectoryConfig
      properties:
        kind:
          type: string
          description: This is always sql#activeDirectoryConfig.
        domain:
          type: string
          description: The name of the domain (e.g., mydomain.com).
      type: object
    BackupRun:
      id: BackupRun
      description: A BackupRun resource.
      properties:
        selfLink:
          description: The URI of this resource.
          type: string
        enqueuedTime:
          format: google-datetime
          type: string
          description: >-
            The time the run was enqueued in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
        instance:
          type: string
          description: Name of the database instance.
        description:
          description: The description of this run, only applicable to on-demand backups.
          type: string
        status:
          type: string
          enumDescriptions:
            - The status of the run is unknown.
            - The backup operation was enqueued.
            - >-
              The backup is overdue across a given backup window. Indicates a
              problem. Example: Long-running operation in progress during the
              whole window.
            - The backup is in progress.
            - The backup failed.
            - The backup was successful.
            - >-
              The backup was skipped (without problems) for a given backup
              window. Example: Instance was idle.
            - The backup is about to be deleted.
            - The backup deletion failed.
            - The backup has been deleted.
          enum:
            - SQL_BACKUP_RUN_STATUS_UNSPECIFIED
            - ENQUEUED
            - OVERDUE
            - RUNNING
            - FAILED
            - SUCCESSFUL
            - SKIPPED
            - DELETION_PENDING
            - DELETION_FAILED
            - DELETED
          description: The status of this run.
        timeZone:
          type: string
          description: >-
            Backup time zone to prevent restores to an instance with a different
            time zone. Now relevant only for SQL Server.
        location:
          description: Location of the backups.
          type: string
        diskEncryptionStatus:
          $ref: '#/components/schemas/DiskEncryptionStatus'
          description: Encryption status specific to a backup.
        startTime:
          description: >-
            The time the backup operation actually started in UTC timezone in
            [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          type: string
          format: google-datetime
        type:
          type: string
          enumDescriptions:
            - This is an unknown BackupRun type.
            - The backup schedule automatically triggers a backup.
            - The user manually triggers a backup.
          description: >-
            The type of this run; can be either "AUTOMATED" or "ON_DEMAND" or
            "FINAL". This field defaults to "ON_DEMAND" and is ignored, when
            specified for insert requests.
          enum:
            - SQL_BACKUP_RUN_TYPE_UNSPECIFIED
            - AUTOMATED
            - ON_DEMAND
        id:
          description: >-
            The identifier for this backup run. Unique only for a specific Cloud
            SQL instance.
          format: int64
          type: string
        diskEncryptionConfiguration:
          $ref: '#/components/schemas/DiskEncryptionConfiguration'
          description: Encryption configuration specific to a backup.
        backupKind:
          enumDescriptions:
            - This is an unknown BackupKind.
            - The snapshot based backups
            - Physical backups
          type: string
          enum:
            - SQL_BACKUP_KIND_UNSPECIFIED
            - SNAPSHOT
            - PHYSICAL
          description: Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.
        kind:
          type: string
          description: This is always `sql#backupRun`.
        windowStartTime:
          type: string
          description: >-
            The start time of the backup window during which this the backup was
            attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format,
            for example `2012-11-15T16:19:00.094Z`.
          format: google-datetime
        endTime:
          format: google-datetime
          type: string
          description: >-
            The time the backup operation completed in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
        error:
          description: >-
            Information about why the backup operation failed. This is only
            present if the run has the FAILED status.
          $ref: '#/components/schemas/OperationError'
      type: object
    FailoverContext:
      type: object
      properties:
        kind:
          description: This is always `sql#failoverContext`.
          type: string
        settingsVersion:
          description: >-
            The current settings version of this instance. Request will be
            rejected if this version doesn't match the current settings version.
          type: string
          format: int64
      id: FailoverContext
      description: Database instance failover context.
    BackupReencryptionConfig:
      id: BackupReencryptionConfig
      type: object
      properties:
        backupType:
          enumDescriptions:
            - Unknown backup type, will be defaulted to AUTOMATIC backup type
            - Reencrypt automatic backups
            - Reencrypt on-demand backups
          type: string
          enum:
            - BACKUP_TYPE_UNSPECIFIED
            - AUTOMATED
            - ON_DEMAND
          description: Type of backups users want to re-encrypt.
        backupLimit:
          type: integer
          description: Backup re-encryption limit
          format: int32
      description: Backup Reencryption Config
    ConnectSettings:
      properties:
        dnsName:
          type: string
          description: The dns name of the instance.
        ipAddresses:
          description: The assigned IP addresses for the instance.
          items:
            $ref: '#/components/schemas/IpMapping'
          type: array
        kind:
          type: string
          description: This is always `sql#connectSettings`.
        region:
          description: >-
            The cloud region for the instance. For example, `us-central1`,
            `europe-west1`. The region cannot be changed after instance
            creation.
          type: string
        serverCaCert:
          description: SSL configuration.
          $ref: '#/components/schemas/SslCert'
        databaseVersion:
          type: string
          description: >-
            The database engine type and version. The `databaseVersion` field
            cannot be changed after instance creation. MySQL instances:
            `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL
            instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11`,
            `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server
            instances: `SQLSERVER_2017_STANDARD` (default),
            `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`,
            `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`,
            `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or
            `SQLSERVER_2019_WEB`.
          enumDescriptions:
            - This is an unknown database version.
            - The database version is MySQL 5.1.
            - The database version is MySQL 5.5.
            - The database version is MySQL 5.6.
            - The database version is MySQL 5.7.
            - The database version is SQL Server 2017 Standard.
            - The database version is SQL Server 2017 Enterprise.
            - The database version is SQL Server 2017 Express.
            - The database version is SQL Server 2017 Web.
            - The database version is PostgreSQL 9.6.
            - The database version is PostgreSQL 10.
            - The database version is PostgreSQL 11.
            - The database version is PostgreSQL 12.
            - The database version is PostgreSQL 13.
            - The database version is PostgreSQL 14.
            - The database version is PostgreSQL 15.
            - The database version is MySQL 8.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              18.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              26.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              27.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              28.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              29.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              30.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              31.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              32.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              33.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              34.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              35.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              36.
            - The database version is SQL Server 2019 Standard.
            - The database version is SQL Server 2019 Enterprise.
            - The database version is SQL Server 2019 Express.
            - The database version is SQL Server 2019 Web.
            - The database version is SQL Server 2022 Standard.
            - The database version is SQL Server 2022 Enterprise.
            - The database version is SQL Server 2022 Express.
            - The database version is SQL Server 2022 Web.
          enum:
            - SQL_DATABASE_VERSION_UNSPECIFIED
            - MYSQL_5_1
            - MYSQL_5_5
            - MYSQL_5_6
            - MYSQL_5_7
            - SQLSERVER_2017_STANDARD
            - SQLSERVER_2017_ENTERPRISE
            - SQLSERVER_2017_EXPRESS
            - SQLSERVER_2017_WEB
            - POSTGRES_9_6
            - POSTGRES_10
            - POSTGRES_11
            - POSTGRES_12
            - POSTGRES_13
            - POSTGRES_14
            - POSTGRES_15
            - MYSQL_8_0
            - MYSQL_8_0_18
            - MYSQL_8_0_26
            - MYSQL_8_0_27
            - MYSQL_8_0_28
            - MYSQL_8_0_29
            - MYSQL_8_0_30
            - MYSQL_8_0_31
            - MYSQL_8_0_32
            - MYSQL_8_0_33
            - MYSQL_8_0_34
            - MYSQL_8_0_35
            - MYSQL_8_0_36
            - SQLSERVER_2019_STANDARD
            - SQLSERVER_2019_ENTERPRISE
            - SQLSERVER_2019_EXPRESS
            - SQLSERVER_2019_WEB
            - SQLSERVER_2022_STANDARD
            - SQLSERVER_2022_ENTERPRISE
            - SQLSERVER_2022_EXPRESS
            - SQLSERVER_2022_WEB
        backendType:
          enumDescriptions:
            - This is an unknown backend type for instance.
            - V1 speckle instance.
            - V2 speckle instance.
            - On premises instance.
          type: string
          description: >-
            `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database
            server that is not managed by Google. This property is read-only;
            use the `tier` property in the `settings` object to determine the
            database type.
          enum:
            - SQL_BACKEND_TYPE_UNSPECIFIED
            - FIRST_GEN
            - SECOND_GEN
            - EXTERNAL
      type: object
      id: ConnectSettings
      description: Connect settings retrieval response.
    TruncateLogContext:
      id: TruncateLogContext
      description: Database Instance truncate log context.
      properties:
        logType:
          type: string
          description: >-
            The type of log to truncate. Valid values are `MYSQL_GENERAL_TABLE`
            and `MYSQL_SLOW_TABLE`.
        kind:
          description: This is always `sql#truncateLogContext`.
          type: string
      type: object
    SslCertsInsertResponse:
      properties:
        serverCaCert:
          $ref: '#/components/schemas/SslCert'
          description: >-
            The server Certificate Authority's certificate. If this is missing
            you can force a new one to be generated by calling resetSslConfig
            method on instances resource.
        clientCert:
          $ref: '#/components/schemas/SslCertDetail'
          description: The new client certificate and private key.
        kind:
          type: string
          description: This is always `sql#sslCertsInsert`.
        operation:
          $ref: '#/components/schemas/Operation'
          description: The operation to track the ssl certs insert request.
      id: SslCertsInsertResponse
      type: object
      description: SslCert insert response.
    SqlInstancesGetDiskShrinkConfigResponse:
      properties:
        kind:
          type: string
          description: This is always `sql#getDiskShrinkConfig`.
        message:
          description: Additional message to customers.
          type: string
        minimalTargetSizeGb:
          format: int64
          description: The minimum size to which a disk can be shrunk in GigaBytes.
          type: string
      id: SqlInstancesGetDiskShrinkConfigResponse
      description: Instance get disk shrink config response.
      type: object
    SslCertsCreateEphemeralRequest:
      type: object
      id: SslCertsCreateEphemeralRequest
      properties:
        public_key:
          description: PEM encoded public key to include in the signed certificate.
          type: string
        access_token:
          description: Access token to include in the signed certificate.
          type: string
      description: SslCerts create ephemeral certificate request.
    PasswordValidationPolicy:
      type: object
      id: PasswordValidationPolicy
      description: Database instance local user password validation policy
      properties:
        disallowUsernameSubstring:
          type: boolean
          description: Disallow username as a part of the password.
        minLength:
          type: integer
          description: Minimum number of characters allowed.
          format: int32
        reuseInterval:
          description: Number of previous passwords that cannot be reused.
          format: int32
          type: integer
        enablePasswordPolicy:
          description: Whether the password policy is enabled or not.
          type: boolean
        passwordChangeInterval:
          type: string
          format: google-duration
          description: >-
            Minimum interval after which the password can be changed. This flag
            is only supported for PostgreSQL.
        complexity:
          type: string
          description: The complexity of the password.
          enumDescriptions:
            - Complexity check is not specified.
            - >-
              A combination of lowercase, uppercase, numeric, and
              non-alphanumeric characters.
          enum:
            - COMPLEXITY_UNSPECIFIED
            - COMPLEXITY_DEFAULT
    CloneContext:
      properties:
        kind:
          type: string
          description: This is always `sql#cloneContext`.
        allocatedIpRange:
          type: string
          description: >-
            The name of the allocated ip range for the private ip Cloud SQL
            instance. For example: "google-managed-services-default". If set,
            the cloned instance ip will be created in the allocated range. The
            range name must comply with [RFC
            1035](https://tools.ietf.org/html/rfc1035). Specifically, the name
            must be 1-63 characters long and match the regular expression
            [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.
        destinationInstanceName:
          type: string
          description: Name of the Cloud SQL instance to be created as a clone.
        pitrTimestampMs:
          description: Reserved for future use.
          type: string
          format: int64
        databaseNames:
          items:
            type: string
          type: array
          description: >-
            (SQL Server only) Clone only the specified databases from the source
            instance. Clone all databases if empty.
        binLogCoordinates:
          description: >-
            Binary log coordinates, if specified, identify the position up to
            which the source instance is cloned. If not specified, the source
            instance is cloned up to the most recent binary log coordinates.
          $ref: '#/components/schemas/BinLogCoordinates'
        pointInTime:
          format: google-datetime
          type: string
          description: >-
            Timestamp, if specified, identifies the time to which the source
            instance is cloned.
      description: Database instance clone context.
      type: object
      id: CloneContext
    BackupConfiguration:
      properties:
        transactionLogRetentionDays:
          type: integer
          format: int32
          description: >-
            The number of days of transaction logs we retain for point in time
            restore, from 1-7.
        binaryLogEnabled:
          description: >-
            (MySQL only) Whether binary log is enabled. If backup configuration
            is disabled, binarylog must be disabled as well.
          type: boolean
        kind:
          type: string
          description: This is always `sql#backupConfiguration`.
        backupRetentionSettings:
          description: Backup retention settings.
          $ref: '#/components/schemas/BackupRetentionSettings'
        enabled:
          description: Whether this configuration is enabled.
          type: boolean
        replicationLogArchivingEnabled:
          description: Reserved for future use.
          type: boolean
        pointInTimeRecoveryEnabled:
          description: Whether point in time recovery is enabled.
          type: boolean
        startTime:
          description: >-
            Start time for the daily backup configuration in UTC timezone in the
            24 hour format - `HH:MM`.
          type: string
        location:
          description: Location of the backup
          type: string
      id: BackupConfiguration
      type: object
      description: Database instance backup configuration.
    SqlInstancesVerifyExternalSyncSettingsResponse:
      id: SqlInstancesVerifyExternalSyncSettingsResponse
      properties:
        errors:
          description: List of migration violations.
          type: array
          items:
            $ref: '#/components/schemas/SqlExternalSyncSettingError'
        kind:
          description: This is always `sql#migrationSettingErrorList`.
          type: string
        warnings:
          type: array
          description: List of migration warnings.
          items:
            $ref: '#/components/schemas/SqlExternalSyncSettingError'
      type: object
      description: Instance verify external sync settings response.
    IpConfiguration:
      id: IpConfiguration
      properties:
        allocatedIpRange:
          description: >-
            The name of the allocated ip range for the private ip Cloud SQL
            instance. For example: "google-managed-services-default". If set,
            the instance ip will be created in the allocated range. The range
            name must comply with [RFC
            1035](https://tools.ietf.org/html/rfc1035). Specifically, the name
            must be 1-63 characters long and match the regular expression
            `[a-z]([-a-z0-9]*[a-z0-9])?.`
          type: string
        requireSsl:
          type: boolean
          description: Whether SSL connections over IP are enforced or not.
        privateNetwork:
          type: string
          description: >-
            The resource link for the VPC network from which the Cloud SQL
            instance is accessible for private IP. For example,
            `/projects/myProject/global/networks/default`. This setting can be
            updated, but it cannot be removed after it is set.
        ipv4Enabled:
          type: boolean
          description: Whether the instance is assigned a public IP address or not.
        authorizedNetworks:
          items:
            $ref: '#/components/schemas/AclEntry'
          description: >-
            The list of external networks that are allowed to connect to the
            instance using the IP. In 'CIDR' notation, also known as 'slash'
            notation (for example: `157.197.200.0/24`).
          type: array
        enablePrivatePathForGoogleCloudServices:
          description: >-
            Controls connectivity to private IP instances from Google services,
            such as BigQuery.
          type: boolean
      type: object
      description: IP Management configuration.
    DemoteMasterMySqlReplicaConfiguration:
      properties:
        clientKey:
          type: string
          description: >-
            PEM representation of the replica's private key. The corresponsing
            public key is encoded in the client's certificate. The format of the
            replica's private key can be either PKCS #1 or PKCS #8.
        clientCertificate:
          type: string
          description: PEM representation of the replica's x509 certificate.
        kind:
          type: string
          description: This is always `sql#demoteMasterMysqlReplicaConfiguration`.
        username:
          description: The username for the replication connection.
          type: string
        caCertificate:
          description: PEM representation of the trusted CA's x509 certificate.
          type: string
        password:
          description: The password for the replication connection.
          type: string
      description: Read-replica configuration specific to MySQL databases.
      id: DemoteMasterMySqlReplicaConfiguration
      type: object
    GenerateEphemeralCertRequest:
      id: GenerateEphemeralCertRequest
      description: Ephemeral certificate creation request.
      type: object
      properties:
        access_token:
          type: string
          description: Optional. Access token to include in the signed certificate.
        readTime:
          format: google-datetime
          description: >-
            Optional. Optional snapshot read timestamp to trade freshness for
            performance.
          type: string
        validDuration:
          type: string
          format: google-duration
          description: Optional. If set, it will contain the cert valid duration.
        public_key:
          type: string
          description: PEM encoded public key to include in the signed certificate.
    DemoteMasterContext:
      type: object
      id: DemoteMasterContext
      description: Database instance demote primary instance context.
      properties:
        masterInstanceName:
          description: >-
            The name of the instance which will act as on-premises primary
            instance in the replication setup.
          type: string
        replicaConfiguration:
          $ref: '#/components/schemas/DemoteMasterConfiguration'
          description: >-
            Configuration specific to read-replicas replicating from the
            on-premises primary instance.
        kind:
          type: string
          description: This is always `sql#demoteMasterContext`.
        verifyGtidConsistency:
          description: >-
            Verify the GTID consistency for demote operation. Default value:
            `True`. Setting this flag to `false` enables you to bypass the GTID
            consistency check between on-premises primary instance and Cloud SQL
            instance during the demotion operation but also exposes you to the
            risk of future replication failures. Change the value only if you
            know the reason for the GTID divergence and are confident that doing
            so will not cause any replication issues.
          type: boolean
        skipReplicationSetup:
          type: boolean
          description: Flag to skip replication setup on the instance.
    InsightsConfig:
      id: InsightsConfig
      properties:
        queryPlansPerMinute:
          format: int32
          type: integer
          description: >-
            Number of query execution plans captured by Insights per minute for
            all queries combined. Default is 5.
        recordApplicationTags:
          description: >-
            Whether Query Insights will record application tags from query when
            enabled.
          type: boolean
        recordClientAddress:
          description: Whether Query Insights will record client address when enabled.
          type: boolean
        queryStringLength:
          format: int32
          type: integer
          description: >-
            Maximum query length stored in bytes. Default value: 1024 bytes.
            Range: 256-4500 bytes. Query length more than this field value will
            be truncated to this value. When unset, query length will be the
            default value. Changing query length will restart the database.
        queryInsightsEnabled:
          type: boolean
          description: Whether Query Insights feature is enabled.
      description: >-
        Insights configuration. This specifies when Cloud SQL Insights feature
        is enabled and optional configuration.
      type: object
    SqlInstancesResetReplicaSizeRequest:
      type: object
      id: SqlInstancesResetReplicaSizeRequest
      description: Instance reset replica size request.
      properties: {}
    LocationPreference:
      type: object
      description: >-
        Preferred location. This specifies where a Cloud SQL instance is
        located. Note that if the preferred location is not available, the
        instance will be located as close as possible within the region. Only
        one location may be specified.
      id: LocationPreference
      properties:
        kind:
          type: string
          description: This is always `sql#locationPreference`.
        zone:
          type: string
          description: >-
            The preferred Compute Engine zone (for example: us-central1-a,
            us-central1-b, etc.). WARNING: Changing this might restart the
            instance.
        followGaeApplication:
          type: string
          description: >-
            The App Engine application to follow, it must be in the same region
            as the Cloud SQL instance. WARNING: Changing this might restart the
            instance.
        secondaryZone:
          type: string
          description: >-
            The preferred Compute Engine zone for the secondary/failover (for
            example: us-central1-a, us-central1-b, etc.).
    SqlInstancesRescheduleMaintenanceRequestBody:
      properties:
        reschedule:
          $ref: '#/components/schemas/Reschedule'
          description: Required. The type of the reschedule the user wants.
      description: Reschedule options for maintenance windows.
      id: SqlInstancesRescheduleMaintenanceRequestBody
      type: object
    SqlServerAuditConfig:
      properties:
        retentionInterval:
          description: How long to keep generated audit files.
          type: string
          format: google-duration
        kind:
          description: This is always sql#sqlServerAuditConfig
          type: string
        uploadInterval:
          type: string
          description: How often to upload generated audit files.
          format: google-duration
        bucket:
          type: string
          description: The name of the destination bucket (e.g., gs://mybucket).
      type: object
      id: SqlServerAuditConfig
      description: SQL Server specific audit configuration.
    IpMapping:
      description: Database instance IP Mapping.
      id: IpMapping
      properties:
        timeToRetire:
          description: >-
            The due time for this IP to be retired in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`. This field is only available when the IP
            is scheduled to be retired.
          format: google-datetime
          type: string
        type:
          enum:
            - SQL_IP_ADDRESS_TYPE_UNSPECIFIED
            - PRIMARY
            - OUTGOING
            - PRIVATE
            - MIGRATED_1ST_GEN
          enumDescriptions:
            - This is an unknown IP address type.
            - >-
              IP address the customer is supposed to connect to. Usually this is
              the load balancer's IP address
            - >-
              Source IP address of the connection a read replica establishes to
              its external primary instance. This IP address can be allowlisted
              by the customer in case it has a firewall that filters incoming
              connection to its on premises primary instance.
            - Private IP used when using private IPs and network peering.
            - >-
              V1 IP of a migrated instance. We want the user to decommission
              this IP as soon as the migration is complete. Note: V1 instances
              with V1 ip addresses will be counted as PRIMARY.
          description: >-
            The type of this IP address. A `PRIMARY` address is a public address
            that can accept incoming connections. A `PRIVATE` address is a
            private address that can accept incoming connections. An `OUTGOING`
            address is the source address of connections originating from the
            instance, if supported.
          type: string
        ipAddress:
          description: The IP address assigned.
          type: string
      type: object
    ExportContext:
      properties:
        bakExportOptions:
          type: object
          properties:
            differentialBase:
              type: boolean
              description: >-
                Whether or not the backup can be used as a differential base
                copy_only backup can not be served as differential base
            copyOnly:
              description: >-
                Deprecated: copy_only is deprecated. Use differential_base
                instead
              type: boolean
            stripeCount:
              description: >-
                Option for specifying how many stripes to use for the export. If
                blank, and the value of the striped field is true, the number of
                stripes is automatically chosen.
              type: integer
              format: int32
            bakType:
              enum:
                - BAK_TYPE_UNSPECIFIED
                - FULL
                - DIFF
              enumDescriptions:
                - default type.
                - Full backup.
                - Differential backup.
              type: string
              description: >-
                Type of this bak file will be export, FULL or DIFF, SQL Server
                only
            striped:
              type: boolean
              description: Whether or not the export should be striped.
          description: Options for exporting BAK files (SQL Server-only)
        uri:
          type: string
          description: >-
            The path to the file in Google Cloud Storage where the export will
            be stored. The URI is in the form `gs://bucketName/fileName`. If the
            file already exists, the request succeeds, but the operation fails.
            If `fileType` is `SQL` and the filename ends with .gz, the contents
            are compressed.
        kind:
          description: This is always `sql#exportContext`.
          type: string
        fileType:
          description: The file type for the specified uri.
          enumDescriptions:
            - Unknown file type.
            - File containing SQL statements.
            - File in CSV format.
            - ''
          type: string
          enum:
            - SQL_FILE_TYPE_UNSPECIFIED
            - SQL
            - CSV
            - BAK
        csvExportOptions:
          properties:
            linesTerminatedBy:
              description: >-
                This is used to separate lines. If a line does not contain all
                fields, the rest of the columns are set to their default values.
              type: string
            quoteCharacter:
              description: >-
                Specifies the quoting character to be used when a data value is
                quoted.
              type: string
            escapeCharacter:
              type: string
              description: >-
                Specifies the character that should appear before a data
                character that needs to be escaped.
            selectQuery:
              type: string
              description: The select query used to extract the data.
            fieldsTerminatedBy:
              type: string
              description: >-
                Specifies the character that separates columns within each row
                (line) of the file.
          type: object
          description: >-
            Options for exporting data as CSV. `MySQL` and `PostgreSQL`
            instances only.
        offload:
          description: Option for export offload.
          type: boolean
        sqlExportOptions:
          properties:
            schemaOnly:
              type: boolean
              description: Export only schemas.
            tables:
              description: >-
                Tables to export, or that were exported, from the specified
                database. If you specify tables, specify one and only one
                database. For PostgreSQL instances, you can specify only one
                table.
              type: array
              items:
                type: string
            mysqlExportOptions:
              properties:
                masterData:
                  type: integer
                  description: >-
                    Option to include SQL statement required to set up
                    replication. If set to `1`, the dump file includes a CHANGE
                    MASTER TO statement with the binary log coordinates, and
                    --set-gtid-purged is set to ON. If set to `2`, the CHANGE
                    MASTER TO statement is written as a SQL comment and has no
                    effect. If set to any value other than `1`,
                    --set-gtid-purged is set to OFF.
                  format: int32
              description: Options for exporting from MySQL.
              type: object
          type: object
          description: Options for exporting data as SQL statements.
        databases:
          description: >-
            Databases to be exported. `MySQL instances:` If `fileType` is `SQL`
            and no database is specified, all databases are exported, except for
            the `mysql` system database. If `fileType` is `CSV`, you can specify
            one database, either by using this property or by using the
            `csvExportOptions.selectQuery` property, which takes precedence over
            this property. `PostgreSQL instances:` You must specify one database
            to be exported. If `fileType` is `CSV`, this database must match the
            one specified in the `csvExportOptions.selectQuery` property. `SQL
            Server instances:` You must specify one database to be exported, and
            the `fileType` must be `BAK`.
          type: array
          items:
            type: string
      id: ExportContext
      description: Database instance export context.
      type: object
    BackupRetentionSettings:
      type: object
      description: >-
        We currently only support backup retention by specifying the number of
        backups we will retain.
      properties:
        retentionUnit:
          enumDescriptions:
            - Backup retention unit is unspecified, will be treated as COUNT.
            - >-
              Retention will be by count, eg. "retain the most recent 7
              backups".
          description: The unit that 'retained_backups' represents.
          type: string
          enum:
            - RETENTION_UNIT_UNSPECIFIED
            - COUNT
        retainedBackups:
          description: >-
            Depending on the value of retention_unit, this is used to determine
            if a backup needs to be deleted. If retention_unit is 'COUNT', we
            will retain this many backups.
          format: int32
          type: integer
      id: BackupRetentionSettings
    RotateServerCaContext:
      properties:
        kind:
          description: This is always `sql#rotateServerCaContext`.
          type: string
        nextVersion:
          description: >-
            The fingerprint of the next version to be rotated to. If left
            unspecified, will be rotated to the most recently added server CA
            version.
          type: string
      description: Instance rotate server CA context.
      type: object
      id: RotateServerCaContext
    DemoteMasterConfiguration:
      id: DemoteMasterConfiguration
      description: >-
        Read-replica configuration for connecting to the on-premises primary
        instance.
      properties:
        mysqlReplicaConfiguration:
          $ref: '#/components/schemas/DemoteMasterMySqlReplicaConfiguration'
          description: >-
            MySQL specific configuration when replicating from a MySQL
            on-premises primary instance. Replication configuration information
            such as the username, password, certificates, and keys are not
            stored in the instance metadata. The configuration information is
            used only to set up the replication connection and is stored by
            MySQL in a file named `master.info` in the data directory.
        kind:
          description: This is always `sql#demoteMasterConfiguration`.
          type: string
      type: object
    PasswordStatus:
      properties:
        locked:
          description: If true, user does not have login privileges.
          type: boolean
        passwordExpirationTime:
          description: The expiration time of the current password.
          type: string
          format: google-datetime
      type: object
      description: Read-only password status.
      id: PasswordStatus
    SqlServerUserDetails:
      id: SqlServerUserDetails
      description: Represents a Sql Server user on the Cloud SQL instance.
      type: object
      properties:
        serverRoles:
          description: The server roles for this user
          type: array
          items:
            type: string
        disabled:
          type: boolean
          description: If the user has been disabled
    BackupRunsListResponse:
      properties:
        kind:
          description: This is always `sql#backupRunsList`.
          type: string
        items:
          description: >-
            A list of backup runs in reverse chronological order of the enqueued
            time.
          type: array
          items:
            $ref: '#/components/schemas/BackupRun'
        nextPageToken:
          description: >-
            The continuation token, used to page through large result sets.
            Provide this value in a subsequent request to return the next page
            of results.
          type: string
      id: BackupRunsListResponse
      description: Backup run list results.
      type: object
    InstancesRestoreBackupRequest:
      type: object
      id: InstancesRestoreBackupRequest
      properties:
        restoreBackupContext:
          $ref: '#/components/schemas/RestoreBackupContext'
          description: Parameters required to perform the restore backup operation.
[...]
