openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Cloud SQL Admin API
  description: API for Cloud SQL database instance management
  version: v1beta4
  x-discovery-doc-revision: '20230607'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/cloud-sql/
servers:
  - url: https://sqladmin.googleapis.com
components:
  schemas:
    SslCertDetail:
      properties:
        certPrivateKey:
          type: string
          description: >-
            The private key for the client cert, in pem format. Keep private in
            order to protect your security.
        certInfo:
          $ref: '#/components/schemas/SslCert'
          description: The public information about the cert.
      description: SslCertDetail.
      id: SslCertDetail
      type: object
    FlagsListResponse:
      properties:
        kind:
          description: This is always `sql#flagsList`.
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/Flag'
          description: List of flags.
      id: FlagsListResponse
      type: object
      description: Flags list response.
    DatabasesListResponse:
      id: DatabasesListResponse
      properties:
        kind:
          type: string
          description: This is always `sql#databasesList`.
        items:
          items:
            $ref: '#/components/schemas/Database'
          description: List of database resources in the instance.
          type: array
      type: object
      description: Database list response.
    Settings:
      type: object
      properties:
        maintenanceWindow:
          description: >-
            The maintenance window for this instance. This specifies when the
            instance can be restarted for maintenance purposes.
          $ref: '#/components/schemas/MaintenanceWindow'
        locationPreference:
          $ref: '#/components/schemas/LocationPreference'
          description: >-
            The location preference settings. This allows the instance to be
            located as near as possible to either an App Engine app or Compute
            Engine zone for better performance. App Engine co-location was only
            applicable to First Generation instances.
        databaseFlags:
          description: The database flags passed to the instance at startup.
          items:
            $ref: '#/components/schemas/DatabaseFlags'
          type: array
        kind:
          description: This is always `sql#settings`.
          type: string
        availabilityType:
          enum:
            - SQL_AVAILABILITY_TYPE_UNSPECIFIED
            - ZONAL
            - REGIONAL
          enumDescriptions:
            - This is an unknown Availability type.
            - Zonal available instance.
            - Regional available instance.
          type: string
          description: >-
            Availability type. Potential values: * `ZONAL`: The instance serves
            data from only one zone. Outages in that zone affect data
            accessibility. * `REGIONAL`: The instance can serve data from more
            than one zone in a region (it is highly available)./ For more
            information, see [Overview of the High Availability
            Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).
        databaseReplicationEnabled:
          type: boolean
          description: >-
            Configuration specific to read replica instances. Indicates whether
            replication is enabled or not. WARNING: Changing this restarts the
            instance.
        authorizedGaeApplications:
          type: array
          description: >-
            The App Engine app IDs that can access this instance. (Deprecated)
            Applied to First Generation instances only.
          items:
            type: string
        pricingPlan:
          enumDescriptions:
            - This is an unknown pricing plan for this instance.
            - The instance is billed at a monthly flat rate.
            - The instance is billed per usage.
          enum:
            - SQL_PRICING_PLAN_UNSPECIFIED
            - PACKAGE
            - PER_USE
          type: string
          description: >-
            The pricing plan for this instance. This can be either `PER_USE` or
            `PACKAGE`. Only `PER_USE` is supported for Second Generation
            instances.
        userLabels:
          type: object
          description: >-
            User-provided labels, represented as a dictionary where each label
            is a single key value pair.
          additionalProperties:
            type: string
        collation:
          description: The name of server Instance collation.
          type: string
        timeZone:
          description: Server timezone, relevant only for Cloud SQL for SQL Server.
          type: string
        activeDirectoryConfig:
          description: >-
            Active Directory configuration, relevant only for Cloud SQL for SQL
            Server.
          $ref: '#/components/schemas/SqlActiveDirectoryConfig'
        denyMaintenancePeriods:
          items:
            $ref: '#/components/schemas/DenyMaintenancePeriod'
          description: Deny maintenance periods
          type: array
        passwordValidationPolicy:
          description: The local user password validation policy of the instance.
          $ref: '#/components/schemas/PasswordValidationPolicy'
        crashSafeReplicationEnabled:
          type: boolean
          description: >-
            Configuration specific to read replica instances. Indicates whether
            database flags for crash-safe replication are enabled. This property
            was only applicable to First Generation instances.
        replicationType:
          description: >-
            The type of replication this instance uses. This can be either
            `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only
            applicable to First Generation instances.
          enum:
            - SQL_REPLICATION_TYPE_UNSPECIFIED
            - SYNCHRONOUS
            - ASYNCHRONOUS
          type: string
          enumDescriptions:
            - This is an unknown replication type for a Cloud SQL instance.
            - >-
              The synchronous replication mode for First Generation instances.
              It is the default value.
            - >-
              The asynchronous replication mode for First Generation instances.
              It provides a slight performance gain, but if an outage occurs
              while this option is set to asynchronous, you can lose up to a few
              seconds of updates to your data.
        connectorEnforcement:
          enum:
            - CONNECTOR_ENFORCEMENT_UNSPECIFIED
            - NOT_REQUIRED
            - REQUIRED
          description: >-
            Specifies if connections must use Cloud SQL connectors. Option
            values include the following: `NOT_REQUIRED` (Cloud SQL instances
            can be connected without Cloud SQL Connectors) and `REQUIRED` (Only
            allow connections that use Cloud SQL Connectors) Note that using
            REQUIRED disables all existing authorized networks. If this field is
            not specified when creating a new instance, NOT_REQUIRED is used. If
            this field is not specified when patching or updating an existing
            instance, it is left unchanged in the instance.
          enumDescriptions:
            - The requirement for Cloud SQL connectors is unknown.
            - Do not require Cloud SQL connectors.
            - >-
              Require all connections to use Cloud SQL connectors, including the
              Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go
              connectors. Note: This disables all existing authorized networks.
          type: string
        activationPolicy:
          enumDescriptions:
            - Unknown activation plan.
            - The instance is always up and running.
            - The instance never starts.
            - The instance starts upon receiving requests.
          description: >-
            The activation policy specifies when the instance is activated; it
            is applicable only when the instance state is RUNNABLE. Valid
            values: * `ALWAYS`: The instance is on, and remains so even in the
            absence of connection requests. * `NEVER`: The instance is off; it
            is not activated, even if a connection request arrives.
          enum:
            - SQL_ACTIVATION_POLICY_UNSPECIFIED
            - ALWAYS
            - NEVER
            - ON_DEMAND
          type: string
        sqlServerAuditConfig:
          description: SQL Server specific audit configuration.
          $ref: '#/components/schemas/SqlServerAuditConfig'
        tier:
          description: >-
            The tier (or machine type) for this instance, for example
            `db-custom-1-3840`. WARNING: Changing this restarts the instance.
          type: string
        dataDiskType:
          enum:
            - SQL_DATA_DISK_TYPE_UNSPECIFIED
            - PD_SSD
            - PD_HDD
            - OBSOLETE_LOCAL_SSD
          enumDescriptions:
            - This is an unknown data disk type.
            - An SSD data disk.
            - An HDD data disk.
            - >-
              This field is deprecated and will be removed from a future version
              of the API.
          description: >-
            The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for
            First Generation instances.
          type: string
        insightsConfig:
          $ref: '#/components/schemas/InsightsConfig'
          description: Insights configuration, for now relevant only for Postgres.
        ipConfiguration:
          $ref: '#/components/schemas/IpConfiguration'
          description: >-
            The settings for IP Management. This allows to enable or disable the
            instance IP and manage which external networks can connect to the
            instance. The IPv4 address cannot be disabled for Second Generation
            instances.
        deletionProtectionEnabled:
          type: boolean
          description: Configuration to protect against accidental instance deletion.
        settingsVersion:
          description: >-
            The version of instance settings. This is a required field for
            update method to make sure concurrent updates are handled properly.
            During update, use the most recent settingsVersion value for this
            instance and do not try to update this value.
          format: int64
          type: string
        storageAutoResizeLimit:
          format: int64
          description: >-
            The maximum size to which storage capacity can be automatically
            increased. The default value is 0, which specifies that there is no
            limit.
          type: string
        storageAutoResize:
          description: >-
            Configuration to increase storage size automatically. The default
            value is true.
          type: boolean
        backupConfiguration:
          $ref: '#/components/schemas/BackupConfiguration'
          description: The daily backup configuration for the instance.
        advancedMachineFeatures:
          $ref: '#/components/schemas/AdvancedMachineFeatures'
          description: >-
            Specifies advance machine configuration for the instance relevant
            only for SQL Server.
        dataDiskSizeGb:
          type: string
          format: int64
          description: The size of data disk, in GB. The data disk size minimum is 10GB.
      description: Database instance settings.
      id: Settings
    ExportContext:
      id: ExportContext
      type: object
      properties:
        offload:
          description: Option for export offload.
          type: boolean
        databases:
          description: >-
            Databases to be exported. `MySQL instances:` If `fileType` is `SQL`
            and no database is specified, all databases are exported, except for
            the `mysql` system database. If `fileType` is `CSV`, you can specify
            one database, either by using this property or by using the
            `csvExportOptions.selectQuery` property, which takes precedence over
            this property. `PostgreSQL instances:` You must specify one database
            to be exported. If `fileType` is `CSV`, this database must match the
            one specified in the `csvExportOptions.selectQuery` property. `SQL
            Server instances:` You must specify one database to be exported, and
            the `fileType` must be `BAK`.
          items:
            type: string
          type: array
        sqlExportOptions:
          description: Options for exporting data as SQL statements.
          properties:
            tables:
              type: array
              items:
                type: string
              description: >-
                Tables to export, or that were exported, from the specified
                database. If you specify tables, specify one and only one
                database. For PostgreSQL instances, you can specify only one
                table.
            mysqlExportOptions:
              type: object
              description: Options for exporting from MySQL.
              properties:
                masterData:
                  format: int32
                  description: >-
                    Option to include SQL statement required to set up
                    replication. If set to `1`, the dump file includes a CHANGE
                    MASTER TO statement with the binary log coordinates, and
                    --set-gtid-purged is set to ON. If set to `2`, the CHANGE
                    MASTER TO statement is written as a SQL comment and has no
                    effect. If set to any value other than `1`,
                    --set-gtid-purged is set to OFF.
                  type: integer
            schemaOnly:
              description: Export only schemas.
              type: boolean
          type: object
        csvExportOptions:
          type: object
          description: >-
            Options for exporting data as CSV. `MySQL` and `PostgreSQL`
            instances only.
          properties:
            selectQuery:
              type: string
              description: The select query used to extract the data.
            linesTerminatedBy:
              type: string
              description: >-
                This is used to separate lines. If a line does not contain all
                fields, the rest of the columns are set to their default values.
            quoteCharacter:
              description: >-
                Specifies the quoting character to be used when a data value is
                quoted.
              type: string
            fieldsTerminatedBy:
              type: string
              description: >-
                Specifies the character that separates columns within each row
                (line) of the file.
            escapeCharacter:
              type: string
              description: >-
                Specifies the character that should appear before a data
                character that needs to be escaped.
        uri:
          type: string
          description: >-
            The path to the file in Google Cloud Storage where the export will
            be stored. The URI is in the form `gs://bucketName/fileName`. If the
            file already exists, the request succeeds, but the operation fails.
            If `fileType` is `SQL` and the filename ends with .gz, the contents
            are compressed.
        fileType:
          type: string
          description: The file type for the specified uri.
          enumDescriptions:
            - Unknown file type.
            - File containing SQL statements.
            - File in CSV format.
            - ''
          enum:
            - SQL_FILE_TYPE_UNSPECIFIED
            - SQL
            - CSV
            - BAK
        kind:
          type: string
          description: This is always `sql#exportContext`.
        bakExportOptions:
          type: object
          description: Options for exporting BAK files (SQL Server-only)
          properties:
            copyOnly:
              description: >-
                Deprecated: copy_only is deprecated. Use differential_base
                instead
              type: boolean
            striped:
              description: Whether or not the export should be striped.
              type: boolean
            stripeCount:
              type: integer
              format: int32
              description: >-
                Option for specifying how many stripes to use for the export. If
                blank, and the value of the striped field is true, the number of
                stripes is automatically chosen.
            differentialBase:
              type: boolean
              description: >-
                Whether or not the backup can be used as a differential base
                copy_only backup can not be served as differential base
            bakType:
              type: string
              description: >-
                Type of this bak file will be export, FULL or DIFF, SQL Server
                only
              enum:
                - BAK_TYPE_UNSPECIFIED
                - FULL
                - DIFF
              enumDescriptions:
                - default type.
                - Full backup.
                - Differential backup.
      description: Database instance export context.
    DiskEncryptionStatus:
      type: object
      properties:
        kind:
          type: string
          description: This is always `sql#diskEncryptionStatus`.
        kmsKeyVersionName:
          type: string
          description: KMS key version used to encrypt the Cloud SQL instance resource
      description: Disk encryption status for an instance.
      id: DiskEncryptionStatus
    DiskEncryptionConfiguration:
      id: DiskEncryptionConfiguration
      type: object
      properties:
        kind:
          type: string
          description: This is always `sql#diskEncryptionConfiguration`.
        kmsKeyName:
          description: Resource name of KMS key for disk encryption
          type: string
      description: Disk encryption configuration for an instance.
    SslCertsInsertResponse:
      properties:
        kind:
          type: string
          description: This is always `sql#sslCertsInsert`.
        serverCaCert:
          $ref: '#/components/schemas/SslCert'
          description: >-
            The server Certificate Authority's certificate. If this is missing
            you can force a new one to be generated by calling resetSslConfig
            method on instances resource.
        operation:
          description: The operation to track the ssl certs insert request.
          $ref: '#/components/schemas/Operation'
        clientCert:
          $ref: '#/components/schemas/SslCertDetail'
          description: The new client certificate and private key.
      description: SslCert insert response.
      type: object
      id: SslCertsInsertResponse
    CloneContext:
      type: object
      description: Database instance clone context.
      properties:
        databaseNames:
          description: >-
            (SQL Server only) Clone only the specified databases from the source
            instance. Clone all databases if empty.
          type: array
          items:
            type: string
        pitrTimestampMs:
          description: Reserved for future use.
          type: string
          format: int64
        destinationInstanceName:
          type: string
          description: Name of the Cloud SQL instance to be created as a clone.
        pointInTime:
          type: string
          description: >-
            Timestamp, if specified, identifies the time to which the source
            instance is cloned.
          format: google-datetime
        allocatedIpRange:
          description: >-
            The name of the allocated ip range for the private ip Cloud SQL
            instance. For example: "google-managed-services-default". If set,
            the cloned instance ip will be created in the allocated range. The
            range name must comply with [RFC
            1035](https://tools.ietf.org/html/rfc1035). Specifically, the name
            must be 1-63 characters long and match the regular expression
            [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.
          type: string
        binLogCoordinates:
          description: >-
            Binary log coordinates, if specified, identify the position up to
            which the source instance is cloned. If not specified, the source
            instance is cloned up to the most recent binary log coordinates.
          $ref: '#/components/schemas/BinLogCoordinates'
        kind:
          description: This is always `sql#cloneContext`.
          type: string
      id: CloneContext
    Tier:
      id: Tier
      type: object
      description: A Google Cloud SQL service tier resource.
      properties:
        DiskQuota:
          description: The maximum disk size of this tier in bytes.
          format: int64
          type: string
        RAM:
          type: string
          format: int64
          description: The maximum RAM usage of this tier in bytes.
        tier:
          type: string
          description: >-
            An identifier for the machine type, for example, `db-custom-1-3840`.
            For related information, see [Pricing](/sql/pricing).
        region:
          items:
            type: string
          description: The applicable regions for this tier.
          type: array
        kind:
          description: This is always `sql#tier`.
          type: string
    BackupRunsListResponse:
      id: BackupRunsListResponse
      properties:
        items:
          description: >-
            A list of backup runs in reverse chronological order of the enqueued
            time.
          type: array
          items:
            $ref: '#/components/schemas/BackupRun'
        kind:
          type: string
          description: This is always `sql#backupRunsList`.
        nextPageToken:
          description: >-
            The continuation token, used to page through large result sets.
            Provide this value in a subsequent request to return the next page
            of results.
          type: string
      type: object
      description: Backup run list results.
    PerformDiskShrinkContext:
      type: object
      properties:
        targetSizeGb:
          description: The target disk shrink size in GigaBytes.
          format: int64
          type: string
      id: PerformDiskShrinkContext
      description: Perform disk shrink context.
    BackupRun:
      id: BackupRun
      type: object
      description: A BackupRun resource.
      properties:
        type:
          description: >-
            The type of this run; can be either "AUTOMATED" or "ON_DEMAND" or
            "FINAL". This field defaults to "ON_DEMAND" and is ignored, when
            specified for insert requests.
          enumDescriptions:
            - This is an unknown BackupRun type.
            - The backup schedule automatically triggers a backup.
            - The user manually triggers a backup.
          enum:
            - SQL_BACKUP_RUN_TYPE_UNSPECIFIED
            - AUTOMATED
            - ON_DEMAND
          type: string
        diskEncryptionConfiguration:
          $ref: '#/components/schemas/DiskEncryptionConfiguration'
          description: Encryption configuration specific to a backup.
        diskEncryptionStatus:
          $ref: '#/components/schemas/DiskEncryptionStatus'
          description: Encryption status specific to a backup.
        selfLink:
          type: string
          description: The URI of this resource.
        windowStartTime:
          description: >-
            The start time of the backup window during which this the backup was
            attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format,
            for example `2012-11-15T16:19:00.094Z`.
          format: google-datetime
          type: string
        startTime:
          format: google-datetime
          description: >-
            The time the backup operation actually started in UTC timezone in
            [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          type: string
        timeZone:
          description: >-
            Backup time zone to prevent restores to an instance with a different
            time zone. Now relevant only for SQL Server.
          type: string
        status:
          enum:
            - SQL_BACKUP_RUN_STATUS_UNSPECIFIED
            - ENQUEUED
            - OVERDUE
            - RUNNING
            - FAILED
            - SUCCESSFUL
            - SKIPPED
            - DELETION_PENDING
            - DELETION_FAILED
            - DELETED
          type: string
          description: The status of this run.
          enumDescriptions:
            - The status of the run is unknown.
            - The backup operation was enqueued.
            - >-
              The backup is overdue across a given backup window. Indicates a
              problem. Example: Long-running operation in progress during the
              whole window.
            - The backup is in progress.
            - The backup failed.
            - The backup was successful.
            - >-
              The backup was skipped (without problems) for a given backup
              window. Example: Instance was idle.
            - The backup is about to be deleted.
            - The backup deletion failed.
            - The backup has been deleted.
        enqueuedTime:
          format: google-datetime
          type: string
          description: >-
            The time the run was enqueued in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
        backupKind:
          description: Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.
          enumDescriptions:
            - This is an unknown BackupKind.
            - The snapshot based backups
            - Physical backups
          enum:
            - SQL_BACKUP_KIND_UNSPECIFIED
            - SNAPSHOT
            - PHYSICAL
          type: string
        description:
          type: string
          description: The description of this run, only applicable to on-demand backups.
        id:
          type: string
          description: >-
            The identifier for this backup run. Unique only for a specific Cloud
            SQL instance.
          format: int64
        location:
          type: string
          description: Location of the backups.
        instance:
          type: string
          description: Name of the database instance.
        error:
          description: >-
            Information about why the backup operation failed. This is only
            present if the run has the FAILED status.
          $ref: '#/components/schemas/OperationError'
        kind:
          type: string
          description: This is always `sql#backupRun`.
        endTime:
          description: >-
            The time the backup operation completed in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          type: string
          format: google-datetime
    MaintenanceWindow:
      description: >-
        Maintenance window. This specifies when a Cloud SQL instance is
        restarted for system maintenance purposes.
      id: MaintenanceWindow
      properties:
        hour:
          format: int32
          description: hour of day - 0 to 23.
          type: integer
        updateTrack:
          description: >-
            Maintenance timing setting: `canary` (Earlier) or `stable` (Later).
            [Learn
            more](https://cloud.google.com/sql/docs/mysql/instance-settings#maintenance-timing-2ndgen).
          enumDescriptions:
            - This is an unknown maintenance timing preference.
            - >-
              For instance update that requires a restart, this update track
              indicates your instance prefer to restart for new version early in
              maintenance window.
            - >-
              For instance update that requires a restart, this update track
              indicates your instance prefer to let Cloud SQL choose the timing
              of restart (within its Maintenance window, if applicable).
          enum:
            - SQL_UPDATE_TRACK_UNSPECIFIED
            - canary
            - stable
          type: string
        day:
          format: int32
          type: integer
          description: day of week (1-7), starting on Monday.
        kind:
          type: string
          description: This is always `sql#maintenanceWindow`.
      type: object
    ApiWarning:
      type: object
      properties:
        message:
          description: The warning message.
          type: string
        region:
          description: The region name for REGION_UNREACHABLE warning.
          type: string
        code:
          enumDescriptions:
            - An unknown or unset warning type from Cloud SQL API.
            - >-
              Warning when one or more regions are not reachable. The returned
              result set may be incomplete.
            - >-
              Warning when user provided maxResults parameter exceeds the limit.
              The returned result set may be incomplete.
          type: string
          description: Code to uniquely identify the warning type.
          enum:
            - SQL_API_WARNING_CODE_UNSPECIFIED
            - REGION_UNREACHABLE
            - MAX_RESULTS_EXCEEDS_LIMIT
      description: An Admin API warning message.
      id: ApiWarning
    FailoverContext:
      type: object
      id: FailoverContext
      properties:
        settingsVersion:
          type: string
          format: int64
          description: >-
            The current settings version of this instance. Request will be
            rejected if this version doesn't match the current settings version.
        kind:
          type: string
          description: This is always `sql#failoverContext`.
      description: Database instance failover context.
    AclEntry:
      description: An entry for an Access Control list.
      properties:
        expirationTime:
          description: >-
            The time when this access control entry expires in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          type: string
          format: google-datetime
        kind:
          description: This is always `sql#aclEntry`.
          type: string
        value:
          description: The allowlisted value for the access control list.
          type: string
        name:
          description: Optional. A label to identify this entry.
          type: string
      type: object
      id: AclEntry
    GenerateEphemeralCertResponse:
      id: GenerateEphemeralCertResponse
      type: object
      properties:
        ephemeralCert:
          description: Generated cert
          $ref: '#/components/schemas/SslCert'
      description: Ephemeral certificate creation request.
    MySqlSyncConfig:
      id: MySqlSyncConfig
      description: MySQL-specific external server sync settings.
      properties:
        initialSyncFlags:
          items:
            $ref: '#/components/schemas/SyncFlags'
          description: Flags to use for the initial dump.
          type: array
      type: object
    TiersListResponse:
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Tier'
          description: List of tiers.
        kind:
          type: string
          description: This is always `sql#tiersList`.
      description: Tiers list response.
      type: object
      id: TiersListResponse
    SqlServerAuditConfig:
      properties:
        uploadInterval:
          description: How often to upload generated audit files.
          format: google-duration
          type: string
        retentionInterval:
          type: string
          description: How long to keep generated audit files.
          format: google-duration
        bucket:
          description: The name of the destination bucket (e.g., gs://mybucket).
          type: string
        kind:
          type: string
          description: This is always sql#sqlServerAuditConfig
      type: object
      id: SqlServerAuditConfig
      description: SQL Server specific audit configuration.
    Database:
      description: Represents a SQL database on the Cloud SQL instance.
      id: Database
      properties:
        collation:
          description: The Cloud SQL collation value.
          type: string
        project:
          description: >-
            The project ID of the project containing the Cloud SQL database. The
            Google apps domain is prefixed if applicable.
          type: string
        etag:
          description: >-
            This field is deprecated and will be removed from a future version
            of the API.
          type: string
        selfLink:
          description: The URI of this resource.
          type: string
        sqlserverDatabaseDetails:
          $ref: '#/components/schemas/SqlServerDatabaseDetails'
        kind:
          type: string
          description: This is always `sql#database`.
        instance:
          type: string
          description: >-
            The name of the Cloud SQL instance. This does not include the
            project ID.
        name:
          type: string
          description: >-
            The name of the database in the Cloud SQL instance. This does not
            include the project ID or instance name.
        charset:
          description: The Cloud SQL charset value.
          type: string
      type: object
    TruncateLogContext:
      properties:
        logType:
          description: >-
            The type of log to truncate. Valid values are `MYSQL_GENERAL_TABLE`
            and `MYSQL_SLOW_TABLE`.
          type: string
        kind:
          description: This is always `sql#truncateLogContext`.
          type: string
      type: object
      id: TruncateLogContext
      description: Database Instance truncate log context.
    Reschedule:
      id: Reschedule
      type: object
      properties:
        rescheduleType:
          description: Required. The type of the reschedule.
          enumDescriptions:
            - ''
            - Reschedules maintenance to happen now (within 5 minutes).
            - >-
              Reschedules maintenance to occur within one week from the
              originally scheduled day and time.
            - Reschedules maintenance to a specific time and day.
          type: string
          enum:
            - RESCHEDULE_TYPE_UNSPECIFIED
            - IMMEDIATE
            - NEXT_AVAILABLE_WINDOW
            - SPECIFIC_TIME
        scheduleTime:
          type: string
          format: google-datetime
          description: >-
            Optional. Timestamp when the maintenance shall be rescheduled to if
            reschedule_type=SPECIFIC_TIME, in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
    PasswordStatus:
      type: object
      id: PasswordStatus
      properties:
        locked:
          description: If true, user does not have login privileges.
          type: boolean
        passwordExpirationTime:
          description: The expiration time of the current password.
          format: google-datetime
          type: string
      description: Read-only password status.
    SqlActiveDirectoryConfig:
      type: object
      id: SqlActiveDirectoryConfig
      properties:
        kind:
          type: string
          description: This is always sql#activeDirectoryConfig.
        domain:
          type: string
          description: The name of the domain (e.g., mydomain.com).
      description: >-
        Active Directory configuration, relevant only for Cloud SQL for SQL
        Server.
    DenyMaintenancePeriod:
      type: object
      properties:
        endDate:
          description: >-
            "deny maintenance period" end date. If the year of the end date is
            empty, the year of the start date also must be empty. In this case,
            it means the deny maintenance period recurs every year. The date is
            in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01
          type: string
        startDate:
          description: >-
            "deny maintenance period" start date. If the year of the start date
            is empty, the year of the end date also must be empty. In this case,
            it means the deny maintenance period recurs every year. The date is
            in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01
          type: string
        time:
          type: string
          description: >-
            Time in UTC when the "deny maintenance period" starts on start_date
            and ends on end_date. The time is in format: HH:mm:SS, i.e.,
            00:00:00
      description: >-
        Deny Maintenance Periods. This specifies a date range during when all
        CSA rollout will be denied.
      id: DenyMaintenancePeriod
    DatabaseInstance:
      type: object
      properties:
        onPremisesConfiguration:
          $ref: '#/components/schemas/OnPremisesConfiguration'
          description: Configuration specific to on-premises instances.
        maxDiskSize:
          format: int64
          type: string
          description: The maximum disk size of the instance in bytes.
        etag:
          type: string
          description: >-
            This field is deprecated and will be removed from a future version
            of the API. Use the `settings.settingsVersion` field instead.
        state:
          enum:
            - SQL_INSTANCE_STATE_UNSPECIFIED
            - RUNNABLE
            - SUSPENDED
            - PENDING_DELETE
            - PENDING_CREATE
            - MAINTENANCE
            - FAILED
            - ONLINE_MAINTENANCE
          type: string
          enumDescriptions:
            - The state of the instance is unknown.
            - The instance is running, or has been stopped by owner.
            - >-
              The instance is not available, for example due to problems with
              billing.
            - The instance is being deleted.
            - The instance is being created.
            - The instance is down for maintenance.
            - >-
              The creation of the instance failed or a fatal error occurred
              during maintenance.
            - Deprecated
          description: The current serving state of the Cloud SQL instance.
        availableMaintenanceVersions:
          items:
            type: string
          readOnly: true
          description: >-
            Output only. List all maintenance versions applicable on the
            instance
          type: array
        secondaryGceZone:
          type: string
          description: >-
            The Compute Engine zone that the failover instance is currently
            serving from for a regional instance. This value could be different
            from the zone that was specified when the instance was created if
            the instance has failed over to its secondary/failover zone.
        project:
          description: >-
            The project ID of the project containing the Cloud SQL instance. The
            Google apps domain is prefixed if applicable.
          type: string
        diskEncryptionConfiguration:
          $ref: '#/components/schemas/DiskEncryptionConfiguration'
          description: Disk encryption configuration specific to an instance.
        kind:
          description: This is always `sql#instance`.
          type: string
        serviceAccountEmailAddress:
          type: string
          description: >-
            The service account email address assigned to the instance. \This
            property is read-only.
        gceZone:
          type: string
          description: >-
            The Compute Engine zone that the instance is currently serving from.
            This value could be different from the zone that was specified when
            the instance was created if the instance has failed over to its
            secondary zone. WARNING: Changing this might restart the instance.
        replicaNames:
          description: The replicas of the instance.
          items:
            type: string
          type: array
        createTime:
          format: google-datetime
          readOnly: true
          type: string
          description: >-
            Output only. The time when the instance was created in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
        databaseInstalledVersion:
          type: string
          readOnly: true
          description: >-
            Output only. Stores the current database version running on the
            instance including minor version such as `MYSQL_8_0_18`.
        currentDiskSize:
          description: >-
            The current disk usage of the instance in bytes. This property has
            been deprecated. Use the
            "cloudsql.googleapis.com/database/disk/bytes_used" metric in Cloud
            Monitoring API instead. Please see [this
            announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ)
            for details.
          type: string
          format: int64
        instanceType:
          enum:
            - SQL_INSTANCE_TYPE_UNSPECIFIED
            - CLOUD_SQL_INSTANCE
            - ON_PREMISES_INSTANCE
            - READ_REPLICA_INSTANCE
          enumDescriptions:
            - This is an unknown Cloud SQL instance type.
            - >-
              A regular Cloud SQL instance that is not replicating from a
              primary instance.
            - >-
              An instance running on the customer's premises that is not managed
              by Cloud SQL.
            - A Cloud SQL instance acting as a read-replica.
          description: The instance type.
          type: string
        connectionName:
          description: >-
            Connection name of the Cloud SQL instance used in connection
            strings.
          type: string
        backendType:
          description: >-
            The backend type. `SECOND_GEN`: Cloud SQL database instance.
            `EXTERNAL`: A database server that is not managed by Google. This
            property is read-only; use the `tier` property in the `settings`
            object to determine the database type.
          enumDescriptions:
            - This is an unknown backend type for instance.
            - V1 speckle instance.
            - V2 speckle instance.
            - On premises instance.
          enum:
            - SQL_BACKEND_TYPE_UNSPECIFIED
            - FIRST_GEN
            - SECOND_GEN
            - EXTERNAL
          type: string
        ipAddresses:
          type: array
          items:
            $ref: '#/components/schemas/IpMapping'
          description: The assigned IP addresses for the instance.
        ipv6Address:
          description: >-
            The IPv6 address assigned to the instance. (Deprecated) This
            property was applicable only to First Generation instances.
          type: string
        failoverReplica:
          properties:
            available:
              description: >-
                The availability status of the failover replica. A false status
                indicates that the failover replica is out of sync. The primary
                instance can only failover to the failover replica when the
                status is true.
              type: boolean
            name:
              description: >-
                The name of the failover replica. If specified at instance
                creation, a failover replica is created for the instance. The
                name doesn't include the project ID.
              type: string
          description: The name and status of the failover replica.
          type: object
        outOfDiskReport:
          description: >-
            This field represents the report generated by the proactive database
            wellness job for OutOfDisk issues. * Writers: * the proactive
            database wellness job for OOD. * Readers: * the proactive database
            wellness job
          $ref: '#/components/schemas/SqlOutOfDiskReport'
        serverCaCert:
          description: SSL configuration.
          $ref: '#/components/schemas/SslCert'
        scheduledMaintenance:
          description: >-
            The start time of any upcoming scheduled maintenance for this
            instance.
          $ref: '#/components/schemas/SqlScheduledMaintenance'
        maintenanceVersion:
          description: The current software version on the instance.
          type: string
        suspensionReason:
          type: array
          items:
            type: string
            enum:
              - SQL_SUSPENSION_REASON_UNSPECIFIED
              - BILLING_ISSUE
              - LEGAL_ISSUE
              - OPERATIONAL_ISSUE
              - KMS_KEY_ISSUE
            enumDescriptions:
              - This is an unknown suspension reason.
              - >-
                The instance is suspended due to billing issues (for example:,
                GCP account issue)
              - >-
                The instance is suspended due to illegal content (for example:,
                child pornography, copyrighted material, etc.).
              - >-
                The instance is causing operational issues (for example:,
                causing the database to crash).
              - >-
                The KMS key used by the instance is either revoked or denied
                access to
          description: If the instance state is SUSPENDED, the reason for the suspension.
        name:
          description: >-
            Name of the Cloud SQL instance. This does not include the project
            ID.
          type: string
        masterInstanceName:
          type: string
          description: >-
            The name of the instance which will act as primary in the
            replication setup.
        selfLink:
          description: The URI of this resource.
          type: string
        databaseVersion:
          type: string
          enum:
            - SQL_DATABASE_VERSION_UNSPECIFIED
            - MYSQL_5_1
            - MYSQL_5_5
            - MYSQL_5_6
            - MYSQL_5_7
            - SQLSERVER_2017_STANDARD
            - SQLSERVER_2017_ENTERPRISE
            - SQLSERVER_2017_EXPRESS
            - SQLSERVER_2017_WEB
            - POSTGRES_9_6
            - POSTGRES_10
            - POSTGRES_11
            - POSTGRES_12
            - POSTGRES_13
            - POSTGRES_14
            - POSTGRES_15
            - MYSQL_8_0
            - MYSQL_8_0_18
            - MYSQL_8_0_26
            - MYSQL_8_0_27
            - MYSQL_8_0_28
            - MYSQL_8_0_29
            - MYSQL_8_0_30
            - MYSQL_8_0_31
            - MYSQL_8_0_32
            - MYSQL_8_0_33
            - MYSQL_8_0_34
            - MYSQL_8_0_35
            - MYSQL_8_0_36
            - SQLSERVER_2019_STANDARD
            - SQLSERVER_2019_ENTERPRISE
            - SQLSERVER_2019_EXPRESS
            - SQLSERVER_2019_WEB
            - SQLSERVER_2022_STANDARD
            - SQLSERVER_2022_ENTERPRISE
            - SQLSERVER_2022_EXPRESS
            - SQLSERVER_2022_WEB
          enumDescriptions:
            - This is an unknown database version.
            - The database version is MySQL 5.1.
            - The database version is MySQL 5.5.
            - The database version is MySQL 5.6.
            - The database version is MySQL 5.7.
            - The database version is SQL Server 2017 Standard.
            - The database version is SQL Server 2017 Enterprise.
            - The database version is SQL Server 2017 Express.
            - The database version is SQL Server 2017 Web.
            - The database version is PostgreSQL 9.6.
            - The database version is PostgreSQL 10.
            - The database version is PostgreSQL 11.
            - The database version is PostgreSQL 12.
            - The database version is PostgreSQL 13.
            - The database version is PostgreSQL 14.
            - The database version is PostgreSQL 15.
            - The database version is MySQL 8.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              18.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              26.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              27.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              28.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              29.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              30.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              31.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              32.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              33.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              34.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              35.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              36.
            - The database version is SQL Server 2019 Standard.
            - The database version is SQL Server 2019 Enterprise.
            - The database version is SQL Server 2019 Express.
            - The database version is SQL Server 2019 Web.
            - The database version is SQL Server 2022 Standard.
            - The database version is SQL Server 2022 Enterprise.
            - The database version is SQL Server 2022 Express.
            - The database version is SQL Server 2022 Web.
          description: >-
            The database engine type and version. The `databaseVersion` field
            cannot be changed after instance creation.
        satisfiesPzs:
          description: >-
            The status indicating if instance satisfiesPzs. Reserved for future
            use.
          type: boolean
        rootPassword:
          type: string
          description: >-
            Initial root password. Use only on creation. You must set root
            passwords before you can connect to PostgreSQL instances.
        settings:
          description: The user settings.
          $ref: '#/components/schemas/Settings'
        replicaConfiguration:
          description: Configuration specific to failover replicas and read replicas.
          $ref: '#/components/schemas/ReplicaConfiguration'
        region:
          description: >-
            The geographical region. Can be: * `us-central` (`FIRST_GEN`
            instances only) * `us-central1` (`SECOND_GEN` instances only) *
            `asia-east1` or `europe-west1`. Defaults to `us-central` or
            `us-central1` depending on the instance type. The region cannot be
            changed after instance creation.
          type: string
        diskEncryptionStatus:
          $ref: '#/components/schemas/DiskEncryptionStatus'
          description: Disk encryption status specific to an instance.
      id: DatabaseInstance
      description: A Cloud SQL instance resource.
    DatabaseFlags:
      description: Database flags for Cloud SQL instances.
      id: DatabaseFlags
      properties:
        value:
          description: >-
            The value of the flag. Boolean flags are set to `on` for true and
            `off` for false. This field must be omitted if the flag doesn't take
            a value.
          type: string
        name:
          type: string
          description: >-
            The name of the flag. These flags are passed at instance startup, so
            include both server options and system variables. Flags are
            specified with underscores, not hyphens. For more information, see
            [Configuring Database
            Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud
            SQL documentation.
      type: object
    SslCertsInsertRequest:
      type: object
      properties:
        commonName:
          description: >-
            User supplied name. Must be a distinct name from the other
            certificates for this instance.
          type: string
      id: SslCertsInsertRequest
      description: SslCerts insert request.
    IpConfiguration:
      description: IP Management configuration.
      properties:
        requireSsl:
          description: Whether SSL connections over IP are enforced or not.
          type: boolean
        privateNetwork:
          type: string
          description: >-
            The resource link for the VPC network from which the Cloud SQL
            instance is accessible for private IP. For example,
            `/projects/myProject/global/networks/default`. This setting can be
            updated, but it cannot be removed after it is set.
        ipv4Enabled:
          description: Whether the instance is assigned a public IP address or not.
          type: boolean
        allocatedIpRange:
          type: string
          description: >-
            The name of the allocated ip range for the private ip Cloud SQL
            instance. For example: "google-managed-services-default". If set,
            the instance ip will be created in the allocated range. The range
            name must comply with [RFC
            1035](https://tools.ietf.org/html/rfc1035). Specifically, the name
            must be 1-63 characters long and match the regular expression
            `[a-z]([-a-z0-9]*[a-z0-9])?.`
        enablePrivatePathForGoogleCloudServices:
          description: >-
            Controls connectivity to private IP instances from Google services,
            such as BigQuery.
          type: boolean
        authorizedNetworks:
          description: >-
            The list of external networks that are allowed to connect to the
            instance using the IP. In 'CIDR' notation, also known as 'slash'
            notation (for example: `157.197.200.0/24`).
          type: array
          items:
            $ref: '#/components/schemas/AclEntry'
      type: object
      id: IpConfiguration
    InstanceReference:
      description: Reference to another Cloud SQL instance.
      type: object
      properties:
        name:
          description: >-
            The name of the Cloud SQL instance being referenced. This does not
            include the project ID.
          type: string
        region:
          description: The region of the Cloud SQL instance being referenced.
          type: string
        project:
          description: >-
            The project ID of the Cloud SQL instance being referenced. The
            default is the same project ID as the instance references it.
          type: string
      id: InstanceReference
    SqlScheduledMaintenance:
      description: Any scheduled maintenance for this instance.
      type: object
      properties:
        startTime:
          type: string
          format: google-datetime
          description: >-
            The start time of any upcoming scheduled maintenance for this
            instance.
        canDefer:
          type: boolean
        canReschedule:
          type: boolean
          description: If the scheduled maintenance can be rescheduled.
        scheduleDeadlineTime:
          format: google-datetime
          type: string
          description: Maintenance cannot be rescheduled to start beyond this deadline.
      id: SqlScheduledMaintenance
    ConnectSettings:
      description: Connect settings retrieval response.
      id: ConnectSettings
      properties:
        serverCaCert:
          description: SSL configuration.
          $ref: '#/components/schemas/SslCert'
        backendType:
          type: string
          enum:
            - SQL_BACKEND_TYPE_UNSPECIFIED
            - FIRST_GEN
            - SECOND_GEN
            - EXTERNAL
          description: >-
            `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database
            server that is not managed by Google. This property is read-only;
            use the `tier` property in the `settings` object to determine the
            database type.
          enumDescriptions:
            - This is an unknown backend type for instance.
            - V1 speckle instance.
            - V2 speckle instance.
            - On premises instance.
        dnsName:
          type: string
          description: The dns name of the instance.
        region:
          type: string
          description: >-
            The cloud region for the instance. e.g. `us-central1`,
            `europe-west1`. The region cannot be changed after instance
            creation.
        ipAddresses:
          items:
            $ref: '#/components/schemas/IpMapping'
          description: The assigned IP addresses for the instance.
          type: array
        kind:
          type: string
          description: This is always `sql#connectSettings`.
        databaseVersion:
          type: string
          enum:
            - SQL_DATABASE_VERSION_UNSPECIFIED
            - MYSQL_5_1
            - MYSQL_5_5
            - MYSQL_5_6
            - MYSQL_5_7
            - SQLSERVER_2017_STANDARD
            - SQLSERVER_2017_ENTERPRISE
            - SQLSERVER_2017_EXPRESS
            - SQLSERVER_2017_WEB
            - POSTGRES_9_6
            - POSTGRES_10
            - POSTGRES_11
            - POSTGRES_12
            - POSTGRES_13
            - POSTGRES_14
            - POSTGRES_15
            - MYSQL_8_0
            - MYSQL_8_0_18
            - MYSQL_8_0_26
            - MYSQL_8_0_27
            - MYSQL_8_0_28
            - MYSQL_8_0_29
            - MYSQL_8_0_30
            - MYSQL_8_0_31
            - MYSQL_8_0_32
            - MYSQL_8_0_33
            - MYSQL_8_0_34
            - MYSQL_8_0_35
            - MYSQL_8_0_36
            - SQLSERVER_2019_STANDARD
            - SQLSERVER_2019_ENTERPRISE
            - SQLSERVER_2019_EXPRESS
            - SQLSERVER_2019_WEB
            - SQLSERVER_2022_STANDARD
            - SQLSERVER_2022_ENTERPRISE
            - SQLSERVER_2022_EXPRESS
            - SQLSERVER_2022_WEB
          description: >-
            The database engine type and version. The `databaseVersion` field
            cannot be changed after instance creation. MySQL instances:
            `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL
            instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or
            `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server
            instances: `SQLSERVER_2017_STANDARD` (default),
            `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`,
            `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`,
            `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or
            `SQLSERVER_2019_WEB`.
          enumDescriptions:
            - This is an unknown database version.
            - The database version is MySQL 5.1.
            - The database version is MySQL 5.5.
            - The database version is MySQL 5.6.
            - The database version is MySQL 5.7.
            - The database version is SQL Server 2017 Standard.
            - The database version is SQL Server 2017 Enterprise.
            - The database version is SQL Server 2017 Express.
            - The database version is SQL Server 2017 Web.
            - The database version is PostgreSQL 9.6.
            - The database version is PostgreSQL 10.
            - The database version is PostgreSQL 11.
            - The database version is PostgreSQL 12.
            - The database version is PostgreSQL 13.
            - The database version is PostgreSQL 14.
            - The database version is PostgreSQL 15.
            - The database version is MySQL 8.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              18.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              26.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              27.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              28.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              29.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              30.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              31.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              32.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              33.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              34.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              35.
            - >-
              The database major version is MySQL 8.0 and the minor version is
              36.
            - The database version is SQL Server 2019 Standard.
            - The database version is SQL Server 2019 Enterprise.
            - The database version is SQL Server 2019 Express.
            - The database version is SQL Server 2019 Web.
            - The database version is SQL Server 2022 Standard.
            - The database version is SQL Server 2022 Enterprise.
            - The database version is SQL Server 2022 Express.
            - The database version is SQL Server 2022 Web.
      type: object
    InstancesImportRequest:
      properties:
        importContext:
          description: Contains details about the import operation.
          $ref: '#/components/schemas/ImportContext'
      type: object
      id: InstancesImportRequest
      description: Database instance import request.
    SyncFlags:
      description: >-
        Initial sync flags for certain Cloud SQL APIs. Currently used for the
        MySQL external server initial dump.
      id: SyncFlags
      type: object
      properties:
        value:
          type: string
          description: >-
            The value of the flag. This field must be omitted if the flag
            doesn't take a value.
        name:
          description: The name of the flag.
          type: string
    BackupContext:
      id: BackupContext
      description: Backup context.
      properties:
        kind:
          type: string
          description: This is always `sql#backupContext`.
        backupId:
          format: int64
          type: string
          description: The identifier of the backup.
      type: object
    DemoteMasterContext:
      type: object
      description: Database instance demote primary instance context.
      properties:
        skipReplicationSetup:
          type: boolean
          description: Flag to skip replication setup on the instance.
        replicaConfiguration:
          $ref: '#/components/schemas/DemoteMasterConfiguration'
          description: >-
            Configuration specific to read-replicas replicating from the
            on-premises primary instance.
        masterInstanceName:
          description: >-
            The name of the instance which will act as on-premises primary
            instance in the replication setup.
          type: string
        verifyGtidConsistency:
          description: >-
            Verify the GTID consistency for demote operation. Default value:
            `True`. Setting this flag to `false` enables you to bypass the GTID
            consistency check between on-premises primary instance and Cloud SQL
            instance during the demotion operation but also exposes you to the
            risk of future replication failures. Change the value only if you
            know the reason for the GTID divergence and are confident that doing
            so will not cause any replication issues.
          type: boolean
        kind:
          type: string
          description: This is always `sql#demoteMasterContext`.
      id: DemoteMasterContext
    Operation:
      description: >-
        An Operation resource. For successful operations that return an
        Operation resource, only the fields relevant to the operation are
        populated in the resource.
      type: object
      properties:
        operationType:
          type: string
          description: >-
            The type of the operation. Valid values are: * `CREATE` * `DELETE` *
            `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` *
            `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE`
            * `DELETE_DATABASE`
          enumDescriptions:
            - Unknown operation type.
            - Imports data into a Cloud SQL instance.
            - Exports data from a Cloud SQL instance to a Cloud Storage bucket.
            - Creates a new Cloud SQL instance.
            - Updates the settings of a Cloud SQL instance.
            - Deletes a Cloud SQL instance.
            - Restarts the Cloud SQL instance.
            - ''
            - ''
            - Performs instance backup.
            - Deletes an instance backup.
            - Restores an instance backup.
            - Injects a privileged user in mysql for MOB instances.
            - Clones a Cloud SQL instance.
            - Stops replication on a Cloud SQL read replica instance.
            - Starts replication on a Cloud SQL read replica instance.
            - Promotes a Cloud SQL replica instance.
            - Creates a Cloud SQL replica instance.
            - Creates a new user in a Cloud SQL instance.
            - Deletes a user from a Cloud SQL instance.
            - Updates an existing user in a Cloud SQL instance.
            - Creates a database in the Cloud SQL instance.
            - Deletes a database in the Cloud SQL instance.
            - Updates a database in the Cloud SQL instance.
            - Performs failover of an HA-enabled Cloud SQL failover replica.
            - Deletes the backup taken by a backup run.
            - ''
            - Truncates a general or slow log table in MySQL.
            - >-
              Demotes the stand-alone instance to be a Cloud SQL read replica
              for an external database server.
            - >-
              Indicates that the instance is currently in maintenance.
              Maintenance typically causes the instance to be unavailable for
              1-3 minutes.
            - >-
              This field is deprecated, and will be removed in future version of
              API.
            - ''
            - Creates clone instance.
            - Reschedule maintenance to another time.
            - >-
              Starts external sync of a Cloud SQL EM replica to an external
              primary instance.
            - Recovers logs from an instance's old data disk.
            - >-
              Performs auto-restart of an HA-enabled Cloud SQL database for auto
              recovery.
            - Re-encrypts CMEK instances with latest key version.
            - Switches over to replica instance from primary.
          enum:
            - SQL_OPERATION_TYPE_UNSPECIFIED
            - IMPORT
            - EXPORT
            - CREATE
            - UPDATE
            - DELETE
            - RESTART
            - BACKUP
            - SNAPSHOT
            - BACKUP_VOLUME
            - DELETE_VOLUME
            - RESTORE_VOLUME
            - INJECT_USER
            - CLONE
            - STOP_REPLICA
            - START_REPLICA
            - PROMOTE_REPLICA
            - CREATE_REPLICA
            - CREATE_USER
            - DELETE_USER
            - UPDATE_USER
            - CREATE_DATABASE
            - DELETE_DATABASE
            - UPDATE_DATABASE
            - FAILOVER
            - DELETE_BACKUP
            - RECREATE_REPLICA
            - TRUNCATE_LOG
            - DEMOTE_MASTER
            - MAINTENANCE
            - ENABLE_PRIVATE_IP
            - DEFER_MAINTENANCE
            - CREATE_CLONE
            - RESCHEDULE_MAINTENANCE
            - START_EXTERNAL_SYNC
            - LOG_CLEANUP
            - AUTO_RESTART
            - REENCRYPT
            - SWITCHOVER
        backupContext:
          description: The context for backup operation, if applicable.
          $ref: '#/components/schemas/BackupContext'
        selfLink:
          type: string
          description: The URI of this resource.
        startTime:
          format: google-datetime
          type: string
          description: >-
            The time this operation actually started in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
        name:
          type: string
          description: >-
            An identifier that uniquely identifies the operation. You can use
            this identifier to retrieve the Operations resource that has
            information about the operation.
        targetLink:
          type: string
        kind:
          type: string
          description: This is always `sql#operation`.
        status:
          description: The status of an operation.
          enum:
            - SQL_OPERATION_STATUS_UNSPECIFIED
            - PENDING
            - RUNNING
            - DONE
          type: string
          enumDescriptions:
            - The state of the operation is unknown.
            - The operation has been queued, but has not started yet.
            - The operation is running.
            - The operation completed.
        exportContext:
          description: The context for export operation, if applicable.
          $ref: '#/components/schemas/ExportContext'
        targetId:
          description: Name of the database instance related to this operation.
          type: string
        error:
          description: >-
            If errors occurred during processing of this operation, this field
            will be populated.
          $ref: '#/components/schemas/OperationErrors'
        endTime:
          description: >-
            The time this operation finished in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          type: string
          format: google-datetime
        importContext:
          description: The context for import operation, if applicable.
          $ref: '#/components/schemas/ImportContext'
        user:
          description: The email address of the user who initiated this operation.
          type: string
        insertTime:
          description: >-
            The time this operation was enqueued in UTC timezone in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          format: google-datetime
          type: string
        targetProject:
          type: string
          description: The project ID of the target instance related to this operation.
      id: Operation
    InstancesDemoteMasterRequest:
      id: InstancesDemoteMasterRequest
      properties:
        demoteMasterContext:
          $ref: '#/components/schemas/DemoteMasterContext'
          description: Contains details about the demoteMaster operation.
      description: Database demote primary instance request.
      type: object
    InstancesReencryptRequest:
      id: InstancesReencryptRequest
      description: Database Instance reencrypt request.
      properties:
        backupReencryptionConfig:
          description: Configuration specific to backup re-encryption
          $ref: '#/components/schemas/BackupReencryptionConfig'
      type: object
    BinLogCoordinates:
      id: BinLogCoordinates
      properties:
        binLogFileName:
          description: Name of the binary log file for a Cloud SQL instance.
          type: string
        kind:
          type: string
          description: This is always `sql#binLogCoordinates`.
        binLogPosition:
          type: string
          description: Position (offset) within the binary log file.
          format: int64
      description: Binary log coordinates.
      type: object
    User:
      properties:
        passwordPolicy:
          $ref: '#/components/schemas/UserPasswordValidationPolicy'
          description: User level password validation policy.
        sqlserverUserDetails:
          $ref: '#/components/schemas/SqlServerUserDetails'
        etag:
          type: string
          description: >-
            This field is deprecated and will be removed from a future version
            of the API.
        project:
          type: string
          description: >-
            The project ID of the project containing the Cloud SQL database. The
            Google apps domain is prefixed if applicable. Can be omitted for
            *update* because it is already specified on the URL.
        kind:
          type: string
          description: This is always `sql#user`.
        password:
          description: The password for the user.
          type: string
        host:
          type: string
          description: >-
            Optional. The host from which the user can connect. For `insert`
            operations, host defaults to an empty string. For `update`
            operations, host is specified as part of the request URL. The host
            name cannot be updated after insertion. For a MySQL instance, it's
            required; for a PostgreSQL or SQL Server instance, it's optional.
        name:
          type: string
          description: >-
            The name of the user in the Cloud SQL instance. Can be omitted for
            `update` because it is already specified in the URL.
        instance:
          description: >-
            The name of the Cloud SQL instance. This does not include the
            project ID. Can be omitted for *update* because it is already
            specified on the URL.
          type: string
        dualPasswordType:
          enumDescriptions:
            - The default value.
            - Do not update the user's dual password status.
            - No dual password usable for connecting using this user.
            - Dual password usable for connecting using this user.
          enum:
            - DUAL_PASSWORD_TYPE_UNSPECIFIED
            - NO_MODIFY_DUAL_PASSWORD
            - NO_DUAL_PASSWORD
            - DUAL_PASSWORD
          description: Dual password status for the user.
          type: string
        type:
          type: string
          description: >-
            The user type. It determines the method to authenticate the user
            during login. The default is the database's built-in user type.
          enumDescriptions:
            - The database's built-in user type.
            - Cloud IAM user.
            - Cloud IAM service account.
          enum:
            - BUILT_IN
            - CLOUD_IAM_USER
            - CLOUD_IAM_SERVICE_ACCOUNT
      description: A Cloud SQL user resource.
      type: object
      id: User
    LocationPreference:
      properties:
        zone:
          description: >-
            The preferred Compute Engine zone (for example: us-central1-a,
            us-central1-b, etc.). WARNING: Changing this might restart the
            instance.
          type: string
        followGaeApplication:
          description: >-
            The App Engine application to follow, it must be in the same region
            as the Cloud SQL instance. WARNING: Changing this might restart the
            instance.
          type: string
        kind:
          type: string
          description: This is always `sql#locationPreference`.
        secondaryZone:
          type: string
          description: >-
            The preferred Compute Engine zone for the secondary/failover (for
            example: us-central1-a, us-central1-b, etc.).
      id: LocationPreference
      type: object
      description: >-
        Preferred location. This specifies where a Cloud SQL instance is
        located. Note that if the preferred location is not available, the
        instance will be located as close as possible within the region. Only
        one location may be specified.
    ReplicaConfiguration:
      type: object
      description: Read-replica configuration for connecting to the primary instance.
      properties:
        failoverTarget:
          description: >-
            Specifies if the replica is the failover target. If the field is set
            to `true` the replica will be designated as a failover replica. In
            case the primary instance fails, the replica instance will be
            promoted as the new primary instance. Only one replica can be
            specified as failover target, and the replica has to be in different
            zone with the primary instance.
          type: boolean
        kind:
          description: This is always `sql#replicaConfiguration`.
          type: string
        mysqlReplicaConfiguration:
          $ref: '#/components/schemas/MySqlReplicaConfiguration'
          description: >-
            MySQL specific configuration when replicating from a MySQL
            on-premises primary instance. Replication configuration information
            such as the username, password, certificates, and keys are not
            stored in the instance metadata. The configuration information is
            used only to set up the replication connection and is stored by
            MySQL in a file named `master.info` in the data directory.
      id: ReplicaConfiguration
    SqlInstancesVerifyExternalSyncSettingsResponse:
      description: Instance verify external sync settings response.
      type: object
      properties:
        kind:
          type: string
          description: This is always `sql#migrationSettingErrorList`.
        warnings:
          description: List of migration warnings.
          type: array
          items:
            $ref: '#/components/schemas/SqlExternalSyncSettingError'
        errors:
          description: List of migration violations.
          items:
            $ref: '#/components/schemas/SqlExternalSyncSettingError'
          type: array
      id: SqlInstancesVerifyExternalSyncSettingsResponse
    OperationErrors:
      properties:
        kind:
          description: This is always `sql#operationErrors`.
          type: string
        errors:
          items:
            $ref: '#/components/schemas/OperationError'
          description: The list of errors encountered while processing this operation.
          type: array
      type: object
      id: OperationErrors
      description: Database instance operation errors list wrapper.
    SqlInstancesResetReplicaSizeRequest:
      description: Instance reset replica size request.
      properties: {}
      type: object
      id: SqlInstancesResetReplicaSizeRequest
    BackupReencryptionConfig:
      type: object
      properties:
        backupType:
          type: string
          description: Type of backups users want to re-encrypt.
          enumDescriptions:
            - Unknown backup type, will be defaulted to AUTOMATIC backup type
            - Reencrypt automatic backups
            - Reencrypt on-demand backups
          enum:
            - BACKUP_TYPE_UNSPECIFIED
            - AUTOMATED
            - ON_DEMAND
        backupLimit:
          description: Backup re-encryption limit
          format: int32
          type: integer
      description: Backup Reencryption Config
      id: BackupReencryptionConfig
    SslCert:
      type: object
      id: SslCert
      description: SslCerts Resource
      properties:
        commonName:
          description: User supplied name. Constrained to [a-zA-Z.-_ ]+.
          type: string
        instance:
          description: Name of the database instance.
          type: string
        createTime:
          description: >-
            The time when the certificate was created in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          format: google-datetime
          type: string
        selfLink:
          type: string
          description: The URI of this resource.
        cert:
          description: PEM representation.
          type: string
        sha1Fingerprint:
          description: Sha1 Fingerprint.
          type: string
        certSerialNumber:
          description: Serial number, as extracted from the certificate.
          type: string
        expirationTime:
          format: google-datetime
          description: >-
            The time when the certificate expires in [RFC
            3339](https://tools.ietf.org/html/rfc3339) format, for example
            `2012-11-15T16:19:00.094Z`.
          type: string
        kind:
          type: string
          description: This is always `sql#sslCert`.
    SqlInstancesVerifyExternalSyncSettingsRequest:
      id: SqlInstancesVerifyExternalSyncSettingsRequest
      properties:
        mysqlSyncConfig:
          description: Optional. MySQL-specific settings for start external sync.
          $ref: '#/components/schemas/MySqlSyncConfig'
        syncMode:
          enum:
            - EXTERNAL_SYNC_MODE_UNSPECIFIED
            - ONLINE
            - OFFLINE
          type: string
          enumDescriptions:
            - Unknown external sync mode, will be defaulted to ONLINE mode
            - >-
              Online external sync will set up replication after initial data
              external sync
            - >-
              Offline external sync only dumps and loads a one-time snapshot of
              the primary instance's data
          description: External sync mode
        verifyReplicationOnly:
          description: Optional. Flag to verify settings required by replication setup only
          type: boolean
        verifyConnectionOnly:
          type: boolean
          description: Flag to enable verifying connection only
      type: object
    RestoreBackupContext:
      properties:
        kind:
          description: This is always `sql#restoreBackupContext`.
          type: string
        project:
          description: The full project ID of the source instance.
          type: string
        instanceId:
          type: string
          description: The ID of the instance that the backup was taken from.
        backupRunId:
          description: The ID of the backup run to restore from.
          type: string
          format: int64
      type: object
      description: >-
        Database instance restore from backup context. Backup context contains
        source instance id and project id.
      id: RestoreBackupContext
    InstancesListServerCasResponse:
      description: Instances ListServerCas response.
      properties:
        kind:
          type: string
          description: This is always `sql#instancesListServerCas`.
        activeVersion:
          type: string
        certs:
          items:
            $ref: '#/components/schemas/SslCert'
          type: array
          description: List of server CA certificates for the instance.
      type: object
      id: InstancesListServerCasResponse
    SqlExternalSyncSettingError:
      type: object
      id: SqlExternalSyncSettingError
      description: External primary instance migration setting error/warning.
      properties:
        detail:
          type: string
          description: Additional information about the error encountered.
        type:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - The replication user is missing privileges that are required.
            - Unsupported migration type.
            - >-
              No pglogical extension installed on databases, applicable for
              postgres.
            - >-
              pglogical node already exists on databases, applicable for
              postgres.
            - The value of parameter wal_level is not set to logical.
            - >-
              The value of parameter shared_preload_libraries does not include
              pglogical.
            - The value of parameter max_replication_slots is not sufficient.
            - The value of parameter max_wal_senders is not sufficient.
            - The value of parameter max_worker_processes is not sufficient.
            - >-
              Extensions installed are either not supported or having
              unsupported versions
            - The value of parameter rds.logical_replication is not set to 1.
            - The primary instance logging setup doesn't allow EM sync.
            - >-
              The primary instance database parameter setup doesn't allow EM
              sync.
            - The gtid_mode is not supported, applicable for MySQL.
            - SQL Server Agent is not running.
            - >-
              The table definition is not support due to missing primary key or
              replica identity, applicable for postgres.
            - The customer has a definer that will break EM setup.
            - SQL Server @@SERVERNAME does not match actual host name.
            - The primary instance has been setup and will fail the setup.
            - The primary instance has unsupported binary log format.
            - The primary instance's binary log retention setting.
            - The primary instance has tables with unsupported storage engine.
            - >-
              Source has tables with limited support eg: PostgreSQL tables
              without primary keys.
            - The replica instance contains existing data.
            - The replication user is missing privileges that are optional.
            - >-
              Additional BACKUP_ADMIN privilege is granted to the replication
              user which may lock source MySQL 8 instance for DDLs during
              initial sync.
            - The Cloud Storage bucket is missing necessary permissions.
            - >-
              The Cloud Storage bucket has an error in the file or contains
              invalid file information.
            - >-
              The source instance has unsupported database settings for
              migration.
          type: string
          enum:
            - SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED
            - CONNECTION_FAILURE
            - BINLOG_NOT_ENABLED
            - INCOMPATIBLE_DATABASE_VERSION
            - REPLICA_ALREADY_SETUP
            - INSUFFICIENT_PRIVILEGE
            - UNSUPPORTED_MIGRATION_TYPE
            - NO_PGLOGICAL_INSTALLED
            - PGLOGICAL_NODE_ALREADY_EXISTS
            - INVALID_WAL_LEVEL
            - INVALID_SHARED_PRELOAD_LIBRARY
            - INSUFFICIENT_MAX_REPLICATION_SLOTS
            - INSUFFICIENT_MAX_WAL_SENDERS
            - INSUFFICIENT_MAX_WORKER_PROCESSES
            - UNSUPPORTED_EXTENSIONS
            - INVALID_RDS_LOGICAL_REPLICATION
            - INVALID_LOGGING_SETUP
            - INVALID_DB_PARAM
            - UNSUPPORTED_GTID_MODE
            - SQLSERVER_AGENT_NOT_RUNNING
            - UNSUPPORTED_TABLE_DEFINITION
            - UNSUPPORTED_DEFINER
            - SQLSERVER_SERVERNAME_MISMATCH
            - PRIMARY_ALREADY_SETUP
            - UNSUPPORTED_BINLOG_FORMAT
            - BINLOG_RETENTION_SETTING
            - UNSUPPORTED_STORAGE_ENGINE
            - LIMITED_SUPPORT_TABLES
            - EXISTING_DATA_IN_REPLICA
            - MISSING_OPTIONAL_PRIVILEGES
            - RISKY_BACKUP_ADMIN_PRIVILEGE
            - INSUFFICIENT_GCS_PERMISSIONS
            - INVALID_FILE_INFO
            - UNSUPPORTED_DATABASE_SETTINGS
          description: Identifies the specific error that occurred.
        kind:
          type: string
          description: >-
            Can be `sql#externalSyncSettingError` or
            `sql#externalSyncSettingWarning`.
    GenerateEphemeralCertRequest:
      description: Ephemeral certificate creation request.
      type: object
      id: GenerateEphemeralCertRequest
      properties:
        access_token:
          type: string
          description: Optional. Access token to include in the signed certificate.
        public_key:
          description: PEM encoded public key to include in the signed certificate.
          type: string
        readTime:
          type: string
          description: >-
            Optional. Optional snapshot read timestamp to trade freshness for
            performance.
          format: google-datetime
        validDuration:
          format: google-duration
          description: Optional. If set, it will contain the cert valid duration.
          type: string
    DemoteMasterConfiguration:
      id: DemoteMasterConfiguration
      type: object
      properties:
        mysqlReplicaConfiguration:
          $ref: '#/components/schemas/DemoteMasterMySqlReplicaConfiguration'
          description: >-
            MySQL specific configuration when replicating from a MySQL
            on-premises primary instance. Replication configuration information
            such as the username, password, certificates, and keys are not
            stored in the instance metadata. The configuration information is
            used only to set up the replication connection and is stored by
            MySQL in a file named `master.info` in the data directory.
        kind:
          description: This is always `sql#demoteMasterConfiguration`.
          type: string
      description: >-
        Read-replica configuration for connecting to the on-premises primary
        instance.
    BackupConfiguration:
      type: object
      description: Database instance backup configuration.
      properties:
        startTime:
          type: string
          description: >-
            Start time for the daily backup configuration in UTC timezone in the
            24 hour format - `HH:MM`.
        replicationLogArchivingEnabled:
          description: Reserved for future use.
          type: boolean
        pointInTimeRecoveryEnabled:
          description: Whether point in time recovery is enabled.
          type: boolean
        binaryLogEnabled:
          description: >-
            (MySQL only) Whether binary log is enabled. If backup configuration
            is disabled, binarylog must be disabled as well.
          type: boolean
        location:
          description: Location of the backup
          type: string
        backupRetentionSettings:
          description: Backup retention settings.
          $ref: '#/components/schemas/BackupRetentionSettings'
        transactionLogRetentionDays:
          format: int32
          type: integer
          description: >-
            The number of days of transaction logs we retain for point in time
            restore, from 1-7.
        kind:
          description: This is always `sql#backupConfiguration`.
          type: string
        enabled:
          description: Whether this configuration is enabled.
          type: boolean
      id: BackupConfiguration
    SqlInstancesGetDiskShrinkConfigResponse:
      properties:
        message:
          description: Additional message to customers.
          type: string
        kind:
          description: This is always `sql#getDiskShrinkConfig`.
          type: string
        minimalTargetSizeGb:
          type: string
          description: The minimum size to which a disk can be shrunk in GigaBytes.
          format: int64
      type: object
      id: SqlInstancesGetDiskShrinkConfigResponse
      description: Instance get disk shrink config response.
    UsersListResponse:
      type: object
      id: UsersListResponse
      description: User list response.
      properties:
        kind:
          description: This is always *sql#usersList*.
          type: string
        items:
          items:
            $ref: '#/components/schemas/User'
          description: List of user resources in the instance.
          type: array
        nextPageToken:
          description: Unused.
          type: string
    SslCertsListResponse:
      id: SslCertsListResponse
      description: SslCerts list response.
      type: object
      properties:
        kind:
          description: This is always `sql#sslCertsList`.
          type: string
        items:
          items:
            $ref: '#/components/schemas/SslCert'
          description: List of client certificates for the instance.
          type: array
    SqlServerUserDetails:
      description: Represents a Sql Server user on the Cloud SQL instance.
      properties:
        serverRoles:
          items:
            type: string
          description: The server roles for this user
          type: array
        disabled:
          description: If the user has been disabled
          type: boolean
      id: SqlServerUserDetails
      type: object
    OperationError:
      type: object
      description: Database instance operation error.
      properties:
        message:
          description: Additional information about the error encountered.
          type: string
        kind:
          type: string
          description: This is always `sql#operationError`.
        code:
          type: string
          description: Identifies the specific error that occurred.
      id: OperationError
    UserPasswordValidationPolicy:
      type: object
      properties:
        status:
          description: Output only. Read-only password status.
          readOnly: true
          $ref: '#/components/schemas/PasswordStatus'
        enablePasswordVerification:
          description: >-
            If true, the user must specify the current password before changing
            the password. This flag is supported only for MySQL.
          type: boolean
        enableFailedAttemptsCheck:
          type: boolean
          description: If true, failed login attempts check will be enabled.
        passwordExpirationDuration:
          description: Expiration duration after password is updated.
          type: string
          format: google-duration
        allowedFailedAttempts:
          type: integer
          description: Number of failed login attempts allowed before user get locked.
          format: int32
      description: User level password validation policy.
      id: UserPasswordValidationPolicy
    InstancesTruncateLogRequest:
      description: Instance truncate log request.
      type: object
      id: InstancesTruncateLogRequest
      properties:
        truncateLogContext:
          description: Contains details about the truncate log operation.
          $ref: '#/components/schemas/TruncateLogContext'
    Flag:
      type: object
      properties:
        maxValue:
          description: For `INTEGER` flags, the maximum allowed value.
          type: string
          format: int64
        name:
          description: >-
            This is the name of the flag. Flag names always use underscores, not
            hyphens, for example: `max_allowed_packet`
          type: string
        requiresRestart:
          type: boolean
          description: >-
            Indicates whether changing this flag will trigger a database
            restart. Only applicable to Second Generation instances.
        type:
          type: string
          enum:
            - SQL_FLAG_TYPE_UNSPECIFIED
            - BOOLEAN
            - STRING
            - INTEGER
            - NONE
            - MYSQL_TIMEZONE_OFFSET
            - FLOAT
            - REPEATED_STRING
          description: >-
            The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`,
            `INTEGER` or `NONE`. `NONE` is used for flags which do not take a
            value, such as `skip_grant_tables`.
          enumDescriptions:
            - This is an unknown flag type.
            - Boolean type flag.
            - String type flag.
            - Integer type flag.
            - Flag type used for a server startup option.
            - >-
              Type introduced specially for MySQL TimeZone offset. Accept a
              string value with the format [-12:59, 13:00].
            - Float type flag.
            - Comma-separated list of the strings in a SqlFlagType enum.
        allowedStringValues:
          items:
            type: string
          type: array
          description: For `STRING` flags, a list of strings that the value can be set to.
        allowedIntValues:
          type: array
          items:
            type: string
            format: int64
          description: >-
            Use this field if only certain integers are accepted. Can be
            combined with min_value and max_value to add additional values.
        appliesTo:
          description: >-
            The database version this flag applies to. Can be MySQL instances:
            `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or
            `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`,
            `POSTGRES_11` or `POSTGRES_12`. SQL Server instances:
            `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`,
            `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`,
            `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`,
            `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete
            list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).
          items:
            enum:
              - SQL_DATABASE_VERSION_UNSPECIFIED
              - MYSQL_5_1
              - MYSQL_5_5
              - MYSQL_5_6
              - MYSQL_5_7
              - SQLSERVER_2017_STANDARD
              - SQLSERVER_2017_ENTERPRISE
              - SQLSERVER_2017_EXPRESS
              - SQLSERVER_2017_WEB
              - POSTGRES_9_6
              - POSTGRES_10
              - POSTGRES_11
              - POSTGRES_12
              - POSTGRES_13
              - POSTGRES_14
              - POSTGRES_15
              - MYSQL_8_0
              - MYSQL_8_0_18
              - MYSQL_8_0_26
              - MYSQL_8_0_27
              - MYSQL_8_0_28
[...]
