openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Drive Labels API
  description: An API for managing Drive Labels
  version: v2beta
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/drive/labels
servers:
  - url: https://drivelabels.googleapis.com
components:
  schemas:
    GoogleAppsDriveLabelsV2betaUserInfo:
      properties:
        person:
          description: >-
            The identifier for this user that can be used with the People API to
            get more information. For example, people/12345678.
          type: string
      type: object
      description: Information about a user.
      id: GoogleAppsDriveLabelsV2betaUserInfo
    GoogleAppsDriveLabelsV2betaLabelLimits:
      properties:
        maxDescriptionLength:
          type: integer
          description: The maximum number of characters allowed for the description.
          format: int32
        maxFields:
          format: int32
          description: The maximum number of Fields allowed within the label.
          type: integer
        maxTitleLength:
          format: int32
          type: integer
          description: The maximum number of characters allowed for the title.
        maxDraftRevisions:
          type: integer
          format: int32
          description: >-
            The maximum number of draft revisions that will be kept before
            deleting old drafts.
        fieldLimits:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldLimits'
          description: The limits for Fields.
        maxDeletedFields:
          description: The maximum number of published Fields that can be deleted.
          type: integer
          format: int32
        name:
          type: string
          description: Resource name.
      type: object
      id: GoogleAppsDriveLabelsV2betaLabelLimits
      description: >-
        Label constraints governing the structure of a Label; such as, the
        maximum number of Fields allowed and maximum length of the label title.
    GoogleAppsDriveLabelsV2betaLabelLock:
      description: A Lock that can be applied to a Label, Field, or Choice.
      type: object
      id: GoogleAppsDriveLabelsV2betaLabelLock
      properties:
        createTime:
          format: google-datetime
          description: Output only. The time this LabelLock was created.
          type: string
          readOnly: true
        choiceId:
          type: string
          description: >-
            The ID of the Selection Field Choice that should be locked. If
            present, `field_id` must also be present.
        state:
          enumDescriptions:
            - Unknown state.
            - The LabelLock is active and is being enforced by the server.
            - >-
              The LabelLock is being deleted. The LabelLock will continue to be
              enforced by the server until it has been fully removed.
          type: string
          description: Output only. This LabelLock's state.
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - DELETING
          readOnly: true
        fieldId:
          type: string
          description: >-
            The ID of the Field that should be locked. Empty if the whole Label
            should be locked.
        deleteTime:
          readOnly: true
          description: >-
            Output only. A timestamp indicating when this LabelLock was
            scheduled for deletion. This will be present only if this LabelLock
            is in the DELETING state.
          type: string
          format: google-datetime
        capabilities:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaLabelLockCapabilities
          description: Output only. The user's capabilities on this LabelLock.
          readOnly: true
        name:
          type: string
          description: Output only. Resource name of this LabelLock.
          readOnly: true
        creator:
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
          description: >-
            Output only. The user whose credentials were used to create the
            LabelLock. This will not be present if no user was responsible for
            creating the LabelLock.
    GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse:
      type: object
      id: GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse
      description: Response for updating one or more Label Permissions.
      properties:
        permissions:
          description: Required. Permissions updated.
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
          type: array
    GoogleAppsDriveLabelsV2betaFieldListOptions:
      properties:
        maxEntries:
          type: integer
          format: int32
          description: Maximum number of entries permitted.
      id: GoogleAppsDriveLabelsV2betaFieldListOptions
      type: object
      description: Options for a multi-valued variant of an associated field type.
    GoogleAppsDriveLabelsV2betaFieldSelectionOptions:
      description: Options for the selection field type.
      id: GoogleAppsDriveLabelsV2betaFieldSelectionOptions
      properties:
        choices:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice
          description: >-
            The options available for this selection field. The list order is
            consistent, and modified with `insert_before_choice`.
        listOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldListOptions'
          description: >-
            When specified, indicates this field supports a list of values. Once
            the field is published, this cannot be changed.
      type: object
    GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest:
      type: object
      properties:
        useAdminAccess:
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
          type: boolean
        name:
          description: Required. Label Permission resource name.
          type: string
      id: GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest
      description: >-
        Deletes a Label Permission. Permissions affect the Label resource as a
        whole, are not revisioned, and do not require publishing.
    GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy:
      type: object
      id: GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy
      properties:
        copyMode:
          enumDescriptions:
            - Copy mode unspecified.
            - >-
              The applied label and field values are not copied by default when
              the Drive item it's applied to is copied.
            - >-
              The applied label and field values are always copied when the
              Drive item it's applied to is copied. Only admins can use this
              mode.
            - >-
              The applied label and field values are copied if the label is
              appliable by the user making the copy.
          type: string
          enum:
            - COPY_MODE_UNSPECIFIED
            - DO_NOT_COPY
            - ALWAYS_COPY
            - COPY_APPLIABLE
          description: >-
            Indicates how the applied label and field values should be copied
            when a Drive item is copied.
      description: Behavior of this label when it's applied to Drive items.
    GoogleAppsDriveLabelsV2betaFieldTextOptions:
      id: GoogleAppsDriveLabelsV2betaFieldTextOptions
      type: object
      description: Options for the Text field type.
      properties:
        maxLength:
          readOnly: true
          format: int32
          description: Output only. The maximum valid length of values for the text field.
          type: integer
        minLength:
          readOnly: true
          description: Output only. The minimum valid length of values for the text field.
          format: int32
          type: integer
    GoogleAppsDriveLabelsV2betaLongTextLimits:
      description: Limits for long text Field type.
      id: GoogleAppsDriveLabelsV2betaLongTextLimits
      properties:
        maxLength:
          type: integer
          format: int32
          description: Maximum length allowed for a long text Field type.
        minLength:
          type: integer
          format: int32
          description: Minimum length allowed for a long text Field type.
      type: object
    GoogleAppsDriveLabelsV2betaFieldLimits:
      id: GoogleAppsDriveLabelsV2betaFieldLimits
      type: object
      properties:
        maxDescriptionLength:
          type: integer
          description: Limits for Field description, also called help text.
          format: int32
        integerLimits:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaIntegerLimits'
          description: Integer Field limits.
        textLimits:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaTextLimits'
          description: The relevant limits for the specified Field.Type. Text Field limits.
        userLimits:
          description: User Field limits.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserLimits'
        longTextLimits:
          description: Long text Field limits.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLongTextLimits'
        maxIdLength:
          type: integer
          format: int32
          description: Max length for the id.
        maxDisplayNameLength:
          format: int32
          description: Limits for Field title.
          type: integer
        dateLimits:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaDateLimits'
          description: Date Field limits.
        selectionLimits:
          description: Selection Field limits.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaSelectionLimits'
      description: >-
        Field constants governing the structure of a Field; such as, the maximum
        title length, minimum and maximum field values or length, etc.
    GoogleAppsDriveLabelsV2betaLifecycle:
      properties:
        disabledPolicy:
          description: >-
            The policy that governs how to show a disabled label, field, or
            selection choice.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy
        hasUnpublishedChanges:
          description: >-
            Output only. Whether the object associated with this lifecycle has
            unpublished changes.
          type: boolean
          readOnly: true
        state:
          enumDescriptions:
            - Unknown State.
            - >-
              The initial state of an object. Once published, the object can
              never return to this state. Once an object is published, certain
              kinds of changes are no longer permitted.
            - >-
              The object has been published. The object might have unpublished
              draft changes as indicated by `has_unpublished_changes`.
            - >-
              The object has been published and has since been disabled. The
              object might have unpublished draft changes as indicated by
              `has_unpublished_changes`.
            - The object has been deleted.
          description: Output only. The state of the object associated with this lifecycle.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - UNPUBLISHED_DRAFT
            - PUBLISHED
            - DISABLED
            - DELETED
          readOnly: true
      description: >-
        The lifecycle state of an object, such as label, field, or choice. The
        lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT`
        (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` *
        `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` *
        `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and
        disabled states have some distinct characteristics: * Published—Some
        kinds of changes might be made to an object in this state, in which case
        `has_unpublished_changes` will be true. Also, some kinds of changes are
        not permitted. Generally, any change that would invalidate or cause new
        restrictions on existing metadata related to the label are rejected. *
        Disabled—When disabled, the configured `DisabledPolicy` takes effect.
      id: GoogleAppsDriveLabelsV2betaLifecycle
      type: object
    GoogleAppsDriveLabelsV2betaListLabelsResponse:
      type: object
      id: GoogleAppsDriveLabelsV2betaListLabelsResponse
      properties:
        labels:
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabel'
          type: array
          description: Labels.
        nextPageToken:
          description: The token of the next page in the response.
          type: string
      description: Response for listing Labels.
    GoogleAppsDriveLabelsV2betaUserLimits:
      id: GoogleAppsDriveLabelsV2betaUserLimits
      properties:
        listLimits:
          description: Limits for list-variant of a Field type.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaListLimits'
      type: object
      description: Limits for Field.Type.USER.
    GoogleAppsDriveLabelsV2betaLockStatus:
      type: object
      description: >-
        Contains information about whether a label component should be
        considered locked.
      properties:
        locked:
          readOnly: true
          description: >-
            Output only. Indicates whether this label component is the (direct)
            target of a LabelLock. A label component can be implicitly locked
            even if it's not the direct target of a LabelLock, in which case
            this field is set to false.
          type: boolean
      id: GoogleAppsDriveLabelsV2betaLockStatus
    GoogleAppsDriveLabelsV2betaEnableLabelRequest:
      id: GoogleAppsDriveLabelsV2betaEnableLabelRequest
      properties:
        languageCode:
          description: >-
            The BCP-47 language code to use for evaluating localized field
            labels. When not specified, values in the default configured
            language will be used.
          type: string
        writeControl:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaWriteControl'
          description: >-
            Provides control over how write requests are executed. Defaults to
            unset, which means last write wins.
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
      description: Request to enable a label.
      type: object
    GoogleAppsDriveLabelsV2betaFieldDisplayHints:
      properties:
        required:
          description: Whether the field should be shown as required in the UI.
          type: boolean
        disabled:
          description: Whether the field should be shown in the UI as disabled.
          type: boolean
        hiddenInSearch:
          type: boolean
          description: >-
            This field should be hidden in the search menu when searching for
            Drive items.
        shownInApply:
          type: boolean
          description: >-
            This field should be shown in the apply menu when applying values to
            a Drive item.
      description: UI display hints for rendering a field.
      type: object
      id: GoogleAppsDriveLabelsV2betaFieldDisplayHints
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse:
      type: object
      description: A single response from an update.
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse
      properties:
        updateFieldType:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse
          description: Update Field type and/or type options.
        createField:
          description: Creates a new Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse
        deleteSelectionChoice:
          description: Deletes a Choice from a Selection Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse
        updateField:
          description: Updates basic properties of a Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse
        enableSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse
          description: Enables a Choice within a Selection Field.
        deleteField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse
          description: Deletes a Field from the label.
        createSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse
          description: Creates a new selection list option to add to a Selection Field.
        updateSelectionChoiceProperties:
          description: Updates a Choice within a Selection Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse
        enableField:
          description: Enables Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse
        disableSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse
          description: Disables a Choice within a Selection Field.
        updateLabel:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse
          description: Updated basic properties of a Label.
        disableField:
          description: Disables Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse
    GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest:
      properties:
        requests:
          type: array
          description: Required. The request message specifying the resources to update.
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access. If this is set, the use_admin_access field in the
            DeleteLabelPermissionRequest messages must either be empty or match
            this field.
      type: object
      description: Deletes one of more Label Permissions.
      id: GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest:
      description: Request to create a Field within a Label.
      type: object
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest
      properties:
        field:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaField'
          description: Required. Field to create.
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse:
      properties:
        priority:
          format: int32
          description: >-
            The priority of the updated field. The priority may change from what
            was specified to assure contiguous priorities between fields (1-n).
          type: integer
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse
      description: Response following update to Field properties.
      type: object
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse:
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse
      type: object
      description: Response following Field delete.
      properties: {}
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest:
      type: object
      properties:
        deleteSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest
          description: Delete a Choice within a Selection Field.
        createSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest
          description: Creates Choice within a Selection field.
        disableField:
          description: Disables the Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest
        createField:
          description: Creates a new Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest
        enableField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest
          description: Enables the Field.
        updateFieldType:
          description: Update Field type and/or type options.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest
        updateSelectionChoiceProperties:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest
          description: Update a Choice properties within a Selection Field.
        enableSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest
          description: Enable a Choice within a Selection Field.
        disableSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest
          description: Disable a Choice within a Selection Field.
        updateField:
          description: Updates basic properties of a Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest
        deleteField:
          description: Deletes a Field from the label.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest
        updateLabel:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest
          description: Updates the Label properties.
      description: A single kind of update to apply to a Label.
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest
    GoogleAppsDriveLabelsV2betaListLimits:
      id: GoogleAppsDriveLabelsV2betaListLimits
      description: Limits for list-variant of a Field type.
      type: object
      properties:
        maxEntries:
          format: int32
          type: integer
          description: Maximum number of values allowed for the Field type.
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse:
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse
      properties: {}
      type: object
      description: Response following update to Field type.
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest:
      type: object
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest
      description: Request to enable the Field.
      properties:
        id:
          type: string
          description: Required. ID of the Field to enable.
    GoogleAppsDriveLabelsV2betaBadgeColors:
      id: GoogleAppsDriveLabelsV2betaBadgeColors
      description: >-
        The color derived from BadgeConfig and changed to the closest
        recommended supported color.
      type: object
      properties:
        backgroundColor:
          readOnly: true
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Output only. Badge background that pairs with the foreground.
        soloColor:
          readOnly: true
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Output only. Color that can be used for text without a background.
        foregroundColor:
          readOnly: true
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Output only. Badge foreground that pairs with the background.
    GoogleAppsDriveLabelsV2betaLabel:
      type: object
      description: >-
        A label defines a taxonomy that can be applied to Drive items in order
        to organize and search across items. Labels can be simple strings, or
        can contain fields that describe additional metadata that can be further
        used to organize and search Drive items.
      properties:
        revisionId:
          type: string
          readOnly: true
          description: >-
            Output only. Revision ID of the label. Revision ID might be part of
            the label `name` depending on the request issued. A new revision is
            created whenever revisioned properties of a label are changed.
            Matches the regex: `([a-zA-Z0-9])+`
        customer:
          type: string
          readOnly: true
          description: >-
            Output only. The customer this label belongs to. For example:
            "customers/123abc789."
        labelType:
          description: Required. The type of label.
          type: string
          enum:
            - LABEL_TYPE_UNSPECIFIED
            - SHARED
            - ADMIN
            - GOOGLE_APP
          enumDescriptions:
            - Unknown label type.
            - Shared labels may be shared with users to apply to Drive items.
            - >-
              Admin-owned label. Only creatable and editable by admins. Supports
              some additional admin-only features.
            - >-
              A label owned by an internal Google application rather than a
              customer. These labels are read-only.
        fields:
          description: List of fields in descending priority order.
          type: array
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaField'
        properties:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelProperties'
          description: Required. The basic properties of the label.
        revisionCreator:
          readOnly: true
          description: Output only. The user who created this label revision.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
        lockStatus:
          description: Output only. The LockStatus of this label.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLockStatus'
          readOnly: true
        publishTime:
          description: >-
            Output only. The time this label was published. This value has no
            meaning when the label is not published.
          format: google-datetime
          type: string
          readOnly: true
        id:
          readOnly: true
          description: >-
            Output only. Globally unique identifier of this label. ID makes up
            part of the label `name`, but unlike `name`, ID is consistent
            between revisions. Matches the regex: `([a-zA-Z0-9])+`
          type: string
        name:
          readOnly: true
          description: >-
            Output only. Resource name of the label. Will be in the form of
            either: `labels/{id}` or `labels/{id}@{revision_id}` depending on
            the request. See `id` and `revision_id` below.
          type: string
        appliedCapabilities:
          description: >-
            Output only. The capabilities related to this label on applied
            metadata.
          readOnly: true
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities
        displayHints:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelDisplayHints'
          readOnly: true
          description: Output only. UI display hints for rendering the label.
        disabler:
          readOnly: true
          description: >-
            Output only. The user who disabled this label. This value has no
            meaning when the label is not disabled.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
        creator:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
          readOnly: true
          description: Output only. The user who created this label.
        revisionCreateTime:
          description: Output only. The time this label revision was created.
          format: google-datetime
          type: string
          readOnly: true
        publisher:
          description: >-
            Output only. The user who published this label. This value has no
            meaning when the label is not published.
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
        lifecycle:
          readOnly: true
          description: >-
            Output only. The lifecycle state of the label including whether it's
            published, deprecated, and has draft changes.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLifecycle'
        schemaCapabilities:
          readOnly: true
          description: Output only. The capabilities the user has on this label.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities
        appliedLabelPolicy:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy
          description: >-
            Output only. Behavior of this label when it's applied to Drive
            items.
          readOnly: true
        learnMoreUri:
          description: >-
            Custom URL to present to users to allow them to learn more about
            this label and how it should be used.
          type: string
        createTime:
          format: google-datetime
          type: string
          readOnly: true
          description: Output only. The time this label was created.
        disableTime:
          type: string
          description: >-
            Output only. The time this label was disabled. This value has no
            meaning when the label is not disabled.
          format: google-datetime
          readOnly: true
      id: GoogleAppsDriveLabelsV2betaLabel
    GoogleTypeColor:
      properties:
        green:
          description: The amount of green in the color as a value in the interval [0, 1].
          format: float
          type: number
        blue:
          type: number
          format: float
          description: The amount of blue in the color as a value in the interval [0, 1].
        red:
          description: The amount of red in the color as a value in the interval [0, 1].
          format: float
          type: number
        alpha:
          format: float
          type: number
          description: >-
            The fraction of this color that should be applied to the pixel. That
            is, the final pixel color is defined by the equation: `pixel color =
            alpha * (this color) + (1.0 - alpha) * (background color)` This
            means that a value of 1.0 corresponds to a solid color, whereas a
            value of 0.0 corresponds to a completely transparent color. This
            uses a wrapper message rather than a simple float scalar so that it
            is possible to distinguish between a default value and the value
            being unset. If omitted, this color object is rendered as a solid
            color (as if the alpha value had been explicitly given a value of
            1.0).
      description: >-
        Represents a color in the RGBA color space. This representation is
        designed for simplicity of conversion to and from color representations
        in various languages over compactness. For example, the fields of this
        representation can be trivially provided to the constructor of
        `java.awt.Color` in Java; it can also be trivially provided to UIColor's
        `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little
        work, it can be easily formatted into a CSS `rgba()` string in
        JavaScript. This reference page doesn't have information about the
        absolute color space that should be used to interpret the RGB value—for
        example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications
        should assume the sRGB color space. When color equality needs to be
        decided, implementations, unless documented otherwise, treat two colors
        as equal if all their red, green, blue, and alpha values each differ by
        at most `1e-5`. Example (Java): import com.google.type.Color; // ...
        public static java.awt.Color fromProto(Color protocolor) { float alpha =
        protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return
        new java.awt.Color( protocolor.getRed(), protocolor.getGreen(),
        protocolor.getBlue(), alpha); } public static Color
        toProto(java.awt.Color color) { float red = (float) color.getRed();
        float green = (float) color.getGreen(); float blue = (float)
        color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder
        = Color .newBuilder() .setRed(red / denominator) .setGreen(green /
        denominator) .setBlue(blue / denominator); int alpha = color.getAlpha();
        if (alpha != 255) { result.setAlpha( FloatValue .newBuilder()
        .setValue(((float) alpha) / denominator) .build()); } return
        resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static
        UIColor* fromProto(Color* protocolor) { float red = [protocolor red];
        float green = [protocolor green]; float blue = [protocolor blue];
        FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if
        (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return
        [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static
        Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if
        (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return
        nil; } Color* result = [[Color alloc] init]; [result setRed:red];
        [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) {
        [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease];
        return result; } // ... Example (JavaScript): // ... var protoToCssColor
        = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var
        greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue ||
        0.0; var red = Math.floor(redFrac * 255); var green =
        Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if
        (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); }
        var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red,
        green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac,
        ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var
        rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString
        = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var
        resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) {
        resultBuilder.push('0'); } resultBuilder.push(hexString); return
        resultBuilder.join(''); }; // ...
      id: GoogleTypeColor
      type: object
    GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities:
      type: object
      properties:
        canRead:
          description: Whether the user can read related applied metadata on items.
          type: boolean
        canSearch:
          description: Whether the user can search for Drive items referencing this field.
          type: boolean
        canWrite:
          description: Whether the user can set this field on Drive items.
          type: boolean
      id: GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities
      description: The capabilities related to this field on applied metadata.
    GoogleAppsDriveLabelsV2betaFieldLongTextOptions:
      description: Options the Long Text field type.
      type: object
      properties:
        minLength:
          readOnly: true
          format: int32
          type: integer
          description: Output only. The minimum valid length of values for the text field.
        maxLength:
          description: Output only. The maximum valid length of values for the text field.
          type: integer
          format: int32
          readOnly: true
      id: GoogleAppsDriveLabelsV2betaFieldLongTextOptions
    GoogleAppsDriveLabelsV2betaFieldUserOptions:
      properties:
        listOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldListOptions'
          description: >-
            When specified, indicates that this field supports a list of values.
            Once the field is published, this cannot be changed.
      description: Options for the user field type.
      id: GoogleAppsDriveLabelsV2betaFieldUserOptions
      type: object
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse:
      type: object
      description: Response following Selection Choice create.
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse
      properties:
        fieldId:
          description: The server-generated id of the field.
          type: string
        id:
          description: The server-generated ID of the created choice within the Field
          type: string
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse:
      description: Response following Field create.
      type: object
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse
      properties:
        id:
          description: >-
            The field of the created field. When left blank in a create request,
            a key will be autogenerated and can be identified here.
          type: string
        priority:
          type: integer
          description: >-
            The priority of the created field. The priority may change from what
            was specified to assure contiguous priorities between fields (1-n).
          format: int32
    GoogleAppsDriveLabelsV2betaBadgeConfig:
      description: Badge status of the label.
      properties:
        color:
          $ref: '#/components/schemas/GoogleTypeColor'
          description: >-
            The color of the badge. When not specified, no badge is rendered.
            The background, foreground, and solo (light and dark mode) colors
            set here are changed in the Drive UI into the closest recommended
            supported color.
        priorityOverride:
          format: int64
          type: string
          description: >-
            Override the default global priority of this badge. When set to 0,
            the default priority heuristic is used.
      type: object
      id: GoogleAppsDriveLabelsV2betaBadgeConfig
    GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest:
      id: GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest
      type: object
      properties:
        labelPermission:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
          description: Required. The permission to create or update on the Label.
        parent:
          type: string
          description: Required. The parent Label resource name.
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
      description: >-
        Updates a Label Permission. Permissions affect the Label resource as a
        whole, are not revisioned, and do not require publishing.
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse:
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse
      properties:
        updatedLabel:
          description: >-
            The label after updates were applied. This is only set if
            [BatchUpdateLabelResponse2.include_label_in_response] is `true` and
            there were no errors.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabel'
        responses:
          description: >-
            The reply of the updates. This maps 1:1 with the updates, although
            responses to some requests may be empty.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse
      type: object
      description: Response for Label update.
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse:
      properties: {}
      type: object
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse
      description: Response following Choice delete.
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse:
      description: Response following update to Selection Choice properties.
      properties:
        priority:
          description: >-
            The priority of the updated choice. The priority may change from
            what was specified to assure contiguous priorities between choices
            (1-n).
          type: integer
          format: int32
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse
      type: object
    GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy:
      properties:
        showInApply:
          type: boolean
          description: >-
            Whether to show this disabled object in the apply menu on Drive
            items. * When `true`, the object is generally shown in the UI as
            disabled and is unselectable. * When `false`, the object is
            generally hidden in the UI.
        hideInSearch:
          type: boolean
          description: >-
            Whether to hide this disabled object in the search menu for Drive
            items. * When `false`, the object is generally shown in the UI as
            disabled but it appears in the search results when searching for
            Drive items. * When `true`, the object is generally hidden in the UI
            when searching for Drive items.
      type: object
      id: GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy
      description: >-
        The policy that governs how to treat a disabled label, field, or
        selection choice in different contexts.
    GoogleAppsDriveLabelsV2betaDateLimits:
      properties:
        minValue:
          $ref: '#/components/schemas/GoogleTypeDate'
          description: Minimum value for the date Field type.
        maxValue:
          description: Maximum value for the date Field type.
          $ref: '#/components/schemas/GoogleTypeDate'
      description: Limits for date Field type.
      id: GoogleAppsDriveLabelsV2betaDateLimits
      type: object
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest:
      type: object
      properties:
        id:
          description: Required. Choice to disable.
          type: string
        disabledPolicy:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy
          description: Required. The disabled policy to update.
        updateMask:
          type: string
          format: google-fieldmask
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `disabled_policy` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
        fieldId:
          type: string
          description: Required. The Selection Field in which a Choice will be disabled.
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest
      description: Request to disable a Choice.
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest:
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest
      properties:
        id:
          description: Required. The Choice to update.
          type: string
        updateMask:
          format: google-fieldmask
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `properties` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
          type: string
        properties:
          description: Required. The Choice properties to update.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties
        fieldId:
          type: string
          description: Required. The Selection Field to update.
      description: Request to update a Choice properties.
      type: object
    GoogleAppsDriveLabelsV2betaSelectionLimits:
      id: GoogleAppsDriveLabelsV2betaSelectionLimits
      properties:
        maxDisplayNameLength:
          description: Maximum length for display name.
          format: int32
          type: integer
        listLimits:
          description: Limits for list-variant of a Field type.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaListLimits'
        maxIdLength:
          description: Maximum ID length for a selection options.
          type: integer
          format: int32
        maxDeletedChoices:
          type: integer
          description: Maximum number of deleted choices.
          format: int32
        maxChoices:
          type: integer
          description: The max number of choices.
          format: int32
      description: Limits for selection Field type.
      type: object
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest:
      properties:
        fieldId:
          type: string
          description: Required. The Selection Field in which a Choice will be enabled.
        id:
          type: string
          description: Required. Choice to enable.
      description: Request to enable a Choice.
      type: object
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest
    GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties:
      properties:
        badgeConfig:
          description: >-
            The badge configuration for this choice. When set, the label that
            owns this choice is considered a "badged label".
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaBadgeConfig'
        displayName:
          type: string
          description: Required. The display text to show in the UI identifying this field.
        description:
          description: The description of this label.
          type: string
        insertBeforeChoice:
          description: >-
            Input only. Insert or move this choice before the indicated choice.
            If empty, the choice is placed at the end of the list.
          type: string
      description: Basic properties of the choice.
      type: object
      id: GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties
    GoogleAppsDriveLabelsV2betaLabelLockCapabilities:
      description: A description of a user's capabilities on a LabelLock.
      type: object
      properties:
        canViewPolicy:
          type: boolean
          description: True if the user is authorized to view the policy.
      id: GoogleAppsDriveLabelsV2betaLabelLockCapabilities
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse:
      description: Response following Field enable.
      properties: {}
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse
      type: object
    GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest:
      id: GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest
      description: >-
        Request to update the `CopyMode` of the given Label. Changes to this
        policy are not revisioned, do not require publishing, and take effect
        immediately. \
      type: object
      properties:
        view:
          enum:
            - LABEL_VIEW_BASIC
            - LABEL_VIEW_FULL
          enumDescriptions:
            - >-
              Implies the field mask:
              `name,id,revision_id,label_type,properties.*`
            - All possible fields.
          type: string
          description: >-
            When specified, only certain fields belonging to the indicated view
            will be returned.
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
        copyMode:
          enumDescriptions:
            - Copy mode unspecified.
            - >-
              The applied label and field values are not copied by default when
              the Drive item it's applied to is copied.
            - >-
              The applied label and field values are always copied when the
              Drive item it's applied to is copied. Only admins can use this
              mode.
            - >-
              The applied label and field values are copied if the label is
              appliable by the user making the copy.
          type: string
          description: >-
            Required. Indicates how the applied Label, and Field values should
            be copied when a Drive item is copied.
          enum:
            - COPY_MODE_UNSPECIFIED
            - DO_NOT_COPY
            - ALWAYS_COPY
            - COPY_APPLIABLE
        languageCode:
          description: >-
            The BCP-47 language code to use for evaluating localized field
            labels. When not specified, values in the default configured
            language will be used.
          type: string
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest:
      description: Request to change the type of a Field.
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest
      type: object
      properties:
        dateOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldDateOptions'
          description: Update field to Date.
        updateMask:
          format: google-fieldmask
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root of `type_options` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
          type: string
        longTextOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldLongTextOptions'
          description: Update field to Long Text.
        id:
          description: Required. The Field to update.
          type: string
        integerOptions:
          description: Update field to Integer.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldIntegerOptions'
        userOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldUserOptions'
          description: Update field to User.
        textOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldTextOptions'
          description: Update field to Text.
        selectionOptions:
          description: Update field to Selection.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSelectionOptions
    GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities:
      type: object
      properties:
        canDisable:
          description: >-
            Whether the user can disable this field. The user must have
            permission and this field must not already be disabled.
          type: boolean
        canUpdate:
          description: Whether the user can change this field.
          type: boolean
        canEnable:
          description: >-
            Whether the user can enable this field. The user must have
            permission and this field must be disabled.
          type: boolean
        canDelete:
          type: boolean
          description: >-
            Whether the user can delete this field. The user must have
            permission and the field must be deprecated.
      description: The capabilities related to this field when editing the field.
      id: GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities
    GoogleAppsDriveLabelsV2betaFieldProperties:
      id: GoogleAppsDriveLabelsV2betaFieldProperties
      description: The basic properties of the field.
      type: object
      properties:
        insertBeforeField:
          description: >-
            Input only. Insert or move this field before the indicated field. If
            empty, the field is placed at the end of the list.
          type: string
        required:
          description: Whether the field should be marked as required.
          type: boolean
        displayName:
          type: string
          description: Required. The display text to show in the UI identifying this field.
    GoogleAppsDriveLabelsV2betaIntegerLimits:
      description: Limits for integer Field type.
      id: GoogleAppsDriveLabelsV2betaIntegerLimits
      properties:
        maxValue:
          type: string
          description: Maximum value for an integer Field type.
          format: int64
        minValue:
          format: int64
          type: string
          description: Minimum value for an integer Field type.
      type: object
    GoogleAppsDriveLabelsV2betaFieldIntegerOptions:
      description: Options for the Integer field type.
      type: object
      id: GoogleAppsDriveLabelsV2betaFieldIntegerOptions
      properties:
        maxValue:
          readOnly: true
          format: int64
          description: Output only. The maximum valid value for the integer field.
          type: string
        minValue:
          readOnly: true
          format: int64
          type: string
          description: Output only. The minimum valid value for the integer field.
    GoogleAppsDriveLabelsV2betaTextLimits:
      type: object
      description: Limits for text Field type.
      id: GoogleAppsDriveLabelsV2betaTextLimits
      properties:
        minLength:
          type: integer
          format: int32
          description: Minimum length allowed for a text Field type.
        maxLength:
          description: Maximum length allowed for a text Field type.
          type: integer
          format: int32
    GoogleAppsDriveLabelsV2betaPublishLabelRequest:
      properties:
        languageCode:
          description: >-
            The BCP-47 language code to use for evaluating localized field
            labels. When not specified, values in the default configured
            language will be used.
          type: string
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
        writeControl:
          description: >-
            Provides control over how write requests are executed. Defaults to
            unset, which means last write wins.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaWriteControl'
      type: object
      id: GoogleAppsDriveLabelsV2betaPublishLabelRequest
      description: Request to publish a label.
    GoogleAppsDriveLabelsV2betaField:
      description: >-
        Defines a field that has a display name, data type, and other
        configuration options. This field defines the kind of metadata that may
        be set on a Drive item.
      type: object
      id: GoogleAppsDriveLabelsV2betaField
      properties:
        lifecycle:
          readOnly: true
          description: Output only. The lifecycle of this field.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLifecycle'
        schemaCapabilities:
          readOnly: true
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities
          description: Output only. The capabilities this user has when editing this field.
        updater:
          description: Output only. The user who modified this field.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
          readOnly: true
        dateOptions:
          description: Date field options.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldDateOptions'
        publisher:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
          description: >-
            Output only. The user who published this field. This value has no
            meaning when the field is not published.
          readOnly: true
        creator:
          description: Output only. The user who created this field.
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
        lockStatus:
          description: Output only. The LockStatus of this field.
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLockStatus'
        integerOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldIntegerOptions'
          description: Integer field options.
        id:
          readOnly: true
          type: string
          description: >-
            Output only. The key of a field, unique within a label or library.
            This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`
        displayHints:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldDisplayHints'
          readOnly: true
          description: Output only. UI display hints for rendering a field.
        textOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldTextOptions'
          description: Text field options.
        disableTime:
          readOnly: true
          description: >-
            Output only. The time this field was disabled. This value has no
            meaning when the field is not disabled.
          format: google-datetime
          type: string
        selectionOptions:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSelectionOptions
          description: Selection field options.
        disabler:
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
          description: >-
            Output only. The user who disabled this field. This value has no
            meaning when the field is not disabled.
        userOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldUserOptions'
          description: User field options.
        createTime:
          readOnly: true
          description: Output only. The time this field was created.
          type: string
          format: google-datetime
        appliedCapabilities:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities
          readOnly: true
          description: >-
            Output only. The capabilities this user has on this field and its
            value when the label is applied on Drive items.
        properties:
          description: The basic properties of the field.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldProperties'
        queryKey:
          description: >-
            Output only. The key to use when constructing Drive search queries
            to find files based on values defined for this field on files. For
            example, "`{query_key}` > 2001-01-01".
          readOnly: true
          type: string
        updateTime:
          format: google-datetime
          readOnly: true
          description: Output only. The time this field was updated.
          type: string
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest:
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest
      properties:
        id:
          type: string
          description: Required. Choice to delete.
        fieldId:
          description: Required. The Selection Field from which a Choice will be deleted.
          type: string
      description: Request to delete a Choice.
      type: object
    GoogleAppsDriveLabelsV2betaDisableLabelRequest:
      description: Request to deprecate a published Label.
      type: object
      properties:
        useAdminAccess:
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
          type: boolean
        writeControl:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaWriteControl'
          description: >-
            Provides control over how write requests are executed. Defaults to
            unset, which means last write wins.
        languageCode:
          description: >-
            The BCP-47 language code to use for evaluating localized field
            labels. When not specified, values in the default configured
            language will be used.
          type: string
        disabledPolicy:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy
          description: Disabled policy to use.
        updateMask:
          type: string
          format: google-fieldmask
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `disabled_policy` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
      id: GoogleAppsDriveLabelsV2betaDisableLabelRequest
    GoogleAppsDriveLabelsV2betaLabelDisplayHints:
      id: GoogleAppsDriveLabelsV2betaLabelDisplayHints
      description: UI display hints for rendering the label.
      properties:
        hiddenInSearch:
          type: boolean
          description: >-
            This label should be hidden in the search menu when searching for
            Drive items.
        disabled:
          description: Whether the label should be shown in the UI as disabled.
          type: boolean
        shownInApply:
          description: >-
            This label should be shown in the apply menu when applying values to
            a Drive item.
          type: boolean
        priority:
          description: Order to display label in a list.
          format: int64
          type: string
      type: object
    GoogleAppsDriveLabelsV2betaLabelPermission:
      properties:
        group:
          description: Group resource name.
          type: string
        name:
          type: string
          description: Resource name of this permission.
        email:
          type: string
          description: >-
            Specifies the email address for a user or group pricinpal. Not
            populated for audience principals. User and Group permissions may
            only be inserted using email address. On update requests, if email
            address is specified, no principal should be specified.
        audience:
          type: string
          description: >-
            Audience to grant a role to. The magic value of `audiences/default`
            may be used to apply the role to the default audience in the context
            of the organization that owns the Label.
        person:
          type: string
          description: Person resource name.
        role:
          description: The role the principal should have.
          type: string
          enumDescriptions:
            - Unknown role.
            - >-
              A reader can read the label and associated metadata applied to
              Drive items.
            - >-
              An applier can write associated metadata on Drive items in which
              they also have write access to. Implies `READER`.
            - >-
              An organizer can pin this label in shared drives they manage and
              add new appliers to the label.
            - >-
              Editors can make any update including deleting the label which
              also deletes the associated Drive item metadata. Implies
              `APPLIER`.
          enum:
            - LABEL_ROLE_UNSPECIFIED
            - READER
            - APPLIER
            - ORGANIZER
            - EDITOR
      id: GoogleAppsDriveLabelsV2betaLabelPermission
      description: >-
        The permission that applies to a principal (user, group, audience) on a
        label.
      type: object
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse:
      properties: {}
      type: object
      description: Response following Choice disable.
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest:
      type: object
      description: Updates basic properties of a Label.
      properties:
        updateMask:
          format: google-fieldmask
          type: string
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `label_properties` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
        properties:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelProperties'
          description: Required. Label properties to update.
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest
    GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice:
      type: object
      properties:
        disableTime:
          type: string
          format: google-datetime
          description: >-
            Output only. The time this choice was disabled. This value has no
            meaning when the choice is not disabled.
          readOnly: true
        updater:
          readOnly: true
          description: Output only. The user who updated this choice last.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
        properties:
          description: Basic properties of the choice.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties
        lifecycle:
          description: Output only. Lifecycle of the choice.
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLifecycle'
        updateTime:
          format: google-datetime
          description: Output only. The time this choice was updated last.
          readOnly: true
          type: string
        id:
          type: string
          description: >-
            The unique value of the choice. This ID is autogenerated. Matches
            the regex: `([a-zA-Z0-9_])+`.
        creator:
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
          description: Output only. The user who created this choice.
        schemaCapabilities:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities
          description: >-
            Output only. The capabilities related to this option when editing
            the option.
          readOnly: true
        appliedCapabilities:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities
          description: >-
            Output only. The capabilities related to this choice on applied
            metadata.
          readOnly: true
        displayHints:
          description: Output only. UI display hints for rendering a choice.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints
          readOnly: true
        publishTime:
          description: >-
            Output only. The time this choice was published. This value has no
            meaning when the choice is not published.
          type: string
          readOnly: true
          format: google-datetime
        publisher:
          description: >-
            Output only. The user who published this choice. This value has no
            meaning when the choice is not published.
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
        disabler:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaUserInfo'
          description: >-
            Output only. The user who disabled this choice. This value has no
            meaning when the option is not disabled.
          readOnly: true
        lockStatus:
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLockStatus'
          description: Output only. The LockStatus of this choice.
        createTime:
          description: Output only. The time this choice was created.
          type: string
          readOnly: true
          format: google-datetime
      description: Selection field choice.
      id: GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice
    GoogleAppsDriveLabelsV2betaListLabelLocksResponse:
      description: The response to a ListLabelLocksRequest.
      id: GoogleAppsDriveLabelsV2betaListLabelLocksResponse
      type: object
      properties:
        nextPageToken:
          description: The token of the next page in the response.
          type: string
        labelLocks:
          description: LabelLocks.
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelLock'
          type: array
    GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities:
      type: object
      id: GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities
      description: The capabilities related to this choice when editing the choice.
      properties:
        canDisable:
          description: Whether the user can disable this choice.
          type: boolean
        canUpdate:
          type: boolean
          description: Whether the user can update this choice.
        canDelete:
          type: boolean
          description: Whether the user can delete this choice.
        canEnable:
          type: boolean
          description: Whether the user can enable this choice.
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest:
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest
      properties:
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
        writeControl:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaWriteControl'
          description: Provides control over how write requests are executed.
        view:
          description: >-
            When specified, only certain fields belonging to the indicated view
            will be returned.
          enum:
            - LABEL_VIEW_BASIC
            - LABEL_VIEW_FULL
          type: string
          enumDescriptions:
            - >-
              Implies the field mask:
              `name,id,revision_id,label_type,properties.*`
            - All possible fields.
        requests:
          description: >-
            A list of updates to apply to the Label. Requests will be applied in
            the order they are specified.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest
        languageCode:
          type: string
          description: >-
            The BCP-47 language code to use for evaluating localized Field
            labels when `include_label_in_response` is `true`.
      description: >-
        The set of requests for updating aspects of a Label. If any request is
        not valid, no requests will be applied.
      type: object
    GoogleTypeDate:
      id: GoogleTypeDate
      description: >-
        Represents a whole or partial calendar date, such as a birthday. The
        time of day and time zone are either specified elsewhere or are
        insignificant. The date is relative to the Gregorian Calendar. This can
        represent one of the following: * A full date, with non-zero year,
        month, and day values. * A month and day, with a zero year (for example,
        an anniversary). * A year on its own, with a zero month and a zero day.
        * A year and month, with a zero day (for example, a credit card
        expiration date). Related types: * google.type.TimeOfDay *
        google.type.DateTime * google.protobuf.Timestamp
      properties:
        year:
          format: int32
          type: integer
          description: >-
            Year of the date. Must be from 1 to 9999, or 0 to specify a date
            without a year.
        day:
          description: >-
            Day of a month. Must be from 1 to 31 and valid for the year and
            month, or 0 to specify a year by itself or a year and month where
            the day isn't significant.
          type: integer
          format: int32
        month:
          type: integer
          description: >-
            Month of a year. Must be from 1 to 12, or 0 to specify a year
            without a month and day.
          format: int32
      type: object
    GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest:
      type: object
      properties:
        requests:
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest
          description: Required. The request message specifying the resources to update.
          type: array
        useAdminAccess:
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access. If this is set, the use_admin_access field in the
            UpdateLabelPermissionRequest messages must either be empty or match
            this field.
          type: boolean
      description: Updates one or more Label Permissions.
      id: GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest
    GoogleProtobufEmpty:
      type: object
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      properties: {}
      id: GoogleProtobufEmpty
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse:
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse
      description: Response following update to Label properties.
      type: object
      properties: {}
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse:
      description: Response following Choice enable.
      type: object
      properties: {}
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest:
      description: Request to update Field properties.
      type: object
      properties:
        id:
          type: string
          description: Required. The Field to update.
        updateMask:
          format: google-fieldmask
          type: string
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `properties` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
        properties:
          description: Required. Basic Field properties.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaFieldProperties'
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest
    GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities:
      id: >-
        GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities
      properties:
        canRead:
          description: Whether the user can read related applied metadata on items.
          type: boolean
        canSelect:
          description: Whether the user can select this choice on an item.
          type: boolean
        canSearch:
          description: Whether the user can use this choice in search queries.
          type: boolean
      type: object
      description: The capabilities related to this choice on applied metadata.
    GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities:
      description: The capabilities related to this label when editing the label.
      properties:
        canDisable:
          type: boolean
          description: >-
            Whether the user can disable this label. The user must have
            permission and this label must not already be disabled.
        canEnable:
          description: >-
            Whether the user can enable this label. The user must have
            permission and this label must be disabled.
          type: boolean
        canDelete:
          description: >-
            Whether the user can delete this label. The user must have
            permission and the label must be disabled.
          type: boolean
        canUpdate:
          type: boolean
          description: Whether the user can change this label.
      type: object
      id: GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse:
      type: object
      description: Response following Field disable.
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse
      properties: {}
    GoogleAppsDriveLabelsV2betaWriteControl:
      properties:
        requiredRevisionId:
          type: string
          description: >-
            The revision_id of the label that the write request will be applied
            to. If this is not the latest revision of the label, the request
            will not be processed and will return a 400 Bad Request error.
      id: GoogleAppsDriveLabelsV2betaWriteControl
      type: object
      description: >-
        Provides control over how write requests are executed. When not
        specified, the last write wins.
    GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities:
      type: object
      properties:
        canRemove:
          type: boolean
          description: Whether the user can remove this label from items.
        canRead:
          description: Whether the user can read applied metadata related to this label.
          type: boolean
        canApply:
          description: Whether the user can apply this label to items.
          type: boolean
      description: The capabilities a user has on this label's applied metadata.
      id: GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest:
      properties:
        id:
          type: string
          description: Required. ID of the Field to delete.
      type: object
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest
      description: Request to delete the Field.
    GoogleAppsDriveLabelsV2betaLabelProperties:
      properties:
        title:
          type: string
          description: Required. Title of the label.
        description:
          type: string
          description: The description of the label.
      id: GoogleAppsDriveLabelsV2betaLabelProperties
      type: object
      description: Basic properties of the label.
    GoogleAppsDriveLabelsV2betaUserCapabilities:
      type: object
      id: GoogleAppsDriveLabelsV2betaUserCapabilities
      properties:
        canAccessLabelManager:
          description: >-
            Output only. Whether the user is allowed access to the label
            manager.
          readOnly: true
          type: boolean
        canCreateAdminLabels:
          description: Output only. Whether the user is allowed to create new admin labels.
          readOnly: true
          type: boolean
        canAdministrateLabels:
          readOnly: true
          type: boolean
          description: >-
            Output only. Whether the user is an administrator for the shared
            labels feature.
        canCreateSharedLabels:
          readOnly: true
          type: boolean
          description: >-
            Output only. Whether the user is allowed to create new shared
            labels.
        name:
          readOnly: true
          type: string
          description: Output only. Resource name for the user capabilities.
      description: The capabilities of a user.
    GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints:
      description: UI display hints for rendering an option.
      type: object
      id: GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints
      properties:
        shownInApply:
          type: boolean
          description: >-
            This option should be shown in the apply menu when applying values
            to a Drive item.
        disabled:
          description: Whether the option should be shown in the UI as disabled.
          type: boolean
        badgeColors:
          description: >-
            The colors to use for the badge. Changed to Google Material colors
            based on the chosen `properties.badge_config.color`.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaBadgeColors'
        darkBadgeColors:
          description: >-
            The dark-mode color to use for the badge. Changed to Google Material
            colors based on the chosen `properties.badge_config.color`.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaBadgeColors'
        badgePriority:
          format: int64
          description: >-
            The priority of this badge. Used to compare and sort between
            multiple badges. A lower number means the badge should be shown
            first. When a badging configuration is not present, this will be 0.
            Otherwise, this will be set to `BadgeConfig.priority_override` or
            the default heuristic which prefers creation date of the label, and
            field and option priority.
          type: string
        hiddenInSearch:
          description: >-
            This option should be hidden in the search menu when searching for
            Drive items.
          type: boolean
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest:
      description: Request to create a Selection Choice.
      properties:
        fieldId:
          description: Required. The Selection Field in which a Choice will be created.
          type: string
        choice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice
          description: Required. The Choice to create.
      id: >-
        GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest
      type: object
    GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse:
      type: object
      id: GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse
      description: Response for listing the permissions on a Label.
      properties:
        nextPageToken:
          type: string
          description: The token of the next page in the response.
        labelPermissions:
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
          description: Label permissions.
          type: array
    GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest:
      description: Request to disable the Field.
      type: object
      id: GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest
      properties:
        updateMask:
          format: google-fieldmask
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `disabled_policy` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
          type: string
        id:
          description: Required. Key of the Field to disable.
          type: string
        disabledPolicy:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy
          description: Required. Field Disabled Policy.
    GoogleAppsDriveLabelsV2betaFieldDateOptions:
      properties:
        minValue:
          $ref: '#/components/schemas/GoogleTypeDate'
          description: Output only. Minimum valid value (year, month, day).
          readOnly: true
        dateFormat:
          type: string
          readOnly: true
          description: Output only. ICU date format.
        dateFormatType:
          type: string
          enum:
            - DATE_FORMAT_UNSPECIFIED
            - LONG_DATE
            - SHORT_DATE
          enumDescriptions:
            - Date format unspecified.
            - >-
              Includes full month name. For example, January 12, 1999 (MMMM d,
              y)
            - Short, numeric, representation. For example, 12/13/99 (M/d/yy)
          description: >-
            Localized date formatting option. Field values are rendered in this
            format according to their locale.
        maxValue:
          readOnly: true
          $ref: '#/components/schemas/GoogleTypeDate'
          description: Output only. Maximum valid value (year, month, day).
      type: object
      id: GoogleAppsDriveLabelsV2betaFieldDateOptions
      description: Options for the date field type.
  parameters:
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/drive.activity: View and add to the activity record of files in your Google Drive
            https://www.googleapis.com/auth/drive.activity.readonly: View the activity record of files in your Google Drive
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v2beta/labels/{labelsId}/locks:
    parameters: &ref_1
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
    get:
      description: Lists the LabelLocks on a Label.
      operationId: drivelabels.labels.locks.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2betaListLabelLocksResponse
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: locks
      x-stackQL-verb: select
  /v2beta/labels/{labelsId}/permissions:batchUpdate:
    parameters: *ref_1
    post:
      description: >-
        Updates Label permissions. If a permission for the indicated principal
        doesn't exist, a new Label Permission is created, otherwise the existing
        permission is updated. Permissions affect the Label resource as a whole,
        are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.permissions.batchUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
      x-stackQL-resource: permissions
      x-stackQL-verb: exec
  /v2beta/labels/{labelsId}/permissions:
    parameters: *ref_1
    post:
      description: >-
        Updates a Label's permissions. If a permission for the indicated
        principal doesn't exist, a new Label Permission is created, otherwise
        the existing permission is updated. Permissions affect the Label
        resource as a whole, are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.permissions.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: query
          name: useAdminAccess
          schema:
            type: boolean
      x-stackQL-resource: permissions
      x-stackQL-verb: insert
    get:
      description: Lists a Label's permissions.
      operationId: drivelabels.labels.permissions.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: query
          name: useAdminAccess
          schema:
            type: boolean
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: permissions
      x-stackQL-verb: select
    patch:
      description: >-
        Updates a Label's permissions. If a permission for the indicated
        principal doesn't exist, a new Label Permission is created, otherwise
        the existing permission is updated. Permissions affect the Label
        resource as a whole, are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.updatePermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission'
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2betaLabelPermission
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: query
          name: useAdminAccess
          schema:
            type: boolean
      x-stackQL-resource: labels
      x-stackQL-verb: exec
  /v2beta/labels/{labelsId}/permissions/{permissionsId}:
    parameters: *ref_1
    delete:
      description: >-
        Deletes a Label's permission. Permissions affect the Label resource as a
        whole, are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.permissions.delete
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: path
          name: permissionsId
          required: true
          schema:
            type: string
        - in: query
          name: useAdminAccess
          schema:
            type: boolean
      x-stackQL-resource: permissions
      x-stackQL-verb: delete
  /v2beta/labels/{labelsId}/permissions:batchDelete:
    parameters: *ref_1
    post:
      description: >-
        Deletes Label permissions. Permissions affect the Label resource as a
        whole, are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.permissions.batchDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
      x-stackQL-resource: permissions
      x-stackQL-verb: delete
  /v2beta/labels/{labelsId}/revisions/{revisionsId}/locks:
    parameters: *ref_1
    get:
      description: Lists the LabelLocks on a Label.
      operationId: drivelabels.labels.revisions.locks.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2betaListLabelLocksResponse
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: path
          name: revisionsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: locks
      x-stackQL-verb: select
  /v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate:
    parameters: *ref_1
    post:
      description: >-
        Updates Label permissions. If a permission for the indicated principal
        doesn't exist, a new Label Permission is created, otherwise the existing
[...]
