openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Drive Labels API
  description: An API for managing Drive Labels
  version: v2
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://developers.google.com/drive/labels
servers:
  - url: https://drivelabels.googleapis.com
components:
  schemas:
    GoogleAppsDriveLabelsV2DateLimits:
      properties:
        maxValue:
          $ref: '#/components/schemas/GoogleTypeDate'
          description: Maximum value for the date Field type.
        minValue:
          $ref: '#/components/schemas/GoogleTypeDate'
          description: Minimum value for the date Field type.
      id: GoogleAppsDriveLabelsV2DateLimits
      description: Limits for date Field type.
      type: object
    GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities:
      description: The capabilities related to this choice when editing the choice.
      properties:
        canEnable:
          description: Whether the user can enable this choice.
          type: boolean
        canDelete:
          description: Whether the user can delete this choice.
          type: boolean
        canDisable:
          type: boolean
          description: Whether the user can disable this choice.
        canUpdate:
          type: boolean
          description: Whether the user can update this choice.
      id: GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities
      type: object
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse:
      type: object
      properties: {}
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse
      description: Response following update to Label properties.
    GoogleAppsDriveLabelsV2SelectionLimits:
      id: GoogleAppsDriveLabelsV2SelectionLimits
      description: Limits for selection Field type.
      type: object
      properties:
        listLimits:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2ListLimits'
          description: Limits for list-variant of a Field type.
        maxDisplayNameLength:
          description: Maximum length for display name.
          format: int32
          type: integer
        maxChoices:
          description: The max number of choices.
          type: integer
          format: int32
        maxDeletedChoices:
          type: integer
          description: Maximum number of deleted choices.
          format: int32
        maxIdLength:
          type: integer
          description: Maximum ID length for a selection options.
          format: int32
    GoogleAppsDriveLabelsV2IntegerLimits:
      type: object
      description: Limits for integer Field type.
      id: GoogleAppsDriveLabelsV2IntegerLimits
      properties:
        maxValue:
          format: int64
          type: string
          description: Maximum value for an integer Field type.
        minValue:
          format: int64
          description: Minimum value for an integer Field type.
          type: string
    GoogleAppsDriveLabelsV2LabelLimits:
      properties:
        name:
          description: Resource name.
          type: string
        maxDeletedFields:
          format: int32
          type: integer
          description: The maximum number of published Fields that can be deleted.
        maxDescriptionLength:
          description: The maximum number of characters allowed for the description.
          type: integer
          format: int32
        fieldLimits:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldLimits'
          description: The limits for Fields.
        maxFields:
          type: integer
          format: int32
          description: The maximum number of Fields allowed within the label.
        maxTitleLength:
          format: int32
          type: integer
          description: The maximum number of characters allowed for the title.
        maxDraftRevisions:
          type: integer
          description: >-
            The maximum number of draft revisions that will be kept before
            deleting old drafts.
          format: int32
      type: object
      description: >-
        Label constraints governing the structure of a Label; such as, the
        maximum number of Fields allowed and maximum length of the label title.
      id: GoogleAppsDriveLabelsV2LabelLimits
    GoogleAppsDriveLabelsV2LabelLock:
      id: GoogleAppsDriveLabelsV2LabelLock
      type: object
      properties:
        createTime:
          description: Output only. The time this LabelLock was created.
          format: google-datetime
          readOnly: true
          type: string
        deleteTime:
          readOnly: true
          description: >-
            Output only. A timestamp indicating when this LabelLock was
            scheduled for deletion. This will be present only if this LabelLock
            is in the DELETING state.
          type: string
          format: google-datetime
        fieldId:
          description: >-
            The ID of the Field that should be locked. Empty if the whole Label
            should be locked.
          type: string
        name:
          type: string
          description: Output only. Resource name of this LabelLock.
          readOnly: true
        choiceId:
          description: >-
            The ID of the Selection Field Choice that should be locked. If
            present, `field_id` must also be present.
          type: string
        creator:
          readOnly: true
          description: >-
            Output only. The user whose credentials were used to create the
            LabelLock. This will not be present if no user was responsible for
            creating the LabelLock.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
        state:
          enumDescriptions:
            - Unknown state.
            - The LabelLock is active and is being enforced by the server.
            - >-
              The LabelLock is being deleted. The LabelLock will continue to be
              enforced by the server until it has been fully removed.
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - DELETING
          description: Output only. This LabelLock's state.
          readOnly: true
          type: string
        capabilities:
          description: Output only. The user's capabilities on this LabelLock.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelLockCapabilities'
          readOnly: true
      description: A Lock that can be applied to a Label, Field, or Choice.
    GoogleAppsDriveLabelsV2ListLabelPermissionsResponse:
      properties:
        nextPageToken:
          description: The token of the next page in the response.
          type: string
        labelPermissions:
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelPermission'
          description: Label permissions.
          type: array
      id: GoogleAppsDriveLabelsV2ListLabelPermissionsResponse
      type: object
      description: Response for listing the permissions on a Label.
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest:
      properties:
        updateField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest
          description: Updates basic properties of a Field.
        deleteField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest
          description: Deletes a Field from the label.
        updateSelectionChoiceProperties:
          description: Update a Choice properties within a Selection Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest
        disableField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest
          description: Disables the Field.
        disableSelectionChoice:
          description: Disable a Choice within a Selection Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest
        createField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest
          description: Creates a new Field.
        enableSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest
          description: Enable a Choice within a Selection Field.
        createSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest
          description: Creates Choice within a Selection field.
        updateLabel:
          description: Updates the Label properties.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest
        enableField:
          description: Enables the Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest
        deleteSelectionChoice:
          description: Delete a Choice within a Selection Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest
        updateFieldType:
          description: Update Field type and/or type options.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest
      type: object
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest
      description: A single kind of update to apply to a Label.
    GoogleAppsDriveLabelsV2Field:
      properties:
        queryKey:
          description: >-
            Output only. The key to use when constructing Drive search queries
            to find files based on values defined for this field on files. For
            example, "`{query_key}` > 2001-01-01".
          type: string
          readOnly: true
        creator:
          description: Output only. The user who created this field.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
          readOnly: true
        disableTime:
          description: >-
            Output only. The time this field was disabled. This value has no
            meaning when the field is not disabled.
          readOnly: true
          type: string
          format: google-datetime
        lifecycle:
          readOnly: true
          description: Output only. The lifecycle of this field.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2Lifecycle'
        integerOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldIntegerOptions'
          description: Integer field options.
        id:
          type: string
          readOnly: true
          description: >-
            Output only. The key of a field, unique within a label or library.
            This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`
        dateOptions:
          description: Date field options.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldDateOptions'
        updater:
          readOnly: true
          description: Output only. The user who modified this field.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
        updateTime:
          description: Output only. The time this field was updated.
          type: string
          readOnly: true
          format: google-datetime
        properties:
          description: The basic properties of the field.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldProperties'
        appliedCapabilities:
          readOnly: true
          description: >-
            Output only. The capabilities this user has on this field and its
            value when the label is applied on Drive items.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldAppliedCapabilities'
        selectionOptions:
          description: Selection field options.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldSelectionOptions'
        userOptions:
          description: User field options.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldUserOptions'
        createTime:
          readOnly: true
          description: Output only. The time this field was created.
          type: string
          format: google-datetime
        lockStatus:
          description: Output only. The LockStatus of this field.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LockStatus'
          readOnly: true
        publisher:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
          readOnly: true
          description: >-
            Output only. The user who published this field. This value has no
            meaning when the field is not published.
        textOptions:
          description: Text field options.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldTextOptions'
        disabler:
          description: >-
            Output only. The user who disabled this field. This value has no
            meaning when the field is not disabled.
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
        displayHints:
          description: Output only. UI display hints for rendering a field.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldDisplayHints'
          readOnly: true
        schemaCapabilities:
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldSchemaCapabilities'
          description: Output only. The capabilities this user has when editing this field.
      description: >-
        Defines a field that has a display name, data type, and other
        configuration options. This field defines the kind of metadata that may
        be set on a Drive item.
      type: object
      id: GoogleAppsDriveLabelsV2Field
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest:
      type: object
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest
      properties:
        updateMask:
          format: google-fieldmask
          type: string
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `disabled_policy` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
        disabledPolicy:
          description: Required. The disabled policy to update.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LifecycleDisabledPolicy'
        fieldId:
          type: string
          description: Required. The Selection Field in which a Choice will be disabled.
        id:
          type: string
          description: Required. Choice to disable.
      description: Request to disable a Choice.
    GoogleAppsDriveLabelsV2BadgeConfig:
      properties:
        color:
          description: >-
            The color of the badge. When not specified, no badge is rendered.
            The background, foreground, and solo (light and dark mode) colors
            set here are changed in the Drive UI into the closest recommended
            supported color.
          $ref: '#/components/schemas/GoogleTypeColor'
        priorityOverride:
          type: string
          format: int64
          description: >-
            Override the default global priority of this badge. When set to 0,
            the default priority heuristic is used.
      description: Badge status of the label.
      id: GoogleAppsDriveLabelsV2BadgeConfig
      type: object
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse:
      properties: {}
      type: object
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse
      description: Response following Choice disable.
    GoogleAppsDriveLabelsV2UserCapabilities:
      properties:
        canCreateAdminLabels:
          description: Output only. Whether the user is allowed to create new admin labels.
          readOnly: true
          type: boolean
        canAccessLabelManager:
          description: >-
            Output only. Whether the user is allowed access to the label
            manager.
          readOnly: true
          type: boolean
        canCreateSharedLabels:
          description: >-
            Output only. Whether the user is allowed to create new shared
            labels.
          readOnly: true
          type: boolean
        name:
          readOnly: true
          type: string
          description: Output only. Resource name for the user capabilities.
        canAdministrateLabels:
          readOnly: true
          type: boolean
          description: >-
            Output only. Whether the user is an administrator for the shared
            labels feature.
      type: object
      description: The capabilities of a user.
      id: GoogleAppsDriveLabelsV2UserCapabilities
    GoogleAppsDriveLabelsV2LabelDisplayHints:
      id: GoogleAppsDriveLabelsV2LabelDisplayHints
      properties:
        shownInApply:
          type: boolean
          description: >-
            This label should be shown in the apply menu when applying values to
            a Drive item.
        priority:
          type: string
          description: Order to display label in a list.
          format: int64
        hiddenInSearch:
          description: >-
            This label should be hidden in the search menu when searching for
            Drive items.
          type: boolean
        disabled:
          type: boolean
          description: Whether the label should be shown in the UI as disabled.
      type: object
      description: UI display hints for rendering the label.
    GoogleAppsDriveLabelsV2FieldProperties:
      type: object
      id: GoogleAppsDriveLabelsV2FieldProperties
      description: The basic properties of the field.
      properties:
        insertBeforeField:
          type: string
          description: >-
            Input only. Insert or move this field before the indicated field. If
            empty, the field is placed at the end of the list.
        required:
          type: boolean
          description: Whether the field should be marked as required.
        displayName:
          type: string
          description: Required. The display text to show in the UI identifying this field.
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse:
      properties: {}
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse
      type: object
      description: Response following Choice delete.
    GoogleAppsDriveLabelsV2ListLimits:
      properties:
        maxEntries:
          type: integer
          description: Maximum number of values allowed for the Field type.
          format: int32
      id: GoogleAppsDriveLabelsV2ListLimits
      description: Limits for list-variant of a Field type.
      type: object
    GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest:
      properties:
        name:
          type: string
          description: Required. Label Permission resource name.
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
      id: GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest
      description: >-
        Deletes a Label Permission. Permissions affect the Label resource as a
        whole, are not revisioned, and do not require publishing.
      type: object
    GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest:
      description: Updates one or more Label Permissions.
      properties:
        requests:
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest
          type: array
          description: Required. The request message specifying the resources to update.
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access. If this is set, the use_admin_access field in the
            UpdateLabelPermissionRequest messages must either be empty or match
            this field.
      id: GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest
      type: object
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse:
      description: Response following update to Selection Choice properties.
      type: object
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse
      properties:
        priority:
          type: integer
          format: int32
          description: >-
            The priority of the updated choice. The priority may change from
            what was specified to assure contiguous priorities between choices
            (1-n).
    GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest:
      properties:
        useAdminAccess:
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
          type: boolean
        copyMode:
          enumDescriptions:
            - Copy mode unspecified.
            - >-
              The applied label and field values are not copied by default when
              the Drive item it's applied to is copied.
            - >-
              The applied label and field values are always copied when the
              Drive item it's applied to is copied. Only admins can use this
              mode.
            - >-
              The applied label and field values are copied if the label is
              appliable by the user making the copy.
          type: string
          enum:
            - COPY_MODE_UNSPECIFIED
            - DO_NOT_COPY
            - ALWAYS_COPY
            - COPY_APPLIABLE
          description: >-
            Required. Indicates how the applied Label, and Field values should
            be copied when a Drive item is copied.
        view:
          description: >-
            When specified, only certain fields belonging to the indicated view
            will be returned.
          enumDescriptions:
            - >-
              Implies the field mask:
              `name,id,revision_id,label_type,properties.*`
            - All possible fields.
          type: string
          enum:
            - LABEL_VIEW_BASIC
            - LABEL_VIEW_FULL
        languageCode:
          description: >-
            The BCP-47 language code to use for evaluating localized field
            labels. When not specified, values in the default configured
            language will be used.
          type: string
      description: >-
        Request to update the `CopyMode` of the given Label. Changes to this
        policy are not revisioned, do not require publishing, and take effect
        immediately. \
      type: object
      id: GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest
    GoogleAppsDriveLabelsV2EnableLabelRequest:
      properties:
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
        languageCode:
          type: string
          description: >-
            The BCP-47 language code to use for evaluating localized field
            labels. When not specified, values in the default configured
            language will be used.
        writeControl:
          description: >-
            Provides control over how write requests are executed. Defaults to
            unset, which means last write wins.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2WriteControl'
      description: Request to enable a label.
      id: GoogleAppsDriveLabelsV2EnableLabelRequest
      type: object
    GoogleAppsDriveLabelsV2ListLabelLocksResponse:
      id: GoogleAppsDriveLabelsV2ListLabelLocksResponse
      properties:
        nextPageToken:
          type: string
          description: The token of the next page in the response.
        labelLocks:
          type: array
          description: LabelLocks.
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelLock'
      type: object
      description: The response to a ListLabelLocksRequest.
    GoogleAppsDriveLabelsV2WriteControl:
      properties:
        requiredRevisionId:
          type: string
          description: >-
            The revision_id of the label that the write request will be applied
            to. If this is not the latest revision of the label, the request
            will not be processed and will return a 400 Bad Request error.
      type: object
      description: >-
        Provides control over how write requests are executed. When not
        specified, the last write wins.
      id: GoogleAppsDriveLabelsV2WriteControl
    GoogleAppsDriveLabelsV2FieldLimits:
      id: GoogleAppsDriveLabelsV2FieldLimits
      description: >-
        Field constants governing the structure of a Field; such as, the maximum
        title length, minimum and maximum field values or length, etc.
      properties:
        selectionLimits:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2SelectionLimits'
          description: Selection Field limits.
        textLimits:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2TextLimits'
          description: The relevant limits for the specified Field.Type. Text Field limits.
        dateLimits:
          description: Date Field limits.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2DateLimits'
        maxDisplayNameLength:
          description: Limits for Field title.
          format: int32
          type: integer
        userLimits:
          description: User Field limits.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserLimits'
        maxDescriptionLength:
          type: integer
          description: Limits for Field description, also called help text.
          format: int32
        maxIdLength:
          format: int32
          type: integer
          description: Max length for the id.
        longTextLimits:
          description: Long text Field limits.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LongTextLimits'
        integerLimits:
          description: Integer Field limits.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2IntegerLimits'
      type: object
    GoogleAppsDriveLabelsV2LabelAppliedCapabilities:
      description: The capabilities a user has on this label's applied metadata.
      type: object
      properties:
        canRemove:
          description: Whether the user can remove this label from items.
          type: boolean
        canRead:
          description: Whether the user can read applied metadata related to this label.
          type: boolean
        canApply:
          description: Whether the user can apply this label to items.
          type: boolean
      id: GoogleAppsDriveLabelsV2LabelAppliedCapabilities
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse:
      type: object
      properties:
        priority:
          format: int32
          description: >-
            The priority of the created field. The priority may change from what
            was specified to assure contiguous priorities between fields (1-n).
          type: integer
        id:
          type: string
          description: >-
            The field of the created field. When left blank in a create request,
            a key will be autogenerated and can be identified here.
      description: Response following Field create.
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse
    GoogleAppsDriveLabelsV2UserInfo:
      description: Information about a user.
      id: GoogleAppsDriveLabelsV2UserInfo
      type: object
      properties:
        person:
          description: >-
            The identifier for this user that can be used with the People API to
            get more information. For example, people/12345678.
          type: string
    GoogleAppsDriveLabelsV2LabelProperties:
      type: object
      properties:
        description:
          type: string
          description: The description of the label.
        title:
          description: Required. Title of the label.
          type: string
      id: GoogleAppsDriveLabelsV2LabelProperties
      description: Basic properties of the label.
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest:
      properties:
        id:
          type: string
          description: Required. Choice to delete.
        fieldId:
          type: string
          description: Required. The Selection Field from which a Choice will be deleted.
      description: Request to delete a Choice.
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest
      type: object
    GoogleAppsDriveLabelsV2LifecycleDisabledPolicy:
      id: GoogleAppsDriveLabelsV2LifecycleDisabledPolicy
      description: >-
        The policy that governs how to treat a disabled label, field, or
        selection choice in different contexts.
      properties:
        showInApply:
          type: boolean
          description: >-
            Whether to show this disabled object in the apply menu on Drive
            items. * When `true`, the object is generally shown in the UI as
            disabled and is unselectable. * When `false`, the object is
            generally hidden in the UI.
        hideInSearch:
          description: >-
            Whether to hide this disabled object in the search menu for Drive
            items. * When `false`, the object is generally shown in the UI as
            disabled but it appears in the search results when searching for
            Drive items. * When `true`, the object is generally hidden in the UI
            when searching for Drive items.
          type: boolean
      type: object
    GoogleAppsDriveLabelsV2FieldListOptions:
      type: object
      description: Options for a multi-valued variant of an associated field type.
      properties:
        maxEntries:
          type: integer
          format: int32
          description: Maximum number of entries permitted.
      id: GoogleAppsDriveLabelsV2FieldListOptions
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest:
      properties:
        id:
          type: string
          description: Required. ID of the Field to enable.
      type: object
      description: Request to enable the Field.
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest:
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest
      properties:
        updateMask:
          format: google-fieldmask
          type: string
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `label_properties` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
        properties:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelProperties'
          description: Required. Label properties to update.
      description: Updates basic properties of a Label.
      type: object
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse:
      description: Response following Field disable.
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse
      type: object
      properties: {}
    GoogleAppsDriveLabelsV2LabelPermission:
      description: >-
        The permission that applies to a principal (user, group, audience) on a
        label.
      properties:
        person:
          type: string
          description: Person resource name.
        role:
          enumDescriptions:
            - Unknown role.
            - >-
              A reader can read the label and associated metadata applied to
              Drive items.
            - >-
              An applier can write associated metadata on Drive items in which
              they also have write access to. Implies `READER`.
            - >-
              An organizer can pin this label in shared drives they manage and
              add new appliers to the label.
            - >-
              Editors can make any update including deleting the label which
              also deletes the associated Drive item metadata. Implies
              `APPLIER`.
          description: The role the principal should have.
          enum:
            - LABEL_ROLE_UNSPECIFIED
            - READER
            - APPLIER
            - ORGANIZER
            - EDITOR
          type: string
        name:
          type: string
          description: Resource name of this permission.
        group:
          description: Group resource name.
          type: string
        audience:
          type: string
          description: >-
            Audience to grant a role to. The magic value of `audiences/default`
            may be used to apply the role to the default audience in the context
            of the organization that owns the Label.
        email:
          description: >-
            Specifies the email address for a user or group pricinpal. Not
            populated for audience principals. User and Group permissions may
            only be inserted using email address. On update requests, if email
            address is specified, no principal should be specified.
          type: string
      id: GoogleAppsDriveLabelsV2LabelPermission
      type: object
    GoogleAppsDriveLabelsV2FieldTextOptions:
      id: GoogleAppsDriveLabelsV2FieldTextOptions
      type: object
      description: Options for the Text field type.
      properties:
        minLength:
          type: integer
          readOnly: true
          description: Output only. The minimum valid length of values for the text field.
          format: int32
        maxLength:
          type: integer
          readOnly: true
          description: Output only. The maximum valid length of values for the text field.
          format: int32
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse:
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse
      type: object
      properties:
        priority:
          type: integer
          format: int32
          description: >-
            The priority of the updated field. The priority may change from what
            was specified to assure contiguous priorities between fields (1-n).
      description: Response following update to Field properties.
    GoogleAppsDriveLabelsV2Label:
      description: >-
        A label defines a taxonomy that can be applied to Drive items in order
        to organize and search across items. Labels can be simple strings, or
        can contain fields that describe additional metadata that can be further
        used to organize and search Drive items.
      id: GoogleAppsDriveLabelsV2Label
      properties:
        learnMoreUri:
          type: string
          description: >-
            Custom URL to present to users to allow them to learn more about
            this label and how it should be used.
        displayHints:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelDisplayHints'
          readOnly: true
          description: Output only. UI display hints for rendering the label.
        properties:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelProperties'
          description: Required. The basic properties of the label.
        revisionCreator:
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
          description: Output only. The user who created this label revision.
        schemaCapabilities:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelSchemaCapabilities'
          description: Output only. The capabilities the user has on this label.
          readOnly: true
        lockStatus:
          description: Output only. The LockStatus of this label.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LockStatus'
          readOnly: true
        customer:
          readOnly: true
          description: >-
            Output only. The customer this label belongs to. For example:
            "customers/123abc789."
          type: string
        id:
          description: >-
            Output only. Globally unique identifier of this label. ID makes up
            part of the label `name`, but unlike `name`, ID is consistent
            between revisions. Matches the regex: `([a-zA-Z0-9])+`
          type: string
          readOnly: true
        createTime:
          type: string
          readOnly: true
          format: google-datetime
          description: Output only. The time this label was created.
        labelType:
          type: string
          description: Required. The type of label.
          enum:
            - LABEL_TYPE_UNSPECIFIED
            - SHARED
            - ADMIN
            - GOOGLE_APP
          enumDescriptions:
            - Unknown label type.
            - Shared labels may be shared with users to apply to Drive items.
            - >-
              Admin-owned label. Only creatable and editable by admins. Supports
              some additional admin-only features.
            - >-
              A label owned by an internal Google application rather than a
              customer. These labels are read-only.
        appliedLabelPolicy:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy'
          description: >-
            Output only. Behavior of this label when it's applied to Drive
            items.
          readOnly: true
        creator:
          description: Output only. The user who created this label.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
          readOnly: true
        appliedCapabilities:
          description: >-
            Output only. The capabilities related to this label on applied
            metadata.
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelAppliedCapabilities'
        revisionId:
          description: >-
            Output only. Revision ID of the label. Revision ID might be part of
            the label `name` depending on the request issued. A new revision is
            created whenever revisioned properties of a label are changed.
            Matches the regex: `([a-zA-Z0-9])+`
          type: string
          readOnly: true
        revisionCreateTime:
          type: string
          description: Output only. The time this label revision was created.
          format: google-datetime
          readOnly: true
        disableTime:
          readOnly: true
          type: string
          description: >-
            Output only. The time this label was disabled. This value has no
            meaning when the label is not disabled.
          format: google-datetime
        publisher:
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
          description: >-
            Output only. The user who published this label. This value has no
            meaning when the label is not published.
        lifecycle:
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2Lifecycle'
          description: >-
            Output only. The lifecycle state of the label including whether it's
            published, deprecated, and has draft changes.
        disabler:
          description: >-
            Output only. The user who disabled this label. This value has no
            meaning when the label is not disabled.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
          readOnly: true
        name:
          description: >-
            Output only. Resource name of the label. Will be in the form of
            either: `labels/{id}` or `labels/{id}@{revision_id}` depending on
            the request. See `id` and `revision_id` below.
          type: string
          readOnly: true
        fields:
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2Field'
          type: array
          description: List of fields in descending priority order.
        publishTime:
          type: string
          description: >-
            Output only. The time this label was published. This value has no
            meaning when the label is not published.
          readOnly: true
          format: google-datetime
      type: object
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse:
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse
      description: Response following update to Field type.
      properties: {}
      type: object
    GoogleAppsDriveLabelsV2LabelLockCapabilities:
      id: GoogleAppsDriveLabelsV2LabelLockCapabilities
      description: A description of a user's capabilities on a LabelLock.
      type: object
      properties:
        canViewPolicy:
          description: True if the user is authorized to view the policy.
          type: boolean
    GoogleAppsDriveLabelsV2FieldDateOptions:
      type: object
      description: Options for the date field type.
      id: GoogleAppsDriveLabelsV2FieldDateOptions
      properties:
        maxValue:
          description: Output only. Maximum valid value (year, month, day).
          $ref: '#/components/schemas/GoogleTypeDate'
          readOnly: true
        dateFormatType:
          type: string
          enum:
            - DATE_FORMAT_UNSPECIFIED
            - LONG_DATE
            - SHORT_DATE
          description: >-
            Localized date formatting option. Field values are rendered in this
            format according to their locale.
          enumDescriptions:
            - Date format unspecified.
            - >-
              Includes full month name. For example, January 12, 1999 (MMMM d,
              y)
            - Short, numeric, representation. For example, 12/13/99 (M/d/yy)
        dateFormat:
          readOnly: true
          description: Output only. ICU date format.
          type: string
        minValue:
          description: Output only. Minimum valid value (year, month, day).
          readOnly: true
          $ref: '#/components/schemas/GoogleTypeDate'
    GoogleAppsDriveLabelsV2LockStatus:
      type: object
      id: GoogleAppsDriveLabelsV2LockStatus
      properties:
        locked:
          description: >-
            Output only. Indicates whether this label component is the (direct)
            target of a LabelLock. A label component can be implicitly locked
            even if it's not the direct target of a LabelLock, in which case
            this field is set to false.
          type: boolean
          readOnly: true
      description: >-
        Contains information about whether a label component should be
        considered locked.
    GoogleAppsDriveLabelsV2FieldLongTextOptions:
      id: GoogleAppsDriveLabelsV2FieldLongTextOptions
      type: object
      description: Options the Long Text field type.
      properties:
        maxLength:
          readOnly: true
          type: integer
          format: int32
          description: Output only. The maximum valid length of values for the text field.
        minLength:
          description: Output only. The minimum valid length of values for the text field.
          format: int32
          readOnly: true
          type: integer
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest:
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest
      type: object
      description: Request to update a Choice properties.
      properties:
        properties:
          description: Required. The Choice properties to update.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties
        fieldId:
          description: Required. The Selection Field to update.
          type: string
        updateMask:
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `properties` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
          type: string
          format: google-fieldmask
        id:
          type: string
          description: Required. The Choice to update.
    GoogleAppsDriveLabelsV2UserLimits:
      type: object
      properties:
        listLimits:
          description: Limits for list-variant of a Field type.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2ListLimits'
      id: GoogleAppsDriveLabelsV2UserLimits
      description: Limits for Field.Type.USER.
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest:
      properties:
        userOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldUserOptions'
          description: Update field to User.
        dateOptions:
          description: Update field to Date.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldDateOptions'
        selectionOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldSelectionOptions'
          description: Update field to Selection.
        updateMask:
          type: string
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root of `type_options` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
          format: google-fieldmask
        textOptions:
          description: Update field to Text.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldTextOptions'
        integerOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldIntegerOptions'
          description: Update field to Integer.
        id:
          description: Required. The Field to update.
          type: string
        longTextOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldLongTextOptions'
          description: Update field to Long Text.
      type: object
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest
      description: Request to change the type of a Field.
    GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties:
      properties:
        description:
          description: The description of this label.
          type: string
        displayName:
          type: string
          description: Required. The display text to show in the UI identifying this field.
        insertBeforeChoice:
          type: string
          description: >-
            Input only. Insert or move this choice before the indicated choice.
            If empty, the choice is placed at the end of the list.
        badgeConfig:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2BadgeConfig'
          description: >-
            The badge configuration for this choice. When set, the label that
            owns this choice is considered a "badged label".
      description: Basic properties of the choice.
      type: object
      id: GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties
    GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints:
      description: UI display hints for rendering an option.
      id: GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints
      properties:
        darkBadgeColors:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2BadgeColors'
          description: >-
            The dark-mode color to use for the badge. Changed to Google Material
            colors based on the chosen `properties.badge_config.color`.
        badgePriority:
          type: string
          description: >-
            The priority of this badge. Used to compare and sort between
            multiple badges. A lower number means the badge should be shown
            first. When a badging configuration is not present, this will be 0.
            Otherwise, this will be set to `BadgeConfig.priority_override` or
            the default heuristic which prefers creation date of the label, and
            field and option priority.
          format: int64
        disabled:
          description: Whether the option should be shown in the UI as disabled.
          type: boolean
        shownInApply:
          description: >-
            This option should be shown in the apply menu when applying values
            to a Drive item.
          type: boolean
        hiddenInSearch:
          description: >-
            This option should be hidden in the search menu when searching for
            Drive items.
          type: boolean
        badgeColors:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2BadgeColors'
          description: >-
            The colors to use for the badge. Changed to Google Material colors
            based on the chosen `properties.badge_config.color`.
      type: object
    GoogleAppsDriveLabelsV2LabelSchemaCapabilities:
      description: The capabilities related to this label when editing the label.
      type: object
      properties:
        canUpdate:
          description: Whether the user can change this label.
          type: boolean
        canDelete:
          type: boolean
          description: >-
            Whether the user can delete this label. The user must have
            permission and the label must be disabled.
        canDisable:
          description: >-
            Whether the user can disable this label. The user must have
            permission and this label must not already be disabled.
          type: boolean
        canEnable:
          description: >-
            Whether the user can enable this label. The user must have
            permission and this label must be disabled.
          type: boolean
      id: GoogleAppsDriveLabelsV2LabelSchemaCapabilities
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest:
      type: object
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest
      description: Request to enable a Choice.
      properties:
        fieldId:
          type: string
          description: Required. The Selection Field in which a Choice will be enabled.
        id:
          description: Required. Choice to enable.
          type: string
    GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest:
      id: GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest
      description: Deletes one of more Label Permissions.
      properties:
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access. If this is set, the use_admin_access field in the
            DeleteLabelPermissionRequest messages must either be empty or match
            this field.
        requests:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest
          description: Required. The request message specifying the resources to update.
      type: object
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest:
      description: Request to disable the Field.
      properties:
        disabledPolicy:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LifecycleDisabledPolicy'
          description: Required. Field Disabled Policy.
        updateMask:
          format: google-fieldmask
          type: string
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `disabled_policy` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
        id:
          type: string
          description: Required. Key of the Field to disable.
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest
      type: object
    GoogleAppsDriveLabelsV2FieldSchemaCapabilities:
      properties:
        canEnable:
          description: >-
            Whether the user can enable this field. The user must have
            permission and this field must be disabled.
          type: boolean
        canDelete:
          type: boolean
          description: >-
            Whether the user can delete this field. The user must have
            permission and the field must be deprecated.
        canDisable:
          description: >-
            Whether the user can disable this field. The user must have
            permission and this field must not already be disabled.
          type: boolean
        canUpdate:
          description: Whether the user can change this field.
          type: boolean
      type: object
      description: The capabilities related to this field when editing the field.
      id: GoogleAppsDriveLabelsV2FieldSchemaCapabilities
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse:
      type: object
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse
      properties:
        responses:
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse
          description: >-
            The reply of the updates. This maps 1:1 with the updates, although
            responses to some requests may be empty.
          type: array
        updatedLabel:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2Label'
          description: >-
            The label after updates were applied. This is only set if
            [BatchUpdateLabelResponse2.include_label_in_response] is `true` and
            there were no errors.
      description: Response for Label update.
    GoogleAppsDriveLabelsV2PublishLabelRequest:
      type: object
      properties:
        useAdminAccess:
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
          type: boolean
        languageCode:
          description: >-
            The BCP-47 language code to use for evaluating localized field
            labels. When not specified, values in the default configured
            language will be used.
          type: string
        writeControl:
          description: >-
            Provides control over how write requests are executed. Defaults to
            unset, which means last write wins.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2WriteControl'
      id: GoogleAppsDriveLabelsV2PublishLabelRequest
      description: Request to publish a label.
    GoogleAppsDriveLabelsV2FieldUserOptions:
      description: Options for the user field type.
      id: GoogleAppsDriveLabelsV2FieldUserOptions
      type: object
      properties:
        listOptions:
          description: >-
            When specified, indicates that this field supports a list of values.
            Once the field is published, this cannot be changed.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldListOptions'
    GoogleProtobufEmpty:
      type: object
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      id: GoogleProtobufEmpty
      properties: {}
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest:
      description: Request to create a Field within a Label.
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest
      properties:
        field:
          description: Required. Field to create.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2Field'
      type: object
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse:
      description: Response following Field enable.
      type: object
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse
      properties: {}
    GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest:
      type: object
      properties:
        labelPermission:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelPermission'
          description: Required. The permission to create or update on the Label.
        parent:
          description: Required. The parent Label resource name.
          type: string
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
      description: >-
        Updates a Label Permission. Permissions affect the Label resource as a
        whole, are not revisioned, and do not require publishing.
      id: GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest
    GoogleAppsDriveLabelsV2FieldDisplayHints:
      description: UI display hints for rendering a field.
      id: GoogleAppsDriveLabelsV2FieldDisplayHints
      type: object
      properties:
        disabled:
          description: Whether the field should be shown in the UI as disabled.
          type: boolean
        hiddenInSearch:
          description: >-
            This field should be hidden in the search menu when searching for
            Drive items.
          type: boolean
        shownInApply:
          type: boolean
          description: >-
            This field should be shown in the apply menu when applying values to
            a Drive item.
        required:
          type: boolean
          description: Whether the field should be shown as required in the UI.
    GoogleTypeDate:
      description: >-
        Represents a whole or partial calendar date, such as a birthday. The
        time of day and time zone are either specified elsewhere or are
        insignificant. The date is relative to the Gregorian Calendar. This can
        represent one of the following: * A full date, with non-zero year,
        month, and day values. * A month and day, with a zero year (for example,
        an anniversary). * A year on its own, with a zero month and a zero day.
        * A year and month, with a zero day (for example, a credit card
        expiration date). Related types: * google.type.TimeOfDay *
        google.type.DateTime * google.protobuf.Timestamp
      properties:
        year:
          format: int32
          type: integer
          description: >-
            Year of the date. Must be from 1 to 9999, or 0 to specify a date
            without a year.
        day:
          format: int32
          type: integer
          description: >-
            Day of a month. Must be from 1 to 31 and valid for the year and
            month, or 0 to specify a year by itself or a year and month where
            the day isn't significant.
        month:
          format: int32
          type: integer
          description: >-
            Month of a year. Must be from 1 to 12, or 0 to specify a year
            without a month and day.
      id: GoogleTypeDate
      type: object
    GoogleAppsDriveLabelsV2ListLabelsResponse:
      type: object
      id: GoogleAppsDriveLabelsV2ListLabelsResponse
      description: Response for listing Labels.
      properties:
        labels:
          type: array
          description: Labels.
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2Label'
        nextPageToken:
          type: string
          description: The token of the next page in the response.
    GoogleAppsDriveLabelsV2DisableLabelRequest:
      id: GoogleAppsDriveLabelsV2DisableLabelRequest
      description: Request to deprecate a published Label.
      type: object
      properties:
        writeControl:
          description: >-
            Provides control over how write requests are executed. Defaults to
            unset, which means last write wins.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2WriteControl'
        languageCode:
          description: >-
            The BCP-47 language code to use for evaluating localized field
            labels. When not specified, values in the default configured
            language will be used.
          type: string
        disabledPolicy:
          description: Disabled policy to use.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LifecycleDisabledPolicy'
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
        updateMask:
          format: google-fieldmask
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `disabled_policy` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
          type: string
    GoogleAppsDriveLabelsV2FieldSelectionOptions:
      description: Options for the selection field type.
      id: GoogleAppsDriveLabelsV2FieldSelectionOptions
      type: object
      properties:
        choices:
          description: >-
            The options available for this selection field. The list order is
            consistent, and modified with `insert_before_choice`.
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice
          type: array
        listOptions:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldListOptions'
          description: >-
            When specified, indicates this field supports a list of values. Once
            the field is published, this cannot be changed.
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest:
      type: object
      properties:
        requests:
          description: >-
            A list of updates to apply to the Label. Requests will be applied in
            the order they are specified.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest
        writeControl:
          description: Provides control over how write requests are executed.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2WriteControl'
        useAdminAccess:
          type: boolean
          description: >-
            Set to `true` in order to use the user's admin credentials. The
            server will verify the user is an admin for the Label before
            allowing access.
        view:
          description: >-
            When specified, only certain fields belonging to the indicated view
            will be returned.
          enum:
            - LABEL_VIEW_BASIC
            - LABEL_VIEW_FULL
          enumDescriptions:
            - >-
              Implies the field mask:
              `name,id,revision_id,label_type,properties.*`
            - All possible fields.
          type: string
        languageCode:
          description: >-
            The BCP-47 language code to use for evaluating localized Field
            labels when `include_label_in_response` is `true`.
          type: string
      description: >-
        The set of requests for updating aspects of a Label. If any request is
        not valid, no requests will be applied.
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest
    GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy:
      id: GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy
      type: object
      properties:
        copyMode:
          enum:
            - COPY_MODE_UNSPECIFIED
            - DO_NOT_COPY
            - ALWAYS_COPY
            - COPY_APPLIABLE
          type: string
          enumDescriptions:
            - Copy mode unspecified.
            - >-
              The applied label and field values are not copied by default when
              the Drive item it's applied to is copied.
            - >-
              The applied label and field values are always copied when the
              Drive item it's applied to is copied. Only admins can use this
              mode.
            - >-
              The applied label and field values are copied if the label is
              appliable by the user making the copy.
          description: >-
            Indicates how the applied label and field values should be copied
            when a Drive item is copied.
      description: Behavior of this label when it's applied to Drive items.
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest:
      properties:
        id:
          description: Required. ID of the Field to delete.
          type: string
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest
      type: object
      description: Request to delete the Field.
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse:
      type: object
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse
      description: Response following Field delete.
      properties: {}
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest:
      type: object
      properties:
        choice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice
          description: Required. The Choice to create.
        fieldId:
          type: string
          description: Required. The Selection Field in which a Choice will be created.
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest
      description: Request to create a Selection Choice.
    GoogleAppsDriveLabelsV2Lifecycle:
      id: GoogleAppsDriveLabelsV2Lifecycle
      type: object
      description: >-
        The lifecycle state of an object, such as label, field, or choice. The
        lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT`
        (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` *
        `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` *
        `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and
        disabled states have some distinct characteristics: * Published—Some
        kinds of changes might be made to an object in this state, in which case
        `has_unpublished_changes` will be true. Also, some kinds of changes are
        not permitted. Generally, any change that would invalidate or cause new
        restrictions on existing metadata related to the label are rejected. *
        Disabled—When disabled, the configured `DisabledPolicy` takes effect.
      properties:
        disabledPolicy:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LifecycleDisabledPolicy'
          description: >-
            The policy that governs how to show a disabled label, field, or
            selection choice.
        hasUnpublishedChanges:
          type: boolean
          description: >-
            Output only. Whether the object associated with this lifecycle has
            unpublished changes.
          readOnly: true
        state:
          description: Output only. The state of the object associated with this lifecycle.
          type: string
          enumDescriptions:
            - Unknown State.
            - >-
              The initial state of an object. Once published, the object can
              never return to this state. Once an object is published, certain
              kinds of changes are no longer permitted.
            - >-
              The object has been published. The object might have unpublished
              draft changes as indicated by `has_unpublished_changes`.
            - >-
              The object has been published and has since been disabled. The
              object might have unpublished draft changes as indicated by
              `has_unpublished_changes`.
            - The object has been deleted.
          enum:
            - STATE_UNSPECIFIED
            - UNPUBLISHED_DRAFT
            - PUBLISHED
            - DISABLED
            - DELETED
          readOnly: true
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse:
      properties:
        deleteField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse
          description: Deletes a Field from the label.
        updateFieldType:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse
          description: Update Field type and/or type options.
        enableField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse
          description: Enables Field.
        createField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse
          description: Creates a new Field.
        disableField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse
          description: Disables Field.
        updateSelectionChoiceProperties:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse
          description: Updates a Choice within a Selection Field.
        deleteSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse
          description: Deletes a Choice from a Selection Field.
        createSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse
          description: Creates a new selection list option to add to a Selection Field.
        enableSelectionChoice:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse
          description: Enables a Choice within a Selection Field.
        updateLabel:
          description: Updated basic properties of a Label.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse
        disableSelectionChoice:
          description: Disables a Choice within a Selection Field.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse
        updateField:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse
          description: Updates basic properties of a Field.
      id: GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse
      description: A single response from an update.
      type: object
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse:
      type: object
      description: Response following Selection Choice create.
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse
      properties:
        fieldId:
          description: The server-generated id of the field.
          type: string
        id:
          description: The server-generated ID of the created choice within the Field
          type: string
    GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities:
      id: GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities
      description: The capabilities related to this choice on applied metadata.
      type: object
      properties:
        canSelect:
          type: boolean
          description: Whether the user can select this choice on an item.
        canRead:
          type: boolean
          description: Whether the user can read related applied metadata on items.
        canSearch:
          description: Whether the user can use this choice in search queries.
          type: boolean
    GoogleAppsDriveLabelsV2BadgeColors:
      description: >-
        The color derived from BadgeConfig and changed to the closest
        recommended supported color.
      type: object
      properties:
        foregroundColor:
          description: Output only. Badge foreground that pairs with the background.
          readOnly: true
          $ref: '#/components/schemas/GoogleTypeColor'
        backgroundColor:
          readOnly: true
          $ref: '#/components/schemas/GoogleTypeColor'
          description: Output only. Badge background that pairs with the foreground.
        soloColor:
          readOnly: true
          description: Output only. Color that can be used for text without a background.
          $ref: '#/components/schemas/GoogleTypeColor'
      id: GoogleAppsDriveLabelsV2BadgeColors
    GoogleTypeColor:
      type: object
      properties:
        green:
          type: number
          description: The amount of green in the color as a value in the interval [0, 1].
          format: float
        blue:
          format: float
          type: number
          description: The amount of blue in the color as a value in the interval [0, 1].
        alpha:
          description: >-
            The fraction of this color that should be applied to the pixel. That
            is, the final pixel color is defined by the equation: `pixel color =
            alpha * (this color) + (1.0 - alpha) * (background color)` This
            means that a value of 1.0 corresponds to a solid color, whereas a
            value of 0.0 corresponds to a completely transparent color. This
            uses a wrapper message rather than a simple float scalar so that it
            is possible to distinguish between a default value and the value
            being unset. If omitted, this color object is rendered as a solid
            color (as if the alpha value had been explicitly given a value of
            1.0).
          format: float
          type: number
        red:
          format: float
          type: number
          description: The amount of red in the color as a value in the interval [0, 1].
      id: GoogleTypeColor
      description: >-
        Represents a color in the RGBA color space. This representation is
        designed for simplicity of conversion to and from color representations
        in various languages over compactness. For example, the fields of this
        representation can be trivially provided to the constructor of
        `java.awt.Color` in Java; it can also be trivially provided to UIColor's
        `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little
        work, it can be easily formatted into a CSS `rgba()` string in
        JavaScript. This reference page doesn't have information about the
        absolute color space that should be used to interpret the RGB value—for
        example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications
        should assume the sRGB color space. When color equality needs to be
        decided, implementations, unless documented otherwise, treat two colors
        as equal if all their red, green, blue, and alpha values each differ by
        at most `1e-5`. Example (Java): import com.google.type.Color; // ...
        public static java.awt.Color fromProto(Color protocolor) { float alpha =
        protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return
        new java.awt.Color( protocolor.getRed(), protocolor.getGreen(),
        protocolor.getBlue(), alpha); } public static Color
        toProto(java.awt.Color color) { float red = (float) color.getRed();
        float green = (float) color.getGreen(); float blue = (float)
        color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder
        = Color .newBuilder() .setRed(red / denominator) .setGreen(green /
        denominator) .setBlue(blue / denominator); int alpha = color.getAlpha();
        if (alpha != 255) { result.setAlpha( FloatValue .newBuilder()
        .setValue(((float) alpha) / denominator) .build()); } return
        resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static
        UIColor* fromProto(Color* protocolor) { float red = [protocolor red];
        float green = [protocolor green]; float blue = [protocolor blue];
        FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if
        (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return
        [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static
        Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if
        (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return
        nil; } Color* result = [[Color alloc] init]; [result setRed:red];
        [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) {
        [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease];
        return result; } // ... Example (JavaScript): // ... var protoToCssColor
        = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var
        greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue ||
        0.0; var red = Math.floor(redFrac * 255); var green =
        Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if
        (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); }
        var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red,
        green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac,
        ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var
        rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString
        = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var
        resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) {
        resultBuilder.push('0'); } resultBuilder.push(hexString); return
        resultBuilder.join(''); }; // ...
    GoogleAppsDriveLabelsV2TextLimits:
      id: GoogleAppsDriveLabelsV2TextLimits
      properties:
        maxLength:
          type: integer
          format: int32
          description: Maximum length allowed for a text Field type.
        minLength:
          description: Minimum length allowed for a text Field type.
          type: integer
          format: int32
      type: object
      description: Limits for text Field type.
    GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse:
      properties: {}
      type: object
      description: Response following Choice enable.
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse
    GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest:
      properties:
        id:
          description: Required. The Field to update.
          type: string
        properties:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2FieldProperties'
          description: Required. Basic Field properties.
        updateMask:
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root `properties` is implied and should not be
            specified. A single `*` can be used as short-hand for updating every
            field.
          type: string
          format: google-fieldmask
      description: Request to update Field properties.
      id: >-
        GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest
      type: object
    GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse:
      properties:
        permissions:
          type: array
          description: Required. Permissions updated.
          items:
            $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelPermission'
      id: GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse
      type: object
      description: Response for updating one or more Label Permissions.
    GoogleAppsDriveLabelsV2LongTextLimits:
      description: Limits for long text Field type.
      id: GoogleAppsDriveLabelsV2LongTextLimits
      type: object
      properties:
        maxLength:
          description: Maximum length allowed for a long text Field type.
          format: int32
          type: integer
        minLength:
          description: Minimum length allowed for a long text Field type.
          type: integer
          format: int32
    GoogleAppsDriveLabelsV2FieldAppliedCapabilities:
      properties:
        canSearch:
          description: Whether the user can search for Drive items referencing this field.
          type: boolean
        canRead:
          description: Whether the user can read related applied metadata on items.
          type: boolean
        canWrite:
          description: Whether the user can set this field on Drive items.
          type: boolean
      description: The capabilities related to this field on applied metadata.
      id: GoogleAppsDriveLabelsV2FieldAppliedCapabilities
      type: object
    GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice:
      properties:
        properties:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties
          description: Basic properties of the choice.
        lifecycle:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2Lifecycle'
          readOnly: true
          description: Output only. Lifecycle of the choice.
        updateTime:
          description: Output only. The time this choice was updated last.
          readOnly: true
          format: google-datetime
          type: string
        publisher:
          readOnly: true
          description: >-
            Output only. The user who published this choice. This value has no
            meaning when the choice is not published.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
        publishTime:
          readOnly: true
          description: >-
            Output only. The time this choice was published. This value has no
            meaning when the choice is not published.
          format: google-datetime
          type: string
        displayHints:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints
          readOnly: true
          description: Output only. UI display hints for rendering a choice.
        disableTime:
          format: google-datetime
          type: string
          readOnly: true
          description: >-
            Output only. The time this choice was disabled. This value has no
            meaning when the choice is not disabled.
        lockStatus:
          description: Output only. The LockStatus of this choice.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LockStatus'
          readOnly: true
        schemaCapabilities:
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities
          readOnly: true
          description: >-
            Output only. The capabilities related to this option when editing
            the option.
        disabler:
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
          readOnly: true
          description: >-
            Output only. The user who disabled this choice. This value has no
            meaning when the option is not disabled.
        updater:
          description: Output only. The user who updated this choice last.
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
          readOnly: true
        id:
          description: >-
            The unique value of the choice. This ID is autogenerated. Matches
            the regex: `([a-zA-Z0-9_])+`.
          type: string
        createTime:
          type: string
          format: google-datetime
          readOnly: true
          description: Output only. The time this choice was created.
        creator:
          description: Output only. The user who created this choice.
          readOnly: true
          $ref: '#/components/schemas/GoogleAppsDriveLabelsV2UserInfo'
        appliedCapabilities:
          readOnly: true
          description: >-
            Output only. The capabilities related to this choice on applied
            metadata.
          $ref: >-
            #/components/schemas/GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities
      type: object
      id: GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice
      description: Selection field choice.
    GoogleAppsDriveLabelsV2FieldIntegerOptions:
      id: GoogleAppsDriveLabelsV2FieldIntegerOptions
      type: object
      properties:
        minValue:
          type: string
          description: Output only. The minimum valid value for the integer field.
          readOnly: true
          format: int64
        maxValue:
          format: int64
          description: Output only. The maximum valid value for the integer field.
          readOnly: true
          type: string
      description: Options for the Integer field type.
  parameters:
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/drive.activity: View and add to the activity record of files in your Google Drive
            https://www.googleapis.com/auth/drive.activity.readonly: View the activity record of files in your Google Drive
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v2/limits/label:
    parameters: &ref_1
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/callback'
    get:
      description: >-
        Get the constraints on the structure of a Label; such as, the maximum
        number of Fields allowed and maximum length of the label title.
      operationId: drivelabels.limits.getLabel
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelLimits'
      parameters:
        - in: query
          name: name
          schema:
            type: string
      x-stackQL-resource: limits__label
      x-stackQL-verb: select
  /v2/labels/{labelsId}/locks:
    parameters: *ref_1
    get:
      description: Lists the LabelLocks on a Label.
      operationId: drivelabels.labels.locks.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2ListLabelLocksResponse
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: locks
      x-stackQL-verb: select
  /v2/labels/{labelsId}/revisions/{revisionsId}/permissions:
    parameters: *ref_1
    patch:
      description: >-
        Updates a Label's permissions. If a permission for the indicated
        principal doesn't exist, a new Label Permission is created, otherwise
        the existing permission is updated. Permissions affect the Label
        resource as a whole, are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.revisions.updatePermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelPermission'
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelPermission'
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: path
          name: revisionsId
          required: true
          schema:
            type: string
        - in: query
          name: useAdminAccess
          schema:
            type: boolean
      x-stackQL-resource: revisions
      x-stackQL-verb: exec
    post:
      description: >-
        Updates a Label's permissions. If a permission for the indicated
        principal doesn't exist, a new Label Permission is created, otherwise
        the existing permission is updated. Permissions affect the Label
        resource as a whole, are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.revisions.permissions.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelPermission'
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAppsDriveLabelsV2LabelPermission'
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: path
          name: revisionsId
          required: true
          schema:
            type: string
        - in: query
          name: useAdminAccess
          schema:
            type: boolean
      x-stackQL-resource: permissions
      x-stackQL-verb: insert
    get:
      description: Lists a Label's permissions.
      operationId: drivelabels.labels.revisions.permissions.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2ListLabelPermissionsResponse
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: path
          name: revisionsId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: useAdminAccess
          schema:
            type: boolean
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: permissions
      x-stackQL-verb: select
  /v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate:
    parameters: *ref_1
    post:
      description: >-
        Updates Label permissions. If a permission for the indicated principal
        doesn't exist, a new Label Permission is created, otherwise the existing
        permission is updated. Permissions affect the Label resource as a whole,
        are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.revisions.permissions.batchUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: path
          name: revisionsId
          required: true
          schema:
            type: string
      x-stackQL-resource: permissions
      x-stackQL-verb: exec
  /v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete:
    parameters: *ref_1
    post:
      description: >-
        Deletes Label permissions. Permissions affect the Label resource as a
        whole, are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.revisions.permissions.batchDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: path
          name: revisionsId
          required: true
          schema:
            type: string
      x-stackQL-resource: permissions
      x-stackQL-verb: delete
  /v2/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}:
    parameters: *ref_1
    delete:
      description: >-
        Deletes a Label's permission. Permissions affect the Label resource as a
        whole, are not revisioned, and do not require publishing.
      operationId: drivelabels.labels.revisions.permissions.delete
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: path
          name: revisionsId
          required: true
          schema:
            type: string
        - in: path
          name: permissionsId
          required: true
          schema:
            type: string
        - in: query
          name: useAdminAccess
          schema:
            type: boolean
      x-stackQL-resource: permissions
      x-stackQL-verb: delete
  /v2/labels/{labelsId}/revisions/{revisionsId}/locks:
    parameters: *ref_1
    get:
      description: Lists the LabelLocks on a Label.
      operationId: drivelabels.labels.revisions.locks.list
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleAppsDriveLabelsV2ListLabelLocksResponse
      parameters:
        - in: path
          name: labelsId
          required: true
          schema:
            type: string
        - in: path
          name: revisionsId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: locks
      x-stackQL-verb: select
  /v2/labels/{labelsId}/permissions:batchUpdate:
    parameters: *ref_1
    post:
      description: >-
[...]
