openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Recommender API
  description: ''
  version: v1beta1
  x-discovery-doc-revision: '20230612'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/recommender/docs/
servers:
  - url: https://recommender.googleapis.com
components:
  schemas:
    GoogleCloudRecommenderV1beta1InsightStateInfo:
      id: GoogleCloudRecommenderV1beta1InsightStateInfo
      properties:
        state:
          description: Insight state.
          enumDescriptions:
            - Unspecified state.
            - >-
              Insight is active. Content for ACTIVE insights can be updated by
              Google. ACTIVE insights can be marked DISMISSED OR ACCEPTED.
            - >-
              Some action has been taken based on this insight. Insights become
              accepted when a recommendation derived from the insight has been
              marked CLAIMED, SUCCEEDED, or FAILED. ACTIVE insights can also be
              marked ACCEPTED explicitly. Content for ACCEPTED insights is
              immutable. ACCEPTED insights can only be marked ACCEPTED (which
              may update state metadata).
            - >-
              Insight is dismissed. Content for DISMISSED insights can be
              updated by Google. DISMISSED insights can be marked as ACTIVE.
          type: string
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - ACCEPTED
            - DISMISSED
        stateMetadata:
          description: >-
            A map of metadata for the state, provided by user or automations
            systems.
          additionalProperties:
            type: string
          type: object
      type: object
      description: Information related to insight state.
    GoogleCloudRecommenderV1beta1InsightRecommendationReference:
      properties:
        recommendation:
          description: >-
            Recommendation resource name, e.g.
            projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/recommendations/[RECOMMENDATION_ID]
          type: string
      type: object
      description: Reference to an associated recommendation.
      id: GoogleCloudRecommenderV1beta1InsightRecommendationReference
    GoogleCloudRecommenderV1beta1ReliabilityProjection:
      properties:
        risks:
          items:
            enum:
              - RISK_TYPE_UNSPECIFIED
              - SERVICE_DISRUPTION
              - DATA_LOSS
              - ACCESS_DENY
            enumDescriptions:
              - Default unspecified risk. Don't use directly.
              - Potential service downtime.
              - Potential data loss.
              - >-
                Potential access denial. The service is still up but some or all
                clients can't access it.
            type: string
          type: array
          description: Reliability risks mitigated by this recommendation.
        details:
          additionalProperties:
            description: Properties of the object.
            type: any
          description: Per-recommender projection.
          type: object
      type: object
      id: GoogleCloudRecommenderV1beta1ReliabilityProjection
      description: Contains information on the impact of a reliability recommendation.
    GoogleCloudRecommenderV1beta1RecommenderType:
      properties:
        name:
          description: >-
            The recommender's name in format RecommenderTypes/{recommender_type}
            eg: recommenderTypes/google.iam.policy.Recommender
          type: string
      id: GoogleCloudRecommenderV1beta1RecommenderType
      description: >-
        The type of a recommender. See
        google3/googledata/devsite/site-cloud/en/recommender/docs/recommenders.md
        for more info.
      type: object
    GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest:
      id: GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest
      type: object
      description: Request for the `MarkRecommendationSucceeded` Method.
      properties:
        etag:
          type: string
          description: >-
            Required. Fingerprint of the Recommendation. Provides optimistic
            locking.
        stateMetadata:
          additionalProperties:
            type: string
          type: object
          description: >-
            State properties to include with this state. Overwrites any existing
            `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`.
            Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.
    GoogleCloudRecommenderV1beta1RecommendationContent:
      type: object
      description: Contains what resources are changing and how they are changing.
      properties:
        overview:
          description: Condensed overview information about the recommendation.
          additionalProperties:
            description: Properties of the object.
            type: any
          type: object
        operationGroups:
          type: array
          description: >-
            Operations to one or more Google Cloud resources grouped in such a
            way that, all operations within one group are expected to be
            performed atomically and in an order.
          items:
            $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1OperationGroup'
      id: GoogleCloudRecommenderV1beta1RecommendationContent
    GoogleCloudRecommenderV1beta1RecommenderConfig:
      description: Configuration for a Recommender.
      id: GoogleCloudRecommenderV1beta1RecommenderConfig
      type: object
      properties:
        etag:
          type: string
          description: >-
            Fingerprint of the RecommenderConfig. Provides optimistic locking
            when updating.
        displayName:
          type: string
          description: >-
            A user-settable field to provide a human-readable name to be used in
            user interfaces.
        updateTime:
          description: Last time when the config was updated.
          format: google-datetime
          type: string
        name:
          description: >-
            Name of recommender config. Eg,
            projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config
          type: string
        recommenderGenerationConfig:
          description: >-
            RecommenderGenerationConfig which configures the Generation of
            recommendations for this recommender.
          $ref: >-
            #/components/schemas/GoogleCloudRecommenderV1beta1RecommenderGenerationConfig
        revisionId:
          description: >-
            Output only. Immutable. The revision ID of the config. A new
            revision is committed whenever the config is changed in any way. The
            format is an 8-character hexadecimal string.
          readOnly: true
          type: string
        annotations:
          type: object
          additionalProperties:
            type: string
          description: >-
            Allows clients to store small amounts of arbitrary data. Annotations
            must follow the Kubernetes syntax. The total size of all keys and
            values combined is limited to 256k. Key can have 2 segments: prefix
            (optional) and name (required), separated by a slash (/). Prefix
            must be a DNS subdomain. Name must be 63 characters or less, begin
            and end with alphanumerics, with dashes (-), underscores (_), dots
            (.), and alphanumerics between.
    GoogleCloudRecommenderV1beta1ValueMatcher:
      id: GoogleCloudRecommenderV1beta1ValueMatcher
      description: Contains various matching options for values for a GCP resource field.
      type: object
      properties:
        matchesPattern:
          type: string
          description: >-
            To be used for full regex matching. The regular expression is using
            the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax),
            so to be used with RE2::FullMatch
    GoogleCloudRecommenderV1beta1RecommendationStateInfo:
      id: GoogleCloudRecommenderV1beta1RecommendationStateInfo
      properties:
        state:
          enumDescriptions:
            - Default state. Don't use directly.
            - >-
              Recommendation is active and can be applied. Recommendations
              content can be updated by Google. ACTIVE recommendations can be
              marked as CLAIMED, SUCCEEDED, or FAILED.
            - >-
              Recommendation is in claimed state. Recommendations content is
              immutable and cannot be updated by Google. CLAIMED recommendations
              can be marked as CLAIMED, SUCCEEDED, or FAILED.
            - >-
              Recommendation is in succeeded state. Recommendations content is
              immutable and cannot be updated by Google. SUCCEEDED
              recommendations can be marked as SUCCEEDED, or FAILED.
            - >-
              Recommendation is in failed state. Recommendations content is
              immutable and cannot be updated by Google. FAILED recommendations
              can be marked as SUCCEEDED, or FAILED.
            - >-
              Recommendation is in dismissed state. Recommendation content can
              be updated by Google. DISMISSED recommendations can be marked as
              ACTIVE.
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - CLAIMED
            - SUCCEEDED
            - FAILED
            - DISMISSED
          description: The state of the recommendation, Eg ACTIVE, SUCCEEDED, FAILED.
          type: string
        stateMetadata:
          description: >-
            A map of metadata for the state, provided by user or automations
            systems.
          type: object
          additionalProperties:
            type: string
      type: object
      description: Information for state. Contains state and metadata.
    GoogleCloudRecommenderV1beta1InsightTypeConfig:
      properties:
        displayName:
          description: >-
            A user-settable field to provide a human-readable name to be used in
            user interfaces.
          type: string
        annotations:
          description: >-
            Allows clients to store small amounts of arbitrary data. Annotations
            must follow the Kubernetes syntax. The total size of all keys and
            values combined is limited to 256k. Key can have 2 segments: prefix
            (optional) and name (required), separated by a slash (/). Prefix
            must be a DNS subdomain. Name must be 63 characters or less, begin
            and end with alphanumerics, with dashes (-), underscores (_), dots
            (.), and alphanumerics between.
          additionalProperties:
            type: string
          type: object
        etag:
          description: >-
            Fingerprint of the InsightTypeConfig. Provides optimistic locking
            when updating.
          type: string
        name:
          type: string
          description: >-
            Name of insight type config. Eg,
            projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config
        revisionId:
          type: string
          description: >-
            Output only. Immutable. The revision ID of the config. A new
            revision is committed whenever the config is changed in any way. The
            format is an 8-character hexadecimal string.
          readOnly: true
        insightTypeGenerationConfig:
          $ref: >-
            #/components/schemas/GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig
          description: >-
            InsightTypeGenerationConfig which configures the generation of
            insights for this insight type.
        updateTime:
          format: google-datetime
          description: Last time when the config was updated.
          type: string
      type: object
      description: Configuration for an InsightType.
      id: GoogleCloudRecommenderV1beta1InsightTypeConfig
    GoogleCloudRecommenderV1beta1SustainabilityProjection:
      type: object
      id: GoogleCloudRecommenderV1beta1SustainabilityProjection
      description: >-
        Contains metadata about how much sustainability a recommendation can
        save or incur.
      properties:
        duration:
          type: string
          format: google-duration
          description: Duration for which this sustanability applies.
        kgCO2e:
          format: double
          type: number
          description: >-
            Carbon Footprint generated in kg of CO2 equivalent. Chose kg_c_o2e
            so that the name renders correctly in camelCase (kgCO2e).
    GoogleCloudRecommenderV1beta1RecommendationInsightReference:
      id: GoogleCloudRecommenderV1beta1RecommendationInsightReference
      properties:
        insight:
          type: string
          description: >-
            Insight resource name, e.g.
            projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]
      description: Reference to an associated insight.
      type: object
    GoogleCloudRecommenderV1beta1OperationGroup:
      properties:
        operations:
          items:
            $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Operation'
          type: array
          description: >-
            List of operations across one or more resources that belong to this
            group. Loosely based on RFC6902 and should be performed in the order
            they appear.
      description: Group of operations that need to be performed atomically.
      type: object
      id: GoogleCloudRecommenderV1beta1OperationGroup
    GoogleCloudRecommenderV1beta1ListRecommendationsResponse:
      id: GoogleCloudRecommenderV1beta1ListRecommendationsResponse
      properties:
        nextPageToken:
          type: string
          description: >-
            A token that can be used to request the next page of results. This
            field is empty if there are no additional results.
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Recommendation'
          description: The set of recommendations for the `parent` resource.
      description: Response to the `ListRecommendations` method.
      type: object
    GoogleCloudRecommenderV1beta1InsightType:
      properties:
        name:
          type: string
          description: >-
            The insight_type’s name in format insightTypes/{insight_type} eg:
            insightTypes/google.iam.policy.Insight
      id: GoogleCloudRecommenderV1beta1InsightType
      type: object
      description: >-
        The type of insight. See
        google3/googledata/devsite/site-cloud/en/recommender/docs/insights/insight-types.md
        for more info.
    GoogleTypeMoney:
      type: object
      properties:
        currencyCode:
          description: The three-letter currency code defined in ISO 4217.
          type: string
        nanos:
          description: >-
            Number of nano (10^-9) units of the amount. The value must be
            between -999,999,999 and +999,999,999 inclusive. If `units` is
            positive, `nanos` must be positive or zero. If `units` is zero,
            `nanos` can be positive, zero, or negative. If `units` is negative,
            `nanos` must be negative or zero. For example $-1.75 is represented
            as `units`=-1 and `nanos`=-750,000,000.
          type: integer
          format: int32
        units:
          format: int64
          type: string
          description: >-
            The whole units of the amount. For example if `currencyCode` is
            `"USD"`, then 1 unit is one US dollar.
      id: GoogleTypeMoney
      description: Represents an amount of money with its currency type.
    GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest:
      description: Request for the `MarkRecommendationFailed` Method.
      id: GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest
      properties:
        stateMetadata:
          description: >-
            State properties to include with this state. Overwrites any existing
            `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`.
            Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.
          additionalProperties:
            type: string
          type: object
        etag:
          type: string
          description: >-
            Required. Fingerprint of the Recommendation. Provides optimistic
            locking.
      type: object
    GoogleCloudRecommenderV1beta1Insight:
      description: >-
        An insight along with the information used to derive the insight. The
        insight may have associated recommendations as well.
      type: object
      id: GoogleCloudRecommenderV1beta1Insight
      properties:
        stateInfo:
          description: Information state and metadata.
          $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1InsightStateInfo'
        targetResources:
          type: array
          description: Fully qualified resource names that this insight is targeting.
          items:
            type: string
        observationPeriod:
          type: string
          format: google-duration
          description: >-
            Observation period that led to the insight. The source data used to
            generate the insight ends at last_refresh_time and begins at
            (last_refresh_time - observation_period).
        content:
          type: object
          additionalProperties:
            type: any
            description: Properties of the object.
          description: >-
            A struct of custom fields to explain the insight. Example:
            "grantedPermissionsCount": "1000"
        severity:
          description: Insight's severity.
          enumDescriptions:
            - Insight has unspecified severity.
            - Insight has low severity.
            - Insight has medium severity.
            - Insight has high severity.
            - Insight has critical severity.
          type: string
          enum:
            - SEVERITY_UNSPECIFIED
            - LOW
            - MEDIUM
            - HIGH
            - CRITICAL
        associatedRecommendations:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudRecommenderV1beta1InsightRecommendationReference
          description: Recommendations derived from this insight.
          type: array
        lastRefreshTime:
          type: string
          format: google-datetime
          description: Timestamp of the latest data used to generate the insight.
        name:
          description: Name of the insight.
          type: string
        category:
          enum:
            - CATEGORY_UNSPECIFIED
            - COST
            - SECURITY
            - PERFORMANCE
            - MANAGEABILITY
            - SUSTAINABILITY
            - RELIABILITY
          type: string
          enumDescriptions:
            - Unspecified category.
            - The insight is related to cost.
            - The insight is related to security.
            - The insight is related to performance.
            - This insight is related to manageability.
            - The insight is related to sustainability.
            - The insight is related to reliability.
          description: Category being targeted by the insight.
        insightSubtype:
          type: string
          description: >-
            Insight subtype. Insight content schema will be stable for a given
            subtype.
        description:
          type: string
          description: >-
            Free-form human readable summary in English. The maximum length is
            500 characters.
        etag:
          description: >-
            Fingerprint of the Insight. Provides optimistic locking when
            updating states.
          type: string
    GoogleCloudRecommenderV1beta1Impact:
      description: Contains the impact a recommendation can have for a given category.
      type: object
      properties:
        costProjection:
          $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1CostProjection'
          description: Use with CategoryType.COST
        category:
          enumDescriptions:
            - Default unspecified category. Don't use directly.
            - Indicates a potential increase or decrease in cost.
            - Indicates a potential increase or decrease in security.
            - Indicates a potential increase or decrease in performance.
            - Indicates a potential increase or decrease in manageability.
            - Indicates a potential increase or decrease in sustainability.
            - Indicates a potential increase or decrease in reliability.
          enum:
            - CATEGORY_UNSPECIFIED
            - COST
            - SECURITY
            - PERFORMANCE
            - MANAGEABILITY
            - SUSTAINABILITY
            - RELIABILITY
          description: Category that is being targeted.
          type: string
        securityProjection:
          description: Use with CategoryType.SECURITY
          $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1SecurityProjection'
        sustainabilityProjection:
          $ref: >-
            #/components/schemas/GoogleCloudRecommenderV1beta1SustainabilityProjection
          description: Use with CategoryType.SUSTAINABILITY
        reliabilityProjection:
          $ref: >-
            #/components/schemas/GoogleCloudRecommenderV1beta1ReliabilityProjection
          description: Use with CategoryType.RELIABILITY
      id: GoogleCloudRecommenderV1beta1Impact
    GoogleCloudRecommenderV1beta1SecurityProjection:
      id: GoogleCloudRecommenderV1beta1SecurityProjection
      properties:
        details:
          type: object
          additionalProperties:
            description: Properties of the object.
            type: any
          description: >-
            This field can be used by the recommender to define details specific
            to security impact.
      type: object
      description: Contains various ways of describing the impact on Security.
    GoogleCloudRecommenderV1beta1Recommendation:
      type: object
      properties:
        recommenderSubtype:
          description: >-
            Contains an identifier for a subtype of recommendations produced for
            the same recommender. Subtype is a function of content and impact,
            meaning a new subtype might be added when significant changes to
            `content` or `primary_impact.category` are introduced. See the
            Recommenders section to see a list of subtypes for a given
            Recommender. Examples: For recommender =
            "google.iam.policy.Recommender", recommender_subtype can be one of
            "REMOVE_ROLE"/"REPLACE_ROLE"
          type: string
        etag:
          description: >-
            Fingerprint of the Recommendation. Provides optimistic locking when
            updating states.
          type: string
        primaryImpact:
          $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Impact'
          description: >-
            The primary impact that this recommendation can have while trying to
            optimize for one category.
        stateInfo:
          $ref: >-
            #/components/schemas/GoogleCloudRecommenderV1beta1RecommendationStateInfo
          description: Information for state. Contains state and metadata.
        lastRefreshTime:
          format: google-datetime
          description: >-
            Last time this recommendation was refreshed by the system that
            created it in the first place.
          type: string
        additionalImpact:
          description: >-
            Optional set of additional impact that this recommendation may have
            when trying to optimize for the primary category. These may be
            positive or negative.
          items:
            $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Impact'
          type: array
        content:
          $ref: >-
            #/components/schemas/GoogleCloudRecommenderV1beta1RecommendationContent
          description: >-
            Content of the recommendation describing recommended changes to
            resources.
        priority:
          enumDescriptions:
            - Recommendation has unspecified priority.
            - Recommendation has P4 priority (lowest priority).
            - Recommendation has P3 priority (second lowest priority).
            - Recommendation has P2 priority (second highest priority).
            - Recommendation has P1 priority (highest priority).
          description: Recommendation's priority.
          type: string
          enum:
            - PRIORITY_UNSPECIFIED
            - P4
            - P3
            - P2
            - P1
        name:
          type: string
          description: Name of recommendation.
        description:
          type: string
          description: >-
            Free-form human readable summary in English. The maximum length is
            500 characters.
        associatedInsights:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudRecommenderV1beta1RecommendationInsightReference
          type: array
          description: Insights that led to this recommendation.
        xorGroupId:
          description: >-
            Corresponds to a mutually exclusive group ID within a recommender. A
            non-empty ID indicates that the recommendation belongs to a mutually
            exclusive group. This means that only one recommendation within the
            group is suggested to be applied.
          type: string
      id: GoogleCloudRecommenderV1beta1Recommendation
      description: >-
        A recommendation along with a suggested action. E.g., a rightsizing
        recommendation for an underutilized VM, IAM role recommendations, etc
    GoogleCloudRecommenderV1beta1RecommenderGenerationConfig:
      properties:
        params:
          description: >-
            Parameters for this RecommenderGenerationConfig. These configs can
            be used by or are applied to all subtypes.
          additionalProperties:
            type: any
            description: Properties of the object.
          type: object
      type: object
      description: >-
        A Configuration to customize the generation of recommendations. Eg,
        customizing the lookback period considered when generating a
        recommendation.
      id: GoogleCloudRecommenderV1beta1RecommenderGenerationConfig
    GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig:
      type: object
      properties:
        params:
          additionalProperties:
            description: Properties of the object.
            type: any
          description: >-
            Parameters for this InsightTypeGenerationConfig. These configs can
            be used by or are applied to all subtypes.
          type: object
      description: >-
        A configuration to customize the generation of insights. Eg, customizing
        the lookback period considered when generating a insight.
      id: GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig
    GoogleCloudRecommenderV1beta1CostProjection:
      description: >-
        Contains metadata about how much money a recommendation can save or
        incur.
      properties:
        duration:
          format: google-duration
          type: string
          description: Duration for which this cost applies.
        cost:
          description: >-
            An approximate projection on amount saved or amount incurred.
            Negative cost units indicate cost savings and positive cost units
            indicate increase. See google.type.Money documentation for
            positive/negative units. A user's permissions may affect whether the
            cost is computed using list prices or custom contract prices.
          $ref: '#/components/schemas/GoogleTypeMoney'
      type: object
      id: GoogleCloudRecommenderV1beta1CostProjection
    GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest:
      type: object
      properties:
        stateMetadata:
          type: object
          description: >-
            Optional. State properties user wish to include with this state.
            Full replace of the current state_metadata.
          additionalProperties:
            type: string
        etag:
          type: string
          description: Required. Fingerprint of the Insight. Provides optimistic locking.
      id: GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest
      description: Request for the `MarkInsightAccepted` method.
    GoogleCloudRecommenderV1beta1ListInsightTypesResponse:
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        insightTypes:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1InsightType'
          description: The set of recommenders available
      description: 'Response for the `ListInsightTypes` method. Next ID: 3'
      type: object
      id: GoogleCloudRecommenderV1beta1ListInsightTypesResponse
    GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest:
      properties:
        etag:
          description: >-
            Required. Fingerprint of the Recommendation. Provides optimistic
            locking.
          type: string
        stateMetadata:
          type: object
          description: >-
            State properties to include with this state. Overwrites any existing
            `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`.
            Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`.
          additionalProperties:
            type: string
      id: GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest
      type: object
      description: Request for the `MarkRecommendationClaimed` Method.
    GoogleCloudRecommenderV1beta1ListInsightsResponse:
      type: object
      properties:
        insights:
          items:
            $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Insight'
          description: The set of insights for the `parent` resource.
          type: array
        nextPageToken:
          description: >-
            A token that can be used to request the next page of results. This
            field is empty if there are no additional results.
          type: string
      description: Response to the `ListInsights` method.
      id: GoogleCloudRecommenderV1beta1ListInsightsResponse
    GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest:
      description: Request for the `MarkRecommendationDismissed` Method.
      properties:
        etag:
          type: string
          description: Fingerprint of the Recommendation. Provides optimistic locking.
      type: object
      id: GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest
    GoogleCloudRecommenderV1beta1ListRecommendersResponse:
      id: GoogleCloudRecommenderV1beta1ListRecommendersResponse
      description: 'Response for the `ListRecommender` method. Next ID: 3'
      properties:
        nextPageToken:
          description: >-
            A token, which can be sent as `page_token` to retrieve the next
            page. If this field is omitted, there are no subsequent pages.
          type: string
        recommenders:
          description: The set of recommenders available
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1RecommenderType'
      type: object
    GoogleCloudRecommenderV1beta1Operation:
      id: GoogleCloudRecommenderV1beta1Operation
      type: object
      description: >-
        Contains an operation for a resource loosely based on the JSON-PATCH
        format with support for: * Custom filters for describing partial array
        patch. * Extended path values for describing nested arrays. * Custom
        fields for describing the resource for which the operation is being
        described. * Allows extension to custom operations not natively
        supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for
        details on the original RFC.
      properties:
        value:
          description: >-
            Value for the `path` field. Will be set for actions:'add'/'replace'.
            Maybe set for action: 'test'. Either this or `value_matcher` will be
            set for 'test' operation. An exact match must be performed.
          type: any
        action:
          description: >-
            Type of this operation. Contains one of 'add', 'remove', 'replace',
            'move', 'copy', 'test' and 'custom' operations. This field is
            case-insensitive and always populated.
          type: string
        sourceResource:
          description: >-
            Can be set with action 'copy' to copy resource configuration across
            different resources of the same type. Example: A resource clone can
            be done via action = 'copy', path = "/", from = "/", source_resource
            = and resource_name = . This field is empty for all other values of
            `action`.
          type: string
        resource:
          description: >-
            Contains the fully qualified resource name. This field is always
            populated. ex: //cloudresourcemanager.googleapis.com/projects/foo.
          type: string
        pathValueMatchers:
          description: >-
            Similar to path_filters, this contains set of filters to apply if
            `path` field refers to array elements. This is meant to support
            value matching beyond exact match. To perform exact match, use
            path_filters. When both path_filters and path_value_matchers are
            set, an implicit AND must be performed.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1ValueMatcher'
        sourcePath:
          type: string
          description: >-
            Can be set with action 'copy' or 'move' to indicate the source field
            within resource or source_resource, ignored if provided for other
            operation types.
        valueMatcher:
          description: >-
            Can be set for action 'test' for advanced matching for the value of
            'path' field. Either this or `value` will be set for 'test'
            operation.
          $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1ValueMatcher'
        pathFilters:
          additionalProperties:
            type: any
          type: object
          description: >-
            Set of filters to apply if `path` refers to array elements or nested
            array elements in order to narrow down to a single unique element
            that is being tested/modified. This is intended to be an exact match
            per filter. To perform advanced matching, use path_value_matchers. *
            Example: ``` { "/versions/*/name" : "it-123"
            "/versions/*/targetSize/percent": 20 } ``` * Example: ``` {
            "/bindings/*/role": "roles/owner" "/bindings/*/condition" : null }
            ``` * Example: ``` { "/bindings/*/role": "roles/owner"
            "/bindings/*/members/*" : ["x@example.com", "y@example.com"] } ```
            When both path_filters and path_value_matchers are set, an implicit
            AND must be performed.
        path:
          type: string
          description: >-
            Path to the target field being operated on. If the operation is at
            the resource level, then path should be "/". This field is always
            populated.
        resourceType:
          type: string
          description: >-
            Type of GCP resource being modified/tested. This field is always
            populated. Example: cloudresourcemanager.googleapis.com/Project,
            compute.googleapis.com/Instance
  parameters:
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        type: string
        enum:
          - json
          - media
          - proto
    _.xgafv:
      description: V1 error format.
      in: query
      name: _.xgafv
      schema:
        type: string
        enum:
          - '1'
          - '2'
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/cloud-platform: >-
              See, edit, configure, and delete your Google Cloud data and see
              the email address for your Google Account.
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
paths:
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config:
    parameters: &ref_1
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/prettyPrint'
    get:
      description: >-
        Gets the requested InsightTypeConfig. There is only one instance of the
        config for each InsightType.
      operationId: recommender.organizations.locations.insightTypes.getConfig
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1InsightTypeConfig
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
      x-stackQL-resource: insight_types__config
      x-stackQL-verb: select
    patch:
      description: >-
        Updates an InsightTypeConfig change. This will create a new revision of
        the config.
      operationId: recommender.organizations.locations.insightTypes.updateConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1InsightTypeConfig
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1InsightTypeConfig
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: query
          name: validateOnly
          schema:
            type: boolean
        - in: query
          name: updateMask
          schema:
            type: string
      x-stackQL-resource: insight_types
      x-stackQL-verb: exec
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:
    parameters: *ref_1
    get:
      description: >-
        Gets the requested insight. Requires the recommender.*.get IAM
        permission for the specified insight type.
      operationId: recommender.organizations.locations.insightTypes.insights.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Insight'
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: path
          name: insightsId
          required: true
          schema:
            type: string
      x-stackQL-resource: insights
      x-stackQL-verb: select
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted:
    parameters: *ref_1
    post:
      description: >-
        Marks the Insight State as Accepted. Users can use this method to
        indicate to the Recommender API that they have applied some action based
        on the insight. This stops the insight content from being updated.
        MarkInsightAccepted can be applied to insights in ACTIVE state. Requires
        the recommender.*.update IAM permission for the specified insight.
      operationId: recommender.organizations.locations.insightTypes.insights.markAccepted
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Insight'
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: path
          name: insightsId
          required: true
          schema:
            type: string
      x-stackQL-resource: insights
      x-stackQL-verb: exec
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights:
    parameters: *ref_1
    get:
      description: >-
        Lists insights for the specified Cloud Resource. Requires the
        recommender.*.list IAM permission for the specified insight type.
      operationId: recommender.organizations.locations.insightTypes.insights.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1ListInsightsResponse
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: insights
      x-stackQL-verb: select
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed:
    parameters: *ref_1
    post:
      description: >-
        Marks the Recommendation State as Claimed. Users can use this method to
        indicate to the Recommender API that they are starting to apply the
        recommendation themselves. This stops the recommendation content from
        being updated. Associated insights are frozen and placed in the ACCEPTED
        state. MarkRecommendationClaimed can be applied to recommendations in
        CLAIMED or ACTIVE state. Requires the recommender.*.update IAM
        permission for the specified recommender.
      operationId: >-
        recommender.organizations.locations.recommenders.recommendations.markClaimed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed:
    parameters: *ref_1
    post:
      description: >-
        Mark the Recommendation State as Dismissed. Users can use this method to
        indicate to the Recommender API that an ACTIVE recommendation has to be
        marked back as DISMISSED. MarkRecommendationDismissed can be applied to
        recommendations in ACTIVE state. Requires the recommender.*.update IAM
        permission for the specified recommender.
      operationId: >-
        recommender.organizations.locations.recommenders.recommendations.markDismissed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:
    parameters: *ref_1
    get:
      description: >-
        Gets the requested recommendation. Requires the recommender.*.get IAM
        permission for the specified recommender.
      operationId: recommender.organizations.locations.recommenders.recommendations.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: select
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded:
    parameters: *ref_1
    post:
      description: >-
        Marks the Recommendation State as Succeeded. Users can use this method
        to indicate to the Recommender API that they have applied the
        recommendation themselves, and the operation was successful. This stops
        the recommendation content from being updated. Associated insights are
        frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can
        be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED
        state. Requires the recommender.*.update IAM permission for the
        specified recommender.
      operationId: >-
        recommender.organizations.locations.recommenders.recommendations.markSucceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed:
    parameters: *ref_1
    post:
      description: >-
        Marks the Recommendation State as Failed. Users can use this method to
        indicate to the Recommender API that they have applied the
        recommendation themselves, and the operation failed. This stops the
        recommendation content from being updated. Associated insights are
        frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be
        applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED
        state. Requires the recommender.*.update IAM permission for the
        specified recommender.
      operationId: >-
        recommender.organizations.locations.recommenders.recommendations.markFailed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations:
    parameters: *ref_1
    get:
      description: >-
        Lists recommendations for the specified Cloud Resource. Requires the
        recommender.*.list IAM permission for the specified recommender.
      operationId: recommender.organizations.locations.recommenders.recommendations.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1ListRecommendationsResponse
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: select
  /v1beta1/organizations/{organizationsId}/locations/{locationsId}/recommenders/{recommendersId}/config:
    parameters: *ref_1
    patch:
      description: >-
        Updates a Recommender Config. This will create a new revision of the
        config.
      operationId: recommender.organizations.locations.recommenders.updateConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1RecommenderConfig
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1RecommenderConfig
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
        - in: query
          name: validateOnly
          schema:
            type: boolean
      x-stackQL-resource: recommenders
      x-stackQL-verb: exec
    get:
      description: >-
        Gets the requested Recommender Config. There is only one instance of the
        config for each Recommender.
      operationId: recommender.organizations.locations.recommenders.getConfig
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1RecommenderConfig
      parameters:
        - in: path
          name: organizationsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommenders__config
      x-stackQL-verb: select
  /v1beta1/insightTypes:
    parameters: *ref_1
    get:
      description: Lists available InsightTypes. No IAM permissions are required.
      operationId: recommender.insightTypes.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1ListInsightTypesResponse
      parameters:
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: insight_types
      x-stackQL-verb: select
  /v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted:
    parameters: *ref_1
    post:
      description: >-
        Marks the Insight State as Accepted. Users can use this method to
        indicate to the Recommender API that they have applied some action based
        on the insight. This stops the insight content from being updated.
        MarkInsightAccepted can be applied to insights in ACTIVE state. Requires
        the recommender.*.update IAM permission for the specified insight.
      operationId: recommender.projects.locations.insightTypes.insights.markAccepted
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Insight'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: path
          name: insightsId
          required: true
          schema:
            type: string
      x-stackQL-resource: insights
      x-stackQL-verb: exec
  /v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:
    parameters: *ref_1
    get:
      description: >-
        Gets the requested insight. Requires the recommender.*.get IAM
        permission for the specified insight type.
      operationId: recommender.projects.locations.insightTypes.insights.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Insight'
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: path
          name: insightsId
          required: true
          schema:
            type: string
      x-stackQL-resource: insights
      x-stackQL-verb: select
  /v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights:
    parameters: *ref_1
    get:
      description: >-
        Lists insights for the specified Cloud Resource. Requires the
        recommender.*.list IAM permission for the specified insight type.
      operationId: recommender.projects.locations.insightTypes.insights.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1ListInsightsResponse
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
      x-stackQL-resource: insights
      x-stackQL-verb: select
  /v1beta1/projects/{projectsId}/locations/{locationsId}/insightTypes/{insightTypesId}/config:
    parameters: *ref_1
    get:
      description: >-
        Gets the requested InsightTypeConfig. There is only one instance of the
        config for each InsightType.
      operationId: recommender.projects.locations.insightTypes.getConfig
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1InsightTypeConfig
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
      x-stackQL-resource: insight_types__config
      x-stackQL-verb: select
    patch:
      description: >-
        Updates an InsightTypeConfig change. This will create a new revision of
        the config.
      operationId: recommender.projects.locations.insightTypes.updateConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1InsightTypeConfig
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1InsightTypeConfig
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
        - in: query
          name: validateOnly
          schema:
            type: boolean
      x-stackQL-resource: insight_types
      x-stackQL-verb: exec
  /v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/config:
    parameters: *ref_1
    get:
      description: >-
        Gets the requested Recommender Config. There is only one instance of the
        config for each Recommender.
      operationId: recommender.projects.locations.recommenders.getConfig
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1RecommenderConfig
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommenders__config
      x-stackQL-verb: select
    patch:
      description: >-
        Updates a Recommender Config. This will create a new revision of the
        config.
      operationId: recommender.projects.locations.recommenders.updateConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1RecommenderConfig
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1RecommenderConfig
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: query
          name: updateMask
          schema:
            type: string
        - in: query
          name: validateOnly
          schema:
            type: boolean
      x-stackQL-resource: recommenders
      x-stackQL-verb: exec
  /v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:
    parameters: *ref_1
    get:
      description: >-
        Gets the requested recommendation. Requires the recommender.*.get IAM
        permission for the specified recommender.
      operationId: recommender.projects.locations.recommenders.recommendations.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: select
  /v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations:
    parameters: *ref_1
    get:
      description: >-
        Lists recommendations for the specified Cloud Resource. Requires the
        recommender.*.list IAM permission for the specified recommender.
      operationId: recommender.projects.locations.recommenders.recommendations.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1ListRecommendationsResponse
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: filter
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: select
  /v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed:
    parameters: *ref_1
    post:
      description: >-
        Marks the Recommendation State as Failed. Users can use this method to
        indicate to the Recommender API that they have applied the
        recommendation themselves, and the operation failed. This stops the
        recommendation content from being updated. Associated insights are
        frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be
        applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED
        state. Requires the recommender.*.update IAM permission for the
        specified recommender.
      operationId: recommender.projects.locations.recommenders.recommendations.markFailed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded:
    parameters: *ref_1
    post:
      description: >-
        Marks the Recommendation State as Succeeded. Users can use this method
        to indicate to the Recommender API that they have applied the
        recommendation themselves, and the operation was successful. This stops
        the recommendation content from being updated. Associated insights are
        frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can
        be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED
        state. Requires the recommender.*.update IAM permission for the
        specified recommender.
      operationId: >-
        recommender.projects.locations.recommenders.recommendations.markSucceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed:
    parameters: *ref_1
    post:
      description: >-
        Marks the Recommendation State as Claimed. Users can use this method to
        indicate to the Recommender API that they are starting to apply the
        recommendation themselves. This stops the recommendation content from
        being updated. Associated insights are frozen and placed in the ACCEPTED
        state. MarkRecommendationClaimed can be applied to recommendations in
        CLAIMED or ACTIVE state. Requires the recommender.*.update IAM
        permission for the specified recommender.
      operationId: recommender.projects.locations.recommenders.recommendations.markClaimed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/projects/{projectsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed:
    parameters: *ref_1
    post:
      description: >-
        Mark the Recommendation State as Dismissed. Users can use this method to
        indicate to the Recommender API that an ACTIVE recommendation has to be
        marked back as DISMISSED. MarkRecommendationDismissed can be applied to
        recommendations in ACTIVE state. Requires the recommender.*.update IAM
        permission for the specified recommender.
      operationId: >-
        recommender.projects.locations.recommenders.recommendations.markDismissed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: projectsId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:
    parameters: *ref_1
    get:
      description: >-
        Gets the requested recommendation. Requires the recommender.*.get IAM
        permission for the specified recommender.
      operationId: recommender.folders.locations.recommenders.recommendations.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: foldersId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: select
  /v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed:
    parameters: *ref_1
    post:
      description: >-
        Mark the Recommendation State as Dismissed. Users can use this method to
        indicate to the Recommender API that an ACTIVE recommendation has to be
        marked back as DISMISSED. MarkRecommendationDismissed can be applied to
        recommendations in ACTIVE state. Requires the recommender.*.update IAM
        permission for the specified recommender.
      operationId: recommender.folders.locations.recommenders.recommendations.markDismissed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: foldersId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markFailed:
    parameters: *ref_1
    post:
      description: >-
        Marks the Recommendation State as Failed. Users can use this method to
        indicate to the Recommender API that they have applied the
        recommendation themselves, and the operation failed. This stops the
        recommendation content from being updated. Associated insights are
        frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be
        applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED
        state. Requires the recommender.*.update IAM permission for the
        specified recommender.
      operationId: recommender.folders.locations.recommenders.recommendations.markFailed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: foldersId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markSucceeded:
    parameters: *ref_1
    post:
      description: >-
        Marks the Recommendation State as Succeeded. Users can use this method
        to indicate to the Recommender API that they have applied the
        recommendation themselves, and the operation was successful. This stops
        the recommendation content from being updated. Associated insights are
        frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can
        be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED
        state. Requires the recommender.*.update IAM permission for the
        specified recommender.
      operationId: recommender.folders.locations.recommenders.recommendations.markSucceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: foldersId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markClaimed:
    parameters: *ref_1
    post:
      description: >-
        Marks the Recommendation State as Claimed. Users can use this method to
        indicate to the Recommender API that they are starting to apply the
        recommendation themselves. This stops the recommendation content from
        being updated. Associated insights are frozen and placed in the ACCEPTED
        state. MarkRecommendationClaimed can be applied to recommendations in
        CLAIMED or ACTIVE state. Requires the recommender.*.update IAM
        permission for the specified recommender.
      operationId: recommender.folders.locations.recommenders.recommendations.markClaimed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1Recommendation
      parameters:
        - in: path
          name: foldersId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: path
          name: recommendationsId
          required: true
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: exec
  /v1beta1/folders/{foldersId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations:
    parameters: *ref_1
    get:
      description: >-
        Lists recommendations for the specified Cloud Resource. Requires the
        recommender.*.list IAM permission for the specified recommender.
      operationId: recommender.folders.locations.recommenders.recommendations.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1ListRecommendationsResponse
      parameters:
        - in: path
          name: foldersId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: recommendersId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
        - in: query
          name: filter
          schema:
            type: string
      x-stackQL-resource: recommendations
      x-stackQL-verb: select
  /v1beta1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:markAccepted:
    parameters: *ref_1
    post:
      description: >-
        Marks the Insight State as Accepted. Users can use this method to
        indicate to the Recommender API that they have applied some action based
        on the insight. This stops the insight content from being updated.
        MarkInsightAccepted can be applied to insights in ACTIVE state. Requires
        the recommender.*.update IAM permission for the specified insight.
      operationId: recommender.folders.locations.insightTypes.insights.markAccepted
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Insight'
      parameters:
        - in: path
          name: foldersId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: path
          name: insightsId
          required: true
          schema:
            type: string
      x-stackQL-resource: insights
      x-stackQL-verb: exec
  /v1beta1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights:
    parameters: *ref_1
    get:
      description: >-
        Lists insights for the specified Cloud Resource. Requires the
        recommender.*.list IAM permission for the specified insight type.
      operationId: recommender.folders.locations.insightTypes.insights.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1ListInsightsResponse
      parameters:
        - in: path
          name: foldersId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: filter
          schema:
            type: string
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: insights
      x-stackQL-verb: select
  /v1beta1/folders/{foldersId}/locations/{locationsId}/insightTypes/{insightTypesId}/insights/{insightsId}:
    parameters: *ref_1
    get:
      description: >-
        Gets the requested insight. Requires the recommender.*.get IAM
        permission for the specified insight type.
      operationId: recommender.folders.locations.insightTypes.insights.get
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudRecommenderV1beta1Insight'
      parameters:
        - in: path
          name: foldersId
          required: true
          schema:
            type: string
        - in: path
          name: locationsId
          required: true
          schema:
            type: string
        - in: path
          name: insightTypesId
          required: true
          schema:
            type: string
        - in: path
          name: insightsId
          required: true
          schema:
            type: string
      x-stackQL-resource: insights
      x-stackQL-verb: select
  /v1beta1/recommenders:
    parameters: *ref_1
    get:
      description: Lists all available Recommenders. No IAM permissions are required.
      operationId: recommender.recommenders.list
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GoogleCloudRecommenderV1beta1ListRecommendersResponse
      parameters:
        - in: query
          name: pageSize
          schema:
            type: integer
        - in: query
          name: pageToken
          schema:
            type: string
      x-stackQL-resource: recommenders
      x-stackQL-verb: select
  /v1beta1/billingAccounts/{billingAccountsId}/locations/{locationsId}/recommenders/{recommendersId}/recommendations/{recommendationsId}:markDismissed:
    parameters: *ref_1
    post:
      description: >-
        Mark the Recommendation State as Dismissed. Users can use this method to
        indicate to the Recommender API that an ACTIVE recommendation has to be
        marked back as DISMISSED. MarkRecommendationDismissed can be applied to
        recommendations in ACTIVE state. Requires the recommender.*.update IAM
        permission for the specified recommender.
      operationId: >-
        recommender.billingAccounts.locations.recommenders.recommendations.markDismissed
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      responses:
        '200':
          description: Successful response
          content:
[...]
