openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: Dialogflow API
  description: >-
    Builds conversational interfaces (for example, chatbots, and voice-powered
    apps and devices).
  version: v3
  x-discovery-doc-revision: '20230621'
  x-generated-date: '2023-06-25'
externalDocs:
  url: https://cloud.google.com/dialogflow/
servers:
  - url: https://dialogflow.googleapis.com
components:
  schemas:
    GoogleCloudDialogflowCxV3FormParameterFillBehavior:
      description: Configuration for how the filling of a parameter should be handled.
      type: object
      properties:
        repromptEventHandlers:
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3EventHandler'
          description: >-
            The handlers for parameter-level events, used to provide reprompt
            for the parameter or transition to a different page/flow. The
            supported events are: * `sys.no-match-`, where N can be from 1 to 6
            * `sys.no-match-default` * `sys.no-input-`, where N can be from 1 to
            6 * `sys.no-input-default` * `sys.invalid-parameter`
            `initial_prompt_fulfillment` provides the first prompt for the
            parameter. If the user's response does not fill the parameter, a
            no-match/no-input event will be triggered, and the fulfillment
            associated with the `sys.no-match-1`/`sys.no-input-1` handler (if
            defined) will be called to provide a prompt. The
            `sys.no-match-2`/`sys.no-input-2` handler (if defined) will respond
            to the next no-match/no-input event, and so on. A
            `sys.no-match-default` or `sys.no-input-default` handler will be
            used to handle all following no-match/no-input events after all
            numbered no-match/no-input handlers for the parameter are consumed.
            A `sys.invalid-parameter` handler can be defined to handle the case
            where the parameter values have been `invalidated` by webhook. For
            example, if the user's response fill the parameter, however the
            parameter was invalidated by webhook, the fulfillment associated
            with the `sys.invalid-parameter` handler (if defined) will be called
            to provide a prompt. If the event handler for the corresponding
            event can't be found on the parameter, `initial_prompt_fulfillment`
            will be re-prompted.
          type: array
        initialPromptFulfillment:
          description: >-
            Required. The fulfillment to provide the initial prompt that the
            agent can present to the user in order to fill the parameter.
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Fulfillment'
      id: GoogleCloudDialogflowCxV3FormParameterFillBehavior
    GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings:
      id: GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings
      description: >-
        Settings for exporting conversations to
        [Insights](https://cloud.google.com/contact-center/insights/docs).
      properties:
        enableInsightsExport:
          description: >-
            If enabled, we will automatically exports conversations to Insights
            and Insights runs its analyzers.
          type: boolean
      type: object
    GoogleCloudDialogflowCxV3beta1Intent:
      type: object
      id: GoogleCloudDialogflowCxV3beta1Intent
      properties:
        name:
          type: string
          description: >-
            The unique identifier of the intent. Required for the
            Intents.UpdateIntent method. Intents.CreateIntent populates the name
            automatically. Format: `projects//locations//agents//intents/`.
        labels:
          type: object
          description: >-
            The key/value metadata to label an intent. Labels can contain
            lowercase letters, digits and the symbols '-' and '_'. International
            characters are allowed, including letters from unicase alphabets.
            Keys must start with a letter. Keys and values can be no longer than
            63 characters and no more than 128 bytes. Prefix "sys-" is reserved
            for Dialogflow defined labels. Currently allowed Dialogflow defined
            labels include: * sys-head * sys-contextual The above labels do not
            require value. "sys-head" means the intent is a head intent.
            "sys-contextual" means the intent is a contextual intent.
          additionalProperties:
            type: string
        displayName:
          type: string
          description: >-
            Required. The human-readable name of the intent, unique within the
            agent.
        priority:
          type: integer
          description: >-
            The priority of this intent. Higher numbers represent higher
            priorities. - If the supplied value is unspecified or 0, the service
            translates the value to 500,000, which corresponds to the `Normal`
            priority in the console. - If the supplied value is negative, the
            intent is ignored in runtime detect intent requests.
          format: int32
        isFallback:
          description: >-
            Indicates whether this is a fallback intent. Currently only default
            fallback intent is allowed in the agent, which is added upon agent
            creation. Adding training phrases to fallback intent is useful in
            the case of requests that are mistakenly matched, since training
            phrases assigned to fallback intents act as negative examples that
            triggers no-match event.
          type: boolean
        parameters:
          description: The collection of parameters associated with the intent.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1IntentParameter'
        description:
          type: string
          description: >-
            Human readable description for better understanding an intent like
            its scope, content, result etc. Maximum character limit: 140
            characters.
        trainingPhrases:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase
          type: array
          description: >-
            The collection of training phrases the agent is trained on to
            identify the intent.
      description: >-
        An intent represents a user's intent to interact with a conversational
        agent. You can provide information for the Dialogflow API to use to
        match user input to an intent by adding training phrases (i.e., examples
        of user input) to your intent.
    GoogleCloudDialogflowCxV3RunContinuousTestRequest:
      id: GoogleCloudDialogflowCxV3RunContinuousTestRequest
      properties: {}
      type: object
      description: The request message for Environments.RunContinuousTest.
    GoogleCloudDialogflowCxV3ResourceName:
      id: GoogleCloudDialogflowCxV3ResourceName
      properties:
        displayName:
          type: string
          description: Display name.
        name:
          type: string
          description: Name.
      type: object
      description: Resource name and display name.
    GoogleCloudDialogflowCxV3SentimentAnalysisResult:
      type: object
      id: GoogleCloudDialogflowCxV3SentimentAnalysisResult
      properties:
        score:
          type: number
          description: >-
            Sentiment score between -1.0 (negative sentiment) and 1.0 (positive
            sentiment).
          format: float
        magnitude:
          format: float
          type: number
          description: >-
            A non-negative number in the [0, +inf) range, which represents the
            absolute magnitude of sentiment, regardless of score (positive or
            negative).
      description: >-
        The result of sentiment analysis. Sentiment analysis inspects user input
        and identifies the prevailing subjective opinion, especially to
        determine a user's attitude as positive, negative, or neutral.
    GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff:
      description: >-
        Indicates that the conversation should be handed off to a live agent.
        Dialogflow only uses this to determine which conversations were handed
        off to a human agent for measurement purposes. What else to do with this
        signal is up to you and your handoff procedures. You may set this, for
        example: * In the entry_fulfillment of a Page if entering the page
        indicates something went extremely wrong in the conversation. * In a
        webhook response when you determine that the customer issue can only be
        handled by a human.
      properties:
        metadata:
          type: object
          additionalProperties:
            type: any
            description: Properties of the object.
          description: >-
            Custom metadata for your handoff procedure. Dialogflow doesn't
            impose any structure on this.
      type: object
      id: GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff
    GoogleCloudDialogflowCxV3Deployment:
      properties:
        startTime:
          format: google-datetime
          description: Start time of this deployment.
          type: string
        name:
          description: >-
            The name of the deployment. Format:
            projects//locations//agents//environments//deployments/.
          type: string
        endTime:
          description: End time of this deployment.
          type: string
          format: google-datetime
        flowVersion:
          description: >-
            The name of the flow version for this deployment. Format:
            projects//locations//agents//flows//versions/.
          type: string
        state:
          enumDescriptions:
            - State unspecified.
            - The deployment is running.
            - The deployment succeeded.
            - The deployment failed.
          enum:
            - STATE_UNSPECIFIED
            - RUNNING
            - SUCCEEDED
            - FAILED
          description: The current state of the deployment.
          type: string
        result:
          description: Result of the deployment.
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3DeploymentResult'
      id: GoogleCloudDialogflowCxV3Deployment
      type: object
      description: >-
        Represents a deployment in an environment. A deployment happens when a
        flow version configured to be active in the environment. You can
        configure running pre-deployment steps, e.g. running validation test
        cases, experiment auto-rollout, etc.
    GoogleCloudDialogflowCxV3Match:
      type: object
      properties:
        event:
          type: string
          description: >-
            The event that matched the query. Filled for `EVENT`, `NO_MATCH` and
            `NO_INPUT` match types.
        matchType:
          description: Type of this Match.
          enum:
            - MATCH_TYPE_UNSPECIFIED
            - INTENT
            - DIRECT_INTENT
            - PARAMETER_FILLING
            - NO_MATCH
            - NO_INPUT
            - EVENT
          enumDescriptions:
            - Not specified. Should never be used.
            - The query was matched to an intent.
            - The query directly triggered an intent.
            - The query was used for parameter filling.
            - No match was found for the query.
            - Indicates an empty query.
            - The query directly triggered an event.
          type: string
        confidence:
          description: >-
            The confidence of this match. Values range from 0.0 (completely
            uncertain) to 1.0 (completely certain). This value is for
            informational purpose only and is only used to help match the best
            intent within the classification threshold. This value may change
            for the same end-user expression at any time due to a model
            retraining or change in implementation.
          type: number
          format: float
        resolvedInput:
          description: >-
            Final text input which was matched during MatchIntent. This value
            can be different from original input sent in request because of
            spelling correction or other processing.
          type: string
        intent:
          description: >-
            The Intent that matched the query. Some, not all fields are filled
            in this message, including but not limited to: `name` and
            `display_name`. Only filled for `INTENT` match type.
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3Intent'
        parameters:
          description: >-
            The collection of parameters extracted from the query. Depending on
            your protocol or client library language, this is a map, associative
            array, symbol table, dictionary, or JSON object composed of a
            collection of (MapKey, MapValue) pairs: * MapKey type: string *
            MapKey value: parameter name * MapValue type: If parameter's entity
            type is a composite entity then use map, otherwise, depending on the
            parameter value type, it could be one of string, number, boolean,
            null, list or map. * MapValue value: If parameter's entity type is a
            composite entity then use map from composite entity property names
            to property values, otherwise, use parameter value.
          type: object
          additionalProperties:
            type: any
            description: Properties of the object.
      id: GoogleCloudDialogflowCxV3Match
      description: Represents one match result of MatchIntent.
    GoogleCloudDialogflowCxV3RunContinuousTestMetadata:
      id: GoogleCloudDialogflowCxV3RunContinuousTestMetadata
      properties:
        errors:
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TestError'
          type: array
          description: The test errors.
      description: >-
        Metadata returned for the Environments.RunContinuousTest long running
        operation.
      type: object
    GoogleCloudDialogflowCxV3TurnSignals:
      type: object
      properties:
        reachedEndPage:
          description: Whether turn resulted in End Session page.
          type: boolean
        failureReasons:
          type: array
          items:
            enumDescriptions:
              - Failure reason is not assigned.
              - Whether NLU failed to recognize user intent.
              - Whether webhook failed during the turn.
            type: string
            enum:
              - FAILURE_REASON_UNSPECIFIED
              - FAILED_INTENT
              - FAILED_WEBHOOK
          description: Failure reasons of the turn.
        agentEscalated:
          type: boolean
          description: Whether agent responded with LiveAgentHandoff fulfillment.
        sentimentScore:
          format: float
          type: number
          description: >-
            Sentiment score of the user utterance if
            [sentiment](https://cloud.google.com/dialogflow/cx/docs/concept/sentiment)
            was enabled.
        webhookStatuses:
          description: Human-readable statuses of the webhooks triggered during this turn.
          items:
            type: string
          type: array
        userEscalated:
          type: boolean
          description: Whether user was specifically asking for a live agent.
        noUserInput:
          description: Whether user provided no input.
          type: boolean
        sentimentMagnitude:
          description: >-
            Sentiment magnitude of the user utterance if
            [sentiment](https://cloud.google.com/dialogflow/cx/docs/concept/sentiment)
            was enabled.
          type: number
          format: float
        dtmfUsed:
          type: boolean
          description: Whether user was using DTMF input.
        noMatch:
          type: boolean
          description: Whether NLU predicted NO_MATCH.
      description: >-
        Collection of all signals that were extracted for a single turn of the
        conversation.
      id: GoogleCloudDialogflowCxV3TurnSignals
    GoogleCloudDialogflowV2IntentMessageCarouselSelect:
      type: object
      id: GoogleCloudDialogflowV2IntentMessageCarouselSelect
      properties:
        items:
          description: Required. Carousel items.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2IntentMessageCarouselSelectItem
      description: The card for presenting a carousel of options to select from.
    GoogleCloudDialogflowCxV3TestRunDifference:
      properties:
        description:
          description: >-
            A human readable description of the diff, showing the actual output
            vs expected output.
          type: string
        type:
          type: string
          description: The type of diff.
          enum:
            - DIFF_TYPE_UNSPECIFIED
            - INTENT
            - PAGE
            - PARAMETERS
            - UTTERANCE
            - FLOW
          enumDescriptions:
            - Should never be used.
            - The intent.
            - The page.
            - The parameters.
            - The message utterance.
            - The flow.
      description: >-
        The description of differences between original and replayed agent
        output.
      id: GoogleCloudDialogflowCxV3TestRunDifference
      type: object
    GoogleCloudDialogflowCxV3TestCaseError:
      id: GoogleCloudDialogflowCxV3TestCaseError
      type: object
      description: Error info for importing a test.
      properties:
        testCase:
          description: The test case.
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TestCase'
        status:
          $ref: '#/components/schemas/GoogleRpcStatus'
          description: The status associated with the test case.
    GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech:
      properties:
        ssml:
          description: >-
            The SSML to be synthesized. For more information, see
            [SSML](https://developers.google.com/actions/reference/ssml).
          type: string
        text:
          type: string
          description: The raw text to be synthesized.
      description: >-
        Synthesizes speech and plays back the synthesized audio to the caller in
        Telephony Gateway. Telephony Gateway takes the synthesizer settings from
        `DetectIntentResponse.output_audio_config` which can either be set at
        request-level or can come from the agent-level synthesizer config.
      type: object
      id: GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech
    GoogleCloudDialogflowV2beta1IntentMessageTableCard:
      description: Table card for Actions on Google.
      type: object
      properties:
        image:
          description: Optional. Image which should be displayed on the card.
          $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageImage'
        rows:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageTableCardRow
          description: Optional. Rows in this table of data.
          type: array
        columnProperties:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageColumnProperties
          description: Optional. Display properties for the columns in this table.
        buttons:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton
          description: Optional. List of buttons for the card.
          type: array
        subtitle:
          type: string
          description: Optional. Subtitle to the title.
        title:
          description: Required. Title of the card.
          type: string
      id: GoogleCloudDialogflowV2beta1IntentMessageTableCard
    GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard:
      id: GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard
      type: object
      properties:
        items:
          description: >-
            Required. List of items in the Browse Carousel Card. Minimum of two
            items, maximum of ten.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem
          type: array
        imageDisplayOptions:
          enumDescriptions:
            - >-
              Fill the gaps between the image and the image container with gray
              bars.
            - >-
              Fill the gaps between the image and the image container with gray
              bars.
            - >-
              Fill the gaps between the image and the image container with white
              bars.
            - >-
              Image is scaled such that the image width and height match or
              exceed the container dimensions. This may crop the top and bottom
              of the image if the scaled image height is greater than the
              container height, or crop the left and right of the image if the
              scaled image width is greater than the container width. This is
              similar to "Zoom Mode" on a widescreen TV when playing a 4:3
              video.
            - >-
              Pad the gaps between image and image frame with a blurred copy of
              the same image.
          type: string
          description: >-
            Optional. Settings for displaying the image. Applies to every image
            in items.
          enum:
            - IMAGE_DISPLAY_OPTIONS_UNSPECIFIED
            - GRAY
            - WHITE
            - CROPPED
            - BLURRED_BACKGROUND
      description: >-
        Browse Carousel Card for Actions on Google.
        https://developers.google.com/actions/assistant/responses#browsing_carousel
    GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion:
      description: >-
        The suggestion chip message that allows the user to jump out to the app
        or website associated with this agent.
      id: GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion
      type: object
      properties:
        uri:
          description: >-
            Required. The URI of the app or site to open when the user taps the
            suggestion chip.
          type: string
        destinationName:
          type: string
          description: Required. The name of the app or site this chip is linking to.
    GoogleCloudDialogflowCxV3IntentInput:
      description: >-
        Represents the intent to trigger programmatically rather than as a
        result of natural language processing.
      type: object
      id: GoogleCloudDialogflowCxV3IntentInput
      properties:
        intent:
          description: >-
            Required. The unique identifier of the intent. Format:
            `projects//locations//agents//intents/`.
          type: string
    GoogleCloudDialogflowCxV3TestError:
      description: Error info for running a test.
      id: GoogleCloudDialogflowCxV3TestError
      properties:
        testCase:
          type: string
          description: The test case resource name.
        status:
          description: The status associated with the test.
          $ref: '#/components/schemas/GoogleRpcStatus'
        testTime:
          description: The timestamp when the test was completed.
          format: google-datetime
          type: string
      type: object
    GoogleRpcStatus:
      properties:
        message:
          description: >-
            A developer-facing error message, which should be in English. Any
            user-facing error message should be localized and sent in the
            google.rpc.Status.details field, or localized by the client.
          type: string
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          type: integer
          format: int32
        details:
          type: array
          description: >-
            A list of messages that carry the error details. There is a common
            set of message types for APIs to use.
          items:
            type: object
            additionalProperties:
              type: any
              description: Properties of the object. Contains field @type with type URL.
      description: >-
        The `Status` type defines a logical error model that is suitable for
        different programming environments, including REST APIs and RPC APIs. It
        is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error
        details. You can find out more about this error model and how to work
        with it in the [API Design
        Guide](https://cloud.google.com/apis/design/errors).
      type: object
      id: GoogleRpcStatus
    GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse:
      type: object
      description: The response message for Environments.RunContinuousTest.
      id: GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse
      properties:
        continuousTestResult:
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1ContinuousTestResult
          description: The result for a continuous test run.
    GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse:
      description: The response message for SessionEntityTypes.ListSessionEntityTypes.
      type: object
      properties:
        nextPageToken:
          type: string
          description: >-
            Token to retrieve the next page of results, or empty if there are no
            more results in the list.
        sessionEntityTypes:
          type: array
          description: >-
            The list of session entity types. There will be a maximum number of
            items returned based on the page_size field in the request.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SessionEntityType'
      id: GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse
    GoogleCloudDialogflowCxV3SessionEntityType:
      properties:
        name:
          type: string
          description: >-
            Required. The unique identifier of the session entity type. Format:
            `projects//locations//agents//sessions//entityTypes/` or
            `projects//locations//agents//environments//sessions//entityTypes/`.
            If `Environment ID` is not specified, we assume default 'draft'
            environment.
        entityOverrideMode:
          enumDescriptions:
            - Not specified. This value should be never used.
            - >-
              The collection of session entities overrides the collection of
              entities in the corresponding custom entity type.
            - >-
              The collection of session entities extends the collection of
              entities in the corresponding custom entity type. Note: Even in
              this override mode calls to `ListSessionEntityTypes`,
              `GetSessionEntityType`, `CreateSessionEntityType` and
              `UpdateSessionEntityType` only return the additional entities
              added in this session entity type. If you want to get the
              supplemented list, please call EntityTypes.GetEntityType on the
              custom entity type and merge.
          type: string
          description: >-
            Required. Indicates whether the additional data should override or
            supplement the custom entity type definition.
          enum:
            - ENTITY_OVERRIDE_MODE_UNSPECIFIED
            - ENTITY_OVERRIDE_MODE_OVERRIDE
            - ENTITY_OVERRIDE_MODE_SUPPLEMENT
        entities:
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3EntityTypeEntity'
          description: >-
            Required. The collection of entities to override or supplement the
            custom entity type.
      description: >-
        Session entity types are referred to as **User** entity types and are
        entities that are built for an individual user such as favorites,
        preferences, playlists, and so on. You can redefine a session entity
        type at the session level to extend or replace a custom entity type at
        the user session level (we refer to the entity types defined at the
        agent level as "custom entity types"). Note: session entity types apply
        to all queries, regardless of the language. For more information about
        entity types, see the [Dialogflow
        documentation](https://cloud.google.com/dialogflow/docs/entities-overview).
      id: GoogleCloudDialogflowCxV3SessionEntityType
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment:
      id: GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment
      description: Represents one segment of audio.
      properties:
        uri:
          type: string
          description: >-
            Client-specific URI that points to an audio clip accessible to the
            client. Dialogflow does not impose any validation on it.
        allowPlaybackInterruption:
          type: boolean
          description: >-
            Output only. Whether the playback of this segment can be interrupted
            by the end user's speech and the client should then start the next
            Dialogflow request.
          readOnly: true
        audio:
          type: string
          format: byte
          description: >-
            Raw audio synthesized from the Dialogflow agent's response using the
            output config specified in the request.
      type: object
    GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata:
      description: Metadata for a ConversationProfile.SetSuggestionFeatureConfig operation.
      type: object
      properties:
        createTime:
          description: >-
            Timestamp whe the request was created. The time is measured on
            server side.
          format: google-datetime
          type: string
        participantRole:
          enum:
            - ROLE_UNSPECIFIED
            - HUMAN_AGENT
            - AUTOMATED_AGENT
            - END_USER
          type: string
          enumDescriptions:
            - Participant role not set.
            - Participant is a human agent.
            - Participant is an automated agent, such as a Dialogflow agent.
            - >-
              Participant is an end user that has called or chatted with
              Dialogflow services.
          description: >-
            Required. The participant role to add or update the suggestion
            feature config. Only HUMAN_AGENT or END_USER can be used.
        conversationProfile:
          type: string
          description: >-
            The resource name of the conversation profile. Format:
            `projects//locations//conversationProfiles/`
        suggestionFeatureType:
          description: Required. The type of the suggestion feature to add or update.
          enum:
            - TYPE_UNSPECIFIED
            - ARTICLE_SUGGESTION
            - FAQ
            - SMART_REPLY
            - DIALOGFLOW_ASSIST
            - CONVERSATION_SUMMARIZATION
          enumDescriptions:
            - Unspecified feature type.
            - Run article suggestion model for chat.
            - Run FAQ model.
            - Run smart reply model for chat.
            - >-
              Run Dialogflow assist model for chat, which will return automated
              agent response as suggestion.
            - Run conversation summarization model for chat.
          type: string
      id: GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata
    GoogleCloudDialogflowCxV3ExportAgentResponse:
      id: GoogleCloudDialogflowCxV3ExportAgentResponse
      type: object
      properties:
        agentContent:
          type: string
          description: Uncompressed raw byte content for agent.
          format: byte
        agentUri:
          description: >-
            The URI to a file containing the exported agent. This field is
            populated if `agent_uri` is specified in ExportAgentRequest.
          type: string
      description: The response message for Agents.ExportAgent.
    GoogleCloudDialogflowV2beta1IntentMessageTableCardRow:
      type: object
      description: Row of TableCard.
      id: GoogleCloudDialogflowV2beta1IntentMessageTableCardRow
      properties:
        dividerAfter:
          description: Optional. Whether to add a visual divider after this row.
          type: boolean
        cells:
          description: Optional. List of cells that make up this row.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageTableCardCell
    GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig:
      properties:
        enablePredeploymentRun:
          description: >-
            Whether to run test cases in TestCasesConfig.test_cases before
            deploying a flow version to the environment. Default false.
          type: boolean
        enableContinuousRun:
          description: >-
            Whether to run test cases in TestCasesConfig.test_cases
            periodically. Default false. If set to true, run once a day.
          type: boolean
        testCases:
          type: array
          description: >-
            A list of test case names to run. They should be under the same
            agent. Format of each test case name: `projects//locations/
            /agents//testCases/`
          items:
            type: string
      id: GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig
      type: object
      description: The configuration for continuous tests.
    GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio:
      id: GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio
      type: object
      description: >-
        Represents an audio message that is composed of both segments
        synthesized from the Dialogflow agent prompts and ones hosted externally
        at the specified URIs. The external URIs are specified via play_audio.
        This message is generated by Dialogflow only and not supposed to be
        defined by the user.
      properties:
        segments:
          description: Segments this audio response is composed of.
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment
          type: array
    GoogleCloudDialogflowV2beta1Sentiment:
      id: GoogleCloudDialogflowV2beta1Sentiment
      type: object
      properties:
        score:
          description: >-
            Sentiment score between -1.0 (negative sentiment) and 1.0 (positive
            sentiment).
          format: float
          type: number
        magnitude:
          description: >-
            A non-negative number in the [0, +inf) range, which represents the
            absolute magnitude of sentiment, regardless of score (positive or
            negative).
          format: float
          type: number
      description: >-
        The sentiment, such as positive/negative feeling or association, for a
        unit of analysis, such as the query text. See:
        https://cloud.google.com/natural-language/docs/basics#interpreting_sentiment_analysis_values
        for how to interpret the result.
    GoogleCloudDialogflowCxV3ExportFlowRequest:
      id: GoogleCloudDialogflowCxV3ExportFlowRequest
      description: The request message for Flows.ExportFlow.
      properties:
        flowUri:
          type: string
          description: >-
            Optional. The [Google Cloud
            Storage](https://cloud.google.com/storage/docs/) URI to export the
            flow to. The format of this URI must be `gs:///`. If left
            unspecified, the serialized flow is returned inline. Dialogflow
            performs a write operation for the Cloud Storage object on the
            caller's behalf, so your request authentication must have write
            permissions for the object. For more information, see [Dialogflow
            access
            control](https://cloud.google.com/dialogflow/cx/docs/concept/access-control#storage).
        includeReferencedFlows:
          type: boolean
          description: Optional. Whether to export flows referenced by the specified flow.
      type: object
    GoogleCloudDialogflowCxV3beta1ImportFlowResponse:
      description: The response message for Flows.ImportFlow.
      type: object
      properties:
        flow:
          description: >-
            The unique identifier of the new flow. Format:
            `projects//locations//agents//flows/`.
          type: string
      id: GoogleCloudDialogflowCxV3beta1ImportFlowResponse
    GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult:
      type: object
      id: GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult
      description: Represents the result of sentiment analysis.
      properties:
        score:
          format: float
          description: >-
            Sentiment score between -1.0 (negative sentiment) and 1.0 (positive
            sentiment).
          type: number
        magnitude:
          type: number
          format: float
          description: >-
            A non-negative number in the [0, +inf) range, which represents the
            absolute magnitude of sentiment, regardless of score (positive or
            negative).
    GoogleCloudDialogflowCxV3ImportDocumentsResponse:
      type: object
      properties:
        warnings:
          description: Includes details about skipped documents or any other warnings.
          items:
            $ref: '#/components/schemas/GoogleRpcStatus'
          type: array
      id: GoogleCloudDialogflowCxV3ImportDocumentsResponse
      description: Response message for Documents.ImportDocuments.
    GoogleCloudDialogflowV2beta1IntentMessageImage:
      id: GoogleCloudDialogflowV2beta1IntentMessageImage
      properties:
        accessibilityText:
          description: >-
            A text description of the image to be used for accessibility, e.g.,
            screen readers. Required if image_uri is set for CarouselSelect.
          type: string
        imageUri:
          type: string
          description: Optional. The public URI to an image file.
      type: object
      description: The image response message.
    GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction:
      id: GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction
      type: object
      description: >-
        Rich Business Messaging (RBM) suggested client-side action that the user
        can choose from the card.
      properties:
        shareLocation:
          description: 'Suggested client side action: Share user location'
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation
        text:
          type: string
          description: Text to display alongside the action.
        postbackData:
          description: >-
            Opaque payload that the Dialogflow receives in a user event when the
            user taps the suggested action. This data will be also forwarded to
            webhook to allow performing custom business logic.
          type: string
        openUrl:
          description: 'Suggested client side action: Open a URI on device'
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri
        dial:
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial
          description: 'Suggested client side action: Dial a phone number'
    GoogleTypeLatLng:
      description: >-
        An object that represents a latitude/longitude pair. This is expressed
        as a pair of doubles to represent degrees latitude and degrees
        longitude. Unless specified otherwise, this object must conform to the
        WGS84 standard. Values must be within normalized ranges.
      id: GoogleTypeLatLng
      type: object
      properties:
        longitude:
          description: The longitude in degrees. It must be in the range [-180.0, +180.0].
          type: number
          format: double
        latitude:
          format: double
          type: number
          description: The latitude in degrees. It must be in the range [-90.0, +90.0].
    GoogleCloudDialogflowV2beta1IntentParameter:
      description: Represents intent parameters.
      id: GoogleCloudDialogflowV2beta1IntentParameter
      type: object
      properties:
        displayName:
          description: Required. The name of the parameter.
          type: string
        prompts:
          type: array
          description: >-
            Optional. The collection of prompts that the agent can present to
            the user in order to collect a value for the parameter.
          items:
            type: string
        value:
          type: string
          description: >-
            Optional. The definition of the parameter value. It can be: - a
            constant string, - a parameter value defined as `$parameter_name`, -
            an original parameter value defined as `$parameter_name.original`, -
            a parameter value from some context defined as
            `#context_name.parameter_name`.
        mandatory:
          type: boolean
          description: >-
            Optional. Indicates whether the parameter is required. That is,
            whether the intent cannot be completed without collecting the
            parameter value.
        isList:
          description: >-
            Optional. Indicates whether the parameter represents a list of
            values.
          type: boolean
        defaultValue:
          description: >-
            Optional. The default value to use when the `value` yields an empty
            result. Default values can be extracted from contexts by using the
            following syntax: `#context_name.parameter_name`.
          type: string
        entityTypeDisplayName:
          type: string
          description: >-
            Optional. The name of the entity type, prefixed with `@`, that
            describes values of the parameter. If the parameter is required,
            this must be provided.
        name:
          type: string
          description: The unique identifier of this parameter.
    GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata:
      type: object
      properties:
        version:
          description: >-
            Name of the created version. Format:
            `projects//locations//agents//flows//versions/`.
          type: string
      id: GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata
      description: >-
        Metadata associated with the long running operation for
        Versions.CreateVersion.
    GoogleCloudDialogflowV2ArticleAnswer:
      id: GoogleCloudDialogflowV2ArticleAnswer
      properties:
        confidence:
          format: float
          description: >-
            Article match confidence. The system's confidence score that this
            article is a good match for this conversation, as a value from 0.0
            (completely uncertain) to 1.0 (completely certain).
          type: number
        metadata:
          description: >-
            A map that contains metadata about the answer and the document from
            which it originates.
          additionalProperties:
            type: string
          type: object
        uri:
          description: The article URI.
          type: string
        title:
          description: The article title.
          type: string
        answerRecord:
          description: >-
            The name of answer record, in the format of
            "projects//locations//answerRecords/"
          type: string
        snippets:
          description: Article snippets.
          items:
            type: string
          type: array
      type: object
      description: Represents article answer.
    GoogleCloudDialogflowV2DeployConversationModelOperationMetadata:
      id: GoogleCloudDialogflowV2DeployConversationModelOperationMetadata
      type: object
      properties:
        createTime:
          format: google-datetime
          type: string
          description: >-
            Timestamp when request to deploy conversation model was submitted.
            The time is measured on server side.
        conversationModel:
          type: string
          description: >-
            The resource name of the conversation model. Format:
            `projects//conversationModels/`
      description: Metadata for a ConversationModels.DeployConversationModel operation.
    GoogleCloudDialogflowCxV3beta1ImportDocumentsResponse:
      type: object
      id: GoogleCloudDialogflowCxV3beta1ImportDocumentsResponse
      description: Response message for Documents.ImportDocuments.
      properties:
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/GoogleRpcStatus'
          description: Includes details about skipped documents or any other warnings.
    GoogleCloudDialogflowCxV3beta1FormParameter:
      properties:
        displayName:
          description: >-
            Required. The human-readable name of the parameter, unique within
            the form.
          type: string
        required:
          description: >-
            Indicates whether the parameter is required. Optional parameters
            will not trigger prompts; however, they are filled if the user
            specifies them. Required parameters must be filled before form
            filling concludes.
          type: boolean
        entityType:
          type: string
          description: >-
            Required. The entity type of the parameter. Format:
            `projects/-/locations/-/agents/-/entityTypes/` for system entity
            types (for example,
            `projects/-/locations/-/agents/-/entityTypes/sys.date`), or
            `projects//locations//agents//entityTypes/` for developer entity
            types.
        isList:
          description: Indicates whether the parameter represents a list of values.
          type: boolean
        redact:
          type: boolean
          description: >-
            Indicates whether the parameter content should be redacted in log.
            If redaction is enabled, the parameter content will be replaced by
            parameter name during logging. Note: the parameter content is
            subject to redaction if either parameter level redaction or entity
            type level redaction is enabled.
        fillBehavior:
          description: Required. Defines fill behavior for the parameter.
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior
        defaultValue:
          type: any
          description: >-
            The default value of an optional parameter. If the parameter is
            required, the default value will be ignored.
      id: GoogleCloudDialogflowCxV3beta1FormParameter
      type: object
      description: Represents a form parameter.
    GoogleCloudDialogflowV2beta1IntentMessageSuggestions:
      type: object
      description: The collection of suggestions.
      properties:
        suggestions:
          description: Required. The list of suggested replies.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageSuggestion
      id: GoogleCloudDialogflowV2beta1IntentMessageSuggestions
    GoogleCloudDialogflowCxV3CompareVersionsResponse:
      description: The response message for Versions.CompareVersions.
      id: GoogleCloudDialogflowCxV3CompareVersionsResponse
      type: object
      properties:
        targetVersionContentJson:
          type: string
          description: JSON representation of the target version content.
        compareTime:
          type: string
          format: google-datetime
          description: The timestamp when the two version compares.
        baseVersionContentJson:
          description: JSON representation of the base version content.
          type: string
    GoogleCloudDialogflowCxV3beta1ResponseMessage:
      type: object
      id: GoogleCloudDialogflowCxV3beta1ResponseMessage
      description: >-
        Represents a response message that can be returned by a conversational
        agent. Response messages are also used for output audio synthesis. The
        approach is as follows: * If at least one OutputAudioText response is
        present, then all OutputAudioText responses are linearly concatenated,
        and the result is used for output audio synthesis. * If the
        OutputAudioText responses are a mixture of text and SSML, then the
        concatenated result is treated as SSML; otherwise, the result is treated
        as either text or SSML as appropriate. The agent designer should ideally
        use either text or SSML consistently throughout the bot design. *
        Otherwise, all Text responses are linearly concatenated, and the result
        is used for output audio synthesis. This approach allows for more
        sophisticated user experience scenarios, where the text displayed to the
        user may differ from what is heard.
      properties:
        mixedAudio:
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio
          readOnly: true
          description: >-
            Output only. An audio response message composed of both the
            synthesized Dialogflow agent responses and responses defined via
            play_audio. This message is generated by Dialogflow only and not
            supposed to be defined by the user.
        liveAgentHandoff:
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff
          description: Hands off conversation to a human agent.
        outputAudioText:
          description: >-
            A text or ssml response that is preferentially used for TTS output
            audio synthesis, as described in the comment on the ResponseMessage
            message.
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText
        channel:
          description: >-
            The channel which the response is associated with. Clients can
            specify the channel via QueryParameters.channel, and only associated
            channel response will be returned.
          type: string
        endInteraction:
          readOnly: true
          description: >-
            Output only. A signal that indicates the interaction with the
            Dialogflow agent has ended. This message is generated by Dialogflow
            only when the conversation reaches `END_SESSION` page. It is not
            supposed to be defined by the user. It's guaranteed that there is at
            most one such message in each response.
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction
        text:
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageText
          description: Returns a text response.
        telephonyTransferCall:
          description: >-
            A signal that the client should transfer the phone call connected to
            this agent to a third-party endpoint.
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall
        conversationSuccess:
          description: Indicates that the conversation succeeded.
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess
        payload:
          type: object
          additionalProperties:
            description: Properties of the object.
            type: any
          description: Returns a response containing a custom, platform-specific payload.
        playAudio:
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio
          description: >-
            Signal that the client should play an audio clip hosted at a
            client-specific URI. Dialogflow uses this to construct mixed_audio.
            However, Dialogflow itself does not try to read or process the URI
            in any way.
    GoogleCloudDialogflowCxV3DeleteDocumentOperationMetadata:
      type: object
      description: Metadata for DeleteDocument operation.
      properties:
        genericMetadata:
          description: The generic information of the operation.
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata
      id: GoogleCloudDialogflowCxV3DeleteDocumentOperationMetadata
    GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse:
      id: GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse
      type: object
      properties:
        content:
          description: Uncompressed raw byte content for test cases.
          format: byte
          type: string
        gcsUri:
          description: >-
            The URI to a file containing the exported test cases. This field is
            populated only if `gcs_uri` is specified in ExportTestCasesRequest.
          type: string
      description: The response message for TestCases.ExportTestCases.
    GoogleCloudDialogflowV2IntentMessageCard:
      properties:
        title:
          description: Optional. The title of the card.
          type: string
        imageUri:
          type: string
          description: Optional. The public URI to an image file for the card.
        subtitle:
          type: string
          description: Optional. The subtitle of the card.
        buttons:
          description: Optional. The collection of card buttons.
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2IntentMessageCardButton
      id: GoogleCloudDialogflowV2IntentMessageCard
      type: object
      description: The card response message.
    GoogleCloudDialogflowCxV3VariantsHistory:
      properties:
        updateTime:
          format: google-datetime
          description: Update time of the variants.
          type: string
        versionVariants:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3VersionVariants'
          description: The flow versions as the variants.
      type: object
      id: GoogleCloudDialogflowCxV3VariantsHistory
      description: The history of variants update.
    GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue:
      id: GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue
      type: object
      properties:
        resolvedValue:
          type: any
          description: >-
            Always present. Structured value for the parameter extracted from
            user utterance.
        originalValue:
          description: Always present. Original text value extracted from user utterance.
          type: string
      description: Represents a value for an intent parameter.
    GoogleCloudDialogflowV2beta1EntityType:
      properties:
        enableFuzzyExtraction:
          description: Optional. Enables fuzzy entity extraction during classification.
          type: boolean
        autoExpansionMode:
          type: string
          enumDescriptions:
            - Auto expansion disabled for the entity.
            - >-
              Allows an agent to recognize values that have not been explicitly
              listed in the entity.
          enum:
            - AUTO_EXPANSION_MODE_UNSPECIFIED
            - AUTO_EXPANSION_MODE_DEFAULT
          description: >-
            Optional. Indicates whether the entity type can be automatically
            expanded.
        entities:
          type: array
          description: >-
            Optional. The collection of entity entries associated with the
            entity type.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1EntityTypeEntity'
        kind:
          description: Required. Indicates the kind of entity type.
          type: string
          enum:
            - KIND_UNSPECIFIED
            - KIND_MAP
            - KIND_LIST
            - KIND_REGEXP
          enumDescriptions:
            - Not specified. This value should be never used.
            - >-
              Map entity types allow mapping of a group of synonyms to a
              reference value.
            - >-
              List entity types contain a set of entries that do not map to
              reference values. However, list entity types can contain
              references to other entity types (with or without aliases).
            - >-
              Regexp entity types allow to specify regular expressions in
              entries values.
        displayName:
          description: Required. The name of the entity type.
          type: string
        name:
          description: >-
            The unique identifier of the entity type. Required for
            EntityTypes.UpdateEntityType and EntityTypes.BatchUpdateEntityTypes
            methods. Supported formats: - `projects//agent/entityTypes/` -
            `projects//locations//agent/entityTypes/`
          type: string
      type: object
      id: GoogleCloudDialogflowV2beta1EntityType
      description: >-
        Each intent parameter has a type, called the entity type, which dictates
        exactly how data from an end-user expression is extracted. Dialogflow
        provides predefined system entities that can match many common types of
        data. For example, there are system entities for matching dates, times,
        colors, email addresses, and so on. You can also create your own custom
        entities for matching custom data. For example, you could define a
        vegetable entity that can match the types of vegetables available for
        purchase with a grocery store agent. For more information, see the
        [Entity
        guide](https://cloud.google.com/dialogflow/docs/entities-overview).
    GoogleCloudDialogflowCxV3beta1WebhookResponse:
      description: The response message for a webhook call.
      id: GoogleCloudDialogflowCxV3beta1WebhookResponse
      type: object
      properties:
        sessionInfo:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1SessionInfo'
          description: >-
            Information about session status. This field can be omitted by the
            webhook if it does not intend to modify session status.
        targetPage:
          type: string
          description: >-
            The target page to transition to. Format:
            `projects//locations//agents//flows//pages/`.
        pageInfo:
          description: >-
            Information about page status. This field can be omitted by the
            webhook if it does not intend to modify page status.
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1PageInfo'
        fulfillmentResponse:
          description: >-
            The fulfillment response to send to the user. This field can be
            omitted by the webhook if it does not intend to send any response to
            the user.
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse
        targetFlow:
          type: string
          description: >-
            The target flow to transition to. Format:
            `projects//locations//agents//flows/`.
        payload:
          additionalProperties:
            type: any
            description: Properties of the object.
          type: object
          description: Value to append directly to QueryResult.webhook_payloads.
    GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses:
      description: >-
        The collection of simple response candidates. This message in
        `QueryResult.fulfillment_messages` and
        `WebhookResponse.fulfillment_messages` should contain only one
        `SimpleResponse`.
      id: GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses
      properties:
        simpleResponses:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse
          description: Required. The list of simple responses.
      type: object
    GoogleCloudDialogflowCxV3RolloutState:
      properties:
        step:
          type: string
          description: Display name of the current auto rollout step.
        stepIndex:
          type: integer
          format: int32
          description: Index of the current step in the auto rollout steps list.
        startTime:
          format: google-datetime
          type: string
          description: Start time of the current step.
      description: State of the auto-rollout process.
      id: GoogleCloudDialogflowCxV3RolloutState
      type: object
    GoogleCloudDialogflowV2IntentMessageCardButton:
      id: GoogleCloudDialogflowV2IntentMessageCardButton
      type: object
      properties:
        text:
          description: Optional. The text to show on the button.
          type: string
        postback:
          type: string
          description: >-
            Optional. The text to send back to the Dialogflow API or a URI to
            open.
      description: Contains information about a button.
    GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText:
      description: >-
        A text or ssml response that is preferentially used for TTS output audio
        synthesis, as described in the comment on the ResponseMessage message.
      id: GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText
      type: object
      properties:
        ssml:
          type: string
          description: >-
            The SSML text to be synthesized. For more information, see
            [SSML](/speech/text-to-speech/docs/ssml).
        text:
          type: string
          description: The raw text to be synthesized.
        allowPlaybackInterruption:
          type: boolean
          readOnly: true
          description: >-
            Output only. Whether the playback of this message can be interrupted
            by the end user's speech and the client can then starts the next
            Dialogflow request.
    GoogleCloudDialogflowCxV3ImportFlowRequest:
      description: The request message for Flows.ImportFlow.
      properties:
        importOption:
          description: Flow import mode. If not specified, `KEEP` is assumed.
          enum:
            - IMPORT_OPTION_UNSPECIFIED
            - KEEP
            - FALLBACK
          enumDescriptions:
            - Unspecified. Treated as `KEEP`.
            - >-
              Always respect settings in exported flow content. It may cause a
              import failure if some settings (e.g. custom NLU) are not
              supported in the agent to import into.
            - >-
              Fallback to default settings if some settings are not supported in
              the agent to import into. E.g. Standard NLU will be used if custom
              NLU is not available.
          type: string
        flowContent:
          description: Uncompressed raw byte content for flow.
          format: byte
          type: string
        flowUri:
          type: string
          description: >-
            The [Google Cloud Storage](https://cloud.google.com/storage/docs/)
            URI to import flow from. The format of this URI must be `gs:///`.
            Dialogflow performs a read operation for the Cloud Storage object on
            the caller's behalf, so your request authentication must have read
            permissions for the object. For more information, see [Dialogflow
            access
            control](https://cloud.google.com/dialogflow/cx/docs/concept/access-control#storage).
      id: GoogleCloudDialogflowCxV3ImportFlowRequest
      type: object
    GoogleProtobufEmpty:
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      properties: {}
      id: GoogleProtobufEmpty
      type: object
    GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig:
      description: >-
        Represents configuration for a [Service
        Directory](https://cloud.google.com/service-directory) service.
      id: GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig
      type: object
      properties:
        service:
          description: >-
            Required. The name of [Service
            Directory](https://cloud.google.com/service-directory) service.
            Format: `projects//locations//namespaces//services/`. `Location ID`
            of the service directory must be the same as the location of the
            agent.
          type: string
        genericWebService:
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1WebhookGenericWebService
          description: Generic Service configuration of this webhook.
    GoogleCloudDialogflowV2ConversationEvent:
      id: GoogleCloudDialogflowV2ConversationEvent
      description: >-
        Represents a notification sent to Pub/Sub subscribers for conversation
        lifecycle events.
      type: object
      properties:
        errorStatus:
          description: >-
            More detailed information about an error. Only set for type
            UNRECOVERABLE_ERROR_IN_PHONE_CALL.
          $ref: '#/components/schemas/GoogleRpcStatus'
        newMessagePayload:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2Message'
          description: Payload of NEW_MESSAGE event.
        conversation:
          description: >-
            The unique identifier of the conversation this notification refers
            to. Format: `projects//conversations/`.
          type: string
        type:
          type: string
          description: The type of the event that this notification refers to.
          enumDescriptions:
            - Type not set.
            - >-
              A new conversation has been opened. This is fired when a telephone
              call is answered, or a conversation is created via the API.
            - >-
              An existing conversation has closed. This is fired when a
              telephone call is terminated, or a conversation is closed via the
              API.
            - >-
              An existing conversation has received notification from Dialogflow
              that human intervention is required.
            - >-
              An existing conversation has received a new message, either from
              API or telephony. It is configured in
              ConversationProfile.new_message_event_notification_config
            - >-
              Unrecoverable error during a telephone call. In general
              non-recoverable errors only occur if something was misconfigured
              in the ConversationProfile corresponding to the call. After a
              non-recoverable error, Dialogflow may stop responding. We don't
              fire this event: * in an API call because we can directly return
              the error, or, * when we can recover from an error.
          enum:
            - TYPE_UNSPECIFIED
            - CONVERSATION_STARTED
            - CONVERSATION_FINISHED
            - HUMAN_INTERVENTION_NEEDED
            - NEW_MESSAGE
            - UNRECOVERABLE_ERROR
    GoogleCloudDialogflowCxV3Agent:
      description: >-
        Agents are best described as Natural Language Understanding (NLU)
        modules that transform user requests into actionable data. You can
        include agents in your app, product, or service to determine user intent
        and respond to the user in a natural way. After you create an agent, you
        can add Intents, Entity Types, Flows, Fulfillments, Webhooks, and so on
        to manage the conversation flows..
      type: object
      properties:
        enableSpellCorrection:
          type: boolean
          description: >-
            Indicates if automatic spell correction is enabled in detect intent
            requests.
        name:
          description: >-
            The unique identifier of the agent. Required for the
            Agents.UpdateAgent method. Agents.CreateAgent populates the name
            automatically. Format: `projects//locations//agents/`.
          type: string
        startFlow:
          type: string
          description: >-
            Immutable. Name of the start flow in this agent. A start flow will
            be automatically created when the agent is created, and can only be
            deleted by deleting the agent. Format:
            `projects//locations//agents//flows/`.
        securitySettings:
          type: string
          description: >-
            Name of the SecuritySettings reference for the agent. Format:
            `projects//locations//securitySettings/`.
        displayName:
          description: >-
            Required. The human-readable name of the agent, unique within the
            location.
          type: string
        supportedLanguageCodes:
          items:
            type: string
          type: array
          description: >-
            The list of all languages supported by the agent (except for the
            `default_language_code`).
        textToSpeechSettings:
          description: >-
            Settings on instructing the speech synthesizer on how to generate
            the output audio content.
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TextToSpeechSettings'
        locked:
          description: >-
            Indicates whether the agent is locked for changes. If the agent is
            locked, modifications to the agent will be rejected except for
            RestoreAgent.
          type: boolean
        enableStackdriverLogging:
          type: boolean
          description: >-
            Indicates if stackdriver logging is enabled for the agent. Please
            use agent.advanced_settings instead.
        defaultLanguageCode:
          type: string
          description: >-
            Required. Immutable. The default language of the agent as a language
            tag. See [Language
            Support](https://cloud.google.com/dialogflow/cx/docs/reference/language)
            for a list of the currently supported language codes. This field
            cannot be set by the Agents.UpdateAgent method.
        description:
          description: >-
            The description of the agent. The maximum length is 500 characters.
            If exceeded, the request is rejected.
          type: string
        avatarUri:
          description: >-
            The URI of the agent's avatar. Avatars are used throughout the
            Dialogflow console and in the self-hosted [Web
            Demo](https://cloud.google.com/dialogflow/docs/integrations/web-demo)
            integration.
          type: string
        timeZone:
          description: >-
            Required. The time zone of the agent from the [time zone
            database](https://www.iana.org/time-zones), e.g., America/New_York,
            Europe/Paris.
          type: string
        speechToTextSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3SpeechToTextSettings'
          description: Speech recognition related settings.
        advancedSettings:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettings'
          description: >-
            Hierarchical advanced settings for this agent. The settings exposed
            at the lower level overrides the settings exposed at the higher
            level.
      id: GoogleCloudDialogflowCxV3Agent
    GoogleCloudDialogflowV2IntentMessageTableCardRow:
      properties:
        dividerAfter:
          description: Optional. Whether to add a visual divider after this row.
          type: boolean
        cells:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2IntentMessageTableCardCell
          description: Optional. List of cells that make up this row.
      id: GoogleCloudDialogflowV2IntentMessageTableCardRow
      description: Row of TableCard.
      type: object
    GoogleCloudDialogflowCxV3beta1DeleteDocumentOperationMetadata:
      properties:
        genericMetadata:
          description: The generic information of the operation.
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata
      type: object
      id: GoogleCloudDialogflowCxV3beta1DeleteDocumentOperationMetadata
      description: Metadata for DeleteDocument operation.
    GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation:
      type: object
      properties: {}
      description: >-
        Opens the device's location chooser so the user can pick a location to
        send back to the agent.
      id: >-
        GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation
    GoogleCloudDialogflowV2beta1IntentMessageQuickReplies:
      properties:
        title:
          description: Optional. The title of the collection of quick replies.
          type: string
        quickReplies:
          type: array
          items:
            type: string
          description: Optional. The collection of quick replies.
      id: GoogleCloudDialogflowV2beta1IntentMessageQuickReplies
      description: The quick replies response message.
      type: object
    GoogleCloudDialogflowV2IntentMessageSelectItemInfo:
      id: GoogleCloudDialogflowV2IntentMessageSelectItemInfo
      description: >-
        Additional info about the select item for when it is triggered in a
        dialog.
      type: object
      properties:
        synonyms:
          items:
            type: string
          description: >-
            Optional. A list of synonyms that can also be used to trigger this
            item in dialog.
          type: array
        key:
          description: >-
            Required. A unique key that will be sent back to the agent if this
            response is given.
          type: string
    GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata:
      id: GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata
      description: >-
        Metadata returned for the TestCases.BatchRunTestCases long running
        operation.
      type: object
      properties:
        errors:
          description: The test errors.
          type: array
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3TestError'
    GoogleCloudDialogflowCxV3ConversationTurnUserInput:
      description: The input from the human user.
      type: object
      properties:
        input:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3QueryInput'
          description: Supports text input, event input, dtmf input in the test case.
        injectedParameters:
          type: object
          description: >-
            Parameters that need to be injected into the conversation during
            intent detection.
          additionalProperties:
            type: any
            description: Properties of the object.
        enableSentimentAnalysis:
          description: Whether sentiment analysis is enabled.
          type: boolean
        isWebhookEnabled:
          description: >-
            If webhooks should be allowed to trigger in response to the user
            utterance. Often if parameters are injected, webhooks should not be
            enabled.
          type: boolean
      id: GoogleCloudDialogflowCxV3ConversationTurnUserInput
    GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo:
      id: GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo
      type: object
      properties:
        followupIntentName:
          type: string
          description: >-
            The unique identifier of the followup intent. Format:
            `projects//agent/intents/`.
        parentFollowupIntentName:
          type: string
          description: >-
            The unique identifier of the followup intent's parent. Format:
            `projects//agent/intents/`.
      description: Represents a single followup intent in the chain.
    GoogleCloudDialogflowCxV3CompareVersionsRequest:
      id: GoogleCloudDialogflowCxV3CompareVersionsRequest
      type: object
      properties:
        targetVersion:
          description: >-
            Required. Name of the target flow version to compare with the base
            version. Use version ID `0` to indicate the draft version of the
            specified flow. Format:
            `projects//locations//agents//flows//versions/`.
          type: string
        languageCode:
          type: string
          description: >-
            The language to compare the flow versions for. If not specified, the
            agent's default language is used. [Many
            languages](https://cloud.google.com/dialogflow/docs/reference/language)
            are supported. Note: languages must be enabled in the agent before
            they can be used.
      description: The request message for Versions.CompareVersions.
    GoogleCloudDialogflowCxV3ValidationMessage:
      properties:
        detail:
          type: string
          description: The message detail.
        resources:
          description: The names of the resources where the message is found.
          type: array
          items:
            type: string
        severity:
          description: Indicates the severity of the message.
          enumDescriptions:
            - Unspecified.
            - The agent doesn't follow Dialogflow best practices.
            - The agent may not behave as expected.
            - The agent may experience failures.
          type: string
          enum:
            - SEVERITY_UNSPECIFIED
            - INFO
            - WARNING
            - ERROR
        resourceType:
          enum:
            - RESOURCE_TYPE_UNSPECIFIED
            - AGENT
            - INTENT
            - INTENT_TRAINING_PHRASE
            - INTENT_PARAMETER
            - INTENTS
            - INTENT_TRAINING_PHRASES
            - ENTITY_TYPE
            - ENTITY_TYPES
            - WEBHOOK
            - FLOW
            - PAGE
            - PAGES
            - TRANSITION_ROUTE_GROUP
          type: string
          description: The type of the resources where the message is found.
          enumDescriptions:
            - Unspecified.
            - Agent.
            - Intent.
            - Intent training phrase.
            - Intent parameter.
            - Multiple intents.
            - Multiple training phrases.
            - Entity type.
            - Multiple entity types.
            - Webhook.
            - Flow.
            - Page.
            - Multiple pages.
            - Transition route group.
        resourceNames:
          description: The resource names of the resources where the message is found.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3ResourceName'
          type: array
      type: object
      id: GoogleCloudDialogflowCxV3ValidationMessage
      description: Agent/flow validation message.
    GoogleCloudDialogflowCxV3beta1InputAudioConfig:
      description: Instructs the speech recognizer on how to process the audio content.
      properties:
        modelVariant:
          description: Optional. Which variant of the Speech model to use.
          type: string
          enumDescriptions:
            - >-
              No model variant specified. In this case Dialogflow defaults to
              USE_BEST_AVAILABLE.
            - >-
              Use the best available variant of the Speech model that the caller
              is eligible for. Please see the [Dialogflow
              docs](https://cloud.google.com/dialogflow/docs/data-logging) for
              how to make your project eligible for enhanced models.
            - >-
              Use standard model variant even if an enhanced model is available.
              See the [Cloud Speech
              documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models)
              for details about enhanced models.
            - >-
              Use an enhanced model variant: * If an enhanced variant does not
              exist for the given model and request language, Dialogflow falls
              back to the standard variant. The [Cloud Speech
              documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models)
              describes which models have enhanced variants. * If the API caller
              isn't eligible for enhanced models, Dialogflow returns an error.
              Please see the [Dialogflow
              docs](https://cloud.google.com/dialogflow/docs/data-logging) for
              how to make your project eligible.
          enum:
            - SPEECH_MODEL_VARIANT_UNSPECIFIED
            - USE_BEST_AVAILABLE
            - USE_STANDARD
            - USE_ENHANCED
        model:
          type: string
          description: >-
            Optional. Which Speech model to select for the given request. Select
            the model best suited to your domain to get best results. If a model
            is not explicitly specified, then we auto-select a model based on
            the parameters in the InputAudioConfig. If enhanced speech model is
            enabled for the agent and an enhanced version of the specified model
            for the language does not exist, then the speech is recognized using
            the standard version of the specified model. Refer to [Cloud Speech
            API
            documentation](https://cloud.google.com/speech-to-text/docs/basics#select-model)
            for more details. If you specify a model, the following models
            typically have the best performance: - phone_call (best for Agent
            Assist and telephony) - latest_short (best for Dialogflow
            non-telephony) - command_and_search (best for very short utterances
            and commands)
        enableWordInfo:
          type: boolean
          description: >-
            Optional. If `true`, Dialogflow returns SpeechWordInfo in
            StreamingRecognitionResult with information about the recognized
            speech words, e.g. start and end time offsets. If false or
            unspecified, Speech doesn't return any word-level information.
        audioEncoding:
          enumDescriptions:
            - Not specified.
            - Uncompressed 16-bit signed little-endian samples (Linear PCM).
            - >-
              [`FLAC`](https://xiph.org/flac/documentation.html) (Free Lossless
              Audio Codec) is the recommended encoding because it is lossless
              (therefore recognition is not compromised) and requires only about
              half the bandwidth of `LINEAR16`. `FLAC` stream encoding supports
              16-bit and 24-bit samples, however, not all fields in `STREAMINFO`
              are supported.
            - >-
              8-bit samples that compand 14-bit audio samples using G.711
              PCMU/mu-law.
            - >-
              Adaptive Multi-Rate Narrowband codec. `sample_rate_hertz` must be
              8000.
            - >-
              Adaptive Multi-Rate Wideband codec. `sample_rate_hertz` must be
              16000.
            - >-
              Opus encoded audio frames in Ogg container
              ([OggOpus](https://wiki.xiph.org/OggOpus)). `sample_rate_hertz`
              must be 16000.
            - >-
              Although the use of lossy encodings is not recommended, if a very
              low bitrate encoding is required, `OGG_OPUS` is highly preferred
              over Speex encoding. The [Speex](https://speex.org/) encoding
              supported by Dialogflow API has a header byte in each block, as in
              MIME type `audio/x-speex-with-header-byte`. It is a variant of the
              RTP Speex encoding defined in [RFC
              5574](https://tools.ietf.org/html/rfc5574). The stream is a
              sequence of blocks, one block per RTP packet. Each block starts
              with a byte containing the length of the block, in bytes, followed
              by one or more frames of Speex data, padded to an integral number
              of bytes (octets) as specified in RFC 5574. In other words, each
              RTP header is replaced with a single byte containing the block
              length. Only Speex wideband is supported. `sample_rate_hertz` must
              be 16000.
          enum:
            - AUDIO_ENCODING_UNSPECIFIED
            - AUDIO_ENCODING_LINEAR_16
            - AUDIO_ENCODING_FLAC
            - AUDIO_ENCODING_MULAW
            - AUDIO_ENCODING_AMR
            - AUDIO_ENCODING_AMR_WB
            - AUDIO_ENCODING_OGG_OPUS
            - AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE
          type: string
          description: Required. Audio encoding of the audio content to process.
        phraseHints:
          description: >-
            Optional. A list of strings containing words and phrases that the
            speech recognizer should recognize with higher likelihood. See [the
            Cloud Speech
            documentation](https://cloud.google.com/speech-to-text/docs/basics#phrase-hints)
            for more details.
          items:
            type: string
          type: array
        singleUtterance:
          description: >-
            Optional. If `false` (default), recognition does not cease until the
            client closes the stream. If `true`, the recognizer will detect a
            single spoken utterance in input audio. Recognition ceases when it
            detects the audio's voice has stopped or paused. In this case, once
            a detected intent is received, the client should close the stream
            and start a new request with a new stream as needed. Note: This
            setting is relevant only for streaming methods.
          type: boolean
        sampleRateHertz:
          description: >-
            Sample rate (in Hertz) of the audio content sent in the query. Refer
            to [Cloud Speech API
            documentation](https://cloud.google.com/speech-to-text/docs/basics)
            for more details.
          type: integer
          format: int32
      id: GoogleCloudDialogflowCxV3beta1InputAudioConfig
      type: object
    GoogleCloudDialogflowCxV3VoiceSelectionParams:
      description: Description of which voice to use for speech synthesis.
      type: object
      id: GoogleCloudDialogflowCxV3VoiceSelectionParams
      properties:
        ssmlGender:
          enum:
            - SSML_VOICE_GENDER_UNSPECIFIED
            - SSML_VOICE_GENDER_MALE
            - SSML_VOICE_GENDER_FEMALE
            - SSML_VOICE_GENDER_NEUTRAL
          type: string
          enumDescriptions:
            - >-
              An unspecified gender, which means that the client doesn't care
              which gender the selected voice will have.
            - A male voice.
            - A female voice.
            - A gender-neutral voice.
          description: >-
            Optional. The preferred gender of the voice. If not set, the service
            will choose a voice based on the other parameters such as
            language_code and name. Note that this is only a preference, not
            requirement. If a voice of the appropriate gender is not available,
            the synthesizer substitutes a voice with a different gender rather
            than failing the request.
        name:
          description: >-
            Optional. The name of the voice. If not set, the service will choose
            a voice based on the other parameters such as language_code and
            ssml_gender. For the list of available voices, please refer to
            [Supported voices and
            languages](https://cloud.google.com/text-to-speech/docs/voices).
          type: string
    GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard:
      properties:
        cardContents:
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent
          description: >-
            Required. The cards in the carousel. A carousel must have at least 2
            cards and at most 10.
          type: array
        cardWidth:
          enumDescriptions:
            - Not specified.
            - 120 DP. Note that tall media cannot be used.
            - 232 DP.
          description: Required. The width of the cards in the carousel.
          enum:
            - CARD_WIDTH_UNSPECIFIED
            - SMALL
            - MEDIUM
          type: string
      description: >-
        Carousel Rich Business Messaging (RBM) rich card. Rich cards allow you
        to respond to users with more vivid content, e.g. with media and
        suggestions. If you want to show a single card with more control over
        the layout, please use RbmStandaloneCard instead.
      id: GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard
      type: object
    GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction:
      properties:
        uri:
          type: string
          description: Required. The HTTP or HTTPS scheme URI.
      description: Opens the given URI.
      id: GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction
      type: object
    GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata:
      description: >-
        Metadata for a ConversationProfile.ClearSuggestionFeatureConfig
        operation.
      type: object
      properties:
        participantRole:
          enumDescriptions:
            - Participant role not set.
            - Participant is a human agent.
            - Participant is an automated agent, such as a Dialogflow agent.
            - >-
              Participant is an end user that has called or chatted with
              Dialogflow services.
          enum:
            - ROLE_UNSPECIFIED
            - HUMAN_AGENT
            - AUTOMATED_AGENT
            - END_USER
          description: >-
            Required. The participant role to remove the suggestion feature
            config. Only HUMAN_AGENT or END_USER can be used.
          type: string
        createTime:
          description: >-
            Timestamp whe the request was created. The time is measured on
            server side.
          type: string
          format: google-datetime
        suggestionFeatureType:
          description: Required. The type of the suggestion feature to remove.
          enumDescriptions:
            - Unspecified feature type.
            - Run article suggestion model for chat.
            - Run FAQ model.
            - Run smart reply model for chat.
            - >-
              Run Dialogflow assist model for chat, which will return automated
              agent response as suggestion.
            - Run conversation summarization model for chat.
          enum:
            - TYPE_UNSPECIFIED
            - ARTICLE_SUGGESTION
            - FAQ
            - SMART_REPLY
            - DIALOGFLOW_ASSIST
            - CONVERSATION_SUMMARIZATION
          type: string
        conversationProfile:
          type: string
          description: >-
            The resource name of the conversation profile. Format:
            `projects//locations//conversationProfiles/`
      id: >-
        GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata
    GoogleCloudDialogflowCxV3ResponseMessageEndInteraction:
      id: GoogleCloudDialogflowCxV3ResponseMessageEndInteraction
      description: >-
        Indicates that interaction with the Dialogflow agent has ended. This
        message is generated by Dialogflow only and not supposed to be defined
        by the user.
      type: object
      properties: {}
    GoogleCloudDialogflowV2HumanAgentAssistantEvent:
      id: GoogleCloudDialogflowV2HumanAgentAssistantEvent
      properties:
        participant:
          description: >-
            The participant that the suggestion is compiled for. Format:
            `projects//conversations//participants/`. It will not be set in
            legacy workflow.
          type: string
        suggestionResults:
          description: The suggestion results payload that this notification refers to.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2SuggestionResult'
          type: array
        conversation:
          description: >-
            The conversation this notification refers to. Format:
            `projects//conversations/`.
          type: string
      type: object
      description: >-
        Represents a notification sent to Cloud Pub/Sub subscribers for human
        agent assistant events in a specific conversation.
    GoogleCloudDialogflowCxV3beta1PageInfo:
      type: object
      properties:
        displayName:
          description: >-
            Always present for WebhookRequest. Ignored for WebhookResponse. The
            display name of the current page.
          type: string
        formInfo:
          description: >-
            Optional for both WebhookRequest and WebhookResponse. Information
            about the form.
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1PageInfoFormInfo'
        currentPage:
          type: string
          description: >-
            Always present for WebhookRequest. Ignored for WebhookResponse. The
            unique identifier of the current page. Format:
            `projects//locations//agents//flows//pages/`.
      id: GoogleCloudDialogflowCxV3beta1PageInfo
      description: Represents page information communicated to and from the webhook.
    GoogleCloudDialogflowCxV3beta1DeployFlowResponse:
      id: GoogleCloudDialogflowCxV3beta1DeployFlowResponse
      type: object
      properties:
        deployment:
          type: string
          description: >-
            The name of the flow version deployment. Format:
            `projects//locations//agents// environments//deployments/`.
        environment:
          description: The updated environment where the flow is deployed.
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1Environment'
      description: The response message for Environments.DeployFlow.
    GoogleCloudDialogflowCxV3ResponseMessagePlayAudio:
      properties:
        allowPlaybackInterruption:
          description: >-
            Output only. Whether the playback of this message can be interrupted
            by the end user's speech and the client can then starts the next
            Dialogflow request.
          readOnly: true
          type: boolean
        audioUri:
          type: string
          description: >-
            Required. URI of the audio clip. Dialogflow does not impose any
            validation on this value. It is specific to the client that reads
            it.
      type: object
      id: GoogleCloudDialogflowCxV3ResponseMessagePlayAudio
      description: >-
        Specifies an audio clip to be played by the client as part of the
        response.
    GoogleCloudDialogflowCxV3AdvancedSettings:
      description: >-
        Hierarchical advanced settings for
        agent/flow/page/fulfillment/parameter. Settings exposed at lower level
        overrides the settings exposed at higher level. Overriding occurs at the
        sub-setting level. For example, the playback_interruption_settings at
        fulfillment level only overrides the playback_interruption_settings at
        the agent level, leaving other settings at the agent level unchanged.
        DTMF settings does not override each other. DTMF settings set at
        different levels define DTMF detections running in parallel. Hierarchy:
        Agent->Flow->Page->Fulfillment/Parameter.
      properties:
        audioExportGcsDestination:
          description: >-
            If present, incoming audio is exported by Dialogflow to the
            configured Google Cloud Storage destination. Exposed at the
            following levels: - Agent level - Flow level
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3GcsDestination'
        loggingSettings:
          description: >-
            Settings for logging. Settings for Dialogflow History, Contact
            Center messages, StackDriver logs, and speech logging. Exposed at
            the following levels: - Agent level.
          $ref: >-
            #/components/schemas/GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings
      id: GoogleCloudDialogflowCxV3AdvancedSettings
      type: object
    GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff:
      properties:
        metadata:
          additionalProperties:
            description: Properties of the object.
            type: any
          type: object
          description: >-
            Custom metadata for your handoff procedure. Dialogflow doesn't
            impose any structure on this.
      type: object
      description: >-
        Indicates that the conversation should be handed off to a live agent.
        Dialogflow only uses this to determine which conversations were handed
        off to a human agent for measurement purposes. What else to do with this
        signal is up to you and your handoff procedures. You may set this, for
        example: * In the entry_fulfillment of a Page if entering the page
        indicates something went extremely wrong in the conversation. * In a
        webhook response when you determine that the customer issue can only be
        handled by a human.
      id: GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff
    GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase:
      description: >-
        Represents an example that the agent is trained on to identify the
        intent.
      id: GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase
      type: object
      properties:
        parts:
          type: array
          items:
            $ref: >-
              #/components/schemas/GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart
          description: >-
[...]
